[2017-11-22 21:47] jessegreenberg commented on #686
Discussed 11/22/17: We are going to go ahead with the proposal listed in https://github.com/phetsims/scenery/issues/686#issuecomment-339767546, but with the following changes:
 - We will add `innerAccessibleText` and `innerAccessibleTextAsHTML`.
 - We will also change `useAriaLabel: <boolean>` to a setter called `ariaLabel: <string>`, where when specified the value of  `setAriaLabel` will be the v

[2017-11-22 21:50] jessegreenberg commented on #701
@zepumph was wondering about options/setters in the Accessibility trait that would set aria-labelledby and aria-describedby relations between a Node and its own labels/descriptions. This would be more direct than the current API, but would not cover cases where the  association goes beyond a single node and its labels.

[2017-11-23 00:14] zepumph commented on #701
We discussed this even further today in the a11y dev meeting. At first I thought that it may be nice to be able to use an option (rather than a setter) to assign the `aria-labelledby` attribute to point to that node tagName's own label (label meaning the `h3` or somthing set by `accessibleLabel` option).

We haven't made any decisions yet, but it would be nice if we could handle all aria-labelledb

[2017-11-23 00:14] zepumph commented on #701
We will keep discussing.

[2017-11-23 00:20] zepumph commented on #712
Here is a patch of changes made to support the playback wrapper from master:
[code]

[2017-11-23 00:21] zepumph commented on #686
I am going to take a first stab at this, then I'll come back to the group if I run into problems.

[2017-11-23 00:59] samreid commented on #712
Is this correct, that sims published before today can use the website playback html, and sims after today can use a playback wrapper published with that version of the sim.  If I've understood it correctly, should we close this issue and open a new issue to publish a snapshot of the playback wrapper with each sim release?

[2017-11-23 01:08] samreid commented on #711
Would this be as simple as graying out the "visible" checkbox and/or "pickable" checkbox in instance proxies?  This is what we have done with `phetioReadOnly` and it seems to work ok.

Maybe we should abandon a general `phetioReadOnly` flag and move toward type-specific flags.  One for `PropertyIO`, two for `NodeIO`, each named specifically for the property it relates to.

@zepumph let me know if

[2017-11-23 01:15] samreid commented on #711
Also, `phetioVisibilitySettable` may be more straightforward than `phetioVisibilityReadOnly`--we may wish to decide on a case-by-case basis which ones to be `settable` vs `readOnly`.

[2017-11-23 01:34] zepumph commented on #711
I'm nervous about the scalability of this, but I understand it. I also agree that really we are talking about readonly flags here. I don't see there ever being a reason to keep someone from getting the visibility/pickability from a NodeIO.

What other types/properties may need to be readOnly?
* certain addListener functions on dragHandlers, emitters, Property (link), buttonListeners. Does read onl

[2017-11-23 01:45] zepumph commented on #712
Is this correct, that sims published before today can use the website playback html, and sims after today can use a playback wrapper published with that version of the sim. If I've understood it correctly, should we close this issue and open a new issue to publish a snapshot of the playback wrapper with each sim release?

This is almost correct.

1. Right now the playback wrapper is broken on mast

[2017-11-24 00:37] samreid commented on #415
@jonathanolson can this be closed and branch deleted?

[2017-11-25 11:23] samreid commented on #709
We don't have a kitchen sink, but if you checkout the PhET source code, you can launch http://localhost/sun/sun_en.html (you may have a different path or relative port) to see some sun demos.

![image](https://user-images.githubusercontent.com/679486/33230010-e7f7442a-d197-11e7-9c39-b73e31aee41c.png)

![image](https://user-images.githubusercontent.com/679486/33229996-b2597950-d197-11e7-9bcb-793846

[2017-11-25 12:07] samreid commented on #625
Deleted branch, closing.

[2017-11-27 20:57] jessegreenberg opened #713 "Gracefully handle keyboard and mouse interaction"
So far, we have been using default browser behavior with keyboard focus and mouse interaction. When using a mouse after interacting with a keyboard, some browsers blur focus, others do not.  For those that do not, the sim is susceptible to multi-input issues.  Scenery should manage this so that behavior is platform consistent and we have confidence that interaction with a mouse and a keyboard at t

[2017-11-28 01:28] jessegreenberg commented on #713
The above commit is a stab at this. When we receive a down event, we look at the pointer's trail and determine if it has accessible content. If it does, we go back up the trail looking for the first focusable node. This node is stored, and will receive keyboard navigation if tab navigation is resumed after this interaction. I gave it a test in Chrome, Safari, and FF. @zepumph would you mind review

[2017-11-28 18:41] jessegreenberg commented on #713
@phet-steele just notified me that in Firefox, clicking in the view when an element has focus and then pressing tab will  focus the *next* focusable element, not the element that had focus on click.

[2017-11-28 20:00] zepumph opened #714 "Split prependLabels into specific options for description and label tags?"
Related to a bit of trouble that I had in https://github.com/phetsims/molecules-and-light/issues/163, and with https://github.com/phetsims/scenery/issues/686.

This is pretty low priority, I'm not even sure it is worth pursuing, but if there are ever cases where we want to have the label and description surrounding the Node's DOME (DOM Element) the this may be good to have. Marking as low priority

[2017-11-29 01:16] zepumph opened #715 "Why do we always need containerParent to hold children."
In a group of radioButtons, I see HTML like:
![image](https://user-images.githubusercontent.com/6856943/33352788-19c959b8-d457-11e7-8289-2c43a67a596b.png)

Why do we need all these divs, it makes the HTML harder to read and understand, without adding much value (that I can think of, but please correct me if I'm wrong). I recommend an approach where an AccessiblePeer can have a list of DOM elements

[2017-11-30 01:26] mbarlow12 commented on #606
After discussion and some tinkering, we discovered a few hurdles as well as a tentative path forward
- Browsers force dispatched keyboard events to be untrusted which disables the pressed key's default behavior. For example, we cannot fire a `Tab` keydown event and navigation around the sim.
- We can, however, dispatch events directly to nodes/DOM elements. So while we'll have to find another way

[2017-11-30 01:39] zepumph commented on #606
I added many todos in the code that will help us indicate next small steps for implementation, but that you @mbarlow12 for laying out the good stuff!

[2017-11-30 20:15] mbarlow12 opened #716 "Create base KeyboardDragHandler type"
@jessegreenberg  and I discussed creating a base drag handler from which any mouse drag handlers and keyboard drag handlers could inherit. In this way, the developer gains the freedom to define what events will trigger the setting of a node's position as well as the how the handler sets the position itself.

[2017-11-30 22:18] jessegreenberg commented on #716
@mbarlow12 I believe we were talking about a base type for keyboard dragging right? I don't think this type would extend to mouse/touch.

[2017-12-04 05:22] samreid commented on #712
I'm not clear on something from the preceding comment.

Seems at odds with

I may have misunderstood, but I thought the strategy for removing the playback wrapper from the phet-io-website was to deploy it as a versioned wrapper with each sim deploy.

I think to future-proof ourselves, we should deploy a playback wrapper with each version of each phet-io sim (like we do with sim common code).  We s

[2017-12-04 05:23] samreid commented on #711
Unassigning until we can discuss.

[2017-12-04 10:39] jonathanolson commented on #415
See https://github.com/phetsims/joist/issues/233#issuecomment-348924015.

I can't see how this would be worth the effort.

[2017-12-05 17:00] terracoda commented on #713
@jessegreenberg, regarding

This is the correct default browser behaviour. The Tab key moves focus to the _next focusable item_.

If focus is placed virtually on an element in the PDOM  when there is a` input.downevent`, pressing the Tab key would by default place the focus highlight on the next focusable item in the sim.

[2017-12-05 17:07] mbarlow12 commented on #716
Maybe I misunderstood.

[2017-12-05 17:08] jessegreenberg commented on #713
Just to clarify, that is also true after focus highlight disappears?

[2017-12-05 21:41] jessegreenberg commented on #684
This is a duplicate of #716 now, closing.

[2017-12-05 21:41] #684 closed

[2017-12-05 22:21] jonathanolson commented on #716
Since this affects a lot of how we handle mouse/touch input, I'd definitely want to be part of helping put this together.

Do you have an example where this change would improve things?

[2017-12-05 22:35] jessegreenberg commented on #716
This will not change how we handle mouse/touch input. This should improve keyboard dragging and address issues like https://github.com/phetsims/coulombs-law/issues/35 and https://github.com/phetsims/faradays-law/issues/81.

[2017-12-05 22:37] jessegreenberg commented on #716
We decided not to proceed with https://github.com/phetsims/scenery/issues/716#issue-278255084, but to create an inheritance relationship for keyboard dragging in a way that mimics the relation between SimpleDragHandler and MovableDragHandler.

[2017-12-05 22:42] jonathanolson commented on #716
The future standard for dragging would presumably be PressListener/DragListener/FireListener, but it is still in development.

[2017-12-05 22:43] jessegreenberg commented on #716
What is the timeline, should we go that direction? Is there an example or documentation somewhere?

[2017-12-05 22:48] jonathanolson commented on #716
Timeline is presumably sometime after chipper 2.0. scenery/examples/input.html demos a lot of the functionality.

[2017-12-05 23:05] jessegreenberg commented on #716
Thanks @jonathanolson, those look really nice.  We should reconsider mimicking SimpleDragHandler/KeyboardDragHandler then, and try to match DragListener instead for a11y dragging.

[2017-12-06 15:01] terracoda commented on #713
@jessegreenberg, on a typical content-based website where the focus outline is always indicated, a mouse click on an interactive element would not make the focus highlight disappear. General focus (created either by a click, a pointer, a touch event, or the keyboard (e.g., Tab key or screen reader command)) would just indicate where focus actually is when on an interactive element.

Our situation

[2017-12-06 15:30] terracoda commented on #713
@jessegreenberg, have we gathered any articles or resources about this issue?
I have been reading a few, so I'm just going to post a few here so we have them. I'm not entirely sure what the best step is for us.
- Jeremy Fields: https://www.viget.com/articles/managing-focus-styles-without-breaking-accessibility
  - first created track focus: https://github.com/ten1seven/track-focus
  - then created

[2017-12-06 16:23] jessegreenberg commented on #713
Thanks @terracoda this is really helpful information. The question I am wondering about is the last item in your list.

Right now, when tab navigation resumes we are placing focus on the last item that was clicked with a mouse (if it was focusable), though it is not working yet in FF.

[2017-12-06 17:37] jessegreenberg commented on #716
I added  KeyboardDragListener that is similar to DragListener with support for options like transform, drag bounds, and synchronizing with a locationProperty. It is working in sims where keyboard dragging has been added, BASE, friction, and coulombs-law.  Adding to a11y dev meeting to discuss next steps.

[2017-12-06 17:47] jessegreenberg commented on #708
In a 12/5 a11y design meeting we decided to add this outer highlight for all radio buttons and scenery-phet/NumberControl, but there might be others in the future. I think this should be handled generally in scenery, @zepumph @mbarlow12 what do you think?

[2017-12-06 18:04] jessegreenberg commented on #715
I am support removing these divs if it makes sim implementation easier.

This description is correct, its just an implementation detail.  If accessible content for a Node looks like

[code]

wrapping this in a `div` was one way to contain all content and place it in the correct place in the document.

When we first started with a11y, I thought of all of the accessible HTML as an implementation det

[2017-12-06 18:08] jessegreenberg commented on #714
This does seem useful, though I agree can be addressed at low priority until we need it.  It hasn't been required so far for sims with accessible descriptions. What trouble did this cause in molecules-and-light and for #686?

[2017-12-06 20:56] zepumph commented on #708
Sounds awesome. We could have a node have a flag to mark a parent node as a group highlight.
Picture this structure:
[code]
the Panel Node can have an option `groupHighlight :true`. which will automatically surround the panel in a group focusHighlight.

Then in FocusOverlay, we just have to add a step that iterates over parent accessibleInstances and searches for groupHighlight opt ins.

Perhaps w

[2017-12-06 21:19] jbphet opened #717 "is context being correctly restored when canvas is being used as renderer"
An issue was reported in https://github.com/phetsims/gene-expression-essentials/issues/110 where a line on a graph that was being drawn using a CanvasNode would sometimes have gaps in it.  After a bunch of investigation, I found that the line was being drawn with gaps, and adding the following line just before rendering made the problem go away:

[code]

The problem only occurred on the Edge brows

[2017-12-06 21:26] jessegreenberg commented on #708
That seems great @zepumph, thats what I was thinking as well.

[2017-12-06 23:22] jessegreenberg commented on #716
We don't like that the KeyboardDragHandler requires a step function, and we are wondering if there is a way to get rid of it, or call it internally so that every usage doesn't require a call to step.

[2017-12-06 23:25] jessegreenberg commented on #716
@jonathanolson do you know of a way that we can call KeyboardDragListener.step in a scenery-internal way? Let me know if we should voice chat for some more context.

[2017-12-07 00:58] jessegreenberg commented on #606
Now that we have seen it basically working, next step is to get a minimum viable product working,  and we would like it to behave like this for now:

- Randomly focus a focusable item in the accessible DOM.
- For a certain amount of time, spam the element with HTMLEvents like 'click' and 'keydown's with random keycodes, and 'change's and anything else we can get away with.
- Repeat

[2017-12-07 01:00] jessegreenberg commented on #606
In https://github.com/phetsims/scenery/commit/f0da5bf94d9648711d2cf717e532d1ba383bf52c we got this working mostly, but rather than spam it with a number of key presses for a time, we just provide one click and one keydown/keyup every frame.

[2017-12-07 01:16] jessegreenberg opened #718 "Move a11y keycodes out of Input.js"
During #606 we agreed that it would be an improvement to move the keycodes and their related functions out of Input.js. These seem unrelated to Input.js, and they will add a lot to what is already a large file, especially as we add support for more keys.

[2017-12-07 01:27] zepumph commented on #606
It's now in phetmarks under aqua or chipper. It looks like there are some bugs to sort out before bringing it to bayes.

[2017-12-07 02:10] jonathanolson commented on #716
Voice chat for more context would be good. It seems weird that anything at all in a "drag handler" would be done during the step.

It looks like you're also asynchronously handling events (instead of doing things on a keydown, it waits until the next step). Additionally, you're tracking timeDown, which seems unnecessary (since usually for combinations, e.g. CTRL+SHIFT+L, you just care that L was p

[2017-12-07 02:24] zepumph opened #719 "fuzzBoard errors from first run"
I can only assume that these aren't all keyboard related, but I thought it would be good to have a central issue to track all of the new fuzzBoard errors that are revealed so that we can have a good idea of our progress, and when we are ready to add fuzzBoard to bayes.

[code]
@jessegreenberg @mbarlow12 we should crank away at these async.

[2017-12-07 02:25] zepumph commented on #606
See https://github.com/phetsims/scenery/issues/719 for list of first errors from fuzzBoard.

[2017-12-07 15:22] terracoda commented on #713
@jessegreenberg, I think, in our case, it is reasonable to place the focus highlight (upon restarting keyboard navigation) on the last thing that was clicked on with a mouse (if it was focusable). In most of our cases there are not a huge number of things that are focusable, and without magnification all content is generally above the fold and in view.

It might be easier, however, to get it worki

[2017-12-07 16:16] jessegreenberg commented on #719
Very nice, thanks @zepumph. This one shows up a lot:

[code]

[2017-12-07 20:57] zepumph commented on #686
I want to make sure that I'm implementing the right thing here:

* There are now three options, that are independent, for controlling the text associated with a tag, all of these options are of type string:
  * `innerAccessibleText`(AsHTML) -
    * changes textContent/innerHTML respectively.
    * errors out if there are children of this node
  * `accessibleLabel(AsHTML)`:
    * always creates a s

[2017-12-10 14:51] samreid commented on #415
On hold until discussion in https://github.com/phetsims/joist/issues/233#issuecomment-348924015 is complete

[2017-12-11 18:14] samreid opened #720 "Unusual assert.expect in TrailTests.js"
In https://github.com/phetsims/aqua/issues/31#issuecomment-350799249 @pixelzoom said:

@jonathanolson I assume that this is also unnecessary in TrailTests.js:

[code]

OK to remove it?

[2017-12-11 18:14] samreid commented on #720
In TrailTests.js the `assert.expect( 4 )` is checking that exactly 4 of the preceding 6 callbacks were called--it may be necessary (though I must admit I don't understand why we would only expect 4 of those 6 callbacks).

[2017-12-11 18:20] samreid opened #721 "branch: ioobject"
To support https://github.com/phetsims/tandem/issues/44

[2017-12-11 21:46] jonathanolson commented on #720
There are two callbacks that assert false, and note that they should never be called. We want to ensure that the other 4 callbacks are called once, and that the other two are never called. Is there a better way to do that?

[2017-12-11 22:22] jessegreenberg commented on #718
Refactor done in the above commits, Ill check in on continuous testing in a few minutes and close if all looks well.

[2017-12-11 22:48] jessegreenberg commented on #718
Continuous testing looks OK, closing.

[2017-12-11 22:48] #718 closed

[2017-12-11 22:56] jessegreenberg commented on #708
Oops, meant to reopen this.

[2017-12-12 20:38] jessegreenberg commented on #708
Initial pass done in the above commits. Right now, there is only support for a flag that enables a group focus highlight. Remaining work includes ability to pass a custom Shape or Node group focus highlight, and potentially support for multiple group focus highlights in case multiple ancestors need to show a group highlight if a node has focus.

[2017-12-12 22:47] zepumph opened #722 "Should there be a FocusManager?"
This static/singleton type could replace the Display's `focusProperty` and handle much of the difficulty we have been having with cross browser consistency, as well as mouse/keyboard cross conditions.

Here are some issues that have come up:
* https://github.com/phetsims/scenery/issues/713
* https://github.com/phetsims/friction/issues/50

[2017-12-13 05:40] samreid commented on #720
Thanks for explaining, it makes sense to me now.  Let's run it past @pixelzoom

[2017-12-13 05:45] samreid commented on #721
Merged to master, branch deleted, closing.

[2017-12-13 05:57] jessegreenberg commented on #710
Thanks for working on this @zepumph. With your work in https://github.com/phetsims/joist/issues/454, is there anything left to do for this issue?

[2017-12-13 20:54] pixelzoom commented on #720
I added documentation similar to what @jonathanolson said in https://github.com/phetsims/scenery/issues/720.

But I'm still not clear on why the `assert.expect` call is necessary.  The 2 callbacks that should never be called are calling `assert.ok( false,...)`, so wouldn't those failures be sufficient?

[2017-12-14 14:54] samreid opened #723 "Only instrumented instances can emit to the data stream. Has it been disposed?"
Showing up in a lot of bayes tests this morning.

[2017-12-14 18:39] samreid commented on #723
MenuItem.js is not passing options through Node.call or mutate.

[2017-12-14 18:43] samreid commented on #723
Proposed fix committed above.  I moved some a11y options to the main extend call and made sure all options got passed through to Node.  @jessegreenberg can you please check that the change is OK?

[2017-12-18 20:17] pixelzoom opened #724 "odd flags in Pointer subtypes"
The subtypes of `Pointer` each have an odd flag that effectively identifies their type:

[code]

`isMouse` and `isTouch` seem to be the preferred way of determining how an interactive object moves at the start of a drag cycle.  For example, in equality-explorer `ItemDragHandler`:

[code]

Since none of these flags are defined in `Pointer`, WebStorm (and other IDEs?) complain that these flags are u

[2017-12-18 23:25] jonathanolson commented on #724
How about Mouse/Touch/Pen are cleaned up and we use `pointer instanceof Mouse` or similar statements?

[2017-12-26 01:23] samreid opened #725 "SimpleDragHandler dispose may be incomplete"
In https://github.com/phetsims/equality-explorer/issues/25#issuecomment-352893000 @pixelzoom said:

@samreid said:

@jonathanolson can you comment on why `dispose` does only _some_ of the "cleanup" things that normally occur in `endDrag`?   If `dispose` is called during a drag cycle, `this.dragging` remains `true`, the client's `options.end` callback is never called, and `this.pointer` still holds

[2017-12-26 01:23] samreid commented on #725
@jonathanolson replied:

Presumably if there's a chance of dispose() being called during a drag, we COULD add interrupt() to the dispose()? It feels slightly unclean to DO things other than dispose during a dispose call, and I'd consider requiring clients to make sure they don't dispose something while dragging.

As for the unchanged variables on the SimpleDragHandler, it shouldn't matter. If you

[2017-12-26 20:20] zepumph commented on #719
Unassigning for now.

[2017-12-26 21:15] pixelzoom commented on #725
I would anticipate that (1) is going to break some existing code, since you're adding a brand new requirement.

If you go with (2), you'll need to do more than just call `interrupt`.  You also need to add `options.interrupt` (or some similar name), so that clients have a hook to do things (like cleanup) if they are interrupted.   Imo this was an oversight that should have been added when `interrup

[2017-12-26 21:26] pixelzoom opened #726 "SimpleDragHander: deficiencies in end and interrupt"
This came up in https://github.com/phetsims/scenery/issues/725#issuecomment-354013982.

SimpleDragHandler `interrupt` was added as part of https://github.com/phetsims/scenery/issues/218.   What wasn't added was a callback for clients to do things when `interrupt` is called.

Use case: A client links to a Property in `options.start`, then unlinks in `options.end`.  If the drag cycle is interrupted,

[2017-12-26 21:27] pixelzoom commented on #725
Regardless of which option you go with... SimpleDragHandler needs a callback for `interrupt`, and the semantics of "end drag" need to be more solidly defined.  See https://github.com/phetsims/scenery/issues/725#issuecomment-354013982

[2017-12-26 21:51] pixelzoom commented on #726
In case you think this is a hypothetical problem, there at _many_ clients that are assuming that a drag cycle will be complete (not interrupted).  Here are several examples.

Example 1: balancing-act `MassDragHandler`, a subtype of `SimpleDragHandler`, defines options `start` and `end` like this:

[code]

If this drag handler is interrupted, then the mass will continue to think that it's under use

[2017-12-26 22:30] samreid commented on #726
I don't know whether interrupt should call endDrag() or if we should have a callback for onInterrupt() then visit each client site to make sure they are dealing with it properly.

[2017-12-26 22:31] samreid commented on #725
Unassigning until we hear from @jonathanolson.

[2017-12-28 19:49] jonathanolson commented on #725
That seems incorrect. Not only is the dragHandler.interrupted set to true, but the end callback WOULD be fired (as that's kind of the purpose of interrupt).

If you just care if the drag ends, use end. If you care if it's interrupted, check the `handler.interrupted` flag in your end callback.

If people would prefer me to also add `interrupt` and `cancel` callbacks (when drags end due to those dif

[2017-12-28 19:50] jonathanolson commented on #726
As noted in https://github.com/phetsims/scenery/issues/725#issuecomment-354347937, interrupt() WILL call the end() callback. Is there anything else that would need to be done for this issue?

[2017-12-28 20:03] pixelzoom commented on #725
@jonathanolson said:

Confirmed what you said by reading the code.   This was a case of me not understanding the semantics of "end", since it's not clearly documented anywhere.  Apparently it's called by interrupt, but not called (for some reason) by cancel.

No visibility annotations in SimpleDragHandler, so I assumed that `interrupted` was `@private`.  Should I assume that everything is `@public

[2017-12-28 20:07] pixelzoom commented on #726
Thanks for clarifying.  As noted in https://github.com/phetsims/scenery/issues/725#issuecomment-354350079, documentation would certainly help.  But since SimpleDragHandler is part of scenery, let's assume that will someday be addressed by https://github.com/phetsims/scenery/issues/552.

[2017-12-28 20:07] #726 closed

[2017-12-28 21:53] jonathanolson commented on #725
I'll work at improving documentation in SimpleDragHandler to clarify everything. For reference, `cancel` is like `up`, it's a Scenery event triggered from things like DOM `touchcancel` events. Since we haven't really treated these differently than `up` events, it essentially triggers the same "end drag" behavior. It's separate from interruption, which is used from the Scenery side to force drags t

[2017-12-29 03:16] samreid commented on #725
Not sure how to help, unassigning for now but please reassign me if you need me.

[2018-01-03 04:54] zepumph commented on #710
Looks good, closing

[2018-01-03 04:54] #710 closed

[2018-01-03 19:07] pixelzoom commented on #707
From 11/9/17 https://github.com/phetsims/scenery/issues/707#issuecomment-343257977:

Labeled for developer meeting. Probably up to @ariel-phet to prioritize or re-defer.

[2018-01-07 21:13] emily-phet commented on #423
This issue is likely addressed by the latest implementations of the parallel DOM.

[2018-01-07 21:13] #423 closed

[2018-01-08 22:12] jonathanolson commented on #720
@pixelzoom's above comment makes sense. I removed the expect call and verified tests are still passing.

[2018-01-08 22:12] #720 closed

[2018-01-09 04:39] samreid commented on #712
Playback wrapper is now versioned and deployed with each sim, we can leave the website one published for legacy phet-io sims.  @zepumph anything else to do here?

[2018-01-11 19:38] pixelzoom commented on #707
1/11/18 dev meeting:

Not needed in equality-explorer, and there are other scenery features (eg DragListener) that have higher priority.  So deferring this until someone else needs halos in a sim.

[2018-01-12 18:50] samreid opened #727 "Scenery playground/examples are broken with PhetioIDUtils is not defined."
@jonathanolson reported

I'll need to add that preload to any HTML that uses tandem.

[2018-01-12 20:49] samreid commented on #727
@jonathanolson and I discussed this on slack.  It seems that we will need to include PhetioIDUtils.js in scenery/kite/dot builds, and add references to places using scenery/kite/dot in requirejs mode (including but not limited to the wrappers).  It will be good to get @jonathanolson help on this since I'm unfamiliar with all the entry points, and unfamiliar with how scenery bundles preloads into i

[2018-01-16 20:55] pixelzoom opened #728 "question about lineDash"
`Paintable` options `stroke` and `fill` (and others?) are set to "none" by setting their values to `null`.   But `lineDash` is different -- an empty array means no dash.  This difference has bitten me repeatedly.   Is it implemented this way to be consistent with some other HTML/JavaScript API?

[2018-01-16 22:53] jonathanolson commented on #728
The empty array is consistent with the Canvas API, and is partially due to https://github.com/phetsims/scenery/issues/101 (where we actually allowed null and it passed through to the API, but then Chrome decided to stick to the specification more accurately and started failing out `null` values).

As briefly noted in that issue, it's an option to make lineDash:null the "no line dash" Scenery-side,

[2018-01-16 23:13] pixelzoom commented on #728
I'm OK with leaving as is. Closing.

[2018-01-16 23:13] #728 closed

[2018-01-17 18:59] jonathanolson commented on #727
Added to the usual locations, and included in standalone builds. If I missed anything, I'll fix it when I run across it (and may happen in the future with continuous testing).

[2018-01-17 18:59] #727 closed

[2018-01-17 19:04] jonathanolson opened #729 "Playground getting 404 for test-utils.js"
It also looks like scenery/tests/image-test-construction.html (used to create the pixel-comparison Scenery unit tests) has a broken link and is failing also (among other, more serious failures).

Presumably this was refactored during @samreid's unit testing upgrade. I'm not particularly concerned about including this again, and I'm going to remove image-test-construction.html (since it's a scenery

[2018-01-17 19:05] #729 closed

[2018-01-17 19:22] jonathanolson commented on #724
Removed and refactored all usages to the suggested type above. Closing.

[2018-01-17 19:22] #724 closed

[2018-01-21 23:39] samreid commented on #415
Unassigning until discussion in the joist issue is complete.

[2018-01-22 20:53] ariel-phet commented on #552
self-assigning to figure out when to start scheduling this time again, now that chipper 2.0 is wrapping up

[2018-01-23 19:31] jessegreenberg opened #730 "Change the way PDOM is made invisible to support formatting tags"
The current method of hiding the PDOM from the browser window breaks up the way screen readers read inner html with formatting markup. When format tags are added,  the AT reads inner content inside the styling markup on a new line, which sounds very choppy.

First discovered in https://github.com/phetsims/ohms-law/issues/82.

Currently the PDOM is styled with
[code]
We had good luck with a recomme

[2018-01-30 00:25] jessegreenberg commented on #730
I changed SceneryStyle in Display.js to the following and removed the styling defined in AccessibleInstance, it is working great in Firefox + NVDA.
[code]

[2018-01-30 00:38] jessegreenberg commented on #730
It is also working well in Safari with VoiceOver. Trying JAWS next.

[2018-01-30 00:59] jessegreenberg commented on #730
Works great with JAWS in FF 52 (had to install FF Extended Support Edition 52 for JAWS to run).

[2018-01-30 01:22] jessegreenberg commented on #730
We should test this on all supported platforms to make sure that changing the style doesn't cause any problems, but seems promising on FF, Chrome, and Safari.

[2018-01-30 18:20] jonathanolson opened #731 "Fitted bounds changes caused jiggling of content"
For details, see https://github.com/phetsims/masses-and-springs/issues/206.

Preventing fitting got rid of the issue.

[2018-01-30 19:56] jessegreenberg commented on #730
Tested on Safari with iPad air 2. I see no problems while running the sim, but the original problem is still present after the change.

[2018-01-30 20:00] jessegreenberg commented on #730
Actually, I just tested with this fiddle: https://jsfiddle.net/020e7gpx/

Mobile VO does pause in between each formatting element, so I think the reader is behaving as expected.

[2018-01-30 21:00] jessegreenberg commented on #730
Changes made in the above commit. I tested in Safari, Edge, IE11, FF, and mobile Safari everything seems OK.  @zepumph @mbarlow12 thanks for the help on this, work in https://github.com/phetsims/ohms-law/issues/82 made this straight forward.

[2018-01-30 21:00] #730 closed

[2018-01-31 00:08] jessegreenberg commented on #686
`innerHTML` generally performs worse than `textContent` because `textContent` doesn't parse the HTML. `textContent` might be set very frequently so it seems useful to generally use the faster option.

[2018-01-31 03:17] jessegreenberg commented on #723
I verified that the accessible content is still being set correctly, looks good to me thanks @samreid.

[2018-01-31 03:17] #723 closed

[2018-01-31 04:22] samreid opened #732 "Eliminate Font's string constructor"
While working on https://github.com/phetsims/scenery-phet/issues/349 I noticed that Font.js has the complication of handling string|Object as its argument.  It would be much simpler if it only supported Object, especially now that it extends PhetioObject, which uses Object options as well.

I could only find one usage of new Font( string ) and it appeared to be in documentation.

@jonathanolson am

[2018-01-31 13:36] terracoda commented on #686
@jessegreenberg, @mbarlow12, and @zepumph, content tags do not always need labels (i.e., and accessible name) in the technical sense.

It would be ideal if the following HTML was supported by the API

[code]

[2018-01-31 13:57] terracoda commented on #686
Re @mbarlow12 https://github.com/phetsims/scenery/issues/686#issuecomment-339704610, I agree that code is efficient and is valid.

My understanding is that it is interpreted the same as
[code]
Though, I imagine their could be subtle differences in how focus is managed by browsers between the two code examples - especially when using the cursor keys.

[2018-01-31 17:52] jessegreenberg commented on #686
@terracoda that structure is definitely supported in this proposal.

"3. Nested list with no tag at all" is what is currently NOT supported by the proposed API for the same reason as your comment https://github.com/phetsims/scenery/issues/686#issuecomment-361939424. When we discussed this before we agreed that it isn't necessary to support mixing `Text` and `Element` child nodes because equally ac

[2018-01-31 17:57] terracoda commented on #686
OK, sounds good. We can probably live without option 3. Nested lists with no tag at all.

[2018-01-31 19:41] pixelzoom commented on #131
An updated version of https://github.com/phetsims/scenery/issues/131#issuecomment-274898827 from Jan 24, 2017 (about 1 year ago):

Opened in 9/10/2013 (4+ years ago), this issue was created because a replacement is needed for `SimpleDragHandler`, and drag handling is a very core/fundamental need.  I now find myself using `SimpleDragHandler` in yet another new sim, Equality Explorer, where drag han

[2018-01-31 22:17] jonathanolson commented on #131
This is one of the top things on my list, and I'll be working on it over the next week or two. Removing developer meeting tag unless there is something else to discuss.

[2018-02-01 17:48] jonathanolson commented on #732
The string constructor is helpful, and specifically meant for handling CSS fonts (which is what the Font object is based off of, and works with). For instance, it should be able to handle `new Font( '1.2em "Fira Sans", sans-serif;' )` and will parse things out.

We could definitely consider moving this to a convenience constructor if this is problematic (e.g. `Font.fromCSS( string )`. Would that h

[2018-02-01 18:04] samreid commented on #732
Yes, moving from an overloaded constructor to Font.fromCSS would help.

[2018-02-01 18:24] jonathanolson commented on #732
I'll move forward with changing the constructor to options-object only, with `Font.fromCSS` to parse CSS strings.

[2018-02-01 19:12] jonathanolson commented on #732
Running snapshot comparison before pushing the changes related to this (rewrote a lot of Font's constructor).

[2018-02-01 19:43] jonathanolson commented on #732
Implemented, Font now only takes an options object (not a string).

[2018-02-01 19:43] #732 closed

[2018-02-01 20:21] jonathanolson commented on #520
This came up during the developer meeting today, and I couldn't immediately reproduce on the latest Edge (Edge/16.16299 in the user agent string). It may happen on other devices however. Can we check to see if this still occurs?

[2018-02-01 20:22] jonathanolson commented on #520
@jessegreenberg noted that removing the workaround for this issue tripled (!) the frame rate for molecules-and-light, so if we can remove it (for newer Edge versions) that would be a large benefit.

[2018-02-01 20:59] phet-steele commented on #520
@jonathanolson this is still buggy (also in Edge/16.16299). Reminder to test these two links to know for sure:

http://phetsims.github.io/scenery/tests/browsers/edge-embedding-marks.html
https://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.1.1/graphing-lines_en.html?screens=2 (slope-intercept equation)

[2018-02-01 23:00] jessegreenberg commented on #520
Verified. I see artifacts in Microsoft EdgeHTML 16.16299 with https://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.1.1/graphing-lines_en.html?screens=2&rootRenderer=svg

If the problem is with Text, could we move the workaround to scenery/Text.js instead of joist/Sim.js? Maybe we will still get a performance benefit if we don't render the whole sim with canvas.

[2018-02-01 23:11] jessegreenberg commented on #719
Also removing assignment until I have more time to work on this.

[2018-02-02 17:11] samreid opened #733 "SimpleDragHandler dragging property should be instrumented"
From https://github.com/phetsims/friction/issues/62

@jonathanolson replied:

[2018-02-02 17:24] samreid commented on #733
I went with the term `isDragged` since I wanted to use something that sounded boolean-ish, and `isDragged` seemed prevalent in our codebase (compared to `isDragging`).

[2018-02-02 17:46] samreid commented on #733
Lint and aqua are coming up clear, so I'll push the changes for @jonathanolson to review.

[2018-02-02 17:48] samreid commented on #733
Changes are pushed, @jonathanolson can you please review?  Also, please comment on whether SimpleDragHandler.dragging should be public or private.  I marked it as private, but wasn't sure.

[2018-02-05 17:04] phet-steele commented on #733
@samreid did this commit reveal errors in BAA, BLL, and MAL?

[code]

[2018-02-05 17:23] samreid commented on #733
Proposed fix is working in local testing of BLL, committed above.

[2018-02-05 18:19] jonathanolson commented on #733
Changes look good to me.

[2018-02-05 18:30] phet-steele commented on #733
Bayes is happy.

[2018-02-05 18:44] samreid commented on #733
Thanks @phet-steele and @jonathanolson, closing.

[2018-02-05 18:44] #733 closed

[2018-02-07 23:18] mbarlow12 commented on #716
@jessegreenberg is there a reason to keep this open?

[2018-02-08 18:06] pixelzoom opened #734 "branch: accessibility-mixin"
Identified by `print-branches.sh`. @jonathanolson @jessegreenberg please describe.

[2018-02-08 18:08] pixelzoom opened #735 "branch: accessibile-instance"
Identified by `print-branches.sh`. @jonathanolson @jessegreenberg please describe.

[2018-02-08 18:09] pixelzoom opened #736 "branch: a11y-dag"
Identified by `print-branches.sh`. @jonathanolson @jessegreenberg please describe.

[2018-02-08 18:09] pixelzoom opened #737 "branch: browser-events"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-02-08 18:10] pixelzoom opened #738 "branch: canvas-clipping"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-02-08 18:10] pixelzoom opened #739 "branch: expansion"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-02-08 18:11] pixelzoom opened #740 "branch: gradient-colors"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-02-08 18:11] pixelzoom opened #741 "branch: key-events-in-phet-io"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-02-08 18:12] pixelzoom opened #742 "branch: simple-properties"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-02-08 18:15] jessegreenberg commented on #736
This branch is now stale, it has been pruned.

[2018-02-08 18:16] jessegreenberg commented on #736
But for documentation, it was used to explore having the a11y implementation support DAG, which it now does.

[2018-02-08 18:22] jessegreenberg commented on #735
This branch held our first investigation into the current a11y approach in scenery. Any needed changes in this branch have long since been added to master. Will delete branch and close.

[2018-02-08 18:26] jessegreenberg commented on #734
This branch was used to explore supporting a11y with a mixin for scenery/Node.js. This branch is now old, and has been deleted.

[2018-02-14 19:59] pixelzoom opened #743 "Automated test failure: FontTests"
This failure is occurring repeatedly in CT:

[code]

[2018-02-15 21:27] phet-steele commented on #743
Fixed.

[2018-02-15 21:27] #743 closed

[2018-02-20 19:39] zepumph commented on #686
Adding to a11y dev meeting just to get refreshed on this, and to make sure I understand how to proceed.

[2018-02-20 21:24] zepumph commented on #712
Sounds good.

[2018-02-20 21:24] #712 closed

[2018-03-01 17:11] jonathanolson commented on #131
For the core PressListener/DragListener/FireListener, I've done cleanup, design improvements and resolved almost all TODOs.

A few remaining questions:

- FireListener would have been ButtonListener (but we already have something named that). Is `FireListener` an OK permanent name?
- DragListener should be able to take drag bounds as either a constant `{Bounds2}` or Property `{Property.<Bounds2>}`

[2018-03-02 00:53] samreid opened #744 "New input scenery listeners need PhET-iO instrumentation"
@jonathanolson can you please point me to the new scenery input listeners and example usages so I can take a look at making sure they emit PhET-iO events?

[2018-03-02 17:34] jbphet commented on #131
How about during core hours on Monday, 3/5/2018?

[2018-03-02 17:41] jonathanolson commented on #131
Sounds good, I'll be available.

[2018-03-02 18:03] jonathanolson commented on #744
See DragListener/DragListenerIO, and its instrumented usage in charges-and-fields (ChargedParticleNode is the easiest example).

[2018-03-02 19:37] samreid commented on #744
SimpleDragHandler used:
`dragStarted`, `dragged`, `dragEnded`

When dragging a ChargedParticleNode, I see:
[code]

@jonathanolson is this as expected?  Should there be an `end` event before release?

[2018-03-06 17:12] zepumph commented on #686
In the keyboard nav meeting today, we (@terracoda leading) discussed the need for multiple `aria-labelledby` and aria-describedby` tags on a single element, we should add that to the api in this issue.

[2018-03-06 18:48] zepumph commented on #686
Marking as high so that we make sure to get to it tomorrow.

[2018-03-06 20:23] jonathanolson commented on #744
An end could be added (it's a bit weird with start, which has coordinates, but I'm not sure what's best). What events do you think it should have?

[2018-03-07 02:30] zepumph commented on #711
@samreid I think this is blocking an important joist feature needed for a stable api. Can we talk about this soon?

[2018-03-07 02:33] zepumph commented on #711
On second thought let's tag the parent issue, https://github.com/phetsims/joist/issues/445

[2018-03-07 04:36] samreid opened #745 "Measuring tape updates"
I'd like to make the following changes to MeasuringTapeNode to support Wave Interference:

1. Add a `baseDragEnded` option, so I can get a callback to test being dropped in the toolbox
2. Add an `interactive` option, so I can easily create an icon (much easier than MeasuringTapeNode.createIcon, which looks like a mess).

[2018-03-07 23:25] jessegreenberg commented on #686
We would like to reconsider having both `setAccessibleLabelAsHTML` and `setAccessibleLabel`. It is possible we only need one, and having  both complicates the API. To determine whether or not we can get rid of one, we need see if there is a detectable performance degredation by using setAccessibleLabelAsHTML.

[2018-03-08 01:05] zepumph commented on #701
@jessegreenberg and I went at this today, discussing the best way to proceed.

One of our biggest complaints about the way it is now, is that in order to use `aria-labelledby` with dom elements other than the main `Node`'s, you have to have two lines like so, with operations on both Nodes involved (yuck).
[code]
Translation: We want node1 to be labelled by node two's label dom element (not node 2

[2018-03-08 04:34] samreid commented on #745
I implemented the proposed changes and am leveraging them in Wave Interference.  @ariel-phet can you please recommend someone to review these common code changes?

[2018-03-08 06:39] jonathanolson commented on #686
Depends on how many times this will need to be called per frame, and if the performance is worse on iOS/etc. Also depends on convenience. If it takes 0.01ms for a 16.7ms budget for each frame, and is only called a few times per frame, I'm definitely not concerned about performance.

[2018-03-08 10:40] jonathanolson commented on #745
This looks like it's meant for scenery-phet? I'm going to unsubscribe from notifications (let me know if I'm the one doing the review though).

[2018-03-08 16:25] samreid commented on #745
Sorry, was meant for scenery-phet.

[2018-03-08 18:18] ariel-phet commented on #745
@samreid can you move this issue to the correct place, and reassign to me.

[2018-03-08 18:29] samreid commented on #745
Moved to scenery-phet (see link above), closing.

[2018-03-08 18:29] #745 closed

[2018-03-08 18:56] jessegreenberg commented on #701
Another option - We have explicit functions for all combinations of aria-labelledby and aria-describedby on all peer elements for a Node?
[code]

... an option, but I dislike it so much that I don't even want to keep typing examples.

[2018-03-10 04:52] pixelzoom opened #746 "Accessibility.js is huge"
scenery/js/accessibility/ currently has these line counts for source files:

[code]

Accessibility.js is huge, 35% of the entire API in one file.  Big red flag. What can be done to break this up into more manageable chunks?

[2018-03-10 04:57] pixelzoom commented on #746
To give non-developer readers another reference point...  Accessibility.js (one file) is larger than all of the source code (22 files) in the molarity repository combined.

[2018-03-12 02:56] samreid opened #747 "Can scenery-config.js be deleted?"
During https://github.com/phetsims/chipper/issues/638 I searched for occurrences of scenery-config.js and didn't see any.  Can it be deleted?

[2018-03-12 04:31] samreid commented on #711
One possibility would be to override the IO type with a method that throws an error--this would prevent the methods from being called, but then we would also want to make sure that the methods did not have a UI in Studio and also properly documented in documentation wrappers (or perhaps Studio).

[2018-03-12 04:39] samreid commented on #711
For special cases like this, we could design custom IO types.  Then we would have full control over Studio UI, documentation and method availability.  But it would be odd e.g., that PhetMenuIO doesn't extend NodeIO.  Or maybe it wouldn't be odd since PhetMenuIO doesn't have all of NodeIO methods.  The plus side of this proposed strategy is that it won't require any infrastructure development--we j

[2018-03-12 16:50] samreid commented on #744
It looks like PressListener fires the press/drag/release.  So I'm wondering if the "start" in DragListener is redundant?  I'm confused how a DragListener may fire drag events without firing a start (or maybe that can never happen?)

[2018-03-12 17:12] jonathanolson commented on #744
The start callback, or the phet-io event? I don't have a problem if that is removed, as it would trigger the press event first.

[2018-03-12 17:58] samreid commented on #744
@jonathanolson and I discussed it and committed the change above, tested in Charges and Fields and agreed the result looks as desired.

[2018-03-12 17:58] #744 closed

[2018-03-12 18:00] zepumph commented on #711
Here is the current list of methods supported over the api for NodeIO.js:
![image](https://user-images.githubusercontent.com/6856943/37300505-fb43bdb4-25da-11e8-93db-7250b8517acd.png)

If we create PhetMenuIO, then it seems like we need to choose to go down one of two roads.
1. "We don't care about PhetMenuIO having any of these (or future methods too), because at lease you can't change it's visib

[2018-03-12 20:49] samreid commented on #711
This seems like a question for an upcoming design meeting.  It hinges on "how frequently do we think we'll want to allow some nodes setPickable but not setVisible or vice versa?"  If that's rare, we can use a custom IO type for PhetMenu or elsewhere.  If we expect it to be common, then we may wish to adopt a more modular (mixin-based?) approach for NodeIO API (or all API?)

[2018-03-13 05:14] jonathanolson commented on #747
Apparently chipper was sneaky:
[code]
so.... presumably no.

[2018-03-13 05:20] jonathanolson commented on #746
Not sure, I'll mostly refer to @jessegreenberg. Most of it just looks similar to Node itself (both require a lot of boilerplate documentation and code that make them look WAY bigger than they really are).

Also, there was a point made about mixins that since this is the "least" proper mixin, it could be included directly in Node.js (the file).

[2018-03-13 14:14] samreid commented on #747
Got it, thanks, closing.

[2018-03-13 14:14] #747 closed

[2018-03-14 22:54] zepumph commented on #686
We discussed the `textContent` vs `innerHTHML` performance more in dev meeting today. @jessegreenberg @mbarlow12 and I think that the performance difference is not prohibitive. In fact on Safari @mbarlow12 found that `innerHTML` is actually 37% faster, and firefox had them as equals.

If there are problems with performance in the future, then there are other pieces of the mixin that can (and shoul

[2018-03-15 00:01] zepumph opened #748 "Implement a11y api changes"
These changes where discussed in https://github.com/phetsims/scenery/issues/686, and decided on in a11y dev meeting today.

- [x] Remove `*AsHTML` methods and have a single method determine if we should use `innerHTML` settings or `textContent` on DOM elements. Performance considerations in the comment https://github.com/phetsims/scenery/issues/686#issuecomment-373202147
- [x] Reimplement `accessi

[2018-03-15 00:01] zepumph commented on #686
We finished discussing the way that we want the new A11y API to look in scenery:

- [ ] Remove `*AsHTML` methods and only use `innerHTML` settings on DOM elements. Performance considerations in the above comment https://github.com/phetsims/scenery/issues/686#issuecomment-373202147
- [ ] Reimplement `accessibleLabel: {{string}}` so that it only ever set's a sibling DOM element, tag declared in `lab

[2018-03-15 00:01] #686 closed

[2018-03-15 00:02] zepumph commented on #686
Great work everyone! This was a honker.

[2018-03-15 00:08] zepumph commented on #748
@jessegreenberg @mbarlow12 please add to suggest edits.

[2018-03-15 02:56] jbphet opened #749 "Cursor changes to hand on disabled buttons"
On [this version](https://www.colorado.edu/physics/phet/dev/html/sun/1.0.0-dev.11/sun_en.html) of the sun button demo, if you disable the buttons and then click on them, the cursor doesn't change.  In the current master version, the cursor *does* change from an arrow to a pointing hand.

I demonstrated this to @jonathanolson, so he has seen it, so I'm not going to do a screen capture or anything.

[2018-03-15 04:28] jessegreenberg commented on #748
If parentContainerTagName is given without label/description content, then just surround the single Node's tagName

These two in combination seem tricky. This means the result of specifying a parent container tag name of "div" on the node with no label or description elements will be a "no-op", which is a confusing case.

[2018-03-15 16:05] zepumph commented on #748
agreed. I'll update the checklist above.

[2018-03-16 11:29] #709 closed

[2018-03-16 22:01] jonathanolson commented on #749
Should be fixed by the above commit. Can you verify and possibly review?

[2018-03-19 18:16] jbphet commented on #749
These changes definitely resolve the problem, and the commits make sense, since they add a method that creates a listener that is able to access the appropriate parts of the model.  Thanks @jonathanolson. Closing.

[2018-03-19 18:16] #749 closed

[2018-03-24 02:48] jonathanolson opened #750 "Chrome crashes with a specific shape/path?"
When I load https://www.colorado.edu/physics/phet/dev/html/fractions-mixed-numbers/1.0.0-dev.1/phet/fractions-mixed-numbers_en_phet.html?screens=3 and press the right arrow button to its max (8), it visually crashes right before it reaches the balanced (8-line) visual state. If I tweak the path slightly (so the lines barely don't touch) it won't crash (https://www.colorado.edu/physics/phet/dev/htm

[2018-03-24 19:11] ariel-phet commented on #750
@jonathanolson That is wonderfully odd.

I can reproduce this bug.

Can you be more specific about what you changed? You say "so the lines barely don't touch" Which lines? Are you talking about where the lines touch in the center of the circle?

I would say put a small amount of effort into identifying the Chrome bug (1 hour max). Your workaround seems look look just fine, and I do not thing we ha

[2018-03-26 16:40] jonathanolson commented on #750
In these cases (build-a-fraction and intro-like screens):
![chrome-crash-1](https://user-images.githubusercontent.com/480878/37919577-81b68ab4-30e1-11e8-8515-b007a4f92d93.PNG)
![chrome-crash-2](https://user-images.githubusercontent.com/480878/37919579-842ab310-30e1-11e8-9ded-b3f240ec9eec.PNG)

If the lines are drawn from the origin to the ends, Chrome crashes. The workaround is to start the lines

[2018-03-26 18:36] phet-steele commented on #750
@jonathanolson I can't get a crash in Mac Chrome?

[2018-03-26 20:13] zepumph commented on #748
We want to be able to disseminate the a11y api to other devs in the coming weeks, so marking as High priority.

[2018-03-26 21:36] zepumph commented on #748
This issue is massive, so I think it may be best to work on it in pieces (perhaps breaking some pieces into separate issues). With that, to try to be as thorough as possible, I think that each piece would be good to review separately, that way we don't lose track of some nuance or forget about some pieces.

[2018-03-26 21:38] zepumph opened #751 "Review ariaLabel getter/setter in new A11y API"
@jessegreenberg, I think it would be best to review individual pieces of the a11y api change. Just to be sure we don't miss anything. Please review all the commits above https://github.com/phetsims/scenery/issues/748#issuecomment-376320003 regarding the ariaLabel attribute change from boolean to string.

[2018-03-27 17:02] zepumph commented on #711
@samreid and I just though about making PhetMenuIO a subtype of NodeIO, and manually overriding node's visibility/pickability functions to be no-ops. I'm interested in pursueing that. @samreid can you think of a reason not to go down this road? This issue was originally about trying to do something clever with NodeIO, but maybe the simplest, O-O approach is best.

[2018-03-27 17:03] samreid commented on #711
I agree https://github.com/phetsims/scenery/issues/711#issuecomment-376600200 is what we should try next.

[2018-03-27 19:33] jessegreenberg opened #752 "Change terminology for AccessiblePeer"
Came out of a conversation with @zepumph for #748. We would like to improve terminology for things maintained by AccessiblePeer. AccessiblePeer maintains the collection of DOM elements that are presented to a screen reader. There are four such elements with the following names:

`domElement {HTMLElement}` - the "main" dom element representing the Node
`labelElement {HTMLElement}` - an additional l

[2018-03-27 19:46] zepumph opened #753 "Regression test new A11y api improvements"
In https://github.com/phetsims/scenery/issues/748 we will change a lot of the api for phet a11y. I want to make sure that no bugs slip by. One strategy for this will be to create dev links of the accessible sims so far to make sure that the future pDOMs look the same.

- [x] **BASE**
https://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.14/phet/balloons-and-stati

[2018-03-27 19:49] zepumph commented on #748
https://github.com/phetsims/scenery/issues/753 holds dev versions as a benchmark before diving into this issue.

[2018-03-27 20:52] zepumph opened #754 "Add a11y features to scenery playground"
I'm thinking that it would be really nice to have a simple ui, perhaps an input where you can add javascript with Nodes and options. Then pressing "Run" or something will output the plaintext html of the pDOM from these nodes. Similar situations as the A11y testsing in qunit, but more for debuggin.

I'm going to play around with it a little bit, taggin @jonathanolson since it's his stomping ground

[2018-03-27 21:27] zepumph commented on #754
@jessegreenberg please have a look at the scenery playground; toggle the pdom control on the right. Then  adjust the node structure on the left, and see the output of the pdom on the right. How does this look? It's pretty rough, but definitely a proof of concept. Please review and make suggestions as a debug/dev tool.

[2018-03-28 22:34] zepumph commented on #748
Discussion in today's dev a11y meeting about condensing *asHTML methods and their counterpart into single methods. We decided to look into the following:
1. Only user innerHTML
2. Continue to use (although upgrade to regex) `usesFormattingTagsExclusive`
3. If html is passed into the setter that doesn't pass the above method (meaning that is is invalid HTML or uses non whitelisted tags) then we ass

[2018-03-29 19:59] jessegreenberg opened #755 "Implement innerContent setter for a11y"
Broken out of #748 so that it is easier to review changes.

We are now calling this the "primary sibling element".

[2018-03-30 17:54] zepumph commented on #41
@jessegreenberg @emily-phet @mbarlow12 and @zepumph spoke about this issue in regards to a11y infrastructure work scheduled for this summer. There seems to be a lot of considerations with this issue that are hard to tag a direct priority.

@emily-phet hopes that we can make some progress on this. We will need to balance this with other issues.

At the very least we should do a bit of investigation

[2018-03-30 19:57] zepumph commented on #754
There are some tweaks that could be done, but it's looking pretty nice from my end. Unassigning.

[2018-03-30 21:00] jessegreenberg commented on #41
Removing my assignment until we continue work on this (possibly later this summer).

[2018-03-31 19:08] zepumph commented on #752
@jessegreenberg please review above commits.

[2018-03-31 19:22] zepumph commented on #752
PARENT_CONTAINER rename in these commits: https://github.com/phetsims/scenery/commit/30148ddfebcaa38bd37fe8c9d29734348f8bfe98
https://github.com/phetsims/friction/commit/93b98c77f55b778e168e9689870be130438ca0d6

[2018-03-31 20:20] zepumph commented on #715
Right now we have moved in the direction of keeping the containerParents in the pDOM. There have been no complaints, and it would take work in the opposite direction for a potentially orthogonal solution. Taggin as "wontfix" as we are instead going with changes in #748.

@terracoda @jessegreenberg @mbarlow12 please reopen and comment if you feel differently.

Closing

[2018-03-31 21:45] zepumph commented on #755
This has been implemented as part of #748, I think the best course of action is review in #753, but I will leave this open for @jessegreenberg to decide what he prefers.

[2018-03-31 21:48] zepumph commented on #748
All that is left as part of this issue is separating out prependLabels to individual `appendLabel`/`appendDescription`. I won't have time to get to this until next week sometime.

While working in the A11y trait, I found lots of smallish things that should be fixed. For the most part, I just jotted them down, but I added a TODO also. I will create separate issues for the things I think need them.

[2018-03-31 21:54] zepumph opened #756 "Remove redunant a11y option setters to default values"
Now with https://github.com/phetsims/scenery/issues/748 we have default labels/description DOM elements, so often we can simplify code. Like:
[code]
would just be
[code]

Marking for chip away, and tagging for a11 dev meeting.

[2018-03-31 22:03] zepumph opened #757 "Renmants of the accessibleLabel naming scheme"
From https://github.com/phetsims/scenery/issues/748,

we have moved away from the term `accessibleLabel`, and instead to `labelContent` but there were some places independent of the a11y trait that were using similar naming. These should be changed too.

- [x] in BASE, BalloonDescriber has its own `accessibleLabel`
- [x] in HelpContent, `a11yIconAccessibleLabel` option (this may be going away as p

[2018-03-31 22:08] zepumph opened #758 "Document AccessibleInstance.initializeAccessibleInstance"
This issue should be pretty quick, from https://github.com/phetsims/scenery/issues/748

@jessegreenberg can you please add a bit more documentation to this method
`AccessibleInstance.initializeAccessibleInstance` I see a difference in the jsDoc from the args, and I didn't want to assume anything. You would know best! Let me know if you want to talk about it.

[2018-03-31 22:10] zepumph opened #759 "Should labelTagName default to LABEL?"
In https://github.com/phetsims/scenery/issues/748 I made it default to `LABEL`, but perhaps it should be a `p` or something. @jessegreenberg @mbarlow12 what do you think? What is the best default?

[2018-03-31 22:17] zepumph opened #760 "Remove TODOs in Accessibility Trait"
from https://github.com/phetsims/scenery/issues/748, I added a lot of todos, this issue is to make sure I get rid of them all before calling the job done.

Currently there are 8 todos

[2018-03-31 22:18] zepumph opened #761 "Setting containerTagName to null won't clear the container"
This happens when there are other siblings than just the primary sibling, basically because the default kicks in too strong. I want to discuss the desired functionality before diving in.

[2018-03-31 22:20] zepumph opened #762 "booleans should default to "false" not "null" in Accessibility Trait"
There are a few places where we start booleans out as null. @jessegreenberg is there a reason we are doing this? Is it for space?

[2018-03-31 22:20] zepumph commented on #762
For example _focusable
[code]

[2018-04-02 18:39] jonathanolson commented on #250
Adding toImageNode as the initial "improved" version. Will improve documentation & testing, and will deprecate other methods so that toImageNode (or whatever its final name will be) is the one true way to create an image node from a node.

[2018-04-02 21:37] jonathanolson commented on #250
The following are now deprecated:

- toImage
- toImageNodeAsynchronous
- toCanvasNodeSynchronous
- toDataURLImageSynchronous
- toDataURLNodeSynchronous

Please use `node.rasterized()` instead. It supports all of the good options/features for those methods, and additionally supports controlling the resolution (so we don't have to hack together scaling code every time things are used).

Tagging for

[2018-04-03 21:41] jessegreenberg commented on #762
Good question @zepumph, I don't think there is any good reason to have `_prependLabels` default to null.

In the case of _focusable, a default value seems like too much of a commitment. Default value of true adds everything to tab navigation. Default value of false removes everything from tab navigation. At the moment, _focusable is set to true by default for form elements so we don't need to add

[2018-04-03 21:46] jessegreenberg commented on #762
I changed prependLabels to default to false. @zepumph were there more than those two?

[2018-04-03 21:56] jessegreenberg commented on #759
`label` is really only only good for `input` tags, I would prefer `p`.

[2018-04-03 22:03] zepumph commented on #762
I think that it is more clear to have _focusable default to false. To me, in javascript, the type def `{boolean|null}` seems strange and redundant. Do you think it would break anything to change to `_focusable = false`?

[2018-04-03 22:13] jessegreenberg commented on #758
@zepumph I improved the documentation and filled in missing JSDoc for `initializeAccessibleInstance` and the constructor. There are a few other functions that need some documentation.

[2018-04-03 22:15] zepumph commented on #759
I like your recommendation greatly. It aligns with the same thought process between redoing `prependLabels` (really input-centric) to `appendLabel`/`appendDescription` (more streamlined with general use case which isn't the input/label cobo).

@mbarlow12 as long as there are no objections I will make the default a `p`. Thanks @jessegreenberg.

[2018-04-03 22:32] zepumph commented on #762
Ok sounds good. @jessegreenberg and I were also talking about type def of _groupFocusHighlight in slack...:
[code]

[2018-04-03 22:38] jessegreenberg commented on #762
moving this to an issue, let's talk about it more later.

@zepumph could you please clarify? I wasn't sure what you meant by this.

[2018-04-03 22:42] jessegreenberg commented on #758
@zepumph I improved the documentation for AccessibleInstance, could you please review?

[2018-04-03 23:06] jessegreenberg commented on #757
Thanks @zepumph, done in the above commits. Closing this issue.

[2018-04-03 23:06] #757 closed

[2018-04-03 23:12] jessegreenberg commented on #755
@zepumph I think full regression testing should be done in #753 once things stabilize, but for closure would you mind reviewing the above commits for this setter?

[2018-04-03 23:24] jessegreenberg commented on #752
I only ask because I see more commits commits coming in.

[2018-04-04 17:10] zepumph commented on #762
I mean that in `setGroupFocusHighlight`, there could be the following line of code when you pass in type `Node`:
`this._useGroupFocusHighlight = true`.

Making the implementation a bit more complicated internally, but the usage easier, because you just have to deal with a single setter that takes a single type. Could that work? Is there another way around this? Why can't we just have a single prop

[2018-04-04 17:52] zepumph commented on #755
I have reviewed in two ways.
1. Spot check just not of the above commits. This looks good
2. I have taken the same approach in your above commits and transferred it to usages across the project.

Thank you for starting this so solidly. Closing

[2018-04-04 17:52] #755 closed

[2018-04-04 17:53] zepumph commented on #752
I agree, I saw the same false positives, nothing more from my end. Closing

[2018-04-04 17:53] #752 closed

[2018-04-04 18:08] phet-steele commented on #456
@jessegreenberg @jonathanolson this is happening in the Fractions sims quite a bit (on Bayes).

[2018-04-04 22:54] jessegreenberg commented on #762
We decided  that focusable should be explicit,  and that it isn't up to the Accessibility trait to  determine whether or not something is focusable by tagName. Most importantly this is because the value for _focusable should not be null for form elements that can receive focus.

[2018-04-04 22:55] jessegreenberg commented on #762
Following this desire to be explicit,  we will create two setters to implement the group focus highlights.
[code]

[2018-04-04 22:58] jessegreenberg commented on #762
@jessegreenberg will work on this issue.

[2018-04-05 00:00] jessegreenberg commented on #701
We continued to discuss this today at 4/4/18 meeting.

We took a look at some current usages of `setAriaLabelledByNode` with `setAriaLabelContent` to see if it could be replaced with the recommendation of handling the association with scene graph structure. Initial investigation made this seem very complicated and not acceptable for general instrumentation.

We considered changing the current API

[2018-04-05 01:19] pixelzoom commented on #250
@jonathanolson Can you say a little about what motivated this issue?

[2018-04-05 01:32] zepumph commented on #748
All features have been implemented with the exception of usages of `prependLabels`. That will mostly happen as we go through sims in https://github.com/phetsims/scenery/issues/753. Closing

[2018-04-05 01:32] #748 closed

[2018-04-05 01:35] zepumph commented on #753
#748 is closed there will probably be places where `prependLabels` wasn't used, that now need `appendLabel`/`appendDescription`. These usages should be handled in this issue imo. Now we need to go through and make sure things are working. Assigning to all of us so we can handle our own sims in our own time. Let's meet back in a week and see what's left to do. Marking as high priority. Let me know

[2018-04-05 01:40] samreid commented on #250
Sounds great, should we schedule a code review and trial port before we go "all in"?  I don't know what risks are involved, if any (preceding comment sounds like low risk though).

[2018-04-05 01:51] pixelzoom commented on #250
My sims that are affected by this change:

- [ ] acid-base-solutions
- [ ] ph-sale (toImage)
- [ ] plink-probability (toImage)

Comon code affected:

- [ ] scenery-phet (toImage)
- [ ] vegas (toImage)

[2018-04-05 04:08] pixelzoom opened #763 "don't rely on Events?"
I'm working on an issue related to `dispose`, and I ran across this comment in `Node.dispose`:

`4892       Events.prototype.dispose.call( this ); // TODO: don't rely on Events`

What does "don't rely on Events" mean?  Is there a problem with `Events.dispose`?....

[2018-04-05 04:41] jonathanolson opened #764 "Can't remove accessibleInputListeners?"
![scenery-a11y-listener](https://user-images.githubusercontent.com/480878/38347447-c6960b54-3858-11e8-9ad9-385053cc2d00.PNG)

It's happening in sim code (not yet committed) where I need to add/remove KeyboardDragListeners, errors any time you try to add one, since the value put in `_accessibleInputListeners` is actually an object filled in from the listener, not the "listener" itself.

Also note t

[2018-04-05 09:19] jonathanolson commented on #763
It's basically referring to https://github.com/phetsims/scenery/issues/490, where things like Emitter would be strictly better for performance and usability.

[2018-04-05 10:27] jonathanolson commented on #250
Overall, mainly:

- Having to write ugly scaling up/down code where using many of these methods
- Lots of slightly different ways with no clear recommendation/default
- Asynchronous methods were an absolute pain
- Other synchronous methods that didn't have bounds synchronously were an absolute pain for layout
- Method names were about the implementation, not what they did
- The x/y doing the oppos

[2018-04-05 13:30] pixelzoom commented on #763
`Events.dispose` currently does nothing. Should it remove all of its listeners, similar to `Property.dispose`?  That would eliminate the need for tricky/buggy logic like I encountered for `Dialog` while fixing https://github.com/phetsims/vegas/issues/61.

[2018-04-05 14:08] pixelzoom commented on #250
Thanks for clarifying. +1 for simplifying.  Happy to address my sims.  Someone else will need to address common code; I don't have time.

[2018-04-05 15:06] jessegreenberg commented on #456
This issue is beyond my knowledge of scenery, removing assignment, but let me know if  I  can help.

[2018-04-05 15:18] jessegreenberg commented on #250
I don't think I have used any of the deprecated functions and don't have the knowledge to review for potential risks.

[2018-04-05 16:48] zepumph commented on #753
@mbarlow12 @jessegreenberg please go through the sims listed in the first comment and mark your initial next to sims that you will go through, then we can split up any extras afterwards. Marking for dev meeting next week to discuss progress.

[2018-04-05 16:49] jbphet commented on #250
My sims that are affected:

- [ ] States of Matter (and variations)
- [ ] Gene Expression Essentials

Common code that I developed:

 - [ ] Vegas RewardNode

[2018-04-05 16:51] jessegreenberg commented on #764
`addAccessibleInputListener` currently  returns the wrapped listener to be removed with `removeAccessibleInputLisitener`. So it is possible to remove  the listener. The reason it wraps a listener right now is because I thought it would be convenient to automatically handle certain kinds of changes. At the moment, if a listener updates the DOMElement `value` attribute, it automatically updates the

[2018-04-05 16:51] jessegreenberg commented on #764
@zepumph if you agree with https://github.com/phetsims/scenery/issues/764#issuecomment-379002726 I can work on this.

[2018-04-05 17:08] jessegreenberg commented on #746
It is huge, but it defines the API for accessibility in a similar way to Node or Paintable. I like that everything is easily discoverable in one place. #748 will likely reduce the size a bit as we continue clean up, but not substantially.  @pixelzoom thoughts? Would you like to discuss more at a dev meeting?

[2018-04-05 17:14] pixelzoom commented on #746
Yes, let's bring this up at developer meeting.

[2018-04-05 18:39] jessegreenberg commented on #686
Great work @zepumph, thank you for taking the lead on this.

[2018-04-05 18:39] pixelzoom commented on #250
4/5/18 dev meeting notes:
• `rasterize` is always synchronous.
• Should `rasterized` get a code review?  No, code review is low risk.
• @jonathanolson Will document (in this issue) the mapping between deprecated methods and usage of `rasterize`.
• What should we do about usages of deprecated methods? @pixelzoom will change his sims. If all goes well, @jonathanolson will change other usages.

[2018-04-05 18:57] pixelzoom commented on #746
4/5/18 dev meeting:
Discuss at next a11y meeting to see if there's a natural way to decompose it. Then revisit at a dev meeting after that.

[2018-04-05 18:59] jonathanolson commented on #763
I have no strong preferences on it. If it's helpful to wipe the listeners, go ahead.

[2018-04-05 19:00] zepumph commented on #746
Marking high so we don't forget to talk about it before next Developer Meeting Thursday.

[2018-04-05 20:12] jessegreenberg commented on #764
@zepumph and I discussed this. We are concerned that we are trading one "gotcha" for another. If we remove the wrapping, we will have to remember set `inputValue` everywhere. On the other hand, the current pattern for adding/removing accessible input listeners is different from other Scenery and axon listeners.

We are not sure which is the greater evil.

[2018-04-05 20:16] jessegreenberg commented on #764
inputValue might not have to be set very often. We discussed that for how often we have to manually set inputValue, it isn't worth having a strategy for adding/removing accessibleInput listeners that is different from what is generally used by the project.

For this reason we  are leaning toward removing the wrapping function as suggested by @jonathanolson originally.

[2018-04-05 20:44] zepumph commented on #764
Confirmed with @jonathanolson, we are ready for implementation. @jessegreenberg whoever get's to this first.

[2018-04-05 22:31] pixelzoom commented on #250
@jonathanolson Assign to me after you've documented the mapping between deprecated methods and usages of `rasterize`.  Then I'll convert my sims.

[2018-04-05 23:08] jonathanolson commented on #250
First of all, if any parameters (besides callbacks) are provided to the deprecated methods (i.e. the x/y/width/height parameters), then those should be converted into using the `sourceBounds` option, e.g. `sourceBounds: new Bounds2( -x, -y, width, height)` (x/y are reversed, as those are the actual bounds). If only two are provided, contact me to assist.

- `toDataURLNodeSynchronous`: Use `rasteri

[2018-04-06 02:29] pixelzoom commented on #763
If I wipe listeners, I suspect that's going to cause problems throughout PhET code.  I typically check `hasListener` before calling `off`, but that doesn't seem to be general practice.

[2018-04-06 02:30] pixelzoom commented on #763
If I wipe listeners, I suspect that's going to cause problems throughout PhET code.  I typically check `hasListener` before calling `off`, but that doesn't seem to be general practice.   So I'm not going to make that change.  But something to consider if we ever get around to replacing Events with Emitter.

Closing.

[2018-04-06 02:30] #763 closed

[2018-04-06 23:03] jonathanolson commented on #250
Scanned the commits, they look good.

[2018-04-07 08:41] jonathanolson opened #765 "RichText pooling"
I'm adding support for RichText to start to pool most of its common objects, so things don't need to be constantly created when they are changing. This should increase performance by a good bit.

[2018-04-07 08:44] jonathanolson commented on #765
Done with the above commit. I'll be running snapshot comparisons to make sure this didn't break something.

[2018-04-07 10:54] jonathanolson commented on #765
If I broke something at night and no one noticed, was it really broken? (Should be fixed now, closing).

[2018-04-07 23:40] pixelzoom commented on #250
Thanks @jonathanolson.  Assigned to you to complete replacement of deprecated methods.

[2018-04-08 18:55] zepumph commented on #753
I went through everything except BASE, it seemed pretty formulaic to change these, especially since there were snapshot dev versions. Here are a few conventions/philosophies I implemented/followed:

1. Removed all `prependLabels` option
2. Added `appendDescription/Label: true` defaults to radiobutton/checkboxes across the project. This was implemented because it is nice to have the label after the

[2018-04-08 19:31] zepumph commented on #759
I changed the default label tag name to 'p', but first I had to go through commits made in #748  called "remove unneeded calls to options with default values". In those commits I removed "labelTagName: 'label'` options. Manually reverted above.

@mbarlow12 could you please review this.

[2018-04-08 19:33] zepumph commented on #761
What should the functionality be? Other option remove pDOM content when set back to `null`, but I see the container potentially as a different beast. Potential options on behavior when `containerTagName: null` is set:

1. No op, but we document it well.
2. Assert if there are siblings, because that is broken code.
3. Something clever and vague like automatically removing siblings, but documenting

[2018-04-08 20:01] zepumph commented on #760
All the big todos added from #748 have been handled or promoted to issues. Closing.

[2018-04-08 20:01] #760 closed

[2018-04-08 20:03] zepumph commented on #762
@jessegreenberg, I noticed the same thing here for `inputValue`. Should that support null also? Please add that documentation to this issue with `focusable` and `groupFocusHighlight`

[2018-04-09 15:46] samreid commented on #711
Good point, I'm thinking we should create a custom IO type for the PhET Logo Button--it's too unmantainable to remember to go remove things from PhetButtonIO every time things are added to NodeIO.  Sorry about all the flip-flopping!

[2018-04-09 16:40] jessegreenberg commented on #762
Thanks @zepumph, yes I believe `inputValue` should be `{string|null}`. I added documentation.

[2018-04-09 16:50] jessegreenberg commented on #754
This is really cool @zepumph, thanks for adding this.  Just a couple of questions:

 - What is this line doing? ```eval( inputText );```
 - Why is the css
[code]
necessary?  I would have thought the `hidden` property is enough to hide the content?

Do you think it would it be possible to format the input and/or output text areas? That might be non-trivial, but could be a nice enhancement.

[2018-04-09 17:40] jonathanolson commented on #764
Also I added this to RichText (I had to use removeAccessibleInputListener):
[code]

Which should remove the wrapped object and be kinda future-compatible. Probably should remove it when this is fixed.

[2018-04-09 17:46] phet-steele commented on #764
@jonathanolson is work in this issue the cause of https://github.com/phetsims/scenery-phet/issues/369?

[2018-04-09 17:57] jonathanolson commented on #764
Yes, I should have used `includes` instead of `contains`. There's still an open question to @zepumph in https://github.com/phetsims/scenery-phet/issues/369 though.

[2018-04-09 18:57] jessegreenberg commented on #761
I like option 2. We have this assertion in insertContentElement:
[code]
Which will error if you do this:
[code]

But not if you do this:
[code]

Also, this won't error:
[code]
because labelTagName happens to come after containerTagName in `ACCESSIBILITY_OPTION_KEYS`.

[2018-04-09 19:26] jessegreenberg commented on #761
Hmm, from https://github.com/phetsims/scenery/issues/761#issuecomment-379857623,

[code]

is perfectly valid if default value for containerTagName is null. So I am not sure yet what the best option is.

[2018-04-09 19:35] jessegreenberg commented on #751
Changes look good @zepumph. Thanks for adding tests. Reviewing changes only verified that this was the right decision. Closing.

[2018-04-09 19:35] #751 closed

[2018-04-09 21:55] jonathanolson commented on #250
I realized (when looking at porting RasterizedTextNode) that use of `rasterized()` would be better if the Scenery Image produced had its `localBounds` overridden so that it precisely matched the original node's bounds (so it is a complete drop-in replacement for layout purposes). Since it wouldn't paint outside these bounds, it should be totally valid.

I'll plan to be adding that enhancement to `

[2018-04-10 00:07] jonathanolson commented on #250
Added that as a feature (default true) above. I'll continue with porting to use that.

[2018-04-10 15:45] zepumph commented on #754
This line is responsible for taking the text (sting) in the Form element and running it as Javascript.  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval

I'm sure there were a ton of ways to do this, the class made it easy to toggle in the click listener. I haven't used the hidden property before.

In terms of formatting, do you mean syntax highlighting? Indent

[2018-04-10 16:16] zepumph commented on #761
I don't know what the word "valid" means here. Yes the above works, but the containerTagName is still added. This is because the labelTagName call adds in a parent automatically if conatiner is null.

Both of the following code snippets yield the same HTML. Please confirm and play in the playground.
[code]
[code]
[code]

[2018-04-10 16:24] jonathanolson commented on #250
Discussed briefly with @jbphet, and I think he'll be looking into working on RasterizedTextNode.

[2018-04-10 16:25] jessegreenberg commented on #761
Sorry, I was trying to say that they are effectively no-ops because the default value for `containerTagName` is null. It is only an error if you change the order when `labelTagName` is set before `containerTagName`.

[2018-04-10 16:38] zepumph commented on #761
I worry about it seeming clever and confusing. Here, an explicit call to nullify a tagName doesn't change the pDOM at all.

Maybe it will be good to describe this behavior in the `containerTagName` doc, "unlike other tagName setters, explicitly setting `containerTagName` to null will be overwritten if there are siblings in the peer."

[2018-04-10 16:42] jessegreenberg commented on #761
I agree it is a problem and think documentation may be the best way to go.  What if we assert that `containerTagName` cannot be set to null, only allowing null as a default value on construction?

[2018-04-10 16:46] zepumph commented on #761
What about:
[code]
Confirmed in playground. It seems like right now, it would be important to be able to clear that container after clearing the label. It is a bummer that you have to "cleanup" the container after you didn't even set it.

[2018-04-10 16:53] jessegreenberg commented on #761
Totally agree.

Do you think it is worth throwing an error rather than creating a a default parent DOMElement when adding label/description siblings?

[2018-04-10 18:11] zepumph commented on #761
No I don't think this is worth it. I think that makes things much more annoying to use, and that it isn't worth  it to have to add this to every place where a sibling is declared (sorta like trading one gotcha for another).

Let's go down the documentation route, as devs will be looking at the doc for sibling/parent setters a lot as they learn how it works. We can get feedback from them as we go.

[2018-04-10 18:15] jessegreenberg commented on #761
OK, that sounds great to me.

[2018-04-11 00:12] zepumph commented on #761
Alright, @jessegreenberg please review and close if that's all (commit coming when my computer wakes up).

[2018-04-11 14:47] pixelzoom opened #766 "Automated testing error: Cannot read property 'requestFullscreen' of null"
As part of , we moved FullScreen from joist to scenery.   That is undoubtedly responsible for the CT error that's now occurring, see below.  @jonathanolson what did we miss? @andrea-phet FYI.

scenery : pageload : /doc/ : load
Uncaught TypeError: Cannot read property 'requestFullscreen' of null
TypeError: Cannot read property 'requestFullscreen' of null
    at e (https://bayes.colorado.edu/continu

[2018-04-11 17:48] jbphet commented on #250
@jonathanolson - I looked at `RasterizedTextNode`, and I think it was using the correct bounds, i.e. **not** the scaled-up bounds.  I ran several tests, and it looks like `localBounds` is not affected by the scale, but `bounds` is.  As such, the usage of the `localBounds` for the actual text node, regardless of the scale setting, appears correct.  As a result, basically all I did was change the us

[2018-04-11 18:16] zepumph commented on #711
Back to you, I think this is a pretty good solution seeing as we won't do this very often.

[2018-04-11 21:52] zepumph commented on #667
Unassigning to talk about at meeting.

[2018-04-11 22:34] jessegreenberg commented on #746
We discussed at a11y meeting on 4/11/18 and come up with the following list:

 - There are a number of `(scenery-internal)` functions in Accessibility.js. These could be moved out of the file and maintained somewhere else. This way Accessibility.js only has the public functions, getters and setters that are intended for use outside of scenery. At the very least, these should be organized within Ac

[2018-04-11 22:38] jessegreenberg commented on #756
We talked about this at an a11y dev meeting, so we are all aware. Thanks for bringing it up @zepumph. We will be revisiting  lots of a11y code  as we progress with issues like #753. Closing.

[2018-04-11 22:38] #756 closed

[2018-04-11 22:45] jessegreenberg commented on #753
I went through BASE, the PDOM looks great. We will be on the lookout, but things are looking good and stable. This issue can be closed, thank you for taking the lead @zepumph.

[2018-04-11 22:45] #753 closed

[2018-04-12 03:29] jonathanolson commented on #746
It seems like all of your bullet points mirror how Node.js is the description/API of "what" things should look like, and the "how" part is squirreled away into other files (display/ instead of nodes/ in that case).

If that's accurate, I definitely recommend the separation.

[2018-04-12 14:56] Denz1994 commented on #250
Adding myself as an assignee to refactor usages of .toImage() M&S.

[2018-04-12 16:05] jessegreenberg commented on #746
@jonathanolson that is exactly the idea.

[2018-04-12 18:57] jonathanolson commented on #765
This probably meets the newer review criteria. @ariel-phet, thoughts?

[2018-04-12 19:04] jessegreenberg commented on #746
Dev meeting notes 4/12/18:

Regarding https://github.com/phetsims/scenery/issues/746#issuecomment-380617140, there isn't a strong preference about whether (scenery-internal) functions need to be pulled out, it could end up as a forced restructure. Node has some (scenery-internal) methods anyway. It might be better to organize the functions so they are not mixed with the public API functions.

[2018-04-13 18:04] jbphet opened #767 "Can SimpleDragHandler:isDraggedProperty be made public?"
I have a need to make use of the property in SimpleDragHandler that tracks whether a drag is in progress, please see https://github.com/phetsims/sun/issues/352.  This field is currently marked as @private.  Can it become @public (read-only)?  Also, I was discussing this with @pixelzoom, and he suggested that it be renamed to isDraggingProperty.

Assigning to @jonathanolson, since he is the origina

[2018-04-13 19:47] jonathanolson commented on #767
Sure.

Sounds good.

[2018-04-14 06:37] jonathanolson commented on #764
I also have a workaround in place in ProportionalDragHandle.js (area-model-common). Both that and the RichText workaround should be removed when this is fixed.

[2018-04-16 20:24] zepumph opened #768 "scale should not effect focus highlight thickness"
Notice in the sun demos, the `verticalAquaRadioButtonGroup` is scaled x2, and thus the focus highlight is that much bigger. @jessegreenberg I thought we solved this already with our default focusHighlight Node types. Any thoughts?

[2018-04-16 20:44] jessegreenberg commented on #764
Searching for listeners added to `input` and `change` events, I see usages in `john-travoltage/AppendageNode` `sun/RadioButtonGroupMember`, `sun/CheckBox`, `sun/AquaRadioButton`, and `sun/AccessibleSlider`. Before changing this it would be good to review to see if any of those are assuming `value` attribute is  getting set by wrapping  the listener.

[2018-04-16 20:54] jessegreenberg commented on #764
Not set by check boxes or radio buttons, but those shouldn't need it:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox

Removing the setting in Accessibility.js and NVDA is still indicating which button is selected.

AccessibleSlider and AppendageNode are already setting inputValue.

[2018-04-16 21:35] zepumph commented on #764
Let me know if I can be of any more assistance.

[2018-04-16 22:37] jbphet commented on #767
Done.  I have one concern though - this changes the name of a tandem, and it is one that may well be in use in some wrappers.  I'm not sure if this constitutes a phet-io API change that needs approval, so I'm assigning to @samreid for review.  @samreid - please review the change for whether it's okay in general and whether it is acceptable in the context of phet-io.  If not, assign back and I can

[2018-04-16 23:29] pixelzoom opened #769 "RichText problems with ' ' and '&nbsp;'"
Chris Malley [5:22 PM]
`new RichText( ' ' )` and `new RichText( '' )` apparently have bounds problems.  Is that expected?

`new RichText( '&nbsp;' )` isn’t recognized as an HTML entity, so can’t be used as a workaround.
it renders `'&nbsp;'` literally.

Jonathan Olson [5:25 PM]
hmm
temporary workaround would be to put in the unicode version of the non-breaking space (U+00A0)
I'd need to look into

[2018-04-17 01:14] jessegreenberg commented on #764
Thanks @zepumph, change made above so that addAccessibleInputListener is no longer wrapping the listeners in the passed in object.

It is still returning the `accessibleInput`, so next step will be to remove the return and update usages across the project.

[2018-04-17 01:32] jessegreenberg commented on #764
Here is the hits for `addAccessibleInputListener` that need to be reviewed:
- [ ] area-model-common\js\proportional\view\ProportionalDragHandle.js
- [ ] balloons-and-static-electricity\js\balloons-and-static-electricity\view\BalloonNode.js
- [ ] balloons-and-static-electricity\js\balloons-and-static-electricity\view\TwoSceneSelectionNode.js
- [ ] circuit-construction-kit-common\js\view\CircuitElem

[2018-04-17 13:30] ariel-phet commented on #765
@jonathanolson, @jessegreenberg mentioned that "rich text is awesome" so I think he would be totally up for doing a review :fox_face:

[2018-04-17 23:47] jessegreenberg commented on #764
The above commits get everything except ProportionalDragHandle.js and RichText.js.

[2018-04-17 23:55] jessegreenberg commented on #764
@jonathanolson in those remaining cases, you added a check like
[code]
I believe those can be removed now, but don't fully understand why they were necessary as a workaround. Can you please update those as you see fit?

Once that is  done, we can replace the return statement in `Node.addAccessibleInputListener` with
[code]

for chaining (to match `Node.addInputListener`).

[2018-04-19 00:04] jonathanolson commented on #250
I didn't do anything this week on this in favor of other high priorities.

[2018-04-19 01:32] jonathanolson commented on #764
I made them compatible with the old implementation AND the new implementation that would `return this`. I'll remove them then assign to you.

[2018-04-19 01:36] jonathanolson commented on #764
Removed the workarounds.

[2018-04-19 02:09] jonathanolson opened #770 "Safari breaking change to touch actions/scrolling"
@kathy-phet noticed that if you view a sim with iOS 11.3+, the dragging behavior is pretty broken. It tries to scroll, even though we've specified the proper CSS to prevent this (touch-action).

I'm looking for workarounds, but other people have noticed this regression also (https://stackoverflow.com/questions/49047414/disable-scroll-swipe-action-for-html-canvas-drawing-on-ios).

[2018-04-19 02:26] jonathanolson commented on #770
One related bug, mentions other threads: https://bugs.webkit.org/show_bug.cgi?id=184250

Investigating.

[2018-04-19 02:59] jonathanolson commented on #770
https://github.com/atlassian/react-beautiful-dnd/issues/413#issuecomment-377690326 was the key comment to understand what Safari is doing. They have the fun combination of moving to passive events by default AND not supporting touch-action: none. Chrome moved to passive actions, but it doesn't cause a problem for us because it respects the CSS.

I'll have patches here soon.

[2018-04-19 03:14] jonathanolson commented on #770
@ariel-phet and @phet-steele, these commits will need cross-platform testing to make sure I didn't break things. In particular, check desktop Safari (with touch if possible?), mobile safari (iPad and iPhone), Android (would be good to know if I broke something), IE11 (since it doesn't support a certain newer way of specifying things).

@ariel-phet, this may be a candidate for maintenance release,

[2018-04-19 04:10] jonathanolson commented on #770
I'm also going to look if we can leave the "default" behavior on Chrome so that we can just have the preventDefault calls no-op, since it will have technically higher performance.

[2018-04-19 04:16] jonathanolson commented on #770
Looks like the main Safari feature request for the "change" is https://bugs.webkit.org/show_bug.cgi?id=175346

Also notably:

[2018-04-19 04:32] jonathanolson commented on #770
Updated the title to better reflect the scope.

[2018-04-19 04:38] jonathanolson commented on #770
Initial "fixed" test deployment: https://bayes.colorado.edu/dev/html/capacitor-lab-basics/1.7.0-dev.4/phet/capacitor-lab-basics_en_phet.html

[2018-04-19 07:56] kathy-phet commented on #770
Looking good here!

Sent from my iPhone

On Apr 18, 2018, at 9:38 PM, Jonathan Olson <notifications@github.com<mailto:notifications@github.com>> wrote:

Initial "fixed" test deployment: https://bayes.colorado.edu/dev/html/capacitor-lab-basics/1.7.0-dev.4/phet/capacitor-lab-basics_en_phet.html

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<http

[2018-04-19 22:39] zepumph opened #771 "export default html elements of a Node to AccessibilityUtil.js"
The a11y tests use these values to test the correct behavior of siblings and the automatic creation of HTML elements, so we should use these defaults there. Twice now I have been bitten by changing these defaults in the the a11y trait and forgetting to change the tests.

[2018-04-19 22:46] #771 closed

[2018-04-20 21:42] jessegreenberg commented on #764
Excellent, thanks @jonathanolson. @zepumph would you mind reviewing  changes for this issue? In particular, this commit implemented the largest change: https://github.com/phetsims/scenery/commit/2e6e7bc32abf40b662b52ef4f4187ba9c1ae3a2d

The rest are updating usages of addAccessibleInputListener across the  project.

[2018-04-20 22:52] zepumph opened #772 "Update accessibility documentation"
There are two html docs in scenery, and both are very out of date:
`doc/accessibility.html` (currently fuzzed)
`accessibility/accessibility-documentation.html`.

Have similar content, but we should update these. I think this may override the markdown I started in https://github.com/phetsims/a11y-research/issues/22.

[2018-04-21 00:40] zepumph commented on #713
@jonathanolson and I found that navigating through items with the keyboard, and then clicking, restarted the tab order.

[2018-04-22 00:05] zepumph commented on #764
I think this is nice, I like that you set it up so that you didn't have to change the usages in the dispose method. I like it when things work out like that. I think this is ready to close, @jessegreenberg please reopen if there are any other considerations.

[2018-04-22 00:05] #764 closed

[2018-04-22 00:25] zepumph opened #773 "Should Accessibility.js be able to update peers directly?"
At a high level, I have always thought that there was modularity in function between AccessibleInstance and AccessiblePeer, such that

Node ---> AccessibleInstance ---> AccessiblePeer

So a node can have `n` `AccessibleInstance`s and each `AccessibleInstance` has 1 `AccessiblePeer`.  From this thought process, I would expect that AccessiblePeer can only be accessed from the instance, for modularit

[2018-04-23 16:12] jonathanolson commented on #770
Hmm, it looks like with the workaround to prevent the passive events, on my iPhone it's possible to get this layout on reload (only while starting on landscape):

![img_6927](https://user-images.githubusercontent.com/480878/39139037-35d71fd8-46de-11e8-9c11-b729a29b6055.PNG)

Swapping portrait/landscape fixes it (and makes the top navigation bar interestingly go away completely), and it doesn't see

[2018-04-23 16:19] kathy-phet commented on #770
FYI - in iOS, the top nav bar has been going away upon rotate for quite a while, so it has been possible to go "full screen" in a way. However, some controls are close to the top edge and then cause the nav bar to come back. If that happens, I just rotate back and forth to get back to full screen.

[2018-04-23 16:39] jonathanolson commented on #770
Maintenance-patched version of acid-base-solutions: https://bayes.colorado.edu/dev/html/acid-base-solutions/1.2.12-rc.3/acid-base-solutions_en.html

If that's a problem on an iPad, I'm not sure users would know (or want) to do that as a workaround. I feel investigating a fix for this behavior might be helpful in general. Thoughts?

[2018-04-23 18:27] jonathanolson commented on #770
In addition to the acid-base-solutions patch above, I'll be patching:

[code]

with Scenery versions sorted by date:
[code]
(total of 41 Scenery SHAs that will be patched).

[2018-04-23 19:29] zepumph commented on #746
The file size is now 1786 lines.
I moved helper functions to `AccessibilityUtil`, and put the `invalidateAccessibleContent` method into its own file.

I could remove another 250ish lines by moving the scenery-internal/private functions to their own file, but I don't think we need to.
They are still part of the accessibility trait, so they would be added to Accessibility's prototype that is then ad

[2018-04-23 22:08] jonathanolson commented on #770
NOTE: I'll want to include https://github.com/phetsims/scenery/commit/ef52b4c39792a112c4949576ed31bb6f3523787c for the area-model sims.

[2018-04-23 22:54] jonathanolson commented on #770
So it looks like 6 main patches (of which there were 3-4 moderately different implementations, 2 were trivially different) were needed:

With example sims that used them (along with approximate branch dates):
[code]

[2018-04-24 00:47] jonathanolson commented on #770
QA issue: https://github.com/phetsims/QA/issues/117

[2018-04-24 01:55] jonathanolson commented on #773
I'm not too concerned, since this is scenery-internal. It looks like shared behavior that factors code out, basically taking the two steps Node => AccessibleInstance and AccessibleInstance => AccessiblePeer into one step.

[2018-04-24 07:49] jessegreenberg commented on #773
@zepumph here is one idea for an alternative.

[code]

[code]

Could also consider something different like specific functions for each callback passed to `updateAccessiblePeers`.

[2018-04-26 16:05] jonathanolson commented on #250
Same this week. Will probably get things fit in over the next week.

[2018-04-26 16:52] zepumph opened #774 "Add a11y test: cannot set inner content on input"
This should assert out:
[code]

So I want to add a test that exploits that.

[2018-04-26 17:00] zepumph commented on #774
@jessegreenberg I'm a little worried that I'm being short sighted, and that we can't assert here. What do you think? Please review.

[2018-04-26 17:16] pixelzoom commented on #131
4/26/18 dev meeting, noted while discussing https://github.com/phetsims/capacitor-lab-basics/issues/214.

DragListener is ready for general use, will make fixes and improvements as needed.

[2018-04-26 17:58] jonathanolson commented on #578
Node using Property for all values is probably not workable, as the memory footprint of Property is a lot. A quick ballpark of adding 24 Properties per Node (initialized to null) increased Area Model: Algebra's memory usage from 65MB to 122MB, and it was significantly slower to launch.

Emitter usage is probably the better way to go long-term.

[2018-04-27 21:56] jonathanolson commented on #770
Looks like build-server failed out on at least one sim. Links that I'll be checking:

- [ ] https://phet.colorado.edu/sims/html/acid-base-solutions/1.2.12/acid-base-solutions_en.html
- [ ] https://phet.colorado.edu/sims/html/area-builder/1.1.7/area-builder_en.html
- [ ] https://phet.colorado.edu/sims/html/arithmetic/1.0.11/arithmetic_en.html
- [ ] https://phet.colorado.edu/sims/html/atomic-interac

[2018-04-27 21:59] jonathanolson commented on #770
Uhh weird, molecule-shapes-basics exists on the production server, but I received the failure in an email:
[code]

[2018-04-27 22:00] jonathanolson commented on #770
Live version on the site for molecule-shapes-basics is not updated. So checking for the presence of the sim on the website doesn't look like enough.

[2018-04-27 22:15] jonathanolson commented on #770
Looks like molecule-shapes-basics is the only one it failed on. Checking logs.

[2018-04-30 16:30] pixelzoom opened #775 "Accessibility lacks memory management"
Accessibility has a couple of memory management deficiencies:

(1) It also no `dispose` function, where (ala Property and other PhET common components) listeners should be cleared.

(2) It has `addAccessibleInputListener` and `removeAccessibleInputListener`, but no `hasAccessibleInputListener`.   So depending on ordering of operations, a listener can be tricky to remove.  Dispose code should gener

[2018-04-30 16:33] pixelzoom commented on #775
(3) Example all client code that uses `addAccessibleInputListener` and determine whether a `dispose` call is needed.

(4) Examine all client code that uses `removeAccessibleInputListener` and determine whether `hasAccessibleInputListener` check is needed.

[2018-04-30 16:45] mattpen commented on #770
@jonathanolson - I was not able to recreate that behavior.  When I ran the same command you posted above the build finished successfully.  http://phet.colorado.edu/sims/html/molecule-shapes-basics/latest

The .rsync-filter is not present in the deployed directory, and is intentionally created in the build directory.

I've opened phetsims/perennial#90 to track this bug, but this deploy should be go

[2018-04-30 19:46] zepumph opened #776 "What inputType validation should we have?"
From https://github.com/phetsims/a11y-research/issues/22#issuecomment-385186483 @terracoda reviewed the docs with the following comment:

Does the input have a default type?
If not, I think it should, or it should be required that a type be included.

Currently we only allow setting the "type" attribute from the `Node._inputType` value if the `tagName` is `input`, but we don't assert anywhere abou

[2018-04-30 22:17] zepumph commented on #772
updating `doc/accessibility.html` has been covered by https://github.com/phetsims/a11y-research/issues/22. Not sure yet what to do about `accessibility/accessibility-documentation.html`. I think I want to delete it.

[2018-04-30 22:43] jonathanolson commented on #770
Weird, thanks!

Since that completes the maintenance releases for this, I'm closing the issue.

[2018-04-30 22:43] #770 closed

[2018-05-01 16:16] #772 closed

[2018-05-01 18:19] zepumph opened #777 "Developer feedback on /doc/accessibility.html"
From phetsims/a11y-research#22, this issue is to track any issues that developers may have with this documentation. Developers are also welcome to add to/edit the document directly, and this issue can be committed against.

[2018-05-01 18:49] jessegreenberg commented on #776
Mutation and options does make this tricky, and `invalidateAccessibleContent` is called right after setting tagName so on initialization inputType will always be null. If we have a default, it would be propagated to a new primary element if tagName is changed to something other than `input`. Client would have to explicitly set as null in this case.

Maybe HTML validation should not be added to the

[2018-05-01 21:27] jessegreenberg commented on #775
I don't see checks like this in dispose code very often. Is Dialog an example of where this should be added? Why? Should `hasListener` checks be added around the other listener removals in Dialog's `disposeDialog`?

[2018-05-01 21:28] jessegreenberg commented on #775
(3) in https://github.com/phetsims/scenery/issues/775#issuecomment-385453779 was recently done for https://github.com/phetsims/scenery/issues/775.

Back to  @pixelzoom to  make sure I understand, then Ill continue with (4) of https://github.com/phetsims/scenery/issues/775#issuecomment-385453779

[2018-05-01 21:50] pixelzoom commented on #775
@jessegreenberg said:

Most `dispose` functions contain an implicit ordering dependency.  If a client passes your component a Property and you `link` to it, you can't simply `unlink` it in `dispose`.  You have to verify that you're still linked to it (using `hasListener`) before calling `unlink`.  The client may have called dispose on the Property before calling dispose on your component.  And Pro

[2018-05-01 21:54] zepumph commented on #776
Do you mean some sort of tool in which we fuzz a sim, and validate the pDOM every frame to make sure it is "legal" (whatever metric we decide that means)?

[2018-05-01 22:00] pixelzoom commented on #775
@jessegreenberg asked:

Yes. See example above.

Yes.  Planning to do this for Dialog when addressing https://github.com/phetsims/joist/issues/366 and https://github.com/phetsims/joist/issues/357.

And I'll bet that most of the `dispose` implementations in PhET code have one or more cases where they will fail depending on the order of disposal.

[2018-05-01 22:07] jessegreenberg commented on #774
@zepumph this seems like a nice addition because you made it order independent. I added another unit test to verify this in the above commit.

Somewhat unrelated question - why is the `window.assert` check necessary for `assert.throws`?

[2018-05-01 22:12] jessegreenberg commented on #775
Got it, thanks for clarifying.

[2018-05-01 22:35] zepumph commented on #774
Your test looks great, thanks

`window.assert` has to be enabled for https://github.com/phetsims/scenery/commit/d6a2e4e2ed5056861364220cc38e57fa24669738#diff-4c02f0f3f2f29e4d3ab2c1d6a4970c3cR816 this line to trigger. So if `window.assert` isn't defined, then the `assert.throws` actually won't throw an error, so don't run the test.

[2018-05-02 01:41] samreid opened #1776 "Consider using a templating library that will give more flexibility in writing HTML fragments directly"
Currently a11y is hard-coded to use 4 peers per Node, specified like so:

[code]

I wonder if it would give us more control/flexibility/readability/maintainability to use a JSX style representation in the simulation code:

[code]

I'm presuming scenery would still assign and maintain `tabindex` and `id`.

Potential drawbacks of a JSX approach are:
1. Needing a new transformation step during builds

[2018-05-02 01:42] samreid commented on #777
I committed a few typo fixes, but forgot to link them here.

[2018-05-02 01:42] samreid commented on #777
⬆️ there is another one

[2018-05-02 17:28] jessegreenberg commented on #776
Yes, that sounds nice. I still think it is good to add checks for "gotchas" where possible in the trait. But the flexibility of the API makes it tricky to catch things because the HTML could be broken in the middle of a particular callback/instantiation. But the HTML would presumably be valid each frame.

[2018-05-02 18:38] zepumph commented on #777
@pixelzoom @jessegreenberg and @zepumph talked about confusion in terminology, and the following slack took place:

I discussed terminology with @jessegreenberg and @mjkauzmann on Zoom. Let me see if I can summarize for the benefit of others… Each Node has an AccessiblePeer (aka “peer”) that manages the HTML DOM elements (aka  “tags”) that are related to that Node in the PDOM.   A Node has one or

[2018-05-03 15:09] terracoda commented on #776
@zepumph and @jessegreenberg I am fine with any method for validating the HTML for the PDOM. It would be great if the process is some-what automated.

I do it by hand on my mock-ups with the the [W3C validator](https://validator.w3.org/). It is not only a good practice, it is a a great way to really learn how to write valid HTML and aria.

[2018-05-03 16:47] jessegreenberg commented on #774
I understand now, thanks!

[2018-05-03 16:47] #774 closed

[2018-05-06 03:40] Denz1994 commented on #250
M&S is no longer using .toImage(). Instead .toDataURL() is being used.

[2018-05-07 20:35] pixelzoom opened #778 "support copy-paste from documentation"
Scenery documentation currently doesn't support copy-paste. This made it difficult to share examples in Slack while discussing a11y documentation.

[2018-05-07 23:09] samreid opened #779 "Automatic testing for focus order?"
The design for focus order is given like so (example is from color vision):

* Flashlight button
* Bulb color slider
* Bulb color radio group
* Light source view radio group
* Filter toggle
* Filter color slider
* Head view radio group
* Play/Pause button
* Step button
* Reset All, button
* Home Screen, button
* Single Bulb Screen, button
* RGB Bulbs, button
* Keyboard Shortcuts, button
* PhET Men

[2018-05-07 23:10] samreid commented on #779
Related question: would it be possible to display the focus order in the a11y-view?  (Or maybe it already does?) . That seems like it would be a useful thing.

[2018-05-07 23:15] samreid commented on #779
Related question 2.0: If we can show the focus order in the a11y-view, can we make it a user-sortable list, and use that as a UI for setting the accessible order in the sim?  (Hence making the a11y-view a design tool rather than a readout).  To be specific, the a11y-view would display the current focus order, and after the designer re-sorts the order using the UI, the designer can save a "metadata

[2018-05-08 17:21] samreid opened #780 "Factor out xss handling"
This is duplicated in several places:

[code]

Can it be factored out?

Discovered in https://github.com/phetsims/color-vision/issues/121#event-1615694758

Moving them to the true translation files would be even better, if we are doing that soon.

[2018-05-08 21:36] jessegreenberg opened #781 "Brainstorm workarounds for encapsulation breaking a11y changes"
During the PhET a11y sprint, concerns were raised about breaking encapsulation when setting accessible orders because you may need to reach deep into view implementation to grab Nodes to reference when specifying order at a higher level (like the ScreenView).

We did some brainstorming and discussed potentially:
- A global ordering system, managed by scenery.
- Using an ID system to reference a no

[2018-05-09 15:41] mbarlow12 opened #782 "Responsible dev for a11y in common code components"
From https://github.com/phetsims/color-vision/issues/121, in Color Vision, we discovered that the OnOffSwitch had no a11y implementation. As we expand our a11y tooling and encounter common components that are unimplemented, it begs the question as to who is responsible for those instances.

Just tracking discussion & decisions. Marked for a11y-dev meeting.

[2018-05-09 19:43] zepumph opened #783 "Add PhET AccessibleOrder protocol to the documenation"
From a11y sprint discussion today, this is how we want to handle managing a11y order vs rendering order. If an item won't work, then we try the next thing on the list:

1. code it up, see if order is correct.  If not
2. change z-order to get the order correct, if there is not an overriding constraint from the visible rendering order, if not
3. discuss with the design team to inform them the order

[2018-05-09 19:44] zepumph commented on #783
Thanks @samreid for creating this list.

[2018-05-09 20:06] jessegreenberg commented on #782
I would say this is more of a management question that should be discussed with @emily-phet and  @ariel-phet. In the long run, I would hope that the development team is comfortable instrumenting common code components, but I am not sure where we are now. A related question is should developers make a best guess about the most accessible HTML? Or do we need more rigorous design time?

[2018-05-11 22:56] zepumph commented on #607
This relates highly to our work during this week's a11y sprint. Adding to a11y meeting.

[2018-05-12 05:00] samreid opened #784 "branch: a11y-tree"
Today we discussed branch a11y-tree, so I thought I'd create an issue for it (I didn't see one, perhaps I just missed it).  I also wanted to mention that @zepumph said my commits from today that reordered the Accessibility.js options caused some breaking behavior downstream.  I noticed that Rutherford Scattering, in particular seemed to now fail in this branch, but is OK in master.  I didn't check

[2018-05-12 05:04] samreid commented on #148
@jessegreenberg can we close this issue and continue in https://github.com/phetsims/scenery/issues/41 ?

[2018-05-12 05:06] samreid commented on #193
@phet-steele @ariel-phet @lmulhall-phet @jonathanolson have we had any kerning problems during QA lately?  I'm not aware of any and I'm inclined to close this issue.

[2018-05-12 05:13] samreid commented on #248
I noticed the MDN docs for this still need some work:
https://developer.mozilla.org/en-US/docs/Web/WebDriver

![image](https://user-images.githubusercontent.com/679486/39953807-c8bb8aaa-5570-11e8-992f-30da7d543026.png)

[2018-05-14 15:59] emily-phet commented on #782
I'll be meeting with @ariel-phet and @kathy-phet today, and will bring this issue up.

[2018-05-14 16:33] zepumph commented on #784
I think it is from the option order. Right now tagName should be first. I'll make an issue for that.

[2018-05-14 16:34] zepumph opened #785 "Support any option order in A11y api"
From https://github.com/phetsims/scenery/issues/784,

if the `tagName` option isn't first, then `invalidateAccessibleContent` will break because there is no null check on that option. I'll take care of this in master.

[2018-05-14 17:08] jessegreenberg commented on #148
After reviewing phetsims/joist#58, that sounds good to me. Thanks @samreid.

[2018-05-14 17:08] #148 closed

[2018-05-14 17:45] jonathanolson opened #786 "setAccessibleOrder stores the array reference"
This can potentially expose hard-to-identify bugs in client code, for example:
[code]

Is currently a client bug (both nodes will point to the same array for accessibleOrder, AND any modification to the accessibleOrder after it is set will break things).

A safer way to do this would be more like how `children` is handled, e.g. in setAccessibleOrder
[code]
OR the possibly-more-performant:
[code]

[2018-05-14 17:51] jonathanolson opened #787 "Preventing cyclic/reversed accessibleOrder cases"
Originally we had proposed that this would technically work, where for a tree:
[code]
you could set:
[code]
resulting in the a11y tree:
[code]
(reversing c and b).

It turns out that handling this case would significantly increase the complexity (and moderately lower performance) for the tree remapping code. If we assume this is NOT allowed, then any order/child change does NOT affect the ancestor

[2018-05-14 17:52] jonathanolson commented on #787
Specifically, this would outlaw the general case where `node.accessibleOrder` contains an ancestor of `node` (or node itself).

[2018-05-14 17:57] zepumph commented on #786
I agree that your client code above is buggy, and we don't want to support references. I defer to your judgment as to how to handle it, both solutions seem fine to me, as I can't speak to the performance of each.

[2018-05-14 17:59] zepumph commented on #787
+1 to outlaw. I can't think of a use case where we want to do this, and even if there was, it seems like the performance/implementation time constraints outlined above are enough of a deterrent to vote a hard "no".

[2018-05-14 18:12] jonathanolson opened #788 ""Guessing" visual trails for a11y instances"
Ran into this later in the a11y-tree implementation, where basically we have a scene graph like:
[code]
with `d.accessibleOrder = [ c ]`, thus resulting in the a11y tree:
[code]
This means that the Trail used for c's AccessibleInstance is basically `[ a, d, c ]`. This presents issues with things like FocusOverlay (which want visual trails, i.e. trails that have the proper transform so it can posit

[2018-05-14 18:13] jonathanolson commented on #786
Thanks, I'll opt for the 2nd one out-of-the-box (it doesn't create a new Array, so theoretically should be best).

[2018-05-14 18:13] jonathanolson commented on #786
Actually I take that back, we need access to the old order to properly compute things. Slice it is.

[2018-05-14 18:15] jonathanolson commented on #786
Implemented in the above commit, closing.

[2018-05-14 18:15] #786 closed

[2018-05-14 18:17] jonathanolson commented on #787
Assigning myself to add assertions.

The improper case can happen as a result of `accessibleOrder` or `addChild`, so assertions may need to do some traversal.

[2018-05-14 18:20] jonathanolson opened #789 "Improve setChildren/moveToFront/etc."
Operations that have the potential to "reorder" children are currently removing and then adding them back. This results in a lot of unnecessary computation, PARTICULARLY if the new children array is identical (and may result in parallel DOM regeneration).

In general for performance, isolating the "reordered" child case should help.

[2018-05-14 18:25] jonathanolson opened #790 "Should null be the default accessibleOrder?"
Besides lineDash, it's generally a Scenery convention to have the default "no value" be `null`.

Currently, when checking to see if an accessibleOrder is set, we need to check the length (and zero-length is treated as "no order). Internally, we could definitely use a factored out hasAccessibleOrder function.

But client-side, does it make more sense (in order to clear an accessibleOrder) to have:

[2018-05-14 18:30] jonathanolson commented on #746
@jessegreenberg and @zepumph, I added code for keeping node._accessibleDisplays correct directly in Accessibility.js. This would be possible to move out into a separate file (basically a type used with composition), similar to Picker or RendererSummary (which are created for every node, but try to isolate the logic for their behavior).

Should I extract code relevant to _accessibleDisplays into a

[2018-05-14 18:30] jonathanolson commented on #746
(note, this is in the a11y-tree branch).

[2018-05-14 18:37] jonathanolson opened #791 "isFocused only checks first accessible instance"
Currently it does:
[code]

Can we change this to something that checks all accessible instances, e.g.:
[code]

[2018-05-14 19:36] jonathanolson opened #792 "AccessiblePeer pooling?"
AccessiblePeer looks to call freeToPool() if it exists in disposal, which indicates it supports pooling. However I can't find (so far) a case where pooling is used for this case.

Are we pooling AccessiblePeers at all, and if not, should we be (for memory usage)? If we are not subtyping AccessiblePeer, then presumably we can pool all AccessiblePeers and get a performance/GC improvement?

[2018-05-14 19:37] jonathanolson commented on #792
Also a note if we are pooling ever: childContainerElement seems to be reused from the last-pooled, so that it could cause buggy behavior if pooling is happening. If we do pool, it should release its reference to the old childContainerElement (and ideally other references).

[2018-05-14 20:05] zepumph commented on #790
Seems fine to me either way. Setting it back to `null` to clear the options it is idiomatic to the `*tagName` options and how to clear that content from the PDOM.

[2018-05-14 20:06] zepumph commented on #746
+1 for different file.

[2018-05-14 20:08] zepumph commented on #791
I think there is a problem with this. @jessegreenberg can speak to this more. But you can only have a single item focused on a web page. So when dealing with focusable items, we don't support DAG features. There should definitely be an assert there though.

[2018-05-14 20:15] zepumph commented on #788
Let's talk about this tomorrow, I'm not sure I understood the above fully.

[2018-05-14 21:50] jonathanolson commented on #791
Briefly discussed with @zepumph via zoom. We're only having one Trail be focusable at a time, but if you have two copies of something focusable (via DAG) and the second one is focused, you want isFocused() to still return true.

I'll plan to apply the above change, and I'll create another issue to discuss potential support improvements for DAG usage (which is probably not terribly likely to be use

[2018-05-14 21:51] jonathanolson commented on #791
Applied to the branch, closing.

[2018-05-14 21:51] #791 closed

[2018-05-14 21:55] jonathanolson opened #793 "Design for potential A11y DAG usage"
It looks like acessible input listeners don't get passed the trail/peer/instance, only the raw DOM event. This means if you have a focusable node with two copies (via DAG), it is not easy to figure out which "copy" an event is meant for, e.g.:

[code]
(in the Scenery playground). The keydown only receives a domEvent. We could potentially:

1. Pass a 2nd parameter through that helps indicate which

[2018-05-14 21:59] jonathanolson commented on #746
Assigning myself for that implementation.

[2018-05-14 23:27] jessegreenberg commented on #790
If `null` is supported, both
[code]
would be supported client-side, right? It seems fine to use that here. @jonathanolson if this change would fall nicely into the a11y-tree branch that is great, otherwise please re-assign to one of us to make the change.

[2018-05-14 23:47] jessegreenberg commented on #793
Sorry @jonathanolson I don't fully understand the problem. The DOM Event is handled by the browser, and `event.target` is the primary sibling of the AccessiblePeer that received the event. We don't do any other processing of scenery accessibility events. Why do we need to know which AccessibleInstance the event was intended for?

[2018-05-15 00:00] jessegreenberg commented on #792
To my knowledge We are not pooling AccessiblePeers at all. @zepumph are you aware of any pooling of AccessiblePeers? There are no subtypes of AccessiblePeer so we can use pooling.

We should review childContainerElement, there is no function to set its tag name or create an element for it. It can probably be deleted.

[2018-05-15 01:28] jonathanolson commented on #792
On the a11y-tree branch: removed childContainerElement and added pooling for AccessiblePeer. Presumably this will be reviewed as part of the main tree, so closing here (@zepumph reopen if you have issues with either of those things being done).

[2018-05-15 01:28] #792 closed

[2018-05-15 01:30] jonathanolson commented on #793
I'll describe during tomorrow's call (should take less time than typing it out). Offhand though, is there a convenient way to turn a primarySibling reference into an AccessiblePeer reference? Are we using data attributes at all?

[2018-05-15 01:57] jonathanolson commented on #790
Implemented in the a11y-tree branch with the above commit. Presumably review will be included with the branch's review, closing here.

[2018-05-15 01:57] #790 closed

[2018-05-15 03:12] jonathanolson commented on #746
Implemented the move-out above (in the a11y-tree branch).

Curiously, what was supposed to be a "no-behavior-changed" group of commits actually fixed a unit test I had temporarily broken when I started the a11y-tree branch. (It's now passing after the first commit above, but wasn't before).

That... doesn't usually happen, but maybe I accidentally fixed something (or worse, caused things to silent

[2018-05-15 03:47] jonathanolson opened #794 "Node.focusable is a bit weird"
Looks like it may have been refactored from something else.

First of all, everywhere the type is documented, it's noted as `{boolean}`. It only seems to be set to a value of `null` (the default), checked vs `null` (in invalidateAccessibleContent), or is evaluated for truthyness (with works, since null => false). Let's have this be a boolean, and assert out on it? (any missing typecheck assertions

[2018-05-15 05:27] jonathanolson commented on #788
Sounds good. As a concrete example, Area Model has a vbox that is positioned on the right side of the screen. It had some items where the accessible order specified `[ vbox.something ]`, so the vbox itself was not in the AccessibleInstance trail. The focus highlights appeared on the left side of the screen (while the nodes themselves were on the right side) because it didn't apply the transform fo

[2018-05-15 05:54] jonathanolson commented on #787
So I wanted to verify the current approach would work for detecting ANY bad structure (so I can effectively fuzz a11y
commands to identify cases that the structure doesn't handle), and came up with this devious example by hand:

First, our actual scene graph:
[code]

and the breaking code:
[code]

Note that independently, `d` is NOT an ancestor of `e`, and `b` is NOT an ancestor of `f` (satisfying

[2018-05-15 05:57] jonathanolson commented on #787
Also probably good to note that the case above doesn't just define a a11y-DAG, but defines an explicit cycle (so there's totally a chance we'd infinite-loop out if you try to do it).

[2018-05-15 06:02] jonathanolson commented on #787
Because I like playing with fire, this indeed does trigger an infinite loop:
[code]

Maybe that's an argument for (a) catching this with assertions, or (b) writing code that will not infinite-loop.

[2018-05-15 07:34] jonathanolson commented on #787
There is actually a workable efficient-enough way of asserting this out. It basically can happen whenever a normal/accessible edge is added. If it cause a cycle (when there was no cycle before), it would go through the new edge. Thus doing the most efficient check (depth-first check from the parent up towards the roots, fail it if it reaches the parent again) should work (remember the trivial a.or

[2018-05-15 20:06] terracoda commented on #686
@zepumph can Scenery handle two id's for an `aria-labelledby` attribute yet?

[2018-05-15 21:04] jonathanolson commented on #788
[code]

[2018-05-15 21:14] zepumph commented on #785
I mispoke above, I see the following check:     `if ( contentDisplayed && this._tagName ) {`.

Closing.

[2018-05-15 21:14] #785 closed

[2018-05-15 21:40] jonathanolson commented on #669
<img width="811" alt="screen shot 2018-04-20 at 6 21 38 pm" src="https://user-images.githubusercontent.com/480878/40084973-2ab5b9e6-5856-11e8-8481-31fc2044340b.png">

Notes for determining visibility based on parent-child and accessibleOrder relationships. Red are parent-child edges that are "removed" due to orders, and blue are accessibleOrder relationships.

[2018-05-15 22:09] jonathanolson commented on #794
Discussion notes:
[code]

so basically going with `focusable: {boolean|null}` as a SETTER, but the getter is always `{boolean}`. Similar to Node.setLocalBounds / Node.getLocalBounds.

Assigning @zepumph for implementation.

[2018-05-16 00:41] zepumph commented on #686
It cannot, but we have not updated the `aria-labelledby` or `aria-describedby` apis yet, please see https://github.com/phetsims/scenery/issues/701 for that issue. Feel free to add comments and capability suggestions.

[2018-05-16 02:10] jonathanolson commented on #669
Extended notes:
[code]

[2018-05-16 15:55] terracoda commented on #686
@zepumph, thanks, I needed the issue number.

[2018-05-16 23:52] jonathanolson commented on #250
After the a11y-tree work I'll plan to have more done on this.

[2018-05-17 00:40] jessegreenberg opened #795 "Improve Accessibility.js API"
We discussed potential ways to improve the API of Accessibility.js to make it so that the developer doesn't have to worry about the HTML in many cases. We are outlining the possibilities we discussed here. These would be added to Accessibility.js so  it is possible to specify these for a Node. Other options are available in the cases where we need more direct control of the HTML for accessibility.

[2018-05-17 00:46] jessegreenberg commented on #715
This has been discussed more lately, lets reopen! This would be a nice enhancement and make debugging the PDOM easier.

[2018-05-17 00:55] mbarlow12 opened #796 "Allow accessible options to accept Property types"
In our discussion of the API improvement, we realized the utility of passing Properties into the descriptive options/methods. This would allow a simpler implementation in cases where the content of a given PDOM element needs to be dynamic.

This would need to be restricted to `Property.<string>` or possibly `Property.<number>`.

For example, setting the description element on a given node might lo

[2018-05-17 01:47] terracoda commented on #715
@zepumph, could you clarify a little more on what you mean by "won't fix"?

I am total support of having as few div containers as possible and much more human readable HTML.

And for the record, I have gently complained about the extra divs ;-)

[2018-05-17 01:49] terracoda commented on #715
Oh, I see, @zepumph, your comment is oldish, and @jessegreenberg just re-opened and re-assigned ;-) Good things come to those who wait! I will practice some more patience.

[2018-05-17 17:52] mbarlow12 commented on #699
@jessegreenberg @zepumph I thought I'd bump this issue. It seems like something in this vein might be useful as we abstract away the lower level API features.

[2018-05-17 18:35] jonathanolson commented on #250
I'll respond to @jbphet's comment above.

[2018-05-17 19:59] jessegreenberg commented on #701
Adding high priority, I am seeing aria-labelledby is showing up more frequently in design docs.

[2018-05-17 23:26] jessegreenberg commented on #456
This issue has surfaced again in https://github.com/phetsims/balloons-and-static-electricity/issues/406.

In Firefox only, the "Report a Problem" and "PhET Website" PhET menu buttons are throwing this assertion when clicked. @jonathanolson I am not sure if the problem is in scenery or joist this time, but I thought I would post here.

[2018-05-18 18:14] ariel-phet commented on #193
@lmulhall-phet please do a quick check (or delegate) a quick check in the nearish future. If all looks good, feel free to close. If not reassign to me.

[2018-05-18 20:09] lmulhall-phet commented on #193
The space between the M and the o in "Motion" is not normal.
![screenshot 2018-05-18 at 1 39 36 pm](https://user-images.githubusercontent.com/31285590/40255494-92e5a4b8-5aa4-11e8-9568-6bc4a2412fb2.png)
Taken on Chadwick. This is in the HTML5 version of ESPB on the website. Will post a comparison picture from Chrome on macOS.

[2018-05-18 20:11] lmulhall-phet commented on #193
Here is it is on Chrome/macOS...
![screen shot 2018-05-18 at 2 10 01 pm](https://user-images.githubusercontent.com/31285590/40255708-558ff1da-5aa5-11e8-8085-02831e328b83.png)

[2018-05-21 20:42] lmulhall-phet commented on #193
OK, here's what it looks like in the Chrome app...
![screenshot 2018-05-21 at 2 34 22 pm](https://user-images.githubusercontent.com/31285590/40328779-c8224b92-5d04-11e8-8624-1b5e835e6673.png)

And here's what Bending Light looks like on the website...
![screenshot 2018-05-21 at 2 35 52 pm](https://user-images.githubusercontent.com/31285590/40328790-d8a0a7f2-5d04-11e8-8f22-c0cac7eaaf79.png)
![scree

[2018-05-21 21:02] ariel-phet commented on #193
Thanks @lmulhall-phet!

Agreed that things are a tad off using Chrome on Chromebook but the issues no longer seem egregious enough to warrant much attention.

@lmulhall-phet if you see anything in testing that you feel is illegible or confusing or chromebook, please open a new issue specifically about kerning issues on Chromebook. Closing this issue for now.

[2018-05-21 21:02] #193 closed

[2018-05-22 03:55] jonathanolson opened #797 "A11y view iframe doesn't include scrolling="no""
Just noticed this after somehow triggering something to scroll (just by keyboard navigation) during testing:

<img width="332" alt="screen shot 2018-05-21 at 9 52 50 pm" src="https://user-images.githubusercontent.com/480878/40341292-8b62598a-5d41-11e8-8cd3-96c64a1e91a1.png">

The usual solution would be to put `scrolling="no"` in the iframe (as we should have for basically every iframe pointing to

[2018-05-22 04:59] jonathanolson commented on #784
Thanks!

Merged into master, closing.

[2018-05-22 05:04] jonathanolson opened #798 "A11y guards and type checks"
There are some a11y setters that could benefit from guards (don't rebuild/change things if the value didn't ACTUALLY change) and type checks (asserts). This should enhance performance, and will catch bugs earlier.

For instance, to augment the current version of setAriaLabel:
[code]

it could be enhanced with:
[code]

[2018-05-22 05:12] jonathanolson opened #799 "A11y hidden performance improvements"
The current implementation of a11y visibility handling (given tree remapping) had some flaws in reasoning (mine) that result in it being "correct", but sets `hidden:true` on way too many peer elements, and propagates information more than should be needed.

Main notes for implementation:

Diagram: https://github.com/phetsims/scenery/issues/669#issuecomment-389322428
Brainstorming notes: https://gi

[2018-05-22 05:13] jonathanolson commented on #669
I'm going to track the implementation of performance improvements for visibility tracking in https://github.com/phetsims/scenery/issues/799 (don't want to rename this issue, as there's lots of other good discussion).

@jessegreenberg is there anything else here that should be handled?

[2018-05-22 05:19] jonathanolson commented on #799
Also some old notes related to the issue (for the current implementation):
[code]

[2018-05-23 00:29] zepumph commented on #606
From slack today, it looks like @jonathanolson is going to implement a `fuzzInput`, and we will want to integrate this set of features for keyboard into that.

[2018-05-23 06:13] jonathanolson commented on #401
Added `?fuzzTouch` query parameter (behaves similarly to `?fuzzMouse` but with touches). Both of those query parameters can be used together.

Also added `?fuzzPointers={number}`, where you can set how many "active" pointers can be used at a time with fuzzing. It defaults to 1 (so it essentially alternates between using the mouse and touches if both are enabled), and larger values can enable multi

[2018-05-23 17:57] jonathanolson commented on #797
Implemented, closing.

[2018-05-23 17:57] #797 closed

[2018-05-23 21:37] zepumph opened #800 "invalidateAccessibleContent should not call setter functions from a11y trait"
From https://github.com/phetsims/scenery/issues/798, I found that we can't set guards on `setLabelContent` and others like it because the client isn't the only place that calls this, it is also called in invalidateAccessibleContent.

To me this seems like a solution that was fine, but not optimal, because `setLabelContent` needs to have the same logic in `updateAccessiblePeers` as is in the peer c

[2018-05-23 21:42] zepumph commented on #800
Basically this will effect any function in the a11y trait that uses `updateAccessiblePeer`, as it is likely called by `invalidateAccesiblePeer`. `inputType` is also a culprit of this antipattern.

To reiterate, I think that the main two problems here are (1) sloppiness/maintainability, and (2) more pertinent to current work, we can't guard as heavily in the setters because they are being used for

[2018-05-23 22:04] zepumph commented on #798
Added asserts in the above commit, the rest will be handled by #800.

Tested with scenery tests, a11y and normal fuzzing, and looking at a few a11y views.

Closing

[2018-05-23 22:04] #798 closed

[2018-05-23 22:13] jbphet commented on #401
Is the question whether to add it to CT?  If so, seems like it would be great as long as it doesn't cause way longer test cycles or false 'broken' indications, and doesn't do a bunch of multi-touch testing (it'd be like an automated @phet-steele!).  The more test coverage the better.

[2018-05-24 00:30] zepumph commented on #701
@mbarlow12  and I talked about this today. We springboarded off of the above static function for setting aria-labelledby.

in #795 we may very well go with an `accessibleName` setter, that knows how to set an accessible name for a node. This could potentially set html content on different html elements depending on what the node's HTML representation is. Thus, to have a similarly abstracted api fo

[2018-05-24 01:29] zepumph commented on #794
Implemented above. @jessegreenberg please take a look. The main piece to notice is that I redefined what a "default focusable" element is at it pertains to the focusable api. I found a nice list of types that I used (https://stackoverflow.com/questions/1599660/which-html-elements-can-receive-focus) to get a nice default. Please review.

[2018-05-24 07:32] jonathanolson commented on #401
Yes, ideally we'd run `?fuzzMouse&fuzzTouch` for CT, which does NOT do multitouch, but does run both mouse and touch events (not at the same time).

The code that creates touch events synthetically should probably first be tested on supported browsers, since it's something that is likely to break on some platforms.

I don't think it would cause longer test cycles, and it would usually just switch

[2018-05-24 08:38] jonathanolson commented on #795
I think it will be valuable to talk a bit in person about this, but in general these feel a bit more like helper functions than abstractions.

I'm not sure if this is the intended purpose, but as coded above there are multiple "order of operation" issues. What happens if I specify an accessibleName before tagName (does this code belong in invalidateAccessibleContent)? setHeadingStructure would usu

[2018-05-24 08:49] jonathanolson commented on #794
Just curious, why the `instanceof window[ ... ]` checks (and the extra slow DOM operation) instead of checking the tagName? Are there inherited cases (I'm unaware of) where we need the instanceof? Also worth checking if those globals are defined on IE11.

[2018-05-24 13:19] samreid commented on #795
I agree with @jonathanolson's comments and questions, and additionally wanted to mention I don't really understand `setHeadingStructure` or where/why it would be used.  Also, when we talked about making it "so that the developer doesn't have to worry about the HTML in many cases", I pictured this more at a component level, such as e.g., ComboBox would have ComboBox-specific options that ComboBox.j

[2018-05-24 17:04] jonathanolson opened #801 "Master unit tests broken"
Looks a11y-related, @zepumph can you check recent changes?

[2018-05-24 17:21] jessegreenberg commented on #795
Yes, that is the direction we were going here. We considered another style that felt more like abstraction, but it felt too heavy. This approach would let us use these helper functions everywhere without requiring building blocks.

Changing `tagName` would update the way the accessible name is set. invalidateAccessibleContent would handle this.

The benefit is that devs don't have to fully underst

[2018-05-24 17:36] zepumph commented on #794
When I committed last night, I thought things were working, but they are not, as seen by https://github.com/phetsims/scenery/issues/801, I'll keep looking at this.

[2018-05-24 17:36] zepumph commented on #801
Thanks! Handled in https://github.com/phetsims/scenery/issues/794.

[2018-05-24 17:36] #801 closed

[2018-05-24 17:56] jbphet opened #802 "Add an emitter that fires on user interactions"
The Chrome browser is making a change that will prevent autoplay of audio when a web page loads (see https://developers.google.com/web/updates/2017/09/autoplay-policy-changes).  This is great for users in general, because it prevents those annoying auto-play videos from making sound, but this unfortunately prevents audio from working in our simulations.

One possible solution to this issue is to w

[2018-05-24 19:36] jonathanolson commented on #802
Implemented, just import `Display` and grab the emitter off of it.

[2018-05-24 19:54] zepumph commented on #794
I agree! I converted the types to text tag names, and I like the implementation better now, would you please review @jonathanolson at earliest convenience. Tests and fuzzes are now passing.

[2018-05-24 19:55] zepumph commented on #794
Oh sorry, I mean @jessegreenberg.

[2018-05-24 20:27] jbphet commented on #802
@jonathanolson and I were just talking and messaging about how this will work in conjunction with touch events.  Here is something he said, which we should have a record of:

so the John Travoltage case may be an issue
I recall the suggestion that we pop up something in the corner if the context is suspended like YouTube kind of does (i.e. “unmute video”), we might want to include that as part of

[2018-05-24 20:32] zepumph commented on #779
We will get to it in the meeting, but not before.

[2018-05-24 21:12] jessegreenberg commented on #779
I tinkered with this a little. We would have to have the sim Display up and running to verify order of the PDOM, may require some hacking of QUnit to figure that out.

We would also need to specify the order somehow, maybe by Node reference in the automated test, so maybe we need a way to lookup Node from PDOM element?

Those are the big questions for me, but I won't be able to work on this for so

[2018-05-24 21:30] jessegreenberg commented on #780
Would be very nice to factor this out, lets wait until we hear from https://github.com/phetsims/rosetta/issues/193. In that issue  we might delete all SimAllyStrings.js files anyway.

[2018-05-24 21:34] jessegreenberg commented on #796
This sounds really nice, and would match the convenient scenery convention that  does this for other things like fill and stroke.

[2018-05-24 21:46] jessegreenberg commented on #800
@zepumph this sounds nice to me. As another enhancement, instead of `AccessibilityUtil.setLabelForPeer`, maybe AccessiblePeer should take responsibility  for updating its HTMLElements. So instead, we could have instance functions like
[code]

[2018-05-24 23:04] zepumph commented on #800
Sounds good.

[2018-05-25 00:16] zepumph commented on #795
TLDR: On a side note—not sure if we need an example of how nice it would be to abstract , but in https://github.com/phetsims/area-model-common/issues/150#issuecomment-391889979:

Devs in sims need to currently know exactly how the common code item is setting it's accessible name, so that they use those specific options.

[2018-05-25 03:52] zepumph commented on #800
I made AccessiblePeer responsible for setting content on its own html elements. They all use the same `A11yUtils` method for setting the content. I also simplified the logic of how we determine whether to use `textContent` or `innerHTML`.

Fuzz tests and a11y tests are passing. Thanks @jonathanolson for working on fixing some pieces of the scenery unit tests tonight to make this issue much easier

[2018-05-25 04:22] jonathanolson opened #803 "Proper mouse multi-button workarounds"
So https://github.com/phetsims/resistance-in-a-wire/issues/147 brings up an interesting case where we can actually NOT receive a pointerup event for a pointerdown when pressing left/right mouse buttons (probably due to the context menu).

We CAN get the lostpointercapture event (which also triggers after usual ups). So we could theoretically:

- When we get lostpointercapture while it's a touch/pe

[2018-05-25 15:56] pixelzoom opened #804 "missing visibility annotations in SimpleDragHandler"
Noted while working on https://github.com/phetsims/equality-explorer/issues/97 and https://github.com/phetsims/equality-explorer-two-variables/issues/2.

There are missing visibility annotations for this group of fields:

[code]

And this:

[code]

And this:

[code]

For any of the above that should be `@private`, you should search the code base to verify that they are not being used.

[2018-05-25 16:07] pixelzoom opened #805 "code conventions not followed for SimpleDragHandler options"
Problems with options in SimpleDragHandler, see related code below.

(1) Missing `@param {Object} [options]` and `@constructor`.

(2) The constructor documentation for "allowed options" is our of sync with reality.

(3) And some of the document default values (e.g. `start: null`) don't exist, they are in fact `undefined`.

(4) PhET convention is to include all options in the default options hash.

[2018-05-25 16:16] pixelzoom commented on #805
I changed as shown above, tested in a couple of sims using fuzzMouse.

@jonathanolson please review.  Feel free to change the documentation for individual options if you prefer different type expressions or verbage.

[2018-05-25 16:26] pixelzoom commented on #804
I suspect that visibility should be as shown below, but I'm not certain.  See https://github.com/phetsims/energy-skate-park-basics/issues/413 regarding `this.lastPointDragged`.  And `this.node` and `this.trail` are really difficult to determine.  @jonathanolson will need to clarify the intention.

[code]

[2018-05-25 16:30] pixelzoom commented on #804
This same problem is present in ButtonListener, DownUpListener, Touch, Pen, Input, ....   It sure would be helpful for @jonathanolson to make a pass through scenery and add visibility annotations.  I'm not sure how we know the intention otherwise.

[2018-05-25 16:36] pixelzoom opened #806 "Input emitter field fails code review"
This was added to `Input` by @samreid in https://github.com/phetsims/scenery/commit/c1d6232d478df7fb437de1c913e27087a8dd5981.

[code]

Problems:

(1) No idea what this is for, or what its visibility is.  Please document.

(2) TODO should have an associated GitHub issue.

[2018-05-25 19:41] jonathanolson commented on #803
Also, we'd want to have an array of "buttons" pressed on the Mouse, instead of the three options we have now. (buttons being by number).

[2018-05-25 23:31] zepumph commented on #773
Does this seem like the right way to go? Is it even worth it? I see 14 usages of `updateAccessiblePeers` and only one of `getAccessibleInstances`. Maybe I just didn't really understand the relationship.

[2018-05-25 23:53] zepumph commented on #746
After glancing at 0e9104f, nothing looks too suspicious.

Then I checked out that commit, and the commits before and after, and ran the scenery tests each time, and got the same errors for all three runs. Here are the shas I checked out:
[code]

Especially since unit tests are passing now, I feel good closing this one. Thanks @jonathanolson for the good work. Reopen if you feel differently.

[2018-05-25 23:54] zepumph commented on #746
On second thought, I wanted a review in https://github.com/phetsims/scenery/issues/746#issuecomment-383694321. @jessegreenberg can you look at `Accessibility.js` now and see if there is anything you would change?

[2018-05-26 00:27] zepumph commented on #768
More and more it seems like this behavior is how we designed `FocusHighlightPath`. But I can't help but think that it is still maybe buggy. Look at the difference between the two radiobutton groups.

@jessegreenberg does this look incorrect to you? It is using the transform to get the line width in `FocusHighlightPath.getWidthMagnitudeFromTransform`. But the scale seems to be drastically changing

[2018-05-26 00:50] jonathanolson commented on #490
It looks like Emitter now gets a mandatory Tandem copy and everything from PhetioObject, so it weighs in at ~200 bytes. This probably means it is too heavyweight for event notification (since we'd want to create a whole bunch of them for every Node).

Also I'll want to check how emit() re-entrance works (not just changing listeners during an emit()).

[2018-05-26 02:37] jonathanolson commented on #769
This was implemented above (it's passing aqua/snapshots/unit tests).

I believe @jessegreenberg is the official RichText reviewer, assigning for review.

[2018-05-26 02:37] jonathanolson commented on #769
Also, keeping assigned so I can look into why it's not decoding the HTML entity properly.

[2018-05-26 04:44] jonathanolson opened #807 "Font tag alternative for RichText"
@samreid noted that the `<font>` tag (currently used for controlling color/face/size for a part of the text) is generally not preferred for markup. REVIEW notes reformatted:

- SR: MDN suggests "Do not use this element!" regarding the font tag for html5. "The former behavior of the `<font>` element can be achieved, and even better controlled using the CSS Fonts CSS properties." According to https:

[2018-05-26 04:46] jonathanolson commented on #807
Bah, also forgot to mention, but presumably there might be an advantage to having better markup for cases where we'd want to put the rich text into accessible labels.

[2018-05-26 04:49] jonathanolson commented on #807
The crazy part of me wants to suggest it's technically possible to turn `<button>` tags in RichText into actual sun buttons, using CSS to style the options used for the creation. Take it a step further (CSS for layout, inline JS for event handling) and we could implement an entire sim in a RichText!

[2018-05-29 19:38] zepumph commented on #803
Note that this issue is the only thing holding up a new RC (spot check) of RIAW before publication.

[2018-05-29 22:19] jonathanolson opened #808 "Pointer "area" support"
It looks like Touch Events level 2 spec defines radiusX/radiusY/rotationAngle/force for touches, and Pointer Events includes width/height. This means that, instead of thinking of a touch as an exact x,y, in these cases we can think if it as an approximate ellipse (where the finger/etc. is touching the screen).

This might allow us some improved flexibility for handling touches if it's reliable.

@

[2018-05-29 22:20] zepumph commented on #783
This will develop further as we work more on accessibility, but for now, @jessegreenberg please spot check these two sections to see if this seems good for now.

[2018-05-29 22:28] jonathanolson commented on #803
I'm also deprecating Pointer.isDownProperty, it will need more fine-grained control (since that doesn't mention which mouse button is down).

[2018-05-29 22:37] zepumph commented on #808
I'm not sure about this one. @jessegreenberg is the lead on the mobile a11y work, but at first glance it doesn't seem like it would matter too much. On mobile, AT seem to just send a pointer event to the center of the html element that they are interacting with.

[2018-05-29 23:49] zepumph commented on #713
@jessegreenberg I was thinking about implementing some sort of function that will keep track any time something is blurred as a result of a non interactive element being focused (like the document body when you click on a background node). Then somehow when you keyboard navigate next, that it would remember your previous placement. Do you know if this is possible? Am I on the right track?

[2018-05-30 15:13] jessegreenberg commented on #713
@zepumph that could be one way to go. Right now the behavior is such that
- If you click on something focusable, focus is restored on that element after pressing "tab"
- If you click anywhere else, focus will start at the beginning of the document next time you press tab.

Recommendation in https://github.com/phetsims/scenery/issues/713#issuecomment-392984154 sounds possible. I think we check with

[2018-05-30 15:18] jessegreenberg commented on #783
Thanks for adding this, content looks great. My only recommenation is to move this bullet item:

right under

I find setAccessibleOrder is less intrusive than changing the structure of the scene graph, which I think should be more of a last resort. What do you think about this?

[2018-05-30 15:47] jessegreenberg commented on #808
I agree with @zepumph, I don't think this applies to the AT we currently support. They all either directly send DOM events to an HTMLElement, or create a Pointer event at the elements location.

Maybe if PhET does work in the area of mobility impairments this could be useful? But that is a long way off and I can't think of a reason this could be used for a11y off the top of my head.

[2018-05-30 18:27] jessegreenberg commented on #713
Thanks, yes, looks like there is some weird stuff goin on with the green balloon right now. Moving to an issue in BASE.

[2018-05-30 19:30] zepumph commented on #783
Sounds good. Let me know if any other changes strike you.

[2018-05-30 19:30] #783 closed

[2018-05-30 19:31] terracoda commented on #713
@jessegreenberg, in a previous comment https://github.com/phetsims/scenery/issues/713#issuecomment-349665460, I said something incorrect or at least miss-leading. I said:

Keyboard focus style **would and does disappear** if a user clicks on an element outside of the one that has focus. Clicking on the same interactive element, or on another interactive element would normally result in a switch to

[2018-05-30 19:35] terracoda commented on #713
Is what @zepumph describing similar to what was described in Jeremy Field's article,

[Bracketed text by me]

[2018-05-30 19:40] terracoda commented on #713
@jessegreenberg and @zepumph, I am sure you are already thinking about this, or at least @jessegreenberg is, but when we make the PDOM touch accessible, the PDOM will also be mouse click accessible, and focus highlights may become more graceful from that alignment.

[2018-05-30 20:02] terracoda commented on #713
@zepumph, what you describe in https://github.com/phetsims/scenery/issues/713#issuecomment-392984154, is what we need. It is a way of remembering the previous placement (of the mouse), then I think it makes sense to go to the next focusable item from where the user clicked.

Do you have an idea of how long this would take?

[2018-05-30 20:03] jonathanolson commented on #808
Thanks, closing!

[2018-05-30 20:03] #808 closed

[2018-05-30 20:10] ariel-phet commented on #803
This might be useful to handle more cleanly in the future, but given the very "edge-case" nature of the bugs reported, not worth putting in any effort at the moment

[2018-05-30 20:32] zepumph commented on #713
I do not! I want to sum up all of the above comments as best I can to make sure that we are on the same page.

1. It is not good to come with our own "best practice" similar to lots of things in a11y, there is a method that users expect, and we should adhere to that.
2. In general web dev:
    * when you click on a focusable item, the focus doesn't go away (nor the highlight)
    * when you click

[2018-05-30 20:34] zepumph commented on #713
I will add that I think our sim's focusing is pretty similar to what I see in simple forms, when I click away and then tab, it goes to the first item (even if I click in between the email and message boxes: https://jsfiddle.net/api/mdn/

[2018-05-30 20:52] terracoda commented on #713
@zepumph, I'll just add to comment

-  when you click on a focusable item, the focus **style** **does** go away (I mentioned I was wrong above)**. **It usually changes to an active style.**
  - when you click somewhere random, and then Tab navigate, it goes to the next focusable item from where you clicked. **I think that is the ideal situation.**

In general, keyboard focus is not handled well by

[2018-05-30 20:54] jessegreenberg commented on #803
This was also noticed in https://github.com/phetsims/balloons-and-static-electricity/issues/91#issuecomment-393303200.

[2018-05-30 21:02] terracoda commented on #713
I have heard surprise comments from blind users, like, "Oh, my focus went to the top." And even, "Oh cool, my focus went to the Play Area."

Both focus changes were unexpected, but had different impacts on different users. Unfortunately, I don't know what caused the change in focus. These are comments from two of my last 5 interviews.

[2018-05-30 21:08] zepumph commented on #713
That's cool and good to know! In general it would be nice to know what was causing the behavior (that they liked or didn't), as I'm unsure about what users expect in this department. We can talk about this more at the dev meeting if it is important.

[2018-05-30 21:10] terracoda commented on #713
@zepumph, when I click and then tab in that sample form in https://github.com/phetsims/scenery/issues/713#issuecomment-393309425, focus goes to the next form element from where I clicked. I am using Firefox.

[2018-05-30 21:18] zepumph commented on #713
I see that too now! On both chrome and firefox. I like the idea of striving for this, but again I think it would potentially be difficult to come up with a good solution for scenery.

[2018-05-30 21:20] terracoda commented on #713
I agree, and I think this might resolve itself once we dive into touch access.

[2018-05-30 23:28] pixelzoom commented on #807
Are you proposing any changes to the RichText API?  Or are the proposed changes internal to RichText?

[2018-05-31 00:49] jessegreenberg commented on #701
We talked about this again, going over the discussion from last week and some alternatives.

One concern that we had with using `whatSiblingProducesAccessibleName()` is that it doesn't easily provide the flexibility to set which sibling on otherNode to set aria-labelledby.

We wondered if data attributes could be used for this. We weren't sure exactly how this would work, but it would allow us to

[2018-05-31 00:55] jessegreenberg commented on #701
We also thought that it would be helpful to discuss this issue with @jonathanolson  and possibly others. It would be most helpful to have some dedicated call time to go over this problem in detail and what we have already considered. @ariel-phet can we have permission to get 30-60 minutes from @jonathanolson for this?

[2018-05-31 16:00] jonathanolson commented on #807
It's a proposal for the API to change.

[2018-05-31 16:06] pixelzoom commented on #807
Can you give an example of the proposed API?

[2018-05-31 16:18] jonathanolson commented on #807
The features supported using the `font` tag:

[code]

would instead be used with a CSS-like declaration:
[code]

but it would also support things not possible with RichText now, e.g.:
[code]

[2018-05-31 18:17] pixelzoom commented on #807
A search for "<font" shows 7 occurrences in .js, 0 occurrences in .json (translated strings).  So it seems like this is a good time to make the API change.

[2018-05-31 18:21] jessegreenberg commented on #795
We talked about this on 5/31/18 dev meeting:

Recommendations were to continue using options pattern wherever possible. For setters `accessibleName` and `helpText`, developers thought they were OK, but wanted to see more explicit examples. We will  give them a try, test them out, and show usages in a future dev meeting.

[2018-05-31 18:29] mattpen commented on #807
Discussed at dev meeting, @jonathanolson should go ahead and make this change.

[2018-05-31 19:30] samreid commented on #250
Unassigning from dev-meeting until @jonathanolson is ready.

[2018-05-31 19:51] zepumph commented on #715
I will work to see how easy it is to support siblings not needing a parent in the AccessiblePeer.

[2018-05-31 20:12] zepumph commented on #667
Work in https://github.com/phetsims/phet-io/issues/1326 may make this issue irrelevant. @samreid can you think of anything in Node that would want to have on it's own state object rather than in individual properties created in NodeIO? Can you think of any shortcommings to going in that direction?

[2018-06-01 00:27] jessegreenberg opened #809 "moveToFront/moveToBack causes loss of focus"
Node's `moveToFront`, `moveToBack`, `moveChildtoFront`, `moveChildToBack` cause focus to be lost if the node being moved has focus.

These functions will remove the child then add it back to the scene graph. This eventually triggers `invalidateAccessibleContent`, which creates new HTMLElements. If I understand correctly, it also sets `hidden` on one of the peer elements because when the node remov

[2018-06-01 18:26] #802 closed, assigned to jbphet

[2018-06-01 19:50] lmulhall-phet commented on #702
@jonathanolson, I think I'm seeing the issue in 1.0.0-dev.10 for Fractions Intro, which was made in 2014.

[2018-06-04 16:41] mbarlow12 commented on #716
@jessegreenberg just bumping this again to see if we should keep it active (it's my least recently updated issue). Reviewing the comments, I'm wondering if there might be a way to mimic the press/fire/drag distinction from https://github.com/phetsims/scenery/issues/716#issuecomment-349466148. I'm not sure what this might look like; would separating key down/up listeners be useful at all? Or maybe

[2018-06-04 16:54] jessegreenberg commented on #716
Sorry for the delay @mbarlow12 I think this issue can be closed.

It is not clear to me yet how that would improve the API. KeyboardDragListener is the only listener so far where we have needed this, and hopefully we won't need it more widely. But if we do, maybe we can revisit a refactor then?

[2018-06-04 17:02] mbarlow12 commented on #708
@jessegreenberg @zepumph Is this feature still in development at all? It seems like the GroupFocusHighlight has been working well for some time—can we close?

[2018-06-04 17:14] zepumph commented on #795
I'll try to work up some prototypes and see how things go. Then we can get more feedback and go from there.

[2018-06-04 20:47] Denz1994 opened #810 "Unwanted Lines being rendered in various sims."
These thin hairlines are being rendered across several sims. So far they have been found in Pendulum Lab , John-Travoltage [#193](https://github.com/phetsims/john-travoltage/issues/193), CCK [#408](https://github.com/phetsims/circuit-construction-kit-common/issues/408), and Masses and Springs [#278](https://github.com/phetsims/masses-and-springs/issues/278).

There doesn't seem to be a consistant

[2018-06-05 16:36] samreid commented on #667
Some NodeIO subtypes may need toStateObject/fromStateObject, but NodeIO itself no longer has any intrinsic state.  However, when I tried to remove `toStateObject`/`fromStateObject`/`setValue` I ran into issues--so I added them back with no-op implementations.

[2018-06-05 16:56] zepumph commented on #667
Can you briefly document the "issues" you were facing here for the record. I think it will be a helpful paper trail, and perhaps we should document those methods tagged to an explanation on github in the jsdoc in `NodeIO.js`. More and more it feels like we use toStateObject/fromStateObject more as "one off" solutions than as a general IOtype pattern for serialization. It will hopefully be dealt wi

[2018-06-05 16:57] samreid commented on #667
I was intentionally vague since I don't understand what is causing the problem or the best way to solve it--we should investigate it.

[2018-06-05 19:38] ariel-phet commented on #810
Given the minor nature of this bug marking deferred.

@lmulhall-phet please be aware to note in this issue future places where this bug is seen

[2018-06-05 20:43] jessegreenberg commented on #809
I went ahead and added this and some unit tests. @zepumph would you mind reviewing?

[2018-06-06 03:14] mbarlow12 commented on #716
@jessegreenberg I agree. Just wanted to be sure we were vetting our options. Closing.

[2018-06-06 03:14] #716 closed

[2018-06-06 21:48] mbarlow12 commented on #701
I don't believe this was mentioned yet, but as we further develop this solution, we need to be sure that that the API has the ability to set multiple other nodes in the aria-labelledby attribute. This would produce a space-separated list of ids the associated AccessiblePeer.

[2018-06-06 22:10] zepumph opened #811 "Assertion failed: If we select more than one this way, we have problems"
I came across this while trying to implement `accessibleName` setter for https://github.com/phetsims/scenery/issues/795. @jonathanolson said he would take a look at it. Thank you! Let me know if I can help.

[2018-06-06 22:16] zepumph commented on #795
I ran into a problem while implementing `accessibleName`, this issue is on hold until then.

[2018-06-07 01:56] zepumph opened #812 "branch: aria-labelledby"
To track changes for #701.

@jessegreenberg I just merged this into master. I don't think this is needed anymore. I wanted to check with you first though.

[2018-06-07 02:04] zepumph commented on #701
In dev meeting today we worked hard on this issue, and got it to a really good place!! I made a few more adjustments this evening and got things working pretty well.

There are only a few tests but basically here is how this works, you now add association objects to a node, and for each you are saying "add the aria-labelledby attribute to one of my peer elements, then get the id from another `Node

[2018-06-07 21:47] zepumph opened #813 "Error: invalid button: 3"
I got this error while trying to use my back button on my mouse. I'm not sure how we want to handle this, but I don't think erroring out is ideal. I also go this (with "4") when using the forward button on my mouse. What do you think @jonathanolson. Here is the switch case that is causing issues:

[code]

[2018-06-08 00:21] jonathanolson commented on #813
Yup, this is one of the errors that will happen until https://github.com/phetsims/scenery/issues/803 is fixed. Instead it will record what button numbers are pressed.

[2018-06-08 00:38] zepumph commented on #813
I'm not sure I understand, and maybe I don't need to, but I feel like only recently did using my mouse's back button begin to error out in master. Does this need to error out? Can't we just ignore other mouse buttons and let the browser have them?

[2018-06-08 00:47] jonathanolson commented on #813
We can probably temporarily patch things so it ignores other buttons. Would you recommend that?

[2018-06-08 00:57] zepumph commented on #813
That sounds really nice! I would appreciate that if it was easy.

[2018-06-08 22:19] jonathanolson commented on #807
Implemented. @jessegreenberg I believe you're the designated reviewer for RichText, do you mind checking over this?

It actually turned out that Himalaya also parses the CSS for style attributes, so this was a lot easier than expected.

[2018-06-11 15:08] jessegreenberg commented on #701
This is looking really good @zepumph, the only change I made so far is to use `removeAttribute` instead of setting attribute to `''` in `updateAriaLabelledbyAssociations.

[2018-06-11 23:13] jessegreenberg commented on #812
Thanks for documenting @zepumph, but I agree the branch can be deleted and this issue closed. I just deleted it.

[2018-06-12 18:45] jonathanolson commented on #809
I need to modify related code as part of https://github.com/phetsims/scenery/issues/789, so I'll be patching this also.

[2018-06-12 18:54] zepumph commented on #809
I'm not sure what I should be doing for this issue. @jessegreenberg it sounds like the above code may change. Please reassign me with specific instructions is I'm needed.

[2018-06-12 20:07] jonathanolson commented on #809
@jessegreenberg should unit tests be sufficient to check changes to this, or should review be needed?

I’ll be applying changes probably later today.

[2018-06-12 21:58] jessegreenberg commented on #809
Thanks @jonathanolson, if you are going to apply changes to this I would love to review, partly because it would be helpful to understand more about the reentrance cases you mentioned in https://github.com/phetsims/scenery/issues/809#issuecomment-394910254

[2018-06-13 19:38] zepumph commented on #811
Marking as high priority because it is blocking a high priority issue. @jonathanolson let me know if there is anything I can do to help.

[2018-06-14 18:45] jonathanolson commented on #809
Implemented in https://github.com/phetsims/scenery/issues/789, can you review the commit?

[2018-06-14 18:46] jonathanolson commented on #789
@jessegreenberg noted he'd like to review this commit, assigning.

[2018-06-14 21:35] zepumph commented on #795
I'm going to work on some of the other setters for right now until #811 is sorted out for `accessibleName`.

[2018-06-14 22:57] zepumph opened #814 "Is invalidateAccessibleContent the best way to update the PDOM?"
As implementing "higher level" abstractions ontop of the current a11y api in https://github.com/phetsims/scenery/issues/795, I am wondering if our current approach in optimal.

@jessegreenberg and I have long talked about the inefficiencies of needing to call invalidateAccessibleContent whenever any small piece of the PDOM needs to be redrawn, so I thought it deserved an issue.

My main concern, i

[2018-06-14 23:35] zepumph commented on #811
I found another assertion that triggered while working on `AccessibilityTest.js`. If I add the following line to the end of the test: `tagName/innerContent options'

`rootNode.addChild( new Node( { tagName: 'div'}));`

it fails out with another assertion in AccessibleInstance.sortChildren:449 (as of this writing)
`assert && assert( targetChildren.length === this.children.length );`

It also failed

[2018-06-15 05:44] jonathanolson commented on #811
Looks potentially related. I'm still working at understanding the cause of the failure here, but the root cause is 2 "identical" accessible instances are created where only 1 should be created. I have checked in the way to reproduce in the playground, and with the logging output, it logs:
[code]

[2018-06-15 15:43] jessegreenberg commented on #814
If we can just recreate the specific DOM elements when we need to that would be a better for performance, and really reduce the size/complexity of invalidateAccessibleContent. So i like option 1. There will still be times where we need to redraw everything, so maybe we coculd keep `invalidateAccessibleContent`, but refactor things into `redrawPrimaryElement`, `redrawLabelSibling`, and so on that t

[2018-06-16 01:17] zepumph commented on #715
I made some progress on this, it seems to be mostly working in the branch `superfluous-container-parent-removal`, I'm running into a weird issue though were the sim resources is now at the beginning of the PDOM. This must have to do with the sorting algorithm that I changed. I will look into it more next week. But for the most part things are looking really nice!

![image](https://user-images.gith

[2018-06-16 01:17] zepumph opened #815 "branch: superfluous-container-parent-removal"
for work related to https://github.com/phetsims/scenery/issues/715

[2018-06-18 17:20] jonathanolson commented on #814
Figuring out what can be permanent, what can be mutated, and what needs to be recreated sounds nice for performance and memory/GC.

Scenery's usual approach would be to have a poolable wrapper around the mutable objects needed, and objects would get created/unpooled/mutated/pooled as needed.

If desired, let me know, as it would be good to discuss via audio.

[2018-06-18 21:58] jessegreenberg commented on #789
This is really nice @jonathanolson. The new Events documentation in Node is also a great addition. I was only able to give a fairly cursory review as some of these changes are beyond my knowledge of scenery. But documentation is very good.

Can this be closed or is there more to be done?

[2018-06-18 22:00] jessegreenberg commented on #809
I reviewed in #789. Changes in https://github.com/phetsims/scenery/commit/8cc3fc5082422b741e74679192cc8463f42578b7 were removed, and this is being is being handled correctly in AccessibilityTree directly now which is really nice. Closing this issue, thanks @jonathanolson.

[2018-06-18 22:00] #809 closed

[2018-06-19 00:28] jessegreenberg commented on #807
During review, I noticed both `<span style="font-size: 30px;"></span>` and `<span style="fontSize: 300px;"></span>` work, is that expected? I guess Himalaya parses and accepts both. Do you have a preference for what people should use? If I encountered the assertion `See supported style CSS keys`, I would use probably go with camel case, though that isn't valid CSS.

Also, I don't see any usages of

[2018-06-19 00:56] jessegreenberg commented on #769
Changes so far look good. The workaround can also be removed from Equality Explorer. I don't know what needs to be done for https://github.com/phetsims/scenery/issues/769#issuecomment-392229809, removing review label and my assignment.

[2018-06-19 01:45] zepumph commented on #715
I re-implemented the sorting algorithm in AccessibleInstance to fix the above problem. We still have accessibility fuzzers breaking, and some a11y api tests that were written under the assumption that parent containers should be automatically created.

[2018-06-19 19:02] jonathanolson commented on #814
Super rough notes:
[code]

[2018-06-19 19:40] jonathanolson commented on #807
Hmm, interesting. I'd probably go for the "actual CSS" version with font-size personally (we use "actual CSS" color values in Scenery too, so being consistent and compatible has advantages). I guess I don't see any way to enforce that, so I'm not sure what we can do. Are the current examples enough, and/or should we discuss what version to recommend?

Sorry about that, I'll remove it.

[2018-06-19 20:10] jonathanolson commented on #807
Removed parseCSSDeclarations.

Feel free to close if the CSS compatible style works?

[2018-06-19 20:11] jonathanolson commented on #769
Implemented, closing.

[2018-06-19 20:11] #769 closed

[2018-06-19 20:16] zepumph commented on #811
@jonathanolson hunted down this bug and shared it with me today. Basically it has to do with reentrance. I was calling the accessibleName setter in `invalidateAccessibleContent`, which was setting labelContent and potentially calling `invalidateAccessibleContent()` again. In so many words, basically the view (AccessiblePeer) was calling over to SET the model (Accessibility.js), which was in respon

[2018-06-19 20:16] #811 closed

[2018-06-19 20:36] zepumph commented on #795
Notes from a conversation with @jonathanolson today. I think we need to think about having a `accessibleNameBehavior` option instead of overwriting the setter in common code types. Here are @jonathanolson's notes:
[code]

[2018-06-19 20:40] zepumph commented on #814
Most of the above notes actually have more to do with #795 than this issue, so I will attempt to consolidate the above notes into work for this issue:

The work needed to be done can be outlines in the following ordered list (ordered on when to implement). More and more we are thinking of `Node.js` (so `Accessibility.js`) as the model, and `AccessiblePeer.js` as the view:
1. Separate the model fro

[2018-06-19 21:30] pixelzoom commented on #456
On 6/18/18 and 6/18/18, this assertion failure is being reported by several sims in CT:

area-model-decimals
area-model-decimals
area-model-introduction
build-a-fraction
fractions-intro
fractions-mixed-numbers

I think these are all sims that @jonathanolson is responsible for, so perhaps there's a common use case that's failing.

[2018-06-19 21:35] pixelzoom commented on #456
Labeling for developer meeting, since this issue is going on 3 years old and has been re-reported several times in the past few months.

[2018-06-19 23:19] jonathanolson commented on #456
Yes, there's an interaction with PressListener that is sometimes erroring out that I'll need to solve.

The error message basically just indicates that the state of the listener is incorrect. This can happen due to a wide variety of causes, of which I've fixed at least 8-10 since this was originally reported (iframe handling, pointer capture, logic errors, etc.), and a few have been maintenance re

[2018-06-20 01:35] zepumph commented on #715
@jonathanolson I think this is ready for a code review, please take a look at a medium/low priority. I merged everything from master into it (superfluous-container-parent-removal) recently. I hope that doesn't make things difficult.

[2018-06-20 16:30] jessegreenberg commented on #807
I agree. Closing.

[2018-06-20 16:30] #807 closed

[2018-06-21 00:34] jessegreenberg commented on #701
We discussed this today, it is working really well. We added a few more unit tests for aria-labelledby to make sure associations are correct between more than just the primary siblings, and after the scene graph changes.  I think we are ready to proceed with the same pattern for aria-describedby. We discussed that `addAriaLabelledbyAssociationImplementation` could be refactored and used for both l

[2018-06-21 17:15] jonathanolson commented on #789
Thanks for the review! Nothing else to be done, closing.

[2018-06-21 17:15] #789 closed

[2018-06-21 18:12] jonathanolson commented on #456
Untagged from developer meeting. @pixelzoom can you respond to the above comment? The recommendation during dev meeting was that we create a new issue for this whenever it occurs, and that this "general" issue could be closed.

[2018-06-21 19:31] jonathanolson commented on #813
Can you see if the above commit fixes this particular thing from erroring out?

[2018-06-21 20:21] zepumph commented on #813
That's very nice, I appreciate the workaround, as I was hitting this error about 20 times a day. Thanks!

[2018-06-21 20:21] #813 closed

[2018-06-21 22:18] zepumph commented on #741
To support phetsims/phet-io#1198

[2018-06-22 21:06] zepumph opened #816 "removeChild isn't calling invalidateAccessibleContent sometimes"
From creating unit tests as part of https://github.com/phetsims/scenery/issues/701, I found that the PDOM wasn't updating the arialabelledby associations appropriately when removing child. I'm not too familiar with the `AccessibleTree` code, but I don't see potential discrepancies between `removeTree` which calls

[code]

I also know that the accessibility fuzzer is testing the removal of children

[2018-06-22 21:07] zepumph commented on #816
Right now in the tests I'm working around things, by manually calling `invalidateAccessibleContent`:
[code]

[2018-06-22 23:46] zepumph commented on #701
In the above commits I:

1. Added a unit test that makes sure all is well when creating an association between two elements of a single node.
2. Added aria-describedby api
3. Consolidated and refactored the new api so that labelledby and describedby use the same code to create and update their associations.
4. Adapted the unit tests in the same way as 3 because they both support the same feature s

[2018-06-24 03:55] samreid opened #817 "Add NodeProperty.js"
To generalize WireNode for common code (during development of WaveInterference), I realized it would be nice to be able to use the axon Property interface for a location relative to a scenery Node.  I considered calling this NodeRelativePositionProperty, but that seemed too verbose at call sites, so I'm instead opting for `NodePositionProperty`.  I also considered implementing this in axon, which

[2018-06-24 03:58] samreid commented on #817
Lint is passing, aqua is passing, and example use case in Wave Interference seems to be working OK, so I committed rough drafts.  @jonathanolson do you have time to review NodePositionProperty?

[2018-06-26 00:09] jonathanolson commented on #817
Looks good, a few thoughts:

- Is it possible to use onStatic/offStatic, or have an option? Forcing the 'on' option means every bounds change will cause an array copy for safety.
- It looks like the same pattern could be used for single coordinates (e.g. 'left'). Could that be allowed also?

[2018-06-26 04:51] samreid commented on #817
Perhaps this would work for the 2-way binding?

[code]

[2018-06-26 12:48] samreid commented on #817
Following through with this (applying this to NodeIO opacityProperty), I'm running into the problem where NodeProperty cannot use NumberPropertyIO, very closely related to https://github.com/phetsims/phet-io/issues/1292

I'll take a closer look before discussing with @jonathanolson further.

[2018-06-26 20:11] terracoda commented on #701
@zepumph, I did a quick skim of this issue, and while I do not fully understand everything in this issue, I and wondering if are you still using "setAriaLabelledBy"? And was wondering if you considered something like:

- hasAriaLabelledBy? True/False
- hasMultipleAssociations or hasMultipleAssociatedElements? True/False
- getIDRefsOfAssociatedElements and put them in a comma separated list on the

[2018-06-26 20:19] zepumph commented on #701
The api leans in the same direction you are thinking, we are no longer using `setAriaLabelledBy`, and instead have created a way that you can specify any number of associations between a Node and another Node you want to be aria-labelledby (or described by). I can explain more if you desire, but I think the most important thing for you to know is that the api will now support any number of items "

[2018-06-27 21:51] jessegreenberg commented on #816
I am not sure I understand this test, do we expect the correct attributes when we remove a child from the scene graph? The node's accessible content is no longer in the PDOM at that point, right?

Does this work?
[code]

[2018-06-27 22:17] zepumph opened #818 "Why is initializePhetioObject called first in Node.mutate?"
@samreid and I discovered this, as it related to phetsims/phet-io-wrappers#97.

If something is updated in that mutate call, it will look like things CHANGED and not like we were just manipulating the startup state of the Node. In the days back before PhetioObject, we had the `Node.setTandem` function and the `tandem` mutator key. I specifically remember @samreid, @jonathanolson and @zepumph all n

[2018-06-27 22:48] zepumph commented on #816
Yes @jessegreenberg, your above code snippet does work, because the aria-labelledby attribute values aren't being updated on removeChild, but then you add back the child, it will update the values (and the element ids will all be the same because the trail is the same for j).

Basically think about it this way (this is untested pseudo code )

[code]

I'm happy to explain more here or over zoom.

[2018-06-27 22:54] zepumph opened #819 "Add labelledby/describedby association setters"
It would be nice to be able to have the following code:

[code]

but we currently only support these associations via the `Node.addAriaLabelledbyAssociation()` function, which is parallel to how we handle input listeners.

@jonathanolson @jessegreenberg I'm wondering how we should go here. Perhaps we could have an es5 setter to add one association object, but I'm not sure how we would support a ge

[2018-06-27 23:20] zepumph opened #820 "implement labelledby association removal on disposal"
We need a way, when Node A is being disposed,  to let other nodes that are aria-labelledby node A remove that association.

[2018-06-28 00:07] zepumph opened #821 "Add more dag related tests for aria-labelledby associations"
We are testing dag pretty well one just 1 case (when you are labelledby yourself).

[2018-06-28 00:13] jessegreenberg commented on #816
We discussed 6/27/18. @zepumph demonstrated the problem. We discovered that when we remove Node from the scene graph we do not update any part of the AccessiblePeer, and until now there hasn't been a need to. But in this case, we need to broadcast a message that notifies that aria-labelledby and aria-describedby associations need to be updated when the Node is removed. We made sure that the associ

[2018-06-28 00:15] jessegreenberg commented on #816
We can close this issue after the above commits which add https://github.com/phetsims/scenery/issues/816#issuecomment-400869715.

[2018-06-28 00:15] #816 closed

[2018-06-28 00:19] jessegreenberg commented on #820
@zepumph this may no longer be an isssue after #816 since `Node.dispose` calls `Node.detach`?

[2018-06-28 00:23] jessegreenberg commented on #819
Maybe we could have `setAriaLabelledbyAssociations`/`ariaLabelledbyAssociations` that behaves like `setChildren`/`children`. It would add all associations in an array and also blow away any previous associations.

[2018-06-28 01:12] zepumph commented on #820
Very nice! sounds good. I'll leave this open so I can write a test or two to confirm.

[2018-06-28 16:10] jonathanolson commented on #631
Added the following to typedefs.js for testing:
[code]

but I'm seeing things like:
<img width="236" alt="screen shot 2018-06-28 at 10 09 06 am" src="https://user-images.githubusercontent.com/480878/42046566-63731440-7abb-11e8-9581-d2b3df98d09c.png">

Re-tagging for developer meeting to see if we were expecting Intellij to do something else, or if there are other things I should test.

[2018-06-28 16:14] jonathanolson commented on #818
Sounds like it's still "tricky" to try to guess whenever an object is fully constructed. We wouldn't ever want to say something is fully initialized at the end of its constructor, unless it is guaranteed to have no subtypes.

Are we going to be adding tons of lines of code in sims that note when every object is properly initialized?

[2018-06-28 16:20] jonathanolson commented on #819
If it helps, it's possible to provide `inputListeners: [ ... ]` to a Node, would the parallel work here? Presumably something can only be labeled by one node, but do you have the restriction that a node can only be a label for 1 or fewer other nodes?

[2018-06-28 16:47] zepumph commented on #818
Can we add a single, general emitter that says "every object is now finished being constructed" and then "release" them all over the phet-io api as instances added. This batching is how we are handling static instance construction, but maybe we need to take it a step further, and only treat an object as "instrumented" after the sim constructor has finished, and the Screens have finished being crea

[2018-06-28 18:29] samreid commented on #818
I thought we no longer needed to synchronize the "object is created" logic, because the API is over postMessage and hence the object will be interacted with after the stack resolves.

[2018-06-28 18:33] jessegreenberg commented on #631
Discussed durring 6/28/18 developer meeting:

We discussed that users of Intellij are not too concerned with the flagging that is happening in https://github.com/phetsims/scenery/issues/631#issuecomment-401088927.

However, @samreid recommended that when we have a placeholder type like this, we have a separate type documented in scenery/js/typedefs or something so that the type documentation can e

[2018-06-28 21:41] lmulhall-phet opened #822 "[Chrome OS] Error upon loading RIAW"
While investigating a solution to phetsims/resistance-in-a-wire/issues/157, @zepumph and I found that loading RIAW on master with a Chromebook using Chrome (but not Firefox) throws the following error:

[code]

The sim is stuck at the splash screen, and the loading bar is empty.

[2018-06-29 15:56] samreid commented on #817
@jonathanolson and I discussed this and decided that the double guards are probably sufficient--we marked a comment in the header to indicate what to do if we detect an infinite loop in testing.

[2018-06-29 16:47] samreid commented on #817
Ready for your review @jonathanolson.

[2018-06-29 16:57] jonathanolson commented on #822
It seems likely that ANY recent sim (when given the ?accessibility query parameter) would also fail.

@jessegreenberg, is it possible to just set the style on the "root" a11y element of the parallel DOM, and not require that style on every children?

[2018-06-29 17:12] jessegreenberg commented on #822
I don't understand the error yet. Also not sure why, but I can only reproduce on a Chromebook in RequireJS, this doesn't show up in built versions.

SceneryStyle is adding a style for className "accessibility", which is only on the root element for the Display.

[2018-06-29 17:46] jessegreenberg commented on #822
@jonathanolson is SceneryStyle only used for a11y right now? We can stop using it for a11y.

[2018-06-29 17:56] samreid commented on #818
Indeed!

[2018-06-29 18:08] jessegreenberg commented on #822
Ill proceed with that. @jonathanolson is it worthwhile figuring out why chromebooks are throwing this error?

[2018-06-29 18:41] jessegreenberg commented on #822
Done in the above commit.

[2018-06-29 23:21] jessegreenberg opened #823 "Cannot read property 'outerHTML' of undefined"
Started showing up in Bayes CT today, intermittently. Not sure if "intermittent" nature is just because CT hasn't been able to finish for a while.

[code]

[2018-06-29 23:22] jessegreenberg commented on #823
This line:
[code]

because we no longer reference PDOM by className.

[2018-06-29 23:33] jessegreenberg commented on #823
Fixed above. I also did a global search for references to "accessibility" className and couldn't find anymore. Closing.

[2018-06-29 23:33] #823 closed

[2018-07-02 15:49] jessegreenberg commented on #746
Accessibility.js looks very nice @zepumph, as does `invalidateAccessibleContent`. Closing.

[2018-07-02 15:49] #746 closed

[2018-07-03 19:34] zepumph commented on #820
Added more tests above.

[2018-07-03 19:34] #820 closed

[2018-07-03 22:03] jessegreenberg commented on #782
Discussed 7/3/18 - When a dev is instrumenting a sim and encounters something that hasn't instrumented or done before, they should generally work with or reassign to someone on the a11y team. Closing.

[2018-07-03 22:03] #782 closed

[2018-07-03 22:30] zepumph opened #824 "Add PhET-iO Property interface for text types"
Expanding from https://github.com/phetsims/phet-io/issues/1326, we should implement a TextIO sub Property for interfacing with the text.

We will work towards TextIO at a high priority as part of FL stable release, and work on RichText and MultilineText at a lower priority because FL doesn't have these in them.

[2018-07-03 22:59] zepumph commented on #824
In the above commits we added the textProperty to `TextIO.js`, which improved the api for Text, but doesn't help solve this for MultilineText.js or RichText.js. We found that the Property was easy to implement for `Text.js` because it already had a trigger call in its `setText` method, so a Property could easily wire up to that.

Places still to clean up from the above commits:
- [ ] Text.js: no n

[2018-07-04 01:42] zepumph commented on #819
I made some progress on this one today. I have a few thoughts on the matter:

1. It is a bit annoying that you can't use the option setter if you are labeling yourself because you need a reference to yourself from the parameters you are passing to your own constructor. Maybe we could have a placeholder like "null" which means use myself as the other node.
2. It is annoying how similar the `setAria

[2018-07-04 01:44] zepumph commented on #821
@jessegreenberg could you help me out with this one? Or maybe could we do it together?

[2018-07-04 18:21] zepumph opened #825 "Remove updateAccessiblePeers"
from #814.

[2018-07-04 19:53] zepumph commented on #825
@jessegreenberg I moved a lot of code from `Accessibility.js` over to `AccessiblePeer.js`. So far this is feeling very straight forward and nice. Please review.

[2018-07-04 20:54] zepumph commented on #715
I merged master into the branch today, just to make sure that things stay current and conflicts don't get the best of us.

[2018-07-04 20:56] zepumph commented on #773
As part of https://github.com/phetsims/scenery/issues/814 we are doing a lot of work related to this. Right now we are going to tell the peer to update directly from the Node, but the Peer is actually going to do the updating, so things are more modular. Closing

[2018-07-04 20:56] #773 closed

[2018-07-04 21:22] zepumph opened #826 "Allow focus to be called if Node has not been added to the scene graph?"
In the `focus` method I see this guard:

[code]

Otherwise the function is a no-op. I feel ok about asserting this, because `focus` is a function, and not a setter that could be called from options. In my mind you should not be allowed to focus a node until it is in the scene graph.

@jessegreenberg does this seem reasonable to you?

[2018-07-04 21:27] zepumph opened #827 "A11y test failed: b should have focus after a moved to back"
@jessegreenberg and I have both seen this. It doesn't get triggered every time. The best guess I can come up with to reproduce it is to have the dev tools open (really not sure if that matters) and switch to another window while the scenery tests are running. It normally fails when it is in the background like that.

Triggered at `AccessibilityTests:1387` (may change)

[2018-07-04 21:32] zepumph commented on #826
I also see this in `blur`.

[code]
Is there a reason that  accessibleInput is interrupted even if there isn't an accessibleInstance?

[2018-07-04 22:35] zepumph commented on #814
I feel like stage 1. Is pretty done. I didn't touch any of the higher level api function (see #795 for that). I then found myself brainstorming about number 2. and getting a little stuck. I'm having trouble figuring out a direction to go. In my mind, disassembling `invalidateAccessibleContent` means putting that code somewhere else. Even though it will be separated. In my mind I see a few differen

[2018-07-04 22:43] jonathanolson commented on #827
Presumably actual key presses that happen during tests can mess with things?

[2018-07-04 22:46] jonathanolson commented on #814
Sounds like it would be good to discuss on a call sometime. Would sometime Thurs/Fri work?

[2018-07-04 22:56] jonathanolson commented on #715
Let me know if you want a detailed review (hopefully spot-checks and unit tests should catch things).

isVisible having to rely on checking for hidden elements feels a bit fishy, is there a way we can store that information on peers (instead of checking the DOM)?

Do you feel you have sufficient tests to verify the operation?

[2018-07-04 23:01] jonathanolson commented on #824
Text.js has:
[code]
would having this event on RichText/MultiLineText (with lots of documentation about why) be sufficient for now?

[2018-07-05 02:03] zepumph commented on #824
Sounds great to me!

[2018-07-05 02:15] jonathanolson commented on #824
Added triggers above.

[2018-07-05 15:43] emily-phet commented on #713
I'm adding the "on hold" label to this until we're able to dig more deeply into holistically handling alternating mouse/keyboard use.

[2018-07-05 16:12] jessegreenberg commented on #827
That could also make focus go away, but I think we have seen this just when the browser is sitting still in the foreground, is that correct?

[2018-07-05 16:18] jessegreenberg commented on #826
I think focus should be hidden behind a no-op because we want this function to still no-op when accessibility is not enabled. In that case the Node is in the scene graph but it has no AccessibleInstances, even when instrumented.

But I agree that `interruptAccessibleInput` should be inside the accessibleInstances check.

[2018-07-05 16:20] zepumph commented on #827
I have not seen that. I can get it into a consistent state by opening the dev tools.

While the focus is on the console (blinking cursor), each refresh will fail because focus is on the dev tools.

When I then click back to main qunit page, each refresh results in passed qunit tests.

I don't know how to "fix" this, do we just ignore that failed test because we know? Or is there a way to make the

[2018-07-05 17:22] jonathanolson commented on #631
Implemented, closing.

[2018-07-05 17:22] #631 closed

[2018-07-05 17:31] samreid commented on #817
I thought it could be error-prone to implement this feature as a `link` listener, because a client would be able to unlink it, say by calling `unlinkAll`.  So I thought it better to bake it in as a hardcoded feature.  For example:

[code]

[2018-07-05 17:33] jonathanolson commented on #817
`unlinkAll` seems unsafe in general to call on any Property, although I understand the argument. I'll leave it up to you.

[2018-07-05 17:48] samreid commented on #817
It seems `unlinkAll` is only used 5 times or so, but they seem reasonable (or maybe we should rewrite them to use `unlink(arg)`?) . I'm inclined to stick with the hardcoded implementation rather than as a link (actually first draft was implemented as a link before I converted it).

[2018-07-05 19:09] zepumph commented on #814
Perhaps tomorrow would be nice, I'll pm you.

[2018-07-05 19:53] jessegreenberg commented on #827
I can't think of a great way around this. We could maybe [detect when dev tools are open](https://stackoverflow.com/questions/7798748/find-out-whether-chrome-console-is-open), but there are other cases where this will happen too.

Maybe we should just add a note to the error message with content like "don't worry about this if dev tools are open or you clicked on the screen".

@zepumph what do you

[2018-07-05 19:53] jessegreenberg commented on #827
Also, why doesn't this happen for any other focus test?

[2018-07-05 22:01] jessegreenberg commented on #822
Reassigning, PDOM isn't being hidden correctly in Firefox,  see the above issues.

[2018-07-05 22:34] zepumph commented on #713
Unassigning myself for now.