[2021-10-29 16:31] jessegreenberg opened #1314 "Remove formatting tags before speaking with SpeechSynthesis"
Found in https://github.com/phetsims/friction/issues/261 - We need to make sure that formatting tags are removed before speaking something with voicingManager/SpeechSynthesis. Formatting tags are read in full using this technology. They are beneficial for screen readers which is why they have generally been left in place until now.

[2021-10-29 16:37] jessegreenberg opened #1315 "Make sure that `end` events always fire from SpeechSynthesisUtterances"
From https://github.com/phetsims/friction/issues/266, it looks like the `end` event from a SpeechSynthesisUtterance is not always firing on iOS Safari. This issue is to verify that that is the case. From there we can identify if it is a browser bug or an issue with voicingManager and decide how to proceed.

[2021-10-29 19:05] jessegreenberg opened #1316 "Remove the mutate from Voicing and similar traits"
It results in mutating everything twice and shouldn't be the general pattern. Instead, we should rely on mutate to be called after initializing the voicing trait in the constructor of whatever type is composing. For example, see this in ComboBox

[code]

[2021-10-29 19:45] jessegreenberg commented on #1314
@jonathanolson said that RichText uses himalaya for this kind of thing we can start there for a solution.

[2021-10-29 19:45] jessegreenberg commented on #1314
@zepumph mentioned that `himalaya.parse` may have what we need for this!

[2021-10-29 19:50] zepumph commented on #1315
I will take the lead on this. It is blocking friction.

[2021-10-29 21:28] jessegreenberg opened #1317 "assertSpeakingPropertiesInSync breaks outside of Chrome"
The `assertSpeakingPropertiesInSync` works for Chrome, but not in Firefox (and possibly others).

In https://github.com/phetsims/scenery/issues/1288#issuecomment-932632786 I said

But that is not true for Firefox. After calling `synth.speak` `synth.speaking` returns false in Firefox.

When I remove the assertion after the speak call (which clearly makes the assumption that `synth.speaking` is set

[2021-10-29 21:52] jessegreenberg commented on #1317
Can we convince ourselves that the assertion is not necessary and that speakingProperty does not need to exactly reflect `synth.speaking`? `speakingProperty` is kind of like a model Property for how we describe the state of voicingManager. But `synth.speaking` is just a flag that is internal to the implementation of the browser's SpeechSynthesis.

[2021-10-29 21:58] jessegreenberg commented on #1317
Also, the speakingProperty is not used at in or out of voicingManager. Can we just remove it?

[2021-10-29 22:13] jessegreenberg commented on #1317
I removed `assertSpeakingPropertiesInSync` and `voicingManager.speakingProperty`. The only usage of `speakingProperty` was replaced by `synth.speaking`. This means that `getSynth().speaking` is the only way to check for whether the synth is speaking in voicingManager, and that makes sense to me. The only bummer is that this removed the way to query whether the voicingManager is currently speaking.

[2021-10-29 23:03] jessegreenberg commented on #1316
I found the issue where we added support for options to `initializeVoicing` https://github.com/phetsims/scenery/issues/1206. Looking again I don't see how this "mutates everything twice" like I said originally in https://github.com/phetsims/scenery/issues/1316#issue-1039851765. `initializeVoicing` only mutates with `VOICING_OPTION_KEYS`.

I think we discussed a concern that calling `super( options

[2021-10-29 23:15] jessegreenberg commented on #1316
Discussed with @zepumph - The description in https://github.com/phetsims/scenery/issues/1316#issuecomment-955092545 is correct. But we also want to avoid calling `mutate` more than we need to as well.

We will continue with this issue and add documentation to Voicing.js to describe that options cannot be passed to the `super` call if you intend to call `initializeVoicing`. `super` and `mutate` mus

[2021-10-29 23:19] zepumph commented on #1317
Sounds excellent to me! I think we can get really really far improving the behavior of start/end emitters across all browsers, and that will provide enough of a hook to accomplish pretty much everything I can think of this Property providing. Thanks for the ingenious problem solving here.

[2021-10-29 23:42] jessegreenberg commented on #1317
Sounds good, thanks!

[2021-10-29 23:42] #1317 closed

[2021-10-29 23:46] zepumph commented on #1314
It looks like chrome and firefox are both sanitizing the <br> tags for us, so I think this is only an issue about safari.

[2021-10-29 23:55] zepumph commented on #1314
This line of code successfully removes all br tags. It doesn't matter if it is `<br>` or `<br/>`.

[code]

[2021-10-29 23:55] zepumph commented on #1314
But `stringify` doesn't exist in our current himalaya version, so I need to update versions.

[2021-10-29 23:57] zepumph opened #1318 "Update to new version of himalaya"
Over in https://github.com/phetsims/scenery/issues/1314#issuecomment-955105652, I need to use himalaya.stringify, but I don't think that exists on our current version.

[2021-10-30 00:11] zepumph commented on #1314
Once https://github.com/phetsims/scenery/issues/1318 is all done, it should be as easy as testing and applying this patch to fix this issue.

[code]

[2021-10-30 00:12] zepumph commented on #1318
I set out thinking it could be pretty straight forward to do this, but After the above patch, plus a global rename of the himalaya version, it still wasn't coming up right, so I think there were some other API problems between versions 0 and 1.

I'll take a closer look next week.

[2021-10-30 00:16] zepumph commented on #1318
[code]

[2021-10-30 00:17] zepumph commented on #1318
Ahh! Perhaps not too hard, I missed a couple of usages of `.type` which still use 'Element' and "Type". Capitalized.

[2021-11-02 22:25] zepumph commented on #1318
Our current version is 0.2.7, but the newest version is 1.1.0, and it is quite different. I have things running in my working copy right now, and will most likely commit, but I want to write things out first.

API Changes:
* element.type is now lower case
* attributes are now just a list of objects with `key` and `value`. Value is almost always a string.
* The style attribute doesn't get wrapped i

[2021-11-02 23:44] zepumph commented on #1318
Alright. I noted on slack about this commit, and I will restart CT to make sure that it's report view isn't bugging out.

[2021-11-03 00:06] zepumph commented on #1314
Looks like https://github.com/phetsims/scenery/issues/1318 is shaping up well, and I hope this would be a pretty straightforward change.

[2021-11-03 00:26] zepumph commented on #1314
@jessegreenberg can you please review this.

[2021-11-03 17:09] jonathanolson commented on #1318
Commit looks great, verified with a bit of manual testing of edge cases.

[2021-11-03 17:14] zepumph commented on #1315
Today at voicing meeting, we decided this doesn't block friction, but it would be good to do some investigation on this in the  near future.

[2021-11-03 18:00] zepumph commented on #1314
Just confirming here that https://github.com/phetsims/scenery/issues/1318 has been reviewed and all is good.

[2021-11-03 18:00] zepumph commented on #1314
@jessegreenberg, this review is blocking friction, raising priority.

[2021-11-04 16:40] jessegreenberg commented on #1309
Thanks! I don't think there is anything else for this for dev meeting, assigning to myself to proceed with fixing as suggested in https://github.com/phetsims/scenery/issues/1309#issuecomment-953323864 then using the batch MR process to patch published sims in perennial/data/interactive-description.

[2021-11-04 18:52] chrisklus commented on #1310
From 11/4/21 dev meeting:

JO: This feels out of our control, as it is specific to what a given browser does, and users should be used to how to handle full screen behavior on their default browser.

We are okay with doing nothing and closing. Thanks @Nancy-Salpepi!

[2021-11-04 18:52] #1310 closed

[2021-11-08 20:49] samreid commented on #1124
While iterating on CCK AC with ?phetioStandalone, I get an error like this around 1 in every 20 launches:

PhetioObject.js:390

[code]

[2021-11-08 20:57] zepumph commented on #1124
Yes, this happens because the globalKeyStateTracker exists before PhET-iO does. Probably we should be graceful here, but in the scenery side of things, not generally in PhET-iO. It may be sorta hard though.

[2021-11-08 20:58] samreid commented on #1124
Can we create the globalKeyStateTracker after we create PhET-iO?  Or should we add a buffering layer?

[2021-11-09 15:40] samreid commented on #1124
Should we investigate seeing if `dataStream` can be `import`ed before scenery?

[2021-11-09 16:01] zepumph commented on #1124
I would rather not honestly. In part because I think it will be very hard. To me this has never seemed like a problem. Trying to make sure we capture events before the sim has started up doesn't seem that important to me. This it the only case where we have run into this.

[2021-11-09 23:02] samreid opened #1319 "Fix type for Image"
Image is defined with a JS mixin, and TypeScript doesn't understand its type too well.  This is leading to a proliferation of `image as unknown as Node` so we can work around the type system.

[2021-11-10 03:34] emily-phet commented on #1302
@kathy-phet and I spoke about this on 11/5/21. I expressed that after discussion with Taliesin, Jesse, and Michael, our recommendation was to *not* rename. There are a number of reasons for this, but a few discussed include the following (this is not a complete list, please do not base any further decisions based solely on these few examples):
- Instrumenting a simulation with alternative input ex

[2021-11-10 04:14] samreid commented on #1319
I can get everything compiling if I do the following:
* add 2 adapter methods to Image that call through to the Imageable supertype
* Add ` @extends Node`
* Fix the visibility of `invalidateSupportedRenderers` to be compatible with the supertype

The most offensive are the 2 adapter methods.  I'll mark them with `@ts-ignore` to remind us to revisit.  Or we can leave this issue open.  Of course tho

[2021-11-10 04:23] samreid commented on #1319
Fixed and committed in this issue and https://github.com/phetsims/geometric-optics/issues/267.  @jonathanolson can you please take a look?  Close if this seems like a reasonable short-term solution until we have better TypeScript common code mixins.

[2021-11-11 16:07] jonathanolson commented on #1319
I'm not a big fan of this style, but hopefully it's temporary enough. Looks reasonable for short-term.

[2021-11-11 19:13] samreid commented on #1298
We discussed this today.  @pixelzoom has been making a quick start guide in https://github.com/phetsims/phet-info/issues/168.  He also opened several issues as he worked on geometric optics.  It was said that some of those issues may need to wait until next quarter, but the sim will be done before that.

@pixelzoom: There are other sim-specific gaps that have to be balanced with the support.  How

[2021-11-11 19:23] pixelzoom commented on #1289
This has come up again in https://github.com/phetsims/equality-explorer/issues/174, and I'll be applying the same workaround there.

[2021-11-11 23:33] zepumph commented on #1220
@jessegreenberg, is this similar to the issue about voicing invisible Nodes? Should it be part of that design while we are working in scenery?

[2021-11-12 05:00] samreid commented on #1124
Thanks, our decision in https://github.com/phetsims/scenery/issues/1124#issuecomment-746910511 seems good for now.  Unassigning.

[2021-11-12 18:36] jessegreenberg commented on #1300
Here are my thoughts on this now:

1) voicing should be prevented or interrupted when a Node is no longer attached to the scene graph or any of self or ancestors become invisible.
2) Voicing should be prevented or interrupted when a Node has self or ancestors marked as voicingVisible false.
3) Ideally this would be done in a way that is DAG/Instance friendly. In order to make it DAG friendly we ne

[2021-11-12 19:22] zepumph commented on #1284
@jessegreenberg and I went through https://github.com/phetsims/scenery/commit/7a00a1c8372bc9c4f01c96c62dff63c911634bec, removed TODOs, and found one improvement. In general, the places we converted to use FocusManager instead of docuement.activeElement were deep in scenery, and it made sense to us to keep the change.

We feel ready to close this issue.

[2021-11-12 19:22] #1284 closed

[2021-11-12 22:06] jessegreenberg commented on #1300
Discussed briefly with @zepumph - Maybe we can put `subclassCheck` on Utterance instead of the UtteranceQueue. Utterance could have an abstract function to check whether it is able to speak, and that could be used for the purposes of this issue. This way we don't need a specific UtteranceQueue subclass in scenery.

[2021-11-15 15:36] jessegreenberg commented on #1315
The improvements in https://github.com/phetsims/utterance-queue/issues/37 may make this unnecessary because we are going to try and stop using `end` events entirely. On hold until that issue is finished.

[2021-11-15 20:24] zepumph commented on #1300
@jessegreenberg and I spent all morning on this problem. Here are some notes and a patch. Basically we decided that the best path forward was to use the trail tracker from https://github.com/phetsims/scenery/issues/1300#issuecomment-967331846 to listen to the visible and voicingVisible (on every Node) Properties on all Nodes up each instance's trail. That allows us to AND all Properties together t

[2021-11-16 23:05] markgammon opened #1320 "Spread of Scenery knowledge /Toe dipping"

[2021-11-16 23:42] jessegreenberg opened #1321 "AnimatedPanZoomListener doesn't keep the Node in view during drag in cases of event forwarding"
Noticed in https://github.com/phetsims/equality-explorer/issues/179.

The AnimatedPanZoomListener uses the Trail to the target of a down event to determine which Node should remain in view when dragging. That Trail is not the one we want to track when event is forwarded to another target with the creator pattern.

In general I don't think we should be using the Trail of the down event to accomplis

[2021-11-17 17:35] Nancy-Salpepi commented on #1321
Hey @jessegreenberg
Looking at your comment https://github.com/phetsims/equality-explorer/issues/179#issuecomment-970861763, I would expect panning to work when moving an object that isn't coming from a toolbar. However, while testing https://github.com/phetsims/qa/issues/738, the screen does not pan when I move a block.
![panningdensity](https://user-images.githubusercontent.com/87318828/14225224

[2021-11-17 18:03] jessegreenberg commented on #1321
Ah, thanks @Nancy-Salpepi, Ill take a look at that case as well and see what is different. If I proceed with

I suspect it will fix all of these anyway.

[2021-11-19 22:59] pixelzoom commented on #1289
In https://github.com/phetsims/equality-explorer/issues/174, we discovered some similar behavior in Firefox (Mac and Windows) that is not fixed by the `preventFit: true` workaround.  @jonathanolson investigated, and said in https://github.com/phetsims/equality-explorer/issues/174#issuecomment-974514551:

So there is no known fix for Firefox at this time.

[2021-11-20 01:29] jessegreenberg commented on #1300
@zepumph @jonathanolson and I met today to discuss the above proposal. Instead of TrailCanSpeakTracker we tried a much less memory intensive approach where we add an Emitter directly to Instance that will let us broadcast changes in `voicingVisible`.  With this information on Instance we do not need to watch the entire Trail of ancestors to know if `visible`/`voicingVisible` has changed. In Voicin

[2021-11-22 19:05] samreid commented on #1319
TypeScript has been enabled in common code, and it sounds like @jonathanolson will take the lead on working on scenery.  Please assign me if you'd like me to work on part of that.

[2021-11-22 20:27] KatieWoe commented on #1321
I also noticed that automatic panning may happen in https://github.com/phetsims/qa/issues/738 when it isn't intended.

https://user-images.githubusercontent.com/41024075/142930280-a7b6245f-259f-4357-90ef-22b2363628bf.MP4

[2021-11-23 19:09] KatieWoe commented on #1321
The above also happens from the bottom of the pool scrolling up.

[2021-11-23 22:05] samreid commented on #1159
@jonathanolson and I discussed this in slack:

Jonathan Olson  2:53 PM
Has anyone had experience splitting things between two files for a single class in Typescript? I'm curious if I'm going to need to combine ParallelDOM + Node more to get the typing to work

Sam Reid:house_with_garden:  2:57 PM
We have been discussing that problem in https://github.com/phetsims/scenery/issues/1159
2:58
Why not m

[2021-11-29 16:08] samreid commented on #1251
Reopening since CT is showing several errors like this:

[code]

[2021-11-29 16:09] samreid commented on #1251
This has been on CT since at least Nov 27.  I confirmed that running `grunt generate-phet-io-api` corrects the problem for gravity and orbits.  It adds this new part to the API:

[code]

[2021-11-29 16:30] samreid commented on #1251
I added the `colorProfileProperty` in the commit, and will request review from @zepumph since he was the original reviewer and may have ideas about what happened here.

[2021-11-29 16:35] samreid opened #1322 "SyntaxError: The requested module './input/EventIO.js' does not provide an export named 'default'"
For a column, CT showed this issue:

[code]

The only affected shas in that column were babel, so it's unclear what the cause is.

@jonathanolson said:

[2021-11-29 16:37] samreid commented on #1322
I ran locally with the same query parameters that failed on CT and cannot reproduce the problem:

`brand=phet&ea&fuzz&fuzzPointers=2&memoryLimit=1000&supportsPanAndZoom=false`

[2021-11-29 16:39] samreid commented on #1322
Here is a similar-looking error from the same column:

[code]

I wonder if it could be related to when I temporarily enabled the other transpilation step in https://github.com/phetsims/chipper/issues/1156 ?

[2021-11-29 16:41] samreid commented on #1322
Also, I ran the failing URL https://bayes.colorado.edu/continuous-testing/ct-snapshots/1638198860357/capacitor-lab-basics/capacitor-lab-basics_en.html?continuousTest=%7B%22test%22%3A%5B%22capacitor-lab-basics%22%2C%22pan-and-zoom-fuzz%22%2C%22unbuilt%22%5D%2C%22snapshotName%22%3A%22snapshot-1638198860357%22%2C%22timestamp%22%3A1638200679695%7D&brand=phet&ea&fuzz&fuzzPointers=2&memoryLimit=1000&sup

[2021-11-29 16:42] samreid commented on #1322
A similar problem also appears to affect some sims in the next column:

[code]

[2021-11-29 17:05] jonathanolson commented on #1322
Checked into the blackbody-spectrum one:

`/data/share/phet/continuous-testing/ct-snapshots/1638200540816/chipper/dist/scenery/js/input/Mouse.js` has the last 3 lines:

[code]

So presumably the file would have had to have changed? Are browser tests running too early now?

[2021-11-29 17:16] jonathanolson commented on #1322
Second factor is... does `tsc` and transpilation both write files to chipper/dist? We're using just `tsc` for output-js, so is that partially broken?

[2021-11-29 17:56] pixelzoom opened #1323 "Uncaught ReferenceError: Cannot access ‘Color’ before initialization at ColorDef.js:41"
Geometric Optics is currently broken in Studio.  The console error on startup is:

    at ColorDef.js:41

The relevant code in ColorDef.js is:

[code]

I'm dead in the water here, so high priority please. This was working before I went on vaction, prior to TS conversion of common code.

[2021-11-29 18:07] pixelzoom commented on #1323
Nevermind.  I blasted chipper/dist/, recompiled all TS, and GO is now loading in Studio.  No idea why it was messed up.

[2021-11-29 18:07] #1323 closed

[2021-11-30 16:44] jessegreenberg commented on #1245
This seems to be fixed in Chrome as of Version 96.0.4664.45 (Official Build) (64-bit).

[2021-11-30 23:54] zepumph commented on #1251
I'm quite tired of needing to specify the list to the stable phet-io sims, so I to help me review this issue, I made a `--stable` flag that will automatically use the stable api sims and regenerate each.

After calling this, I found no differences in the api files. Ready to close?

[2021-12-01 14:34] samreid opened #1324 "Evaluate the need for new import style"
In porting to TypeScript, @jonathanolson discovered (introduced?) circular dependencies that warranted a new type of import style.  He followed the approach recommended in https://medium.com/visual-development/how-to-fix-nasty-circular-dependency-issues-once-and-for-all-in-javascript-typescript-a04c987cf0de and changed imports in sims.  We agreed the import style is not preferable, but seems neces

[2021-12-01 16:43] #1251 closed

[2021-12-02 20:11] samreid commented on #1324
From todays meeting:

Seeing `import { Circle } from … imports`, but also seeing a few `import Node from … Node`
JO: This is needed because of circular dependencies. This lets us control the order of imports so circular dependencies don’t break things.
SR: I want to understand this better and see if we can avoid this pattern in https://github.com/phetsims/scenery/issues/1324
SR: Do we feel strongl

[2021-12-02 20:52] zepumph commented on #1324
I added the lint rule and fixed issues above. There were already 42 failures.

[2021-12-02 23:11] oliver-phet commented on #1289
Sorry for the delay in getting back to this issue -

[iPad 3rd gen only supports up to iOS 9.3.5](https://en.wikipedia.org/wiki/IPad_(3rd_generation)#Software), which is well below our current system requirements of iOS 13+. Since we aren't supporting those older iPads, I don't think performance on those older devices should impact fixes for this issue!

FYI, I currently can't capture specific dev

[2021-12-03 17:16] zepumph opened #1325 "Voicing needs functions to lazily formulate responses"
I am running into problems with the current system over in https://github.com/phetsims/ratio-and-proportion/issues/416 and, more broadly, https://github.com/phetsims/ratio-and-proportion/issues/413.

I have a line of code like this:

https://github.com/phetsims/ratio-and-proportion/blob/1143b570eb5ba4f725b489eb29317334a74c096f/js/common/view/RatioHandNode.ts#L94-L100

But that is posing 2 problems

[2021-12-03 20:10] jessegreenberg commented on #1325
I am not sure that we need to put this in Voicing yet. First, are you sure that it is a performance burden to generate strings like this? I had thought that creating strings is in the noise for performance. Second, could the voicing be done the same ariaCreateValueText without changing anything in the Voicing API? For example, that could be the responsibility of the Voicing solution for Accessible

[2021-12-03 21:37] jessegreenberg commented on #1325
There was a time when Voicing.js had functions like this as the way to create the strings that you need in response to certain input. I think we decided to replace them with the current API https://github.com/phetsims/scenery/commit/e22e750e2954bd2d51b171db4f5de55d493a7654

and chose not to support both.

[2021-12-07 22:34] samreid opened #1326 "iPad browser crashes (triggers a reload) on some devices with ?showPointerAreas"
From https://github.com/phetsims/circuit-construction-kit-common/issues/798, @KatieWoe reported:

On iPadOS 15.1, with the query parameter `?showPointerAreas`, the sim crashed and reloaded after a few minutes of use. This seems similar to https://github.com/phetsims/molecule-shapes/issues/206

@stemilymill said:

@jonathanolson how do you recommend to proceed?

[2021-12-08 03:31] jonathanolson commented on #1326
It takes up some extra memory, perhaps that's related? I'm not sure. We'd presumably need to reproduce it a bit more.

[2021-12-10 21:24] jessegreenberg opened #1327 "Voicing should have a default Utterance"
It would be nice if Voicing had a default Utterance that it could use to speak content. It would fit in well with `collectAndSpeakResponses`, and matches the fact that you can specify an UtteranceQueue to speak through.

[2021-12-13 18:51] zepumph commented on #1327
Over in https://github.com/phetsims/sun/issues/730, @jessegreenberg and I discussed and think that the Utterance in Voicing should have an `alertStableDelay` of 500 ms, as used in https://github.com/phetsims/inverse-square-law-common/blob/e5e7bd7be4e9611492fea16ee529e8d82181f119/js/view/ISLCObjectNode.js#L234-L236

[2021-12-13 19:18] zepumph commented on #1283
I'll work on this, commits coming soon.

[2021-12-13 19:27] zepumph commented on #1316
I just ran into this while working on https://github.com/phetsims/scenery/issues/1283, so I'm going to go ahead and handle it as part of that work.

[2021-12-13 19:30] zepumph commented on #1283
This work exposes many bugs currently in sims. We had been setting things like Voicing.voicingNameResponse before initialize all over the place, but since we are in javascript, it didn't care. With the refactor, it is now trying to access Voicing.voicingResponsePacket.nameResponse, but the packet is `null`. I apprecitate the load failures so I can just fix them as they come up!

[2021-12-13 20:50] zepumph commented on #1283
Alright, I fixed https://github.com/phetsims/scenery/issues/1283#issuecomment-992800551 in JT, Friction, Quad, Joist, and GFLB. All sims seem to be working better when accessing Voicing.voicingResponsePacket in my local copy. Commits coming soon after a bit more testing.

[2021-12-13 21:05] zepumph commented on #1283
I decided against changing any of the public API, for example, the option is still called, `voicingIgnoreVoicingManagerProperties` which feels good to me. @jessegreenberg do you think there is anything else here?

[2021-12-13 21:43] zepumph commented on #1316
@jessegreenberg, I'm pretty sure that I converted to this pattern and refactored correctly, but will you make sure. I think the most important file to review is Voicing.js, and to make sure there isn't any more documentation to add about how to use the type. Again noting here that Paintable, and other mixins that add mutator keys have the same constraint, so this is an established pattern in scene

[2021-12-13 22:00] jessegreenberg commented on #1309
I tested https://github.com/phetsims/scenery/commit/40f15a9f3c26f1bf8404f373d02edf4eec4426fc in a sim where this was broken (BASE on master) and verified that opening the AboutDialog in XHTML would crash the sim before the change and run OK after the change. Then I fuzz tested sims in the interactive-description data list in perennial and saw no issues. I think we are ready for the maintenance rel

[2021-12-13 23:02] jessegreenberg commented on #1309
This comment will collect notes as I go through the MR process:

In order to only redeploy to release branches for sims in perennial/data/interactive-description I used the following Maintenance command:
[code]

And it produced the following:
<details>

[code]
</details>

[2021-12-14 16:08] KatieWoe commented on #1321
Noting this in https://github.com/phetsims/qa/issues/751

[2021-12-14 18:44] samreid commented on #1326
I'm not planning to work on this at the moment.

[2021-12-14 18:51] samreid commented on #1324
I started writing a script that converts back from scenery/js/imports to importing specific files.  But I also wondered if we can simulate the cycles by changing the order of imports in scenery/js/imports.

[2021-12-14 19:56] jessegreenberg commented on #1309
RCs were deployed and a spot check issue has been made in https://github.com/phetsims/qa/issues/755.

[2021-12-14 23:57] jessegreenberg commented on #1316
These commits make sense to me. I scanned the project for other places where voicing options were used in a super call but could not find any that did not follow the pattern described here.

This is my understanding as well.

Thanks for doing this!

[2021-12-14 23:57] #1316 closed

[2021-12-15 16:43] pixelzoom opened #1328 "CT: Assertion failed: selfPruned mismatch"
Reported by CT:

[code]

This happened once in CT.  I decided to report it in case it's a latent problem, or somehow related to conversion of Picker to TS.

The stack trace indicates Picker.js line 652.  But the actual assertion failure is Picker.ts line 694.

[2021-12-15 16:55] jessegreenberg commented on #1309
https://github.com/phetsims/qa/issues/755 is complete and no issues were found, we can proceed with production deploys.

[2021-12-15 19:21] pixelzoom opened #1329 "Restore git history that was lost during conversion to TypeScript."
History for some source files was lost in the conversion from .js to .ts.

So far we've identified ParallelDOM.ts and Paintable.ts, but there may be others.  This has affected my work today in geometric-optics.

Please identify files where this is a problem, and restore their git history.

[2021-12-15 20:38] zepumph commented on #1298
Because the quarterly goal was to bring this to dev meeting for an initial discussion. No further steps are needed at this time from the devs. It seems like my understanding of "Done" is different from others, so I'll go ahead and remove this from the Project altogether to prevent further confusion.

[2021-12-15 20:57] zepumph commented on #1329
I can get the most recent ParallelDOM.js history in `git checkout 592fc67551e5a6de67f67eecc7fe1768fb3343ef`.

[2021-12-15 20:57] zepumph commented on #1329
Looks like the commit that blew away the history is `
7c77d92a17aa35feddb74ba6ff8354414624685f`

[2021-12-15 21:00] zepumph commented on #1329
When I look at https://github.com/phetsims/scenery/commit/7c77d92a17aa35feddb74ba6ff8354414624685f in webstorm I can confirm that Paintable and ParallelDOM are the only two files that lost their history.

[2021-12-15 21:10] kathy-phet commented on #1329
@zepumph - Remember that we now have Enterprise level Git support, if needed.

[2021-12-15 22:07] zepumph commented on #1329
I was able to restore ParallelDOM by using copy-history-to-different-repo.sh. Here were the steps (pseudo code)

[code]

That said, I initially looked at using https://www.git-tower.com/learn/git/faq/restoring-deleted-files/ was helpful
 as a guide, but I realized I had the wrong path the whole time, so I will see if this is easier to do for Paintable, it isn't clear if it will give the history: `

[2021-12-15 22:13] zepumph commented on #1329
This strategy really only works because I feel comfortable blowing away all the commits that have come after the conversion to typescript for these two files. The commits are just formatting and documentation. The content is still there, just not the git history/blame for those changes.

[2021-12-15 22:17] zepumph commented on #1329
Alright. Paintable and ParallelDOM have been restored. @jonathanolson do you want to spotcheck anything? Feel free to close.

[2021-12-16 17:10] pixelzoom commented on #1307
I'm running into this again in Geometric Optics, where the rulers have dynamic drag bounds. Adding to Developer Meeting project board.

[2021-12-16 17:12] jessegreenberg commented on #1309
Sims were redeployed to production. Closing.

[2021-12-16 17:12] #1309 closed

[2021-12-16 17:28] zepumph commented on #1307
I can tackle this now.

[2021-12-16 17:29] zepumph commented on #1307
@pixelzoom are you adding to dev meeting to get traction on this issue, or would you like to discuss something in particular?

[2021-12-16 17:29] pixelzoom opened #1330 "KeyboardDragListener violates PhET convention for ES5 set/get, resulting in more differences with DragListener."
Related to https://github.com/phetsims/scenery/issues/1307 ...

KeyboardDragListener also deviates from DragListener in how it defines ES5 getters.  KeyboardDragListener violates PhET convention and does not have non-ES5 set and get methods.

For example:

[code]

This is one more thing to deal with when adding a KeyboardDragListener.

For example, in Geometric Optics, I had this in GORulerNode.js

[2021-12-16 17:49] pixelzoom commented on #1307
I was adding to get traction. Feel free to remove it from the project board since you're tackling it now.

[2021-12-16 17:54] pixelzoom commented on #1307
Also note that I've been mentioning this issue in TODO comment is my code, to identify sites that will need to be fixed up.

[2021-12-16 17:58] zepumph commented on #1330
Sounds about right. I'll fix drag bounds over in https://github.com/phetsims/scenery/issues/1307.

[2021-12-16 18:16] pixelzoom commented on #1313
Also running into this again in Geometric Optics.

[2021-12-16 19:32] zepumph commented on #1307
Committed above + usages. This includes cleaning up the TODOs in GO. @pixelzoom does this look right to you in GO and any other usages you are aware of (I changed one in Fourier as well)?

[2021-12-16 19:48] pixelzoom commented on #1307
Looks great, thanks! Closing.

[2021-12-16 19:48] #1307 closed

[2021-12-16 22:09] pixelzoom opened #1331 "KeyboardDragListener addHotkey does not work with 1 key."
KeyboardDragListener `addHotkey` is broken when 1 key is specified.

This works:

[code]

This doesn't work:

[code]

We also tried holding the key down for > 800ms, and setting `hotkeyHoldInterval: 0`.

[2021-12-17 21:35] zepumph commented on #1331
Bug fixed. Thanks for the help @jessegreenberg. @pixelzoom I updated the usage in GO. Anything else here?

[2021-12-17 21:45] pixelzoom commented on #1331
Looks great,and working great in geometric optics. Thanks for the quick turnaround. Closing.

[2021-12-20 16:45] pixelzoom opened #1332 "How to pick translation (or transform?) options of NodeOptions?"
This need isn't limited to a specific sim, and occurs often when designing Node subclass APIs.

I have a subclass of Node that I would like to configure via options.  I would like my subclass to expose only the Node options that are related to translation in its API.   For example, see GOControlPanel.js in geometric-optics. How can I accomplish this via PhET'S TS options pattern?

The options that

[2021-12-20 16:46] pixelzoom commented on #1332
If the array enumerated in `mutate` were publicly available, then perhaps I could figure out how to do something like `Pick< NodeOptions, ... >` to get the subset of NodeOptions that I need.

[2021-12-20 21:21] samreid commented on #1332
Maybe `NodeOptions` could be assembled as `type NodeOptions = TranslationOptions & TransformOptions & InputOptions & etc` so that clients can pick the subset they want?

[2021-12-20 22:39] pixelzoom commented on #1332
For something like Node that has so many options, having categories as @samreid has proposed sounds really nice.

[2021-12-22 20:37] pixelzoom commented on #1332
Another common needs is to _omit_ all translation options.  This is typical for a Node that observes a positionProperty and handles its own translation.

[2021-12-29 14:07] samreid commented on #1324
This article lists some tools and ideas around circular imports: https://www.reddit.com/r/typescript/comments/ra4wah/psa_dont_make_the_same_mistake_i_did_avoid/?utm_source=share&utm_medium=ios_app&utm_name=iossmf

[2022-01-03 17:49] pixelzoom opened #1333 "Image `hitTestPixels: true` feature is broken."
In geometric-optics, I have a set of images that are all similar. They are objects inside of picture frames.  For example https://github.com/phetsims/geometric-optics/blob/master/images/penguinRightFacingUpright.png:

<img width="156" alt="screenshot_1480" src="https://user-images.githubusercontent.com/3046552/147961570-1c3c7c5c-a470-47bd-8302-00dfa16a09aa.png">

I also need to create a mask for t

[2022-01-03 18:43] pixelzoom opened #1334 "KeyboardDragListener addHotKeys is broken"
I’m trying to implement “jump” hotkeys, like BASE.   I'm using this code in BalloonNode.js as my guide:

[code]

I’m seeing some very buggy behavior in BASE on master.  Typing J alone shouldn't do anything, but it moves the balloon to the wall.  And if I’m not fast enough in pressing the “S” in “J+S”, the balloon moves to the wall.

I confirmed that this is NOT broken in the published version BASE

[2022-01-03 18:55] pixelzoom commented on #1334
I'm see some additional weird behavior in geometric-optics (not pushed).  Here's my code for adding hotkeys to a ruler:

[code]

If I press J, the J+L callbak aways fires.

If I press L, O, or I without J, the associated callbacks will sometimes fire.  Whether it fires seems related to how long I hold the key down.

[2022-01-03 19:02] pixelzoom opened #1335 "Should hotkeys fire on keyup or keydown?"
In Geometric Optics https://github.com/phetsims/geometric-optics/issues/279, we're adding hotkeys to move the rulers to specific positions, like GFL and BASE:

BASE uses KeyboardDragListener `addHotKeys`.  And these callbacks seem to fire on keydown.

In Fourier Making Waves, I was advised to fire hotkeys on _keyup_, by adding listeners to `globalKeyStateTracker.keyupEmitter`.  See for example Wav

[2022-01-03 19:07] jonathanolson commented on #1333
I'm looking into it, it should work. We're using that feature for the protractor and in CLB/natural-selection.

[2022-01-03 19:10] jonathanolson commented on #1333
I'm curious if this is platform-specific somehow:

![image](https://user-images.githubusercontent.com/480878/147969874-bdf35afc-8d5a-4760-937c-7d55870f3f8d.png)

[2022-01-03 19:17] pixelzoom commented on #1333
@jonathanolson and I discussed on Zoom.  When he put my example code outside the constructor in FocalPointNode, he was not able to reproduce.  We moved it into the TargetNode constructor, just after the call to super, and he was able to reproduce.

[2022-01-03 21:56] jessegreenberg commented on #1331
This fix introduced a bug identified in https://github.com/phetsims/scenery/issues/1334. Just checking the length of `hotkeysDownList` wasn't sufficient because that means the callback would fire if any one of the hotkeys are down. It is fixed with the above commit, @zepumph is this change OK?

[2022-01-03 21:58] jessegreenberg commented on #1334
This was introduced by https://github.com/phetsims/scenery/issues/1331, I verified that BASE is fixed after the above commit. I also tried the example in geometric-optics in https://github.com/phetsims/scenery/issues/1334#issuecomment-1004288776 and it is working. @pixelzoom can you please verify that this is fixed?

[2022-01-03 22:17] jessegreenberg commented on #1335
I think hotkeys should fire on down. I noticed that browser hotkeys all fire on down as well (for example, all of these: https://support.google.com/chrome/answer/157179?hl=en&co=GENIE.Platform%3DDesktop).

I wonder if `keyup` was recommended because it was a natural way to prevent the hotkey listener from firing every `down` event? But whatever is handling the hotkeys should prevent this.

I think

[2022-01-03 22:35] pixelzoom commented on #1335
I'll change Fourier in https://github.com/phetsims/fourier-making-waves/issues/216.

+1 for this.  But I really don't like the approach that I had to use in WaveGameLevelNode, where the listener gets every keystroke and is responsible for checking `pdomDisplayed`, `enabledProperty`, etc.   Maybe a HotkeyListener that can be added to a Node via `addInputListener`?

[2022-01-03 22:45] pixelzoom commented on #1334
This seems like it's working correctly now for the rulers in Geometric Optics.  See `this.keyboardDragListener.addHotkeys` in GORulerNode.js, if you're interested.

Thanks for the quick turnaround. Closing.

[2022-01-03 22:45] #1334 closed

[2022-01-03 23:02] zepumph commented on #1331
Aha! Yes that makes sense. Sorry about that. I tested before and after changes in GO and BASE, all looks good to me.

[2022-01-03 23:02] #1331 closed

[2022-01-05 00:14] pixelzoom commented on #1333
@jonathanolson if you'd like to test in the context of Geometric Optics, change to `hitTestPixels: true` in TargetNode.js:

[code]

Then run with `?debugMask` and you'll see the mask Shape stroked in red. Here's how it currently looks with `hitTestPixels: false`:

<img width="1043" alt="screenshot_1489" src="https://user-images.githubusercontent.com/3046552/148140958-9e0f38a0-06b5-4a29-a135-4575f7

[2022-01-05 01:08] jonathanolson commented on #1333
For reference, I've been working on figuring out the best way to handle this issue. It's locking up because it's running into a technically O(n^3) case where I thought it would be O(n^2)... where `n` is ~200,000. We can do much better. Looking into scanline and optimized approaches, and doing bounds comparison before computing overlap deep in kite code (Graph.eliminateOverlap is hurting, and was a

[2022-01-05 22:06] zepumph commented on #1327
On RaP RatioHalf, I thought I wanted this central utterance for use in my mouse dragging voicing:

[code]

This is used on each drag step, but then @jessegreenberg and I realized that we don't know a nice or easy way to pass in those options to the central Voicing utterance. Perhaps in this case it is better as its own entity.

[2022-01-05 22:09] zepumph commented on #1327
@jessegreenberg and I want to support this by adding a new mutator key: `'voicingUtterance'`

[2022-01-08 00:13] jessegreenberg opened #1336 "voicingManager.speakIgnoringEnabled should be replaced"
We need a different function to speak without using the voicing framework. We don't like the example usage in number-play. It should ideally use the UtteranceQueue.

[2022-01-11 17:48] KatieWoe commented on #868
Noting that I'm not seeing this issue in Chrome on my Win 11 device.

[2022-01-11 20:12] zepumph commented on #1330
I updated the API for transform in KeyboardDragListener above. I didn't see any other getters or setters needing work. @pixelzoom is there anything else here?

[2022-01-11 23:24] zepumph commented on #1313
This got a ping today during quarterly planning.

[2022-01-12 17:28] pixelzoom commented on #1333
In the above commits, @jonathanolson added sherpa/lib/flatqueue-1.2.1.js.  In Slack developer channel, he said:

[2022-01-12 22:15] pixelzoom commented on #1330
Changes look good, and I see it's being used in geometric-optics. Closing, thanks!

[2022-01-12 22:15] #1330 closed

[2022-01-20 23:34] zepumph opened #1337 "Assertion failed: About to add the priority listener twice and only one should exist on the Utterance. The listener should have been removed by removeOthersAndUpdateUtteranceWrapper."
I found a bug based on recent work going on in UtteranceQueue around https://github.com/phetsims/joist/issues/752.

@jessegreenberg, I think what is happening, is that when you use a single Utterance to spam a bunch of alerts through the queue for voicing, the Priority listener is still attached to that Utterance while it is speaking. Thus, if you try to add that same utterance to the queue again,

[2022-01-20 23:35] zepumph commented on #1337
I think just testing in ratio and proportion by dragging the hands with the mouse through at least one voicing sentence.

I was also able to reproduce this in GFLB.

[2022-01-20 23:36] jessegreenberg commented on #1337
Very sorry, I am working on this now in https://github.com/phetsims/utterance-queue/issues/46. You are exactly right about the breaking case.

[2022-01-20 23:38] zepumph opened #1338 "Voicing needs better CT coverage"
From https://github.com/phetsims/scenery/issues/1337. To me it is a bit crazy that that bug wasn't getting caught on CT, but it is because voicing needs to be enabled to get things working. This is also related to https://github.com/phetsims/scenery/issues/1264.

I think the best path forward is to just add some tests for voicing in listContinuousTests

[2022-01-20 23:39] zepumph commented on #1337
Excellent! Feel free to close this issue, and please note https://github.com/phetsims/scenery/issues/1338 to help catch these in the future.

[2022-01-20 23:40] jessegreenberg commented on #1337
OK, sounds good.

[2022-01-20 23:40] #1337 closed

[2022-01-20 23:48] zepumph opened #1339 "voicingInitiallyEnabled should toggle all responseCollector Properties to true"
From https://github.com/phetsims/scenery/issues/1338, this made sense to me. @jessegreenberg please review this commit.

[2022-01-20 23:51] jessegreenberg commented on #1339
Makes sense, this will be helpful, thanks!

[2022-01-20 23:56] zepumph commented on #1338
I added a voicing list, and added tests for it. @jessegreenberg can you please review.

[2022-01-21 00:01] #1339 closed

[2022-01-21 00:55] jessegreenberg commented on #1338
This will be helpful, thank you. I also see entries now in the new data/voicing list. And according to continuous-testing-management.md changes to listContinuousTests.js will be included in the next snapshot.

Closing.

[2022-01-21 18:39] jessegreenberg commented on #1338
While reviewing today @zepumph noticed that tests aren't running on CT, we should figure out why.

[2022-01-21 18:45] jessegreenberg commented on #1338
It seems that tests are running but we were surprised that sims were running without error (we expected to see hub.com/phetsims/utterance-queue/issues/46).

We found that headless chrome does not support speech synthesis (https://github.com/puppeteer/puppeteer/issues/2141#issuecomment-370525613). Also since there is no legitimate input with fuzzing speechSynthesis will generally be disabled in tes

[2022-01-21 18:58] zepumph commented on #1338
A bit of background. . .
Here are the passing voicing tests from the past night:

![image](https://user-images.githubusercontent.com/6856943/150583901-42840dca-01e3-477b-bc95-3cb09dc5a515.png)

But note that because of https://github.com/phetsims/utterance-queue/issues/46, pretty much all repetitive voicing responses are broken right now. For example just drag any hand in ratio and proportion in t

[2022-01-24 19:16] zepumph commented on #1220
@terracoda, can you note here whether or not you feel like this is blocking the publication of Ratio and Proportion with voicing. If so, we can get some of @jonathanolson's time on the books (likely for early Q2) to get this supported.

[2022-01-24 21:14] zepumph opened #1340 "Convert Voicing.js and others (6 mixins) to new mixin pattern and typescript"
This will be helpful for https://github.com/phetsims/ratio-and-proportion/issues/404, and is aligned with quarterly goals.

[2022-01-24 21:16] zepumph commented on #1340
Tagging @jessegreenberg

[2022-01-25 00:41] zepumph commented on #1340
I found that I had to make a couple of things public from private/protected in Voicing because of TS4094 (explained in https://github.com/Microsoft/TypeScript/issues/30355#issuecomment-473060190). I marked a couple of TODOs pointing to the change.

I tried to convert Voicing to typescript so that I could specify that it can only provide Node subtypes to be extended, and I ran into that same issue.

[2022-01-25 00:53] samreid commented on #1340
@jonathanolson is the expert on TypeScript mixins and the constraints around private/public members and may be able to recommend how to proceed here.

Also, I skimmed the patch and am wondering if it would work for this case to do `class VoicingNode extends Node` instead?

[2022-01-25 16:35] zepumph commented on #1340
I do not think so, the current structure is as such for 6+ mixins:

[code]
That said, it is a recent addition from AccessibleValueHandler to extend Voicing, and if we had to, we could likely move away from it (it's sorta up in the air anyways).

Many usages of Voicing and AccessibleValueHandler are added into the middle of hierarchies, and with typescript I wouldn't know how to say Voicing extends

[2022-01-25 21:37] zepumph commented on #1340
In a conversation with @jonathanolson this afternoon, he pointed me towards the pattern used in Paintable, as well as the general issue https://github.com/phetsims/chipper/issues/1127.

[2022-01-26 01:03] zepumph opened #1341 "Add emitter when Tandem is launched"
Over in https://github.com/phetsims/phet-io/issues/1626, it has become very helpful to know when phetioEngine is ready, i.e. when phet.phetio.phetioEngine exists. Having a hook seems to be the best path forward.

I will make that here. I was thinking about names:
[code]

For now, I will go with Tandem.launchedEmitter, since it will be called from Tandem.launch(), but I'm happy to rename later. Tag

[2022-01-26 01:12] zepumph commented on #1341
I can't use Emitter in Tandem, so instead I will just make Tandem.addLaunchListener(), that will work just fine.

[2022-01-26 01:16] zepumph commented on #1341
Added above. @samreid will you please review the change?

[2022-01-26 01:32] samreid commented on #1341
The commit looks reasonable to me.  The dev team has had discussions in the past about listener order, and I'm wondering if we want:

[code]

To be added as a listener like it is, or if it should run separately than the other listeners.

[2022-01-26 15:49] KatieWoe opened #1342 "CT class constructors cannot be invoked without new"
[code]

[2022-01-26 16:24] zepumph commented on #1342
I'll take a look, although my initial thoughts are that it is older that my changes in #1340 from last night.

[2022-01-26 19:08] zepumph commented on #1342
I'm a bit stumped. Here is what I was able to do:

1. run `grunt --minify.minify=false` in scenery to get a single file with human-readable code in it.
2. Launch and scenery example that uses the built scenery, like http://localhost:8080/scenery/examples/shapes.html.
3. Note the new error:
[code]

8921 is the first comment line after FlatQueue is defined. Here is what looked like for me:

[code]

[2022-01-26 19:09] zepumph commented on #1342
Looks like it started in between these two rows in CT:

![image](https://user-images.githubusercontent.com/6856943/151230180-15b184b5-1241-4cc8-9b26-7663eb7e5cb4.png)

[2022-01-26 19:13] zepumph commented on #1342
Looking through the log, it seems like this is related to https://github.com/phetsims/kite/commit/e06974cabf077de26930bc4ae0c44d6252aa4d47. Tagging https://github.com/phetsims/scenery/issues/1333 and over to @jonathanolson.

[2022-01-26 19:13] zepumph commented on #1333
Looks like https://github.com/phetsims/scenery/issues/1342 may be a result of this issue.

[2022-01-26 19:14] zepumph commented on #1340
So far so good. I'm going to proceed with some of the TODOs in the issue.

[2022-01-26 23:14] jonathanolson commented on #1333
Ok, performance is at a "imaginable sim startup acceptable" level, but not ideal. It may be possible to optimize more.

I'm able to execute the following:
[code]
and have it take about a second, producing:

![image](https://user-images.githubusercontent.com/480878/151262834-00163343-959f-4aac-a2f2-948dee75174a.png)

@pixelzoom can you try out the original problem and see if it's acceptable?

Leavi

[2022-01-26 23:15] jonathanolson commented on #1342
Looking into it!

[2022-01-27 02:59] zepumph commented on #1340
Alrighty. Three days later, I realized that everything was quite interconnected. It was hard to separate the new mixin pattern from the typescript conversion without putting a fair number of bandaids on things. Furthermore, since the mixin hierarchy is pretty much all together, I think it was best to do them all at one. I changed the name of this issue BTW.

A summary of the work completed:

* Int

[2022-01-27 16:49] zepumph commented on #1340
I am not exited about the downstream effects of our mixin pattern at this time. Right now Every Slider is not known as a Node. I'm trying to figure out the best way forward. I tried something like this

`const AccessibleSliderClass = AccessibleSlider( Node );`
`class Slider extends ( AccessibleSliderClass as typeof AccessibleSliderClass & Node ) {`

But I got this error on the typecast: "TS2510: B

[2022-01-27 16:55] jonathanolson commented on #1342
I believe the above commit should fix this. @KatieWoe let me know if this continues?

[2022-01-27 16:58] zepumph commented on #1340
I wonder if this pattern could help us https://github.com/microsoft/TypeScript/issues/40110

[2022-01-27 17:07] jonathanolson commented on #1340
That's confusing, the mix-in pattern presumably should handle that correctly. Can we collaborate again?

[2022-01-27 17:10] zepumph commented on #1340
Yes please. I definitely think there will be a workable solution, I just don't have it quite yet.

It also think it is quite likely that it will be complicated enough that when you have a Typescript mixin used by a javascript common code used by a Typescript sim class, the Typescript->Javascript->Typescript will lose the typing specificity, and so to get a working solution, We may need to convert

[2022-01-27 18:26] #1342 closed

[2022-01-27 22:04] zepumph commented on #1340
@jonathanolson showed me a couple of strategies about how to handle mixins

https://github.com/phetsims/wilder/blob/67ba19ab8d5c5ab2302772f568f45721fdb360b2/js/wilder/view/Mixable.ts#L37-L53

We need the same constructor signature everywhere, which means `...args[]:any`, and then plucking out our parameters.

[2022-01-27 23:11] zepumph commented on #1340
Above is a bandaid. Here are the next steps from another meeting with @jonathanolson. This will provide typesafety, and the flexibility for these mixins to mix into any arbitrary Node class, even when they have extra parameters and or options that must be used in their constructor:

1. only required options, not parameters
2. passing optionArgPlacement into the mixin so we know where the options o

[2022-01-28 01:36] zepumph commented on #1340
Lots of progress above. There are still a lot of TODOs in the code, but I think most things are working at this time. The next highest priority is trying to fix regressions that have occurred from having NumberSpinner, NumberPicker, and Slider having options passed to super instead of mutate. For example positioning is broken, see the workaround here:

https://github.com/phetsims/scenery-phet/blob

[2022-01-28 16:39] pixelzoom commented on #1333
This is working great in geometric-optics (see commit above), and seems to be plenty fast for my use case.  Thanks!

[2022-01-28 20:12] zepumph opened #1343 "Get rid of VoicingManager.mainWindowVoicingEnabledProperty"
While trying to consolidate voicing-control Properties into a more solid structure over in https://github.com/phetsims/joist/issues/743, @jessegreenberg and I realized that we can get rid of the purposes of the mainWindow Property and instead of voicingVisible. This will need to wait until that feature is complete in https://github.com/phetsims/scenery/issues/1300.

Once that is ready, we can togg

[2022-01-28 20:27] #1333 closed

[2022-01-28 21:13] zepumph opened #1344 "[VoicingManager] Can we get rid of the end listener in exchange for step properties?"
@jessegreenberg and I thought we may be able to, but it just wasn't quite working as we wanted it to. So we gave up. Here is a patch

<details>

[code]

[2022-01-28 21:13] #1344 closed

[2022-01-29 00:20] jessegreenberg commented on #1338
We brainstormed this in dev meeting this week. One thought was to make the behavior separate from the speech output so that this is not an issue in the fist place. Currently the behavior is tightly coupled with browser information/events that let us know what is being spoken and when. It could be quite difficult to change that. But that may be easier than creating new testing tools.

It is a bumme

[2022-01-31 18:09] zepumph commented on #1340
To discuss:

1. Polymorphic constructors and supporting these mixins. Is some sort of assertion possible?
2. Need to mutate transform options after super, in its own mutate call, how to split things out?
3. Convert private members in mixins to _
4. Convention for protected members/methods?
5. @ts-ignores based on the need to have other files in Typescript. (FocusManager, AlertableDef)
6. How to ac

[2022-01-31 18:38] jonathanolson opened #1345 "Node reordering of bounds-based methods to the end"
It looks like bounds-based mutator keys (e.g. 'left') are not at the end of the options handled by mutate().... notably clipArea is handled after. It seems like the bounds-based mutator keys should be at the end (with clipArea being set first), so that:

1. Clip area is respected by the bounds operators
2. So we can separate out the bounds-based options in common code patterns, apply them at the e

[2022-01-31 18:39] zepumph commented on #1340
@jonathanolson and I will create Node.REQUIRES_BOUNDS_OPTION_KEYS and only mutate those after there are children.

[2022-01-31 18:41] zepumph commented on #1340
This is acceptable, but we should document the constraint in our PhET mixin pattern doc.

[2022-01-31 18:44] zepumph commented on #1340
Use `@protected` jsdoc, that will be good enough

[2022-01-31 18:54] zepumph opened #1346 "Remove most usages of classes from global Namespace"
While working on https://github.com/phetsims/scenery/issues/1340, @jonathanolson recommending removing global namespace usages because our new importing strategy (using imports.ts) solves almost all circular dependency issues.

[2022-01-31 18:56] zepumph commented on #1340
Let's just create a `Constructor.ts` file in phet-core.

[2022-01-31 19:01] zepumph commented on #1340
@samreid nevermind, we figured it out.

Here is the pattern for mutator keys in mixins:

[code]

[2022-01-31 19:59] DevonQui opened #1347 "Elements can become "un-interactable" on iPad"
**Test device**
iPad Air 4th Gen

**Operating System**
15.2

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/qa/issues/771

I noticed that when you create a new tab (leaving the simulation) while still interacting with an element in the play area, that element will stop being interact-able once you return to the play screen. I believe this is a multi-touch issue

[2022-01-31 20:00] zepumph commented on #1340
Above, all option keys should now be respected, and transform is no longer buggy. I could remove the workaround in HeaterCoolerFront.

[2022-01-31 20:39] zepumph commented on #1340
- [ ] Create Voicing.initialize and Voicing.clean to support Poolable Node usages (RichTextLeaf)

[2022-01-31 21:09] zepumph commented on #1340
Thanks tremendously for all the help that @jonathanolson has given over the past couple of days. Things are in a much more stable place now. All bugs that I know of have been taken care of (save https://github.com/phetsims/molarity/issues/242). Now the rest of the work is just cleanup, mostly about documenting private/protected members of the mixins.

[2022-01-31 21:10] zepumph commented on #1340
@jonathanolson, I think that you should be the one that takes a look before removing the blocking label.

[2022-01-31 21:29] zepumph commented on #1346
Something ended up breaking the keyboard fuzzer, and I don't have time to investigate. I will need to come back to things.

<details>

[code]

[2022-01-31 21:32] zepumph commented on #1345
Like this?

[2022-02-04 17:53] zepumph commented on #1340
This would block the RC of Molecule Shapes, which I think is right on the horizon.

[2022-02-04 17:55] zepumph opened #1348 "Private members of mixins should be prefixed with `_`"
From https://github.com/phetsims/scenery/issues/1340, there are many TODOs related to that work there. I think it would be easiest to move that to another issue, since that is blocking publication right now, and these renames aren't.

[2022-02-04 17:59] zepumph commented on #1340
I created https://github.com/phetsims/scenery/issues/1348 and now there are only 18 TODOs for this issue. @jonathanolson please glance at them as part of the review to see if any feel blocking to you.

[2022-02-04 22:48] zepumph commented on #1340
Above is a bug fix reported in
https://github.com/phetsims/gravity-force-lab-basics/issues/319
https://github.com/phetsims/ratio-and-proportion/issues/426
https://github.com/phetsims/molarity/issues/242

Because I wasn't passing the optionized options through in AccessibleNumberSpinner or AccessibleSlider. Basically all start/endDrag listeners weren't firing. Fixed above!

[2022-02-04 23:04] chrisklus commented on #1282
@jessegreenberg and I returned to this issue today while investigating https://github.com/phetsims/number-play/issues/134 and we tested the first method from https://github.com/phetsims/scenery/issues/1282#issuecomment-935466165 and found to work well on all browsers. Thank you @samreid! We are ready to close.

[2022-02-04 23:04] #1282 closed

[2022-02-07 17:27] jonathanolson commented on #1347
Also tagging @kathy-phet to see if this should be a higher priority. It seems like it could make things feel broken often, and I'd like to see if I can find a simple fix.

[2022-02-07 17:30] zepumph commented on #1340
My recommendation about how to review:

1. Be file-centric instead of commit centric. Much of the decisions on changes were made after discussion with you, so most new patterns will be familiar. Please take a look at all six mixins:
    * InteractiveHighlighting
    * Voicing
    * ReadingBlock
    * AccessibleValueHandler
    * AccessibleSlider
    * AccessibleNumberSpinner
2. Then take a look at

[2022-02-07 17:46] kathy-phet commented on #1347
Yes, I think you should look for a solution @jonathanolson. Thanks!

[2022-02-07 21:59] zepumph opened #1349 "Typescript: How can Voicing mix into a parametric class?"
Over in https://github.com/phetsims/ratio-and-proportion/issues/384, I wanted to add voicing to a RectangularRadioButtonGroup, but we don't seem to support this:

[code]

Notice how Webstorm autoformatted it? The error we get by typescript is:

`TS2365: Operator '' cannot be applied to types 'typeof RectangularRadioButtonGroup' and 'typeof TickMarkView'.`

If I remove the parametric type:
`TS2508:

[2022-02-07 22:13] zepumph commented on #722
@jessegreenberg, do you think there is anything more to do in this issue? I feel like it is out of date, and largely useless. We even have a FocusManager for every display now. I would recommend closing.

[2022-02-07 22:34] jessegreenberg commented on #1336
Moving to utterance-queue now that that is where SpeechSynthesisAnnouncer lives.

[2022-02-07 22:53] jonathanolson commented on #1349
Seems problematic, I'll look into it.

[2022-02-07 23:24] zepumph commented on #1349
@jonathanolson and I talked about it, and were able to get things working with:

[code]

We are still working on a way to move that to the mixin files, instead of every usage, but at least this can be non blocking at this point. I'll try it out over in https://github.com/phetsims/sun/issues/699 and https://github.com/phetsims/ratio-and-proportion/issues/384

[2022-02-08 01:00] jonathanolson commented on #1340
In TwoSceneSelectionNode, there is:

[code]

Is that... needed anymore? My understanding is that it's not.

[2022-02-08 01:41] jonathanolson commented on #1349
Lots of things are mixing into the same base type... memoizing sounds helpful there (but would need to figure out how we should memoize with the 2 parameters). Otherwise we're losing the in-memory benefits.

Perhaps we can programmatically determine the number of supertype arguments and autodetect the optionsArgPosition?

[2022-02-08 01:42] jonathanolson commented on #1349
The mixed superclass is separated into a separate once-used variable. Is that on purpose?

[2022-02-08 01:42] jonathanolson commented on #1349
Whoops wrong issue!

[2022-02-08 01:43] jonathanolson commented on #1340
Lots of things are mixing into the same base type... memoizing sounds helpful there (but would need to figure out how we should memoize with the 2 parameters). Otherwise we're losing the in-memory benefits.

Perhaps we can programmatically determine the number of supertype arguments and autodetect the optionsArgPosition?

The mixed superclass is separated into a separate once-used variable. Is tha

[2022-02-08 02:26] jonathanolson commented on #1340
@zepumph questions listed above, have a few inline REVEW comments, and overall the changes in the above commits (mostly already discussed). Can you review the changes above and see if those look good?

The structure of everything looks great and as anticipated. I'll be looking into a few ways we could improve the typescript bits, since we don't have much type protection or conciseness in a few cas

[2022-02-08 03:49] jonathanolson commented on #1347
@KatieWoe can you test previous versions of iOS? I'm curious whether this is a regression. iOS used to send pointercancel events properly (and were the best platform for making sure pointercancel events happened), and now in this case we are NOT getting them (or the lostpointercapture).

iOS (15.3, Safaru 604.1)
![image](https://user-images.githubusercontent.com/480878/152914465-4ea57f2c-174d-4a0d

[2022-02-08 03:51] jonathanolson commented on #1347
If we have any older iOS (or touch-based Safari) devices to test this on, it would be very valuable to see if this is reproducible.

I'll also be checking some older simulations.

[2022-02-08 04:18] jonathanolson commented on #1347
Pointer events are currently disabled on Firefox due to https://github.com/phetsims/scenery/issues/837. Disabling pointer events on Safari seems to work around this issue (but may cause others).

[2022-02-08 04:21] jonathanolson commented on #1347
[code]

[2022-02-08 04:31] jonathanolson commented on #1347
@KatieWoe can you also let me know if the patched version available at https://bayes.colorado.edu/dev/olsonjb/number-play_en_phet.html (with the above patch) seems to show the issue? It seems fixed on my phone.

[2022-02-08 17:16] jonathanolson commented on #1340
It looks like https://github.com/phetsims/friction/commit/efcc0c2ea90f2edbb7a94c41ec764e725870d2c5 caused a visual regression. It moved `super( options )` to `super()` with a `mutate( options )` at the end, changing behavior. We should scan other commits to see if this pattern happened in any sim repo. @zepumph thoughts on whether this was done often?

[2022-02-08 17:20] jonathanolson commented on #1340
Why did https://github.com/phetsims/inverse-square-law-common/commit/7dce161a32ac74e2fc943608c09db0db6a8d6ab1 split ISLCForceArrowNode's `super( options )` into a super and mutate next to each other?

[2022-02-08 17:25] jonathanolson commented on #1340
https://github.com/phetsims/balloons-and-static-electricity/commit/c5de3ea38214f8678492fb694bfd5f4349c7033d has a similar split

[2022-02-08 17:28] jonathanolson commented on #1340
https://github.com/phetsims/scenery-phet/commit/d347e7d4b256e98e31f80de106389c89e71d833b and FaucetNode / NumberPicker / SpectrumSlider should be checked

[2022-02-08 17:28] jonathanolson commented on #1340
SpectrumSlider has an earlier options (in the super) instead of a mutate at the end, positioning code based on it could be off.

[2022-02-08 17:30] jonathanolson commented on #1340
FaucetNode also has earlier options that should be mutated near the end. NumberPicker looks like it has the bounds-related options put at the end and is likely good.

[2022-02-08 17:32] jonathanolson commented on #1340
https://github.com/phetsims/sun/commit/1ad9e76414658b3797009662e651d3d41b48d34a NumberSpinner also needs this.

[2022-02-08 17:33] pixelzoom commented on #1340
To be on the safe side, I’m going to consider this blocking for https://github.com/phetsims/function-builder/issues/139, and not proceed with publishing Function Builder for dev testing.  Function Builder uses NumberPicker.

[2022-02-08 17:41] jonathanolson commented on #1347
I'm curious in particular if there are regressions for how the touch events work there (e.g. dragging a finger outside of the sim bounds). I'd probably need to create a more comprehensive test (including iframes) if initial testing looks good.

[2022-02-08 18:01] jonathanolson commented on #1349
<img width="988" alt="image" src="https://user-images.githubusercontent.com/480878/153048076-4ba64a3d-9490-463b-b8a7-b81d510b548e.png">

This looks like it will be an issue...

[2022-02-08 18:08] jonathanolson commented on #1349
Actually this is type-checking

[code]

Didn't realize we can just have the mix be... generic, and then specify a type parameter to the mixed type. From https://github.com/microsoft/TypeScript/issues/26542#issuecomment-414355965

[2022-02-08 18:11] zepumph commented on #1340
I also found a few places where we weren't providing the index of where to find the options arg, this was helpful in finding those cases: ` (ReadingBlock|InteractiveHighlighting|Accessible[A-Z]\w+)\( \w+ \)`

Commits for that, plus an assertion to make sure we don't do so in the future, and the mutate/options fix discussed above coming soon! I'm just testing thoroughly now.

[2022-02-08 18:16] jonathanolson commented on #1349
The key line is:

[code]

@zepumph does this seem to resolve this issue for you?

[2022-02-08 18:18] zepumph commented on #1340
- [ ]  Is this as simple as adding memoize around InteractiveHighlighting? I'm happy to try that out, but not sure I would measure the improvement that we are hoping for from this. Would you like me to do that?

[2022-02-08 18:27] zepumph commented on #1349
That seems pretty nice on paper! I will want to try it out in my mixins after I get some bug fixes pushed over in https://github.com/phetsims/scenery/issues/1340

[2022-02-08 18:31] jonathanolson commented on #1340
Yes hopefully, since it will ignore the params argument that shouldn't change. It may need some changes to type correctly.

Perhaps collaborating (at a lower priority) would be good for this?

[2022-02-08 18:47] zepumph opened #1350 "Memoize InteractiveHighlighting"
From https://github.com/phetsims/scenery/issues/1340#issuecomment-1032932639, this would be good to try out, perhaps by pairing with @jonathanolson.

[2022-02-08 18:50] zepumph commented on #1340
All comments after https://github.com/phetsims/scenery/issues/1340#issuecomment-1032862162 have had a fix applied above. @jonathanolson, can you spot check the above as a micro commit to ensure we are on the same page. The other parts of the review seem lower stakes.

I tested with fuzzing, and with the following:
* Go to the demo for common code components,
* Make the container it is passed to no

[2022-02-08 19:45] KatieWoe commented on #1347
I cannot reproduce the bug in the link above on iPadOS 15.3

[2022-02-08 20:04] zepumph commented on #1340
- [ ] The catch to me is that we would most likely need options to be conventionalized to be the last, required parameter. I don't think it makes sense to make it required, it would change usages of these mixins too much. Can you think of another way?

[2022-02-08 20:06] zepumph commented on #1340
I refactored them to be inline, at one point it was needed, but I don't think I ever even committed that version.

[2022-02-08 20:42] zepumph opened #1351 "Convert FocusManager to typescript"
This will help complete https://github.com/phetsims/scenery/issues/1340. I hope to not get too sucked into this. I'll at least give it a try.

[2022-02-08 21:03] zepumph commented on #1351
Converted and removed many TODOs from #1340. Closing

[2022-02-08 21:04] zepumph commented on #1351
Actually. I was curious if we could make pointerFocusDisplayedController and readingBlockFocusController private.

@jessegreenberg, does this sound reasonable to you?

[2022-02-08 21:06] zepumph commented on #1348
There are no more TODOs, all were fixed over in #1340 by @jonathanolson during his review. Thanks!

[2022-02-08 21:06] #1348 closed

[2022-02-08 21:15] zepumph commented on #1340
Lots of TODOs were removed in https://github.com/phetsims/scenery/issues/1351.

[2022-02-08 21:17] zepumph commented on #1340
There are only two more open questions for me in this issue. 4 TODOs (2 topics repeated in two spots each):

- [ ] @jonathanolson, can you figure out why this is causing a lint error?
https://github.com/phetsims/scenery/blob/e826ddacfe51a904aa58e45f517c5afede3812f9/js/accessibility/voicing/Voicing.ts#L241

- [ ] This is for typescript in general in scenery. I'm wondering how scenery listeners can

[2022-02-08 21:20] jonathanolson commented on #1340
Not immediately sure. I don't think that eslint checks the phet-types file, presumably we'd want that type somewhere it's imported.

Presumably SceneryEvent would support a type parameter, and we could have subtypes so that it's more type-safe.

[2022-02-08 21:37] zepumph commented on #1340
I liked typecasting as a KeyboardEvent much more, enough to remove the TODO. Even if this sticks around for a while, it feels pretty low stakes, and safe. I also converted AlertableDef to typescript, just to add the type (TAlertableDef), which is fine for now. We can't rename it until all usages of AlertableDef.isAlertableDef are in typescript files (unless we delete them). I'm ready to close this

[2022-02-09 05:14] jonathanolson opened #1352 "RichText linkEventsHandled is broken"
It will never call handle(), and it's been this way for a while. I'll need to investigate the best and safest way to fix this. Discovered in https://github.com/phetsims/phet-core/issues/103 (yay TypeScript)

The bug is:

[code]
where self refers to window.self (and it's not even in RichText, so it's hard to forward that info over).

[2022-02-09 05:17] jonathanolson opened #1353 "PressListener's click() can call press without an event"
Discovered in https://github.com/phetsims/phet-core/issues/103, the pressListener call in click() breaks the typing we've established. I'd like to discuss with @jessegreenberg how to handle, since our system may be more resilient to null events on presses than I anticipated.

[2022-02-09 05:30] jonathanolson commented on #1340
Looks good to close, thanks!

[2022-02-09 05:30] #1340 closed

[2022-02-09 16:49] jessegreenberg opened #1354 "KeyboardDragListener needs to support removing hotkeys"
Over slack @pixelzoom mentioned that there is no way to remove hotkeys with `addHotkey` and `addHotkeys` with KeyboardDragListener. Similar functions `removeHotkey` and  `removeHotkeys` should be added.

[2022-02-09 17:13] jessegreenberg commented on #1354
Over slack @pixelzoom said

Should be easy to match the API, ill do that as part of this issue.

We need:
`addHotkey`
`removeHotkey`
`setHotkeys`
`set hotkeys`
`removeAllHotkeys`

[2022-02-09 17:52] jessegreenberg commented on #1354
The functions in https://github.com/phetsims/scenery/issues/1354#issuecomment-1033998656 were added and `addHotkeys` was removed. I updated sim usages to use the new `hotkeys` setter, and tested each. I think this is ready for review again, @pixelzoom can you please review and test in geometric-optics?

[2022-02-09 19:40] pixelzoom commented on #1354
There must be a problem with the typechecking for `set hotkeys`.  In geometric-options GORulerNode.js, the usage was changed to this:

[code]

Note the extra set of parens. No complaints from tsc, and the hotkeys were broken.  Fixed in the above commit.

[2022-02-09 19:42] pixelzoom commented on #1354
@jessegreenberg It looks like the same regression was introduced in multiple sims when you replaced `addHotkeys` with `set hotkeys`.  There are an extra set of parents around the array, and this prevents the hotkeys from working.  You might also investigate why this isn't flagged by tsc.

[2022-02-09 19:55] jessegreenberg commented on #1354
Thanks, the parens here are not unnecessary. But they shouldn't break anything. The hotkeys in these sims are still working for me,  including geometric-optics without your change in https://github.com/phetsims/geometric-optics/commit/ce4eb50bac34da3ea3c99cfe124892beff3debff.

I wouldn't expect much type checking yet unless something is being inferred from the JSDoc, KeybardDragListener is still a

[2022-02-09 20:00] jessegreenberg commented on #1354
I removed the unecessary parens, reassigning back to @pixelzoom.

[2022-02-09 20:01] pixelzoom commented on #1354
Hmmm, that's weird. Geometric Optics wasn't working for me with the extra parens. But I tried putting them back in, and it indeed works.  So I must've been doing something wrong.  In any case, good to get rid of them.

[2022-02-09 20:15] jessegreenberg commented on #1353
We are currently relying on the ability to call PressListener.click() externally without an event in a couple of places. Perhaps we can revisit those cases if the PressListenerCallback requires an event. Or maybe we can create a fake SceneryEvent to pass through in those use cases.

[2022-02-09 21:36] pixelzoom commented on #1354
Review completed, looks great. Thanks for the quick turnaround. Closing.

[2022-02-09 21:36] #1354 closed

[2022-02-09 22:02] pixelzoom opened #1355 "Multi-key hotkeys are buggy."
I have 2 hotkeys, defined like this:

[code]

What I’m seeing is that the callback for J+O+1 is firing as soon as I type J+O, and I can’t get J+O+2 to fire at all.  Have hotkeys been tested with > 2 keys?

I'm considering using hotkeys like this in Geometric Optics, where we have multiple optical Objects (O) and Images (I) that we'd like to jump to.

[2022-02-09 22:04] pixelzoom commented on #1355
@jessegreenberg confirmed in Slack that this is buggy, does not work.

[2022-02-09 22:53] jessegreenberg commented on #1355
A number of issues here... There is nothing enforcing that all hotkeys are actually down. And the method of making sure that all keys are pressed in order just looks wrong. Looks like `updateHotkeys` works for 1 or 2 keys, but thats about it.

[2022-02-10 17:44] jessegreenberg opened #1356 "Improve panning while dragging an object with AnimatedPanZoomListener"
The implementation of panning while dragging an object doesn't work very well currently. It often breaks (see https://github.com/phetsims/function-builder/issues/142 and https://github.com/phetsims/molecule-shapes/issues/213) and doesn't support things like event forwarding (see https://github.com/phetsims/joist/issues/769).

The way it currently works is that we watch the target of the SceneryEve

[2022-02-10 21:27] zepumph opened #1357 "Add Voicing.voicingFocusListener getter,setter, and mutator key"
From https://github.com/phetsims/sun/issues/726, no reason not to complete the API in that way.

[2022-02-10 21:42] zepumph commented on #1357
- [ ] Let's also have this support `null`.

[2022-02-10 21:54] zepumph commented on #1325
We are getting traction on this issue because of its need in https://github.com/phetsims/sun/issues/726. I'll implement.

[2022-02-10 23:59] jessegreenberg commented on #1356
@jonathanolson and I met to brainstorm. The "pan when pointer is around the edge of the screen" solution could be OK but it is a behavior change and is not ideal. Instead, @jonathanolson suggested that in the AnimatedPanZoomListener we could do a combination of two things.

1) Use the Pointer, see if it has an attached listener, and if it does then use its targetNode as the Node to keep in view. T

[2022-02-11 02:45] zepumph commented on #1357
I think I was just crazy 5 hours ago. This is already supported

https://github.com/phetsims/scenery/blob/bd1b60310a108ecf5656784686979d17a13250a6/js/accessibility/voicing/Voicing.ts#L52

I'll add support for null though.

[2022-02-11 02:50] zepumph commented on #1357
This has been done. It was quite straight forward, since it was just supporting null. Closing

[2022-02-11 02:50] #1357 closed

[2022-02-11 17:23] pixelzoom commented on #1355
In Slack, @terracoda said:

[2022-02-11 17:24] pixelzoom commented on #1355
Is the design pattern for jump hotkeys limited to J + 1 key? Did you consider multiple keys?  For example, in Geometric Optics, we have 2 “objects” and 2 “images” that can be jumped to. We can certainly create a 2-key sequence for each.   But there’s something more memorable about J+O+1 and J+O+2 to jump to “object 1” vs “object 2" respectively.  (It’s also easier to describe in keyboard help, a s

[2022-02-11 17:34] pixelzoom commented on #1355
I agree, order should matter.

[2022-02-11 18:08] zepumph commented on #1355
Does order matter generally, or should it just be that order matters for the first `n-1` keys as a bunch coming before the `nth`. I'm thinking about most key commands I use

* Ctrl + Shift + T can just as easily be Shift + Ctrl + T
* In webstorm I bind many keystrokes, and they are always in groups of two, for example, first keystroke is `Alt + D` and the  next one is `E`. I also have some that sp

[2022-02-11 18:12] jessegreenberg commented on #1356
I hacked around this for now by putting a reference to the pressListener on the attached Pointer listener so we can access it.

But I ran into another problem. Need a Trail to the Node being dragged. During a move, the `event.trail` isn't good because the Pointer can get separated from the target. The PressListener has a `pressedTrail`. But it is only set on `PressListener.onPress`, it is not up t

[2022-02-11 18:14] pixelzoom commented on #1355
I'm wondering about this requirement to hold keys down. Isn't that potentially difficult for someone who has a motor-skills issues?

I also see that KeyboardHelpSection `createJumpKeyRow` only takes one additional character, so the current implementation does not support something like J+O+1.

[2022-02-11 18:17] terracoda commented on #1355
@pixelzoom, if I am understanding you correctly, we do indeed have multiple destinations for an object. In BASE, you can:
- Jump a balloon to the Wall - J+W
- Jump a balloon to near the Sweater - J+S
- Jump s balloon to the Center of the room or play area - J + C

I think from an inclusive design perspective it is good to think about how many keys you are requiring a learner to press down at the s

[2022-02-11 18:19] terracoda commented on #1355
@pixelzoom, yes it is difficult, but with a screen reader enabled, individual keys are already accounted for. You need a paired set to get around screen reader commands.

[2022-02-11 18:31] pixelzoom opened #1358 "KeyboardHelpSection lacks a general method for creating multi-key descriptions."
Over in https://github.com/phetsims/scenery/issues/1355, I noted that KeyboardHelpSection lacks a general method for creating multi-key descriptions, like "Walk and Chew Gum: [W] + [C] + [G]".  I'm going to add such a method. `createJumpKeyRow` should then be implemented in terms of this new method.

[2022-02-11 18:34] zepumph commented on #1358
It could be easiest and nice to update or add a similar function as `iconPlusIcon`, which takes an array of icons, and adds a plus in between each of them.

[2022-02-11 18:34] pixelzoom commented on #1358
Done in the above commit. @jessegreenberg please review.

Example usage:

[code]

Looks like:

<img width="288" alt="screenshot_1546" src="https://user-images.githubusercontent.com/3046552/153649603-2f24d820-cf82-4c35-a78d-7127d1f12403.png">

[2022-02-11 18:36] zepumph commented on #1358
That seems really nice to me! Thanks. I also saw `createGlobalHotkeyRow` which could use that same function as its implementation.

[2022-02-11 18:37] pixelzoom commented on #1355
That's not the situation in Geometric Optics. We have multiple objects, not multuple locations for an object.  When a ruler is selected, a hotkey moves (jumps) the ruler to the location of one of those object.  Those objects are labeled as Object 1, Object 2, Image 1, Image 2 in the UI.   Hence the desire to have J+O+1, etc.

[2022-02-11 18:42] pixelzoom commented on #1355
Here's what we currently have in Geometric Optics, from the Keyboard Help dialog. We can made do with this, but it's not at all easy to remember.

<img width="346" alt="screenshot_1545" src="https://user-images.githubusercontent.com/3046552/153650371-2c8c168c-e5ff-483d-9d73-02a19a1b5eb9.png">

Here's what we'd like to have:

<img width="349" alt="screenshot_1547" src="https://user-images.githubuse

[2022-02-11 18:46] pixelzoom commented on #1358
Feel free to rename/reuse as you see fit.

[2022-02-11 19:11] zepumph commented on #1355
It seems like we should design with this in mind. Wouldn't it be best to have hot keys that are only 2 keys instead of 3?

[2022-02-11 19:12] jessegreenberg commented on #1325
@zepumph and I reviewed this, the added functions look good. We discussed the cases in https://github.com/phetsims/scenery/issues/1325#issuecomment-1035790234.

But we had a thought that these could be moved to ResponsePacket, and that seems like a pretty clean way forward. In general response strings are managed by the ResponsePacket so these functions could be as well. Also, we decided that the

[2022-02-11 19:42] jessegreenberg commented on #1327
This came up again today while debugging an issue with ComboBox. An alertable was missed because SpeechSynthesisAnnouncer has cancelOther true by default. We forgot about this thinking the behavior was a bug. If Voicing had its own Utterance the behavior would be much more obvious.

[2022-02-11 21:14] zepumph commented on #1327
I'll it this on, hopefully this afternoon! Thanks @jessegreenberg.

[2022-02-11 21:39] zepumph commented on #1358
I added the ability to pass any Node in the list too. This added flexibility enough to support global hot keys that need an Alt key.

Anything else here?

[2022-02-11 21:40] zepumph commented on #1358
I added the ability to pass any Node in the list too. This added flexibility enough to support global hot keys that need an Alt key.

Anything else here?

[2022-02-11 22:37] pixelzoom opened #1359 "Node setScaleMagnitude misbehaves with negative scale."
In geometric-optics, I have an ArrowNode that needs to be scaled - see screenshot below.  The arrow on the left is draggable, the arrow on the right is an image of the arrow that's formed - the "arrow image".   The arrow image is what I'm scaling.

The scale value is possibly negative, which should reflect it about the x-axis.   Here's the relevant code in ArrowImageNode.ts:

[code]

With `setScal

[2022-02-11 23:40] zepumph commented on #1325
Alright. I got to a good point on this. Here were the main unexpected changes:

* ResponsePacket was using some hackary in cloning itself and using itself for options. I swapped that out for a `serialize` method.
* Even though ResponsePacket supports functions, we don't want speaking functions to support passing in functions. That will overly complicate things, so notice how I changed the types fo

[2022-02-12 02:43] pixelzoom commented on #1358
I'm really not a fan of the parameter overloading that you introduced in `createKeysRow`.   Do you really expect clients to mix strings and Nodes in `{Array.<string|Node>} keys`?   If you want to support both strings and Nodes, it would be so much better to have 2 separate methods.

[2022-02-12 02:56] terracoda commented on #1355
What if there was a jump order for the ruler locations and successive jumps, J+R cycled through the locations and Shift+J+R cycled back through the locations.

I know nothing about this sim or its ruler, so this is a shot in the dark.

A learner puts focus on the ruler, grabs it, then uses the J+R short cot to jump to each location in succession. It would kind of be like using the Tab key.

[2022-02-12 03:00] pixelzoom opened #1360 "Implement "delayed linkage" for child elements of Node."
In Geometric Optics, I ran into problems with trying to provide visibleProperty via `setVisibleProperty` or `mutate`.  I ended up having to rework my code because as @zepumph said "PhET-iO poorly matches with the Node.mutate paradigm".

In Slack, @zepumph asked for this issue to be created:

[Michael Kauzmann](https://app.slack.com/team/U6DFWDG1Z)  [7:52 PM](https://phetsims.slack.com/archives/C6G

[2022-02-12 03:01] zepumph commented on #1358
Done above.

[2022-02-12 03:02] pixelzoom commented on #1355
I'm OK with whatever the designers and a11y team decide to do.  So I'm going to add @arouinfar to assignees.

[2022-02-12 03:03] pixelzoom commented on #1355
If you have a couple of dozen things to cycle through, that's going to be mighty frustrating.

But I'm OK with whatever the designers and a11y team decide to do.  So I'm going to add @arouinfar to assignees.

[2022-02-12 03:31] zepumph commented on #1360
Ok, after some research, it looks like I steered you totally wrong on slack, here is my message:

[code]

I'll add some unit tests now.

[2022-02-12 03:48] zepumph commented on #1360
Added unit tests and updated documentation, closing

[2022-02-12 03:48] #1360 closed

[2022-02-13 10:46] terracoda commented on #1355
It is just an idea. I don’t know the sim or how many things the ruler needs to measure. This sounds like an interesting design challenge.

[2022-02-14 17:13] arouinfar commented on #1355
I really like @terracoda's idea to cycle through the items. In Geometric Optics there will be 2-5 items visible on screen at any given time. If users are able to cycle in either direction, there would be at most 2 jumps to get to the desired location. Worst case, it would take 4 jumps if traveling in one direction. Not sure what the best key combination would be, but maybe J+I to jump between item

[2022-02-14 19:39] pixelzoom commented on #1355
OK, I'll proceed with implementing a cycle.  The order will be optic, object1, object2, image1, image2.  I'll also make up a new description for the keyboard-help dialog.

[2022-02-14 19:42] pixelzoom commented on #1355
Moving the part of this issue related to Geometric Optics to https://github.com/phetsims/scenery/issues/1355.

Mutli-key hotkeys still need to be supported in general, and are currently broken.

[2022-02-14 23:28] jessegreenberg commented on #1356
Discussed progress with @jonathanolson

- It was a little surprising that the `pressedTrail` is not in sync, though makes sense for this complicated case in function-builder. I am going to create a new issue to investigate the pressedTrail. If we can rely on the `pressedTrail` of PressListener this solution will work with DAG and we should have very few cases where the right Node Instance cannot b

[2022-02-14 23:39] jessegreenberg opened #1361 "PressListener.pressedTrail can be incorrect"
In https://github.com/phetsims/scenery/issues/1356 we identified a case where the `pressedTrail` of PressListener can be incorrect. The `pressedTrail` is set in `onPress`. But it doesn't update if the `targetNode` moves in the scene graph. For example, consider this case in function-builder:

On press, PressListener.pressedTrail looks like
[code]

But during the drag, Trails (plural, this example

[2022-02-15 02:50] jessegreenberg commented on #1361
Since the `pressedTrail` is set every press on the PressListener instead of the pointer it might become inaccurate in cases of multitouch.

[2022-02-15 16:57] #1358 closed

[2022-02-15 18:36] jessegreenberg commented on #1356
Main points committed above, I went exactly with what was discussed and sims are fuzzing without error for me. The API is a little strange going through the attached listener on the pointer. We need to make Pointer.getAttachedPointer proper public (not scenery-internal), and it isn't very easy to find the usage of getDragPanTargetBounds, but I added documentation to IINputListener.ts to try to hel

[2022-02-15 20:38] pixelzoom commented on #1359
That code is now long gone.

But here's a simple example you can reproduce in the browser console:

[code]

If `setScaleMagnitude` is supposed  to behave like this, it should be documented. Or perhaps it should fail for negative values, because a "magnitude" is a positive quantity.

[2022-02-16 17:24] jessegreenberg commented on #1356
A design question from this work:

In this issue the behavior of panning while dragging has been improved and works in most cases automatically. But there are still some cases where it cannot automatically work. How do we want to handle these cases? Potential options:

1) Do nothing. When drag the object out of the zoomed in screen, it just goes off screen and we don't pan to it. Predictable, no e

[2022-02-16 17:25] jessegreenberg commented on #1356
A design question from this work:

In this issue the behavior of panning while dragging has been improved and works in most cases automatically. But there are still some cases where it cannot automatically work. How do we want to handle these cases? Potential options:

1) Do nothing. When drag the object out of the zoomed in screen, it just goes off screen and we don't pan to it. Predictable, no e

[2022-02-16 18:26] terracoda commented on #1355
From Slack:

<img width="817" alt="image" src="https://user-images.githubusercontent.com/1902116/154331263-02d7bae5-1d85-4052-b9a1-48728b97aec6.png">

Here's an article I came across when I was working on BASE and my Master's thesis which I found to be very enlightening:
https://sashika.medium.com/j-k-or-how-to-choose-keyboard-shortcuts-for-web-applications-a7c3b7b408ee

[2022-02-16 18:28] terracoda commented on #1355
There may be a better place for the hotkey background. Just let me know.

[2022-02-16 21:53] jessegreenberg opened #1362 "Improve voicing.html documentation"
@zepumph reviewed voicing.html back in This is from https://github.com/phetsims/scenery/issues/1223, which is interactive documentation under scenery/doc/accessibility. It describes the feature and API of Voicing and its related components (InteractiveHighlighting and ReadingBlock.

It has gotten a little out of date. But @zepumph also had recommendations for improvement that I never got to:

Look

[2022-02-16 22:04] jessegreenberg commented on #1223
Hey, look at this old issue. The items in https://github.com/phetsims/scenery/issues/1223#issuecomment-847502973 still stand. I made a new issue to improve voicing.html documentation (https://github.com/phetsims/scenery/issues/1362). Then I deleted ReadingBlockNode.ts from the project. There were no usages of it at this time. We continue to iterate on various Voicing features. I don't think there

[2022-02-16 22:04] #1223 closed

[2022-02-17 17:13] zepumph commented on #1312
Geometric optics is now blocked by this as well. https://github.com/phetsims/geometric-optics/issues/318

[2022-02-17 19:57] zepumph commented on #1312
Discussed in PhET-iO meeting again today. @kathy-phet mentioned that this can take precedence over advancing buoyancy for @jonathanolson.

[2022-02-17 21:22] jessegreenberg commented on #1356
Discussed during design meeting, we want this to work as well as possible in all cases. We shouldn't use either of the fallbacks in https://github.com/phetsims/scenery/issues/1356#issuecomment-1041907650. Ill try to make it error loudly in this case so that we can solve it eagerly before it gets to QA.

[2022-02-17 21:36] jessegreenberg commented on #1356
During the meeting @pixelzoom also said that going through `targetNode` should not be a recommended solution for this. Upon reflection that makes sense. Places where this is not yet working by default would then always use set the `getDragPanTargetBounds` callback.

[2022-02-17 22:59] pixelzoom opened #1363 "Should Node visibleProperty be IReadOnlyProperty<boolean> ?"
In Geometric Optics, many of my `visibleProperty` instances are `DerivedProperty`.  But I've noticed that when I pass them to Node, declaring them as `IReadOnlyProperty<boolean` causes a typescript error, complaining that `IReadOnlyProperty` does not implement `set`.

In Node.ts:

[code]

But Node works with a DerivedProperty for `visibleProperty`, whose `set` method is:

[code]

So I'm guessing t

[2022-02-18 19:54] jessegreenberg opened #1364 "ParallelDOM.alertDescriptionUtterance should respect pdomVisible"
Similar to https://github.com/phetsims/scenery/issues/1300, it seems like alertDescriptionUtterance should not alert anything if the Node is `visible: false` of `pdomVisible: false`. A Voicing specific solution is being introduced in https://github.com/phetsims/scenery/issues/1300, but the strategy might work for aria-live alerts too.

[2022-02-18 19:54] jessegreenberg commented on #1364
It hasn't been an issue for design yet, this is likely low priority for a while. But it would be nice if it worked this way and matched Voicing.

[2022-02-18 19:57] jessegreenberg commented on #1364
Quick inspection - it seems like we can use PDOMDisplaysInfo.pdomDisplays, if it has any entries then the Node is displayed somehow in the PDOM.

[2022-02-18 20:42] samreid commented on #1332
@pixelzoom do you want to support a case where a client can specify the x and y translation, but not the scaling or rotation?

[2022-02-19 01:35] jessegreenberg opened #1365 "Voicing can be initialized twice in RawRichTextLink"
Discovered with @zepumph - Voicing is mixed into RawRichTextLink. Its constructor looks like

[code]

Voicing is then initialized in the first super call, and then also in the initialize, which follows up with a `super.initialize()`. We fixed this by conditionally calling the `super.initialize` in RawRichTextLink.initialize. See the following commit. We weren't sure about this as a long term solut

[2022-02-21 18:33] jonathanolson commented on #1312
Fix and simplifications to TinyForwardingProperty made above. We're treating it a bit less in a "forwarding" way, where the value of the forwarding and target Properties can diverge (generally in deferred cases, which keeps things "synchronous" for Scenery). This can also diverge during certain phases of the listener notifications, however not in a way that seems to be happening in practice curren

[2022-02-21 18:33] jonathanolson commented on #1312
Thanks @zepumph for the collaboration! Removing my assignment.

[2022-02-21 18:57] zepumph commented on #1312
I pinged the individual issues about adding their sims back to the state wrapper. I will leave this open, and close in ~1 week if nothing else comes of it. Thanks @jonathanolson for the quick turnaround.

[2022-02-22 17:28] pixelzoom commented on #1312
The `phet-io-state-fuzz` test is not being run very often by CT.  It's only run 3 times for geometric-optics since the fix for https://github.com/phetsims/scenery/issues/1312 was pushed, see screenshot below.  @zepumph do you feel comfortable closing with this kind of CT coverage?

<img width="1299" alt="screenshot_1570" src="https://user-images.githubusercontent.com/3046552/155185725-466690ee-5ba

[2022-02-22 18:47] zepumph commented on #1312
Looking at all testing of the state wrapper, it looks like it get's relatively good coverage. I know there are a lot of tests done for each row, so it doesn't feel horrible to me.

![image](https://user-images.githubusercontent.com/6856943/155198585-508489b0-38dc-4413-9502-62c34970977a.png)

[2022-02-23 01:26] pixelzoom commented on #1332
Yes, that's actually the case in Geometric Optics.  I want have UI components that I want to position using the translation options, but don't want to otherwise transform.  But being able to get the transform options would be better than having to settle for NodeOptions.

[2022-02-23 15:51] KatieWoe opened #1366 "CT QueryStringMachine is not defined"
[code]

[2022-02-23 16:07] jessegreenberg commented on #1366
I am not sure why QueryStringMachine is not available for usage when utterance-queue is built for scenery. QueryStringMachine was added as a preload for utterance-queue and it is working in usages with sims in build and unbuilt versions. It is added like himalaya, another preload of utterance-queue. But himalaya probably isn't an issue for scenery because himalaya is already used by scenery.

[2022-02-23 16:47] jessegreenberg commented on #1366
QueryStringMachine has been removed from utterance-queue and updated accordingly. Scenery docs are loading with an updated build off of master for me. Closing.

[2022-02-23 16:47] #1366 closed

[2022-02-23 19:26] #1349 closed

[2022-02-23 21:55] jessegreenberg commented on #1327
I went through each commit, I think it looks great. I really like the impact this had at usage sites. Thanks for doing this.

[2022-02-23 21:55] #1327 closed

[2022-02-23 22:24] jessegreenberg commented on #1325
Really nice!

OK, I think I understand the type but don't understand the reasoning yet. It all eventually goes through responseCollector, and seems like the creator functions would work. Can you describe how it complicates to have creator functions?

Otherwise these are great changes to voicing, thanks!

[2022-02-23 22:31] zepumph commented on #1325
It complicates the speaking functions, not the creators. First off, I can change this, it is only that I prefer it this way, not that it is buggy the other way. Two thoughts:
1. Creator functions are great when you don't have a reference to the response-creating code right when it is time to speak something. If you are calling speak with options, then most likely you will always have access to upd

[2022-02-23 22:36] jessegreenberg commented on #1351
Very reasonable and I think that was the intent. I had

in FocusDisplayedController.js. I made them private, anything else here?

[2022-02-23 22:44] jessegreenberg commented on #1325
Sounds good, I keep forgetting about the "lazily formulate" part of the speaking functions.

I agree with both these points. Is there anything else you would like to do here?

[2022-02-23 23:01] jessegreenberg commented on #701
This issue is super old now and we missed the boat on catching anything in a review. But I still went through changes and things look great. I saw a couple of TODOs in the commits referenced here that have since been resolved.

The API has been serving us well for many years. Closing.

[2022-02-23 23:01] #701 closed

[2022-02-23 23:04] jessegreenberg commented on #722
Yes, sounds good lets close.

[2022-02-23 23:04] #722 closed

[2022-02-23 23:04] #1351 closed

[2022-02-23 23:36] jessegreenberg commented on #1366
@arouinfar pointed out that this change didn't work because of my check for `phet`, we need to check `window.phet` before we can look for globals. Fixed above.

[2022-02-23 23:55] jessegreenberg commented on #1314
Yes - using himalaya for this seems great to me. Verified just now that this is working well, but I know this has been working well since you made this change.

Note that since SpeechSynthesisAnnouncer has been moved to utterance-queue, himalaya has become a dependency of utterance-queue. Back to @zepumph to close and possibly proceed with https://github.com/phetsims/friction/issues/261

[2022-02-24 00:09] zepumph commented on #1314
Ahh, you are so right. Is this grace good enough (your grace), or do we need to better support bundling it in when building utterance-queue?

[2022-02-24 00:10] zepumph commented on #1314
I'm actually wondering if this would ever happen, because himalaya is a preload in utterance-queue.

https://github.com/phetsims/utterance-queue/blob/ef60adedc96ada8ebf1998114ffaa1de36a33c05/package.json#L23

[2022-02-24 00:10] zepumph commented on #1314
Even so, I think I like the commit, just to be safe.

[2022-02-24 22:38] KatieWoe commented on #1079
Things looked ok during NS dev and rc, and look ok on master.

[2022-02-24 22:53] zepumph commented on #1312
Now I see that GO and basics has been tested at least 20 times. Given how easily it was to reproduce, I'm feeling good about this change. Closing. Thanks again @jonathanolson.

[2022-02-24 22:53] #1312 closed

[2022-02-25 02:55] #1079 closed

[2022-02-25 18:45] jessegreenberg opened #1367 "Support multiple highlights at once"
We need to be able to support displaying multiple highlights at once. When using "Interactive Highlights", highlights can activate with mouse/touch, and we need to support multiple highlights at once in cases of multitouch. The current implementation was based off of PDOM focus highlights where there could only be one at a time. But it should be generalized. Work will generally be in HighlightOver

[2022-02-25 18:57] jessegreenberg commented on #1300
Something to consider is interrupting an Utterance as a Node becomes `voicingVisible: false`, that isn't solved in this patch thus far.

[2022-02-28 21:09] KatieWoe opened #1368 "Voicing on iPad does not work if initially turned on"
Found during https://github.com/phetsims/qa/issues/778
This issue was seen on iPadOS 15 and iPadOS 14, in both the link in the issue above, and in published simulations. If you use the `?voicingInitiallyEnabled` parameter, voicing doesn't work initially. The panel appears, but no voicing occurs. You need to turn it off then on again. If turned on from the menu, it does work.

[2022-02-28 22:02] zepumph commented on #1368
Thanks for the report. I will need to test this. I'll mark this as blocking voicing until I understand it more. It could just be from the query parameter, or it could be caused by assumptions that are more important and foundation to the voicing code.

[2022-02-28 22:23] jessegreenberg commented on #1368
Safari is the platform that requires some form of user input to synchronously request the first use of SpeechSynthesis. That was one of the reasons `announceImmediately` was important. It would be great if Utterance Queue was smart enough to automatically use `announceImmediately` the first `addToBack`, maybe optionally.

[2022-02-28 22:33] zepumph commented on #1368
Ahh, good idea. Thanks!

[2022-03-01 02:32] zepumph commented on #1313
Design questions from the initial implementation:

* An event for drag: Right now I repurposed the dragEmitter, which is just a callback on drag to act as this. I could have added an Action, but right now I don't love the drama between Action and Emitter in https://github.com/phetsims/phet-io/issues/1543. Also, even if we had a `dragAction`, it won't have the same API, because DragListener drags c

[2022-03-01 02:40] zepumph commented on #1313
Alright. I was able to get to a commit point here. @pixelzoom, tandems are now passed to all you KeyboardDragListeners, and I removed the TODOs.

Other changes:
* Updated serialization of SceneryEventIO so that it's event is serialized as an EventIO, not just a string for the name.
* All usages of KeyboardDragListener are now passing in a Tandem if they are instrumented themselves.

I still have s

[2022-03-01 17:53] zepumph opened #1369 "How should inputEnabled effect PDOM events?"
Currently, inputEnabled only blocks listeners added directly to a Node it doesn't block the ability to focus that Node, and move to it through tab navigation. This may be the intended behavior, but I'm unsure. I would like to discuss with designers on Thursday. Tagging @arouinfar and @kathy-phet.

[2022-03-01 21:49] zepumph opened #1370 "Line should be strokePickable: true by default"
This is from https://github.com/phetsims/geometric-optics/issues/351, it seems like this case will come up much more often than just that one case.

From discussion with @jonathanolson, we like the idea @pixelzoom had in https://github.com/phetsims/geometric-optics/issues/351#issuecomment-1055826651 to have `strokePickable:true` be the default for all `Line` instances.

For testing, @jonathanolson

[2022-03-01 23:20] zepumph commented on #1159
This is now outdated. ParallelDOM is the supertype of Node. It was done for the Typescript conversion, and it is working well. Closing

[2022-03-01 23:20] #1159 closed

[2022-03-01 23:24] zepumph commented on #1369
Tagging @terracoda and @emily-phet because this bleeds into voicing decisions. Perhaps we should all be at a design meeting for this.

[2022-03-02 20:31] jessegreenberg commented on #1314
True, hopefully it stands alone. But I am fine that that guard too. Alright, closing.

[2022-03-02 20:31] #1314 closed

[2022-03-03 15:49] pixelzoom opened #1371 "CT: The requested module './util/ColorMatrixFilter.js' does not provide an export named 'default'"
Similar to https://github.com/phetsims/kite/issues/95

[code]

[2022-03-03 16:16] jonathanolson commented on #1371
Seems related to https://github.com/phetsims/kite/issues/95

[2022-03-03 17:52] zepumph commented on #1362
@jessegreenberg mentioned that https://github.com/phetsims/qa/blob/master/documentation/qa-book.md#voicing is quite up to date, perhaps much of that can be used in Voicing.html, and the "higher level" stuff from there can just be linked to in the QA book. Unsure if the joist screenshots belong in scenery code, but it could help orient scenery users around the only usage of voicing in the world.

[2022-03-03 18:23] zepumph commented on #1346
New patch without conflicts:

<details>

[code]

[2022-03-03 18:44] zepumph commented on #1346
Alright. I got it to work. The issue was importing Node from PDOMUtils. Makes sense to me! We can remove that anyways.

[2022-03-03 18:51] zepumph commented on #1346
Removed, since there is a Typescript type for Association now.

[2022-03-03 18:51] #1346 closed

[2022-03-03 20:45] zepumph commented on #1313
From design meeting, we started discussing https://github.com/phetsims/phet-io/issues/1543. Designers didn't have a strong opinion about calling these emitters or actions, but they definitely felt like we should be able to have listeners added to these to know when they occur.

[2022-03-03 20:55] pixelzoom commented on #1313
Since KeyboardDragListener is now instrumented in Geometric Optics, should this issue be labeled as blocking, until the iO design of KeyboardDragListener is finalized?

[2022-03-03 21:08] zepumph commented on #1313
We also talked about how nice it would be to have both drag listeners as a single type. Noting https://github.com/phetsims/scenery/issues/1238 (the general version of this).

[2022-03-03 21:26] zepumph commented on #1369
- [ ] ParallelDOM.pdomEnabledListener should run on inputEnabled instead of enabled.

[2022-03-03 21:32] zepumph commented on #1369
we want to test to make sure that aria-disabled is being spoken correctly by screen readers in the case.

[2022-03-04 00:01] zepumph commented on #1369
In NVDA, aria-disabled is correctly added to inputEnabled:false nodes, and it sounds like "unavailable". It is seeming really nice here!

[2022-03-04 00:03] zepumph commented on #1369
@terracoda can you let me know what it sounds like on the range combobox or the ratio lock in ratio and proportion on VO? They are running on the same thing.

[2022-03-04 00:07] zepumph commented on #1313
enabledProperty added above, I tested in friction and it worked well toggling in studio, and toggling while dragging (interrupting the interaction and making it disabled).

I think we are ready to close, though it is possible that https://github.com/phetsims/phet-io/issues/1543 may change some tandem names (not sure if we will get anywhere over there anytime soon).

[2022-03-04 00:07] #1313 closed

[2022-03-04 01:07] zepumph commented on #1315
https://github.com/phetsims/utterance-queue/issues/37 is finished, though we are still using end events. @jessegreenberg would you like to see if this is an easy fix in relation to https://github.com/phetsims/friction/issues/266? I feel like lots has happened around this logic since October.

[2022-03-04 19:33] zepumph opened #1372 "InteractiveHighlighting needs a way to make its highlight invisible"
In ratio-and-proportion/BothHandsPDOMNode, I have a node composed (`interactiveNode`) that has a keyboard focusHighlight, but we don't want a mouse highlight for. Currently the only way to hide mouse highlight is by setting it to null and using focusHighlight: 'invisible'.

I used this approach for AccordionBox, see first checkbox in https://github.com/phetsims/sun/issues/743#issuecomment-10573120

[2022-03-04 20:30] zepumph commented on #1370
I found that HSeparator and VSeparato were already set as strokePickable:true by default. This is nice because it limits down the number of cases that may have regressed. I'm running snapshot comparison against this patch right now and will report back:

<details>

[code]

[2022-03-04 20:52] zepumph commented on #1370
For some general record keeping, there are 386 usages of `new Line(` and 13 usages of `extends Line `. I am 1/3 the way through the pixel comparison, and nothing has shown up yet. Wahoo!

[2022-03-04 21:09] zepumph commented on #1370
Snapshot comparison flagged the following repos, but upon looking, it was only minor PDOM changes that I can't explain, but don't seem to have anything to do with Line, furthermore, I saw them occur sometimes when testing against the same shas, so I think it is unrelated.

I'm going to commit!

[2022-03-04 21:19] zepumph commented on #1370
Committed, we should have QA poke around some simulations to see if anything is weird.

[2022-03-08 15:37] zepumph opened #1373 "Input should deserialize events to be their exact instance type"
Recently assertions were added to Mouse.ts to make sure an Event is a MouseEvent or WheelEvent. Input.deserializeInputEvent only supports Event right now. Thanks @jonathanolson for talking me through the problem.

[2022-03-08 17:48] pixelzoom opened #1374 "`showPointerAreas` is broken"
`showPointerAreas` appears to be broken in master.

Discovered while I'm in the process of adjusting pointer areas for Geometric Optics.

[2022-03-08 19:08] jonathanolson commented on #1374
Should be fixed with the above commit, can you verify?

[2022-03-08 20:09] zepumph commented on #1373
This issue has turned into a deep dive on serializing input events, and supporting playback with keyboard nav (again).

Here is some testing that will help us catch a couple more bugs.

[2022-03-08 20:42] pixelzoom commented on #1374
Confirmed, thanks, closing.

[2022-03-08 20:42] #1374 closed

[2022-03-08 20:45] zepumph commented on #1373
This issue became quite the rabbit hole. It took me into PhET-IO serialization, keyboard nav + playback bugs, preferences dialog bugs keyboard/voicing bugs, and also made me notice that Dialogs no longer have the same Node unique ID when created dynamically in two different, but seeded, sims (https://github.com/phetsims/phet-io/issues/1847).

@jonathanolson, will you please review these commits. M

[2022-03-09 23:25] jessegreenberg commented on #1368
Transferring to utterance-queue since that is where SpeechSynthesisAnnouncer lives now.

[2022-03-10 20:15] zepumph commented on #1270
Today during PhET-iO meeting we decided these should not be stateful to start. Closing

[2022-03-10 20:15] #1270 closed

[2022-03-11 17:30] zepumph commented on #1220
@terracoda had a fun idea about this today. Let's refocus this issue into our actual case, which is that disabled nodes that support voicing would look like a mouse-only reading block (not available with keyboard), and it would say the name response and "unavailble" (mimicing aria-disabled in NVDA). Basically we could somehow wrap the node in a reading block, only when disabled though. We wouldn't

[2022-03-11 17:45] zepumph commented on #1369
Feel free to close if you'd like.

[2022-03-11 20:22] zepumph commented on #1220
@jessegreenberg and I discussed this a bit further today, and the conclusion we came to really was that this needs to be a scenery-level change. We have 3 paths forward:

1. The "real" solution. @jessegreenberg and I found that over in https://github.com/phetsims/scenery/issues/1116#issuecomment-790216912 we almost supported `disabledInputOptIn` on the inputListener interface, and doing that here

[2022-03-11 20:33] zepumph commented on #1325
I need to also add this to ReadingBlock options.

[2022-03-11 21:30] jonathanolson commented on #1359
I'd like better methods on Node to set scale magnitudes (especially if we're ignoring rotations). I'll also look into setScaleMagnitude with negative numbers.

[2022-03-11 21:34] pixelzoom commented on #1359
I ran into this again today in Geometric Optics, where I was trying to reflect something about the y-axis using `setScaleMagnitude( -1, 1 )`, and it was not working.  Eventually my amnesia wore off, I remembered this issue, and I bailed on `setScaleMagnitude.`

[2022-03-11 21:34] pixelzoom commented on #1359
Also note that `setScaleMagnitude` doc says:

[code]

[2022-03-13 03:48] jessegreenberg commented on #1372
I have never been a huge fan of the 'invisible' value in the API for `ParallelDOM.focusHighlight` but it is what we currently have. It was easy to use it for `interactiveHighlight` too so I added it. Should probably make `Node | null | Shape | 'invisible'` its own type.

[2022-03-13 22:10] jessegreenberg opened #1375 "Convert HighlightOverlay to TypeScript"
It would be nice to have types for highlights in #1372 so I took a stab at converting HighlightOverlay to TypeScript. But I would like to review a portion of the conversion with someone that is familiar with the TypeScript mixin/trait pattern.

Most notably I needed typing for "A node that mixes ReadingBlock/InteractiveHighlighting". I looked at Poolable and I think I did it in a similar way. It s

[2022-03-13 22:29] jessegreenberg commented on #1375
Conversion is done, I did some fuzz testing and basic spot checking and all seems well. The part I want to review in particular is https://github.com/phetsims/scenery/blob/86fc9734092cedf67b5da314cd587d63ac1dfede/js/accessibility/voicing/InteractiveHighlighting.ts#L31-L52 and the similar one in  ReadingBlock.ts.

@zepumph or @jonathanolson does this seem right to you or is there a way to reduce th

[2022-03-13 22:54] jessegreenberg commented on #1372
There is now a type in HighlightOverlay.ts called Highlight. Ive gone through and used it in a11y code related to highlighting. It includes 'invisible'. I tested it with InteractiveHighlighting and ReadingBlock.

@zepumph will this work for you in Ratio and Proportion? Also do you think that HighlightOverlay is the right place for the `Highlight` type to live?

[2022-03-14 15:18] jessegreenberg opened #1376 "Convert KeyboardDragListener to TypeScript"

[2022-03-14 16:05] jessegreenberg commented on #1375
Discussed with @jonathanolson , he recommended looking at the WidthSizableNode example to avoid the duplication.

[2022-03-14 16:53] zepumph opened #1377 "FocusManager.pdomFocusProperty may need to be reentrant"
I ran into this while building out CT testing for input record and playback. The basic chain of reentrancy is that in a playback, you trigger a focus/blur somewhere in the comboBox and that then manually triggers another focusBlur that get's back to clearing/setting the pdomFocusProperty again.

Use this link, http://localhost:8080/phet-io-wrappers/input-record-and-playback/?sim=sun&phetioDebug&co

[2022-03-14 16:57] zepumph commented on #1377
It would likely be helpful to see the error in the debugger so that you can see the whole huge stack and how it changes the pdomFocusProperty twice. I'm also wondering why this isn't showing up in any other testing. Shouldn't it also be a problem in other places? Not just in playback. Alas, I'm not sure.

I'm happy to talk it through if that would be helpful.

[2022-03-14 17:51] zepumph opened #1378 "Assertion failed: 'A listener must be provided'"
This is very similar to https://github.com/phetsims/scenery/issues/1377, which also popped up from a new test I added, many sims will hit this when running the record-input-and-playback with ?fuzzBoard. For example

http://localhost:8080/phet-io-wrappers/input-record-and-playback/?sim=balloons-and-static-electricity&phetioDebug&fuzzBoard, if you instead hit the "unique ID" issue with dialog playba

[2022-03-14 17:52] zepumph commented on #1378
@jessegreenberg, this fix feels like a bandaid, is there something in the PhET-iO context that is clearing eagerly, or not adding/setting when it should?

Let me know if you want to pair.

[2022-03-14 18:27] zepumph commented on #1372
Works great for me! This feels like a really good place for it. Since you can so easily find it in the public API, it is best to organize it somewhere that makes sense for the scenery internal structure of Highlights.

https://github.com/phetsims/scenery/blob/f727ebe72dce0b85b59a8cdfe302ed1919a09d96/js/accessibility/voicing/InteractiveHighlighting.ts#L24

Thanks!

[2022-03-14 18:27] #1372 closed

[2022-03-14 20:53] zepumph commented on #1378
I'm unsure this has fixed it, I still see this in density:

[code]

[2022-03-14 20:53] zepumph commented on #1378
Any thoughts about this @jessegreenberg?

[2022-03-14 22:17] jessegreenberg opened #1379 "KeyboardFuzzer isn't fuzzing miscellaneous key events"
I think when we switched from using Event.key to Event.code the dispatch in KeyboardFuzzer was missed.

[code]

That `key` needs to be `code`. When I switch it I see a huge improvement in the fuzz testing and I see pan/zoom getting tested along with keyboard dragging and other things. I think we have been only testing tab/click since we switched to event.code.

[2022-03-14 22:21] jessegreenberg commented on #1376
Done in the above commit. I did some fuzz testing (which identified #1379) and all seemed well. I did some manual testing and tried using `KeyboardDragListenerOptions` in a few places in geometric-optics. Closing.

[2022-03-14 22:21] #1376 closed

[2022-03-14 22:27] jessegreenberg commented on #1379
Changed in the above commit, fizzing is better and still seems to be passing locally. @zepumph FYI, but closing.

[2022-03-14 22:27] #1379 closed

[2022-03-14 23:15] jessegreenberg commented on #1377
Trying to understand more I narrowed it down to this to reproduce without ?fuzzBoard

In the iO link you provided:

[code]

Then tab to the combobox and open it. Wait for focus to move the the PhET button.

The same request in a PhET brand sim does NOT cause this to happen
[code]

[2022-03-15 01:02] zepumph opened #1380 "Can Display.foreignObjectRasterization ignore `?showPointers`?"
Over in https://github.com/phetsims/phet-io-wrappers/issues/432, I was hoping to be able to capture screen shots and compare the image before playback, and then after. The main issue I'm running into is that we use ?showPointers in the downstream sim, and so the comparison is yielding this when it is actually correct, with no issues:

![image](https://user-images.githubusercontent.com/6856943/1582

[2022-03-15 01:22] jessegreenberg commented on #1377
I just did a little more testing for my sanity. Here is a patch with changes in sun/ComponentsScreenView.

[code]

Setting focus directly from a listener on `FocusManager.pdomFocusProperty` is of course reentrant. Moving focus from a **listener* on the focus event is not. The order of console statements I saw was
"comboBox receives focus"
"comboBox receives blur"
"checkbox receives focus"

Anyway,

[2022-03-15 02:00] jessegreenberg commented on #1378
The fix in https://github.com/phetsims/scenery/commit/b7aa4f9e849f4ee352154918c54a6ab3221515c3 works for mouse/touch in `reserveForDrag` but there is a similar bit in `reserveForKeyboardDrag` causing the most recent assertion. I added this patch for testing

[code]

And last logs before the assertion are
![image](https://user-images.githubusercontent.com/6396244/158290667-a20efdc8-4b3e-4ea0-8270-e

[2022-03-15 15:15] zepumph commented on #1380
@jonathanolson told me to use canvasDataURL, and I plugged it in and it's working great! Here we won't get any overlays, which I should likely document. Commit coming soon!

[2022-03-15 22:32] jessegreenberg opened #1381 "Don't pan during drag if an object is larger than the available screen bounds"
Related to #1356, but a more specific case. If an object is larger than the available pan bounds, panning to keep it in view is awkward. The object is larger than the screen so it doesn't make sense to pan to try to keep it in view. Currently, the screen pans to try to keep the bounds minX on the left of the screen.

Here is an example of how this looks odd for very wide objects, just clicking on

[2022-03-15 22:45] jessegreenberg commented on #1381
This seems like a pretty simple change, I am proposing it in https://github.com/phetsims/geometric-optics/issues/367 to see if others agree it is acceptable.

[2022-03-16 20:20] jessegreenberg commented on #1378
@zepumph and I worked on this for a while today. The issue is around the `blur` event being dispatched twice in the downstream sim. But we identified that the workaround in https://github.com/phetsims/scenery/commit/b7aa4f9e849f4ee352154918c54a6ab3221515c3 had no impact on this issue so I reverted it.

[2022-03-16 20:26] zepumph commented on #1378
Ahh beat me to the explanation! Thanks.

[2022-03-16 22:26] jessegreenberg commented on #1381
Behavior in https://github.com/phetsims/geometric-optics/issues/367 was cleared by others on the team. Ill clean up the implementation and get it working better with alternative input (specifically KeyboardDragListener).

[2022-03-16 23:43] jessegreenberg commented on #1381
In the above commits I made it so that we don't pan if the object is too large with mouse/touch. But we DO pan to the center of the object with keyboard input. It was not easy with focus to "drop" the object and drag the screen to a different area. Since dragging with focus pans to the center of the object instead however far we need to keep the object in view, this still looks and works well.

I

[2022-03-16 23:43] #1381 closed

[2022-03-17 15:55] KatieWoe opened #1382 "Panning while dragging some objects stops working when zoomed in past a certain amount"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/785. I suspect it is related to https://github.com/phetsims/geometric-optics/issues/367.
Seen on Gravity and Orbits. When trying to drag the sun past a certain zoom point, the screen no longer pans with the object. This doesn't seem to happen with the smaller Earth

[2022-03-17 17:26] Nancy-Salpepi opened #1383 "How should panning work when drag is near the edge of the screen?"
For https://github.com/phetsims/qa/issues/785
Moved this to an issue after conversing with @jessegreenberg on slack:

Right now, if you start the drag near the edge of the screen its assuming that you are trying to pull it into view and doesn't start panning right away. But if you return to the edge of the screen it should continue panning.

Here is an example with function builder. Currently, I w

[2022-03-17 20:59] jonathanolson commented on #975
Handled all the cases that seemed relevant.

[2022-03-17 20:59] #975 closed

[2022-03-17 23:15] zepumph commented on #1378
Over in https://github.com/phetsims/phet-io/issues/1854, we decided that we were no longer going to support playbacks with input events, so we are not going to work on this issue anymore. Closing

[2022-03-17 23:15] #1378 closed

[2022-03-17 23:16] zepumph commented on #1377
In https://github.com/phetsims/phet-io/issues/1854 we have decided to no longer support input-event based record and playback. So we don't need this Property to be reentrant anymore. Closing

[2022-03-17 23:16] #1377 closed

[2022-03-17 23:21] zepumph opened #1384 "PhET-iO instrument Pointers"
From https://github.com/phetsims/phet-io/issues/1854. We want this data in states since we may use it to playback sims in the future via states.

[2022-03-17 23:25] zepumph commented on #1291
From https://github.com/phetsims/phet-io/issues/1854, we are no longer supporting input-based record and playback, so I will be closing this as a wont fix.

[2022-03-17 23:25] #1291 closed

[2022-03-17 23:48] zepumph commented on #1315
Sounds great. thanks!

[2022-03-17 23:48] #1315 closed

[2022-03-18 15:34] KatieWoe opened #1398 "CT Trying to translate with a non-finite Vector2"
[code]

[2022-03-18 15:47] zepumph opened #1385 "How to support pdomOrder with ReadingBlocks"
I ran into this with https://github.com/phetsims/ratio-and-proportion/issues/440. One way I was able to move the ReadingBlock in the focus order without changing it's bounds manually was with pdomOrder, but it doesn't seem like that is possible. I'd like to discuss this with @jessegreenberg a bit.

[2022-03-18 16:07] zepumph opened #1386 "ReadingBlock should have their own responsePatterns option."
https://github.com/phetsims/scenery/blob/b042a44c8d06c9861d86544e3eb3d871bc22d060/js/accessibility/voicing/ReadingBlock.ts#L362
I see this line, which means we create garbage each time a ReadingBlock creates a response. In https://github.com/phetsims/ratio-and-proportion/issues/440 I want a different pattern anyways, so it is a good time to keep the options in sync with Voicing.

Perhaps we could

[2022-03-18 16:36] samreid commented on #1384
Partial progress on moving pointer data into state:

[code]

[2022-03-18 16:43] jessegreenberg commented on #1385
Can you please provide a little more info about the context? I couldn't find it in https://github.com/phetsims/ratio-and-proportion/issues/440. I don't understand how bounds are related to pdomOrder.

[2022-03-18 16:47] jessegreenberg commented on #1386
Seems very reasonable to me, either for ReadingBlock to have its own ResponsePacket or to forward to the supertype and avoid duplication. I haven't looked into the implementation deeply but the latter is probably best.

[2022-03-18 17:26] samreid opened #1387 "Pan/zoom via pinch gesture not operational on Mac/Firefox"
While working on https://github.com/phetsims/center-and-variability/issues/81, @chrisklus and I discovered that pan/zoom (via pinch gesture) works great on Mac/Chrome but not at all on Mac/Firefox.  We could not find other open issues about this.

[2022-03-18 17:29] samreid commented on #561
Linking to https://github.com/phetsims/phet-io/issues/1854 since @jonathanolson mentioned this strategy yesterday.  Tagging @zepumph so he is aware.

[2022-03-18 18:03] Nancy-Salpepi opened #1388 "Screen pans when PhET menu and dialogs are opened"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.2.1

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/785

When I open the PhET menu in CCK DC (and AC), the screen pans to the top of the menu. If I select a dialog, the screen pans to that box (specifically the close button).
I didn't see this in other sims (function builder, molecule shapes, grap

[2022-03-18 18:11] zepumph commented on #1386
I discussed with @jessegreenberg. Steps for this issue:

1. Add these three to readingblock which just forward to the super option but are named for `readingBlock*`:
[code]
2. Omit these from the API, including getters/setters for them:
[code]
3. Align `Voicing.collectAndSpeakResponse` and `collectReadingBlockResponses`
4. Ask TS if hint responses for ReadingBlocks should respect the checkbox for

[2022-03-18 18:33] Nancy-Salpepi commented on #1388
Keyboard nav seems to be turned on in CCK for the PhET menu only.
The screen is panning like it would in a sim that has keyboard nav turned on (like Friction).

[2022-03-18 18:36] zepumph commented on #1385
This was totally the wrong direction. The issue was in how I was using pdomOrder with an AccordionBox that was also setting the same node into another pdomOrder, see https://github.com/phetsims/ratio-and-proportion/issues/440. Closing

[2022-03-18 18:36] #1385 closed

[2022-03-18 19:42] jessegreenberg commented on #1387
I just tested on my macOS 11.6.2 with Firefox and the trackpad worked to zoom into the sim. @KatieWoe can you please see if you can reproduce this?

On the device where this doesn't work the first thing I would want to check is that the `wheel` event listener of AnimatedPanZoomListener is firing.

[2022-03-18 19:44] jessegreenberg commented on #1387
Also referencing https://github.com/phetsims/qa/issues/785 so it appears in a collection of recent Pan and Zoom issues from QA testing.

[2022-03-18 20:17] samreid commented on #1387
I'm running macOS 12.1 with Firefox 98.0.1.  If I recall correctly, @chrisklus said he experienced the same problem on his side.  But surprisingly, pinch to zoom is now working on my mac/firefox.  Maybe it was just a temporary problem and this can be closed?

[2022-03-18 20:22] zepumph opened #1389 "Should ReadingBlock hints respect the hints checkbox?"
Over in https://github.com/phetsims/scenery/issues/1386, @jessegreenberg and I discovered that ReadingBlock hints will always be available, even when hints aren't checked. I thought that was a bit weird, but @jessegreenberg and I couldn't remember if it was on purpose.

@terracoda, should ReadingBlock hints be turned off when the preferences for hints are turned of for voicing in general? If so, I

[2022-03-18 20:27] jessegreenberg commented on #1387
Hmm, good to know. @chrisklus can you please try again? If you are no longer seeing it maybe this can be closed. Would Zoom interfere with this kind of thing?

[2022-03-18 20:37] chrisklus commented on #1387
I tested on my machine OSX 10.13 with Firefox 96.0 and am able to pan and zoom normally. @samreid and I agreed to close, thanks @jessegreenberg!

[2022-03-18 20:37] #1387 closed

[2022-03-18 20:38] KatieWoe commented on #1387
Sorry I missed this. I had to update the Mac and it was taking awhile.

[2022-03-18 21:34] zepumph commented on #1389
Ahh, over in https://github.com/phetsims/ratio-and-proportion/issues/440#issuecomment-1071223337 (an issue about a ReadingBlock voicing design), you said:

I will take this as yes, we should have reading block hints respect the hints checkbox. I will proceed in that direction over in https://github.com/phetsims/scenery/issues/1386 unless I hear otherwise. Closing

[2022-03-18 21:34] #1389 closed

[2022-03-18 22:35] zepumph opened #1390 "Why not have a readingBlockHighlight"
I know that we don't support changing this, and that it is always black, but I assume there is somewhere hardcoded in the HighlightOverlay that is creating that bounding box, why not move that into ReadingBlock proper and support an option for it? If we don't want to be able to mutate it, then perhaps just a variable on the ReadingBlock. This feels like an alignment of API between it, InteractiveH

[2022-03-18 23:15] pixelzoom opened #1391 "Node with visible=false reports that it has visibleBounds."
I was surprised to find that a Node with `visible=false` reports that it has visibleBounds.  Looking at the implementation of Node `getVisibleBounds`, I see that the visibility of the Node itself isn't being considered, only the visibility of its children.  This feels like a bug, but maybe it's expected behavior?

Example:

[code]

In Geometric Optics, I have a toolbox, which may be made invisible

[2022-03-18 23:30] zepumph commented on #1386
Ok, still left to do after the above commits:

1. `voicingUtteranceQueue` is still supported, but it is pretty much the only option that isn't renamed to be called readingBlockUtteranceQueue. Do you think I should add that option to ReadingBlock and drop the support for the voicing option? It would mean a couple of changes in Voicing which is why I didn't (see speakResponse()). I wonder if it coul

[2022-03-18 23:34] zepumph commented on #1389
In fact! That was how it was already implemented in ReadingBlock, I just didn't notice it because it was a bit strange.

[2022-03-19 15:56] jessegreenberg commented on #1390
I don't think it is necessary to have a separate `readingBlockHighlight`. If we had  it I am not sure how that would behave. The highlight for a ReadingBlock (when not activated) is unique in look but not in behavior. It just sets a default for `focusHighlight` and the `interactiveHighlight` to display the black highlight. Between
`focusHighlight`
`interactiveHighlight`
`activatedReadingBlockHighl

[2022-03-19 16:02] jessegreenberg commented on #1388
Thanks @Nancy-Salpepi - Here is good, this is a general issue. It is happening in CCK because that sim does have alternative input enabled to support deleting circuit elements with the delete key, but all other alternative input is disabled.

This is going to happen for most sims moving forward with mouse input so it would be good to make sure everyone is OK with this.

[2022-03-19 16:03] jessegreenberg commented on #1383
Thanks @Nancy-Salpepi - I would like to have a design meeting to decide what we should do in this case.

[2022-03-19 16:08] jessegreenberg commented on #1382
Thanks @KatieWoe. That is right, this is the result of of https://github.com/phetsims/scenery/issues/1381. One thought I had is we could pan to the *center* of the object instead disabling pan/zoom when bounds are larger than the screen.

[2022-03-20 15:18] Nancy-Salpepi commented on #1388
Gotcha. I'll change the label to reflect that. Thanks @jessegreenberg

[2022-03-21 15:52] jonathanolson commented on #1391
This definitely looks like it can be improved (by moving the visibility check into getVisibleBounds() itself). I'll see if I can make that change without breaking snapshot comparisons.

[2022-03-21 16:07] jonathanolson commented on #1391
(passed snapshot comparison)

[2022-03-21 23:34] zepumph commented on #1220
Last Friday, @terracoda and I brainstormed what (2) may look like above, and we came to the conclusion that it would be more trouble than it was worth. The primary reason is because we would need to make sure to support the parent with keyboard interaction with voicing while also keeping the actual element focusable with keyboard (but disabled) for description.

From this, as well as further discu

[2022-03-21 23:37] zepumph commented on #1367
During the Q2 meeting today, we determined that this issue is deferred at least until next quarter.

[2022-03-21 23:50] pixelzoom commented on #1391
Inspected commit, tested as shown below, looks good.  Closing.

[code]

[2022-03-21 23:50] #1391 closed

[2022-03-22 15:31] Nancy-Salpepi opened #1392 "Screenshots taken while zoomed in only show bottom right of sim"
For https://github.com/phetsims/qa/issues/785

To take a screenshot after zooming in, I need to pan to the PhET Menu. This results in always taking a screenshot of the bottom right corner of the screen (which isn't very beneficial).
![Geometric Optics screenshot (10)](https://user-images.githubusercontent.com/87318828/159519119-8a608075-6d7d-4d11-bc8e-34d7e605b399.png)

[2022-03-22 20:01] jonathanolson commented on #1356
https://github.com/phetsims/scenery/commit/1fdd3c90baeb3c70c9affc0b13ce7a9007ad80a8 might be leaking memory, it seems that during fuzzing a large number of attachedPointers show up. This presumably could happen if an up event isn't received (e.g. the Scenery event handle/abort feature is used at all).

[2022-03-22 20:03] pixelzoom commented on #1356
This is probably what I'm hitting in https://github.com/phetsims/geometric-optics/issues/400.  Other sims I've checked in master are also leaking. Raising priority to top.

[2022-03-22 20:32] pixelzoom commented on #1356
This is definitely the cause of the memory leak in Geometric Optics.   I reverted AnimatedPanZoomListener to 1 commit before https://github.com/phetsims/scenery/commit/1fdd3c90baeb3c70c9affc0b13ce7a9007ad80a8, and the memory leak disappears.  See details in See https://github.com/phetsims/geometric-optics/issues/400#issuecomment-1075608759.

[2022-03-22 20:35] jonathanolson commented on #1356
No, I was looking into e.g. `SceneryEvent.abort()` (which ComboBoxListBox uses for up), but I don't think that's the cause. Fuzzing is definitely leaking that array however.

interruptSubtreeInput for the whole screenview I believe actually clears the leak (since the listener is listening to interrupts, and clears the leaked array).

[2022-03-22 20:39] pixelzoom commented on #1356
Do we need a GitHub issue for that? Is it a separate problem?

[2022-03-22 20:45] jonathanolson commented on #1356
No, I believe that's expected.

[2022-03-22 23:23] pixelzoom opened #1393 "Hotkeys are not firing consistently."
Discovered in https://github.com/phetsims/geometric-optics/issues/395.  As @arouinfar said in https://github.com/phetsims/geometric-optics/issues/395#issuecomment-1075700728:

[2022-03-22 23:30] pixelzoom commented on #1355
Multi hotkeys are still so buggy that we bailed on them for Geometric Optics, see https://github.com/phetsims/geometric-optics/issues/395.  Hotkeys in general seem to be really flakey in master, see https://github.com/phetsims/scenery/issues/1393.  For Geometric Optics, I've easily spent more than 50% of total alt input time on the 1 hotkey.

[2022-03-25 16:36] pixelzoom opened #1394 "Toggle buttons are sometimes slow to respond."
For https://github.com/phetsims/qa/issues/787

Noticed while working on https://github.com/phetsims/geometric-optics/issues/390.

1. Go to Lens screen
2. Select any scene.
3. Toggle the light propagation button (lower left) on and off repeatedly.  Occasionally the button will take a long time to change state (usually from false to true). Sometimes it's as much as a couple of seconds.

This happens

[2022-03-25 18:13] pixelzoom commented on #1394
@KatieWoe @Nancy-Salpepi @stemilymill FYI.

[2022-03-28 16:24] jessegreenberg commented on #1356
Thanks for reporting the memory leak and sorry about that. It has been fixed by implementing `cancel` on the AnimatedPanZoomListener.

[2022-03-28 19:07] jessegreenberg commented on #1393
I am guessing a regression was introduced in the TypeScript conversion but I don't see why yet by inspecting the code. I checked out the project at `5b05bc3095501bac4982a7b907c3333c2ec867ca` and verified that the problem was not present at that time.

[2022-03-28 19:28] zepumph commented on #1390
I think my thoughts about this were mainly related to a different understanding of how ReadingBlock works. I see now that it is using the setter for `ParallelDOM.focusHighlight`, which it is then relying on the `interactiveHighlight` to be null so that that they can be the same. I'm worried about confusion here. Especially as we get into common code more and more, it may be nice to tighten down th

[2022-03-28 20:31] jessegreenberg commented on #1393
Fixed in the above commit. There were a few problems with `allKeysInListDown` before the TypeScript conversion and it is not clear to me yet how it was working before. I re-implemented it in a way that makes more sense to me and works. @zepumph would you mind reviewing this?

[2022-03-28 20:41] pixelzoom commented on #1393
I confirmed that the fix is working nicely in geometric-optics. Let me know when this is ready to patch into geometric-optics 1.1.

[2022-03-28 20:46] jessegreenberg commented on #1393
Ah, this has been an issue for a long time but only became noticeable when using hotkeys with a single key. I thought the behavior broke in geometric-optics from the TypeScript conversion but really it broke when switching to a single hotkey.

[2022-03-28 23:51] Nancy-Salpepi opened #1395 "Screen pans unnecessarily with keyboard when zoomed in"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/785 and seen with Friction:

When zoomed in and moving the grabbed book with the mouse, panning doesn't occur. When I switch to keyboard nav. the screen pans when moving the book.

**Steps to reproduce**
1. Zoom in and pan to the non-zoomed book.
2

[2022-03-29 03:10] pixelzoom commented on #1394
This is now blocking the next 1.1 RC of geometric-optics.

[2022-03-29 03:10] pixelzoom commented on #1355
This is now blocking the next 1.1 RC of geometric-optics.

[2022-03-29 03:11] pixelzoom commented on #1393
This is now blocking the next 1.1 RC of geometric-optics.

[2022-03-29 17:05] samreid opened #1396 "Typescript types are broken for pickableProperty"
While working on https://github.com/phetsims/center-and-variability/issues/105, @chrisklus and I discovered that this code correctly fails the type checker:

[code]

However, exercising the same pattern in CAVScreenView and Node did not have the type error that we expected:

[code]

Why?  Does this affect other options too?

[2022-03-29 18:28] pixelzoom commented on #1394
@jonathanolson reported that he cannot reproduce on macOS 12.0.1.

After a pull-all this morning, I can still reproduce on macOS 12.2.1.  And after upgrading to macOS 12.3, I can still reproduce.

@jonathanolson and I investigated via Zoom. Chrome dev tools don't show anything happening during the pause.  @jonathanolson's hypothesis is that macOS is responsible for the pause, not the browser(s).

[2022-03-29 18:32] pixelzoom commented on #1394
Discussed with @KatieWoe on Slack, and demonstrated how to reproduce the problem.

Noted that the problem is present in BASE 1.5.1, published on 12/15/2021.

@KatieWoe when you have time, please:
* Confirm that this can be reproduced on macOS 12.2 or 12.3.
* Try to reproduce on some other platforms (Windows, iPadOS, Chromebook)

It's easiest to use BASE to test. Simply click on the "Remove Wall /

[2022-03-29 20:58] zepumph commented on #1396
@samreid and I traced this issue back to something much more general. See https://github.com/phetsims/chipper/issues/1212. Closing

[2022-03-29 20:58] #1396 closed

[2022-03-29 22:18] KatieWoe commented on #1394
I wasn't able to reproduce this on Win 11 Chrome or Firefox

[2022-03-29 22:54] zepumph opened #1397 "Assertion failed: must be connected to a display to use UtteranceQueue features"
This occurred while testing the PhET-iO instrumentation of PreferencesDialog.

Steps to reproduce:

1. State wrapper with Ratio and Proportion
2. open preferences dialog
3. Audio tab
4. Check "Extra Sounds"

The issue seems to be that this listener that announces description fires before the Dialog has been added to the scene graph and redrawn.

I feel like an easy way around this is to have alert

[2022-03-29 23:14] zepumph commented on #1397
Ok. I found this and blocked it when setting PhET-iO. I also moved the queue clearing to be in updateViews. @samreid can you please spotcheck this?

[2022-03-30 00:06] pixelzoom commented on #1394
@KatieWoe is someone able to check on macOS 12.2 or 12.3 ?

[2022-03-30 02:08] Nancy-Salpepi commented on #1394
I wasn't able to reproduce this on macOS 12.3 using safari and chrome.

[2022-03-30 14:54] pixelzoom commented on #1394
Hmmm.... If it can't be reproduced on another macOS 12.3 system, then maybe this is specific to my machine. There's nothing else running when I'm seeing this, but it might be related to something else -- like having the browser console open.  Since I'm the only one experiencing it, I guess I'll just close this, and it can be reopened if someone else reports it.

[2022-03-30 14:54] #1394 closed

[2022-03-30 15:26] pixelzoom commented on #1393
QA has an empty queue, and this is the sole issue blocking the next 1.1 RC for Geometric Optics.

@zepumph @jessegreenberg What the timeframe is for completing this issue? If we can't wrap it up today, do you think it would be OK to cherry-pick https://github.com/phetsims/scenery/commit/bbddb3ccccb46c0826504f1bdffb7acac9084b75 and proceed with RC?

[2022-03-30 17:24] Nancy-Salpepi commented on #1395
Noting that I am seeing this issue in https://github.com/phetsims/qa/issues/791 as well. I made this issue in scenery (as per @jessegreenberg 's directions), but not sure if it is specific to Friction.

[2022-03-30 18:33] jessegreenberg commented on #1393
Yes @pixelzoom IMO it is safe enough to cherry pick https://github.com/phetsims/scenery/commit/bbddb3ccccb46c0826504f1bdffb7acac9084b75 into the RC branch for geometric-optics.

[2022-03-31 14:38] jessegreenberg commented on #1398
"Uncaught Error: Assertion failed: translation speed should be greater than zero" started showing up in many sims on CT.

[2022-03-31 14:40] jessegreenberg commented on #1393
Great thanks!

[2022-03-31 14:53] jessegreenberg commented on #1398
I am still not able to see these with local fuzzing, but the above commit should handle that particular assertion. I am not convinced yet that it was the cause of the original error of this issue. Will keep watching CT.

[2022-03-31 21:31] jessegreenberg commented on #1395
Thanks @Nancy-Salpepi, yes putting it in scenery is right. This will be the behavior for all keyboard panning. I don't think this is a bug but is the correct behavior that I failed to document correctly.

When dragging with a mouse it is too much motion to always pan to the center of the element you have picked up every mouse move. So we just pan when the element reaches the edge of the screen.

W

[2022-03-31 21:47] jessegreenberg commented on #1392
Hmm, interesting thought thanks @Nancy-Salpepi. Would like to discuss this with design.

[2022-03-31 21:59] jessegreenberg commented on #1382
I tried out https://github.com/phetsims/scenery/issues/1382#issuecomment-1073035966, it feels disorienting out of control.

[2022-03-31 22:08] jessegreenberg commented on #1398
[code]

Popped up again in fractions-intro. Adding more assertions.

[2022-03-31 22:40] jessegreenberg commented on #1382
In general the behavior for the examples in https://github.com/phetsims/scenery/issues/1382#issuecomment-1072661789 actually feels pretty good to me. It seems like a good compromise for what should happen when dragging something that is currently too large to fit on screen.

The case of gravity-and-orbits is slightly different because the planet has invisible children that are contributing to the

[2022-03-31 22:54] jessegreenberg commented on #1382
I don't want to use `visibleBounds` because I am worried about the performance hit of calling that every `move` during  a drag. (Granted, we are already getting the globalBounds every move).

Would it work to just pan so that we keep a small rectangle around the Pointer in view instead of basing things on the bounds of the drag target?
- Possibly better performance
- Would work for DAG (!!)
- Coul

[2022-04-01 00:04] Nancy-Salpepi commented on #1395
Thanks for taking the time to update this section of the QA book @jessegreenberg! Everything you described makes perfect sense.
Closing.

[2022-04-01 00:04] #1395 closed

[2022-04-01 15:30] jessegreenberg commented on #1398
OK assertion was thrown:
[code]

[2022-04-01 19:49] jessegreenberg commented on #1178
This has been replaced by the InteractiveHighlighting stack and other changes to HighlightOverlay, closing.

[2022-04-01 19:49] #1178 closed

[2022-04-01 19:50] jessegreenberg commented on #1226
This has become duplicated with #1325, closing.

[2022-04-01 19:50] #1226 closed

[2022-04-01 19:52] jessegreenberg commented on #1274
This can be closed.

[2022-04-01 19:52] #1274 closed

[2022-04-01 19:56] jessegreenberg commented on #1343
I hope that work in #1300 will make `mainWindowVoicingEnabledProperty` unnecessary, lets come back to this issue once that issue is done and make sure there is nothing else to do here.

[2022-04-01 19:57] jessegreenberg commented on #1362
@zepumph offered to be assigned, thansk!

[2022-04-01 20:10] zepumph commented on #1386
RE: (1):

[code]

[2022-04-01 20:27] zepumph opened #1399 "ReadingBlock should mutate its default options"
From #1390, @jessegreenberg and I think that we should merge options into the options object instead of setting them directly in the constructor. This will also fix a bug (that doesn't occur in the wild) in which a provided focusHighlight option would be overwritten by the default in intialization.

[2022-04-01 21:29] zepumph commented on #1286
@jessegreenberg and I see that this is actually a tiny bug fixed in https://github.com/phetsims/utterance-queue/commit/1dd1439b1304fc01baaa2e3ed44594a2436975ba. Closing

[2022-04-01 21:29] #1286 closed

[2022-04-01 22:04] jessegreenberg commented on #1390
During a meeting today we discussed the relationship between ReadingBlock, Voicing, MouseHighlighting and various highlights. We identified an improvement in https://github.com/phetsims/scenery/issues/1399. Was there anything else for this issue @zepumph?

[2022-04-01 22:19] jessegreenberg commented on #1269
The recommendation in https://github.com/phetsims/scenery/issues/1269#issuecomment-904074091 is to add something to the front of the queue in `announceImmediately`. That is what we are doing now. The implementation of announceImmediatley has been improved significantly since this issue was made, see https://github.com/phetsims/utterance-queue/issues/42.

Closing.

[2022-04-01 22:19] #1269 closed

[2022-04-01 22:24] jessegreenberg commented on #1275
Makes sense to me, thanks!

[2022-04-01 22:24] #1275 closed

[2022-04-01 22:30] jessegreenberg commented on #1283
Some really great things happened in this issue. Thanks for fixing the bug identified in https://github.com/phetsims/scenery/issues/1283#issuecomment-992800551. The change to use ResponsePacket instead of duplicating those fields is a great improvement.

This can be closed.

[2022-04-01 22:30] #1283 closed

[2022-04-01 22:54] jessegreenberg commented on #1287
Utterance.priority has been working great, thanks @zepumph. We have since added constants like https://github.com/phetsims/scenery/issues/1287#issuecomment-926951909 to https://github.com/phetsims/utterance-queue/blob/d85db291d0071e71f6663331b757ce8dcbf00035/js/Utterance.ts#L225-L230.

Just noting for history that we followed up this work by making the priority observable for https://github.com/ph

[2022-04-01 22:54] #1287 closed

[2022-04-04 17:17] zepumph commented on #1390
I think I'd like to add some more documentation about how ReadingBlock is expected to be used, and how to overwrite highlights if desired.

[2022-04-06 16:33] jessegreenberg commented on #1382
Over slack @jonathanolson said that using `visibleBounds` shouldn't be a big performance concern over `globalBounds`, so I think we can use it here.

[2022-04-06 17:56] jessegreenberg commented on #1383
Copying some notes I wrote on slack describing the reason I chose this behavior:

I made a quick test version to demonstrate how it feels to remove this behavior:
https://phet-dev.colorado.edu/html/jg-tests/pan-and-zoom/function-builder_en_phet.html

I think the behavior on master is correct but can see how it may cause confusion so would be good to discuss.

[2022-04-06 18:08] jessegreenberg commented on #1398
This is no longer showing up on CT. In the above commit I removed assertions that are no longer necessary, but kept a few that still seem helpful. CLosing.

[2022-04-06 18:08] #1398 closed

[2022-04-06 18:41] jessegreenberg commented on #1375
https://github.com/phetsims/scenery/issues/1375#issuecomment-1067002163 is working great for both InteractiveHighlighting and ReadingBlock. That is it for the TS conversion of HighlightOverlay. Closing.

[2022-04-06 18:41] #1375 closed

[2022-04-06 19:35] KatieWoe commented on #1382
This looks good in master. If I see issues in other sims I'll let you know, but I think we're ok.

[2022-04-06 19:38] jessegreenberg commented on #1382
OK, thanks! Local aqua is doing OK with this change and I am not seeing it on CT (though CT is pretty red atm for another issue and problems may be obscured).

Closing.

[2022-04-06 19:38] #1382 closed

[2022-04-06 22:08] jessegreenberg opened #1400 "Convert KeyStateTracker to TypeScript"
Should be done, but we also think it will resolve https://github.com/phetsims/scenery-phet/issues/731.

[2022-04-07 13:47] jessegreenberg commented on #1400
This looks buggy:
[code]

There is no such thing as `blockTrustedEvents` on the KeyStateTracker.

[2022-04-07 14:11] jessegreenberg commented on #1400
This TODO in Display.ts can be removed after this too:
[code]

[2022-04-07 16:37] zepumph opened #1401 "Can Pointer.type be typed as a string union?"
It breaks modularity a bit, but it could be nice if event.pointer.type wasn't of type string, but instead `pdom'|'mouse'|'touch' etc. @jonathanolson could we have this type directly in Pointer?

The type checker is passing, so I thought I'd commit as a proposal.

I ran into this over in https://github.com/phetsims/molarity/issues/245 where the pointer type was changed for PDOMPointer, but I missed

[2022-04-07 20:38] jessegreenberg commented on #1392
During design meeting 4/7/22 -

@kathy-phet suggested a global hotkey to take screenshots which would resolve this problem when the user has a keyboard.
  - We would want to put the description of how to do this in the PhET menu and the keyboard shortcuts dialog (probably in basic actions?).
  - What keys would trigger this?
    - Some platforms or pluggins (like Screenshot Capture have hotkeys th

[2022-04-07 20:48] jessegreenberg commented on #1388
This was discussed 4/7/22 - We think the panning behavior is helpful, and we will keep people think it should stay.

[2022-04-07 20:48] #1388 closed

[2022-04-07 22:15] jessegreenberg commented on #1383
We discussed this during design meeting today. It was not obvious to everyone why it behaved like it does in master (wait to pan until an object is pulled into view) but the general consensus was that it did feel disorienting to immediately start panning when dragging something off the edge of the screen. In that case, the screen pans in the opposite direction that you are dragging the object.

We

[2022-04-07 22:15] #1383 closed

[2022-04-11 14:54] jessegreenberg commented on #1300
Returning to this, I updated the patch after more TypeScript conversions and did some additional cleanup. Then I did the following testing:
- Local aqua fuzzing with `?voicingInitiallyEnabled&fuzz`
- Local aqua fuzzing with `?fuzz` (no `voicingInitiallyEnabled`)
- Testing a few local builds with `?fuzz&voicingInitiallyEnabled`
- A bit of local testing with `?eall`
- A memory test of a built versio

[2022-04-11 15:18] jessegreenberg opened #1402 "Fix broken scenery unit tests"
I noticed in https://github.com/phetsims/aqua/issues/138 that scenery unit tests are not being run on CT. While testing https://github.com/phetsims/scenery/issues/1300 I found that several of the accessibility unit tests are broken at the moment.

[2022-04-11 15:27] jessegreenberg commented on #1300
I think this is ready to close up, @zepumph would you like to these final changes? In the end, the above two commits are the only changes made for this issue (though they are big changes).

We are ready to start using this feature and I think the following will come out of this as new issues.
- Delete `joistVoicingUtteranceQueue` and replace by using `voicingVisibleProperty`.
- Remove usages of `v

[2022-04-11 15:49] jessegreenberg opened #1403 "Remove usages of `voicingUtteranceQueue.addToBack` oustide of scenery"
In order to leverage https://github.com/phetsims/scenery/issues/1300 we generally need to stop using `voicingUtteranceQueue.addToBack` outside of scenery. Instead, the Voicing.ts `voicingSpeak*` functions need to be used so that voicing goes through the Node and its `voicingVisibleProperty`.

In places where this is not possible, consider passing a Node's `voicingVisibleProperty` to the Utterance

[2022-04-11 15:56] jessegreenberg commented on #1402
Many of the broken tests are related to PDOM element `id`s. For example, this one
assert.ok( buttonLabel.getAttribute( 'for' ) === buttonElement.id, 'label for attribute' );

The 'for' attribute is empty and the `buttonElement.id` is `'display1-primary-4-19'`. When setting the `for` attribute, I am seeing that the element ID is empty.

[2022-04-11 16:22] jessegreenberg commented on #1402
I suspect the regressions may be caused by https://github.com/phetsims/phet-io/issues/1847, so closing this issue and we will resume over there.

[2022-04-11 17:22] zepumph commented on #1402
https://github.com/phetsims/phet-io/issues/1847 was causing a fair number of failures, thanks for reporting and I'm sorry for not finding that sooner. I am going to reopen this for two errors I'm still seeing:

![image](https://user-images.githubusercontent.com/6856943/162795308-06bf9773-58ed-4f49-bf73-a87b511b5e54.png)

[2022-04-11 19:47] jessegreenberg commented on #1403
I am not sure how to best handle Alerter.js usage of `voicingUtteranceQueue`. I think we should change it to be more like `alertDescriptionUtterance`, which goes through a `descriptionAlertNode`. Then we have a Node to speak through and leverage the `voicingVisibleProperty`s of #1300. But it would still require many changes:
- The `descriptionAlertNode` would need to be composed with Voicing.
- Th

[2022-04-11 21:34] jessegreenberg commented on #1403
The remaining usages of `voicingUtteranceQueue.addToBack()` are in RAP, Friction, GrabDragInteraction, or are related to Alerter. It would be good to check in with @zepumph before making any more changes.

https://github.com/phetsims/gravity-force-lab/commit/6d30c3ca75a881c707e1774a60502907c4a6a0d2 is an example for what we might need to do for Alerter.ts. I got lucky in that example because the `

[2022-04-11 22:19] jessegreenberg commented on #1402
Thanks so much for working on https://github.com/phetsims/phet-io/issues/1847!

The keydown/keyup errors are a `event.code` vs `event.key issue and have possibly been failing for many months since we switched from event.key to event.code.

The globalKeyStateTracker failure is because of the valueType for the Emitters in KeyStateTracker:
[code]

But the unit tests are creating an event of type Even

[2022-04-11 23:51] jessegreenberg commented on #1403
@zepumph and I discussed the Alerter issue.  We want to do two things
1) Building off of the patch in https://github.com/phetsims/scenery/issues/1403#issuecomment-1095589196, Alerter.ts should get its own Utterance. The `voicingAlertNode` of the Alerter will add its `voicingCanSpeakProperty` to that Utterance. When time to announce for Voicing, we use a new function in 2) below:
2) Add a function

[2022-04-12 03:04] jessegreenberg commented on #1402
OK, fixed in the above commit by dispatching an actual `KeyboardEvent` in the unit tests.

Unit tests are passing again
![image](https://user-images.githubusercontent.com/6396244/162871124-619c8b69-944a-47a4-86bb-d55552c38f7a.png)

[2022-04-12 03:04] #1402 closed

[2022-04-12 13:52] jessegreenberg commented on #1403
I am less confident in the strategy above after looking at usages in Friction. For example in TemperatureIncreasingAlerter it uses two Utterances to control output and that seems reasonable. The Utterances use shared state information on the TemperatureIncreasingAlerter in their predicates, it would be unfortunate to have to break it into two Alerters.

[2022-04-12 14:17] zepumph commented on #1403
Maybe Alerter could have something explicit, like "Alerter.registerUtteranceToNode" which links up the Property needed, and there is also an unregister. This could be a bit more clunky, but it is also more flexible and explicit.
.

[2022-04-12 14:52] jessegreenberg commented on #1403
I like that, thanks. It is a little clunky and puts more responsibility on the client but it has the potential to reduce the complexity in Alerter.ts quite a bit.

[2022-04-12 17:07] jessegreenberg commented on #1403
OK I like this a lot better. It puts more responsibility at usage sites but is way less intrusive and we get to keep the benefits of Alerter. With this we

1) Add a static `registerUtteranceToVoicingNode` the client must call.  Adds a `VoicingNode.canAnnounceProperty` to an `Utterance.canAnnounceProperties`.
2) Add a static `Voicing.alertVoicingUtterance` which asserts that an Utterance has one `c

[2022-04-13 03:15] jessegreenberg commented on #1386
OK, pretty much that exact patch applied with some documentation changes. @zepumph is there anything else for this issue?

[2022-04-13 03:27] jessegreenberg commented on #1343
#1300 is ready, no longer on hold.

[2022-04-13 03:48] jessegreenberg commented on #1343
There is a TODO in FocusManager that I don't fully understand
[code]

[2022-04-13 18:20] jessegreenberg commented on #1392
OK, we will continue in https://github.com/phetsims/joist/issues/801

[2022-04-13 18:20] #1392 closed

[2022-04-13 18:24] jessegreenberg commented on #1356
Changes for this issue have been reviewed and the Pan and Zoom feature was explicitly tested in many sims after this change in https://github.com/phetsims/qa/issues/785 with no new or related problems reported. Ready to close.

[2022-04-13 18:24] #1356 closed

[2022-04-13 18:45] zepumph commented on #1386
I also overrode the setter, but I'm not sure if that is complete. Can they still use the getter? I thought so, but want to make sure.

[2022-04-13 19:47] jessegreenberg commented on #1386
We reviewed this together. We can't override the setter like this because we need it for the implementation of ReadingBlock. Instead, we will override the setter and limit its argument so that it has to take a ReadingBlockUtterance. We will keep the option `voicingUtterance` disallowed. We don't expect the new setter to be used much but this way it will be clear that there are special things going

[2022-04-13 20:06] jessegreenberg commented on #1403
Discussed with @zepumph today:

1) For the case of FrictionScreenView example above, it would make more sense to speak through the ScreenView (not the `chemistryBookNode`), as we are describing a global context of the sim. We talked about how we might want to register to more than one node and have each Node's `canAnnounceProperty` be checked with an `or` operation instead of an `and`. That is a c

[2022-04-13 20:19] jessegreenberg opened #1404 "Remove Voicing.voicingUtteranceQueue"
We can remove this now, there are no more usages and it doesn't seem helpful to keep. Can be removed after https://github.com/phetsims/scenery/issues/1300#issuecomment-1095196835 and https://github.com/phetsims/joist/issues/800 since they are done.

[2022-04-13 21:14] jessegreenberg commented on #1343
@zepumph and I reviewed this together and we are excited to remove `mainWindowVoicingEnabledProperty`, and also move Properties form SpeechSynthesisAnnouncer to joist like `voicingFullyEnabledProperty` and `voicingFullyEnabledProperty`.
Probably rename `voicingFullyEnabledProperty` to `contentAndToolbarVoicingEnabledProperty ` so it is more clear.

The only Property that seemed challenging to move

[2022-04-13 22:07] jessegreenberg commented on #1404
It has been removed. tsc and local tests are working. @zepumph assigning to you to review if you wish, otherwise close.

[2022-04-13 23:17] jessegreenberg commented on #1386
This was done in the above commit. And overriding the method while changing its signature is working well:

![image](https://user-images.githubusercontent.com/6396244/163279555-8c1e2f3f-59eb-4b4b-afe7-c9b3e89616e3.png)

@zepumph told me it would, I should have known he would be right.

@zepumph back to you, anything else?

[2022-04-14 00:09] jessegreenberg commented on #1386
Overriding the actual `set voicingResponse` made it so that the getter from `get voicingResponse` returned `undefined`. I don't understand why, but this is now fixed after the above commit.

[2022-04-14 17:09] jessegreenberg opened #1405 "Assertion failed: key not found from domEvent"
From KeyStateTracker. I noticed this happens now when I use volume keys on my keyboard.

[2022-04-14 17:10] jessegreenberg commented on #1405
Here is the event
![image](https://user-images.githubusercontent.com/6396244/163439235-3d0b6470-1934-4200-8bdb-ecc37e0f2723.png)

[2022-04-14 17:17] zepumph commented on #1386
The changes here seem incomplete, because now myReadingBlockNode.voicingUtterance still accepts just an `Utterance`:

I had good luck overriding the getter and the setter and just using a typecast to make sure all is good. But then I remembered about something called an assertion signature, and used it here. Tested with this code:

[code]

[2022-04-14 18:23] jessegreenberg commented on #1405
@zepumph are you OK with handling it this way?

[2022-04-14 19:36] pixelzoom opened #1406 "TypeScript review of a few classes"
At 4/14/2022 TypeScript meeting, I volunteered to review:

- [ ] Imageable
- [ ] Pool
- [ ] DynamicProperty
- [ ] Font
- [ ] Text

[2022-04-14 19:37] jessegreenberg commented on #1386
I see that makes a lot of sense and is a better fix for https://github.com/phetsims/scenery/issues/1386#issuecomment-1098588811. I also tested it and it works well.

Anything else?

[2022-04-14 20:57] pixelzoom commented on #1406
Text review:

* Should `initializePhetioObject` be protected? It's annoated as `@protected` and overrides a protected method.
* Should param type expressions be deleted, like `@param {Object} baseOptions`?
* I see that you've omitted return types when they are `void`.  Is that intentional or a coincidence? Will that be problematic when a lint rule is turned on? Or should it be a PhET convention to

[2022-04-14 21:02] pixelzoom commented on #1406
Font review:
* There are many fields with an underscore prefix, e.g. `_style`.  They are presumably private, and should have a `private` modifier.
* Several redundant `assert` statements, like `assert && assert( typeof this._style === 'string' ` that are now handled by the type checker. But do we want to keep these for JavaScript sims?
* Address `TODO: get merge working in typescript`.  This TODO

[2022-04-14 21:06] pixelzoom commented on #1406
DynamicProperty review:

* `isExternallyChanging` is problematic. It's public and writeable, and looks like should only be read by clients.  Replace with `private _ isExternallyChanging` and an ES5 getter?
* `defaultValue`, `propertyPropertyListener`, `propertyListener` can all be `readonly` (WebStorm flags them as such)
* Mismatch between `@param [options] - options` and `providedOptions?:`, upda

[2022-04-14 21:12] pixelzoom commented on #1406
Imageable review:

* More assertions like `typeof width === 'number'` that are now handled by the type-checker. (Webstorm flags these.)

[2022-04-14 21:18] pixelzoom commented on #1406
Pool review:

* `partialConstructor`, `DefaultConstructor`, `initialize`, and `useDefaultConstruction` should all be `readonly`, according to WebStorm

[2022-04-14 21:24] pixelzoom commented on #1406
Review completed.

General questions related to PhET conventions:

* Is it OK to omit `void` return type, or should all methods and functions have a return type? If we omit `void`, does that complicate being able to confirm that there's a return type?

* When is it OK to continue to use `merge` vs converting to `optionize`?

* Should assertions that are now handled by the type-checker be kept or d

[2022-04-14 21:31] pixelzoom commented on #1406
Verifying that methods and functions have a return type is done by compiler option `noImplicitReturns`.  It's a boolean, so does not appear to support the option to omit `void`.   So unless there's another way, I recommend enabling `noImplicitReturns` in tsconfig-core.json, then adding `void` return types where needed.

[2022-04-14 22:39] jessegreenberg commented on #1403
I have made commits now for this issue. Here are notes:

- The assertion in `Voicing.alertUtterance` is meaningless because `utterance.canAnnounceProperties` will always have at least one because of the default value. To be improved in https://github.com/phetsims/utterance-queue/issues/79.
- The `registerUtteranceToVoicingNode` calls in Friction could not take the ScreenView because `registerUtter

[2022-04-15 00:17] jessegreenberg commented on #1300
While working on https://github.com/phetsims/scenery/issues/1403 I noticed that the `voicingCanSpeakProperty` and `_voicingCanSpeakCount` do not seem correct in a case in ratio-and-proportion. I see a Node with `voicingVisibleFalse` but it still has `voicingCanSpeakProperty` true because the `voicingCanSpeakCount` is larger than zero. To reproduce, launch the sim and enable voicing, then turn off

[2022-04-15 14:02] #1386 closed

[2022-04-15 21:05] jessegreenberg commented on #1300
In https://github.com/phetsims/scenery/commit/b0cbedf59f246923b3a2ee5e848e891d911a5a06 @zepumph went forward with an improved solution that was identified in a comment in the first attempt at this fix. This seems to be working well, this should be ready for review again.
[code]

[2022-04-16 01:04] jessegreenberg commented on #1403
There are no more usages of `voicingUtteranceQueue.addToBack` except for the ones in tests and in Voicing.ts. Issues above are closed or ready for review. I think this one is as well. The above comment had notes for myself, here is should be flagged in particular for review:

- Can we move `voicingUtteranceQueue.addToBack` to bad-sim-text?
- I couldn't seem to use `static` in the `VoicingClass` de

[2022-04-19 22:53] jessegreenberg opened #1407 "TypeScript review exercise"
In developer meeting 4/14/22 we decided to trade some review of TypeScript conversions. @samreid was assigned to my conversions.

Here are a couple of common code files that I have done that have not had much review
- [ ] HighlightOverlay.ts
- [ ] KeyStateTracker.ts

@samreid can you please take a look at these files for this exercise?

[2022-04-20 00:45] samreid commented on #1407
### HighlightOverlay

Everything looks great, nice work!  Some recommendations for next steps.

- [ ] Unnecessary ` // eslint-disable-line bad-sim-text` occurrences
- [ ] Several methods are missing a return type annotation.
- [ ] Why supply both `setInnerHighlightColor` and `set innerHighlightColor`?  Why not use just one API?
- [ ] For unknown reasons, `newTrail` is getting inferred as `any`.  T

[2022-04-20 01:19] samreid commented on #1407
I started to review `KeyStateTracker` but realized some of the comments in HighlightOverlay apply in KeyStateTracker.
 Maybe it would be more efficient for the author to address the pertinent above comments before I take a more in-depth review of KeyStateTracker.

[2022-04-20 13:51] pixelzoom opened #1408 "CT: A reference to the Pointer means it should have the pointerListener"
In https://github.com/phetsims/scenery/commit/66765f2450e0a2d16bce9f25e66fcc0ce4cf7eb1, @samreid fixed a couple of malformed `assert` statements. That has exposed a latent problem which is now appearing for several sims in CT, see stack trace below.

Looks like @jessegreenberg and @zepumph worked on this code, so let's start there.

[code]

[2022-04-20 13:59] pixelzoom commented on #1408
Slack:

[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [7:56 AM](https://phetsims.slack.com/archives/C6HPE0J91/p1650462966504269)
I guess I don’t understand what this block is doing:
    if ( this._pointer ) {
      assert && assert( false, 'A reference to the Pointer means it should have the pointerListener' );
      this._pointer!.removeInputListener( this._pointerListener );
      this._

[2022-04-20 14:02] pixelzoom commented on #1408
Now that I understand the intent, I think `false` is OK as the first arg to `assert` in KeyboardDragListener `interrupt`.  Now the problem is further upstream — why are multiple sims calling interrupt when KeyboardDragListener is in a state were `this._pointer` should be falsy?

The change to SimpleDragHandler in https://github.com/phetsims/scenery/commit/66765f2450e0a2d16bce9f25e66fcc0ce4cf7eb1 l

[2022-04-20 14:23] pixelzoom commented on #1408
If it is an error that should be ignored while fuzzing, then probably something like this (untested):

[code]

[2022-04-20 14:59] jessegreenberg commented on #1408
Thanks for taking a look! I think this was the spirit of the assertion
[code]

`Poiner.removeInputListener` will assert anyway if the listener is not available but this gets us there faster. geometric-optics has been running for me locally with `?fuzzBoard` after adding this so Ill commit.

[2022-04-20 15:09] jessegreenberg commented on #1408
Committed and I am not seeing this in any perennial/data/interactive-description sims with `?fuzzBoard`. @pixelzoom would you like to review/verify? And thanks for pointing out the bad assertion @samreid!

[2022-04-20 17:58] pixelzoom commented on #1408
👍🏻

[2022-04-20 17:58] #1408 closed

[2022-04-20 19:22] jessegreenberg commented on #1407
OK, thank you for the review so far! For most checkboxes I made a fixing commits and checked them off. I started in HighlightOverlay then went through KeyStateTracker with this review list and made some improvements. For a few checkboxes I wanted to continue discussion:

I think this is because Focus.js is still in JavaScript. After converting it to TypeScript the inferred type looks correct.
![im

[2022-04-20 22:36] samreid commented on #1407
Understood, thanks!  I didn't see that they were reassigned.

Right, since HighlightOverlay doesn't need to set their values, it doesn't need that part of the interface.  So it is clearer to change the types to `IReadOnlyProperty` so readers can know that HighlightOverlay doesn't try to change the values.  Other clients will still be able to change the values.

For instance, there is a guard here

[2022-04-20 23:03] samreid commented on #1407
### KeyStateTracker review

Everything looks great!  A few ideas for next steps:

- [ ] `keydownUpdateAction` and some other attribute(s) can be marked `readonly`.
- [ ] No need to put `{Tandem}` in this code:

[code]

- [ ] We no longer need underscores on private attributes:
[code]

- [ ] The other file had minimal `public` annotations, but this file has a lot of `public` annotations.
- [ ] Do w

[2022-04-21 16:47] jessegreenberg opened #1409 "Use Property for highlights in HighlightOverlay"
From #1407, @samreid mentioned

[code]

Assigning to myself.

[2022-04-21 22:55] samreid commented on #1407
Yes, the 2nd interpretation is correct.

[2022-04-21 23:21] zepumph opened #1410 "Should CanvasPainter.paintCanvas be protected?"
While working on https://github.com/phetsims/chipper/issues/1237, many implementations want this to be protected, but I can't because the supertype is public. Can you help @jonathanolson?

[2022-04-22 01:49] jessegreenberg commented on #1407
A little more discussion of slack, this example is an example of a a narrowing of the API for the scope it is being used in. I think I was confused about the "readonly" part and that was an indication for the public API but it is not.

There are no more items for this issue, closing. Thanks for reviewing and discussion.

[2022-04-22 01:49] #1407 closed

[2022-04-24 02:25] samreid commented on #1384
Here's a patch that adds state for touches and and display overlay for mouse and touches:

<details>

[code]

</details>

I have many questions about how we may want to restructure the input part of the scenery tree now that we aren't running playbacks based on input events.  Maybe nest a section under `mouse`, another under `pen` and another under `touch`?

Also, beware that the upstream and down

[2022-04-25 16:25] terracoda commented on #1369
On keyboard focus of the disabled combox, I hear this from VoiceOver
<img width="605" alt="image" src="https://user-images.githubusercontent.com/1902116/165131724-dbe1f0f3-fa74-4e40-af5d-aa999de8ba6b.png">

When I move focus to the disabled Ratio Lock check box, I hear:
<img width="606" alt="image" src="https://user-images.githubusercontent.com/1902116/165131982-b87b2301-6741-479a-aa49-5cba3db4673

[2022-04-25 18:01] zepumph commented on #1369
Not a dead issue, just not in the running for the near future. It is being tracked in https://github.com/phetsims/scenery/issues/1220 and is listed in deferred rocks in the a11y-team quarter goal planning doc.  If all is good from a description perspective, I believe this issue is ready to close.

[2022-04-25 18:03] terracoda commented on #1369
Yes, I think the related RaP issues are marked as deferred - we likely won't get to this for RaP.

[2022-04-25 18:17] #1369 closed

[2022-04-26 00:44] jonathanolson commented on #1384
Are those just for phet-io state? I'm unclear about the need. Do clients have needs? If it's just for state saving, presumably we can skip all of the Property stuff and just... save the state?

Wouldn't the typical process be for the `Mouse` to have Properties, based on a mouse tandem?

Unclear how this would work. It's possible to have multiple pens

The mouse is lazily created, so that wouldn't

[2022-04-26 00:59] jonathanolson commented on #1410
If I'm looking at the correct code, it looks like it needs to be public? https://github.com/phetsims/bamboo/blob/c0311fac53a2ef4edff07880a1c250296d4eda46/js/ChartCanvasNode.ts#L63 seems like a non-this usage (and I don't see a this.paintCanvas usage at all?)

[2022-04-26 01:23] jonathanolson commented on #1401
This looks great, thanks!

[2022-04-26 01:23] #1401 closed

[2022-04-26 16:27] zepumph commented on #1410
Sounds good. I think we will just make all the implementations marked as public, instead of protected.

[2022-04-26 16:42] zepumph commented on #1410
I think that should do it. I marked it all as public, and saw that `canvasPaintSelf` deserved some `protected` consistency while I was at it. Please reopen if you notice trouble.

[2022-05-01 17:46] pixelzoom commented on #1332
Raising priorty of this issue to high. It's been open for 4+ months.  I have 4 TODOs for this issue in Geometric Optics (see above commit) and I'd like to resolve them before 1.2 publication.  I'm also starting on MOTHA and Equality Explorer, and don't want to have to continue using this same workaround.

FYI, I'm currently working around this by picking the translation options that I'm actually u

[2022-05-02 17:36] pixelzoom commented on #1332
What I had in mind is something like:

[code]

[2022-05-02 17:40] pixelzoom commented on #1332
Also happy to skip NodeTransformOptions and simplify to this:

[code]

[2022-05-02 17:46] pixelzoom commented on #1332
I'd also be OK with having just `NodeTransformOptions`:

[code]

[2022-05-02 18:01] pixelzoom commented on #1332
I guess we should also discuss whether this change would be OK:

[code]

In this case, OpticShapeRadioButtonGroup extends RectangularRadioButtonGroup.  So using NodeTransformOptions is "reaching around" the class hierarchy.  Imo, this is a case where that's acceptable.

[2022-05-02 21:41] samreid commented on #1332
https://github.com/phetsims/scenery/issues/1332#issuecomment-1115159918 looks preferable to me, of the indicated options.  Would you like to commit that to scenery?

[2022-05-02 23:13] jonathanolson commented on #1332
Will handle it now!

[2022-05-02 23:43] jonathanolson commented on #1332
Implemented. I recall a benefit to also having bounds-based translation items separated out, so I did that also.

@pixelzoom thoughts?

[2022-05-02 23:50] samreid commented on #1332
Would we want to list the bound-less ones first (or list it separately)?  For instance, some clients may want to specify the x/y/translation without knowledge of the node's bounds.

[2022-05-04 02:01] pixelzoom commented on #1332
That sounds like a question for @jonathanolson.

[2022-05-04 07:17] pixelzoom commented on #1332
I haven't had a need to differentiate bounds-based translation options, but I don't see any harm in having them.

Other changes look good to me, and I'll start using NodeTranslationOptions in Geometric Optics.

[2022-05-05 19:51] pixelzoom commented on #1332
5/5/2022 dev meeting notes:
* add new types to import.ts
* no need for list of bounds-less options, the same thing can be achieved using `Omit`.

[2022-05-05 19:55] pixelzoom commented on #1332
Done, and used in geometric-optics. Closing.

[2022-05-05 19:55] #1332 closed

[2022-05-06 01:49] samreid commented on #1397
The change sets look reasonable, closing.

[2022-05-06 01:49] #1397 closed

[2022-05-11 17:56] samreid commented on #1384
@zepumph and I discussed and agree

* It will be nice to add InputIO and serialize all of the input state as a monolith
* The overlay should read from the serialized state from InputIO state, only from saved states (which could be used for state-based playbacks).  (Live pointer states can be shown with an existing overlay and ?showPointers)
* At a minimum,adding the IOType and pointer state should

[2022-05-12 21:21] pixelzoom opened #1411 "Use combineOptions in Voicing.ts"
For https://github.com/phetsims/phet-core/issues/114 ...

In Voicing.ts, wherever you have this:

[code]

change to this:

[code]

[2022-05-12 21:24] pixelzoom opened #1412 "Use combineOptions in GridBox.ts"
For https://github.com/phetsims/phet-core/issues/114 ...

Recommended patch:

[code]

[2022-05-12 21:25] zepumph commented on #1384
The pointer data can remain in the full state. We don't need a separate channel for this data.

[2022-05-12 21:28] pixelzoom opened #1413 "Suspicious optionize in Path.ts"
This looks suspicious in Path.ts:

[code]

Shouldn't the 3rd argument be the parent options type?  Perhaps change to:

[code]

[2022-05-13 05:21] samreid commented on #1384
Implemented in the commit and working well in the state wrapper (select all instead of featured).  I have not added an overlay for it yet.

@jonathanolson what is the long-term plan for `Pointer.isDownProperty`, which is marked as deprecated?

[2022-05-13 15:19] samreid opened #1414 "Make it possible to show pointers for phet-io state playback"
In https://github.com/phetsims/scenery/issues/1384, we added pointer state to the phet-io state.  This issue is about depicting the state in a playback, using PointerOverlay or a new, separate overlay.

[2022-05-13 18:45] zepumph commented on #1411
Yes, great call. Very nice, because we don't care that all keys exists. In fact, we are expecting many don't. No defaults are needed.

[2022-05-13 18:59] pixelzoom commented on #1411
Reopening.  I didn't make this change, was proposing it.  And I don't see a related commit.

[2022-05-13 20:25] zepumph commented on #1411
Push failed. Here it is.

[2022-05-13 20:25] #1411 closed

[2022-05-13 22:25] zepumph opened #1415 "DragListener transform can result in epsilon number bug"
Over in https://github.com/phetsims/ratio-and-proportion/issues/467 I found that the DragListener transform that I add in RatioHalf has a capability to produce a rounding error when dragging against a draggable bounds edge.

More specifically, on this line:

https://github.com/phetsims/scenery/blob/3d12a43f51ed81024ff82deacffc02e60d615a56/js/listeners/DragListener.ts#L682

We can on one drag get 0

[2022-05-17 16:56] zepumph commented on #1384
In https://github.com/phetsims/scenery/issues/803 @jonathanolson said:

and

I think it would be much better to remove `isDown` from this feature rather than add it knowing that it is not our long term solution. I don't feel like `isDown` is vital to this implementation. The position is. If a client MUST know about up/down, they can monitor the data stream accordingly. Furthermore `?showPointers`

[2022-05-18 00:47] samreid commented on #1384
In the commit, I removed PointerIO.isDown from the state.  I agree we don't want a deprecated value in the state.  To me, it sounds natural and valuable to data specific to certain pointers, such as adding an array of downProperties for the mouse as proposed in https://github.com/phetsims/scenery/issues/803#issuecomment-392160382.  However, I don't think we need to add that eagerly and indeed ther

[2022-05-20 19:53] zepumph commented on #1415
I ran into this again in another spot with my drag listener in Ratio and Proportion. I found that rounding to my needed precision in mapPosition worked well, but I was also using a dragBoundsProperty, which DragListener forbids. I guess I should just use the dragBoundsProperty in my own map position, but I wanted to note here that this patch worked well. Why can we map position and then constrain

[2022-05-23 21:57] KatieWoe opened #1424 "Sim can freeze when taking screenshots"

[2022-05-24 20:55] Nancy-Salpepi commented on #1142
Just noting that this is still an issue with mac + safari. I'm currently using macOS 12.3.1 and safari 15.4

![Number Play screenshot-11](https://user-images.githubusercontent.com/87318828/170130500-b354960b-abfd-4056-9b6f-9912a16c3af5.png)

[2022-05-25 16:50] pixelzoom opened #1416 "MathSymbolFont has rendering problems on Safari"
This was encountered most recently in https://github.com/phetsims/function-builder/issues/145. But it's a problem that I've encountered repeatedly when using `MathSymbolFont`.

If a `Text`/`RichText` node uses `MathSymbolFont`, the bounds are wrong.  When the node's `text` changes, this results in part of the node not being erased, or part of the node not being drawn.  This problem is consistently

[2022-05-25 17:22] pixelzoom commented on #1289
Encountering this again in https://github.com/phetsims/function-builder/issues/146, where the recommended workaround is (again) to add `preventFit: true`.  It seems like every time I publish a sim, I'm circling back to this issue, and the `preventFit: true` workaround.

Raising priority of this issue.

[2022-05-25 19:10] pixelzoom commented on #1416
Duplicate of https://github.com/phetsims/scenery-phet/issues/689.

[2022-05-25 19:16] #1416 closed

[2022-05-25 20:12] pixelzoom opened #1417 "Poor performance on Safari when using both `renderer: canvas` and filters"
In https://github.com/phetsims/function-builder/issues/147#issuecomment-1137800666, we discovered that using both `renderer: canvas` and filters (anything from scenery/js/filters) results in poor performance on Safari.   And since ButtonNode (the base class of sun buttons) uses filters, it's pretty easy to unknowingly create this bad combination.

It would nice to either address this performance p

[2022-05-26 22:31] pixelzoom commented on #547
I revisited this for https://github.com/phetsims/function-builder/issues/49 when publishing Function Builder 1.2.  This issue is 6+ years old and has not been addressed.  So it was not addressed for Function Builder 1.2.

[2022-05-28 01:52] jonathanolson opened #1418 "Review Scenery Layout documentation"
See https://phetsims.github.io/scenery/doc/layout

I'll hopefully have the documentation browsable more easily soon (and at a public URL).

- [x] @AgustinVallejo
- [x] @pixelzoom
- [x] @jbphet
- [x] @jessegreenberg
- [x] @zepumph
- [x] @marlitas
- [x] @samreid

Please check yourself off and unassign once you've reviewed it!

[2022-05-29 21:36] pixelzoom commented on #1418
In Slack#developer, @jonathanolson said:

[2022-05-31 12:51] pixelzoom commented on #1418
- [ ] When I go to the **Resizing** example, the entire document below this example shifts up and down as the example resizes.  This is making the documentation very difficult/distracting for me to read.  Can the example be put in a div that's large enough to accommocate it's max height?

[2022-05-31 12:59] pixelzoom commented on #1418
- [ ] Use code-font styling for things like `resize: false`, `grow`, `layoutOptions`, etc.  This is an issue throughout the doc.  For example:

[2022-05-31 13:02] pixelzoom commented on #1418
- [ ] grammar:

[code]

[2022-05-31 13:07] pixelzoom commented on #1418
Referring to primary and secondary orientation is confusing, because the options are `orientation` and `align`.  Consider having primary and secondary _axes_ instead.    Orientation is done on the primary axis, alignment is done on the secondary axis. Relevant paragraph, but also elsewhere in the doc (and probably the code?):

[code]

[2022-05-31 13:26] pixelzoom commented on #1418
- [ ] In the **grow** examples for GridBox, it would be useful to point out that the first example uses `grow` (which applies to both x & y dimensions) while the second example uses `xGrow` and `yGrow`.

[2022-05-31 13:54] pixelzoom commented on #1418
I've completed my review of the Scenery layout documentation.

The **FlowBox** and **GridBox** sections are very nice. I feel like I have a good general understanding of them, and could get to work with them immediately.

The **Sizeables** section is a little abstract (necessarily, I guess).  But I think I understand what's going on here, and how it applies to FlowBox et. al.

The **Constraints**

[2022-05-31 14:45] pixelzoom opened #1419 "Code review for scenery "layout" features"
In https://github.com/phetsims/sun/issues/48#issuecomment-1136578918, @jonathanolson said:

I believe the layout work is ready for an initial code review. I have one TODO listed in GridConstraint (will handle), and a few enhancements, but the bulk of it is ready (and it's backing HBox/VBox now for Flow layout). I'll also be moving over more components to be resizable (notably ComboBox/Slider/Recta

[2022-05-31 14:45] pixelzoom commented on #1419
I completed review of Scenery Layout documentation in https://github.com/phetsims/scenery/issues/1418.

[2022-05-31 14:48] pixelzoom commented on #1419
I completed review of LayoutScreenView.ts.  As noted in https://github.com/phetsims/scenery/issues/1418#issuecomment-1142078419:

[2022-05-31 14:54] pixelzoom commented on #1419
Code to review

scenery/js/layout/
- [ ] HeightSizable.ts
- [ ] ILayoutOptions.ts
- [ ] LayoutAlign.ts
- [ ] LayoutJustification.ts
- [ ] LayoutOrientation.ts
- [ ] LayoutProxy.ts
- [ ] LayoutProxyProperty.ts
- [ ] Sizable.ts
- [ ] TrackingLayoutProxyProperty.ts
- [ ] WidthSizable.ts

scenery/js/layout/constraints/
- [ ] AlignGroup.ts
- [ ] FlowCell.ts
- [ ] FlowConfigurable.ts
- [ ] FlowConstrain

[2022-05-31 15:58] pixelzoom commented on #1418
Discussed this one with @jonathanolson:

I deprecated LayoutBox in the above commit:

[code]

And I'm going to replace LayoutBox with HBox or VBox pro-actively, whereever possible in my code.

[2022-05-31 16:14] pixelzoom opened #1420 "Replace LayoutBox with FlowBox/HBox/VBox"
LayoutBox was deprecated for https://github.com/phetsims/sun/issues/48, and FlowBox/HBox/VBox should now be used.  Use HBox or VBox is your orientation is fixed. Use FlowBox if your orientation is computed.

Common-code uses should be converted eagerly, sim uses can be converted as needed.

common code:
- [x] bamboo.SpanNode @samreid
- [x] joist.Helper @jonathanolson
- [x] joist.NavigationBarScree

[2022-05-31 19:37] pixelzoom commented on #1420
In the above commit, I delete LayoutBox from Helper.ts, and verified that FlowBox is already supported.

Slack:

[Chris Malley](https://app.slack.com/team/U6EMFARV2)  [12:02 PM](https://phetsims.slack.com/archives/D6FNMP2LX/p1654020177771829)
What is joist.Helper?  Can I simply remove this from it?

[code]

[Jonathan Olson](https://app.slack.com/team/U6E4HHSTF)  [12:59 PM](https://phetsims.slack.c

[2022-05-31 20:20] pixelzoom opened #1421 "Stale type expression for Node inputListeners"
In Node.ts, line 228:

[code]

Should this be `{IInputListener[]}`, to match the definition on line 334:

[code]

[2022-05-31 22:48] pixelzoom commented on #1419
Review of scenery/js/layout is completed.  Overall very nice, but very complicated, so I'm certain that I missed some things.  It will take some real-world usage for me (and other devs) to come up to speed.  In any case, here's my feedback:

# General things:

- [ ] @jonathanolson asked if a type hierarchy "diagram" would be useful. Now that I've been through this, yes, I think that would be usefu

[2022-05-31 23:21] pixelzoom commented on #1419
Review of Checkbox.ts and Panel.ts is completed. They look nice, but I do have some feedback on Checkbox.ts:

- [ ] Why are WidthSizableOptions not involved in composing CheckboxOptions?

[code]

This looks very different from Panel.ts, which is:

[code]

- [ ] You added the public fields shown below, presumalby for use by CheckboxConstraint.  Consider using the same convention that you did in Pan

[2022-05-31 23:41] pixelzoom commented on #1419
Code review is complete. Back to @jonathanolson.

[2022-06-01 13:49] AgustinVallejo commented on #1418
Got to read most of it! The first examples are very useful and surely I'll be coming back to this documentation to use them in my own code. As @pixelzoom said, **FlexBox** and **GridBox** are nicely written, but after that, it gets a little bit complicated, at least for begginers. After **Sizable* I got a little bit lost, as I'm not used to some of the terminology used in there.

Here are my obser

[2022-06-01 21:07] jessegreenberg commented on #1420
Thanks for doing all of these, LayoutBox was removed from balloons-and-static-electricity.

[2022-06-02 17:55] samreid opened #1422 "How can we test scenery dynamic layout in the context of sims?"
Related to https://github.com/phetsims/scenery/issues/1419

At today's dev meeting, @pixelzoom asked how we can test the dynamic scenery layouts.  What if we had `?stringTest=dynamic` which changes the strings at runtime?

@jonathanolson: Maybe a tool that allows you to dynamically change strings, like a translation editor.
@zepumph: The i18n tool could just output strings wrapped in `Property<str

[2022-06-02 18:02] samreid commented on #1418
We touched base on this today.  @pixelzoom recommended a new issue https://github.com/phetsims/scenery/issues/1422.  But first, @jonathanolson will address this issue and #1419

[2022-06-02 23:03] jonathanolson commented on #1421
Removed the extra type documentation above (since it's much better to refer to NodeOptions). Perhaps the rest of the documentation there should be moved/removed/combined (so we have one good place for it?)

[2022-06-02 23:22] kathy-phet commented on #1422
Noting that @arouinfar and others discussed the design of the preferences menu option that would enable language selection, and that @jessegreenberg will be working on that particular piece (creating the UI interface for language selection). Tagging them here so they are aware of this connected discussion.

[2022-06-03 22:38] jbphet commented on #1420
This has been handled, see https://github.com/phetsims/number-line-distance/issues/73 for details.

[2022-06-04 04:17] jonathanolson opened #1423 "Delayed mutation pattern"
It came up that we want to handle delayed mutation of certain options keys (where we can't know which parameter index the options lie in), particularly from mixins. This prevents a lot of the "normal" ways of delaying options - since we're a mixin, we can't delay ALL options, since some types do things only on constructor options parameters.

Discussed with @zepumph and @samreid, and I've fleshed

[2022-06-06 15:56] pixelzoom commented on #1421
Agreed. Want to handle that as part of this issue, or in a new issue?

[2022-06-06 16:21] zepumph commented on #1423
This is so fun. Thanks for doing it an using it as a proof of concept. I have a couple of thoughts.

1. Each time you mutate before construction is complete you just override the `pendingOptionsKey` value for that option. Can we convince ourselves that the following case won't matter? Mutate is called three times, in order, during construction, and each time it is depending on setting the values o

[2022-06-06 19:29] samreid commented on #1423
I read through the issue and the implementation, and I think I understand the motivation and implementation strategy.  Can you please document one or all of the DelayedMutate usage sites with a code comment explaining why those particular keys must be delayed?

[2022-06-07 00:54] jonathanolson commented on #1423
I believe this should be used for cases where this property exists (generally the same behavior for the order things are set). Here it's used for things where this order is fine (Node keys can be set in pretty much any order - the bounds ones being last are the only trick). Presumably this would be the case in a11y things, no?

DelayedMutate is the subtype. So it would be the subtype of Voicing. e

[2022-06-07 02:09] jonathanolson commented on #1421
This issue works, will handle.

[2022-06-07 21:05] jonathanolson commented on #1418
Added a note to dev meeting.

[2022-06-08 03:17] jonathanolson commented on #1419
This isn't possible due to mixin constraints, but I'll definitely document it.

[2022-06-08 03:34] jonathanolson commented on #1419
I added this documentation at the top of LayoutProxy:

Node. Therefore, the coordinate space is typically the local coordinate frame of the ancestorNode of the
LayoutConstraint. This is not the same as the "global" coordinates for a Scenery Node in general (as most of the root
nodes of the trails provided to LayoutProxy will have parents!)

[2022-06-08 03:42] jonathanolson commented on #1419
I believe we should keep these assertions until we're out of JS, since they will be supremely helpful in debugging sims.

[2022-06-09 16:24] jonathanolson commented on #1424
Looks like a lot of these cases need pan-zoom for the failure. Likely something is messing up if things are "off-screen"