[2022-06-09 20:37] #1404 closed

[2022-06-09 20:46] zepumph commented on #1403
Yes, because it is an annonymous class, so if it was a static in the VoicingClass definition, you would have to mix it to be able to call these methods, i.e. `Voicing( Node ).alertUtterance`

Excellent!

Looks like these got combined into a single function at one point. I like that!

In general I don't love registerUtteranceToVoicingNode, but I think that for the most part it is because we tacked

[2022-06-09 21:35] zepumph commented on #1384
Looks really good! I think it is ok to not have a mechanism to parse this state into the sim just yet. We can always build that out later. Closing

[2022-06-09 21:35] #1384 closed

[2022-06-09 21:51] pixelzoom commented on #1413
For https://github.com/phetsims/chipper/issues/1264, this is now:

[code]

[2022-06-09 22:16] pixelzoom opened #1425 "Odd options pattern in AlignBox"
Noted while working on https://github.com/phetsims/chipper/issues/1264 ...

In AlignBox.ts:

[code]

The `optionize` call is not what I expect to see here.  It would typically be:

[code]

And you've provided no defaults for the optional fields in `SelfOptions`.

Did you use `{}` in the `optionize` call because you don't want to provide defaults?  If that's the case, then you don't need `null` for

[2022-06-09 22:32] pixelzoom opened #1426 "Problems with options for AccessibleValueHandler stack"
There are problems with the `AccessibleValueHandler` stack.  Several options have been duplicated across the stack.  These need to be cleaned up:

- [x] This property is duplicated in `AccessibleValueHandler.SelfOptions` and `AccessibleSliderOptions.SelfOptions` and `Slider.SelfOptions`:

[code]

- [x] This property is duplicated in `AccessibleValueHandler.SelfOptions` and `Slider.SelfOptions`:

[

[2022-06-10 15:13] liam-mulhall commented on #810
Un-assigning myself since I no longer work on QA.

[2022-06-10 15:21] liam-mulhall commented on #1030
I'm un-assigning myself since I no longer work on QA.

[2022-06-10 18:39] KatieWoe commented on #1424
Tested on iPadOS 15 Safari, Win 11 Chrome, and MacOS 12 Safari and everything looked ok from what I saw.

[2022-06-10 19:46] pixelzoom commented on #1418
Helper.ts and LayoutScreenView.ts were missed in the replacement of x/y to column/row.  I'm not sure why this was showing up in CT, but tsc was failing in my working copy after a pull-all.sh.  It was blocking other work I'm doing, so I fixed them in the above commits.

[2022-06-10 20:27] pixelzoom commented on #1424
I'm going to proceed with patching scenery branches function-builder-1.2 and function-builder-basics-1.2. The shas to cherry-pick are:

[code]

[2022-06-10 21:49] pixelzoom commented on #1424
Discussed with @KatieWoe and @jonathanolson, and decided to patch this into the 1.2 release for function-builder and function-builder-basics.  (The alternative was publishing with this as a known problem, and doing a batch MR to address all sims that have this problem. But we're not sure when that might happen.)

So I patched scenery branches function-builder-1.2 and function-builder-basics-1.2 by

[2022-06-10 21:50] pixelzoom commented on #1424
The next step is to identify which published sims have this problem, and do a batch MR.  That doesn't involve me, so assigning to @kathy-phet to prioritize, @jonathanolson to identify affected sims and handle the MR.

[2022-06-11 18:04] jonathanolson commented on #1418
I have more improvements to do with this, but I extended the Helper to show areas/boxes for layout containers once they are "selected" (if you enable it for every layout container, it's very cluttered, so a query parameter didn't work as well):

<img width="241" alt="image" src="https://user-images.githubusercontent.com/480878/173199553-300cc422-4603-47d1-8bfe-f899381013b0.png">
<img width="323" a

[2022-06-13 18:36] marlitas opened #1427 "Scenery "Layout" crowding and stretching"
While testing for https://github.com/phetsims/scenery-phet/issues/743, I discovered that the layout for Fractions Mixed Numbers looks very different than the published version. The number spinner buttons are overlapping, and the tiles at the top of the screen are no longer evenly spaced/stretched.

**localhost:**
<img width="1906" alt="Screen Shot 2022-06-13 at 12 22 46 PM" src="https://user-image

[2022-06-13 18:51] zepumph commented on #1427
Let's mark this as blocking publication until otherwise told, since it seems to noticeably effect many multiple simulations.

[2022-06-13 19:31] jonathanolson commented on #1427
Looks like recent a11y mixin work (https://github.com/phetsims/scenery/commit/9a92da8638ed4af94911430315e0950b5bd6b42e) was setting a _mutatorKeys field on Nodes, which prevented subtypes from extending the _mutatorKeys (since the field effectively shadowed what existed in the prototype).

Patched above. @zepumph can you review?

[2022-06-13 19:58] zepumph commented on #1427
Ahh, I see. Sorry about that. I tried to test this appropriately, but I think I mostly just ensured that the Vociing/Interactive highlight options didn't regress. That's a great fix. Thanks for your help.

[2022-06-18 19:40] pixelzoom commented on #1427
Reopening.  I'm still seeing a similar problem in MOTHA.  The UI component shown below is an ABSwitch, and it's text labels have been changed via Studio.  Note the overlap of the left label with the switch.

If you want to reproduce in Studio, the phetio IDs are:

modelsOfTheHydrogenAtom.spectraScreen.view.experimentPredictionSwitch.experimentNode.textProperty
modelsOfTheHydrogenAtom.spectraScreen

[2022-06-18 19:41] pixelzoom commented on #1427
Oh wait... I see that ABSwitch is not using an HBox as it should.  So this is a problem with ABSwitch.  I'll re-close this issue, and open a new issue for ABSwitch.

[2022-06-18 19:41] #1427 closed

[2022-06-19 11:18] samreid opened #1428 "Node subtypes mutate function not allowing subtype-specific options"
Discovered while working on https://github.com/phetsims/chipper/issues/1253.  Not sure if related to https://github.com/phetsims/scenery/issues/1423

The problem is that Node subtype `mutate` doesn't seem to have the correct typescript type for its options, so I'm having to put ts-ignores.

@jonathanolson can you please advise?

[2022-06-24 18:54] jessegreenberg commented on #1426
@zepumph and I worked to improve this today removing the duplication from Slider and using defaults and options inin AccessibleSlider/AccessibleValueHandler.

We think this is done, @pixelzoom would you like to review?

[2022-06-24 20:11] pixelzoom commented on #1426
Changes look good, but there are problems with SliderOptions.enabledProperty:

In Slider.ts, this is not the way to change a parent option from optional to required:

[code]

In NumberControl.ts, this allows the caller to pass in `sliderOptions.enbledRangeProperty`, because NumberControlSliderOptions does not omit `enbledRangeProperty`:

[code]

Here's a patch to address those issues:

[code]

[2022-06-24 20:34] zepumph commented on #1426
Sorry, did you mean enabledRangeProperty everywhere, or was it actually `enabledProperty` in the patch?

[2022-06-26 17:20] samreid commented on #1135
https://github.com/phetsims/scenery/commit/2708621f15e1bf9204cf1c6888e54ffe2cd9544b makes `Color.toColor` accept an `IColor` argument.

[2022-06-27 16:02] pixelzoom commented on #1426
Sorry for the confusion... It's a problem with SliderOptions.enableProperty and NumberControlSliderOptions.enabledRangeProperty.   Let me know if you'd like to pair on this.

[2022-06-27 21:26] pixelzoom opened #1429 "Scenery Layout documentation shifts up and down because of Resize example"
On 5/31/2022 in https://github.com/phetsims/scenery/issues/1418#issuecomment-1142078419, I reported:

On 6/1/2022 in https://github.com/phetsims/scenery/issues/1418#issuecomment-1143638252, @AgustinVallejo reported:

Could we please get this fixed with high priority?  I'm trying to do things with scenery's new layout features. And it's making the documentation absolutely maddening to use.

[2022-06-27 22:03] pixelzoom opened #1430 "Various problems with GridBox"
Here's a summary of the problems that I encountered while trying to use GridBox for https://github.com/phetsims/vegas/issues/108.  I reported these to @jonathanolson in Slack.

I'm getting the feeling that GridBox has not been well-tested in dynamic layout situations (e.g. Studio).

This issue is blocking https://github.com/phetsims/vegas/issues/108. Assigning to @jonathanolson to reply, and @kath

[2022-06-29 23:33] jonathanolson commented on #1430
Applied a fix above. Discussed with @pixelzoom:

1. I'll adjust spacing so that we ignore spacings directly after (to the right/bottom) of fully invisible rows/columns
2. I'll adjust autoRows/autoColumns to respect excludeInvisible
3. I'll adjust assertions so setting null autoRows and number autoColumns is allowed (just prevent both from being numbers).

[2022-06-30 21:31] pixelzoom commented on #1426
Looks good. Closing.

[2022-06-30 21:31] #1426 closed

[2022-06-30 22:35] jonathanolson opened #1431 "GridBox height + preferredHeight bug"
A playground / visual unit test setup revealed buggy height on a preferredHeight setting:

[code]

[2022-06-30 23:53] jonathanolson commented on #1430
I believe the desired changes have been made in the commits above. I also added a good number of grid visual unit tests.

[2022-07-01 18:11] jessegreenberg commented on #1308
A reminder to update the alternative-input-quickstart-guide.md if anything changes after this issue.

[2022-07-01 18:29] jessegreenberg commented on #1198
Lets not change this, we haven't found it important or confusing in the last year. I added a note to indicate that `tagName` is the "entry point" for Parallel DOM content.

[2022-07-01 18:29] #1198 closed

[2022-07-01 18:33] jessegreenberg commented on #1295
@oliver-phet have there been any reports of this recently? I am wondering if this can be closed.

[2022-07-01 19:03] oliver-phet commented on #1295
Nothing recently, haven't heard back from the users who originally reported (I suspect it is caused by browser extensions). Let's close for now!

[2022-07-01 19:03] #1295 closed

[2022-07-01 19:29] jessegreenberg commented on #708
The TODO is still there and is

[code]

We haven't needed this for 4 years, but it would be nice to support for completion. Doubt it is something we will get to soon.

[2022-07-06 15:02] pixelzoom commented on #1429
Hate to be a pain, but... third request, and escalating again.   It's making me seasick, and I'm tired of editing my local copy to prevent it from moving around.  I'm simply not going to use this documentation until this is fixed.   Which means it's not going to scenery layout in the sim I'm working on, and I'll be deferring https://github.com/phetsims/vegas/issues/108.

[2022-07-06 16:40] jonathanolson commented on #1429
Handled above, can you verify?

[2022-07-06 17:31] pixelzoom commented on #1429
Verified in https://phetsims.github.io/scenery/doc/layout. Thanks, closing.

[2022-07-06 17:31] #1429 closed

[2022-07-11 15:25] pixelzoom opened #1432 "Scenery Layout examples are not interactive on Safari"
Related to #1418 and #1419 ...

Many of the examples in https://phetsims.github.io/scenery/doc/layout are intended to be interactive, with a resizable container.  In Chrome they look like this, with a resize handle in the lower-right corner of the container:

<img width="747" alt="screenshot_1763" src="https://user-images.githubusercontent.com/3046552/178299627-4e3d67f2-d305-4793-bcef-8cc4a83a10dc

[2022-07-11 15:28] pixelzoom commented on #1432
Note that some examples _ARE_ interactive in Safari.  (All?) examples from **Margins** onwards seem to be OK:

<img width="731" alt="screenshot_1765" src="https://user-images.githubusercontent.com/3046552/178300149-01f1654a-7fd9-4103-8b3c-3e962ba42751.png">

[2022-07-11 22:25] pixelzoom commented on #1430
I moved away from GridBox in https://github.com/phetsims/vegas/issues/108, because FlowBox was a better fit.  So it's difficult for me to test the in the context where I discovered these problems.  I also don't know where to look for the "good number of grid visual unit tests".   So my review was limited to inspecting the commits, and they seem reasonable. Closing.

[2022-07-11 22:25] #1430 closed

[2022-07-20 00:02] jessegreenberg opened #1433 "Should mutate take a generic type variable?"
@zepumph and I found an issue with mutate where it will only accept NodeOptions, even if `_mutatorKeys` have been modified.

For example:
[code]

Circle adds `radius` to its mutator keys.

We were thinking something like this patch might fix it
[code]

But we found that you can now pass anything into mutate, even without providing a type so we are not quite there.
[code]

@jonathanolson do you hav

[2022-07-25 17:31] marlitas opened #1434 "Shape defined in constructor and options of Path.ts"
@samreid and I discovered that `Path.ts` allows a client to define shape through both the constructor and `providedOptions`. There is no check  or logic to ensure that only one shape definition was passed through. When both definitions are provided `providedOptions` wins, which seems counter-intuitive.

Our recommendation is adding an assertion ensuring that a client does not pass in a shape throu

[2022-07-25 22:07] marlitas commented on #1434
Assertion added. Closing.

[2022-07-25 22:07] #1434 closed

[2022-07-29 17:04] jonathanolson commented on #1343
Patched a memory leak above (related to this issue?), can you verify?

[2022-07-29 17:26] zepumph commented on #1343
Looks great. Thanks! Did this cause trouble somewhere? I'm curious if there is a use case where we are creating that many Displays?

[2022-07-29 22:20] jonathanolson commented on #1343
Yes, a memory leak in Density (there are a number of 3d sims that create Displays often, since they need to contain, size and rasterize content and update the content's rasterization when needed).

[2022-08-01 13:50] samreid opened #1435 "mozCurrentTransform is deprecated"
@Nancy-Salpepi reported this issue:

![image](https://user-images.githubusercontent.com/679486/182162718-ddfc0458-5340-4a69-afa1-91c294f9b346.png)

[2022-08-01 15:48] zepumph commented on #1300
This is still in the blocking-RAP list, hence the ping.

[2022-08-01 16:06] jessegreenberg commented on #1300
Thanks for the ping, those assertions were updated and `Instance.voicingVisibleEmitter` is no more.

[2022-08-01 16:09] jessegreenberg commented on #1300
I noticed that `canVoiceEmitter.removeAllListeners` was missing from Instance.dispose, added above.

[2022-08-05 16:03] zepumph opened #1436 "AccessibleBehaviorFunctions do not allow setting of new attributes"
Over in https://github.com/phetsims/ratio-and-proportion/issues/415 @terracoda found a bug where we had set the accessibleName to `X`, and the accessibleNameBehavior was setting the innerContent and ariaLabel, but only the innerContent was being updated.

The issue is this function here in PDOMPeer:

https://github.com/phetsims/scenery/blob/603005a048fad01ce9c6cf7e591ba4528040cc56/js/accessibility

[2022-08-05 18:32] jessegreenberg opened #1437 "Better KeyboardDragListener behavior and API for dragVelocity and downDelta"
KeyboardDragListener has two options with behavior that could be improved `downDelta`, which controls how far the object should move on initial press and `dragVelocity` which controls how far the object should move in view coordinates per second while keys are pressed down. `dragVelocity` supports smooth (game-like) motion while `downDelta` is used for app press-and-hold behavior where motion is i

[2022-08-05 19:25] KatieWoe commented on #1142
Seen in https://github.com/phetsims/qa/issues/823.
![Build a Nucleus screenshot 2](https://user-images.githubusercontent.com/41024075/183147155-c199280c-bec3-4093-9447-251a2b1482fe.png)

[2022-08-05 19:45] jessegreenberg commented on #1437
I reviewed the proposal with @zepumph and current usages of KeyboardDragListener who agreed that this seems like a reasonable change. Ill give it a try.

[2022-08-05 19:49] zepumph commented on #1436
@jessegreenberg and I discussed and we feel like there is no need to have this be extrapolated to support any and all pdom attributes. That said, we came up with a few ideas. We are not positive of the best approach just yet.

* We can hard code to support ariaRole and ariaLabel since they are already options to the PDOM. We can just update PDOMPeer.onAttributeChange to account for these hard code

[2022-08-05 22:11] zepumph commented on #1436
I went with option two, but even more simple than how we talked about in the meeting today.

You can test with the "Both Hands" in RAP, when toggling the "ratio locked" checkbox on the second screen.

Also with this patch I could see the ariaRole working nicely too:

[code]

![image](https://user-images.githubusercontent.com/6856943/183218072-3d4b92b3-1983-40f0-b274-ad1a162e2af6.png)

@jessegreenb

[2022-08-05 22:59] jessegreenberg commented on #1437
Almost there, here is a patch I will come back to next time:

<details>

[code]
</details>

[2022-08-08 15:21] zepumph commented on #1163
I see about 1000 calls to setting textContent on a dom element when spamming the RAP hand up and down. I believe that is a synchronous step to update attributes. I know we don't want to kick off a total rebuild during next update display, but perhaps we could still only update attributes/generally mutate the peer on update. This will likely involve creating "dirty" flags, but could be reasonably p

[2022-08-08 15:42] KatieWoe opened #1438 "CT accessibleNameBehavior should work for empty string"
[code]

[2022-08-08 17:09] jessegreenberg commented on #1438
This is probably related to https://github.com/phetsims/scenery/issues/1436.

[2022-08-08 17:16] jessegreenberg commented on #1436
Change is working and matches what we discussed in person 8/5/22, thanks! A new unit test failure has started in https://github.com/phetsims/scenery/issues/1438 that may be caused by this change.

[2022-08-08 18:12] jessegreenberg commented on #1438
A fix has been proposed in #1436, closing.

[2022-08-08 18:12] #1438 closed

[2022-08-08 18:14] jessegreenberg commented on #1436
The above commit fixes this unit test that was broken
[code]

Are you OK with this @zepumph? I was wondering if `pdomOptions.ariaLabel` or `pdomOptions.ariaRole` are null/undefined do we need to removeAttributeFromElement in that case?

[2022-08-08 19:07] jessegreenberg commented on #1437
The behavior is changed as described with the above commits. I ran through perennial/data/interactive-description sims that use KeyboardDragListener and fixed usages so that they run with the new assertion. I spot checked each and saw the dragging behavior looking OK.

Option `downDelta ` would be better named as `dragDelta` to match the other option `dragVelocity` and because this delta is no lon

[2022-08-08 19:22] jessegreenberg commented on #1437
Rename complete in the above commits.

@zepumph can you please review this? Most important commit is https://github.com/phetsims/scenery/commit/85f7b3d9ead73bfffed77c99098049f85278ea86. The rest update usages and rename options.

[2022-08-08 19:25] jessegreenberg commented on #1403
OK, thanks for review. Closing.

[2022-08-08 21:45] zepumph commented on #1436
Yes I like that! Thanks. I updated it to remove it. Any other thoughts?

[2022-08-08 21:58] zepumph opened #1439 "Batch mutations to PDOM elements"
From https://github.com/phetsims/scenery/issues/1436:

I think this would greatly help our performance in PDOM-heavy interactions. For example https://github.com/phetsims/ratio-and-proportion/issues/356.

I'm not sure how hard it would be to create a space where ParallelDOM instances are marked as dirty, or even sections of it are marked as dirty. I'm nervous about this issue, because I think it c

[2022-08-08 22:40] zepumph commented on #1437
This is great! Thanks!

[2022-08-09 14:43] jessegreenberg commented on #1437
Thanks, closing.

[2022-08-09 14:49] jessegreenberg commented on #1436
Great, thanks. Thanks for the additional unit tests. I just added some doc to `handleAttributeWithPDOMOption`. Closing.

[2022-08-09 14:49] #1436 closed

[2022-08-09 22:47] zepumph commented on #1300
Excellent! Thanks.

[2022-08-09 22:47] #1300 closed

[2022-08-11 22:00] zepumph commented on #1423
I was able to convert to this pattern in 3 mixin files! There are still 3 mixins that use options without the mutation pattern. AccessibleNumberSpinner, AccessibleSlider, and Popupable.

The pattern that they are using is still a nice pattern for the case. @jonathanolson, can you spot check me?

[2022-08-13 04:04] samreid commented on #1414
I would probably wait until we have a "state based playback" sprint before working in this area.  Unassigning for now.

[2022-08-15 03:57] jonathanolson opened #1440 "branch: stringProperties"
See https://github.com/phetsims/chipper/issues/1302

[2022-08-16 16:59] samreid opened #1441 "Transform3.js? [sm]:131 Uncaught RangeError: Maximum call stack size exceeded"
In https://github.com/phetsims/chipper/issues/1302, @marlitas and I observed this stack error when running gravity-and-orbits with locales=* and mousing over Telugu:

[code]

By changing

[code]

the problem went away.  We are ready to reach out to @jonathanolson for help, and tagging @zepumph in case he re-discovers the same problem.

[2022-08-18 16:36] zepumph commented on #1433
Just a ping here, this issue is some of the only `ts-ignore` calls left in joist, search for `https://github.com/phetsims/scenery/issues/1433` in joist.

[2022-08-18 17:48] zepumph commented on #1194
I'm going to remove this from high priority until someone wants to pass in one of these Properties. It wouldn't be a simple item to accomplish

[2022-08-18 17:49] zepumph commented on #912
Looking good here!

[2022-08-18 17:49] #912 closed

[2022-08-18 18:18] #917 closed

[2022-08-18 18:25] zepumph commented on #781
This issue is mostly just out of date. I'm going to close, please re open if you feel differently

[2022-08-18 18:25] #781 closed

[2022-08-18 18:29] zepumph commented on #673
This is an incredibly old and useless issue. Closing

[2022-08-18 18:29] #673 closed

[2022-08-18 18:39] zepumph commented on #609
We currently exclusively use textContent for everything, and detect an accepted list of formatting tags, setting innerHTML if those are present. @jonathanolson is that acceptable to you? Feel free to close.

[2022-08-18 18:50] #461 closed

[2022-08-18 18:52] zepumph commented on #331
This is a very old issue. Scenery now supports keyboard events. Closing

[2022-08-18 18:52] #331 closed

[2022-08-18 18:53] zepumph commented on #373
HighlightOverlay is alive and well! It supports keyboard focus and more! Closing

[2022-08-18 18:53] #373 closed

[2022-08-25 15:25] samreid opened #1442 "ParallelDOM should support Property<string>"
From https://github.com/phetsims/mean-share-and-balance/issues/99 we will need more support for passing `Property<string>` to ParallelDOM options.  We have done this for Text and RichText and it worked well.

This will help make it so we can translate accessibility strings once we want to.

[2022-08-25 15:26] zepumph commented on #1442
Also noting we ran into this in https://github.com/phetsims/ratio-and-proportion/issues/499.

[2022-08-25 17:14] samreid commented on #1442
@kathy-phet said we do not have a vision and proposed workflow/use case for translating a11y strings yet.

@zepumph describes that the main reason to move forward is that for translated strings, we want to move toward a `Property<string>`-centric API instead of a `string` API.  We want to be able to pass `Property` everywhere, like we do for `Text` and `RichText` which works great.

@jonathanolson

[2022-08-25 18:14] jonathanolson commented on #1442
Implemented above, @zepumph can you review?

[2022-08-25 21:20] jonathanolson commented on #1442
Ok, but how do we do this? We then need to separate a `VoicingInputResponse` that has a string Property option, and `VoicingOutputResponse` that doesn't have that?

[2022-08-25 21:34] samreid opened #1443 "Text and RichText need to update their pattern for linked text Properties"
@zepumph identified this code in Text.ts

[code]

It seems like we should eliminate this and instead make sure we are linking back to the LocalizedStringProperty.

@zepumph do you have time to take the lead on this part?

[2022-08-25 22:27] zepumph commented on #1442
That was already implemented because the input supports a function, and the getter resolves it. `ResolvedResponse` is the output, `VoicingResponse` and `TAlertable` are the inputs. See above commits.

[2022-08-25 22:32] zepumph commented on #1443
From https://github.com/phetsims/axon/issues/408

[2022-08-26 21:25] zepumph commented on #950
This issue is very old at this point. A11y listeners have been working well for a long time, and focus/blur are needed to provide keyboard navigation on disabled elements. I believe that we may need to improve this logic more generally over in https://github.com/phetsims/scenery/issues/1220, but for now. I think we are ready to close.

[2022-08-26 21:25] #950 closed

[2022-08-27 19:05] pixelzoom opened #1444 "RichText fails when dynamic string contains a blank line."
I'm running into this in Natural Selection for https://github.com/phetsims/natural-selection/issues/319, so high priority.

Support for dynamic text in RichText is buggy.   Here's a minimal example:

[code]

When there's a blank line, RichText inserts a VStrut:

[code]

`freeChildrenToPool`is called when the string Property changes. It expects every child to implement `clean`:

[code]

But VStrut

[2022-08-27 19:09] pixelzoom commented on #1444
In the above commits, I added a very temporary workaround so that I can continue working.  Production code should certainly not be published with this workaround, so labling 'blocks-publication'.

[2022-08-27 22:17] samreid commented on #1322
We have not seen this problem on CT for a long time, @jonathanolson does this still warrant work?

[2022-08-29 22:12] jessegreenberg commented on #1314
In the following commit we will replace himalaya with split/join which works just as well and lets us easily add spaces where the breaks were.

[2022-08-30 18:02] jonathanolson commented on #1442
Seems good, I've created PatternStringProperty that might be used for that, but it's great when you don't want something permanent.

Above commits look good. @zepumph anything else to do here?

[2022-08-31 18:33] zepumph commented on #1442
Not for now! We'll see how long it takes us to need dynamic a11y-feature strings.

[2022-09-01 01:10] samreid commented on #1124
Now that we no longer power a playback via the data stream, I thought it would be good to remove this assertion (ignoring keys during startup).  However, https://github.com/phetsims/gravity-and-orbits/issues/436 occurred today and made me realize that once we put more attention on the data stream, we will want to see events like this.  Because the API file knows the initial state, so we will want

[2022-09-01 16:37] zepumph commented on #1124
What I want out of this issue is to change our load sequence substantially. I don't know that it is possible, but here is my idea-layout that would solve this problem, but likely isn't worth it.

Right now we have asyncLoader and simLauncher providing async hooks to tell the sim when to "launch." This doesn't though support any import-time dependency ordering. Currently the main import loads the `

[2022-09-01 18:28] jessegreenberg opened #1445 "Create a registry for global hotkeys"
From https://github.com/phetsims/phet-info/issues/188. There is support for adding global hotkeys. but there is no way to check for duplicates, collisions, or quickly see all of the hotkeys you are using in an app. Would be great to have some kind of automated registry. KeyStateTracker would be responsible for this or use it so this issue is in scenery.

If it does not seem appropriate to do this

[2022-09-01 18:33] pixelzoom opened #1446 "Text/RichText constructor and setTextProperty take different Property types."
The `textProperty` parameter to Text/RichText constructors differs from setTextProperty:

[code]

This makes it impossible to provide a DerivedProperty to Text/RichText via `setTextProperty`.  Shouldn't `setTextProperty` also take a `TReadOnlyProperty<string>`?

I have an immediate need for this in molecule-polarity RealMoleculeViewer.ts:

[code]

The assignment to `moleculeText.textProperty` resu

[2022-09-01 18:34] jessegreenberg commented on #1298
I tried to add to the project board but ended up changing the issue title, changing it back.

[2022-09-01 20:53] pixelzoom opened #1447 "Should Text/RichText visibleProperty be instrumented by default?"
Node `visibleProperty` is currrently instrumented by default.  Text/RichText is often used to label things (titles, checkboxes, radio buttons...), and hiding the label doesn't make sense.  Sor Text and RichText, I'm having to opt-out for almost every instrumented instance, using `phetioVisiblePropertyInstrumented: false`.

Here's some data from the 3 sims that I've just revised.  As you can see, t

[2022-09-01 21:23] jonathanolson commented on #1446
I was told to follow the pattern with Node.visibleProperty (I didn't invent this pattern!)

`moleculeText.mutate( { textProperty: ... } )` was proposed as the way of handling this.

Perhaps we can improve this pattern @zepumph? Thoughts @pixelzoom?

[2022-09-01 21:25] jonathanolson commented on #1446
Node's visibleProperty is `TReadOnlyProperty` in the options, `TProperty` in the `setVisibleProperty()` definition.

[2022-09-01 21:35] pixelzoom commented on #1446
It's really weird, and problematic in practice, that the constructor takes a (readonly) `TReadOnlyProperty<string>`, while `setTextProperty` takes a (writeable)  TProperty<string> | null )`.   What is it about `setTextProperty` that require a writeable Property?

[2022-09-01 21:50] jonathanolson commented on #1446
My understanding was that we want to be able to access things that TProperty provides from getters, e.g.

`text.textProperty.value =` would be illegal if it's a TReadOnlyProperty.

That doesn't sound like a good argument to me, and perhaps we can change them all to TReadOnlyProperty?

[2022-09-01 21:57] samreid commented on #1298
Which project board do we want to add this to?  I'm confused.

[2022-09-01 22:04] jessegreenberg commented on #1298
I don't really know how the project board works, I thought I could add a second issue to this row in the project board
![image](https://user-images.githubusercontent.com/6396244/188020927-07721715-376f-4afa-b037-b8ed66023743.png)

But clicking in that cell and editing changes the title of the issue. Thats how we momentarily had a title like

[2022-09-02 03:24] samreid commented on #1447
I agree it would not be a good use of time to visit each site and have to specify `phetioVisiblePropertyInstrumented: false` or even `phetioReadOnly:false`. It sounds like the main argument from this issue is that texts are rarely "standalone" features that would make sense to hide without hiding their context.  That makes sense to me.  I'm interested to hear from @zepumph too.

[2022-09-02 03:44] kathy-phet commented on #1447
1) I agree, if its possible to just not instrument visible property on these String Properties by default, that is good. Is it relatively easy to bake change the default?

2) If someone really wants to "hide" the string itself. They can just put in a blank string or space - but that seems like they wouldn't do that. They don't need visible property to do that.

[2022-09-02 03:45] kathy-phet commented on #1447
Oh - And I don't think we thought about this aspect - so you won't find this set to false the the two sims that were first converted to dynamic string.

[2022-09-02 19:18] samreid commented on #1124
I added this to the project board and will self-unassign until we discuss https://github.com/phetsims/phet-io/issues/1875#issuecomment-1235819514

[2022-09-03 20:29] samreid commented on #1329
I confirmed the history tracks across the renames.  I recommend closing the issue, but if @jonathanolson wants to reopen for any reason, go for it!

[2022-09-03 20:29] #1329 closed

[2022-09-06 17:38] zepumph commented on #1447
Yes I would love to simplify the API like this patch. I think this issue is also very similar to https://github.com/phetsims/scenery/issues/1443 where we are realizing that most instances of Text should not create an instrumented textProperty because that should just link back to i18n model strings through Derived/PatternStringProperties.

[code]

I'm just worried about the fallout in 2 ways:
1. r

[2022-09-06 20:52] zepumph commented on #1124
We decided to punt on this for now, but when we pick it back up, most likely the solution will be to load all of PhET-iO first (to help other problems too). The work will be done in https://github.com/phetsims/phet-io/issues/1875.

[2022-09-06 21:12] zepumph commented on #1443
I discussed this with @samreid, and we feel like the best general behavior would be to mark as readonly and not as uninstrumented.

Using this patch, I found a couple cases that help me feel similarly about this:

[code]
natural-selection/ProportionsBarNode
ph-scale/WaterFaucetNode
[code]

[2022-09-06 21:16] zepumph commented on #1443
@samreid how does this look to you?

[2022-09-06 21:28] samreid commented on #1443
Looks great, leaving open for PhET-iO meeting PSA.

[2022-09-06 21:44] samreid commented on #1447
In the patch, did you intend to say `phetioVisiblePropertyInstrumented`?

[2022-09-06 22:36] zepumph commented on #1447
Nope, this issue is about visibleProperty of texts, I believe you are thinking of https://github.com/phetsims/scenery/issues/1443.

[2022-09-07 21:21] samreid commented on #1447
Here is a patch that detects when an option matches a default, it could be adapted to detect cases that can be removed here

<details>

[code]

</details>

That is a question for phet-io designers.  Should we just implement the change, make a PSA and make sure they double check as each sim is released?  This seems it would match our convention of erring on the side of under-instrumentation, so see

[2022-09-08 18:50] zepumph commented on #1443
PSA COMPLETE

[2022-09-08 18:50] #1443 closed

[2022-09-08 18:52] zepumph commented on #1447
At design meeting today, we agreed with @pixelzoom that a default uninstrumented visibleProperty for Text/RichText is excellent default behavior!

[2022-09-08 21:35] samreid commented on #1296
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:49] jessegreenberg commented on #1296
I am not sure what this TODO means, I think it has to do with PhET-iO serialization? Let me know if I can help @zepumph.

[2022-09-08 21:57] #1296 closed

[2022-09-08 21:58] zepumph commented on #1296
Thanks. keyboard playback is deprecated so I don't think it is worth time with the TODO. I pointed to this issue without a TODO in because we aren't tearing any of the keyboard playback stuff down at this time, but may in the future make improvements on it.

[2022-09-09 01:16] samreid commented on #1447
I would like to write a first draft for this issue, removing other assignees for now.

[2022-09-09 02:16] samreid commented on #1447
All work complete, and I removed the redundant overrides.  That was such a positive experience and led to such cleaner code that I will promote https://github.com/phetsims/scenery/issues/1447#issuecomment-1239900988 to a new issue.

@zepumph can you please review?  I gave a different commit message to each kind of commit that needs review.

[2022-09-09 22:15] pixelzoom opened #1448 "Pain points for "divider"."
A pain point I've encountered when adding support for dynamic locale is having to deal with separators in control panels. For example, see https://github.com/phetsims/molecule-polarity/issues/147 and https://github.com/phetsims/natural-selection/issues/325.

To address this, the developer needs to make this change:

HSeparator -> VDivider (documented as "a horizontal line")
VSeparator -> HDivider

[2022-09-09 23:01] zepumph commented on #1447
In https://github.com/phetsims/ph-scale/commit/bc022ebedb34f98b9a5fcf06581535ad27cda494 I see that `"phScale.macroScreen.view.waterFaucetNode.waterText.visibleProperty"` is no longer PhET-iO featured. This is because it no longer exists. In my opinion, all commits above that say "prune" overrides are incorrect. The solution, preventing regressions, is to actually instrument those visibleProperties

[2022-09-10 22:14] samreid commented on #1447
Thanks for catching this. I think you are right, and I should probably restore all of those and add `phetioVisiblePropertyInstrumented: true` in the corresponding places. Still, I'd like to confirm this is the desired behavior with @arouinfar before spending time on it.  @arouinfar please skim through the commits labeled "Prune overrides file" and confirm whether we want to reinstrument + re-featu

[2022-09-10 22:16] pixelzoom commented on #1448
I've had to change the PhET-iO API for 3 sims so far, about to have to change a 4th.  And I suspect that I'll be undo those changes when @kathy-phet and @arouinfar weigh in.   So I'm going to pause work on dynamic layout that is related to separator, and raise priority.

[2022-09-12 16:58] arouinfar commented on #1448
This was not a change that was requested by designers. I prefer the term "separator", and it appears frequently in PhET-iO sims. Is there any reason why we can't keep it that way?

Also, I want to note that GAO includes "separator" terminology, so this issue is fairly time-sensitive.

[2022-09-12 20:23] zepumph opened #1449 "add tandemNameSuffix: 'Text' to Text/RichText"
From https://github.com/phetsims/tandem/issues/267. This will be a fair amount of renaming. I'll take a first pass.

[2022-09-12 20:29] arouinfar commented on #1447
@samreid @zepumph I reviewed the "prune overrides" commits, and it's a bit of a mixed bag. I question whether some of these overrides needed to be there in the first place, and in other cases, using an empty string would be functionally the same. In general, though, I think most of those commits can be reverted.

There are a few situations where we would want `phetioVisiblePropertyInstrumented: tr

[2022-09-12 22:16] zepumph commented on #1449
Good progress here! There was a lot of renaming, and I feel really good about getting consistent about this naming, and having an assertion guarding us from here.

Work done:

* suffix added
* labelNode -> labelText
* textNode -> text
* titleNode -> titleText (only where it made sense and we knew it was a Text)
* valueNode -> valueText
* *String -> *Text
* *Title -> *TitleText
* *TitleNode -> *Tit

[2022-09-12 22:17] zepumph commented on #1449
Excellent! @samreid can you spot check, and let me know if you think the above checkbox should be done?

[2022-09-13 14:30] pixelzoom commented on #1448
It looks like GAO is using the old separators, not the new dividers.   And it's able to do that by having fixed-size control panels that do not resize based on locale.

[2022-09-13 15:18] jonathanolson commented on #1444
Applied a fix above, can you verify?

[2022-09-13 15:19] pixelzoom commented on #1444
👍🏻 closing.

[2022-09-13 15:19] #1444 closed

[2022-09-13 17:47] pixelzoom commented on #1448
Some options:

(1) Rename HSeparator and VSeparator to HSeparatorDeprecated and VSeparatorDeprecated. Rename VDivider and HDivider to HSeparator and VSeparator.  Probably the easiset option.

(2) Do what you suggested above. If there's a first numeric arg, it's the static length of the separator. The downside is a developer will need to remember to remove this arg for cases where the separator sho

[2022-09-13 19:55] marlitas commented on #1448
@jonathanolson and I changed the names of files and usages as following:
 - HSeparator => HSeparatorDeprecated
 - VSeparator => VSeparatorDeprecated
 - VDivider => HSeparator
 - HDivider => VSeparator

Assigning back to @pixelzoom  for feedback/review. Feel free to close if all looks good!

[2022-09-13 20:43] pixelzoom commented on #1448
Looks great, thanks! Closing.

[2022-09-13 20:43] #1448 closed

[2022-09-15 16:17] jessegreenberg opened #1450 "Interactive Highlights should be usable without requiring Interactive Description"
The HighlightOverlay is used for all highlights (focus and Interactive Highlights with mouse/touch) but it is only constructed in Display if the Display supports Interactive Description.

That should be changed so that Interactive Highlights can be used without requiring Interactive Description.

[2022-09-15 21:12] zepumph opened #1451 "rename `textProperty` to `stringProperty`"
@kathy-phet, @samreid, and I realized today that `textProperty` is totally a misnomer because it holds a string. We recently changed to underlying translatable string properties to be called `*StringProperty`, so this fits with that work.

[2022-09-15 21:12] zepumph commented on #1451
- [ ] This will likely effect migration rules that have been written (and we may need more).

[2022-09-15 22:49] pixelzoom opened #1452 "Unexpect behavior of pdomOrder."
While working on https://github.com/phetsims/mean-share-and-balance/issues/47 with @marlitas, we were very confused with how `pdomOrder` was working.  Nodes that we did not include in pdomOrder (for example, `this.resetAllButton`) were being mysteriously tacked onto the end of the traversal order that we were explicitly setting via `setPDOMOrder`.

@marlitas remembered from a conversation with @je

[2022-09-15 23:07] jessegreenberg commented on #1452
Yes, that is correct. Everything that is not listed in a PDOM order gets added to the end by default. The documentation is admittedly lengthy but appears here:

element being a placeholder for "the rest of the children", signified by null.

If there is no placeholder specified, it will act as if the placeholder is at the end of the order.

So you can do things like

[code]

[2022-09-15 23:49] pixelzoom commented on #1452
Questions:

(1) Why?

(2) If I don't want something to be in the traversal order, how do I prevent that?

(3) Should this info be in the quickstart guide?

[2022-09-15 23:51] pixelzoom commented on #1452
Questions:

(1) Why?  I don't understand the advantage of this feature, especially when we've established that (in general) one should _not_ rely on the order of a Node's children, except for scenery layout Nodes.

(2) If I don't want something to be in the traversal order, how do I prevent that?

(3) Should this info be in the quickstart guide?

[2022-09-16 02:35] samreid commented on #1451
I'll take the lead on this.

[2022-09-16 04:32] samreid commented on #1451
I've renamed the appropriate tandems, variables, phet-io overrides, etc.  Aqua is passing.  CTQ is passing.  I added migration "delete" rules to be able to load a Gravity and Orbits state, I thought this may need adjustment after https://github.com/phetsims/scenery/issues/1447, but that doesn't mention requested rollbacks for gravity-and-orbits.

[2022-09-16 15:36] samreid commented on #1449
I spot checked the commits, everything seemed OK and I didn't see anything else that needs to be done.

Here are the matches for that search:
* Equality Explorer: `ChallengeDerivationNode extends RichText`
* Fourier: `ComponentsEquationNode extends RichText`
* Models of the Hydrogen Atom: `FullElectronStateNode extends RichText` and `PrimaryElectronStateNode extends RichText`
* scenery-phet: `Debu

[2022-09-16 16:03] samreid commented on #1447
I restored the pruned parts, and added `phetioVisiblePropertyInstrumented: true` where appropriate.  It would be good for @arouinfar to double check the metadata in studio when you have time.

[2022-09-16 16:43] zepumph commented on #1451
https://github.com/phetsims/scenery/commit/10fb1f6bff6976c48e8c215a2740f91eade78dea is exquisite, and much better and more complete than I probably would have been. Thanks!

https://github.com/phetsims/phet-io-sim-specific/commit/19590da14e639ed875fecbaa1cb2b49ed0aca9a2 makes me sad, and makes me feel like though we have the facility to support clients with migration, we are never going to actuall

[2022-09-16 17:00] jessegreenberg commented on #1452
This API predates that decision by a couple of years. I understand it is better for PhET to make the order explicit but I think this behavior is useful, nice to have generally, and not worth removing.

`pdomOrder` is just for order. You can set `focusable` to remove from traversal order or `pdomVisible` to remove entirely from the PDOM (when screen readers are involved).

I added a note in the qui

[2022-09-16 19:03] kathy-phet commented on #1451
@samreid @zepumph I'm not understanding how this is interfacing with migration, so I feel like I need to understand better?

[2022-09-16 19:18] samreid commented on #1451
In the migration rules, I added `new TandemFragmentRenamed( 'textProperty', 'stringProperty' ),` which covers the rename.  However, so many visibleProperty and stringProperty were eliminated recently that rather than just trying to pick and choose the individuals ones that were gone, I used more general patterns which eliminated these altogether:

[code]

I did intend this as a "stop gap" measure

[2022-09-16 20:00] pixelzoom commented on #1449
I renamed all of the classes identified in https://github.com/phetsims/scenery/issues/1449#issuecomment-1249513252.  I am not the author of `DebugLoggerNode`, and it's unused. But I renamed it `DebugLoggerText` for consistency - @jbphet FYI.

[2022-09-16 20:06] pixelzoom commented on #1452
I disagree. I've added this to the end of the [Traversal Order](https://github.com/phetsims/phet-info/blob/master/doc/alternative-input-quickstart-guide.md#traversal-order) section:

in https://github.com/phetsims/scenery/issues/1308.

[2022-09-16 20:06] #1452 closed

[2022-09-17 13:06] samreid commented on #1449
Looks great, thanks!  Closing.

[2022-09-17 13:06] #1449 closed

[2022-09-17 22:58] marlitas commented on #1431
I explored this for a couple of hours and have some questions/observations.

- The issue seems to indicate this is only a problem with height/preferredHeight, however I experimented by making the height and width settings symmetrical, and I'm seeing the same behavior in width as well.
[code]
- The logic in GridConstraint seems to indicate that we do not want cells to resize if the preferredHeight

[2022-09-20 00:21] jonathanolson opened #1453 "Cross-orientation sizable support"
Adding support to properly adjust/forward preferred/minimum sizes to the OTHER orientation if there is a 90/-90 degree angle. We've sometimes rotated components by that (Math.PI/2), and in that case the localPreferredWidth should be connected to the preferredHeight (and vice versa, and also for minimums).

[2022-09-20 00:42] jonathanolson commented on #1453
@marlitas, would you be able to review (possibly together with me) the above changes?

Notably, before this, some buttons were broken with 90-degree rotated content (build-a-nucleus is one example).

[2022-09-20 00:47] jonathanolson commented on #1431
I would expect that, it runs the same logic in both orientations.

If the preferred size is smaller than the minimum size (which... in general really shouldn't happen or be a well-supported condition, it might be a temporary "while listeners are firing" thing), we'll probably want to respect the minimum size.

[2022-09-20 01:02] jonathanolson commented on #1420
Removed all LayoutBox cases, closing!

[2022-09-20 01:02] #1420 closed

[2022-09-20 01:04] jonathanolson commented on #1423
Looks good to me!

[2022-09-20 02:03] jonathanolson commented on #819
I probably reviewed enough of this additionally by converting it to TypeScript. Seems good, @zepumph anything to do here?

[2022-09-20 17:40] marlitas commented on #1431
This is not a bug, the minimum height was larger than the display height causing the test discrepancy. Closing.

[2022-09-20 17:40] #1431 closed

[2022-09-20 20:22] jonathanolson opened #1454 "maxWidth/maxHeight loops when interacting with preferred sizes"
There seem to have been two buggy cases:

1. Buttons with certain settings and appearance strategies were larger than their preferred sizes. Thus if the preferred and maximum sizes were the same, this would create an infinite loop. Fixing the sizing of the node resolves this issue.
2. Setting a maximum size that is SMALLER than the preferred size creates an infinite loop.

I'll be committing short

[2022-09-20 20:32] jonathanolson opened #1455 "AlignBox should be able to take an alignBoundsProperty"
There have been a number of cases where we want to dynamically size an AlignBox with a `TReadOnlyProperty<Bounds>`. We have to create the AlignBox and link to the Property at the moment, but it seems natural for AlignBox to take in a Property on its own.

This would simplify many layout cases using AlignBox without AlignGroup.

[2022-09-20 23:45] samreid commented on #1451
It looks like this issue was completed and the remaining conversation was all about migration rules, so I moved that to a side issue.  Closing.

[2022-09-21 01:02] marlitas commented on #1454
Hmmm... from a developer standpoint I would appreciate receiving a helpful error message as this seems like behavior I would not intentionally create. Although handling it silently may be more graceful and save me from pitfalls I don't know about, it feels sneaky and like it could potentially be hiding a bigger bug in code I would be writing further down the line.

Option 3 feels similar to option

[2022-09-21 03:48] jonathanolson commented on #1454
I'm definitely feeling the "assertion" route right now, we can always reevaluate later if we're hitting these in "valid" cases somehow.

@marlitas does the above commit look good to you?

[2022-09-21 16:31] marlitas commented on #1453
I looked through the code changes and everything looks good from my perspective.

The only question I have regards changes in `Sizable`. I think I may be confused as to how matrix axis alignment defined in `Matrix3` connects to a rotation matrix. I would love to chat more about this to clarify my understanding.

[2022-09-21 16:50] marlitas commented on #1454
Does `auditMaxDimensions` not need to return a boolean so that the asserts that trigger that function can move through?

I thought a void function would return undefined which evaluates to falsy and then trigger the original assertion no matter what?

[2022-09-21 17:18] marlitas commented on #1454
Talked through my questions with @jonathanolson and feels good to close!

[2022-09-21 17:18] #1454 closed

[2022-09-21 19:13] jessegreenberg commented on #1450
This was done in the above commits, HighlightOverlay is now separated from Interactive Description.

[2022-09-21 19:13] #1450 closed

[2022-09-21 21:43] marlitas opened #1456 "Renaming minMargin and maxMargin in MarginLayoutCells"
`getEffectiveMinMargin` and `getEffectiveMaxMargin` are somewhat confusing names as they can be confused with layout usages of max and min.

We would like to think of a better name...

[2022-10-03 18:06] KatieWoe opened #1457 "CT test tracking with time failed"
[code]

[2022-10-03 21:58] stemilymill opened #1458 "Some characters not rendering correctly in translated sims on Safari"
Please move/reassign as needed!

Found during https://github.com/phetsims/qa/issues/838.

Seen on iPad safari and chrome, and Mac safari.

When testing Gravity and Orbits locale switching in-sim, I noticed that several locales were rendering with extraneous dotted circles throughout the text. I saw the same behavior in recent dev versions of equality explorer. In Gravity and Orbits 1.6.0-rc.1 the

[2022-10-03 22:09] Nancy-Salpepi commented on #1458
I also noticed that when using those locales in Gravity and Orbits 1.6.0-rc.1, there is a significant delay when switching to and from them in the preferences menu. There is also a delay with window resizing when changing iPad orientation if one of those locales is selected.

[2022-10-04 15:17] pixelzoom commented on #1419
Now that I've added support for dynamic locale to many sims.... I've found myself taking the easy way out and adding `boundProperty` listeners instead of using scenery layout.  That's obviously not the best approach.  But I'm not inclined to put more effort into scenery layout until the review that I've already done gets addresses.

Assigning to @kathy-phet for prioritization.

[2022-10-04 15:21] pixelzoom commented on #1418
Several months ago, we decided that @jonathanolson would update the documentation, based on the feedback that's been given so far. Then the rest of the dev team would review the revised documentation and provide further feedback.  It doesn't look like any of that has moved forward.

Assigning to @kathy-phet to prioritize.

[2022-10-04 17:59] samreid opened #1459 "GridBox yAlign top didn't work as expected"
From https://github.com/phetsims/gravity-and-orbits/issues/448 @zepumph and @jonathanolson and I tried this code:

<details>

[code]

</details>

And we saw the yAlign wasn't working:

<img width="792" alt="image" src="https://user-images.githubusercontent.com/679486/193892085-27d87a3d-770e-465f-9b0c-555eec8a8fd9.png">

@jonathanolson volunteered to take a look.

[2022-10-04 20:46] jessegreenberg opened #1460 "Add options to KeyboardDragListener to override movement direction keys"
For components that should use KeyboardDragListener but are constrained to 1D motion it would be helpful to secify the keys for each direction like

[code]

It is very difficult (impossible?) with the current API to override behavior of certain movement keys.

[2022-10-04 20:50] jessegreenberg commented on #1460
@pixelzoom suggested

[code]

[2022-10-04 21:47] #1423 closed

[2022-10-04 22:46] #819 closed

[2022-10-05 13:14] terracoda commented on #1460
Just so I am clear, KeyboardDragListener is emplyed for custom draggable objects like the Yellow and Green Balloons in Balloons and Static Electricity, the Chemistry Book in Friction, and the Bar Magnet in Faraday's Law, the Both Hands interaction in Ratio and Proportion, etc. AND, more generally, it is used for other draggable interactive objects. Is that the case?

[2022-10-05 13:26] jessegreenberg commented on #1460
@terracoda that is correct, it implements dragging with a keyboard. As of right now, if it isn't an `<input type="range">` (using AccessibleSlider) in the PDOM then it uses KeyboardDragListener.

[2022-10-05 15:22] jessegreenberg commented on #1460
Done in the above commit, @pixelzoom would you mind reviewing and testing in your use case?

[2022-10-05 15:48] pixelzoom commented on #1460
I used the new `keyboardDragDirection` option in ph-scale, and it's working nicely. See the above commit.

The implementation looks nice. It has the added benefit of not allocating an array on on every call to `updatePostion`.

@jessegreenberg I do see one unrelated issue, not a new problem.  In `updatePosition`:

[code]

Shouldn't these be `else if`?  Or is it necessary for some reason to call al

[2022-10-05 15:50] pixelzoom commented on #1460
And thanks for the quick turnaround!

[2022-10-05 16:27] jessegreenberg opened #1461 "Bug with KeyboardDragListener with event bubbling and tabbing with shift"
I noticed this while testing in ph-scale. If you shift tab back to the dropper node, it will move slowly as if shift is still pressed down. @pixelzoom fyi.

This is happening in ph-scale because the dropper button comes after the dropper node in the traversal order and the dropper button is a child of the dropper node.

- Shift key is pressed while focus is on the dropper button and shift gets add

[2022-10-05 17:02] jessegreenberg commented on #1461
`focusout` works well and fixes the problem. @zepumph can you please check this change? I tested local test-server, usages of GrabDragInteraction and other usages of KeyboardDragListener. It seems pretty safe to me.

[2022-10-05 17:06] jessegreenberg commented on #1460
Yes, that is better thanks! How is https://github.com/phetsims/scenery/commit/b8a6f884e6b5278fa444f40809d1574c869d82c5?

[2022-10-05 18:14] zepumph commented on #1461
So if I understand correctly, this was occurring because of how the button was on a child node. Makes sense! Good and elegant fix. I can't think of any other spots where having a focusout there will be buggy or too powerful. Ready to close. Thank you

[2022-10-05 18:17] jessegreenberg commented on #1461
You understand correctly! Thank you for reviewing. Closing.

[2022-10-05 18:17] #1461 closed

[2022-10-05 21:08] samreid commented on #1458
I observed that "Arial" has the same missing font problems on Safari Version 16.0 (17614.1.25.9.10, 17614).  I noticed that https://developer.apple.com/fonts/system-fonts/ listed "Gujarati MT" as a preinstalled font, and when I tried it, it looked OK in Safari:

<img width="738" alt="image" src="https://user-images.githubusercontent.com/679486/194163677-42d41efd-b95f-4637-9246-bb32990953ce.png">

[2022-10-05 21:13] samreid commented on #1458
Since this problem exists in Gravity and Orbits 1.5 and other published sims, it should not block publication of Gravity and Orbits 1.6. Once we have a solution, it can be cherry picked into sims as appropriate.  @jonathanolson can you please advise?

[2022-10-06 15:10] pixelzoom commented on #1460
👍🏻 closing.

[2022-10-06 16:01] zepumph commented on #1419
Noting a layout bug in https://github.com/phetsims/scenery/issues/1459

[2022-10-06 16:20] jonathanolson commented on #1458
Locale-specific font families sounds potentially helpful, but is much trickier for dynamically changing the locale. If those fonts are missing the glyphs, are we able to provide Gujarati MT as a fallback?

[2022-10-06 16:31] samreid commented on #1458
I tried specifying a fallback by changing

[code]

 to

[code]

And it had the same incorrect behavior.

[2022-10-06 16:48] jonathanolson commented on #1457
@jessegreenberg any clue what's happening here?

[2022-10-06 17:23] jessegreenberg commented on #1457
I am not seeing this locally, I have seen this on CT from time to time but it is not consistent
![image](https://user-images.githubusercontent.com/6396244/194373550-9c636273-84f9-46a7-831c-02565e9e2104.png)

I have a hunch these tests may fail on CT if bayes gets bogged down. These tests use stepTimer, if dt gets too large tests could fail.

[2022-10-06 18:56] pixelzoom commented on #1451
More work to be done here:

- [ ] `const TEXT_PROPERTY_TANDEM_NAME = 'stringPropery'` should be renamed to `STRING_PROPERTY_TANDEM_NAME` in both Text and RichText.

- [ ] `STRING_PROPERTY_TANDEM_NAME` should be a `public static readonly` constant, so that it can be used by callers instead of duplicating the `'stringProperty'` literal.

- [ ] Places where `'stringProperty'` literal appears should b

[2022-10-06 19:16] pixelzoom commented on #1451
I completed the items in https://github.com/phetsims/scenery/issues/1451#issuecomment-1270547410.  @samreid please review.

One question: In gravity-and-orbits-migration-rules.ts, would this change be appropriate?

[code]

[2022-10-06 19:19] zepumph commented on #1451
I'm right here, I'll review.

[2022-10-06 19:24] zepumph commented on #1451
- [ ] I see 7 more usages of 'stringProperty', and they all seem correct to use the literal. Do you think that we should make 'stringProperty' bad text to make sure that we are using the constant in Text?

- [ ] Do you like this patch?

[code]

I can't think of anything else. Thanks!

[2022-10-06 19:30] pixelzoom commented on #1451
Yes, I saw those other cases. I intentionally didn't touch them, because they are the Text/RichText Property name, not the tandem name of that Property.  And didn't think it was essential/desirable if they match.

If you'd like them to match, I don't have a problem with it.  But I'd probably change the above patch so that we're using something like `STRING_PROPERTY_NAME` for both the Property name

[2022-10-06 19:32] pixelzoom commented on #1451
So

[code]

[2022-10-06 19:42] zepumph commented on #1451
What do you think about the bad-text rule to try to cover future cases like https://github.com/phetsims/natural-selection/commit/aa52e0e7d81e60a450ec9c1b5dd2657fe2f757b5? And disable the rule for the ~7 cases that should be the string literal?

[2022-10-06 20:15] jessegreenberg commented on #1457
Ill bet we can avoid failing tests if time steps are too large to prevent CT failures, Ill take a look later.

[2022-10-06 20:17] marlitas commented on #1418
@pixelzoom I looked through CSS Grid Layout documentation as a basis for a better name for height/width and came across `span`. I do believe that @jonathanolson's implementation of spanning columns or rows is much more straightforward than what CSS provides, but perhaps renaming `height` to `verticalSpan` and width to `horizontalSpan` might provide more clarity on the functionality of those proper

[2022-10-06 21:00] zepumph commented on #1451
Alright. How is that?

[2022-10-06 21:08] pixelzoom commented on #1451
Looks overall great, thanks for doing that.

One question.... Why is 'stringProperty' used instead of STRING_PROPERTY in these 2 places:

[code]

[2022-10-06 21:11] zepumph commented on #1451
What about Text.options.text, `setText`, etc. Does that seem like something we should change to 'string'?

[2022-10-06 21:15] pixelzoom commented on #1451
I'm ambivalent about renaming `setText`, etc.

[2022-10-06 21:56] KatieWoe commented on #1458
This still occurs in https://github.com/phetsims/qa/issues/841

[2022-10-06 22:22] jessegreenberg opened #1462 "Make it possible to disable Interactive Highlights for individual Nodes"
Once a Node is composed with InteractiveHighlighting it is impossible to prevent the highlight from being displayed (if the feature is enabled) other than using `pickable: false`. But maybe you still want the Node to be pickable. I think there should be another option/setter explicitly for this.

Found while working on https://github.com/phetsims/joist/issues/858.

[2022-10-07 15:49] jessegreenberg commented on #1171
I think that patch is reasonable and would work well!

[2022-10-07 15:50] #699 closed

[2022-10-07 15:59] zepumph commented on #1300
Oops, we never made stuff behind a modal dialog voicing invisible, but we will now!! SEe https://github.com/phetsims/ratio-and-proportion/issues/509

[2022-10-07 16:46] zepumph commented on #1335
@jessegreenberg and I discussed this today, and we feel like we are in need of a more general hotKey handler, which can tab into keyboardDragListener, globalKeyStateTracker, and any old Node listener that it wants. It will need a semblance of timing, so that hotkeys can be tweaked to fire after `n` ms. From this, we think that `keydown`  is likely how these will trigger, but actually it will be de

[2022-10-07 18:42] jonathanolson opened #1463 "Should minContentWidth on HBoxes be supported?"
It enforces a minimum size for each cell, however FlowBox provides no way of positioning the actual content within that cell. We could leave as-is, or add in a feature for this. I've had to recommend moving to GridBox for when this feature is needed.

[2022-10-07 18:46] jonathanolson opened #1464 "Layout implementation notes and type hierarchy diagram"
In https://github.com/phetsims/scenery/issues/1419, @pixelzoom noted:

This sounds valuable, and should be created.

[2022-10-07 19:04] jonathanolson commented on #1419
I talked with KP, and instrumentation of the layout properties isn't needed or desired for clients at this time. It matches the instrumentation behavior of LayoutBox (which is now gone), so I believe its phet-io status is as desired.

[2022-10-07 19:09] jonathanolson opened #1465 "Add more unit/pixel-comparison tests for layout"
Noted in https://github.com/phetsims/scenery/issues/1419.

ManualConstraintTests already exists, and I believe there is good coverage for FlowBox in pixel-comparison tests, and moderate coverage for GridBox there.

Adding general unit tests and completing GridBox pixel tests seems helpful. Adding tests for other use cases (direct FlowConstraint/GridConstraint usage, AlignBox, AlignGroup, etc.) sou

[2022-10-07 19:20] jonathanolson commented on #1419
These were renamed and deprecated in a separate issue. I believe they'll be replaced to the new forms when each component/sim is revisited for layout.

[2022-10-07 19:26] jonathanolson opened #1466 "Document GridBackgroundNode"
Noted in https://github.com/phetsims/scenery/issues/1419.

Additionally, can this be changed so that there's an easier way to set the fill and stroke, without overriding the whole function?

@pixelzoom noted:

[2022-10-07 19:40] jonathanolson commented on #1466
Accomplished above, closing.

[2022-10-07 19:40] #1466 closed

[2022-10-07 19:42] jonathanolson opened #1467 "TrackingLayoutProxyProperty simplification"
Noted in https://github.com/phetsims/scenery/issues/1419:

[2022-10-07 19:49] jonathanolson opened #1468 "Rename GridCell width/height to horizontalSpan/verticalSpan"
Noted in https://github.com/phetsims/scenery/issues/1418

Discussed with @marlitas and the `horizontalSpan` / `verticalSpan` naming sounds less confusing, and like the best option. Let's proceed!

[2022-10-07 21:41] jessegreenberg opened #1469 "Highlight lineWidth should not scale with the Node"
While working on https://github.com/phetsims/joist/issues/858. From slack:

 Today at 5:17 PM
The line width of a focus highlight is scaled down to the node it surrounds. Do we like this? I can't remember why we added that, but I think it looks odd. See how the probe highlight is way thinner because it is scaled down. Would anyone mind if I removed this?

![rts2](https://user-images.githubusercont

[2022-10-08 01:17] jonathanolson commented on #1419
LayoutBox compatibility is a good reason, however it's also because strings seem easy to handle and type check (and avoids having to do additional imports).

I'd prefer to avoid things like:
[code]
because we can instead do:
[code]

Orientation is great, and it's used internally.

[2022-10-08 01:22] jonathanolson opened #1470 "layoutOptions typing should catch flow-grid "wrong options""
As noted in the code review https://github.com/phetsims/scenery/issues/1419:

This is true currently, and I believe we should add assertions to make sure that flow options aren't used for grid constraints, and grid options aren't used for flow constraints. E.g. passing `xAlign` into a FlowBox child's layoutOptions should be an assertion failure, and passing `align` into a GridBox child's layoutOpt

[2022-10-08 01:29] jonathanolson opened #1471 "Factoring out code shared with FlowConfigurable/GridConfigurable"
From the code review in https://github.com/phetsims/scenery/issues/1419:

Not true, `align` and `orientation` are in flow, but not in grid. BUT there are a lot of shared parts, so a "super-type" mixin that factors out common parts could save a good chunk of code (at the cost of type hierarchies getting a bit deeper). I'll look into this.

[2022-10-10 19:44] zepumph opened #1472 "Rename (Rich)Text.text => string"
Side issue of https://github.com/phetsims/scenery/issues/1451. There is currently inconsistency about how we call stringProperties and text (string literals) in these scenery Node string renderers. We decided as a team that "text" is a scenery view of a string, and so the actual string should be stored as a name like `string` instead of `text`.

This shouldn't be too challenging, but it is a publi

[2022-10-10 19:46] zepumph commented on #1451
I created https://github.com/phetsims/scenery/issues/1472. Closing

[2022-10-10 20:06] zepumph commented on #1472
@marlitas agreed to look into things here. We will probably want to meet to double check on everything.

[2022-10-10 22:47] jonathanolson commented on #1451
Hey, if we're renaming textProperty => stringProperty in Text, can we at least keep the duality and rename the `text` option in Text to `string` (and similarly for RichText in https://github.com/phetsims/scenery/issues/1472?)

It's either called `text` and we have a Property (`textProperty`) for the corresponding option, or it's called `string` and we have a Property (`stringProperty`) for the cor

[2022-10-10 22:48] jonathanolson commented on #1451
I just read https://github.com/phetsims/scenery/issues/1472#issue-1403632398, it looks like this is planned, reclosing. Sorry!

[2022-10-10 22:48] #1451 closed

[2022-10-10 23:00] jonathanolson commented on #1468
Looks good! I hit a few cases that were in JS above, closing. Thanks!

[2022-10-10 23:00] #1468 closed

[2022-10-11 18:45] jonathanolson opened #1473 "Create codepen like interface for our code"
It should have imports handled, and ideally allow components from scenery-phet/sun or sim interfaces.

Could we use a third-party library to make this easy?

[2022-10-11 18:48] jonathanolson opened #1474 "Layout exemplar documentation"
Noted in https://github.com/phetsims/scenery/issues/1418:

It would be great to take some cases from a dynamic-layout sim, screenshot them + markup showing code snippets or what layout was used where.

[2022-10-11 20:29] jonathanolson commented on #1473
Initial work for layout documentation usage:
[code]

[2022-10-11 22:02] samreid opened #1475 "Alt-Input and Support for 1D vs 2D dragging"
In Slack#a11y-dev from 10/4/2022 to 10/11/2022:

Chris Malley
  [7 days ago](https://phetsims.slack.com/archives/CA04ERJJK/p1664913917449129)
In pH Scale, I have some objects that are constrained to “drag” only in 1 dimension — up/down or left/right.  The KeyboardDragListeners for those objects enforce the same constraints. That is, if my object can be dragged up/down, then the left/right arrow ke

[2022-10-11 23:27] jonathanolson commented on #1473
Improved patch:
[code]

It now doesn't need a setInterval or any junky stuff to resize well.

[2022-10-11 23:30] jonathanolson commented on #1473
Above commit also makes a number of improvements. Sandbox URL updates with the script, it auto-runs by default (showing error messages for imports OR code), has highlighting, has the output horizontally centered, and allows code before/after (if we use it with the scenery layout docs).

This all is great, and shows up nicely in the layout docs:

<img width="734" alt="image" src="https://user-image

[2022-10-11 23:49] jonathanolson commented on #1473
Applied a string fix, so that we can load components that need strings from common code, e.g.:

<img width="633" alt="image" src="https://user-images.githubusercontent.com/480878/195218545-c45377a1-4ef5-48f0-bca1-6e0102b98c95.png">

http://localhost/scenery/tests/sandbox.html?script=%2F%2F%20import%20axon%2Fjs%2FNumberProperty%0A%2F%2F%20import%20scenery-phet%2Fjs%2FWavelengthSlider%0A%0Aconst%20p

[2022-10-12 02:39] pixelzoom commented on #1475
I added screenshots and missing markdown to the above, so that it's readable.

[2022-10-12 03:24] jonathanolson commented on #1473
@marlitas I'm curious about your thoughts on this: The sandbox style demos need to load files from chipper/dist. This means that they'll load slower (and won't be compatible easily with the phetsims.github.io setup, since it would require "architectural changes"). However locally, it will stay up-to-date. We probably don't want to load 50 iframes (since they would ALL load their individual strings

[2022-10-12 03:25] jonathanolson commented on #1473
Latest patch:

[code]

This one allows replacing `dynamicDemo` with `sandboxDemo`. It drops the dynamic sizing, but should be pretty compatible otherwise.

[2022-10-12 14:59] jonathanolson opened #1476 "Handle layoutOptions for flow being given to grid, or vice versa"
Noted in https://github.com/phetsims/scenery/issues/1419:

[2022-10-12 15:21] marlitas commented on #1473
The improvements to this are great! I did notice the lag in loading the iFrames, and this is only for 2 so I can imagine 50 can get unwieldy.

I'm a little split, because from a docs perspective I would personally find it very useful to mess with the demo code and see the changes to truly understand how all of it is working together. However, having that split out into its own sandbox allows the s

[2022-10-12 18:24] marlitas commented on #1453
@jonathanolson and I talked through this and I have no more questions. Closing as completed!

[2022-10-12 18:31] marlitas commented on #1470
I looked at this to try and get a head start and made a lot of discoveries, but still have some questions, and feel blocked enough that I think this would be a good issue to pair with @jonathanolson on.

[2022-10-12 18:36] jonathanolson commented on #1471
Added MarginLayoutConfigurable to contain the shared code. @marlitas can you review?

[2022-10-12 18:53] marlitas commented on #1471
Looks good an like a lot of duplication was eliminated my only question is in reference to the documentation `setConfigToBaseDefault` and `setConfigToInherit`.

[code]

[code]

I'm not quite sure I fully understand the difference between the base state and original state. They seem to imply a similar state ( a base state is very commonly the original state ), but are obviously different in the imp

[2022-10-13 01:58] jonathanolson opened #1477 "Layout separator cleanup and extension"
Some notes in https://github.com/phetsims/scenery/issues/1419.

I'll get things so it doesn't require `instanceof Separator`, we'll have `{ isSeparator: true }` as a layoutOption so we can make our own separators, and I'll clean up some of the logic.

[2022-10-13 02:12] jonathanolson commented on #1477
@marlitas can you review the above commits?

[2022-10-13 16:38] jonathanolson commented on #1419
Comments moved out to issues:

https://github.com/phetsims/scenery/issues/1464

https://github.com/phetsims/scenery/issues/1465

https://github.com/phetsims/scenery/issues/1476

I believe the rest is complete. @pixelzoom would you like to review?

[2022-10-13 17:34] jonathanolson opened #1478 "Handle GridConstraint TODOs"

[2022-10-14 16:28] zepumph commented on #1171
- [ ] Would we want to clear the keyState before notifying? Then there isn't an inconsistent state if you checked on something like "areKeysDown"

[2022-10-14 16:34] zepumph commented on #1462
https://github.com/phetsims/scenery/issues/1298

[2022-10-14 16:35] jessegreenberg commented on #942
Reviewing this with @zepumph, https://github.com/phetsims/scenery/commit/f1ce6d906271f42f5595aaa355fcebdcc221783d has been working OK and we haven't needed this for more events since 2019.

We realized that this is important for `keydown`/`keyup` pairs because focus can change between them. But it was not needed for single events like `input` `change`  or `click`.

Closing.

[2022-10-14 16:35] #942 closed

[2022-10-14 16:35] zepumph commented on #1475
https://github.com/phetsims/scenery/issues/1298

[2022-10-14 16:35] zepumph commented on #1469
https://github.com/phetsims/scenery/issues/1298

[2022-10-14 16:38] zepumph commented on #1440
@jonathanolson, can you please state the current status of this branch? Where is it at. Mostly I'm asking because https://github.com/phetsims/chipper/issues/1302 is closed.

[2022-10-14 16:48] jessegreenberg commented on #865
Since this issue, it was changed to `Display.focus` was changed to `FocusManager.pdomFocus = null`. It is not clear what is next here but we want to think about the best way to globally clear focus.

[2022-10-14 16:54] jessegreenberg commented on #851
This issue can be closed, these functions have been moved out of the constructor. These input listeners now go through scenery's input system and `addAccessibleINputListener` is not a thing anymore.

[2022-10-14 16:54] #851 closed

[2022-10-14 16:58] zepumph commented on #1302
We are not going to rename here. This issue is old. Closing

[2022-10-14 16:58] #1302 closed

[2022-10-14 17:08] zepumph commented on #1243
This is no longer an issue, duplicate of https://github.com/phetsims/utterance-queue/issues/60, we have a workaround in place. CLosing

[2022-10-14 17:08] #1243 closed

[2022-10-14 17:23] zepumph commented on #934
These options are now supported, and documentation for optional events on release is reasonable! Closing

[2022-10-14 17:23] #934 closed

[2022-10-14 17:25] zepumph commented on #872
This issue is incredibly old. @jonathanolson and I have worked multiple times on PressListener since then. I'm going to close. Please reopen if you feel differently.

[2022-10-14 17:25] zepumph commented on #834
This is old and outdated, things are working now

[2022-10-14 17:25] #834 closed

[2022-10-14 17:26] zepumph commented on #754
Old issue, this is still in the playground. Closing

[2022-10-14 17:26] #754 closed

[2022-10-14 17:27] zepumph commented on #696
This has been sorted out as ParallelDOM is now a supertype of Node

[2022-10-14 17:27] #696 closed

[2022-10-14 17:31] zepumph commented on #662
Ya boy is accessible. Closing

[2022-10-14 17:31] #662 closed

[2022-10-14 17:32] zepumph commented on #618
This issue is quite old! Let's close. I don't see any todos pointing to this issue.

[2022-10-14 17:32] #618 closed

[2022-10-14 18:17] zepumph commented on #1008
This is not the direction we have generally gone for IOTypes in the past 3 years. @samreid would you like a single IOType for Text? Or is it beneficial to split them out because then they match the core type? since Text's public API will not every be more than a subset of RichText, I don't care too much, and it is probably best as it is.

These have been removed

In general this issue is out dated

[2022-10-14 18:17] #1008 closed

[2022-10-14 19:24] jessegreenberg commented on #1445
@zepumph and I did some brainstorming on this today for the upcoming work:

[code]

Maybe an example that could fire on enter/space:
[code]

We thought that for "firing", FireListener could be composed with a KeyboardListener like this so that implementing fire behavior is as simple as adding a single FireListener to the component for keyboard/mouse/touch inputs.

[2022-10-14 21:16] jonathanolson commented on #1440
Deleted the branch, thanks!

[2022-10-14 21:16] #1440 closed

[2022-10-14 21:30] jonathanolson commented on #1455
I'm kind of evenly split between those options. Do you have a preference?

[2022-10-14 21:38] jonathanolson commented on #1459
<img width="464" alt="image" src="https://user-images.githubusercontent.com/480878/195947946-b02982cb-205d-4829-be77-eb3b7a3fc184.png">

Looks like the HighlightNode is significantly larger than the button. So it affects the bounds, and the GridBox is doing its job.

[2022-10-14 21:41] samreid commented on #1459
Excellent, thanks!  I feel this issue can be closed, but over to @zepumph to double check.

[2022-10-14 21:42] jessegreenberg commented on #1230
Coming back to this I think Focus is still the best name, and renaming to `ActivatedData` is not an improvement. I would rather not rename now but expand our definition of focus. @zepumph do you feel strongly?

[2022-10-14 21:52] zepumph commented on #1230
I certainly don't feel like ActivatedData is the way forward :).

Let's close this issue, but work toward thinking of focus as not just related to keyboard/browser focus. As we talk about it and write code about it.

[2022-10-14 21:52] #1230 closed

[2022-10-14 21:55] zepumph commented on #1459
Understood. And of course it isn't your layout's fault! Closing

[2022-10-14 21:55] #1459 closed

[2022-10-14 23:34] jessegreenberg commented on #1469
OK I think the lineWidth code is generally trying to make the highlight lineWidth the same regardless of the transform. But it isn't working correctly because it is using the wrong Node in HighlightOverlay to calculate the lineWidth. This patch fixes the issue except for when zooming in with pan/zoom.

[code]

[2022-10-16 13:28] pixelzoom commented on #1419
From https://github.com/phetsims/scenery/issues/1419#issuecomment-1142709404:

...

What is the status of unit tests?

[2022-10-16 13:29] pixelzoom commented on #1419
This item from https://github.com/phetsims/scenery/issues/1419#issuecomment-1142709404 has not been checked. ILayoutOptions is now TLayoutOptions. Has this been addressed?

[code]

[code]

[2022-10-16 13:32] pixelzoom commented on #1419
Verified that all checklist items that are not checked have been moved to individual issues.

Closing.

[2022-10-16 13:32] #1419 closed

[2022-10-17 14:01] marlitas commented on #1467
The changes here look good to me, and changes seem to be working well. Nice! Closing as completed.

[2022-10-17 14:01] #1467 closed

[2022-10-17 14:03] marlitas commented on #1471
That documentation is very helpful, thank you! Closing as completed :-)

[2022-10-17 14:03] #1471 closed

[2022-10-17 14:07] marlitas commented on #1455
Consolidating makes more sense to me. This is a property that seems logical for AlignBox to have, and by consolidating my opinion is that we will make it easier for other devs to navigate to AlignBox, as well as find this functionality.

This feels like an issue I can try to accomplish on my own if that feels reasonable to you?

[2022-10-17 16:39] jessegreenberg opened #1479 "Can scenery be more responsible for supporting Interactive Highlighting?"
In https://github.com/phetsims/joist/issues/858, we identified that InteractiveHighlighting.ts is basically used whenever there is a Node with some form of mouse/touch listener (likely PressListener, but maybe also for custom ones). Would it be possible for scenery to automatically support InteractiveHighlighting without any instrumentation? @zepumph fyi, since you have been involved with the Inte

[2022-10-17 18:01] jonathanolson commented on #1455
Sounds good to me!

[2022-10-18 00:31] jonathanolson commented on #1476
Done above. @marlitas can you review?

[2022-10-18 04:22] arouinfar commented on #1216
I haven't run into this issue in a long time, so I'll go ahead and close.

[2022-10-18 04:22] #1216 closed

[2022-10-18 13:57] marlitas commented on #1455
Applied in the above commits. @jonathanolson can you review?

[2022-10-18 14:06] marlitas commented on #1476
This looks like a duplication of https://github.com/phetsims/scenery/issues/1470. Closing https://github.com/phetsims/scenery/issues/1470 since these commits seem to address the issue.

My biggest confusion/question here involves the hierarchy of `flowcells` and `gridcells`. If a `flowcell` (HBox/VBox ?) is the child of a grid constraint, then we do want it to be able to pass in grid relevant layo

[2022-10-18 14:06] marlitas commented on #1470
Closing as duplication of https://github.com/phetsims/scenery/issues/1476.

[2022-10-19 22:56] jessegreenberg commented on #1469
I made a little progress on this but the changes are too disruptive for me to commit to tonight. Basically, I found that the highlightNode should almost always be used to determine the lineWidth of the highlight because it is transformed by the TransformTracker. Then the final width can be corrected by the scale of the `animatedPanZoomListener` scale so that the highlight remains unchanged when zo

[2022-10-20 01:59] pixelzoom opened #1480 "Making an HSeparator invisible causes an assertion failure"
Making an HSeparator invisible causes an assertion failure. VSeparator seems OK.

For example, run ph-sale in Studio, and change `phScale.microScreen.view.beakerControlPanel.separator.visibleProperty` to `false`. This will cause assertion failure:

[code]

Blocks publication ph-scale, and presumably any PhET-iO sim that uses HSeparator.

[2022-10-20 14:28] jessegreenberg commented on #1462
This was done for https://github.com/phetsims/joist/issues/858, closing.

[2022-10-20 14:28] #1462 closed

[2022-10-20 14:57] jessegreenberg commented on #1058
Example workaround for this issue is at https://github.com/phetsims/sun/blob/b3d9f30fba6fc8aefe2cc6f9d29e2387388c648f/js/ComboBoxListBox.ts#L254-L255

[2022-10-20 17:31] zepumph commented on #1480
This is potentially blocking many PhET-iO sims, so I added it to the board.

[2022-10-20 17:35] samreid commented on #1445
The examples above seem to need a modifiers API.  For example, If the keys were ctrl+enter or alt/opt+space.

[2022-10-20 17:36] zepumph commented on #1445
As well as an API for "these keys in order" vs "any order".

As well as an API for "all keys must be down" vs "any of these keys".

[2022-10-20 18:19] jessegreenberg commented on #1445
Some notes from brainstorming:

- If the Display adds listeners to the window, we might be able to do global input through scenery's event system with bubbling instead of a separate system for "global" event listeners.
-

[2022-10-20 19:38] zepumph commented on #1445
Notes from today's brainstorm

[code]

[2022-10-20 20:06] zepumph commented on #1446
How about this @jonathanolson? If you agree with it than I can apply it to all Node Properties over in https://github.com/phetsims/axon/issues/391

[2022-10-20 21:22] arouinfar commented on #1480
Just a note -- In discussion with @samreid and @zepumph, it sounds like a new feature of HSeparator is that it knows when to hide itself. From a design perspective, I don't see a reason to instrument separators if they know when to hide themselves.

[2022-10-20 21:24] samreid commented on #1480
Just clarifying, I'll uninstrument the *Separator visibleProperties, and leave the issue assigned to @jonathanolson to work on the potential layout problems.

[2022-10-20 21:29] pixelzoom commented on #1480
Good to know. Would have been even better to know before I did this for every single separator in every single one of my sims.  Now I have to uninstrument them.

Add some documentation please?

gravity-and-orbits has instrumented separators, btw.  GravityAndOrbitsControls.ts:

[code]

[2022-10-20 21:31] pixelzoom commented on #1480
Hmm... I'm confused by https://github.com/phetsims/scenery/issues/1480#issuecomment-1286170972.  Are we uninstrumenting separators, or doing something in common code to uninstrument their visibleProperty, or both?

[2022-10-20 22:02] jonathanolson opened #1481 "Use sandbox-style code in Scenery documentation"
Start with layout, but the rest would be great to convert over.

We'll want to NOT use sandbox directly, but we'll use the built version of scenery. We'll also need to handle the resizability IN CODE to avoid the browser issues for the layout examples.

[2022-10-20 22:03] jonathanolson commented on #1432
We'll be switching to JS-style code to handle/demo the resizing, in https://github.com/phetsims/scenery/issues/1481

[2022-10-20 22:07] jonathanolson commented on #1422
Also `phet.chipper.setAllStrings()` also exists to help with this. On the sprint to brainstorm features and implement.

[2022-10-20 22:17] jonathanolson opened #1482 "Consider round-item layout with preferred sizes"
Should a RoundButton "disobey" one of its two preferred sizes (width/height) if they differ? Should it just take the smallest size?

[2022-10-20 22:47] Nancy-Salpepi commented on #1458
this issue is also in https://github.com/phetsims/qa/issues/844

[2022-10-21 12:56] jessegreenberg commented on #1445
Patch so I can switch computers:

<details>

[code]
</details>

[2022-10-21 15:05] samreid commented on #1445
I observed that `const EnglishStringToCodeMap` is missing the letter 'p'.

[2022-10-21 16:48] jonathanolson commented on #1474
This exemplar documentation could also document other things, like how to use common components.

[2022-10-21 17:01] jessegreenberg commented on #1445
Another patch from pairing with @samreid and @zepumph where we discussed pros/cons of API differences of using "natural" english strings vs a structure constants to specify keys for the listener. We also started using the type checker to encode/enforce the keys in the listener which is working well. We would like to try using the type checker to make sure that keys are in the right format when pro

[2022-10-21 18:58] zepumph opened #1483 "I don't understand TInputListener"
While working on https://github.com/phetsims/scenery/issues/1445 @jessegreenberg and I got quite confused about how TInputListener is supposed to work.

For our purposes, let's say that this is what TInputListener says:

[code]

We were surprised to see that many spots didn't infer that the event param for the keydown callback was specific to the KeyboardEvent. Here are some examples:

[code]

The

[2022-10-21 19:05] zepumph commented on #1445
We got to a commit point, and then made an improvement to use globalKeyStateTracker. Thanks for getting the ball rolling @jessegreenberg.

Next big steps that I know of (feel free to edit inline)
- [ ] Callback should run on SceneryEvent so that it can be aborted etc.
- [ ] SceneryEvent likely should store some data from the keyboard state so that KeyboardListener doesn't need to use a global
- [

[2022-10-21 20:09] marlitas commented on #1477
I wasn't able to find the comment that initiated this issue in https://github.com/phetsims/scenery/issues/1419, so a little fuzzy on the motivation, but the code looks good and makes sense. I like that a cell is now defined as a separator through a boolean instead of a type check, that seems cleaner and more maintainable.

With no review comments, closing as completed.

[2022-10-21 20:09] #1477 closed

[2022-10-21 20:10] marlitas commented on #1476
Sending back to @jonathanolson to answer some of these questions in the above comment.

[2022-10-21 20:58] jessegreenberg opened #1484 "Can we remove TARGET_SUBSTITUTE_KEY implementations in Input.ts"
While working on #1445 we found some code related to phet-io playback and we weren't sure if it could be removed at this point. @zepumph what do you recommend?

[code]

[2022-10-21 21:09] zepumph commented on #1484
I discussed with @jessegreenberg and @samreid. We will keep things for playback in place, even though it isn't actively supported. Closing

[2022-10-21 21:09] #1484 closed

[2022-10-21 22:36] jessegreenberg opened #1485 "Remove the duplication of Trail calculation in Input.ts"
While working on #1445 we noticed that the Trail is calculated twice before dispatching an event.

The trail is calculated around here:
https://github.com/phetsims/scenery/blob/b4ac2850e20a6fd9b43f7dedfad38ae03f3c1a03/js/input/Input.ts#L836-L850

And also in every individual event action like this:
https://github.com/phetsims/scenery/blob/b4ac2850e20a6fd9b43f7dedfad38ae03f3c1a03/js/input/Input.ts#

[2022-10-22 22:34] samreid opened #1486 "Convert PDOMInstance to TypeScript"
While working on https://github.com/phetsims/scenery/issues/1445, @jessegreenberg and I saw an opportunity to Convert PDOMInstance to TypeScript on Friday and got this far.

<details>

[code]

</details>

I don't have experience porting something Poolable though, so there is a lot of trouble.

[2022-10-22 23:40] samreid commented on #1480
I also `StrictOmit`ted `tandem` from `Separator ` so it will catch accidental instrumentations.

[2022-10-22 23:41] samreid commented on #1480
Since Separators can no longer be hidden via phet-io, this issue does not seem blocking for the upcoming PhET-iO release, but should still be investigated with @jonathanolson and @marlitas as part of the dynamic layout project.

[2022-10-23 00:20] samreid commented on #1486
In this version, all precommit hooks (including lint, type checking, phet-io API compare), etc are passing:

<details>

[code]

</details>

To apply the patch, first locally rename and commit PDOMInstance.js => PDOMInstance.ts.

This patch has 7 ts-ignores and one TODO referencing this issue, so I think it is at a good point for @jessegreenberg to review and take the next steps.

[2022-10-23 21:55] jonathanolson commented on #1455
Looks good. In your note "Should this be an assertion?", it probably should be. Added one above. Closing.

[2022-10-23 21:55] #1455 closed

[2022-10-23 21:57] jonathanolson commented on #1476
Correct, The layoutOptions on the HBox/VBox would be passed to GridCell (for the parent GridBox). So a FlowBox can have layoutOptions for a Grid (if its parent is a GridBox), and vice versa.

[2022-10-24 18:58] jonathanolson commented on #1473
Sandbox is split off, I believe this issue is completed!

[2022-10-24 18:58] #1473 closed

[2022-10-24 19:55] jonathanolson commented on #1474
I'm running up against Chrome failing for trying to concurrently request too many resources (once I've upped the number of iframes):

<img width="429" alt="image" src="https://user-images.githubusercontent.com/480878/197615172-1713c584-b57d-4cb0-89a8-fb920b20b884.png">

Online, Firefox is suggested, or batching / lazy loading the iframes.

Alternatively, I think I'm going to take a stab at figurin

[2022-10-24 19:56] jonathanolson commented on #1474
Additionally, packaging all of those together would be presumably useful for developers outside of PhET.

[2022-10-25 01:00] jonathanolson commented on #1474
https://phetsims.github.io/phet-lib/doc/layout-exemplars.html is up and running!

[2022-10-25 01:04] marlitas commented on #1464
I got a spurt of energy and did a deep dive into this issue. I created a mermaid class diagram to start laying out the relationships between the layoutConstraints. It’s probably too much right now, but I wanted to pass in as many class members as felt reasonable this time around so we can scale down later to what feels necessary.

If mermaid isn’t rendering properly in intelliJ I recommend looking

[2022-10-25 01:20] jonathanolson commented on #1481
@marlitas I believe this is done. Anything else to do or review here?

[2022-10-25 01:32] marlitas commented on #1481
Did a quick scan of the scenery layout documentation and it looks really good. I'm very excited that we got this implemented. Closing as completed!

[2022-10-25 01:32] #1481 closed

[2022-10-25 02:22] pixelzoom commented on #1464
Self-assigning because @marlitas asked me to have a look, with an eye for suggestions or concerns.

[2022-10-25 14:57] pixelzoom commented on #1464
For the benefit of others who are not familiar with mermaid, and who might be reviewing this issue...

Mermaid is "a JavaScript based diagramming and charting tool that renders Markdown-inspired text definitions to create and modify diagrams dynamically". See https://mermaid-js.github.io/mermaid/#/.

Mermaid supports many diagram formats. @marlitas is using the mermaid [Class Diagram](https://merm

[2022-10-25 15:34] pixelzoom commented on #1464
Summary of discussion with @marlitas on Zoom:

Mermaid has no support for generating diagrams from code. layout-implementation-notes.md was created manually, and must be maintained manually.  And it's very unlikely that devs will remember to update the diagram (or know how to do so) when code changes are made. So we should minimize the amount and type of information in the diagrams, to prevent "di

[2022-10-25 16:30] jessegreenberg commented on #1445
- [ ] Consider how sticky keys might impact this work. That feature from the OS needs to work well with the listener.

[2022-10-25 22:09] pixelzoom opened #1487 "Very confusing/incorrect type documentation in ParallelDOM.ts"
This was super confusing while working on https://github.com/phetsims/scenery-phet/issues/780 ...

There is lots of incorrect type documentation in ParallelDOM.ts for `ACCESSIBILITY_OPTION_KEYS`.  It looks like EVERY option that is acutally of type `PDOMValueType` is now documented incorrectly in `ACCESSIBILITY_OPTION_KEYS`.

For example, here are some of the actual option definitions:

[code]

An

[2022-10-25 22:16] zepumph commented on #1487
Hows that?

[2022-10-25 22:21] pixelzoom commented on #1487
👍🏻 closing.

[2022-10-25 22:21] #1487 closed

[2022-10-26 00:01] samreid commented on #1464
I opened https://github.com/phetsims/phet-lib/issues/1#issue-1423240091 which says, in part:

[2022-10-26 00:51] samreid commented on #499
Looks like we should continue in https://github.com/phetsims/phet-lib/issues/1, closing.

[2022-10-26 00:51] #499 closed

[2022-10-26 01:53] jessegreenberg commented on #1445
The above commit gives each KeyGroup its own CallbackTimer to support listener that can have more than one key groups down at a time. It also replaces `mostRecentKeyFromList`. That unit test is now passing.

[2022-10-26 02:41] samreid commented on #1483
This is the contravariance/covariance problem. Subtype implementations specialize the return value with a subtype and generalize the parameter value with a supertype.

[code]

And for the contravariance case:

[code]

[2022-10-26 14:44] pixelzoom commented on #1464
This has gone way off in the weeds. What I asked for was a birds-eye view of the type hierarchy.

Here it is:

[code]

[2022-10-26 14:52] pixelzoom opened #1488 "Sizable/WidthSizable/HeightSizable are traits, not mixins"
The code documentation and naming (e.g. `SizableMixin`) currently identifies Sizable/WidthSizable/HeightSizable as mixins.  In Slack, @jonathanolson said:

[2022-10-26 14:59] pixelzoom commented on #1464
Also want to point out that the use of mixins and traits is very important to understanding this package. Will Webstorm or other diagram generators understand PhET's implementation of mixins and traits?  Probably not...

[2022-10-26 15:42] pixelzoom commented on #1464
I also want to mention... I appreciate that @marlitas had taken the lead on this, and hope she didn’t mind me proposing the diagram in https://github.com/phetsims/scenery/issues/1464#issuecomment-1292163062.  I think the mermaid work, and the discussions we've had, were valuable — this helped me clarify the needs for scenery layout.  But when things spun off into a larger scope (specifically https

[2022-10-26 18:04] jessegreenberg commented on #1056
From discussion today for alt-input sprint, we identified this issue as needing a re-visit. `pickable: false` is no longer the shut-off valve for input listeners. inputEnabled is now to be used for that. The changes here may need to be reverted.

[2022-10-26 19:19] zepumph commented on #1483
I spoke with @samreid and things are feeling better. I ended up committing https://github.com/phetsims/scenery/commit/a6c4c805c35b4e61ef32f9db8fb7a7f9e15946ae because it helped us find bugs where in fact the type was incorrect, and too general.

What it doesn't cover is something that I feel a bit more ok about since talking with @samreid:

[code]

`Event` is allowed here because Event is a supers

[2022-10-26 20:17] marlitas commented on #1488
Completed above. I renamed `mixesSizable` functions to `extendsSizable` since that seemed to be most accurate with readings I found on Javascript traits, but I'm not confident in that name change.

@pixelzoom sending your way for review.

[2022-10-26 21:20] pixelzoom commented on #1488
Looks great. I added some verbage to the comments at the top of the files, so I don't have to search around to find out that these are traits. For example:

[code]

Closing.

[2022-10-26 21:20] #1488 closed

[2022-10-26 21:23] #1485 closed

[2022-10-26 22:02] marlitas commented on #1476
It seems this CT error is related to this issue:

[code]

[2022-10-27 15:29] marlitas commented on #1476
CT error fixed, and after reviewing and asking some questions all the commits look good. Closing as completed.

[2022-10-27 15:29] #1476 closed

[2022-10-27 19:11] zepumph commented on #1458
PhET-iO team decided today that it is not currently blocking because it is in currently published sims.

The fix would likely require an MR to older sims too.

[2022-10-27 19:13] zepumph commented on #1480
Not blocking for PhET-iO releases, but should be taken care of. Thanks @jonathanolson! This is part of dynamic layout work.

[2022-10-27 19:27] jonathanolson commented on #1480
I've tried to reproduce various ways and can't.

Basically, don't pass a non-reentrant visibleProperty to separators.

@zepumph thoughts?

[2022-10-27 19:39] zepumph commented on #1480
1. apply this patch
2. ignore the type error
3. go to studio
4. search for phScale.microScreen.view.beakerControlPanel.separator.visibleProperty
5. toggle visibility in studio

[code]

[2022-10-28 00:33] pixelzoom opened #1489 "DragListener. createForwardingListener does not support PhET-iO instrumentation"
For https://github.com/phetsims/equality-explorer/issues/192 ...

For example, in equality-explorer TermCreatorNode.ts, I currently cannot instrument this DragListener:

[code]

The API for `DragListener.createForwardingListener` is:

[code]

[2022-10-28 17:27] jessegreenberg opened #1490 "Assertion failed: Attached listeners should be cleared before pointer disposal"
Many sims are failing with:

[code]

Ill start taking a look.

[2022-10-28 17:27] zepumph commented on #1442
Reopening. I'm not sure why I closed this issue. All we did was put a bandaid on this. I should have kept it open for when we decide to actually listen to the Properties.

ALSO. . .

When originally creating this issue, we thought the only good reason to fully support Properties in here was to support dynamic locales, but while working with @AgustinVallejo on https://github.com/phetsims/joist/issu

[2022-10-28 17:30] jessegreenberg commented on #1490
Was able to reproduce this after a lot of fuzzing in geometric-optics. The listener on the Pointer is GOToolDragListener. Unclear why it is still attached to the pointer when it is about to be disposed.

[2022-10-28 20:36] marlitas opened #1491 "Sandbox crashing when passing in two children to HBox"
In trying to create an exemplar for wrapping content I ran into a strange crashing bug. The following video shows the behavior. There are a couple of unexpected things happening in this video:
1. Panel is not sizing around the `legend` HBox as expected when it is passed directly through.
2. When trying to pass through `earth`, `water`, and `fire` HBoxes  as children to an HBox in the panel, the pa

[2022-10-28 21:05] marlitas commented on #1491
<details>

[code]
</details>

[2022-10-28 21:36] KatieWoe opened #1501 "Slow to change into some languages"
**Test device**
iPad 6th Gen
**Operating System**
iPadOS 16
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/844 and https://github.com/phetsims/qa/issues/845
Switching to different languages may take significantly longer than appropriate. The time an individual language takes to switch to seems relatively consistent, but different languages take different amoun

[2022-10-28 22:16] marlitas commented on #1491
This was a user error on my end. I was passing in a Node to a scene twice. The minified version of the phet-lib build did not provide an error for that which confused me. Closing.

[2022-10-28 22:16] #1491 closed

[2022-10-29 00:15] jessegreenberg commented on #1490
I am not able to get this to happen outside of fuzz testing yet but it is clearly showing up on CT.

I don't know why yet, but it does not seem to happen prior to e462b48f.

This only happens for the Touch pointer. I believe the problem happens from `branchChangeEvents`. Here is the flow I am seeing:
[code]
Another data point - I am only seeing this for sims in perennial/data/supports-interactive-

[2022-10-29 01:00] jonathanolson commented on #1490
Log from buggy case:

[code]

[2022-10-29 01:14] jonathanolson commented on #1490
Let's see if the above change helps out on CT.

[2022-10-30 16:04] jessegreenberg commented on #1490
Great, I am no longer seeing this on CT! Thank you. @jonathanolson mentioned some cleanup he would like to do so leaving open, but removing my assignment.

[2022-10-31 03:09] samreid commented on #1483
Nothing for me, thanks!  Closing.

[2022-10-31 03:09] #1483 closed

[2022-10-31 20:45] marlitas opened #1492 "Rename use of `other` in functions and documentation"
For https://github.com/phetsims/sun/issues/792, there was a review comment about other being used as a parameter in functions as less than ideal for legibility and understanding.

Ex:
[code]

Change to:
[code]

We would like to change use cases throughout the codebase.

[2022-11-02 19:13] zepumph commented on #1489
I guess this falls into the category of "most input listeners" in which we don't support instrumentation directly, but if you have an instrumented Node.inputEnabledProperty for the TermCreatorNode then you could turn this listener off. Is it clear that we need support for instrumentation for this specific listener?

[2022-11-02 19:19] pixelzoom commented on #1489
I'm not following the argument in https://github.com/phetsims/scenery/issues/1489#issuecomment-1301098570.  DragListener has support for optional instrumentation, and we decided which DragListeners to instrument. This method creates a DragListener. Why shouldn't it also have support for optional instrumentation?

[2022-11-02 21:16] zepumph commented on #1489
Not sure what you mean, it creates a vanilla listener with no prototype.

https://github.com/phetsims/scenery/blob/ae8406a04b3edb98388593b2bfaf848af439c639/js/listeners/DragListener.ts#L843-L855

[2022-11-03 14:28] pixelzoom commented on #1489
Ah, right you are.  I guess we'll deal with this when someone asks for it.  Closing.

[2022-11-03 16:19] zepumph commented on #1446
Just a ping here. Then I can proceed with https://github.com/phetsims/axon/issues/391.

[2022-11-03 18:38] Nancy-Salpepi opened #1503 "Graphics artifacts in Safari 16"
**Recent Sim Tests with Artifacts**
Energy Skate Park - Dec 7, 2022
Atomic Interactions - Dec 7, 2022
Mean: Share and Balance - Dec 12, 2022
Normal Modes (close bottom panel) - Dec 12, 2022
John Travoltage (in preferences dialog when e- are on body) - Dec 12, 2022
Least Squares Regression (in panel with custom)- Dec 12, 2022
Masses and Springs (in panel, in springs) - Dec 12, 2022
Geometric Optics

[2022-11-03 22:17] zepumph commented on #1325
I don't believe there is anything special to do here. Here is my exploration:

1. Now ReadingBlock uses properties of its responsePacket, which in turn uses getResponseText which will resolve the function into a ResolvedResponse for us: https://github.com/phetsims/utterance-queue/blob/004923279d5abaef7cca1068e9773897f7c9c0ea/js/ResponsePacket.ts#L165-L170.
2. We don't need the complicated logic we

[2022-11-03 22:17] #1325 closed

[2022-11-04 01:38] pixelzoom commented on #1472
In Slack#dev-public, @marlitas said:

...

xray-diffraction is failing CT.  Might it be one of those temporary assertion?

[code]

[2022-11-07 22:56] marlitas opened #1493 "AlignGroup should set localMinimumWidth based on AlignBox"
AlignGroup is currently not optimizing sizability, and should set it's localMinimumWidth/Height based on the max localMinimum of it's AlignBoxes.

There may be other improvements here as well.

- Should a sizable AlignGroup only accept sizable AlignBoxes?

[2022-11-08 16:27] jonathanolson commented on #1493
Also at its core: should AlignGroup-controlled AlignBoxes set the preferred size of the content?

[2022-11-09 23:13] zepumph opened #1494 "Improve Disposal patterns in the project"
While talking to @jonathanolson about an incredible amount of new disposal code needed over in https://github.com/phetsims/scenery-phet/issues/769#event-7777793205 because of dynamic StringProperties, we brainstormed some ways to improve this pattern to limit friction. I'll try some stuff out and see how it goes, and then report back.

Our current idea is a `disposer` option to Node/PhetioObject w

[2022-11-10 01:01] jessegreenberg opened #1495 "Interactive Highlights should lock with touchSnag"
From https://github.com/phetsims/mean-share-and-balance/issues/125.

Interactive Highlights don't work well for cases of touchSnag. I tried a solution in that issue but it didn't work (ended up reverting). So this issue is to fix it in a better way.

Example of the problem from @Nancy-Salpepi. The higlight should lock to the interactive component once the drag listener gets attached to the Pointer

[2022-11-10 05:22] pixelzoom opened #1496 "getImageData warning message in Chrome console on sim startup"
Sims that call `canvas.context.getImageData` have recently begun displaying this warning message in Chrome console:

[code]

I don't know exactly when this started. But I'm observing it with Chrome 107.0.5304.110, on macOS 12.6.  Sims that display this warning include wave-interference and natural-selection (not a complete list.)

Assigning to @jonathanolson to investigate, @kathy-phet to prioriti

[2022-11-10 20:10] jessegreenberg opened #1497 "Accessibility events are getting batched"
I think this is causing https://github.com/phetsims/geometric-optics-basics/issues/33. In that issue a component has lost focus at a time we didn't think possible. I believe it is happening because accessibility events are getting batched. This change happened recently when we moved accessibility events into

Stack trace where a problem was found:
<details>

![image](https://user-images.githubuser

[2022-11-10 20:32] pixelzoom commented on #1497
@jessegreenberg said:

Can you please complete that sentence, to help me understand?

[2022-11-10 20:42] jessegreenberg commented on #1497
@pixelzoom sure, we used to listen for accessibility events in Input.ts. Listeners for these events were added to the window and callbacks were fired synchronously. During the sprint a few weeks ago, we moved those listeners into BrowserEvents.js so that they  are more integrated with scenery's input system for mouse/touch events.

Mouse/touch events have a "batching" strategy, I think mostly for

[2022-11-10 20:56] jessegreenberg commented on #1497
I hit this again for a group of batched events that look like:
![image](https://user-images.githubusercontent.com/6396244/201202188-69a98fb1-23d6-46b1-9acb-846774644028.png)

First event is a `focusout`, target ResetAllButton.
Second event is a `focusin`, target is  UL with four LI elements. This must be the ComboBox in the second screen of geometric-optics-basics.
Third event is a `keydown`, targ

[2022-11-10 20:58] zepumph commented on #1446
I discussed with @jonathanolson and we like the above commit. @pixelzoom you can now set a DerivedProperty onto Text.stringProperty. Feel free to close!

[2022-11-10 22:58] zepumph commented on #1494
@jonathanolson can you take an initial review please. I created a base type rather than packing this into PhetioObject. Disposable lives in AXON. I created unit tests, hard coded a Node mutator key (should it be in ParallelDOM?), and went through usages of disposeEmitters (even local variables) and converted them to use Disposable properites instead to test things out. Many cases still add listene

[2022-11-10 23:11] zepumph commented on #1494
Here is a specific question to help define the pattern:
- [ ] Please take a look at GrabReleaseKeyboardHelpSection and describe how we should implement the new pattern. All items needing disposal are dependency injected into the supertype, and so I cannot say `dispose: this` like I want to. Here is patch that demonstrates what I wish I could do for disposal.
[code]

[2022-11-11 00:00] jonathanolson commented on #1497
I assisted @jessegreenberg on this. It looks like there were a few potential issues:

1. KeyboardFuzzer could have potentially been using stale elements that were focused previously. It's now always getting the fresh activeElement before firing any fuzz events.
2. InputFuzzer was setting a flag to lock out reentrant input events (added recently to fix things), however it was incorrectly leaving th

[2022-11-11 01:20] jessegreenberg commented on #1497
Many thanks to @jonathanolson for figuring this out! I have been fuzzing the ComboBox demo in sun for an hour with the above commit and am no longer seeing the problem. https://github.com/phetsims/scenery/commit/f88a677207ed72d4dfbfd95f68e1a17652b49db3 has not been run through CT yet, I will close this issue when CT confirms the changes to the input fuzzers is OK.

[2022-11-11 14:30] zepumph commented on #1497
That is excellent! It seems like this is all fuzzing-related issues, so I'm going to remove the blocking label, please re-add if you don't agree.

[2022-11-11 16:53] jessegreenberg commented on #1497
Yep, makes sense! And CT is running well, I am not seeing this in the recent ten columns of CT. Closing.

[2022-11-11 16:53] #1497 closed

[2022-11-11 18:53] jessegreenberg opened #1498 "Get rid of `as unknown as Node` in traits"
In https://github.com/phetsims/joist/issues/881 @samreid showed a way to get rid of the `as unknown  as Node`  for traits.

The way to make the type cast unecessary is to declare Node as the type for the constructor with
[code]

We should use that for other traits too!

I see `this as unknown as Node` in
- [ ] ~~ParallelDOM~~ - this isn't a trait anymore, but the type casts are still necessary bec

[2022-11-11 21:02] jessegreenberg commented on #1498
@jonathanolson are you OK with this? I wanted to run it by you because it touched Paintable, Sizable, WidthSizable, HeightSizable, DelayedMutate.

[2022-11-11 21:35] pixelzoom commented on #1446
👍🏻 closing

[2022-11-11 21:35] #1446 closed

[2022-11-14 16:37] marlitas opened #1499 "Slider Track visible in screenshot, while not visible in sim"
During Mean: Share and Balance RC.2 spot check a screenshot issue https://github.com/phetsims/mean-share-and-balance/issues/126 came up. The slider track was visible in screenshots, but not visible in the sim. We discovered this happened because the following code was removed from VSlider options:

[code]

Without these options the slider track is not visible in the sim, but is visible with a scre

[2022-11-17 17:04] jessegreenberg opened #1500 "TypeScript support for Poolable.createFromPool"
All usages of this function have a TODO

[code]

Just noting in an issue that this could be something to support. Poolable as a mixin probably makes this difficult.

[2022-11-17 17:04] #1486 closed

[2022-11-17 17:08] jessegreenberg commented on #1486
Also mentioning, I ran through scenery unit tests, precommit hooks and local aqua before pushing.

[2022-11-18 00:46] jessegreenberg commented on #1445
There are a few usages of `globalKeyStateTracker.keyupEmitter` that are not in view components like `voicingManager`, `localeProperty`, `phetioDevSaveLoad`. If we re-implement those with KeyboardListener, where should they be added, to the static `Display.addInputListener`?

[2022-11-18 16:07] pixelzoom opened #1502 "Graphics artifacts in Safari 16"
Originally reported in https://github.com/phetsims/geometric-optics-basics/issues/31.

@jonathanolson added a Safari-only overlay as a workaround, see https://github.com/phetsims/scenery/commit/8ebb1eb3aae93a70a746f841818228f943581bb7.  This workaround was used to move forward with RC testing of Geometric Optics: Basics.

@jonathanolson indicated that he opened bug reports with WebKit, see https:/

[2022-11-18 16:13] pixelzoom commented on #1502
We decided to transfer https://github.com/phetsims/geometric-optics-basics/issues/31 to scenery, so closing this issue.

[2022-11-18 16:13] #1502 closed

[2022-11-18 16:15] pixelzoom commented on #1503
Instead of creating new issue https://github.com/phetsims/scenery/issues/1502, we decided to transfer the original issue from geometric-optics-basics to scenery.   I'll create a new issue for RC verification in geometric-optics-basics.

[2022-11-18 16:22] marlitas opened #1504 "Gridbox should be able to expand cells and align"
From Dev Meeting 11/17/22

[2022-11-22 15:39] pixelzoom commented on #1503
As discovered by QA in https://github.com/phetsims/geometric-optics-basics/issues/34#issuecomment-1323679485, the workaround is not working in all cases. I'm adjusted the issue labels accordingly.

[2022-11-22 18:47] zepumph commented on #1494
A ping here would be great, @jbphet @samreid and I ran into this new code today and would like to start using it elsewhere.

[2022-11-22 19:19] zepumph commented on #1494
A couple of thoughts about disposal improvements, and potential things to discuss at a dev meeting around disposal:

**Give Disposable tour**

**Disposal questions:**
How in control should a Node be of disposing its children?
How explicit should should disposal be?
Is it bad to dispose many Nodes that don't need it?
Do we dispose Layout boxes?

**Improvements in Node to assist in disposing with de

[2022-11-24 02:03] zepumph opened #1505 "Exiting fullscreen breaks dragging on Safari"
Originally reported in https://github.com/phetsims/ratio-and-proportion/issues/523. But @chrisklus and I have seen this in Ratio and Proportion and Number Play. I believe it is a general issue with scenery drag.

To reproduce:
* On safari
* Enter full screen
* Drag one of the hands in Ratio and Proportion
* While dragging with your mouse down, press escape, this stops the drag on safari, but not o

[2022-11-25 19:50] zepumph commented on #1442
https://github.com/phetsims/joist/issues/885 is currently blocked by this. @jonathanolson can we potentially have a quick meeting for consultation on the best pattern in ParallelDOM here?

[2022-11-25 23:37] zepumph commented on #1494
After a memory leak that I just found in Disposable (above), I'm going to mark this as blocking publication until we can work out more of the kinks here.

[2022-11-25 23:47] zepumph commented on #1494
- [ ] I don't think that the disposer option setter is working with mixins/DelayedMutate. Apply this patch and notice that it fails:

<details>

[code]

[2022-11-28 16:34] KatieWoe opened #1506 "CT This Disposable has already been disposed, and cannot be disposed again"
[code]

[2022-11-28 19:12] Nancy-Salpepi opened #1507 "Nav bar disappears when zoomed in (Chrome)"
**Test device**
MacBook Air m1 chip

**Operating System**
13.0.1

**Browser**
Chrome 107.0.5304.121

**Problem description**
For https://github.com/phetsims/qa/issues/858, when zoomed in, if I exit a dialog using either the Esc or Return key, the nav bar is missing. Once I move the mouse or press Tab, it reappears.

I see this issue with published GO as well. I wasn't able to reproduce this with S

[2022-11-28 19:29] zepumph commented on #1506
This is me from work over in https://github.com/phetsims/scenery-phet/issues/769

[2022-11-29 17:41] samreid commented on #1494
@marlitas and I were wondering if we can use the same pattern for reset, like so?

<details>

[code]

</details>

Are there other problems we would want to solve with this new pattern? How can you mix and match things, like if we wanted Person to be Disposable and Resettable (please don't say mixins).

[2022-11-29 17:57] pixelzoom commented on #1503
@kathy-phet said in https://github.com/phetsims/geometric-optics-basics/issues/34#issuecomment-1323923592:

[2022-11-29 22:01] zepumph commented on #1442
@jonathanolson and I were able to make good progress here! Thank you so much for helping outfit TinyForwardingProperty with the logic needed to support this in ParallelDOM. With the above commit, we successfully got innerContent working and supported, and from here we can work on the above list, as well as potentially then working on more atypical value Properties like as values to pdom attributes

[2022-11-29 22:05] zepumph commented on #1442
Oh no! I forgot about disposal. Let's make sure we don't have a memory leak here.

[2022-11-30 19:21] zepumph commented on #1506
So this fixes things, but I believe it is just a symptom of another problem: How do we generally handle the case where you set a disposer on X and then call X.dispose manually? Is that a bug and we should assert that the disposer didn't trigger the disposal? Should we be graceful?

Above I implemented grace in AlignBox.

[2022-11-30 19:49] zepumph commented on #1506
Ahha! Writing the above helped me realize that I believe we should in fact be very very strict. If you mark a disposer, and then that is not how you are disposed, then let's assert. I wonder how far we can get with that. I believe it will help cover cases like this where scenery unit tests removed a box and then disposed it, instead of having the group dispose it.

[2022-11-30 19:55] zepumph commented on #1494
More to discuss with @jonathanolson during initial review on Friday:

- [ ] (from https://github.com/phetsims/scenery/issues/1506) should we assert that when X is disposed, that it was called from its disposer? Or decide to be graceful about that and make sure that we actually support that grace.
- [ ] Can we simplify things by moving the call to `clearDisposer` to the `dispose` function instead o

[2022-11-30 21:06] zepumph commented on #1506
Looking good now.

![image](https://user-images.githubusercontent.com/6856943/204907981-3cb14fdd-db2c-4500-b161-a15abeb4aff7.png)