[2020-10-28 16:45] zepumph commented on #1103
@samreid and I thought that it was strange that onAccessAttempt would be called for `get`, but not during `link` or `notifyListeners`. This would be a logic change that currently only applies to Node bounds Properties. @jonathanolson does this patch seem more correct to you?

[code]

[2020-10-28 16:45] zepumph commented on #1104
Moved above. @jonathanolson will you please review and also note https://github.com/phetsims/scenery/issues/1103.

[2020-10-28 18:33] samreid commented on #1097
Working copy changes:

<details>

[code]

[2020-10-28 20:29] zepumph commented on #1097
@samreid and I were able to make a lot of progress on this today. Most everything is now factored out into TinyForwardingProperty. We also did a fair bit of work cleaning up TinyForwardingProperty and its hierarchy, like creating https://github.com/phetsims/scenery/issues/1104 and https://github.com/phetsims/scenery/issues/1103.

@samreid will you please review the above commits.

[2020-10-28 20:29] zepumph commented on #1097
I'm seeing bugs coming in about that above commits:

[code]

[2020-10-28 22:13] zepumph commented on #1097
I have done all I can here, see https://github.com/phetsims/energy-forms-and-changes/issues/399 for the discussion about the above assertion.

[2020-10-28 23:54] jonathanolson commented on #158
Should be included as part of https://github.com/phetsims/scenery/issues/707.

[2020-10-28 23:54] #158 closed

[2020-10-30 18:29] samreid commented on #1097
I tried a few strategies to make the lazily-assigned fields easier to understand at a glance, and settled on the commit.

[2020-10-30 18:34] samreid commented on #1097
I reviewed the commits and didn't have any other recommendations.  @zepumph can this issue be closed?

[2020-10-30 18:39] zepumph commented on #1097
I'm heading over to https://github.com/phetsims/scenery/issues/1100 now. Closing

[2020-10-30 18:39] #1097 closed

[2020-10-30 19:14] samreid commented on #1100
Should we mark this as blocks-publication?  Would you like to take the lead?

[2020-10-30 19:14] zepumph commented on #1100
I have commits locally, it shouldn't be long before a push comes.

[2020-10-30 21:10] zepumph commented on #1100
I took a dev version of GAO before starting this work, and after adding enabledProperty to Node and changing all usages of EnabledNode to instead opt into to a default PhET-iO instrumented one using `enabledPropertyPhetioInstrumented:true`.

Here is the loose conversion from mixin functionality to Node functionality (at least as the outward facing API is concerned).

All Nodes now have the built i

[2020-10-30 21:10] zepumph commented on #1100
Thanks @samreid for an extensive co-review with me before committing all the above.

[2020-10-30 21:20] zepumph commented on #1100
Right after committing, I realized that we need to cover cases where Nodes are creating and supporting their own enabledProperty. Until the above commit, they would have had overwriting enabledProperties. Luckily there were only two usages. I was able to simplify things greatly by overriding `onEnabledPropertyChange`, which is responsible for the enabledProperty logic.

[2020-10-30 21:25] zepumph commented on #1099
Sorry. This is totally wrong. We don't have that key in Node, so though it is an option to TinyForwardingProperty, it isn't supported for visibility through Node.

[2020-10-30 21:29] zepumph commented on #1100
I also deleted PhetioObjectTests.

[2020-10-30 21:56] zepumph opened #1105 "Should Node.enabledProperty respect pickable:null?"
Over while reviewing changes in https://github.com/phetsims/scenery/issues/1100#issuecomment-719801188, @samreid and I were curious if it is buggy that enabled can change the pickability from `null` to `true` silently and not explicitely. Here is the case we came up with in that comment:

[code]

@jonathanolson, can you speak to this at all. Do you foresee any problems coming from toggling into `t

[2020-10-30 21:58] zepumph opened #1106 "aria-disabled:false isn't on all Nodes"
There was a regression from work in https://github.com/phetsims/scenery/issues/1100#issuecomment-719801188 (when enabledProperty was moved from a mixin to Node proper), where all Nodes that used the mixin had `aria-disabled=false` on their PDOM element to begin with, but now they don't.

From that issue, I said:

I would assume that it is totally fine to have that be a lazy link, but I think a dou

[2020-10-30 21:59] zepumph commented on #1082
- [ ] @samreid, over in https://github.com/phetsims/scenery/issues/1106 I factored out a way to test an added Property to Node. It looks like https://github.com/phetsims/scenery/blob/daa35295758a8862182decd83f57d18075eddb61/js/nodes/NodeTests.js#L266, feel free to change/refactor further to get it to work in Text if you'd like.

[2020-10-30 22:01] zepumph commented on #1100
I think this should continue to block publication until @samreid has a chance to look over the discussion and commits since https://github.com/phetsims/scenery/issues/1100#issuecomment-719801188, as well as a general review of this topic. Is there anything else here?

Also you have an issue to create above.

[2020-10-30 22:02] zepumph commented on #1100
Wait sorry, a few more commits coming in.

[2020-10-30 22:09] zepumph commented on #1100
Alright. I used EnabledProperty in EnabledComponent too. I'm now ready for review.

[2020-10-30 22:20] zepumph opened #1107 "How to handle usages of `instanceof Property`"
Node now runs on Property, but that is a bit of a misnomer, actually it runs on `TinyProperty`. More and more, we have added TinyProperties to Node, and we are beginning to get errors like https://github.com/phetsims/sun/issues/662. The general issue here stems from the fact that there are 101 usages of `instanceof Property` in the project. Perhaps we should swap them out with a validator that sup

[2020-10-30 22:21] zepumph commented on #1100
I looked at CT and created https://github.com/phetsims/sun/issues/662 and https://github.com/phetsims/scenery/issues/1107.

[2020-10-30 23:07] samreid opened #1108 "Should scenery/Node opacity clamp or assert?"
From discussion with @zepumph in https://github.com/phetsims/scenery/issues/1100.

Currently scenery clamps opacity between 0 and 1. But we discussed that client code trying to set an opacity of, say, 5.0 is probably doing something buggy.  How much code do we have that relies on this clamping?  Should we change it to an assertion?

[2020-10-30 23:28] samreid opened #1109 "Should nested disabled components opacity be cumulative?"
From #1100, @zepumph and I discussed how to render nested disabled components.  Currently, the implementation in master (before and after #1100) is for disabling opacity to be cumulative.  For instance, a disabled button has opacity 0.45.  But a disabled button in a disabled panel would have opacity 0.45*0.45 = 0.2025.  It is not clear which is the preferable design.  Should disabled be binary (en

[2020-10-30 23:46] samreid commented on #1108
I completed a full run of phet-brand aqua locally (fuzzing), and saw no problems related to this.  (Only one problem came up and it was about AlignBox for Build a Molecule).  It seems most in-line with PhET's philosophy and pre-existing conventions that this should be an assertion rather than a clamp, so I'll proceed with that.  I'll reassign to @jonathanolson to review, in case there are other co

[2020-10-31 15:47] samreid commented on #1100
In https://github.com/phetsims/scenery/issues/1100#issuecomment-713899809 @pixelzoom recommended the phetioDocumentation:

The current documentation is

@zepumph and I discussed this yesterday, trying to be specific but not too specific.  Still, perhaps it would be clearest to go with the proposal from https://github.com/phetsims/scenery/issues/1100#issuecomment-713899809.  I'll commit that shortl

[2020-10-31 16:24] samreid commented on #1092
That seems reasonable to me, I don't see any required changes for Dialog.  I made one more update in CCKRoundPushButton.  I think this issue is ready to be closed, but want to double check with @zepumph to be sure.

[2020-11-02 16:16] KatieWoe opened #1110 "CT Node.enabledProperty failed should be disposed"
[code]

[2020-11-02 16:19] samreid commented on #1110
This was likely introduced in https://github.com/phetsims/scenery/issues/1100

[2020-11-02 22:14] zepumph commented on #1100
This caused me to search for other declarations of setEnabled, and I created https://github.com/phetsims/balancing-chemical-equations/issues/145.

[2020-11-02 22:21] zepumph commented on #1109
For the record. My vote was that it should be cumulative, because it felt like a property inherent to individual Nodes. If you had a Node with an opacity of .2, where ever it showed up, in whatever context, you would want it to have a local opacity of `.2`. To me it is the same the algorithm for transform. When you say that you want the center of a Node to be `x:10,y:10`, it is not saying that you

[2020-11-02 22:24] samreid commented on #1109
That is a great example, thanks!

[2020-11-02 22:27] zepumph commented on #1110
Good find thanks! The bug only appears when assertions aren't enabled. I'll take a look.

[2020-11-02 22:29] zepumph commented on #1110
That should do it, passing locally.

[2020-11-02 22:29] #1110 closed

[2020-11-02 22:29] zepumph commented on #1100
I went through review comments, and looked at all issues linked above. Things are looking really good here! I think we are ready to close this.

[2020-11-03 20:46] KatieWoe commented on #868
During https://github.com/phetsims/QA/issues/565 I saw some kerning oddities on Lovelace, the ChromeOS device.
![Screenshot 2020-11-03 at 12 46 24 PM](https://user-images.githubusercontent.com/41024075/98038790-f0811700-1dda-11eb-97e8-d4c1de6bf186.png)

[2020-11-03 21:33] jessegreenberg commented on #1106
I agree, this seems like it should be fine. I had a listen to ratio-and-proportion which has a checkbox that is initially enabled, then gets set to disabled later based on sim state. It sounded good initially, sounded as I expect after it became disabled, and sounded OK when it became enabled again.

Seems OK to me!

[2020-11-03 21:33] #1106 closed

[2020-11-04 21:05] KatieWoe opened #1111 "CT scenery.HTMLText is not a constructor"
[code]

[2020-11-04 21:36] jonathanolson commented on #1111
Should be fixed with the above commit, sorry!

[2020-11-04 21:36] #1111 closed

[2020-11-04 22:20] zepumph opened #1112 "How to handle enabled in Node"
Over in #1100, enabledProperty was moved to Node. Currently, default logic is hard coded in `Node.onEnabledPropertyChange` to do one thing, but it isn't flexible:

[code]

The only way to change this behavior currently is to override this method.

In a discussion today with @jonathanolson, multiple problems were pointed out with this pattern.

1. `this.pickable = enabled;` is not the way we want t

[2020-11-04 22:21] zepumph opened #1113 "How to handle enabled in Node"
Over in #1100, enabledProperty was moved to Node. Currently, default logic is hard coded in `Node.onEnabledPropertyChange` to do one thing, but it isn't flexible:

[code]

The only way to change this behavior currently is to override this method.

In a discussion today with @jonathanolson, multiple problems were pointed out with this pattern.

1. `this.pickable = enabled;` is not the way we want t

[2020-11-04 22:26] zepumph commented on #1113
Oops, duplicate of https://github.com/phetsims/scenery/issues/1112.

[2020-11-04 22:26] #1113 closed

[2020-11-04 22:27] #1092 closed

[2020-11-05 13:44] samreid commented on #1112
Additionally, we decided sims should not be published until buttons have "disabled/grayscale".  I'm not sure if that is tracked elsewhere, but I'll mark this as blocks-publication for now.

[2020-11-05 17:05] jonathanolson commented on #1105
I generally believe enabledProperty should not change the pickability, AND we wouldn't want to replace things with pickable:true generally.

[2020-11-05 17:07] zepumph commented on #1112
Perhaps you are thinking of https://github.com/phetsims/sun/issues/658?

[2020-11-06 00:02] jonathanolson commented on #707
Current status:

- CSS-style filters that only affect color should generally be at an acceptable level, and I'll be maintaining those for production
- CSS-style filters that include blur (`DropShadow`/`GaussianBlur`) I've marked as experimental, and will need additional work. The SVG filter regions (which would potentially need to be adjusted on the fly) and the transform complications will need t

[2020-11-06 03:52] zepumph commented on #1112
During developer meeting we all agreed that having default enabled behavior in Node was problematic. Today I hoped to make improvements to Node, by removing the default and moving a to centralized sun component listener for most of the cases that were covered by EnabledNode prior to #1100.

@jonathanolson, I don't think we are done yet, but I feel like this was the most important blocking work to

[2020-11-06 15:27] jonathanolson commented on #1112
Looks like it's on the right path, but I will want to discuss how we can override this behavior on a subtype or specific component instance level.

[2020-11-06 16:59] jonathanolson commented on #1102
Merged to master and deleted, closing.

[2020-11-06 18:11] samreid opened #1114 "General-looking rendering problems observed while testing CCK DC "Lab Screen""
During yesterday's design meeting, we noticed several rendering issues, where things were missing. Slider tracks, number readouts, etc.  @arouinfar and I both saw this on our Mac Chromes:

![image](https://user-images.githubusercontent.com/679486/98400075-ab4e2680-2020-11eb-948c-e3ea91a04c24.png)

![image](https://user-images.githubusercontent.com/679486/98400089-aee1ad80-2020-11eb-97b4-a7e6b9af8a

[2020-11-06 22:47] zepumph commented on #1112
In https://github.com/phetsims/sun/commit/7d5cc3ed40062189bb76e9fb10478d26cd805934, I converted ButtonNode to an overridable enabled strategy. I'll do the rest of them now.

[2020-11-06 23:11] zepumph commented on #1112
Above, we now have an option allowing overriding of any enabled appearance strategy.

@jonathanolson, I feel like all is done here, or separated out in to other issues. Will you please review this (and note the work also done over in https://github.com/phetsims/sun/issues/658. Anything else here?

[2020-11-09 18:49] samreid commented on #1114
A current meter dragged out and had no probe:

![image](https://user-images.githubusercontent.com/679486/98583470-ac31c300-2281-11eb-885a-074d53c6330a.png)

[2020-11-10 17:09] jonathanolson commented on #1114
Confirmed that this is a bug related to the recent filter work.

[2020-11-10 17:41] jonathanolson commented on #1114
@samreid can you see if the above commit fixes things for you? There were some cases where a pooled SVGGroup would still have a reference to a filter, but the filter element wouldn't exist (and so it disappeared).

[2020-11-10 23:25] samreid commented on #1114
I tested for several minutes and didn't see any missing nodes.  Thanks!  Closing.

[2020-11-10 23:25] #1114 closed

[2020-11-11 18:39] pixelzoom opened #1115 "instrumented color Property can only support values of type Color"
This:

[code]

... requires the value to be a `Color`, and makes it impossible to use other valid color values (a CSS color `{string}` or `null`) with an instrumented color Property.

E.g. this:

[code]

fails with this:

[code]

This seems like an undesirable restriction on instrumented color Properties.  I can workaround it by replacing strings with Color instances, but not sure what I'll do if

[2020-11-11 20:12] zepumph commented on #1115
This seems intimately related to https://github.com/phetsims/scenery/issues/948#issuecomment-570063989. I don't this it is ColorIO's responsibility to serialize ColorDefIO. We should instead just create a ColorDefIO to manage that when that is what your Property's value should be.

these are `ColorDef` values, not `Color` values. `ColorIO` is the IOType for `Color.js`.

I'm happy to discuss creati

[2020-11-11 20:15] pixelzoom commented on #1115
I didn't say they were Color values, I said they were color values.  Case is significant in written communication.

[2020-11-11 20:32] pixelzoom commented on #1115
ColorDefIO is not appropriate.  ColorDef is `{null|string|Color|Property.<null|string|Color>}`.   Since my Property shouldn't take another Property as a value, I don't want `{Property.<ColorDef>}`, I want `{Property.<null|string|Color>}`.

What is the current recommended method of instrumenting a `{Property.<null|string|Color>}` ?

[2020-11-11 21:09] ariel-phet commented on #552
I currently do not see a scenario in which this work will be prioritized. Some is happening as part of ES6 conversions, and I thik that is the best we can hope for currently. Closing

[2020-11-11 21:09] #552 closed

[2020-11-11 21:44] zepumph commented on #1112
I don't think this needs to be labelled for meeting anymore.

[2020-11-12 00:04] zepumph commented on #1105
This is going to be covered by https://github.com/phetsims/sun/issues/666

[2020-11-12 00:06] #1105 closed

[2020-11-12 00:16] zepumph commented on #1041
This patch adds an enabledProperty to PressListener (the root of the new/maintained listener types), and will not press (i.e. fire/start-drag for subtypes) when disabled. This worked to disable dragging on `gravityAndOrbits.modelScreen.view.playAreaNode.starPlanetMoonSceneView.starNode.dragListener.enabledProperty`, as well as for a PressListener on a sun button.

I don't know if we want to go dow

[2020-11-12 02:26] pixelzoom commented on #1041
I'm wondering if listeners is the correct (or only) place to disable interactivity.

A Node may have more than 1 input listener.  If a client wants to disable interactivity for a Node, they may need to located multiple input listeners (all of which may not necessarily be featured) and set their enabledProperty to `false`.  Strange things may happen if they don't disable all of the input listeners.

[2020-11-12 04:36] samreid commented on #1115
If `{Property.<null|string|Color>}` is necessary, then we would support it with a custom IO type.  Or we could create an `Or` type, then create `Property<Nullable<Or(stringIO,ColorIO)>>`. But it would probably be much easier if we could constrain the use case to be `Property<null|Color>`.

One example was given as:

[code]

Could we use this instead?

[code]

[2020-11-12 14:54] pixelzoom commented on #1115
If CSS color strings are a valid color value, then I should be able to use them with a Property.  But I'd like to hear @jonathanolson's opinion.

[2020-11-12 16:34] jonathanolson commented on #1112
Looks great here, thanks!

[2020-11-12 16:34] #1112 closed

[2020-11-12 17:04] jonathanolson commented on #1115
`Color.TRANSPARENT`

ColorDefIO would presumably be able to serialize the subset of `{Property.<null|string|Color>}`. It wouldn't be `{Property.<ColorDef>}`, but instead just a `{ColorDef}`.

It seems like here, we should ideally have a way of handling ColorDef nicely (which would probably handle this case), but if we want to do something atypical/custom, then a custom IO type seems appropriate.

[2020-11-12 17:47] jonathanolson commented on #1041
There are many trade-offs here, so it would be good to have a better understanding of what the general needs are.

[2020-11-12 18:20] jonathanolson commented on #1109
Yes, it is cumulative. I agree with @zepumph.

[2020-11-12 19:27] zepumph commented on #1041
Possible options:

1. instrument pickableProperty. @jonathanolson feels like this is not really the ideal way of handling this, see (4).
2. create sim-specific Property that adds and remove the necessary input listeners to achieve the goals of the specific case.
3. Add enabledProperty to listeners. This is not a good solution because you may have to do one for the drag listener, and another for th

[2020-11-12 19:29] zepumph opened #1116 "Add PhET-iO support for Node.inputEnabledProperty"
From https://github.com/phetsims/scenery/issues/1041, many devs feel like it would be nice to create an `interactiveProperty` that toggles whether or not input listeners fire on a Node. Up until this point, we have been using pickable to achieve this, but @jonathanolson feels that this is not really the point of pickable, as pickable:false will just let the pointer pass through the Node.

Marking

[2020-11-13 01:19] zepumph commented on #1099
@samreid do you have any thoughts  about this issue now that we have sat for two weeks. I'm fine closing this if you are.

[2020-11-13 01:29] samreid commented on #1099
I don't think we have a need for it.  If we change our mind later, it won't be too complicated thanks to our refactoring in TinyProperty.  Closing.

[2020-11-13 01:29] #1099 closed

[2020-11-13 02:32] pixelzoom commented on #1115
@jonathanolson here's a valid {Property.<ColorDef>}:

[code]

Do things like Node.fill support this?  If not, then `phetioType: PropertyIO(ColorDefIO)` doesn't seem like what we want.

[2020-11-13 02:34] jonathanolson commented on #1115
I was recommending `phetioType: ColorDefIO`, unless you need to restrict it to JUST be a Property. Otherwise presumably we'd need something more custom? Or presumably we have a way to do union types?

[2020-11-13 02:35] samreid commented on #1115
PhET-iO does not support union types at the moment.

[2020-11-13 02:42] pixelzoom commented on #1115
I feel like we're going in circles here.  Going back to the beginning... I have an instrumented Property whose value is restricted to `{null|string|Color}`, not `{ColorDef}`.  How do I do that?

[2020-11-13 02:43] pixelzoom commented on #1115
And yes, I know that I could restrict this to `{Property.<Color>}` and use `phetioType: ColorIO`.  But I'm looking for a solution, not a workaround.

[2020-11-13 02:46] samreid commented on #1115
I tried to answer that in https://github.com/phetsims/scenery/issues/1115#issuecomment-725830985.  Should we try one of those options?

[2020-11-13 02:56] pixelzoom commented on #1115
So would it be `phetioType: PropertyIO( NullableIO( Or( StringIO, ColorIO ) ) )` ?  This is starting to look like Lisp.

I think I'll just stop using CSS color strings and start using `Color` exclusively. More objects, but whatever.

Any reason to keep this issue open, or OK to just close?

[2020-11-13 03:03] samreid commented on #1115
`phetioType: PropertyIO( NullableIO( Or( StringIO, ColorIO ) ) )` would require us creating support for union types in PhET-iO, which we don't have at the moment, as mentioned in https://github.com/phetsims/scenery/issues/1115#issuecomment-726469416.

The first sentence from https://github.com/phetsims/scenery/issues/1115#issuecomment-725830985 is:

That could look something like:

[code]

In any

[2020-11-13 03:07] pixelzoom commented on #1115
Thanks.  I'll convert to `Color` and use `PropertyIO(ColorIO)`.  Closing.

[2020-11-13 16:38] pixelzoom commented on #1115
Reopening.

I converted Fourier to `Color` (or thought I did), and then the State wrapper started to fail,
see https://github.com/phetsims/fourier-making-waves/issues/13.  I've already spent time converting CSS strings to Color. Now I have to spend time to debug.  Then I have to remember when to avoid using CSS strings so I don't introduce new PhET-iO-specific problems.

If we're going to continue

[2020-11-13 19:29] samreid commented on #1115
Let's have a dev meeting discussion about the importance/value of using `color: 'blue'` as opposed to moving toward `color: Color.blue`.  If we agree the strings are important and valuable, we can create an IO type for it.

[2020-11-17 20:43] jessegreenberg commented on #931
We came back to this issue on 11/17/20:

We discussed having a way to listen to both `keydown`/`keyup` events when a screen reader is not in use, and listen to `click` events when using a screen reader. But didn't like how that would make us responsible for two different behaviors depending on whether we are using an AT.

We also talked about being able to set the time between when the PressListen

[2020-11-17 20:51] jessegreenberg opened #1117 "Add alt-input support for time-based FireListeners"
We will need support for buttons that have fireOnHold and related time-based intervals like `fireOnHoldDelay` and `fireOnHoldInterval`. Currently these are supported by the PDOM implementation in PressListener because the firing happens in response to single click events. This was discussed in detail in https://github.com/phetsims/scenery/issues/939 and https://github.com/phetsims/scenery/issues/9

[2020-11-17 20:51] jessegreenberg commented on #931
https://github.com/phetsims/scenery/issues/1117 will track adding support for this, closing this issue.

[2020-11-17 20:51] #931 closed

[2020-11-17 20:54] jessegreenberg commented on #939
The work described in https://github.com/phetsims/scenery/issues/939#issuecomment-483781361 has been moved to #1117. Closing this issue.

[2020-11-17 20:58] jessegreenberg commented on #606
The keyboard fuzzer was much improved the last time we worked on this, and it has been working well with CT for some time. This issue can be closed, if any other improvements are desired we can make a new issue for it.

[2020-11-17 20:58] #606 closed

[2020-11-18 16:43] ariel-phet commented on #47
This no longer looks like an issue

[2020-11-18 16:43] #47 closed

[2020-11-18 18:35] zepumph commented on #1098
I have flipped since https://github.com/phetsims/scenery/issues/1098#issuecomment-719693354, I don't see any value in this work right now, because of the refactoring of most of the logic to TinyForwardingProperty, the overhead to add this to opacity when we need this won't be too challenging. @samreid please close or let me know how you are feeling.

[2020-11-18 18:57] samreid commented on #1098
That sounds great to me, we can re-evaluate when we have a concrete use case.  Closing.

[2020-11-18 18:57] #1098 closed

[2020-11-18 19:17] samreid commented on #1082
I don't think we should add Text and RichText sub-Properties tests like we have done for the NodeTests.  I think this issue can be closed, but feel free to reopen/disagree.

[2020-11-18 19:17] #1082 closed

[2020-11-19 16:24] ariel-phet commented on #1069
This strikes me as an edge case not worth pursuing at the moment, deferring.

[2020-11-23 17:12] Denz1994 commented on #1078
From Dev meeting on 11/23/20:

@jonathanolson has this on his radar to address buttonListener in RichText.js

[2020-11-23 17:46] Denz1994 commented on #1107
From dev meeting on 11/23/20:

The proposal in https://github.com/phetsims/sun/issues/641#issuecomment-732314662 should address this issue. Marking as on-hold.

[2020-11-24 21:51] zepumph opened #1118 "Should Display interrupt its own listeners?"
@jessegreenberg and I were surprised we didn't see a call to `this.interruptInput()` when toggling interactive. We thought this may effect the AnimatedPanZoomListener, which is added to the display.

@jonathanolson can you think of a reason to not apply this patch?

[code]

[2020-11-24 21:51] zepumph commented on #1118
Discovered while working on https://github.com/phetsims/scenery-phet/issues/643.

[2020-11-25 16:30] jonathanolson commented on #1118
That patch looks great, thanks for catching that case!

[2020-11-25 17:18] #1118 closed

[2020-12-01 03:05] jessegreenberg opened #1119 "Global key events are not captured for PhET-iO input"
Seen in the mirror inputs wrapper, global key events (where focus is not within the simulation div) such as those used in AnimatedPanZoomListener (ctrl + '+' or ctrl + '-') are not captured.

This is for https://github.com/phetsims/phet-io/issues/1705 so is high priority and blocking publication as was that issue.

[2020-12-01 03:43] jessegreenberg commented on #1119
I tried instrumenting the Emitters of KeyStateTracker, but that isn't working and I don't think that is the correct approach. I am guess that what we need is Actions like the ones in Input.js that respond to native DOM events on the body. Then KeyStateTracker could attach listeners to these rather than itself attaching to the body.

[2020-12-01 04:29] jessegreenberg commented on #1119
This patch is working well, it adds to more Actions to Input.js for global key presses. There are problems with it still, such as the actions update the Display.keyStateTracker and it shouldn't be updating the static. This includes a change to AnimatedPanZoomListener to use Display.keyStateTracker instead of its own KeyStateTracker.

<details>

[code]
</details>

@zepumph can we talk about this ap

[2020-12-02 21:12] zepumph commented on #1119
@samreid and I discussed this briefly and think that it may be more valuable to just instrument keyStateTracker itself, and make its Emitters phetioPlayback:true. @jessegreenberg let's talk about this more!

[2020-12-02 23:48] jessegreenberg commented on #1119
Discussed again with @zepumph - currently, the KeyStateTracker does not update itself in response to the keyup and keydown Emitters, so instrumenting these Emitters will not convey state. Instead what we need to do is create actions for `keydownUpdate` and `keyUpUpdate` so that the KeyStateTracker will be up to date in the downstream sim.

[2020-12-02 23:56] zepumph commented on #1119
@jessegreenberg, I don't know if we ever got to the bottom of if this should be `Tandem.REQUIRED` or `Tandem.OPTIONAL`. Can you think of any KeyStateTrackers that don't need to be instrumented?  I think `Tandem.OPTIONAL` is best, see BothHandsInteractionListener as an example.

[2020-12-03 00:01] samreid commented on #1119
Should KeyStateTracker be a static global singleton?  I'm trying to understand why you should be able to create and dispose multiple instances as opposed to just listening to a singleton.  If it was a singleton, it would be REQUIRED, and always instrumented, and playbackable:true.

[2020-12-03 00:37] zepumph commented on #1119
@jessegreenberg and I have had this conversation in the past. The trade off is about finding a single place that all usages can have a dependency on. Today we discussed why I feel like `Display` is not the place for a single spot, and `Sim` doesn't work unless we add a component dependencies on sim (like PlayPauseButton). The burden of creating multiple keystate trackers feel worth it to maintain

[2020-12-03 00:40] samreid commented on #1119
Can we make it a top-level singleton in scenery (not associated with Display)?

[2020-12-03 00:47] zepumph commented on #1119
I don't feel like it is in the scope of scenery, a scene-graph library that deals with the rendering and input within a `Display`.

We could make it its own type withint phetcommon or something, but whereever we create the singleton, we should likely attach it to the `document` too. Can we have a type that upon import adds those listeners to the document? Where would we import it as a central loca

[2020-12-03 05:10] jessegreenberg commented on #1006
@amanda-phet mentioned that she saw this in make-a-ten. Reopening to see if this has been reintroduced.

[2020-12-03 16:42] jessegreenberg commented on #1119
In my opinion, KeyStateTracker is very much a part of input. What if we had a singleton instance initialized and listeners added to the document as part of `Display.initializeEvents`?

[2020-12-03 17:02] amanda-phet commented on #1006
I just discovered this happening on my iPad. I have a 6th generation iPad, running iOS 13 (13.7). This was discovered in the PhET app, not Safari. And specifically the Make a Ten sim.
![PXL_20201202_223914921](https://user-images.githubusercontent.com/7852916/101062110-787b4d80-354e-11eb-975b-934f0a28bb34.jpg)

[2020-12-03 17:10] jessegreenberg commented on #1119
KeyStateTracker was instrumented in the above commit. @zepumph can you please review this change, as well as my last comment?

[2020-12-03 20:12] zepumph commented on #1119
Yes, input into the sim, but not input into the Display. Global/DOM-level input invents are getting annexed by scenery just because that is where we control input for the Display (100% of the input to the sim other than this global control). I feel like I am stating my opinion, as well as trying to channel what I felt @jonathanolson said in a previous conversation about where Global key event list

[2020-12-03 21:00] zepumph commented on #1119
I made some minor changes and added doc. Please review.

@jessegreenberg and I also discussed making sure that PDOM DOM events won't get played back twice as the capture/bubble to window from the PDOM.

See https://github.com/phetsims/scenery/issues/1048#issuecomment-717528644 and lower for discussion about where KeyStateTracker should go. We are settling on a singleton in scenery.

[2020-12-03 21:01] zepumph commented on #1048
We ran into this while working on https://github.com/phetsims/scenery/issues/1119, I'll take this on.

[2020-12-03 21:36] zepumph commented on #1119
@jessegreenberg anything else here?

[2020-12-03 21:40] zepumph commented on #1119
Oh! I think that this should maybe be under general.view instead of model. On hold until the refactor inhttps://github.com/phetsims/scenery/issues/1048.

[2020-12-03 22:02] zepumph opened #1120 "Error: Assertion failed: Did not find press (phet-io pan/zoom)"
While working on https://github.com/phetsims/scenery/issues/1048 and https://github.com/phetsims/scenery/issues/1119

Steps to reproduce:

1. Gravity Force lab in studio
2. Zoom in to the reset all button
3. Press launch
4. Bug number 1: the zoom isn't on the reset all button
5. When I drag around a bit with the mouse I get the following error:

[code]

[2020-12-03 22:12] zepumph commented on #1048
@jessegreenberg please review.

I tested with MAL global keys, as well as poking around with zooming on my own, fuzzing, and PhET-iO studio. Anything else here?

[2020-12-03 22:14] zepumph commented on #1119
@samreid how does the above look? Should it be under "controller" instead? No preference here. After making the phetioID as you like, please pass back to @jessegreenberg to see if there is anything more for this issue.

[2020-12-03 22:20] samreid commented on #1119
I considered "model" since it is about button states, but it seems preferable to associate it more with the input side.  But I'm not sure whether `general.controller` or `general.controller.input` is better.

[2020-12-03 22:22] zepumph commented on #1119
I like `general.controller`. Thoughts?

[2020-12-03 22:23] samreid commented on #1119
That seems reasonable to me.

[2020-12-03 22:28] zepumph commented on #1119
Thanks! How does the above look to you?

[2020-12-03 22:30] samreid commented on #1119
Looks great, thanks!  Over to @jessegreenberg

[2020-12-03 22:38] jessegreenberg commented on #1120
Thanks, also from https://github.com/phetsims/phet-io/issues/1705 - I think something is missing in the instrumentation.

[2020-12-03 23:22] zepumph commented on #1120
Let me know if I can help.

[2020-12-07 18:48] jessegreenberg commented on #1120
OK I think I have a potential solution to this using stateSetEmitter after discussing with @zepumph. Here is the patch
<details>

[code]

</details>

This creates a mapping that will correct the transformation when going from source window to destination window if they are of different sizes. This is mostly correct but have a couple of questions.

- matrixProperty no longer describes the transform

[2020-12-07 18:52] zepumph commented on #1120
Isn't it better though, because the matrix now holds that actual coordinates, taking into consideration the targetScale etc, so that when you transform a global point using it, we won't have the small differences (that looked like rounding problems) that we did last time?

[2020-12-07 20:25] zepumph opened #1121 "Navigation Bar can get lost on Android browsers"
Discovered while investigating https://github.com/phetsims/ratio-and-proportion/issues/234. I found on my Android device (Android version 8.0.0, Samsung Edge SM-G935V), that it was possible to lose the nav bar, like a layout rerender thought that the bottom of the screen was quite a bit lower. I'm not sure if this has to do with how Firefox has moved its URL bar to the bottom of the screen, but he

[2020-12-07 21:30] ariel-phet commented on #1121
@zepumph I think you should do a small about more investigation. A few questions to answer:

1. Is this only apparent on Firefox (it seems that is the browser you were using) - if so we will ignore

2. Do you see this issue on chrome?

3. I believe there is a mechanism for testing dev versions within the Android app (my understanding is the app uses a webview that is basically Chrome). If it works

[2020-12-07 22:28] zepumph commented on #1121
In Chrome I can't get this to reproduce. The reason is that the URL bar (on the top in chrome), won't hide itself for me when I do the same scroll-like finger operations as I do in Firefox. This doesn't necessarily mean that it won't ever be a problem in Chrome, as I'm not sure as to why the difference occurs between browsers.

This doesn't occur at all in the app, and likely never will, because t

[2020-12-07 22:29] zepumph commented on #1121
You labelled this "browser-bug", but I don't really feel like it is, as I was able to reproduce this in the slack web view and Firefox browser, both of which have the ability to hide their URL bar. It seems like in general, sims are not tolerant when they get resized as the browser bar is hidden.

[2020-12-08 05:57] ariel-phet commented on #1121
@zepumph since not happening in Chrome, I think we should close.

[2020-12-08 05:57] #1121 closed

[2020-12-08 21:29] jessegreenberg commented on #1120
Dicussing with @zepumph he recommended a way to do this without using stateSetEmitter, in this patch:

<details>

[code]
</details>

[2020-12-09 21:05] jessegreenberg commented on #1120
Yestereday @zepumph and I also worked on a modified implementation of PanZoomListener that did not instrument the matrixProperty, but created a "model" for the bounds of the targetNode that are displayed within the panBounds, with an instrumented Property for this that can be used in the downstream sim so that it doesn't need to know the bounds of the upstream sim. This is a pretty big improvement

[2020-12-09 22:33] jessegreenberg commented on #1120
Commit made above and it is working for me in state wrapper and sim launched from studio. @zepumph can you please review the change? Can we make `sourceFramePanBoundsProperty` private or something so it is stateful but doesn't show up in studio? Is there anything else that is blocking for this issue?

[2020-12-09 22:37] jessegreenberg opened #1122 "Try a "model" approach to PanZoomListener"
From https://github.com/phetsims/scenery/issues/1120, @zepumph and I played with the idea of making PanZoomListener. It seems like a nice idea, it would improve the PhET-iO API and potentially be a better organization of the code in general.

Here is the patch so far.

<details>
[code]

[2020-12-10 01:45] pixelzoom opened #1123 "CT: Cannot read property 'createTandem' of undefined"
This started occurring in CT at 3:07pm today:

[code]

[2020-12-10 01:47] jessegreenberg commented on #1120
Back to me, #1123 popped up after this.

[2020-12-10 02:13] zepumph opened #1124 "Uncaught TypeError: Cannot read property 'dataStream' of undefined"
GlobalKeyStateTracker will try to emit a phet-io event if there is a key down, even if it is before phet-io is loaded.

Steps to reproduce:
* Open a sim in standalone
* smash some keys on the keyboard while the sim starts up until. .  . . .

[code]

@samreid, do you think that we should be graceful here if an event tries to occur before the data stream is ready. I'm trying to think of a case where

[2020-12-10 15:49] jessegreenberg commented on #1123
Fixed with above commit.

[2020-12-10 15:49] jessegreenberg commented on #1120
#1123 is closed, back to @zepumph for https://github.com/phetsims/scenery/issues/1120#issuecomment-742105839

[2020-12-10 15:54] jessegreenberg commented on #1119
I reviewed https://github.com/phetsims/scenery/commit/7ebe56708ca15c1493b3daede44fdfff1fa79e55, looks good. I think that is it for this issue.

[2020-12-10 15:54] #1119 closed

[2020-12-10 15:56] jessegreenberg commented on #1048
globalKeyStateTracker looks great, as do its usages. Thanks!

[2020-12-10 15:56] #1048 closed

[2020-12-10 16:59] samreid commented on #1124
This is a reasonable band-aid for now, but since those events could change the state of the simulation, they could be important to data processing.  Ideally in the future we will buffer events that occur before the data stream is ready, or have an "always available layer" in tandem that buffers messages before they go to phet-io.

Another alternative would be to make dataStream load first, but I d

[2020-12-10 20:32] pixelzoom commented on #1115
12/10/2020 dev meeting

@zepumph supporting ColorDefIO will be messy.

@zepumph @jonathanolson Create ColorDefIO, but throw an error if the value is a Property.  Or name it something else?

@zepumph volunteered to create ColorDefIO.

In the meantime... For Properties that need to be instrumented, don't use CSS strings, convert values to `Color` and use:

[code]

[2020-12-10 22:02] zepumph commented on #1115
The creation of OrIO above will likely allow for an easy adoption by ColorDefIO, perhaps something like:

[code]

There may need to be more here, but I will start with this, and create test cases to interoperate with it.

[2020-12-10 22:18] zepumph commented on #1115
Lol. This is getting out of control

[code]

[2020-12-10 23:17] zepumph commented on #1115
ColorDefIO was added above. A talk with @jonathanolson helped me realize that there isn't really a usage for this as a value IO Type to PropertyIO. Most likely, in cases like @pixelzoom was mentioning at the beginning of this issue, you would want to use `Property.PropertyIO( NullableIO( OrIO( [ StringIO, Color.ColorIO ] ) )`.

The reason is because it is unlikely that your instrumented Property a

[2020-12-11 14:13] samreid commented on #1115
Does this support the case where the value is a non-instrumented `Property`?  Based on the ReferenceIO part of `supertype: NullableIO( OrIO( [ StringIO, Color.ColorIO, ReferenceIO( Property.PropertyIO( NullableIO( OrIO( [ StringIO, Color.ColorIO ] ) ) ) ) ] ) )` it seems like not.  Don't we need to support that?  If not, why not?

What about using just `OrIO( [ StringIO, Color.ColorIO ] )` if the

[2020-12-11 17:49] zepumph commented on #1115
We do not support serialization of uninstrumented Properties, if you want to interoperate with/serialize a value of a Property (or serialize that Property itself), then you need to instrument that Property. If there was a case where it was OK to treat a Property a Property as a data type, and just create a `new` Property in a fromStateObject, then we could easily add support for that. Right now I

[2020-12-11 22:40] jessegreenberg opened #1125 "Dragging magnet to pan around while zoomed in causes jittery movement"
@KatieWoe commented on [Fri Oct 30 2020](https://github.com/phetsims/faradays-law/issues/197)

**Test device**
iPad 6th Gen
**Operating System**
iPadOS 14.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/568. Fairly minor. Feel free to close if not an issue. Mostly seen on iPad/touch screen, but reproduced a bit on laptop.
When the sim is zoomed in, you can dr

[2020-12-11 23:32] jessegreenberg commented on #1094
This was demonstrated in https://github.com/phetsims/faradays-law/issues/208. This issue should block publication of sims with description until resolved.

[2020-12-12 04:13] zepumph commented on #1123
I did not feel like this type needed to be required. Is that OK?

[2020-12-12 04:14] zepumph commented on #1120
Dang, I'm sorry it didn't work out. Thanks for diving in with me though.

Your commit looks good, I just updated doc. Anything else here?

[2020-12-14 17:47] pixelzoom opened #1126 "add a convenience method for creating Color that is a shade of gray"
I frequently need to play around with tweaking shades of gray, and it's inconvenient to have to change all 3 color components.  I'd like to add something like this to Color:

[code]
So `new Color( 200, 200, 200 )` becomes `Color.grayColor( 200 )`, and I can change one constant to tweak.

Sound OK?
Better name? (`Color.gray` is already taken.)

[2020-12-14 17:52] pixelzoom commented on #1126
Added in the above commit. @jonathanolson please review.

[2020-12-14 18:14] jonathanolson commented on #1126
Looks great, thanks!

[2020-12-14 18:14] #1126 closed

[2020-12-16 00:42] zepumph commented on #1124
I'm tempted to defer and unassign this issue until we find a case when it matters. It would though be nice to know when this occurs, what if we `console.warn` a stack trace, or perhaps assert so that it fails loudly in those cases, and then we have a chance to see if each case will be problem. Perhaps it wouldn't be too bad to hit an assertion if it was well documented, pointed back to this issue,

[2020-12-16 18:13] jessegreenberg commented on #1120
I don't think so, thanks @zepumph. Closing this issue.

[2020-12-16 18:13] #1120 closed

[2020-12-16 19:49] samreid commented on #1124
An assertion sounds great to me, please reassign to me if you would like me to implement that step.

[2020-12-16 22:48] KatieWoe commented on #1094
I'm seeing this sort of issue in https://github.com/phetsims/QA/issues/582 I believe. At least it is the same sort of issue in https://github.com/phetsims/faradays-law/issues/208.
The lock ratio checkbox is difficult to check and the actual option is before the option that is selected if you try to click the box directly.
https://drive.google.com/file/d/1Wd3ulZWJ_RwSC4ryV3HvduS20KH4nTC_/view?usp=s

[2020-12-16 23:08] jessegreenberg commented on #1094
Thanks @KatieWoe - yup, thats this issue.

[2020-12-16 23:45] KatieWoe commented on #1094
More serious for https://github.com/phetsims/QA/issues/582, I am completely unable to open the My Challenge box

[2020-12-17 19:11] jessegreenberg commented on #1123
Sure, thanks! I defer to your judgement on that.

[2020-12-17 19:11] #1123 closed

[2020-12-21 20:10] jessegreenberg commented on #1094
To summarize the problem again, when you double tap on the screen while focus is on a button with iOS 14 VoiceOver, we are getting both `click` events and down/up events. In iOS 13 we were getting just `click` events. We need to keep observing both `click` events and down/up events because NVDA and basic keyboard input only dispatch `click` events.

According to https://developer.mozilla.org/en-US

[2020-12-21 22:38] jessegreenberg commented on #1094
Tested with Safari with macOS 19.15.7, Safari in iOS 14, iOS 13, NVDA and JAWs in Chrome and Firefox. This fix is working everywhere except in NVDA/JAWS + Firefox. I suspect it is because of this workaround in `downEvent` and `upEvent`.

[code]

In firefox, we are getting both pointer and click events and now we are preventing *both*. I think that the fix using timestamp can replace this workaroun

[2020-12-21 22:53] jessegreenberg commented on #1094
Retesting again after removing `isTargetUnderPDOM` checks in up/down events, everything is working in VoiceOver with Safari macOS 19.15.7,  NVDA and JAWS in Chrome and Firefox, iOS 13 VoiceOver and  iOS 14 VoiceOver.

[2020-12-21 23:08] jessegreenberg commented on #1094
Change committed above. It is working pretty well but introduces a new problem - when using a screen reader that creates `mousedown`/`mouseup` events (iOS 14 VoiceOver, NVDA/JAWS in Firefox) we are responding to those instead of the `click` event. Those are NOT necessarily going through the PDOM and so SceneryEvent.isFromPDOM will return false in these cases. Code using this will now fail. For exa

[2020-12-22 01:47] zepumph commented on #1094
Can we discuss this progress tomorrow?

[2020-12-22 18:11] jessegreenberg commented on #1094
Absolutely!

This is improved by the above commit by using the `isTargetUnderPDOM` check again. So this part is only a problem for iOS 14 VoiceOver currently. It will become a problem for others if the target of the down/up events become the sim div.

To summarize, the above commit it is working like this for screen readers that submit down/up + click events on the target element.
- If the target

[2020-12-22 18:31] jessegreenberg commented on #1006
I just tried this and wasn't able to reproduce. I tried it out on my iPad with iOS 14 and my iPhone with iOS 13.7 both in Safari and in the PhET app, and both with Make a Ten 1.0.16 and on master.

@amanda-phet you said this was discovered in the PhET app, but are you able to get this to happen in Safari? If just the app, can you post the version number of the sim? It looks like the latest version

[2020-12-22 18:58] jbphet opened #1127 "KeyboardFuzzer-created events missing getModifierState method"
In the Faraday's Law sim, I recently added some code to check whether the `Ctrl` or `Alt` keys were depressed on certain keyboard interactions due to issues reported during testing.  This was done using the `getModifierState` method, and solved the issues.  However, `fuzzBoard` testing started to fail, and it was determined that the cause was that the `getModifierState` method wasn't present on th

[2020-12-22 19:33] zepumph commented on #1127
Yes that makes sense. I'll update `triggerDOMEvent` to support the KeyboardEvent interface.

[2020-12-22 19:38] zepumph commented on #1127
@jbphet, does that solve your issue?

[2020-12-22 21:59] zepumph commented on #1094
@jessegreenberg and I discussed this, and we think that it may be worth investigating converting click events into down/up pairs generally in SCENERY/Input.js. This will help us streamline the iOS implementation with the rest of the a11y code. We don't feel confident about this though, and need to look more closely at each usage so far of `click`. We are also worried about focus management.

@jess

[2020-12-22 23:16] jessegreenberg commented on #1094
@zepumph and I discussed again - Rather than dispatching the `click` event as a pair of down/up events, we realized that a lot of the issues here may be caused by positioning of the PDOM elements. If they weren't aligned with graphical elements, down/up events wouldn't trigger things and we would only get the click event on the PDOM elements. I am going to continue this train of thought.  The chal

[2020-12-24 22:46] zepumph opened #1128 "Uncaught Error: Assertion failed: Did not find press"
@jessegreenberg, I can pretty consistently reproduce this in Ratio and Proportion with `?fuzz`, and then while it is fuzzing, I click around the sim with my mouse. Let me know if I can help!

[code]

[2020-12-28 12:54] samreid opened #1129 "Does the "anti-artifact" rectangle no longer work on some platforms?"
Discovered in https://github.com/phetsims/gravity-and-orbits/issues/358.  In some simulations where there are artifacts due to an incorrect painting region, we expand the repainting region with our own `Rectangle`.  In https://github.com/phetsims/gravity-and-orbits/issues/358 it was discovered that `new Rectangle()` (with no fill) does not trigger a repaint on Chrome.  Maybe it used to, but perhap

[2020-12-28 17:09] samreid commented on #1115
The previous comment sounds reasonable to me, thanks for working on this! @pixelzoom can you please review the last 3 comments and recommend if anything remains to be done for this issue?

[2020-12-29 00:19] pixelzoom commented on #1115
I've reread the previous 3 comments multiple times, and I'm not at all clear on what has been proposed/decided.     I'm still left with these questions:

* When I have a Property whose value is  a "color" that needs to be instrumented, what value types are supported, and how should I specify its phetioType?

* Will there be a type-specific Property to support instrumented "color" Properties, or do

[2020-12-29 01:45] zepumph opened #1130 "KeyboardFuzzer has a substantial memory problem"
Because is uses stepTimer to simulate keys being down for X amount of time, fuzzing can build up a bunch of memory in the form of listeners waiting to be handled. The max time to wait is 2000ms. That means that 120* 100 (default fuzz rate) events could pile up in that time, and persist up to two more second into the future. In a minute or two in RAP, I was able to run out of memory in my tab and c

[2020-12-30 01:02] zepumph opened #1131 "Node Properties should not be allowed to have their listeners shuffled."
Over in https://github.com/phetsims/ratio-and-proportion/issues/328, I encountered buggy behavior using `?shuffleListeners` because Node makes an assumption about the first listener that is added to its Property. For example for pickable and visible, those first listeners must go first to ensure functionality. Here is the code in Node:

[code]

Immediately logic in Node responsible for the behavio

[2020-12-30 19:50] zepumph commented on #1115
In almost all cases, it will not have a valueType of ColorDefIO, because the Property doesn't support a Property VALUE of another Property. `ColorDefIO` will be useful when serializing a type that has a member variable of type `ColorDef` (like in scenery). So instead you will instrument it to the needs of your Property:
* Simplest but most rigid: `PropertyIO<ColorIO>`
* More flexible: `PropertyIO<

[2020-12-31 03:21] zepumph commented on #1124
That seems good to me. I guess unassigning for now.

[2021-01-04 16:12] pixelzoom commented on #1115
I'm still not OK with this.  I don't believe @jonathanolson would be either.

ColorDefIO (as currently defined) does not belong in ColorDef.  `ColorDef.isColorDef` and ColorDefIO have different valid value types.  The former support {Property.<null|string|Color>}, while the latter does not.  And it results in having to introduce tests like this one that you've proposed in the above patch for Color

[2021-01-04 16:20] pixelzoom commented on #1115
Here's a sketch of ColorValue, ColorValueIO, and ColorValueProperty, all of which deal with values of type `{null|string|Color}`.  I'm not sure what `supertype` should be for ColorValueO.

[code]

And as a bonus, duplication in ColorDef.isColorDef can be removed like this:

[code]

It would also be nice to have something that validates that `{string}` is a valid CSS color string.  That's currently

[2021-01-04 17:03] jessegreenberg commented on #1094
Preventing positioning of PDOM elements is working well to fix this, and is easy to do. We already have an option in ParallelDOM.js `positionSiblings` that controls this for a Node. Current default is true, but we would switch this to `false`. GrabDragInteraction would then set to `true` for the "grabbable" state. I verified that the double-tap + hold gesture only sends a Pointer event and not als

[2021-01-04 18:03] jonathanolson commented on #1115
It seems like the implementation hurdle to just have a `ColorDefIO` that can hold reference-io'd Property values might be too much? It seems great from a usability perspective.

Added this in the above commit on the `Color` side.

[2021-01-04 18:31] jonathanolson commented on #1129
I highly recommend we use a transparent fill on Rectangles of that manner first (especially instead of invoking opacity).

Can you try `new Rectangle( { fill: 'transparent' } )` in those contexts?

I agree that it's not particularly robust, however by definition any internal change that DOESN'T actually change the visual appearance COULD be optimized out by a browser.

[2021-01-05 01:51] jonathanolson opened #1132 "Supplying tandems to RichText links"
In https://github.com/phetsims/scenery/issues/1078, I added `Tandem.OPT_OUT` for links in RichText listeners, however it's likely we'll want to provide tandems for those input listeners.

How should `<a href="...">` links in RichText be provided with tandems, or should they? `<a href="..." tandem="foo">` would take the RichText's tandem and `createTandem( 'foo' )` it?

Thoughts?

[2021-01-05 01:51] jonathanolson commented on #1078
Completed, however it brings up the tandem issue (https://github.com/phetsims/scenery/issues/1132) for RichText. Can complete that there, closing.

[2021-01-05 01:51] #1078 closed

[2021-01-05 01:52] jonathanolson commented on #1004
Correct! Closing.

[2021-01-05 01:52] #1004 closed

[2021-01-05 21:56] samreid commented on #1132
`<a href="..." tandemName="foo">` seems most scalable to me, if it is not too difficult.

[2021-01-05 22:23] samreid opened #1133 "Improve JSDoc for Node.scale"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/643, some IDEs identify an error due to JSDoc mismatch:

![image](https://user-images.githubusercontent.com/679486/103706299-dc3bd080-4f69-11eb-9638-7660ae67f2bd.png)

I'd like to update the JSDoc so this isn't flagged.

[2021-01-05 22:26] samreid commented on #1133
I proposed new JSDoc in the commit.  It's a bit unusual, so it would be good for @jonathanolson to review.

[2021-01-05 22:46] jonathanolson commented on #1132
Also... is the absence of that a good way to opt-out of a tandem? It seems like we'd want the default to be "you have to supply a tandem"?

[2021-01-05 23:37] samreid commented on #1132
How about `<a href="..." tandemName="null">` and an assertion check that the `tandemName` must end with `*InputListener` if not `'null'`?  Or maybe it should be `*FireListener`, I'm not sure.

[2021-01-06 16:37] samreid commented on #1115
Self-unassigning until we hear from @zepumph.

[2021-01-06 18:52] pixelzoom opened #1134 "Color.isCSSColorString is buggy"
Color `isCSSColorString` was added in https://github.com/phetsims/scenery/commit/4e26f602ea3aea483fc2777ed5ec70eec076f4b7 for https://github.com/phetsims/scenery/issues/1115.

This is affecting work in bamboo, and I'll need to work around it.

It's buggy, and these examples are failing:

`Color.isCSSColorString( null )`
`Color.isCSSColorString( undefined )`
`Color.isCSSColorString( {} )`

There's

[2021-01-06 18:55] pixelzoom commented on #1134
Should `Color.isCSSColorString( null )` -> 'transparent' ?  That's essentially what PaintDef does.

[2021-01-06 19:04] pixelzoom commented on #1134
On Slack, @jonathanolson says that `isCSSColorString` is documented to only support string.  If that's the case, please add an assertion.

[2021-01-06 19:26] pixelzoom opened #1135 "clean up "color" and "paint""
This issue caused my to pause and bail while working on https://github.com/phetsims/bamboo/issues/16.

There are a bunch of related "color" issues:

https://github.com/phetsims/scenery/issues/1115,
https://github.com/phetsims/scenery/issues/948,
https://github.com/phetsims/axon/issues/221,
...

We have a confusing number of "color" and "paint" types.  The ones that I know about are:

Color
ColorIO

[2021-01-06 19:31] jonathanolson commented on #1134
Added an assertion. Presumably we could have a place checking to see if something is a valid color value if needed (and a type check included there), I'd prefer not to add type-checks in this type of function.

[2021-01-06 19:35] #1134 closed

[2021-01-06 19:36] jonathanolson commented on #1133
That looks good to me!

[2021-01-06 19:36] #1133 closed

[2021-01-06 19:37] pixelzoom opened #1136 "Should null be promoted to a Color?"
Related to #1135.

I ran in to this inconsistency while working on bamboo.

`Color.toColor( null )` and `new Color( null )` both fail an assertion in Color `set`.
`PaintDef` treats `null` as `Color.TRANSPARENT`.

[2021-01-06 19:44] jonathanolson commented on #1136
Consistency of treating null as transparent seems beneficial. I've added the support to `new Color( null )` and `Color.toColor( null )` above.

[2021-01-06 21:36] pixelzoom commented on #1115
We may want to defer this until we discuss #1135 (revisit "color" and "paint").

[2021-01-06 21:37] pixelzoom commented on #948
There's been no progress on this issue for over a year.  But we may want to defer until we discuss #1135 (revisit "color" and "paint").

[2021-01-06 21:56] pixelzoom commented on #1136
Looks good, expect this type expression is incorrect:

`@param {String|Color|null} colorSpec`

It should be `string`, fixed in the above commit.

Closing.

[2021-01-06 21:56] #1136 closed

[2021-01-06 23:46] jessegreenberg commented on #1094
Change made in above commit to stop positioning siblings and remove the timing workaround described above. Things are mostly working in iOS 13 and iOS 14 but one button in MAL is not clickable. Need to look into that further.

[2021-01-07 02:32] ariel-phet commented on #1135
Labelling as high priority for at least an initial discussion at iO meeting

[2021-01-07 03:31] jessegreenberg commented on #1094
My current thinking on this is that iOS VoiceOver (and others) are trying as hard as they can to act like a mouse/finger when activating components. Doing work to block or misdirect pointer events while still trying to receive click events is too hacky and fragile.

I think we should respond to the mouse events rather than click events because this is really how the screen reader works.

The resul

[2021-01-07 04:16] jessegreenberg commented on #1094
Reverted above, so we are back to blocking click events based on their time after mouse events using event.timeStamp. I believe that is everything to be done at this time.

A related issue is now that iOS VoiceOver syncs DOM focus with virtual cursor. Since we are using pointer events with iOS VoiceOver exclusively now, we don't want to blur every time some interaction is made. We need to change t

[2021-01-07 04:21] jessegreenberg opened #1137 "Hide focus highlights but keep DOM focus in response to pointer interaction"
For several reasons, we need to change how focus highlights work. Currently, focus is lost in response to mouse/touch input because the active element gets blurred. It needs to change so that DOM focus persists, but the focus highlight becomes invisible.

This is related to https://github.com/phetsims/scenery/issues/1094 and comes directly from suggestions in https://github.com/phetsims/sun/issues

[2021-01-07 16:13] jessegreenberg commented on #1137
This will involve changes to FocusOverlay to support making the highlights invisible but still active and joist so that on down events the focus highlight can disappear.  The question is then when focus highlights should become visible again. Easiest thing is probably to make it visible again on `focus` events.

[2021-01-07 16:32] jessegreenberg commented on #1137
The behavior needs to be a bit smarter than this. After tabbing to a button then clicking on the screen, the focus highlight dissappears but the button still has focus, and so pressing enter or spacebar will still fire the button. The button also has its own styling from the interaction state from still having DOM focus.

Behvior should be more like this, which matches Chrome:
 - If down event goe

[2021-01-07 17:25] jessegreenberg commented on #1137
The above snippet is working pretty well with iOS 13 VoiceOver. I am going to run some more tests then commit for review and further discussion.

[2021-01-07 17:45] jessegreenberg commented on #1137
I just tested this change on a slider and I am not hearing the aria-valuetext on iOS VoiceOver, which was one of the motivations for this change.  We should test that double-tap and hold interaction to move sliders reads aria-valuetext in another context.

[2021-01-07 17:55] jessegreenberg commented on #1137
I just tried this HTML and did not hear either the value or the aria-valutext on a slider when double-tap and dragging the element

<details>

[code]
</details>

Will report this in the related issue where this was initially requested.

[2021-01-07 18:19] jessegreenberg commented on #1137
Changes made above, @zepumph would you mind reviewing this? Are there any problems you can think of with this change?

[2021-01-07 19:46] amanda-phet commented on #1006
I just tried to reproduce this in Safari but couldn't. I am still about to produce it in the PhET app. The Make a Ten sim version is 1.0.16.

[2021-01-07 21:11] pixelzoom commented on #1094
1/7/2021 @zepumph and @jessegreenberg will review this with @jonathanolson.

[2021-01-07 22:41] zepumph commented on #1135
We brought this up in phet-io meeting today. It was suggested that things may get easier if we stop supporting string in ColorDef and to always use `Color`. @kathy-phet added this to common code rocks in the quarterly planning doc. Assigning to dev meeting for further discussion.

[2021-01-07 22:41] zepumph commented on #1135
It was also mentioned that likely we will want a sub team to tackle this.

[2021-01-07 22:43] zepumph commented on #1135
- [ ] https://github.com/phetsims/joist/issues/681 also.

[2021-01-07 23:43] zepumph commented on #1115
Sounds good to me!

[2021-01-07 23:47] jessegreenberg commented on #1094
Met with @zepumph and @jonathanolson. @jonathanolson agreed that ideally we could filter out the pointer events and only respond to the click events, OR block the click events in a more consistent way. But without any way to do those things, using event.timeStamp is a reasonable workaround.

@zepumph suggested that we should really be doing both - only use event.timeStamp when necessary but still

[2021-01-11 20:39] terracoda commented on #1094
My iPhone7 just updated to iOS 14.3, I seem to be able to press buttons, check and uncheck checkboxes, open comboboxes (similar to buttons), open/close accordions all with and without iOS VoiceOver enabled.

I am tested RaP on master (phettest from bayes).

[2021-01-11 23:18] jessegreenberg commented on #1094
I was concerned about adding an option for aria-haspopup that set other attributes in ParallelDOM.js, it felt like an anti-pattern for scenery options. For example, what if one does these operations:

node.positionSiblings = true;
node.ariaHasPopUp = true;
node.ariaHasPopUp = false;

`node` will have ariaHasPopUp AND positionSiblings will both be false. I created something called AriaHasPopUpMutat

[2021-01-12 17:13] terracoda commented on #1094
@jessegreenberg, my comment in https://github.com/phetsims/scenery/issues/1094#issuecomment-758209198 is no longer true. I am now having a lot of trouble after a fresh pull 30 minutes ago.
- can't access buttons on home screen
- can't press reset button
I haven't had time to test anything else yet.

It looks like I commented before a bunch of commits.

[2021-01-12 17:35] terracoda commented on #1094
Re previous comment, I can only use the sliders for the Left and right hands, nothing else on screen one works. I'll stop testing until further notice.

[2021-01-12 18:14] zepumph commented on #1094
Issues that @terracoda mentioned today during the RaP design meeting:
* usability of UI components
* Focus jumping far away when swiping (perhaps this was from accidentally using the wrong swipe, but we are not sure)
* @terracoda also wondered if the update from iOS 14.2 to 14.3 could have changed anything. My iPad is currently on 14.2, so we can test to differences as we'd like.

[2021-01-12 18:32] jessegreenberg commented on #1094
Sorry @terracoda and @zepumph I think I forgot an important part of https://github.com/phetsims/scenery/issues/1094#issuecomment-756455356 which is causing this to not work quite yet. The `timeStamp` is still being used to block click events for elements that are not being positioned.

[2021-01-12 23:39] jessegreenberg commented on #1137
Reviewed with @zepumph - we think this change is OK and gets us events working correctly in iOS 14 VoiceOver. While discussing we noticed that the focus highlight remained visible with mouse interaction in Friction. @jessegreenberg will look into that.

[2021-01-12 23:41] jessegreenberg commented on #1094
@zepumph and I hopefully finished this in the above commits, addressing the remaining things from https://github.com/phetsims/scenery/issues/1094#issuecomment-756455356.

@terracoda we think this is ready for review. Can you please try out a sim on master with iOS VoiceOver and make sure things are working as expected?

[2021-01-12 23:42] zepumph commented on #1137
We think this should block publication of anything that supports iOS and has a grab drag interaction.

[2021-01-13 00:00] jessegreenberg opened #1138 "Create a singleton for AnimatedPanZoomListener"
From phetsims/ratio-and-proportion#296. We would like to create a singleton instance of AnimatedPanZoomListener. Will make it easier to access a single listener that controls the transforms, and easier to request panning to a particular Node.

Sim.js will use this singleton, but it will live in scenery so that other code doesn't depend on a listener in joist.

[2021-01-13 03:20] ariel-phet commented on #1079
When the dev test of natural selection comes up, this issue should be explored as part of QA

[2021-01-13 20:18] jessegreenberg commented on #1137
The bug mentioned in https://github.com/phetsims/scenery/issues/1137#issuecomment-759106109 was caused by focusHighlightLayerable. Fixed in the above commit. I tested many sims and ran ?fuzz and ?fuzzBoard tests. Closing.

[2021-01-13 21:11] jessegreenberg commented on #1138
AnimatedPanZoomListener, PanZoomListener, and MultiListener currently don't support the singleton pattern, they require the `targetNode` at construction. I don't see a way to create an animatedPanZoomListenerSingleton with our current singleton pattern with those classes as they are now. Another way could be to create a panZoomSingleton with an instance variable that is the listener. Would look so

[2021-01-13 23:29] samreid commented on #1138
@zepumph thought this issue may be done in the near future.  If this issue hasn't been started by midday Friday or so, it could be safe to take SHAs before commits on this issue.

[2021-01-14 03:20] zepumph commented on #1138
This is what I think your snippet meant, so let me know if I am assuming incorrectly:

[code]

We decided that the only singleton needed was AnimatedPanZoomListener, so perhaps we could just do this pattern for that one, which gets initialized in Sim, and is used globally, but the supertypes can just be listeners still.

Even so, this is far from ideal. One of the reasons we liked this patter was

[2021-01-14 05:03] jessegreenberg commented on #1138
Yes, your correction is what I meant, sorry about that. And instead of PanZoomListener, I was thinking it would be AnimatedPanZoomListener.

The forwarding API isn't too bothersome in my opinion, it was that the forwarding went through phet.joist.sim, making common code components like those in sun dependent on phet.joist.sim. panZoomSingleton.listener would still live in scenery.

The alternative

[2021-01-14 16:49] jessegreenberg commented on #1128
Thanks, fixed in the above commit. During fuzzing and clicking the screen it was possible to add the same Mouse Pointer to MultiListener twice since Input only has one Mouse Pointer. Since MultiListener looks up Presses by Pointer, it was adding/removing  Presses when it should not have been.

Closing.

[2021-01-14 16:49] #1128 closed

[2021-01-14 21:33] samreid opened #1139 "Screenshot is taking too long"
From https://github.com/phetsims/circuit-construction-kit-common/issues/646 and also related to https://github.com/phetsims/number-line-operations/issues/78, we noticed it is taking 4+ seconds to generate screenshots. We compared to a published production version, and saw it was nearly instantaneous.

At today's design meeting, @kathy-phet indicated this should be a blocking-publication issue.

@j

[2021-01-15 17:19] jonathanolson commented on #1139
It looks like it's a combination of screenshot + Chrome + filters, where Chrome's Canvas handling for named filters seems to be visually inaccurate. Notably in CCK DC screen 1:

[Contrast, Brightness]
IntroScreenView/CircuitElementToolbox/Carousel/CarouselButton/Path
[Grayscale]
IntroScreenView/CircuitElementToolbox/Carousel/CarouselButton/AlignBox
[Contrast, Brightness]
IntroScreenView/ZoomContro

[2021-01-15 17:26] jonathanolson commented on #1139
![A](https://user-images.githubusercontent.com/480878/104758546-d7221280-571b-11eb-97a8-95c9494a2301.png)
<img width="943" alt="B" src="https://user-images.githubusercontent.com/480878/104758557-d8ebd600-571b-11eb-9117-666da97daf2a.png">

In this case, there is a very minor difference on the "diagram/symbol" button that is disabled. I have some reservations about having such a difference based on

[2021-01-15 17:30] kathy-phet commented on #1139
I personally cannot see a difference here. What am I looking for?

[2021-01-15 17:33] arouinfar commented on #1139
I'm in the same boat as @kathy-phet. I don't see a difference in those two screenshots. I even downloaded them and flipped back and forth on Preview and they seem identical to me.

[2021-01-15 22:25] samreid commented on #1139
When I flip back and forth, I can see the slight change in gray of the schematic radio button.

[2021-01-15 22:30] kathy-phet commented on #1139
OK - I pulled these into power point, and it looks like one color is (188,213,250) and one is (188,212,250). This is really not noticable on my computer. If you are on one computer, why would it flicker? I don't understand that?

[2021-01-15 23:13] kathy-phet commented on #1139
@jonathanolson - This is also impacting NLO. https://github.com/phetsims/number-line-operations/issues/78

We want to move that sim to RC as soon as possible. How does this issue intersect with that simulation? Thanks.

[2021-01-15 23:38] jessegreenberg commented on #1137
Reopening, we would like to change this behavior again. Since iOS 14 VO uses pointer events for some elements, we are losing keyboard focus or not moving focus correctly because events are not flagged with `isFromPDOM`. Specifically, in ComboBox opening on iOS VoiceOver does not move focus into the ComboBoxListBox.

We are going to try changing so that focus highlights become invisible whenever th

[2021-01-15 23:42] jessegreenberg commented on #1137
Here is initial pass at the new behavior, a note for myself to come back to soon.

[code]

Will want to inspect usages of SceneryEvent.isFromPDOM() as likely most can be removed.

[2021-01-15 23:51] jessegreenberg commented on #1138
Thinking about this more, the composite singleton above seems like a good way to make this available globally without using a difficult pattern for MultiListener and PanZoomListener. I am going to proceed. This change will not be disruptive.

What isn't working out of the box yet is animatedPanZoomSingleton.listener.panToNode in most cases, because that function specifically tries to always put th

[2021-01-16 00:36] zepumph commented on #1137
I haven't tested this, but just for discussion, I would have thought that we would want the following behavior:

Instead of:
[code]

We would need something like:
[code]

[2021-01-18 16:11] terracoda commented on #1094
Apologies, I was working on this yesterday and didn't post my results.

Most interactions (left and right hand sliders, radio buttons, lock ratio checkbox, reset all button) are working fine with and without VO enabled.

The sim screen buttons in the navbar are working fine.

The Ratio Challenges and Ranges combo boxes are not working when VO is enabled. The pop-up buttons do not receive focus at

[2021-01-18 16:43] terracoda commented on #1094
@jessegreenberg, I have verified that this is a common code issue. I tested Molarity and it has the same issue.

Can we close this issue? And focus on https://github.com/phetsims/ratio-and-proportion/issues/335, or maybe it makes sense to move https://github.com/phetsims/ratio-and-proportion/issues/335 to a common code repo?

[2021-01-18 16:55] terracoda commented on #1094
Ok, there is already an issue for the combo box issue. It is https://github.com/phetsims/scenery/issues/1137

Since work on the combobox will happen there, I think this issue can be closed. Assigning to @jessegreenberg for closing.

[2021-01-19 17:16] jessegreenberg commented on #1138
There is a singleton now with an AnimatedPanZoomListener. The other parts of this issue mentioned in https://github.com/phetsims/scenery/issues/1138#issuecomment-761259826 deserve its own issue, going to reopen a new one. Closing.

[2021-01-19 17:16] #1138 closed

[2021-01-19 17:19] jessegreenberg opened #1140 "AnimatedPanZoomListener needs a way to keep a Node in view"
There is currently panToNode, but it always tries to pan such that the Node is in the center of PanBounds. Using this creates too much panning motion when the Node is already in view. We need a public function to do this, but only if the Node is out of panBounds.

As part of this issue, I think we should remove the code in AnimatedPanZoomListener that is trying to do this automatically with "movem

[2021-01-19 17:26] jessegreenberg commented on #1140
It makes sense for either the GrabDragInteraction or KeyboardDragListener to make this request to keep the target Node in view. KeyboardDragListener is a listener without a reference to the target Node (and I think it should stay that way), so it must be in GrabDragInteraction. GrabDragInteraction doesn't require a KeyboardDragListener, so there isn't a way to add it to the `drag` operation curren

[2021-01-19 17:59] jessegreenberg commented on #1140
This is done, closing.

[2021-01-19 17:59] #1140 closed

[2021-01-19 18:02] jessegreenberg commented on #1094
Thanks @terracoda sounds great - with https://github.com/phetsims/scenery/issues/1094#issuecomment-762344554 I think this issue can be closed and we will continue in #1137

[2021-01-19 18:02] #1094 closed

[2021-01-19 18:36] jonathanolson commented on #1139
Commit above should allow the faster filter path for Chrome. @samreid can you check performance?

[2021-01-19 18:38] jonathanolson commented on #1139
It's not common, but something might switch between Canvas/SVG in certain cases, and that could show up as a visual difference (say, if you grab something from a toolbox into a play area AND they used different renderers internally). I think it's unlikely for us to run across that.

[2021-01-19 18:42] samreid commented on #1139
Performance is very speedy on my side, thanks!  I also checked that the output looks reasonable.  Did you intend to commit the console.log statements?

[2021-01-19 18:48] jonathanolson commented on #1139
Oops, fixed above. Thanks for the catch!

[2021-01-19 18:50] samreid commented on #1139
Thanks! I think this issue is ready to be closed.

[2021-01-19 18:50] #1139 closed

[2021-01-19 22:40] jessegreenberg opened #1141 "Why doesn't pointer-events: none exist on PDOM root?"
It is on the every one of the PDOM elements but not the root. Why? It seems like it would more aggressively block pointer events that we do not want. But it may also be necessary to receive the events that we put on the PDOM root. We should try to move it and see if it changes anything. Would probably be better to be on the root if possible.

[2021-01-19 22:44] zepumph commented on #1141
@jessegreenberg don't feel confident enough to commit, but we feel like this may help solve an issue we were encountering over in #1137. Not sure though.

[code]

[2021-01-20 04:00] samreid opened #1142 "Rasterization miscolors disabled components on Safari"
Discovered in https://github.com/phetsims/wave-interference/issues/514.  Brief summary: when using `Node.rasterized` or the PhET Menu => Screenshot button, the disabled stopwatch rewind button is much darker.  Note: this happens on Mac/Safari but not Mac/Chrome.

In this screenshot, the top is the live sim and the bottom is the screenshot.  Please ignore the yellow highlight:

![image](https://use

[2021-01-20 04:16] jonathanolson commented on #1142
I'm curious about whether this is a new-Safari thing, I swear I had tested Safari for filter color issues previously.

scenery/tests/filter-tests.html shows a comparison of filter handling for different configurations, for instance in Chrome:

![image](https://user-images.githubusercontent.com/480878/105126092-3759e100-5a9b-11eb-8340-bd44529a33d4.png)

Note the darker Canvas "filter" columns, whic

[2021-01-20 04:23] jonathanolson commented on #1142
So it seems specifically that a DOM CSS filter on an element that contains SVG and Canvas content will behave differently than a DOM CSS filter that just has SVG content.

[2021-01-20 05:32] jessegreenberg commented on #1137
@zepumph and I worked on this today and got far in getting a more refined version of the above proposals working.

Here is a patch covering many files:
<details>

[code]
</details>

To summarize: Focus highlights are made invisible on down events. If the down Event Trail does not include the focused Node, focus is removed from the document. Otherwise it remains for in sim for screen reader functio

[2021-01-20 17:54] jessegreenberg commented on #1137
The way I propose to do this is to
1) Add a static `focusHighlightsVisibleProperty` to Display (or somewhere global), rather than an instance variable on FocusOverlay.
2) Add a `looksOverProperty` to PressListener. It is true if there is focus and `Display.focusHighlightsVisibleProperty` is true OR there are any over pointers.
3) Add a `looksOverProperty` to ButtonModel which gets updated like `lo

[2021-01-20 18:06] zepumph commented on #1137
I think this should be controllable "per display", what if there was a secondary display that you always wanted the focus to highlight for. I don't have a really good idea beyond that though.

I know that's the naming direction we went with the "looksPressedProperty", but perhaps we should just rename this to "looksHighlightedProperty", triggered on focus and over. That is likely a larger rename,

[2021-01-20 18:17] jonathanolson commented on #1137
Agreed with @zepumph above.

Also, the PressListener change seems like it would leak memory. But also I don't know how you'd handle a PressListener being in multiple Displays (which is possible).

[2021-01-20 19:54] jbphet commented on #1127
Yep - I removed the workaround code and ran the `fuzzBoard` test on Faraday's Law, and no problems occurred.  Thanks for the fix @zepumph!  Closing.

[2021-01-20 19:54] #1127 closed

[2021-01-20 20:24] zepumph commented on #1137
@jessegreenberg, @jonathanolson, and I discussed this problem. We decided that it was best to keep a focusHighlightVisibleProperty per Display instance, even though we agree with having a single, static Display.focusProperty to follow how DOM focus works.

We think that in PressListener, instead of using a global on Display to see if the focusHighlight is visible, we can get the Display instance f

[2021-01-21 03:26] zepumph commented on #1132
I think that the structure should be `link.fireListener`, so `tandemName` should either assert that it ends in `Link`, or `Link` should get tacked on (I think an assertion is most idiomatic).

Then we can have a consistent api for the fireListener.

Another idea. We could just use numbers, like `myText.link1`, and have a private group tandem. That may be easier, and nice to not expose tandemName i

[2021-01-21 16:10] samreid commented on #1088
Should this block sim publication?

[2021-01-21 16:33] jessegreenberg commented on #1088
This has been superseded by #1094. We used changes from this issue there, and elements are not positioned by default, partially for performance. So this can be closed.

[2021-01-21 16:33] #1088 closed

[2021-01-21 17:20] zepumph commented on #1088
This seemed like it got away because I always search the meeting label with `dev:a11y` label combined.

@samreid note that all PDOM elements were positioned until work in https://github.com/phetsims/scenery/issues/1094, and now it is an opt in for supporting only cases where we need. Since iOS 14 we don't need this behavior for buttons, so currently there are only three usages of opting in to posi

[2021-01-21 17:23] zepumph opened #1143 "Rename positionSiblings?"
@jessegreenberg I feel like `siblings` means something to us because we are familiar with how PDOMPeer is set up and named, but perhaps a more holistic name to encompass the entire PDOM representation makes more sense do you.

What do you think about any of these?

* positionPeer
* positionInPDOM
* positionPDOM
* positionA11y
* positionPDOMNode

I like `positionInPDOM` the best.

[2021-01-21 18:03] arouinfar commented on #1142
In phet-io meeting we decided that this isn't a blocking issue. Before we close as wontfix, we should collect more examples of this issue to make sure they are all as minor as the rewind button in the StopwatchNode.

@KatieWoe when please be on the lookout for issue in Safari in all QA tests. I'll go ahead and add this issue to the open QA issues.

[2021-01-21 19:24] mattpen commented on #1135
Removed high priority in discussion at dev meeting

[2021-01-21 20:41] DevonQui commented on #1142
Here's another example with the rewind button in https://github.com/phetsims/QA/issues/599
This is from just taking a selection of my screen with my Mac
<img width="291" alt="Screen Shot 2021-01-21 at 1 36 09 PM" src="https://user-images.githubusercontent.com/72042459/105409740-21106a00-5bee-11eb-8107-4c2aa4afe642.png">

This is from using the actual screenshot button within the simulation
<img wi

[2021-01-22 20:01] jessegreenberg commented on #1103
I think I encountered this same issue in https://github.com/phetsims/axon/issues/309. Over there, @jonathanolson said

I removed the workarounds I added for https://github.com/phetsims/axon/issues/309 and added the above patch and the issues were still gone. So this change seems correct to me!

[2021-01-22 22:25] zepumph commented on #1137
I'll continue on this now.

[2021-01-22 22:55] zepumph commented on #1137
In the most recent patch I see, this is the display input listener:

[code]

But @jessegreenberg I thought we changed this substantially. I feel like this patch is missing some important changes. Do you still have them in your working copy?

[2021-01-22 23:01] zepumph commented on #1137
- [ ] This patch felt a bit different, and since I'm just entering part-way through, I'd like to divide up commits as much as possible. I'm not currently thinking we need this in the main changeset. I'll apply later:

[code]

[2021-01-23 01:10] zepumph commented on #1137
I'm having good progress on my local copy, but I want to take notes of what is next:

- [ ] most usages of .overProperty should likely look at .looksOverProperty. This applies to ButtonModel and PressListener, but we need to be careful in checking for usages.

[2021-01-23 02:29] zepumph commented on #1137
Summary of work so far:

* Rewriting of "focus rules" in sim.js in how we listener to the display events to determine if we should blur focus, or toggle highlights visible.
* Creation of PressListener.looksOverProperty, to combine `over` OR (`focus` and display shows focus highlights).
* Move Display.setFocusHighlightsVisible() to be a Property, passed in as an option to FocusOverlay so that there

[2021-01-23 02:29] zepumph commented on #1137
@samreid this review should block GAO RC.

[2021-01-23 03:06] zepumph commented on #1103
That is great to hear, since you are in it, and have a way to test in your memory currently, do you mind taking this on?

[2021-01-23 21:18] samreid commented on #1132
It's my understanding that PhetioGroup doesn't currently re-use indices.  I'm not sure whether RichText rebuilds links on change, but it would be reasonable to expect that it does.  Regarding destroying and re-creating in the same frame, I think that is forbidden by the validator because it checks eagerly.  I couldn't find an issue about making that check "at the end of the frame" instead of eager

[2021-01-23 21:25] zepumph commented on #1132
I think we need to reach out to @jonathanolson to figure out if links are recreated when changing text, even if the same link persists. If the same RichTextLink instances persist, is this an implementation detail that we should rely on?

If we go with supporting `tandemName` and things get recreated, then each will need a PhetioCapsule to wrap them, or change our validation rules to support regene

[2021-01-25 21:05] jessegreenberg commented on #1137
Great work @zepumph, thanks for getting this to a commit point.

I think this may be caused by the logic change in the setting of looksOverProperty. In master it is now looksOverProperty and overProperty are set with
[code]

An earlier patch had
[code]

There is duplication, but this may make isFocusedProperty in ButtonModel and the next bullet point not needed.

A review comment was added to Butt

[2021-01-25 21:30] jessegreenberg commented on #1137
@zepumph and I discussed the addition of isFocusedProperty in ButtonModel and agreed that it is the better way. It clarifies what isOverProperty means in PressListener and that is worth the additional code in sun.

We are good to close this issue!

[2021-01-25 21:30] #1137 closed

[2021-01-26 18:27] DevonQui commented on #1142
I test this for https://github.com/phetsims/QA/issues/596 (Atomic Interactions) but I wasn't able to produce the same result
This is a pic from the live sim
<img width="561" alt="simScreenshotAtomicInteractions" src="https://user-images.githubusercontent.com/72042459/105887643-3b20c280-5fc9-11eb-9843-64152dbb9426.png">
This is screenshot from my Mac
<img width="569" alt="macScreenshotAtomicInterac

[2021-01-26 20:18] pixelzoom opened #1144 "DragListener isHighlightedProperty doesn't work as documented"
In fourier-making-waves MeasurementToolNode.js, I have a listener for `isHighlightedProperty` of a DragListener:

[code]

On mouse over, I see `isHighlightedProperty` change to `true`, as expected.  But then on mouse down, I see `isHighlightedProperty` change to `false` and then back to `true`.

This isn't causing any problem in Fourier, since `isHighlightedProperty` eventually ends up in the corr

[2021-01-26 20:20] pixelzoom commented on #1144
Also note that on mouse up, there's no change to `isHighlightedProperty` as long as the pointer is still over the Node.

[2021-01-26 20:55] pixelzoom commented on #1144
Note: The `isHighlightedProperty` listener now lives in `HarmonicEmphasisListener`, a PressListener this used by Fourier's measurement tool, slider thumbs, and slider tracks.

[2021-01-26 21:11] jonathanolson commented on #1144
Since the update code is:

It looks either buggy, or like an ordering that should be fixed. I'm looking into it.

[2021-01-26 21:23] KatieWoe commented on #1142
Second example from https://github.com/phetsims/QA/issues/599.
![Collision Lab screenshot](https://user-images.githubusercontent.com/41024075/105907287-0a00bc00-5fe2-11eb-86b4-5395dfc33485.png)

[2021-01-27 00:49] zepumph commented on #1130
I think the above is actually not the issue. I think the problem is that `clearListeners()` isn't working. And so `this.keyupListeners` is keeping track of all closures that ever fire, and never removing them.

[2021-01-27 01:12] zepumph commented on #1130
These listeners are now getting cleared as expected. When I poll for the length of the list, it seems to be a tolerable size, and not increasing too quickly. ![image](https://user-images.githubusercontent.com/6856943/105927461-813d4c80-5ff0-11eb-944c-356fd936cb62.png)

I did find that perhaps since https://github.com/phetsims/scenery/commit/bd4c071808820914802d761a6d5744d3b5658b96, sliders aren't

[2021-01-27 01:12] #1130 closed

[2021-01-27 01:13] zepumph opened #1145 "KeyboardFuzzer isn't fuzzing sliders"
From https://github.com/phetsims/scenery/issues/1130, I think it in part has to do with changes since https://github.com/phetsims/scenery/commit/bd4c071808820914802d761a6d5744d3b5658b96. I fuzzed for about a minute and all RaP hands were still at the same value. It seems to treat other values quite well though. Tagging @jessegreenberg  so that he is aware.

[2021-01-27 01:38] zepumph commented on #1145
Notes:

 I found that the following debuggers had the following notes:
[code]

I found that this HTML snippet does work, so my guess is that the issue is in how we clear the listeners or utilize the keyup listener firing immediately.

[code]

-----------------

@jessegreenberg, I don't think that you have to have focus in order to send an event and have a listener fire on it, as the above snippet

[2021-01-27 01:42] zepumph commented on #1145
Input.clickAction is getting hit often, so I wonder if this is an issue with the guts of `triggerDOMEvent` after all.

[2021-01-27 01:45] zepumph commented on #1145
I wonder if this has something to do with things:

https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/dispatchEvent#notes

At least it is good to know that this is synch, so that I can test accordingly. This means that triggering this DOM event should directly and immediately fire the listener on the display.

[2021-01-27 01:49] zepumph commented on #1145
I wonder if KeyboardEvent bubbles as expected? I will check in the HTML snippet.

[2021-01-27 01:49] zepumph commented on #1145
Ahh! It doesn't bubbles!

[2021-01-27 01:59] zepumph opened #1146 "Event.keyCode is deprecated"
While working on https://github.com/phetsims/scenery/issues/1145, I found that keyCode is no longer supported, and we should start phasing it our for "code" instead.

See https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode#Browser_compatibility.

[2021-01-27 02:00] zepumph opened #1147 "Cannot add the same listener twice"
Discovered while fixing fuzzBoard over in https://github.com/phetsims/scenery/issues/1145. This is because of work done in #1137.

Fix coming soon. I will need to cherry-pick these into the RaP branch

[2021-01-27 02:02] #1147 closed

[2021-01-27 02:06] zepumph commented on #1145
triggerDOMEvent was doing nothing until the above commit, because it wasn't bubbling up to the Display listener.

Still though, sliders are broken, and will continue to be, because the event we create doesn't set `keyCode`, at least in chrome. Thus this is blocked by https://github.com/phetsims/scenery/issues/1146, and until our code listens to `code`, instead of `keyCode`, this is likely to persi

[2021-01-27 02:06] zepumph commented on #1146
duplicate of https://github.com/phetsims/scenery/issues/1053

[2021-01-27 02:06] #1146 closed

[2021-01-27 02:07] zepumph commented on #1053
I think we should raise the priority on this because of https://github.com/phetsims/scenery/issues/1145. I'll assign myself.

[2021-01-27 18:25] jessegreenberg commented on #1130
Thanks!

[2021-01-27 18:25] zepumph commented on #1053
I see 95 usages of cased `.keyCode` in out project. https://github.com/phetsims/scenery/issues/1053#issuecomment-631166301 makes me feel like we should flip the switch and see how it goes!

[2021-01-27 18:39] jessegreenberg commented on #1145
I think proceeding with #1053 is the right way forward, but would it have also been fixed if the `keyCode` was defned when constructing the KeyboardEvent?
[code]

[2021-01-27 18:48] zepumph opened #1148 "Can PDOMPointer track focus?"
A random thought popped into my head. I feel like it is strange when using `?shorPointers` that the PDOMPointer stays in the top left of the screen. I don't think that has to be the case. I'll take a look.

[2021-01-27 19:00] zepumph commented on #1148
This patch got me part of the way there.
Problems:
1. The point wasn't always correct for all elements when testing a sim with `showPointers`
2. It didn't show the point correctly in the downstream mirror-inputs, perhaps this is a PhET-iO issue.

[2021-01-27 19:01] zepumph commented on #1148
I was thinking it could potentially help us in iOS, because we don't have focus highlights then.

[2021-01-27 19:30] zepumph commented on #1145
Yes, I tried that, as well as as directly setting it after creation. I think for security reasons perhaps, it didn't work for me:

![Uploading image.png…]()

[2021-01-27 19:32] zepumph commented on #1145
ArggG! The above is not correct. Not there is a casing problem. I'm sorry. I'll commit that now, and we will have working sliders.

[2021-01-27 19:32] zepumph commented on #1145
![image](https://user-images.githubusercontent.com/6856943/106043475-f5c4c980-608a-11eb-8167-b5afc0d54906.png)

[2021-01-27 19:34] zepumph commented on #1145
Working sliders (and other keydown/up event pairs) after the above. Thanks for the help @jessegreenberg!

[2021-01-27 19:34] zepumph commented on #1145
Anything else here?

[2021-01-27 19:56] jessegreenberg commented on #1145
Oh I see - I messed it up in https://github.com/phetsims/scenery/issues/1145#issuecomment-768490290 as well. We have a lot of `keycode` in KeyboardFuzzer, maybe we should replace all of them throughout. I might do that and add `keycode` to bad-text, would that be OK with you?

[2021-01-27 23:33] KatieWoe commented on #1142
Seen in https://github.com/phetsims/QA/issues/600, but nothing alarming yet

[2021-01-27 23:56] jonathanolson commented on #1132
I believe RichTextLinks are recreated on any change.

Also... as a general issue, how does phet-io handle pooled Nodes or PhetioObjects in general? Presumably a RichTextLink would take multiple tandems or hrefs over its lifetime, but my understanding is that this isn't currently possible with phet-io.

[2021-01-28 01:38] samreid commented on #1132
Each of the proposals seems problematic.  What if we (for now) restrict ourselves to the case where instrumented RichTexts that have no more than 1 link and are never rebuilt?  The fireListener can be `myRichText.fireListener`.  Simulation cases with RichTexts that have >1 link can be OPT_OUT for now until we have design team discussions.  Also, maybe I am confused about something--I only see one

[2021-01-28 02:28] zepumph commented on #1132
That is not in `RichText.initialize`, but instead in `RichTextLeaf.initialize`, which is one of potentially many sub components that are created when a the `text` is "richified". There are 4 classes in RichText.

[2021-01-28 02:43] zepumph commented on #1132
I'd be curious to see if https://github.com/phetsims/phet-io/issues/1729 is easier that we think. That said, I'm happy to go with @samreid's naive solution for now. I agree that multiple links in the same string aren't very common in phet-io currently.

[2021-01-28 03:07] jonathanolson commented on #1132
I'm not sure I understand how this will work...

Say RichText A creates RichTextLeaf X with a tandem. Then RichText A changes text and rebuilds (releasing RichTextLeaf X to the pool), and RichTextB pulls it OUT of the pool, trying to give it a new tandem.

Can objects be given a different tandem? I don't see how the "naive solution" works given our current constraints. Can tandems and other proper

[2021-01-28 03:23] zepumph commented on #1132
It doesn't really work like this. the Tandem tree is basically a singleton data structure, so if a Tandem has already been created for a phetioID, calling `createTandem()` to try to make the same phetioID will just grab the same instance, instead of creating two Tandem instances with the same phetioIDs.

Thus I THINK (hesitantly) that something like https://github.com/phetsims/phet-io/issues/1729

[2021-01-28 03:30] jonathanolson commented on #1132
I don't see how that's the case. If RichText A has a tandem firstScreen.model.something, and RichText B has tandem secondScreen.view.foo....

[2021-01-28 03:35] zepumph commented on #1132
Oh sorry, you are talking about something slightly different from me. I think you are talking about general support for Poolable and PhetioObject. This is untested also, but in theory we can just have `dispose` do a better job of freeing PhetioObject fields, such that when you initialize it again for the next instance, it can take whatever values it needs to gracefully.

The validation part is all

[2021-01-28 16:31] jonathanolson opened #1149 "Add support for any-Display input listeners"
For cases where we don't want to figure out which specific Display(s) could be triggering an event.

[2021-01-28 18:18] jonathanolson opened #1150 "Pickability and handling listeners"
Raised from https://github.com/phetsims/sun/issues/676.

During dev meeting, it would be good to discuss the current approach to pickability, I'll give a refresher for how it works, and what we can do.

This has appeared as a problem for components where:

1. We develop a component that has default pickability on the foreground. Because there are no input listeners covering the whole component, ba

[2021-01-28 20:09] DevonQui commented on #1142
Found some examples of this in https://github.com/phetsims/QA/issues/600 but like Katie said, nothing concerning.
**Screenshots from the live simulation**
![Number Line_ Operations screenshot-3](https://user-images.githubusercontent.com/72042459/106192672-c1740a80-6169-11eb-8523-50b81543016a.png)
![Number Line_ Operations screenshot-4](https://user-images.githubusercontent.com/72042459/106192675-c

[2021-01-28 21:24] jonathanolson commented on #1149
@zepumph could you review the above change?

[2021-01-28 21:34] zepumph commented on #1149
This was brought about by https://github.com/phetsims/tambo/issues/126#issuecomment-765658077. And should likely be used in a conversion in TAMBO/DisplayedProperty. I'll make an issue.

I see that it dispatches after the specific display's. This seems reasonable to me. I could also see us putting it before the Node fires its listeners, so that you could control order a bit more if you needed to, b

[2021-01-28 21:42] jonathanolson commented on #1149
Yes! Ideally we'd have options like DOM event capture (so that you could have the reversed propagation at the start), but that's another task! Thanks, closing.

[2021-01-28 21:42] #1149 closed

[2021-01-29 00:19] jessegreenberg commented on #1148
Yes, I could see this being useful in the case you described. Or if events on iOS aren't coming through this would be a quick way to make sure that pointers from VoiceOver are going to a place that would be hit for listeners.

[2021-01-29 17:25] samreid commented on #1132
Here are some options:

* DEFER: Maybe what would help this issue the most is if we could tie it to a deliverable.  If we can decide that, for the moment, we don't need a clickstream on the links in the about dialog, then things can remain as OPT_OUT.  Then when we have a PhET-iO sim that requires a clickstream for RichText links, we can address it then with context and support from designers.
* H

[2021-01-29 20:10] jessegreenberg commented on #1145
Alright, done in the above commits - and I verified fuzzBoard is fuzzing sliders so closing.

[2021-01-29 20:10] #1145 closed

[2021-01-29 20:52] jessegreenberg commented on #1143
This makes sense to me! I like positionInPDOM as well, renamed in the above commits. Anything else for this issue?

[2021-01-29 22:43] zepumph commented on #1148
I committed above. It went well enough, the main breakthrough since the above patch was to use `parentToGlobalPoint` instead of `localToGlobalPoint`. @jessegreenberg will you please review.

- [ ] Should I clear the point on blur? Which would act more like touch, or should I keep it there, where it stays on its last location, like mouse? In this commit I went with the hiding on blur solution, like

[2021-01-29 23:19] jonathanolson commented on #1132
Deferring seems natural until we hit a case where this would be used. Perhaps we'll have support for changing tandems on objects by then?

[2021-01-29 23:24] samreid commented on #1132
That sounds reasonable to me, unassigning.

[2021-01-30 01:57] zepumph commented on #1143
That's great. Thanks!

[2021-01-30 01:57] #1143 closed

[2021-01-30 02:34] zepumph commented on #1132
I like "HANDLE SIMPLE".  It is easy and I don't see any usages of RichText Links besides UnderDevelopmentPlane and the about dialog link texts. To me this is the best solution, and when we have a PhET-iO case that needs more, we can reevaluate (which is what @jonathanolson seems to be calling for). I feel like it is unlikely that we will encounter multiple links in a PhET-iO context any time soon,

[2021-01-30 02:51] jonathanolson commented on #1132
First of all, the `fireListener.dispose()` seems like it should be added (as it's overwritten anyway every time).

That... seems like it works, although it will fail out if you provide a tandem and 2+ links (what happens if you provide no tandem and 2+ links?)

I'd like to hear @samreid's thoughts.

[2021-01-31 23:45] samreid commented on #1132
The patch has a mismatched variable name, `tempTandem` should be renamed to `tempRichTextTandem`.  After I tried that, I added 2 URLs to one RichText in AboutDialog, and got this error:

The proposal from @zepumph therefore seems like a great solution for now, any RichText with 2+ links will loudly error out.

The patch does have a `fireListener.dispose()` so I'm confused about this comment.  Back

[2021-02-01 23:15] jonathanolson commented on #1132
Any RichText with 2+ links AND tandems hopefully?

Agreed, that should have existed before the patch, and was an omission on my part!

[2021-02-02 02:48] samreid commented on #1132
Yes, that's my understanding.

[2021-02-02 03:00] zepumph commented on #997
All I see left here is:

 Sun traits convert Accessible-> PDOM:
- [ ] AccessibleValueHandler.js
- [ ] AccessibleNumberSpinner.js
- [ ] AccessibleSlider.js
- [ ] AccessibleValueHandler options:
----------
- [ ] Rename many methods in PDOM.js

@jessegreenberg can you comment on the remaining items. I feel ambivalent.

[2021-02-02 03:11] zepumph commented on #1132
I'm happy to implement and test on my next iO day.

[2021-02-02 21:07] zepumph commented on #997
Today during a11y dev meeting @jessegreenberg and I decided that we would keep these the way they are, mostly because AccessibleValueHandler supports ContextResonses through UtteranceQueue. We thought about making this its own mixin, but felt like it was orthogonal, could add complexity, and didn't seem that important of a solution to anything. Perhaps at some point in the future.

Next for this i

[2021-02-02 21:08] zepumph commented on #997
This is a helpful regex for finding accessible named functions in the project, I found many usages just in scenery's pdom/ dir

    access\w*\(

[2021-02-02 21:30] zepumph commented on #1053
Today during a11y dev meeting, @jessegreenberg and I decided that we want to see `Event.key` as the replacement, and to for now likely just convert all to lowercase, since keyStateTracker is keeping the shiftKey state in memory. In the future we may be able to utilize the capitalization of the key easier.

Furthermore, we realized that for i18n, we can have translators translate the key strings th

[2021-02-02 23:17] zepumph commented on #997
- [ ] Rename "type" in PDOMPointer.js

[2021-02-02 23:46] zepumph commented on #997
In https://github.com/phetsims/scenery/issues/997#issuecomment-772081557 I noted that there is still some stuff in PressListener that starts with `a11y`. Other than that. I have pretty much gotten to everything in scenery that I can think of.  That said, I feel like I'm reaching a point of diminishing returns. I don't think I'm going to put much more effort into this issue.

@jessegreenberg will y

[2021-02-03 03:40] zepumph commented on #1053
keyCode has been almost entirely removed from the project in exchange with Event.key.

Summary of work:
* Convert KeyboardUtils to lowercase versions of the Event.key strings found at https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key/Key_Values.
* Replace keyCode usages with key, especially when they compare against KeyboardUtils' constants.
* Create a typeDef called KeyDef, used

[2021-02-03 17:26] jessegreenberg commented on #1116
Is there a difference between the proposed Node.interactiveProperty and Node.inputEnabledProperty which already exists? Is this already a supported feature?

[2021-02-03 17:29] samreid commented on #1041
Reopening based on discussion in https://github.com/phetsims/scenery-phet/issues/660. In that issue, there is a draggable LaserPointerNode with a button on it.  Currently, the draggability is attend by adding the input listener directly to the laser. However, this means when you disable the drag listener (by setting the laser node to be non-interactive or non-pickable) you also disable the button.

[2021-02-03 23:21] jessegreenberg commented on #1053
Great changes @zepumph, thanks.  I reviewed changes to the files in particular you pointed out, things look really nice. I also tested ?fuzzBoard, keyboard zoom operations, and keyboard interaction in a number sims all was working well.

Indeed, what you have is much better.

I don't think this needs to block publication anymore.

[2021-02-03 23:27] jessegreenberg commented on #1053
Regarding casing, I had two thoughts.
- What if we add a field to SceneryEvent with the lowercase DOMEvent.key, so that can be used and clients don't have to call toLowerCase?
- What if we add a comparison function to KeyboardUtils that takes a DOMEvent.key and compares it to casing of a desired key, but the comparison is agnostic to casing? LIke
[code]
rather than
[code]

Regarding the KeyDef (if

[2021-02-04 01:47] pixelzoom commented on #1131
Why is it OK to rely on listener order in scenery, but not in other code?

I'm OK with dropping the "listener shuffling capabilities".  Sometimes it's the lesser evil. But I'd like us to agree that when order dependencies exist, they should be documented in the code.

[2021-02-04 02:28] zepumph commented on #1131
I kinda feel like this is in part a deficiency in our listener library. I am getting flash backs to our lengthy discussion about separating Action from Emitter. The essence of that issue, this issue, and the molarity issue referenced above, is that there is code in listeners currently that is really foundational to the "value" of the element being listened to, and so it should occur before other i

[2021-02-04 02:28] zepumph commented on #1131
Marking high priority because this is getting some traction, and it would be good to get this off of dev meeting in a timely way.

[2021-02-04 02:46] zepumph commented on #1041
This was the workaround used for the same thing in StopWatchNode, see https://github.com/phetsims/scenery-phet/blob/cc74b53ee659908ce9a7876be3f85c9446232ba6/js/StopwatchNode.js#L213.

If we decided to add enabledProperty to scenery listener Types (likely just PressListener), presumably we would do so with options, so you could pass through your own enabledProperty. If that was the case, then you c

[2021-02-04 02:55] pixelzoom commented on #1041
@zepumph said:

I don't think this is exclusive to the PressListener hierachy. This seems important for KeyboardDragListener, and maybe some of the other next-gen input listeners in scenery/listeners/.

If instead you meant "I don't think this is necessary for old-stype input listeners and literal `{...}` listeners", then I agree with that.

[2021-02-04 03:35] pixelzoom commented on #1131
Some of these problems may be the result of trying to combine too many responsibilities into a single Emitter (or Action, or Property, or other observable).   To continue with @zepumph's "Brain" example...   If it's important that C-spine listeners finish before the pinky toe listener is called, then the pinky toe should not be listening to the neuronXFiringEmitter - it should be listening to an E

[2021-02-04 03:53] pixelzoom commented on #1131
@zepumph said:

To continue, here's how the "chain of observables" pattern could be applied to this problem in Node -- let say for visibleProperty.  Those visibleProperty listeners that "must go first" would not be combined in the same data structure with other arbitrary listeners.  Those listeners that "must go first" would notify other listener (via an Emitter?) when they have completed, essenti

[2021-02-04 04:33] pixelzoom commented on #1131
Some more thoughts....

* I have never seen a specification of the Observer pattern that guarantees order of notification.

* I have seen many specifications of Observer that explicity say that order is not guaranteed.  A few examples:
  * "It’s a tenet of good observer discipline that two observers observing the same subject should have no ordering dependencies relative to each other. If the orde

[2021-02-04 17:39] chrisklus commented on #1131
From 2/4/21 dev meeting:

A subgroup of @pixelzoom, @zepumph, and @samreid will meet again to discuss further.

[2021-02-04 17:54] pixelzoom commented on #1131
More notes from 2/4/21 dev meeting...

Consensus was that putting the subject in a consistent state should not be a responsibility of a listener.  It should be something that is done before listeners are notified.  So rather than relying on a listener order, we should investigate other patterns for separating these responsibilities (hence the subgroup mentioned in the previous comment).

Off the t

[2021-02-04 18:30] samreid commented on #1041
@kathy-phet asked me to take the lead on this, as it pertains to Bending Light.  @pixelzoom mentioned we may add `LaserPointerNode.draggableEnabled` which could turn off keyboard dragging + mouse/touch dragging, and `LaserPointerNode.buttonEnabled` which could turn off whether the button is enabled.

[2021-02-04 18:32] samreid commented on #1116
It's unclear how this interleaves with https://github.com/phetsims/scenery/issues/1041--perhaps they can be handled separately.

[2021-02-04 18:37] pixelzoom commented on #1041
2/4/21 phet-io meeting:

Rather than exposing internal listeners and Nodes, I suggested adding Properties for enabling/disabling types of interactions.   For example a draggable laser might have `dragEnabledProperty` and `buttonEnabledProperty`.   When the client sets these, `pickable` would be set for the corresponding internal Nodes.  And if we decide not to use `pickable` in the future, then we

[2021-02-04 18:39] samreid commented on #1116
@kathy-phet asked me to take the lead, and coordinate with @jonathanolson and bring proposals to the dev team.

@pixelzoom suggests that maybe https://github.com/phetsims/scenery/issues/1041 would make this issue unnecessary.

[2021-02-04 18:42] pixelzoom commented on #1116
While interactiveProperty may still be useful for making a Node totally interactive, I'm feeling like interactiveProperty is too coarse-grained to meet some recent requirements that have come up.  For example in bending-light: disable transforming the laser, but keep the button interactive.

As I described in https://github.com/phetsims/scenery/issues/1041#issuecomment-773520512, I think we should

[2021-02-04 19:14] zepumph commented on #1116
Currently inputEnabledProperty exits but doesn't do anything. Perhaps it can be co-opted into whatever we want here.

We half (three quarters?) discussed this today. It would be nice to get this off of dev meeting. Marking high to finish off the discussion.

[2021-02-04 19:22] jessegreenberg commented on #1116
It currently works to prevent listeners from firing but keeps things in the hit test, but maybe there are other things that are needed here that are not supported yet.

[2021-02-04 19:36] zepumph commented on #1116
Ahh sorry, I see that now @jessegreenberg thanks.

It seems like Node.inputEnabledProperty is the thing to use here.  I will check in with @jonathanolson to see if this aligns with what we are trying to accomplish.

- [ ] Can inputEnabledProperty work or do we need our own, new Node.interactiveProperty
- [ ] If these are the same, should we rename inputEnabledProperty to Node.interactiveProperty
-

[2021-02-04 19:40] zepumph commented on #1116
Next steps are for me to discuss with @jonathanolson, does anyone else want to be involved in this work?

[2021-02-04 20:22] KatieWoe commented on #868
Noting some ChromeOS kerning oddities in https://github.com/phetsims/QA/issues/601. This seems to indicate a general issue there.

[2021-02-04 23:08] zepumph commented on #1053
So something like this?

[code]

plus handling the 42 usages of `key.toLowerCase()` found across the project? That seems reasonable, but also aren't there some cases where we don't have access to the SceneryEvent, just the dom Event?

[2021-02-05 00:31] zepumph opened #1151 "Node.rasterized() should use nested options"
I think that we should use `imageOptions` to be clear on what is an option to the Image Node, and what is for the rasterized method

@jonathanolson do you agree?

[2021-02-05 17:37] jonathanolson commented on #1151
That sounds fine to me.

[2021-02-05 18:43] zepumph commented on #1116
From meeting with @jonathanolson:

Likely we can use Node.inputEnabledProperty
re the rename, "interactive" sounds like there is always a change in the Node you are blocking, as opposed to just the input being blocked. We should ask designers.

I edited https://github.com/phetsims/scenery/issues/1116#issuecomment-773554757 with the rest of our notes.

[2021-02-05 22:04] jessegreenberg commented on #1053
Yea, that is what I was thinking. True, this wouldn't apply to the usages of globalKeyStateTracker which do not use SceneryEvent. I can't remember if we have tried this, but maybe globalKeyStateTracker emitters should create and emit a SceneryEvent instead of DOMEvent for consistency.

Maybe something to discuss when we meet next.

[2021-02-05 23:04] jessegreenberg commented on #470
This is quite old and doesn't exist anymore, closing.

[2021-02-05 23:04] #470 closed

[2021-02-08 18:50] jessegreenberg commented on #997
I scanned the commits, they all look good. Remaining `a11y` references seem like they should stay as we previously discussed in https://github.com/phetsims/scenery/issues/997#issuecomment-771986917. Only other rename was in the above commit and I checked that with @zepumph. Thanks for doing all of this, closing.

[2021-02-08 18:50] #997 closed

[2021-02-08 19:52] jessegreenberg commented on #1103
The change has been committed and the workarounds removed. @zepumph would you mind reviewing https://github.com/phetsims/axon/commit/324fdb40a5a93e93ec3c9800313e23e11c9a744b? The only other usage I thought might need this was `equalsValue`, should that get this as well?

[2021-02-08 21:34] zepumph commented on #1103
Yes I think you should do this for equalsValue too, because otherwise you could be comparing an old bounds that hasn't been updated yet.

[2021-02-08 22:19] zepumph commented on #1131
Just a reminder that https://github.com/phetsims/ratio-and-proportion/issues/300 is on hold until this issue progresses further.

[2021-02-09 17:30] samreid commented on #1131
The old pattern is
[code]

Here is one idea for solving this problem:
[code]

[2021-02-09 17:37] jonathanolson commented on #1131
Allowing a single listener to be called before might be more memory-efficient in general.

[2021-02-09 17:39] samreid commented on #1131
Another possibility would be to wrap the `TinyForwardingProperty` with a decorator which calls the `onVisiblePropertyChange` when a client tries to set the value.

[2021-02-10 01:29] samreid commented on #1041
I proposed a design and implementation strategy for this problem as it appears in the context of Bending Light, and it is pending review by @arouinfar and @pixelzoom in https://github.com/phetsims/bending-light/issues/397#issuecomment-776363254, putting this more general issue on hold until we have discussed that specific case.

[2021-02-10 06:34] pixelzoom commented on #1131
I'm having deja vu. Didn't we go down the `before listeners` path with Action/Emitter?  I'd like to avoid revisiting that.  The issues were https://github.com/phetsims/axon/issues/222 and https://github.com/phetsims/axon/issues/217.

https://github.com/phetsims/axon/issues/217#issuecomment-519210101:

It seems reasonable to have 1 optional callback that is responsible for ensuring that the Observa

[2021-02-10 15:57] samreid commented on #1131
The reason we didn't need `before` or `first` strategies in https://github.com/phetsims/axon/issues/217 is because we created `Action` to solve that problem, but there is an open issue about adding listeners to Action in https://github.com/phetsims/phet-io/issues/1543.

[2021-02-10 18:03] samreid commented on #1131
Working patch:

<details>

[code]

</details>

[2021-02-10 18:06] pixelzoom commented on #1131
2/10/21 meeting with @samreid @zepumph @jonathanolson @pixelzoom

We decided to use the approach of adding an optional callback that is called before listeners are notified. This option will be called `onBeforeNotify`, and will be added to the Property and Emitter stack.  @samreid sprinted through implementation during the meeting to see if any gotchas exist, and we didn't find any.  @zepumph will

[2021-02-10 19:14] zepumph opened #1152 "Display.sizeProperty does not use useDeepEquality"
Here is what the TinyProperty callsite currently looks like:

[code]

But TinyProperty doesn't take options, looking at the doc, I think this is what would actually be desired:

[code]

@jonathanolson does this sound right to you? How bad is this bug? Do we still need useDeepEquality, as it hasn't been implemented here since the scenery conversion from Events.

[2021-02-10 19:15] zepumph commented on #1152
I removed the option above because it was blocking my work in https://github.com/phetsims/scenery/issues/1131.

[2021-02-10 23:38] pixelzoom opened #1153 "add enabledProperty support to LayoutBox"
For Fourier, I need to be able to disable a scenery-phet.ZoomButtonGroup, which extends scenery.LayoutBox.  I could just add support in ZoomButtonGroup, but adding it to LayoutBox seems like the right thing to do.

LayoutBox does not currently do anything when `this.enabledProperty` changes.  So I supposed the correct thing to do is to add the default behavior ala Checkbox. That is:

[code]

I'm a

[2021-02-10 23:42] pixelzoom commented on #1153
Git history shows that @zepumph added `enabledAppearanceStrategy` in Checkbox, FineCoarseSpinner, etc.  Would you mind reviewing my changes in LayoutBox?

[2021-02-10 23:51] jonathanolson commented on #1152
It doesn't seem critical, however presumably we'd want `useDeepEquality`, so that we don't fire off all the changes when the size hasn't actually changed.

It looks like we're not calling it every frame, so we wouldn't see much of a penalty in sims right now.

[2021-02-11 03:23] zepumph commented on #1153
Looks good to me!

[2021-02-11 03:25] zepumph commented on #1153
Note that the enabledAppearanceStrategy will be changed to run on Node.interactiveProperty (or an equivalent name) over in https://github.com/phetsims/scenery/issues/1116

[2021-02-11 03:45] zepumph commented on #1131
I committed the addition of onBeforeNotify above. @pixelzoom mentioned that he would review, thanks!

Main summary of work:
* Create TinyEmitter's implementation of onBeforeNotify
* Support all other axon library types passing through that option to their implementations of TinyEmitter.
* In scenery, refactor spots where we create a Property and immediately link to it for changes. These spots need

[2021-02-11 04:11] zepumph commented on #1053
I think that SceneryEvent  is most useful for a space where you are hittesting and or firing an event on a Node (and or up a Trail). That doesn't feel like its needed for globalKeyStateTracker.

I think adding it to SceneryEvent will still streamline the majority of cases pretty well. We can always do it, and if it is too confusing we can scratch it. The confusing pieces seem to be (a) that there

[2021-02-11 04:21] samreid commented on #1041
We agreed the implementation in https://github.com/phetsims/bending-light/issues/397 seems suitable, and @zepumph will have an opportunity to try this pattern in Projectile Motion for some upcoming features.  Perhaps after that, we can reflect on this process and determine if additional steps, such as documentation in the instrumentation guide, are warranted.  @pixelzoom does that sound reasonable

[2021-02-11 05:45] pixelzoom commented on #1041
Yep, sounds reasonable to me.

Not sure if there's something left to do here, or if this issue should be closed, or if it should stay open until @zepumph uses in Projectile Motion.   So back to @samreid.

[2021-02-11 05:46] pixelzoom commented on #1041
Actually, I won't assign to @samreid, since this is already assigned to @zepumph.

[2021-02-11 06:30] zepumph commented on #1041
I have noted this pattern, and will pick this up over in PM as needed.

[2021-02-11 06:30] #1041 closed

[2021-02-11 08:43] jonathanolson commented on #541
Looks great!

[2021-02-11 08:43] #541 closed

[2021-02-11 19:42] samreid commented on #1135
Developer Meeting:

We noticed that this is not scheduled as a quarterly goal for Q1 2021.  When it becomes a quarterly goal, we will add it back to developer meeting to create a subteam to proceed.

[2021-02-11 19:48] samreid commented on #1129
Developer Meeting:

@pixelzoom: I don't think I've used this pattern in my sims
@jbphet: This used to be a much bigger problem early on.  It sounds like we aren't seeing problems--this would be more of a pre-emptive measure.

We will make this a chip-away issue to address existing cases. @zepumph is already on the case!  I'll take care of mine, and look to see if there are other cases.

[2021-02-15 20:27] pixelzoom commented on #1131
I've had a look around, and I don't see anything amiss.  But I have to admit that I'm a little fuzzy on all of the classes involved and their relationships, as well as where `onBeforeNotify` needs to be used.  So it might be good to have someone more familiar (@samreid? @jonathanolson?) also take a peek.  I'll leave that up to @zepumph.

For unit tests, it would be nice to have at least one test

[2021-02-15 22:34] jessegreenberg opened #1154 "Content setting options in PDOMPeer should allow null as a value"
Various functions in ParallelDOM.js like `setInnerContent`, `setDescriptionContent` and others allow you to pass in `{string|null}`. These functions PDOMPeer functions, but their equivalents only allow `{string}`, and that makes it impossible to set these things back to `null` once they have been set. PDOMPeer functions should allow clearing of content when `null` is passed through.

[2021-02-15 22:47] jessegreenberg commented on #1154
I reviewed options in ParallelDOM.js and I think setInnerContent and setDescriptionContent are the only ones that have this issue. Others that use `onPDOMContentChange` will redraw correctly. And other setters have logic that specifically handles `null` case.

[2021-02-15 23:06] jessegreenberg commented on #1154
Done in the above commit. I added a unit test for each to check, indeed each added unit test was broken until this change.  @zepumph does this change look OK to you?

[2021-02-16 01:55] zepumph commented on #1154
Looks great to me, thanks @jessegreenberg.

[2021-02-16 03:16] #1154 closed

[2021-02-16 21:29] zepumph commented on #1053
@jessegreenberg and I discussed this, we like factoring all the logic out to KeyboardUtils, we think that perhaps these two methods, or something close, will do, while getting rid of all spread-out usages of `toLowerCase`, as well as factoring out the access of domEvent.key. It also works equally well with dom events from globalKeyStatetracker, and from the scenery input system.

We decided not to

[2021-02-16 21:45] jonathanolson opened #1155 "branch: layout"
For https://github.com/phetsims/sun/issues/48.

[2021-02-16 23:51] jessegreenberg opened #1156 "exitEvents should Fire for all touch like Pointers"
From https://github.com/phetsims/ratio-and-proportion/issues/352 we found that `Input.exitEvents` is currently not called for Pointers of type Pen. One result of this is PressListener `overPointers` are not updated, So things may still think they have a Pointer over them when they do not.

For example, see dragging a stylus across the navigation bar screen buttons - they look highlighted even when

[2021-02-16 23:56] zepumph commented on #1156
@arouinfar, do you think that buggy hover behavior like the video in https://github.com/phetsims/ratio-and-proportion/issues/352 should block publication? If so should this be a fix that get's propagated to older versions of the sim? Presumably there would be the potential for incorrect pen hover states in sims for quite some time. We may decide that this is not worth an MR, and instead just fix t

[2021-02-17 00:21] zepumph commented on #1156
I will proceed with the fix on master now.

[2021-02-17 00:55] zepumph commented on #1156
In the above commits I did these two items. My biggest worries were with `ClosestDragListener`, and the changes in SimpleDragHandler. @jonathanolson can you please review those two spots. Do my changes make sense to you?

____ is influenced by this decision, and will need to be changed in pen areas are different from touch areas. @arouinfar will you please tell us if you think pen areas can be the

[2021-02-17 01:40] zepumph commented on #1131
Sounds good. I'm feeling pretty good about these changes. Closing.

[2021-02-17 01:40] #1131 closed

[2021-02-17 03:36] zepumph commented on #1053
The above was just a precursor to the major change of converting usages of `toLowerCase`. First I felt it would be best to change all the functions in KeyboardUtils to run on the domEvent instead of the event.key.toLowerCase() directly.

[2021-02-17 04:29] zepumph commented on #1156
`isTouchLike()` doesn't support a null pointer like `instanceof` used to, so I committed a fix above.

[2021-02-17 04:30] zepumph commented on #1053
All usages of `key.toLowerCase()` were handled above. Please note that I also added KeyboardUtils.isAnyKeyEvent, which takes an array of `KeyDef` and checks to see if the event is any of them. In general I like how this cleans up callsites, but it does have the potential to add many more arrays to the heap if these events were called/check very often. Since all of this logic occurs from user input

[2021-02-17 04:30] zepumph commented on #1053
@jessegreenberg please review.

[2021-02-17 04:47] samreid commented on #1053
In https://github.com/phetsims/scenery/issues/1053#issuecomment-631157175 @jessegreenberg said:

I tested this snippet on my Dvorak layout:

[code]

Then I typed "asdf" which should be "aoeu", and it printed:
[code]

I have run into this problem in some web games that use WASD keys for navigation--on my keyboard I have to hunt and find them at <A;H which are all over the keyboard.  So for semantic

[2021-02-17 17:20] arouinfar commented on #1156
This doesn't seem like something that needs a MR. I don't think we officially support stylus use, and this isn't a sim-breaking issue. Using the touch areas for pen input also sounds reasonable to me.

[2021-02-17 20:30] zepumph commented on #1053
@samreid and I discussed this further, and we think that using `key` but with a way that translators can specify certain keys is the most flexible path forward. @jessegreenberg let's not forget about how we need to update support for i18n in the keyboard help dialog as part of this issue.

@samreid noted that he wasn't concerned about Dvorak style (which he uses), but rather with i18n concerns in

[2021-02-17 23:28] zepumph commented on #1148
Oops! I thought I assigned. I found one other bug while working on https://github.com/phetsims/phet-io/issues/1720 (because mirror inputs is a great test case).

[2021-02-18 01:05] zepumph opened #1157 "AnimatedPanZoomListener should not depend on joist"
From https://github.com/phetsims/joist/issues/686, I see a usage of phet.joist.display in AnimatedPanZoomListener. This means that this type is hard coded to work only with phetsims. @jessegreenberg let me know if I can help.

Best practice for fixing this:
* Use arguments when possible
* See `getGlobal` and usages for a way to reasonably set a default option for phet.joist.display without breakin

[2021-02-18 19:01] zepumph opened #1158 "Uninstrument Node.pickableProperty in exchange for Node.inputEnabledProperty"
This is a sub/side issue from https://github.com/phetsims/scenery/issues/1116.

@arouinfar noted the need to change client guides and overrides as part of this process. What fun!

On hold until #1116 is read to work for PhET-iO.

[2021-02-18 19:25] zepumph opened #1159 "Should ParallelDOM be moved into Node?"
After a discussion with @jonathanolson in https://github.com/phetsims/phet-info/issues/143, we were  interested in discussing the potential for moving ParallelDOM into Node. It is technically a "trait", but really it is just added to the Node class (to all Nodes), and not conditionally added for functionality of particular Nodes.

We looked at multiple other features of Node that used composition

[2021-02-18 20:31] KatieWoe opened #1160 "Magnification behavior inconsistent when switching scenes"
Found during https://github.com/phetsims/QA/issues/609. The behavior in the RAP sim is different than the Number Line Operations or ESP sims that recently published, but I'm not sure what the desired behavior is.

When you have a multi-screen sim and the sim is zoomed in, what should happen when you switch screens in that state? In NLO and ESP, you stay zoomed in, and I thought this was expected.

[2021-02-18 20:53] jessegreenberg commented on #1160
Thanks @KatieWoe - this was actually the requested new behavior in https://github.com/phetsims/joist/issues/682 so it is expected now and not a bug.

[2021-02-18 21:07] KatieWoe commented on #1160
Ok, thanks. Sorry I missed this.

[2021-02-18 21:07] #1160 closed

[2021-02-18 22:55] jessegreenberg commented on #1159
I think that ParallelDOM.js creates good code separation for things related to the Parallel DOM. Right now, Node.js is responsible for things that are typical in a scene graph, while ParallelDOM.js is responsible for all things related to the Parallel DOM feature. I think that the purpose of ParallelDOM.js functions will be less clear if they live in Node.js while Node.js will be larger and harder

[2021-02-19 01:21] zepumph commented on #1159
I made this same argument when discussing with @jonathanolson, and he felt the exact opposite. Right now we have a large section of the Node API that is not in Node. Thus there is more burden to understanding what a Node is because the API is separated out into multiple files. This increases the upfront burden to understanding and using Node.

Node is meant to be an API monolith, as it is the base

[2021-02-19 18:50] pixelzoom commented on #715
@zepumph If this is being reviewed and tracked somewhere else, can this issue just be closed?  I don't see the benefit of having a "ready-for-review" issue that is unassigned.

[2021-02-19 19:02] pixelzoom commented on #795
This issue is labeled ready-for-review, but it's unassigned.  No comments since Aug 2018, no progress on "parent review issue" since Oct 2018.

@zepumph What should we do here?

[2021-02-19 19:06] pixelzoom commented on #814
This issue is ready-for-review, but unassigned.  No comments since Jul 2018. Nothing in #832 (parent issue?) since Oct 2018.

@zepumph what needs to be done here? How should this issue be labeled/assigned?

[2021-02-19 23:13] jessegreenberg commented on #1057
Documentation about Multilistener being specific to mouse/touch has been added since this change was made. @zepumph and I also discussed the bug reported here. We noticed that the mouse location as reported by ?showPointers had a delay which indicates that the delay that happens when using touch after mouse down was at a lower level than we can detect in scenery code and it is not related to Multi

[2021-02-19 23:13] #1057 closed

[2021-02-19 23:30] samreid commented on #1161
@zepumph can this issue be closed? Those listeners are called like so:

[code]

[2021-02-20 04:59] zepumph opened #1162 "Improve DOM Event serialization"
While working on https://github.com/phetsims/phet-io/issues/995, https://github.com/phetsims/phet-io/issues/1693 and especially https://github.com/phetsims/phet-io/issues/1720, @jessegreenberg, @samreid and I found that `Input.deserializeDOMEvent` wasn't supporting a field, relativeTarget, that was needed to support PhET-iO playback for Input.js

This issue is to try to improve on the serializatio

[2021-02-20 05:09] zepumph commented on #1162
- [ ] Another thing to do for this issue. I think we should serialize Event.target back into an HTML element, and not into an object literal like it is now (which is what I did for `relativeTarget` in https://github.com/phetsims/phet-io/issues/1720). This is what it looks like now:

[code]

[2021-02-20 05:12] zepumph commented on #1162
Even without Proxy, I think that the Event constructor could take much with options instead of trying to mutate after construction.

[2021-02-22 18:09] jessegreenberg commented on #1156
Changes look good, I don't see any more usages of `instanceof Touch` in the project. I tested on a iPad with a stylus and the original issue is gone. However, there are cases where I cannot activate a HomeScreenButton with a stylus anymore. I am not sure if it is because of this issue or something else.

[2021-02-22 18:29] jessegreenberg commented on #1156
The bug was specific to logic in HomeScreenButton for the custom touch over behavior. Should be fixed in the above commit by doing the same work with penover as well. Back to @zepumph to review this change but otherwise things look good.

[2021-02-22 22:12] zepumph commented on #1156
Looks excellent, and it is the only usage of touchover I see in the project.

Searching the project for `touch[a-z]+:` yielded usages in CoinTermCreatorNode and SimpleDragHandler. Should we fix those? I kinda don't think so without a way to test them.

For Ratio and Proportion cherry picking I believe this is the set that will need to go into 1.0-rc.3.
https://github.com/phetsims/scenery/commit/70

[2021-02-23 16:29] #715 closed

[2021-02-23 18:40] zepumph commented on #795
This was reviewed in https://github.com/phetsims/scenery/issues/832, and the rest of the work is in side issues. Closing

[2021-02-23 18:40] #795 closed

[2021-02-23 18:43] zepumph commented on #819
Ok https://github.com/phetsims/scenery/issues/873 is taken care of. @jonathanolson will you look at how we implement "association" attributes. Do you have any recommendations on improvements. My main concern is how many non-factored-out lines of code are needed for each one (ariaLabelledbyAssociations and ariaDescribedbyAssociations).

Ready for review.

[2021-02-23 19:48] zepumph commented on #814
Looks like https://github.com/phetsims/scenery/issues/832 covered this review. Closing

[2021-02-23 19:48] #814 closed

[2021-02-23 23:56] zepumph opened #1163 "Performance improvements for the PDOM"
Over in https://github.com/phetsims/ratio-and-proportion/issues/356, @jessegreenberg and I found a couple of places where we could improve scenery's performance as it pertains to the PDOM. Mostly this has to do with the frequency and quality of HTMLElement manipulation. Here is the list we came up to try out and see if performance improves. I was also thinking that potentially we could make some e

[2021-02-24 19:35] jonathanolson commented on #819
If a deep review is desired, it would be very helpful to get back up to speed here (could we discuss on a call if desired then?)

We could definitely create an abstraction for either an array/operation where array contents are changed, that can report out removals, additions, etc.

[2021-02-24 20:26] jessegreenberg commented on #1156
Hmm, Im not sure. I think all of those cases involve touch snag. I am seeing the same thing in DragListener, with specific behavior on `touchEnter` and `touchMove`. Should pen input initiate touch snag in these cases if we are considering pen and touch to both be "touch like"? @jonathanolson what do you think?

[2021-02-24 21:15] jonathanolson commented on #1156
Touch areas seem like a different feature than touch-snag. I think this is a good question for the designers.

[2021-02-24 21:43] jessegreenberg commented on #1148
This is working well!

Agreed!

While playing with ?showPointers I couldn't find a case where it was off center. But I do see how it remains static if the focused node changes. One way to handle this could be to use TransformTracker, and add/remove listeners to it on focus/blur that update the Pointer.point and call `updatePoint` in PointerOverlay.

This issue is nearly resolved and I checked this

[2021-02-24 21:45] jessegreenberg commented on #1156
@arouinfar do you have any thoughts about this, should touch-snag happen when using a pen/stylus?

[2021-02-24 21:49] arouinfar commented on #1156
A stylus isn't an officially supported device or something we QA test on. I don't have an opinion about whether it should have touch-snag or not. My recommendation would be to do whatever requires the least amount of dev time/effort.

[2021-02-24 22:26] jessegreenberg commented on #1053
This looks really nice @zepumph, thanks! I combed through the changes as call sites and they all look correct.  I only added some documentation to `getKeyDef` since it is used a fair amount throughout the project (and will probably continue to be). I think this can be closed.

[2021-02-24 22:43] zepumph commented on #1053
I do not think this is done yet. We need to refactor out keyboard help dialogs to become translatable, other wise we will not support i18n with keyboard nav.

[2021-02-24 23:00] jessegreenberg commented on #1053
Sorry, I thought that was a note for the future! Can you summarize what needs to be changed for i18n of dialogs now?

[2021-02-24 23:58] jessegreenberg commented on #1156
OK sounds good, between @arouinfar and @jonathanolson comments I think that means the answer to

is that we should not change these.

@jonathanolson reassigning back to you to review changes to SimpleDragHandler and ClosestDragListener (from https://github.com/phetsims/scenery/issues/1156#issuecomment-780217512)

[2021-02-25 19:01] zepumph commented on #1116
Today in PhET-iO meeting we decided that `inputEnabledProperty` is acceptable. We will not rename. I'll change the name of the issue.

[2021-02-25 19:32] zepumph commented on #1150
Note that @jonathanolson and I looked at some pickable usages in our project over in https://github.com/phetsims/scenery/issues/1116 trying to find spots that should be using Node.inputEnabledProperty instead. Here are our notes:

[2021-02-25 19:55] pixelzoom commented on #1150
2/25/21 dev meeting:

@jonathanolson summarized how pickable works.  He mentioned the possibility that pickable could be converted to a `boolean`.   But we'd need to do some work to set `pickable: false` for things that are currently `pickable: null`.

@jbphet preferred leaving things the way they are, based on the work that would be required. Wondered if that's naive.

Consensus:
* leave pickable

[2021-02-25 20:38] jessegreenberg commented on #913
Great to have this in scenery. Usages look great. Closing

[2021-02-25 20:38] #913 closed

[2021-02-25 21:21] jessegreenberg commented on #1103
OK sounds good,  applied the same strategy for `equalsValue`. Anything else for this issue?

[2021-02-26 00:16] zepumph commented on #1116
I was able to add PhET-iO instrumentation to inputEnabledProperty above. This was quite easy, and nice to be able to use the factored out unit tests already built for the others.

This can be exercised by adding a line of code like so. I tested in studio and couldn't adjust any of the children of the CannonNode container.

[code]

[2021-02-26 00:50] zepumph opened #1164 "Show cursor 'pointer' on inputEnabled:false Node?"
I feel like I found a scenery bug while working on https://github.com/phetsims/scenery/issues/1116.

Basically I converted a usage of setting pickable:false to instead set inputEnabledFalse. In this particular case it was for States of Matter. When I make GrabbableParticleNode inputEnabled:false, it still has a pointer cursor when I hover over it. But if I set it to pickable:false, then it doesn't

[2021-02-26 01:37] zepumph commented on #1116
I converted all usages of pickablePropertyPhetioInstrumented to inputEnabledPropertyPhetioInstrumented, and ran into https://github.com/phetsims/scenery/issues/1164. It blocks me from feeling totally confident doing the conversion, and removing pickableProperty instrumentation. That will be for https://github.com/phetsims/scenery/issues/1158 though. I'll mark it there.

[2021-02-26 01:39] zepumph commented on #1158
Node.inputEnabledProperty is not optionally instrumentable. So this issue is no longer on hold for https://github.com/phetsims/scenery/issues/1116, but I ran into https://github.com/phetsims/scenery/issues/1164, and I don't want to continue on this until that is solved.

[2021-02-26 01:39] zepumph commented on #1164
This is blocking https://github.com/phetsims/scenery/issues/1158.

[2021-02-26 02:03] zepumph commented on #1158
Some points for this issue as a list:
- [ ] Uninstrument pickableProperty from Node
- [ ] Convert all usages of pickablePropertyPhetioInstrumented to -> inputEnabledPropertyPhetioInstrumented
- [ ] Part of this work should be to look through instrumented usages of pickableProperty and make sure that we are now setting inputEnabled instead. This is from https://github.com/phetsims/scenery/issues/11

[2021-02-26 02:08] zepumph commented on #1116
I went ahead with this here because I didn't see https://github.com/phetsims/scenery/issues/1164 when using the sun/scenery-phet demos.

In this issue I added the PhET-iO instrumentation for inputEnabled, and made sun's enabledProperty listener run on it.

@samreid will you please review this, and note that the majority of pickableProperty clean up will be covered by https://github.com/phetsims/sc

[2021-02-26 02:30] zepumph commented on #1158
We decided we didn't want to publish another PhET-iO simulation with pickableProperty, and instead want to use inputEnabled now. Marking as blocking.

[2021-02-26 03:39] #1161 closed

[2021-02-26 03:53] zepumph commented on #1148
My preference would be to do nothing here. Will you tell me if you would rather add this? Otherwise close.

[2021-02-26 13:04] samreid commented on #1093
@zepumph was this addressed as part of https://github.com/phetsims/scenery/issues/1131 ? Can this be closed?

[2021-02-26 13:41] samreid commented on #1116
I reviewed the commit in Node.js and it nicely matched up with the prior instrumentation we had for `enabledProperty`.  I tested the cannon with studio, and it worked as expected.  Closing.

[2021-02-26 16:10] jonathanolson commented on #1164
I can't think of an explanation for why the code was the way it was. Your patch clearly makes more logical sense to me. Applied above.

[2021-02-26 16:33] zepumph commented on #1093
Yes that's great.

[2021-02-26 16:33] #1093 closed

[2021-02-26 17:25] jonathanolson commented on #1156
The changes above look good.

I'm fine without a lint rule here, but @zepumph what do you think?

[2021-02-26 17:40] zepumph commented on #1156
Recently @arouinfar said we don't support pen, and with that in mind, we likely won't devote many resources to testing on Pen. Any small thing we can do to improve Pen experience without incurring more cost sounds like a win to me.  Is the above commit ok with you? Feel free to close.

[2021-02-26 17:55] zepumph commented on #1116
I believe that https://github.com/phetsims/sun/commit/1af3a31be1d4807550570e4a157c6f42d8e328cc has caused a large number of problems in our PressListeners. When something is made disable, we may not get exit events on the Pointer to update overPointers. @jonathanolson and I will work on improving inputEnabled as our pickable replacement. In the mean time I'll revert the commit.

[2021-02-26 18:00] arouinfar commented on #1156
Agreed!

[2021-02-26 18:09] jbphet commented on #1021
I ran into this in phetsims/projectile-motion#255, and I agree that this seems pretty fragile.  A more robust solution would be nice.

[2021-02-26 18:21] jonathanolson commented on #1021
I'm going to be brainstorming a potentially better approach for tracking "over" pointers to nodes... I agree the whole system to this sounds fragile.

Many systems might include a performance hit if implemented (but given our validatePointers overhead, maybe some would be better).

[2021-02-26 18:22] jonathanolson commented on #1156
The commit looks good, closing!

[2021-02-26 18:22] #1156 closed

[2021-02-26 18:24] zepumph commented on #1116
@jonathanolson and I discussed this briefly. In short, `inputEnabled` will not work at all for this. The reason is that something like PressListener has complex features, some of which we still want in the background, even when disabled (like tracking over pointers), and others that we never want to fire (like press/drag/touch snag). Thus we need more granularity.

My guess is that this was genera

[2021-02-26 22:56] jonathanolson commented on #765
I believe I've handled that above. They extended two different supertypes, so I had to use a mixin (but that allowed common behavior on the clean methods, and made some things clearer).

Can you review?

[2021-02-26 23:05] jonathanolson commented on #617
Sounds great.

It does now (in master).

Looks great, closing. Thanks!

[2021-02-26 23:05] #617 closed

[2021-03-01 21:34] zepumph commented on #1116
@jonathanolson and I discussed this issue today, and he brought up some another proposal:

Make over-pointers a more general scenery feature, instead of being baked into PressListener. We discussed making this separate from scenery Input.js support, but we also discussed factoring out that logic from PressListener, and composed by PressListener and whatever else needs to track over pointers.

Both

[2021-03-01 21:36] zepumph commented on #1021
https://github.com/phetsims/scenery/issues/1116#issuecomment-788312270 brought up two potential discussions for solving this further:

1. Create a fully general system for over pointers that is outside of input.js and baked into Node. @jonathanolson is worried about performance (since it will be on every Node), and also about DAG support. Would this be opt in, or for every node?
2. Factoring out o

[2021-03-01 22:24] zepumph commented on #1164
Thanks!

[2021-03-02 18:22] samreid commented on #1129
After @zepumph's changes, I only saw one remaining case.  I corrected it, closing.

[2021-03-02 18:22] #1129 closed

[2021-03-02 20:27] zepumph opened #1165 "Bug in ParallelDOM.setPDOMAttribute"
These lines would likely have a bug if the previous attribute had different options from the first.

https://github.com/phetsims/scenery/blob/01db4ad70994eb1af235045f2e9aa3abdbbfad68/js/accessibility/pdom/ParallelDOM.js#L2341-L2357

Instead we should just remove it.

For this issue:

* Create a failing test case
* Apply this patch?

[code]

[2021-03-03 02:30] pixelzoom opened #1166 "Support phetioDocumentation for input listeners"
In molecule-polarity, TriatomicMoleculeNode has 5 DragListeners, each of which manipulates some aspect of a complicated molecule.  Because DragListener is not a PhetioObject, it's currently not possible to add `phetioDocumentation` to describe these listeners.

Here's what the TriatomicMoleculeNode looks like. All of the atoms and bonds are individually draggable.

<img width="404" alt="screenshot

[2021-03-03 02:47] samreid commented on #1166
Some options:

(a) Make `PressListener` extend PhetioObject so it and its subclasses can be instrumented.  This would mean instrumenting something only for the sake of `phetioDocumentation`, and may be confusing why it is documented.
(b) Pass through `phetioDocumentation` and possibly other options to the children.  Or add a `phetioDocumentationPattern` that is used to fill in child documentation.

[2021-03-03 20:00] zepumph opened #1167 "DisplayedProperty should support displaying through PDOM tree too"
Discovered while working on https://github.com/phetsims/tambo/issues/131. @jonathanolson and I see a bug in DisplayedProperty where if a Node is displayed through the PDOM (through pdomOrder), but is hidden through the main instance tree, then DisplayedProperty won't be correct. I wrote some unit tests for this over in https://github.com/phetsims/tambo/issues/131 but couldn't get it running. For n

[2021-03-03 20:07] zepumph commented on #1167
@jonathanolson, can you please comment back in each line linked to this issue (4 total), and note the failing test. I can't really see what is going on. Can you give guidance, or perhaps we can debug together so that I could gain some tools for debugging instance/pdomInstance trees.

[2021-03-03 23:18] jonathanolson commented on #1167
Checking a few debugging bits. The relevant pdom instance on aNode has invisibleCount=1, so it's set its peer to invisible and is showing up as NOT visible due to that.

[2021-03-03 23:21] jonathanolson commented on #1167
The code seems to explicitly count something as invisible if its normal trail has an invisible node, so the test seems correct.

[2021-03-03 23:52] jessegreenberg commented on #1148
That sounds good to me! I felt the same way as I was typing out https://github.com/phetsims/scenery/issues/1148#issuecomment-785404734. This will be nice to have, thanks @zepumph.

[2021-03-03 23:52] #1148 closed

[2021-03-04 00:44] zepumph commented on #1167
Gotcha. Thanks! Then the work we did this morning will never work to expose a Node that is displayed in the PDOM but not visible in the instance tree. Perhaps that isn't possible? I don't know. I'll need to think about this more.

[2021-03-04 01:01] pixelzoom commented on #1116
I know that this is a prerequisite for Graphing Quadratics phetsims/graphing-quadratics#144, and I suspect that there's already been some work done here.  And this is a pre-requisite to https://github.com/phetsims/scenery/issues/1158, which is labeled "blocks-publications".  So I'm going to label this as "blocks-publication".

[2021-03-04 01:41] zepumph commented on #1116
The algorithm @jonathanolson and I spoke about went really well! I still feel like committing it is a bit above my pay grade, but I have a patch that I would love a preliminary review on before commit, including one minor TODO in it.

<details>

[code]

</details>

I tested it by adding this code in Checkbox:
[code]

I was able to toggle `window.listener.disabledInputOptIn`, `window.checkbox.input

[2021-03-04 02:15] zepumph commented on #1116
I'm going to take this back. I forgot and didn't do any work in PressListener. That would be the best place to test this is working.

[2021-03-04 02:54] jonathanolson commented on #1116
No worries!

- currentTarget can be null for Display listeners (the existing docs were wrong)
- It looks like it will bubble up to the lastInputEnabled point. We probably want to avoid that, and just fire on the leaf-most.
- target.getInputListeners() makes a copy that we can modify, so we don't need to create another array
- While bubbling, nodeInputDisabled will presumably need to go from "true/

[2021-03-04 17:03] zepumph commented on #1107
This is now being discussed over in https://github.com/phetsims/axon/issues/343.

[2021-03-04 22:41] zepumph commented on #1103
Looks really great. Thanks!

[2021-03-04 22:41] #1103 closed

[2021-03-04 22:51] zepumph commented on #1116
If you have a checkbox where the Checkbox is toggling `inputEnabled`, but it has nested children that get the hit test (like some checkmark or something that is `pickable:null`), then you would still want that to bubble up to the Checkbox (which is inputEnabled:false) so that it could update the over pointers since the `Checkbox` is the Node with a PressListener on it. Right?

[2021-03-04 23:44] zepumph commented on #1116
Oh, I see, when bubbles is false. Yes, I now see how `Input.enterEvents` works. I will update it to only hit the leaf most Node. That would be a behavior change though in general. Now when bubbling you used to hit only the leaf most inputEnabled Node, and now you will hit the leaf -most Node no matter what. How do we regression test on that? Do you have any spots that you would expect that to effe

[2021-03-04 23:47] zepumph commented on #1116
This patch was working well with a light fuzz in acid-base-solutions. Let's discuss together tomorrow.

<details>

[code]

[2021-03-05 00:20] zepumph opened #1168 "Add KeyStateTracker.enabled"
From https://github.com/phetsims/phet-io/issues/995

[2021-03-05 00:41] zepumph opened #1169 "Minor KeyStateTracker bugs"
Found while working on https://github.com/phetsims/scenery/issues/1168

[2021-03-05 00:46] zepumph commented on #1169
@jessegreenberg please review and feel free to close.

[2021-03-05 00:46] zepumph commented on #1168
Enabled added above, plus tests. I'll set it in Sim.activeProperty back over in https://github.com/phetsims/phet-io/issues/995. @jessegreenberg please review.

[2021-03-05 01:25] zepumph commented on #1053
You are totally right, after creating https://github.com/phetsims/joist/issues/696, I realized just how shallow it was to think I could tack that on here. Closing

[2021-03-05 02:09] pixelzoom opened #1170 "Replace setVisible overrides with visibleProperty listeners"
A common performance technique is to ignore updates when your Node is invisible, then do the update when it becomes visible.  A reliable way to accomplish that was to override `setVisible` - whenever visibility change, `setVisible` was called.  It appears that is no longer the case.  If I provide `options.visibleProperty` to my Node (a pattern that is now being encouraged in PhET-iO), `setVisible`

[2021-03-05 04:01] zepumph commented on #1170
@jonathanolson, perhaps we can discuss at our meeting tomorrow.

[2021-03-05 18:16] zepumph commented on #819
@jonathanolson and I met and reviewed what is currently in ParallelDOM and PDOMPeer, and we also noted that we have activeDescendantAssociations too (so three association objects).

[2021-03-05 18:26] jonathanolson commented on #1170
I'll handle this. Planning to convert them to listeners, since we're never overriding the actual behavior, but instead just executing code AFTER the change.

[2021-03-05 18:44] pixelzoom commented on #1170
I wasn't part of the discussion, but it sounds like you've decided that it's preferrable to change the behavior of `setVisible`, and convert to visibleProperty listeners.  I'm not happy about that decision, because of the amount of work that it's going to create for me (see below), but I'll defer to your decision.

First, I think a comment should be added to Node `setVisible` immediate, stating th

[2021-03-05 18:54] pixelzoom commented on #1170
@jonathanolson said:

That assumes that the overrides are doing work AFTER calling `super.setVisible`, and nothing needs to be done before visibility changes.  I've inspected all of the overrides, and thankfully this is true. They are all calling `super.setVisible` before doing additional work. So for these conversions, there is no additional work that needs to be done before visiblity changes, an

[2021-03-05 19:28] zepumph commented on #1116
@jonathanolson and I discussed this further, and have come up with a new plan. We will get rid of the inputDisabled opt in for use in PressListener and instead fix a bug in dispatchToTargets and work on branchChangeEvents respecting changes in inputEnabled.

Here are my notes:

[code]

[2021-03-05 19:54] pixelzoom commented on #1170
@samreid In https://github.com/phetsims/circuit-construction-kit-common/commit/74fcca5c3581915471393abd2c6949071ffb86fd I converted CustomLightBulbNode from setVisible override to visibleProperty listener. I tested in CCK-AC, but I don't know if my testing was sufficient because I'm not familair with the CCK suite.  Please review.

[2021-03-05 20:01] pixelzoom commented on #1170
@samreid @jessegreenberg I converted EFieldNode 35c5e85 and PlateChargeNode e47acde from setVisible overrides to visibleProperty listeners.  They are used solely in CCK suite and Capacitor Lab: Basics.  I tested in CCK:AC and Capactor Lab: Basics, but I don't know if my testing was sufficient because I'm not familair with these sims.  Please review and test my changes.

[2021-03-05 20:03] pixelzoom commented on #1170
@jonathanolson I've done all of the conversions that I could locate, so I'm labeling this issue as "ready-for-review" by @samreid and @jessegreenberg.  If there's nothing else that needs to be done, you can unassign yourself after verifying that I didn't miss any `setVisible` overrides.

[2021-03-05 20:15] zepumph commented on #855
Greenhouse has a lot of headings, marking off hold.

[2021-03-05 20:16] zepumph commented on #867
I want to support this fully this year. Marking high priority.

[2021-03-05 22:19] zepumph commented on #1170
@pixelzoom,

@jonathanolson and I discussed this issue this morning as part of a previously scheduled meeting. Though the direct api refactor from overriding `setVisible` could be achieved by overriding `Node.onVisiblePropertyChange` with the exact logic that was in your `setVisible` overrides, we felt like using the listener pattern was preferred to exposing `onVisiblePropertyChange` (currently p

[2021-03-05 22:54] jonathanolson commented on #1170
This looks good. A few questions:

- I was going to be using lazyLink, so that changes weren't run immediately. Presumably it's safe and better to link in every case?
- I can't verify https://github.com/phetsims/graphing-quadratics/commit/6c012e8d5f76ede83610da1a75d3de4dd044ed58 by looking at it.

@pixelzoom thoughts on those two? Thank you for doing this conversion, it seems like they put the cod

[2021-03-05 23:09] zepumph commented on #1116
The main list of work to be done:

1. buggy lastInputEnabled bug in dispatchToTargets
2. branchChange exit/enter caring about inputEnabled changes
3  support listeners want to call in iinput disabled Nodes

@jonathanolson and I found that the reason why we needed to revert https://github.com/phetsims/sun/commit/1af3a31be1d4807550570e4a157c6f42d8e328cc
 was in part due to a bug about how `bubbles=f

[2021-03-06 02:06] zepumph commented on #1116
Here is a working patch that fixes (2) from https://github.com/phetsims/scenery/issues/1116#issuecomment-791780802. @jonathanolson please take a look and note that you can easily check that this is working with the solvent checkbox on the first screen of acid base solutions. Hover over it with a mouse while inputEnabled is toggled, and the behavior is working as expected.

This is some of the leas

[2021-03-06 16:11] pixelzoom commented on #1170
Unless there's a significant performance difference, I generally use `link`, so that I'm not relying on instantiation being in the proper initial state.  I used that approach here with `visibleProperty.link`.  If you'd prefer to change to `lazyLink` in any common code, go for it.

In  phetsims/graphing-quadratics@6c012e8, I decided (as the commit message says) to forgo the visibleProperty lister,

[2021-03-06 16:16] pixelzoom commented on #1170
Above I said:

No one has done that, so I've added it in https://github.com/phetsims/scenery/commit/90d2b7380a66383c29fa7cf6f7baed3b4a3130f5. @jonathanolson please review and feel free to change it.

[2021-03-06 20:55] samreid commented on #1170
I reviewed the code changes for EFieldNode, PlateChargeNode and CCK, they all seemed nice, thanks!

[2021-03-09 21:02] zepumph commented on #1116
https://github.com/phetsims/scenery/commit/5a698c4184906bd69a02077761524a3e62f9ab45#diff-42aac6ad598ab1822928017b31a3547e131bdab5b3a43fa58053e8bb4c4e3abaR1869 had a bug that @jessegreenberg and I found while looking at https://github.com/phetsims/studio/issues/106. @jonathanolson note that we have to still look up the trail to determine inputEnabled (duh michael).

- [ ] Before this issue is close

[2021-03-09 23:44] jessegreenberg commented on #1169
Very nice, thanks!

[2021-03-09 23:44] #1169 closed

[2021-03-09 23:58] jessegreenberg commented on #1116
@zepumph I am not sure why yet but I think https://github.com/phetsims/scenery/commit/3f7946d2482eaa4f5d923cde12e00c1ee8660ba2 has broken some input. I can't interact with some things in the sims (sliders in ohms-law, checkboxes/sliders in capacitor-lab-basics, for example) but they work again after reverting that commit.

[2021-03-10 00:15] jessegreenberg commented on #1116
One potential issue could be that `getLastInputEnabledIndex` returns length of Trail.nodes - 1 if all Nodes have inputEnabled true. So leaf most Node would always be skipped.

But that doesn't account for the issues I am seeing in CL:B Checkboxes where the listener is not on the leaf most Node, something else is going on.

[2021-03-10 00:22] pixelzoom commented on #1170
I'm going to go ahead and close this. All work is done.

@jonathanolson's questions have been answered in https://github.com/phetsims/scenery/issues/1170#issuecomment-791979685, read at your leisure. If you think something needs to be done, reopen this issue.

[2021-03-10 00:22] #1170 closed

[2021-03-10 00:24] pixelzoom commented on #1116
I just did a pull-all.sh, and I'm seeing brokeness in all sims.  For example, none of the checkboxes, radio buttons, or push buttons work in Natural Selection.

[2021-03-10 00:33] samreid commented on #1116
I confirmed that reverting 3f7946d2482eaa4f5d923cde12e00c1ee8660ba2 fixes inputs.

[2021-03-10 00:35] samreid commented on #1116
I pushed a revert for now, but @zepumph and @jessegreenberg should comment and proceed as appropriate.

[2021-03-10 20:10] jonathanolson commented on #1116
It seems like for https://github.com/phetsims/scenery/commit/3f7946d2482eaa4f5d923cde12e00c1ee8660ba2, the conditional is reversed (we'd want `i <= inputEnabledIndex`).

For the rest of the changes in https://github.com/phetsims/scenery/issues/1116#issuecomment-791839658, presumably we could branch scenery, both to inspect changes there, and also to test?

[2021-03-10 23:29] jessegreenberg commented on #1168
This looks great, thanks @zepumph.

[2021-03-10 23:48] jessegreenberg commented on #1168
Actually, reviewing https://github.com/phetsims/phet-io/issues/995 made me wonder if we need to broadcast an event when we clear the keystate. Most listeners on the globalKeyStateTracker are attached to keyup so this isn't a problem in sims. But imagine a listener is on keydown and they sim became inactive while keys are down. When becoming active components wouldn't get the message that the keyst

[2021-03-10 23:49] jessegreenberg commented on #1168
Actually, this applies more generally to KeyStateTracker.clearState, im going to create a new issue and re-close this one.

[2021-03-10 23:49] #1168 closed

[2021-03-10 23:53] jessegreenberg opened #1171 "KeyStateTracker.clearState doesn't emit or notify observables"
While reviewing https://github.com/phetsims/scenery/issues/1168

keyupEmitter and keydownEmitter emit with a DOMEvent, so we can't use those. Maybe the keyState should be a public observable or something. @zepumph assigning to you if you have thoughts or we could work on this during a dev meeting.

Lets discuss how to handle at a11y-dev meeting.

[2021-03-11 00:07] zepumph commented on #1171
From a design perspective. I would try to model this off of PressListener. It has a press, which requires an event to be called, but it also has a release which only takes an optional event. This is because `PressListener.interrupt()` can call release without an event.

What about this patch? What more would need to be done to communicate to api users the keyupEmitter can have a null event?

(unte

[2021-03-11 00:33] zepumph commented on #1116
Yes, I'm sorry. I changed the inequality right before commit and didn't commit. This is what @jessegreenberg and I tested, and what was working.

[code]

[2021-03-11 00:33] zepumph commented on #1116
Yes, but the opposite to `continue;` (therefore not calling listeners)

[2021-03-11 16:24] jonathanolson commented on #975
Both of these look great! I'm going to assign myself to look for any more cases where this could be used. Thanks.

[2021-03-11 16:35] jonathanolson commented on #1018
Option 2 sounds good, if that's still something that's desired!

[2021-03-11 19:50] zepumph commented on #1116
For this issue, I think we may be done when we do two things:

* Apply the patch in https://github.com/phetsims/scenery/issues/1116#issuecomment-791839658
* Apply the patch in https://github.com/phetsims/scenery/issues/1116#issuecomment-796322866

I will need to discuss with @jonathanolson further though.

[2021-03-11 20:06] zepumph commented on #1116
I pushed commits to a new branch called `inputEnabled`.

Please:
* checkout the branch
* Apply this patch
[code]

Then there are two ways to test this in sims:

1. In Acid base solutions, open the first screen and note the enabled of the solvent checkbox toggling. Hover over it and play with it as it toggles, and see that it works well. (at least it did for me)
2. Open ratio and proportion in Stud

[2021-03-11 20:07] zepumph opened #1172 "branch: inputEnabled"
For https://github.com/phetsims/scenery/issues/1116

[2021-03-11 20:12] zepumph commented on #1158
At PhET-iO meeting today, we determined that Gravity and Orbits will not need to have pickableProperty removed. So we will just do this on master.

[2021-03-12 18:07] zepumph commented on #1116
@jonathanolson and I met this morning, and basically my above code is really verbose and sloppy. We can rethink this issue by saying that branchChangeEvents should only care about inputEnabled trails, so we don't need to run exit/enter events both both the full trail and the inputEnabled trail differences, but rather just the inputEnabled ones.

While working on this we realized that scenery event

[2021-03-12 19:38] zepumph commented on #1153
@pixelzoom, I'm sorry to bring this back up, @jonathanolson and I just found this while working on https://github.com/phetsims/scenery/issues/1116. Unfortunately I didn't think through this completely. LayoutBox lives in scenery, so it cannot use sun/ code in it.

We either need to move this logic into scenery, or come up with a new strategy. I'll think about it.

[2021-03-12 19:59] zepumph opened #1173 "enabledAppearanceStrategy will blow away these options set by client"
@jonathanolson and I ran into this in #1116 where we were surprised that this code happened:

[code]

This is because of this line of code:

https://github.com/phetsims/scenery/blob/22855495632159de64bcefd5f1b3a753ca4b20bb/js/nodes/LayoutBox.js#L113-L115

This `link` blows away our options mutation. I think this is expected, but it sure seems like a bummer.

[2021-03-12 20:06] zepumph commented on #1173
If we want to set opacity on a LayoutBox, then this is how we need to set it currently:

[code]

Questions to consider
* Do we only care about this because LayoutBox is different from out other, more sun-like enabled-controlled components (like Slider).
* Should we completely reconsider how we support enabledAppearanceStrategy, doing something less rigid.
* Is anyone else bothered by the above?

M

[2021-03-12 20:11] zepumph opened #1174 "rewrite Trail.compare to use nodes instead of indices"
Promoting TODO to issue where we weren't reindexing before looking at indices. @jonathanolson said it would be better to upconvert to look directly at Nodes anyways.

[2021-03-12 22:13] zepumph opened #1175 "enabledProperty should run on inputEnabled instead of pickable"
With #1116 now complete, such that inputEnabled supports dynamic toggling with proper enter/exit events with scenery input, we are ready to flip the switch in our enabledAppearanceStrategies. There are two spots for this:

`SunConstants.componentEnabledListener` and in ButtonNode's default `enabledAppearanceStrategy` option.

[2021-03-12 22:14] zepumph commented on #1172
merged to master

[2021-03-12 22:14] #1172 closed

[2021-03-12 22:16] zepumph commented on #1116
@jonathanolson and I worked on this today, and felt good enough to commit to master. Snapshot comparison did not show any differences in all phetsims, and we messaged slack to be on the look out. Swapping enabled logic will happen in https://github.com/phetsims/scenery/issues/1175. We also created a couple of other side issues to investigate along the way. I think we are ready for review and clean

[2021-03-12 22:31] zepumph commented on #1175
@jonathanolson and I used the snapshot comparison tool and compared master (including all the changes from the end of #1116) with this patch:

[code]

There were a good number of cases that changed (yay! the tool works). They seem to all be reasonable and acceptable improvements, and not regressions. I'll explain each one:

* StopwatchNode's reset button used to be set to pickable:false, which mea

[2021-03-12 22:38] zepumph commented on #1175
@jonathanolson, can you think of why friction would be showing these differences? Also please review in general.

[2021-03-12 22:53] zepumph commented on #1116
I just went through this whole issue and cleaned up loose ends. Pretty much the majority of the committing occurred in the first commit (to add inputEnabledProperty as an optionally instrumented Property), and at the end, to support enter/exit events properly occurring on inputEnabled/Disabled Nodes, both while toggling inputEnabled, and in general.

@jonathanolson, I'm not sure how this issue sho

[2021-03-12 22:54] zepumph commented on #1158
Now that #1116 and https://github.com/phetsims/scenery/issues/1175 have been committed to, we can mark this off hold.

[2021-03-12 23:32] zepumph commented on #1021
@jonathanolson, has our work in branchChangeEvents helped to fix this problem? Now we get exit events when things are turned inputEnabled:false (so also enabled:false). Should branchChangeEvents support firing exit events in other cases too?

[2021-03-16 18:39] jbphet opened #1176 "branch: pointersValidOnRelease"
This branch is being used to explore whether we can keep pointer and trail information in press listeners valid until the very end of an `onRelease` event, see https://github.com/phetsims/joist/issues/689.

[2021-03-16 20:46] samreid opened #1177 "Only check the `pointer.isAttached` if the listener wants to `attach`"
From discussion in https://github.com/phetsims/scenery-phet/issues/659, we would like to guard the `pointer.isAttached` check like so in DragListener:

[code]

This would be a disruptive change that requires testing (like a pixel comparison fuzz test).

@jonathanolson can you please take a look?

[2021-03-17 15:40] jessegreenberg opened #1178 "Create another Overlay for Voicing highlights"
For the Voicing feature, we need highlights that appear separately from focus highlights. These highlights will indicate what is being spoken, what is interactive under the mouse pointer, and what elements have voicing content. We currently have a FocusOverlay and I would like to do something similar. I was trying out something that might work but don't have time to commit to it now.

<details>

[

[2021-03-17 18:11] pixelzoom commented on #1177
The above patch in my working copy is not behaving as desired.  In Gas Properties, turn on both the Stopwatch and Collision Counter.  Drag the Stopwatch around, passing it over the Collision Counter.  Eventually, it will cause the Collision Counter to move to the front, because touchSnag is getting triggered.

[2021-03-17 18:44] pixelzoom commented on #1177
Discussed with @jonathanolson via Zoom.  For the undesirable behavior in Gas Properties, we decided that the approach of having 2 DragListeners in StopwatchNode was the problem.  We changed one of these to a `{ down: ... }` listener to avoid the problem, and it seems to be working nicely.

@jonathanolson would like this issue to remain open to investigate the improvement suggested in https://githu

[2021-03-17 21:42] jessegreenberg opened #1179 "CanvasBlock.walkDown can break with transparent Nodes that are out of view"
The browser throws an error

I found this in https://github.com/phetsims/rutherford-scattering/issues/169. To produce the bug, use rutherford-scattering with ?supportsPanAndZoom=true and zoom into the RutherfordAtomScreenView while the "Atomic Scale" radio button is selected. The icon for the "Nuclear Scale" radio button uses a CanvasNode and is semi-transparent when not selected.

<details>

![im

[2021-03-17 22:13] jessegreenberg commented on #698
This was all very nice. I reviewed Node.js again for anything that might have crept in. I saw two that I am going to move to ParallelDOM.
```focusHighlightChangedEmitter```
```pdomDisplaysEmitter```

[2021-03-17 22:20] zepumph commented on #1158
Questions for the future:
* Should we be able to pass in a pickableProperty, even though it will never be PhET-iO instrumented? That isn't currently supported in Node by anything (in other words: the only TinyForwardingProperties are those which support PhET-iO instumentation). For example, you can't pass in a Property to be a Node's opacityProperty. So should pickableProperty be converted back (d

[2021-03-17 22:21] #698 closed

[2021-03-17 23:20] pixelzoom opened #1180 "Node set*Property doesn't work with a DerivedProperty"
I ran into this while instrumenting Graphing Quadratics...

Node options `visibleProperty` and `setVisibleProperty` are documented as taking a value of type `{TinyProperty.<boolean>|Property.<boolean>|null}`.   Nothing here about it needing to be settable, no comments, no assertion. So I expect it to work with `DerivedProperty`, which is a subclass of `Property`.  But pass in a DerivedProperty and

[2021-03-17 23:25] pixelzoom opened #1181 "Add option phetioVisiblePropertyInstrumented to Node?"
Because of #1180, I find that I'm having to do this quite a bit when visibility is derived:

[code]

… 14 times in Graphing Quadratics, 10 times in Natural Selection, … 51 occurrences in all PhET code.

Now that I’ve been introduced to inputEnabledPropertyPhetioInstrumented, maybe there's a better way.  Looking in Node, I see:

[code]

So there is an option for all settable Properties _except_ vis

[2021-03-17 23:27] jonathanolson commented on #1181
Those flags seem like they're for whether it's instrumented at all, but not whether it's read-only. I'd defer to @zepumph on this.

[2021-03-17 23:45] zepumph commented on #1181
every instrumented Node gets an instrumented visibleProperty, the option like `inputEnabledPropertyPhetioInstrumented` is only for Properties that are "opt in".

[2021-03-17 23:47] pixelzoom commented on #1180
Slack:

Jonathan Olson  5:30 PM
Allowing Node options visibleProperty to be a DerivedProperty would remove a lot of the need to make visibleProperty read-only. I’m not sure why Node needs to be setting it’s visibleProperty - maybe to synchronize with its options.visible value?
5:30
I wasn't aware of that constraint
5:30
Presumably we could let the setVisible fail out if you've passed in a DerivedP

[2021-03-17 23:47] #1180 closed

[2021-03-18 00:00] zepumph commented on #1158
Initial work has been done. Co-assigning @arouinfar to review https://github.com/phetsims/phet-io-client-guides/commit/c96920e0c93a7bbbe5730ea5998f8245f6bb4146

From here I will watch CT and report issues. @samreid can you review, and discuss the questions above?

[2021-03-18 00:49] pixelzoom commented on #1181
Sorry if I'm being dense, but still not clear... "Opt in" for what? Instantiation? Instrumentation? Both?

[2021-03-18 06:17] jonathanolson commented on #1179
I don't have a touchscreen monitor, so I can't easily test (I'd need to find a different reproduction or tether an iphone), but I'd probably consider patching here:
[code]

This results from the entire CanvasBlock having zero width or height, and so the entire CanvasBlock should not be rendered (not just the topWrapper).

Thoughts on the patch/approach? FittedBlock.updateFit() is the one that can

[2021-03-18 06:17] jonathanolson commented on #1179
Oh, and very nice find and investigation, thank you!!

[2021-03-18 14:46] jessegreenberg commented on #924
This change looks nice, handleDocumentKeyDown is in a much better state. Furthermore, some of this code has since been removed.

Code relating to these questions has since been removed.

The remaining code simply prevents tabbing out of the Display when in fullscreen mode. I don't think that should be in Input.js, I would like to move it to Display. We now have globalKeyStateTracker too, it should

[2021-03-18 15:07] jessegreenberg commented on #924
I moved it to Display and changed to using gloablKeyStateTracker the above commit. I tested out in a couple of sims in FullScreen mode and verified it the workaround is still working as expected. @zepumph can you please review this change?

[2021-03-18 15:19] jessegreenberg commented on #1179
Thanks! That change works well and I committed it. I did a quick spot check of other CanvasNodes, they look correct. @jonathanolson is there anything else you would like to check here?

Also, if you want to test you should be able to pan and zoom with keyboard or trackpad without a touch screen.

[2021-03-18 15:21] jonathanolson commented on #1175
Review in general is good! I looked more into Friction, and I'm not precisely sure. Since it seems to be operating fine, I don't have enough concerns to continue diving into why there was a potential change.

Looks good, closing!

[2021-03-18 15:21] #1175 closed

[2021-03-18 15:25] jonathanolson commented on #1108
This is great, thanks!

[2021-03-18 15:25] #1108 closed

[2021-03-18 15:26] jessegreenberg opened #1182 "CT error: TrailPointer nested comparison and fowards/backwards failed:"
[code]

[2021-03-18 15:31] jessegreenberg commented on #1182
Looks like this is caused by a change from var to let in https://github.com/phetsims/chipper/issues/1020

[2021-03-18 15:35] jonathanolson commented on #884
This seems like a good approach, documentation and implementation look good. Thanks!

[2021-03-18 15:35] #884 closed

[2021-03-18 15:38] jessegreenberg commented on #1182
Fixed in the above commit.

[2021-03-18 15:38] #1182 closed

[2021-03-18 16:24] zepumph commented on #924
Looks really nice! Thank you for the refactor.

[2021-03-18 16:25] #924 closed

[2021-03-18 16:28] jonathanolson commented on #1179
Ahh, thanks for the tip! This looks good, thanks.

[2021-03-18 16:28] #1179 closed

[2021-03-18 17:41] zepumph commented on #1158
There are cases where instrumentation was relying on pickableProperty, like in

https://github.com/phetsims/ph-scale/blob/c7bfbd28343a7766dbab588074902178d65ddc09/js/common/view/graph/GraphIndicatorNode.js#L179-L184

@pixelzoom will want to review his sims to make sure these get changed also.

[2021-03-18 18:10] #1116 closed

[2021-03-18 18:16] jonathanolson opened #1183 "Creating a new Display errors out UtteranceQueue tandems in phet-io"
Steps to reproduce:

1. Go to molarity/molarity_en.html?brand=phet-io&phetioStandalone&ea&debugger (or probably most phet-io sims?)
2. Type `new phet.scenery.Display( new phet.scenery.Node() )` into the console.

Expected: no error (because creating Displays should be completely fine, we do it in some sims).

Actual:

It looks like multiple UtteranceQueues aren't handled well?

[2021-03-18 18:16] jonathanolson commented on #1183
NOTE: This is erroring out scenery brand=phet-io unit tests, but it's not yet showing in CT due to some other error.

[2021-03-18 18:25] arouinfar commented on #1158
@zepumph it looks like find/replace all worked for client guides. I read through https://github.com/phetsims/phet-io-client-guides/commit/c96920e0c93a7bbbe5730ea5998f8245f6bb4146 and everything looks really good. Since this isn't something we'll be cherry-picking into release branches, I don't think we'll need to make any further changes to client guides. Thanks for taking care of the edits! Not s

[2021-03-18 18:37] jessegreenberg commented on #1183
I am guessing this is happening because a second utteranceQueue was added for voicing.

[2021-03-18 18:44] jessegreenberg commented on #1183
I think that we need to update the default Tandem for UtteranceQueue to Tandem.OPTIONAL, then add each utteranceQueue get their own Tandem on the general view. Or maybe the voicing utteranceQueue should not have a Tandem right now. @zepumph that sound good/do you have a preference?

[2021-03-18 19:20] zepumph commented on #1173
Steps for this issue:

* Panel should support enabledProperty
* Apply this patch to move inputEnabled into the Node enabled handler, thus enabledAppearanceStrategies will actually just be about appearance (not input functionality)
* Go through our usages of enabledAppearanceStrategy and refactor to make sure that client options aren't overridden by enabledProperty changes. The main solution seems

[2021-03-18 19:31] jonathanolson commented on #1173
I feel like we should avoid conflicts for node attributes that would be overridden by handling enabled/disabled appearance. Any opacity or filter or other thing that the appearance would set should stack nicely with what the user sets on the component's Node.

The simplest way to do that would be by creating a single child (e.g. for opacity), or by applying things to each child. Having a filter wo

[2021-03-18 19:45] pixelzoom opened #1184 "Revise default phetioDocumentation for inputEnabledProperty"
From 3/18/21 Molecule Polarity design meeting, common-code doc for `inputEnabledProperty` needs to be revised.

[code]

@kathy suggested that the 2nd sentence can be deleted.  And the first sentence needs to be a complete sentence.   And we should be referring to "element" not "node".

Suggested change:

[code]

[2021-03-18 20:55] pixelzoom commented on #1158
Tracking in sim-specific issues, as linked above.

[2021-03-18 21:54] zepumph opened #1185 "Node's enabledProperty should toggle inputEnabled"
During https://github.com/phetsims/scenery/issues/1173#issuecomment-802222440 today during developer meeting, we decided that it made sense to move this "behavior" out of "enabledAppearanceStrategy" options and directly into `Node.onEnabledPropertyChange`.

It makes sense to me!

[2021-03-18 21:55] zepumph commented on #1173
about appearance (not input functionality)

I created https://github.com/phetsims/scenery/issues/1185 to do this.

[2021-03-19 01:34] zepumph commented on #1183
Yes that sounds like the right plan.

[2021-03-19 01:43] zepumph commented on #1184
Hows that?

[2021-03-19 16:13] pixelzoom commented on #1184
Looks OK to me. But I was the messenger.  @arouinfar and @kathy-phet should sign off.

[2021-03-19 16:15] pixelzoom commented on #1184
How's what? There's no commit tagged here, and (after pull-all.sh) I can't find the string anywhere in the codebase.

[2021-03-19 16:20] pixelzoom commented on #1184
In Node.js, I still see:

[code]

Did you commit to a branch by mistake?

[2021-03-19 16:22] pixelzoom commented on #1184
I went ahead and made the change myself in Node.js, see the above commit.

@arouinfar please review.  You can look at any of the `inputEnabledProperty` elements in Molecule Polarity master.

[2021-03-19 17:22] arouinfar commented on #1184
Looks good in master @pixelzoom. Not sure if there's anything left to figure out between @zepumph and @pixelzoom or if this can be closed.

[2021-03-19 17:33] jessegreenberg commented on #1183
I tried to do this, but I don't think this is the problem because there is no voicing in https://github.com/phetsims/scenery/issues/1183#issue-835116706. The real issue is that each instance of Display adds an `utteranceQueue` to the Tandem.GENERAL_VIEW. It is sort of like the the UtteranceQueue is not a singleton, but its tandem is treated as such. I think we have to move utteranceQueue off of GE

[2021-03-19 18:06] zepumph commented on #1183
I guess the best designed, general way forward is to pass a tandem to Display, and make it Tandem.OPTIONAL. We have never done this because PhET-iO just uses a single Display.

Because Display doesn't create `Input` on construction, we were able to sneak around this issue in https://github.com/phetsims/joist/blob/20740508e5420abf64693478a3b09ef162a56bc7/js/Sim.js#L685-L688, perhaps we can do the s

[2021-03-19 18:07] pixelzoom commented on #1184
@zepumph if there's nothing else to do here, please close.

[2021-03-19 18:37] zepumph commented on #1183
@samreid I think this issue is ready for you.

Problem: UtteranceQueue hard coded a tandem name under `general.view` such that multiple each accessible Display tried to create an utteranceQueue with the same phetioID.

Solution: Make Display get passed an optional tandem, which the utteranceQueue creates a subtandem from.

In general I think this is an improvement. My main worry is the inconsisten

[2021-03-19 18:42] zepumph commented on #1183
Oops, sorry, after a bit more testing, I made a minor change to opt out when the display is not accessible. This maintains the behavior before I committed https://github.com/phetsims/joist/commit/a749f3525a58575cdfd2cc911f25bd737edc0f6a.

[2021-03-19 22:17] jbphet commented on #1176
The changes made on this branch have been moved to master, and the branch as been deleted.  Details are in the issue linked in the description above.  Closing.

[2021-03-19 22:51] #1184 closed

[2021-03-22 16:40] samreid commented on #1183
I confirmed that the report about molarity in the top comment is working properly.

Regarding: https://github.com/phetsims/utterance-queue/commit/22363b14994d24a6ec684194b31bda39fec107d6, I recommend the `implementAsSkeleton` parameter be moved into options.

Everything else looks good, thanks!

[2021-03-23 16:19] pixelzoom opened #1186 "Input is not interrupted when pointer leaves a sim iframe"
In https://github.com/phetsims/molecule-polarity/issues/105 for phetsims/QA/issues/627, @phet-steele noted a problem related to being able to click Studio buttons while the sim was still in the middle of a drag sequence.

I noted other similar (general!) problems in https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-804460900.

In https://github.com/phetsims/molecule-polarity/is

[2021-03-23 16:28] pixelzoom commented on #1186
In https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-805040582, @jonathanolson said:

[2021-03-23 16:29] pixelzoom commented on #1186
In https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-805042670, @jonathanolson said:

Most of the items in https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-804460900 seem like actual bugs with how Scenery is handling things, rather than general problems that would result from allowing input from pointers that have gone outside of the iframe.

We SHOULD get

[2021-03-23 16:46] oliver-phet opened #1295 "User reported issue: PDOM visible, interfering with use"
![image](https://user-images.githubusercontent.com/5090275/112184526-e793b500-8bc4-11eb-94c5-eda781b97d70.png)

[2021-03-23 17:51] pixelzoom opened #1187 "Text and RichText fail with DerivedProperty textProperty"
Node and its subclasses have a number of Properties that can be provided via dependency injection. Examples include `visibleProperty`, `enabledProperty`, `inputEnabledProperty`, `pickableProperty, and `textProperty`.

DerviedProperty is generally supported for these Properties, so it is the node's responsibility not to call the Property's setter.  When a DerviedProperty is provided by the client,

[2021-03-23 17:54] pixelzoom commented on #1187
In the above commit, I've added a TODO for the workaround in BLL.  When this issue has been addressed, please assign to me so that I can replace the workaround with a DerviedProperty.

[2021-03-23 18:29] samreid commented on #1186
This problem seems closely related to https://github.com/phetsims/scenery/issues/464.

I understand that interrupting the pointer on iframe exit would address these side effects, but I'm wondering if it would feel too buggy if, e.g., a slider knob is dropped if the pointer goes outside of the iframe--if it's a top level frame and you drag a slider knob outside of the browser window, you can contin

[2021-03-24 16:17] KatieWoe commented on #1186
Noting that this iframe behavior was previously known I believe (although I'm having trouble finding the issue) and I believe it varies between browsers.

[2021-03-24 17:57] zepumph opened #1188 "Mutate setter or Property setter first?"
Over in https://github.com/phetsims/scenery/issues/1187 I discovered that it isn't clear which should have precedent when setting a value and a Property value on a Node. This applies to all fields that can be passed Properties to control them:

inputEnabledProperty
enabledProperty
visibleProperty
textProperty

Over in https://github.com/phetsims/scenery/issues/1187 I realized that while writing te

[2021-03-24 17:58] zepumph commented on #1187
@jonathanolson, in this patch, I only allow the `text` parameter to be null, but only allow that value when `textProperty` is passed as an option. I also created tests. Can you please review, tweak, feel free to commit, etc, and I can implement in RichText if we want to go this way.

@jonathanolson I also created https://github.com/phetsims/scenery/issues/1188 because I was a bit confused about wh

[2021-03-24 22:37] jonathanolson commented on #1067
Thanks, looks great!

[2021-03-24 22:37] #1067 closed

[2021-03-24 22:38] jonathanolson commented on #934
Doc/changes above look good.

[2021-03-24 23:47] pixelzoom commented on #1186
While this was reported in https://github.com/phetsims/QA/issues/627, @arouinfar and I agreed that this is not relevant to the deliverable (1.1 RC for research study, see https://github.com/phetsims/molecule-polarity/issues/87).  The research collaborator is unlikely to be customizing the sim using Studio. And if he is using Studio and runs into this, we can just tell him "don't do that".  So this

[2021-03-25 00:40] zepumph commented on #1183
Very nice idea! Thanks. I also was able to rid of one usage that was the same as the default option. Closing

[2021-03-25 00:40] #1183 closed

[2021-03-25 00:47] jonathanolson commented on #1186
I'm unable to reproduce any of https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-804460900 in Chrome 89 / macOS 11.1 if I'm doing things in a window.

However it reproduces when in studio (e.g., an iframe).

https://bugs.chromium.org/p/chromium/issues/detail?id=522109 describes this, and also notes that preventDefault() seems to trigger it (which we presumably need probably for

[2021-03-25 01:03] zepumph commented on #1186
@pixelzoom what would you like to discuss in developer meeting. Does this still need to be marked?

[2021-03-25 01:07] zepumph commented on #1185
@jonathanolson does this look alright to you?

[2021-03-25 01:31] zepumph commented on #1158
Over to @samreid for review.

[2021-03-25 01:34] pixelzoom commented on #1186
There's nothing that I personally want to discuss here.  QA reported the problem, I created the issue, and I'm otherwise not involved.  It's labeled for meetings because @samreid had questions in the last paragraph that is quoted in https://github.com/phetsims/scenery/issues/1186#issue-838895704.  It's up to him to pick an appropriate meeting because he also questioned whether it was specific to P

[2021-03-25 01:37] samreid commented on #1186
It sounds like @jonathanolson is on the case, and it doesn't need to be on agenda for the upcoming meeting.

[2021-03-25 02:16] jonathanolson commented on #1186
I've committed the approach described above: if we receive a pointer capture loss (which usually happens after an "up"), we'll interrupt the pointer. This should handle things correctly in the majority of cases.

It seems like I can still occasionally trigger the bad behavior in Safari (if you continue to move the mouse while releasing it outside and continuing to move it into the frame), but this

[2021-03-25 02:27] zepumph commented on #1186
All looks great to me.

It seems like the more we can synthesize, the better. We currently have some for keyboard (KeyboardFuzzer), but otherwise we should probably build out InputFuzzer to support any event that we support in Scenery.

[2021-03-25 14:13] jonathanolson commented on #1186
Looks like it should be possible to create (untrusted) pointer events:

[code]

Fuzzing currently doesn't go through the pointer events codepath at all, so it's not as simple as just adding capture events. Presumably we can upgrade our fuzzer to use pointer events. Leaving self-assigned.

[2021-03-25 14:21] jonathanolson commented on #1075
Looks good, thanks!

[2021-03-25 14:21] #1075 closed

[2021-03-25 15:01] #1177 closed

[2021-03-25 15:21] KatieWoe commented on #1186
A short QA issue to test master for this would probably do the job well.

[2021-03-25 15:39] jonathanolson commented on #1186
Created https://github.com/phetsims/QA/issues/630 for testing.

[2021-03-25 15:44] jonathanolson commented on #1185
Looks good to me!

[2021-03-25 15:44] #1185 closed

[2021-03-25 16:00] jonathanolson commented on #1187
I'm a bit confused, what advantage does adding `null` have? We're internally still initializing to `''`

[2021-03-25 16:01] jonathanolson commented on #1188
I'm curious about @pixelzoom's opinion... I think in sim code we'd likely ensure that at most one of those options would be provided in a mutate?

[2021-03-25 16:13] jonathanolson commented on #1104
Reviewed, sounds and looks great to me.

[2021-03-25 16:13] #1104 closed

[2021-03-25 16:26] pixelzoom commented on #1187
Yeah, I'm confused to.  Why does `null` need to be introduced? Why can't this be handled like other dependecy-injection Properties?

[2021-03-25 16:34] pixelzoom commented on #1188
Funny, I just encountered this issue, and about to investigate how it's handled, whether handling is consistent, etc.

If both a value and Property are provided via the constructor, the client should be responsible for ensuring that they are in-sync.  And the constructor should verify that they are in-sync via an assertion.

Example:

[code]

[2021-03-25 19:52] jonathanolson commented on #1173
I'll add disabledOpacity as a field, that gets multiplied with the normal opacity when disabled.

[2021-03-26 00:01] jonathanolson opened #1189 "branch: disabledOpacity"
For https://github.com/phetsims/scenery/issues/1173

[2021-03-26 00:02] jonathanolson commented on #1173
Pushed to a branch (not master), since the current SunConstants strategy uses the same name, and we'd be doubling up disabled opacities due to it, e.g.:

[code]

@zepumph can you review the implementation? I'm emitting on `filterChangeEmitter` whenever opacity or a filter changes, and this simplified things rather than actually listening to the trio of opacity/disabledOpacity/enabled. Ideally we'd

[2021-03-26 16:35] pixelzoom opened #1190 "Use nested options for PDOM options"
In https://github.com/phetsims/tandem/issues/230, I proposed nesting all options that are related to PhET-iO.  In this issue, I have an identical proposal for PDOM options.

All of the same benefits apply to both PhET-iO and a11y. Here's the list of benefits from https://github.com/phetsims/tandem/issues/230, adapted to PDOM options.

* It conforms to PhET standards for options and nested options.

[2021-03-26 16:47] pixelzoom commented on #1190
Here's a plan for converting to `pdomOptions`:

1. Identify all of the PROM-related options that are currently specified in the "flat" `options` hash.
2. Where those options are used, convert to `pdomOptions` nested options. Add assertions that the flat options are undefined in `options`, to catch any call sites that might be missed.
3. Convert call sites to `pdomOptions `.
4. Test locally in aqua

[2021-03-26 16:57] zepumph commented on #1190
I think this makes sense as it pertains to ParallelDOM as a mixin, since it makes things a bit clearer as to where these options are coming from. I would only want `pdom` to be for options from ParallelDOM.js the type. That said over in https://github.com/phetsims/scenery/issues/1159 there is talk if this current file layout is best. I would want to put this on hold until after that discussion had