[2018-07-05 22:35] jessegreenberg commented on #822
Adding style.all = "inherit" seems to work, but for elements that require nonzero width and height it makes the DOM very difficult to read. Here is an example of the inline attribute presented by Firefox for
[code]
[code]

I am going to commit this because it fixes the bug but SceneryStyle would be prefered if can work in RequireJS on a Chromebook.

[2018-07-05 22:40] jessegreenberg commented on #822
On second thought, the inline css is a greater evil than not being able to run the sim in RequireJS on a Chromebook for now, so I am going to revert https://github.com/phetsims/scenery/commit/d58745bc546e6dcebd352b80f68b14f58776e5cd.

[2018-07-05 22:48] jessegreenberg commented on #822
In summary, I incorrectly assumed that inline CSS would be inherited to all descendant HTMLElements, but that is not the case. Before spending more time on figuring out another way to hide the PDOM, I would like to understand why SceneryStyles doesn't work on Chromebooks in RequireJS.

[2018-07-05 23:42] jessegreenberg commented on #825
@zepumph this looks really nice and is in the spirit of MVC.  Also, `addAssociationImplementationForAttribute` is much improved, thanks!

I am seeing `checked=false` on lots of non input PDOM elements now. Probably because `checked` is now added with `peer.setAttributeToElement()` rather than directly with the setter like `peer.primarySibling.checked = false`. Maybe we need a function in Accessibl

[2018-07-05 23:53] zepumph commented on #822
Maybe we could table this and begin to rethink how we hide the PDOM in general, because any work done here will likely touch thoughts and ideas on solutions to mobile a11y.

[2018-07-06 01:36] zepumph commented on #715
There is now a `visible` property for a peer. I agree that DOM operations are less than ideal there.

Most of the logic was in `AccessibleInstance`, and so I feel confident that the `AccessibleFuzzer` you made hits that code pretty hard. I also just made a QUnit test specifically for this which is pretty solid and is working as expected.

Sim fuzzing and scenery unit tests are passing, so I think

[2018-07-06 01:39] zepumph commented on #715
(I just merged master into this branch again)

[2018-07-06 15:39] jessegreenberg commented on #822
That is true, this isn't high priority. But even if we add more styles to individual to HTML elements in the future, it would still be nice to have SceneryStyles available to apply styling to all descendants.

[2018-07-06 16:38] pixelzoom commented on #456
+1 for dev meeting recommendation.

[2018-07-06 20:15] pixelzoom opened #828 "Android "quick settings" menu causes input handling problems"
It looks like using the Android "quick settings" menu somehow interferes with scenery's input handling.  This was originally reported in https://github.com/phetsims/equality-explorer/issues/133, but identified as a problem "that can happen with any sim".

System Requirements FAQ on the PhET website says:

But as @amanda-phet pointed out in https://github.com/phetsims/equality-explorer/issues/133#i

[2018-07-06 20:17] pixelzoom commented on #828
@ariel-phet @jonathanolson Based on @amanda-phet's comments in https://github.com/phetsims/equality-explorer/issues/133#issuecomment-403133730, we are planning to release Equality Explorer 1.0 with this known problem.  If you have any objections to that, please raise them asap.

[2018-07-06 20:33] jonathanolson commented on #828
No objections to EqEx going out with this. It can always be included in a maintenance release.

I'll definitely need to work with an android device (still have a nexus 7 tablet that I'll get) for this. I may also want to create a "debugging" runnable repo that outputs all scenery/other input events and displays them to the screen (for easier identification for issues like these).

I'll leave up to

[2018-07-06 20:39] zepumph commented on #814
After speaking with @jonathanolson, we came up with a more concrete plan for how I will tackle item 2. and 3. in https://github.com/phetsims/scenery/issues/814#issuecomment-398538143.

**Part 1:** (basically number 2 in https://github.com/phetsims/scenery/issues/814#issuecomment-398538143)
1. The goal is to get rid of `invalidateAccessibleContent, and move that logic over to `AccessiblePeer`
2. In

[2018-07-06 20:39] chrisklus commented on #824
@samreid and I converted all of the text types to be nested axon Properties. There seems to be some problem with editing MultiLineText.

[2018-07-06 20:39] #824 closed

[2018-07-07 18:15] zepumph commented on #715
I just looked over all the commits again, basically giving myself a spot check in regards to

I'm going to merge to master because things will get complicated if I don't before working further on https://github.com/phetsims/scenery/issues/814. I feel good about this, but I do still want @jonathanolson to check on my work at some point. My confidence goes as far as to feel like these chances are fu

[2018-07-07 18:19] zepumph commented on #815
merged into master, see https://github.com/phetsims/scenery/issues/715#issuecomment-403234009

[2018-07-07 18:19] #815 closed

[2018-07-08 00:42] zepumph opened #829 "branch: remove-invalidateAccessibleContent"
for work being done in #814

[2018-07-08 00:47] zepumph commented on #814
I began to move invalidate accessibleContent into AccessiblePeer today. Currently accessibility fuzzing is broken, but everything else is working. I'm on the `remove-invalidateAccessibleContent` branch so that I don't commit to master with very broken code. I think that main issue I'm running into is that there is no consistent and standard way to say that a node has accessibleContent. before that

[2018-07-09 17:29] jonathanolson commented on #817
Sounds good, closing.

[2018-07-09 17:29] #817 closed

[2018-07-10 20:11] pixelzoom commented on #58
While working on https://github.com/phetsims/sun/issues/366, I noticed that this issue is still handing out in ComboBox:

[code]

5+ years seems a little long to resolve this.  On the other hand, it's working and not bothering anyone.  I'll just mention @ariel-phet here, in case he wants to visit this issue.

[2018-07-10 20:13] pixelzoom commented on #58
... and it looks like we had a consensus on how to proceed in https://github.com/phetsims/scenery/issues/58#issuecomment-190799579 (March 2016).

[2018-07-10 22:41] zepumph commented on #825
I think checked may need more work that just that, for example, see
AquaRadioButton.js (also in RadioButtonGroupMember):
[code]
Perhaps we need to rethink how we are handling checked to begin with. @jessegreenberg would it be alright to create another issue for this, and address it after #814? As I think much may change in AccessiblePeer due to that issue, and we may have better insight into how w

[2018-07-10 22:45] zepumph commented on #826
Sounds good. Implemented above.

[2018-07-10 22:45] #826 closed

[2018-07-11 00:43] jessegreenberg opened #830 "Changing clip area does not work with renderer: canvas"
From in https://github.com/phetsims/resistance-in-a-wire/issues/164. In resistance-in-a-wire, I tried setting WireNode's `dotsNode` to use `renderer: canvas`, but I discovered that this broke the clip area that is further down in the file.

[code]
@jonathanolson is this indicative of something wrong with clip area, or is setting `renderer: canvas` the wrong thing to do here?

[2018-07-11 01:34] zepumph commented on #814
Today, with help from @jonathanolson, I managed to trace a large bug with the current implementation. We were treating `accessibleContentDisplayed` differently than how `AccessibilityTree` and other internal model types were expecting Node to have an `accessibleContent` value. From here we will want to make sure that we figure out exactly how we want to support this, and implement around that desi

[2018-07-11 16:39] ariel-phet commented on #828
Reading through the issue, this does not seem pressing.

I will plan to discuss a bit more with @jonathanolson

[2018-07-11 18:44] jessegreenberg commented on #830
On the other hand, over slack @pixelzoom said

[2018-07-12 00:32] jessegreenberg opened #831 "Leverage PressListener for accessibility"
Motivated by #719, we were hoping to leverage PressListener for accessibility input.

One problem that we are facing now is that `a11yClick` in sun/ButtonModel is manipulating the Properties that are passed to `PressListener`, so accessibility input and pointer input are not able to work well together. But other problems are likely to come up because the two input systems are so separate. Specific

[2018-07-12 06:05] zepumph opened #832 "Issues for JO to review regarding zepumph's scenery-internal accessibility work"
I don't want to loose track, but @jonathanolson I'll let you know when we are ready for a larger review, since most of these are touching the same places in the same files.
- [ ] #715
- [ ] #795
- [ ] #814

[2018-07-12 06:05] zepumph commented on #715
reviewed and tracked as part of https://github.com/phetsims/scenery/issues/832, unassigning here.

[2018-07-12 15:25] pixelzoom commented on #654
This problem was noted in Equality Explorer, see https://github.com/phetsims/equality-explorer/issues/135.  In the _Operations_ screen, the bottoms of the operator radio buttons disappear when an operation is applied.  See that issue for a video demonstration. Here's a screenshot:

![42240623-1c68f0d4-7ec5-11e8-9fbb-b44d3ca75df9](https://user-images.githubusercontent.com/3046552/42643084-87761c70-

[2018-07-12 16:14] lmulhall-phet commented on #682
@jessegreenberg, I haven't noticed this in recent versions of BASE. I move to close this issue.

[2018-07-12 16:16] jessegreenberg commented on #682
Thanks @lmulhall-phet I haven't seen this while testing on Safari either, I agree this can be closed.

[2018-07-12 16:16] #682 closed

[2018-07-12 16:49] jonathanolson commented on #831
Sounds like something that would be good to discuss over voice. When would work best to discuss? (I noticed I'll need to be out for part of core hours tomorrow, but otherwise I'm pretty open).

[2018-07-12 17:07] jonathanolson commented on #58
This would be nice to handle when I'm more back on input listeners.

[2018-07-12 18:34] zepumph commented on #699
That's a good idea. I think that ideally we should have both, because there is some valid HTML that we won't want to allow in the scenery api, for example:
[code]

The HTML validatation (and hopefully a11y auditing for that too) will be a good sanity check though.

[2018-07-12 20:50] zepumph opened #833 "Add a getting to AccessiblePeer"
There are 75 usages of `.primarySibling`, and only a third of them are in AccessiblePeer. I think we should have a getter for this to be more future proof.

[2018-07-12 20:50] zepumph commented on #833
Perhaps this can happen with work in #814

[2018-07-12 21:03] zepumph commented on #827
I added a guard that makes sure that the active element is in the body, but not the body. This is nice because it will make sure that the test is run when it has not been interrupted, but won't assert out when this false negative was taking place.

The one issue with this solution is if moving the nodes from front to back and so on somehow focused the body, but I feel like that would be a loud eno

[2018-07-12 22:53] jessegreenberg commented on #830
Ah, the clip area is working but doesn't update once set initially with `renderer: canvas`. Here it is in RIAW:
<a href="https://gyazo.com/5530f24dda5a3749057b5eb6197738e4"><img src="https://i.gyazo.com/5530f24dda5a3749057b5eb6197738e4.gif" alt="Image from Gyazo" width="2000"/></a>

Confirmed in acid-base-solutions, I modified MagnifierNode to shrink the clipArea over time, here it is with default

[2018-07-12 23:02] jessegreenberg commented on #830
In the above test in acid-base-solutions, I am updating the clipArea in step. With `renderer: canvas`, there is  no observable update in the clip area in the animation frame, but as I cycle through the radio buttons I do see the clip area shrink:
<a href="https://gyazo.com/e2b163805fdf3d7ec65a2c08144549fe"><img src="https://i.gyazo.com/e2b163805fdf3d7ec65a2c08144549fe.gif" alt="Image from Gyazo" w

[2018-07-14 20:07] zepumph commented on #814
I spoke to @jessegreenberg recently, and he said that we could potentially get away with removing `accessibleContentDisplayed` and just using visibility instead. I am going to do that right now, and we can add it back in if we need to.

[2018-07-14 20:23] zepumph commented on #814
After the above commit, the showing of modal dialogs will not toggle the display of other view content in the PDOM, but the scenery code is working as expected and can now be simplified greatly. I will hold off on implementing a solution for the dialogs until I have a better understanding of the final picture of AccessiblePeer, AccessibleInstance, and Accessibility.

[2018-07-16 19:46] zepumph opened #834 "About Dialog Links broken with a11y and phet-io"
`Assertion failed: When running phet-io mode, all focusable instances must be instrumented.`

This is because in `RichText` there is a `RichTextLink` that is created from a pool, but no tandem is passed to it, even though it can be focused.

This is the sort of intersection that @emily-phet and @ariel-phet have prioritized as very low, but eventually these issues will need to be assigned and dealt

[2018-07-16 22:02] jessegreenberg opened #835 "branch: pdom-transform"
Branch created to explore a solution to #41.

[2018-07-16 22:03] jessegreenberg commented on #705
This branch can be deleted now that we have #835.

[2018-07-16 22:05] jessegreenberg commented on #705
Deleted.

[2018-07-16 22:10] jessegreenberg commented on #41
I have been exploring this as a solution to mobile accessibility. #835 is the branch with progress thus far. So far it is working great, but performance is pretty rough. In sims I have tested on my pretty fast machine using Chrome, what was previously animating at 60 fps, is now animating at 30fps. Next step will be to try the "Invalidation" approach listed in https://github.com/phetsims/scenery/i

[2018-07-17 16:52] jessegreenberg commented on #830
Adding block-publication label so this is on the radar before someone goes into an RC. But if someone requires a changing clip area with canvas the issue should be obvious right away before an RC is created.

[2018-07-17 17:19] zepumph commented on #830
This is also holding up the next rc release of RIAW, because of phetsims/resistance-in-a-wire#164.

[2018-07-17 17:22] zepumph opened #836 "Remove excess "checked"="false" attributes"
This is a byproduct of work done in https://github.com/phetsims/scenery/issues/825, and I want to fix this, but I think it will be best to wait to see how #814 changes the AccessiblePeer structure.

[2018-07-17 17:22] zepumph commented on #825
I created a separate issue. Closing

[2018-07-17 17:22] #825 closed

[2018-07-17 17:58] pixelzoom opened #837 "multitouch is broken on Win10+Firefox touch devices"
Discovered during RC testing of Equality Explorer. See https://github.com/phetsims/equality-explorer/issues/141#issuecomment-405669945

This problem is present in recently-published sims (e.g. the entire Area Model family) but not in older published sims (e.g. Function Builder).  Determining how this affects published sims would be useful for deciding how to prioritize. In the case of Equality Exp

[2018-07-17 17:59] pixelzoom commented on #837
In https://github.com/phetsims/equality-explorer/issues/141#issuecomment-405671295, @amanda-phet said:

[2018-07-21 01:34] zepumph commented on #814
Today I focused on getting aria-labelledby working within the new model/view separation. It was very tiresome to do, and posed a lot of difficulty for me because of the pointers that nodes have to other nodes, we need to make sure that we update other nodes association objects correctly when a node changes (added/removed/or moved around).

I haven't done aria-describedby at all, but will work on t

[2018-07-21 01:56] zepumph commented on #814
Now describedby is working as well. From here I want to work on removing the dialog usage of `setAccessibleContentDisplayed` and to test that on IE/edge to make sure it will work as desired.

[2018-07-24 00:54] zepumph commented on #814
In https://github.com/phetsims/scenery/commit/cdd68f4cc30071d530e400785a72af27f1dbb458 I deleted invalidateAccessibleContent and all mentions of it.

In the above commit I did many minor things needed to clean up Accessibility.js and AccessiblePeer.js
I worked to try to make as much of the mixin's functionality mutable as possible, working on ariaRole and containerAriaRole options in part. I also

[2018-07-24 01:34] zepumph commented on #827
oops I assigned the wrong person.

[2018-07-24 01:35] zepumph commented on #829
Branch deleted, closing

[2018-07-24 01:35] #829 closed

[2018-07-24 01:45] zepumph commented on #819
There has been substantial work on this that was just merged into master. I think it should now be reviewed as part of https://github.com/phetsims/scenery/issues/832.

Please ignore the above comment, as the implementation has completely changed, basically here is how association attributes are set up now:

set associationObjects to a list in Node, then trigger `peer.onAriaLabelledbyAssociationCha

[2018-07-24 01:48] zepumph commented on #675
getBaseAccessibleInstance no longer has any usages, so I deleted the function. My guess is that it lost its usage when @jonathanolson refactored the a11y side of scenery to use `AccessibilityTree.js` Closing.

[2018-07-24 01:48] #675 closed

[2018-07-24 02:06] zepumph commented on #821
I thought about one more test that would be nice here, relating to having accessible content or not.

[code]

[2018-07-24 16:38] jessegreenberg commented on #821
Good idea @zepumph. In a dev meeting a while ago, we added more tests to verify behavior after other changes to the scene graph such as adding/removing children, reordering children, and more than one association. I also took a look at the way describedby is being tested in the same way, it looks very nice. Removing my assignment for now, but feel free to reassign if you wish.

[2018-07-24 16:50] zepumph commented on #795
#814 has been completed enough to begin work on this again. Tagging @emily-phet so she is aware that I am starting on the API work again after spending the last month on scenery scaffolding and structure.

[2018-07-24 17:12] jessegreenberg commented on #827
This works great @zepumph, thanks. At first I was curious why we needed the check `activeElement !== document.body`, but then I learned that
[code]
From [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Node/contains)

I think this can be closed.

I think this can be closed.

[2018-07-24 17:12] #827 closed

[2018-07-24 18:00] zepumph opened #838 "setAccessibleAttribute bug"
I should write some tests to make sure that this is working as expected.

[2018-07-24 18:01] zepumph commented on #838
I was looking at code that was buggy, but it was also just being overridden by a function later in the constructor. Closing

[2018-07-24 18:01] #838 closed

[2018-07-25 00:15] zepumph commented on #795
I added help text and accessible name options in the above commits. This is a very nice approach, and I appreciate @jonathanolson's guidance in working with this.

Currently there are a few todos in the code that should be decided. Also there is no support for aria-labelledby or aria-describedby within these options. This means that:
[code]
although this should work, we currently don't support ove

[2018-07-25 12:57] samreid commented on #795
I removed a debugger statement that looked like it was pushed in this issue.

[2018-07-25 17:41] zepumph commented on #711
This is a review that should happen before FL release.

[2018-07-26 15:13] samreid commented on #711
Seems good--I am wondering if PhetButtonIO can be rewritten to use the newly introduced `NodeProperty`?

[2018-07-26 16:49] jonathanolson commented on #837
So far (from debugging with a touch device), I've noticed two key things:

1. Firefox seems to be sending a buggy pointerId on the second "down" for pointer events. So for finger A pressed first, finger B pressed, finger B released, finger A released, it is currently reporting the equivalent of "A down, A down, B up, A up". It is reusing the pointerId of the first touch in the second down event.
2

[2018-07-26 16:51] jonathanolson commented on #837
Also important: when re-enabling pointer events, we'd want to check the Firefox version and still use touch events for older versions (presumably)

[2018-07-26 16:54] jonathanolson commented on #837
After adding the fix, it seems that the "rectangle" still appears transiently. I'm curious instead if we could work around this in a different way with CSS that would prevent whatever "zoom" action it temporarily tries to do. This might be the cause of the wrong pointerIds being given.

[2018-07-26 17:07] jonathanolson commented on #837
We're already providing touch-action:none, and Firefox's multitouch handling is pretty suboptimal.

I'm going to stop looking for an improved workaround.

[2018-07-26 17:14] jonathanolson commented on #837
@KatieWoe, can you verify that the above commit fixes the issue in master?

[2018-07-26 17:18] jonathanolson commented on #837
Looks like https://github.com/phetsims/scenery/commit/b1dfdfeac77b024949936c6292bfbcb08a8019b5 is the commit that triggered the problem.

[2018-07-26 17:18] KatieWoe commented on #837
Looks good on equality explorer master.

[2018-07-26 19:31] zepumph commented on #711
Good idea! Done, anything else here?

[2018-07-27 21:19] jessegreenberg commented on #831
We discussed this today with @jonathanolson. We agreed that it would be nice if PressListener could be used more broadly for accessibility. This would reduce a lot of code that currently exists to call listeners from pointer events and call listeners from accessibility events, which are totally separated at the moment. We talked about a couple of options:

One option would be to add a public `acce

[2018-07-28 15:18] jessegreenberg commented on #831
If we decide to continue with a timeout solution, the implementation of click in PressListener might look something like
[code]

[2018-07-30 18:56] zepumph commented on #818
It sounds like there is still no good solution for this. Should we have a meeting to brainstorm more?

[2018-07-30 19:54] samreid commented on #818
Yes, it would be good to discuss.

[2018-07-30 20:25] samreid opened #839 "Should Paintable support Property(null)?"
From https://github.com/phetsims/joist/issues/503#issuecomment-408996493 and following comments, passing `Property(null)` to `Paintable` results in an assertion error.  The check is currently:

[code]

Does this mean when using a Property for a fill, the property cannot take a null value.  Is that as desired?

I tried adding `|| fill.value === null` to Paintable and did not see any obvious problem

[2018-07-31 01:17] jonathanolson commented on #839
It sounds like potentially a nice change to support. Now that a lot of the code is factored out that handle paint properties, it probably wouldn't be too hard to add support to null in this case.

[2018-07-31 04:47] jonathanolson commented on #839
Looks like the code was fully compatible with this already like suspected.

Implemented in https://github.com/phetsims/scenery/commit/cb7019fac5f40558322d49d5e12c65f6cf38780a (copy-pasted without having the issue link copied...)

@samreid can you confirm?

[2018-07-31 16:17] samreid commented on #839
Looks great, thanks!  Closing.

[2018-07-31 16:17] #839 closed

[2018-07-31 17:45] zepumph opened #840 "add accessibleOrderLock to the mixin"
While working on https://github.com/phetsims/joist/issues/509, I found that it may be nice to somehow have a way to lock the setting of accessibleOrder on a node. This could be a nice way to reign in the flexibility of the mixin when needed. I'm thinking, in its simplest form, something like a boolean that can be set.

[code]
What do you think @jessegreenberg?

[2018-08-02 19:03] jessegreenberg commented on #830
Thanks @jonathanolson! I just verified that this fixes this issue in resistance-in-a-wire, so this can be closed.

[2018-08-03 16:46] jessegreenberg commented on #840
@zepumph I personally don't think it would be worth adding a property/getter/setter to Accessibility.js for this. I think this assertion should be added on a case by case basis, presumably mostly in composite common code components. This has been done for other Node setters like children
[code]

Removing my assignment but leaving to you for further discussion.

[2018-08-06 19:58] samreid commented on #711
PhetButtonIO looks good, studio looks good, thanks!  Closing.

[2018-08-06 19:58] #711 closed

[2018-08-08 22:31] KatieWoe opened #841 "Accessibility: helpText option failed"
CT issue that seems to be happening on and off
[code]

[2018-08-13 16:59] jessegreenberg commented on #841
Probably a consistent issue but only showing up intermittently because CT isn't able to run all tests every time.

[2018-08-14 16:53] zepumph commented on #830
This will need to be cherry picked into the RIAW RC branch, reopening and assigning to myself, see https://github.com/phetsims/resistance-in-a-wire/issues/168 for more details.

[2018-08-14 21:29] zepumph commented on #841
Thanks for the catch. I'll look into it.

[2018-08-15 00:51] zepumph commented on #841
This was because in 4555fbaba9bdc8e529dea43b1cbcc7aef70dce97 I changed the behavior of `helpText` option while working on friction descriptions without updating the test. Fixed in above commit.

[2018-08-15 00:51] #841 closed

[2018-08-15 14:49] samreid commented on #767
The tandem `isDraggedProperty` changed to `isDraggingProperty`, this is a good change and will not cause problems for the PhET-iO side.

[2018-08-15 14:49] #767 closed

[2018-08-15 19:08] zepumph opened #842 "Add emitters to DragListener for phet-io events"
So that you can add listeners to these events.

[2018-08-15 19:14] zepumph opened #843 "Add emitters to SimpleDragHandler"
This will take over the events from SimpleDragHandlerIO, and we can then delete that type.

We can then uninstrument SimpleDragHandler and its sub emitters can be children of the draggable node.

[2018-08-15 19:16] zepumph commented on #843
This needs to be done for FL stable, but https://github.com/phetsims/scenery/issues/842 can be done in the next phet-io sim that has a DragListener.

[2018-08-15 19:30] zepumph opened #844 "Ensure DragListener is properly instrumented for PhET-iO"
After https://github.com/phetsims/faradays-law/issues/117, this will be the first time DragListener has been used in a "stable/thoughtful/trackable" context. We should make sure that it works as expected.

[2018-08-15 20:50] jonathanolson commented on #837
Maintenance releases were deployed to production, this should be patched.

[2018-08-15 20:50] #837 closed

[2018-08-17 22:58] zepumph commented on #840
That makes a lot of sense. Let's see how far we can get with a strategy like that. Closing

[2018-08-17 22:58] #840 closed

[2018-08-20 22:26] pixelzoom opened #845 "clean up HBox and VBox"
`HBox` and `VBox` are convenience types, whose sole responsibility is to set the `orientation` option.

HBox.js line 26:
`LayoutBox.call( this, _.extend( {}, options, { orientation: 'horizontal' } ) );`

VBox.js line 26:
`LayoutBox.call( this, _.extend( { orientation: 'vertical' }, options ) );`

These are two different ways of setting `orientation`, both with problems.  HBox silently overrides or

[2018-08-20 22:41] pixelzoom commented on #845
Updated how orientation is set in the above commit.

@jonathanolson Is it OK to delete the assertion, or is it doing something that Node is not?

[2018-08-20 23:02] pixelzoom commented on #845
@jonathanolson explained the assertion to me. For any descendent of Node, it’s a defensive way to ensure that options is an object literal.  I moved the options definition before the assertion, to eliminate the need for checking `options === undefined`.

Closing.

[2018-08-20 23:02] #845 closed

[2018-08-20 23:36] jonathanolson opened #846 "Performance benchmarks"
There was an old setup for macro/micro benchmarks to compare different Scenery builds (with slightly different but equivalent client code for each).

If we're doing performance improvements, it would be good to set this up again.

[2018-08-20 23:43] jonathanolson opened #847 "Additional performance hints?"
Saw this in previous performance notes, and could definitely be useful once more things are switched to WebGL (where there will be more explicit speed/quality trade-offs):

- Quality performance hint? Especially may matter for shapes/text.
- "Order of children doesn't matter", could allow fewer blocks.

[2018-08-23 15:56] mbarlow12 commented on #759
Yikes this is old! @zepumph all looks good. Closing.

[2018-08-23 15:56] #759 closed

[2018-08-24 18:03] zepumph commented on #831
We found the option `a11yEndListener` weird, because it seemed specific, and not as general as we would want to see an option.

[2018-08-24 18:44] mbarlow12 commented on #719
Just had a thought while meeting for the a11y dev today. What if we completely bypassed our typical fuzzing strategy and went with an automated method with [Puppeteer](https://pptr.dev/) that uses headless Chrome. We can even send keyboard events [here](https://pptr.dev/#?product=Puppeteer&version=v1.7.0&show=api-class-keyboard).

[2018-08-24 19:15] KatieWoe commented on #837
Linking to phetsims/QA/issues/179

[2018-08-24 20:50] pixelzoom commented on #831
If you’re leveraging PressListener for a11y… Beware that PressListener has problems that are currently blocking at least 2 sims. https://github.com/phetsims/ph-scale/issues/71

[2018-08-24 21:06] zepumph commented on #831
@jessegreenberg @mbarlow12 and @zepumph worked on this today. In the above commits we added `click`, `focus`, and `blur` to `PressListener` and also to the `PressListener.a11yListener` object. Then we add the `a11yListener` as a accessible input listener whereever we add the pressListener as a normal input listener. This worked well. Basically we made `PressListener.click()` become the new `a11yCl

[2018-08-24 21:07] zepumph commented on #831
After this step, we will touch base with @jonathanolson again.

[2018-08-24 22:52] jessegreenberg opened #848 "CanvasNode content transparent in screenshot without context.fillStyle"
Found in https://github.com/phetsims/resistance-in-a-wire/issues/171, if `context.fillStyle` the `CanvasNode` content doesn't show up in the screenshot feature. According to https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/fillStyle, the default is black so I wouldn't expect it to be required. @jonathanolson is this a browser bug, or a scenery bug, or should I be using `fi

[2018-08-24 22:59] jessegreenberg commented on #848
More specifically, it is fully transparent.

[2018-08-24 23:19] jessegreenberg opened #849 "Add option for onKeyUp callback to KeyboardDragListener"
KeyboardDragListener has an `end` listener that should be called whenever dragging is complete. At the moment, it is called whenever *any* key is released, which is incorrect. Discussing with @zepumph, we will want options for both.

`end` - called every time ALL keys are released.
`onKeyUp` - called every time ANY key is released.

[2018-08-24 23:24] zepumph opened #850 "Create a key tracking superType for a11y"
AccessibleSlider and KeyboardDragListener both have a lot of copied code in how they manage multiple keys and whether each is pressed. It could be nice to have a supertype that manages this all for you.

I am thinking that this type would mainly be made of a public data structure to access the state of the keyboard at any time, and also keydown/up (and potentially more) callbacks. I also see many

[2018-08-24 23:52] zepumph commented on #849
This issue is very closely tied to #850, and so we should potentially hold off on this (unless I need it for Friction in https://github.com/phetsims/friction/issues/94). I would assume that this logic would belong in the parent type we come up with over there. Marking on hold.

[2018-08-24 23:57] zepumph opened #851 "KeyboardDragListener: Document why keydown and keyup are declared in constructor"
Today in our dev meeting, we realized that the current way of adding DOM events with `addAccessibleInputListener` doesn't work for functions on the prototype of the listener object passed in.

We should either (1) document this in the jsdoc, or (2) figure out a way that we can make the prototype functions work to be added to the PDOM elements.

[2018-08-25 01:01] zepumph commented on #849
I'm a total liar. For https://github.com/phetsims/friction/issues/98 I am going to try to implement this right now.

[2018-08-27 19:06] KatieWoe commented on #837
Linking to phetsims/QA/issues/180

[2018-08-27 22:36] zepumph commented on #842
In the above commits I:
1. removed the "Emit" button UI in studio if the Emitter has any parameter types.
2. Added `draggedEmitter` to DragListener, deleting DragListenerIO

Next is to look at doing the same for PressListener's press/release I have two questions:

1. PressListener is `phetioState:false`, but I don't see that in drag listener. Why the difference? Should we add the same to the other

[2018-08-28 15:26] mbarlow12 commented on #719
@zepumph @jessegreenberg I forgot to tag you both. Just bumping and pointing to my above comment.

[2018-08-28 15:46] jessegreenberg opened #852 "Support a11y on mobile devices"
This is a more up to date continuation of #41 which has gotten old and a bit stale. See that issue for documentation about our thoughts on the current approach for this and how it is working.

[2018-08-28 16:19] jessegreenberg commented on #41
I made #852 to continue this work, and we will track more specific questions there.

[2018-08-28 16:19] #41 closed

[2018-08-28 16:58] zepumph commented on #719
That seems like a really nice, long term, robust solution for this problem. Right now, and most recently when working with the `fuzzBoard` with @jessegreenberg, I was surprised at how well it was working (since we hacked it together in just an hour or two). But as a long term direction, I could see there being a sandbox where you could plug in specific keys/combinations that you wanted hit hard fo

[2018-08-28 19:34] samreid commented on #719
I recall we've previously discussed puppeteer for automated testing, but I'm not sure what all the pros and cons are, nor do I know how the current implementation of ?fuzzBoard works.

[2018-08-28 21:00] jessegreenberg commented on #852
The above commit hides this behind a query parameter. In doing so, I noticed that a lot of this work has been spread around Display, AccessibilityTree, AccessibleInstance, AccessiblePeer...and attributes added to HTMLElements throughout these types are related and dependent. This will make maintenance difficult, it would be great if we could consolidate this better.

[2018-08-28 22:48] zepumph commented on #831
Added the a11yEndListener above. @jessegreenberg please review. It was pretty straight forward.

I noticed one problem still: Dialog won't return focus to the phet-menu when pressing the close button. I think it is because the `accessibleFire` option isn't implemented (although there are usages). Should that be implemented as the `a11yEndListener` also?

[2018-08-28 22:50] zepumph commented on #831
Actually I think I'm just going to see how it works to convert that to use the `a11yEndListener`. Maybe we should change the name to `onAccessiblePress` or something really specific. Neither of those two options really make sense in the new context of PressListener and the "click" event we add as an accessible input listener.

[2018-08-28 23:05] zepumph commented on #831
Implemented pretty nicely in the above commit. Next I will rename this to `onAccessiblePress`, because it is easy, and we can change it again if there is a better name for it.

[2018-08-28 23:06] zepumph commented on #831
JK, actually I'm going to go with `onAccessibleClick` because then it's tied to the event, rather than the current implementation of it (in PressListener).

[2018-08-28 23:13] zepumph commented on #831
@jessegreenberg I am now ready for you to review, focusing on looking at the `onAccessibleClick` option throughout the project (used to be `accessibleFire` and `a11yEndListener`).

I notice a bit of a code smell, which is that we have to pass this option all the way up two (and probably more) hierarchies until the we get to the type that defines the pressListener, and then we have to manually pull

[2018-08-29 15:01] jessegreenberg commented on #831
This is all great @zepumph, I like the rename and hadn't realized until now there were two inconsistent names. I also tested Dialogs and focus is managed correctly again, so removing the blocks-publication label.

I see what you mean. It looks like the main result so far has been to add `onAccessibleClick` to RectangularButtonView and JoistButton, though we will likely add it to more button types.

[2018-08-29 15:08] jessegreenberg commented on #831
The next step is to touch base with @jonathanolson again, @jonathanolson could you please review changes to PressListener for a11y?

In particular, please take a look at how we have assembled `a11yListener`, which is how we are proposing to use PressListener for buttons with alternative input?

[2018-08-29 21:25] zepumph opened #853 "drag `end` callback should be nested under dragListener's release event. (Same with press)"
After discussing with @jonathanolson and @samreid, it is clear that there seems to be a general problem for how phet-io events are handled in overridden methods up and down a type hierarchy. In PressListener and DragListener, it manifests most clearly in the `press` and `release` methods. This is because the phet-io event is fully encapsulated in the PressListener (parent) method, and so anything

[2018-08-29 22:31] zepumph commented on #842
Oh! Also please be away of some serious hackary I did in the parameter types. Notice how some args are instrumented as `VoidIO`. This is because the hackish behavior of "exposing" unnecessary emitter args to the phet-io data stream went one step further in the `pressMethod`, and I just didn't think it was worth it to instrument any more types. To get this to work, I added a toStateObject to `VoidI

[2018-08-29 22:36] zepumph commented on #842
One more thing. Here is what the data stream looks like now for CAF.
![image](https://user-images.githubusercontent.com/6856943/44819172-5ee14380-ab98-11e8-8873-abf61b962d97.png)

Notice that the `positionProperty` is properly nested under the 'pressedEmitter' emitted event, but not the 'releasedEmitter'. I looked into this to make sure of no fowl play (because we hate birds), and found that this

[2018-08-29 22:50] zepumph commented on #853
Marking for stable release of Faradays law.

[2018-08-29 23:11] zepumph commented on #844
We uninstrumented this type while converting to the emitter pattern in #842.

[2018-08-29 23:12] #844 closed

[2018-08-29 23:37] zepumph commented on #853
I also just uninstrumented PressListener because it was causing problems in https://github.com/phetsims/faradays-law/issues/117.

[2018-08-29 23:46] zepumph opened #854 "Should we create the tandem `pressListener`"
As part of https://github.com/phetsims/scenery/issues/853 I uninstrumented PressListener, which involved removing where we create the tandem fragment `pressListener` in 5 spots (see commit here https://github.com/phetsims/joist/commit/cd96b928f39c841322e266814df2757345cde847 https://github.com/phetsims/capacitor-lab-basics/commit/e71f3faedefa2ee63383f1a0bf60fa2ec9d1ca64  https://github.com/phetsim

[2018-08-29 23:50] zepumph commented on #854
In the mean time I renamed the events in momentary button model, and I'm unsure about how this will work. I can definitely see an appeal in having everything streamlined and on the same object (like the FL magnet), but also the PressListener should be the controller, then the buttonModel be the "view" which changes model Properties, so perhaps it is weird to have the PressListener's emitters direc

[2018-08-29 23:57] zepumph commented on #854
Actually I just decided to keep the `pressListener` namespace in the tandems. I think that works nicely, and is fine for now. That way I don't have to hack at downstream problems.

[2018-08-29 23:59] zepumph commented on #854
@samreid what do you think we should do? Keep the `pressListener` or `dragListener` name? or have the emitters directly on the view object?

[2018-08-30 19:38] zepumph commented on #853
I added above a bug fix for supporting phetioReadOnly in PressListener.

[2018-08-30 19:39] zepumph commented on #853
@jonathanolson, I'm mainly looking for a review of https://github.com/phetsims/scenery/commit/12078fbd93fa78f7fde0afe14bebbc2cef73cdc1, everything else is minor, but please take a look at PressListener and DragListener at master to be sure.

[2018-08-30 21:10] zepumph commented on #850
@jessegreenberg and I discussed briefly the idea of having a global key tracker, but decided it was a bad way to go for the following reasons:
* We are worried about how screen readers can effect the bubbling of keydown/up events, so it may be hard to maintain the global state.
* There is no way to guarantee that it is in sync from a given listener, because it may have to use a listener attached t

[2018-08-30 21:11] zepumph commented on #850
The alternative is to have this as a supertype, and a11y listeners that need access to the keyboard state will inherit from it.

[2018-08-30 23:25] zepumph commented on #795
This issue is ready to be reviewed by @jonathanolson. We have not yet worked on the "header" api, but I think that a review could happen first to make sure that scenery is working as expected.

[2018-08-30 23:33] zepumph opened #855 "Implement a11y api for adding PDOM headings"
From https://github.com/phetsims/scenery/issues/795

Code nodes from that issue:
[code]

Since writing the above method/pseudocode, we now have implemented "behavior" functions, that may be helpful in solving this problem. @jessegreenberg I think we should discuss this before bringing it back to a dev meeting for review.

maybe something like:
[code]

And then we can have a function in node that c

[2018-08-30 23:35] zepumph commented on #795
see https://github.com/phetsims/scenery/issues/832 for parent review issue.

[2018-08-30 23:36] zepumph commented on #832
@jonathanolson we are ready for a batch review of most of the work I did in scenery for accessibility this summer. I'm unsure about your workload and I think this priority is such that we don't want this to drop off and never get done.

@ariel-phet please assign a priority.

[2018-08-30 23:37] zepumph commented on #832
Tagging @jessegreenberg so he is aware of this as well.

[2018-08-30 23:57] zepumph commented on #850
We also recognize that we don't want to implement the timing stuff in the super type, because then all subtypes (like AccessibleSlider) would need to be stepped by the sim.

[2018-08-31 00:28] zepumph commented on #831
@jessegreenberg @mbarlow12 and @zepumph were able to fix the original issue today by adding in a guard around calling the `release()` function in `interrupt()`.

We are finding that there are more downstream issues caught by the fuzzBoard and caused by the timeout in the a11y click listener too, I wrote about it in https://github.com/phetsims/scenery/issues/719#issuecomment-417509785 and then this

[2018-08-31 18:40] zepumph commented on #850
We have never (to my knowledge) created a type that extends a mixin and a regular type. I'm not really sure what this would look like, nor do I know how implement it. For now I'm going to hold off.

I also spent a bit more time to look into `AccessibleSlider`'s implementation, and while it does share code with keyboardDragListener, it is not as similar as I thought it was.

[2018-08-31 21:26] zepumph commented on #851
I added documentation for now. I'm not exactly sure how to proceed. Right now we don't support adding events that are declared on the prototype. We haven't run into any issues, but also this may not be best long term. For now, I'll also note in addAccessibleInputListener about the constraint.

I think this issue should be kept open until we support prototype methods for 2 reasons:
1 It is a nice i

[2018-08-31 21:29] zepumph commented on #851
Unassigning and adding to phet-io meeting with low priorty.

[2018-09-01 00:43] zepumph opened #856 "Pixel Comparison tests fail on some laptops"
I talked to @jonathanolson a few months ago about tweaking the "thresholds" for the pixel comparison tests so that they pass on my laptop. He did this and all scenery tests were passing pretty much all summer. Then I was on vacation for a few weeks from Aug 5-17 or so, and these tests have been failing since I got back.

After discussing briefly with @jonathanolson on slack, we thought this warran

[2018-09-01 01:45] zepumph commented on #836
@jessegreenberg I believe this has been fixed now, it looks like this support was added in https://github.com/phetsims/scenery/commit/fb588ac7590a78a9dba09aff1beacc0012a049b7#diff-5c5bfa96a0409af94f700ddf4dc658c7R419. Closing

[2018-09-01 01:45] #836 closed

[2018-09-01 01:46] zepumph commented on #821
- [ ] Another test that would be good would be to add the same object twice. I think that we should detect this and throw an error. What do you think @jessegreenberg?

[2018-09-04 00:53] samreid commented on #806
My memory is fuzzy on the intention of this comment-- @jonathanolson, were you picturing that that `this.emitter.emit3( 'mouseDown', {` could replace `this.downEvent( this.mouse, event, pointChanged );` or something like that?

[2018-09-04 02:21] samreid opened #857 "Investigate re-entrant Property in PressListener"
In https://github.com/phetsims/axon/issues/179 we identified Property instances that are re-entrant.  In this context, re-entrant means a change in value of the Property causes (via listeners) another change in the value of the same Property instance.

Re-entry can occur for at least 3 different reasons, which are document here: https://github.com/phetsims/axon/issues/179#issuecomment-414717687

[

[2018-09-05 01:30] zepumph commented on #854
Unassigning for @samreid comment.

[2018-09-05 16:21] samreid commented on #854
We are thinking that `pressListener` and `dragListener` should be kept as intermediaries.  We are thinking `buttonModel` is more of an implementation detail and not necessary to capture in the tandem structure.  However, we will have to be careful about short-circuiting out tandem nodes because it could lead to naming conflicts like the one identified in https://github.com/phetsims/scenery/issues/

[2018-09-05 16:54] samreid commented on #853
@zepumph can you please convert the entire file to ES5 for now?  There are a few arrow functions that sneaked in.

[2018-09-05 17:07] samreid commented on #853
Also to discuss with @jonathanolson, we are seeing down and pointerdown on the start, but nothing on the end:

![image](https://user-images.githubusercontent.com/679486/45109143-da447700-b0fb-11e8-89e7-69848a8ab46e.png)

Should we pass through the `{Event}` where possible (even though in some cases like an interruption, it will be undefined)?

[2018-09-05 17:20] samreid commented on #842
We reviewed this during PhET-iO meeting and agreed it is good to uninstrument PressListener and DragListener, and leave their child Emitters instrumented.  We are also OK with the `EventIO, VoidIO, VoidIO` types as they are being used.  @zepumph will take another pass at the `phetioInstanceDocumentation` to make sure it is good.

[2018-09-05 23:40] zepumph commented on #853
converted back to es5 above, because the es6 conversion should be done on @jonathanolson's terms. @jonathanolson please review the changes to press, release, and drag for `PressListener` and `DragListener`.

[2018-09-05 23:59] #842 closed

[2018-09-06 00:26] jonathanolson commented on #832
Ok sounds good. Is most of the code in master, or in branches?

[2018-09-06 00:36] zepumph commented on #832
All is in master. Let me know if you want to discuss general/specifics at any point during it or before you dive in.

[2018-09-06 00:40] jonathanolson commented on #853
@ariel-phet, can I do this at the same time as handling the other pending drag/input items? With either I'll be fully reviewing the current setup. And what is the priority? (Can I handle this AND tag on the other input-related changes as a high priority?)

[2018-09-06 01:51] jonathanolson commented on #857
How can I trigger this (if I mark it as non-reentrant)?

[2018-09-06 01:54] jonathanolson commented on #806
IIRC, I thought you added this as a very phet-io-specific thing, but it has a very general name. There could be some desire to being able to hook into listening into input event streams that isn't phet-io specific. That's the purpose of the comment I believe.

Definitely would not replace downEvent with an emitter.

[2018-09-06 19:37] samreid commented on #806
Renamed and documented above, @pixelzoom can you please check and advise if you have further recommendations?

[2018-09-07 01:26] #806 closed

[2018-09-11 15:36] samreid opened #858 "Event.domEvent is sometimes falsy"
Bayes CT reported this problem in Capacitor Lab: Basics in the last few sets of SHAs:

[code]

The line that is failing is in EventIO.js where it evaluates:

[code]

And note this is triggered by fuzzing and `tryTouchSnag`.  I don't see any assertions in Event that `domEvent` is truthy, and indeed there is some logic near the end of the constructor that seems to question that as well.

[code]

If

[2018-09-11 15:44] samreid commented on #858
By the way, I've been fuzzing this phet-io sim for 30+ minutes on my localhost and haven't seen any problems.

[2018-09-11 18:32] jessegreenberg commented on #852
I just noticed that the positioning isn't quite correct for some buttons in rutherford-scattering.
![capture](https://user-images.githubusercontent.com/6396244/45379938-6dcfe900-b5cf-11e8-9310-842759b81240.PNG)

But if the window size changes then it corrects itself. So maybe its not getting updated frequently enough.

[2018-09-12 18:34] jbphet commented on #595
@jonathanolson - I just ran into the TODO mentioned in this issue, and I tried commenting out the workaround, and the assertion is still being hit.  I'm assigning this issue to you for a quick look to decide if it's something that can be fixed quickly or would require more of an involved solution.

[2018-09-12 20:28] jessegreenberg commented on #852
The above commit fixed https://github.com/phetsims/scenery/issues/852#issuecomment-420374995.

[2018-09-12 21:56] zepumph commented on #853
@ariel-phet  could we get an update on this?

[2018-09-13 00:08] jonathanolson commented on #853
I'll be continuing more of the review tonight, will note progress and notes in the relevant issues. (If I stream-of-consciousness review and record, it would include a lot of duplicated things).

[2018-09-13 14:20] jessegreenberg commented on #852
I think the last big question is how to make sure that the PDOM does not interfere with pointer input while it is on top of the simulation, while making sure that it works correctly with a screen reader.

The most elegant way is `pointer-events: none` and this is generally recommended when doing online searches. This prevents the PDOM from ever receiving pointer events, and they are passed through

[2018-09-13 14:51] jessegreenberg commented on #852
That is not correct, I was able to prevent this from working again by adding `position: absolute` and `transform: translate(X, X);` to the elements.

[2018-09-13 15:10] jessegreenberg commented on #852
Interesting, if I use `transform=static` and on the elements it works OK in VO and the transformations seem to still look OK. This is even true when `pointerEvents='none'` is on all elements.

[2018-09-13 15:18] jessegreenberg commented on #852
In the simulation this seems to work for everything except the HomeScreenView and navigation bar!

[2018-09-13 16:24] jessegreenberg opened #859 "Doubling the WebGLBlock.backingScale takes too much memory"
Found in https://github.com/phetsims/energy-skate-park-basics/issues/435. WebGLBlock has these lines:
[code]

In https://github.com/phetsims/energy-skate-park-basics/issues/435 it was discovered that this causes energy-skate-park-basics to crash consistently on iPad2, presumably because of extra memory usage.

@jonathanolson is there a way we could make this optional higher up, maybe in WebGLNode

[2018-09-13 16:27] samreid opened #860 "FireListener should leverage PressListener's success callback"
At yesterday's phet-io meeting, we proposed changing FireListener's press function to leverage the success callback, like so:

[code]

This seems like a relatively safe change.  However, I thought it would be good to get review since it is common code that is used widely.

I considered marking this as blocks-publication, but since I left the code change here in the issue instead of a proposed comm

[2018-09-13 17:10] jonathanolson commented on #860
Yes that sounds good. Let me know if I should make the change, or if you would like to.

[2018-09-13 17:17] samreid commented on #860
I made the change locally, tested lint, tested a few sims in aqua and everything seems OK, I'll commit and push.

[2018-09-13 17:19] jonathanolson commented on #859
I'm partially curious about whether we could investigate memory usage of the sim (and wouldn't need to make this type of change).

Alternatively, if we need to disable/change this, it would be best as a Display setting (providing a sim option in the -main.js). It would be somewhat complicated to set a flag or setting on each node that constrains the settings of WebGL blocks that it is displayed in

[2018-09-13 17:30] jonathanolson commented on #859
@jessegreenberg can you try providing `allowBackingScaleAntialiasing: false` in ESPB options, to ensure that it properly "turns off" the doubling?

[2018-09-13 17:30] jonathanolson commented on #860
Nope, thanks!

[2018-09-13 17:43] jonathanolson commented on #858
I'll definitely be looking into this more (especially documentation and proper handling), but this looks possible due to validatePointers which looks like it triggered a touch-snag, e.g.:

1. The user has a touch down (not dragging something).
2. Some frame step() moves a node under the touch (that was NOT under their touch before)
3. The validatePointers() on the frame update sends exit/enter eve

[2018-09-13 18:05] jonathanolson commented on #860
I fixed a few things with the commit (I was super lazy about "reviewing", missed things).

Can you review my above changes? (passing undefined to trigger the "default" targetNode setup, and using self instead of this).

[2018-09-13 19:19] jonathanolson commented on #858
I'll make the final choice, but we'll want to keep touch-snag for those cases (@ariel-phet dissenting). Either `null` or giving the last event for the given pointer.

If it's not hard, I may prefer the "last event" so we have consistent typing.

[2018-09-13 19:45] samreid commented on #860
Good catch @jonathanolson.  Should we have one `const` in this otherwise ES5 file?

[2018-09-13 19:48] jonathanolson commented on #860
Fixed above.

[2018-09-13 22:47] samreid commented on #860
Great, thanks, closing.

[2018-09-13 22:47] #860 closed

[2018-09-14 14:44] jessegreenberg commented on #859
The option works great @jonathanolson, thanks.

It would be great to do this, can you please elaborate on what you have in mind? Or maybe we could schedule a time to discuss?

[2018-09-14 14:53] samreid commented on #843
I tried this and there's a problem.  SimpleDragHandler currently has:

[code]

And if we convert to `Emitter` we will lose the ability to indicate
[code]

How should we address this?  Would the high frequency options become an Emitter phetio option?  Assigned to @zepumph for discussion, but feel free to escalate to a meeting label if you think that's appropriate.

[2018-09-14 20:40] zepumph commented on #855
Today @jessegreenberg and I discussed and implemented a way of accomplishing this in the above commit. Here is a brief explanation:

* It uses a "behavior" function just like helpText and accessibleName
* We added a private "_headingLevel" number that is computed based on the `computeHeadingLevel` function, which recursively searches up the Node tree (via `accessibleParent`) to find the most recen

[2018-09-14 22:08] zepumph commented on #843
It seems like these options need to be promoted to a phetio prefixed option, i,e: `phetioHighFrequencyEvents: true` or something.

Then it should be passed to the `phetioStartEvent` calls in Emitter.emit() (because that will be the only method soon.)

Before we were worried about boxing us into "one type always either fully opts in or has to be completely out." Maybe we can convince ourselves that

[2018-09-17 16:17] samreid commented on #843
It looks like the other option key in `PhetioObject.phetioStartEvent` is `phetioEventType`, should it also be moved to the `PhetioObject` constructor options?

[2018-09-17 16:21] zepumph commented on #843
It already is!

![image](https://user-images.githubusercontent.com/6856943/45635894-b4e82f00-ba52-11e8-86f6-a28e00e4886b.png)

[2018-09-17 17:13] samreid commented on #857
One way to produce the problem is Fluid Pressure and Flow => Flow Screen, then press the red dropper button.  I'm not sure if this problem appears in other sims, it doesn't happen 100% of the time in fuzz testing.  @jonathanolson if it appears this problem is caused by problems in Fluid Pressure and Flow, please create an issue there and assign to me.

[2018-09-19 16:53] zepumph opened #861 "Convert scenery input events to use general phetioEvents pattern"
* Instrument Input.js
* Use PhetioObject right now, maybe use emitters in the future
* Make sure that other events are properly nested underneath the input event.
* To test this, I would recommend using the recording wrapper with `console` output. This has inputEvents automatically along with everything else.

Discuss the future of `highFrequencyEvent` option. Perhaps its more like the "console" l

[2018-09-19 17:08] samreid commented on #861
More of the motivation for this: currently scenery input events are managed using a parallel process, and using the same phetioEvents will make it possible to nest the events properly, so that a mouse up can cascade to downstream events, instead of just happening chronologically earlier.

[2018-09-19 21:06] zepumph commented on #861
In the above commits, we added the mouseUp Emitter in exchange to the old scenery `inputEvent`  event from phetio. This is looking very nice so far.

In addition to this improvement, @samreid and I were just talking about potentially removing the method `Input.mouseUp()`, and instead whenever you want to call that, you just emit the emitter like `Input.mouseUpEmitter.emit2( point, event )`.  Altho

[2018-09-20 00:45] samreid commented on #861
The fact that `x.method(a,b)` is interchangeable with `x.methodEmitter.emit2(a,b)` makes me think we may be able to achieve the desired behavior with ES6 Proxy when it becomes available.

[2018-09-20 05:18] jonathanolson commented on #861
Some of the commits above may have broken scenery docs/examples.

Can you try building scenery (`grunt --mangle=false` under scenery dir) and navigate to scenery/examples/cursors.html?

I'll look into it a bit when I remerge to master.

[2018-09-20 05:36] jonathanolson commented on #832
Most of the review should be in the above commit (inline REVIEW comments, feel free to promote anything to an issue). Can you look through all of the commit, as I also made minor updates instead of tagging things.

I'd like to get a bit more background on https://github.com/phetsims/scenery/issues/819 before completing the review.

I'll be available to discuss anything mentioned. Can we schedule a

[2018-09-20 05:38] jonathanolson commented on #861
The main crux of the issue is that Display.initializeEvents shouldn't require a tandem (should be optional), as it's part of the public API.

[2018-09-20 14:20] jessegreenberg commented on #852
With the above commit it is working much better. I found that `transform` on non-focusable elements was for some reason preventing the touch to focus feature in mobile safari. So I changed the implementation to only transform focusable elements. This actually simplified the transformation calculations quite a lot. I am now using node.getLocalToGlobalMatrix() instead of calculating the relative tra

[2018-09-20 15:12] jonathanolson commented on #859
I believe we discussed memory in general, let me know if there's anything more I can do to help.

[2018-09-20 15:20] KatieWoe opened #862 "CT: Cannot read property 'createTandem' of undefined"
May be related to https://github.com/phetsims/scenery/commit/68d2f5af9bf0b62b3fefbc0f87df71cef3574eee
[code]

[2018-09-20 15:47] jonathanolson commented on #862
Noticed in https://github.com/phetsims/scenery/issues/861.

[2018-09-20 15:54] jonathanolson opened #863 "Consider an a11y "pointer"?"
I keep running into situations where there are some advantages to having a Pointer instance to represent the accessible "currently focused" thing. A good example is in PressListener, where we basically have to say "isOverProperty is true iff a pointer is over it OR it is focused", and if there were pointers, this would be simplified.

Is this a crazy idea?

[2018-09-20 16:02] samreid commented on #861
I pushed a proposed fix.

[2018-09-20 16:03] samreid commented on #862
Thanks @KatieWoe, I pushed a proposed fix in https://github.com/phetsims/scenery/issues/861, on hold until that is resolved.

[2018-09-20 17:04] zepumph commented on #832
I think a time to talk sounds very nice! @jessegreenberg and I have 4 hours carved out Friday, sept 28th that would work well to meet for these issues, between 11-3MT. In the mean time I will try to make time to deeply dive into your review so far.

[2018-09-20 17:29] jonathanolson commented on #832
I'll be available then.

[2018-09-20 17:36] jonathanolson commented on #857
Hmm, when I tried the procedure, it errored out on a sim-specific gridInjectorElapsedTimeInPressedModeProperty. Fuzzing wasn't triggering it after 5 minutes. I'll investigate a bit more soon.

[2018-09-20 21:20] jessegreenberg commented on #859
Thanks @jonathanolson, yes we did. And the added option is very helpful. This issue can be closed.

[2018-09-20 21:20] #859 closed

[2018-09-20 21:32] jessegreenberg commented on #852
At one point it looked like tabindex played a role in what was and wasn't touchable with VO, so it was removed. Hopefully we can add it back now.

[2018-09-20 21:47] zepumph commented on #861
@samreid  what needs to be done with this issue to take off the blocking publication label?

[2018-09-20 22:21] jessegreenberg commented on #852
Hmm, yes tabIndex does seem to impact this, but I don't know why. Some buttons behave as though their touch ares are not around the highlight or VoiceOver highlight. This is not the case with <input> but it is the case with most <button>s.

[2018-09-20 23:41] jessegreenberg commented on #852
It was as though the touch area was around the top left corner of the element, so I thought it could be related to these lines of the CSS
[code]

According to https://developer.mozilla.org/en-US/docs/Web/CSS/top

So I changed AccessibilityUtil.createElement to
[code]

and the touch areas are much improved. This is too crude, and won't work for label siblings. We need to update these accordingly wh

[2018-09-21 01:13] samreid commented on #861
At a minimum, we should convert all of the 14 or so input types so they are uniform, and get a code review and testing.

[2018-09-21 01:21] samreid commented on #861
Even though this is blocking and high priority, @ariel-phet said getting stable SHAs for the next upcoming RC (I forget what sim) is not a rush job.

[2018-09-21 15:35] jessegreenberg commented on #852
https://github.com/phetsims/scenery/issues/852#issuecomment-423368412 is not correct. I had accidentally left `pointer-events: none` in place, which I sometimes remove to easily inspect a11y items in the dev tools.

[2018-09-21 16:54] jessegreenberg commented on #852
The following button has this problem:
[code]
If I remove EITHER `transform` OR `pointer-events` from the element the problem goes away. One of the resources I found said they had better luck using a matrix3d, but I have not found that to be the case. For some reason the problem goes away when I add Y scaling.

[2018-09-21 18:50] jessegreenberg commented on #831
@jonathanolson helped @zepumph and I with this today, and we discussed a plan to address the issues in https://github.com/phetsims/scenery/issues/831#issuecomment-417510838. Overall, we decided that the click action should be instantaneous, while the look of the button can be behind a delay. ButtonModel will have a Property that is shared with PressListener (following the pattern of isPressedPrope

[2018-09-21 19:27] jessegreenberg commented on #852
What if we change to use width, height, and positioning instead of transform? The idea is we would calculate the right transform, then apply to the clientWidth and clientHeight (before any transforms), then use the transformed element to get the width and height from getBoundingClientRect(), then apply with `width` and `height` attributes instead of `transform`. Will this make Safari happy?

[2018-09-21 19:46] jessegreenberg commented on #852
Wow, this is actually working really well, this button behaves great in Safari:
[code]
Where the width and height were calculated from getBoundingClientRect(). Ill try it in the sim.

[2018-09-21 20:02] jessegreenberg commented on #852
Oh my goodness this is working so well!

[2018-09-21 23:31] zepumph commented on #831
@jessegreenberg and I were able to get this pretty well implemented today. In the end we went with a strategy that added an accessibility related Property to PressListener called `a11yClickingProperty` that is true while that method is firing. Then in ButtonModel we were able to add a `looksPressedProperty` that is basically acts as "downProperty" but accounts for the extra accessibility focused l

[2018-09-21 23:33] zepumph commented on #831
@ariel-phet we recommend either (or both) @jbphet (because of his experience with sun interaction state properties) and/or @jonathanolson (because we met with him this morning about this, and he wrote PressListener and ButtonModel.createListener) conduct the review. Please assign accordingly.

[2018-09-22 00:30] zepumph commented on #863
@jessegreenberg @jonathanolson @zepumph talked about this today briefly. Perhaps it would be like MousePointer which only has one instance, and it has a point (the center of the focused node), and a trail.

It would be good to discuss this more next week.

[2018-09-22 01:35] samreid opened #864 "Why is fire optional in FireListener? Should it be required?"
In https://github.com/phetsims/sun/issues/401#issuecomment-423702276 @zepumph remarked:

@jonathanolson do you think it is best that `fire` is optional in `FireListener`?  Should it be required? It could be either a required argument or a required entry in `config`.

[2018-09-22 19:43] zepumph opened #865 "What is the best way to focus/blur elements"
From a promoted todo found in https://github.com/phetsims/scenery/issues/832:

[code]

@jessegreenberg I'm not sure about this. Let's discuss this soon. Perhaps #863 could help us making this optimal? Let's discuss more.

[2018-09-22 19:50] zepumph opened #866 "Manage joist related code in scenery/FocusIO"
Promoting REVIEW comments from https://github.com/phetsims/scenery/issues/832 found in `FocusIO.toStateObject`:

[code]

Right now we are safe because this code will only be run in phet-io brand, which is (to my knowledge which will not run for non-sim scenery implementations)

@samreid can you think of a better way to do this? Perhaps this should sit until we work on a11y/phet-io combo.

[2018-09-22 20:03] zepumph commented on #461
@jessegreenberg this issue seems very out of date. Should it be closed or updated?

[2018-09-22 20:05] zepumph commented on #708
There is one more todo I see in Accessibility.js that applies to this issue I think. What do you think?

[2018-09-22 20:08] zepumph commented on #855
We should look at `REVIEW:` comments from JO from https://github.com/phetsims/scenery/issues/832 regarding the new heading api in this issue:

[code]

[2018-09-24 17:33] zepumph opened #867 "Fix a11y behavior functions"
From review by @jonathanolson of scenery's accessibility in https://github.com/phetsims/scenery/issues/832, a main piece that came up there had to do with the new behavior functions that we have implemented. All review comments relating to this enterprise will be marked with this issue number. Here is the gist of what remains to be decided/implemented:

- In AccessiblePeer's update function. There

[2018-09-24 17:57] ariel-phet commented on #831
@jonathanolson I think you will be best for this review currently.

[2018-09-24 18:59] zepumph commented on #855
#867 will inform this issue as well.

[2018-09-24 19:02] jonathanolson commented on #864
No strong preference. It COULD be required, since otherwise you would just use a PressListener? But there may be cases where one shouldn't be registered.

[2018-09-24 19:05] samreid commented on #864
A `FireListener` without a `fire` sounds like a logic bug.  Also, supporting `fire` as optional leads to odd code like this:

[code]

It seems odd to always create the firedEmitter (even if there is no `fired` provided). But it would be even worse to create some `FireListeners` without `firedEmitters` (when there is no `fired` provided).  It seems the simplest solution is to make `fire` required.

[2018-09-24 22:59] jonathanolson commented on #864
Hmm, so if you have code that conditionally passes a callback (say `{function|null}`), you would either `callback ? new FireListener( options ) : new PressListener( options )`, or pass in something like `_.noop`?

[2018-09-24 23:43] samreid commented on #864
In that case, I'd use `FireListener` with `_.noop` or `()=>{}`.

[2018-09-25 00:06] zepumph commented on #864
Couldn't you also argue that that example of `null` should be filled in with a noop function in its options as well? Perhaps I don't understand the usage as well as you two.

[2018-09-25 01:38] jessegreenberg commented on #852
The above commits this change, using scratch Bounds2 to get dimensions so that we don't create lots of Bounds2 objects.

[2018-09-25 13:36] jessegreenberg commented on #852
I was hiding labels with font-size and setting width and height as described in https://github.com/phetsims/scenery/issues/852#issuecomment-423646477, but that prevented *some* (but not all) buttons from being touchable with VO. Removing font-size attribute fixes the problem, but then some of the text extends beyond the input. So labels will continue to use transform while the focusable elements w

[2018-09-25 20:03] KatieWoe commented on #861
@samreid on Slack:

[2018-09-25 20:38] jonathanolson commented on #831
I cleared this for the RC, but had a number of notes:

- We discussed the "pressed" appearance of "it looks pressed if any a11y click has happened in the last X time period", but instead the implemented behavior is "X seconds after any a11y click, regardless of other a11y clicks, it becomes unpressed". Can we switch to the described one above? Things might look really weird right now with multiple

[2018-09-25 20:39] jonathanolson commented on #831
Also discussed on a brief call about moving the current Multilink into a Property on PressListener (so non-sun-buttons can use the same behavior without the boilerplate).

[2018-09-25 21:13] jessegreenberg commented on #852
Documentation should be udpated, and it looks like there are some things still left in place that are no longer needed after we changed the approach in https://github.com/phetsims/scenery/issues/852#issuecomment-423201668.

[2018-09-26 18:08] KatieWoe opened #868 "Kerning in Chrome (Windows 10)"
Discovered during https://github.com/phetsims/QA/issues/196 but seems to appear in published sims.
Appears on two Win 10 laptops (Hanson and my laptop) but does not seem to appear on @jbphet's device.  Does not appear on Win 7 or Win 8 test devices.

Kerning of letters in chrome on Win 10 sims is noticeably off.  This applies to dialogs such as the keyboard nav instructions and the about dialog, t

[2018-09-26 19:09] KatieWoe opened #869 "Win 10 Chrome/Firefox touchscreen + mouse use"
Found during https://github.com/phetsims/QA/issues/196 but present in published sims.
When using both the mouse and Win 10 touchscreen to manipulate a sim, the mouse control does not act as expected.  Edge seems to handle the input well.  Unfortunately, I was unable to record the behavior properly as the screen recorder seems to change the behavior.  Due the lesser use of Win 10 and the unlikeline

[2018-09-28 18:32] zepumph commented on #867
Notes from meeting today with @jonathanolson and @jessegreenberg.

2 main considerations about behavior functions:

**what values are the behavior function allowed to read?**
        whatever a behavior reads, needs to be monitored, and the peer rebuilt whenever that changes.
       "perhaps ban behaviors from reading most things"
       In common code, you could call `onAccessibleContentChange` f

[2018-09-28 18:48] zepumph opened #870 "add accessibleAttribute option to treat as javascript property vs setAttribute"
From https://github.com/phetsims/scenery/issues/832#issuecomment-423770701

There are potentially three different ways of setting these on a DOMElement:
[code]

It seems like screen readers and browsers treat these values differently depending on how we set them, see https://github.com/phetsims/sun/issues/397.  We should either support both, or decide which one is best and always use that. (I thin

[2018-09-28 18:53] zepumph commented on #870
Once we were able to add this option to setAccessibleAttribute (and have peer.setAttributeToElement support it), then mixin methods like `setInputValue` can directly use the accessible attribute api without failing.

[2018-09-28 19:02] jessegreenberg commented on #870
Here is some documentation about this
https://developer.mozilla.org/en-US/docs/Web/API/Element/setAttribute

it looks like the second method in the list would be `b.setAttribute("hidden", "");

However, I recall that we had problems with the screen reader in setting `b.setAttribute( "checked", "checked" ). If this is helpful, we should double check this.

[2018-09-28 19:10] jessegreenberg commented on #870
This leads me to believe that they should be equivalent, but we have run into problems with this in a few places (at least with AT)

[2018-09-28 19:57] zepumph commented on #719
because of #831, most of these fixed. I think we should close this and cover issues individually. Closing

[2018-09-28 19:57] #719 closed

[2018-09-28 20:02] zepumph opened #871 "Final steps for fuzzBoard"
Now fuzzBoard is working: following steps to finish things off:

1. update phetmarks such that there are two individual modes for a11y, one for fuzzMouse, and the other for fuzzBoard.
2. tell @jonathanolson to add fuzzBoard to CT.
3. tell everyone to start using this as a test when making large/systemic changes to common code.
4. Make the fuzzing logic better, exercising more functionality (like m

[2018-09-28 21:43] zepumph opened #872 "Discuss onAccessibleClick and alternatives like exposing PressListener.a11yClickingProperty"
This lengthy title stems from #831, and whether or not onAccessilbeClick is the best api for what we are trying to accomplish. Having a fully separate function that is only fired when a press occurs with a11y is nice, but I could also foresee wanting to have branching logic inside the same function that holds other input related code.

For example, something like:
[code]

This is just a bad exampl

[2018-09-28 22:08] jessegreenberg commented on #831
This part was done in the above commit. The tricky part was getting it to work with ButtonModel and its current ability to have more than one listener. We ended up with using a multilink that observes all of the looksPressedProperty's of all PressListeners that may have been created.

The multilink solution mentioned above replaced the listenersToRemoveOnDispose, and is being disposed instead, so

[2018-10-01 22:10] ariel-phet commented on #868
@KatieWoe no need to retake screenshots, they look fine

[2018-10-01 22:13] ariel-phet commented on #868
@KatieWoe actually, I did not look at the blown up version at first...if we used these on a poster, we would want to retake them. I will make a separate issue.

[2018-10-01 22:45] jessegreenberg commented on #852
In https://github.com/phetsims/QA/issues/197, the QA team did a thorough performance test of the impacts of these features. Most telling parts are https://github.com/phetsims/QA/issues/197#issuecomment-425606598, https://github.com/phetsims/QA/issues/197#issuecomment-425553062, and https://github.com/phetsims/QA/issues/197#issuecomment-425563109.

Surprisingly, iPad2 iOS9 (which I assumed would be

[2018-10-01 22:53] jessegreenberg commented on #852
In response to this, I think we should consider
1) Only updating the positioning every second (or less) so that we don't update every animation frame. I see no need for dimensions to stay up to date every animation frame since at the at the rate of VoiceOver interactions.
2) Include the ability to enable/disable this feature. For instance, while using TWEEN/twixt like animation,  I don't believe t

[2018-10-02 01:19] ariel-phet commented on #869
@KatieWoe I am marking this "multitouch" since in an odd way it seems like multitouch to me.

I am not particularly concerned about this behavior since generally I think people will be using one input method or the other.

Since things "fix themselves" when you use only one input method I think we can ignore this issue.

Marking as `wontfix` and assigning to @KatieWoe so she is aware and can close

[2018-10-02 13:54] jessegreenberg commented on #852
I made it so that the positioning updates every few seconds and asked QA to see how this impacts behavior on the most problematic platforms in https://github.com/phetsims/QA/issues/197.

[2018-10-02 14:24] #869 closed, assigned to KatieWoe

[2018-10-02 15:07] jessegreenberg commented on #831
Handled in the above commit. Now fireOnHoldInterval is no longer an accurate name. It is purely for the a11yClickingProperty/looksPressedPRoperty now so we should change its name, and not use the option in ButtonModel.

[2018-10-02 15:08] jessegreenberg commented on #831
We added fireOnHoldInterval to ButtonModel for this, and I think it can be removed now.

[2018-10-02 15:20] jessegreenberg commented on #831
I think the above commits finish this. @zepumph could you please review https://github.com/phetsims/scenery/commit/7df56635b859a98889b368c15de302759868db9c, https://github.com/phetsims/scenery/commit/cda0945cd29e158599133cf40c89cb11d307ca1b, and https://github.com/phetsims/sun/commit/38c10e6d15f9fba0f2b48609996dd6253d401cda?

[2018-10-02 18:49] zepumph commented on #872
@jessegreenberg do you have any concerns about this? I like the idea of simplifying the number of callbacks to pass into the PressListener constructor. We may find that we will still need options like this for the sun/ButtonModel hierarchy because we will only have access to the `PressListener` from `ButtonModel.createListener`. This seems like the most robust and straightforward way to proceed.

[2018-10-02 20:59] jessegreenberg commented on #872
No concerns at all, I definitely think this should be explored as a general improvement.

[2018-10-02 21:22] jessegreenberg opened #873 "Add support for aria-activedescendant"
Use of this attribute was requested in build-an-atom, but hasn't been used since. The attribute is a way to tell a screen reader what the active element should be in a composite widget without having to change document focus. More documentation: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-activedescendant_attribute

It is kind of like aria-labelle

[2018-10-02 22:42] jessegreenberg commented on #852
@KatieWoe and I met to pair/debug this problem so I could see the issue on the Mac OS with 10.14 on chrome. Indeed, the sim is totally unusable. We removed the MutationObserver that triggered updates to the simulation and the problem persisted, so something else is causing the massive slowdown. I highly doubt that this degradation is cuased by transform calculations, so my next theory is the DOM c

[2018-10-03 15:56] jessegreenberg opened #874 "Updating focus highlights isn't working correctly"
Just noticed while looking into https://github.com/phetsims/build-an-atom/issues/194, focus highlights aren't updating correctly now. In scenery playground, I added these lines

[code]

Toggling updates, I would expect the testNode to have its focus highlight change every second.  Also, an assertion is hit when the testNode loses focus "Attempted to removeChild with a node that was not a child.'"

[2018-10-03 16:53] jessegreenberg commented on #874
Fixed in the above commit, @zepumph could you please review because I think this is very related to a review comment that is in setFocusHighlight, does this address it?

[2018-10-03 19:27] zepumph commented on #874
Looks good, thanks

[2018-10-03 19:27] #874 closed

[2018-10-04 02:50] jonathanolson opened #875 "PressListener emitter types"
_releasedEmitter has `phetioType: EmitterIO( [ VoidIO ] )`, but is called with `{function|undefined}`.
_pressedEmitter has `phetioType: EmitterIO( [ EventIO, VoidIO, VoidIO ] )`, but is called with `( {Event}, {Node|undefined}, {function|undefined} )`.

Main questions are:

- How is this not erroring out? Passing `{Node}` or `undefined` as VoidIO passes type checks?
- How can the phetioTypes prope

[2018-10-04 06:31] jonathanolson opened #876 "FireListener's tandem"
Currently FireListener has `tandem: Tandem.optional` whereas its supertype PressListener has `tandem: Tandem.required` (and DragListener is also required).

Is there a reason FireListener is different from the others here?

[2018-10-04 14:41] samreid commented on #858
Please note the Capacitor Lab: Basics issue where this was discovered: https://github.com/phetsims/capacitor-lab-basics/issues/240

[2018-10-04 15:14] samreid commented on #861
On slack, we discussed that it is OK for this file to be in an intermediate state as long as QA doesn't find any problems with it.  Hence I'll remove the "blocking publication" label.

[2018-10-04 15:55] KatieWoe commented on #861
Tested John Travoltage 1.5.0-rc.2 https://github.com/phetsims/QA/issues/200 using method described https://github.com/phetsims/scenery/issues/861#issuecomment-424481871 on Win 10 chrome.

[2018-10-04 19:47] zepumph commented on #861
After today's dev meeting I am adding back the label. That coupled with dev:phet-io seems appropriate.

[2018-10-04 22:29] zepumph commented on #875
`VoidIO` is totally a hack. It is our way to keep those arguments private, because we don't feel like they are adding anything to the public phet-io data stream. On top of that there is no way to pass a function across the frame, so there will need to be some kind of workaround even if we do work out composite typing.

[2018-10-05 01:50] pixelzoom opened #877 "require maxWidth and maxHeight to be positive values?"
Should `maxWidth` and `maxHeight` be required to be > 0 ?  Or is there a legitimate reason for using these options to do negative scaling?

I ran into a case in Graphing Quadratics where a bogus computation resulted in a negative maxWidth, and it was the craziest thing to debug.  An assertion in scenery would have save me a bunch of time.

[2018-10-05 18:12] jessegreenberg commented on #831
We addressed the comments in https://github.com/phetsims/scenery/issues/831#issuecomment-424493051, @zepumph reviewed the above commits. @jonathanolson can you please do another review of the commits since https://github.com/phetsims/scenery/issues/831#issuecomment-424493406?

[2018-10-05 19:03] zepumph commented on #871
Marking for meeting because it would be nice to work on 4 together.

@jonathanolson how can we get this on ct?

[2018-10-05 19:08] zepumph commented on #872
Worked on this with @jessegreenberg today. We removed `accessibleClick` listener and moved an `a11yClicking` check into the same listener as is fired with the mouse.

@jonathanolson would you please review this as part of you work with PressListener?

[2018-10-05 19:13] jessegreenberg commented on #871
In final tests of fuzzBoard, we found an error that pops up every once and a while for a11y sims: https://github.com/phetsims/joist/issues/527. Since all sims in perennial/data/accessibility will hit this we may want to fix before enabling in CT.

[2018-10-07 00:34] samreid commented on #861
I'm partway through this, so I'll change assignment to myself for now.

[2018-10-07 03:07] samreid commented on #861
- [ ] Get mirror inputs working
- [ ] Consider `phetioEmitInputEvents` query parameter.  Convert to high frequency flag?  How does high frequency flag work for nested events, like dragging a model object?

[2018-10-07 22:05] samreid commented on #861
Remaining work moved to https://github.com/phetsims/phet-io/issues/1382.  @zepumph can you please review this issue, and close if all is well?

[2018-10-08 03:02] samreid commented on #843
Keep in mind the drag event should be high frequency.

[2018-10-08 20:10] zepumph commented on #861
I'm curious about why we needed to instrument the validatePointersEmitter at all? It wasn't captured in the data stream before. Why do we need it now?

[2018-10-08 20:24] zepumph commented on #853
Updating to new labels signifying that this issue is blocking phet-io deployments.

[2018-10-08 21:33] zepumph commented on #861
* It would be nice to see a todo or issue for simplifying/removing `invokeControllerInputEvent` because it is largely redundant now (I'm not sure if there already is one).
* From https://github.com/phetsims/axon/issues/182, you will probably want to add `valueTypes` for each emitter here.

Thanks for all the good work.

[2018-10-08 22:22] zepumph commented on #861
I also see an extra TODO at the top of the emitter declarations.

[2018-10-08 22:55] samreid commented on #861
Removed, thanks!

[2018-10-08 23:04] jonathanolson commented on #877
Sounds very reasonable, implemented above.

[2018-10-08 23:35] #877 closed

[2018-10-09 16:43] samreid opened #878 "mouseOver fired on FireFox but not Chrome"
When adding `console.log('hello from mouseover!');` to the Input.mouseOverEmitter, we are seeing messages from FireFox when the mouse enters the window but no message from Chrome when the mouse enters the window (or anytime).

This was discovered based on an issue pointed out by @mbarlow12 from work in https://github.com/phetsims/axon/issues/182

We tried running with ?sceneryLog=InputEvent,EventD

[2018-10-09 17:41] jonathanolson commented on #878
Interesting. Since we don't really trigger any Scenery events from mouseOver/mouseOut (haven't needed anything so far), should we just remove those? Are they used for phet-io now?

[2018-10-09 20:20] samreid commented on #878
I am not aware of any usage in PhET-iO.  @zepumph does this seem safe to delete?

[2018-10-09 21:28] jessegreenberg commented on #131
@jonathanolson in a slack thread when queried about the usage of DragListener you said

I am going to start using DragListener in energy-skate-park.

[2018-10-10 14:04] jessegreenberg commented on #852
This seems relevant: https://stackoverflow.com/questions/19815810/avoiding-html-document-reflows/

[2018-10-10 14:32] jessegreenberg commented on #852
The most important part of that thread:

query a layout property (clientHeight for example)
You can easily batch calls to set the width or height and no reflow will happen until the JS context relinquishes control. You can easily batch queries for layout properties and no reflow will happen if the current layout is not dirty.

and

[2018-10-10 14:35] jessegreenberg commented on #852
I also noticed that if I change browser window size, Chrome really struggles. But if I remove these lines of CSS, in AccessibilityUtil the behavior is much improved!
[code]

[2018-10-11 00:38] zepumph commented on #878
Sounds good. Let's delete them. We can always add them back in if a case arises. No need to support until then.

[2018-10-11 03:06] samreid commented on #861
Thanks, I think these were added in: https://github.com/phetsims/scenery/commit/44feeeadefb7697134100e2ac0aeeda4becf8244 and other commits.  Does that look correct to you?

I mentioned it in https://github.com/phetsims/phet-io/issues/1383#issuecomment-428772937, that we may be able to eliminate `invokeControllerInputEvent` if we have a general strategy for playing back all events marked as `phetio

[2018-10-11 15:31] jonathanolson opened #879 "PaintObserver internal failure and memory leak"
Identified with @chrisklus's help:

As background, we need to do a lot of "count how many times we would be listening to something" in PaintObserver (and then adding/removing the 1 listener when the count/multiplicity is >=1 or not).

The main core of this bug is that when a gradient has two color stops with the same color Property, it essentially counts the multiplicity/count of listeners to that

[2018-10-11 16:36] jessegreenberg commented on #852
In we tested on Windows 7 Chrome, iOS10, Chrome OS, Mac OS 10.14 Chrome, platforms which were previously not able to run sims with these changes. After removing the opacity, they are much improved, @KatieWoe said

But the sim is still crashing on iOS10 safari. The sims are NOT crashing on iOS 9.3 Safari, something on this iOS is different.

[2018-10-11 18:58] jonathanolson commented on #879
Will test with Graphing Quadratics "fuzzMouse".

[2018-10-11 18:58] zepumph commented on #853
Marking high, to hopefully be done before GQ goes out next month.

[2018-10-11 19:20] pixelzoom commented on #879
FYI, in https://github.com/phetsims/graphing-quadratics/issues/49, I do see `PaintObserver` with "#Deleted = 0" in Chrome heap comparisons.

[2018-10-15 15:18] jessegreenberg opened #880 "FocusHighlightFromNode should track transforms of the source node"
While looking into https://github.com/phetsims/sun/issues/406, I realized `FocusOverlay` should use the trail to the node used by `FocusHighlightFromNode` in its `TransformTracker`, so that when the node receiving the focus highlight is transformed in some way, the highlight node will receive the same transformation. This will fix issues like https://github.com/phetsims/sun/issues/406, and make it

[2018-10-15 15:58] jessegreenberg commented on #880
Done, I tested sims and components that are using FocusHighlightFromNode. This is nice, it is no longer the responsibility of the client to position a highlight using FocusHighlightFromNode.

[2018-10-15 15:58] #880 closed

[2018-10-15 18:32] pixelzoom opened #881 "clipArea is ignore for navigation bar icons"
See https://github.com/phetsims/graphing-quadratics/issues/51.

This occurs on all Safari platforms.

Note that if separate instances of the icon are used for home screen vs navigation bar, the problem goes away.    So the workaround is to use separate instances, e.g.:

[code]

[2018-10-15 18:37] pixelzoom commented on #881
- [ ] When this is fixed, remove Graphing Quadratics workaround, see https://github.com/phetsims/graphing-quadratics/issues/51#issuecomment-429960192.

[2018-10-15 21:04] jonathanolson commented on #879
Done, closing.

[2018-10-15 21:10] pixelzoom commented on #879
Reopening. From https://github.com/phetsims/scenery/issues/879#issuecomment-429078855:

What were the results?

[2018-10-15 21:51] jonathanolson commented on #879
Sorry, didn't test (saw the sim issue was closed). I'll do a check now.

[2018-10-15 21:56] pixelzoom commented on #879
Sim issue was closed because we moved concluded that the small leak was OK for 1.0 publication, and that testing to see if the leak was fixed would be handled in this issue.

[2018-10-16 00:41] pixelzoom commented on #879
@jonathanolson FYI, test of graphing-quadratics: https://github.com/phetsims/graphing-quadratics/issues/49#issuecomment-430061365.   You may want to look at heap comparisons yourself, since you're more familiar with scenery internals.

[2018-10-16 04:48] jonathanolson commented on #879
It looks like the main leak was probably handled. It's inconclusive currently if there is a tiny leak, since I'd have to use a slightly different technique to measure things that small (essentially every time I measure, I'd first reset all screens and set the sim to the home screen). Currently, readings are varying within a range of about 1MB based on what is shown on screen (fewer things in the s

[2018-10-16 15:29] zepumph commented on #853
Is there a reason to add the listener in two different ways:

[code]

[2018-10-16 15:32] jonathanolson commented on #853
No reason, I wasn't familiar with passing a listener directly into the Emitter constructor. I'll use that for the pressedEmitter.

[2018-10-16 15:39] zepumph commented on #853
Looks great. Thanks for the review. Closing

[2018-10-16 15:39] #853 closed

[2018-10-16 16:03] pixelzoom commented on #879
Thanks @jonathanolson.  I'm convinced that the PaintObserver leak is fixed. Closing.

[2018-10-16 18:12] zepumph opened #882 "General way to check if Node is `Paintable`"
I ran into this while checking types of focusHighlight for https://github.com/phetsims/friction/issues/126, and though I can get away with just checking `node.focusHighlight instanceof Path` before setting the lineDash appropriately, I wonder if this would be useful to others.

On slack @jonathanolson mentioned something like `Node.isPaintable` on the prototype.

Marking for dev meeting to see if

[2018-10-17 20:19] jessegreenberg opened #883 "Keyboard navigation gets "stuck" in some platforms when using an iframe in full screen mode"
So far found in Mac Mojave 10.14, Windows FF and Edge. When using an accessible display in an iframe in full screen mode, tab navigation can get stuck. Copying some comments from the original issue in https://github.com/phetsims/coulombs-law/issues/74 and moving to Scenery because this is a general issue.

[code]

```SCRIPT5: SCRIPT5: Access is denied.```

[2018-10-17 20:32] jessegreenberg commented on #883
I made this: https://jsfiddle.net/wx9Louhr/1/ and the problem is not present in FF.

[2018-10-17 20:36] jessegreenberg commented on #883
When navigating in FF in full screen mode, I can see that I am focusing links outside of the test document I created, and then when I reach the last one, focus doesn't go anywhere else.

[2018-10-17 20:40] jessegreenberg commented on #883
Nothing about tab navigation in https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API.

[2018-10-17 21:48] jessegreenberg commented on #883
I haven't been able to find documentation about this or bug reports. Tab navigation doesn't loop on these platforms when basic HTML is the target of full screen, or will include things outside of the iframe.

[2018-10-17 21:49] jessegreenberg commented on #883
This is also probably blocking https://github.com/phetsims/QA/issues/210.

[2018-10-17 22:44] zepumph commented on #843
Graphing Quadratics should not go out until we convert this to use the new emitter pattern. Marking high priority.

[2018-10-17 23:04] zepumph commented on #861
Looks good thanks!

[2018-10-17 23:04] #861 closed

[2018-10-18 15:12] samreid commented on #853
Please see https://github.com/phetsims/axon/issues/186

[2018-10-18 17:33] samreid commented on #882
At today's phet-io dev meeting, @kathy-phet said: "I guess it sounds OK"

[2018-10-18 20:28] zepumph commented on #843
Last night @pixelzoom converted GQ to use DragListener. Demoting priority.

[2018-10-18 21:08] samreid commented on #843
Demoting priority further by removing block-publication label.   @zepumph let me know if you disagree.

[2018-10-18 21:45] zepumph commented on #843
I disagree! (how fun). The reason is this must be done before any sim with a `SimpleDragHandler` is released with a thoughtful api. Since that isn't FL or GQ right now, I demoted the actual priority to low.

[2018-10-18 21:50] mbarlow12 commented on #883
@jessegreenberg could I add the blocks-publication label?

Also, would you like to pair on this tomorrow or Monday?

[2018-10-18 22:19] jessegreenberg commented on #883
Absolutely to both!

[2018-10-18 22:42] samreid commented on #843
You are right, thanks for the correction.

[2018-10-19 15:40] samreid commented on #882
I don't know of a general way to check on that.

[2018-10-19 17:36] jessegreenberg commented on #883
We talked about this in a11y dev meeting today. I think we are ready to proceed with a workaround.

We explored this a bit and tried to reproduce the problem in a JSFiddle in FF. We are thinking that a workaround is the best way to go. We are hoping that we can use event.relatedTarget in AccessiblePeer.blur to detect where focus is going in this case and prevent this behavior.

[2018-10-19 17:42] jessegreenberg commented on #883
We also verified that the problem is only when launching the sim from an iframe.

[2018-10-19 18:54] zepumph opened #884 "Use of timer in scenery"
A11y folks are using PHET_CORE's timer in scenery. This doesn't seem to be supported outside of phet though. @jonathanolson is there a way that we could have that timer support not in phet sims? Alternatively we would abandon this use. @jonathanolson what do you think. Current usages are in PressListener, KeyboardFuzzer, and KeyStateTracker (actively worked on as part of https://github.com/phetsim

[2018-10-19 20:32] jessegreenberg commented on #850
We paired on this today during dev meeting. We created a KeyStateTracker, and some boilerplate for testing, that can be used as a way to track which keys are being used on the keyboard.

We decided that this tracker should be a type that can be instantiated multiple times, rather than a global keyboard tracker. One potential usage could be to track the keystate globally (maybe updated in Sim.js or

[2018-10-19 21:46] KatieWoe opened #885 "Chromebook touchscreen right click"
Noticed during https://github.com/phetsims/QA/issues/211 but appears in all sims and on other sites.  When using a touchscreen with chrome OS holding one finger in place on the screen for a second or two brings up the right-click dialog.  This cancels input to scenery, meaning fire-on-hold does not work with the touch screen.  Holding a number picker will allow for 2 or 3 changes before the dialog

[2018-10-23 14:38] jessegreenberg commented on #883
From https://github.com/phetsims/scenery/issues/883#issuecomment-431176082, adding the blocking label, this is a blocking issue for sims that have keyboard navigation and description enabled.

[2018-10-23 22:12] jessegreenberg commented on #765
Sorry I let this sit for so long. I reviewed changes, they look good. RichText components RichTextElement, RichTextLeaf, and RichTextLink were made poolable in this issue. While testing, here is what I found:

1) RichTextElement.clean() is called recursively on all children, even those that don't have clean. So for instance it is trying to clean Lines added to the RichTextElement. Is the following

[2018-10-23 22:30] jessegreenberg commented on #765
If I add
[code]
to RichTextLink.clean, the leak goes away from https://github.com/phetsims/scenery/issues/765#issuecomment-432443031.

Reassigning back to you @jonathanolson to add this (or refactor if that is best), and handle 1 in https://github.com/phetsims/scenery/issues/765#issuecomment-432440829.

[2018-10-24 01:56] jonathanolson commented on #765
Thanks for the review, and nice find on the memory leak! It definitely should be recursively cleaning.

I'm curious what you think is best. The assumption was that only RichText would be adding nodes to that structure, however I could imagine cases where that might not be correct (and it's somewhat implicit).

I'm considering creating a supertype for RichTextElement/RichTextLeaf/RichTextLink (Rich

[2018-10-24 03:13] jonathanolson commented on #858
This is now handled by storing the "last event".

@samreid can you review?

[2018-10-24 03:17] jonathanolson commented on #47
This is now happening in https://github.com/phetsims/coulombs-law/issues/72, reopening

[2018-10-24 03:34] jonathanolson commented on #47
Next steps would be:

- Do another full check in the Mozilla bug reporter for anything related to this (~0.5-1 hours)
- Isolating a minimal reproducible case (probably like an 80% chance of this being pretty easy) and submitting a bug report (~2 hours)

@ariel-phet what is the priority?

[2018-10-24 15:54] jessegreenberg commented on #765
That sounds reasonable to me, as long as other children added to the structure in RichText don't need to be disposed, and don't have children that need to be disposed. A supertype for these sounds good, and I slightly prefer the name RichTextComponent.

[2018-10-24 19:48] pixelzoom opened #886 "add assertion message in Node.setVisible ?"
Currently:

[code]

I hit this every once in awhile when visibility of a node is based on a truthy expression. It sure would be helpful to have an assertion message.

[2018-10-25 00:54] zepumph commented on #850
I made a few updates to this.

* I updated the `keyupUpdate` function to `delete` keys from the object instead of setting them to `null`. It seemed more complete, and it made it easier to check if any keys were down. Let me know what you think.
* I fixed a few bugs in the implementation, especially with the timer functionality and `step` method.
* I added many tests to help exercise these new feat

[2018-10-25 01:35] zepumph commented on #882
There isn't a current use case for this from me. If others feel like there is, or a potential use, then I think it is worth continuing discussion. Otherwise we should move on and close this.

[2018-10-25 03:00] pixelzoom commented on #882
I've never had a need to check `instanceof` of a mixin.  If I need to check if specific functionality exists, it's much safer to use the `someObject.someFunction && someObject.someFunction()` pattern, ala `assert`.

[2018-10-25 19:23] KatieWoe opened #887 "CT: KeyStateTracker"
[code]

[2018-10-25 20:14] zepumph commented on #882
Sounds good. Closing

[2018-10-25 20:14] #882 closed

[2018-10-26 00:40] zepumph commented on #819
From https://github.com/phetsims/scenery/issues/832, @jonathanolson said:

We discussed this further as part of the second half of https://github.com/phetsims/scenery/issues/832#issuecomment-423770701.

I'm going to assign this issue to you to review.

[2018-10-26 00:42] zepumph commented on #832
@jonathanolson my understanding is that all that is left to review is https://github.com/phetsims/scenery/issues/819 (I marked the check boxes in the first comment accordingly). Can you confirm that, and if so you can unassign yourself from this and just look at the association issue specifically from here.

[2018-10-26 01:08] zepumph commented on #870
This was easy to do so I added it. I think that it is good to have to option as we have random discrepancies between spec and AT implementation.  Please review @jessegreenberg.

[2018-10-26 14:33] jessegreenberg commented on #887
Thanks @KatieWoe. When I run tests locally everything generally passes, but sometimes the timing tests break when I switch tabs after refreshing the tests.

[2018-10-26 17:58] zepumph commented on #887
Yes I ended up getting rid of the async timer function, and running all the testing off of timing. This made everything in sync. Hopefully this fixes things.

[2018-10-26 18:15] zepumph commented on #884
Pinging @jonathanolson for comment again, because this issue informs how we proceed with implementing a keystate tracker in https://github.com/phetsims/scenery/issues/850. It also may inform our ability to move `KeyboardDragListener` into scenery.

[2018-10-26 19:01] jessegreenberg opened #888 "Centralize accessible input event handling?"
@zepumph @mbarlow12 @jessegreenberg were wondering if there is a way to consolidate accessibility events in scenery.

Right now, DOM event listeners are attached to individual sibling elements in the PDOM. This is because we have a limitation where specific DOM events can only be triggered from the document.activeElement. For instance, button click events will only be triggered from the button tha

[2018-10-26 19:48] zepumph commented on #871
Worked on this again with @jessegreenberg and @mbarlow12 today and we are ready to proceed with adding it to phetmarks and ct.

[2018-10-26 20:28] zepumph commented on #871
Alright I updated phetmarks, over to @jonathanolson to add `fuzzBoard` testing to CT.

[2018-10-26 20:29] zepumph commented on #871
This was done in the above commits too over the last few hours. I think we can close this issue once it is on CT. We can handle individual optimizations in different issues as we go.

[2018-10-26 21:03] KatieWoe opened #889 "Mouse click remains when touch screen used"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
Found during https://github.com/phetsims/QA/issues/212, but not restricted to that sim.
When holding something with the mouse, if the touch screen is used during that time the mouse can be released but acts as if it is not.  Assigning to @jonathanolson as it looks like an input event issue.
**Ste

[2018-10-26 22:23] #887 closed, assigned to zepumph

[2018-10-26 22:35] zepumph commented on #871
Looks to successfully be on CT now. Closing

[2018-10-26 22:49] zepumph commented on #871
I added code so that if activeElement changes while we are spamming an element, we break the loop and go to the next loop.

@jessegreenberg please review. I think another way to do this would be in the loop to just update the "current element" to be the `activeElement`. That would cause more events total to trigger, and may be nice.

[2018-10-27 21:42] zepumph commented on #832
Much of this has been done. Removing the high priority label on it as we finish stuff off.

[2018-10-27 21:42] zepumph commented on #819
I'm going to continue implementation on another association-type attribute in https://github.com/phetsims/scenery/issues/873. Please add `aria-activedescendant` to the review of this issue.

[2018-10-27 21:43] zepumph commented on #819
Moving the high priority label from #832 over to here, since this is the last issue from there.

[2018-10-27 22:31] zepumph commented on #873
Added above. @jessegreenberg please give a spot check review to the above commit, knowing further review will be done as part of #819.

I'm interested in potentially coming up with a way that we don't have to copy paste so much code. Though I'm unsure how many more times this will come up (famous last words).

[2018-10-29 17:04] jessegreenberg commented on #873
Clearly working well, thanks for adding unit tests. I realized that one way in which this differs from the other association setters is that there can only be one aria-activedescendant, rather than a list. So maybe we could either refactor the association setters to handle aria-labelledby, aria-describedby, and aria-activedescendant, then assert that there is only one association in the list of ar

[2018-10-29 17:05] jessegreenberg commented on #873
Hmm, after thinking about it more I think it would be best for aria-activedescendant to not use the list approach because it would be confusing to have an array of associations that can only have one item.

[2018-10-29 18:45] jessegreenberg commented on #871
Thanks @zepumph, this fixes it 👍

But also, Ill go ahead with your suggestion in https://github.com/phetsims/scenery/issues/871#issuecomment-433563339. I think this will test cases where we pass focus off from one element to another.

[2018-10-29 18:46] jessegreenberg commented on #871
fuzzBoard on test-server looks good. Im going to go ahead and close this issue but will keep an eye out for CT.

[2018-10-29 18:46] #871 closed

[2018-10-29 18:50] jessegreenberg commented on #873
@zepumph assigning back to you to consider the above. I am leaning toward not having an associations array for aria-activedescendant because it would be strange to use an array-like api for this thing that can only have one value.

[2018-10-29 20:33] jessegreenberg commented on #883
Adding this to globalKeyListener of AccessibleInstance fixes the problem in FF and IE11:
[code]

This fixes tab navigation, though readable things outside of the iframe are still discoverable by the AT. But focus recovers gracefully in this case, and it should be up to the parent of the frame to hide content from AT in full screen mode.

[2018-10-29 20:37] jessegreenberg commented on #883
Focus gets lost in Edge when navigating backwwards, so we should add a similar check navigating backwards.

[2018-10-29 20:50] jessegreenberg commented on #883
This should be fixed with the above commit.

[2018-10-29 22:18] jessegreenberg commented on #883
@KatieWoe verified that this issue has been fixed in the above issue. Closing this one.

[2018-10-31 15:32] pixelzoom commented on #879
Reopening. This may not be fixed, see https://github.com/phetsims/unit-rates/issues/207.

[2018-11-01 02:53] jonathanolson commented on #879
I did not see anything related to PaintObserver itself in that issue, except for the fact that the button creation added a listener (so when the buttons are not disposed, the buttons are leaked). Thoughts?

[2018-11-01 03:31] jonathanolson commented on #884
Could things just be tied in to when Display.updateDisplay() is potentially called?

[2018-11-01 05:37] jonathanolson commented on #886
Added above, does that look good?

[2018-11-01 15:38] jonathanolson commented on #889
Is Hanson the device that exhibited this problem? I might wait until Tuesday to investigate this in person.

[2018-11-01 16:14] pixelzoom commented on #886
Looks great, thanks. Closing.

[2018-11-01 16:14] #886 closed

[2018-11-01 16:17] zepumph commented on #884
We thought about that. Could updateDisplay take an optional `dt` value?

[2018-11-01 16:45] jonathanolson commented on #884
Definitely.

[2018-11-01 19:00] #879 closed

[2018-11-01 20:08] zepumph commented on #819
Actually I'm going to put this on-hold until #873 is sorted out.

[2018-11-01 20:11] zepumph commented on #873
One idea:

Maybe it could have an array like implementation internally, and then just have public methods that differ. So the active descendant api would just be:

[code]

--------------------------------------------------------------------

Another idea:

Internally I may already want to refactor all of the logic of these into a better system. If you look at the chunks of code that are these thre

[2018-11-01 21:46] lmulhall-phet commented on #889
@jonathanolson, I think the device Katie used is a similar model to Hanson. It's essentially a larger version of Hanson.

[2018-11-01 22:25] lmulhall-phet opened #890 "Greyed out arrow button not fully rendered"
**Test Device**

Tycho

**Operating System**

iOS 9.3.5

**Browser**

Safari 9.0

**Problem Description**

Found during https://github.com/phetsims/QA/issues/214. See title and screenshots. Behavior not consistent. Sometimes happens with half of an arrow, sometimes the whole arrow, sometimes two arrows, sometimes one arrow.

I'm wondering if this is an example of https://github.com/phetsims/scener

[2018-11-02 19:09] zepumph commented on #888
@zepumph @mbarlow12 and @jessegreenberg discussed this further today.

It seems like the goal of updating the event listener api for accessibility has a few aspects. A central location would :
* allow for easier maintainability
* create the ability to batch events if needed
* Make a global `keyStateTracker` very useful and easy to ensure accuracy.
* Differentiate between the accessible events we a

[2018-11-02 19:20] zepumph commented on #888
We want to mark this for developer meeting. Feel free to read above, but for the most part the issue is summed up in the following bullets. The main pieces of discussion are as follows:

**Proposal**:
Make accessible input events have the same structure/format as normal input events. We want to create a central system in scenery that monitors all events and delivers them to Nodes.

**Pros** (mainl

[2018-11-02 20:08] jessegreenberg commented on #852
While testing on iOS12.1 Safari, it was discovered that these lines impact the layout of the sim while the virtual cursor is reading through content. We need a different way to remove non-focusable elements.
[code]

[2018-11-02 20:36] phet-steele commented on #47
@ariel-phet @jonathanolson I don't think I could do the minimal reproducible case, but I could search for related bug reports and submit our own if I don't find anything.

[2018-11-05 21:26] rea-laura opened #891 "Unintended scrolling in LOL keyboard nav on Chrome"
<b>Test Device</b>

Jordan

<b>Operating System</b>

Mojave 10.14

<b>Browser</b>

Chrome 70.0.3538.77

<b>Problem Description</b>

In https://github.com/phetsims/QA/issues/214:
When tab is pressed after scrolling the page, the page jumps up, making it so the bottom half of the sim is not visible and so that the sim is very difficult to use with keyboard nav.

<b>Steps to Reproduce</b>

1) Go to h

[2018-11-05 21:37] rea-laura commented on #891
I just tested on Windows and was able to reproduce the issue - however, it turns out you have to scroll all the way to the bottom of the page before pressing tab. Didn't realize this while I was testing for mac.

[2018-11-05 22:05] jessegreenberg commented on #883
@KatieWoe pointed out an extension of this bug in Edge. When launching full screen mode in Edge from an iframe, if you click outside of the simulation frame, then click with mouse to activate full screen mode, you can't focus anything in the sim, even if you click inside the sim with a mouse.

This is critical for the bug.

Also @KatieWoe said that if the browser alert dialog that says "Page has e

[2018-11-05 22:06] jessegreenberg commented on #883
Referencing this issue again so it shows up with others in the QA issue: https://github.com/phetsims/scenery/issues/883

[2018-11-05 22:07] jessegreenberg commented on #883
Referencing the qA issue so that it shows up with the others: https://github.com/phetsims/QA/issues/214

[2018-11-05 22:28] jessegreenberg commented on #891
I may have just seen this happen. @rea-laura if you scroll down again can you still see the whole sim? Then it jumps back up again on next tab? I missunderstood the issue initially.

[2018-11-05 22:46] rea-laura commented on #891
@jessegreenberg yes, that's what is happening. I posted a video on google photos if you would like to see the bug in action: https://photos.app.goo.gl/hCKVWEsDhBJXGD1J8

[2018-11-05 22:47] jessegreenberg commented on #891
Very helpful, thanks! Sorry I didn't see it in the original issue.

[2018-11-05 23:12] jessegreenberg commented on #891
On my screen I can only get this to happen when I shrink my browser window vertically. But I wonder if this is a native browser behavior, like the document active element is the iframe, and the browser is trying to shift it into view? Or maybe it is like @mbarlow12 is saying in the issue ticket.

[2018-11-06 17:11] ariel-phet commented on #828
@KatieWoe assigning to you to let you know (and communicate to the QA team) that I don't think this is an issue we need to handle.

1. It requires mutlitouch, and in particular the edge case of swiping the quick settings menu (on my android phone this is a very intentional action, not easily encountered in normal use)

2. It does not crash the sim, and is fixes itself once the quick setting menu i

[2018-11-06 17:42] #828 closed

[2018-11-06 21:03] jessegreenberg commented on #891
OK, new theory is that it is because the PDOM is crammed into the top left corner of the sim. So when focus changes, the browser shifts to put the focused iFrame element near the center of the view. This will be true if this issue is fixed in the pdom-transform branch of scenery.

I can't reproduce the problem in https://phet-dev.colorado.edu/html/coulombs-law/1.1.0-a11yTest.1/phet/coulombs-law_en

[2018-11-06 21:20] jessegreenberg commented on #891
This will be fixed naturally with the mobile a11y work. But I don't know the severity of this issue. Is it important for this issue to be fixed in coulombs-law, (or other sims that are nearing publication) and previously published sims? The changes would be too large to be applied in maintenance releases, so new RCs from master would be needed for each.

This bug only happens when the sim iframe i

[2018-11-06 21:32] jessegreenberg commented on #883
Well, this part is starting to feel more like an Edge problem because when testing, we aren't even reaching the keydown listener on the body when this happens.

[2018-11-06 22:36] arouinfar commented on #891
@rea-laura nice find!

Just throwing in my two cents -- @jessegreenberg @mbarlow12 @emily-phet given that the LOL website isn't at all keyboard navigable, I don't think this should be a blocking issue for Coulomb's Law (or any other upcoming sim).

[2018-11-07 00:42] mbarlow12 opened #892 "appendLabel/appendDescription rendering out of order in PDOM"
Found while using Checkboxes in Gravity Force Lab. `Checkbox.js` sets both to true, and this results in the `LABEL_SIBLING` being added after the `DESCRIPTION_SIBLING`. Here's a screenshot

<img width="739" alt="screen shot 2018-11-05 at 1 04 49 pm" src="https://user-images.githubusercontent.com/5711147/48103060-f4c5ca00-e1ea-11e8-9345-2f13d5a662fb.png">

Should we always default to having the lab

[2018-11-07 16:32] emily-phet commented on #891
Not 100% sure I'm following the root of this issue, but especially if it's an LOL specific problem we shouldn't fix.

[2018-11-07 16:33] emily-phet commented on #891
Just curious - how was this issue found? I think we should be careful when investigating PhET-io + a11y related issues. We don't expect these two to work well together, so I don't think it's worth significant effort to test these combos or investigate the issues.

[2018-11-07 16:56] jessegreenberg commented on #891
Hmm, good question about LoL, should we be testing a11y at all on their platform? LoL is separate from PhET-iO so in the past we have done some things to make sure that keyboard navigation works well in their harness. Here is an example, where we disabled all keyboard nav when the sim is disabled: https://github.com/phetsims/phet-io/issues/995 (Sorry it is tracked in the phet-io repo, but is not s

[2018-11-07 17:58] jessegreenberg commented on #892
Should be fixed in the above commit and I added unit tests to verify. @zepumph since you worked on these options can you please check to make sure this looks OK?

[2018-11-07 18:04] jessegreenberg commented on #891
I think we have a decision on this issue in particular, so I am going to close this one. Moving the discussion about whether a11y should be tested in the LoL harness to the meeting doc, but @emily-phet please reopen or move somewhere else if there is a better place to discuss.

[2018-11-07 18:04] #891 closed

[2018-11-07 20:02] zepumph commented on #892
This looks good. Thanks for verifying with unit tests.

Why did you choose to use `Array.prototype.indexOf.call( bElementParent.childNodes, bElement );` instead of just calling the method on `childNodes`?

Otherwise it's very nice!

[2018-11-07 20:54] jessegreenberg commented on #883
I was able to verify that this is an Edge bug. Here is my test:
<details><summary>Main HTML</summary>

[code]
</details>
<details><summary>iframe src</summary>

[code]
</details>

If you click on the button to launch full screen mode, keyboard navigation does not work at all for the buttons in Edge.

[2018-11-07 21:10] jessegreenberg commented on #883
If focus is outside of the iframe when the iframe when full screen is requested, this happens. Clicking on the iframe doesn't focus the iframe (at least in Edge). I don't know if a workaround is possible, but I also don't know if it is worth our time to find one. @emily-phet can you please comment?

[2018-11-07 22:31] #892 closed

[2018-11-07 23:56] zepumph commented on #818
Honestly I'm surprised that this hasn't been more of an issue yet. I would assume that most Node's are being emitted to phet-io as  "newly fully constructed instances to interoperate with" before they are fully constructed.

Is it possible that actually this is safe because the entire construction will happen sync on the sim side before passing this information over to the wrapper side?

[2018-11-08 17:50] jonathanolson commented on #888
The general improvements sound nice to me. The phrase "Look up the peer from that DOMElement" scared me for a second, but it should be possible to use a data attribute to store a reference to a Node on the actual DOMElement.

If this is done, is the distinction between a "normal" input listener and "accessible" input listener helpful? Can they be combined into a single namespace of events? (Is tha

[2018-11-08 23:47] jessegreenberg commented on #890
I have an iOS with 9.3.5, I was only able to reproduce consistently when tablet is in portrait orientation, even then it only happens sometimes when moving the . This looks a lot like #654, and if I can't reproduce with rootRenderer="canvas" Ill move to that issue and close this one.

[2018-11-08 23:52] jessegreenberg commented on #654
This showed up again in coulombs-law, see #890, when the arrow buttons are disabled on the number controls, certain positions of the charges in the sim cause the arrows to be partially rendered.

![](https://user-images.githubusercontent.com/31285590/47882888-9b2b5d00-ddf0-11e8-9a8c-b7e2fef1f53b.jpg)

[2018-11-08 23:53] jessegreenberg commented on #890
AFter trying for several minutes, I am not seeing this happen with canvas, so I assume this is the same as #654. Ill close this issue and make note of this one there. @jonathanolson please feel free to reopen if that is not correct.

[2018-11-08 23:53] #890 closed

[2018-11-08 23:57] jessegreenberg commented on #890
Also pinging @mbarlow12 since this came from a sim that he is working on.

[2018-11-09 16:29] jessegreenberg opened #893 "Don't use tabindex to remove elements from focus"
From https://github.com/phetsims/resistance-in-a-wire/issues/189.

tabindex="-1" is being used to remove all elements from the focus order (even those that are not focusable by default). This is necessary because IE11 by default gives ALL HTML elements a tabindex of "0", including list items, paragraphs, everything. See https://github.com/phetsims/john-travoltage/issues/206.

We are counting on fo

[2018-11-09 16:30] jessegreenberg commented on #893
Also Edge behaves like IE11 for tabindex so the workaround is needed for both browsers.

[2018-11-09 16:31] jessegreenberg commented on #893
I think the best way forward is to use the data attribute to flag that elements are not focusable. https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes

[2018-11-09 18:03] jessegreenberg commented on #893
We need a way to set/get data attributes from AccessiblePeer. I think we can use setAttribute/getAttribute, but the spec defines a `dataSet` property on HTMLElements for this. I can't decide whether or not we should use this since we have AccessiblePeer.setAttributeToElement

EDIT: I verified that the data- prefix is sufficient for the browser to recognize that it is a data attribute, at least in

[2018-11-09 21:50] zepumph opened #894 "What should the names of Input emitters be?"
Working on https://github.com/phetsims/scenery/issues/888 with @jessegreenberg brought us into `Input.js` a lot.

I'm wondering if we should name the emitters differently. On one hand it makes sense that they match the function name for each Input.js method, but an alternative would be that they were named for the Scenery event they actually caused.

In phet code we add an input listener that look

[2018-11-09 22:03] samreid commented on #894
We may be somewhat constrained at the moment by our strategy for recording/playing back browser input events rather than scenery events?

Also, can you propose a rename so I can know more clearly what you are thinking of?

[2018-11-09 22:39] zepumph commented on #894
`mouseDownEmitter` -> downEmitter, because it dispatches the scenery "down" event.
`mouseMovedEmitter` -> moveEmitter, because it dispatches the scenery "move" event.

Ahh! My plan falls flat because touch events are also dispatched to the scenery "down" event.

Anything else here for this issue?

[2018-11-09 22:46] jessegreenberg commented on #888
@zepumph @mbarlow12 and @jessegreenberg worked on this today with help and guidance from @jonathanolson (many thanks!). We are certain this is the right way to go. The above commit is initial work for this issue, and it came together surprisingly quickly and well.

This work assumes that all events that we care about for a11y will bubble to the root. We verified that this is the case. Then we made

[2018-11-12 16:55] jessegreenberg commented on #893
This is a little tricky because now we can only set the tabindex when overriding the default browser behavior for any given element.

[2018-11-12 19:09] jessegreenberg commented on #893
Above commit should handle this. tabindex is now only used when we are overriding default browser behavior. So input elements like `button`s and `input`s should only ever have tabindex="-1" if removed from navigation, and non-focusable elements like `div`s and `p`s should only ever have tabindex="0" if add to navigation order. @zepumph can you please review this? In particular do you have any conc

[2018-11-12 21:02] ariel-phet commented on #883
@jessegreenberg I think I can make the call here. This is definitely quite an "edge" case especially since edge such low usage of our sims. You need to be in an iframe, in fullscreen, a rare use case. Lets defer for the moment, and continue working on getting this sim out.

[2018-11-12 21:19] jessegreenberg opened #895 "attributes in AccessiblePeer should all use setAttributeToElement"
From #893 @zepumph pointed out that it would be better if all attributes used the function that was made for this for consistency.

[2018-11-12 22:37] zepumph commented on #888
Both @jessegreenberg and I seemed to agree while pairing that it would make sense to build out this fundamental piece of a11y events. I think that will mean moving the logic that is currently written in `AccessibleInstance.globalKeyListener` over to this sort of pointer. I wonder if that will help me out with the error I'm finding in https://github.com/phetsims/friction/issues/143.

[2018-11-13 12:01] emily-phet commented on #883
@ariel-phet Thanks for weighing in. Sounds good to me.

[2018-11-13 16:09] jessegreenberg commented on #888
This sounds really great to me.

[2018-11-13 18:45] chrisklus commented on #843
Assigning to @zepumph for review. Could you also take a look at what @samreid and I did for VoidIO in https://github.com/phetsims/tandem/commit/d7820afb7061f82b164268930d54916bb4cc7f35?

[2018-11-13 19:13] pixelzoom commented on #843
I'm wondering why we need to align anything.   In https://github.com/phetsims/graphing-quadratics/issues/66, I ported from SimpleDragHandler to DragListener.  And it was my understanding after that discussion (and dev meeting discussion) that PhET-iO instrumentation would (going forward) include porting from SimpleDragHandler to DragListener.

[2018-11-13 19:15] samreid commented on #843
Has the comment in https://github.com/phetsims/graphing-quadratics/issues/66#issuecomment-430818685 been superseded?

[2018-11-13 22:58] jessegreenberg commented on #895
Took a look at this and I am now questioning the decision. There are three places outside of setATtributeToElement that set an attribute. Two were straight forward, but the third is in AccessiblePeer.setVisible
[code]

It is nice to be able to apply hidden to attributes in a loop without having to go through the "name" of the element like AccessiblePeer.CONTAINER_PARENT.

[2018-11-13 22:59] jessegreenberg commented on #895
On the other hand, this is exactly where we would want to use the asProperty option so we don't have to do element.setAttribute( 'hidden', '' );

[2018-11-13 23:45] jessegreenberg commented on #870
Something about this isn't working right for MathML elements, found while looking into #895. Not sure why yet, but attributes like the hidden Property are not being removed from MathML elements.

[2018-11-14 00:05] jessegreenberg commented on #870
Here is what I am seeing:
![image](https://user-images.githubusercontent.com/6396244/48451142-0ec95480-e777-11e8-9a7c-bee9a2435474.png)

[2018-11-14 00:07] jessegreenberg commented on #870
Can we replace
[code]
with
[code]

[2018-11-14 00:13] jessegreenberg commented on #870
Tests (unit, aqua) are passing so going ahead with this. re-closing.

[2018-11-14 06:16] samreid commented on #857
The problem is in this part:

[code]

Note that `gridInjectorElapsedTimeInPressedModeProperty` is changing its own value in its own link call.  If I comment out `self.gridInjectorElapsedTimeInPressedModeProperty.value = 0;` then no problem is exhibited.  I considered moving this issue to Fluid Pressure and Flow, but it seems equally good or better to mark that property as re-entrant and close this

[2018-11-14 06:17] samreid commented on #857
Fixed and closing.

[2018-11-14 06:17] #857 closed

[2018-11-14 06:46] samreid commented on #858
I have some concerns about `lastDOMEvent` being stale but that is partly because I'm not familiar with scenery's sequence.  I can see that `new Event` is only called from `dispatchEvent`, so that seems good. And  since that is the only place that overwrites `lastDOMEvent` this seems like it will work well.  I guess I'm saying it's unfortunate that we had to add this because it looks a little britt

[2018-11-14 06:46] #858 closed

[2018-11-14 16:16] jessegreenberg commented on #870
I am understanding now that MathML elements don't support all attributes on HTMLElements, and don't support hidden.

[2018-11-14 16:21] jessegreenberg commented on #870
element.setAttribute( hidden, "" ); makes the hidden attribute show up on MathML elements, but the Math is still visible in the viewport, and https://developer.mozilla.org/en-US/docs/Web/MathML/Attribute doesn't list hidden or any of the attributes of HTML elements. I am going to revert changes because handling attributes for MathML will be a larger issue. To hide MathML maybe we will have to wrap

[2018-11-14 16:27] jessegreenberg commented on #870
All changes since https://github.com/phetsims/scenery/issues/870#issuecomment-433425360. Re closing.

[2018-11-14 16:27] #870 closed

[2018-11-14 16:51] jessegreenberg commented on #895
Done in the above commits. For `setVisible` I added an `element` option to `setAttributeToElement` to set the attribute directly to the desired element rather than looking up by name.

I considered replacing this entirely with the `elementName` option, but that would have required using `getElementByName` at every usage of setElementToAttribute so I decided against it.

Local tests are passing, cl

[2018-11-14 16:51] #895 closed

[2018-11-14 17:18] jessegreenberg commented on #893
All good ideas @zepumph, done in the above commits. Can you please check?

[2018-11-15 00:47] jessegreenberg commented on #893
@mbarlow12 said that keyboard navigation is mostly broken in Safari, and there is also strange zooming in VO. This issue could be a cause since it changed how we notify the browser which elements we want to be focusable. We should make sure that we haven't broken things on all browsers with this change.

[2018-11-15 01:03] jessegreenberg commented on #893
@mbarlow12 showed me what was happening on his machine. The keyboard navigation issue was in user settings because Mac disables keybaord nav by default for some reason. The zooming issue was still happening, but I doubt it is related to this issue. Ill make an issue to check on the zooming further.

[2018-11-15 16:29] jessegreenberg opened #896 "VoiceOver is zooming in on on first tab or read with virtual cursor"
From https://github.com/phetsims/scenery/issues/893#issuecomment-438876864, on @mbarlow12 Mac, VO was zooming in strangely on the sim when first tabbing into the sim. Might have also been happening when reading with the virtual cursor. Then on second tab, it zooms out again and everything looks OK from then on.

This was also happening in published sims like BASE.

@terracoda and @KatieWoe have yo

[2018-11-15 16:33] KatieWoe commented on #896
I don't think I have but I'll do a bit of exploring

[2018-11-15 16:35] zepumph commented on #896
I'm curious what this looks like. It would be nice to see a screen capture. Is it like when you browser zoom, because with that I find that this sim largely stays the same (though canvas nodes may blur).

[2018-11-15 16:40] jessegreenberg commented on #896
Like browser zoom, but with size changing as you would expect. Zoomed into the center of the sim, everything larger, and things out of view were no longer on screen.

[2018-11-15 16:41] jessegreenberg commented on #896
@mbarlow12 can you also check on user settings for Zoom on Mac? https://www.engadget.com/2014/07/09/mac-101-use-zoom-to-magnify-an-item-on-your-mac/

It looks like it can be enabled with the VoiceOver shortcut, and there is also a setting to have zoom track focus, I am wondering if that is happening here?

[2018-11-15 16:42] jessegreenberg commented on #896
Also, could you please post a screenshot here of what it looks like for documentation?

[2018-11-15 17:32] zepumph commented on #893
Review is great! I like the tests. Thanks. Ready to close?

[2018-11-15 17:36] jessegreenberg commented on #893
I think so, thanks for reviewing!

[2018-11-15 17:36] #893 closed

[2018-11-16 14:38] terracoda commented on #896
@jessegreenberg and @KatieWoe, I have never seen a zoom behaviour using teh Tab key and VoiceOver, and I Tab all the time in VoiceOver. I am still using High Sierra 10.13.6

[2018-11-16 15:09] jessegreenberg commented on #896
Thanks @KatieWoe and @terracoda.

@mbarlow12 and @KatieWoe can you please put Mac OS versions you are using in this issue?

[2018-11-16 15:35] KatieWoe commented on #896
10.14 as we officially support the most up-to-date OS

[2018-11-19 19:30] samreid commented on #864
In 4628d4eabb1bcd25bbdef7a7d9e057cd1f4c870c FireListener was changed to use `{function}` and no longer supports `null` (throws assertion error).  This seems great, closing.

[2018-11-19 19:30] #864 closed

[2018-11-19 19:34] samreid commented on #866
I'd like to clarify/understand the purpose of having Focus instrumented.  Some possibilities:

* For playbacks, so we can see how the user changed focus
* For data stream, so researchers can understand how the user moved focus
* Something else?

Mousing-over an object is not in data stream nor is it in the state--we will need to decide whether focus should be treated differently.

[2018-11-19 20:39] KatieWoe commented on #885
Video of this occurring during https://github.com/phetsims/QA/issues/220
https://drive.google.com/file/d/1ggOkGnAQfWWBNGu5NsZMKZJDZm7hZ5RR/view?usp=sharing

[2018-11-20 20:55] jessegreenberg opened #897 "Accessible input values should be set on elements as a property"
I noticed some `value=null` attributes on things I wouldn't expect in the DOM, in this case the attribute should be removed. There is a special function to handle input values that is handling this. But i think this function can be removed now because we have the ability to set this attribute as a property after #870.

[2018-11-20 21:34] jessegreenberg commented on #897
Local and unit tests are running well after the above change. I tested things that use value attribute  like AccessibleSlider with NVDA and JAWS, and all seems OK. `value="null"` is no longer showing up everywhere in the DOM.

[2018-11-20 21:34] #897 closed

[2018-11-26 23:02] zepumph opened #898 "Why do we get focusout events without an a11yPointer trail"
From https://github.com/phetsims/scenery/issues/888

[code]

If bluring, I would expect that there would have to be a focus first, such that the a11yPointer would already have access to the appropriate trail.

For now we will put in a work around.

[2018-11-26 23:05] zepumph commented on #898
The main reasoning we think this deserves an issue is because we really though we could get away with assuming there would be a focusin before a focusout. It kinda breaks out understanding of the situation and it would be good to investigate further.

[2018-11-26 23:09] zepumph commented on #888
We worked on this more today.

* We added the focusout event to the root DOM element, from which we are handling the `blur` scenery event.
* We made it so that both `focus` and `blur` don't bubble within scenery
* We added new accessibility event tests, see `AccessibilityEventTests`
* We added an a11yPointer instance of `A11yPointer` to Input.js to make sure that trails are kept up to date and not

[2018-11-27 14:39] mbarlow12 commented on #896
@jessegreenberg @KatieWoe I discovered the issue, I think. In the VO utility on MacOS, there are options for showing the VO cursor and its magnification. So what was happening was that the cursor was on the entire page, resulting in zoom-like behavior while not technically being "zoomed".

1) Before turning on VO
<img width="1440" alt="screen shot 2018-11-27 at 9 31 00 am" src="https://user-images

[2018-11-29 05:19] samreid opened #899 "Convert usages of `get Node.disposed` to use `Node.isDisposed`"
From https://github.com/phetsims/tandem/issues/46

I'll assign this to @jonathanolson to investigate, but on hold until https://github.com/phetsims/tandem/issues/46 is complete.

[2018-11-29 06:52] jonathanolson commented on #899
Seems like a decent amount of work to figure out, for not a huge amount of gain. I don't have an objection to leaving things as-is.

[2018-11-29 19:13] mbarlow12 commented on #896
@jessegreenberg I think we can close this issue.

[2018-11-29 19:19] #896 closed

[2018-11-30 17:56] KatieWoe opened #900 "iframe briefly freezes"
For https://github.com/phetsims/QA/issues/216.  Found on Win 7 Internet Explorer.  Not found on other browsers on Win 7 or on Win 10 IE.
When dragging any atom in the atomic interactions iframe, it is possible to drag it off screen.  If the atom is "let go of" outside the sim, then there are several seconds where the sim can't be interacted with, before intractability returns.  @jbphet thought thi

[2018-11-30 18:04] jbphet commented on #900
I didn't realize that this was only in IE when @KatieWoe showed it to me.  I don't think it's worth @jonathanolson's time to investigate in that case.  Closing.

[2018-11-30 18:04] #900 closed

[2018-11-30 18:33] jessegreenberg commented on #898
This assertion is difficult to produce, I tried after reverting https://github.com/phetsims/scenery/commit/b432f1fb116c751f52e1c830346c796fbc5f190f and hit it once in build-an-atim during local aqua tests with fuzzBoard, but haven't been able to encounter it again.

[2018-11-30 18:34] jessegreenberg commented on #898
But I saw a similar stack trace as https://github.com/phetsims/scenery/issues/898#issue-384548138, so I suspect this is related to visibility updates.

[2018-11-30 18:52] jessegreenberg commented on #898
?fuzzBoard in aqua tests caught this again, here is more trace:
![image](https://user-images.githubusercontent.com/6396244/49308642-db8d0200-f4a6-11e8-9f38-8279939ad2b4.png)

Looks like this came after setting focus to a "small" button on the home screen
![image](https://user-images.githubusercontent.com/6396244/49308746-2a3a9c00-f4a7-11e8-880e-aa3274feda07.png)

[2018-11-30 19:03] jessegreenberg commented on #898
To isolate to the screen view I tried removing the click listener in ScreenButton.js, but I haven't been able to hit this again.

[2018-11-30 19:08] jessegreenberg commented on #898
pointer.trail is being set to null in Input.branchChangeEvents

[2018-11-30 19:36] jessegreenberg commented on #898
I added a flag to focusIn so that we can make sure that focusIn/focusOut occur in pairs, and hit an assertion that verifies that they will not necessarily happen. I am seeing focusOut is being called without calling focusIn. I don't understand why.

But this is not an issue of the trail being modified.

[2018-11-30 19:49] jessegreenberg commented on #898
When running aqua tests and the browser is not the active window, we don't get any `focusIn` or `focusOut` events. Is this happening because we click the browser window while tests are running, getting a focusOut event before a focusIn event happens?

[2018-11-30 20:11] jessegreenberg commented on #898
If our assumptions about focusin/focusout are true, we shouldn't need to init the A11yPointer on focusOut. But we do, I added this assertion to the DOM focusOut event listener, and we hit it
[code]

[2018-11-30 23:21] samreid commented on #876
Thanks for pointing this out, I think we are moving toward a pattern where more and more things can be optional.  However, this is contrary to our prior bias for a complete data stream, which requires all input listeners to be instrumented.  I guess I'm inclined to make FireListener required. @zepumph let me know your thoughts.

[2018-12-03 14:51] jessegreenberg commented on #898
Here is the order of events when using a keyboard (not fuzzBoard)
![image](https://user-images.githubusercontent.com/6396244/49380999-f8147e80-f6e0-11e8-85dc-73b53895af3a.png)

[2018-12-03 15:09] jessegreenberg commented on #898
So this illustrates that there are cases where we have two focusout events in a row. This didn't assert out in normal usage because we had a focus/focusin pair on initial tab, which set the a11yPointer trail to the large screen button. But by the second focus out, I would assume
![img](https://user-images.githubusercontent.com/6396244/49382098-7e31c480-f6e3-11e8-95c2-b5d6c5c062f5.png)
 it is point

[2018-12-03 15:20] jessegreenberg commented on #898
I added this assertion and hit it.
[code]

So I believe that we *must* recompute the a11yPointer trail every `focusin` and every `focusout`. And if we continue to support `focus` and `blur`, we may need to recompute the trail on those events too for cases like https://github.com/phetsims/scenery/issues/898#issuecomment-443736348.

[2018-12-03 16:09] jessegreenberg commented on #898
The above commits recompute the trail on focusout, but only if the trail of the event target is different from the a11yPointer trail. The trails are compared by unique ID.

I feel that we have gotten to the bottom of this, and feel comfortable closing. @zepumph can you please review and do you agree?

[2018-12-03 22:18] jessegreenberg commented on #888
We worked on this more today. Most of the progress can be seen in the checkboxes we marked above. We also added a few more checkbox items as we saw additional work and improvements related to this issue.

Most of the work today involved moving the Display.focus and Display.focusProperty setting out of AccessiblePeer and into the a11y pointer. This helped centralize this part of the logic.

[2018-12-04 18:50] zepumph commented on #876
I agree that required is the way to go here.

[2018-12-04 21:10] zepumph opened #901 "Work arounds needed as we move to scenery events for a11y"
This issue is meant to track the commits made during #888 (and #898) that are made to support having both browser events and scenery events at the same time. For example. Listeners added to dom elements get a dom event as an arg, where scenery event listeners get a `scenery/Event`. Any guards that we create and point to in this issue should probably be removed on completion of #888.

[2018-12-04 23:05] samreid commented on #875
I'm not sure what the ideal solution is.  On the one hand, `VoidIO` is an appropriate description of the IO Type for these parameters, because as far as PhET-iO is concerned, there is no value there.  Or maybe I'm just justifying what started as a hack.  Leaving assigned to @zepumph for discussion, but we may need to escalate to phet-io meeting discussion.

[2018-12-04 23:42] jessegreenberg commented on #901
We ended up diving in, this is no longer necessary. Closing 🚀 🎢 🤖

[2018-12-05 01:39] #901 closed

[2018-12-05 02:40] zepumph opened #902 "Is there a better alternative to invalidateTrail"
From #888 In `A11yPointer.invalidateTrail` we have code that will recalculate the trail if things don't match up. We did have an assertion there instead, but were finding that there were too many edge cases that didn't align with our strict thought process about what should be happening. So I decided to count the number of events versus invalidations for each sim during fuzzBoard:

<details>
<summ

[2018-12-05 02:41] zepumph commented on #902
The fact that `rutherford-scattering` had zero makes me wonder if it has to do with specific events/components/listener practices.

[2018-12-05 02:42] zepumph commented on #902
Nevermind, I reran and got this:
[code]

[2018-12-05 15:53] jessegreenberg commented on #902
Removing the timeout in KeyboardFuzzer, we don't enter Trail.invalidateTrail either (unless the browser is in the background, in which case focusin isn't called and we don't update the trail then).

So it seems like this will only happen on a11y events that are separate from focus. Right now, this only happens during fuzzBoard.

[2018-12-05 15:56] jessegreenberg commented on #902
Also, was this data taken while the browser was the foreground application, or was it run in the background?

[2018-12-05 15:58] jessegreenberg commented on #898
We have a better understanding of why this is happening, and removed the assertions that were causing this, replacing it with a function in A11yPointer that re-calculates the trail if events are triggered on elements outside of focusin/focusout pairs.

@zepumph can this issue be closed now?

[2018-12-05 16:31] jessegreenberg opened #903 "Remove PressListener.a11yListener"
From #888, accessibility listeners can now be added directly with addInputListener, so adding PressListener as an input listener will add both a11y and non-a11y listeners. We had a separate way of adding PressListener's a11y listeners through PressListener.a11yListener, and usages currently look like this

[code]

Removing this will clean up PressListener quite a bit, and I think also fix a few th

[2018-12-05 16:33] jessegreenberg commented on #903
I verified that clicking on a button that uses PressListener with a keyboard is calling PressListener.click twice.

[2018-12-05 16:45] jessegreenberg commented on #903
This means that ALL things using PressListener will also get a11y input listeners characteristic of buttons. Is this a problem?

[2018-12-05 17:00] jessegreenberg commented on #903
a11yListener removed in the above commits and keyboard interaction with buttons seems to be working. It is a little too early to see if this fixed what was showing up on CT.

[2018-12-05 17:01] jessegreenberg commented on #903
@zepumph do you have any opinions about https://github.com/phetsims/scenery/issues/903#issuecomment-444555403? Would it be a problem for things that extend PressListener like DragListener or FireListener?

[2018-12-05 18:46] zepumph commented on #902
I'm not sure, likely some of each, as I probably did other things while it finished.

This makes sense, and is less concerning. Anything else for this issue? Documentation about this?

[2018-12-05 18:47] #898 closed

[2018-12-05 18:51] zepumph commented on #903
There is a potential that if the methods are overridden, and they don't call the super type method, then we loose functionality (which is not a unique issue to a11y pressListener). No strong preference from me. To me it doesn't really seem like an improvement (though no worse either). I like that all the a11y stuff is consolidated and can be documented as such. I'm flexible however you would like

[2018-12-05 20:40] jessegreenberg commented on #902
Sounds good, I added documentation to invalidateTrail about this. Closing.

[2018-12-05 20:40] #902 closed

[2018-12-05 21:11] jessegreenberg commented on #903
After chewing on this a bit, I agree. And it seems unecessary/reckless to add click listeners everywhere when we don't need them.

I am going to revert the commits made 4 hours ago, and then rename instance functions `focus` `blur` and `click` on PressListener to `handleFocus` `handleBlur`, and `handleClick` to fix this issue.

[2018-12-05 23:32] pixelzoom opened #904 "clean up Node's 'on' method"
Requests related to Node's `on` method:

(1) Document the valid values for the `eventName` parameter.

(2) Validate the `eventName` argument value.

(3) Allow subclasses to easily add eventNames.

Related Slack discussion:

Chris Malley [4:26 PM]
Does Node support `on( 'visibleBounds',...)`? Where do I find the list of valid values for the `eventName` parameter? Why is there no validation in Node.

[2018-12-05 23:39] pixelzoom commented on #904
`eventName` values are apparently in the middle of the doc at the top of the file, at line 159:

[code]

And based on search of ".trigger", this documentation is stale/incomplete.

Recommended to reference this in `@param {string} eventName` doc.

[2018-12-05 23:51] jonathanolson commented on #490
Using a lightweight version of Emitter without all of the tandem/phet-io functionality would be great for this purpose.

[2018-12-06 01:21] jonathanolson commented on #904
It looks like the documentation is up-to-date.

Is it OK to reference the documentation at the top so that it isn't duplicated? Or should I look into moving forward with https://github.com/phetsims/scenery/issues/490?

If not moving forward with lightweight emitters, should there be a "public" and "scenery-internal" list of events, or should they be combined into one list (like mutator keys)?

[2018-12-06 01:39] pixelzoom commented on #904
Referencing where `@param {string} eventName` appears would be fine for now.

Something like that seems necessary for validation. ... if you want to address validation.

[2018-12-06 01:55] samreid commented on #490
Maybe AXON/Emitter would leverage the lightweight emitter (by composition) so we don't end up duplicating code or ending up with different behavior.

[2018-12-06 15:36] jessegreenberg commented on #903
Over slack @zepumph indicated concern over the lines required in keeping a11yListener and that maybe it should stay removed.
[code]

[2018-12-06 15:50] jessegreenberg commented on #903
The case I am worried about is if a parent Node with a listener that extends PressListener has a child Node that uses PressListener. Since click bubbles it will be caught on the parent, always.
[code]

If user presses enter on buttonChild, DragListener.click will be called on `node` above, but it isn't mean to act like an a11y button.

[2018-12-06 16:00] jessegreenberg commented on #903
Possible solutions:

1) Basically what it used to be:
[code]

2) Optionally include a11y listeners
[code]

3) Stop worrying so much, the extra click listeners won't cause problems.

I can't guarantee 3, but I also can't  think of a case that where it is wrong.

[2018-12-06 23:07] zepumph commented on #383
We have accessibleOrder now. Closing

[2018-12-06 23:07] #383 closed

[2018-12-07 00:07] zepumph commented on #42
@samreid showed me @jonathanolson's old project that may help with this. When we get around, perhaps we can reuse some of this code: https://github.com/samreid/ludum-dare-35-shapeshift

[2018-12-07 17:39] samreid commented on #47
I am seeing a similar symptom in Chrome, see https://github.com/phetsims/wave-interference/issues/212

[2018-12-07 18:41] rea-laura opened #905 "Jumpy distortion on Firefox while resizing window"
<b>Test Device</b>

Occurs on both Magnus, Dirac

<b>Operating System</b>

MacOS 10.11.6

<b>Browser</b>

Firefox 63.0.3

<b>Problem Description</b>

Discovered in https://github.com/phetsims/QA/issues/235, but a general Firebox issue.
When window size is adjusted, the distortion patterns flash across the screen.

<b>Steps to Reproduce</b>

1) open any website in Firebox
2) drag edge of window to

[2018-12-07 19:53] samreid commented on #905
Sam Reid [11:08 AM]
Can you reproduce it on another 10.11.6 MacOS firefox?  May be graphics-card dependent?

Laura Rea [11:09 AM]
Yes, happens on both Dirac and Magnus

Sam Reid [11:10 AM]
I recommend to start a paper trail by creating an issue, and also to take the time to report this as a bug to Firefox, reporting for some non-PhET page such as google or wikipedia.

[2018-12-08 14:42] samreid commented on #490
Would the new LightweightEmitter have type and predicate checking?  If so, would we want this stripped out on builds (even storing those predicates), to go easy on the heap?  If we do that, it could lead to a large divergence between heap size in requirejs vs built.  I'd like to pursue this, but I think it would be best to synchronize efforts with @jonathanolson either through collaboration or dis

[2018-12-09 18:19] samreid commented on #905
Assigned to @rea-laura to submit a bug report to Firefox, please leave a copy of the bug report submission here for our records (unless you've already completed it).

[2018-12-10 16:14] jonathanolson commented on #490
If it would have checking, it would need to be stripped. The require.js heap usage doesn't really bug me. I haven't ever had a particular need for the type/predicate checking, particularly since in Scenery most emitters will have exactly 1 place they are emitted.

[2018-12-10 16:14] jonathanolson commented on #490
That sounds great.

[2018-12-10 19:06] jessegreenberg commented on #903
I would be good to talk about this during a11y meeting.

[2018-12-10 19:50] jessegreenberg commented on #903
We discussed during meeting. We decided that for now we can add a function to DragListener that prevents the PressListener.click function from firing by adding a
[code]

and using the implementation of canClick in canPress.
[code]

This seems somewhat of a workaround, but we are not sure if this is going to be an issue at all so this change feels very safe for now. I am going to go ahead and close

[2018-12-10 19:50] #903 closed

[2018-12-10 20:43] jessegreenberg commented on #888
We discussed this during meeting today. Our concern is that we have this order of function calls/events when we call Accessibility.focus()
[code]

The fact that we reach into the primarySibling to focus, the rely on the focusIn event bubbling up to the root, then delegate that back to the A11yPointer feels very roundabout/backwards. We discussed an alternative that would go through the Display, an

[2018-12-11 18:49] zepumph commented on #888
It is also worth noting another draw back to the way it is currently implemented (also discussed yesterday).

Right now we are able to do this because there is a DOM api for programmatically focusing and DOMElement. This is also the case for the `click()` method, but there is no production level way of triggering other events. If in the future we find that it is important to simulate keydown event

[2018-12-11 21:28] samreid opened #906 "Should fitted blocks be used selectively based on platform?"
From https://github.com/phetsims/wave-interference/issues/212

@jonathanolson said:

[2018-12-11 21:57] zepumph commented on #888
It isn't hurting anything, and I feel like we can't assume that we 100% know that we will get one even before another. For mouse events, this conditional is in all of the functions, even wheelScroll. I think we should keep it in. I'm going to check this off.

[2018-12-11 23:27] zepumph opened #907 "Add sceneryLog to scenery unit tests"
This is something that I have felt would be very nice for a while. At one point I developed a halvsey solution just for a11y, but we should revert that and support `sceneryLog` fully.

[2018-12-11 23:32] ariel-phet commented on #906
@jonathanolson I am marking this for developer meeting, as I want to understand implications better. Certainly, I don't think we want to do anything about this until after January deadlines, but seems worthy of discussion

[2018-12-11 23:39] zepumph commented on #907
@jonathanolson please review.

[2018-12-11 23:50] zepumph opened #908 "Simplify call chain in Input.js"
Since adding emitters to Input.js, here is what the internal (in Input.js) call stack looks like for every browser event:

event [-> sometimes more complicated logic] -> prototype method called on input -> emitter -> logic

Most of the "prototype methods" from the above chain just manage sceneryLog and then call the emitter. If we could convince ourselves to move the logging into the listener of t

[2018-12-12 00:03] zepumph commented on #908
Given the changes above, do you think Input.js would benefit from removing the other 15 prototype methods for pointer related events?

[2018-12-12 00:32] zepumph commented on #888
I implemented this, and in addition I added another checklist to discuss the current namings from `focusin/out` (browser events) to `focuc/blur` (scenery events). It may be weird to have the emitter named after the browser event instead of the sceneryEvent. I think I may prefer `focusEmitter` and `blurEmitter`.

[2018-12-12 00:33] zepumph commented on #888
I wanted to add this, but the refactoring in the most recent commit makes it easier to map it to the DOM event we are listening to rather than the scenery event. @jessegreenberg do you feel strongly either way?

[2018-12-12 01:58] zepumph opened #909 "Implement global KeyTracker into A11yPointer"
From #888, we now have scenery events for accessibility, and we are ready to take a look at KeyTracker to see how it can be useful to us. Marking for a11y dev meeting.

[2018-12-12 02:00] zepumph commented on #888
Added accessibleOrder tests above.

I see 2 things left on the checklist:

I propose creating a new issue to support keyTracker (this one has gone on long enough). As for the globalKeyListener. @jessegreenberg can you take a look at that? I think you may understand that more than I. We can also do it together if you prefer.

Before closing @jessegreenberg can you review the changes I made today. M

[2018-12-12 18:38] zepumph commented on #818
Sam Reid said very articulately that we don't need to have an object fully constructed before instrumenting it (by calling PhetioObject.initializePhetioObject on it). This is because the PostMessage call over to the wrapper is async, so no matter what it won't happen until after the object has been fully constructed (all the way up and down the hierarchy).

The error in https://github.com/phetsims

[2018-12-12 18:38] #818 closed

[2018-12-12 19:23] jessegreenberg commented on #888
This was done in the above commits. Though not handled by A11yPointer, still an improvement that the listener is added where others are in Input.js.

@zepumph would you like to review this or can this now be closed?

[2018-12-12 20:35] zepumph commented on #888
Your changes look smart, thanks for that. In addition to the list I left you a few comments up, I wanted to make sure you saw https://github.com/phetsims/scenery/issues/888#issuecomment-446416483. After addressing that we are ready to close this issue.

[2018-12-12 21:56] zepumph commented on #888
Good point! I think that is what I would want to do too. Closing

[2018-12-12 21:56] #888 closed

[2018-12-13 01:05] zepumph commented on #843
1.

I think this is alright. I like the documentation. Part of me thinks that we should create basically a duplicate of VoidIO called `HiddenIO` or something much better to illustrate the difference more clearly. Let's keep it for now unless anyone else feels strongly.

2. Regarding startDrag, why is so little in the emitter? I understand that code was just copied from the section in between the p

[2018-12-13 01:12] zepumph commented on #876
Commit looks good.

[2018-12-13 01:12] #876 closed

[2018-12-13 03:30] jonathanolson commented on #908
I'm not sure I understand how this would work.

Right now, on a `pointerdown` event, it scenery-logs `'pointerdown`'. We don't have a pointerdown emitter, since this can result in calls to mouseDownEmitter/touchStartedEmitter/penStartedEmitter.

There's also nontrivial logic in BrowserEvents' `onpointerdown()` and Input's `pointerDown()` that happen before calling the emitters.

How would your pro

[2018-12-13 03:34] jonathanolson commented on #907
Looks good to me, thanks!

[2018-12-13 03:34] #907 closed

[2018-12-13 17:14] zepumph commented on #908
Yes that makes sense. I was pretty sure that was the case, but there were places where it looked like it may be possible, for example `Input.pointerDown` has a switch case that could possibly call emitters instead.

Even if we don't change other code in Input, @jonathanolson do you think that https://github.com/phetsims/scenery/commit/0ba5dec01ec0b850d786e346ab5172195219d6ef is appropriate and a w

[2018-12-13 17:49] jonathanolson commented on #908
Seems good to me.

[2018-12-13 17:57] jessegreenberg commented on #906
I have seen this in a number of sims I have worked on, and twice recently in energy-skate-park. But `preventFit: true` has always fixed the problem without consequences.

[2018-12-13 18:02] #908 closed

[2018-12-14 04:52] samreid opened #910 "SimpleDragHandler should use Pointer.attachedProperty instead of Pointer.dragging"
It looks like Pointer.js was changed to use `attachedProperty` in Feb 2017.  SimpleDragHandler has been attaching `Pointer.dragging` separately.  This means that a Pointer dragged by SimpleDragHandler doesn't know that it's attached and hence you can pick up something else with it via swipe to snag.  Example and video are here:
https://github.com/phetsims/wave-interference/issues/243

It seems thi

[2018-12-14 04:56] samreid commented on #910
Here's a patch that addressed the symptom in Wave Interference:

[code]

You can apply it using WebStorm => VCS => Apply Patch.

It seems likely that this bug may be affecting other sims that are using mixed types of drag listeners, so I'll mark this as blocking publication.  @jonathanolson can you please take a look?

[2018-12-14 04:58] samreid commented on #910
Note I also patched a usage in CoinTermCreatorNode.

[2018-12-14 22:14] jonathanolson commented on #910
Does setting `{ attach: true }` in SimpleDragHandler resolve this issue?

[2018-12-16 16:56] samreid commented on #910
That works perfectly, thanks!  On hold until @KatieWoe tests https://github.com/phetsims/wave-interference/issues/243

[2018-12-17 18:59] jonathanolson opened #911 "DOM click events received on a11y div"
Going into friction or BASE and clicking an empty area near the top results in an error:

[code]

This seemed to come from the a11y div actually having a computed area:

![a11y-div](https://user-images.githubusercontent.com/480878/50108677-1f943c80-01f3-11e9-8d41-0b04e98c8990.PNG)

[2018-12-18 02:14] zepumph opened #912 "Create A11y examples"
There are scenery examples in `scenery/examples`, but it would be good to have some exemplifying scenery a11y features. @jessegreenberg @twant and @zepumph worked on a few basic ones tonight, and and @twant is interested in looking into a few more in the coming weeks.

@twant some notes to think about:
*  Don't use code that is outside of scenery/ because we want these to be standalone examples (r

[2018-12-18 02:17] zepumph opened #913 "Move KeyboardDragListener to scenery"
It makes the most sense for a base listener like this to live in scenery.

[2018-12-18 22:23] zepumph commented on #910
Looks like things over there have been cleaned up, tested, and closed. Marking off hold.

[2018-12-19 18:58] zepumph opened #914 ""item" is not a function in Input.serializeDomEvent()"
The phet-io team found a bug in Input.serializeInputEvent while running mirror inputs wrapper when trying to serialize touch events. It looks like code that was written in 2013 was assuming that all browsers would follow the `TouchEvent` spec for its properties: 'touches', 'targetTouches', and 'changedTouches'. On some browsers these are Arrays, and others they are TouchLists. On top of that We ne

[2018-12-19 19:18] zepumph commented on #914
We discussed this also with @jonathanolson and he said the change looks reasonable. Closing

[2018-12-19 19:18] #914 closed

[2018-12-19 21:02] jessegreenberg opened #915 "KeyStateTracker inconsistencies"
In CT I am occasionally seeing
[code]

Related to #850 and #909

[2018-12-19 21:16] jessegreenberg commented on #915
While looking into this I noticed that if alt shift or ctrl are pressed while fuzzBoard is running we will hit this error immediately. I don't think that is what is causing the error on CT, but good to know.

[2018-12-19 21:30] jessegreenberg commented on #915
In KeyboardFuzzer we have
[code]

so that if any modifier keys are down on the key state object, they are restored to the event too. Fromthe stack trace it looks like the assertion is thrown from the global keystate tracker, so I think this is happening because we are using a KeyStateTracker that is different from the global one.

Also, with this test, will this.keystateTracker.shiftKeyDown EVER b

[2018-12-19 21:43] jessegreenberg commented on #915
I changed KeyboardFuzzer to use the global KeyStateTracker. Remaining things for this issue:
- [ ] Check on CT and see if the problem goes away. (haven't hit it during local testing yet)
- [ ] See if we can modify the the if statements in https://github.com/phetsims/scenery/issues/915#issuecomment-448750605 so that testing doesn't test with modifier keys forever.

[2018-12-20 19:53] samreid commented on #910
Approved in testing, closing.

[2018-12-20 19:53] #910 closed

[2018-12-21 01:51] zepumph opened #916 "Why does Events.dispose do nothing?"
Discovered as part of https://github.com/phetsims/friction/issues/161.

After slack discussion with @jonathanolson and @pixelzoom, I will see about turning the dispose method into:

[code]

[2018-12-21 03:32] zepumph commented on #916
I ran through all aqua tests twice, once at 10 seconds, and then again at 20 after catching all the errors the first time. @pixelzoom please review.

[2018-12-21 20:59] zepumph commented on #916
@pixelzoom I went with an approach that paralleled what we are doing in Emitter.

Most are just reverting commits above, please review https://github.com/phetsims/axon/commit/8e1568f6a852ef72f4d3f86e3465f66e4167ed5e and https://github.com/phetsims/scenery/commit/c79745a6764156959d5aa2b053dd7b0b25504315

[2018-12-22 00:46] pixelzoom commented on #916
Adding @jonathanolson as a possible reviewer.  I might not get to this for awhile, and it seems like something that should be reviewed quickly.   Whoever reviews first, unassigned the other person and close if all is well.

[2018-12-22 04:57] twant opened #917 "formatting questions for accessibility examples"
The example called accessibility-updating-pdom.html is starting to take shape (still very much a work in progress). I've noticed two strange behaviors, would love your thoughts if anything comes to mind for these:

1. I can't click into the input box, but can tab to it if I want to start typing. Not sure why that's happening, and I'm wondering if this has anything to do with any of the accessibili

[2018-12-23 02:01] zepumph commented on #917
1: I am unsure about that. Since the form controls aren't inside the Display div (`accessibility-scene`), I'm not sure what the issue is. None of the css looks like it would be blocking mouse events. I have a few recommendation on how to debug this:
* But a click listener on the body, and then see (a) if you get a callback when you click on the input, and (b) what the event.target is for that even

[2018-12-26 17:42] samreid commented on #916
@zepumph @chrisklus and I took a look at this today and pushed a commit that will hopefully help.

[2018-12-28 00:13] jessegreenberg commented on #884
Part of this was done in #909 so we could step the Display's KeyStateTracker. updateDisplay now takes an optional dt for this.

The next step is to review other usages of timer added for a11y. KeyStateTracker global could be stepped in updateDisplay but I am not sure how timers used in individual listeners will change yet. This applies to KeyboardDragListener (which we hope to move to scenery) and

[2018-12-29 01:37] zepumph commented on #866
Now that we have streamlined a11y events into Input with emitters. The above commit accomplished updating much of the above goals. All a11y events now emit to the data stream. Here is an example pretty log.
![image](https://user-images.githubusercontent.com/6856943/50531994-dc717d80-0abe-11e9-9984-d325202f63bb.png)

With any luck perhaps we could add a phetioID in there for readibility.

[2018-12-29 01:59] zepumph commented on #866
In the above commit I stripped FocusIO of all sour code, because really it doesn't need to be in the state, or be able to recreate itself on the downstream side. Instead I'm thinking of it as a read-only Property used to monitor the current phetioID that is focused. That coupled with the focusIn/Out emitters make for a nice data stream.

On top of that I removed it from state, we don't have mouse

[2018-12-29 02:08] zepumph commented on #866
I also moved the Property under general, but ditched the display sub-tandem. Should we rename `focusedPhetioID` to `phetioID`?

[2018-12-31 01:48] samreid commented on #866
Does this mean a11y events can now be recorded and played back?

[2019-01-03 02:54] zepumph commented on #866
Yes. Right now the only interaction I have not seen successfully recorded is the "grab button"

[2019-01-03 03:22] jonathanolson commented on #916
Looks good to me.

[2019-01-03 03:26] zepumph opened #918 "Assertion: key should be down before it is removed from keystate"
When I pressed the prtScn button on MAL while I had the slider focused. Not sure what that is about. Perhaps it is a button that isn't recognized by out current keystate tracker?

[2019-01-03 03:32] zepumph commented on #916
Awesome. Thank you.

[2019-01-03 03:32] #916 closed

[2019-01-04 01:20] jessegreenberg commented on #915
I am not seeing this in CT anymore, so I checked that off.

In the above commit, I decided to prevent "trusted" (genuine user events) from updating the KeyStateTracker when running fuzzBoard so that if a key is pressed while running tests, we don't get an invalid key state while user and KeyboardFuzzer are both running.

[2019-01-04 03:01] jessegreenberg commented on #915
After reviewing, I was incorrect about the second checkbox in the above comment. Even if a modifier key is down on the KeystateTracker and then on a DOM event so they match, the keyup event will then clear the keystate tracker once the event is triggered.

Since the two issues have been fixed, this issue can be closed.

[2019-01-04 03:01] #915 closed

[2019-01-06 06:24] zepumph opened #919 "assert out if you try to focus something with multiple parents"
From https://github.com/phetsims/sun/issues/314#issuecomment-451669019, I thought we had something like this in place, but I can't seem to find it. We should make sure to add it.

[2019-01-07 16:08] jessegreenberg commented on #919
There is an assertion in Accessibility.focus that looks like
[code]

Is this sufficient?

[2019-01-07 16:12] jessegreenberg commented on #918
Interesting, according to http://www.javascripter.net/faq/keycodes.htm

Which matches what we are seeing.

[2019-01-07 16:15] jessegreenberg commented on #918
Another one https://stackoverflow.com/questions/4292925/keydown-event-not-working-on-printscreen-key

Are other keys like this?

[2019-01-07 16:21] samreid commented on #843
1. `VoidIO` sounds reasonable for now, but I agree we may one day need to distinguish between "no value" and "suppressed from IO interface"
2. I moved more code to the emitter listeners.  No problems revealed in local aqua (phet brand) test.  I also tested BLL phet-brand which uses SimpleDragListener extensively and didn't see any problems.  I also tested BLL mirror and it worked nicely.  Wrapper

[2019-01-07 16:33] mbarlow12 opened #920 "Add a focusin event that bubbles when focus changes"
After the changes from https://github.com/phetsims/scenery-phet/commit/2eead2b568132832a638d5d63f6d10ac2393785c, https://github.com/phetsims/scenery-phet/commit/cb7d61cd2cc8eb42abe012966df9b1dddd1d0be9, and https://github.com/phetsims/scenery-phet/commit/eeb182f9af661701666fad19842eedf18707c704, I discovered that we can no longer add event listeners (at least for focus) to NumberControls or compos

[2019-01-07 16:36] mbarlow12 commented on #920
My inclination is to go with option 1 as it's a simple boolean switch. Additionally, since we're only using the `focusin` browser event, you could argue that Scenery is only aware of a bubbling focus event, so that would maintain consistent behavior between the PDOM and Scenery.

[2019-01-07 16:53] jessegreenberg commented on #918
I couldn't find "official" documentation about this, but due to this behavior I am proposing skip this assertion on release of the print screen key.

I couldn't find other keys like this, but maybe they are out there Print Screen key was the only one with that annotation in http://www.javascripter.net/faq/keycodes.htm.

@zepumph could you please review?

[2019-01-07 17:16] jessegreenberg commented on #920
I am on the fence. I agree that it will be easy for devs to forget that there is both `focus` and a `focusin` event. But after thinking about it more, I realized there may still be benefit to having both.

Lets say that `focus` bubbles and the NumberControl catches that event when its HSlider gets focus. In that case, NumberControl's primary sibling will NOT equal `document.activeElement`, it does

[2019-01-07 17:19] jessegreenberg commented on #920
Because of the above, I am leaning toward option 2, but would be good to discuss again at dev meeting.

[2019-01-07 18:03] jessegreenberg commented on #920
Exactly! Thats what I was going for in the example in https://github.com/phetsims/scenery/issues/920#issuecomment-452009833

[2019-01-07 19:40] jessegreenberg commented on #920
Discussed during 1/7/19 dev meeting:

We will proceed with supporting both `focus` event and `focusin` event. We discussed just using `focusin` as well for clarity, but didn't want to limit ourselves to this as we may have cases in the future where we do not want a focus event that bubbles.

[2019-01-07 19:45] mbarlow12 commented on #920
- [ ] add the following to Input.js
[code]
- [ ] test the bejesus out of it

[2019-01-08 00:16] zepumph commented on #843
Change looks good to me. I see one possible room for problems relating to the pattern in general.

It is based on a discrepancy between methods like PressListener.press and SimpleDragHandler.startDrag.

In SimpleDragHandler the emitters have comletely taken over the methods `move`, `startDrag`, and `endDrag`. Where in PressListener they are still just a piece of them.

So for example you get scene

[2019-01-08 00:17] zepumph commented on #920
Ideally we will add this change before the next developer meeting. Marking high priority.

[2019-01-08 00:22] #919 closed, assigned to zepumph

[2019-01-08 00:44] zepumph commented on #918
I'm curious about this. I feel like I have seen this issue in a few other cases, and I wonder if we should think about supporting a more flexible keytracker. I don't want a product where we are constantly adding in conditional support for a new edge case (though perhaps this will be the only one). I also think there should be a test in keytracker to try to cover this test, though I'm unsure exactl

[2019-01-08 01:34] jessegreenberg commented on #918
It is difficult to say without knowing what those cases are or if they are caused by the same issue as this  one where PrtScn only fires keyup events (in most browsers).

Now that we understand this browser/OS behavior, maybe it would just be a check to make sure a single keyup event corresponding to PrtScn is OK?

[2019-01-08 20:03] samreid commented on #843
I think the "move everything to the Emitter" as exemplified in Input.js seems the cleanest (and maybe even removing the adapter methods altogether, maybe not), but I'm somewhat concerned that other developers may not like that pattern at all.  Maybe we should discuss it with @jonathanolson and @pixelzoom?  What do you think @zepumph?

[2019-01-08 20:11] zepumph commented on #843
We are pretty heavily invested in this approach at this point, and it doesn't seem to be causing issues atm. I think we are good to proceed. Could we either (a) move the scenery logging out of the emitters in SimpleDragHandler, or (b) move logging into the emitters in PressListener.

I think I prefer the first option, what do you think?

[2019-01-08 21:46] pixelzoom commented on #843
I am so out of the loop on this (I don't even know why we're adding Emitters to SImpleDragHandler) that I have nothing no feedback.

[2019-01-08 22:30] jessegreenberg commented on #911
Thanks for the help with this @jonathanolson and @jbphet, tested on JAWS and NVDA for a while, and no issues have been found in master related to this in the last 22 days. Closing.

[2019-01-08 22:30] #911 closed

[2019-01-08 22:32] jessegreenberg commented on #909
No, thanks @zepumph, this can be closed. We have #915 and #918 to clean up specific issues that came out of this.

[2019-01-08 22:32] #909 closed

[2019-01-08 23:30] jessegreenberg opened #921 "API for focus event"
We are deciding on the best API for supporting focus events in scenery and we have a choice to make that we would like to run by developers.

For background, there are two DOM Events for focus.
 - `focus` event fires when an element has received focus.
 - `focusin` is same as the `focus` event, but it also bubbles.

We are considering two options:
 1) Support both a `focus` and a `focusin` event t

[2019-01-09 03:59] samreid commented on #843
I would like to move the entire body of `press()` to the `_pressedEmitter`, but unfortunately, it has a return value which is not supported by `Emitter`.  However, I looked through all usages of `.press( event` and didn't see any places where the return value is used, so maybe clients that really need that feature can call `this.canPress( event )` on their own?  Also, I'd like to eliminate the awk

[2019-01-09 16:23] samreid opened #922 "Can focusOnCloseNode be moved to the accessibility framework?"
Discovered in #437, there is an a11y option called `focusOnCloseNode` which tracks the currently focused item before opening a dialog, so when the dialog is closed focus can be restored to the prior focused element.

I was wondering if this is something that should be handled more generally by the accessibility engine?  Perhaps it should automatically track a stack of previously focused instances,

[2019-01-10 01:41] samreid commented on #921
Can you please provide some concrete examples that indicate a typical case, and comment on whether it bubbles or not?  For instance, if a radio button button has focus, then we would want to show a highlight in the parent radio button group?  What other kinds of things would we expect to happen in the focus callback?  Do you already have one of these systems (or another kind) in place so that we c

[2019-01-10 16:01] jessegreenberg commented on #921
Right now we have the `focus` event which does not bubble, usages could be found by searching for `focus:`. In all of these and typical cases we don't need or care about focus bubbling. We will usually care in cases where both parent and descendants could receive focus. For instance a draggable scenery-phet/TimerNode which has focusable play/pause buttons. Example with option 2:
[code]

[2019-01-10 16:23] samreid commented on #921
Can you please elaborate why the a11y team prefers option 2?

[2019-01-10 17:17] jessegreenberg commented on #921
We prefer option two because there is only one event for focus that behaves the same everywhere. You only have to be aware of one event name.  Most of the times you need to listen to the `focus` event bubbling won't be involved and you don't need an `event.currentTarget` check. When you do care, a check against `event.currentTarget` is very explicit at the usage and people won't have to remember o

[2019-01-10 17:21] samreid commented on #921
There are already 91 matches for `event.currentTarget` across our repos.  Would it be helpful to distinguish between focus events and other scenery events, something as simple as calling this `focusEvent` instead of event?  Or is it really structurally identical to the pointer `event`?

[2019-01-10 17:22] jessegreenberg commented on #921
They are really the same thing, all are using scenery `Event`s now.

[2019-01-11 22:08] jessegreenberg commented on #922
Perhaps the new A11yPointer can be helpful here. Adding the a11y meeting label to discuss and brainstorm!

[2019-01-13 22:16] twant commented on #917
Apologies for not responding to this sooner -- thanks for the thoughts and feedback, Michael! I'm working on fixing the input box and implementing MutationObserver now.

[2019-01-14 19:46] jonathanolson opened #923 "Safari visual artifacts"
In https://github.com/phetsims/fractions-common/issues/70 there were artifacts reported that don't look like the usual "incorrect repaint area" type. Since this is also specific to Safari, it looks like it should have a dedicated issue.

[2019-01-14 20:09] jessegreenberg commented on #920
We need to get through https://github.com/phetsims/scenery/issues/921 before we can finish this, marking this on-hold.

[2019-01-14 22:35] zepumph opened #924 "look into handleDocumentKeydown"
While working on https://github.com/phetsims/friction/issues/168, @jessegreenberg, @twant, and @zepumph noticed that `Input.handleDocumentKeydown` looks wonky.

* It accesses the first `accessibleInstance` on the active Node.
* it traverses the trail to figure out visibility (isn't there a bitmask or something)?
* can activeNode and pointerFocus be consolidated?

[2019-01-14 22:37] jessegreenberg commented on #924
This is related to https://github.com/phetsims/scenery/issues/713, and work on this issue might be done when we fully visit that one.

[2019-01-15 00:18] twant commented on #912
Scenery Accessibility Examples to build
--keyboard drag listener, slider, etc.
--simple slider (0 - 10)
  --listener for keydown events, input or change events.
--simple use of PressListener
--accessible charts/graphs
  --simple pie chart ("blue: 50%, orange: 25%")
  --bar chart?
  --add in some visual to show what the chart is representing (e.g. jar of M&Ms)?

[2019-01-15 18:41] pixelzoom commented on #58
Over in https://github.com/phetsims/sun/issues/446, we converted ComboBoxButton to a RectangularPushButton.   That seemed to eliminate the need for `this.enableClickToDismissListener`, and in fact it didn't work - never dismissed the list when clicking outside it.   So it was removed.  See  https://github.com/phetsims/sun/commit/deaae9d0e029acc1d4efa27d8518c7e5d54fad2e.

It might be good to have @

[2019-01-15 20:37] jessegreenberg opened #925 "Can we make focusin/focusout more consistent for IE11 and safari?"
In https://github.com/phetsims/friction/issues/168, there are circumstances where `focusin` and `focusout` are not being triggered by IE11. In that issue, it is happening when tab is pressed and we immediately modify the focused elements (or its related elements) HTML content. Perhaps there are other cases too.

Missing focusin and focusout means that we will fail to call `focus` and `blur` listen

[2019-01-16 20:37] pixelzoom commented on #921
I'm having a difficult time understanding the difference between the 2 options.  Is there an error in the example for option 2?   Should the listener added to `parentNode` have a `focusin` field instead of `focus`?

[2019-01-16 22:23] jonathanolson opened #926 "Firefox repaint issue with clip areas"
Noticed in https://github.com/phetsims/energy-forms-and-changes/issues/173, where regions with energy chunks (under a clip area) did not disappear when they were set to invisible.

Workaround was to `null`-out the clipArea whenever they were set to invisible.

[2019-01-17 04:37] pixelzoom commented on #459
I encountered this once again in https://github.com/phetsims/sun/issues/430#issuecomment-455037261.   No idea which fields in Trail are intended to be `@public`.

[2019-01-17 04:38] pixelzoom commented on #552
I encountered this once again in phetsims/sun#430 (comment). No idea which fields in Trail are intended to be @public.

[2019-01-17 16:40] jonathanolson commented on #921
One disadvantage with option (2) would be in cases that we may otherwise generally prohibit, e.g. if you add button A as a child of button B, then the default code (with no target=currentTarget check) would think both buttons were focused.

We generally avoid this type of pattern, so option (2) seems safe enough.

[2019-01-17 17:01] jonathanolson commented on #843
Since the subtype "overridden" press can see whether the press succeeded or not before continuing with other behavior. Its usage is:

[code]

[2019-01-17 17:52] jonathanolson commented on #520
According to the bug report, this looks like it was fixed in May 2018. @ariel-phet's testing is showing that the bug appears to be gone.

[2019-01-18 01:00] zepumph commented on #843
That makes sense to me, assigning to @samreid for discussion.

[2019-01-18 01:53] pixelzoom opened #927 "Trail enhancements for ComboBox"
So that I can move forward with https://github.com/phetsims/sun/issues/430#issuecomment-455236157 ...

(1) Please add visibility annotations for Trail fields

(2) Please add `containsNode` to Trail. Probably some thing like this (untested):

[code]

[2019-01-18 03:12] pixelzoom commented on #927
If `trail.nodes` was intended to be `@private`, then we have problems.  I see 39 occurrences of `trail.nodes`, several of which are in sim code.  And most occurrences are  testing to see if a Node is on the Trail.

E.g. fractions-common/BuildingLabScreenView:

`const doesTrailMatch = _.includes( event.trail.nodes, screen.view ) || event.trail.length <= 1;`

[2019-01-18 03:13] pixelzoom commented on #927
If `trail.nodes` was intended to be public, then you can skip adding `containsNode`, and probably just document `nodes` as `@public (read-only)`.

[2019-01-19 04:07] samreid commented on #843
@samreid said:

@zepumph said:

@pixelzoom said:

I'll create a separate issue to review our patterns for inlining/instrumenting Emitters and see if the development team has questions or feedback.

@jonathanolson are you aware of current usages of this, or is this mainly planning for potential future usage?

[2019-01-19 21:37] samreid opened #928 "Review "inlined Emitter" pattern with the dev team"
From https://github.com/phetsims/scenery/issues/843#issuecomment-455747598

The simplest and most straightforward way to add an event to the PhET-iO data stream is by instrumenting an Emitter.  This is true for both record/playback events as well as purely data-stream events.  For instance, scenery/Input.js used to have sections like:

https://github.com/phetsims/scenery/blob/80af1e4417614837f2586

[2019-01-21 01:43] samreid commented on #866
It looks like this code isn't doing anything. Is that correct?

[code]

[2019-01-22 18:08] zepumph opened #929 "Document a11y event types in Input.js"
@pixelzoom brought the lack of documentation to light today in the a11y-dev channel. Items to do:

1. Add documentation at the top of the file, like around the `Event Types` section.
2. Add better documentation to A11Y_EVENT_TYPES
3. Ask @pixelzoom to review

[2019-01-22 18:49] jonathanolson commented on #927
Should be done above. Added containsNode anyways, as it will be more convenient.

Does this look good? (Sorry about the whitespace formatting in the commit)

[2019-01-22 18:52] pixelzoom opened #930 "address REVIEW comments in a11y code"
I stumble across multiple "REVIEW" comments in Accessibility.js, see below.

"REVIEW" comments are supposed to be used for a code review, and fully removed (or replaced with a TODO and associated issue) when the code review is completed.

[code]

[code]

[code]

[code]

[code]

[2019-01-22 18:56] pixelzoom commented on #930
I the previous commit, I added TODO comments that reference this issue.  If these REVIEW comments should be broken out into their own GitHub issue(s), please do so.

[2019-01-22 18:58] pixelzoom commented on #930
Same problem in A11yBehaviorFunctionDef and AccessiblePeer.   Altogether, I see 132 occurrences of "REVIEW" in scenery that are related to a11y.  Please replace these with TODO comments and associated GitHub issues.

[2019-01-22 19:38] pixelzoom opened #931 "problems with a11y and time-based buttons"
Noted while working on https://github.com/phetsims/sun/issues/447, and it's probably the root cause.  a11y doesn't seem to have any way to prevent `click` from firing multiple time when the Enter key is held down.

PushButtonModel has these options:

[code]

These only pertain to the listener added via PushButtonModel `addListener`.   A11y-specific listeners must currently be added via `addInputLi

[2019-01-22 19:46] zepumph commented on #931
Transferred to scenery because hopefully we can come up with a general solution, since the current fire on hold is just supported by sun buttons.

[2019-01-22 22:36] samreid commented on #922
Looks like something similar is in the works for ComboBox.  When the popup is dismissed, the focus is supposed to return to the ComboBox button.

[2019-01-22 22:36] pixelzoom opened #932 "pattern for identifying a11y Events"
A11yPointer has a `type` field, which is apparently intended to be used to determine when an {Event} event is a11y specific.  E.g.:

[code]

(1) Will all subtypes of Pointer have a type field? If so, it should be defined in Pointer.

(2) How about an API function instead of `event.pointer.type === 'a11y'` string comparison?

[2019-01-22 22:50] pixelzoom opened #933 "PressListener release should provide the event"
We ran into this problem in ComboBox. We wanted to do something on `release` - get `currentTarget`, check that `pointer.type` was an a11y event, etc.  And we discovered that `release` provides no Event.  Please add it.

[2019-01-22 22:52] pixelzoom opened #934 "scenery listeners' option callbacks should be supported by a11y too"
Also discovered while trying to use PressListener in ComboBox, with a11y...

`press` and `release` callbacks don't work with the a11y implementation.

May also be true of other scenery listeners.

[2019-01-22 22:53] zepumph commented on #934
Basically `PressListener.click` is only manipulating the properties, but it should also support the optional callbacks on press and release.

@jessegreenberg let's take a look over a meeting.

[2019-01-22 22:59] zepumph commented on #930
Agreed! Related issues:

https://github.com/phetsims/scenery/issues/867
https://github.com/phetsims/scenery/issues/832

[2019-01-22 23:42] pixelzoom commented on #927
👍

[2019-01-22 23:42] #927 closed

[2019-01-24 16:14] samreid opened #935 "Chromebook fonts have a height problem"
As discovered in https://github.com/phetsims/wave-interference/issues/326, Chromebooks have shown a layout problem which appears to be correlated with font sizes or bounds being a bit larger than other platforms.

From @arouinfar

Chromebook (left), MacBook Pro (middle), Overlap (right)
![image](https://user-images.githubusercontent.com/8419308/51642660-367f2a80-1f27-11e9-95c6-b37067376ea9.png)

@

[2019-01-24 16:43] pixelzoom commented on #935
I don't think dilation is the way to do this, because aren't the fonts _proportionally_ taller?  I'm assuming that the height difference in pixels is not the same for (e.g.) 20pt vs 10pt.

How about if we determine the proportional difference in font height, and then apply that for something like `?stringTest=tall`.

[2019-01-24 16:44] samreid commented on #935
I agree we will need to determine whether it is a constant offset, or a proportional offset.  We could check that with a few tests on Chromebook.  Also, I recommend using a different query parameter.  `?stringTest` is for changing the string data content, not for how it is rendered.

[2019-01-24 16:48] arouinfar commented on #935
@samreid @pixelzoom @jonathanolson I don't think the font size itself is the problem. If I shift the screenshots in https://github.com/phetsims/scenery/issues/935#issue-402783052 to align specific words, the font sizes appear to be identical. The problem seems to be the padding between UI elements is dilated on Chromebook.

I originally included this table in https://github.com/phetsims/wave-inter

[2019-01-24 16:52] pixelzoom commented on #935
I'll be really surprised if the vertical spacing is dilated, I don't know how that cold happen. It would interested in see what the _bounds_ are for the text in the above example.

[2019-01-24 16:55] arouinfar commented on #935
Thanks @pixelzoom. I suppose what I was trying to say is that the Chromebook text doesn't <i>look</i> any bigger, but the bounds being larger do seem to be a reasonable culprit.

[2019-01-24 17:00] pixelzoom commented on #935
If this is a bounds issue, then we should reconsider the decision not to address it in scenery.

[2019-01-24 19:17] zepumph opened #936 "Display.focusProperty is not properly instrumented"
There is a conditional when creating Display.focusProperty that doesn't account for sims that are enabling a11y by passing an option into `Sim`

[code]

We need to find a way around this. Right now we have to add `a11y` to BASE in order to instrument this property.

[2019-01-24 19:19] zepumph commented on #936
The question to answer is:

(How) can we instrument a static property based on a flag that is only set based on instances. Perhaps we need more of a global. Since by the Sim instance is created, the Display's focusProperty has already resloved into a non-instrumented instance.

[2019-01-24 20:23] samreid opened #937 "Add clipArea support to WebGLBlock"
`CanvasBlock` supports `node.clipArea` whereas `WebGLBlock` does not.  This was discovered in https://github.com/phetsims/wave-interference/issues/322

[2019-01-24 20:24] samreid commented on #937
Sam Reid [11:12 AM]
It looks like when I switch from “renderer: canvas” to “renderer: webgl” that clipArea is no longer respected.  Is that what you would expect?  How should I proceed?

Jonathan Olson [11:21 AM]
I realize that is essentially currently unimplemented and unfortunately expected.

[2019-01-24 20:24] samreid commented on #937
Ariel Paul [11:58 AM]
Anything that can be accomplished in a short time?
I am fine publishing with a known performance issue if we are actively working on a fix
Which one of those is the "correct" way to do things

Sam Reid [12:00 PM]
I’ve discovered a sim-specific workaround that may pan out.
Still investigating.
Correct way to do things is to add clipping support to scenery webgl layers
it is al

[2019-01-28 19:35] zepumph commented on #934
The problems to solve for this issue:

* a11y "click" implementation isn't firing the `press` or `release` option calllbacks.
* `release` isn't passed an event, and as such we can't test in those option callbacks whether or not the event occurred from the keyboard or not.

[2019-01-28 19:53] pixelzoom commented on #934
Other problems to solve:

* Does a11y "click" respect FireOnDownListener's `fireOnDown` options? Should it?
* Should Enter and Space keys have the same "fire" behavior?  Or is there some reason that Enter needs to fire on 'up', while Space fires on 'down'?

[2019-01-28 19:56] zepumph opened #938 "Document Pointer and subtypes correctly"
From https://github.com/phetsims/scenery/issues/932

* `type` should be documented in `Pointer`
* It should be made clear that `Pointer` is abstract.
* `type` should be overridden on subtypes and asserted that it is filled in appropriately in Pointer.

[2019-01-28 20:02] zepumph commented on #938
@pixelzoom, please review this. Do the annotations make sense? Any comments?

We were curious about how we made Pointer.type `null`, and annotated it as `string`. Since it is abstract (and there is an assertion to catch it), we thought that was alright.

Also would it be better as `type: undefined`? That felt weird to @jessegreenberg and I so we went with `null`.

[2019-01-28 20:32] zepumph commented on #932
will create a new issue for documenting Pointer and subtypes correctly, see #938

[2019-01-28 21:49] zepumph commented on #932
This was added above, in correlation to support for https://github.com/phetsims/scenery/issues/934.

We added `Event.isA11y()`.

Here a tested example that worked as expected:

[code]

@jonathanolson can you please review this.

[2019-01-28 21:57] zepumph opened #939 "How to handle Space vs Enter for buttons"
From https://github.com/phetsims/scenery/issues/934, in the browser they are different, @pixelzoom and @zepumph discussed at one point whether or not that adds value to phetsims, it would be good to discuss that further, and then implement from there. This also may relate to how we are handling sun buttons, and that should be looked at in this issue to.

Related potentially to https://github.com/p

[2019-01-28 21:58] zepumph commented on #934
see https://github.com/phetsims/scenery/issues/931

Let's make a new issue, see https://github.com/phetsims/scenery/issues/939

[2019-01-28 21:59] zepumph commented on #934
@pixelzoom this was implemented above, like in https://github.com/phetsims/scenery/issues/932 I would appreciate a glance from @jonathanolson since much was in PressListener. @jonathanolson note that the above commits are identical to those in the other issue, I just wanted to assign you both issues for full context.

[2019-01-28 23:44] pixelzoom commented on #934
I think @jonathanolson is referring to the implementation of PressListener `interrupt`, where there's a need to call `release` on line 424 and there is no Event available:

[code]

[2019-01-29 00:49] zepumph commented on #934
Discussing with @jonathanolson on slack:
I said:

Optional event sounds ok if it is available. I don’t want client code depending on the presence

Right!
I agree.
It is helpful because for "normal" use with a11y it can improve UI and visual focus management, but if things get interrupted that mostly falls by the wayside anyways.

@jonathanolson  I added more doc above, please let me know any other

[2019-01-29 01:00] zepumph opened #940 "Adding second PressListener causes bugs"
For #932, @jessegreenberg and @zepumph, added a PressListener to an instance of a `StarButton`. That button is a sun button, so it has a PressListener added to it by default.

When doing this, the `press` callback was never called:

[code]

Note this code was added to scenery-phet's ButtonScreenView.

Note that when trading the declaration with just a rectangle, it works as expected:

[code]

Thus

[2019-01-29 12:55] emily-phet commented on #939
I believe @zepumph will bring this up in today's meeting. Some things that seem relevant to go over in that meeting include:

- This may be obvious, but it would be helpful (at least for me) to have a reminder of expected behavior for space vs enter.
Presumably both activate a button. Does Enter *only* activate buttons? (e.g., drop downs, comboboxes, generic buttons, reset all button, etc. - anyth