[2019-01-29 15:34] jessegreenberg commented on #939
Our buttons respond to the `click` event which is triggered at various times depending on whether or not an assistive device is in use. When an assistive device is enabled the `click` event is usually not accompanied by `keydown` or `keyup` events. For example, the events shown in this test will be different depending on whether NVDA is enabled: https://jsfiddle.net/gtjnfw8d/4/

Since we can't alw

[2019-01-29 16:22] KatieWoe commented on #937
While testing https://github.com/phetsims/QA/issues/274, I saw that on iPads, even when clipping was off, it was on when taking a screenshot through the phet menu.  The second image is the sim, the first is the screenshot.  Cross referencing https://github.com/phetsims/wave-interference/issues/331.
![94400227-6bf9-4b9b-868b-cf3414b6dec8](https://user-images.githubusercontent.com/41024075/51922961-

[2019-01-29 17:32] pixelzoom commented on #939
@emily-phet said:

This would match how "fire on hold" things typically work. Both the delay and interval should be configurable.  Some PhET UI components have this feature, some do not.  Sun push buttons do support this feature, see PushButtonModel:

[code]

[2019-01-29 17:33] pixelzoom commented on #939
@jessegreenberg said:

Why can't we? And why are we explicitly writing handlers that use 'click'? Should we be using a scenery listener that abstracts out those specifics?

[2019-01-29 17:44] jessegreenberg commented on #939
Assistive devices can change which DOM events are sent, even for identical user interactions. For instance, press "enter" on a button without NVDA and `keydown`, `click`, `keyup` events will be sent in that order. But turn on NVDA and ONLY the `click` DOM event will be sent. There are no `keydown` or `keyup` events to listen for. That is why we are writing handlers for `click`.

[2019-01-29 17:52] pixelzoom commented on #939
Hmm...   Then ComboBox will need to change - it's currently listening for `keyup` (it was previously listening for `keydown`.)  And why are things like PhetMenu looking for `keydown`?  Do those need to change?

Are `keydown` and `keyup` only absent with NVDA for Space and Enter?  I'm guessing that must be the case, otherwise we couldn't get other key presses (arrows, etc.)

[2019-01-29 18:09] jessegreenberg commented on #939
The DOM events are determined by the role of the element that has focus. In ComboBox, focus is on an element with the ARIA role `option`, so `keyup` will be received. For elements with the `button` role, `keydown` and `keyup` are never sent for *any* key press. This is so the user can continue to read with the virtual cursor if focus is on a button. For example, pressing "b" while focus is on a bu

[2019-01-29 18:39] pixelzoom commented on #939
Re the stackoverflow article...   I see conjecture, but no authoritative reference.   If we accept this hypothesis, which is in the response with the largest number of votes:

If the semantics of Enter are "accept", then why does it continue to fire when the button is held down?

[2019-01-29 18:40] pixelzoom commented on #939
@jessegreenberg Thanks for the clarification. I didn't realize that you were referring exclusively to elements with role `button`.

[2019-01-29 18:41] zepumph commented on #929
Note from meetings today with @jessegreenberg and @emily-phet. Regarding https://github.com/phetsims/scenery/issues/939, I wonder if we shouldn't put a fair bit of information regarding how certain a11y related keyboard events behave (a) given a certain tag name, and (b) depending on if a screen reader is active.

[2019-01-29 18:48] pixelzoom commented on #929
The more documentation, the better.  Also useful to identify things that are a11y standards vs PhET standards.

[2019-01-29 18:56] phet-steele commented on #810
Another in Wave Interference 1.0.0-rc.1:

<img width="781" alt="screen shot 2019-01-29 at 11 51 46 am" src="https://user-images.githubusercontent.com/5863899/51932641-c48e6180-23bc-11e9-9615-02a8ed69a694.png">

macOS 10.13.6 Chrome.

[2019-01-29 19:43] jonathanolson commented on #940
That seems like the expected behavior actually! PressListeners by default will "attach" to a pointer, and basically prevent other press/drag/etc. listeners from triggering from it. A similar thing happens if you try to put multiple SimpleDragHandlers on something (only the first one will handle the drag).

For the PressListener that shouldn't be the primary "responsible" one, you can add the optio

[2019-01-29 22:01] zepumph commented on #940
Let me try to rephrase to see if I understand. So since the second pointer is 'attach: true' it will basically no op because something else is attached to the printer. If instead attach is false for the second listener, even if the first is still attach: true, then the second listener will fire listeners correctly. So in effect the first press listener doesn't "box out"  others, but rather the sec

[2019-01-29 22:52] jonathanolson commented on #940
Correct

[2019-01-29 22:53] zepumph commented on #940
Thank you! Assigning to @jessegreenberg to make sure he understands. Feel free to close afterwards.

[2019-01-29 23:21] jessegreenberg commented on #940
Understood, thank you!

[2019-01-29 23:21] #940 closed

[2019-01-29 23:50] pixelzoom commented on #938
(1) Pointer is abstract and all subclasses must specify a `type`. So `type` should be a required constructor parameter of Pointer. I.e.:

[code]

(2) If you don't do (1)... Missing visibility annotation for `type` field in Pointer.js:

[code]

(2) Missing visibility annotation for static field im A11Pointer.js:

[code]

(3)  String literal `'a11y'` is duplicated in A11yPointer.js:

[code]

(4) `A1

[2019-01-30 02:15] zepumph commented on #938
1) Yes I agree that is much nicer, thank you for the idea.  Note 2) and 3) are not necessary anymore.

4) This was superfluous, and shouldn't have been used.

How does that look.

[2019-01-30 21:10] pixelzoom commented on #938
👍 Closing.

[2019-01-30 21:10] #938 closed

[2019-01-31 01:53] pixelzoom commented on #928
My primary objection to this pattern is that is relies on its listeners being called in the order that they are added. It relies on the first listener (its `listener` option  value) to be called first, and it does work that needs to be finished before other listeners are notified.   In general, relying on the order of listeners in the Observer pattern is a code smell and an anti-pattern.  And when

[2019-01-31 02:17] pixelzoom commented on #928
Another code smell is that, in the use cases where this pattern is proposed, `listener` is not optional.  This suggests that it should be a required parameter of a new class (not Emitter, let's refer to it as DataStreamTask), that leverages the data stream features of Emitter, either through inheritance or composition.  Or perhaps Emitter's data stream features should be factored out into a new ba

[2019-01-31 02:36] pixelzoom commented on #939
Here's something else that makes no sense to me, observed in the current implementation of ComboBox.  If the combo box button has focus, pressing Enter pops up the listbox, and releasing Enter immediately pops down the listbox.

Demonstrated in Molarity:

1. Tab to the combo box, so that its button has focus.
2. Press and hold the Enter key.  The button's `click` listener fires. The listbox pops u

[2019-01-31 04:51] pixelzoom commented on #928
Writing code that relies on `this.listeners.forEach( listener => listener() )`, which is present in both EmitterA and EmitterB, is the anti-pattern.  EmitterB's redeeming quality is that it doesn't put `specialListener` into the same data structure as the other listeners, so changing the data structure or iterator doesn't affect when it's notified.

I'm saying that listeners should not depend on t

[2019-01-31 16:51] jonathanolson commented on #928
That sounds nice in the general case, but I don't think we've held up to that so far. If we randomized the emitter listener call order, I wouldn't be surprised if a number of sims break.

If it's important to avoid that assumption, should we ensure sim code works regardless of the order? (Or is this something we could consider relaxing)?

[2019-01-31 16:54] samreid commented on #928
I looked briefly for occurrences where the listener order matters and couldn't find any.  I provided a synthetic example in the middle of https://github.com/phetsims/scenery/issues/928#issuecomment-459209829 but it wasn't acknowledged.  It is not clear that the Emitter(listener) pattern means the given listener must go first.

[2019-01-31 16:56] pixelzoom commented on #928
@jonathanolson asked:

This documentation (which deserves discussion) was recently added to Emitter, similar in Property.  Nothing similar in Node.

[code]

[2019-01-31 16:58] pixelzoom commented on #928
@samreid said:

I replied in https://github.com/phetsims/scenery/issues/928#issuecomment-459214583:

[2019-01-31 16:59] samreid commented on #928
Can you point out an example using this pattern where the listener order matters?  Or is this conversation about hypothetical future usages?

[2019-01-31 17:33] jbphet commented on #921
I like the simplicity of a single focus event.  Would it be possible to "catch" or "handle" it to prevent it from bubbling if desired?

On the question of whether to use `focus` or `focusin`, I have a slight preference for staying aligned with the name of the DOM event to avoid confusion.

[2019-01-31 17:34] pixelzoom commented on #928
So you're saying `stepSimulationEmitter notifies listeners when the simulation has been stepped" is a false statement? This is baffling me.

[2019-01-31 17:35] samreid commented on #928
"is being stepped" vs "has been stepped"?

[2019-01-31 17:36] pixelzoom commented on #928
Which bring up another smell..  `stepSimulationEmitter` is supposed to notify listeners that the sim has been (or is being, if you prefer) stepped.  And this pattern gives the emitter the additional responsibility of actually doing the step.

[2019-01-31 17:38] samreid commented on #928
I wonder if one reason it made sense for PhET-iO to move the "work" of the Emitters to the first listener, is that the "work" is supposed to be called during playback.

[2019-01-31 18:22] KatieWoe opened #941 "Keyboard nav does not always go to last interacted location"
For https://github.com/phetsims/QA/issues/276.  Making issue here per request of @zepumph
I noticed in friction that if you click on the zoomed in book with your mouse and then hit tab, it focuses on the non-zoomed in book first instead of the zoomed in.  If you do this with other elements those elements are what are focused first (I.E. hit reset all the press tab and reset all is highlighted).  T

[2019-01-31 18:40] samreid commented on #928
After discussion, we concluded we would like to add `before` and `after` args to Emitter which can be used to make callbacks before or after the listeners.  Cases like those in the top comment will be rewritten to use `before`.  @zepumph is creating an issue to scramble listener order during testing.

[2019-01-31 18:59] jessegreenberg commented on #939
That is another problem, and also happens with `click` event, not just `keyup` https://jsfiddle.net/3bgkcdes/ We should have a general solution for this if possible, though the challenges will come from the same lack of events we face in this issue.

I think we should create another issue to investigate this. Working on the timing for firing buttons with the keyboard (probably in PressListener) wi

[2019-01-31 19:04] jessegreenberg opened #942 "Prevent a11y events after focus changes"
From https://github.com/phetsims/scenery/issues/939 @pixelzoom said

Press and hold the Enter key. The button's click listener fires. The listbox pops up and the item that is currently selected is given focus.
Release the Enter key. The selected item's keyup listener fires, and the listbox pops down.
So by clicking Enter (which supposedly means "accept") the related events get sent to whatever UI

[2019-01-31 20:39] zepumph commented on #843
I think we have a clear step forward for this issue outlined in https://github.com/phetsims/scenery/issues/928#issuecomment-459457279.

In addition it sounds like we need to keep the functionality of press's return value, so we should keep the content of pressedEmitter's callback (listener?) the way it is.

[2019-01-31 21:17] zepumph commented on #928
Note we should also revert comments like https://github.com/phetsims/axon/commit/1239bb66445251ef9df560cd08037f9daf530fcf as part of this work.

[2019-01-31 21:59] jessegreenberg commented on #921
Discussed during dev meeting 1/31/19:

The collected opinion is that we shouldn't deviate from the DOM spec. The most explicit thing is to have both a `focus` event and a `focusin` event when we want to differentiate from events that bubble and those that do not. There is some precedent in scenery to matching the DOM events and there is no good reason to change in this case.

Also, this decision a

[2019-01-31 22:44] jessegreenberg commented on #942
I wonder if we can use this somehow: https://developer.mozilla.org/en-US/docs/Web/API/UIEvent/detail

[2019-01-31 22:51] KatieWoe commented on #941
I think I finally figured out what's going on with keyboard nav that has had me so confused.  If you click on an object and then hit tab, it highlights that object.  If you click outside in the whitespace of the sim, what happens seems to vary by browser.  What had me confused about the zoomed in textbook is that if you click on the dots, that counts as clicking on the object.  If click on the sol

[2019-01-31 22:52] KatieWoe commented on #941
This could probably be closed.  @zepumph up to you.

[2019-01-31 23:18] jessegreenberg commented on #942
I can't think of any way to catch this generally. The click events that are triggered on each button have no knowledge of each other even though they were initiated from the same key press.

As a side note, I also noticed that this accessible combo box example from W3C has the same issue:
https://w3c.github.io/aria-practices/examples/listbox/listbox-collapsible.html

[2019-01-31 23:44] jessegreenberg commented on #925
The workaround is to restore focus to event.relatedTarget on `focusout` in A11yPointer.js blur listener. At this point in the execution, `document.activeElement` is already equal to event.relatedTarget. So focus was set to the new element BEFORE the `focusout` callbacks finished. This may help explain why we aren't seeing any `focusin` events.

[2019-02-01 00:00] jessegreenberg commented on #925
It seems like it is well known that IE11 fires focus events asynchronously, which is likely the cause of what we are seeing in the above comment. From http://jquery.com/upgrade-guide/1.9/#order-of-triggered-focus-events

But I don't know that that is true for Safari.

[2019-02-01 00:05] KatieWoe commented on #941
From slack:

[2019-02-01 00:05] #941 closed

[2019-02-01 03:58] samreid commented on #843
`SimpleDragHandler` is using `Emitters` in the style that we discussed in depth at today's PhET-iO meeting.  In https://github.com/phetsims/scenery/issues/928#issuecomment-459457279 we will update the pattern to use `before` instead of `listener`.

PressListener cannot put all of the logic in the Emitters since it requires return values, so the pattern it is using now seems reasonable.  Technicall

[2019-02-01 10:36] terracoda commented on #939
@zepumph, @pixelzoom, @jessegreenberg, currently from phettest and using Safari on Mac OS (with or without a screen reader on), the button that pops up the the list of options is not operable with the Enter key, only the Space key.

It's a `button`, so it needs to be operable via the Enter key.

Perhaps this article by Paul J. Adam from Deque on [building accessible buttons](https://www.deque.com/

[2019-02-01 10:39] terracoda commented on #939
I think we can close this issue if we agree that we should be supporting both Space and Enter keys on buttons.

[2019-02-01 10:40] terracoda commented on #939
Please re-assign to me as needed.

[2019-02-01 10:49] terracoda commented on #939
Adding links to previous research in other issues
https://github.com/phetsims/a11y-research/issues/64 and https://github.com/phetsims/sun/issues/314

I appreciate all the effort going into the PhET Combobox!

[2019-02-01 14:42] jessegreenberg commented on #942
If we can't catch this generally for all events, maybe our best option is to do this for certain events like `keyup`. For instance, we could not fire any `keyup` listeners if focus changes so that `keyup` is triggered before a `keydown` is triggered on a node.

[2019-02-01 16:22] pixelzoom commented on #939
@terracoda reported:

Thanks @terracoda.  This specific issue with ComboBox is being tracked in https://github.com/phetsims/sun/issues/447.   A general solution is preferrable, and workaround in ComboBox is a last resort, and we've been deferring that issue until this more general issue is addressed.

[2019-02-01 16:32] pixelzoom commented on #942
That sounds like a reasonable approach to investigate.  And ideally, that would be handled by scenery.

[2019-02-01 18:20] zepumph commented on #843
Sounds good to me

[2019-02-01 18:20] #843 closed

[2019-02-03 00:00] pixelzoom commented on #939
Over in https://github.com/phetsims/sun/issues/447#issuecomment-460010180 (the problem specific to ComboBox), I said:

It would be great if everyone played around with this before our Wednesday 2/6 conference call, so that we're all up to speed on what the current behavior is.

[2019-02-03 01:12] jessegreenberg commented on #925
I noticed that focus is broken in this example in IE11, which is similar to what is happening when elements are added/removed from the DOM during element removal and insertion https://jsfiddle.net/95dg7mnL/1/

I noticed this is similar to what is happening in https://github.com/phetsims/friction/issues/168 after adding a MutationObserver and watching for elements that are removed from the DOM. Whe

[2019-02-03 02:15] jessegreenberg commented on #925
The difference between IE11 and Safari is that when this happens in safari, document.activeElement is null. When I change the workaround to
[code]

this works in both IE11 and Safari.

[2019-02-03 05:15] samreid commented on #928
Local aqua looked good, I committed.  Leaving self-assigned to review CT.  Marked blocks-publication in case there is undiscovered trouble.  After CT checks out, I'll reassign for review.

[2019-02-03 20:36] jessegreenberg commented on #925
Done in the above commit. I tested in IE11 and Safari on macOS 10.13.6, as well as Chrome and Firefox. I removed the workaround in A11yPointer, and think of this addition to Input.js as a more general solution.

[2019-02-03 20:38] jessegreenberg commented on #925
From the docs:

It would be great if we could add tests to AccessibilityInputTests to verify this, though I tested these cases manually before committing.

[2019-02-03 21:48] jessegreenberg commented on #925
After the above commit, I tested friction by doing these steps in both Chrome and IE11
- Press spacebar to pick up book
- Tab to zoomed in book
- tab to reset all button

Here are the events in Chrome:
![chrome log](https://user-images.githubusercontent.com/6396244/52183157-06f7da00-27d3-11e9-84e9-f31c73ec0ad9.PNG)

Events in IE11:
![inkedie11 log_li](https://user-images.githubusercontent.com/6396

[2019-02-03 21:52] jessegreenberg commented on #925
Ill bet the extra focusin event is comming from the change where we restore focus in https://github.com/phetsims/scenery/commit/2b7efccfe28e0f44c61b8b135e02bdddbcaf5d79 from this issue.

[2019-02-03 23:17] jessegreenberg commented on #925
The above commit is the best workaround I could think of for this issue. This duplicate event did not appear in Safari, probably because of the order of things in https://github.com/phetsims/scenery/issues/925#issuecomment-460017034. I tested events after this change in a number of browsers going through the steps in https://github.com/phetsims/scenery/issues/925#issuecomment-460091883. Here is wh

[2019-02-03 23:20] jessegreenberg commented on #925
Checking in on CT, I noticed that all accessibility sims are failing with

[2019-02-04 00:01] jessegreenberg commented on #925
Reentry seems to be fixed if I remove https://github.com/phetsims/scenery/commit/4a5a98d0ddc00a16443f41c3f97dea15cd9e47ce.

[2019-02-04 00:36] jessegreenberg commented on #925
I removed the offending line until I have more time to figure out why this is happening. We are receiving `focusout` callbacks for the removed element already, so I don't understand why calling `blur` would fire any additional listeners that would cause reentry.

[2019-02-04 00:55] jessegreenberg commented on #925
I think we are getting extra `focusout` callbacks now because I called blur on the focused Node without checking if that node was actually getting rearranged in AccessibilityTree operations. So `blur` was called more frequently than necessary.

[2019-02-04 18:12] jessegreenberg commented on #925
The above commits accomplish this and I think this is the right way forward. But it would be good to go over this with someone else, @zepumph can we discuss this during a11y dev meeting today?

[2019-02-04 18:42] jessegreenberg commented on #925
After these changes, IE11 still has one extra keyup event, just like in https://github.com/phetsims/scenery/issues/925#issuecomment-460091883.

[2019-02-04 18:45] jessegreenberg commented on #925
With these changes, this line is no longer doing anything for us (tested in IE11) since we don't expect any focus/blur callbacks during AccessibilityTree operations:
[code]

[2019-02-04 18:51] samreid commented on #899
Maybe it will be quick if we rename *all* occurrences to `isDisposed` instead of trying to single out the Node usages.

[2019-02-04 19:11] jessegreenberg commented on #925
The above commit removes the duplicate IE11 focusin event.

[2019-02-04 19:57] jessegreenberg commented on #925
In the above commit, @zepumph and I fixed an issue with afterOp in AccessibilityTree. In the case that the node was removed from the DOM, it was not attached to a display, so we couldn't un-block focusin callbacks from beforeOp. Fixed by having beforeOp return the array of displays that were blocked, to be passed to afterOp and un-blocked.

We are almost done in this issue, we should do a final te

[2019-02-04 20:08] jessegreenberg commented on #925
Also, in IE11, there is still a difference in the events. In all other browsers, the `focusin` event is triggered in response to the `focusOut` event, due to our workaround in the focusout listener in Input.js:
[code]

In IE11, one of the `focusin` listeners is blocked, and the one that makes it through is the one called natively (not in our workaround). We should understand the difference and see

[2019-02-04 20:12] jessegreenberg commented on #925
https://github.com/phetsims/scenery/issues/925#issuecomment-460394000 may not be much of an issue. If it isn't, then at least we should add better documentation to the block using `ieBlockCallbacks` in `focusin` listener in Input.js.

[2019-02-04 21:21] jessegreenberg commented on #918
Encountered this again today, discussing wiht @zepumph, we would like to try to make the KeyStateTracker  have the most accurate representation of the keyboard by adding or deleting the modifier keys from the state if they are present in `keydown` and `keyup`, so in both keydownUpdate and keyupUpdate, we do something like

[code]

[2019-02-05 04:46] pixelzoom commented on #928
Looks good. A couple of doc tweaks in the above commit.

Can you comment on the decision to put `before` and `after` outside `phetioStartEvent/phetioEndEvent`? Just curious...

Should some tests be added to EmitterTests.js?

[2019-02-05 18:08] jessegreenberg commented on #942
@zepumph and I took a look at this last night, we made a change to A11yPointer that aborts the `keyup` event if fired on a Node that didn't first receive a `keydown` event. This works OK, but we would like to continue to consider something that would work more generally than just for the `keyup` event.

[2019-02-05 18:16] zepumph commented on #931
While discussing with @jessegreenberg yesterday, it came up that potentially a good place to put this functionality would be in `FireListener`, a child to PressListener. That listener is set up relatively similarly to how we support these options in PushButtonModel, and could help us more easily "control" the repeated browser events.

[2019-02-05 18:19] zepumph commented on #921
@jessegreenberg please correct me if I'm wrong, but was it also decided that, as a general pattern, we recommend using `focus` and `blur` unless a situation dictates a necessity for bubbling?

[2019-02-05 18:20] zepumph commented on #921
This relates to https://github.com/phetsims/scenery/issues/929

[2019-02-05 18:20] jessegreenberg commented on #921
Thanks @zepumph, that is correct.

[2019-02-05 19:48] jessegreenberg commented on #928
I think I am hitting an error related to this. It is possible for `before` to dispose the Emitter. But if that happens, all listeners, `after`, and PhET-iO data stream events are still called. Should each have a check for whether the Emitter was disposed?

The specific assertion I am running into is in https://github.com/phetsims/energy-skate-park/issues/57, I am hitting is

because my SimpleDragH

[2019-02-05 20:00] pixelzoom commented on #928
`before` could also add a listener, and that would be equally wrong to have that listener notified,.

Should a copy of the listener list be made before calling `before`?  Similar to iterating over listeners, it would seem that once `emit` is called, exactly the listeners that are on that list should be notified.

[2019-02-06 17:07] zepumph commented on #939
Notes from discussion today:

[code]

[2019-02-06 18:41] emily-phet commented on #939
Reflection from today's meeting:
- seems there was consensus that we want enter and space to ultimately have the same behavior for buttons in PhET sims.
- currently in-progress work in scenery will (or potentially will?) streamline how input is handled by scenery, leaving to sim developers only implementation decisions regarding behavior attributes (fire on hold, etc.) and display-related stuff.
-

[2019-02-06 18:58] pixelzoom commented on #939
@emily-phet asked:

@jbphet was the primary architect of sun buttons, so it might be good to get him involved.

@jonathanolson is the primary architect of scenery, so he's in a good position to help with how input is handled by scenery.

[2019-02-07 03:25] samreid commented on #928
For example:
[code]

You are saying this shouldn't print hello?  `before` is not a listener--it is fired before the listeners are fired, so maybe it should be able to modify the listener array..?  Conversely, if it is important that the semantics of `before` exactly match listener semantics, then perhaps it should be implemented as a listener..?

[2019-02-07 04:16] pixelzoom commented on #928
Emit (according to the documentation) notifies listeners.  So my expectation is that when `emit` is called, the listeners that were registered at that time will be notified.  In the above example, I therefore not expect 'hello' to be printed.

If you want some other behavior, go for it.  But in any case, whether `before` is allowed to modify the listener list should be very well documented.

[2019-02-07 14:50] terracoda commented on #939
I agree with @emily-phet that it would be great to have some collaborative time

Currently, the names for buttons describe a mixture of different button attributes some related to the how the button functions and some related to how the button looks.

We have already had many long discussion about whether some buttons should be represented in the PDOM as an HTML` checkbox`.

To complicate things f

[2019-02-07 16:40] jessegreenberg commented on #939
Also, before any changes are made we will want to carefully test that `<div role="button"> works well on the AT we want to support.

This could also have implications for supporting switch like devices in the future, since those have no keyboard. Depending on how they interact with buttons we may still need to observe `click`.

[2019-02-07 16:51] terracoda commented on #939
@jessegreenberg, I said this in our meeting, but I will repeat it here as we experiment with `<div role="button">`. Aria roles give us only "semantics". The Accessibility Tree will tell the AT that this thing is a button. We will have to provide all the functionality to make it accessible.

Since the Accessibility Tree will say it is a button, that should give us some hope that the AT will recogni

[2019-02-07 17:36] jessegreenberg commented on #939
I totally agree @terracoda, that is true. I made this JSFiddle to test:
https://jsfiddle.net/7g6pxq9t/1/

Ill give it a try with NVDA and paste results in this comment.

[2019-02-07 17:50] jessegreenberg commented on #939
So after testing with NVDA, I am seeing that **none** of the elements in https://jsfiddle.net/cepk8m69/1/ receive `keyup` and `keydown` events, they only receive `click` events. Furthermore, **without* NVDA, neither of the non-native buttons receive `click` events! This surprises me. The only way for us to receive `keyup` and `keydown` events is if the screen reader is in "forms mode", which it on

[2019-02-07 19:55] pixelzoom commented on #939
@jessegreenberg thanks for investigating.

Bummer :(

[2019-02-07 20:25] zepumph commented on #899
Ok with me! Is the primary motivation just so that we only have one way of doing things (instead of two)?

[2019-02-07 20:32] samreid commented on #899
Generally, `isDisposed` is a preferable boolean name to `disposed`, and that renaming all of them is easier than selectively trying to rename the Node ones.

[2019-02-07 21:20] jessegreenberg commented on #928
Discussion during 2/7/19 dev meeting:

General consensus that listener stack should be frozen before `before` is called. @samreid will investigate.

[2019-02-07 21:50] jessegreenberg commented on #899
2/7/19 Dev meeting: All sounds good! Thanks @samreid

EDIT: We really care about `isDisposed` vs `disposed` because it spans multiple repos. But we are less strict for boolean property names when they are particular to one repo.

[2019-02-07 23:28] jessegreenberg commented on #939
With this "button", we get `keyup` and `keydown` events as we would hope. But it is a monster, and I have only tested on NVDA.
[code]

`role="application"` to receive `keyup` and `keydown` events.
`aria-roledescription` so the AT describes the role of the elements as "button" instead of "application".
`aria-label` so that the accessible name is read read (from https://github.com/phetsims/a11y-rese

[2019-02-07 23:43] pixelzoom commented on #939
I'm going to unassign myself from this issue, but will remain subscribed so that I can follow progress. Mention me if you need any input.

[2019-02-08 03:03] samreid commented on #928
It doesn't make sense to have a `last` option for Emitter, if we expect other listener to be added.

[2019-02-08 03:43] samreid commented on #928
phetio start must be first so that events triggered from `before` (now changed to `first`) will be nested properly in the data stream.

[2019-02-08 03:45] samreid commented on #928
Summary of changes:
1. Changed `before` to `first` and add to listener array.  Assert that it is indeed first during emit.
2. Removed `after` (which we decided would be changed to `last`) because it makes no sense to push it to the listener array if other listeners will be added afterwards.
3. Updated usage sites.

[2019-02-08 08:53] terracoda commented on #939
@jessegreenberg, thanks for making a test so quickly. I'm not sure the test code has everything that is needed.

I am reading through Paul J. Adam's article on accessible buttons. Could you verify that all the pieces mentioned in the article are included in your test code. The author notes that you need the following to make a `<div role="button">` accessible:

**Code pieces:**

**Why pieces are n

[2019-02-08 14:42] jessegreenberg commented on #939
@terracoda and I met to discuss the examples. We tried something more like the example from https://www.deque.com/blog/accessible-aria-buttons/, where the listeners were added as inline attributes. Here is the link to the JSFiddle:
https://jsfiddle.net/07gs8cfe/1/

The HTML that we tried:
[code]

We tested with NVDA/Firefox and results matched the behavior in https://github.com/phetsims/scenery/is

[2019-02-08 19:59] terracoda commented on #939
@jessegreenberg, I tried the js fiddle example with VoiceOver.
For the inline div role button, the dialogs popped up, and no events were logged.
For the others, the events were logged and there were no click events.
Events were even logged even when I tabbed to the buttons. Not sure if that was supposed to happen.

[2019-02-08 20:05] terracoda commented on #939
@jessegreenberg  regarding https://github.com/phetsims/scenery/issues/939#issuecomment-461824374

I agree, your "monster" is a bit wild to consider.

In interviews, thus far, screen reader users (adult screen reader users) have always been a bit confused about the behaviour of objects with role application.

@jessegreenberg, **question:** is `aria-roledescription` now recognized by NVDA?

[2019-02-09 00:30] twant opened #943 "Review for accessibility examples"
Michael and Jesse -- would love your review on the following examples from #912

accessibility-listeners
accessibility-updating-pdom
accessibility-slider
accessibility-animation

Thanks in advance!

[2019-02-09 14:50] pixelzoom commented on #271
No longer appears to be an issue with Firefox 65.0.

[2019-02-09 14:50] #271 closed

[2019-02-09 14:51] pixelzoom commented on #80
No longer a problem with Molarity. Closing.

[2019-02-09 14:51] #80 closed

[2019-02-09 14:55] pixelzoom opened #944 "[Firefox] graphics artifacts"
I couldn't find an issue dealing with graphics artifacts on Firefox, so creating this issue.  If an issue already exists, feel free to move this info there.

For example, https://github.com/phetsims/graphing-lines/issues/119, reported with Firefox 65.0 on macOS 10.14.2.  Dragging the pink "manipulators" leaves bits of them behind, see screenshot below. Workaround was to use `renderer: 'canvas'`.

[2019-02-09 20:42] pixelzoom commented on #928
@samreid said:

Can you clarify why it "doesn't make sense to have a `last` option"?  In 2/7/19 dev meeting, I recall consensus that `last` was potentially useful in the future, so should be addressed at the same time as `first`.

If you mean that implementing `last` is not as straightforward as `before`..  Yes, that is definitely true with the approach that you've chosen (putting first/last on th

[2019-02-10 04:25] samreid commented on #928
@zepumph is that what you had in mind for this proposal?

Also, how is that solution superior to the alternative of having a separate "post" emitter?

[code]

If we don't have a practical use case at the moment, but surmise that it may one day be helpful for PhET-iO or something of the sort, why don't we wait until we have a use case before implementing it?  In this case, it doesn't seem like it w

[2019-02-10 04:28] samreid commented on #928
It should be allowed to remove the first listener.  The documentation for first is currently:

[code]

Should this be changed to:

[code]

I'm happy to add documentation like that, but wasn't 100% sure that's what you had in mind.

[2019-02-10 15:49] pixelzoom commented on #928
If you're offering this as the alternative for `last`:

[code]

Why is this not an acceptable alternative for `first`?

[code]

Since we've flip flopped several times on whether or not `first` and `last` are treated listeners or "hooks",  the more documentation the better.

[2019-02-10 16:41] pixelzoom commented on #928
Removing the labels that indicate that this is ready for review and testing.  What has been implemented doesn't match 2/7/19 consensus.  And it seems appropriate to have discuss:

* whether `last` can be omitted (the current implementation omits)
* whether the implementation should make it easy to add `last` in the future (the current implementation does not)

[2019-02-11 03:42] samreid commented on #928
Thanks for helping me understand the part about keeping `last` in the right place--I was confused about that.  In the preceding commit, I added support for Emitter.options.last.  When other listeners are added, they are put before `last` (if it exists).  I also added assertions that first and last are in the right spot if they exist, and I added unit tests to make sure the order is right and that

[2019-02-11 15:33] samreid commented on #899
This is turning out to be more complicated than I expected.  Several types declare their own "disposed" attribute, and extend from PhetioObject, which has its own `isDisposed` attribute.  Also, some subclasses such as BAAGameChallenge mark `this.disposed=true` first like so:

[code]

It is unclear whether setting that first is necessary, or whether the super.dispose can take care of that first.  S

[2019-02-11 16:02] samreid commented on #899
I changed the straightforward occurrences, and I'll create new issues for the more complex repos.

[2019-02-11 16:11] samreid commented on #899
I was going to create a third issue for dealing with this issue in scenery, but realized this issue is already in scenery.  I'm not familiar with AccessibleInstance, AccessiblePeer, Drawable or WebGLBlock so would benefit from help in changing these parts.  @jessegreenberg or @jonathanolson @zepumph could you take a look or reach out for collaboration with me?

[2019-02-11 17:58] pixelzoom commented on #899
@samreid said:

This highlights a potential pitfall of PhET-iO instrumentation.  Suppose I have `class MyClass`. If I need to add `extends PhetioObject`, then I need to make sure that `MyClass`, and all of its subclasses, does not unintentionally shadow `isDisposed` - or any other `PhetioObject` field or method.  If there is shadowing, I need to address it.

For example, over in https://github.com

[2019-02-11 18:13] zepumph commented on #928
I think that the above `last` implementation is appropriate and good. It seems good to have it for parallelism, and I like the flexibility it adds. It is also what I thought was decided on during last dev meeting, and so I don't think there is much more to discuss here.

@pixelzoom do you feel like the last two commits have covered your concerns outlined in the bullets in https://github.com/phetsi

[2019-02-11 18:37] pixelzoom commented on #928
I am still very much not on board with this entire approach.  I still think it's a fundamental mistake to use Emitter and listeners to specify tasks that need to be done before/after notifying other listeners. This is a convenient solution, not a good solution.   That said...

I still like to hear about https://github.com/phetsims/scenery/issues/928#issuecomment-462143663.

And I'd like to hear wh

[2019-02-11 18:45] pixelzoom commented on #928
The current implementation also makes the data stream structure look like this, where before/after tasks and notification of listeners are nested together.

[code]

Are listener0 and listenerN-1 in the above data stream general listeners or these special `first` and `last` listeners? How do you know by looking at the data stream?  Why is it desirable to nest before/after tasks with listener notifi

[2019-02-11 18:56] samreid commented on #928
To try to answer https://github.com/phetsims/scenery/issues/928#issuecomment-462143663:

For `phetioPlayback` events, we must serialize the args for storage.  Then for playback, we must deserialize the args and emit the same event so the playback will run properly.  There must be a direct correspondence between recording the emit (and its arguments) and getting it to emit the same way during playb

[2019-02-11 19:17] samreid commented on #928
The place where Emitter events are leveraged for playback is handlePlaybackEvent.  The pseudocode is:
[code]

Full details are in https://github.com/phetsims/phet-io-wrappers/blob/efce8697fa12b8a72483245885b84c096a54dd90/common/js/handlePlaybackEvent.js#L37-L72.  I can see that our Emitter implementation is focused around facilitating this usage.

[2019-02-11 19:57] jonathanolson commented on #899
@samreid what type of collaboration would you want? I can help out with the Scenery stuff as desired.

[2019-02-11 20:09] samreid commented on #899
You could try to rename the scenery parts, basically renaming `.disposed` to `.isDisposed` and eliminate `Node.get disposed`.  The problem I ran into is I don't know which things are mixins or subtype something else that already has `isDisposed` and hence shadow it.  You can go for it solo or reach out to me to tag along.

[2019-02-11 20:21] pixelzoom commented on #928
Maybe I just don't understand why data stream and playback must be in Emitter, and can't be factored out of Emitter.

But here's what I had in mind with the example in  https://github.com/phetsims/scenery/issues/928#issuecomment-462442768. Untested, for illustration only.

All of the PhET-iO stuff (data stream, playback) is moved out of Emitter and into `TANDEM/Task`:

[code]

Emitter is responsib

[2019-02-11 21:34] zepumph commented on #913
Because of work done in #884, we are ready to move this over to scenery now. Marking high so that we can write scenery a11y examples of it before CSUN.

[2019-02-11 22:25] ariel-phet commented on #928
Considering @pixelzoom objections to this approach, I think this is a decision (if we go down the path) that should have @kathy-phet in the loop to make the call. Feel free to continue discussion in this issue and if a consensus is reached, great...but if not, I think we need to bring this issue up at an iO meeting so implications are fully understood as best as possible.

[2019-02-11 22:30] samreid commented on #928
I'd love to hear @zepumph and @jonathanolson thoughts on the proposal in https://github.com/phetsims/scenery/issues/928#issuecomment-462479649.

[2019-02-11 22:31] jessegreenberg commented on #939
OK, thanks for testing @terracoda, that is good to know. And yes aria-roledescription is now working with NVDA! 🎉

@zepumph and I also reviewed the list of roles in https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques, but didn't see any others that would be appropriate to use or fix this problem.

So based on the above comments, we are back to the fact that elements wit

[2019-02-11 22:56] jessegreenberg commented on #899
I renamed to `isDisposed` in `AccessibleInstance` and `AccessiblePeer`, these two do not extend anything that defines `isDisposed`. Nor are they mixins, they use the `initialize*` pattern because they mix in Poolable.

[2019-02-11 23:19] jessegreenberg commented on #884
In support of https://github.com/phetsims/scenery/issues/931, @zepumph and I looked into this again with help from @samreid. Since we last looked into this timer was moved to axon for other reasons (phetsims/phet-core#51). This makes it more accessible in scenery.

In the above commits we removed the `dt` arg from `updateDisplay` and chose to make it the responsibility of the scenery client to cal

[2019-02-11 23:31] jessegreenberg commented on #884
There is a usage of `updateDisplay` in PhetioStateEngine. @zepumph or @samreid does this require `timer.emit`? Or maybe not because timer extends Emitter and is therefore state remains up to date due to its own PhET-iO instrumentation?

[2019-02-11 23:49] jessegreenberg commented on #884
All the other usages are in tests and I don't believe they require this. Scenery unit tests are passing.

[2019-02-12 00:09] jessegreenberg commented on #884
The best place I could think of for this documentation is scenery/doc/user-input, but maybe there is a better spot. Added in the above commit.

@jonathanolson can you please take a look at the change to Display.updateDisplay and Display.updateOnRequestAnimationFrame in https://github.com/phetsims/scenery/commit/4f0bb509cad9a5d5a2557ef3b271abfa8d3b36b2. And can you think of a better place for the d

[2019-02-12 01:58] zepumph commented on #925
@KatieWoe are things fixed in this version?

[2019-02-13 20:08] jessegreenberg commented on #852
Positioning like https://github.com/phetsims/scenery/issues/852#issuecomment-435494120 is actually not necessary at all because the elements are hidden with opacity, and positioned `fixed` to the root of the PDOM so they don't extend down or into the sim.

[2019-02-13 20:11] jessegreenberg commented on #852
Today I have been doing final local testing of these changes, including performance profiling, unit testing, memory profiling (checking for memory leaks and bloat on sims in accessibility list). All is looking great, and I am getting ready to merge these changes with master.

[2019-02-13 20:42] jessegreenberg commented on #852
I would like to add some unit tests for this if possible, can we test that siblings are positioned correctly?

[2019-02-14 00:36] jessegreenberg commented on #852
I added unit tests for this in the branch. I am going to run through aqua tests once more then merge with master.

[2019-02-14 01:15] jessegreenberg commented on #852
aqua tests are running well so I am going to proceed with merging. Ill continue to watch CT for the next couple of hours though.

@zepumph can we go over this issue at our next a11y dev meeting? I would like to check PDOM changes with you, but am also curious of your thoughts on the changes to AccessiblePeer. Like am I correctly adhering to model-view separation for a11y code in scenery, or should

[2019-02-14 17:21] jessegreenberg commented on #939
@terracoda @emily-phet @zepumph @pixelzoom can you please review https://github.com/phetsims/scenery/issues/939#issuecomment-462521440? If everyone is on board with option 1, I think we can close this issue and continue with the specific issues that have come out of this one. If not, I think we should have another brief discussion.

[2019-02-14 17:35] pixelzoom commented on #939
Does option 1 support our requirements?  I was under the impression that relying solely on `click` events made it difficult (impossible?) to implement the button options that we agreed were essential in https://github.com/phetsims/scenery/issues/939#issuecomment-461103903, that is:

[code]

[2019-02-14 17:45] jessegreenberg commented on #939
Option 1 will support those options but only where we need them. The HTML in those cases will not use `role="button"` so that we get the `keydown` and `keyup` events we need. But the rest of PhET buttons will continue to use `role="button"` and listen for `click` events so they support all of the standard accessibility features.

The down side is that not all buttons will listen to the same DOM ev

[2019-02-14 17:54] pixelzoom commented on #939
All PhET buttons currently have the options that we identified.  So what buttons are you planning to use `role="button"` for?    For example, would you use it for ResetAllButton, which is currently (and undesirably) firing repeatedly with the Enter key?

[2019-02-14 21:06] jessegreenberg commented on #939
I would use `role="buton"` for ResetAllButton. We can address that issue generally by limiting the frequency of calling listeners in response to `click` events. Maybe that will use options `a11yFireInterval` or just `fireOnHoldInterval`. But I don't believe buttons like ResetAllButton need any of the other options, keyboard/alternative input.

[2019-02-15 20:54] samreid commented on #884
`timer.emit` should not be called from PhetioStateEngine

[2019-02-16 00:06] pixelzoom commented on #939
@jessegreenberg said:

Then you'll need to prevent those options from being changed and passed to the superclass.  Because `RoundPushButton` (and the other sun button base classes) are general and do need to handle those options.

[2019-02-16 02:34] samreid commented on #899
The rest of the occurrences seem straightforward, I'll address them.

[2019-02-16 02:42] samreid commented on #899
I made the changes and tested a few sims in aqua, and tested expression exchange memory.  It stabilized around 118MB after several minutes.

![image](https://user-images.githubusercontent.com/679486/52893485-cf394c80-3159-11e9-894b-cedf4a56edd6.png)

I'll commit.

[2019-02-16 02:44] samreid commented on #899
Last occurrences changed, closing.

[2019-02-16 02:44] #899 closed

[2019-02-17 21:35] terracoda commented on #939
Re https://github.com/phetsims/scenery/issues/939#issuecomment-462521440 I do not believe option 2 is at all advisable. The use of `role="application` has not yet been understandable by users in interviews (i.e. BASE, Faraday's Law, Friction), mind you these were all drag and drop type interactions.

The buttons that we have implemented thus far have been intuitively accessible to participants in

[2019-02-17 22:55] pixelzoom commented on #939
ResetAllButton is a RoundPushButton with a specific look.   There will certainly be a11y specific features required for buttons like Reset All button. But those features should be related to is specialization as a Reset All button, not things that are general to RoundPushButton . As much of the a11y functionality as possible should be in base classes (like RoundPushButton), not in subclasses (like

[2019-02-18 16:31] pixelzoom commented on #939
@terracoda said:

It is not the case that we have a plethora of buttons. PhET's buttons are modeled on a standard button taxonomy, and most of the functionality is in a few base classes. You said that things like whether a button is round or rectangular have no relevance to a11y, and that is indeed the case regardless of a11y.  In the implementation of PhET buttons there is a clear separation betw

[2019-02-18 16:40] jessegreenberg opened #945 "branch: catchSingleClick"
A branch to try a solution for https://github.com/phetsims/scenery/issues/939.  In that issue we are trying to solve the problem that assistive devices often do not send `keydown` and `keyup` events to the browser, but only `click` events to represent element activation.

As a potential solution to this, I am considering no longer dispatching `click` as a scenery event and instead only dispatching

[2019-02-18 16:45] terracoda commented on #939
@pixelzoom thank you for the detailed explanations.
How do I identify the base button classes?
There are 36 buttons in [https://github.com/phetsims/sun/tree/master/js/buttons](https://github.com/phetsims/sun/tree/master/js/buttons) including `radiobuttons` that actually do not have the button role when coded in HTML.

[2019-02-18 16:48] jessegreenberg commented on #945
In the branch, most of the implementation for this is in A11yEventCatcher (hopefully to be renamed to something better).

[2019-02-18 16:48] jessegreenberg commented on #939
Thanks for the careful review and comments everyone. I thought of a different solution to this that we should explore that may allow us to keep using standard HTML/roles for a11y while also supporting all the options in https://github.com/phetsims/scenery/issues/939#issuecomment-463718627. I started https://github.com/phetsims/scenery/issues/945 to play with the idea. Please see that issue for mor

[2019-02-18 16:50] pixelzoom commented on #939
Back to this question that @terracoda asked in https://github.com/phetsims/scenery/issues/939#issuecomment-464512679:

The reason that ResetAllButton works well for users is due to this workaround:

[code]

This is a work around prevents multiple announcement that could occur with the Enter.   This workaround is almost 25% of the code in ResetAllButton, and it's complicated.   The same workaround

[2019-02-18 16:57] terracoda commented on #939
Maybe @jessegreenberg's idea will produce a quiet button.

[2019-02-18 23:32] twant opened #946 "h3 allows both 'text' as inner content and has children"
![screen shot 2019-02-18 at 6 30 58 pm](https://user-images.githubusercontent.com/12232821/52981092-77921f80-33ab-11e9-976a-83642ccd09a0.png)

@jessegreenberg would you expect this to throw an error? @zepumph and I thought it should.

[2019-02-18 23:51] jonathanolson commented on #58
I'm not quite sure I see the entire history, but it appears to have been vestigial. How much more time is this worth, given that things work now?

[2019-02-19 00:30] pixelzoom commented on #58
I guess I'll just go ahead and close this, because (as I said above) I don't understand what was done here.  And I can't recall what the original problem was from 5+ years ago.

[2019-02-19 00:30] #58 closed

[2019-02-19 00:42] jonathanolson commented on #928
The structuring separation sounds good to me.

[2019-02-19 01:52] jessegreenberg commented on #918
This came up again for @phet-steele in the debug version of ohms-law from https://github.com/phetsims/QA/issues/289.  The case we encountered was caused by the number pad with Num Lock enabled. When Num Lock is enabled, you can hit this assertion by pressing and holding shift, then pressing and holding a number on the keyboard, then releasing shift, then releasing the number ~0.5s later.

I have a

[2019-02-19 02:36] jessegreenberg commented on #946
I agree @twant and @zepumph , I would expect this to error out. In fact, I would have expected this to be caught by this assertion  in AccessiblePeer.setPrimarySiblingContent:
[code]

Is this an order of operations issue (inner content set before children added?)

[2019-02-19 02:44] jessegreenberg commented on #946
So do we need to call AccessiblePeer.update on ancestors of an AccessibleInstance as it is changed/created? Hopefully not, that sounds expensive. And somehow `Accessibility.DEFAULT_ACCESSIBLE_NAME_BEHAVIOR` will have to catch this too.

[2019-02-19 15:59] jessegreenberg commented on #918
@phet-steele said that the assertion messages he was getting were actually on `keydown` update

But it seems likely to be related to this issue because of

[2019-02-19 18:50] zepumph commented on #946
@jessegreenberg I think that something like the below patch could work. I think it is simple enough to be human readable, as it is only two code line changes.

[code]

Basically the above tries to tackle this on the `AccessibleInstance` level. So that each time you would add children to an accessibleInstance, you would assert that the peer and accept children.  Is this a reasonable approach?

[2019-02-19 21:31] zepumph commented on #928
I think I understand the separation of the two files. It seems like `Task` is handling validation and phet-io, and `Emitter` is handling listeners.

I don't really see `Task` as reusable code. It seems to me to be pretty dependent on the patterns we use for `Emitter`. Thus it is confusing to me to have these two files, which I see as linked, in two different repos.

@samreid if we went with the ab

[2019-02-20 17:58] jessegreenberg commented on #946
Ah, that is very very nice. Im going to give it a try.

[2019-02-20 19:13] jessegreenberg commented on #946
I tried this, but it isn't catching the error always (and in the case of Molarity example). I think because the AccessibleInstances are created and added before the inner content is set maybe but haven't verified yet.

[2019-02-20 19:21] jessegreenberg commented on #946
It is because AccessiblePeer.update is based on an `options` object created by the accessible name behavior, not on the Accessibility.js properties. AccessiblePeer.udate has
[code]
But in that case `node.innerContent` is still null. @zepumph should setting the `accessibleName` also set the low level Accessibility.js properties specified in the behavior function?

[2019-02-20 19:57] zepumph commented on #946
Ahh that makes sense. @jessegreenberg we don't ever want higher level model fields to set lower level model fields. That's why we use the kinda strange "options" pattern in `AccessiblePeer.update`. That way we just convert all Accessibility.js fields into appropriate "view" settings in the peer.

Brainstorming a new pattern. . .

I am now thinking about `Accessibility.accessibleAudit`. Perhaps we

[2019-02-21 18:24] pixelzoom commented on #928
2/21/19 dev meeting:

CM summarized pros/cons.

AP asked for everyone to weigh in:
* JB slightly bothered by using Emitter
* DB agrees with abstracting out
* JO prefers factoring out, sees only upsides, would like to hear downsides
* CK agrees with abstracting out
* JG same as JO, would like to hear arguments against
* MB adding an abstract makes sense, but also current approach is working, hopefu

[2019-02-21 21:42] jessegreenberg commented on #945
@zepumph and I had discussed trying alternatives to creating native DOM events and dispatching/firing through the DOM API. This was OK for test code, but doesn't seem good for sims. I tried to use Input.serializeDOMEvent (previously added for PhET-iO) to create an event like object that we can pass through Input.js. But we will need to add additional information to that function to get all [keydow

[2019-02-21 21:48] pixelzoom commented on #928
Factoring out PhET-iO data stream responsibilities from Emitter will be investigated in https://github.com/phetsims/axon/issues/222.

Closing.

[2019-02-21 21:48] #928 closed

[2019-02-21 23:57] jessegreenberg commented on #945
This is working well enough that I think we should proceed with it.

[2019-02-22 17:14] jessegreenberg commented on #918
I tried https://github.com/phetsims/scenery/issues/918#issuecomment-460417397 but I am still seeing

When I press shit + 5 the release in order with num lock on, or when using arrow keys while pressing my windows key to move apps around the screen.

[2019-02-22 17:18] jessegreenberg commented on #918
@zepumph in https://github.com/phetsims/scenery/issues/918#issuecomment-452134152 you suggested a more flexible KeyStateTracker, and I think you are totally right now. There are too many cases where this is happening to guarantee that we have them all, even just on Windows!
What do you think about just removing this assertion?

[code]

[2019-02-22 17:29] jessegreenberg commented on #918
Pushed in the above commit, aqua is passing and the cases where these assertions were showing up are no longer happening with modifier keys, Prt Scn, and others (..mostly because the assertion was just removed but...still yay). But I still committed https://github.com/phetsims/scenery/issues/918#issuecomment-460417397.

@zepumph can you please review at your convenience?

[2019-02-22 20:33] jessegreenberg commented on #939
https://github.com/phetsims/scenery/issues/945 is working well enough that I think it is a viable option. I am going to request that we discuss in greater detail, but here is a summary prior to meeting.

Proposed change works by catching the single `click` when it isn't accompanied by `keydown` and `keyup` events. In this case, we dispatch a fake `keydown` event then a fake `keyup` event to the ta

[2019-02-22 20:48] jessegreenberg commented on #945
See https://github.com/phetsims/scenery/issues/939#issuecomment-466537529 for a summary of these changes. Pending further discussion in that issue.

[2019-02-22 20:58] KatieWoe commented on #810
Something similar seen in https://github.com/phetsims/QA/issues/280 on Mac 10.11.6 on chrome.  Recorded with showPointerAreas, since red is easier to see, but occurs without.
https://drive.google.com/file/d/1kVoBpPh09Sk8Khyx4R3xpKyRdmvw_AEH/view?usp=sharing

[2019-02-22 21:54] pixelzoom commented on #939
This approach sounds promising, thanks for all the work investigating!

That's unfortunate, because it's going to increase implementation and testing cost. If  buttons fire only once without a screen reader, but fire more than once with a screen reader, then both behaviors need to be accounted for and tested.   It's not clear how we'll account for multiple firings, but we shouldn't just let it hap

[2019-02-22 22:29] jessegreenberg commented on #936
I encountered this in https://github.com/phetsims/phet-io-wrapper-sonification/issues/73 where the instrumentation of the Display.focusProperty wasn't happening when accessibility was enabled, it was only happening when the ?a11y query parameter was added.

[2019-02-22 22:51] jessegreenberg commented on #936
I am assuming that IO instrumentation must occur at instantiation of the Property, is that correct?

I am not seeing any great places to indicate accessibility is enabled in a more global way. But I am also not very familiar with how sims start up.

Can we make Display.focusProperty not static?

[2019-02-22 23:52] KatieWoe opened #947 "CT tracking of shift key failed"
[code]

[2019-02-22 23:53] jessegreenberg commented on #947
Thanks @KatieWoe certainly related to #918

[2019-02-23 00:19] jessegreenberg commented on #947
I think that these can just be removed now. That test is

Put tab key down
Release Tab while shift is held sown

And the tests are verifying that shift is no longer held down in this case. But in #918 we decided that the KeyStateTracker should reflect the modifier keys, so I would expect that the KeyStateTracker would reflect that shift is still down until released explicitly. But I will connect t

[2019-02-23 00:23] jessegreenberg commented on #947
Tests are passing, moving comments to that issue.

[2019-02-23 00:28] #947 closed

[2019-02-23 00:32] jessegreenberg commented on #918
My changes caused unit tests to fail that assumed that shift key should not be down if shift is comes through as a modifier key. But our decision in https://github.com/phetsims/scenery/issues/918#issuecomment-460417397 made it so that the KeyStateTracker *would* indicate that shift key is down in this case. So I just changed the tests. @zepumph as part of review can you make sure that this makes s

[2019-02-23 01:05] zepumph commented on #913
@twant perhaps next week we can work on this together. I don't want to confuse you too much too early, but it could be nice to have you along for some common code work. (what do you think @jessegreenberg?)

[2019-02-23 03:14] zepumph commented on #936
For phet-io, we are lucky because it is a brand. That is set before loading any of the requirejs modules. With a11y it seems harder. Perhaps we can brainstorm more sometime.

I don't want to rule it out, but it seems like it boxes SCENERY/Display into a corner. We likely only want to support a single focus for the whole frame, not just divided on display instances.

[2019-02-24 03:07] samreid opened #948 "Create ColorProperty"
From https://github.com/phetsims/axon/issues/221 we would like to create a custom `ColorProperty` type.

[2019-02-25 19:39] jonathanolson commented on #948
Would you also have a `ColorDefProperty`?

[2019-02-25 19:51] samreid commented on #948
Good point @jonathanolson. I think we only need one color property type, and it should use `ColorDef` values.  I'm not certain whether `ColorDefProperty` is the best name or if we should call it `ColorProperty` and indicate that it takes `ColorDef` values.  Recommendations from @pixelzoom or @jonathanolson?

[2019-02-25 20:05] pixelzoom commented on #948
We have numerous Properties like Screen's `backgroundColorProperty` whose name is "Color" but whose value is technically a `ColorDef`.  I have a slight preference for `backgroundColorProperty` to `backgroundColorDefProperty`, and therefore a slight preference for `ColorProperty`.

If we go with `ColorDefProperty`, we should probably rename instances of those Properties accordingly; e.g.  Sim `back

[2019-02-25 20:09] pixelzoom commented on #948
More thoughts on the above...

More than once, I've encountered common code that was relying on something named "Color" having a `scenery.Color` value, with no support for `{string}`.  Would `ColorDefProperty` discourage that practice?

[2019-02-25 20:38] twant commented on #913
@zepumph sounds good to me to take a look at it this week! Talk to you soon.

[2019-02-25 20:58] zepumph commented on #867
Here are some raw review comments moving out of the code:

<details>
<summary>From AccessiblePeer.update:</summary>

[code]

[code]

[code]
</details>

---------------------------------------------------------

<details>
<summary>From AccessiblePeer.orderElements:</summary>

[code]

</details>

------------------------------------------------------

<details>
<summary>From AccessiblePeer.onAttribu

[2019-02-25 21:00] zepumph commented on #930
Removed and moved comments to https://github.com/phetsims/scenery/issues/867#issuecomment-467180277. Closing

[2019-02-25 21:00] #930 closed

[2019-02-25 21:12] jessegreenberg commented on #939
Participants of this issue set up a time to discuss https://github.com/phetsims/scenery/issues/939#issuecomment-466537529 in more detail on March 4.

Also adding dev meeting label to review with the dev team. The challenge that we are facing is that screen readers change which events are sent to the browser. Please see this comment: https://github.com/phetsims/scenery/issues/939#issuecomment-45863

[2019-02-26 00:27] zepumph commented on #913
@twant and I used

` copy-history-to-different-repo.sh js/accessibility/listeners/KeyboardDragListener.js ../scenery`

To copy the history of the file over to scenery.

We then converted the 5 usages to point to the scenery version. The doc we added was to try to make sure that users know that the file is heavily reliant on `AXON/timer`.

@jessegreenberg will you please review.

[2019-02-27 08:10] jonathanolson commented on #948
I've also run into cases where I want things to be `Property.<Color>`, so I can e.g. darken/blend colors. Also some cases we may want `Property.<PaintDef>`. Seems like we would presumably want all three (which is a general up-front cost with the "typed" Properties).

[2019-02-27 16:06] pixelzoom commented on #948
Re `Property.<ColorDef>` vs `Property.<Color>` vs `Property.<PaintDef>`...   I don't think we necessary want (or need) all three.  The goal was to provide type-specific Properties for common occurrences, as identified in https://github.com/phetsims/axon/issues/221#issuecomment-466430523.  I see very few occurrences of values that are `PaintDef`, so I doubt it's worth the effort to create  `PaintDe

[2019-02-27 19:15] jessegreenberg commented on #852
The above review comments came from discussion with @zepumph, @jessegreenberg will address these review comments.

[2019-02-27 19:19] jessegreenberg commented on #852
In https://github.com/phetsims/a11y-research/issues/133 it was discovered that NVDA sends fake pointer events (in addition to the change event) upon activation of check boxes. There are probably other cases/devices that do this too.

Previously this wasn't a problem because the pointer events were well outside of the sim div. But now that elements are on top of the  display they are getting caught

[2019-02-27 23:02] jessegreenberg opened #949 "Dispatch events caught on non-primary siblings"
Related to #888 (centralizing a11y input), identified in https://github.com/phetsims/scenery/issues/852 (support a11y on mobile devices) and part of https://github.com/phetsims/a11y-research/issues/133.

We have been assuming that a11y events will only be received by the AccessiblePeer's primary sibling. This is true usually, but when a screen reader is enabled the DOM event can be sent to labels

[2019-02-27 23:53] jessegreenberg commented on #949
So far, this is the only case I have encountered. On this element NVDA says "clickable" before reading the label. So I am going to proceed with adding `data-trail-id` to labels, but not description and parent container siblings.

[2019-02-28 00:12] jessegreenberg commented on #949
I reverted the change because the commit accidentally added some things that I didn't notice for 2077a2b3b4e2805dbdc283997f5c0f59456bed29. Sorry.  Ill try again...

[2019-02-28 00:18] jessegreenberg commented on #949
OK, that commit looks better.

I tested with NVDA and the click event is no longer throwing errors because the data-trail-id couldn't be found. I am going to leave open until https://github.com/phetsims/a11y-research/issues/133 is resolved since this was wrapped up in that.

[2019-02-28 16:20] samreid commented on #939
Mapping click to down/up sounds reasonable to me.  It seems we have the problem of repeat clicks whether or not we map click to down/up.

Can you please provide steps to reproduce this behavior?  Can it be demonstrated with VoiceOver?

[2019-02-28 19:18] pixelzoom commented on #939
W3C describes support for Enter and Space in buttons, see https://www.w3.org/WAI/GL/wiki/Making_actions_keyboard_accessible_by_using_keyboard_event_handlers_with_WAI-ARIA_controls#Example_1:_Using_Space_to_activate_a_button:

This supports PhET's decision to handle both Space and Enter, and is a more "official" reference than the Stackoverflow thread referenced in https://github.com/phetsims/scene

[2019-02-28 19:59] zepumph commented on #939
We will talk about this more on Monday. I thought it was still worth having a "pre-discussion" to explain the lower level details of the issue. The dev team briefly discussed this (only 15 minutes).

Most of the discussion was explaining the how the events work for space/enter and toggling while AT is on/off. We also explained @jessegreenberg's work on the click event "catching" branch.

AP: in ad

[2019-02-28 20:25] samreid commented on #948
Some comments over here:

https://github.com/phetsims/axon/issues/221#issuecomment-468423505

[2019-03-01 10:49] terracoda commented on #939
In comment https://github.com/phetsims/scenery/issues/939#issuecomment-463725218 @pixelzoom said:

I think this is where we are having trouble communicating. My feeling is that not all PhET buttons need all the options.

From an accessibility point of view the Reset All button and the fire-on-hold button (e.g., the eye-dropper button) are different types of buttons. It would seem logical to me tha

[2019-03-01 15:49] pixelzoom commented on #939
@terracoda said:

Agreed and agreed.

 I should have said "All PhET button _base classes_ currently support the features needed by PhET buttons.  Base classes contain code that is needed to support all buttons.  Individual button types use those features as needed.  Examples: Most buttons use the default of `fireOnDown: false`, but momentary buttons use `fireOnDown: true`.  Most buttons use the de

[2019-03-01 17:48] pixelzoom commented on #939
Our communication might be improved if I provide some background on how (and why) PhET buttons are implemented.  I'll use `ResetAllButton` as an example, since we're all familiar with it.  I'll start with the most general classes, and work my way "up" to `ResetAllButton`. There are 7 classes described, and I'll provide links to all of the files mentioned.

The most general classes live in the `sun

[2019-03-01 18:54] KatieWoe commented on #810
Appearing in Mac 10.14.3 firefox on first screen of https://github.com/phetsims/QA/issues/228 when dragging the box to the left when it is 100x100.  Only seem to see when using a string test.

[2019-03-02 11:40] terracoda commented on #939
Thanks @pixelzoom. Glad we agree that accessibility needs to be built into the base classes.
Looking forward to Monday's discussion.

[2019-03-03 18:43] pixelzoom commented on #939
In preparation of Monday's conference call, I did a deeper dive into the ARIA references that @terracoda provide in https://github.com/phetsims/scenery/issues/939#issuecomment-468624994.  I was looking for info relevant to this issue, especially ways that we might customize the ARIA button role to better align with PhET button behavior.   Here are some chunks of information and questions that I th

[2019-03-03 19:07] pixelzoom commented on #939
More about the `click` event that has been mentioned extensively in this issue.

The `click` event is a synthetic (DOM) event, specified in https://www.w3.org/TR/uievents/#click.  It is synthesized in response to other events (e.g. `keydown`, `keyup`).

https://www.w3.org/TR/html5/webappapis.html#fire-a-click-event defines what a `click` event is:

https://www.w3.org/TR/html5/webappapis.html#firin

[2019-03-03 19:49] pixelzoom commented on #939
ARIA examples for `role=button` are at https://www.w3.org/TR/2016/WD-wai-aria-practices-1.1-20160317/examples/button/button.html#.   The behavior of the "Mute" button here is interesting.  If you tab to the Mute button, then press and hold the Space key, there is a brief delay, then the button activates (fires) repeatedly.  This does not match the behavior that we've seen for the Space key - we've

[2019-03-03 20:04] pixelzoom commented on #939
Here's a bug report related to the difference between Enter and Space, and it indicates that the button example in https://github.com/phetsims/scenery/issues/939#issuecomment-469057113 is buggy.

The bug report is https://github.com/w3c/aria-practices/issues/610:

I found this bug report by clicking the "Related Issues" link for the ARAI role=button examples at https://www.w3.org/TR/wai-aria-pract

[2019-03-03 22:03] terracoda commented on #939
Great investigation and questions @pixelzoom. And glad you found the latest version of the button examples. The first link was to a "WD" or "working draft".  In the latest version, on the Mute toggle button, the Space key fires/is activated on release and the Enter key fires/activates repeatedly which seems more typical, though still unexplained by the standards documentation.

@jessegreenberg and

[2019-03-04 21:09] zepumph opened #951 "Redesign aria-valuetext api for accessibility"
In GFLB and regular I am finding that it is a bit of a pain to support cases where we want a basic value text to be read out each time the value changes, and a more verbose one to be read out only on focus.

I am finding myself implementing this manually in GFL/MassControl and GFLB/GFLBMassControl.

[2019-03-04 22:49] zepumph commented on #913
@twant pointed out that she was getting an error trying to use this in the built version of scenery. After investigation it looks like we weren't adding it the SCENERY/main.js. @jessegreenberg over to you.

[2019-03-05 21:51] jessegreenberg opened #950 "Pickable should work with a11y listeners"
After https://github.com/phetsims/scenery/issues/888, it may be possible to use `pickable` with a11y listeners. We currently have checks in individual listeners against `enabledProperty` to determine whether or not to run functionality in the listener.  It would be great if we could enable/disable this directly through `pickable` or some other a11y equivalent.

Referencing @zepumph in case he has

[2019-03-05 21:53] jessegreenberg commented on #950
After #888 I was wondering if this was working for us for free, but I tested and observed that we are hitting listeners from a11y input when a Node has `pickable` false.

[2019-03-06 00:26] zepumph opened #952 "Better implementation for association attributes"
Related to https://github.com/phetsims/scenery/issues/873, I noticed while working on that that every association attribute (like aria-labelledby and aria-describedby) take about 150 lines. Most of that is very similar between different attributes, but not easy to refactor in its current form. We should investigate a way to simplify the 450 lines (for three of these attributes) in the middle of Ac

[2019-03-06 00:31] zepumph commented on #946
Perhaps this could be tied into https://github.com/phetsims/joist/issues/511

[2019-03-06 00:36] zepumph opened #953 "Description infrastructure work"
At some point there will be space to add the larger improvements to a11y in scenery that we have been putting off for some time. It would be good to keep track of them in one place to get an idea of the scope of work and priority of different pieces.

Higher priority
- [ ] [Cleanup from JO's review](https://github.com/phetsims/scenery/issues/832)
- [ ] [Fix a11y behavior functions](https://github.

[2019-03-06 01:29] zepumph commented on #951
I added ariaValueText to the main a11y trait, taking it out of AccessibleSlider. I think the next step will be to inline the apis of the two traits. I think the easiest thing to do will be to convert AccessibleNumberSpinner over to AccessibleSlider, but I'd like @jessegreenberg's perspective before continuing.

@jessegreenberg the goal of this is to (a) have a consistent way of interfacing aria-va

[2019-03-06 01:54] emily-phet commented on #953
@zepumph Thanks! This is very helpful.

[2019-03-07 03:25] samreid commented on #939
@jessegreenberg or @zepumph can you please summarize the discussion from Monday, and point out the next steps for this issue?  Does it still need to be discussed at dev meeting?

[2019-03-07 15:43] jessegreenberg commented on #939
During discussion on 3/4/19 we reviewed why we are encountering this issue and potential solutions. We discussed how scenery/simulations would behave if we proceed with changes described in https://github.com/phetsims/scenery/issues/945. No major concerns with this came up during the meeting.

An alternative proposed during the meeting was to ignore "press and hold" and "fire on down" type buttons

[2019-03-07 15:54] terracoda commented on #939
@jessegreenberg, I also shared with you, @pixelzoom and @zepumph comments from the WAI ARIA interest group which included a mark-up idea that we have not yet explored, nesting a `button` element within a parent element with `role=application`.

[code]

This mark-up could potentially be useful for the "press and hold" and "fire on down" buttons once we get them for alternative input.

Just adding i

[2019-03-14 16:23] samreid commented on #621
Tagging @pixelzoom and @chrisklus since they have reported symptoms that may be related.

[2019-03-14 16:31] chrisklus commented on #621
My described symptoms and some investigation are in https://github.com/phetsims/energy-forms-and-changes/issues/87

[2019-03-14 16:34] samreid commented on #621
Some coments from slack:

Chris Malley [10:27 AM]
With ?webgl=false, the pause in Gas Properties does go away.  Is there a way to specify this programmatically?

Sam Reid [10:30 AM]
I don’t know of an existing/established way.  If @jonathanolson doesn’t know of one, we could invent one.
Perhaps an option to `Sim` constructor that sets `window.phet.chipper.queryParameters.webgl` if not specified in

[2019-03-14 16:34] pixelzoom commented on #621
As mentioned in https://github.com/phetsims/energy-forms-and-changes/issues/87#issuecomment-472951525:

FYI, I ran into a similar problem with Gas Properties. After pumping a bunch of particles into the container, the animation runs for 1-2 seconds, then pauses, then resumes. This occurs regardless of how long I wait after startup to do the pumping.

Specifying `?webgl=false` makes the problem go

[2019-03-14 18:59] pixelzoom commented on #621
SCENERY/Util.isWebGLSupported is definitely being called in Gas Properties on startup, and this seems to be the source of the problem described in https://github.com/phetsims/scenery/issues/621#issuecomment-472951784.  @jonathanolson how do I programmatically prevent this from happening?

[2019-03-14 19:03] pixelzoom commented on #621
Tracking this problem in Gas Properties in https://github.com/phetsims/gas-properties/issues/41.

[2019-03-14 19:04] pixelzoom commented on #621
Info on MacBook Pro graphics processor switching: https://support.apple.com/en-us/HT202043

[2019-03-14 19:11] pixelzoom commented on #621
I can put this in GasPropertiesQueryParameters, but that doesn't seem robust:

`phet.chipper.queryParameters.webgl = false;`

[2019-03-14 22:57] samreid commented on #621
I proposed an API for this in https://github.com/phetsims/scenery/issues/621#issuecomment-472951726

I proposed this as a parallel to how simulations can specify `new Sim(name,screens,{accessibility:...})`.  Also note, that as with the accessibility option, a specified query parameter should take precedence (override the constructor option).  This may be done with a QueryStringMachine feature like

[2019-03-14 22:59] samreid commented on #621
Also, maybe we should default the Sim option to `webgl: false` and require sims to opt-in to it.  Since WebGL sims seem to be more rare than non-webgl.  Then we could address this problem for many sims at once.

[2019-03-15 14:14] pixelzoom commented on #621
I don't see how this can (practically) be done via the `Sim` API.

It would be problematic to have `Sim` change the value of `phet.chipper.queryParameters.webgl`, since other things may use it before Sim constructor is called.

So that would leave us with something like this in the `Sim` API, where the query parameter determines the default value of `options.webgl`:

[code]

But in that case, ther

[2019-03-15 14:20] pixelzoom commented on #621
To clarify.... We can get into trouble if the both Sim `options.webgl` and `?webgl` are specified, they have different values, and `phet.chipper.queryParameters.webgl` (a global remember) is used anywhere other than as the default value for Sim `options.webgl`.

@samreid said:

The `accessibility` query parameter appears to have this same problem.

[2019-03-15 16:39] samreid commented on #621
I agree with the problems you noted.  Would be great to hear from @jonathanolson about a way to proceed.

[2019-03-17 23:25] jessegreenberg commented on #663
Notes during discussion with @zepumph @twant and @jessegreenberg. These are notes for a potential way to do this that we *think* matches how this works with other Scenery Drawables.

- All accessible instances have a list of dirty (direct) children which need to be updated.
- When an accessibleInstance is marked dirty, recursively mark all ancestor accessibleInstancess dirty
and add to accessibleI

[2019-03-19 00:46] pixelzoom commented on #621
@jonathanolson ping.

[2019-03-19 16:10] jonathanolson commented on #621
Would it be possible for the sim to specify the default value for the query parameter (maybe in package.json, since the sim loads after initialize-globals.js), and then still allow `webgl=true` to override the sim's preferences?

[2019-03-19 16:20] pixelzoom commented on #621
Is it possible to specify query parameters in package.json?  Or is this a new feature that you're proposing?

[2019-03-19 16:44] jonathanolson commented on #621
Was proposing a potential way to override whether webgl defaulted to true/false based on the package.json. But I could definitely see advantages to having a more general system that could provide defaults for query parameters.

[2019-03-19 18:22] pixelzoom commented on #621
@jonathanolson I'm interpreting your response as "specifying query parameters in package.json is a new feature that I'm proposing, as a more general way to solve the problem".  Please let me know if I've misunderstood.

Labeling for discussion at developer meeting.

[2019-03-20 14:33] samreid commented on #621
Would we also use package.json to indicate whether a sim is marked for `accessibility` or `supportsEnhancedSound` or `supportsSound`?  At the moment, these are managed by `Sim` constructor arguments.

[2019-03-20 14:42] pixelzoom commented on #621
Yes, I think so. As noted in https://github.com/phetsims/scenery/issues/621#issuecomment-473304011, using `phet.chipper.queryParameters` to initialize `Sim` options is problematic. `accessibility` has this problem;  I don't know about `supportsEnhancedSound` and `supportsSound`.

[2019-03-20 15:11] jessegreenberg commented on #669
This has been working great @jonathanolson, thank you. I think this can be closed.

[2019-03-20 15:11] #669 closed

[2019-03-20 18:04] jessegreenberg commented on #663
I tried https://github.com/phetsims/scenery/issues/663#issuecomment-473726319 today just for inner content of the primary sibling. It was pretty straight forward. But I am not finding that it is significantly reducing the number of times `AccessibilityUtil.setTextContent` is called.

I am testing in ohms-law (motivated by https://github.com/phetsims/ohms-law/issues/132), and the checks in Accessib

[2019-03-20 18:13] zepumph commented on #663
I think that defining what "this" means is important. Because on the performance tab in chrome dev tools we found that `setTextContent` was still taking up a large amount of the cpu for a given input event (see https://github.com/phetsims/ohms-law/issues/132#issuecomment-473718862). Are you saying that batching isn't a good way to limit the number of these calls (and in turn the number of times `i

[2019-03-20 18:19] jessegreenberg commented on #663
Exactly. I am seeing now that (at least in OL) `innerHTML` is NOT being set more than once per animation frame per element. And so I don't expect batching to help much there.

[2019-03-20 18:25] jessegreenberg opened #954 "branch: batchA11yChanges"
For https://github.com/phetsims/scenery/issues/663.

[2019-03-20 18:27] jessegreenberg commented on #954
As of 3/20/19, I am sure scenery a11y unit tests are broken on this branch.

[2019-03-20 18:31] jessegreenberg commented on #663
Initial commit made above. I deviated slightly from https://github.com/phetsims/scenery/issues/663#issuecomment-473726319. The work is being done currently in AccessiblePeer rather than AccessibleInstance. And rather than every AccessiblePeer having a list of direct dirty children, only the AccessiblePeer has this list. This way we don't have to walk up the AccessibleInstance tree *every* time the

[2019-03-20 18:43] jessegreenberg commented on #663
Here is a test I did in OL on branch batchA11yChanges:
![image](https://user-images.githubusercontent.com/6396244/54710439-0ebed400-4b1e-11e9-83ea-41b25e7456fb.png)

and on master:
![image](https://user-images.githubusercontent.com/6396244/54710471-21390d80-4b1e-11e9-8889-ff1a6918ef0d.png)

This was a different machine than https://github.com/phetsims/ohms-law/issues/132#issuecomment-473718862. In

[2019-03-20 18:53] zepumph commented on #663
+1 to noise! Let's talk more.

[2019-03-20 19:10] jessegreenberg opened #955 "Can AccessibilityUtil.usesExclusivelyFormattingTags return false if there is no formatting?"
By default we use `innerHTML` for inner content unless there are formatting tags that we do not allow.
[code]

But innerHTML is way slower than textContent. [I tested with this jsperf ](https://jsperf.com/innerhtml-vs-innertext/12)and observed that innerHTML is 99% slower.
![image](https://user-images.githubusercontent.com/6396244/54712232-2f892880-4b22-11e9-933e-b0a533947243.png)

Is there a reas

[2019-03-20 19:12] jessegreenberg commented on #955
The only usage of this function is in `AccessibilityUtil.setTextContent`.

[2019-03-20 22:15] zepumph commented on #955
Oh my goodness! I had no idea it was like this!

what if we went in the following direction:
* rewrite `usesExclusivelyFormattingTags` to `containsFormattingTags`.
* by default use `textContent`, but if the string contains formatting tags, then use `innerHTML`

I hope this will be great performance savings! Let me know what you think, or if you want more help.

[2019-03-21 15:22] jessegreenberg opened #956 "Performance of setAttributeToElement and setTextContent"
I am seeing that the largest performance bottlenecks for a11y in scenery come from AccessibilityUtil.setTextContent and AccessiblePeer.setAttributeToElement. If we return out of these functions early, performance on my iPad2 increases quite a lot. For setTextContent, performance is slower with both textContent and innerHTML.

Unclear how these could be further optimized. First we should see if CSS

[2019-03-21 16:01] jessegreenberg commented on #956
Here is how I found setAttributeToElement as important for performance:
In https://github.com/phetsims/ohms-law/issues/132 we found that using *both* textContent and innerHTML cause Chrome to spend more time in "Layout" calculations. So I removed the body of AccessibilityUtil.setTextContent and retested performance. Here is what I saw.

See how Chrome indicates that layout work is being triggered

[2019-03-21 18:34] samreid commented on #621
From today's meeting:
@jonathanolson: Should we specify platforms to apply this workaround to?
@pixelzoom: I may have seen something like this on iPad with gas-properties
@samreid: Perhaps you saw a GC?
@pixelzoom: I can run a test on the iPad with ?webgl=false to isolate it.

We discussed specifying the value in package.json which would become the default value in the Query String Machine schema.

[2019-03-21 18:40] samreid commented on #621
I volunteered to investigate this in 3 weeks or so.

[2019-03-21 21:44] jessegreenberg commented on #956
It looks like we avoid some of the layout calculations in Chrome if we style PDOM elements with `absolute` instead of `fixed`.

[2019-03-22 13:10] jessegreenberg opened #957 "Document performance considerations in scenery docs"
We have recently identified several issues involving a11y performance. Critical ones should be taken care of immediately, but we might not might not get to others for a little while. For these, we want to have a section in the scenery documentation that lists these issues and when a dev might encounter them. We are most interested in collecting this for any folks outside of PhET that may be intere

[2019-03-22 14:56] samreid commented on #621
We may indeed want to have a way to make this platform specific.  For instance in Wave Interference, webgl should only be enabled for platform.mobileSafari. I have to put ?webgl=false to avoid switching GPU on macbook.

[2019-03-22 15:06] samreid commented on #621
If we are going to define this in a preload and we want the ability to use platform.js to choose based on platform, then we would also need to port platform.js from requirejs module to a preload global.  There are currently 35 files with the line `var platform = require( 'PHET_CORE/platform' );`.  I'd like to hear from both @jonathanolson and @pixelzoom before I proceed.  Should we move platform.j

[2019-03-22 17:28] pixelzoom commented on #621
I'm not sure what's best here.  Do we need a general solution for specifying query parameter values per platform?  Or should we focus on solving this specific webgl problem?

[2019-03-22 21:14] jessegreenberg commented on #956
I discovered that on iPad2 https://github.com/phetsims/scenery/issues/956#issuecomment-475414749 is not true. But if we hide HTML before batching updates to the PDOM performance is much faster on iPad2. I don't see any differences in behavior in Chrome performance tools.

[2019-03-22 21:20] jessegreenberg commented on #663
On iPad2, I discovered that the sim is noticeably faster if the PDOM is hidden before updates are made to the DOM. Perhaps this prevents the browser from doing layout/reflow calculations for DOM content. I have tried this so far on the batchA11yChanges branch with inner content changes. This in combination with avoiding setting all element attributes (see #956) has the sim running as fast as it do

[2019-03-22 21:21] jessegreenberg commented on #663
For better or worse, I these changes seem to have a large impact on iPad2 Safari performance, but no impact on characteristics observed through the Chrome performance tools.

[2019-03-25 15:41] jessegreenberg commented on #957
Added, closing.

[2019-03-25 15:41] #957 closed

[2019-03-25 15:43] jessegreenberg commented on #955
OK, thanks @zepumph I think that is the right way to go too.

I think this will give us a performance boost on Chrome at least, but both innerHTML and textContent seem equally slow on iOS Safari when testing by using one or the other exclusively in a sim.

[2019-03-25 15:53] jessegreenberg commented on #663
After the above commit, performance is noticeably faster on my iPad2. But the sim is still slower with ?a11y enabled than without it.

[2019-03-25 17:59] jessegreenberg commented on #956
With batching HTML attributes and textContent the sim is still slower on iPad2. By commenting out the work done in AccessibilityUtil.setTextContent, and teh setting of value and aria-valuetext in AccessibleSlider the sim runs much faster.

[2019-03-25 19:32] jessegreenberg commented on #955
I ran the same JSFiddle on my iPad2:
![IMG_0003](https://user-images.githubusercontent.com/6396244/54948490-224dae80-4f13-11e9-8362-98016ceb8983.PNG)

[2019-03-25 19:33] jessegreenberg commented on #955
In the above test, `s` is a string with value `s = '1,2,3,4';`.

[2019-03-25 20:55] jessegreenberg commented on #955
When I replace the implementation of AccessibilityUtil.setTextContent with
[code]
I *think* the sim runs faster, but I maybe I am biased.

[2019-03-26 00:07] jessegreenberg commented on #663
With @zepumph we identified a number of remaining steps related to a11y performance and batching that we would like to try:
- [ ] Try elem.firstChild.nodeValue instead of textContent, as this is faster on iOS safari (see #956)
- [ ] Can we remove transparent and background-color CSS attributes? We saw performance improvements from moving opacity to the root...
- [ ] Try removing PDOM element posit

[2019-03-26 00:45] jessegreenberg commented on #955
https://github.com/phetsims/scenery/issues/955#issuecomment-475049737 was done in branch batchA11yChanges.

[2019-03-26 00:59] zepumph commented on #951
@twant is also running into needing to update aria-valuetext on focus. I should get to this sooner rather than later.

[2019-03-26 01:31] jessegreenberg commented on #663
This was actually quite easy to do so I just tried it. Indeed, it improves the performance quite a bit. The problem is that it can't be done for all aspects of the PDOM. To be read correctly by the screen reader some things must be read synchronously. For instance, after a change to a slider in ohms-law, stale aria-valuetext is read because the batched update happens after the change from the slid

[2019-03-26 18:32] zepumph commented on #951
after discussing with @jonathanolson, I am going to proceed with a "parent" mixin that mixes into both accessibleNumberSpinner and AccessibleSlider, adding the shared options that are currently copied in both places having to do mainly with formatting/mapping the value, and creating and assigning aria-valuetext.

[2019-03-26 19:25] jessegreenberg commented on #663
Since it was so quick to do and provided such a large performance benefit, I went further with this. I tried adding a `synchronous` option to setting accessible attributes (default to synchronous) so that some attributes can be set asynchronously for performance. This way attributes generally get set immediately so the AT can read them correctly, but otherwise can be set asynchronously during rapi

[2019-03-26 20:25] jessegreenberg commented on #956
This issue and a proposal has been consolidated into #663.

[2019-03-26 20:25] #956 closed

[2019-03-26 22:07] jessegreenberg commented on #663
@zepumph and I met to talk about changes thus far. Overall, there we are nervous about the issues with updating the PDOM less frequently. This adds complexity to scenery accessibility AND accessibility instrumentation. It could be fragile when interfacing with AT. It requires knowledge in design for what things must be updated synchronously and what can be delayed.

But it is the only solution ide

[2019-03-26 22:20] zepumph commented on #951
In these commits I added `AccessibleValueHandler` as a mixin that handles listening to Property changes and setting the aria-valuetext accordingly. This consolidated the apis of AccessibleNumberSlider and AccessibleSlider. I'm really happy with these changes, and now I think the ground work is set to add in the "on focus" aria value text that we set out to add from the beginning here.

[2019-03-26 23:02] zepumph commented on #951
`a11yCreateOnFocusAriaValueText` was created in the above commits. There is now a central way to control having one valuetext on focus, and another when the value changes. From here I will continue in gravity force lab. I will also make an issue for @twant over in Molarity.

@jessegreenberg we largely went over the first batch of changes together, but do you mind looking at the most recent 5, espe

[2019-03-26 23:36] zepumph commented on #951
Sorry, I'm finding myself making a few changes for https://github.com/phetsims/gravity-force-lab-basics/issues/96. Please hold off on a review for now.

[2019-03-27 00:01] zepumph commented on #951
Alright, with https://github.com/phetsims/sun/commit/4bef216919a9abedea6651538e91ae4ee26c1b7c now we are ready for review. Thank you for you patience.

[2019-03-27 16:22] jessegreenberg opened #958 "Make setting of accessible attributes more consistent"
Part of #953, there are a few ways now to set accessible attributes (internally to scenery) on an AccessiblePeer. For example, to set the input value, Accessibility.js uses
[code]
But to mark something as checked, Accessibility uses setAttributeToElement
[code]

Discussing with @zepumph, we prefer to use setAccessibleAttribute directly to avoid a proliferation of functions on AccessiblePeer for nu

[2019-03-27 21:11] jessegreenberg commented on #663
We met today with @jonathanolson and reviewed what we tried so far. Out of that discussion, we noticed that performance improved on my iPad2 if we add `display: none;` to the PDOM CSS. So it was suggested that we may get a performance benefit if we can find a way to hide the PDOM that tricks VO into thinking the content is readable without making the browser do expensive layout/flow calculations e

[2019-03-27 21:16] jessegreenberg commented on #663
While discussing with @jonathanolson, it was also mentioned that it would be helpful to research particulars about how browsers work to develop fast accessible content. @zepumph found this resource https://gist.github.com/paulirish/5d52fb081b3570c81e3a. It is about a year since the last edit, but also has a list of resources towards the bottom that will be helpful.

Finally, it would be helpful to

[2019-03-27 21:20] jessegreenberg commented on #663
But `'clip: rect(1px, 1px, 1px, 1px);'` is honestly about as fast as the nuclear "update PDOM every N frames". I don't know if we should go any further now with complex batching if we don't see a performance benefit from it.

I think the next step would be to add `'clip: rect(1px, 1px, 1px, 1px);'` to the batchA11yChanges brnach and see if it is faster than master with `'clip: rect(1px, 1px, 1px,

[2019-03-27 22:33] zepumph commented on #663
This sort of strategy will need to be implemented at some point (at least in some form), to support a11y behavior functions in any sort of full way. That said I don't think that the current batching branch needs to be kept/maintained/merged to master necessarily. I would be fine if we considered it an exploration and implemented from scratch when the time came.

[2019-03-27 23:17] jessegreenberg commented on #663
I think that is my thinking too. Lets keep the branch but not maintain or merge. I am going to ask QA to verify performance with `clip` on master on the device where slow performance was reported. We can then pick this up again for the a11y function work or if performance issues arise where it seems batching could help.

[2019-03-27 23:36] jessegreenberg commented on #955
I proceeded with https://github.com/phetsims/scenery/issues/955#issuecomment-475049737 in master. In #663 we may not continue batching work or merge with master yet because a different way to reduce browser layout calculations was discovered. See https://github.com/phetsims/scenery/issues/663#issuecomment-477372791

Ill add some unit tests.

[2019-03-28 00:03] jessegreenberg commented on #955
I added some unit tests to verify that textContent is the default/fallback and innerHTML is being set when formatting tags are used.

[2019-03-28 00:03] #955 closed

[2019-03-28 15:55] jessegreenberg commented on #949
I think for completeness all attributes should have data-trail-id so that the event from any element that the device happens to send an event to (container, label, description, whatever). So the addition of this attribute should likely be moved to AccessibilityUtil.createElement.

[2019-03-28 16:20] jessegreenberg commented on #949
This was done, I tested with NVDA and check boxes can be clicked by pressing enter/spacebar when the virtual cursor is on the label of the elements even before the checkbox has focus. Closing.

[2019-03-28 16:25] jessegreenberg commented on #663
Created https://github.com/phetsims/QA/issues/303 for a check.

[2019-03-28 16:49] jessegreenberg commented on #852
https://github.com/phetsims/scenery/issues/852#issuecomment-467994327 was fixed via #949.

[2019-03-28 20:02] zepumph commented on #949
Hey! I have a few questions about this one. To me this feels like a pretty large change, but perhaps that stems from my lesser understanding of AT.

After this change, is it possible that many more events could "sneak" into scenery. Is this the sort of thing we want control of, instead of just turning it all on/off.

Here are a few questions.
-----------------------------------------

primarySibli

[2019-03-28 21:18] jessegreenberg commented on #949
Sorry to close too soon @zepumph, I should have requested review.

**TLDR:** The title of this issue is bad, we aren't doing anything special to dispatch events from non-primary siblings. We are just adding the `data-trail-id` attribute to all siblings so that if the AT sends a DOM event to something other than the primary sibling we can get the Trail to dispatch a Scenery event to the right Node.

[2019-03-28 23:50] pixelzoom commented on #621
Labeling this with `status:blocks-publication` because it's considered a blocking issue for Gas Properties publication.  That sim isn't due until January 2020.  And I don't know if this blocks any other sims.

@ariel-phet please prioritize and assign.

[2019-04-01 16:54] jessegreenberg opened #959 "Instrument ButtonListener with a11y"
Motivated by https://github.com/phetsims/sun/issues/487.

After #888 a11y listeners can be added just like any other input listener. We have been doing this already in PressListener.

PressListener is part of a "new" set of Scenery input listeners. FireListener is part of the "new" set and is very similar to ButtonListener in its feature set. It may end up replacing ButtonListener in the future. S

[2019-04-01 17:56] jessegreenberg commented on #959
This was done, ButtonListener now responds to the `click` event, and activates the button in response.

This has been removed. Old code that used to check the Pointer for an `isKey` flag was replaced by `click` `focus` and `blur` listeners to update the buttonListener `overCount`.

I added a TODO to mention that we will likely come back to this once https://github.com/phetsims/scenery/issues/939 i

[2019-04-01 17:56] #959 closed

[2019-04-01 18:46] pixelzoom opened #960 "NumberControl is doubly disabling its Slider"
In Gas Properties "Energy" screen, we have a NumberControl that can be disabled.

Here's what it looks like enabled:

<img width="205" alt="screenshot_1118" src="https://user-images.githubusercontent.com/3046552/55351512-c7203c80-547b-11e9-9897-e50f21440597.png">

and disabled:

<img width="209" alt="screenshot_1117" src="https://user-images.githubusercontent.com/3046552/55351513-ca1b2d00-547b-11e

[2019-04-01 18:50] pixelzoom commented on #960
Transferring this issue from scenery to scenery-phet.

[2019-04-01 19:50] zepumph opened #961 "Audit that all Nodes in an accessibleOrder are in the scene graph"
Related to https://github.com/phetsims/molarity/issues/63, if you add a Node to an `accessibleOrder`, but not as a child in the scene graph, then the elements in the PDOM end up as hidden. We want to audit that this doesn't happen on startup by making sure all Nodes that have accessible content are also in the scene graph. We can do this in `Accessibility.accessibleAudit()` with something like:
[c

[2019-04-01 20:04] zepumph commented on #961
We tried with this snippet:
[code]

[2019-04-01 20:04] jessegreenberg commented on #961
@zepumph and I tried the above. We ran into problem cases where the accessible order is specified during Node construction, but child nodes are added well after the screen view has been constructed. This order of operations seems very reasonable and like something we want to support. So we are not going to add this assertion in the audit for now as it is too strict.

[2019-04-02 15:15] jessegreenberg commented on #939
Thanks for collecting resources and questions @pixelzoom. Some of this we have already considered but all
of it is worth looking into.

I am reviewing the questions and links listed in https://github.com/phetsims/scenery/issues/939#issuecomment-469051241, https://github.com/phetsims/scenery/issues/939#issuecomment-469053432, https://github.com/phetsims/scenery/issues/939#issuecomment-469057113 and

[2019-04-02 15:21] jessegreenberg commented on #939
Actually, I had forgotten that @terracoda already reached out to the ARIA group about this. https://lists.w3.org/Archives/Public/w3c-wai-ig/2019JanMar/0086.html

[2019-04-02 21:24] pixelzoom opened #962 "Should all color-related parameters and options support ColorDef/PaintDef?"
This came up in a discussion with @chrisklus related to generalizing BicyclePumpNode in
https://github.com/phetsims/states-of-matter/issues/217.  It has a number of options that should be of type `{ColorDef}`, which is `{null|string|Color|Property.<null|string|Color>}`.  This complicates things, but is probably necessary for common code.

Components that don't support `ColorDef` present a problem

[2019-04-02 21:33] pixelzoom opened #963 "ColorDef doesn't support Property(null)"
`ColorDef` appears to be missing support for `null` Property value.

ColorDef:

[code]

Shoudn't line 29 be:

[code]

Compare to PaintDef:

[code]

[2019-04-03 00:53] zepumph opened #964 "enable mode to assert out on templated vars in the PDOM"
I wonder how hard it would be to have a way to turn on some validation to make sure that no templated vars go unfilled in the PDOM or alerts. I'm thinking that this would be something added onto while fuzzing or something. We may even be able to do something simple like (untested)

`assert && assert( !/\{\{\w+\}\}/.test( PDOMContainer.innerHTML ), )`

@jessegreenberg what do you think? It may be o

[2019-04-03 01:49] zepumph commented on #951
In https://github.com/phetsims/gravity-force-lab-basics/issues/107 I found that updating onfocus value text on focus instead of blur worked nicely to solve https://docs.google.com/document/d/1HdDG9ds2MdbCb21l9qk3cI8yBQxK6-wBWNXC4Tloji8/edit?disco=AAAAC0h5NOA

@jessegreenberg please add this to your review.

[2019-04-04 04:22] samreid commented on #962
I don't have firsthand experience with it, but that sounds like a hassle.  Why does ColorProfile require ColorDef support?  I'm not too familiar and would be good to discuss.

[2019-04-04 13:36] pixelzoom commented on #962
As noted above, `{ColorDef}` is effectively `{null|string|Color|Property.<null|string|Color>}`.

ColorProfile provides Properties of type `{Property.<null|string|Color>}`.   If you provide such a Property as the value for a `{ColorDef}` param, then color updates are handled by the component.  Scenery nodes handle this nicely, as do some common-code components.

If a param has type `{null|string|Co

[2019-04-04 15:22] jonathanolson commented on #962
Ideally, usually it's just passing things through to the Scenery nodes. Can always use PaintColorProperty to wrap and handle things.

[2019-04-04 15:27] pixelzoom commented on #962
I had no idea that `PaintColorProperty` existed.  We spent a lot of time in https://github.com/phetsims/axon/issues/221 discussing how to create ColorProperty, and that appears to be moot.

[2019-04-04 15:34] jonathanolson commented on #962
I don't see how it is moot, they serve very different purposes.

[2019-04-04 16:06] jonathanolson commented on #963
Looks like this should be done, added support for the `null` in https://github.com/phetsims/scenery/issues/839.

[2019-04-04 16:18] pixelzoom commented on #963
It doesn't appear to be done.  #839 added support for `null` to `PaintDef`.  This issue deals with `ColorDef`.

[2019-04-04 16:23] jonathanolson commented on #963
I phrased that horribly. I meant that I should make the change.

[2019-04-04 18:18] jbphet commented on #621
@pixelzoom is saying that Gas Properties will likely come out well before Jan 2020, more likely late June or early July of of 2019.  This will need to be resolved before then.

[2019-04-04 19:35] pixelzoom commented on #962
4/4/19 dev meeting notes:

Yes, going forward we should endeavor to support `{ColorDef}` or `{PaintDef}` (as appropriate) for color-related parameters and options.  `PaintColorProperty` is useful for doing this.  See for example `RectangularButtonView`.

@chrisklus will use this approach in `BicyclePumpNode` in https://github.com/phetsims/states-of-matter/issues/217.

Closing.

[2019-04-04 19:35] #962 closed

[2019-04-04 20:27] jessegreenberg commented on #964
This sounds like a very nice things to catch!

Would the regex catch attributes too? Just thinking things like `aria-label` and maybe others.

[2019-04-04 20:56] jessegreenberg commented on #964
Yes it seems to.

I created this jsperf to test speed https://jsperf.com/speed-of-test/1

The test grabs the PDOM from gravity-force-lab-basics, and runs !/\{\{\w+\}\}/.test( PDOMContainer.innerHTML ). My laptop with chrome could run it 10635 times per second -> 0.00009402914 seconds per run -> 0.09402914 ms per run? For 17ms per frame, that is 0.5% of the time for the frame?

Hope I did that righ

[2019-04-04 20:58] jessegreenberg commented on #964
We can talk more at next dev meeting.

[2019-04-05 20:34] samreid commented on #964
What about taking it one step further and making it so that no templated vars show up in any `Text` or `HTMLText` or `MultilineText` or `RichText`?  When would we ever want a templated var to show up to the user in any fashion?

[2019-04-06 15:43] jessegreenberg commented on #964
Maybe we make `StringUtils.fillIn` more strict to never allow template variables.

[2019-04-06 16:01] samreid commented on #964
@pixelzoom and I discussed that idea previously, but discovered there are places in our code where `fillIn` is necessarily called multiple times on different variables.

[2019-04-06 22:43] jessegreenberg commented on #964
I see, thanks. Then maybe a function in StringUtils that does something like the regex recommended by @zepumph that can be used in functions where we set text.

[2019-04-07 19:08] jessegreenberg commented on #939
No matter whata we do, somewhere in button code we will need to change the markup for the button so that it looks like
[code]
If we don't go with #945, somewhere in button code we will also have to opt out of `click` listeners. We could have an option in PressListener like `activateWithKeyboardEvent` that disables the `click` listeners and uses  `keyup` and `keydown` listeners instead.

If we do t

[2019-04-08 19:48] jessegreenberg commented on #939
Notes from 4/8/19 discussion:

During discussion on 4/8/19, @samreid suggested that rather than having some of our buttons use use unique markup and input handling that we modify the user interface (both visual and PDOM) to support different modes of interaction. For instance, for the StepButton we could also have a "slow motion" button that changes the behavior of step to work better with single

[2019-04-08 20:14] zepumph commented on #964
Perhaps similar to us putting an assertion in `setInnerContent` instead of `fillIn`, we could add this sort of check to `RichText` and `Text`. Those are the only visual text Types in scenery right?

[2019-04-08 20:14] samreid commented on #964
A few other types are mentioned in https://github.com/phetsims/scenery/issues/964#issuecomment-480413625

[2019-04-08 21:10] zepumph commented on #964
`HTMLText` extends `Text`
`MultilineText` is deprecated. Even so if there was another Type we could add that validation logic there too.

Potential solution: use the same validator in all these locations:

`validate( value, {
  valueType: 'string',
  isValidValue: v=> !/\{\{\w*\}\}/.test( v )
} );`

which will assert out.

When I apply a patch I will soon provide, I get some really nice assertions

[2019-04-08 21:14] pixelzoom commented on #964
`MultilineText` is deprecated. Even so if there was another Type we could add that validation logic there too.

`RichText`

[2019-04-08 21:26] zepumph commented on #964
Yes RichText has been included in this discussion.

This patch has helped to find a few bugs as expected and demonstrated above, but it also found an edge case, which is how RichText supports links.
[code]

<details><summary>Patch</summary>

[code]
</details>

These three stacks are the only errors I have found with this patch so far (halfway through normal phet fuzz, and completed a11y fuzzing)

[2019-04-08 23:26] jessegreenberg commented on #939
@samreid also provided these notes from discussion:
We additionally discussed these examples:
* Changing the pDOM elements for `MomentaryPushButtonModel` buttons to toggle buttons, so on the first click, the button is pressed and on the second click, the button is released.
* Breaking out the “Step” button with 2 mode of interaction (press once to step once vs press and hold to go in slow motion),

[2019-04-09 08:07] terracoda commented on #939
I agree that `<div role="application">` should be an opt-in option.  `<div role="application">` is meant for custom interactions. In interviews thus far (BASE, Friction, Faraday's Law) this role has not yet been understandable or easily operable by users.  Explicit guiding instructions are always needed and these instructions vary by platform (e.g., keyboard, touch).

I also agree with (a) and (b)

[2019-04-09 18:13] chrisklus commented on #964
Note from @samreid and @chrisklus - Simula Rasa shows "{{TITLE}}" for the simulation title, so that will have to be excluded.

[2019-04-09 21:15] zepumph commented on #951
After discussion with @jessegreenberg, as part of this review we think it would be good to verify old sims' value text implementation to test for regression. @jessegreenberg please make sure the following are up to snuff.

- [ ] Ohms Law
- [ ] Resistance in a Wire
- [ ] John Travoltage

don't worry about molarity and ISLC because they are in active development. Kinks will be sorted out on their ow

[2019-04-11 21:10] jessegreenberg commented on #951
AccessibleValueHandler is so nice @zepumph, nice work. This is a good improvement for AccessibleSlider and AccessibleNumberSpinner but can be used elsewhere too. These are my only questions:

- Setting aria-valueText on focus is an atypical usage of the attribute, have we tested how this works on each of JAWS, NVDA, and VO to see how this behaves with each?
- There is some documentation about sett

[2019-04-11 23:07] jessegreenberg commented on #951
I just reviewed sims in https://github.com/phetsims/scenery/issues/951#issuecomment-481443257, valuetext is working great. Back over to you @zepumph.

[2019-04-12 18:17] zepumph commented on #490
Today as part of phetsims/axon#222 @samreid and @zepumph added `TinyEmitter`. @jonathanolson please feel free to take it for a test drive in scenery. As of right now it doesn't use validation, but that has the (slight) possibility of changing.

[2019-04-13 01:12] zepumph opened #965 "best way to access namespaced types for scenery dependencies"
This conversation has likely occurred before, so I'm sorry if it is redundant. As part of phetsims/axon#222 @samreid and I added code to axon TypeIOs that referrenced their core types through the namespace, only to find that when scenery builds and is used outside of phet, that that code fails. Is my proposed fix linked below a sufficient way to proceed or should it look some other way?

[2019-04-13 15:19] samreid commented on #965
The proposed fix for this problem caused the problem identified in https://github.com/phetsims/axon/issues/222#issuecomment-482812727.  The problem is that the modules are not defined by the time e.g., `var ObservableArray = window.phet ? phet.axon.ObservableArray : axon.ObservableArray;` was running statically.  I have a band-aid for it, but it would be good for @zepumph to take a closer look.

[2019-04-13 15:23] samreid commented on #965
I moved queries for the type into the callbacks, after the modules are defined.  Resistance in a wire fuzz with phet-io is passing, scenery build with shapes example is running, lint is passing.  I'll commit.

[2019-04-15 17:15] zepumph commented on #951
Originally I was updating on previous blur, and providing a public way to update it manually when not focused.  I then switched it to `focus` in https://github.com/phetsims/sun/commit/b4abe3c0d83db05c5245219b25d1e7bea6ed7eb7 because it was working well on NVDA. Perhaps we should make sure that this is as good on jaws. Can you confirm?
We can also ask a mac user to test as well.

Yes it was blur. F

[2019-04-15 22:11] zepumph commented on #965
I would consider this a reasonable way to proceed. Perhaps @jonathanolson feels differently though, or has a better recommendation, especially based on our namespace discussion this morning.

[2019-04-16 17:42] jonathanolson opened #966 "Moving to phet.{{X}} namespaces instead of multiple globals"
During the namespace discussion, it was noted that there are a number of advantages to move to a single global variable (`phet`). The consistency will help with things like https://github.com/phetsims/scenery/issues/965, and it will override fewer names.

Those seem like good arguments to me (that somewhat override the verbosity concerns, since you can always create local variables if things are t

[2019-04-16 17:43] jonathanolson commented on #965
I'd like to understand a bit more about this problem. It looks like this is currently a workaround for handling circular dependencies, and is on the path of using namespaces as a comprehensive solution for when those problems arise.

https://github.com/phetsims/scenery/issues/966 (having a consistent namespace) should help with this, although I'm a bit surprised we are creating IO objects when usi

[2019-04-16 17:44] jonathanolson commented on #965
I don't have a better solution currently, but it feels a bit "wrong". Ideally our module system (require.js) would be able to solve this, and our workaround seems reasonable.

[2019-04-16 17:53] jonathanolson commented on #490
`TinyEmitter` looks nice!

For memory, is it possible to only provide `this.isDisposed` while assertions are enabled? (We only check it while assertions are enabled)

I'm also interested in what `this.last` refers to in the code. Seems addListener could just push.

Are there objections for moving event handling over to this?

[2019-04-16 18:02] jessegreenberg commented on #939
This means that we are proceeding with our current input system for catching `click` events and we will add support for `keydown` `keyup` in PressListener when we require them. This issue no longer needs to block publication.

[2019-04-16 18:19] zepumph commented on #490
Hidden around assert now

That was vestigial, we forgot to remove one usage.

If you think it's ready, then I do too!

Over to you to close/start converting.

[2019-04-16 19:04] zepumph commented on #965
Built Scenery is because Node still extends PhetioObject, and passes up `phetioType` and so on. I'm going to mark this on hold, and once https://github.com/phetsims/scenery/issues/966 is sorted out, we can go in an simplify these workarounds.

[2019-04-16 20:12] jonathanolson commented on #490
Leaving assigned myself to start the conversion.

[2019-04-16 20:50] jessegreenberg commented on #951
All sounds good! I had tested https://github.com/phetsims/scenery/issues/951#issuecomment-481443257 with NVDA and FF, I will test again with JAWS and mobile VO.

[2019-04-16 21:04] jessegreenberg commented on #951
I tested JAWS and mobile VO with this change set, both sound good on the sims in https://github.com/phetsims/scenery/issues/951#issuecomment-481443257

[2019-04-16 21:41] jessegreenberg commented on #951
I just tested GFLB with mobile VO and the feature does not work the same there. When reading with the virtual cursor on mobile VO there are no `focus` or `blur` events because DOM focus is not in sync with virtual cursor like on other screen readers.

This means that the aria-valuetext will read something more verbose on first discovery, but then read the "on change" aria-valuetext from then on.

[2019-04-17 19:21] jessegreenberg commented on #270
We are able to observe this in energy-skate-park on iPad Air 2 iOS 12, when dragging the skater so that part of is off screen with WebGL disabled the framerate drops by ~50%. It would be helpful to investigate this again because we are trying to decide whether or not we can continue to develop energy-skate-park without custom WebGL work (see https://github.com/phetsims/energy-skate-park/issues/42#

[2019-04-18 01:34] zepumph commented on #966
No objections here. It seems like we are mainly talking about scenery and dependencies, but I also want to mention that I don't think this is as good of an idea for wrapper side libraries like PhetioIDUtils and Client.js, which exist on the `phetio` global (not `phet.phetio`). We chose this to keep the client api short and crisp. I'm open to discussion though.

[2019-04-18 01:55] ariel-phet commented on #270
@jessegreenberg is a potential solution to not allow the skater to be dragged off screen (which seems like a reasonable limitation)?

[2019-04-18 14:47] jessegreenberg commented on #270
I should have been more clear, the issue isn't specific to dragging but any time the skater is partially off screen. So as the skater moves off screen on its own the framerate will drop from 60fps to 30fps when rendering with SVG.

[2019-04-18 16:13] ariel-phet commented on #270
Marking for dev meeting

[2019-04-18 18:38] zepumph commented on #270
From dev meeting discussion:
* SR what if we made the skater a specific renderer, like canvas or webgl
* JG we probably want to do it for all things that move off screen
* JG all the webgl needs to be in the same layer, so it would be nice if we could simplify that.
* JO: this may not be something we can even fix, because of mobile safari
* JG: perhaps the next step for this issue is to create a t

[2019-04-19 19:27] jessegreenberg commented on #270
I found I was able to work around this in energy-skate-park by rendering one of the animating components  (the bar graph) with 'canvas'. Oddly enough, even when the skater is rendered with 'svg' the issue is no longer present.

It looks like we can workaround this in the sim so removing assignment from this issue again.

[2019-04-22 19:11] zepumph commented on #951
I think we should handle that in https://github.com/phetsims/a11y-research/issues/138, or do we need a more specific issue for this? We can figure out the best way forward as we test in GFLB. I don't think we need to do more about that in this issue.

Implemented above

I took this for a test drive in the below commit. In the end I think I don't like this idea. Here are a few reasons:

* Accessibl

[2019-04-22 19:28] zepumph commented on #918
That is great thanks, closing

[2019-04-22 19:28] #918 closed

[2019-04-22 19:39] zepumph commented on #949
This looks great

There is a bit of duplication with all 4 of the DOM elements in AccessiblePeer.

![image](https://user-images.githubusercontent.com/6856943/56522859-49d46e80-64f3-11e9-9d06-6142be4e8e1f.png)

 perhaps a wrapper like `AccessiblePeer.createElement` which calls over to AccessibilityUtil.createElement could be nice. If it isn't obvious or feels contrived, feel free to close.

[2019-04-23 16:33] jessegreenberg commented on #949
That was a good idea, I made a `createElement` in AccessiblePeer that reduced the duplication for at least one option and the string concatenation for ids. @zepumph back to you for review.

[2019-04-23 16:42] jessegreenberg commented on #951
Totally agree, will be discussed in that issue.

https://github.com/phetsims/sun/commit/9e09d67c2697319952034b0daf5980c0b9cf9a73 looks great.

All the reasons you listed for not moving value-centric attributes into AccessibleValueHandler are great points. Closing.

[2019-04-23 18:30] jonathanolson commented on #963
Fixed above. Thanks for noticing!

[2019-04-23 18:30] #963 closed

[2019-04-24 00:18] zepumph commented on #949
Looks great thanks

[2019-04-24 00:18] #949 closed

[2019-04-24 00:32] jessegreenberg opened #967 "Focus lost in Chrome when releasing Node using GrabDragInteraction"
@KatieWoe recently reported this. It is for things using GrabDragInteraction of scenery-phet, but my initial instinct is that this is related to scenery events or DOM element changes because it is platform specific.

When releasing something using GrabDragInteraction with enter/spacebar/esc, focus is "lost" in Chrome. I say "lost" in quotes because the behavior is a bit more strange than that. `do

[2019-04-24 00:42] jessegreenberg commented on #967
When I remove `focusable: null,` from `options.grabbableOptions` the bug goes away. I don't fully understand yet or know why this is platform specific.

[2019-04-24 14:26] jessegreenberg commented on #967
AccessibilityUtil.overrideFocusWithTabIndex( this.primarySibling, focusable ); is causing focus to be lost. I can seee document.activeElement points to the node before calling and points to the body after calling.

[2019-04-24 14:42] jessegreenberg commented on #967
This was caused by
[code]

Where `focusable` was changed to always be a `boolean` for AccessiblePeer. In that case, tabIndex was set to either 0 or -1. Now when focusable is `null` the `tabIndex` atribute is removed from the element with element.removeAttribute, and this must be causing the blur in Chrome.

[2019-04-24 14:47] jessegreenberg commented on #967
To clarify, for

[code]

`focusable` was `null` and not equal to `false` (though JSDoc indicates it should a be boolean) and so `tabIndex` was set rather  than the attribute removed.

[2019-04-24 15:14] jessegreenberg commented on #967
Reproduced here: https://jsfiddle.net/t0z4xrnL/3/ in Chrome, and also saw that focus **isn't** lost in Firefox.

The following order of operations is happening in Chrome:
- Starting with a div with tabindex="0"
- In sim code, we set `focusable: null`. Since div is not focusable by default, tabindex is removed with `removeAttribute`.
- Chrome immediately removes focus from the `div`.
- For the case

[2019-04-24 20:06] jessegreenberg commented on #967
Another way to rephrase the above is to consider what would be expected if we replaced `mutate` in GrabDragInteraction with setter calls.

Say we had `myNode` with `tagName = div` and `focusable = true`, and it currently has focus. Then we changed it with
[code]

That may be equivalent to
[code]
In which case we would expect focus to be lost. I think I am convincing myself that this is the correct

[2019-04-24 21:13] zepumph commented on #967
What you explained above makes sense to me. Thanks for such thorough investigation.

[2019-04-25 18:28] pixelzoom commented on #621
4/25/19 dev meeting:

@jonathanolson said that it might be worth investigating whether the webgl test itself can be changed.

[2019-04-28 18:32] pixelzoom commented on #668
This has been open for quite a while, and scenery/accessibility still exists. @jessegreenberg   @zepumph what is the plan?

[2019-04-28 18:33] pixelzoom opened #968 "380 TODO comments in scenery"
Similar to https://github.com/phetsims/dot/issues/96 and https://github.com/phetsims/kite/issues/76.

There are 380 (!!) TODO comments in scenery.  I was able to identify one of those as having an associated GitHub issue.

Assigning to @ariel-phet to prioritize and assign.

[2019-04-29 21:06] zepumph commented on #668
Right! Thanks for the ping. Removed above.

[2019-04-29 21:06] #668 closed

[2019-05-01 18:19] ariel-phet commented on #937
No time for this enhancement currently, and I am OK with the slightly buggy screenshots. Deferring.

[2019-05-01 23:03] pixelzoom commented on #966
I'm fine with having 2 global namespace "roots" - `window.phet` and `window.phetio`.    I don't see an advantage to having (e.g.) both `window.phet.scenery` and `window.scenery`, especially for repos that are supposedly usable outside of phet.

[2019-05-02 15:12] jonathanolson commented on #621
It does not look like it's possible to do detection without triggering this.

However so far, I believe the best solution would be to lazily compute this. This will need some modification of mainly `Instance.js` (in addition to `simInfo.js`) to accomplish. It is checked at require.js time in some sims that already heavily plan to use WebGL.

[2019-05-02 16:26] zepumph commented on #867
Over in https://github.com/phetsims/sun/issues/503, @jessegreenberg recommended a use for bahavior functions that I have never really thought about. We should make sure that things like https://github.com/phetsims/sun/issues/503#issuecomment-488736665 will work. When developing, I didn't think we may be able to use behavior functions to "transfer" options to another Node:

@jessegreenberg wrote:
[

[2019-05-02 18:15] samreid commented on #621
@samreid @chrisklus and @pixelzoom cannot reproduce this at the moment.  We should take more effort to try to reproduce the problem.  If we still cannot reproduce this problem, we will punt.

[2019-05-02 18:24] pixelzoom commented on #621
I removed the workaround in gas-properties, and I no longer see the issue on macOS with Chrome, Firefox, and Safari.

[2019-05-04 02:12] pixelzoom commented on #621
I saw this happen multiple times today on macOS + Chrome 73 latest.  Particles in Gas Properties would start to animate, then pause, then resume.   Only happens once, after starting the sim.   But it happened repeatedly.  So I'm not convinced that this problem is gone.

[2019-05-06 16:51] lmulhall-phet opened #969 "Screenshot button in PhET menu prompts alert saying webpage trying to open popup"
Found while doing testing for https://github.com/phetsims/QA/issues/313. Seen on iOS 9.3.5 + XHTML version.

I've only seen this once and I can't reproduce.

[2019-05-06 16:52] #969 closed

[2019-05-06 16:53] lmulhall-phet commented on #969
Moving to Joist.

[2019-05-06 17:50] jessegreenberg opened #970 "Error opening new window in iOS 10 + XHTML"
Reported in https://github.com/phetsims/ohms-law/issues/143, the sim freezes with the following error in iOS 10 with XHTML after clicking a link in the "About" Dialog:
[code]

It doesn't happen in other iOS versions and @lmulhall-phet said that PhET no longer supports iOS 10, so its probably not a critical issue. But I thought I would point it out to @jonathanolson just in case.

[2019-05-07 01:57] zepumph commented on #936
I ran into this again in correlation with recent solidification and validation of phet-io api (through the baselines file). It became impossible to run the sonification wrapper unless a11y was provided as a query parameter. In the above commit I did a bit of scary hackary to get things working. I ended up defining the instrumented focusProperty in the constructor, assigning it as a static there co

[2019-05-07 02:43] samreid commented on #936
Would it work to always create and instrument the Focus?

<details>

[code]

</details>

And can you please provide links for sonification wrappers that should work with this?

[2019-05-07 03:31] samreid commented on #621
On my Mac/Chrome, that period of time looks like this: notice the gray area on CPU:

![image](https://user-images.githubusercontent.com/679486/57269805-15f65e80-7046-11e9-87a5-5a584e3f668d.png)

I recorded screen capture of it, but that time is "missing" from the playback.  Even though the screen stutters for 0.5 seconds or so, that isn't captured in the screen recording and it is as if it goes ri

[2019-05-07 04:12] pixelzoom commented on #621
Cool... time travel.

[2019-05-07 16:07] chrisklus commented on #621
I'm still not seeing happen on my machine anymore.

[2019-05-07 16:35] jessegreenberg commented on #936
I would be OK with always instrumenting focusProperty, as long as we make it clear that this is specific to keyboard/a11y focus (not pointer input). If always instrumented then it could be moved out of the constructor.

Alternatively, maybe we should reconsider whether focusProperty needs to be static. I think our argument was "A document can only have one element with focus so multiple Displays i

[2019-05-07 17:31] zepumph commented on #936
@samreid here is the link to the main sonification launchpoint.

http://localhost/phet-io-wrapper-sonification/sonification.html

I was using the first GFLB basics link last night with some alterations. First I built GFLB locally for phet-io, and then I went to `gravity-force-lab-basics-sonification.html` and changed the phet-io.js script import to point to the local version.

That makes sense. Do

[2019-05-07 19:16] jessegreenberg commented on #967
Thanks @zepumph, https://github.com/phetsims/scenery/issues/967#issuecomment-486405250 done with the above commit.

[2019-05-07 19:16] #967 closed

[2019-05-07 19:40] jessegreenberg commented on #936
The case you describe is possible, but hasn't been seriously considered yet. I think it is much more likely we will continue with more "standard" types of web zoom and magnify. Either way, I think that could be implemented with on Property per Display instance too because the focused node would be attached to both displays.

I think I am leaning toward one Property per Display instance, but I real

[2019-05-07 20:05] samreid commented on #936
What is the problem with the `focusProperty` being always PhET-iO instrumented, even if a11y is not enabled?

[2019-05-07 20:10] samreid commented on #621
@chrisklus if you open "Activity Monitor" and go to the "Energy" tab, it reports at the bottom which graphics card is in use:

![image](https://user-images.githubusercontent.com/679486/57329823-bcd40c80-70d1-11e9-9e17-1045012e4b4d.png)

If you open a sim that checks for WebGL but does not use WebGL, such as CCK DC, do you see "Integrated" change to "High Perf." when the sim starts, then back to "I

[2019-05-07 20:45] zepumph commented on #936
I don't think there is a problem with it, I perhaps just think it is slightly more unclean because it provides a useless item to most phet-io sims (since the majority don't have a11y enabled). Recognizing from https://github.com/phetsims/phet-io/issues/1457 that conditional instrumentation only serves to complicate phet-io, I think I'm leaning towards always instrumenting the Property, and updatin

[2019-05-07 23:05] zepumph commented on #936
I made the focusProperty always instrumented. Note that it is a bit of a pain to need to compute all of the baselines for small changes like this. It takes a few minutes, even with the small number of sims we currently have. Perhaps we could have a `for-each.sh -p` to run them all in parallel.

@samreid please review.

[2019-05-08 00:31] pixelzoom opened #971 "CanvasNode should override setRendererBitmask"
In CanvasNode constructor:

[code]

Based on the comment, only one renderer is supported.  But there is nothing preventing the client from calling `setRendererBitmask` with a different renderer.   CanvasNode should override `setRendererBitmask` and enforce this constraint.  I.e.:

[code]

[2019-05-08 01:21] chrisklus commented on #621
Oh, yep, I'm able to reproduce again.

Despite having "Automatics graphics switching" turned on, I wasn't able to get "Integrated" to be in use until I closed all my apps and let my compy sit for a while. Then, I ran the usual test I do with EFAC and observed the pause that shows up in a recording as similar to https://github.com/phetsims/scenery/issues/621#issuecomment-489893969.

I also did this

[2019-05-08 04:25] pixelzoom commented on #936
https://github.com/phetsims/scenery/commit/af9fe770f111fe338fe5086801e7d2b1b13ee868 broke beers-law-lab in CT:

[code]

[2019-05-08 14:35] samreid commented on #621
Testing in CCK: DC, I identified the following (@jonathanolson may already know this):

* Short circuiting `Util.checkWebGLSupport` to return false avoids triggering the GPU
* The first time that method is called is from `Sim.stepSimulation`.

Based on that, I created a minimal "straw man" patch that adds a "webgl" Sim option which can be used to override the Util check.  This prevents the buggy s

[2019-05-08 15:38] pixelzoom commented on #621
My workaround in Gas Properties was to put this at the end of GasPropertiesQueryParameters:

`phet.chipper.queryParameters.webgl = false;`

Could `Util.checkWebGLSupport` simply use this same workaround?

[2019-05-09 02:39] samreid commented on #621
That sounds simple and effective, but perhaps not as clear as `new Sim(...,{webgl:false})`.  But I'd be fine to proceed with it since it works.  Let's hear from @jonathanolson.

[2019-05-09 16:33] samreid commented on #621
From today's meeting notes:

We will use a sim option like described in https://github.com/phetsims/scenery/issues/621#issuecomment-490511399

Query parameter should override the default if provided, checked using QueryStringMachine.containsKey()
@samreid will iterate through sims and mark which don't use WebGL at the moment.  Leave default value for webgl as it is in QueryStringMachine.

If rende

[2019-05-10 14:38] samreid commented on #621
Some notes for my upcoming commit.

### Variables and Defaults:
1. The default value in initialize-globals is webgl=true.  This means simulations can shut off webgl by using `?webgl=false` as we have always done.  The query parameter (if supplied), overrides the sim option.
2. The default value for the webgl Sim constructor option is `webgl: false`.  That means Sims must opt in to webgl support.

[2019-05-10 14:42] samreid commented on #621
Over to @jonathanolson for next steps.  Let me know if you want to chat about any of the changes or my notes.

[2019-05-13 17:38] jessegreenberg opened #972 "branch: browserZoom"
In support of initial investigation for #175, to see if we can leverage the browser to support zoom and magnify. Expecting changes in scenery, joist, and chipper, each which will require a branch like this one. For more documentation, please see #175.

[2019-05-13 18:12] pixelzoom commented on #621
Self unassigning until this is ready for me to review.

[2019-05-13 18:34] jessegreenberg commented on #175
I have been looking into this recently to see if we can leverage native browser support for zoom and magnify. Branches were created in scenery, joist, chipper, and molecules-and-light as changes were required in each one of those.

Here is a prototype with the changes:
https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-browserZoom.1/phet/molecules-and-light_en_phet.html

Summary of chang

[2019-05-14 18:50] samreid opened #973 "SpectrumSlider vs NumberControl"
In https://github.com/phetsims/wave-interference/issues/377 and moved to a new issue https://github.com/phetsims/wave-interference/issues/394, the wavelength slider in Wave Interference Diffraction Screen currently looks like this:

![image](https://user-images.githubusercontent.com/679486/57723375-b8fe3800-7645-11e9-96a3-ed895217b820.png)

It was requested that:

Here's how Bending Light's Wavele

[2019-05-14 18:59] pixelzoom commented on #973
BLL has yet-another layout (see below), and I suspect that there are others if we look around.

First, I don't recommend trying to shoehorn a WavelengthSlider (or SpectrumSlider) into NumberControl.

Second... What's the reason for the difference? They both display the same information. Did you push back on the design?  Could the current layout work for Wave Interference?  Could the newer layout b

[2019-05-14 19:04] samreid commented on #973
@ariel-phet and/or @arouinfar can you please comment?

[2019-05-14 19:45] arouinfar commented on #973
In my opinion, the layout used in Bending Light should be one of the standard layouts of the WavelengthSlider.

For context, here's the Diffraction screen of Wave Interference
![image](https://user-images.githubusercontent.com/8419308/57725555-a9352280-764a-11e9-94b8-78dd5c4c9be8.png)

A few reasons why I suggested using the Bending Light configuration
* The panel is rather limited in width, and t

[2019-05-14 19:52] samreid commented on #973
I'd also like to hear more on this point.  SpectrumSlider seems like it is duplicating most of the work already done in NumberControl or Slider. What work would be necessary to combine these components other than (a) adding an option to draw a pattern in the track and (b) adding an option to show the thumb under the track?

[2019-05-14 19:54] pixelzoom commented on #973
@arouinfar said:

Bending Light does not label it as "Wavelength".  Is that acceptable for all sims? I doubt it.

sun and scenery-phet both have UI component demos.  WaveLengthSlider is represented in scenery-phet, and here's what it looks like:

![screenshot_971](https://user-images.githubusercontent.com/3046552/57727674-56aa3500-764f-11e9-8ca5-3665f0407181.png)

No.  I was recommending that (a)

[2019-05-14 19:57] pixelzoom commented on #973
@samreid said:

There is much that could be generalized and factored out from NumberControl.   For the same reason that Slider can be used independently of NumberControl, WavelengthSlider should be usable independently of whatever more complex component it is ultimately part of.

Also keep in mind that a sim like MOTHA requires decoration of its WavelengthSlider with absorption wavelength indicato

[2019-05-14 20:02] samreid commented on #973
How about a dependency injection approach, so that NumberControl can use Slider or WavelengthSlider?

But I'm still wondering if phet-io and accessibility will both be simpler if we make it so you can render a gradient (or optional absorption wavelength indicators) in Slider.  Maybe WavelengthSlider can be a subclass of Slider, for example.

[2019-05-14 20:02] pixelzoom commented on #973
More...  Slider and WavelengthSlider are very different beasts.  Slider and NumberControl are already exceptionally complicated.   And I think you're underestimating the complexity of (a) trying to make WavelengthSlider extend Slider, and (b) trying to add options to NumberControl to support subclasses of Slider.   I don't think that it's going to be good for Slider or NumberControl.

[2019-05-14 20:03] pixelzoom commented on #973
Can I also suggest that we transfer this issue to scenery-phet? It has nothing to do with scenery.

[2019-05-14 20:03] samreid commented on #973
My mistake, I'll move it now.

[2019-05-15 20:03] jessegreenberg opened #974 "branch: customZoom"
A branch to explore custom zoom and magnify, leveraging MultiListener and PanZoomListener. This is an alternative to #972 where we tested zoom and magnify done natively by the browser. Just for now, this is being explore in the context of molecules-and-light and so similar branches need to be made in joist (which uses PanZoomListener) and molecules-and-light (for a minor sim change to get this wor

[2019-05-15 20:37] jessegreenberg commented on #974
A prototype of this can be found here: https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-customZoom.1/phet/molecules-and-light_en_phet.html

This is working pretty well in MAL, it supports most of the ways which you can pan/zoom with the browser natively. It has none of the drawbacks/complications listed in https://github.com/phetsims/scenery/issues/175#issuecomment-491936703.

It isn't

[2019-05-16 16:05] jessegreenberg commented on #175
At 5/16/19 status meeting, it was mentioned that there are some specific and customizable gestures that Mac supports for zoom and pan. If we proceed with a native solution all of these will work for "free". We could investigate if any DOM events are triggered when this happens, but it is unclear if those gestures will work if we proceed with a more custom solution like #974.

[2019-05-16 16:17] jessegreenberg commented on #175
It looks like there may be a way to detect gestures, but they are non-standard. We may be able to detect `gestureChange` events.

https://developer.mozilla.org/en-US/docs/Web/API/Element/gesturestart_event
https://medium.com/@auchenberg/detecting-multi-touch-trackpad-gestures-in-javascript-a2505babb10e

[2019-05-17 18:33] samreid opened #975 "Change from Emitter to TinyEmitter to save MB"
It seems wave interference can save around 2MB on the heap by converting Color.changeEmitter from Emitter to TinyEmitter.

![image](https://user-images.githubusercontent.com/679486/57948776-d0d0f880-789f-11e9-8572-350816173125.png)

It seems the only usage of this is in SVGGradientStop, and it is not using any Emitter-specific features.  So I'll go ahead with this.

[2019-05-17 18:33] samreid commented on #975
See also https://github.com/phetsims/wave-interference/issues/399

[2019-05-17 18:36] samreid commented on #975
Likewise, this change saves around 0.7MB in Beer's Law Lab:

![image](https://user-images.githubusercontent.com/679486/57948995-5fde1080-78a0-11e9-9ae8-cc19c0a05b86.png)

[2019-05-17 18:39] samreid commented on #975
Tested and pushed.  Would be good for @jonathanolson to review--may be a quick one to consider and sign off.

[2019-05-17 18:43] samreid commented on #975
I just saved another 2MB by making the same change for `Fittability.subtreeFittabilityChange`.  I'll commit here.

[2019-05-17 18:53] samreid opened #976 "Can Accessibility.focusChangedEmitter be removed?"
Sam Reid [12:48 PM]
Accessibility.focusChangedEmitter looks like it costs a simulation 1.7MB and is doing nothing.  Can it be removed?

Michael Kauzmann [12:50 PM]
Looks like it, but I would like to heard from @jessegreenberg about it before feeling confident. Likely that was an old strategy since Display's focus logic doesn't use it.

Here's a snapshot with and without:

![image](https://user-ima

[2019-05-17 19:04] samreid commented on #976
In Wave Interference, there seem to be around 3000 of them.

[2019-05-17 19:08] samreid commented on #976
@jessegreenberg said I can go ahead and remove this.

[2019-05-17 19:24] samreid commented on #976
Removed in the preceding commit.  @jessegreenberg can you please review?

[2019-05-17 20:37] jessegreenberg commented on #976
Thanks  for doing this @samreid, looks great.

[2019-05-17 20:37] #976 closed

[2019-05-20 18:03] jessegreenberg commented on #863
We now have an A11yPointer, I think the next step for this issue is to identify what (if anything) is currently missing from it.

[2019-05-20 20:30] jessegreenberg commented on #863
We went over this, any further work will be distributed to new issues.

[2019-05-20 20:30] #863 closed

[2019-05-21 16:32] jessegreenberg commented on #175
There was a discussion with @emily-phet and @terracoda about leveraging browser zoom vs a custom solution for magnification. There is concern about the user gestures that would not work if we went with a custom solution. Right now, this includes trackpad gestures and setting the browser zoom level through browser settings. But there are probably other ways that we are not aware of now and new ways

[2019-05-21 20:33] jessegreenberg commented on #175
Basically, the behavior we are looking for is "At 100% browser zoom, content should fit exactly to the window. Otherwise, content should overflow horizontally and vertically based on browser zoom level."

[2019-05-22 03:32] pixelzoom opened #977 "type expressions for Accessibility options"
In preparation for doing code reviews of a11y instrumentation...

Accessibility.js contains `ACCESSIBILITY_OPTION_KEYS`, which documents the options available.   It would be helpful to have type expressions for all of these.

[2019-05-23 02:32] ariel-phet commented on #968
For the moment, this is deferred. I do recognize the general issue here, and the hope is to address this (and related documentation/standards issues) after Density and Buoyancy are complete. I also recognize that we have continued to push this work back, but I will be strongly advocating for it once these sims get to the testing phase. No other real choice currently due to funding constraints.

[2019-05-23 08:37] jonathanolson commented on #621
That sounds good, checking for WebGL support sounds generally useful for non-simulations.

Actually, I don't know if this should be a visual (translated) warning, or even a warning at all? To me, `renderer: 'webgl'` just says "if WebGL is available, show a preference for it". Actually, should we be passing Sim's options.webgl to the Display, instead of `phet.chipper.queryParameters.webgl`? Thus th

[2019-05-23 16:08] samreid commented on #621
The description of not warning when webgl is requested but disabled seems reasonable to me, but it should be up to the team to discuss and decide.  I'll mark it for discussion or announcement, then we can also discuss next steps mentioned in https://github.com/phetsims/scenery/issues/621#issuecomment-491312446

[2019-05-23 19:53] jessegreenberg commented on #621
5/23/19 Discussion:
@jbphet or @arnabp will address Neuron
@veillette will address charges-and-fields

Regarding https://github.com/phetsims/scenery/issues/621#issuecomment-495122123, all were on board with @jonathanolson's description.

[2019-05-23 21:57] zepumph commented on #952
Specifically perhaps see, https://github.com/phetsims/scenery/issues/873#issuecomment-435170767 for more info.

[2019-05-23 21:59] zepumph commented on #952
We should be able to support attributes that one a single value, as well as a list seamlessly.

[2019-05-23 22:01] zepumph commented on #873
Currently there are no usages of activedescendant even though it is implemented and working in tests. I think we should close this issue, and move to https://github.com/phetsims/scenery/issues/952 to support (a) a better implementation, and (b) support for a single value or an array as a value

[2019-05-23 22:01] #873 closed

[2019-05-24 18:58] jessegreenberg opened #978 "Links aren't working at github.io"
I just noticed that links at http://phetsims.github.io/scenery are not working at the moment. They have  href, maybe something is preventing input.

[2019-05-24 18:59] jessegreenberg commented on #978
Verified running documentation locally.

[2019-05-24 19:04] jessegreenberg commented on #978
If I comment out line 612 from one of the input examples in index.html
[code]
the problem goes away for that page.

[2019-05-24 19:42] jessegreenberg commented on #978
Scenery is catching input events on the entire document. I saw that when I try to click on links in documentation we are hitting this preventDefault:
[code]

However,  when I remove that line we still have the issue so that isn't the only cause.

[2019-05-24 20:34] jessegreenberg commented on #978
I spent a bit of time trying to debug this, but shouldn't spend more without consulting with others. @jonathanolson are you able to see a quick fix for this issue? If not, I would be interested in debugging this a bit more to learn about scenery events but would want to check with @ariel-phet to make sure that is an OK use of time.

[2019-05-24 22:24] jbphet commented on #621
Neuron looks good, and I tested it both in "normal" mode and with webgl disabled (via the query parameter), and the canvas fallback is still okay too.  Unassigning.

[2019-05-28 15:24] samreid commented on #621
All prescribed work has been completed, I think this issue can be closed.  Thanks @veillette and @jbphet and @jonathanolson!

[2019-05-28 15:24] #621 closed

[2019-05-28 19:21] zepumph commented on #951
I'm not sure what the current state of on focus aria-valuetext is. In GFLB we removed all usages of it to support mobile, but there seems to be a usage in Molarity still. @terracoda do we need to keep support for onfocus aria-valuetext? Or can it be removed in lieu of better design to support mobile. I wasn't sure if we were to remove entirely, or if there were some cases where we wanted it when i

[2019-05-28 22:54] twant commented on #951
@Matthew-phet, @zepumph and I went back into Molarity and it looks like the value text on focus is slightly longer (i.e. 0.550 liters in beaker, or 0.450 moles drink mix instead of just 0.550 liters or 0.450), but not sure how crucial it is that we keep it in. What do you think?

[2019-05-29 21:19] terracoda commented on #951
@twant and @zepumph, we (@Matthew-phet , @emily-phet amd I) will need to re-look at anything involving a focus or blur event.

[2019-05-29 21:21] terracoda commented on #951
I am marking this as a meeting item, but hopefully we can discuss asynchronously.

[2019-05-30 21:00] jessegreenberg commented on #974
Here is another prototype with an overlay that adds scroll bars and zoom in/out and reset buttons when the sim is zoomed in.
https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-customZoom.2/phet/molecules-and-light_en_phet.html

Just for consideration, all changes in customZoom branch.

[2019-05-31 22:44] jessegreenberg commented on #977
Sounds good, Ill add em. Documentation pattern was borrowed from NODE_OPTION_KEYS in Node, and I see similar lists of options in
[code]

@jonathanolson should we add type expressions to these as well? I am happy to do it, I see it is already done for AlignBox.

[2019-05-31 23:12] jessegreenberg commented on #977
Added to Accessibility.js, to @jonathanolson before adding to the others.

[2019-05-31 23:17] pixelzoom commented on #977
👍 This looks very nice, thanks @jessegreenberg.

[2019-06-04 01:02] zepumph commented on #936
Sorry @pixelzoom, fixes pushed above. @samreid please review.

[2019-06-04 17:36] jonathanolson commented on #977
It sounds like a lot of duplication (a pain to maintain), but would be nice to have presumable when scanning. I'm fine with them being added, thanks!

[2019-06-04 18:18] zepumph commented on #932
This may solve https://github.com/phetsims/sun/issues/463

[2019-06-04 20:35] jonathanolson commented on #932
This looks good, as long as code doesn't start to depend on the presence of an event for releases!

I applied some documentation fixes above, can you verify?

[2019-06-04 20:44] KatieWoe opened #979 "Firefox: moving the cursor outside of the window while dragging crashes the sim"
For https://github.com/phetsims/QA/issues/334.  Seen in Mac and Windows firefox.
When dragging the pointer tools around they will, at a seemingly random point, freeze and freeze the entire sim with them.  The only way to bring back functionality is to refresh the page.  This was seen in the simulation and studio wrappers at least.
From slack with @pixelzoom :

domEventProperty is defined in scener

[2019-06-04 20:46] pixelzoom commented on #979
I see the error as soon as the cursor leaves the bounds of the simulation.

[2019-06-04 21:10] lmulhall-phet commented on #979
Here's the error:

[code]

[2019-06-04 21:16] KatieWoe commented on #979
Not just point tools.  Dragging something like the vertex point out does the same thing as well.

[2019-06-04 21:18] pixelzoom commented on #979
@KatieWoe is there another instrumented sim that you can try this with? I suspect that this is not specific to GQ, but that would confirm.

[2019-06-04 21:21] KatieWoe commented on #979
Checked on concentration with phetmarks.  Occurs there too.

[2019-06-04 21:24] pixelzoom commented on #979
Excellent, thanks for checking.  I'm going to re-title this issue, to reflect it's more general nature.

[2019-06-04 21:28] pixelzoom commented on #979
Just a bit of clarification...  If I run a sim (GQ, Concentration,...) in phetmarks with Mode=Require.js, then the problem does not occur.  If I run with Mode=index and choose "Simulation", then the problem is 100% reproducible.

@KatieWoe is that what you're seeing?

[2019-06-04 21:32] KatieWoe commented on #979
I only saw it when testing phet-io versions, and not with require.js off of phettest.  I didn't explore much though.

[2019-06-05 04:17] samreid commented on #936
This seems the right direction to go in.  I fixed a typo and updated formatting.  Also, I noted this tandem:

`Tandem.generalTandem.createTandem( 'focusProperty' )`

Two points:
* I did not see this in the studio tree when launching graphing quadratics.  Is that as expected?
* I think we will need to add structure under the general tandem.  Perhaps a model/view dichotomy?  Doing that now would fut

[2019-06-05 19:52] pixelzoom commented on #979
I'm going to self-assign since this isn't specific to any one sim.

@zepumph should this be labeled with "blocks-publication"?

[2019-06-11 17:09] jessegreenberg commented on #977
Sounds great, type expressions were added to lists of option keys for files listed in https://github.com/phetsims/scenery/issues/977#issuecomment-497881972. Closing.

[2019-06-11 17:09] #977 closed

[2019-06-13 18:22] mattpen commented on #883
@jessegreenberg and I will try to start the batch release process for this next week.

[2019-06-13 20:41] KatieWoe opened #980 "CT phet is not defined"
In both scenery and kite
[code]

[code]

[2019-06-13 21:25] zepumph commented on #980
@jonathanolson is it possible to run these html files in requirejs mode? Or perhaps to build scenery without uglifying so we can get a good stack trace? I can investigate if you steer me.

[2019-06-13 21:27] jonathanolson commented on #980
I'll check into it.

[2019-06-13 21:31] jonathanolson commented on #980
Looks like this line in phetioInherit.js:
[code]
where it's trying to access a global `phet`.

[2019-06-13 21:50] zepumph commented on #980
Thanks! Tagging @samreid so he is aware.. I'll push a fix.

[2019-06-13 21:57] zepumph commented on #980
@samreid please review my fix. How does a noop sound when used outside of phet?

[2019-06-13 22:02] zepumph commented on #980
@samreid a great way to test these changes outside of phet is to build scenery `cd scenery; grunt;`

and then load its documentation, which runs the library: `localhost/scenery/doc/` for example.

[2019-06-13 22:21] samreid commented on #980
I'm confused about how this fix works.  If running outside of phet, why is phetioInherit getting invoked at all?  Also, wouldn't we want to use stubFalse instead of stubTrue, so we don't have false positives?  Also, if `phet` is not defined, why not short circuit (early return) the entire function?

[2019-06-14 21:27] zepumph commented on #979
This issue came from work I did to support record/playback for accessibility events. It only occurs in PhET-iO brand because this stems from the serialization of DOM events to be put on the data stream.

I wrote this special serialization code specific for HTMLElements from the PDOM without making sure it was only run on those elements from the PDOM. I added in those checks above.

@jonathanolson

[2019-06-14 21:28] zepumph commented on #979
This is still blocking publication of GQIO.

[2019-06-14 21:33] KatieWoe commented on #979
Looks ok from what I saw on master

[2019-06-15 19:24] jonathanolson commented on #979
From my current understanding, that looks like a fine change.

[2019-06-16 01:06] pixelzoom opened #981 "CT: AccessibleSiblingTests: sibling positioning failed"
scenery is failing CT with:

[code]

Looks like this started on `6/14/2019, 3:05:05 PM`

@jessegreenberg looks like this might be the problem: https://github.com/phetsims/scenery/commit/59746e713a5ed2d74fa5036c165afc38ce3d8c28

[2019-06-16 22:31] jessegreenberg commented on #981
Thanks for reporting, the above fixes the issue with unit tests and we will continue in https://github.com/phetsims/joist/issues/140 to verify that the original issue is still resolved.

[2019-06-16 22:31] #981 closed

[2019-06-19 16:14] chrisklus commented on #979
Thanks! @zepumph is ready to close.

[2019-06-19 16:14] #979 closed

[2019-06-21 22:02] jessegreenberg commented on #883
Maintenance releases deployed to a11y sims for the original issue in this thread. We are not fixing the edge bug in https://github.com/phetsims/scenery/issues/883#issuecomment-436052901, so this issue is complete and we can close.

[2019-06-21 22:02] #883 closed

[2019-06-28 17:11] jessegreenberg opened #982 "Memory leak in AccessibleInstance and TransformTracker"
@samreid demonstrated today that there is likely a memory leak with AccessibleInstance and TranscormTracker. AccessibleInstance uses TransformTracker and attempts to dispose it in `dispose`. But we are still seeing references to nodes of the TransformTracker Trail after AccessibleInstances are disposed.

We noticed that TransformTracker removes listeners but doesn't remove references to the trail.

[2019-06-28 17:22] jessegreenberg commented on #982
Adding `this.transformTracker = null;` seems to help. Without the line I see references being kept
![image](https://user-images.githubusercontent.com/6396244/60359469-215f6980-99a7-11e9-8c95-f2828dd297e2.png)

But `this.transformTracker=null` makes them go away.

[2019-06-28 17:27] jessegreenberg commented on #982
Pushed above after running some aqua tests, @samreid can you please review? Does this resolve memory issues you encountered?

[2019-06-28 20:58] jessegreenberg opened #983 "Cursor changes from pointer to default on 'down'"
It was noticed that the cursor changes from a pointer to default when clicking and dragging on things. This is true for buttons in sun, as well as other draggable objects. The issue can be seen here:
https://phet.colorado.edu/sims/html/equality-explorer-basics/latest/equality-explorer-basics_en.html

But does not show up here:
https://phet.colorado.edu/sims/html/faradays-law/latest/faradays-law_en

[2019-06-28 21:13] jessegreenberg commented on #983
Trying to look into this further, it is behaving a bit inconsistently. And the issue does not show up at all in Chrome. @jonathanolson have you seen this before and do you have any thoughts? Not sure how serious this issue is.

[2019-06-28 21:33] samreid commented on #982
This resolves the memory symptom we saw in CCK, thanks!  Before closing, @jessegreenberg can you comment if this problem may be present in recent releases or RCs of other sims?

[2019-07-01 17:29] jonathanolson commented on #983
I hadn't run into this. It looks like Scenery is setting `cursor: pointer` CSS correctly on the sim div, but Chrome still has the "default" appearance. Checking briefly.

[2019-07-01 17:44] jonathanolson opened #984 "Investigate desynchronized canvas hint"
See https://developers.google.com/web/updates/2019/05/desynchronized, looks like it would potentially benefit both Canvas and WebGL rendering.

[2019-07-01 17:56] jonathanolson commented on #983
Didn't see any Chrome bugs that seemed relevant. Since it's not occurring in Faraday's Law 1.1 (branched Nov 2, 2015), I'm going to bisect to see if I can identify the break.

[2019-07-01 18:07] jonathanolson commented on #983
I believe I would have noticed this change, so I'm tempted to say it's related to a Chrome regression. However that said, it looks like this only happens when we are using PointerEvents with Chrome (so anything branched before Jul 08 2017 will behave fine).

I'll briefly check into potential mitigations.

[2019-07-01 18:23] jonathanolson commented on #983
I applied a workaround for simulations (or anything that is full-window), since we can also manipulate the document.body's cursor. This fixes the behavior on Chrome for me. @jessegreenberg can you check master to see if this resolves what you were seeing?

[2019-07-01 20:17] jessegreenberg commented on #982
This leak will only happen if accessibility is enabled because AccessibleInstances are only created when accessibility is enabled. The TransformTracker was added `AccessibleInstance` just before the ohms-law 1.4 release and no sims with a11y have grabbed RC SHAs since then. So ohms-law is the only sim that may have been deployed with this issue.

We did memory leak testing in ohms-law in https://g

[2019-07-01 20:47] jessegreenberg commented on #982
I actually am not seeing a leak in ohms-law related to this. The first time the KeyboardHelpDialog is opened and closed we add 19 AccessibleInstances.
![image](https://user-images.githubusercontent.com/6396244/60465397-fbdc9500-9c1e-11e9-91c6-ded842a00059.png)

But when the dialog is opened many times we still only have the 19 added AccessibleInstances in total. We don't have a leak because joist

[2019-07-01 22:03] ariel-phet commented on #983
@jessegreenberg so I am not even seeing the issue (Win 10 latest Chrome) on the first link.

In addition, I don't think this issue is of major concern. We have seen similar type issues when using the app on a chromebook an such. In particular, since the users is given the appropriate cue on mouse over, I am not sure it makes a big impact if it changes on pointer down.

It looks like @jonathanolson

[2019-07-02 00:17] samreid commented on #982
Thanks @jessegreenberg, this issue seems good to close.

[2019-07-02 00:17] #982 closed

[2019-07-02 20:38] jessegreenberg commented on #983
Thanks @jonathanolson, I verified that this is fixed in master and could go out in a maintenance release. If it isn't important enough to warrant a batch maintenance release I think this can just be closed.

[2019-07-03 01:12] zepumph commented on #980
I experimented by short circuiting out of phetioInherit if PhET-iO wasn't enabled. This was problematic because of lines like this in Action.js that still run in phet brand

[code]

Note that I recognize that we weren't talking about this, instead you were recommending a short circuit if `phet` isn't defined, but that seemed like a half solution to me. Perhaps it would be good to audit our phet-io

[2019-07-03 01:14] zepumph commented on #932
Looks great thanks.

[2019-07-03 01:14] #932 closed

[2019-07-03 18:52] pixelzoom opened #985 "how to create fixed-width content using AlignGroup + AlignBox?"
Over in https://github.com/phetsims/gas-properties/issues/137, we've been discussing a common layout problem: how to make a set of panels all have the same fixed width.  In Gas Properties, I did this by creating `FixedWidthNode`, because I couldn't find a straightforward way to accomplish this with `AlignGroup` + `AlignBox`.

Below is a mockup of a hypothetical example that has all of the elements

[2019-07-03 18:53] pixelzoom commented on #985
Labeling for developer meeting, in case anyone else wants to jump in with a solution.

[2019-07-03 18:55] pixelzoom commented on #985
Mentioning @veillette, since he created https://github.com/phetsims/gas-properties/issues/137.

[2019-07-08 16:26] jonathanolson commented on #985
Maybe this would be best to discuss on Zoom? If the containers have a fixed width, I don't see any use for AlignGroup/AlignBox. Just set the separator's width to `225 - panelMargin * 2`

[2019-07-08 16:29] jonathanolson commented on #983
Sounds good to work into a maintenance release of some other type, so we don't spend much time on it.

[2019-07-08 17:08] pixelzoom commented on #985
That sets the min width, but doesn't set the max width.  And it doesn't handle content that doesn't include a separator.   `FixedWidthNode` handles all of that.

[2019-07-08 17:36] pixelzoom commented on #985
@jonathanolson and I discussed on Zoom.

The solution would involve:
* create an AlignGroup that is shared by the Panel and AccordionBox
* create an AlignBox for the Panel content and the AccordionBox content
* set `maxWidth:225` for each AlignBox
* add `new HStrut(225)` to the AlignGroup, to effectively set min width

This seems overly-complicated.  I'll be sticking with the `FixedWidthNode` appr

[2019-07-08 17:36] #985 closed

[2019-07-09 17:50] zepumph commented on #964
This in addition to the way that `RichText` handles links makes two edge cases on the visual view side that I am not quite sure about how to handle. In the above commit I added logic to exclude template vars from the PDOM. This was straightforward, and only found one case that needed fixing.

@samreid would you please review the implementation with two main thoughts in your mind:

1. How I added t

[2019-07-09 18:18] jessegreenberg commented on #925
Removing label, assigning high priority for me to finish this.

[2019-07-09 19:22] zepumph commented on #921
Because mobile devices don't support focus and blur events. It is likely that we will try to limit the use of this event in general. Note there are currently only about 15 usages of the focus event in the project.

[2019-07-09 20:19] zepumph commented on #929
@pixelzoom please review.

[2019-07-11 16:53] pixelzoom commented on #929
Looks great, thanks!

[2019-07-11 16:53] #929 closed

[2019-07-15 21:04] zepumph opened #986 "Add `isDisposed` check to Node.insertChild"
When I add this line to `Node.insertChild` there are no error on phet brand local fuzzing.

`      assert && assert( !node.isDisposed, 'Tried to insert a disposed Node' );`

@jonathanolson can you think of any reason not to do this?

[2019-07-15 21:12] zepumph commented on #943
General:
*  These entries aren't in the index page: `scenery/examples/index.html`

Accessibility Listeners:
* Instead of using `switchShape`, I thin kit makes more sense to add the square as a child to the scene, and then swap out the hex/circle as children to the square. You can overwrite the children like `square.children = [...]` even if there is just one item in it. That may be a nicer pattern

[2019-07-16 04:10] jonathanolson commented on #986
Sounds like it will be helpful, go for it!

[2019-07-16 17:47] zepumph commented on #986
Great thanks! I'll keep it open to see what CT thinks about the change.

[2019-07-16 18:10] zepumph commented on #951
Pinging this issue again. I'm interested in removing `a11yCreateOnFocusAriaValueText` from AccessibleValueHandler (the type that does aria-valuetext for sliders among other things). There is only one usage left in Molarity. Do we think this needs to stick around?

[2019-07-17 17:59] pixelzoom opened #987 "improve doc for DragListener interrupt"
`DragListener` and `PressListener` (the superclass) currently have identical documentation for `interrupt`:

[code]

This is not helpful for `DragListener`.  Please include information specific to the drag behavior in  -- anything that we need to know that we can rely on happening when `interrupt` is called.  For example, I was interested in whether `end` is called.  It took me 45 minutes to deter

[2019-07-17 21:49] zepumph commented on #986
Things are looking good!

[2019-07-17 21:49] #986 closed

[2019-07-17 21:54] jonathanolson commented on #987
Is the above documentation change satisfactory, or is there more you would recommend?

[2019-07-18 03:19] pixelzoom commented on #987
Looks great, thank you.  Closing.

[2019-07-18 03:19] #987 closed

[2019-07-19 00:47] zepumph opened #988 "Status of js/accessibility/reader"
I see that `Cursor` and `Reader` are used in `BASEView`, but I wonder if these are actively being used. @jessegreenberg can you comment on these types?

[2019-07-23 22:37] KatieWoe opened #989 "Sim freezes when switching from Powerpoint"
Found by @kathy-phet.  I haven't been able to reproduce this on my device, but I am documenting the information I have received in case this is enough to find the issue or it shows up again in the future.
This issue occurred on a Simplified Chinese translation of Build an Atom, but it sounded like it might be a scenery issue.  If anyone disagrees, feel free to move this issue.
When @kathy-phet was

[2019-07-24 00:08] zepumph commented on #951
@twant mentioned that a11yCreateOnFocusAriaValueText  won't be used in Molarity, and can be deleted after that usage is removed. Assigning to @twant to let me know when I can remove it from AccessibleValueHandler.

[2019-07-24 11:26] terracoda commented on #951
The example special on-focus `aria-valuetext` mentioned in https://github.com/phetsims/scenery/issues/951#issuecomment-496719619 is no longer being used in Molarity. AND Molarity has no longer has any special on-focus descriptions, so @zepumph, I think it is safe to remove `a11yCreateOnFocusAriaValueText` from AccessibleValueHandler.

[2019-07-24 11:26] terracoda commented on #951
@twant, do agree with my previous comment?

[2019-07-24 11:27] terracoda commented on #951
@twant, oops, I see you already said the same thing ;-)

[2019-07-24 18:26] jonathanolson commented on #989
Is this from the production version of build-an-atom? I think the AudioContext bit is mostly unrelated. I recall some changes related to mouse buttons, so I'm not sure if the problem would happen in master.

[2019-07-24 18:29] kathy-phet commented on #989
This is the production version. And was not easily reproducible.

[2019-07-24 19:00] lmulhall-phet commented on #347
@jonathanolson, I'm going through old issues and I did some testing for this one. I opened ~50 tabs of CCK: DC from the website on latest macOS + Chrome and I didn't see any context-loss warnings in the console. Let me know if there's anything else you'd like me to do.

[2019-07-25 00:09] jonathanolson commented on #347
Sounds good! I think we can close this, and reopen if needed.

[2019-07-25 00:09] #347 closed

[2019-07-25 04:46] jonathanolson commented on #989
It looks like this was fixed in master in https://github.com/phetsims/scenery/issues/813. If it's causing sim freezes, this could potentially be something worth maintenance-releasing. Thoughts @kathy-phet?

[2019-07-25 15:25] jessegreenberg commented on #988
At one point, we were quite discouraged with the state of screen readers and thought to ourselves "heck it, we will make our own!". So these create a prototype home-made screen reader that we hoped would work better for interactive content. But we quickly realized that users would much rather use their own AT and that creating such a thing was a massive undertaking...

It is not being actively use

[2019-07-29 16:44] jonathanolson opened #990 "Add high-performance sprite option"
This would include Canvas and WebGL support, and would be able to handle multiple different sprites (e.g. without creating Scenery nodes for each, since those have a lot of overhead).

[2019-07-29 16:46] jonathanolson commented on #990
There were some complications with setting up the variable-length buffers needed, and a lot of code design decisions have complicated trade-offs. Finding the right level of abstraction that makes things simple, but also performant is trickier.

[2019-07-29 17:03] zepumph commented on #988
Sounds good. Perhaps we could add a README to the `accessibility` folder documenting that they are prototypes and not necessarily used? Is that overkill? No real preference here; whatever you would like to do. Feel free to close.

[2019-07-29 18:38] jessegreenberg commented on #988
Cool - personally I feel that the documentation at the top of these files is now sufficient to ward off any usage. Closing.

[2019-07-29 18:38] #988 closed

[2019-07-29 18:49] jbphet commented on #989
Based on @jonathanolson's comment just above, this doesn't appear to be specific to Build an Atom, so I'm unassigning myself.

[2019-07-31 00:12] zepumph opened #991 "Redundant default sibling tagNames setting to 'p'"
There are 18 usages of `descriptionTagName: 'p'` and 9 of `labelTagName: 'p'`. These are the defaults. Presumably we wouldn't want this redundancy. Also presumably we would want it to error out if setting it to the default, but maybe that is too strict, and would allow for the following:

[code]

[2019-07-31 02:49] jessegreenberg commented on #991
I removed most of the redundant usages of these options. I kept a few in AccessibilityTests.js and in documented examples, as those seemed to have purpose.

I agree that it would be too strict to error out when using the defaults to support the case you mentioned.

[2019-07-31 22:18] jonathanolson opened #992 "branch: sprites"
Semi-experimental work for https://github.com/phetsims/scenery/issues/990

[2019-08-04 01:44] twant commented on #951
@zepumph just removed a11yCreateOnFocusAriaValueText from molarity, so you should be good to revise/remove this! I'd love to ride along when you remove it and take a look at this API in general, as I am struggling to use it to address [Issue 132 in Molarity](https://github.com/phetsims/molarity/issues/132), and I think me understanding this API better might help!

[2019-08-06 21:28] SaurabhTotey commented on #457
In https://github.com/KaTeX/KaTeX/issues/1046, it seems like there exists a `unicodeTextInMathMode` which can be used to make formulas with unicode characters. Because it seems like the conclusion to https://github.com/phetsims/rosetta/issues/183 is that math symbols should be translatable, but the conclusion to https://github.com/phetsims/scenery/issues/457#issuecomment-156634759 is that formulas

[2019-08-09 19:48] jonathanolson commented on #457
What type of symbols are translators planning on using? It looks like `unicodeTextInMathMode` was merged to master in https://github.com/KaTeX/KaTeX/pull/1117, do they have a release where that is included that we could test?

[2019-08-09 20:01] SaurabhTotey commented on #457
I'm not too sure what symbols will be used, but certain characters right now cause the KaTeX to crash and by extension cause the simulation to freeze. For example, when I allowed the formula in Curve Fitting to be translated, the simulation would fail the rtl stringTest because the presumably Arabic characters weren't allowed for math rendering. Looking at https://github.com/phetsims/rosetta/issue

[2019-08-09 20:26] jonathanolson commented on #457
@ariel-phet, it sounds good for us to look into using a newer KaTeX version. Updating may be a bit more involved, as we have about ~150 lines of code dedicated to packaging KaTeX resources into a file that is a self-contained preload (see sherpa/katex/packageKatexCSS.js).

Should I look into this?

[2019-08-12 16:25] pixelzoom opened #993 "[Safari] pause when exiting Full Screen"
I'm creating this issue in scenery, because `FullScreen` contains "Utilities for full-screen support".

In https://github.com/phetsims/gas-properties/issues/163, QA identified a problem when exiting Full Screen mode.  When a sim like Gas Properties or States of Matter has "lots of moving parts", there is a pause that can be anywhere from seconds to minutes. During this time, the browser appears to

[2019-08-12 16:25] pixelzoom commented on #993
Here's the full report from https://github.com/phetsims/gas-properties/issues/163:

**Test device**
MacBook Air
**Operating System**
macOS 10.14.6
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/399. On macOS 10.14.6 on Safari I have noticed some problems when a large amount of particles are present and full screen mode is exited. The behavior of this problem d

[2019-08-13 02:12] jonathanolson commented on #992
Merged to master.

[2019-08-15 15:24] jessegreenberg commented on #974
I found that this event can be used to prevent default behavior of the trackpad on Safari so that we can take control of the trackpad.

https://developer.mozilla.org/en-US/docs/Web/API/Element/gesturestart_event

[2019-08-15 16:14] jonathanolson commented on #990
Implemented, closing.

[2019-08-15 18:37] jonathanolson commented on #457
Decided at developer meeting that I'll write up some more details and assign to @SaurabhTotey for investigation. If there are problems or questions, let me know.

[2019-08-15 22:19] pixelzoom commented on #457
Over in https://github.com/phetsims/vector-addition/issues/100, I noted that the KaTex update is (preferably) a prerequisite to publishing Vector Addition 1.0.0.  That means it should be completed in the next month.

[2019-08-16 18:11] SaurabhTotey commented on #457
Just as an update, I have managed to get KaTeX 0.11.0 packaged in Sherpa, and I have committed that locally (not pushed yet). This seems to include KaTeX correctly, but it breaks FormulaNode because the FormulaNode Bounds computations are now incorrect. I am working on seeing if I can get correct Bounds computations before I push everything.

[2019-08-16 20:51] SaurabhTotey commented on #457
I have migrated Sherpa to use the new KaTeX and FormulaNode now works the same as before. I will now start investigating how to incorporate unicode characters into formulas.

[2019-08-16 21:43] SaurabhTotey commented on #457
Formulas in FormulaNode now allow for unicode characters. However, if the font doesn't support a character, a warning is thrown.

<img width="1440" alt="TranslatedFormula" src="https://user-images.githubusercontent.com/22577113/63199675-d9220680-c03b-11e9-8df6-5b1378b19b8e.png">

As such, I am wondering: is this acceptable behaviour? If so, the migration to a newer KaTeX version is done.

[2019-08-19 16:03] jonathanolson commented on #457
Do we know what the unsupported characters are? (Does that mean it doesn't have a custom font for it and it still shows up, OR that something unsupported just would be invisible or something)?

[2019-08-19 16:19] SaurabhTotey commented on #457
I believe that it means that it doesn't have a custom font for the characters, but they still show up. It seems like the RTL string is still getting substituted in and it seems to fully visible from what I can tell. I don't know what the unsupported characters are.

On the KaTeX documentation, they say

[2019-08-19 16:23] jonathanolson commented on #457
That seems like acceptable behavior to me, although if there's a way to suppress the console output, that might be nice.

[2019-08-23 23:01] #991 closed

[2019-08-28 21:35] jessegreenberg commented on #974
This is working well in Edge. In IE11 I am getting errors when using the keyboard and I am seeing references and functions that are undefined.

[2019-08-29 19:17] Denz1994 commented on #457
From dev meeting 08/29/19:

@pixelzoom has experienced some whacky behavior with bounds in Vector Addition when working with KaTeX. FormulaNode's baseline didn't cooperate with Scenery's baseline in the equation.

@ariel-phet We don't have any math sims on the horizon so we can continue with a temporary in-house solution. We can revisit in the future, but for now, just use what is required for sim

[2019-08-29 19:21] Denz1994 commented on #457
We will punt on KaTeX for now @SaurabhTotey. For future reference, use FormulaNode sparingly and a custom solution may be used on a case-by-case scenario. Closing this issue.

[2019-08-29 19:21] #457 closed

[2019-09-03 15:00] jessegreenberg opened #994 "Should "mouse over to pan" be supported?"
Part of #974.

One of the features we discussed was to mouse over edges of the screen to pan in a direction. We thought it might be useful because low vision users often work with a mouse. However, while working on this, I found the feature to be of more harm than help. While trying to activate things near the edge of the screen, the sim would move and suddenly the thing I wanted to activate would

[2019-09-03 15:09] jessegreenberg opened #995 "Default target for zoom from keyboard"
Part of #974.

Currently the target for zooming in with a keyboard behaves like this:
 - If anything is focused, we zoom into the focused element when using keyboard.
 - If nothing has focus but there are focusable elements in the sim, we zoom into the first focusable element (as this is likely designed as the starting point of the sim).
 - Otherwise, zoom into the top left of the visible area.

A

[2019-09-03 15:18] jessegreenberg opened #996 "Support panning inertia or continued movement?"
Part of #974.

Microsoft calls a move or pan gesture that is removed with sufficient speed to continue movement an "intertia" event so reusing the term here. Is this something we want to support? Previously it was extra work to include this. But the solution we landed on in #974 implements most of this anyway.

We may still decide not to support this, there were concerns that this could be distrac

[2019-09-03 22:18] jessegreenberg opened #997 "Consider renaming Accessibility.js trait and other references"
In a discussion with @emily-phet and @zepumph, we realized that `Accessibility` is likely too broad of a term for what the trait is responsible for. Furthermore, it monopolizes the term and separates the trait from other projects we are working on that are also related to inclusive design. We would like to consider renaming it to avoid this and the indication that this trait is all of "Accessibili

[2019-09-04 04:55] emily-phet commented on #994
I would love to hear @terracoda thoughts on this. For me at the moment, seems fine to skip this and see if we hear any feedback on needing this from across the team and/or interviews.

[2019-09-04 05:00] emily-phet commented on #995
Agreed that it seems any relatively simple algorithm for determining zooming location will allow for less desirable scenarios. Adding a more complex algorithm seems like it might result in unexpected behavior. Current approach seems reasonable to me. Let's see if we hear any feedback on this from the team and/or interviews.

[2019-09-04 05:02] emily-phet commented on #996
I'm still on team 'minimize possible distractions' for this one. I can just imagine young kids figuring out they can 'throw' the sim screen. I would prefer we hold off on this unless and until we find that it would fill a specific need.

[2019-09-04 13:21] terracoda commented on #997
@jessegreenberg, this is a great question.
Are you thinking of more specific categories like:
- alternative input (keyboard, switch, mobile a11y)
- simple description
- full description
- sound and sonification

Or maybe thinking of the features that relate specifically to the requirement of having a PDOM present in order to implement?

The reason I ask, is that I am not sure a PDOM is required in

[2019-09-04 14:27] jessegreenberg commented on #997
That is exactly what we were thinking about @terracoda. Currently Accessibilility.js is what provides everything related to the PDOM. But it doesn't include sound, haptics, magnification, or any other a11y features that may come in the future. It feels incorrect to call PDOM features "Accessibility" and the rest "Other".

[2019-09-04 15:13] terracoda commented on #997
Awesome, @jessegreenberg, I agree, a less broad term like PDOM seems much more appropriate.

[2019-09-04 17:24] terracoda commented on #994
I agree with @emily-phet, I think we can wait. I don't think we will know more about the benefits of mouse panning until we have interviews with people with low vision and see how the magnification works without mouse panning.

[2019-09-04 17:27] terracoda commented on #994
I'll add that it is possible that a even a little unexpected movement could be dis-orientating for people with low vision, so if there are places were big movement is happening when trying to activate a control, I would agree that it is best to wait and see on this mouse-panning feature.

[2019-09-04 19:05] jessegreenberg commented on #994
OK thanks for the feedback. Keeping out and closing for now, we can revisit if it becomes apparent this is needed.

[2019-09-04 19:05] #994 closed

[2019-09-04 19:06] jessegreenberg commented on #996
OK sounds good, lets keep out for now. CLosing and we can revisit if we receive other feedback or evidence that this is important.

[2019-09-04 19:06] #996 closed

[2019-09-04 20:56] terracoda commented on #995
I agree this current approach seems good.
I will ask one question, though.

@jessegreenberg, would there be anyway to define a non-focusable item as a zoom-able point of interest? This of course, would have to be enabled/defined on a sim-by-sim basis.

I do not know if this would be helpful for low-vision users, but for this sim, Molecules and Light, I find myself wanting to zoom into the molecule

[2019-09-04 21:00] terracoda commented on #996
Apologies for missing the comment period. I agree we can wait to see what specifically students with low-vision need in this area.

[2019-09-04 21:08] jessegreenberg commented on #995
That is definitely possible @terracoda. If we do that, we would probably also want to support unique points for each screen in a multi-screen sim as well. We could support this extra point without requiring it so behavior could be
- If focus exists, zoom into the focused item.
- If nothing has focus and a defined focus point exists, zoom into the defined focus point.
- If there is no defined focus

[2019-09-07 21:34] twant commented on #943
Thank you for these review comments, @zepumph! I'm starting to take a look at them this week.

[2019-09-09 21:17] zepumph opened #998 "Add lineWidth support to RichText"
After investigating on my own in https://github.com/phetsims/inverse-square-law-common/issues/79, and then discussing with @jonathanolson, it looks like RichText doesn't currently support lineWidth. We decided to add it almost identically to how the stroke feature is implemented. I'll take a look.

[2019-09-09 22:12] zepumph commented on #998
A few notes for the review
* `lineWidth` currently isn't supported with underline or strikethrough. That felt alright to me, as it doesn't look like stroke is supported there either.
* `lineWidth` wasn't added to `RichTextLeaf.clean` because it doesn't hold any references
* There are pretty bad artifacts on the tops of the letters after adding lineWidth to ISLC sims over in https://github.com/phet

[2019-09-09 23:56] zepumph commented on #997
This issue also came out of documentation discussion from https://github.com/phetsims/phet-info/issues/114.

[2019-09-10 15:44] jonathanolson commented on #998
I'm not seeing artifacts on Chrome/macOS. Can you take a screenshot or note reproduction instructions? I'm also not sure there is anything we can do in that case. (Can you also try `?rootRenderer=canvas` and `?rootRenderer=svg` to see if it makes the artifacts go away?

Main commit looks great!

[2019-09-10 17:40] zepumph commented on #998
![image](https://user-images.githubusercontent.com/6856943/64636831-00f05a00-d3af-11e9-9921-449e7815c2c2.png)

It did not help to change the `rootRenderer`. Is this sort of thing familiar to you?

[2019-09-10 22:10] zepumph commented on #997
While working on https://github.com/phetsims/chipper/issues/786 I thought about how we should likely change the `a11y` string prefix here too. This should likely match whatever we name Accessibility.js

[2019-09-11 16:46] zepumph commented on #666
This is now supported.

[2019-09-11 21:15] pixelzoom commented on #998
Imo, stroking a font (in general) looks lousy.  You'd be better off filling bold text with a color that looks good on each sphere, or putting a translucent background behind filled text.

[2019-09-12 00:03] zepumph commented on #998
That sounds good. I will look into those options over in https://github.com/phetsims/inverse-square-law-common/issues/79.

I don't know what else there would be to do. This artifact only occurs with a very thin lineWidth, and not on all browsers. I feel alright about leaving it up to the implementer to choose a format that looks good, and doesn't have these artifacts.

Closing

[2019-09-12 00:03] #998 closed

[2019-09-12 23:16] #67 closed, assigned to nobody

[2019-09-12 23:20] #272 closed, assigned to nobody

[2019-09-16 17:51] samreid commented on #702
Marking for potential investigation as part of https://github.com/phetsims/circuit-construction-kit-common/issues/449.  @ariel-phet can you please check status/priority/assignment of this issue?

[2019-09-17 19:59] zepumph commented on #997
- [ ] Another place I just thought of that could use a rename is in the QA issue templates. They have a section for "a11y" but really it is just PDOM descriptions. In fact sound is not included in that section at all. It seems like instead each a11y feature should get its own details section to test if that feature is included in the sim.

[2019-09-17 22:37] pixelzoom opened #999 "change the default for allowTouchSnag in DragListener.createForwardingListener"
Motivated by https://github.com/phetsims/vector-addition/issues/181.

`DragListener`'s default is `allowTouchSnag: true`:

[code]

`DragListener.createForwardingListener` changes the default to `allowTouchSnag: false`:

[code]

There is apparently no reason for this. In Slack, @jonathanolson said:

There are 7 occurrences of `DragListener.createForwardingListener`, and all but one of them (@samrei

[2019-09-17 22:46] jessegreenberg commented on #997
We discussed this today during a meeting. Overall, we are liking PDOM.js as the name replacement for Accessibility.js and will likely rename lots of other things to match. Summarizing discussion notes below:

We started by considering what features were included by what is currently supported by the PDOM and alert system:
  - Description support
  - Alternative input support
  - Interface with ass

[2019-09-17 22:49] pixelzoom commented on #999
Change completed. @ariel-phet please assign someone to review.

[2019-09-17 23:52] pixelzoom commented on #999
Oops, ignore changes to VECTOR_ADDITION/ScceneNode in https://github.com/phetsims/vector-addition/commit/c69aad4046aeda480ae1fdcb53e9a9c976861239, they accidentally came along for the ride.

[2019-09-18 16:01] samreid commented on #999
@ariel-phet asked if I could review this.

[2019-09-18 19:45] samreid commented on #999
When DragListener.createForwardingListener was introduced in 4c2bb222cc8e1b177b433011f6a1e4b77f769b79, the `allowTouchSnag` values were both false.  The constructor value changed to true in `336e08945dd78dc3565ff7f1dfb0a87bbde95e48` and that's when they got out of sync.  So this seems like a good change.

I tested that energy skate park measuring tape snags correctly, and that wave interference to

[2019-09-18 19:45] #999 closed

[2019-09-20 23:59] zepumph commented on #997
@jessegreenberg what is the next step here? Should we bring it up at developer meeting? Discuss more ourselves? Proceed with PDOM.js?

[2019-09-24 23:14] zepumph commented on #997
@jessegreenberg and I discussed this more today. We came up with the following game plan.

The feature that has been a large part of scenery descriptions, and accessibilty implementation in sims shall henceforth be known as "**Interactive Descriptions**." This feature is comprised of the following three sub-features:
* **Description support** (PDOM Content) -> Supported by PDOM -> Implemented by `

[2019-09-25 22:16] loganbraywork opened #1000 "Sims failing to work in full screen after minimizing and maximizing on Safari 13.01"
**Test device**
Hooke
**Operating System**
Mac OS 10.15
**Browser**
Safari 13.01
**Problem description**
From
Happens on all sims. Easy to accidentally reproduce as in the normal courses of using a mac device this issue can occur. By minimizing and maximizing the screen then entering full screen mode, then repeating, on the second time full screen mode is entered the sim will no longer respond whe

[2019-09-25 23:18] pixelzoom commented on #997
Responding to developer meeting label...  I don't know enough about a11y to comment.  Will this change make it more difficult to patch release branches, and is that even a concern?

[2019-09-25 23:37] terracoda commented on #997
@zepumph, in https://github.com/phetsims/scenery/issues/997#issuecomment-534783687 you posted:

* **Description support** (PDOM Content) -> Supported by PDOM -> Implemented by `Accessibility.js`
* **Alternative input** -> Supported by PDOM -> Implemented by `Accessibility.js`/`Input.js`
* **Interactive alerts** -> Supported by `aria-live` -> Implemented by `UtteranceQueue.js`

I'm wondering if it

[2019-09-26 00:37] zepumph commented on #997
@terracoda thanks for that contribution. We definitely should have included you in discussion about naming for the "Description" feature. @terracoda, @jessegreenberg, @emily-phet, and I will continue to work out the terminology with this as it pertains to design/development communication. The numbered list above is a bit orthogonal to that discussion though. For the most part, it is the culminatin

[2019-09-26 16:31] jonathanolson commented on #1000
This might be specific to macOS 10.15. I can't reproduce immediately on macOS 10.14.6, Safari 13.0.1.

[2019-09-26 20:21] zepumph commented on #884
I think all that is left for this issue is for @jonathanolson to review per https://github.com/phetsims/scenery/issues/884#issuecomment-462547229. Unassigning.

[2019-09-27 00:43] zepumph commented on #875
This will be solved in https://github.com/phetsims/axon/issues/188. Any solution over there will involving changing all usages, including PressListener. Closing

[2019-09-27 00:43] #875 closed

[2019-09-27 20:55] jessegreenberg opened #1001 "Some AccessiblePeer siblings are not clickable on iOS13"
From https://github.com/phetsims/gravity-force-lab-basics/issues/176

At least for input type=checkbox. It appears that width of the checkbox cannot be set with element.style.width:

![](https://user-images.githubusercontent.com/6396244/65801139-603bc180-e146-11e9-946a-d78ed7636eab.png)

In Chrome, we can see that the width is set correctly and takes the width of the entire Checkbox node with labe

[2019-09-27 20:57] jessegreenberg commented on #1001
The VoiceOver highlight surrounds the entire checkbox with label when focused, which indicates that width is being set correctly and somewhat respected. Its interesting that the size of the actual box matches ours, but I think that is a coincidence.

[2019-09-27 21:32] jessegreenberg commented on #1001
In Safari, clicking to the right of the checkbox still clicks the box. So this should be totally fine. So this probably isn't causing the problem and isn't what we need to fix.

[2019-09-27 22:21] jessegreenberg commented on #1001
The orange shows the dimensions of the HTML checkbox in Safari:
![](https://user-images.githubusercontent.com/6396244/65802561-076e2800-e14a-11e9-94e6-7df6f302de7a.png)
But the interactive box isn't centered in this width.

[2019-09-27 22:21] jessegreenberg commented on #1001
In a separate HTML context, I saw that checkboxes cannot be clicked with pointer-events: none but the label could still be clicked. For this reason I thought that maybe pointer-events: none was preventing the checkbox from being clicked. But I confirmed that we are still receiving touch events and hitting the touchStartAction of Input.js. So scenery should be able to receive and handle. Maybe the

[2019-09-27 22:25] jessegreenberg commented on #1001
Uh oh... after a relaunch of VoiceOver the problem seems to be gone.

[2019-09-27 22:34] jessegreenberg commented on #1001
Ah, when I click a checkbox outside of the sim I hear a single beep from the screen reader. In the sim I hear two very rapidly back to back, so I think it is getting checked/unchecked right in a row.

[2019-09-27 22:52] jessegreenberg commented on #1001
Here are the events that we receive from a single click of a checkbox on this platform. This is very surprising:
![IMG_0005](https://user-images.githubusercontent.com/6396244/65806463-9df51600-e157-11e9-84af-48e9fb2e960c.PNG)

So it looks like the checkbox is getting pressed, then released, then focused, then clicked, then receives input and change events. This explains why it is getting clicked a

[2019-09-30 12:41] terracoda commented on #1001
@jessegreenberg, nice detective work.
I hope you can find a way to real in all those events! It is not clear to me if this is an iOS bug or a scenery bug.