[2015-12-29 03:48] jonathanolson commented on #507
The root cause of this seems to be due to antialiasing of non-pixel-aligned strokes (and browsers not wanting to do more expensive calculations), and it's one of the disadvantages to using the isometric scaling.

If you draw the bottom (dashed white) line and top (solid black) line into two layers/canvases, there will be pixels that are semi-transparent in both layers (due to antialiasing). Canvas

[2015-12-29 03:51] jonathanolson commented on #507
Also as a side-note, this is most noticeable when the background and "front" shape are both dark or both light, and have a significant contrast with the "back" shape.

[2015-12-29 04:02] pixelzoom commented on #507
Thanks for the explanation. I'll try to convince my design team to either use a thicker stroke for the function pieces, or live with it.

[2015-12-29 04:04] pixelzoom commented on #507
Or a better option: Hide the dashed lines (visible:false) when the slots are filled.

[2015-12-31 23:03] pixelzoom commented on #507
Closing. Will workaround this (or not) in function-builder if I need to.

[2015-12-31 23:03] #507 closed

[2016-01-05 17:24] jonathanolson commented on #506
Looks good, thanks!

[2016-01-05 17:24] #506 closed

[2016-01-07 19:51] samreid opened #508 "Can scenery handle touch areas?"
From https://github.com/phetsims/sun/issues/207 we discussed trying to generalize scenery so that it would be responsible for touch areas.  If a touch event pressed *near* a button, the button should be activated.  This could alleviate problems about having adjacent objects, such as checkboxes that are flush against each other.  It could also address problems that @jonathanolson described for drag

[2016-01-07 19:53] samreid commented on #382
Here's where it cropped up in Bending Light and Neuron:
https://github.com/phetsims/bending-light/issues/335

[2016-01-07 19:55] samreid commented on #382
Please see the bending light issue for screenshots and more detail.

[2016-01-07 19:55] jessegreenberg commented on #382
1/7/2016 - Bumping up priority of this, it is an issue for sims that we are trying to redeploy.

[2016-01-12 22:25] pixelzoom commented on #218
Running into this issue again with function-builder, need to cancel in-progress interactions when "Reset All" is pressed. Labeling for "developer-meeting" to discuss.

Skype conversation:

[1/11/16, 1:05:15 PM] Chris Malley: Anyone know the preferred method of canceling a SimpleDragHandler drag cycle if (for example) the "Reset All" button is pressed?
[1/11/16, 1:16:05 PM] Jonathan Olson: simpleDr

[2016-01-14 16:10] pixelzoom commented on #218
Two things to discuss at developer meeting:

(1) Should this feature be elevated in priority, since it needs to be handled in all sims? When will it be available? Who should work on it? Etc.

(2) Should I ignore this general issue in function-builder (as we seem to have done for most/all sims), or do I need to handle it in a sim-specific manner until this feature is available?

[2016-01-14 19:47] samreid commented on #218
Jan 14 meeting: @jonathanolson will look into it

[2016-01-14 19:48] pixelzoom commented on #218
1/14/2016 dev meeting:
AP: spend some time on it
JO: will create a proposal
CM: will ignore this issue for function-builder, in anticipation of a general solution

[2016-01-27 17:31] jessegreenberg opened #509 "Investigate AccDC for accessibility"
@terracoda provided a resource (http://whatsock.com/) that describes the AccDC API for accessibility.  This is an open source project by Bryan Garaventa and supported by the Royal Society of Arts: https://github.com/accdc/accdc

This should be investigate as a potential resource for PhET accessibility.

[2016-01-27 18:13] jessegreenberg commented on #509
A full report of technical information about the API can be found here:

http://whatsock.com/tsg/

This is the document I am going through.

[2016-01-29 22:45] jessegreenberg commented on #509
After going through the document, here are the most important points:

Here is an example the AccDC API to dynamically set accessible content on an object:

[code]

CSS selectors are used to find the nodes.

[2016-01-29 23:03] jessegreenberg commented on #509
This API is for convenience in rendering accessible HTML.  It shines in dynamic applications. This API generates accessible content by applying various attributes to an element.  It does not add any additional functionality for accessibility outside of what is available with accessible HTML and ARIA.  Since Scenery already has an API for adding accessible content to a node, it seems best to keep o

[2016-01-29 23:03] #509 closed

[2016-01-29 23:15] jessegreenberg commented on #501
This issue is a bit stale and (to some extent) a duplicate of https://github.com/phetsims/balloons-and-static-electricity/issues/116.

We have learned much about how screen readers interface with the DOM.  Further investigation will continue as we learn constraints of the accessibility API.  Closing this issue.

[2016-01-29 23:15] #501 closed

[2016-01-29 23:25] jessegreenberg commented on #497
Pixi accessibility was reviewed.  We have a similar implementation, but ours is a bit more robust in that we can generate a an HTML document of any design to represent what is being shown visually.

I believe this issue can be closed.  Great find @samreid, thanks!

[2016-01-29 23:25] #497 closed

[2016-02-01 00:20] terracoda commented on #509
@jessegreenberg, thanks for the summary!

[2016-02-01 00:57] terracoda commented on #501
@jessegreenberg sounds good. Thanks for closing the issue.

[2016-02-01 17:51] jbphet commented on #218
The Isotopes and Atomic Mass (IAAM) sim recently underwent some dev testing, and several issues were logged that relate directly to having no general way to cancel multitouch listeners.  Most of these IAAM issues have to do with a reset or a mode change while simultaneously dragging something, such as an atom.  The issues are:

+ https://github.com/phetsims/isotopes-and-atomic-mass/issues/34
+ htt

[2016-02-04 01:20] jessegreenberg opened #510 "lineDash does not behave consistently in Edge"
From https://github.com/phetsims/trig-tour/issues/76, it was observed that ```lineDash``` wasn't rendered properly with edge.

The following orange line representing the asymptote uses option ```lineDash[10, 5]``` to create a dashed line.  Works well in other browsers.
![image](https://cloud.githubusercontent.com/assets/6396244/12802592/3caaf976-caa1-11e5-873b-d50136009392.png)

This is also obser

[2016-02-04 01:29] jonathanolson commented on #510
Investigating. Looks like a Canvas-specific bug (can test in Chrome with ?rootRenderer=canvas).

[2016-02-04 01:50] jonathanolson commented on #510
Interesting behavior in Scenery. Lines closer to vertical (at least on Chrome) look like the dashes are longer, until the line is solid. I'll look more into reproducing just with Canvas, and testing other browsers.

First, 45-degree angle comparison (Canvas looks already significantly different):
Canvas:
![scenery-dash-canvas-line](https://cloud.githubusercontent.com/assets/480878/12803296/9c28d17

[2016-02-04 02:13] jonathanolson commented on #510
Line dash values look correct at the time of the Canvas calls. Also reproduces in Firefox. Checking on what may be affecting this.

I plan to add logging to each direct Canvas call, so I can make an example outside of Scenery that I can work with.

[2016-02-04 03:34] jonathanolson commented on #510
Root problem was that I was closing the path on a line segment. This caused the line to draw both forwards and backwards. If you have a dash, then appearance depended on the line's length (thus why my "angle" changes looked weird above, since I was just changing line.x1 to produce it).

Assigning for the development meeting to determine whether patching live sims is needed. This will affect dashed

[2016-02-04 20:12] pixelzoom commented on #510
`lineDash:` option appears 68 times in source.

[2016-02-04 20:14] pixelzoom commented on #510
@jonathanolson clarified that it's not the `lineDash` option in general, it's scenery.Line in general.

[2016-02-04 20:40] jonathanolson commented on #510
Meeting decision was to not retroactively patch anything. Closing.

[2016-02-04 20:40] #510 closed

[2016-02-08 19:09] jonathanolson opened #511 "Incorrect canvas offset when CanvasBlock switches from fitted to full-display"
Causes rendering in https://github.com/phetsims/pendulum-lab/issues/126 to be pushed by about 1000px to the left incorrectly.

This may only account for part of that sim-specific bug.

[2016-02-08 20:45] jonathanolson commented on #511
Fix completed.

[2016-02-08 20:45] #511 closed

[2016-02-09 03:29] ariel-phet commented on #346
It seems we are chipping away at WebGl as fits in with the rest of the project (ie screenshot as part of PhET-iO priorities). I am not sure this current issue has much value anymore (since it is about 1 year old).

Going to close, and stick with having granular issues for each piece of work.

[2016-02-09 03:29] #346 closed

[2016-02-09 14:35] terracoda commented on #131
@jessegreenberg is this DragListener at all relevant to BASE and issues dev:a11y#116  dev:a11y#108?

[2016-02-09 16:24] jessegreenberg commented on #131
No, this is not related @terracoda.  phetsims/balloons-and-static-electricity#116 and phetsims/balloons-and-static-electricity#108 involve understanding how the screen reader intercepts DOM events.  This issue and https://github.com/phetsims/scenery/issues/218 involve handling Scenery events for various multitouch issues.

[2016-02-09 18:15] jbphet commented on #357
Arithmetic has been published, performance was deemed acceptable, closing.

[2016-02-09 18:15] #357 closed

[2016-02-09 18:38] terracoda commented on #131
@jessegreenberg thanks for the clarification.

[2016-02-09 19:15] jonathanolson opened #512 "Canvas-specific display bug"
See https://github.com/phetsims/pendulum-lab/issues/138

To reproduce:
1. Open pendulum lab, open the 3rd screen.
2. Select "Period Timer" checkbox.
3. Enable 2nd pendulum visibility.
4. Switch period timer to 2nd pendulum.
5. Disable 2nd pendulum visibility.

Result:
![screen shot 2016-02-09 at 12 14 40 pm](https://cloud.githubusercontent.com/assets/480878/12927695/b98f66fa-cf26-11e5-8318-ba3cd50

[2016-02-10 20:06] jbphet commented on #359
This is no longer happening, the aforementioned Joist changes must have fixed it.  Closing.

[2016-02-10 20:06] #359 closed

[2016-02-11 17:29] jonathanolson commented on #218
Was looking into approaches for automatically "interrupting" any active listeners beneath a Node tree (e.g. entire sim screen). For most listeners (button/drag), seems appropriate to have an array of listeners for each pointer that would need to be interrupted.

Also need to determine if it's acceptable to act like it's an "end" of a drag, or if we need a callback for canceling (which we would als

[2016-02-11 19:16] pixelzoom commented on #218
2/11/16 developer meeting: Deferred by @ariel-phet, not a common use case.

[2016-02-11 20:08] jessegreenberg commented on #39
With the current implementation of the FocusOverlay, this is no longer an issue.  FocusOverlay uses TransformTracker to listen for a trails transform changes.  Closing.

[2016-02-11 20:08] #39 closed

[2016-02-16 21:33] jonathanolson opened #513 "[branch] simple-drag-handler-this"
It seems to me to be an anti-pattern to use the 'this' reference in callbacks. In SimpleDragHandler's case, this makes assumptions about the inner workings of SimpleDragHandler. Notably, we currently call the start callback with:
[code]
and thus the 'this' reference points to the SimpleDragHandler's persisted options object (notably, this is not the same as the options object passed to the SimpleD

[2016-02-16 21:41] jonathanolson commented on #513
The list of sims that fail (depend on the internal SimpleDragHandler behavior) is quite large, partly due to HSlider and FaucetNode. Here's a sampling of unique places where the 'this' reference breaks (there may be others):

- at HSlider.TandemDragHandler.start (http://localhost/phet/git/sun/js/HSlider.js?bust=1455657320907:151:29)
- at PHMeterNode.addInputListener.SimpleDragHandler.start (http:/

[2016-02-16 21:51] jonathanolson commented on #513
Recommended change example for HSlider:

Instead of declaring a property in the options object:
[code]
and using it with 'this':
[code]

I'd recommend here a local variable:
[code]

[2016-02-16 21:57] samreid commented on #513
The local variable looks good to me, seems a bit odd to put that in the options object (though I may have done it originally)!

[2016-02-17 20:35] jonathanolson opened #514 "[Chrome] Incorrect arc line-cap"
See https://github.com/phetsims/scenery-phet/issues/218 for the original issue.

Code to reproduce on Chrome:
[code]
gives the image:
![scenery-line-cap-chrome](https://cloud.githubusercontent.com/assets/480878/13123779/24cdfaf8-d57b-11e5-926c-4ee9b7115775.png)

While doing the above on other browsers (or using Kite to stroke with ```shape.getStrokedShape( new phet.kite.LineStyles( { lineCap: 'rou

[2016-02-18 20:01] pixelzoom commented on #513
If there are multiple such closure variables, it may be cleaner to subtype TandemDragHandler.

[2016-02-18 20:06] pixelzoom commented on #513
2/18/16 dev meeting consensus: @jonathanolson will fix what he can.

[2016-02-18 20:27] pixelzoom commented on #513
@jonathanolson I fixed and tested my sims and the common-code cases that I'm familiar with. Please take a close look at HSlider, to make sure I addressed things properly.

[2016-02-18 23:03] jonathanolson opened #515 "Canvas renderer not properly set on Edge for navbar/menu/homescreen"
Causes https://github.com/phetsims/joist/issues/321, and is due to an incomplete (buggy) fix of https://github.com/phetsims/molarity/issues/24. Edge 25 seems to have even worse SVG text rendering (things get cut off), see https://connect.microsoft.com/IE/Feedback/Details/1571965, https://connect.microsoft.com/IE/feedback/details/1567173 and most notably https://connect.microsoft.com/IE/Feedback/De

[2016-02-18 23:04] jonathanolson opened #516 "Text boundsMethod 'fast' should still allow Canvas rendering (but prevent fitting)"
Causes bad in-scene text rendering for https://github.com/phetsims/joist/issues/321, in conjunction with the bad SVG rendering from https://github.com/phetsims/scenery/issues/515.

[2016-02-18 23:12] jonathanolson commented on #515
@ariel-phet, this is the primary cause of https://github.com/phetsims/joist/issues/321 (except for the buggy Neuron text in the play area, that will be handled by https://github.com/phetsims/scenery/issues/516).

This seems like a good candidate for maintenance releases, due to how buggy the appearance of the sims look in Edge 25 (latest version).

Thoughts?

[2016-02-19 01:58] ariel-phet commented on #515
@jonathanolson - can you give a time estimate for performing maintenance releases? Also, before Neuron is published, should this patch be made by @jbphet?

[2016-02-19 05:53] jonathanolson commented on #515
Depends on how much of the testing I'd need to do. Now that I know the lay-of-the-land, I'd guess 1 hour up front, 5-10 minutes per SHA that needs to be patched (for translatable sims) with 5 minutes per translatable sim, and 15 minutes per non-translatable sim (13 minutes of which would be testing).

My preferred plan would be to:
1. branch for each SHA (and test)
2. backup current website sims
2

[2016-02-19 05:54] jonathanolson commented on #515
Also, the 5 minutes per translatable sim is something I could totally multi-task, as it's mostly "kick something off to run for 4 minutes, then spend 1 minute doing checks".

[2016-02-19 15:39] ariel-phet commented on #515
@jonathanolson please get in touch with the other developers, specifically @jessegreenberg and @jbphet about patching their sims before they publish them (Neuron, BASE, Ohm's Law)

Second, please get in touch with @phet-steele to see if this work could be coordinated early next week (perhaps on Monday)?

[2016-02-19 18:48] jonathanolson commented on #515
Talked with both. Here's the plan:
1. Created a neuron-1.0 branch of Joist. @jbphet will be performance testing to see whether https://github.com/phetsims/scenery/issues/516 needs to be accomplished now, or whether we can omit the boundsMethod. (Then new RC).
2. Ohm's Law is safe to move to master of Joist. Presumably will just be a bump in SHA (no branch needed) and a new RC.
3. John Travoltage i

[2016-02-22 19:06] samreid opened #517 "endDrag functions should take no parameters"
As a general solution for multi-touch, scenery will need to be able to programmatically end drags gracefully.  This means there will not necessarily be an event/trail pair when endDrag is called

This includes but is not limited to SimpleDragHandler.

See https://github.com/phetsims/sun/issues/228 for context.  Not sure who to assign to or what priority to give, so I'll mark for discussion at deve

[2016-02-23 00:01] jonathanolson commented on #515
I'm unable to get Edge 25 in a VM so far (updates brought it up to Edge 20). Maintenance tests available at http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance/, will discuss with @phet-steele about testing tomorrow.

Planning to ignore non-translated sims.

[2016-02-23 15:41] jbphet commented on #515
I rolled the latest joist version into the current Ohm's Law release candidate and tested on Edge 25 and it fixed the issue with menu.  The fixed version can be found here if you'd like to test: http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.3.0-rc.2/ohms-law_en.html.

I have also incorporated the patched/branched version of joist that was done for Neuron into the latest RC for that sim,

[2016-02-23 17:20] samreid commented on #517
Meeting notes:

We discussed this and it is unclear how to proceed.  One suggestion was to pass (event,trail) as (null,null) for programmatically triggered endDrags.  The alternative is to eradicate args from endDrags altogether, though it is unclear how many endDrag implementations in practice would actually need the event and or trail.

We decided to punt and get @pixelzoom's opinion when he ret

[2016-02-23 18:56] jonathanolson opened #518 "Canvas clipping with opacity"
See https://github.com/phetsims/acid-base-solutions/issues/145 for the problem, and both https://github.com/phetsims/scenery/issues/411 and https://github.com/phetsims/scenery/issues/396 are presumably related.

[2016-02-23 20:55] jonathanolson commented on #513
@pixelzoom, HSlider looks good, thanks!

I've patched all of the remaining cases (and had no related issues pop up in automated tests), so this change has been merged into master. Will be removing the branch.

Closing

[2016-02-23 20:55] #513 closed

[2016-02-23 21:54] jonathanolson opened #519 "WebGL bug not displaying dynamically created Canvas images"
Preventing progress with ESPB WebGL.

[2016-02-23 21:55] jonathanolson commented on #519
To reproduce, force GaugeNeedleNode's options to 'webgl'

[2016-02-24 17:53] jonathanolson opened #520 "[Edge] Graphical text artifacts"
See https://github.com/phetsims/graphing-lines/issues/60, and the resistivity in resistance-in-a-wire, e.g.:

![resistance-in-a-wire-resistance](https://cloud.githubusercontent.com/assets/480878/13295191/e64052a8-dae4-11e5-816b-0326bf7e4017.PNG)

[2016-02-24 17:56] jonathanolson opened #521 "Canvas clipping problem"
In resistance-in-a-wire, updating clipping area doesn't seem to update the clipped area:

![resistance-in-a-wire-clipping](https://cloud.githubusercontent.com/assets/480878/13295224/173588ec-dae5-11e5-95b4-830fb443fb6a.PNG)

[2016-02-24 18:10] #521 closed

[2016-02-24 20:33] jonathanolson commented on #520
It seems Edge (at least Canvas and in the console) treats a number of embedding-mark patterns as (incorrectly) needing to be rendered with a unicode "box", but when rendered with Canvas they don't seem to take up space. Thus the awkward/clipped unicode box, depending on character dimensions.

A good example is [LTR]....[POP][LTR] will look like ...☐. Taking off the initial or trailing [LTR] will c

[2016-02-24 21:06] jonathanolson commented on #520
Assigning to @jbphet for review.

[2016-02-24 22:22] jonathanolson commented on #520
Example:

![edge-chars](https://cloud.githubusercontent.com/assets/480878/13303051/451f7c98-db0a-11e5-9265-d698f67eb6cf.PNG)

[2016-02-25 00:47] jonathanolson commented on #518
@ariel-phet, what's the priority for this?

I'm estimating ~20 hours for changes, which should take care of #411 and #396, will improve performance on Edge, and is one of the things that we essentially postponed from Scenery 0.2.

Also, it won't be easy to port these changes back to an older version to patch acid-base-solutions. I believe I can make a fast workaround for acid-base-solutions, so I'

[2016-02-25 01:13] ariel-phet commented on #518
Discussed with @jonathanolson will revisit priority when he is back to working on pendulum lab

[2016-02-25 21:05] samreid opened #522 "Homescreen text is jumpy in Firefox OS X"
![abs-short](https://cloud.githubusercontent.com/assets/679486/13334327/bcb60844-dbc8-11e5-81c9-7a8515e3d0aa.gif)

[2016-02-25 21:13] jonathanolson commented on #515
Deployments for translatable sims done.

[2016-02-25 21:13] #515 closed

[2016-02-25 23:34] jessegreenberg opened #523 "LineWidth of 0 is visible on edge"
From https://github.com/phetsims/molecules-and-light/issues/132, a line width of 0 is visible on Edge 25.  Stroke must match fill to ensure that line width is 'invisible'.  As I think about this, perhaps setting lineWidth to 0 is bad practice, but it seems strange that this is only an issue for Edge.  @jonathanolson if you are already aware of this, please feel free to close.

[2016-02-26 18:59] phet-steele opened #524 "HSlider failed assertion"
Current versions of sims using an HSlider have this occur:
[code]
@jonathanolson This particular error was captured in IAAM, but was also seen in Bending Light. To reproduce, go to a sim with an HSlider and slide it with a quick movement without reaching the max or min value of the slider.
This gif demonstrates that sliding and reaching the max is fine, and that sliding slowly is also fine. Once t

[2016-02-26 19:08] jbphet commented on #520
I reviewed the code and tested on Resistance in a Wire (RIAW) and the issue has indeed gone away.  This is a fairly elaborate workaround, so I added a note about potentially removing it at some point in the future to the comments in the file.  Overall, looks like it works, so I'll close this and incorporate it into the upcoming RIAW release.

[2016-02-26 19:11] jessegreenberg commented on #524
I made recent changes to HSlider, could be related to that.  I will take a look first.

[2016-02-26 19:15] jessegreenberg commented on #524
Not able to reproduce locally with dragging or with test-server

[2016-02-26 19:16] jessegreenberg commented on #524
Unable to reproduce in both built versions or requireJS.

[2016-02-26 19:17] jessegreenberg commented on #524
Ah, looks like this issue already exists in Scenery: https://github.com/phetsims/scenery/issues/456

[2016-02-26 19:19] jessegreenberg commented on #524
@phet-steele are you able to reproduce this issue with consistency?

[2016-02-26 19:20] phet-steele commented on #524
@jessegreenberg ah didn't see #456. Yes, I can do this every time easily.

[2016-02-26 19:22] phet-steele commented on #524
@jessegreenberg  and also apparently only in Chrome.

[2016-02-26 19:24] jessegreenberg commented on #524
I am not able to reproduce with Windows 10 and latest Chrome, Firefox, or Explorer.

[2016-02-26 19:38] jessegreenberg commented on #524
Unable to reproduce off of locally, but @phet-steele showed me how to reproduce consistently on phettest.   I am going to close this issue and add document https://github.com/phetsims/scenery/issues/456 with the above comments.

[2016-02-26 19:38] #524 closed

[2016-02-26 19:42] jessegreenberg commented on #456
@phet-steele recently noticed this issue with HSlider in Isotopes and Atomic Mass and Bending Light.  Unable to reproduce issue locally, but it is very easy to reproduce on phettest.  I will try to go through https://github.com/phetsims/scenery/issues/456#issuecomment-134246604 since I can reproduce with some consistency.

[2016-02-26 20:07] jessegreenberg commented on #456
@jonathanolson I am not able to get chronicle server working to capture the input event log.  We can reproduce this issue easily on phettest, if that helps track this down.  Please let me know if I can provide other information that might help with this.  Assigning to @jonathanolson to review comments.

[2016-02-26 20:13] samreid commented on #456
The event server is located at scenery/tests/event-logs/server/server.js.  https://github.com/phetsims/chronicle is a deprecated PhET-iO thing.

[2016-02-26 20:17] jessegreenberg commented on #456
Thank you for clarifying @samreid!  Assigning back to me to see if I can capture with the event server.

[2016-02-26 22:31] jonathanolson commented on #519
@samreid, can you confirm that using toCanvasNodeSynchronous now works with the WebGL renderer?

[2016-02-26 22:36] samreid commented on #519
Yes, that fixes the problem.  Now the needle gauge and the skater dot are both appearing with renderer:webgl.  Thanks!

[2016-02-26 22:36] #519 closed

[2016-02-27 01:30] jessegreenberg commented on #450
I think this issue can now be closed.  The parallel DOM has proven to be a valuable method of adding accessible content to PhET simulations.  To summarize the benefits:

1) We can tap into the HTML accessibility community, using the WAI-ARIA standard for markup
2) aria for SVG is years behind the HTML aria spec in browser and AT support
3) The parallel DOM dramatically reduces accessibility work,

[2016-02-27 01:32] #450 closed

[2016-02-27 01:41] ariel-phet commented on #458
Considering the response to @samreid's query it seems this issue can be closed.

[2016-02-27 01:41] #458 closed

[2016-02-27 01:49] ariel-phet commented on #71
Old stale, closing

[2016-02-27 01:49] #71 closed

[2016-02-27 01:52] ariel-phet commented on #77
@jessegreenberg does this issue seem relevant anymore? Very old and our a11y effort has taken a clear direction, please feel free to close or such

[2016-02-27 01:53] ariel-phet commented on #331
assigning to @jessegreenberg for issue hygiene, can this be closed?

[2016-02-27 01:56] ariel-phet commented on #41
assigning to @jessegreenberg for issue hygiene, can this be closed? (especially since you seem to have a clear a11y strategy these days)

[2016-02-27 01:57] ariel-phet commented on #329
assigning to @jessegreenberg for issue hygiene, can this be closed?

[2016-02-27 01:57] ariel-phet commented on #372
assigning to @jessegreenberg for issue hygiene, can this be closed?

[2016-02-27 01:58] ariel-phet commented on #40
assigning to @jessegreenberg for issue hygiene, what is the status here? is this issue still relevant?

[2016-02-27 01:59] ariel-phet commented on #383
assigning to @jessegreenberg for issue hygiene, what is the status here?

[2016-02-27 02:04] ariel-phet commented on #94
we no longer support IE9, closing

[2016-02-27 02:04] #94 closed

[2016-02-27 02:07] ariel-phet commented on #82
Surface is no longer a relevant platform, closing

[2016-02-27 02:07] #82 closed

[2016-02-27 02:14] ariel-phet commented on #187
No longer an issue in redeployed pH scale in latest Win FF 44.0.2

Closing

[2016-02-27 02:14] #187 closed

[2016-02-27 02:15] ariel-phet commented on #189
Surface is no longer a supported platform. Closing

[2016-02-27 02:15] #189 closed

[2016-02-27 02:16] ariel-phet commented on #188
I have a hard time believing this is still and issue, @pixelzoom can you verify?

[2016-02-27 02:17] ariel-phet commented on #182
This issue no longer seems relevant, closing

[2016-02-27 02:17] #182 closed

[2016-02-27 02:19] ariel-phet commented on #108
We no longer support IE9 or IE10, closing

[2016-02-27 02:19] #108 closed

[2016-02-27 02:23] ariel-phet commented on #151
We no longer support Nexus 7 (and currently do not support Android devices) closing

[2016-02-27 02:23] #151 closed

[2016-02-27 02:23] ariel-phet commented on #152
We don't support android, closing

[2016-02-27 02:23] #152 closed

[2016-02-27 02:26] ariel-phet commented on #153
I don't believe this is any longer an issue, closing

[2016-02-27 02:26] #153 closed

[2016-02-27 06:36] jonathanolson commented on #400
Does not exist anymore, handling this properly for everything right now.

[2016-02-27 06:36] #400 closed

[2016-02-27 06:37] jonathanolson opened #525 "WebGL optimized rectangle implementation"
(For tracking)

[2016-02-27 06:51] jonathanolson commented on #525
@samreid, I believe the implementation is done. It looks like ESPB already is specifying a webgl renderer for the bars (note if Scenery says WebGL isn't supported, it will ignore renderer:webgl, so that code may not be necessary).

![energy-skate-park-basics-webgl](https://cloud.githubusercontent.com/assets/480878/13371454/c1bcc320-dce3-11e5-9caf-51f13a4876db.PNG)
![energy-skate-park-basics-webgl2

[2016-02-27 06:53] jonathanolson commented on #398
Now that Scenery supports WebGL images out-of-the-box and you have had time to use WebGLNode, can you recommend whether any work here is needed?

[2016-02-27 06:54] jonathanolson commented on #396
Referenced in other issues. Planned to implement (tentatively) with framebuffers at a similar time-frame as this is implemented with Canvas (they will be similar).

[2016-02-27 06:56] jonathanolson commented on #345
It is enabled for all shaders, and I'm aware of this issue for future implementation.

[2016-02-27 06:56] #345 closed

[2016-02-27 07:00] jonathanolson commented on #321
This sounds very helpful now that there are essentially three different things that do draw calls (images, rectangles, and webglnodes), as alternating between those will currently cause draw calls for each alternation.

This would limit draw calls (effectively) to at most 3 per WebGLBlock.

[2016-02-27 07:01] jonathanolson commented on #317
Plan to implement in https://github.com/phetsims/scenery/issues/347, closing this issue.

[2016-02-27 07:01] #317 closed

[2016-02-27 07:04] jonathanolson commented on #315
With the described z-index optimization in https://github.com/phetsims/scenery/issues/321, I believe the "microshader" approach won't have much overhead and will be easy to maintain for the medium-term.

Marking as deferred for future investigation.

[2016-02-27 07:12] jonathanolson commented on #523
lineWidth just has to be non-negative. Now Scenery will not render Canvas strokes if the lineWidth is 0.

[2016-02-27 07:12] #523 closed

[2016-02-27 07:16] jonathanolson commented on #508
Above sounds good, although for sims (for now), decided to go with a fairly simple solution (ClosestDragListener in Sun) in the medium-term.

[2016-02-27 07:24] jonathanolson commented on #503
This is generally handled properly:
[code]

however it assumes WebGLNode will always actually draw something. Should we have a flag/return value for WebGLNode's paintWebGLDrawable function, where it can let Scenery know nothing was painted?

Tagged for dev meeting for "should the return value of paintWebGLDrawable (or a flag) be set if there was nothing renderered?".

[2016-02-27 07:53] jonathanolson commented on #16
Deferring, memory/startup-time/font handling implications are big, and accurate bounds aren't needed as often as originally anticipated.

[2016-02-27 07:54] jonathanolson commented on #29
Apparently I already did this.

[2016-02-27 07:54] #29 closed

[2016-02-27 07:57] jonathanolson commented on #47
Not happening in latest Firefox.

[2016-02-27 08:29] jonathanolson commented on #303
I think a good medium-term solution is to have a "default" webgl renderer for everything that uses Canvas to render it, then have it added to the sprite-sheet.

Will need a good way to switch things between drawables for the same renderer (e.g. switching between non-rounded and rounded rectangles needs to trigger a switch between types of webgl drawables).

Combined with https://github.com/phetsim

[2016-02-27 08:30] jonathanolson commented on #461
Assigning to @jessegreenberg, as he's in charge of a11y.

[2016-02-28 03:06] samreid commented on #398
Let's close this issue but keep in mind if we are duplicating code in WebGLNode subclasses in the future, it may be an opportunity to factor out.

[2016-02-28 03:06] #398 closed

[2016-02-28 03:10] samreid commented on #503
Are you saying that WebGLNode subclasses will typically call `gl.clear` or there is no need to do so if at least one pixel is drawn?

[2016-02-28 03:13] samreid commented on #525
I still need some of this logic in EnergySkateParkBasicsScreenView to determine which pie chart implementation to use.

[2016-02-29 17:24] jonathanolson commented on #520
@pixelzoom suggested this could be moved to Scenery. Reopening for discussion.

[2016-02-29 17:32] pixelzoom commented on #520
My reasons for suggesting that this be moved to scenery are:

(1) It's not specific to StringUtils.format, the problem can occur by concatenating strings using + operator.

(2) The current implementation greatly increases the complexity of StringUtils.

(3) The current implementation requires the programmer to call StringUtils.simplifyEmbeddingMarks for any text concatenated using the + operator.

[2016-02-29 17:41] pixelzoom commented on #188
I asked @jonathanolson about this, he replied on Skype:
[2/29/16, 10:27:50 AM] Jonathan Olson: Might be fixed/worked around by browsers? And I think it's referring to the OS X feature?
[2/29/16, 10:28:03 AM] Jonathan Olson: It has a decent chance of still being a problem

I tested on Safari, Chrome and Firefox, cannot reproduce phetsims/concentration#7 and phetsims/ph-scale-basics#12.  So this was

[2016-02-29 17:41] #188 closed

[2016-02-29 17:53] jonathanolson commented on #503
WebGLNode subclasses should **almost never** call gl.clear, since that may (or may not) erase content from other rendered nodes.

There are some cases Scenery needs to handle:
1. WebGLNodes don't draw anything to the Canvas, and neither does Scenery: Scenery needs to manually clear the Canvas, otherwise last frame's things will still be displayed.
2. WebGLNodes don't draw anything to the Canvas, b

[2016-02-29 17:59] samreid commented on #503
Setting a flag or an optional return value both seem error-prone.  We could require WebGLNode to return an enum value WebGLNode.PAINTED_SOMETHING or WebGLNode.PAINTED_NOTHING so that we can make sure we this is addressed.  Even this seems subject to error.  Can we not wrap gl.drawArrays to detect this automatically?  But what if drawArrays is called with 0 vertices?  How should that be classified?

[2016-02-29 18:04] jonathanolson commented on #503
I want to stray away from patching functions like that in production code. Also drawElements and other calls would also be considered "drawing".

Not sure yet.

I'm open to that since it's explicit, although verbose.

[2016-02-29 18:29] jonathanolson commented on #3
Will track in https://github.com/phetsims/scenery/issues/131.

[2016-02-29 18:29] #3 closed

[2016-02-29 18:31] samreid commented on #131
Please be aware of MovableDragHandler which may have some features we want in DragListener.

[2016-02-29 18:37] jonathanolson commented on #58
Adding to developer meeting to discuss whether Scenery should take a snapshot of listeners before firing the event (so that freshly added listeners wouldn't be called).

Arguments for this:
- It's how we handle most other listeners (like with Property/Emitter), and would simplify the referenced code.

Implementation:
- I'd create an object pool for listener-node pairs, and push pairs to an array t

[2016-02-29 18:38] jonathanolson commented on #60
Recommend handling in new drag listener, see https://github.com/phetsims/scenery/issues/131.

Sound acceptable?

[2016-02-29 18:39] jonathanolson commented on #90
Plan to handle in https://github.com/phetsims/scenery/issues/218 (referencing, since this has a good list of examples).

[2016-02-29 18:39] #90 closed

[2016-02-29 18:41] jonathanolson commented on #51
Will be handled in https://github.com/phetsims/scenery/issues/175.

[2016-02-29 18:41] #51 closed

[2016-02-29 18:43] jonathanolson commented on #100
It looks like skaters are snapped to the nearest pixel when being displayed.

[2016-02-29 18:44] pixelzoom commented on #58
+1 for notifying only listeners that are registered at the time that the event is fired.
-1 for notifying listeners that are added after the event is fired (and for consistency, you would presumably need to *not* notify listeners that were removed after the event fired).

[2016-02-29 18:46] jonathanolson commented on #106
This either appears to be fixed in Scenery or fixed in the browser. @samreid, can you comment if anything else is needed, or if we can close this issue?

[2016-02-29 19:01] jonathanolson commented on #58
I'm currently leaning towards this change (@pixelzoom's +1), as long as testing reveals it doesn't have an undue performance burden.

[2016-02-29 19:28] jonathanolson commented on #130
@ariel-phet, is this still occurring (I see you originally reported in molarity), and if so can you set the priority?

[2016-02-29 19:50] jonathanolson commented on #155
Can't reproduce in IE11, and IE10 is marked as unsupported. Are you able to reproduce, or should this be closed?

[2016-02-29 19:50] ariel-phet commented on #130
I don't have a win 8 machine presently to test on (upgraded laptop to windows 10).

I will ask @phet-steele to check.

@phet-steele can you see if this bug is still occuring?

[2016-02-29 19:54] jonathanolson commented on #178
@ariel-phet, should we re-test on the ASUS laptop?

[2016-02-29 19:59] pixelzoom commented on #155
I no longer see this in IE10 either. Closing.

[2016-02-29 19:59] #155 closed

[2016-02-29 19:59] ariel-phet commented on #178
That asus laptop has always been a bit odd...I would suggest retesting on a different win 8 platform (we pretty much no longer use the asus laptop for testing)

@phet-steele can you check these issues on Win 8 IE11?

[2016-02-29 20:00] jonathanolson opened #526 "[iPad] Certain resolutions cause graphical artifacts on movement"
See https://github.com/phetsims/beers-law-lab/issues/166

![image](https://cloud.githubusercontent.com/assets/679486/13227194/b041a4e2-d952-11e5-9023-e29a05bf80af.png)

[2016-02-29 20:00] ariel-phet commented on #178
marking low priority - would be a good issue to close if no longer present, but not a high priority test.

[2016-02-29 20:14] jonathanolson commented on #180
I have not seen this recently, closing.

[2016-02-29 20:14] #180 closed

[2016-02-29 20:53] jonathanolson commented on #191
According to referenced issue, this doesn't happen anymore.

[2016-02-29 20:53] #191 closed

[2016-02-29 20:54] samreid commented on #60
We have good support for this in MovableDragHandler, I wouldn't mind if we also had good support for it in the next generation scenery input listeners and we can track it in #131.

[2016-02-29 20:54] #60 closed

[2016-02-29 20:55] jonathanolson commented on #195
Fixed in latest firefox.

[2016-02-29 20:55] #195 closed

[2016-02-29 21:02] jonathanolson commented on #199
This has been fixed in latest Chrome.

[2016-02-29 21:02] #199 closed

[2016-02-29 21:03] jonathanolson commented on #202
Planned to implement in https://github.com/phetsims/scenery/issues/218.

[2016-02-29 21:03] #202 closed

[2016-02-29 21:03] jonathanolson commented on #218
Should include a pattern of "this group of elements can only be interacted with by a single pointer".

[2016-02-29 21:04] jonathanolson commented on #205
@ariel-phet, should this be tested or closed?

[2016-02-29 21:20] ariel-phet commented on #205
Still occurring on FF on a windows touch screen (just tested on my windows 10 laptop, latest FF 44.0.2)

Edited name of issue, marking as low priority

Confirmed not an issue on Chrome or Edge (latest) windows 10

[2016-02-29 21:20] ariel-phet commented on #205
Also clearing assignee since marked as low priority

[2016-02-29 23:13] jessegreenberg commented on #40
This issue can be closed.  We have support for setting/changing the focus order for tab traversal with scenery/Node.setAccessibleOrder().

Since we adopted the Parallel DOM approach we essentially get this behavior for free with form elements such as radio button groups.  'Tab Group' behavior is defined by the browser/HTML.  ```tabindex``` should generally be avoided since interactive elements rec

[2016-02-29 23:13] #40 closed

[2016-02-29 23:18] jessegreenberg commented on #41
Many AT, including touch devices, need the correct locations of the peers.  This will still need to be addressed since the parallel DOM is still at top:0 left:0.  We have seen some users try to find elements on the screen by waving the cursor around like a wand.  Since the locations in the parallel DOM were incorrect, the elements could not be found.  I expect this could have some performance impl

[2016-02-29 23:26] jessegreenberg commented on #77
The items listed in https://github.com/phetsims/scenery/issues/77#issue-15948358 are essentially what we have been working on lately, though we have only just begun to discuss sonification.  At this point, we have the infrastructure built into scenery to handle all of these items.  Further work would be for sim specific details and iterations on the above designs.  Closing.

[2016-02-29 23:26] #77 closed

[2016-02-29 23:36] jonathanolson commented on #41
Correct about the performance implications.

We should probably collaborate when it comes time to address this. Also let me know if it's possible to "detect" when we need the positions to be accurate (i.e. if we can leave them un-positioned until the user interacts with accessibility tools, that would be good for performance).

This is mostly only a performance implication for when a displayed ele

[2016-02-29 23:37] jessegreenberg commented on #329
Yes, this can be closed.  We have settled for now with the Parallel DOM approach described in https://github.com/phetsims/tasks/issues/234#issuecomment-101124730.

A separate layer is added to the display so that scenery can be used to create focus highlights which can be custom and animated if desired.  Closing.

[2016-02-29 23:37] #329 closed

[2016-02-29 23:42] jessegreenberg commented on #331
The parallel DOM uses HTML DOM events to sync with the model.  In the long term perhaps we should consider integrating accessibility related key events with Input.js.

[2016-03-01 03:56] pixelzoom commented on #517
SimpleDragHandler.endDrag calls options.end, passing it the Event and Trail. I know that I've written a code the gets the dragged node from Event.currentTarget. Not psyched to have to rewrite that code, which probably involves saving Event.currentTarget in options.startDrag.

[2016-03-01 03:59] pixelzoom commented on #517
It also seems odd to have an Event and Trail passed to start and drag, but not end.

Perhaps we should have a new cancelDrag function, rather than trying to put this responsibility on endDrag?

[2016-03-01 15:59] samreid commented on #58
Agreed with @pixelzoom's comment and I cannot recall any cases where I am purposefully relying on notifying listeners added after the event starts (though would not be surprised to see a small handful pop up).

[2016-03-01 16:36] jonathanolson commented on #58
That's enough consensus for me, removing meeting tag.

[2016-03-01 16:39] samreid commented on #525
Looks good on Energy Skate Park: Basics, performance is restored to the previous webgl levels.

To double check the rectangle performance, I augmented Blast to use 200 rectangles instead of 1.  On iPad3 iOS 9 (requirejs mode), I'm seeing the following performance:
webgl: 58fps
svg: 20fps
canvas: 29fps

This is good evidence that the rectangle webgl renderer is working nicely, thanks @jonathanolson

[2016-03-01 16:39] #525 closed

[2016-03-01 17:29] jonathanolson opened #527 "imageOpacity"
Investigate whether this looks good, or if we need imageOpacity instead for images.

Should be used for making-tens, and acid-base-solutions' master fix.

[2016-03-01 17:44] samreid commented on #503
@jonathanolson will proceed with the enumeration as described above.

@jonathanolson please add an item in the code review checklist that makes sure the flags are set correctly (in case there is tricky logic)

[2016-03-01 21:56] samreid commented on #106
I can't reproduce this problem, closing.

[2016-03-01 21:56] #106 closed

[2016-03-03 16:50] jonathanolson commented on #264
Not happening in Chrome OS X anymore. Keeping assigned for an iPad check.

[2016-03-03 17:01] jonathanolson commented on #209
Is not present in Safari 9. Closing.

[2016-03-03 17:01] #209 closed

[2016-03-03 17:12] jonathanolson commented on #214
Test case wasn't easily present. Here's one that I'll test when on Windows:
[code]

[2016-03-03 17:46] jonathanolson commented on #308
@samreid, @ariel-phet and @kathy-phet, is there a specific desired deadline for this, due to the phet-io needs?

[2016-03-03 17:48] samreid commented on #308
From https://github.com/phetsims/joist/issues/212#issuecomment-191880285

@kathy-phet said she is OK to put the screenshot feature into the phet.colorado.edu sims, though not at high priority. Higher priority is for @jonathanolson and @samreid to make sure the BrainPop simulations can export screenshots even if WebGL is running:

Color Vision (no WebGL)
Concentration (no WebGL)
Molecules and Light

[2016-03-03 18:03] jonathanolson commented on #460
See https://github.com/phetsims/axon/issues/80 for performance testing for emitter.

[2016-03-03 18:16] samreid commented on #308
Related issue (outfitting all sims for screenshotting) is https://github.com/phetsims/phet-io/issues/370

[2016-03-03 18:16] samreid commented on #308
For the related issue mentioned above, @kathy-phet said "a month" would be good.

[2016-03-03 18:45] jonathanolson commented on #463
Related to https://github.com/phetsims/scenery/issues/460

[2016-03-03 18:49] jonathanolson commented on #410
After thinking more about this, I think this shouldn't be implemented.

[2016-03-03 18:49] #410 closed

[2016-03-03 18:50] jonathanolson commented on #394
This is basically done.

[2016-03-03 18:50] #394 closed

[2016-03-03 19:02] jonathanolson commented on #371
I believe every Display is now not named 'scene', and I'm satisfied with the current naming.

[2016-03-03 19:02] #371 closed

[2016-03-03 19:10] samreid commented on #517
@ariel-phet suggests lowering priority for this since the bugs don't come up in practice too much.

@samreid suggests that new development of endDrag() should keep in mind whether (event,trail) are truly necessary and to avoid using them if possible.

[2016-03-03 19:19] pixelzoom commented on #520
3/3/16 dev meeting consensus: move to scenery.

[2016-03-03 19:20] samreid commented on #520
@jonathanolson will additionally work with @phet-steele to submit a bug report to edge.

[2016-03-03 21:33] jbphet opened #528 "SubSupText asserts when running the xss (cross site scripting) string test"
This was originally noticed on Resistance in a Wire, see https://github.com/phetsims/resistance-in-a-wire/issues/72.  When testing with the query parameter `stringTest=xss` (for checking whether any vulnerabilities exist for cross site scripting), the code hits the following assertion in SubSupText:

[code]

Without assertions enabled, the sim crashes in SubSupText due to undefined variables.

I d

[2016-03-04 23:35] phet-steele opened #529 "Edge + Color Vision thought bubbles"
@jonathanolson, just in case you wanted another Edge bug:

![colorvisionbad](https://cloud.githubusercontent.com/assets/5863899/13543123/91551344-e225-11e5-9f2f-3c983e479c78.PNG)

To reproduce, after opening the sim enable the filter and switch to photon mode. There will be a slight delay while the invisible photons travel, then you will see the above screenshot. This is seen in the *LIVE VERSION*

[2016-03-04 23:40] jonathanolson commented on #529
Reproduced in Chrome with rootRenderer=canvas.

[2016-03-05 00:35] jonathanolson commented on #529
@samreid and @pixelzoom (not sure who is in charge of maintenance for this sim), can one of you review the fix?

@ariel-phet, should this fix get wrapped into my maintenance releases?

[2016-03-05 00:40] ariel-phet commented on #529
@pixelzoom has generally been taking care of this sim

@jonathanolson if you think it would be easy to wrap in, seems good.

[2016-03-07 15:30] pixelzoom commented on #529
@ariel-phet I have not been generally taking care of this sim. I have made a few general changes that hit all sims (adding namespace, visibility annotations,...) and I recently pitched in to fix i18n problems for S2015R redeploy.  Do you want me to formally take over maintenance of this sims?

@jonathanolson Unfortunately I don't have an Edge test system, so I'll need to leave verification to @phe

[2016-03-07 17:16] ariel-phet commented on #529
@pixelzoom yes, I think for the moment you should formally take over maintenance (this seems to make sense to me since you are listed as one of the original developers so I had assumed you were reasonably familiar with the sim, but of course let me know if that is a bad assumption). And of course, function builder is the main priority, so maintenance work may need to be deferred depending.

[2016-03-07 17:21] jonathanolson commented on #529
Currently, Color just clamps values to the acceptable range. I agree with more specific assertions (will create an issue).

The SingleBulbPhoton's wavelength was not numeric (undefined) from:
[code]
in SingleBulbPhotonBeam.

It almost seems that NaN was being used in the model to cause it to reset to black (yikes).

[2016-03-07 17:26] jonathanolson opened #530 "Improved Color assertions"
See https://github.com/phetsims/scenery/issues/529#issuecomment-193299655.

Plan to add range/type assertions to Color, to ensure everything is as expected.

[2016-03-07 23:01] phet-steele commented on #178
@ariel-phet @jonathanolson I've never seen these problems (spent Nov 2013-Jan 2016 using Win 8), nor do I see them now.

[2016-03-07 23:01] #178 closed

[2016-03-07 23:11] jonathanolson opened #531 "Scenery pickability change issue"
See https://github.com/phetsims/balancing-act/issues/55

Setting this.challengeLayer.pickable = null seems to break on the second challenge of the third game level, after an incorrect answer (mass deduction challenge).

Setting it to null SHOULD be the proper thing to do, but it might not be invalidating mouse/touch bounds correctly.

[2016-03-07 23:14] jonathanolson commented on #531
Also will change it back to null once this is fixed in Scenery, if that is the proper solution.

[2016-03-08 03:09] pixelzoom commented on #528
I'm not familiar with how the xss test is implemented, so I have nothing to recommend.

[2016-03-08 04:42] jonathanolson commented on #528
The XSS test sets every string to the following:
[code]

It has things that SubSupText treats like invalid tags (for it), so it fails out. Since SubSupText can't cause XSS problems, it would be best if we had it basically ignore those strings.

[2016-03-08 05:47] jonathanolson commented on #425
Will be handled by other event/emitter/etc. related issues, as we'll need to check what in Node is being used currently.

[2016-03-08 05:47] #425 closed

[2016-03-08 05:52] pixelzoom commented on #528
+1 for having SubSupText ignore invalid tags.

[2016-03-08 06:10] jonathanolson opened #532 "Broken cursor support when accessibility is enabled"
Testing the multi-touch example.

[2016-03-08 06:11] jonathanolson commented on #532
@jessegreenberg, can you review my fix, and ensure it doesn't break accessibility?

[2016-03-08 06:12] jonathanolson commented on #532
You can test before the commit by building Scenery (npm install, grunt) then viewing the multi-touch example (scenery/examples/multi-touch.html). pointer: cursor didn't seem to be applied.

Looks like the FocusOverlay was "in front", and prevented the cursor from being applied.

[2016-03-08 06:14] jonathanolson commented on #420
Fixed multi-touch example, removed devious-drag example.

[2016-03-08 06:14] #420 closed

[2016-03-08 06:16] jonathanolson commented on #260
Looks like this was fixed.

[2016-03-08 06:16] #260 closed

[2016-03-08 07:48] jonathanolson commented on #514
Minimum reproduction available at http://phetsims.github.io/scenery/tests/browsers/chrome-arc-line-cap.html

[2016-03-08 07:58] jonathanolson commented on #514
@phet-steele, @ariel-phet mentioned that you could potentially submit browser bug reports.

Can you report this as a Canvas-related Chrome bug (in the Chromium bug tracker), and post the bug URL here?

Let me know if you have any questions.

[2016-03-08 16:41] phet-steele commented on #514
@jonathanolson bug made here: https://bugs.chromium.org/p/chromium/issues/detail?id=593049

[2016-03-08 17:15] samreid commented on #528
@jonathanolson suggests a minor rewrite so that assertions will still fail, but so that when assertions are removed it will .....??

@jessegreenberg suggests putting sub/sup elements in the test string:

[code]

[2016-03-08 17:16] samreid commented on #528
How about
[code]
?

[2016-03-08 17:17] samreid commented on #528
@jbphet said we should extract any parts of the string SubSup text can't handle.

[2016-03-08 17:18] samreid commented on #528
@jonathanolson points out that the long term solution is to do server-side validation of the strings.

[2016-03-08 17:20] samreid commented on #528
We cannot run ?ea for translators, it could cause the sim to fail to start up, and the translator wouldn't know why.

[2016-03-08 17:21] samreid commented on #528
@jbphet will create a rosetta issue for server-side validation.

For now we will ignore any tags that SubSupText doesn't understand.

[2016-03-09 18:55] ariel-phet commented on #529
@pixelzoom can you create a sim specific issue to look into this? Mark low priority, feel free to work on if you need something else, but not a major priority at the moment.

[2016-03-09 22:03] pixelzoom commented on #529
@jonathanolson when you've completed whatever else needs to be done for scenery here, please assign back to me so I remember to create an issue specific to color-vision.

[2016-03-09 22:05] ariel-phet commented on #529
@pixelzoom I could be mistaken, but I believe @jonathanolson thought that some sim investigation was needed first to decide what might need to be done in scenery

[2016-03-09 22:10] pixelzoom commented on #529
(1) notes in https://github.com/phetsims/scenery/issues/529#issuecomment-193299655 is the only thing that was done in common code, and is completed independent of anything in this sim.

[2016-03-09 22:10] pixelzoom commented on #529
(1) noted in https://github.com/phetsims/scenery/issues/529#issuecomment-193299655 is the only thing that was done in scenery, and is completed independent of anything in this sim.

[2016-03-09 23:20] jonathanolson commented on #529
https://github.com/phetsims/scenery/issues/530 will handle the remaining Scenery work (adding better assertions and range checks to Color), reassigning to @pixelzoom for creating the sim-specific issue.

[2016-03-10 05:20] jonathanolson commented on #528
Added breaks that only happen if an assertion would have failed, and prevents bad nesting.

[2016-03-10 07:15] jonathanolson commented on #520
Moved to Scenery.

@phet-steele, I've also added a test case that shows the bug on Edge (http://phetsims.github.io/scenery/tests/browsers/edge-embedding-marks.html).

Can you submit a bug report to Microsoft for Edge?

[2016-03-10 14:19] samreid opened #533 "LayoutBox spacing should be a number"
From https://github.com/phetsims/fraction-matcher/issues/93 I saw that Fraction Matcher was passing spacing to LayoutBox as a function, not a number.  We should assert that options.spacing is a number, otherwise unintended behavior may occur.

[2016-03-10 14:20] samreid commented on #533
There is already a check for this, it was being circumvented by setting options after the supercall in the Fraction Matcher case, closing.

[2016-03-10 14:20] #533 closed

[2016-03-10 17:10] jonathanolson commented on #252
Closing, unable to reproduce.

[2016-03-10 17:10] #252 closed

[2016-03-10 17:11] jonathanolson commented on #259
Chrome seems smooth lately, closing.

[2016-03-10 17:11] #259 closed

[2016-03-10 17:12] jonathanolson commented on #265
Will be handled in other events issues.

[2016-03-10 17:12] #265 closed

[2016-03-10 17:18] jonathanolson commented on #334
Still cannot reproduce. Will reopen if we run into this again.

[2016-03-10 17:18] #334 closed

[2016-03-10 17:19] jonathanolson commented on #348
Chrome/OSX does not have the problem anymore.

[2016-03-10 17:19] #348 closed

[2016-03-10 17:23] phet-steele commented on #520
@jonathanolson report made here: https://connect.microsoft.com/IE/feedback/details/2457310/edge-embedding-mark-patterns-rendered-incorrectly

[2016-03-10 17:30] jonathanolson commented on #377
Renaming at this point may not be particularly helpful. Recommend looking into ButtonListener when I handle other input issues.

[2016-03-10 17:30] #377 closed

[2016-03-10 17:37] jonathanolson commented on #520
@phet-steele, I can't see the images in the issue. Do they need to be attached separately? Maybe it just doesn't let me see images since I didn't create the issue?

[2016-03-10 17:45] phet-steele commented on #520
@jonathanolson I knew you would notice! The site said it could take up to an hour for them to appear.

[2016-03-10 17:47] jonathanolson commented on #437
Will reopen when the need arises.

[2016-03-10 17:47] #437 closed

[2016-03-10 17:57] jonathanolson commented on #451
Still present in FF 45.0.

[2016-03-10 18:21] pixelzoom commented on #529
Sim-specific issue moved to https://github.com/phetsims/color-vision/issues/106. Closing.

[2016-03-10 18:21] #529 closed

[2016-03-10 19:08] jonathanolson commented on #462
This has been done.

[2016-03-10 19:08] #462 closed

[2016-03-10 19:47] pixelzoom commented on #308
I have no familiarity with this and haven't used WebGL yet, so no opinion on the API.

[2016-03-10 22:21] jonathanolson commented on #531
This is a bug in the invalidation/validation of mouse/touch pruning bounds.

This will also be able to fix some performance loss caused by excessive invalidation of mouse/touch pruning bounds.

[2016-03-11 05:54] jonathanolson commented on #520
The site lied!

Marking as deferred, MAY be able to remove the workaround when it is fixed in the browser (at least if we can detect newer versions).

[2016-03-11 06:21] #530 closed

[2016-03-11 06:30] jonathanolson commented on #512
?eall is failing out with the assertion:
[code]

This is either related, or should be tracked down first.

[2016-03-12 02:21] jonathanolson commented on #308
Proposed API:

- initializeWebGL( gl: {WebGLRenderingContext} ) : {Object}
- paintWebGL( gl: {WebGLRenderingContext}, object: {Object}, modelViewMatrix: {Matrix3}, projectionMatrix: {Matrix3} ) : {WebGLNode.PAINTED_SOMETHING|WebGLNode.PAINTED_NOTHING}
- disposeWebGL( gl: {WebGLRenderingContext}, object: {Object} )

Notable changes:

1. The return value of initializeWebGL will be provided as the ob

[2016-03-15 18:29] jbphet commented on #308
Caveat: My experience in using WebGLNode is limited to one time (for Neuron), so my perspective may not be particularly broad.  For the most part, it looks fine to me.  Here are a few thoughts and observations:
+ I like the new names better (without 'Drawable' on the end)
+ Maybe consider passing in the configuration object rather than requiring initializeWebGL to allocate and return it.  I don't

[2016-03-15 21:41] jonathanolson commented on #308
I considered this, but I see some advantages to allowing WebGLNode subtypes to type the object themselves (initializeWebGL in ParticlesWebGLNode creates ParticlesState, etc.)

Thoughts (discuss on Skype text?)

It is being used in ParticlesWebGLNode (below, ```drawable.webGLBlock.projectionMatrixArray```), and would be presumably used by almost every WebGLNode.

[code]

I'll plan to update all cur

[2016-03-16 23:31] jonathanolson opened #534 "[branch] webglnode-1"
Option 1 for WebGLNode implementation (https://github.com/phetsims/scenery/commit/9af8c876ed5a2d9e70e5938f64ddfd0a05fe8595) in https://github.com/phetsims/scenery/issues/308

[2016-03-16 23:32] jonathanolson opened #535 "[branch] webglnode-2"
Option 2 for WebGLNode implementation (https://github.com/phetsims/scenery/commit/a167551944a6f89932a3f86d1aae8f3bdb4a948d) in https://github.com/phetsims/scenery/issues/308

[2016-03-16 23:33] jonathanolson commented on #308
Tagging with meeting:developer to discuss which approach seems better.

[2016-03-17 15:33] phet-steele commented on #514
@jonathanolson bug has been reported as fixed. I'll check it out in future chrome updates.

[2016-03-17 15:44] samreid commented on #308
I'm not understanding the "webglnode-2" approach too well, can you elaborate on what it means?

[2016-03-17 15:56] jonathanolson commented on #308
Yes, I'll type up a full description (so I don't have to talk much during the meeting).

[2016-03-17 16:14] jonathanolson commented on #308
Option 1 is basically what was proposed earlier, although instead of "object", it's called "references". Recommend viewing https://github.com/phetsims/scenery/blob/9af8c876ed5a2d9e70e5938f64ddfd0a05fe8595/examples/webglnode.html. The main functions are still on the WebGLNode itself, and the references/context are passed to paint/dispose calls.

Passing through the references/context felt a bit lik

[2016-03-17 17:09] samreid commented on #308
Why is `this.node = node;` in the TriangleNode constructor?  It it extraneous or required for the system to work properly?

[2016-03-17 17:12] jonathanolson commented on #308
In TrianglePainter? It looks like it's not necessary, but in most cases would be, since you may want to access the node's current state in the paint() function.

[2016-03-17 17:18] samreid commented on #308
I like the option 2 quite a bit, where the init() things are done in the constructor and nothing needs to be subclassed--though we should add assertions into the WebGLNode constructor to make sure the Painter implementation has the required methods `paint` and `dispose`.

[2016-03-17 17:24] samreid commented on #308
How does Option 2 deal with the DAG issues?  The DAG issues required us to move references from the `this` to a separate `references` variable in Option 1, aren't storing references in the Painter going to have the same problem?

[2016-03-17 18:00] jonathanolson commented on #308
I don't see how this would be a problem, as two instances of the Painter type would be created?

[2016-03-17 18:07] samreid commented on #308
[code]

[2016-03-17 18:15] jonathanolson commented on #308
I just added a console.log to TrianglePainter's constructor and created two TriangleNodes in option 2's branch. It prints out that two TrianglePainters were created.

Can you clarify how it would only create one?

[2016-03-17 18:24] samreid commented on #308
I see, you pass the constructor into the framework and it calls `new`, that seems good.

[2016-03-17 18:46] samreid commented on #308
Consensus: we'll continue with Option 2

[2016-03-18 02:17] jonathanolson opened #536 "Don't draw not-yet-loaded image elements in Canvas"
See https://github.com/phetsims/function-builder/issues/15

We'll want a better guard here:
[code]

[2016-03-18 22:00] jonathanolson commented on #536
Added checks, closing.

[2016-03-18 22:00] #536 closed

[2016-03-19 01:55] jonathanolson commented on #308
API changes and general support added for screenshots (e.g. renderToCanvasSelf/renderToCanvasSubtree).

Closing.

[2016-03-19 02:01] jonathanolson opened #537 "Buggy renderToCanvasSubtree"
Used for the screenshot ability, e.g. missing panel strokes in Charges and Fields:

Actual screenshot:
![charges-and-fields-actual](https://cloud.githubusercontent.com/assets/480878/13896025/d1fc7f08-ed43-11e5-87e2-b8e30022936d.PNG)

renderToCanvasSubtree screenshot:
![charges-and-fields-screenshot](https://cloud.githubusercontent.com/assets/480878/13896026/d921e35e-ed43-11e5-969e-f98fcc43d4f2.png

[2016-03-19 19:02] #503 closed

[2016-03-19 19:25] #537 closed

[2016-03-19 19:37] #535 closed

[2016-03-19 19:37] #534 closed

[2016-03-21 19:41] samreid opened #538 "Create our own Screen Reader"
From https://github.com/phetsims/scenery-phet/issues/227

From phetsims/balloons-and-static-electricity#134 we would like to display accessible text on the screen (possibly outside of the sim iframe), we will need to be able to navigate a virtual cursor across non-focusable (but accessible) items.

@jessegreenberg and I decided to work on this in master since (a) we don't know how long this code w

[2016-03-24 17:38] phet-steele commented on #514
Not yet fixed in latest update: 49.0.2623.108 m

[2016-03-24 23:04] jessegreenberg commented on #538
This is very much a prototype, but should serve to show the potential for this kind of tool.  Here is a deployed version:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-accessible-instance.13/screen-reader.html

@samreid also included the Web Speech API! Try it here :sound::
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-acc

[2016-03-28 19:55] phet-steele commented on #514
Nor 49.0.2623.110 m

[2016-03-29 20:53] samreid opened #539 "SpriteSheet dimension should be reduced"
In https://github.com/phetsims/energy-skate-park-basics/issues/343 @samreid and @jonathanolson identified that reducing the SpriteSheet dimension can solve memory issues.  We created a proposed change in SpriteSheet.js and Image.js but it needs to be tested with scenery unit tests and a full test suite.

[2016-03-29 20:53] samreid commented on #539
Unit tests are 100% passing:

![image](https://cloud.githubusercontent.com/assets/679486/14123496/0be2bf02-f5be-11e5-817d-77312c3e69e2.png)

[2016-03-29 20:54] samreid commented on #539
Simulation tests do not seem attributable to the new changes in Image.js and SpriteSheet.js:

Sim errors (dev):

expression-exchange
Uncaught TypeError: Cannot set property 'shape' of null
TypeError: Cannot set property 'shape' of null
    at Array.updateShapeAndPlusSymbols (http://localhost/expression-exchange/js/common/view/ExpressionNode.js?bust=1459279658373:114:30)
    at ObservableArray.inhe

[2016-03-29 20:56] samreid commented on #539
I'm not sure what this salmon color is for ESPB:

![image](https://cloud.githubusercontent.com/assets/679486/14123560/5e9e1b92-f5be-11e5-9d7f-333834054b3c.png)

[2016-03-29 20:59] samreid commented on #539
Similar issue for molecules-and-light:
![image](https://cloud.githubusercontent.com/assets/679486/14123657/dcb76cfe-f5be-11e5-83d7-c0197adef1ae.png)

[2016-03-29 21:03] samreid commented on #539
A run of espb by itself seems OK, perhaps something spurious was happening:
![image](https://cloud.githubusercontent.com/assets/679486/14123762/5d74c56c-f5bf-11e5-9375-63d20cc6bfb5.png)

I'll commit the scenery changes.

[2016-03-29 21:06] samreid commented on #539
Changes pushed above, @jonathanolson can you double check everything?

[2016-03-30 22:17] jonathanolson commented on #527
Updating title, as I believe I'll only be adding imageOpacity to images.

selfOpacity would heavily complicate Canvas drawing, as the fill and stroke for paths/text are drawn in two draw calls. selfOpacity presumably would apply to the combination, which requires the more complicated "create another Canvas, draw the result at full opacity for fill and stroke into it, then draw that Canvas into our

[2016-03-31 01:24] jonathanolson commented on #527
Added imageOpacity, closing.

[2016-03-31 01:24] #527 closed

[2016-03-31 01:25] jonathanolson opened #540 "Clipping and opacity in Canvas"
See https://github.com/phetsims/acid-base-solutions/issues/145 without imageOpacity workaround.

[2016-03-31 05:53] jonathanolson commented on #512
This was a case where a Canvas was split into two (due to opacity suddenly happening on the ABSwitch), and the original Canvas wasn't repainted due to a quirk of it being full-display (i.e. not fitted). Since the only change was an interval change, there were two renderings showing up of the period timer:

The correct one:
![scenery-canvas-good](https://cloud.githubusercontent.com/assets/480878/14

[2016-03-31 05:53] #512 closed

[2016-03-31 06:58] jonathanolson commented on #539
Looks good to me.

[2016-03-31 06:58] #539 closed

[2016-04-05 19:06] phet-steele commented on #520
New url for report: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/6831905/

[2016-04-12 22:14] pixelzoom opened #541 "need a variant of Image.setImage that allows you to specify dimensions"
In function-builder 'Patterns' screen, image operations are performed on Canvas ImageData. Then the Canvas is rendered using a scenery.Image node. The size of the Canvas can vary - the input PNG files vary in size, and the image operations can change the size.  So using `Image.image = canvas.toDataURL();` isn't sufficient.  We need a way to specify the Canvas dimensions, similar to options `initia

[2016-04-12 22:15] pixelzoom commented on #541
@jonathanolson and I looked at modifying (overloading) Image's `setImage` function, but that got overly complicated, and difficult to understand.   So we decided to add a new function:

[code]

[2016-04-12 22:27] pixelzoom commented on #541
Implemented as described above. Assigned to @jonathanolson for review.

[2016-04-12 22:30] pixelzoom commented on #541
Example usage in function-builder shown in above commit.

[2016-04-21 22:37] jessegreenberg commented on #538
The [Web Speech API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API) is pretty great, much more powerful than I initially thought.  What if we created a prototype screen reader with the web speech API that could be used as an alternative to other Assistive technologies?  The prototype could potentially behave much like the version in https://github.com/phetsims/scenery/issues/538#

[2016-04-23 12:29] samreid commented on #538
caniuse reports that text to speech also works in Safari and Mobile Safari:
http://caniuse.com/#feat=speech-synthesis

![image](https://cloud.githubusercontent.com/assets/679486/14761378/94525426-091c-11e6-8fec-ac6e455930ff.png)

[2016-04-23 14:52] jessegreenberg commented on #538
Ah, that is even better, thanks! I was going off of the table [here](https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API), which is likely out of date.

[2016-04-23 18:20] samreid commented on #538
It seems to me that the MDN table is referring to browsers that support both Text to Speech *and* Speech Recognition, while the caniuse page is referring to browsers that support just the Text to Speech feature.

[2016-04-23 18:29] samreid opened #542 "Noisy Heap Comparisons"
When looking for memory leaks by using Chrome heap snapshot comparison, scenery shows a pretty clean delta when nothing is happening in the simulation.  However, in CCK Basics when I create a wire node and then put it back in the toolbox, the heap comparison tool shows hundreds of new objects including new Emitters, SVGGelements, Instance, Fittability, etc:

![image](https://cloud.githubuserconten

[2016-04-25 17:54] jessegreenberg commented on #538
That makes sense, here is the table for speech recognition, which matches the MDN table.

http://caniuse.com/#search=speech%20recognition

[2016-04-25 17:59] samreid commented on #538
It occurred to me there may be other 3rd party apps that implement an in-browser screen reader.  This came up in a search, there are probably others: http://www.chromevox.com/

We would probably need to instruct that they should not use a native screen reader (such as NVDA, JAWS or Voiceover) with a custom in-browser screen reader (whether we write one or leverage a 3rd party one).

[2016-04-25 19:45] jessegreenberg commented on #538
ChromeVox is great and performs well with PhET sims.  I believe that @terracoda did some testing with users of ChromeVox for the web.  It does have its share of issues, especially with ```aria-live```.

It would be good to double check some of the web based screen readers, perhaps they would perform well enough for testing.  We haven't spent too much time investigating them because they are not ve

[2016-04-25 19:54] jessegreenberg commented on #538
Yes, that is true, though some users may be uncomfortable with disabling their reader.  I can imagine a feature that allows the user to turn our custom screen reader on and off.  We could recommend a screen reader that works really well while allowing it to be turned off so that a native device could be used if necessary.

[2016-04-25 20:00] jessegreenberg commented on #538
[WebAnywhere](https://webanywhere.cs.washington.edu/wa.php) is pretty neat, you can paste a link into the search bar and WebAnywhere will act as a screen reader to read the page.  It does take a long time to load more complex content and the synth voice is a bit harsh.

It looks like ReciteMe is actually a commercial group that outfits web pages with accessibility.

[2016-04-25 20:03] jessegreenberg commented on #538
Automatik Text reader is a plugin that works by selecting text to read with a cursor.  It is also a bit slow (at least on my machine), it takes >5 seconds before reading a selection of text.

I was unable to get Fire Vox to load :(

[2016-04-25 20:10] jessegreenberg commented on #538
It looks like ReadSpeaker would be used as an API and provides a bit more functionality than the Web Speech API, though it is commercial and likely quite expensive.

[2016-04-26 03:57] samreid commented on #542
Marking for developer meeting to make everyone aware of this issue, see if there are quick answers, prioritizing next steps, etc.

[2016-04-26 16:38] samreid commented on #542
@jonathanolson and @samreid will look into this.

[2016-04-26 18:35] samreid commented on #542
If I create multiple new battery nodes then do the same before/after test, then there are not too many new allocations:

![image](https://cloud.githubusercontent.com/assets/679486/14829822/be8ab8b0-0baa-11e6-9cb9-a6dc8a34d26b.png)

Perhaps the original issue description was due to code paths being run for the first time.  I'll reduce the priority of this issue and continue in https://github.com/ph

[2016-04-26 20:37] jessegreenberg commented on #532
Looks good @jonathanolson, thanks for fixing this!  I verified and observed the issue by going through the steps in https://github.com/phetsims/scenery/issues/532#issuecomment-193621877, and the commit above fixes this without breaking anything related to accessibility.  Closing.

[2016-04-26 20:37] #532 closed

[2016-05-02 18:06] phet-steele opened #543 "No grass on Edge (Under Pressure)"
See phetsims/under-pressure/issues/137 for original issue, copied here:

Reproduced with `?rootRenderer=canvas`. This makes the weights appear to float:
![nograss](https://cloud.githubusercontent.com/assets/5863899/14962752/a483e29a-105d-11e6-9a3f-0cd9cc385f32.PNG)

[2016-05-02 18:51] pixelzoom opened #544 "VirtualCursor issues"
1) Constructor contains a nested type definition, TimedQueue.  This type should be defined outside the constructor and namespaced.

(2) There are many functions defined in the constructor that look like they should be outside the constructor. Eg: getAccessibleText, clearVisited, goToNextItem, ...

[2016-05-02 23:16] jessegreenberg commented on #544
TimedQueue and functions have been moved out of constructor.  I also added a bit of documentation describing the purpose of file and some JSDoc.  Closing, but @pixelzoom feel free to review if you wish.

[2016-05-02 23:16] #544 closed

[2016-05-06 00:17] jessegreenberg commented on #538
The screen reader with the Web Speech API is coming along and is working very nicely.  It performs better in this context than many other screen readers we have used.  Next will be to implement additional strategies from sources such as http://webaim.org/resources/shortcuts/nvda or http://webaim.org/resources/shortcuts/jaws.  I am curious to hear about additional strategies that the team has obser

[2016-05-06 15:31] samreid commented on #538
To answer this, could you present examples of situations with assertive updates?  For the general case, you could envision assertive messages like this:

A1
B1
A2
B2
C1
A3
A4

where the letter is the type of message and the number is the message index, and we can imagine for the sake of argument that A1 was still reading when the other messages were produced.  Here are some possible rules for deal

[2016-05-06 22:28] jessegreenberg commented on #538
Sure, here is one example of the desired output from Capacitor Lab: Basics -

Imagine that the user just connected the charged capacitor to the light bulb:

	- (Capacitor disconnected from battery)
	- Capacitor connected to light bulb
	- Current is flowing
	- Light bulb is lit
	- Plate charge is 0.50 pico coulombs
	- Stored energy is 0.40 pico joules
	- Light bulb is less bright
	- Plate charge is

[2016-05-06 22:31] jessegreenberg commented on #538
Hmm, maybe we don't need to read everything when the sim is reset and it is assumed that the user remembers the initial state?

[2016-05-06 23:13] jessegreenberg commented on #538
Another question: Now that we *can* use the arrow keys to interact with a 'role=application' element, *should we*?  The trade-off is that the user can no longer read content with the arrow keys and the only way to leave the 'application' element is with 'tab' or 'shift + tab'.

[2016-05-09 22:13] jonathanolson commented on #543
Looks like a bug with Rectangle in particular, the optimization for drawing applies the actual transform to the rectangle (not just the pattern).

[2016-05-10 22:01] pixelzoom commented on #218
@jonathanolson What is the probability that this feature will be available by June 1, so that I can incorporate into Function Builder?

@ariel-phet What is the fallback plan for Function Builder if this feature is not available? Options:
• Ignore it? May cause the sim to  misbehave or even crash.
• Handle in a sim-specific manner? May push out Function Builder delivery date.
• Something else?...

[2016-05-10 23:29] jessegreenberg commented on #538
After playing around with some of the 'live' roles with dynamic descriptions in Balloons and Static Electricity, @samreid's suggestion

seems like it could be a great solution.  At the moment, balloon descriptions queue, so as the balloon travels from left to right we have updates like
- The yellow balloon is in the bottom of play area, near wall
- The yellow balloon is in the lower part of play a

[2016-05-11 00:34] ariel-phet commented on #218
@pixelzoom the fall back plan would probably be to test and as long as it does not crash the sim likely ignore it. We have generally been ignoring multi-touch issues.

Our users clearly do report bugs to us, and since we have no reported multitouch bugs from users, that at least suggests it is not causing a major issue in the "wild". Of course, that is merely an anecdotal lack of evidence, but I w

[2016-05-11 16:10] pixelzoom opened #545 "Unicode "mathematical small italic" characters don't render on mobile Safari"
Function Builder and Expression Exchange are using the Unicode "mathematical small italic" characters for x, y and z. See:

x : http://www.fileformat.info/info/unicode/char/1d465/index.htm
y : http://www.fileformat.info/info/unicode/char/1d466/index.htm
z : http://www.fileformat.info/info/unicode/char/1d467/index.htm

These characters look fine on Safari desktop, Chrome and Firefox. Here's a scree

[2016-05-11 16:10] pixelzoom commented on #545
Mentioning @jbphet since this affects Expression Exchange.

[2016-05-11 16:14] pixelzoom commented on #545
This issue can be demonstrated in Function Builder 1.0.0-dev.26 and master 791533fe7965fb124939f03247911fdf027be1bf.

[2016-05-11 16:20] jonathanolson opened #546 "Canvas improper invalidation bug"
See https://github.com/phetsims/under-pressure/issues/138

Reducing in priority now that it's been worked around in the sim.

[2016-05-11 16:22] #543 closed

[2016-05-11 16:39] phet-steele commented on #546
@jonathanolson bumping back up for Function Builder's sake: phetsims/function-builder/issues/30

[2016-05-11 17:33] pixelzoom commented on #545
Assigning to @ariel-phet to prioritize and assign.

[2016-05-11 18:56] phet-steele commented on #546
@jonathanolson @ariel-phet the Function Builder issue associated with this has been bumped to p1, is it safe to say to put this issue at p1 as well?

[2016-05-11 19:49] ariel-phet commented on #546
Will leave a p2 for @jonathanolson to decide

[2016-05-11 19:58] pixelzoom commented on #545
Relevant strings in function-builder-strings_en.json are:

[code]

[2016-05-13 20:20] phet-steele commented on #469
@jonathanolson @ariel-phet this has crept into a built version. Specifically in the about dialogue of Area Builder (1.1.0-rc.2) and the published version of BAA. @jbphet hypothesizes this is due to the "/n" in the large amount of QA credits. May be clue to what's causing this.

https://drive.google.com/file/d/0B3HJopSo_QqLNExQei1ZamVJUnc/view?usp=sharing

More info: Safari OSX 10.11.4, `?stringTes

[2016-05-17 16:18] pixelzoom commented on #218
5/17/16 @jonathanolson says 2% chance of it being ready by June 1.

Sounds like this isn't going to be addressed in the near term.  @ariel-phet I am going to ignore this in Function Builder unless you tell me otherwise.

[2016-05-17 17:24] ariel-phet commented on #218
@pixelzoom sounds like a plan

[2016-05-17 21:09] jonathanolson commented on #545
Do those need to be translatable? Images have been used before for that type of thing, e.g. Curve Fitting's "help" dialog.

Additionally, if it doesn't need to be translated, AND it seems potentially used across sims, it would be good to create paths so it is consistent across platforms.

If we need them to be translatable, it may be possible to patch in a "character replacement table" in Scenery'

[2016-05-17 21:20] pixelzoom commented on #545
Yes, they need to be translatable.

[2016-05-17 21:24] pixelzoom commented on #545
Skype:

[5/17/16, 3:22:07 PM] Jonathan Olson: For https://github.com/phetsims/scenery/issues/545, should I proceed by having Scenery's Text map those x/y values into actual "x" and "y"?
[5/17/16, 3:22:55 PM] Chris Malley: I don't think that's necessary. If we can't render those characters, then we should use a websafe serif italic font.

[2016-05-17 22:06] pixelzoom commented on #545
@jonathanolson would there be any problem with simply doing something like this?

[code]

[2016-05-17 22:21] jonathanolson commented on #545
Not opposed to just using built-in fonts, but I prototyped a quick way of embedding fonts (like we used with KaTeX). Using the default math font, it should appear like this on all supported platforms:

![formula-function-builder](https://cloud.githubusercontent.com/assets/480878/15341328/4785e800-1c4b-11e6-89fd-39d21c1e94e3.PNG)

We should be able to use whatever open-source font, however there's

[2016-05-17 22:49] pixelzoom commented on #545
Here's the look of "mathematical small italic" in the "Equations" screen of 1.0.0-dev.28:

![screenshot_152](https://cloud.githubusercontent.com/assets/3046552/15341928/dce3e142-1c4e-11e6-8042-178018a594a5.png)

The KaTeX math font look a little too curly, more similar to Unicode "mathematical small script".  And the team previously decided that they preferred "mathematical small italic" to "mathe

[2016-05-17 23:02] pixelzoom commented on #545
@ariel-phet Please have a look at this dev version, and let me know whether you agree that the built-in font looks fine for this application:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.29/function-builder_en.html

[2016-05-18 02:32] ariel-phet commented on #545
@pixelzoom built-in font looks fine.

[2016-05-18 18:28] pixelzoom commented on #545
We're going with built-in font, which has been encapsulate in scenery-phet.MathSymbolFont, for use by function-builder and expression-exchange.

Closing.

[2016-05-18 18:28] #545 closed

[2016-05-18 19:32] pixelzoom opened #547 "event.handle doesn't work with allowTouchSnag:true"
`event.handle` doesn't work with `allowTouchSnag:true`.

This was encountered during development of function-builder.  We worked around it by setting `allowTouchSnag:false`, but it's desirable in general for these features to play nice together.

From https://github.com/phetsims/function-builder/issues/29#issuecomment-219879387:

[2016-05-18 19:37] pixelzoom commented on #547
When this is fixed, please make a note in https://github.com/phetsims/function-builder/issues/49.

[2016-05-18 22:34] jessegreenberg commented on #538
@terracoda created this list of screen reader hotkeys, which shows the common navigation strategies used by NVDA and JAWS, and highlights their conflicts.
 https://docs.google.com/document/d/1Qqyyfthh3vIZhhtlc1DC78A50ler71035sl9HUgKg4c/edit?ts=573cdfb9#heading=h.2g1hpfksyljt

At some point we will probably want to support almost all of these.

[2016-05-18 23:38] terracoda commented on #538
@jessegreenberg Both the ESC key and the Close dialog button should be available to close the dialog. The ESC key is currently not working for me on Mac with Safari.

[2016-05-19 21:07] jessegreenberg commented on #538
Good catch @terracoda.  That is related to changes I made in https://github.com/phetsims/balloons-and-static-electricity/issues/141, so I am going to move this comment and track the fix there.

[2016-05-20 22:28] jessegreenberg commented on #538
In the commit above, Windows Chrome should no longer skip every other utterance, and Safari should no longer stutter at the beginning of the utterance.

[2016-05-25 15:20] jessegreenberg commented on #538
Above commit includes support for toggle buttons, role=button, and aria-grabbed.

[2016-05-25 16:19] jessegreenberg commented on #538
I am noticing that if an utterance is interrupted in Safari, all following messages behave as if they are assertive.

[2016-05-26 05:51] jonathanolson commented on #546
All testing I've done shows that the above commit fixes the issue.

[2016-05-26 15:47] jonathanolson commented on #540
Just noticed this is essentially a duplicate of https://github.com/phetsims/scenery/issues/518.

[2016-05-26 15:47] #540 closed

[2016-05-26 18:25] jessegreenberg commented on #538
For some reason, Safari will fire start and end events immediately for all utterances in the queue if they are added to the utterance queue after the synth.cancel() is called.  The last utterance is read.  The last utterance in the queue is read and returns to normal after when this last utterance reaches 'end' event.

[2016-05-26 18:29] phet-steele commented on #514
Fixed in 51.0.2704.63.

[2016-05-26 18:29] #514 closed

[2016-05-26 18:33] jessegreenberg commented on #538
Many properties in Safari stop working once cancel() is called for assertive updates.  synth.speaking, synth.pending, 'start' and 'end' events all stop firing once synth.cancel() is called if utterances are added immediately after cancel().

[2016-05-31 16:52] pixelzoom commented on #546
https://github.com/phetsims/function-builder/issues/30#issuecomment-221932391 reports that the problem may not be fully fixed.

[2016-06-01 19:34] pixelzoom commented on #218
If I ignore this in Function Builder, then the sim will misbehave (or possibly crash) if the Reset All button is touched while anything is being dragged.  So I will unfortunately need to implement a workaround (see commit immediately above).  And that workaround will need to be examined if/when support is added to scenery.

[2016-06-02 05:45] jonathanolson commented on #546
Will handle the number-5 case in that issue separately, as it appears to be a separate bug, and may be fixed by the Canvas work that is in progress.

[2016-06-02 05:45] #546 closed

[2016-06-05 20:35] terracoda commented on #538
@samreid @jessegreenberg I like the following idea discussed above:

[2016-06-07 02:55] pixelzoom commented on #518
In these high-priority function-builder issues:
https://github.com/phetsims/function-builder/issues/31#issuecomment-223349801
https://github.com/phetsims/function-builder/issues/32#issuecomment-223349920
https://github.com/phetsims/function-builder/issues/56#issuecomment-223352854

... @jonathanolson said:

So I'm raising the priority of this to high.

[2016-06-07 03:19] pixelzoom commented on #518
Abridged Skype discussion with @ariel-phet and @jonathanolson:

[6/6/16, 9:11:59 PM] Ariel Paul: Hmm, sounds like it would be good to take 15-30 minutes to give Chris at least a nosebleed view of the scenery internal changes
[6/6/16, 9:12:16 PM] Ariel Paul: If you both think that would be beneficial
[6/6/16, 9:13:17 PM] Chris Malley: We can try that, tomorrow if that's OK.  But I'm skeptical that

[2016-06-08 15:51] pixelzoom opened #548 "automatically adjust initial size in Image.setImage"
I keep running into this, most recently in https://github.com/phetsims/function-builder/issues/62...  If you try to do something like this:

[code]

Image assumes that any subsequent image will be the same size as the first one that you set. So in the example above, image1 and image2 had better have the same size, or things are going to (intermittently) fail.

Awhile back, @jonathanolson added `se

[2016-06-09 06:52] jonathanolson commented on #518
Should be implemented with the above commit.

@ariel-phet, I haven't done any specific performance tests for this (seemed fine on laptop), but it could somewhat slow Canvas rendering. Do you think it would be beneficial to have QA do a few tests before/after the commit on Edge?

[2016-06-09 07:03] jonathanolson commented on #548
```{ image: ..., initialWidth: ..., initialHeight: ... }``` is processed in an order that would allow us to say "setImage() resets the initialWidth and initialHeight", since initialWidth/initialHeight (in the options object) are handled after the image.

Seems quite reasonable, any objections?

[2016-06-09 15:04] pixelzoom commented on #548
I'm not totally clear on what you're proposing. Will `setImage` still take a single arg? Are you suggesting that we need to provide `{ image: ..., initialWidth: ..., initialHeight: ... }` as the arg if the image size is changing?

[2016-06-09 15:22] pixelzoom commented on #518
On Edge only, or on all platforms?

If on all platforms, then yes, let's compare before/after performance on iPad.  It there's a performance hit for this fix, we need to make sure it hasn't affected Function Builder (which relies heavily on canvas in the "Patterns" screen).

[2016-06-09 16:09] jonathanolson commented on #518
It only affects Scenery's Canvas handling, not Canvas in general. So it should only apply wherever ```renderer: 'canvas'```, which is done by default on Edge.

It should NOT affect SVG rendering (which is used for other platforms in function-builder), or the drawing of Canvases used in the sim (since Scenery isn't rendering them directly, I believe).

[2016-06-09 16:10] pixelzoom commented on #518
Great, thanks for the clarification.

[2016-06-09 16:12] jonathanolson commented on #548
setImage would still take a single argument, but would always clear initialWidth/initialHeight.

Then setImageWidthSize would be equivalent to ```image.mutate( { image: image, initialWidth: width, initialHeight: height } )```, or ```image.image = image; image.initialWidth = width; image.initialHeight = height;```.

[2016-06-09 19:04] pixelzoom commented on #518
6/9/16 dev meeting:

@phet-steele Please test performance on Edge by basically testing the worst-case scenario reported in https://github.com/phetsims/function-builder/issues/36.  Procedure is:

1. start function-builder
2. go to Patterns screen
3. load up output carousel with 2 instances of each card
4. builder the infamous "MysteryC + Warhol + Warhol" in builder
5. pop a function in/out of build

[2016-06-09 19:23] phet-steele commented on #518
@pixelzoom I see no discernible difference.

[2016-06-09 19:27] pixelzoom commented on #518
Thanks @phet-steele.   @jonathanolson feel free to close if there's nothing else to do here.

[2016-06-09 19:28] jonathanolson commented on #548
Done

[2016-06-09 19:48] #518 closed

[2016-06-10 14:07] samreid opened #549 "Assertion error for bad initialWidth"
Based on changes in #548, @phetsims/martin identified a problem in Plinko Probability:

initialWidth was specified as 18.4 but the image width is 18

Here's the line from plinko probability that creates the image:

[code]

It is unclear whether it is the client's responsibility for making sure the width and height are integral, or scenery should do Math.floor() when checking whether image.width===

[2016-06-10 14:11] samreid commented on #549
Perhaps scenery should assert that initialWidth and initialHeight are integral in toDataURLNodeSynchronous and related methods.

[2016-06-10 14:12] samreid commented on #549
@phetsims/martin can you try this code for now?

[code]

[2016-06-10 14:13] samreid commented on #549
Until this is fixed, other sims could suffer from the same problem.

[2016-06-10 14:31] veillette commented on #549
passing  integer values for width and height fix the assertions problems

[2016-06-10 22:54] pixelzoom commented on #548
Reopening. This change broke function-builder, see https://github.com/phetsims/function-builder/issues/67#issuecomment-225314732.  Top priority.

[2016-06-10 23:07] pixelzoom commented on #548
I have revert these changes:

@jonathanolson https://github.com/phetsims/scenery/commit/533a56b54e358630f64051b59e009f3cc2f7f6cd (because it broke function-builder)

@samreid https://github.com/phetsims/scenery/commit/3a3e5109466c643c75b43e639798c60f92292039 (because the commit message seems to indicate that this was committed accidentally)

[2016-06-10 23:12] pixelzoom commented on #548
Since the problem was showing up in function-builder calls to Image.setImageWidthSize, I'm guessing that this change buggered up that function.

[2016-06-10 23:36] pixelzoom opened #550 "various cleanup in Image.setImage"
Noted while working on https://github.com/phetsims/scenery/issues/548...

These things would make `Image.setImage` more maintainable and less flakey.

(1) The `image` parameter *really* needs some documentation.

(2) The first `if` expression is ridiculously complicated.  Recommended to break it down into logical chunks, assigned to vars with names that indicate what is tested.

```222 if ( this._

[2016-06-11 00:17] jonathanolson commented on #550
It's currently in the Image constructor (since it's a required parameter in the constructor), which doesn't help when someone looks at setImage(). Would you recommend a "See the constructor" note, a "see setImage()" note in the constructor, or documentation in both places?

[code]

Definitely will do. null is basically disallowed now, and that should also be removed from the type check.

It's not

[2016-06-11 00:23] pixelzoom commented on #550
This would be fine:

```@param image - see constructor```

[2016-06-13 15:06] pixelzoom commented on #548
Highly recommended not to work on this until after function-builder is published.

[2016-06-13 21:47] samreid commented on #548
Removing developer meeting label and we can re-evaluate after function builder is published.

[2016-06-14 15:42] alynne-phet commented on #469
@jessegreenberg I see this in CLB 1.0.0-dev.22 with `?stringTest=double` and OS X 10.11.5 Safari. The voltmeter text exhibits this issue when it is initially taken out of the box. This issue seems to fix itself once you take a voltage measurement.

For phetsims/tasks/issues/615

Screenshots:
![image](https://cloud.githubusercontent.com/assets/19288972/16049148/e1456bb8-3213-11e6-9d04-de14a72a4cb8.

[2016-06-14 16:33] phet-steele commented on #469
Similar to https://github.com/phetsims/scenery/issues/469#issuecomment-150771926, `?stringTest=double` works like this:

`stringTest === 'double' ? string + ':' + string`

The colon concatenation is most likely to blame for the voltmeter problem directly above.

[2016-06-14 16:53] pixelzoom commented on #469
There has been at least one other issue similar to this, but I can't find it. I seem to recall that string concatenation (like what @phet-steele points out is being done for `stringTest=double`) causes problems because of the directional embedding marks that are added to translated strings.  There may be something in phetcommon.StringUtils that should be used in this case, instead of '+' concatena

[2016-06-14 16:58] pixelzoom commented on #469
Probably related to https://github.com/phetsims/scenery/issues/520, which is not resolved.  A pile of stuff was first added to StringUtils to address directional embedding marks, and then that stuff was moved to scenery for the reasons enumerated in https://github.com/phetsims/scenery/issues/520#issuecomment-190303019.  No idea what the status of this work is.  If it's only a problem with stringTe

[2016-06-15 17:16] samreid commented on #549
Let's work on this after Function Builder is published.

[2016-06-17 19:38] phet-steele opened #551 "Screenshots not disposing of WebGL contexts"
We probably aren't disposing of WebGL context correctly after taking a screen shot. Evidence of this occurs in the console after many consecutive screen shots (amount varies) from the phet menu:

`WARNING: Too many active WebGL contexts. Oldest context will be lost.`

I was able to do this in ESPB.

[2016-06-20 14:47] pixelzoom opened #552 "bring documentation up to PhET standards"
6/16/16 dev meeting: Decided to create this issue, as a first step towards improving knowledge sharing.

[2016-06-21 20:18] ariel-phet commented on #552
unassigning for the moment, will revisit in September 2016

[2016-06-22 20:40] jonathanolson commented on #552
Seems like an extension of https://github.com/phetsims/scenery/issues/459 (as I've been doing annotations and documentation at the same time). Should we close that issue and leave this one?

[2016-06-28 15:34] jessegreenberg opened #553 "Add getter for a Node's parallel dom element"
It would simplify accessibility code significantly if we can reference a node's parallel dom element directly.  At the moment, we need to look through accessible instances to find the element in the dom.

From https://github.com/phetsims/john-travoltage/issues/99.

Now would be the best time to standardize the name for the dom element.  Right now, it is generally called `domElement` but that does

[2016-06-28 15:38] jessegreenberg commented on #553
I like accessibleDOMElement most.

A node can have multiple AccessibleInstances, like how there can be multiple instances of a node for the DAG.  Maybe we can follow a pattern similar to ```Node.parentToGlobalPoint``` so we can get the DOM element when there is only one accessible instance.

[2016-06-30 12:49] veillette opened #554 "Tapping screen on an iPad2 slows down the simulation"
While investigating https://github.com/phetsims/plinko-probability/issues/26, we found that tapping plinko-probability slows down the animation. On the second tab, playing the simulation in continuous mode on iPad2, and tapping the blue background slows down the rendering from 45fps to 20fps.

Here is the link to the dev version.
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0

[2016-06-30 13:21] veillette commented on #554
I have tried to reproduce on a MondoPad (a giant touchscreen, running windows 7) using chrome 51.0.2704 but to no avail. The MondoPad runs plinko at 60fps no matter how much tapping we do (we tried with 30 fingers of tapping). For reference, tapping down with 5 fingers repetitively bring the iPad to 2fps.

[2016-06-30 16:37] jessegreenberg commented on #554
I just tried to observe this issue in rutherford-scattering and plinko-probability, but I could not reproduce in iOS 9.3.1 with an iPad2.  I tried tapping repetitively with 1-5 fingers.

[2016-06-30 18:43] pixelzoom commented on #554
6/30/16 dev meeting:  Suggested to try built version with all query parameter options off. Also try with and without other tabs open in the browser.

[2016-06-30 19:04] jessegreenberg commented on #554
I just tested this plinko-probability 'Lab' screen in requirejs.  The frame rate hovers around 26 fps.  When I repeatedly tap the blue background with 5 fingers, the fps drops to 16.

[2016-06-30 20:16] memo330179 commented on #554
It would also be worth looking into inputs. Pressing a button on any simulation on the iPad causes the fps to drop. If a button is pressed repeatedly then the fps can drop to below 10. This is true for most simulations, but most simulations don't involve much button pressing by design. For Plinko being able to press a button repeatedly is necessary for the simulation to work properly.

[2016-07-01 20:48] jonathanolson commented on #554
I'd recommend checking what is hit tested, and how expensive it is to hit test. You can run popupDebug and look for the "hits" text in the output to see what is hit tested. Remember that hit-testing Path is much more expensive than hit-testing the optimized versions (Circle,Rectangle/etc.)

[2016-07-01 22:19] pixelzoom commented on #221
Here's another example that caused some head scratching in function-builder, see screenshot below.

The areas indicated with green arrows are buttons for scenery-phet.NumberPickers that are on the second page of the carousel (which uses clipArea to show 1 page at a time).

The areas indicated with orange arrows are two buttons that are inside a scenery-phet.Drawer that is currently closed, which a

[2016-07-01 22:28] pixelzoom commented on #221
Here's another example that caused some head scratching in function-builder, see screenshot below.

The areas indicated with green arrows are buttons for scenery-phet.NumberPickers that are on the second page of the sun.Carousel. Carousel uses `clipArea` to show 1 page at a time.

Orange arrows are two push buttons that are inside a scenery-phet.Drawer that is currently closed. Drawer uses `clipAr

[2016-07-04 13:35] jobara commented on #553
@jessegreenberg what would happen in the case of multiple accessible instances. `Node.parentToGlobalPoint` seems to fail in similar case, if that happens here, how would one access the accessibleDOMElement?

[2016-07-05 16:26] jessegreenberg opened #555 "Restrict DAG support for accessible content"
For accessibility, it will be necessary to restrict DAG support.

[code]
If the accessible DOM element of the accessibleContent has a unique id, it can produce something like:
![capture](https://cloud.githubusercontent.com/assets/6396244/16591268/4a64f5fc-4298-11e6-842d-7c0dbf75c756.PNG)

We have two elements in the DOM with the same ID, which is not valid.  We could catch when the user tries to a

[2016-07-05 16:33] pixelzoom commented on #528
Reopening. This is still failing in resistance-in-a-wire and all sims that use SubSupText.  It came up during code review of function-builder, in https://github.com/phetsims/function-builder/issues/84.

[2016-07-05 16:38] pixelzoom commented on #528
I'm also unclear on the Rosetta-side implications of this. Do we have a translation problem that we don't know about for sims that use SubSupText?

[2016-07-05 16:43] jessegreenberg commented on #553
I think that in the case of multiple instances, the function should fail with an assertion because the instance is not uniquely defined for the node.  But maybe we should reconsider DAG support for accessibility since we are creating a DOM tree.  I just opened https://github.com/phetsims/scenery/issues/555 about this.

If we use multiple accessibleInstance with DOM elements that need to be referen

[2016-07-05 16:43] pixelzoom commented on #528
Assigning to @ariel-phet because (1) @jonathanolson is on leave, and (2) this impacts all sims that use SubSupText (acid-base-solutions, beers-law-lab, build-a-molecule, graphing-lines, molarity, ph-scale, reactants-products-and-leftovers, resistance-in-a-wire,...)

[2016-07-05 16:57] jbphet commented on #528
In one of the comments above, @pixelzoom asks,

There is a chance that a user could mess up a SubSupText string and cause the simulation to not run correctly, which is what issue https://github.com/phetsims/rosetta/issues/130 is all about.  As @jonathanolson says above, this is not a cross site scripting vulnerability, it's just an issue for the sims themselves.  To our knowledge, none of the tran

[2016-07-05 17:06] pixelzoom commented on #528
Then is shouldn't cause an assertion failure with stringTest=xss, non?  Otherwise we can't fully test XSS, since there may be other issues that occur after this incorrect failure.

[2016-07-05 19:15] pixelzoom commented on #221
Further confirmation that this issue makes checking pointerAreas confusing: https://github.com/phetsims/function-builder/issues/85

[2016-07-07 18:59] samreid commented on #528
Perhaps the solution is as simple as: "the stringTest=xss test should be run with assertions disabled" ??

[2016-07-11 19:41] ariel-phet commented on #528
We are currently going to ignore for function builder, and address this when @jonathanolson returns from leave

[2016-08-02 16:20] phet-steele opened #556 "Image transparency in iOS 10 Beta"
There's a problem with images, originally reported in phetsims/unit-rates/issues/16, where it appears iOS 10 Beta does not handle transparency well. Some examples comparing iOS 10 (left) & 9 (right):

Expression Exchange 1.0.0-dev.14
![img_0008](https://cloud.githubusercontent.com/assets/5863899/17335852/cd01e57c-5898-11e6-9ab3-bd503323124d.PNG)

States of Matter 1.0.0-dev.7 (10 top, 9 bottom)
![i

[2016-08-05 18:08] pixelzoom opened #557 "fuzzMouse is insufficiently documented"
Most recently, this came up in a Skype discussion:

[8/5/16, 12:05:02 PM] Sam Reid: is the fuzz mouse parameter the number of events per frame?
[8/5/16, 12:05:11 PM] John Blanco: I believe so.
[8/5/16, 12:05:49 PM] Chris Malley: fuzzMouse is insufficiently documented in initialize-globals.js.
[8/5/16, 12:06:29 PM] Chris Malley: There's no indication that it takes a value, what the semantics of the

[2016-08-05 18:12] samreid commented on #557
I tried fuzzMouse=2 and am seeing this data stream:

[code]

That is, it seems like there is not always 2 random events per frame.

[2016-08-05 18:16] pixelzoom commented on #557
Looks like it might be an average, not a fixed number of events per frame.  In Sim.js:

[code]

[2016-08-05 18:21] pixelzoom commented on #557
My best-guess documentation for fuzzMouse has been added to initialize-globals.js. @samreid can you please review?

[2016-08-05 18:37] samreid commented on #557
Yes, it seems consistent with the docs in joist and the behavior I have observed, thanks, closing.

[2016-08-05 18:37] #557 closed

[2016-08-05 21:05] phet-steele commented on #556
This is fixed in the newest release of iOS 10 Beta 3 (hooray!). Closing until it comes up again.

[2016-08-05 21:05] #556 closed

[2016-08-12 04:38] samreid commented on #542
I am still seeing large amounts of spurious scenery internals in the heap views, while I have been working on CCK: Black box study, even if the simulation has been running long enough to have explored all code paths.  We should investigate this.

[2016-08-12 15:32] samreid commented on #542
Blast is coming out very clean after running for a few minutes:

![image](https://cloud.githubusercontent.com/assets/679486/17627797/be6fdf08-606f-11e6-8fff-2b216403021a.png)

[2016-08-12 15:37] samreid commented on #542
Blast with fuzzMouse=100 and screens=2 is a bit messier:

![image](https://cloud.githubusercontent.com/assets/679486/17627965/6ab51832-6070-11e6-89aa-96b6aa65397f.png)

[2016-08-12 15:44] samreid opened #558 "Mouse.up requires new instance"
In looking to reduce scenery heap allocations in https://github.com/phetsims/scenery/issues/542 I tried to `setXY` on the `_fuzzMousePosition`, only to find that `Mouse.up` is checking instance equality.  So it seems like Mouse.up requires the creation of garbage--I'm wondering if this is still necessary or if it can be replaced by a more garbage friendly implementation.

@jonathanolson would be b

[2016-08-12 15:54] samreid commented on #542
Almost all of the noise is from NavigationBar.js, when I tried making it unpickable, most of the noise disappeared.  Here's what remained:

![image](https://cloud.githubusercontent.com/assets/679486/17628504/c6c65986-6072-11e6-8289-9efa82544482.png)

[2016-08-12 19:16] samreid commented on #542
I may work on this more next time I am memory profiling.  Before I go, I wanted to comment something about a misunderstanding I had with the heap comparison tool (seems obvious in retrospect).  If MyClass has a Vector2 instance which is replaced 1000 times between snapshots, the deltas will show up as +1, -1.  That is to say, one Vector2 deleted and one Vector2 allocated.  When looking for memory

[2016-08-15 17:04] jonathanolson commented on #558
Can you clarify why this would need an extra vector?

It's using Pointer.hasPointChanged, which also checks x and y.

[2016-08-15 17:07] samreid commented on #558
The implementation of `hasPointChanged` is:

[code]

If we reuse the same `Vector2` instance (even if its x and y values are mutated), `hasPointChanged` will still return false.

[2016-08-15 17:41] samreid commented on #542
@jonathanolson and I discussed this a bit today and agreed it would be nice to collaborate on this when the time is right, with the possibilities of (a) coming up with rules about how to understand and look past the scenery noise or (b) finding ways to get rid of the scenery noise in the first place (if possible).

[2016-08-25 15:48] jessegreenberg opened #559 "Abstract API for accessible content in scenery"
At the moment, adding accessibility features to a simulation requires knowledge of accessible HTML and the structure of the parallel DOM.

It would be nice if some of this were abstracted so that creating accessible content in a sim requires no knowledge of these things.  The client shouldn't have to reference the document for accessibility.

[2016-08-26 20:22] samreid commented on #16
Today I saw https://github.com/devongovett/fontkit which purports to load font files, render as glyphs, provide accurate bounds, etc.

Shipping desired fonts is one path to getting reproducible playbacks across platforms.

[2016-08-26 20:30] pixelzoom commented on #16
Shipping fonts sounds like a nightmare for i18n.

[2016-08-26 20:52] jonathanolson commented on #16
Looks nice, like a more fleshed-out version of the Scenery harfbuzz branch that is capable of loading fonts, rendering and doing exact metrics. Much less hacky.

Yup, that's really the reason I haven't further investigated this.

[2016-08-26 21:02] samreid commented on #16
Yes, I agree that "nightmare" is the appropriate word here.  But on the other hand, Noto sans supports 581 languages.  On the other hand, it weighs 449KB.

[2016-09-01 17:20] pixelzoom opened #560 "Color calls parseInt without radix argument"
Color.js:

[code]

[Documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt) for `parseInt` says:

[2016-09-01 17:21] pixelzoom commented on #560
Oops, sorry, I mis-parsed the above line. Not a problem. Closing.

[2016-09-01 17:21] #560 closed

[2016-09-02 18:13] jonathanolson commented on #552
Tagged for developer meeting to discuss the most important missing documentation (what should be improved first).

[2016-09-06 05:32] samreid commented on #552
At the top of my list would be method jsdoc, including but not limited to: visibility as described in https://github.com/phetsims/tasks/issues/307#issuecomment-136479336, `@param` type annotations and a brief description of why that method exists and how it fits into the big picture.  Next up should be visibility annotations for member variables (attributes).

Also important: I'd like to see a lis

[2016-09-07 05:34] #278 closed

[2016-09-07 16:19] pixelzoom commented on #552
@jonathanolson asked

Documentation for fields and function, as specified in the PhET standards (visibility tags,  @param tags with type expressions, etc.)  Focus on stuff that's in the part of the API that gets used by programmers first, followed by stuff that falls under the "scenery internals" category.

[2016-09-07 17:13] pixelzoom commented on #17
Discussion moved from phetsims/sun#19 to https://github.com/phetsims/sun/issues/257.

[2016-09-08 18:08] samreid commented on #552
For instance, Path.js is missing JSDoc.

[2016-09-08 18:10] samreid commented on #552
@ariel-phet asks: is there an eslint rule that can check for JSDoc?

[2016-09-08 18:22] pixelzoom commented on #552
eslint rules for JSDoc:

http://eslint.org/docs/rules/valid-jsdoc
http://eslint.org/docs/rules/require-jsdoc

... and there are others, do a search on "eslint JSDoc".

[2016-09-10 01:07] samreid opened #561 "Would SVG screenshots work for playback?"
We were investigating another way to support record and playback for research studies, one that is more robust than recording input events.  I tried recording PNG screenshots, but it slowed down the performance quite a bit.  What about creating "mostly svg" screenshots by getting the scenery div svg tree?  Or even just saving the entire page HTML/css?

[2016-09-10 01:37] samreid commented on #561
I tried the strategy at http://stackoverflow.com/questions/1750815/get-the-string-representation-of-a-dom-node and it worked pretty well aside from the embedding marks:

![image](https://cloud.githubusercontent.com/assets/679486/18407094/c73a75ba-76c4-11e6-9492-a5d603117868.png)

[2016-09-10 01:51] samreid commented on #561
document.body.innerHTML works surprisingly well, but no WebGL.

[2016-09-10 02:04] samreid commented on #561
Accessing the innerHTML is very fast, but it something like 144,443 characters per frame for bending light.  This is showing up as 145KB on my filesystem.  It should be very compressible but that could slow things down.  Perhaps we should re-investigate capturing small intermittent screenshots as a "ground  truth" check against input event recording.

[2016-09-12 15:20] jonathanolson commented on #561
I've used this approach for pixel-comparison unit tests, see Display.foreignObjectRasterization. There's some extra code that searches for Canvas elements, looks up their pixel content, and then replaces them with an image (with a data URL for the Canvas content).

For WebGL, this works, but requires the preserveDrawingBuffer Display flag (which triggers that on the WebGL Context, and can potentia

[2016-09-12 16:55] jonathanolson opened #562 "[branch] cleanup"
I'll have a separate branch for cleanup so I can commit quickly, and only do thorough tests when I need to merge to master.

[2016-09-15 22:10] pixelzoom opened #563 "use self for closure variable"
After discussion at 9/15/16 developer meeting, PhET has standardized on the name used for the closure variable whose value is `this`:

```var self = this;```

Please update this repository accordingly.

[2016-09-15 23:15] samreid commented on #563
I'm going to do this shortly.

[2016-09-15 23:15] samreid commented on #563
Unit tests are passing before my changes:
![image](https://cloud.githubusercontent.com/assets/679486/18570531/11107e1c-7b68-11e6-8755-d54b7fd35c45.png)

[2016-09-15 23:25] samreid commented on #563
Unit tests passing after fixing these:
![image](https://cloud.githubusercontent.com/assets/679486/18570658/281c2592-7b69-11e6-8744-377505d13943.png)

Grunt is passing.

Built Blast is running fine.

Committing.

[2016-09-15 23:26] samreid commented on #563
Fixed, closing.

[2016-09-15 23:26] #563 closed

[2016-09-16 00:14] pixelzoom opened #564 "lint errors"
After adding eslint rules related to switch statements (https://github.com/phetsims/chipper/issues/485), scenery is failing lint.

[code]

Since this prevents all sims from building, I'll take care of it.

[2016-09-16 00:18] pixelzoom commented on #564
Some of the above errors are due to kite and dot.  I'll fix those as part of this issue.

[2016-09-16 00:23] pixelzoom commented on #564
Fixes pushed. @jonathanolson please review.

[2016-09-19 15:26] jessegreenberg commented on #41
We are ready to investigate adding this for accessibility.  @jonathanolson would you be able to help work on this?  I will need some help integrating this into Scenery.

This could improve discoverability of sim components and add add navigation strategies for touch and mouse devices with a screen reader enabled.  There are a few things that are not immediately obvious to me about DOM styling:
- C

[2016-09-19 19:25] jessegreenberg opened #565 "Add a parent container element for accessible DOM nodes"
It is possible to add child container to a DOM element, but it is not possible to create a parent container for structuring the parallel DOM.  For instance, one can create an AccessiblePeer such that the parallel DOM will be structured like so:

[code]

This is problematic because not all content can have a children.  It would be helpful if elements could specify a parent container, so that the el

[2016-09-19 19:35] ariel-phet commented on #41
@jessegreenberg lets mark this as low priority for now, please bump up to medium priority once @jonathanolson is working on make-a-ten as his main project (tentatively within the next couple of weeks)

[2016-09-22 18:15] pixelzoom opened #566 "improve documentation for pickable"
From 9/22/16 developer meeting notes:

    // pickable: true - Node (and subtree) is pickable, just like if there is an input listener
    // pickable: false  - Node is unpickable (only has an effect when underneath a node with an input listener / pickable: true set)
CM: This doc is self-referential (pickable defined using pickable). And how am I supposed to know to look on line 130? setPickable d

[2016-09-22 19:24] pixelzoom commented on #80
This issue was resurfaced, see https://github.com/phetsims/plinko-probability/issues/93.   Reopening.

[2016-09-22 19:25] ariel-phet commented on #80
Assigning @aadish to try make a minimum reproducible case

[2016-09-23 18:00] samreid opened #567 "Decide on scenery/kite/dot builds"
From https://github.com/phetsims/chipper/issues/445#issuecomment-249259516

(1) Would presumably mean removing or updating HTML documentation and examples, as they use the built versions, and would mean abandoning the original goal of allowing other projects to use Scenery/Kite/Dot. Due to PhET mostly using the in-code documentation (and I'm really not sure if anyone else is using them), it would

[2016-09-23 18:02] samreid commented on #567
Not exactly, it just means they would need to use chipper or requirejs.

[2016-09-23 18:06] jonathanolson commented on #567
Each project would need to write custom code to build / process and strip out assertions/logging, include dependencies in the proper order, etc. Thus it would probably take anyone else hours to investigate, integrate, and be able to actually start using it, right?

[2016-09-23 18:07] samreid commented on #567
Why couldn't they use chipper to do build/assertions stripping/logging/dependencies?

[2016-09-23 18:13] jonathanolson commented on #567
Are you saying we would recommend they use our requirejsBuild.js (part of our build system) to build something that wants to use Scenery? Or that we require them to run with nothing stripped out, loading all files dynamically (like in our requirejs mode)?

[2016-09-23 18:14] samreid commented on #567
Yes, they would use scenery like we use scenery.

[2016-09-23 18:19] jonathanolson commented on #567
Is that suggesting Scenery should only be used for simulations (which other projects could develop)?

I feel that forcing people to use requirejs and chipper is basically equivalent to saying "it's just for PhET development, or developing on PhET's codebase".

[2016-09-23 18:41] samreid commented on #567
No, you can use scenery in chipper builds without using joist.  For instance, here is a minimal main that uses scenery without making a simulation:

[code]
To make this more general, we would need to remove the requirement for the copyright statement and presence of the title.

[2016-09-23 18:46] samreid commented on #567
That gives me an idea--we could use a harness like the one above to require SCENERY/main, DOT/main and KITE/main then deliver uglified/non-uglified JS from chipper builds, then our customers could use it with global pattern.  Voila!?

[2016-09-23 18:58] jonathanolson commented on #567
Can you clarify what the process would be to use the require.js optimizer to uglify this, stripping out assertions/log lines, and produce a minified single JS file using chipper?

That sounds like what scenery/js/main.js is (with the wrap-start.frag and wrap-end.frag which check for lodash/jquery and expose the desired globals). I still don't see how chipper can currently build that like you descr

[2016-09-23 19:29] samreid commented on #567
Assigned to myself to elaborate on the proposed idea.

[2016-09-23 21:34] samreid commented on #567
Putting `require("scenery-main");` instead of `require(["scenery-main"]);` forces it to be synchronous.

[2016-09-23 21:37] samreid commented on #567
@jonathanolson and I discussed moving scenery/kite/dot to chipper builds and it seems promising.

Unit tests for requirejs mode, and built mode should be passing before we commit to master.  I may commit changes to a branch for now to keep track of our proposal.

[2016-09-23 21:39] samreid commented on #567
Here's an afterRequireJS.js change I won't commit to a branch:

[code]

[2016-09-23 21:46] samreid opened #568 "branch: chipper"
See https://github.com/phetsims/scenery/issues/567

[2016-09-23 21:48] samreid commented on #567
OK I checked some proposed changes into the build directory.  Still several things to do:

1. Synchronous loading (see comment above). Maybe we should make all our sims synchronous loading too.
2. make this work without lint.
3. chipper changes
4. test unit tests

@jonathanolson anything else before this moves to master?

[2016-09-26 18:36] pixelzoom commented on #567
Tail end of Skype thread:

[9/26/16, 12:30:49 PM] Sam Reid: > (1) Does it needs to be? Yes, the build artifact from a sim is an HTML file, the build artifact from scenery/kite/dot is a JS file.
[9/26/16, 12:31:10 PM] Jonathan Olson: There's a lot of shared code that can be shared anyways, but I don't mind if it's "grunt build-scenery", etc. to be a different task
[9/26/16, 12:31:54 PM] Chris Malle

[2016-09-26 18:56] samreid commented on #567
[9/26/16, 12:56:06 PM] Sam Reid: Do we still need scenery “_createSnapshot” grunt task?  I can add it to chipper, if so.
[9/26/16, 12:56:28 PM] Jonathan Olson: don't worry about adding it

[2016-09-26 19:01] samreid commented on #567
[9/26/16, 12:57:25 PM] Sam Reid: I’m stumped on getting requirejs to generate:  e("scenery-main")  instead of  e(["scenery-main"])  Any ideas?
[9/26/16, 12:58:08 PM] Jonathan Olson: if googling synchronous stuff didn't work, consider substring replacement as a workaround?
[9/26/16, 12:59:31 PM] Sam Reid: some discussion of it here, I’ll investigate: https://github.com/requirejs/almond/issues/42

[2016-09-26 19:01] samreid commented on #567
It looks like the proposed idea above is to drop `insertRequire` which is async and use wrap, which can contain sync code.

[2016-09-26 19:11] samreid commented on #567
Changing the wrap strategy to:

[code]
worked perfectly in the test.html harness.  The outputted code is: `e("scenery-main")` which loads synchronously.

[2016-09-26 19:12] samreid commented on #567
Testing FAMB build, everything seems good.

[2016-09-26 19:19] samreid commented on #567
I updated the JS Path in the compiled tests above, and the compiled tests are passing:

![image](https://cloud.githubusercontent.com/assets/679486/18848474/cdd1d362-83eb-11e6-985b-5c87afa3e595.png)

@jonathanolson all of bullets in https://github.com/phetsims/scenery/issues/567#issuecomment-249310666 are complete.  Anything else to do here?  If not, can you review?

[2016-09-26 19:21] samreid commented on #567
I skyped @jonathanolson

[2016-09-26 22:32] samreid commented on #567
@jonathanolson said:

[2016-09-26 22:37] samreid commented on #567
OK I merged `chipper` branch to master and deleted chipper branch.

[2016-09-26 22:37] samreid commented on #568
Branch deleted, closing.

[2016-09-26 22:37] #568 closed

[2016-09-26 22:40] samreid commented on #567
requirejs and built tests working in master.  I'll create kite and dot issues to do the same.

[2016-09-28 16:51] phet-steele opened #569 "Automated Testing Error (9/28/2016 9:30 AM)"
@samreid I believe you made a commit (a4009255f263f9cb5e52391ba3ceb322f23968ac) responsible for this. Error seen in EFAC.
[code]

[2016-09-28 17:23] pixelzoom opened #570 "[Safari 10] Large heap memory"
First noticed in https://github.com/phetsims/plinko-probability/issues/96, where you can find relevant details in the context of plinks-probability.

The Safari heap size is 2x-3x larger than Chrome.   And it was determined that this is not sim-specific, it affects all sims.

Assigning to @ariel-phet to assign and prioritize.  Since this affects all sims, and Safari 10 is relatively new, highly re

[2016-09-28 17:34] ariel-phet commented on #570
From the original issue:

@jonathanolson please add clarifying/investigation comments/

Since this issue does not appear to be affecting sim performance, marking medium priority, but would be good to understand more.

[2016-09-28 18:11] jonathanolson commented on #569
That's a merge commit that was originally my commit (I thought GitHub used to track that?)

Anyways, it looks like a bug in LightRayNode.js, passing a KiteLine to a Path as if it was a Shape.

[code]

[2016-09-28 18:12] jonathanolson commented on #569
I'll add an assertion to Path to make sure non-null things are actually Shapes.

[2016-09-28 21:17] andrewadare opened #571 "New error in EFAC: this._shape.isImmutable is not a function"
I'm wondering if e9485095e09c23162bde7b32ec81c481647df362 is what's causing Energy Forms and Changes to fail on load today:

![image](https://cloud.githubusercontent.com/assets/154163/18932638/8c1ed5f6-858e-11e6-8afd-59ee76e3f07a.png)

[2016-09-28 21:21] andrewadare commented on #571
The error is occurring [here](https://github.com/phetsims/energy-forms-and-changes/blob/8b5216d1d41d4a766165a89daff994fa17cb291a/js/energy-systems/view/LightRayNode.js#L165), in a constructor for a Path object.

[2016-09-28 21:23] phet-steele commented on #571
@andrewadare this is reported in #569.

[2016-09-28 21:26] andrewadare commented on #571
@phet-steele thanks, I started bisecting but no need; looks like @jonathanolson is on the case.

[2016-09-28 21:32] jonathanolson commented on #569
Added assertion in cleanup branch, closing.

[2016-09-28 21:32] #569 closed

[2016-09-28 21:42] jonathanolson commented on #571
I added the assertion that detects the invalid input that EFAC is providing to the Path on a Scenery branch (in https://github.com/phetsims/scenery/issues/569).

I haven't worked with the code of this sim before, but I believe the buggy code to create the local variable strokedLineShape could be replaced with:
[code]

That said:

1. Usually you want to pass a LineStyles object to getStrokedShape()

[2016-09-28 21:57] andrewadare commented on #571
@jonathanolson Your proposal to make a Shape.intersectsLineSegment() function would be great. I remember looking for exactly that when I was porting this. LightRayNode.java had this function:
[code]
I would much prefer to make a simple call to a library function than implement an approximate (and buggy) stand-in.

[2016-09-29 00:25] jonathanolson commented on #571
So I realized that the intended use may have been whether the interior (filled area) was intersected by the line segment (true if the line segment is fully contained in the Shape), but wasn't sure.

If the intention was to return true only if the line segment intersected the path of the Shape, let me know and it's actually easier to implement (basically remove the midpoint check, and would probabl

[2016-09-29 15:23] andrewadare commented on #571
Thanks @jonathanolson, I think this new function does just what I need. I don't need to check for full containment of the line segment by the shape. I replaced my ported code in EFAC which fixes this issue.

[2016-09-29 20:18] #571 closed

[2016-10-06 06:17] jonathanolson commented on #567
Changes look great, thanks!

[2016-10-06 06:17] #567 closed

[2016-10-06 06:27] jonathanolson commented on #566
Where is the best place for the documentation? Ideally I'd like to have one location.

Does having documentation in front of setPickable (or equivalent for all node options) sound good, with all other sources (options documentation for constructor/mutate, implementation in constructor, etc.) pointing to that?

Note to self: use some of scenery/doc/#node-pickable's documentation for setPickable.

[2016-10-06 06:48] jonathanolson commented on #564
Looks good, thanks!

[2016-10-06 06:48] #564 closed

[2016-10-06 07:36] jonathanolson commented on #550
I believe this has been handled in Scenery's cleanup branch, can you verify/close? (Will be documenting rest of Image.js as a separate issue).

[2016-10-06 15:49] pixelzoom commented on #566
Yep.

[2016-10-06 16:10] pixelzoom commented on #550
Version in cleanup branch (https://github.com/phetsims/scenery/blob/cleanup/js/nodes/Image.js) looks way more better. Looking forward to it appearing in master.

Closing.

[2016-10-06 16:10] #550 closed

[2016-10-07 03:44] jonathanolson commented on #562
Merged to master.

[2016-10-07 03:44] #562 closed

[2016-10-07 21:54] jessegreenberg opened #572 "Long garbage collections after sim startup in Firefox"
In gravity-and-orbits (https://github.com/phetsims/gravity-and-orbits/issues/162) a very long garbage collection was observed after startup, taking anywhere from 300 to 2000 ms.  Below is an example of the Firefox memory profile where one can see the long collection.
![capture](https://cloud.githubusercontent.com/assets/6396244/18357596/ce0a93d2-75ae-11e6-85cc-cc47d37b615b.PNG)

I tried removing s

[2016-10-07 22:09] jessegreenberg commented on #555
Not an issue, DOM element id's are generated by trail which is guaranteed to be unique.

[2016-10-07 22:09] #555 closed

[2016-10-08 01:08] jonathanolson commented on #41
Here's a rough outline (by @jonathanolson and @jessegreenberg) for the general implemetation for positioning peers:

# Assumptions:

- Each peer has a width and height, and its normal bounds go from the upper-left corner (0,0) to (width,height)
- We can find a way to listen to how the peer's untransformed bounds change, so that we can just the transform (see http://stackoverflow.com/questions/6492

[2016-10-08 01:18] jessegreenberg commented on #41
I will take a look at this part in particular before implementing.

[2016-10-11 17:52] jessegreenberg commented on #41
The stackoverflow link recommends this: http://marcj.github.io/css-element-queries/

This is a library that could help detect DOM element bounds changes.  The library uses ResizeSensor.js, which detects resizing DOM elements.  css-element-queries allows you to add specific css properties to detect styling changes, and I don't think we want to use this.  But it might be possible to use only .

In s

[2016-10-11 17:55] jessegreenberg commented on #41
Perhaps instead of using ResizeSensor, we could use a [MutationObserver](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) to listen for things that might change bounds rather than listening to a bounds change directly?

Support for MutationObservers is pretty good at this point (http://caniuse.com/#feat=mutationobserver)

[2016-10-11 17:57] jessegreenberg commented on #41
ResizeSensor uses RequestAnimationFrame to observe changes.  MutationObserver is purely event based and might perform better.

[2016-10-11 18:31] jessegreenberg commented on #41
The MutationObserver allows you to specify a configuration so that you can listen to changes to text content, child nodes, and attributes.  You can even specify names of specific attributes for which mutations need to be observed.

[2016-10-11 19:18] jessegreenberg commented on #41
I think MutationObserver should work, do you agree @jonathanolson?

[2016-10-11 21:18] jonathanolson commented on #41
MutationObserver sounds good to me.

[2016-10-12 21:58] samreid opened #573 "foreignObjectRasterization doesn't handle some SVG elements properly"
Today @jonathanolson and I were looking into using Display.foreignObjectRasterization for rasterizing playback for https://github.com/phetsims/phet-io/issues/689 but after adding correct atob replacement found that some svg elements were not appearing in the output.

We will likely need to add a step like scanForCanvases that replaces SVG content appropriately.

[2016-10-12 23:00] samreid commented on #573
@jonathanolson recommended this as the strategy for rendering Susan's data with pointer overlay, though I could check and see whether Function Builder has any problem areas.

[2016-10-13 00:02] jonathanolson commented on #573
@samreid, foreignObjectRasterization has been updated, and should properly handle the SVG images now. Can you verify?

[2016-10-13 00:39] samreid commented on #573
It is working great for Function Builder.  I'll check that it solves the problem for acid base solutions too.

[2016-10-13 00:48] samreid commented on #573
Before the fix:

![image](https://cloud.githubusercontent.com/assets/679486/19332739/40d002f4-90ac-11e6-86a4-96dab5a8c5ce.png)

After the fix:
![image](https://cloud.githubusercontent.com/assets/679486/19332752/5c9209ec-90ac-11e6-9dcc-de32f68366c6.png)

And now I can use this for playback rasterization with pointers, thanks @jonathanolson! Closing.

[2016-10-13 00:48] #573 closed

[2016-10-13 05:26] jonathanolson commented on #566
Combined documentation to Node.setPickable (commit above). Can you review to see if there are any recommended changes?

[2016-10-14 16:34] pixelzoom commented on #566
Looks great. Closing.

[2016-10-14 16:34] #566 closed

[2016-11-02 22:36] pixelzoom opened #574 "Handling of 'wheel' input event was delayed"
Observed on Mac OS X 10.11.6 with Safari 10.0.1.

I saw this console warning several time when starting up unit-rates (d23b616a307bc7cc6d34eba238b97cde83883c23):

![screenshot_221](https://cloud.githubusercontent.com/assets/3046552/19949937/2bfc0656-a11a-11e6-8515-e24c55325296.png)

Input.js line 117 is:

[code]

The sim seemed to operate just fine.

[2016-11-02 22:36] pixelzoom commented on #574
In case it's relevant... This was on a MacPro with a wireless Magic Mouse.

[2016-11-03 18:56] samreid opened #575 "Delete LayoutNode"
LayoutNode is marked as deprecated, @jonathanolson can you please remove it? See https://github.com/phetsims/chipper/issues/515

[2016-11-04 00:50] jonathanolson opened #576 "Rectangle.setRect corner curvature behavior"
It took me by surprise that I had written setRect() such that the following:
[code]
reset the corner radii to 0, since the optional parameters cornerXRadius and cornerYRadius default to 0, and the user would have to re-specify the radii:
[code]
and it's not possible with setRectBounds.

Is anyone relying on this behavior of setRect (where the corner radii aren't specified leading to them being res

[2016-11-04 01:01] #575 closed

[2016-11-04 18:31] jonathanolson opened #577 "[branch] more-cleanup"
Like https://github.com/phetsims/scenery/issues/562, so I can commit minor cleanup updates without running full tests every commit.

[2016-11-05 05:24] jonathanolson opened #578 "branch: simple-properties"
Quick prototype for a Property-esqe implementation for Scenery, handles visibility, opacity and selfBounds.

Here are some strategies used:
1. Things like Node.addProperty(), with options that allow customization over phases, particular naming (like isVisible() instead of getVisible()), etc., and add all of the associated functions
2. Don't keep the value on the "property" itself, but on the Node.

[2016-11-05 21:24] samreid commented on #578
What branch should I compare this branch to?  I tried comparing to master, but saw changes that looked unrelated.  I also remembered you had been working in a cleanup branch, but the "cleanup" branch also looked like it had other things.

[2016-11-05 21:28] samreid commented on #578
I'm seeing this code:

[code]

What is the advantage of the value being stored on the Node instead of nested in the NodeProperty?  If there is a true advantage here, should be adopt this strategy in axon as well?

[2016-11-06 04:43] jonathanolson commented on #578
Just the last commit includes all of the Property-style work.

It doesn't slow down (or require many code modifications for) internal property reads, as those are by far the most common thing in Scenery.

Not all Properties can be guaranteed to have a container, and most sim code (besides some model accesses) wouldn't be part of the performance bottleneck.

[2016-11-06 15:57] samreid commented on #578
As discussed with @jonathanolson:

My opinion is that scenery may be improved by using AXON Properties because:
a) It could present an interface consistent with simulation interfaces for listening for variables.  For instance: `myNode.visibleProperty.link()`.  This is the convention we decided we want to pursue for simulations, perhaps we would benefit from using this interface in scenery as well.

[2016-11-09 16:10] samreid commented on #576
I am not relying on this odd behavior of setRectBounds to overwrite the corner curvature, and recommend fixing this so it would not override the corner curvatures.  I only see 10 usages of setRectBounds, so it should be easy to check them all after making this fix.

[2016-11-09 20:46] pixelzoom commented on #576
I don't believe that I've written any code that relies on `setRect` to reset the corner radii to zero. But there are several sims (balancing-chemical-equations, graphing-lines, hookes-law, protein-synthesis) and common code (sun.Panel) that look like they are compensating for this quirk by providing xRadius and yRadius args to `setRect`.

[2016-11-10 16:40] jonathanolson commented on #578
Adding to developer meeting agenda to discuss if:

1. People would prefer the Property interface on Node's properties (e.g. ```node.visibleProperty.link```).
2. If so, would the reduction in boilerplate mess with IDE detection of methods/properties?
3. If instead providing Emitter for events would be sufficient (possibly mapping the current on/off API to that).

[2016-11-10 19:50] samreid commented on #576
@jonathanolson will change the behavior so that the corner radii are not overridden.

[2016-11-10 19:57] samreid commented on #578
We discussed a bit today.  Seems like it may be a benefit, but we are thinking: "it's not broken don't fix it".  Perhaps in the future.

[2016-11-10 19:58] samreid commented on #578
@jonathanolson said he can still convert to Emitter without disturbing the API.

[2016-11-10 21:07] jonathanolson opened #579 "Node.focusable deprecated?"
I see no internal Scenery usage except for the getter/setter, although focusable:true is set in various places in common code and sim code.

Should this be treated as deprecated and removed, or is it being used for accessibility?

[2016-11-11 21:08] jonathanolson commented on #576
Changes applied.

[2016-11-11 21:08] #576 closed

[2016-11-11 22:54] jonathanolson opened #580 "How to handle undefined in mutators"
After updates, ```new Text( string, { fill: undefined } )``` changed behavior.

How should { fill: undefined } be handled? In my opinion, it should be an assertion failure.

See https://github.com/phetsims/joist/commit/8d4687cab4a99a6495124d73cdcfc846e777a720 for the fix due to the recent regression.

[2016-11-12 03:59] jonathanolson commented on #580
Decided { fill: undefined} should not override the default fill if available (and similarly for other properties for other types).

Changing point of developer meeting tag to recommend/discuss using this behavior for other common non-Scenery types.

Added phetCore.extendDefined that is basically like extend but doesn't overwrite values with undefined, such that:
[code]

[2016-11-12 04:21] jonathanolson opened #581 "How to handle generated function definitions"
Currently, there are a number of methods that are auto-generated (instead of being inside the inherit block). These may mess with editor auto-completion/inspections, and are generally harder to read and document.

## Question:

Should these be expanded to normal definitions in the inherit block?

- Benefits: more readable (and easier to document), can navigate in editors, and performance may sligh

[2016-11-14 18:07] pixelzoom opened #582 "delete vestigal files for testing webgl"
Encountered while working on https://github.com/phetsims/chipper/issues/516.

[11/14/16, 11:04:05 AM] Jonathan Olson: Those files can be removed
[11/14/16, 11:04:28 AM] Jonathan Olson: I'm planning on doing cleaning like that a bit later in the Scenery doc/cleanup process,

Mentioning @samreid since he created these files.

[2016-11-14 18:15] pixelzoom commented on #582
TestWebGL*.js (3 files) are also looking for SCENERY/display/webgl/WebGLRenderer. @jonathanolson says to blast those too.

[2016-11-14 18:22] pixelzoom commented on #582
Done, closing.

[2016-11-14 18:22] #582 closed

[2016-11-14 18:26] pixelzoom opened #583 "renderer-comparison.html uses getQueryParameter"
Related to https://github.com/phetsims/chipper/issues/516.

renderer-comparison.html contains usages of phet.chipper.getQueryParameter, which is now deprecated.  @jonathanolson said that @samreid owns this file, and options are to:

(1) convert it, if it still has value (@ jonathanolson volunteered to do this)
(2) delete it (I volunteered to do this :)

[2016-11-14 18:51] jonathanolson commented on #583
The file should remain, it's more a question of the query-parameter handling in the file.

[2016-11-14 18:52] jessegreenberg opened #584 "Remove prototype VirtualCursor"
From https://github.com/phetsims/joist/issues/372, It would be best to remove the prototype VirtualCursor.    This prototype created a virtual cursor that behaved similarly to the virtual cursors in prominent screen readers.  This prototype jumpstarted several new accessibility features like the prototype screen reader (#538) and (https://github.com/phetsims/balloons-and-static-electricity/issues/

[2016-11-14 19:02] jessegreenberg commented on #584
Removed above, closing.

[2016-11-14 19:02] #584 closed

[2016-11-14 20:19] jessegreenberg commented on #579
Yes, this should be treated as deprecated and removed.  I think this was used before the parallel DOM approach that we are using now.  The option is used for sim specific things in balloons-and-static-electricity.  In common code it shouldn't be providing any functionality.  I will review the usages and remove them if this is the case.

[2016-11-15 02:26] jessegreenberg opened #585 "LayoutBox layout incorrect with resize:false"
In gravity-and-orbits I noticed that the layout seems incorrect after 9ae8744decf1966ebe8da32e4f79a746b6fb2e77.

Before:
![correct](https://cloud.githubusercontent.com/assets/6396244/20290750/3809f7f8-aa9f-11e6-9984-c27e80cf3e39.PNG)

After:
![incorrect](https://cloud.githubusercontent.com/assets/6396244/20290756/3cd1ed90-aa9f-11e6-9dbf-6b03a1a621ee.PNG)

By setting resize:true on the various layo

[2016-11-15 02:34] jessegreenberg commented on #585
It doesn't look like it (to me), seems like updateLayout is called at the end of the constructor to handle this.

[2016-11-15 16:51] pixelzoom commented on #583
I'm going to take care of this.

[2016-11-15 16:53] samreid commented on #583
Checking...

[2016-11-15 16:58] samreid commented on #583
[code]

should be something like this:

[code]

I'll assign it to @pixelzoom since he said:

[2016-11-15 17:16] pixelzoom commented on #583
I converted as @samreid suggested.  But...

(1) It seems like we should be using this schema for `test` (similar to `screens`):

[code]

(2) `filterSubset` is applied to both `renderer` and `test` values, but its internal variables appear to be related to `test`.  Probably something that was repurposed and not generalized. Confusing. And maybe buggy in the case of `renderer`, see below.

(3) Recom

[2016-11-15 17:31] jessegreenberg commented on #585
I am not seeing this anywhere else where I have also used resize:false so I will look into this further, it might be a sim specific issue.

[2016-11-15 23:52] jessegreenberg commented on #585
@jonathanolson including an ```inited``` flag in setChildren to update the layout fixes this issue in gravity-and-orbits.  Does something like this need to be added for correct to correct the layout?

[code]

Should something like this be added or is something else going on here?

[2016-11-16 23:05] pixelzoom commented on #580
I think you had it right the first time - it should be an assertion failure.  Sounds like `extendDefined` results in it being silently ignore, which I don't think is wise.

[2016-11-16 23:08] pixelzoom commented on #581
Based on the fact that the number of auto-generated functions is relatively small, my vote would be to expand them to normal definitions in the inherit block (i.e., manually define them).

[2016-11-16 23:09] jonathanolson commented on #580
This will prevent object literal syntax in many many cases. For instance:
[code]
What if options.stroke can be omitted, and would be undefined? Assertion error?

Now it's something like:
[code]

[2016-11-16 23:17] pixelzoom commented on #580
All options are not equivalent wrt `undefined` and `null`.  For some options (e.g., stroke, fill) undefined and null are valid values. If the client specifies `{ fill: undefined }`, then assume they don't want the node filled.  For other options (e.g. x, y, lineWidth) undefined and null are not valid values. If the the clients does `{ x: undefined }`, then it should not be silently ignored, it sho

[2016-11-16 23:20] jonathanolson commented on #580
For Scenery itself, I don't believe this is the case. ```node.fill = undefined``` would be an assertion error. I've tried to exclusively use ```null``` to indicate "no value", never using ```undefined```.

[2016-11-16 23:21] jonathanolson commented on #580
As a follow-up, the following code does nothing, and has always done nothing:
[code]

as it checks for whether the value is undefined before applying the ES5 setter for fill.

[2016-11-16 23:25] pixelzoom commented on #580
Me too.  Guess I was hypothesizing wrt `undefined` :)

What does this do?

```node.mutate( { x: null } );```

[2016-11-16 23:37] jonathanolson commented on #580
"Assertion failed: x should be a finite number"

It's trying to set a value (not undefined), and Scenery now has lots of assertions for those types of parameters.

[2016-11-16 23:41] pixelzoom commented on #580
Ah, I see.

[code]

[2016-11-16 23:44] pixelzoom commented on #580
And the reason for needing `extendDefined` is because:

[code]

[2016-11-17 00:45] jonathanolson commented on #580
Yup, so Scenery can provide its own parameter defaults (triggering the set* calls at the right time), but that won't get wiped out by clients passing undefined.

[2016-11-17 06:12] samreid commented on #580
[code]

Would this help?

[code]

[2016-11-17 06:14] samreid commented on #581
+1 for seeing what they look like manually defined, perhaps putting these all close together and minimizing boilerplate (perhaps use line comment instead of full JSDoc?) so it is easy to see if one is incorrect.

[2016-11-17 06:28] jonathanolson commented on #580
Not in this case:

[code]

[2016-11-17 06:36] samreid commented on #580
Can you share a context for this problem?  Perhaps a sim that is doing `Node.call` like you described above.  I think a context will help me understand why options.left should sometimes exist and sometime not.

[2016-11-17 07:07] jonathanolson commented on #580
Sure. In my Scenery update where I accidentally changed behavior for undefined being passed in, I had to fix https://github.com/phetsims/joist/commit/8d4687cab4a99a6495124d73cdcfc846e777a720 (PhetMenu items except for update disappeared).

It had in createMenuItem:
[code]
but options.color was usually (except for the update menu item) set as undefined, e.g. ```{ color: undefined }``` due to where

[2016-11-17 07:10] jonathanolson commented on #581
If we expand these out, I'd prefer to keep things consistent with the rest of the documentation (for example, custom documentation on fontFamily would be helpful). It would also potentially help out with documentation generation in the future (since a lot of the documentation is moving from the manually-created HTML to the code).

[2016-11-17 07:48] jonathanolson commented on #581
Expanded the ones for Node in https://github.com/phetsims/scenery/commit/7dbf9d83fdd239b374ece81810241d082ee1aa31 to check for size changes

Scenery (and dependencies):

- Before expansion: minified 624,318 bytes (135,058 gzipped), 62951 lines
- After expansion: minified 625,793 bytes (135,222 gzipped), 63152 lines

So expansion would increase by 3933 bytes (~437 gzipped), approximately 0.3% of Sc

[2016-11-17 15:48] pixelzoom commented on #581
The expanded functions (and especially their documentation) look nice in Node.  I think that ~0.4kB size increase is a negligible price to pay for this improvement.

[2016-11-17 17:03] samreid commented on #580
Would this problem disappear if `createMenuItem` took an options hash instead of explicit parameters.

[2016-11-17 17:04] samreid commented on #581
Looks great, let's continue.

[2016-11-17 17:42] samreid commented on #580
Consensus: we will try to keep undefined as an error and try to enumerate the number and kinds of client code causing these problems.  Based on that answer, we can decide whether to try to fix client code or add scenery support for `undefined`.

[2016-11-17 22:18] jonathanolson commented on #581
Handled in branch, will merge to master after testing.

[2016-11-17 22:18] #581 closed

[2016-11-17 22:20] jonathanolson commented on #580
Undefined behavior - not just a thing for C/C++!

[2016-11-17 22:28] jonathanolson opened #586 "Possible bug related to preventFit"
[code]

[2016-11-17 22:43] jonathanolson commented on #580
So it looks like I vastly over-estimated how often this would happen...

Fixed the two places that caused assertion failures, and I've moved the assertion to my working changes branch.

[2016-11-17 22:43] #580 closed

[2016-11-17 22:47] #586 closed

[2016-11-18 18:36] pixelzoom opened #587 "stale copyright headers"
Lots of changes to scenery master in 2016, but copyright headers all indicate 2015.  Consider running `grunt update-copyright-dates`.

[2016-11-19 03:32] jonathanolson commented on #587
Ran 'grunt update-copyright-dates'.

Presumably copyrights in HTML files and other bits would need to be updated, or does it not matter if they haven't been updated?

[2016-11-19 06:48] jonathanolson opened #588 "Instances failing to have shared ancestor"
Charges and Fields default fuzz:
[code]

Tracked down, and two instances (4 nodes deep) have parent:null, causing failure to find shared ancestors. Gap believed to be at draggableElementsLayer (has layerSplit/preventFit), possibly triggered by recent change there in the sim.

[2016-11-19 18:21] samreid commented on #583
In the above commit, I fixed the schemas.  Testing looks good:

![image](https://cloud.githubusercontent.com/assets/679486/20457503/31a6e2b4-ae4a-11e6-9464-94adb84aedfe.png)

My only complaint is that the test indices get renumbered when you select a subset.  But that doesn't seem worth solving now.

[2016-11-19 18:21] #583 closed

[2016-11-21 19:05] pixelzoom commented on #587
Presumably.  Not sure how much of a priority it is, maybe ask @ariel-phet or @kathy-phet.

[2016-11-21 20:34] jonathanolson commented on #587
@ariel-phet, do we care about copyrights in HTML files?

[2016-11-21 20:56] ariel-phet commented on #587
@jonathanolson  I think we care, but not a huge priority. At the moment, since it is nearly 2017, maybe just wait until the new year, and update them then so it is good for another year?

[2016-11-22 01:46] jonathanolson commented on #585
I believe the above commit fixed this, can you check?

[2016-11-22 01:51] pixelzoom commented on #585
This bug also caused https://github.com/phetsims/balancing-chemical-equations/issues/117, which I verified.  So figured I'd verify that this issue is fixed too.  Layout now looks correct.  Closing.

[2016-11-22 01:53] pixelzoom commented on #585
Skype:

[11/21/16, 6:52:42 PM] Chris Malley: Ah, good point. I'll reopen and let him comment.

@jessegreenberg back to you.

[2016-11-22 17:46] amanda-phet commented on #457
Hey developers! I was just talking with @pixelzoom about upcoming math sims, and we're noticing again that it would be useful to not have to customize the appearance of mathematical statements for every sim. The upcoming sims include Pascal's Triangle, the Area Model Multiplication suite, and also the NumberKeypad (https://github.com/phetsims/scenery-phet/issues/283) .

[2016-11-22 18:34] jessegreenberg commented on #585
Thanks! I removed the workaround in gravity-and-orbits and the layout looks good.  Closing.

[2016-11-22 18:34] #585 closed

[2016-11-22 18:47] jonathanolson commented on #587
Ok, deferring until 2017.

[2016-11-23 19:37] jessegreenberg commented on #565
This has been working really nicely in balloons-and-static-electricity. Closing.

[2016-11-23 19:37] #565 closed

[2016-11-23 21:36] jessegreenberg opened #589 "Remove unused accessibility code"
In #579, I noticed that there is some accessibility code in scenery from previous prototypes that is not being used anymore.  Specifically, LiveRegion.js and the accessibility section in Input.js are not being used.  @samreid @jonathanolson now that we are using the parallel DOM approach, would it be alright if I removed this unused code?

[2016-11-23 21:49] jessegreenberg commented on #579
If the usages of Node.focusable can be removed along with #589, that will be the last of the references to Node.focusable and it can be removed from scenery/Node.js.

[2016-11-24 00:09] jessegreenberg commented on #299
This is a nice list @samreid, thanks!  I am going to move this over to phetsims/a11y-research now that we have that repo set up.  Closing the scenery issue.

[2016-11-24 00:09] #299 closed

[2016-11-24 00:28] jonathanolson commented on #589
Since they basically do nothing now, I'd opt to remove them (and scenery.Key, the added key listeners for those, etc.)

[2016-11-24 00:29] jonathanolson commented on #589
Also cleanup on whatever else in Input sounds good. Check Display also, it had a focusProperty that I'm not sure is still being used.

Let me know if I can provide any assistance or answer questions,

[2016-11-24 01:15] samreid commented on #589
Please remove anything that is not being used--we should only keep the latest thing you and @jonathanolson have worked on.

[2016-11-24 01:45] jessegreenberg commented on #589
Sounds good, thanks @jonathanolson and @samreid.  I will remove accessibility code that is not being used.

[2016-11-29 05:34] #588 closed

[2016-11-29 17:56] #577 closed

[2016-11-29 18:05] jonathanolson commented on #574
It looks like this shouldn't be a problem (particularly with sims).

Chrome enables a passive event extension with an options object (that replaces a boolean value). It looks like this isn't supported enough to be used by default.

Closing, will plan to handle any scrolling problems when they come up.

[2016-11-29 18:05] #574 closed

[2016-11-29 18:16] jessegreenberg commented on #538
This issue can now be closed.  Associated code can be found here: https://github.com/phetsims/scenery/tree/master/js/accessibility/reader

The prototype screen reader is now in a place where we can introduce support for additional ARIA roles and attributes as necessary.  There is no intention of spending time on this at the moment.

We have gotten better at providing content in the PDOM that is ea

[2016-11-29 18:16] #538 closed

[2016-11-29 23:11] jonathanolson opened #590 "Recommended change to LayoutBox alignment"
Currently, LayoutBox's off-axis alignment (horizontal align for VBox, vertical align for HBox) is unlike that of over containers like Panel.

In the current behavior, the items are NOT aligned to 0, but instead are based on the current bounds of the inputs. This has caused buggy issues in the past (e.g. home-screen icon drift like https://github.com/phetsims/joist/issues/331).

I'd propose that we

[2016-12-01 17:20] pixelzoom commented on #590
@jonathanolson Your example code indicates "designed to cause drift".  Do you think that this issue is the cause of https://github.com/phetsims/joist/issues/331 (Home screen icons drift), where an HBox is used for layout of the screen icons?

[2016-12-01 17:22] pixelzoom commented on #590
Ah... I see you already answered this:

[2016-12-01 17:26] pixelzoom commented on #590
Looks like this new behavior and MIMIC_OLD_ALIGNMENT were added on 11/4/2016 in @9ae8744decf1966ebe8da32e4f79a746b6fb2e77.

[2016-12-01 17:34] pixelzoom commented on #590
+1 for changing the behavior, removing the old behavior (delete MIMIC_OLD_ALIGNMENT and related code) and finding problems in testing.

[2016-12-01 19:26] ariel-phet commented on #457
Deferred until Dec 8

[2016-12-01 20:26] jonathanolson commented on #590
Will make the change, and spot-check a few sims.

[2016-12-01 20:50] jonathanolson opened #591 "TextBounds.approximateDOMBounds depends on window size"
@phet-steele noticed Chains layout depended on window size, and I tracked it to this bounds method. Determining the size of the HTML text seems to fail when it gets wrapped by the window size.

Will need to look into other alternatives for determining the size, possibly by setting CSS overflow values.

[2016-12-01 22:09] jonathanolson commented on #590
Committed. Nothing came up in automated tests, and I spot-checked 5 sims and they looked good. Closing.

[2016-12-01 22:09] #590 closed

[2016-12-05 17:19] jessegreenberg commented on #384
@jonathanolson I reviewed the above discussion.  The custom DOM implementation has been working very well, it lets us create an arbitrary DOM tree without the drawbacks listed in https://github.com/phetsims/scenery/issues/384#issuecomment-74361143.  I don't believe that a new scenery.Display provides us with any additional benefit at this time.

@jonathanolson is there anything else you want to in

[2016-12-05 19:52] jonathanolson commented on #384
I think it can be closed. Thanks!

[2016-12-05 19:52] #384 closed

[2016-12-06 16:43] pixelzoom opened #592 "make it easier to "prune" the scene graph without leaking memory"
In https://github.com/phetsims/joist/issues/332, HomeScreenView was leaking memory.  It keeps and reuses references to the screen icons, and puts them in a different HBox, depending on which screen is currently selected.  And unless `removeAllChildren` is called on the HBox, the icons will retain a reference their parent - in this case, a lot of HBox instances.

I suspect that I could find this ty

[2016-12-06 18:39] jonathanolson commented on #592
It's been the source of multiple memory leaks that I've fixed.

So instead of disconnecting a node from all of its parents (e.g. ```node.detach()```), it would also recursively detach all ancestors from their respective parents? Sounds very easy to accidentally nuke screenview connections in a hard-to-debug way.

I've considered some form of ```dispose()``` that would work for an entire subtree of

[2016-12-06 19:24] pixelzoom commented on #592
I was thinking that it would recursively call `removeAllChildren` for all ancestors.  Potential problems with that?

[2016-12-06 20:00] jonathanolson commented on #592
I'd like to see an example of usage, as you would need to know it is disconnected from the ScreenView before calling anyways?

[2016-12-06 23:38] pixelzoom commented on #592
Why would it need to be disconnected from the ScreenView?...

Here's a concrete example, from HomeScreenView.  This replaces lines 253-278. `this` is the HomeScreenView, a subtype of ScreenView.

[code]

[2016-12-07 01:29] jonathanolson commented on #592
So ```iconsParentNode.pruneAllChildren()``` as initial described (handling ancestors), would:

1. ```iconsParentNode.removeAllChildren()```
2. ```this.removeAllChildren()```, since it was an ancestor.
3. If 'this' was being displayed by the screenview, then you get:
  a. ```screenView.removeAllChildren()``` (yikes)
  b. ```rootNode.removeAllChildren()``` (there go our screens)

If instead it did r

[2016-12-07 01:32] jonathanolson commented on #592
Then if we can get rid of ```resize: false``` (which is usually the case):

[code]

[2016-12-07 02:10] pixelzoom commented on #592
I had previously tried `resize: false` and `hbox.children = []`.  This causes the small icons to jump around, instead of remaining stationary.  There might've been a way to resolve that, but it wasn't a problem I felt like tackling.

I'll withdraw the request for this feature. Closing.

[2016-12-07 02:10] #592 closed

[2016-12-09 16:22] ariel-phet commented on #457
Consensus was it would be best to build our own custom layout manager that leverages scenery nodes as part of the coding effort of Area Model. The idea would be to begin by supporting simple expressions like polynomials, fractions, and super/subscripts, with the ability to add features as needed.

@jessegreenberg will create (and name) a new repo for this work
@amanda-phet will create the first is

[2016-12-09 16:29] pixelzoom commented on #457
And the expressions shouldn't be limited to well-formed expressions. PhET needs the ability to render _fragments_ of expression, which can then be combined with interactive UI components. See https://github.com/phetsims/scenery/issues/457#issuecomment-135838479.

[2016-12-10 00:20] jessegreenberg commented on #589
I removed the accessibility code that is no longer being used from scenery.  Closing.

[2016-12-10 00:20] #589 closed

[2016-12-10 00:21] jessegreenberg commented on #579
I removed focusable and a few other things that were no longer used in Node.  @jonathanolson good to close?

[2016-12-13 18:44] jonathanolson commented on #579
Looks great, thanks!

[2016-12-13 18:44] #579 closed

[2016-12-13 22:55] jonathanolson opened #593 "Scenery build fails to load synchronously"
@samreid noted it may be related to https://github.com/phetsims/chipper/issues/499.

This prevents documentation from being viewed, examples from being run, etc.

[2016-12-13 23:26] jessegreenberg commented on #504
Duplicate of #505, closing.

[2016-12-14 00:31] jonathanolson commented on #593
It looks like the synchronous support in chipper was reverted in https://github.com/phetsims/chipper/commit/001c895e445c5689a53cc6936890e81a1eaaba76 (don't see a comment why).

It looks like asynchronous may be preferable/required for sims (maybe the progress indicator?), so I've added support for both ways of doing things.

Scenery has an added section in package.json that illustrates the changes

[2016-12-14 17:10] samreid opened #594 "TransformTracker should use Emitter"
From TODOs in Joist issue https://github.com/phetsims/joist/issues/64, PhETButton has this code:

[code]

TransformTracker should be changed to use Emitter (by extension or composition), this will impact the API used in joist a bit (regarding `isStatic`).

[2016-12-15 04:20] samreid commented on #593
I skimmed the change sets and it all seems reasonable (particularly regarding synchronous/asychronous in the requirejs build), and I like how grunt builds js code for libs now.

[2016-12-15 04:20] #593 closed

[2016-12-15 17:43] jonathanolson commented on #449
Disposal is related to https://github.com/phetsims/phet-io/issues/926, however I think disconnecting nodes seems incorrect, and dispose() should only remove other internal listeners.

[2016-12-20 21:11] jbphet opened #595 "boundsMethod value of 'accurate' cause undefined bounds in xss string test"
The following code causes the bounds of `this.epsilonLabel` to be NaN:

[code]

If I remove the `boundsMethod` value, the bounds are defined for the string test.  I've added some specific code to work around this issue in InteractionPotentialDiagramNode, this should be removed if a solution is found.  I've marked it with a TODO and a link to this issue.

[2016-12-30 04:41] samreid opened #596 "Review AccessibleNode"
Since CCK: DC is starting to use AccessibleNode, I'd like to review AccessibleNode a bit more closely.  I'll create checkboxes here as a master list, then they can be quoted and responded to in following comments.

- [ ] In CircuitElementNode, @jessegreenberg suggested using `focusHighlight: 'invisible',` but the docs for AccessibleNode say: `focusHighlight: null, // {Node|Shape|Bounds2} - default

[2016-12-30 05:19] samreid commented on #596
I think I'm at a good stopping point.  I raised several issues in the top comment, and made several cleanup commits, which should be carefully reviewed for accuracy.

@jessegreenberg can you please review my changes and respond to the issues in the top comment?  After that's clear please reassign it to me so that I can take another pass through the code to look more closely at some of the logic an

[2016-12-30 05:50] samreid commented on #383
Pinging @jessegreenberg, what is the status on this issue?

[2016-12-30 05:53] samreid commented on #42
While I was testing https://github.com/phetsims/circuit-construction-kit-common/issues/114 it was difficult to follow the focus as it jumped to different components.  Normal web browsers don't animate the focus rectangles, but this is an opportunity for us to improve over the status quo to make a more usable experience.  It looks like FocusOverlay is implemented in scenery, so this should be feasi

[2016-12-30 19:14] jessegreenberg commented on #596
@samreid thanks very much for the review, as well as the cleanup!  I will review and respond to the above comments.

[2016-12-30 19:20] jessegreenberg commented on #596
At the moment, the focus highlight can be a node, a shape, or the node's local bounds.  So the current documentation is a bit confusing because passing in a custom Bounds2 will result in a highlight around the local bounds.

We need to support node, shape, local bounds, or invisible (no highlight).  What do you think about changing to the following:

[code]
and error out for anything else.  ```Nod

[2016-12-30 19:22] jessegreenberg commented on #596
Thanks! HTMLElement should be used here, I wasn't aware of that.  We are using DOMElement beyond just this file so I will go through and change all.

[2016-12-30 19:51] jessegreenberg commented on #596
Agreed, good idea. But it looks like declaring the the scenery Node below the reference to the DOM Node causes Node to be undefined!  That is very surprising to me.

[code]

[code]

We could reassign the Node global to Scenery's Node, but that seems dangerous, and eslint complains.  Perhaps a documented constant would be best. @samreid what do you think?

[2016-12-30 20:00] jessegreenberg commented on #596
Thanks, it should be using element.tagName

[2016-12-30 20:09] jessegreenberg commented on #596
I think deleted, ```setDOMAttributes``` seems like a clumsy way to set attributes.  I don't think one would ever want to wipe/reset all html attributes.

[2016-12-30 20:22] jessegreenberg commented on #596
ariaAttributes has also been removed for the same reason as https://github.com/phetsims/scenery/issues/596#issuecomment-269816300.  In general though, I tried to make all variables private and wrap certain ones with getters/setters so that the intended API is clear, and also to mirror scenery Node which does the same thing for all variables

[2016-12-30 20:52] jessegreenberg commented on #596
@samreid I am done with my review of your initial comments.  I left 2 of the check boxes unchecked because they warrant some further discussion.  I also reviewed your commits, all were an improvement, thanks!

Reassigning back to you.

[2016-12-30 21:26] samreid commented on #596
focusHighlight: 'localBounds', // {Node|Shape|string<'localBounds'|'invisible'>}
[code]

[2016-12-30 21:29] samreid commented on #596
Let's use `HTMLElement.ELEMENT_NODE` instead.  HTMLElement extends node, and `HTMLElement.ELEMENT_NODE` evaluates to 1, and doesn't have a namespace collision.

[2016-12-30 21:30] samreid commented on #596
I commented on the outstanding issues in the preceding 2 comments. Back to you, @jessegreenberg!

[2016-12-31 02:47] jonathanolson commented on #596
Should this be included as part of my review for accessibility for John Travoltage?

I just noticed this fine, and saw that it's a subtype of Node. Given I don't have a full background of its usage, it seems like this would benefit from being included in Node itself, or as a mix-in? How would a Path be made accessible?

There are also some Scenery patterns common to all Scenery node types that wou

[2016-12-31 14:14] samreid commented on #596
@jonathanolson I'll let @jessegreenberg provide more details, from my point of view AccessibleNode is scheduled for publication in a production version of CCK sometime in 2017 for CCK-DC and would hence benefit from your careful review.  If I understand correctly, the workaround for making a Path accessible would be to wrap it in an AccessibleNode.

[2016-12-31 14:21] samreid commented on #596
- [ ] `appendElementWithContent` has no usages.  Should it be deleted?
- [ ] `getChildElementWithId` should be marked private
- [ ] Why is this code in `BalloonNode` necessary?  Shouldn't the next/previous happen automatically

[code]

[2017-01-04 01:21] jessegreenberg commented on #596
We could do that, but how would we specify the localBounds option, still with a string such as 'localBounds'?

[2017-01-04 01:22] jessegreenberg commented on #596
Sounds good!

[2017-01-04 01:30] jessegreenberg commented on #596
@jonathanolson if you don't mind, absolutely, your review would be much appreciated.

What is the benefit of using a mix-in?  Yes, the current workaround would be to wrap the Path with an AccessibleNode.  Is there any concern that adding these directly to Node would bloat the file with too much, especially if one doesn't want a node to have accessible content?

[2017-01-04 18:27] jonathanolson commented on #596
It seems like something that should be available to all nodes, and included in Node, so that the scene graph doesn't have to change just to make something accessible.

Same reasoning for why there is no VisibilityNode, TransformNode, etc.

The benefit of something like a mix-in is that if the accessibility code is really that separate from other Node code, we could have it in a different file (but

[2017-01-04 23:29] jessegreenberg commented on #596
That sounds great, I like that idea.  I do see this as file as separate from other Node code.

Visibility and transformations apply to every node, but there are functions in ```AccessibleNode``` that are much less general.  For instance ```setInputValue``` only applies to a node with accessible content that has a DOM form type element. (It assures correct usage through an assertion).

The purpose

[2017-01-06 00:32] jessegreenberg commented on #596
In the above commit I tried out a mixin pattern for accessibility in branch ```accessibility-mixin```.  I had to deviate from the usual mixin pattern slightly since the mixin needed access to the type, the node itself, and its options.

In scenery/Node.js - after Node inherit call:
[code]

And then near the end of the Node constructor,
[code]

where Accessibility.js mixin defines ```mixinAccessibi

[2017-01-10 17:25] jessegreenberg commented on #553
This was done through AccessibleNode (which may end up being a mixin for scenery/Node.js called Accessibility.js. Closing.

[2017-01-10 17:25] #553 closed

[2017-01-10 17:26] jessegreenberg commented on #559
This is being done through AccessibleNode (thought it may change to a mixin called Accessibility.js for scenery/Node.js).  Closing.

[2017-01-10 17:26] #559 closed

[2017-01-10 17:50] jessegreenberg commented on #42
This would be a very nice feature.  But it is a bit more difficult because the FocusHighlight can be a rectangle, a Shape, or another Node.  Animating from rectangle to Node is not feasible.  If we don't worry about Node, we could look into morphing between shapes.

[2017-01-10 17:53] jessegreenberg commented on #330
Closing, ```focusable``` field in Node.js was was marked as deprecated and has been removed.

[2017-01-10 17:53] #330 closed

[2017-01-10 18:05] samreid commented on #42
One simple way to animate between two arbitrary nodes would be to immediately update the node shape, then translate the new shape into position.  The shape itself does not need to be interpolated.  Another possibility would be to cross-fade between the two nodes as it animates.

[2017-01-10 21:08] samreid opened #597 "Add the focus region to the save state"
As part of https://github.com/phetsims/a11y-research/issues/2 and https://github.com/phetsims/balloons-and-static-electricity/issues/204 we would like to save and restore the focus region in the sim state.  This will enable us to conduct a11y interviews where we can better visualize what the user was doing by showing the focus.

[2017-01-10 21:17] samreid opened #598 "Lint not running as part of default grunt task"
While working on #597, @jessegreenberg and I noticed that scenery `grunt` doesn't appear to run a lint task like sims do.

[2017-01-10 21:20] samreid commented on #597
@jessegreenberg and I worked on this today and it seems (at least for the simple sim Balloons and Static Electricity) that it is recording and playing back the focus regions properly.  We also tested building scenery, scenery unit tests, launching acid-base solution (requirejs) and hookes-law (compiled) and did not spot any problems.

However, this is the first time an axon property in scenery has

[2017-01-10 21:20] samreid commented on #597
This work has been committed in the preceding 2 commits.  Next steps:

- [ ] code review from @jonathanolson
- [ ] testing by the QA team.  This may be done as part of larger QA testing for BASE a11y interviews.

[2017-01-10 22:16] jonathanolson commented on #597
Cursory review looks fine, let me know if you need something in-depth.

[2017-01-10 22:18] jonathanolson commented on #598
Presumably in chipper's Gruntfile, changing:
[code]
to:
[code]
(concatenating the optionalTasks) should work?

[2017-01-11 04:36] samreid commented on #597
A cursory review seems sufficient for now, thanks @jonathanolson.  We'll get QA testing in another issue.  Closing.

[2017-01-11 04:36] #597 closed

[2017-01-12 19:55] jessegreenberg commented on #596
@jonathanolson and @jessegreenberg taked about this. @jonathanolson liked the mixin pattern, and had some recommendations for Accessibility.js so that it matches Scenery style a bit more.

- ```mixinAccessibility``` should be renamed to ```initializeAccessibility```
- accessibility options should use the ```mutator``` patern - this simplifies the constructor and also allows options to be handled w

[2017-01-14 05:34] jonathanolson opened #599 "Assertions to guard against invalid CSS colors as fills/strokes"
https://github.com/phetsims/capacitor-lab-basics/issues/148 was caused by the string ```'none'``` being set as a fill, and it looks like there are no assertions to guard against this.

[2017-01-14 05:50] jonathanolson commented on #599
Added assertions, fixed both cases where failures were found.

[2017-01-14 05:50] #599 closed

[2017-01-24 18:47] pixelzoom commented on #218
@ariel-phet FYI...  As I did for Function Builder on 6/1/2016 (https://github.com/phetsims/scenery/issues/218#issuecomment-223100617), I am once again having to add sim-specific code to handle this in Unit Rates, commented like this:

[code]

And as with Function Builder, this workaround will need to be examined if/when support is added to scenery.

[2017-01-24 18:51] pixelzoom commented on #131
Opened in 9/10/2013, this issue was created because a replacement is needed for SimpleDragHandler.  3+ years later, I'm creating yet-another subtype of SimpleDragHandler in Unit Rates.  And there are now 82 occurrences of the `var SimpleDragHandler = require`.

Labeling for developer meeting to check in on the status and priority of this issue.

[2017-01-24 18:51] pixelzoom commented on #218
Labeling for developer meeting to check in on the status and priority of this issue.

[2017-01-24 20:11] samreid commented on #131
SimpleDragHandler seems to be working OK to me, but I'm not sure what all of the problems with it are.  Would be good to discuss.  Though with 82+ occurrences, it seems unlikely we will be able to replace them all especially if there is an API change.

[2017-01-24 22:11] jonathanolson commented on #131
A few problems:

1. It doesn't handle multitouch canceling (https://github.com/phetsims/scenery/issues/218).
2. It has mostly redundant drag and translate handlers, and does a lot of extra unneeded computation for those.
3. It has (possibly somewhat unused) code that is meant to listen to ancestors being transformed, so that it can keep the dragged node at the same position (due it its use as an e

[2017-01-24 22:26] jonathanolson commented on #131
I wouldn't imagine initial replacement, but would just have an improved input system that would handle our canceling and interaction problems from #218. Sims could be migrated at whatever schedule potentially. Thus is the cost of delaying this long.

[2017-01-26 17:17] jessegreenberg commented on #596
@jonathanolson and @samreid I am getting to a place where this could be merged with master.  Are there any steps or tests that you would like to see passing before I merge? Planning on verifying scenery unit tests, and aqua tests, are there any others?

[2017-01-26 17:36] jonathanolson commented on #596
What measures have you taken to discover or take care of namespace collisions?

[2017-01-26 17:48] samreid commented on #131
@ariel-phet suggested @jonathanolson could work on this after Proportion Playground.

[2017-01-26 18:28] jessegreenberg commented on #596
A search through all repos shows no collisions with the current options, getters, or setters.  Some properties (like label, description, and hidden) have 'accessible' prepended to the name to prevent future collisions. This also makes it clear that these are related to accessibility.

[2017-01-26 18:40] jonathanolson commented on #596
I'd expect test-sims.html to work while running test-server (to show any errors in sim fuzzes or builds), in addition to Scenery unit tests (which includes most other unit tests).

[2017-01-27 03:44] samreid commented on #596
I took a look at Accessibility.js and AccessibilityUtil.js and things are coming along nicely!  I had some questions as well:

1. It looks like many of the values declared in AccessibilityUtil are only used in Accessibility.  Perhaps it would be simpler to define those values as constants in Accessibility.  If it makes sense to move enough things, perhaps AccessibilityUtil can be deleted.
2. Is Ac

[2017-01-27 16:25] samreid commented on #596
I'm also wondering about a conditional mixin.  For instance, `this.initializeAccessibility( options );` would only be called if a certain key existed in the options.  I hope it would not be necessary, but still am not sure of the ramifications of making thousands of non-accessible nodes mix in Accessibility by default.

[2017-01-27 18:26] jonathanolson commented on #596
It will be worth testing performance before/after. A mixin is probably still the best approach, as if we need to reduce the number of properties on Nodes themselves, we would just use composition for storing the actual data.

A while ago we went above the "recommended" number of properties that I read about a while back, and we haven't encountered significant slowdowns or deoptimizations.

Increme

[2017-01-27 18:27] jonathanolson commented on #596
Also initializeAccessibility() takes zero arguments, but is being passed the options object?

[2017-01-27 20:20] jessegreenberg commented on #596
Thanks @samreid and @jonathanolson!

Sounds good.  Some functions like ```getNextFocusable()``` seem like they would be useful outside of the mixin, so I would like to keep this util file around.

Thanks, it should be removed from the branch.

Yes, this is a problem.  There is another problem too - we will have duplicate ids in the DOM for multiple instances of a node.  We will need to change the

[2017-01-27 21:02] jonathanolson commented on #596
Also in RadioButtonGroup, things like defining options like:
[code]
means that when there is no accessibleLabel, the sim will fail out (since Scenery, due to popular consensus, doesn't allow undefined values for valid options keys).

[2017-01-27 21:03] jonathanolson commented on #596
(I forgot to checkout out Scenery master before working on proportion-playground, and had it fail on startup). You should be able to reproduce with that.

[2017-01-27 21:11] samreid commented on #596
What is the solution?  Something like `accessibleLabel: contentArray[ i ].accessibleLabel || null`? Or something else?

[2017-01-27 21:51] jessegreenberg commented on #596
That seems acceptable to me, it looks like tandem might be doing something similar to support uninstrumented sims.

[2017-01-31 17:49] jessegreenberg commented on #596
I tested the changes in Unit Rates, Gravity and Orbits, and Acid Base Solutions in both RequireJS and built versions on Windows 10 Chrome, iPad 2 (Witten), and a MacBook Air(Jordan) with Safari Chrome and Firefox.  All seem to be running fine.

I compared performance before and after Accessibiliity.js was mixed in for both RequireJS and built versions and I noticed no change in in the sims mention

[2017-01-31 17:50] phet-steele opened #600 "Automated Testing Error (1/31/2017 10:00 AM)"
Running `fuzzMouse` in CCKBB or CCKDC.
[code]

[2017-01-31 18:31] phet-steele commented on #600
From the built version with assertions filtered out:

[code]

[2017-01-31 18:59] jessegreenberg commented on #596
In the above commits I removed AccessiblePeer from the components in sun that were using it.

aqua test-server and phet-io tests are passing (with the exception of a few that @phet-steele caught this morning that are unrelated to the mixin). Scenery unit tests are also passing.  I think we are ready to merge!

[2017-01-31 23:21] jonathanolson commented on #596
Hopefully not waiting on me. Ok for me to plan to review more once it's merged in?

[2017-02-01 00:39] jessegreenberg commented on #596
Merge is complete, further review at your convenience would be wonderful @jonathanolson!

[2017-02-02 03:43] jonathanolson commented on #42
Unassigning, @jessegreenberg let me know if you need assistance.

[2017-02-02 19:58] pixelzoom commented on #218
I don't see any notes about why the developer meeting label was removed, so I'm adding it again.

[2017-02-02 20:03] jonathanolson commented on #218
Sorry!

I believe the consensus was to handle along with https://github.com/phetsims/scenery/issues/131, as long as it doesn't take up too much time.

[2017-02-02 20:03] pixelzoom commented on #218
Some thoughts....

We should avoid solutions like the current workaround (calling `endDrag` with a null event).

It would be useful to have a way to globally request to "cancel all interactions that are in progress". This could be called (for example) from the Reset All button listener.

SimpleDragHandler may need an addition `cancel` option, which is called when a drag is cancelled.   In practice

[2017-02-02 20:04] pixelzoom commented on #131
From https://github.com/phetsims/scenery/issues/218#issuecomment-277067214:

[2017-02-02 20:09] jonathanolson commented on #218
Things I was thinking of would be:

- Ability to cancel all "handlers/listeners" in a Node's subtree. So if a screen is switched (or something is made invisible, and it should be permanent), all listeners in that screenView would be canceled.
- Ability to cancel handlers/listeners attached to a pointer or all pointers.
- Ability for handlers/listeners to be canceled if you have a reference to them

[2017-02-02 20:10] jonathanolson commented on #131
There are also actual "cancel" Scenery events that happen when a touch gesture is interrupted (say the user adds another finger or two and it triggers an app switch).

We mostly don't handle those specifically, and map both "up" and "cancel" to "endDrag", but DragListener should definitely support more of a "cancel" behavior.

[2017-02-02 20:22] pixelzoom commented on #218
I'm not convinced that we need to distinguish between cancel and interrupt.  If we do, the semantics will need to be defined by the client.  Consider the case in Unit Rates...  I'm dragging a bag of something from the shelf to the scale.  If the drag sequence is cancelled, then it's not appropriate to move the bag back to it's starting position, because that position may now be occupied by another

[2017-02-02 20:45] samreid commented on #600
We'll address this in https://github.com/phetsims/circuit-construction-kit-common/issues/239

[2017-02-02 20:45] #600 closed

[2017-02-02 21:18] jonathanolson commented on #528
Added workaround for now, so function builder and other things that have SubSupText will not fail when passed the XSS testing string. Just ignoring unrecognized tags seems like a recipe to have things break without throwing an error.

[2017-02-03 17:52] jbphet commented on #528
The commit above looks incorrect, and I believe that it is causing problems for SubSupText.  It looks like it is expecting to not enter the if clause if the tested string is not found, but the return value is -1, which is not 'falsey', and the clause is being entered.
[code]

[2017-02-03 17:53] samreid commented on #528
Right, it looks like it should be changed to

[code]

[2017-02-03 17:58] jbphet commented on #528
Fixed in https://github.com/phetsims/scenery-phet/commit/b7374526d5e9c1c110e3651ce768af845de833a0.

[2017-02-03 18:00] jonathanolson commented on #528
Thanks, sorry about that. Commit looks good.

[2017-02-04 00:17] jonathanolson opened #601 "Node's dispose isn't called often"
A ton of types are overriding dispose() on Node and not calling the Node.prototype.dispose(). It has always existed, but was just part of Events which had a no-op dispose() method, but now (with the Tandem handling) it actually does something.

Flagging for developer meeting for handling. I'll check to see whether I can identify where this happens by toString()ing functions automatically.

[2017-02-07 20:26] Denz1994 opened #602 "HTMLText Initialized at odd location"
While working on https://github.com/phetsims/john-travoltage/issues/182 @samreid and I noticed that using an HTMLText object causes the initial bounds to be set at extreme values well outside of view bounds.
This was made prevalent in the screen view of the JohnTravoltage sim.

Sample code is provided:
[code]

When we ran this code block in JohnTravoltage with instance proxies and here are the bou

[2017-02-07 20:28] Denz1994 commented on #602
The way this was discovered was in the JohnTravoltage keyboard help panel. If one of the description lines was multi-lined, the line went off the page due to the height being so large.

[2017-02-07 22:31] samreid opened #603 "How should subtypes for phetioTypes be specified to Node?"
@zepumph and I identified 3 classes of approaches for how the tandem.addInstance(this,TType) call can be made:

CONVENTIONAL: The conventional way was to use tandem.createSupertypeTandem combined with an added tandem.addInstance(this,TSubclass) call in the subclass.

PROTOTYPE: @jonathanolson demonstrated a way to put the phetioType (we called it tandemType) in the prototype, and have it be used c

[2017-02-07 22:50] samreid commented on #603
We also raised the question of: if this is so great for scenery nodes, should we implement a similar framework for the model side?  For instance, every model instance could extend ModelObject, which provides a similar way of supplying tandems and phetioTypes.

[2017-02-07 23:06] samreid commented on #603
The preceding commits converted phetioType to a scenery node option and demonstrate usage in CheckBox.

[2017-02-07 23:11] samreid commented on #603
Here's an example of how nice the change is:

![faucet](https://cloud.githubusercontent.com/assets/679486/22715819/0f9102c8-ed50-11e6-913d-b1ac5b7dcc0e.png)

[2017-02-08 14:07] samreid commented on #603
Not too sure about the preceding commit, would be good to discuss at some point.

[2017-02-09 17:26] samreid commented on #601
I added in the Node.prototype.dispose.call(this) into many of the instrumented sun and scenery-phet classes.  It would be nice to check that other node subclasses address this.

[2017-02-09 19:07] pixelzoom commented on #601
I've started using this pattern for all implementations of `dispose` that involve a supertype:

[code]

[2017-02-09 19:27] pixelzoom commented on #601
The advantage of the above approach is that I don't have to go hunting for `dispose` functions in the type hierarchy -- which are sometime not at all easy to find, due to mixins or non-intutivie hierarchies (Node extends Events being a prime example).

The disadvantage of the above approach is that I don't identify supertypes that _should_ have a `dispose` function and are therefore leaking memory

[2017-02-09 19:28] pixelzoom commented on #601
Another disadvantage is that, a future implementation of the supertype's `dispose` may break my code.  So when you add a `dispose` function to a type, don't assume that you don't need to test! There may be code that starts to use your new `dispose` function as soon as it's added.

[2017-02-09 19:31] samreid commented on #601
Generally, the order should be reversed:

[code]

That is, the order an object is disassembled should be the reverse of the order the object is assembled.  For instance, if subType does this.children.push(x) and subType dispose does this.children.remove(x), that must be done before the SuperType eliminates the children array.

[2017-02-09 19:37] pixelzoom commented on #601
Self assigned to look at `dispose` implementations in my sims to see if any of them need to be fixed, specifically related to `Node`.

[2017-02-09 19:39] pixelzoom commented on #601
@jonathanolson said:

In dev meeting, he said there's a better way to do this, and he'll do it.

[2017-02-09 20:13] pixelzoom commented on #601
I took care of my sims, and all common-code _except_:

- [ ] scenery-phet/js/*.js
- [ ] scenery-phet/js/buttons/*.js
- [ ] sun/js/*.js

[2017-02-10 16:27] pixelzoom commented on #601
I completed common-code, see above commits.  Tested using test-server with `?testBuilt=false&fuzzMouse`.

[2017-02-10 16:55] pixelzoom commented on #601
All devs: Highly recommended to address this issue in your sims. You can wait until @jonathanolson implements automated checking.  Or you can manually inspect dispose functions to verify that they chain to their supertype’s dispose function (search for `dispose:`).  In either case, here's my recommendation on how to address this issue in client code.

First, identify whether the supertype has a `d

[2017-02-10 21:30] samreid opened #604 "For robust playbacks, can we record Input.dispatchEvent?"
Currently we are recording mouse positions and mouse presses, but these all pass through to Input.dispatchEvent, which has this signature:

`dispatchEvent: function( trail, type, pointer, event, bubbles ) {`

Since there is uncertainty that mouse positions may get out of sync (due to different bounds), would it be better/safer to record the calls to dispatchEvent?  We can record the indices of the

[2017-02-10 21:44] phet-steele opened #605 "HTMLText not captured in a screenshot"
From phetsims/john-travoltage/issues/190, using http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-phetiorc.1/wrappers/screenshot/screenshot.html?sim=john-travoltage&relativeSimPath

<img width="709" alt="screen shot 2017-02-08 at 12 01 32 pm" src="https://cloud.githubusercontent.com/assets/5863899/22752662/9927c854-edf6-11e6-965c-6b9647d05dd2.png">

[2017-02-10 22:33] jessegreenberg opened #606 "Implement keyboard fuzzer"
Out of https://github.com/phetsims/john-travoltage/issues/168, it would be nice if we had an automated way to test keyboard navigation issues. As mentioned in john-travoltage#168 it would also be useful in checking for unused accessibility code.

It should behave similarly to fuzzMouse but for all keys.  Perhaps it will also need to systematically loop through focusable elements to make sure that

[2017-02-10 22:44] phet-steele commented on #606
`&fuzzBoard`

[2017-02-10 23:38] jessegreenberg opened #607 "More abstraction for accessible components"
In https://github.com/phetsims/john-travoltage/issues/149 @jonathanolson said:

[code]

[code]

It makes sense to be able to mix in this "AccessibleSlider" behavior into any Node, e.g.:
[code]

[code]

Also I'd note that this is the typical case of mix-ins, where you need to add in behavior (acting like a slider) to any point in a normal inheritance hierarchy.

[2017-02-10 23:39] jessegreenberg commented on #607
Is there a precedent for conditionally mixing something in? For instance, say sun/HSlider mixes in AccessibleSlider, which sets the accessible content and adds axon/Properties for clients.

But if in some context we want a sun/HSlider to look like

[code]
with a custom set of listeners and Properties, we could have changes to the HSlider prototype or other things that we don't want.

[2017-02-10 23:40] jessegreenberg commented on #607
@jonathanolson responded with:

[2017-02-10 23:42] jessegreenberg commented on #607
I really like the first suggestion in https://github.com/phetsims/scenery/issues/607#issuecomment-279096400.  It seems useful to be able to customize the accessible component with options, so that any portion of the content can be changed, rather than overriding specific behavior with another mixin.

[2017-02-10 23:51] jessegreenberg commented on #607
We should investigate and see how this feels, but I am wondering if this pattern would be overkill for the majority of accessible content.  For instance, to create a button with the Accessibility mixin, you might do

[code]

Sliders are more complex, but most input elements tend to be this simple.

[2017-02-10 23:55] jessegreenberg commented on #607
With the first bullet in https://github.com/phetsims/scenery/issues/607#issuecomment-279096400, we might have

[code]

[2017-02-13 00:22] #598 closed

[2017-02-21 04:10] jonathanolson opened #608 "Input event documentation"
I'd like to propose that `{UIEvent}` is used for direct browser events, and `{Event}` should be used for the Scenery Event type.

This should help prevent confusion, as `{DOMEvent}` is incorrect, and having both as `{Event}` is unhelpful.

The common inheritance hierarchy of browser events is currently:

- Event
  - UIEvent
    - MouseEvent
      - PointerEvent
    - TouchEvent

So `{UIEvent}` (av

[2017-02-21 09:28] jonathanolson commented on #131
I'm at the point where some feedback on the current prototype implementation would be helpful.

Currently, it consists of the following types and inheritance:

- PressListener (improves on DownUpListener, provides a base for button and drag behavior)
  - DragListener (improves on SimpleDragHandler)
  - FireListener (improves on Scenery/ButtonListener, can be plugged with ButtonModel properties so

[2017-02-21 21:05] pixelzoom commented on #131
@jonathanolson What's the priority of feedback?  I have a bunch of other stuff ahead of this in my queue. So if it's not super-duper-tippy-top-priority, I might not get to this until next week.

[2017-02-21 21:09] jonathanolson commented on #131
It's not high priority, next week would be fine.

[2017-02-22 01:05] jonathanolson commented on #596
I just did a partial (not complete) review of Accessibility.js, and had some higher-level comments.

The documentation is excellent overall, the only minor point is documenting that things can be null (tagName is either a string OR null).

Accessibility's behavior (and validity) depend a lot on the order in which parameters are set. Set them in the wrong order, and things either fail silently (cha

[2017-02-22 14:51] samreid commented on #131
@pixelzoom's feedback seems critical to this--after he reviews this next week or so, I'd also like to take a look.

[2017-02-22 17:38] samreid commented on #608
The proposal sounds good to me.  Developers will still have to know that `{Event}` refers to a scenery event and not the parent of `{UIEvent}` but I'd rather not come up with a new name like `{SceneryEvent}`.

[2017-02-23 05:49] jonathanolson commented on #608
I'd also like to point out potentially using `{scenery.Event}` for documentation (I've done this), since window.Event is a non-Scenery thing. I didn't immediately suggest it because window.Node is a non-Scenery thing, and `{scenery.Node}` everywhere sounds unpleasant.

[2017-02-23 06:01] jonathanolson commented on #601
Issues created for locations that still have this problem, and since it seems to be helpful long-term, I'll leave in the assertion checks to make sure Node.dispose() is called (and that it isn't called twice).

[2017-02-23 06:01] #601 closed

[2017-02-23 17:50] samreid commented on #608
I'm also okay with `{scenery.Event}`

[2017-02-23 19:37] pixelzoom commented on #608
2/23/17 dev meeting:

UIEvent for DOM events.
Rename scenery's Event to InputEvent.

[2017-02-24 04:01] samreid commented on #608
During today's meeting, I wasn't able to follow the reasoning for renaming scenery's Event to InputEvent.  The name InputEvent is already taken--it represents an HTML5 interface which inherits from UIEvent: https://developer.mozilla.org/en-US/docs/Web/API/InputEvent

We are agreed to use UIEvent for DOM events.  Here are the possibilities for what to name the scenery events:
Event (clashes with DO

[2017-02-24 04:17] jonathanolson commented on #608
Rats, I was too quick to assume ```window.InputEvent``` not existing meant it wasn't an interface.

Thoughts on `{UserEvent}` as a doc and type name?

[2017-02-24 04:19] samreid commented on #218
I removed the deferred label because #131 is full-speed ahead.

[2017-02-25 00:36] jbphet commented on #218
I noticed that I was added to the list of assignees, and I think it is to respond to what @pixelzoom said above, specifically:

I looked through the code where @pixelzoom is using `endDrag( null )` (I found it in Function Builder and Unit Rates), and I haven't been doing anything like this.  For the most part, I've been identifying and logging multi-touch cancellation issues, but not doing much to

[2017-02-25 06:29] pixelzoom commented on #218
@jbphet You were added to the list of assignees because of this decision in yesterday's dev meeting:

CM,SR,JB will review scenery#218 and scenery#131 sometime in the next couple of weeks. Will not integrate into Unit Rates. Might integrate into Expression Exchange.

I don't see that you've reviewed this in the context of #218, you assigning you again.