[2017-03-02 21:12] jessegreenberg commented on #608
I like SceneryEvent for the Scenery Event type, its quite clear and seems unique for Scenery. I don't mind the verbosity.

[2017-03-03 02:25] jonathanolson commented on #608
Ok, so the current proposal is then:

- `{UIEvent}` for the type of DOM events that Scenery passes to listeners, possibly using `{Event}` in accessibility or other DOM contexts where not every event is `{UIEvent}`.
- '{SceneryEvent}' for Scenery events, with the type getting renamed to SceneryEvent.

Any objections?

[2017-03-03 04:58] samreid commented on #608
Sounds good to me, thanks!

[2017-03-06 03:14] pixelzoom commented on #218
Highly unlikely that I'll be able to review this before the first week of April.  If @samreid or @jbphet want to review before then, go for it.

[2017-03-06 03:14] pixelzoom commented on #131
Highly unlikely that I'll be able to review this before the first week of April.  If @samreid or @jbphet want to review before then, go for it.

[2017-04-03 18:14] pixelzoom commented on #131
In https://github.com/phetsims/scenery/issues/131#issuecomment-281289821, @jonathanolson said:

I actually authored zero of the input listeners that will be replaced. Authors were:
scenery.DownUpListener - @jonathanolson
scenery.ButtonListener - @jonathanolson
sun.ButtonListener - @jbphet, @samreid

All sims would benefit from interruptible listeners.  But it sounds like other developers have been

[2017-04-03 19:10] pixelzoom commented on #131
Caveats: This is all very complicated, necessarily I'm sure.  And I don't feel like my understanding of scenery's input system is deep enough.  So I'm not confident that I've grasped all of the issues or totally understand how it would be used.

Despite the comments in https://github.com/phetsims/scenery/issues/131#issuecomment-281289821, I really didn't understand MultiListener.  So I limited my

[2017-04-03 19:10] jessegreenberg opened #609 "Using innerHTML is causing ?stringTest=xss to fail"
Use of innerHTML for label and description content is causing ?stringTest=xss test to fail.  High priority since this is in the way of https://github.com/phetsims/tasks/issues/809.

```textContent``` is the safer option, thought it won't handle formatting tags when screen readers are going through things like ```<sub>``` and ```<b>```.  I will change to textContent and we can think of another way

[2017-04-03 19:13] jessegreenberg commented on #609
This was discovered in https://github.com/phetsims/unit-rates/issues/196

[2017-04-03 19:21] jessegreenberg commented on #609
Test no longer fails with the above commit, removing high priority tag.  But we will still need a way to remove handle formatting tags.

[2017-04-03 19:28] jonathanolson commented on #609
Usually either we would not allow translators to put in HTML markup, or we would have a secure way of validating those before use (which there isn't a great option for right now).

[2017-04-03 19:39] pixelzoom commented on #609
Verified in unit-rates.

Sounds like you still need a way to handle formatting tags, so I'll leave this to @jessegreenberg to decide how to close.

[2017-04-03 19:45] pixelzoom commented on #528
Noticed by @phet-steele.

@jonathanolson SubSubText is failing when for several sims when run with `stringTest=xss`.  acid-base-solutions, beers-law-lab, build-a-molecule, capacitor-lab-basics,...

[2017-04-03 19:46] pixelzoom commented on #528
Assertion failure is at line 141 of SubSupText:

[code]

[2017-04-03 19:53] jonathanolson commented on #528
Should be handled properly in the above commit. I should have noticed `setText` earlier (the constructor AND setText both set `this._text`, which is somewhat atypical).

[2017-04-03 19:56] pixelzoom commented on #528
Change to workaround verified in ABS (previously failed) and BCE (previously passed).

[2017-04-03 20:05] pixelzoom commented on #528
When `?stringTest=xss`, `window.phet.chipper.mapString` is set on line 340 in initialize-globals.js.  I.e.:

[code]

The current workaround duplicates part of the assigned value:

[code]

Here's a workaround that doesn't have that problem:

[code]

@jonathanolson should we change this?

[2017-04-03 20:08] pixelzoom commented on #131
Via Skype, @jonathanolson said:

[2017-04-03 20:09] jonathanolson commented on #528
I like that change. Committed.

[2017-04-03 20:10] pixelzoom commented on #528
Verified again with ABS (previously failed) and BCE (previously passed).

[2017-04-05 23:59] jonathanolson commented on #609
Added XSS testing handling for A11yStrings files (since presumably these will be translatable sometime).

[2017-04-06 00:01] jessegreenberg commented on #609
Thanks!

[2017-04-06 00:08] jessegreenberg commented on #609
In https://github.com/phetsims/scenery/commit/e5fadaaff62b7f47a841c394b2a24e9e24edead3 I am parsing the label/description text content and looking for HTML tags that are allowed.  If those tags (and only those tags) are found in the content, we pass as innerHTML - otherwise, we use textContent.

The parsing is done in AccessibilityUtil, but in https://github.com/phetsims/chains/issues/3 it looks l

[2017-04-06 05:54] jonathanolson commented on #609
Using something like Himlaya might be recommended. I didn't exhaustively check all the possibilities to try to break the commit (though it thinks "><>" has equal matching brackets, but fails it for the tag "><" not matching). It's probably secure as written, though it might be worth a check through https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet.

Also, note that the brackets checks

[2017-04-06 18:35] jessegreenberg commented on #609
In general, textContent is faster than innerHTML so I wanted to fall back to textContent when possible.

Thanks! I actually didn't know ```&lt``` and ```&rt``` were a thing.

[2017-04-07 16:50] pixelzoom commented on #528
Ah crap... The change that I suggested causes the workaround to be applied for _all_ strings, not just translated strings.   And that creates brand new i18n layout issues like https://github.com/phetsims/balancing-chemical-equations/issues/121.  So I have reverted that change.

@jonathanolson Any other ideas to address the fragility noted in https://github.com/phetsims/scenery/issues/528#issuecomm

[2017-04-07 16:51] pixelzoom commented on #528
Reverted in https://github.com/phetsims/scenery-phet/commit/8ea5852c9b9d9d088573a3143447e32770cbb93c.

[2017-04-07 16:55] pixelzoom commented on #218
@jonathanolson I see a bunch of commits and assignment to me by you, but no notes about what was done, or what you'd like me to review.  Can you give me some direction?

[2017-04-07 16:57] jonathanolson commented on #218
Review of DragListener/FireListener/PressListener and the example demo would be helpful. Available over Skype to discuss together or to give an introduction if that would help.

[2017-04-07 16:58] jonathanolson commented on #528
Would looking into using RichText be an acceptable (almost) replacement for SubSupText?

It's not fully compatible, as RichText treats its content as HTML, so the `&` character (if desired) would need to be encoded as `&amp;` in RichText.

RichText does handle bidirectional text properly, where SubSupText only combines LTR (reversing the order for RTL text), so replacement may be desirable.

Thoug

[2017-04-07 17:10] pixelzoom commented on #218
@jonathanolson how is that different from what you wanted in phetsims/scenery-phet#528?

[2017-04-07 17:11] pixelzoom commented on #131
Self assigned to look at scenery/examples/input.html

[2017-04-07 17:12] pixelzoom commented on #218
Is "the example demo" scenery/examples/input.html, or something else?

[2017-04-07 17:24] jonathanolson commented on #218
Sorry, did the work for this at the same time as https://github.com/phetsims/scenery/issues/131, forgot which issue I was in.

Yes, that is the main demo. It handles canceling of inputs with the provided button (or switching of the in-example tabs).

For interruption, this is handled in Node.interruptInput/interruptSubtreeInput, and Pointer (multiple attachment methods).

[2017-04-07 17:49] pixelzoom commented on #528
Assuming that we have review and consensus on RichText (see https://github.com/phetsims/scenery-phet/issues/300)...  I'd definitely like to see `SubSupText` deprecated.  There are 44 occurrences of `var SubSupText`, so replacing existing uses would be a bit of work, but I'd probably do that for my sims in any case.    So... Let's wait and see.  Assuming that `SubSupText` is deprecated, I'm fine wi

[2017-04-07 19:23] pixelzoom commented on #131
From Skype:

[4/7/17, 1:23:07 PM] Chris Malley: I see scenery/examples/multi-touch.html, but it fails with "Uncaught ReferenceError: scenery is not defined".

[2017-04-07 19:30] pixelzoom commented on #131
Ah... There is indeed an input.html, there's just no link to it from scenery/examples/index.html.

[2017-04-07 19:31] pixelzoom commented on #131
Now when I run http://localhost/~cmalley/GitHub/scenery/examples/input.html directly, I get "Uncaught TypeError: Cannot read property 'enableAssert' of undefined"

[2017-04-07 19:33] samreid commented on #131
The scenery examples run from a built version of scenery.  To launch them, follow these steps:

[code]

[2017-04-07 19:35] pixelzoom commented on #131
Just for the record... I've spent 15 minutes trying to find out what I'm supposed to be reviewing, another 15 trying to find it, now 10 minutes trying to figure out how to run it.  Very frustrating.  In the future I won't be reviewing anything unless I'm provided with a description of what you want reviewed, and (if there's something to run) a link to it.

[2017-04-07 19:42] pixelzoom commented on #131
For the benefit of other reviewers, a set of "tabs" appears at the top of the input.html demo:

![screenshot_200](https://cloud.githubusercontent.com/assets/3046552/24816899/d52c00c6-1b97-11e7-9a52-f9b9b717e602.png)

The purpose of each tab is nice documented nicely in input.html.

[2017-04-07 19:50] pixelzoom commented on #131
I reviewed the Drag, Button, Bound+Transform, Panel+Model, Rotation, and Ancestor+Move tabs. They all look reasonable, good examples and documentation in input.html.

I tried the Pan tab, but couldn't figure out how to use it, and the documentation didn't help me. Add some doc and I'll be happy to try again.

I'll need to come back to the multitouch tabs (M+SR, M+R, M+S, M) because I don't have a

[2017-04-07 19:52] pixelzoom commented on #218
Commits and comments for this issue appear to be combined (unintentionally?) with https://github.com/phetsims/scenery/issues/131.  So I'm going to give all of my feedback in that issue. Removing my assignment.

[2017-04-07 21:58] jonathanolson commented on #131
Sorry about that, I'll definitely include required details and a list of what to review for everything in the future.

Try pan and zoom in/out gestures with 2+ fingers inside the content in the 'Pan' tab. It should allow zooming to whatever level, with the constraint that you can't pan past the edge of the content, and you can't un-zoom past the base level.

It features interruptable actions, so o

[2017-04-10 16:22] pixelzoom commented on #131
M+R, M+S, M, and "Interrupt Input" all work nicely, and seem reasonable.

M+SR seems to be failing. iPad2 + iOS 9.3.5 + Safari, tethered to Mac OS 10.11.6 + Safari 10.0.3.  As soon as I use more than 1 finger to interact with the triangle, I see this in the console:

![screenshot_203](https://cloud.githubusercontent.com/assets/3046552/24871673/a9761ccc-1dd7-11e7-8c9c-0272cc7ad20a.png)

[2017-04-11 19:43] pixelzoom commented on #131
Unassigning myself.  @jonathanolson feel free to assign back to me when M+SR test is fixed.

[2017-04-11 20:27] phet-steele opened #610 "Scenery a11y unit tests failing"
The recent change https://github.com/phetsims/scenery/commit/12ae6501bdf54f03053e26b1b6e65273c5db2c50 is causing scenery unit tests to fail.

[code]

[2017-04-11 20:57] jessegreenberg commented on #610
Thanks @phet-steele!  scenery unit tests are passing locally again.

[2017-04-11 21:00] jessegreenberg commented on #610
Continuous testing is looking good again, closing.

[2017-04-11 21:00] #610 closed

[2017-04-11 22:08] pixelzoom commented on #131
Labeling for developer meeting in an effort to get feedback from other assigned developers.

[2017-04-12 15:41] samreid commented on #131
I am unlikely to have time to review this before April 20.

[2017-04-13 02:18] jonathanolson opened #611 "iOS Safari WebGL rendering out-of-sync with other rendering"
Will attach examples of visible issues.

[2017-04-13 02:23] jonathanolson commented on #611
Pushed to safari-webgl branch of blast for easily-visible test.

[2017-04-13 02:28] jonathanolson commented on #611
In the Blast test branch, rectangles with different renderers are used that sweep across the screen. On most browsers, the lines stay perfectly aligned. On Safari (iOS), they are usually mis-aligned (webgl leading in front):

![blast-bad](https://cloud.githubusercontent.com/assets/480878/24987607/2503df72-1fbe-11e7-9414-550647c79849.jpg)

but are for split seconds (every 1/15 photos or so) aligned

[2017-04-13 15:54] jonathanolson commented on #131
I'll be looking into the above M+SR failure.

[2017-04-13 16:00] jonathanolson commented on #131
I'll need to investigate with a tethered iPad. I can't get it to fail out in a multi-touch Windows environment so far.

[2017-04-13 19:08] samreid commented on #131
@pixelzoom said the main thing is too look at the examples in the code and to address @jonathanolson's review questions above.

[2017-04-13 19:11] pixelzoom commented on #131
4/13/17 dev meeting:

@jonathanolson suggested that @jbphet should review and see if there are any issues with using this in sun buttons.

[2017-04-13 20:06] samreid commented on #218
What is the relationship between this issue and https://github.com/phetsims/scenery/issues/131?  I'll plan on giving my feedback in that issue unless I hear otherwise.

[2017-04-14 19:43] jonathanolson commented on #218
They were implemented at the same time, but #131 more deals with the actual listeners side of things, and this issue deals with the Pointer/Node/Input support for the interruption.

[2017-04-14 22:55] jonathanolson commented on #611
Looks like this is happening with an isolated example, not just in Scenery (synchronization test committed above).

[2017-04-17 16:20] jonathanolson commented on #528
Replaced with RichText, closing.

[2017-04-17 16:20] #528 closed

[2017-04-17 16:23] jonathanolson commented on #605
Probably not an issue, this usage was replaced with RichText. @phet-steele can you test off master?

[2017-04-18 19:58] phet-steele commented on #605
Looks good!

[2017-04-18 19:58] #605 closed

[2017-04-20 20:26] jonathanolson opened #612 "Allow gradients to support all paint types"
Currently they don't accept color properties, which is inconvenient when using color profiles.

Some bits in Proportion Playground could potentially be simplified.

[2017-04-26 20:00] jbphet commented on #131
I took about 1.5 hrs to read through the code and try out the test/demo code.  Thanks @pixelzoom for the info above - that made things go more smoothly for me.

I tested out all demos on my Win10 machine with touchscreen, and all worked great.  I tested Interrupt Input on each.

I noticed in the demos and verified in the code that `allowTouchSnag` is not turned on.  I have this turned on for most

[2017-04-27 14:01] samreid commented on #131
Added developer meeting label to check status and next steps.

[2017-04-27 16:45] jonathanolson commented on #131
I'd like to (at some point) handle the review items, clean up the TODOs, and then look at moving this towards more usage (with buttons and joist integration).

[2017-04-27 17:14] pixelzoom commented on #131
I'm going to absolutely need this, especially the interrupt feature, in Equality Explorer -- which I am starting on immediately.

Reminder that M+SR is still broken in the demo.

[2017-04-27 17:36] jbphet commented on #131
M+SR works on Win 10, so I think that may be an iOS-specific bug.

[2017-04-27 17:37] pixelzoom commented on #131
Indeed, the failure was reported for iPad, see https://github.com/phetsims/scenery/issues/131#issuecomment-293001956:

[2017-04-28 16:33] jonathanolson opened #613 "Add loop-blinn rendering for cubic/quadratic segments"
Should include WebGL code (shaders) to display these with antialiasing.

[2017-05-10 18:34] jessegreenberg opened #614 "setAccessibleContent should be marked as @public (scenery-internal)"
Now that we are using the Accessibility mixin to maintain accessibility properties, we shouldn't be going through ```Node.setAccessibleContent``` anymore. It should be marked as @public (scenery-internal), and any external usages should be replaced with setting the mixin API.

[2017-05-10 20:08] jessegreenberg commented on #614
Done with the above commits, closing.

[2017-05-10 20:08] #614 closed

[2017-05-11 17:01] zepumph opened #615 "Rename focusProperty"
@samreid from https://github.com/phetsims/phet-io/issues/1131 thinks it could be nice to rename this to make it a bit clearer. @jessegreenberg what do you think about `focusedNodeProperty`?

[2017-05-15 21:46] samreid opened #616 "Should Node.bounds use a defensive copy?"
In https://github.com/phetsims/circuit-construction-kit-common/issues/310 I got tripped up by bounds not returning a defensive copy (and not being aware that my code was mutating the bounds).

@jonathanolson said:

@samreid said:

[2017-05-15 21:47] samreid commented on #616
Maybe start with performance profiling on iPad after turning on defensive copies?

[2017-05-16 22:39] zepumph commented on #615
@jessegreenberg and I talked about this, and we think that it is named correctly. `focusedNodeProperty` would assume that it is a node that the property is storing, but it is instead the coords in the scene graph. Closing

[2017-05-16 22:39] #615 closed

[2017-05-23 19:09] samreid opened #617 "Review new Node.hitTest function"
@jonathanolson and I discussed a new node hit test function that doesn't require a pointer.  I committed this:

[code]

And it should be reviewed.  Some questions:

1. Is `hitTest` the right method name?
2. Should `trailUnderPointer` call this?

The commit is in d951bb8c4faf052afe494097f41120896620244c

@jonathanolson can you take a look?

[2017-05-29 17:26] samreid opened #618 "// TODO: consider expected/actual, or don't worry because we'll run finer tests once it fails."
I noticed 13 occurrences of this comment across 13 files:

[code]

@jonathanolson can you please help me understand what it means, and what steps we should take, if any?

[2017-05-30 07:07] jonathanolson commented on #618
It relates to the aqua continuous-testing hooks. It would be possible to add the expected/actual values to QUnit assertions like equal() to continuous testing, but I haven't run across this being too helpful as we've been able to reproduce most qunit failures.

[2017-06-02 22:13] phet-steele opened #619 "Interrupting touch dragHandlers by setting a sim inactive breaks the drag"
This can be done in a phet-io "Active" or "Instance Proxies" wrapper, hence the phet-io label, but more importantly this is a breaking feature for our Legends of Learning work with build-an-atom (see phetsims/tasks/issues/851). Also, it appears to ***only be a touch input problem***.

Given the purpose of LoL, it is not unreasonable to imagine that a teacher would "pause" a sim as a student is dra

[2017-06-02 22:44] jonathanolson commented on #619
Instead of properly handling interruption, is it sufficient to queue up input events when paused, then play them back?

[2017-06-02 22:46] samreid commented on #619
That sounds like it would be good enough to me.  I can imagine cases where odd things would happen when the events catch up, but I'm not too excited about retrofitting 30+ old sims to handle event dropping.

[2017-06-06 04:25] samreid opened #620 "Modify Node.hasChild check for child parents"
I saw that Node.hasChild is implemented like so:

[code]

I was confused about why we needed to check the child parents, but I realized it is just for assertion style error checking.  Can we rewrite the code like this, to make the parent check only run under assertions?

[code]

There may not be a large performance boost if the number of parents is often small, but this seems clearer and may give

[2017-06-06 16:22] jonathanolson commented on #620
Sounds good, feel free to make the change and unit test/spot check?

[2017-06-06 16:29] samreid commented on #620
5084/5084 requirejs unit tests are passing after this change.  CCK still behaves normally.

I've also given one of the vars (ourChild) a more booleanish name (isOurChild).

 I'll commit.

[2017-06-06 16:30] samreid commented on #620
Change is committed above, back to @jonathanolson to see if there's anything else.

[2017-06-06 16:45] jonathanolson commented on #620
Looks good, thanks!

[2017-06-06 16:45] #620 closed

[2017-06-07 17:09] samreid opened #621 "Non-webgl sims can force the GPU to turn on and cause flickering."
On my development laptop, running Circuit Construction Kit: DC, a sim with no WebGL features forces Chrome to use the GPU and the screen flashes black for some 200ms then flashes black again for some 200ms a few seconds after switching back to the IDE.  I tried disabling webgl with ?webgl=false but am still seeing this behavior.

[2017-06-07 17:11] samreid commented on #621
The problem is that Instance.js calls `var isWebGLSupported = Util.isWebGLSupported;` which creates a canvas with `webgl` context, which triggers the GPU.

If I add this code to the beginning of Util.checkWebGLSupport, then I can develop with ?webgl=false without these problems.

[code]

This is good for development, but I'm wondering if we should solve this problem for production sims too (if tea

[2017-06-07 17:12] samreid commented on #621
I guess the main question is how scenery should check for query parameters.

[2017-06-07 18:04] jonathanolson commented on #621
Scenery should not check for query parameters, it should just not trigger that code for any Display with `allowWebGL: false` presumably?

[2017-06-07 18:09] jonathanolson commented on #621
Fix pushed, can you verify that this works?

[2017-06-07 20:19] jbphet opened #622 "cornerRadius option ignored when using Rectangle.bounds"
I was trying to do this:

[code]

...in Expression Exchange but was ending up with square corners.  I noticed that Rectangle.bounds looks like so:
[code]

If I remove the `0, 0`, which is an explicit specification for the corner radius, the problem goes away and the rounded corners work.  I discussed with @jonathanolson and he said that I should go ahead and remove the explicit corner radius from

[2017-06-07 20:20] jbphet commented on #622
Fixed, assigning to @jonathanolson to make sure it's cool.

[2017-06-07 20:21] samreid commented on #621
After pulling, I'm still seeing the same symptom.  I've tracked it to FocusOverlay, which is creating a new Display with webgl enabled.  Does the FocusOverlay currently use WebGL? Is it expected to in the future?  Can we change FocusOverlay to create a non-webgl display by default, or pass through some options of the main Display?

[2017-06-07 20:30] jonathanolson commented on #622
Change looks great (since the defaults are 0 anyways and we don't want to override what the client says).

[2017-06-07 20:30] #622 closed

[2017-06-07 20:32] samreid commented on #621
I ran the following test:
* Open Activity Monitor => Energy
* Open IntelliJ IDEA
* Open Chrome on the side (can still see IDEA)

* Open https://phet.colorado.edu/sims/html/function-builder-basics/latest/function-builder-basics_en.html

* Close Chrome

The flickers do not appear in a QuickTime recording.  Note this is for a simulation that has no webgl features at all (as far as I can tell).

[2017-06-07 20:34] jonathanolson commented on #621
Added forwarding of the allowWebGL value to FocusOverlay's display.

[2017-06-07 20:39] samreid commented on #621
Thanks @jonathanolson, that is working perfectly.  I'm glad this is fixed for development, we will have to discuss if another solution is warranted for published sims that do not use WebGL and are launched with no query parameters.

[2017-06-07 22:16] jonathanolson opened #623 "iPad 2 impartial rendering of gradients"
See symptoms from https://github.com/phetsims/graphing-lines/issues/82. Looks iPad 2 specific, and getting two gradients approximately horizontally aligned causes some or all of the gradients to not be painted.

[2017-06-08 13:18] samreid commented on #621
I'll bring this up for discussion at developer meeting to see if we need to address it.

[2017-06-08 18:46] jessegreenberg opened #624 "Accessibility should support DAG"
```setAccessibleContent``` supports the DAG, but the current mixin for accessibility doesn't because each nodes use references to accessible DOM elements.  accessible DOM elements are meant to be instance specific, and are sorted based on the instance tree.

The accessibility mixin should be refactored such that the setting or changing accessible content triggers update of accessible content on al

[2017-06-08 22:32] oliver-phet commented on #621
@samreid I tested on another 15" MBP and it behaved like your computer, but switched back to integrated graphics after ~7 seconds.

[2017-06-09 02:24] samreid commented on #621
Do you know if iPads have integrated graphics + GPUs?  I'm wondering if we need to test our sims for side effects of a switch.

[2017-06-09 15:05] oliver-phet commented on #621
I asked @phet-steele about this too and we aren't aware of any. It's good to keep in mind for the future if any Chromebooks or tablets that schools might widely adopt have discrete graphics.

[2017-06-09 16:03] samreid commented on #621
Sounds good, I think at some point it would be nice to see if creating the webgl context has any measurable impact (negative or positive) across our platforms.  Unassigning for now.

[2017-06-10 00:15] jessegreenberg commented on #624
Here is a diff of the accessible DOM for john-travoltage before and after the refactor:
![diff](https://user-images.githubusercontent.com/6396244/26998253-d4528b92-4d3e-11e7-8475-8b79050250a9.PNG)

Differences are only in the order of accessibility attributes, a change in some element id names (scenery-internal), and all focusable elements explicitly have ```tabindex=0```.

john-travoltage is runn

[2017-06-10 00:15] #624 closed

[2017-06-10 03:39] samreid opened #625 "branch: ttypeElimination"
to support https://github.com/phetsims/phet-io/issues/1112

[2017-06-12 18:24] samreid commented on #619
@phet-steele mentioned that Build an Atom testing is getting close enough to completion that we can start looking into this issue.  @jonathanolson can we schedule a time to work on this?

[2017-06-12 18:25] pixelzoom commented on #131
When beginning Equality Explorer, I asked in Skype:

[6/12/17, 11:50:27 AM] Jonathan Olson: Currently, I've recommended SimpleDragHandler
[6/12/17, 11:50:32 AM] Jonathan Olson: but soon will recommend DragListener
[6/12/17, 11:50:51 AM] Chris Malley: ok. i see zero occurrences of "var DragListener".
[6/12/17, 11:51:06 AM] Jonathan Olson: DragListener/etc. will be brought up-to-standards fully soon

[2017-06-12 19:25] jonathanolson commented on #619
The workaround consists of:

Changes to Sim:

- don't set display.interactive
- Connect activeProperty to display._input's activeProperty

Changes to Input:

- Add activeProperty
- When activeProperty changes to true, fireBatchedEvents()
- Check for activeProperty where batchDOMEvents is checked currently.

[2017-06-12 21:08] samreid commented on #619
@jonathanolson and I worked together on adding an `interrupt` feature to the legacy scenery events.  It would be great if @pixelzoom is available to review this.  @ariel-phet can you check whether that is possible and help prioritize?  If @pixelzoom won't be available to review this soon, can you recommend another reviewer?

[2017-06-13 16:13] pixelzoom commented on #619
Self assigning per @ariel-phet . 30 minutes tops to review, but I'll need an iPad, which I don't have with me today.

[2017-06-13 18:56] pixelzoom commented on #619
@samreid Are the steps that @phet-steele described in https://github.com/phetsims/scenery/issues/619#issue-233315394 still sufficient for testing this? If not, please provide details.

[2017-06-13 18:59] pixelzoom commented on #619
Since this mentioned "interrupt" I assumed that I'd need a multi-touch device to test that.  But perhaps that is not the case?

[2017-06-13 19:07] pixelzoom commented on #619
I asked about whether I needed an iPad to test this, and @phet-steele provided some info via Skype:

[6/13/17, 1:03:42 PM] Chris Malley: So that I understand... I need a touch screen because the problem occurs only for touch events?
[6/13/17, 1:04:07 PM] Steele Dalton: as far as I know, yes

But looking at the commits about, I don't see anything obvious to indicate that this is a touch-only proble

[2017-06-13 19:08] samreid commented on #619
The steps described by @phet-steele in https://github.com/phetsims/scenery/issues/619#issue-233315394 are one way to test the changes. Joist/Sim.js also uses the input interruption feature when switching screens, so you could test it by using an iPad, starting a drag sequence then switching screens while still dragging.

@jonathanolson also suggested that @phet-steele may be able to look up some o

[2017-06-13 19:15] jonathanolson commented on #619
It's not exclusively a touch-only issue, but it almost always can only be triggered by touch. The only reason in this case that it can be triggered with a mouse is because the test harness allows a delayed action (pause in 5 seconds), which allows it to be triggered. Usually if it's just a sim on its own, you can't trigger delayed actions like that, and thus for most cases it is touch-only.

If yo

[2017-06-13 19:17] samreid commented on #619
@pixelzoom this problem pertains to a large class of multi-touch problems, the main issues is not only to test that it works but more generally to investigate the implementation strategy we chose for interruptable input events using legacy scenery listeners.  We were hoping to get a code review from you and for you to evaluate the strategy and think about corner cases it might fail on.

[2017-06-13 19:24] phet-steele commented on #619
Using a mouse does not show the same symptoms. The controlled object can be recovered by moving the cursor back into the sim. Touch, on the other hand, is un-recoverable:

Mouse:
![lol01](https://user-images.githubusercontent.com/5863899/27100474-802c2b90-503b-11e7-812c-cb991718bb2e.gif)

[2017-06-13 20:01] pixelzoom commented on #619
FYI... The videos immediately above causes desktop Safari 10.1.1 (11603.2.5) to crash on Mac OS X 10.11.6 when I open this issue.  According to @phet-steele, I am "literally the only person with this problem".  This is not the first time that I've experienced this problem, and it requires me to open issues like this with a different browser, which is inconvenient.

[2017-06-14 01:02] samreid commented on #619
I'm using Safari Version 10.1.1 (12603.2.4) on MacOS Sierra 10.12.5 and the page is loading OK.  Is the problem loading any GIFs on Safari?  Or just certain GIFs?

[2017-06-14 03:27] samreid opened #626 "Time lost in noop?"
Tethered iPad3 safari reports about 2% frame time lost to noop dispatching:

![image](https://user-images.githubusercontent.com/679486/27114196-1d9ff490-507f-11e7-9410-a63e0bc60dc7.png)

The documentation for this noop in BrowserEvents.js says:

[code]

According to our website, we support iOS9+.  Is the BrowserEvents doc correct?  Do you think that workaround can be removed now?

[2017-06-14 06:43] jonathanolson commented on #626
Sounds worth testing.

[2017-06-14 16:35] pixelzoom commented on #619
It appears to be a problem only with the GIFs that @phet-steele creates with Camtasia.  Photoshop CS6 also has problems with these GIFs.  If I download the GIF from the above comment, here's the info on the file:

[code]

[2017-06-14 16:41] samreid opened #627 "validatePointers is called twice per frame"
While working on https://github.com/phetsims/circuit-construction-kit-common/issues/295

I saw this in the iPad3 tether frame profiling:

![image](https://user-images.githubusercontent.com/679486/27144081-cbfd9e52-50ed-11e7-9641-d56a916719cd.png)

Note that validatePointers runs for `touchMove` then again for `updateDisplay`.  Does this need to be run twice?  If so, why?  Note that the first valid

[2017-06-14 16:42] samreid commented on #627
I saw this code in Display.updateDisplay:

[code]

[2017-06-14 16:52] jonathanolson commented on #627
Yes, by design it's something that happens for every event and before the display is updated.

During Scenery cleanup I'll presumably fully document (and remember/evaluate why), but it's related to ensuring all of the enter/exit events are properly processed, particularly if clients move nodes from beneath pointers.

There may be alternatives, like synchronously checking on any node tree change wh

[2017-06-14 17:14] samreid commented on #627
I tried commenting out Display.validatePointers and running a built (mangled) version on iPad3 but did not see a measurable performance change.  Not sure why.

[2017-06-14 17:51] pixelzoom commented on #619
Moving GIF/Safari issue to https://github.com/phetsims/tasks/issues/862, and deleting related comments (including this one) from this issue.

[2017-06-14 19:42] pixelzoom commented on #619
@ariel-phet FYI, I'm punting on this - I've already spent >30 minutes trying to following incorrect instructions and trying to decipher what the correct behavior should be.   If someone wants to provide step-by-step instructions (that they've tested) with a description of the expected behavior for mouse and touch, then I'll be happy to take another pass at this.  Until then, this is wasting my tim

[2017-06-14 19:51] pixelzoom commented on #619
@jonathanolson asked me review the commits attached to this issue.

Skype:
[6/14/17, 1:41:13 PM] Jonathan Olson: I'm personally interested in your code review for the workarounds in SimpleDragHandler and DownUpListener. Can we discuss that code together to see if it's acceptable?
[6/14/17, 1:43:03 PM] Chris Malley: yep. would that be the commits in https://github.com/phetsims/scenery/issues/619?
[

[2017-06-14 19:57] pixelzoom commented on #619
Reviewed commits, discussed with @jonathanolson.  Synthesizing events in DownUpListener and SimpleDragHandler is the only thing that's not straightforward, but I'm not aware of anything that would break because of this - @jonathanolson knows more about scenery's input system than me.  Since there have been no problems noted in automated in testing, OK to proceed with this approach in master.

[2017-06-15 23:21] zepumph opened #628 "Scenery not building because of Brand dependency"
@jonathanolson and I pursued this problem a little bit, and it looks like that problem is that all brands use the 'string!' requirejs-plugin, and that plugin used the 'window' object, which scenery needs independence from.

This brings us back to if it is worth scenery picking up a dependency to Brand. I added it a little bit ago to help with some logic in Tandem, but there have been annoying and

[2017-06-15 23:28] jbphet opened #629 "Using DAG pattern can lead to memory leaks, mods to dispose function may resolve"
I recently tried taking advantage of the directed acyclic graph (DAG) nature of Scenery in Expression Exchange by setting up a factory function that used pre-created `Image` nodes and wrapped each one in a `Node` when a new instance of the image node was needed.  This had been suggested as a way to potentially reduce memory usage, since each image node was only created once when doing things this

[2017-06-15 23:29] zepumph commented on #628
I just committed a new brand that scenery can use that is basically like a no-op function. Scenery successfully built, but I'm not sure this is where we want to go.

[2017-06-16 01:31] jonathanolson commented on #612
Implemented.

[2017-06-16 01:31] #612 closed

[2017-06-16 15:05] samreid commented on #628
To clarify the problem: scenery cannot use `window` or the string plugin?  Why?

[2017-06-16 15:09] zepumph commented on #628
I'm sure @jonathanolson can speak to this more, but scenery has to be able to work without a window object defined, like for unit tests, and building and minifying the library./

When we added brand as a dependency, we basically added window to the scenery code. The reason why window doesn't work while building has something to do with how scenery is optimized I believe.

[2017-06-16 15:14] samreid commented on #628
I'd be interested in reproducing this problem, perhaps when we chat later on today?

[2017-06-16 15:38] jonathanolson commented on #628
Runtime Scenery expects window to be defined.

I think it may be a problem with the require.js optimizer running in Node not having window?

[2017-06-16 15:39] samreid commented on #611
I also saw this problem in CCK when using a WebGL layer and svg layer.  The wire was rendered with SVG and electrons rendered with WebGL.  In dragging, the electrons were super speedy and responsive and the wire lagged behind by a lot.  The design team was asking about why sometimes svg performance is laggy and why webgl is speedy.  I'm not sure but this seems to be a good example of that phenomen

[2017-06-16 15:40] samreid commented on #628
How does that work for our simulations?  They run the require.js optimizer in Node.

[2017-06-16 15:44] jonathanolson commented on #628
I just see `phet.chipper.brand` references in area-model-multiplication's config. No reference to window?

[2017-06-16 15:47] samreid commented on #628
I removed the Tandem->Brand reference and scenery grunt worked fine.  Perhaps we should bark up that tree?

[2017-06-16 15:47] zepumph commented on #628
But in Tandem:   `var Brand = require( 'BRAND/Brand' );`

This loads any of the Brand.js files in the brand repo, which all in turn use the string! plugin. Which use window, event with the check on line 34, we were still getting an error.

[2017-06-16 15:56] zepumph commented on #628
Hey I'm sorry if I have been confusing, but I found the root of the problem now. Basically we have to pick up many dependencies when we pick up Brand. Doing this requires adding the string! plugin dependency, and one for JOIST, which is not preferred. Having the noBrand brand keeps string! and JOIST out of the scenery build dependencies. It is less about the window object.

[2017-06-16 15:59] samreid commented on #628
Ah, so the problem is that it is trying to load strings from Joist like `var termsPrivacyAndLicensingString = require( 'string!JOIST/termsPrivacyAndLicensing' );` ?  It seems to me that Tandem is a general purpose naming and registry library (and hence OK for scenery to use) but that Brand is more for simulations.

[2017-06-16 16:02] samreid commented on #628
I noticed that other code in Brand checks for the existence of `phet.phetio`.  Can we use that instead of `Brand.phetioEnabled` and hence avoid the Tandem=>Brand dependency?

[2017-06-16 17:20] zepumph commented on #628
@samreid and I are working on solving this in https://github.com/phetsims/phet-io/issues/1106 by removing the dependency that scenery has on brand. Closing, to be continued there.

[2017-06-16 20:23] zepumph commented on #628
I removed Brand from scenery dependencies, and I removed the noBrand brand. See https://github.com/phetsims/phet-io/issues/1106.

Scenery now successfully builds and all unit tests run.

Closing

[2017-06-16 20:23] #628 closed

[2017-06-16 20:34] zepumph commented on #628
I'm not sure why the commits didn't show up, but they all look like this in dot, kite, phetcommon, scenery.
https://github.com/phetsims/axon/commit/12510072f4c4746ee195d1b275668d175f6c725b

[2017-06-17 06:55] jonathanolson opened #630 "Potential bounds bug"
Improper rendering on proto branch for fractions-intro review:

![screen shot 2017-06-17 at 12 54 10 am](https://user-images.githubusercontent.com/480878/27250893-96f543a2-52f7-11e7-9238-c1e3631f8e2c.png)

[2017-06-19 18:21] jonathanolson opened #631 "Documenting Scenery fill/stroke "color" types"
As noted in https://github.com/phetsims/scenery-phet/issues/287, the current type list (`{null|string|Color|Property.<string|Color>|LinearGradient|RadialGradient|Pattern}`) is verbose and fragile (if it ever needs to change, like if the Property ever changes to accept null as a value in all cases).

It would be much clearer to have some form of shorthand type documentation for this type of thing (

[2017-06-19 18:27] jonathanolson opened #632 "Accepting Properties as values for most options"
In https://github.com/phetsims/scenery-phet/issues/287, it was noted that being able to pass in Property types to options (Node options or otherwise) can sometimes be more convenient.

I've had cases where this would be useful for visibility, and @jbphet noted a case where it would be useful for Path's Shape.

Due to the potential costs of implementation (and documentation), I've tagged it as low

[2017-06-19 18:50] pixelzoom commented on #632
The other important thing from phetsims/scenery-phet#287 that's noted above is that polymorphic options are acceptable.

[2017-06-20 17:25] pixelzoom commented on #631
Worth noting is that the examples in phetsims/scenery-phet#287 were related to `Path`. That said...

Instead of duplicating the type expression in multiple places, document the type in the related setter, then refer to the setter in the JSdoc for the parameter or options.

E.g. in `Paintable`:

[code]

In subtypes and client code:

[code]

and

[code]

[2017-06-20 17:34] pixelzoom commented on #629
Options would appear to be:

(1) Node `dispose` fails an assertion if the Node has children.
(2) Node `dispose` automatically calls `removeAllChildren`.
(3) Do nothing and live with buggy `dispose` and memory leaks.

Imo, the only practical option is (2).

[2017-06-20 17:34] jonathanolson commented on #631
I don't want to reference individual Paintable methods, since then my default would be something like:
[code]
since many colors are used for all of the above.

It also feels wrong to me to not have something with an annotated type in the expected place.

[2017-06-20 17:35] jonathanolson commented on #629
I can try (2) and see if it causes automated testing errors.

[2017-06-20 17:39] pixelzoom commented on #631
Then how can you possibly avoid duplicating the type expression in multiple places?

[2017-06-20 19:10] jonathanolson commented on #631
Possibilities:
[code]

I'm currently preferring `{paint}`, as the lower-case nature hopefully clues that it's not a type object (and not `{Paint}`.

[2017-06-20 19:19] pixelzoom commented on #631
`{paint}` is not a valid type expression, so this results in invalid JSdoc. Do we care? Might we care in the future?

How do we know where `{paint}` is defined?

Why is having to navigate to the definition of `{paint}` better than having to navigate to (e.g.) `Paint.setFill`?

What do we do in situations where some subset of `{paint}` is supported? E.g., something that doesn't support a Property?

[2017-06-20 19:42] jonathanolson commented on #631
To me, it's a type (alias) for `{null|string|Color|Property.<string|Color>|LinearGradient|RadialGradient|Pattern}`, which is a type. Just in JavaScript as a language, it doesn't have a constructor (which is usually what we refer to as a type in JS). It can always be changed in the future if there's a better way to document it.

We also make things up like this for enumerations. `{GameState}`'s "ty

[2017-06-21 20:02] jbphet opened #633 "linear gradients and colors seem to be leaking"
I'm trying to fix some memory leaks on Expression Exchange, and I've tracked down the issue to the frequent removal of some buttons.  When I dig into the memory usage using Chrome dev tools, it appears that at least some of the leaks are due to references to LinearGradients and Colors that are coming from within Scenery.  Here is an example:

![exex-mem-leak](https://user-images.githubusercontent.

[2017-06-21 20:18] samreid commented on #629
(2) sounds good to me too

[2017-06-21 20:26] samreid commented on #631
Will it work if I put a radial gradient in the property?

I think it wouldn't be too expensive to copy/paste the type everywhere with a note with each that if it changes anywhere it should change everywhere.  That may be preferable to inventing a new type alias system.

[2017-06-21 20:42] jonathanolson commented on #631
Scenery doesn't support that (at least yet).

I'd like to propose using `@typedef` for this, in a common file (see http://usejsdoc.org/tags-typedef.html). This may be supported by IDEA, so it would understand the typedef.

So I'd propose something with the documentation tag:
[code]

so hopefully `{paint}` would be understood by IDEs.

[2017-06-21 20:44] samreid commented on #631
That sounds good to me, thanks!

[2017-06-21 20:50] jonathanolson opened #634 "Documenting parameterized types"
How do other developers feel about generic/template like naming of parameterized types?

For example for the following code:
[code]
currently we would document it as:
[code]
but if we name parameterized types, it (to me) becomes much more understandable (and is more like Java/C++ generics/templates):
[code]

Currently it almost (incorrectly) looks like it returns the same type as the Property woul

[2017-06-21 20:59] jonathanolson commented on #634
This is relevant to current code I'm working on, that would have a constructor parameter of type:
[code]
with options (in the options object):
[code]

It's going to be way more confusing with everything just being `{*}`.

[2017-06-21 21:16] jonathanolson commented on #633
I believe this was fixed by the above commit (verified with @jbphet). Closing.

[2017-06-21 21:16] #633 closed

[2017-06-21 22:26] jonathanolson commented on #629
I added (for testing) a temporary block of code to dispose that should prevent most interaction with the Node when it is disposed:
[code]

The following simulations had an error unrelated in fuzzing (i.e. I have full permission to break them with any Scenery changes like this): balloons-and-static-electricity, circuit-construction-kit-black-box-study, optics-lab

The following assertions/errors lo

[2017-06-21 22:27] jonathanolson commented on #629
I'm re-running with the getter overridden to see if any other sims break with that (should not call a getter or setter presumably after disposing).

[2017-06-21 22:45] pixelzoom commented on #629
Many of the current assertion failures are:

```Attempted to removeChild with a node that was not a child.```

I wonder if these are all the result of using the same anti-pattern.

[2017-06-21 22:45] jonathanolson commented on #629
Extra failures due to not allowing getters to execute are below. At least one looks related to HSliderThumb still getting dispatched events after it should have been removed.

build-an-atom
[code]

curve-fitting
[code]

sun
[code]

[2017-06-21 22:46] jonathanolson commented on #629
Yup. For example, function-builder is triggered by XYTableNode doing:
[code]
which looks explicitly in the wrong order.

[2017-06-21 22:47] jonathanolson commented on #629
In charges-and-fields:
[code]

[2017-06-21 22:50] pixelzoom commented on #629
[code]

The `removeChild` is no longer needed, correct?

[2017-06-21 22:51] pixelzoom commented on #629
Ah, scratch that.  `removeChild` is still needed, but need to change the order.

[2017-06-21 22:53] pixelzoom commented on #629
graphing-lines and graphing-slope-intercept (PlayNode):

[code]

[2017-06-21 22:59] pixelzoom commented on #629
function-builder, graphing-lines, graphing-slope-intercept are fixed by the above commit.

[2017-06-21 23:01] pixelzoom commented on #629
rutherford-scattering fixed in above commit, because I feel some vestigial sense of ownership.

[2017-06-21 23:07] pixelzoom commented on #629
charges-and-fields fixed in above commit, so that all "Attempted to removeChild with a node that was not a child" assertion failures are fixed.

[2017-06-21 23:08] pixelzoom commented on #629
Oops, one more -- least-squares-regression fixed in above commit.

[2017-06-21 23:09] pixelzoom commented on #629
"Attempted to removeChild with a node that was not a child" assertion failures are fixed in the above commits for all sims.

[2017-06-21 23:10] jonathanolson commented on #629
Should I commit the detaching children/parents (and if assertions are enabled, scuttle the implementation of Node on that object) so we can use bayes/etc. to pick up anything remaining?

[2017-06-21 23:44] jonathanolson commented on #619
Update on current known behavior and reproduction (it finally happened on my device!)

My best guess is:

1. Do some stuff (unknown)
2. Pause in 5 seconds, then quickly grab a neutron and drag it around.
3. The "pause" happens, sets active:false, triggers endDrag on handler, and userControlled goes to false.
4. Drag that neutron again, and then release it in the play area.
5. endDrag happens again

[2017-06-21 23:52] jonathanolson commented on #619
Potential corroborating stack-trace on userControlledProperty listener (one that spuriously set it to true):
[code]

[2017-06-22 00:02] jonathanolson commented on #619
Through this abomination:
[code]
I was able to get a debugger with a full buggy stack-trace:
![wow](https://user-images.githubusercontent.com/480878/27411580-ba1b96d0-56ab-11e7-824c-843eff353f23.PNG)

Inspecting.

[2017-06-22 00:06] jonathanolson commented on #619
For future reference, this touchstart-based snag looks legitimate so far in its current state. Touch pointer still in the pointers list in Input.

[2017-06-22 00:16] jonathanolson commented on #619
Input still lists the touch in its pointers array (that's bad).

Presumably the buggy code sequence is:

- Dragging something with set delayed pause
- Pause happens, interrupts input but DOES NOT remove the Touch object from pointers
- Resume
- User drags again. When released, it releases as normal (setting the location of the ParticleView to where the touch is). NOTE: User probably has to release

[2017-06-22 00:29] jonathanolson commented on #619
It's unsafe to just remove the touch from the pointers array, since if the user keeps their finger down for the duration of the pause, it will continue to get sent events (and move). Scenery would complain/error out about having missed a touchdown.

I'm considering having clearBatchedEvents actually do some housekeeping to figure out when to actually remove the touches (instead of just ditching al

[2017-06-22 00:52] jonathanolson commented on #619
So some listeners count how many pointers are over their content. If we just silently "disappear" the touch and interrupt the listener, it would still have an incorrect count.

That would indicate we should have at least SOME information about the queued events happen, even if it's not a full replaying.

Tagging for developer meeting to discuss what really is the desired behavior here.

- "Full re

[2017-06-22 19:24] pixelzoom commented on #631
Consensus, @jonathanolson will:
• phet-core/js/typedefs.js
• test with Intellij IDEA

[2017-06-22 19:26] pixelzoom commented on #634
`@template` is specified by Google Closure Compiler:
https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler

[2017-06-22 19:28] jonathanolson commented on #634
I'll check how this works in Intellij, and look at how it behaves.

[2017-06-22 19:33] jonathanolson commented on #619
I'll grab people to discuss during the next core hours.

[2017-06-23 05:37] samreid opened #635 "ImageWebGLDrawable.reserveSprite is getting called with this.node===null"
![image](https://user-images.githubusercontent.com/679486/27467907-8decead4-57a3-11e7-822c-0eb82c66cf5e.png)

This is from a fuzz test in CCK DC.

I added an assertion in SelfDrawable to make sure this.node is defined on initializeSelfDrawable.  The only place it is unassigned is in dispose, so my hypothesis is that ImageWebGLDrawable.update and hence reserveSprite is being called on disposed inst

[2017-06-23 06:42] samreid commented on #635
@jonathanolson suggested adding this code to WebGLBlock.removeDrawable

[code]

[2017-06-23 19:32] samreid opened #636 "Should addAccessibleInputListener automatically preventDefault?"
In https://github.com/phetsims/circuit-construction-kit-common/issues/307 @jessegreenberg added `preventDefault` calls to prevent e.g., firefox from navigating pages back.  Should this be automatically implemented in addAccessibleInputListener so we don't end up scattering preventDefault everywhere?

[2017-06-26 19:48] samreid opened #637 "toDataURLNodeSynchronous or WebGL is leaving artifacts"
When I started using toDataURLNodeSynchronous and WebGL to render nodes for CCK, I saw rendering artifacts like these:

![image](https://user-images.githubusercontent.com/679486/27557223-039ecf3e-5a76-11e7-8494-b9bc210e43fc.png)

@jonathanolson any idea what may be causing this?

[2017-06-27 20:30] jonathanolson commented on #619
Current best option:

When paused:

- Interrupt listeners
- Remove all Touch pointers from the pointers array (sending exit events as necessary)
- Fully ignore all DOM input events (nice and simple)

When unpaused:

- Don't need to do anything

Other changes:

- If an unknown touch comes in (a touch ID that we don't have recorded, because we ignored events or removed it earlier), we just ignore th

[2017-06-28 21:52] pixelzoom opened #638 "better verification of operations that require a Node to have valid bounds"
It would be helpful to improve the error messages associated with a Node that has no bounds.

For example, in the console:

[code]

And there are other variations of this, where the problem is not detected and it fails somewhere further down in scenery.

This is one of the more common types of error that I find myself making.  So when I get an unexpected failure, it's the first thing that I think

[2017-06-29 18:20] jonathanolson commented on #619
Implemented fix. @phet-steele, can you verify that the "sticking" of particles now doesn't happen in the harness with pausing?

[2017-06-29 20:09] jbphet opened #639 "consolidate code for forwarding events"
We've been using a pattern for a while where a node in some sort of toolbox creates a new node and then forwards subsequent input events to the created node.  There was recently a need to make touch snag work for this, and the code was implemented - and essentially duplicated - in CCK and Expression Exchange.  This should be consolidated into a new object to avoid code duplication.  The relevant c

[2017-06-29 23:34] jbphet commented on #639
Here is the related issue from Expression Exchange: https://github.com/phetsims/expression-exchange/issues/121

[2017-06-30 03:20] jonathanolson commented on #639
How about:

[code]

[2017-06-30 03:32] jonathanolson commented on #635
Applied fix (verified it should be safe and correct). Closing.

[2017-06-30 04:02] samreid commented on #639
CircuitElementToolbox.js and SensorToolbox.js (the 2 toolboxes in circuit-construction-kit-common) have this pattern, you can search for `touchenter` to see it in action.

I'm not sure how that would work exactly--does it return a plain object or a SimpleDragHandler?  If the former, then it seems like it would work OK but would be a bit odd that SimpleDragHandler.createSomething doesn't return a S

[2017-06-30 04:43] jonathanolson commented on #639
[code]

It's totally SimpleDragHandler-specific with the check for `dragging`. Would a better function name help?

Yup, it supports preventing it!

[2017-06-30 04:46] jonathanolson commented on #638
Should definitely be doable with an extra assertion check on certain setters. Self-assigning.

[2017-06-30 04:51] samreid commented on #639
Understood, thanks for clarifying, that sounds great!

[2017-07-01 01:40] samreid commented on #639
I tried the solution proposed above and I'm getting double drags:

![image](https://user-images.githubusercontent.com/679486/27758180-f997f476-5dcb-11e7-8d8d-f14d3ac92b64.png)

I thought the event.pointer.pressed would have prevented that, but something's wrong.

[2017-07-01 01:44] samreid commented on #639
Touchenter and touchmove should be:

[code]

So they can short circuit.

[2017-07-01 02:07] samreid commented on #639
I added SimpleDragHandler.createForwardingListener in the preceding commit.  I also separated out the `touchSnag` into the options and renamed as `allowTouchSnag` for consistency with SimpleDragHandler.  @jonathanolson can you please review?  @jbphet can you please try this out for your sim?

[2017-07-01 02:18] jonathanolson commented on #639
Don't see it pushed to master (checked https://github.com/phetsims/scenery/blob/master/js/input/SimpleDragHandler.js). I only see the CCK commit.

[2017-07-01 02:19] jonathanolson commented on #639
Sorry about the bug in my implementation!

[2017-07-01 02:58] samreid commented on #639
No problem, it should be pushed now.

[2017-07-01 03:07] jonathanolson commented on #635
This seemed to be still occurring somehow.

[2017-07-01 03:23] jonathanolson commented on #635
Looks like it can get marked as dirty multiple times, will need to do a more intelligent scan.

[2017-07-01 03:35] jonathanolson commented on #635
Should be fixed, but @samreid can you verify?

[2017-07-06 07:02] jonathanolson opened #640 "Mipmap memory improvements"
Noticed in https://github.com/phetsims/circuit-construction-kit-dc/issues/62 that mipmaps are triggering generated Canvases in every Image node (for every level). This is wasteful for memory, so Canvases should be created in a central place for this purpose.

[2017-07-06 07:07] #640 closed

[2017-07-06 16:30] samreid opened #641 "branch: toDataURLImageNodeSynchronous"
From https://github.com/phetsims/circuit-construction-kit-dc/issues/62

@jonathanolson and I discussed adding a feature to scenery which would allow toDataURLNodeSynchronous but without the extra parent/wrapper Node.

[2017-07-06 16:37] samreid commented on #641
I added a new toDataURLImageSynchronous method and call it from toDataURLNodeSynchronous.  @jonathanolson can you please review the scenery commit?  It is currently in a branch.

[2017-07-06 16:45] samreid commented on #641
on startup (saved 63 nodes)
1229 nodes before this change
1166 nodes after this change

after dragging out one of each item in 1st carousel (saved 104 nodes)
1383 nodes before this change
1279 nodes after this change

[2017-07-06 18:55] jessegreenberg commented on #636
I am afraid that preventing default in addAccessibleInputListener would be too aggressive.  For instance, calling ```event.preventDefault()``` on all ```keydown``` event listeners will also prevent use of tab key to go to the next item and ctrl + r to refresh the page.  We only want to ```preventDefault``` when specific keys are pressed in the listener.

[2017-07-06 19:00] jessegreenberg commented on #636
Maybe we can factor out common interactions that will require us to prevent default. Like ```SimpleDragHadler``` we could have a ```KeyboardDeleteHandler``` (we can think of a better name later).  In CCK we have
[code]

Perhaps the API could look like
[code]

And the handler prevents  default for us so it isn't needed in sim code?

[2017-07-06 20:07] jessegreenberg commented on #636
We could end up with a lot of these
```KeyboardDeleteHandler```
```KeyboardSliderHandler```
```KeyboardDragHandler```
```KeyboardArrowKeyHandler```
```KeyboardNumberHandler```

I am not sure how I feel about lots of these handlers. But at least the reasons for preventDefault would be isolated and documented in each one.

[2017-07-06 23:25] samreid commented on #636
Perhaps we should see (or anticipate) what patterns come up frequently.  Perhaps an abstraction like:

[code]
would work well?  It's difficult to say whether this would be necessary or useful.

[2017-07-06 23:45] jessegreenberg commented on #636
Agreed, though an abstraction does seem useful.  I found 44 usages of addAccessibleInputListener, and inspection should about 1/4 use ```event.preventDefault()``` in some way.

[2017-07-07 15:48] jonathanolson commented on #629
Implemented, will close.

[2017-07-07 16:45] phet-steele commented on #629
Not all of the above errors are fixed. Going to make issues in their respective repos.

[2017-07-07 17:30] jonathanolson commented on #629
Pushed an improvement for error messages related to this.

[2017-07-07 17:53] jonathanolson opened #642 "Catch bad options objects"
With extendDefined being added, the Node.mutate assertion is not enough to check for things like a Font being passed in as options to a Text.

Will add assertions to catch these cases.

[2017-07-07 17:55] #642 closed

[2017-07-07 18:21] jonathanolson commented on #629
Reopening, as this presents some issues with sending exit events for when a Node is removed/disposed when it was under a pointer.

Receive an error like:
[code]
since it's trying to dispatch the exit event to the old location (which has a disposed node).

Current plan is to allow checking whether a Node is disposed (isDisposed()), and don't try to dispatch events to it if that is the case.

[2017-07-07 18:38] phet-steele commented on #619
Talked with @jonathanolson yesterday. Most browsers agree with this fix....except Edge. JO can probably speak to this more, but there are some cases in Edge where the sim breaks when we do not use event.preventDefault. It looks like there are some user gestures that work when the harness is paused (like swipe right to go to the previous page, but stop halfway and swipe back to the left to stay on

[2017-07-07 19:06] jonathanolson commented on #629
This is working at preventing that class of errors, closing.

[2017-07-07 19:06] #629 closed

[2017-07-07 21:12] jonathanolson opened #643 "Encodings for accessible labels/descriptions/etc."
It looks like accessible labels (and other things that use setTextContent) switch between two different ways of displaying things (innerHTML and textContent) which support different text encodings, based on the presence of valid HTML tags and the absence of "malformed" tags.

Text/HTMLText handles this by essentially specifying a flag for which encoding should be used (whether innerHTML should be

[2017-07-07 21:43] jessegreenberg commented on #643
This sounds great @jonathanolson, as long as you are OK with adding himalaya to scenery as a third party dependency?

[2017-07-07 21:51] jonathanolson commented on #643
This should be fine, as long as it can be bundled into Scenery builds.

Would it presumably support RichText's tags plus the extra accessibility tags (mark/small/del/ins), and would strip everything but the following attributes:

- a.href - but we don't want strings to be able to input this themselves? Do we need something extra?
- font.color
- font.face
- font.size
- span.dir

[2017-07-07 22:01] jonathanolson commented on #638
Added. Example in Scenery playground:

![scenery-bounds](https://user-images.githubusercontent.com/480878/27978567-780af716-632d-11e7-875a-4ec18aea9f85.PNG)

[2017-07-07 22:11] pixelzoom commented on #638
Thanks, that will be most helpful!  Closing.

[2017-07-07 22:11] #638 closed

[2017-07-07 22:55] jonathanolson commented on #619
Reproducing with touch on a Surface Pro 3. Local urls (http://10.10.X.X) and file:// aren't working in Edge with the harness, so I'll be SCPing test versions to spot.

[2017-07-08 03:24] samreid commented on #641
@jonathanolson I'd love to get back to scenery master, can you please prioritize this issue for near future?  It's not a very large or complex delta.

[2017-07-08 03:27] samreid commented on #637
@arouinfar also requested this be investigated in the near future for CCK 1.0.  @jonathanolson can you take a look?  We may need to add padding to the textures or something?

[2017-07-08 03:28] samreid commented on #635
I haven't seen this problem since the commit, closing.

[2017-07-08 03:28] #635 closed

[2017-07-08 03:41] samreid opened #644 "Drag events are called 2x per animation frame"
In https://github.com/phetsims/circuit-construction-kit-dc/issues/74 I noticed that drag events were getting called 2x as often as animation frames.  Is that normal?  It seems like it has performance implications we may need to address.

For instance, in @pixelzoom's Function Builder, I put a console.log in stepSimulation and MovableObject.drag and saw this output on Mac chrome:
![image](https://u

[2017-07-08 05:10] jonathanolson commented on #644
Pretty much yes. Mouse/touch moves can definitely fire at a faster rate than the frame rate. This is generally nice, as it gives a finer-resolution curve of where the pointer went.

Depending on the simulation, it's usually better for maintenance when the view is updated for every user event (as necessary), but definitely for performance-critical parts it can be very helpful to delay expensive ope

[2017-07-08 05:12] jonathanolson commented on #637
Will look into it. I assume I can reproduce this without any changes on desktop Chrome?

[2017-07-08 05:14] jonathanolson commented on #641
Looks good, will plan to merge in with some added documentation about pitfalls for using that method.

[2017-07-08 05:15] samreid commented on #644
Thanks @jonathanolson, it is good to know. For CCK, I've batched some expensive operations to run in the view step.  Not sure if we need to do anything else for this issue, not sure if others are aware of this behavior (though it may be good to know when performance optimizing for iPad2).

@pixelzoom thoughts?

[2017-07-08 05:15] samreid commented on #641
Excellent, thanks!  I forgot Bayes will be mad until we merge.

[2017-07-08 05:18] samreid commented on #637
Thanks, I can see the problem on my Mac chrome Version 59.0.3071.115 (Official Build) (64-bit) running in requirejs mode

![image](https://user-images.githubusercontent.com/679486/27982799-5009d736-636a-11e7-9cb6-a6287263f995.png)

I cannot see the problem on iPad2.

Mac Firefox has this artifact on the Light Bulb tail:
![image](https://user-images.githubusercontent.com/679486/27982814-9d8e122e-63

[2017-07-08 05:26] samreid commented on #641
In the above commit I added a note about limitations of toDataURLImageSynchronous.  @jonathanolson want to take a look before I merge to master?

[2017-07-08 05:36] samreid commented on #641
scenery unit tests + lint are passing, and I tested toDataURLImage in CCK and toDataURLNode in balancing act.  All seems well, merging.

[2017-07-08 05:37] samreid commented on #641
Merge to master complete.

[2017-07-08 05:38] samreid commented on #641
Branch deleted.  Reassigned to @jonathanolson to see if there's anything else (ok for lower priority).

[2017-07-08 07:04] jonathanolson opened #645 "Edge not sending pointercancel"
Noticed in testing for https://github.com/phetsims/scenery/issues/619 where the pointer cancel seems to not happen as expected, however the general problem is larger in scope (thus this issue).

How to reproduce:

1. Open Build an Atom in Edge, and open up something in another tab.
2. On the first screen, start dragging around a particle with finger A.
3. Use finger B to switch to the other browse

[2017-07-08 07:07] jonathanolson commented on #619
@ariel-phet, I've spent enough time on this where I'd prefer to bail on handling the Edge-specific nature for Legends of Learning, and potentially sometime look at the larger Edge bugginess (see details in https://github.com/phetsims/scenery/issues/645).

Currently I'd guess 2 more days of my time on this would have a 40% chance of resolving this issue.

[2017-07-08 07:19] jonathanolson opened #646 "Assorted pointer events improvements"
Noticed during https://github.com/phetsims/scenery/issues/619, cleaned up.

Adds improved detection for pointer events (Chrome will now use that instead of the touch events API), and setPointerCapture is moved up to handle touch/pen as well.

@phet-steele, tagging you so you're aware if any input issues cross-simulation arise with Chrome (or potentially Edge/IE).

[2017-07-08 07:20] #646 closed

[2017-07-08 07:36] jonathanolson commented on #645
Best workaround so far would be detecting it by polling every frame (for every touch) with setPointerCapture, as it errors out when a pointer isn't active.

This doesn't work well, because Edge doesn't error out until you put another finger back down in the sim. Unsure of performance impact.

e.g.:
[code]

[2017-07-08 07:39] jonathanolson commented on #641
Looks good, thanks!

[2017-07-08 16:40] ariel-phet commented on #619
@jonathanolson - I think anyone using Edge "deserves" to get some strange behavior :).

Considering our usage stats (with chrome as by far the dominant browser), I am fine with you bailing.

[2017-07-10 14:56] pixelzoom commented on #644
It may give finer resolution. But since the view is updated only once per frame, what is the benefit of having the sim process more the 1 drag event per frame?  E.g. if N drag events occur during a frame, would the user see anything different if the sim received only the last of those drag events?

[2017-07-10 15:54] jonathanolson commented on #644
For simplistic drags, this would be the case. However there are many other cases:

- "Tracing" feature during Build a Molecule's cut draws the mouse's path. Extra points helpful here.
- Up/down events can happen, and you want to make sure the pointer is in the correct place when that happens.
- It lets touch-to-snag work. If you ignore touches in the middle, there's a good chance you will skip ove

[2017-07-10 16:06] pixelzoom commented on #644
For sims where there's no benefit to finer granularity (which I suspect is the majority of sims), it would be unfortunate to deal with this is client code in order to hit performance goals.   Perhaps a scenery option that allows you to specify whether you want all events or just the "last" even per frame?

[2017-07-10 16:08] samreid commented on #644
Also, my original report was for desktop Chrome--we should check the ratio of input events per frame on iPad2 before optimizing this.

[2017-07-10 16:15] pixelzoom commented on #644
E.g. for function-builder, testing flagged performance as "OK" on iPad2, and "Poor" on iPad3 (see https://docs.google.com/spreadsheets/d/1crnipxdR5PEn8QBWQKMzPSA6sUMWdaBLRL0j8ZEzvEo/edit#gid=2). In function-builder, "performance" is solely drag performance, and drag handlers are the only performance-critical code.  Had I known that multiple drags were being processed per frame, I likely have impro

[2017-07-10 16:20] oliver-phet commented on #645
I have yet to receive any Edge bugginess similar to this.

[2017-07-10 16:55] ariel-phet commented on #645
@jonathanolson considering our usage on Edge (very low), and other priorities, I am marking this a low (quite low). Best to focus on sim work and revisit this question after the summer.

[2017-07-10 16:57] jonathanolson commented on #645
Understand, unassigning myself.

[2017-07-10 17:19] jessegreenberg commented on #643
Discussed with @jonathanolson.  We agreed that it would be best to support accessibility tags (```b```/```i```/```mark```/```small```/```del```/```ins```, maybe more), but we shouldn't need any of the attributes. ```href``` can be added to the element in the accessible DOM as it is now, and ```color```/```face```/```size```/```dir``` are deprecated and don't change the reading by AT.

Proposed str

[2017-07-10 22:20] jonathanolson commented on #644
I thought the preference now was for most sims to include touch-snaggability, so there would be some benefit to most sims?

Wouldn't my proposal above (that handles this in the drag handler, so it can choose to ignore unneeded events and not disable it for the entire sim) be preferable?

Agreed. I'll create a quick test that can be browsed without having to enable the console.

The iPad 3 I though

[2017-07-10 22:35] jonathanolson commented on #644
Pushed a test that can be loaded by visiting scenery/tests/frames-and-events.html

Every animation frame or move event adds (or changes) the next square. Blue is an animation frame, red is a move event.

Chrome canary example showing my moving my mouse (I get 1 event per frame whem moving):
![scenery-events](https://user-images.githubusercontent.com/480878/28043132-b87a88e0-658d-11e7-9bfb-c79d4c08

[2017-07-10 22:38] jonathanolson commented on #644
iPad 2 test (Lave) shows predominantly 2 events per frame.

[2017-07-10 22:41] jonathanolson commented on #644
My normal desktop Chrome (Windows 7, Chrome 59) sends a lot of events:
![scenery-events-chrome](https://user-images.githubusercontent.com/480878/28043294-730cc768-658e-11e7-9152-cdc41635db36.PNG)

OS X chrome sends 2 events per frame.
OS X Safari sends ~4 events per frame.

[2017-07-10 22:41] pixelzoom commented on #644
@jonathanolson asked:

Yep. That's what I meant by "scenery option that allows you to specify whether you want all events or just the "last" event per frame" -- something baked into common code.   To further clarify...

@samreid said:

... and that's what I meant by "it would be unfortunate to have to deal with this is client code".

[2017-07-10 22:46] jonathanolson commented on #644
I'll plan to look into modifications we could use for SimpleDragHandler (that's predominantly used for almost all drags).

If that option is provided, presumably it would be required to step() the drag handler?

[2017-07-10 22:46] jonathanolson commented on #644
Also, note that the above tests weren't under heavy load. If that's the case, it's likely that it would fall back to 1 event per frame.

[2017-07-11 14:54] pixelzoom commented on #644
I'm not clear on this. Can you provide a hypothetical example?

[2017-07-11 16:28] jonathanolson commented on #644
[code]

[2017-07-11 19:16] phet-steele commented on #645
@jonathanolson both procedures, tab switching and LoL zooming, are reproducible on my Win 10 Edge.

[2017-07-12 14:31] samreid commented on #644
If I understand correctly, this is because scenery would have no way of knowing which input event is the last one so would need an explicit `step` call so it could activate the last event.

[2017-07-12 17:14] jonathanolson commented on #644
Correct. There may be potential to have a listener subtype in Joist that hooks this into the sim step, so that manually stepping isn't done.

[2017-07-12 17:14] jonathanolson commented on #644
Tagging for developer meeting, as the proposed way of handling this could use wider discussion.

[2017-07-12 17:19] jonathanolson commented on #637
Reproduced, investigating.

[2017-07-12 17:25] jonathanolson commented on #637
Initial impression is that many CCK images that include alpha don't have the requisite padding along the edges of the images (pixel data is not fully transparent on the bottom edge of the lightbulb-front.png).

Will test removal of those pixels to see if that prevents the problem.

[2017-07-12 17:28] arouinfar commented on #637
@jonathanolson please let me know if you would like me to adjust/re-export any of the .png files.

[2017-07-12 17:29] jonathanolson commented on #637
Thanks, I'll let you know if it's necessary.

Initial testing is still showing the problem when I cleared the bottom row of pixels.

[2017-07-12 17:36] jonathanolson opened #647 "SimpleDragHandler disposal"
I'm going to add disposal to SimpleDragHandler itself.

What happened in a few cases (notably Sun's error below) was that a full slider that was being interacted with would get disposed. Since its thumb was being dragged, its SimpleDragHandler had a listener attached to the pointer (which disposal didn't exist at the base level, only in TandemSimpleDragHandler, so it didnt' get removed immediately

[2017-07-12 18:08] jonathanolson commented on #637
That awkward moment when you set all the light-bulb images to fully transparent pixels and it still happens:

![screen shot 2017-07-12 at 12 07 40 pm](https://user-images.githubusercontent.com/480878/28132706-d4c667da-66fa-11e7-9e81-891cbb13004b.png)

[2017-07-12 18:29] jonathanolson commented on #637
May need to look into padding in the spritesheet:

![cck-spritesheet](https://user-images.githubusercontent.com/480878/28133579-c255c106-66fd-11e7-881e-be3271df1583.png)

The eraser's top line may be getting displayed here.

[2017-07-12 20:18] jonathanolson opened #648 "Accidentally creating double the WebGL textures"
It looks like createTexture() of each new SpriteSheet was getting called twice. This would take up twice the memory on the GPU, and possibly be a memory issue (@samreid, this may be relevent).

[2017-07-12 20:20] jonathanolson commented on #648
@jbphet, if you're using any WebGL, this may be relevant too.

[2017-07-12 20:59] jonathanolson commented on #637
@samreid, can you verify that this is fixed? I can't reproduce anymore after adding in 1 pixel of padding in-between images, e.g.:

![cck-spritesheet-2](https://user-images.githubusercontent.com/480878/28139772-bbc43f9c-6712-11e7-929e-d20cf3d4277e.png)

[2017-07-12 21:29] samreid commented on #637
After pulling master, I can no longer see the artifacts, thanks!  It looks great, closing.

[2017-07-12 21:38] samreid commented on #644
That sounds like it is worth investigation.

[2017-07-12 22:01] samreid commented on #648
Good catch @jonathanolson I'll keep my eyes peeled.

[2017-07-13 16:35] jbphet commented on #648
WebGL was used in Neuron for the particles, and `NeuronParticlesTexture` uses textures.  From the description above, I'm not sure what to look for in the code or in the run-time profile.  @jonathanolson - can you provide a little bit more information on how to check for the existence of this problem in a simulation?

[2017-07-13 16:46] pixelzoom commented on #647
This may also be the cause of https://github.com/phetsims/unit-rates/issues/200.

[2017-07-13 16:53] jonathanolson commented on #648
The easiest way is to see if it has the sha https://github.com/phetsims/scenery/commit/c48df3ee857c7e4eefe59f0d6a241782932d195f from ~21 hours ago, and may cause more memory-related crashes when not included (if the 'webgl' renderer is used for Image elements).

Neuron doesn't seem to use the 'webgl' renderer for images, but instead uses WebGLNode. This bug should not appear in WebGLNode usage.

[2017-07-13 17:22] pixelzoom opened #649 "don't scuttle Node"
Scuttling Node is causing a general "use after dispose" error that's worrisome.  Examples include https://github.com/phetsims/graphing-lines/issues/83 and https://github.com/phetsims/unit-rates/issues/200.

General example:

[code]

The problem occurs when `someObserver` has been queued to be called before `dispose` is called, but is then actually called after `dispose`.  This can result in a "use

[2017-07-13 17:24] pixelzoom commented on #649
Maybe things that could cause a leak after dispose should be scuttled or fail an assertion.

[2017-07-13 17:26] jonathanolson commented on #649
Presumably it should be safe (and helpful) for Display.updateDisplay to assert that every node being displayed is not disposed. That should prevent disposed nodes from continuing to be used, but won't error out in the situations described above.

[2017-07-13 18:37] pixelzoom commented on #644
My vote is to provide this feature for DragListener (next gen) and punt on SimpleDragHandler.

[2017-07-13 18:38] samreid commented on #644
I agree it would be good feature for next gen DragListener so that it has an option to run one per frame or browser-default per frame.

[2017-07-13 18:41] jonathanolson commented on #131
Test performance for https://github.com/phetsims/scenery/issues/644 when this is done, and apply the optimization to DragListener if it is needed.

[2017-07-13 18:42] jonathanolson commented on #644
Will be investigated as part of https://github.com/phetsims/scenery/issues/131

[2017-07-13 18:48] samreid commented on #649
I've been struggling with this issue too, I think it is caused directly by the "defensive copies" in the listener types.

[2017-07-13 18:54] pixelzoom commented on #649
7/13/17 dev meeting:
• don't scuttle Node
• add Display.updateDisplay assertions
• prevent things that would cause a memory leak after calling `dispose`

@jonathanolson will handle this.

[2017-07-13 18:57] samreid commented on #649
@jonathanolson what do you think about changing Emitter so that after making a defensive copy and starting to iterate over it, before invoking a listener we make sure it hasn't been removed from the core array?

[2017-07-13 18:57] #647 closed

[2017-07-13 18:57] pixelzoom commented on #647
7/13/17 dev meeting:
No longer an issue since we're not going to scuttle Node, see https://github.com/phetsims/scenery/issues/649.  SimpleDragHandler.dispose will remain available in case someone needs it.

Closing

[2017-07-13 19:00] pixelzoom commented on #649
@jonathanolson will notify developers when this is changed, so we can remove `disposed` checks (like phetsims/graphing-lines#83 and phetsims/unit-rates#200) in sim code.

[2017-07-13 20:42] jonathanolson commented on #551
There may be an optional WebGL extension that would prevent this warning: WEBGL_lose_context.

Will want to check https://github.com/pixijs/pixi.js/issues/2233

[2017-07-13 20:43] jonathanolson commented on #551
Note that we'll still want to dispose of the other things that were required with the normal delete/destroy methods, see https://www.khronos.org/webgl/public-mailing-list/public_webgl/1611/msg00029.php

[2017-07-13 20:53] jonathanolson commented on #649
Implemented, normal tests passing.

[2017-07-13 20:53] #649 closed

[2017-07-13 20:54] jonathanolson commented on #449
@pixelzoom and @samreid, any benefit for a `disposeSubtree()` method, or should I close this issue as implemented?

[2017-07-14 17:00] pixelzoom commented on #449
Something like `interruptSubtreeInput` I assume, in terms of how it traverses the scenegraph.  I haven't had a need for anything like that, but see how it could be useful.   Up to you whether to add now, or when there's a request.

[2017-07-14 17:23] jonathanolson commented on #449
Added, closing.

[2017-07-14 17:23] #449 closed

[2017-07-14 23:33] jbphet commented on #648
Ah, got it.  I'm not currently using the webgl renderer in any sims for which I'm responsible.  Back to you @jonathanolson, probably ready for closing.

[2017-07-19 18:03] pixelzoom commented on #639
I'm unclear on how the addition of `SimpleDragHandler.createForwardingListener` affects the general creator pattern that we started with in https://github.com/phetsims/scenery/issues/639#issue-239596753.  Does it change this bit?   If so, how?

[code]

[2017-07-19 18:24] samreid commented on #639
The pattern is changed.  The old pattern was:

[code]

The new pattern is:

[code]

Caveat and disclaimer: `createForwardingListener` is new and I don't understand it completely.  But I am using it in 2 spots in CCK.

[2017-07-19 18:56] pixelzoom commented on #639
According to @jonathanolson via a Skype call:

(1) He didn't review the implementation of `createForwardingListener`, and it's not correct.  The first argument is definitely _not_ a generic input listener. You must specify a `down` function which has one parameter `{Event} event`, and optionally `allowTouchSnag`.   So we decide what the function signature should be, fix it, then fix call sites in

[2017-07-19 19:41] jonathanolson commented on #639
After thinking about it, I agree with not having the callback in options, and with the two parameters.

@pixelzoom's changes look great to me, any objections @samreid?

[2017-07-19 20:56] samreid commented on #639
Those changes look great to me, thanks @pixelzoom!  Since I have (the only?) code that uses `createForwardingListener`, I can take it for a test drive.

[2017-07-19 21:54] jonathanolson commented on #218
Note to self: Look into the interruption of Display listeners. When should this be done? Is it needed?

[2017-07-19 23:41] jonathanolson opened #650 "Top-level input event listening"
Adding input listeners to the root of the scene graph can be undesirable when it wants to allow any other user interaction (as it behaves like setting `pickable:true`, which changes what things are hit tested in a sim), and adding listeners to the Display I believe is the best alternative.

An example of this happening is https://github.com/phetsims/circuit-construction-kit-dc/issues/87, where a r

[2017-07-20 00:09] jonathanolson commented on #650
For example, ComboBox's listener on the root node would trigger the same problem with Carousel (or other sim-specific code), and is an example of something that would be changed to a display listener.

[2017-07-20 01:11] jonathanolson opened #651 "Node.addInputListener no-op on adding a listener already added"
Somewhat related to https://github.com/phetsims/axon/issues/129.

I added an assertion in my working copy that prevents double-adding listeners and I'm running aqua tests. If it passes, I'll commit/push.

[2017-07-20 01:38] jonathanolson commented on #651
Had only one failure in forces-and-motion-basics. Created issue for that and pushed assertions.

[2017-07-20 01:38] #651 closed

[2017-07-20 02:03] jonathanolson commented on #637
Instead of the edge of the textures blending with whatever adjacent color was there, it's blending with alpha, creating artifacts like in https://github.com/phetsims/circuit-construction-kit-dc/issues/78.

I have a few ideas to fix this, but will look online for how others handle it.

[2017-07-20 02:06] jonathanolson commented on #637
Looks like the term for what I was thinking of is a sprite sheet "gutter". Will require another pixel of space between images in a sprite sheet, and may increase the cost of adding images somewhat.

[2017-07-20 02:26] samreid commented on #639
I pushed the changes in the preceding 2 commits and they are working nicely.

[2017-07-20 02:28] samreid commented on #639
Reassigning to @pixelzoom for review.

[2017-07-20 03:32] jonathanolson commented on #637
I believe this is fixed (added a 1-pixel area on the spritesheet around each image that is the color of the nearest pixel).

[2017-07-20 03:32] #637 closed

[2017-07-20 15:53] phet-steele commented on #651
Seeing errors in LSR, too.

[2017-07-21 17:00] phet-steele opened #652 "Wire padding obvious at short lengths"
In this version of CCKDC, http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.91/circuit-construction-kit-dc_en.html, it was found that...

- short,
- schematic view,

wires have a blurryiness to them similar to that of phetsims/circuit-construction-kit-dc/issues/78.
![cckdc05](https://user-images.githubusercontent.com/5863899/28472008-4e1b3c0c-6dfc-11e7-94aa-46fe53

[2017-07-21 18:02] pixelzoom commented on #639
This specific code changes look good.  But 2 remaining problems:

(1) The way in which this information was folded into the recommend pattern (see https://github.com/phetsims/scenery-phet/issues/214#issuecomment-317069928) is insufficient, as I've noted in that issue.

(2) This API works only if your generic listener involved on the `down`.  If my listener needs to do some time on (for example) `u

[2017-07-22 03:31] samreid commented on #652
This is not a significant or blocking issue for publishing CCK 1.0, but it may be good to investigate/understand as we are using more WebGL.

[2017-07-25 18:52] samreid opened #653 "RewardNode should support Emitter"
Discovered in https://github.com/phetsims/axon/issues/102 RewardNode uses an Events argument for driving the animation.  PropertySet extends Events but will no longer be used, and Events is deprecated.  RewardNode should support Emitter.

[2017-07-25 18:53] samreid commented on #653
Oops, wrong repo, closing.

[2017-07-25 18:53] #653 closed

[2017-07-25 18:56] jonathanolson commented on #639
We're unlikely to need something that works on up, but could create something when that need arises.

Maybe we add a "down" qualifier to the function name?

[2017-07-26 20:46] jonathanolson commented on #652
May be caused by the mipmaps webgl-side. It doesn't generate asymmetric-scale mipmap images, so it probably steps down to a significant level, and may be including adjacent transparent pixels in the blurring.

Rectangles in general would be better-suited there, and should be webgl-accelerated.

[2017-07-26 20:47] jonathanolson commented on #652
Leaving assigned to me to figure out how to handle mipmap levels with padding/gutters in the spritesheet.

[2017-07-26 20:51] pixelzoom commented on #650
Reviewing for developer meeting.

Sounds like a good feature to have.  I've occasionally had a requirement like "do X when the user does anything else".  I've always managed to push back on those requirements, since they often indicate bad design.  But someday I may not be as convincing.

@jonathanolson What is " ComboBox's listener on the root node" that you mentioned in https://github.com/phetsi

[2017-07-26 20:56] samreid commented on #650
Works great in CCK when clicking away from a selected vertex or circuit element.

[2017-07-26 20:57] pixelzoom commented on #650
Oh... I missed that this was already implemented, thought @jonathanolson was soliciting ideas.

[2017-07-26 21:09] jonathanolson commented on #650
No, the clickToDismissListener, added as:
[code]
on line 251-252 and removed as:
[code]
on line 151.

[2017-07-26 21:12] jonathanolson commented on #650
I'm definitely open to better ideas (in which case I'll make the necessary refactorings).

[2017-07-26 22:44] jonathanolson opened #654 "[iOS] Safari on iOS 9.3.5 takes unconventional creative liberties with SVG rendering"
Noted in https://github.com/phetsims/function-builder/issues/35 and https://github.com/phetsims/projectile-motion/issues/129.

Safari iOS appears to take an avant-garde approach clearing rectangles in SVG rendering:
![35](https://cloud.githubusercontent.com/assets/3046552/15763431/387c8718-28e1-11e6-9d9a-6b399ca85058.png)
![img_0091](https://user-images.githubusercontent.com/5863899/28644611-772de

[2017-07-27 19:33] pixelzoom commented on #650
7/27/17 dev meeting: @jonathanolson and I will review >= 8/14.

[2017-07-27 20:19] jonathanolson commented on #654
In a fun turn of events, setting `{ layerSplit: true }` on the projectile-motion CannonNode caused the cannon to somewhat animate with the projectile ONLY on iPad 2.

So presumably this bug can affect positioning/layout, not just clipping artifacts.

Proposed fix for projectile-motion is, again, setting something to render in Canvas.

[2017-07-28 04:18] samreid commented on #650
If I'm reading this correctly, these listeners are leaking in CCK:
![image](https://user-images.githubusercontent.com/679486/28702337-7f640498-7319-11e7-9904-faf52348ce66.png)

Discovered in https://github.com/phetsims/circuit-construction-kit-dc/issues/116

[2017-07-28 04:47] #648 closed

[2017-07-28 05:52] jonathanolson opened #655 "WebGL Rectangle fill/stroke memory leak"
It looks like since RectangleWebGLDrawable was mixing in RectangleStatefulDrawable (and calling initializeState() itself), a disposeState is necessary to clean up references.

This was discovered in investigations for https://github.com/phetsims/circuit-construction-kit-dc/issues/116, as the colors were leaking references to the PaintObservers, which is in PaintableStatefulDrawable, used by Rectan

[2017-07-28 05:53] jonathanolson commented on #655
Fixed, closing.

[2017-07-28 05:53] #655 closed

[2017-07-28 16:22] jonathanolson opened #656 "ImageWebGLDrawable cleanup"
It mixes ImageStatefulDrawable, but does not call the initialize/disposal methods for the mixin.

[2017-07-28 17:41] phet-steele commented on #654
phetsims/balancing-act/issues/70 also falls under this issue, and has shown similar problems in projectile-motion:
![img_0097](https://user-images.githubusercontent.com/5863899/28729393-864e03a6-7389-11e7-8044-9375a1112f2e.PNG)
![img_0097](https://user-images.githubusercontent.com/5863899/28729413-9b75c804-7389-11e7-8a36-5dab08bdcb88.PNG)

balancing-act:

![20160406_162848](https://cloud.githubuse

[2017-07-31 18:05] jonathanolson opened #657 "Image mipmapping for Canvas"
Noticed in https://github.com/phetsims/circuit-construction-kit-dc/issues/120 (with @samreid) that mipmaps were not being applied with the Canvas renderer (explains Edge image quality, and the "screenshot" feature quality").

Mipmaps should be used for most general Canvas purposes, and included in screenshot handling.

[2017-07-31 18:18] jonathanolson opened #658 "Canvas rectangles show stroke with lineWidth:0"
Reported by @samreid for CCK.

[2017-07-31 18:22] jonathanolson commented on #658
Looks like 0 is an invalid lineWidth for Canvas, so it reverts to its previous value.

Also looks like I put the workaround for this in PathCanvasDrawable, but wasn't handling it more generally.

May include this check in hasStroke(), checking for its usage.

[2017-07-31 18:28] jonathanolson commented on #658
Previous issue is https://github.com/phetsims/scenery/issues/523.

Looks like we'll need a separate method, as some cases need to know whether there is an actual stroke (not whether it is paintable).

[2017-07-31 18:53] jonathanolson commented on #658
@samreid can you confirm this fixed the CCK problem?

[2017-07-31 18:53] jonathanolson commented on #657
Implemented, closing.

[2017-07-31 18:53] #657 closed

[2017-07-31 19:13] samreid commented on #658
This fixed the CCK problem, thanks!

[2017-07-31 19:13] #658 closed

[2017-07-31 20:42] jonathanolson commented on #347
Opening many copies of CCK results in context losses, may want to listen to the 'webglcontextlost' event, and either recover or show a dialog (like molecule-shapes or another webgl-related sim).

I'm looking into recovery options right now.

[2017-07-31 20:52] samreid commented on #347
I opened 8 CCKs in Mac Chrome tabs and dragged a battery out in each one.  I didn't see any context loss reports.  Can you provide more information about how you observed this problem?

[2017-07-31 21:29] phet-steele commented on #347
https://github.com/phetsims/neuron/issues/108#issuecomment-180517565 has another way to cause context loss, haven't tried it with CCK just yet:

[2017-07-31 21:40] samreid commented on #347
I reloaded this many tabs in Mac/Chrome:
![image](https://user-images.githubusercontent.com/679486/28799595-760dee64-7606-11e7-89d0-2141bc6fe059.png)

I batch refreshed them, waited 5 minutes, then opened dev tools on one.  Voila:

![image](https://user-images.githubusercontent.com/679486/28799628-96f6021a-7606-11e7-9322-b4180f8539b3.png)

[2017-07-31 22:21] jonathanolson opened #659 "[Chrome] SVG image not loaded on startup"
See https://github.com/phetsims/circuit-construction-kit-dc/issues/124

It looks like an SVG image issue occurred (most easily reproducible by loading many copies of the sim).

The image specified didn't show up at all in Chrome, even though the SVG `<image>` element had the proper URL.

[2017-07-31 22:24] jonathanolson commented on #659
Worked around in CCK-DC by pushing the image into a normally loaded image. It is probably typically caused with images that are dynamically generated.

[2017-08-01 04:19] jonathanolson commented on #347
Added full support for handling context loss (along with some WebGL cleanup and documentation).

@samreid or @phet-steele:

1. Can one of you produce an actual context loss, and confirm that CCK-DC still works normally?
2. Feel free to test with `phet.joist.display.loseWebGLContexts()` (causes all WebGL blocks to lose context for 1 second, and then have it restored).
3. Would it be better if there

[2017-08-01 04:36] samreid commented on #347
CCK DC still working normally in Mac/Chrome.

Mac/Chrome I created a context loss and confirmed the sim is OK afterwards.

![image](https://user-images.githubusercontent.com/679486/28809321-f6ca5ba8-763f-11e7-8840-39c443708996.png)

How many frames are you expecting context to be lost for?  If it is for less than a frame, then it won't matter if we show an overlay or not (it would never be seen).

[2017-08-01 06:05] jonathanolson commented on #347
Seems to be quick in practice.

One thing I noticed is that the first tab (when you open many) gets the "restore", but many of the other tabs don't ever get it. It appears that it just gets "lost" permanently.

I also noticed that you can create new WebGL Canvases/contexts and it works in this case.

I'll be committing a more aggressive approach of "if we get an animation frame when we have a cont

[2017-08-01 06:06] jonathanolson commented on #347
For example, even the first tab doesn't always get "restore" events:

![screen shot 2017-08-01 at 12 06 00 am](https://user-images.githubusercontent.com/480878/28811555-4d5c7f8e-764d-11e7-9fbb-630edafcc8df.png)

[2017-08-01 07:33] jonathanolson commented on #347
The more aggressive plan has been committed.

@phet-steele, let me know how it works with (hopefully) multiple ways of losing the context (lots of tabs, connecting the monitor, etc.)

[2017-08-03 20:29] samreid opened #660 "Listener is added twice"
1) Add this line to Emitter.js

[code]

2) Open JS console and launch http://localhost/area-model-multiplication/area-model-multiplication_en.html?brand=phet&ea&fuzzMouse

Observe this error:

[code]

It seems that scenery is adding the same listener to the same emitter twice.  Discovered in https://github.com/phetsims/axon/issues/129

[2017-08-04 02:34] jonathanolson commented on #660
This is one of those "this actually makes sense, but will be a pain to handle if we add the assertion permanently" cases.

Basically it's a gradient where two of the color stops use the same Color object. PaintObserver has one listener to get notified whenever one of the gradient's colors changes (since it doesn't care about which one changed).

So how Emitter handles duplicate listeners (by addin

[2017-08-04 02:50] jonathanolson commented on #660
Actually, that pattern isn't sufficient, as it wouldn't catch:
[code]
as the properties are different objects (it will still try to add duplicate listeners to the color).

Instead, it looks like we'd have to separately track what objects each of our two listeners is listening to, so that we properly handle all cases.

[2017-08-04 02:50] samreid commented on #660
I'm having trouble understanding the full scenery context.  Would it make sense for PaintObserver to have one listener per color reference?  Or using its own guard?  I'm asking because it may still be best to only allow one listener reference per emitter (unless we see a lot more cases like this as we investigate).

[2017-08-04 02:57] jonathanolson commented on #660
A PaintObserver is for either a fill or a stroke (i.e. a paint). Currently allowed is:
[code]
so things it needs to listen for:
[code]
so even though I have two properties (and three usages of the same color), I only should add one listener to the color. Thus the deduplication.

Let me know how it's looking. Performance affected would mainly be startup and memory (Area Model calls the relevant met

[2017-08-04 03:00] jonathanolson commented on #660
Updated example to have duplicate usage of a Property and color.

[2017-08-04 03:03] samreid commented on #660
What about using a guard in PaintObserver?  Like `if (!paint.hasListener(listener)) paint.lazyLink(listener)`?

[2017-08-04 03:18] jonathanolson commented on #660
Sorry, forgot to mention in my reply. Not sure how to guard properly (as I'd assume we'd need to store a count).

For example:

[code]
Then this breaks when we would "go from 2 copies of the listener added to 1", e.g.:
[code]
where after the "add, add, remove" the listener should still be added, as we essentially would have 1 listener.

Instead, we'd have some equivalent of:
[code]

[2017-08-04 03:19] jonathanolson commented on #660
In SpriteSheet, this pattern is used. But we "own" the Sprite objects used, so we have ```sprite.count``` and it's incremented/decremented and checked.

Because we don't control the properties (and multiple PaintObservers would need to listen to the same Property), we'd need a different way of counting (that is trickier).

[2017-08-04 03:26] jonathanolson commented on #660
If we would be able to add unique identifiers to Property, we'd be able to have:
[code]

[2017-08-04 03:33] jonathanolson commented on #660
If we can't add a unique identifier, there's the replacement (could be combined in a bit better way):
[code]

[2017-08-04 03:37] jonathanolson commented on #660
So current delta would be 40+ LOC (plus probably that much in comments), and array scans for every link/unlink (99% of the time pushing or splicing from two different arrays).

[2017-08-04 03:49] samreid commented on #660
Emitter currently errors out if you try to remove a nonexistent listener, but Property guards against that (no-op if you try to remove nonexistent listener).  How would the issues you described deal with Property erroring out on trying to remove nonexistent listener?

[2017-08-04 04:03] jonathanolson commented on #660
LOC increase would actually be less.

It's already a bug if it goes to 0 listeners improperly? My solution would be fine.

[2017-08-04 15:37] samreid commented on #660
No, it is currently a no-op if you try to remove a nonexistent listener.  It is a proposed change that it would throw an assertion error if trying to remove an nonexistent listener.

[2017-08-04 15:38] samreid commented on #660
So is it your recommendation that Property and possibly Emitter are a no-op on trying to add same listener twice, and trying to remove non-existent listener?

[2017-08-04 16:03] samreid commented on #660
@jonathanolson and I discussed it and proposed a new possible strategy which would be to add a new options argument to `link` and `lazyLink` (and possibly all the other link methods) which can supply `allowDuplicates`.  `allowDuplicates` would default to false, but could be turned to true in cases like scenery paint observers.

We would like to discuss it with @pixelzoom before spending more time

[2017-08-04 16:05] samreid commented on #660
More likely, the Property link options would be passed through to Emitter.addListener options.

[2017-08-06 20:14] samreid commented on #639
@andrea-phet is reviewing https://github.com/phetsims/scenery-phet/issues/214, I'm not sure what else to do for this issue.  @pixelzoom can you please advise?

[2017-08-09 17:44] jessegreenberg commented on #643
Wait, the second example in https://github.com/phetsims/scenery/issues/643#issue-241381690 illustrated a problem with setting textContent, the outline in https://github.com/phetsims/scenery/issues/643#issuecomment-314174550 does not address that.

[2017-08-09 17:46] jessegreenberg commented on #643
If tags can be created with either textContent or innerHTML, forcing one or the other doesn't solve this problem.

[2017-08-09 17:53] jessegreenberg commented on #643
And why is the first example (setting to ```John &lt; <b>Travoltage</b>```) problematic?

[2017-08-09 18:51] jessegreenberg commented on #643
@jonathanolson and I discussed - the confusion was caused by my understanding of what would be allowed as innerHTML.  At the momement, anything that is not a formatting tag, anything that looks like incorrect HTML, and anything that does not have brackets is assumed as bad.  We just want to check for formatting tags exclusively and allow developer to force innerHTML otherwise.

[2017-08-09 19:31] pixelzoom commented on #660
The `allowDuplicates` proposal is unclear. Is the proposal to actually add duplicate listeners, or to ignore requested to add duplicate listeners (as we do now)?  Would `unlink` and similar de-register function have the same option, and what would happen when trying to de-register an unregistered listener?

[2017-08-09 19:34] pixelzoom commented on #650
I don't have better ideas, so unassigning myself.  I'm not clear on the status of this issue (e.g. https://github.com/phetsims/scenery/issues/650#issuecomment-318555087), so leaving it open.

[2017-08-09 20:10] jonathanolson commented on #660
With allowDuplicates:true, it would add a duplicate listener. With it false, it would assert out when trying to add a duplicate listener.

I see the options for this listener case as:

1. Have some way of adding duplicate listeners (like the allowDuplicates flag if assertions are enabled for other duplicates).
2. Use a strategy like https://github.com/phetsims/axon/issues/129#issuecomment-32015081

[2017-08-09 20:12] jonathanolson commented on #660
Would not need the same option, as it should be fine to always remove the first matching listener (as it does now), and error if there is no listener.

[2017-08-09 20:14] pixelzoom commented on #660
Thanks for the clarification on the `allowDuplicates` proposal.   Another question... Rather than adding this option to registrations calls (`link`, etc.), would it be better to make it an option to the Property?

[2017-08-09 20:20] jonathanolson commented on #650
@pixelzoom, in this case, I'd like to use display listeners instead of listening to the root node in all code (e.g. ComboBox, sim-specific code, etc.)

Any objections to me refactoring those usages (with testing)?

[2017-08-09 20:22] pixelzoom commented on #650
No objection.

[2017-08-09 20:25] jonathanolson commented on #660
Can't do this, you provide the color Property to a Scenery API, so Scenery isn't creating the Property.

[2017-08-09 20:33] pixelzoom commented on #639
Remaining issues to address:

(1)  phetsims/scenery-phet#214 contains no code sample that summarizes how `createForwardingListener` is used in the creator pattern.

(2) It's unclear to me why `createForwardingListener` lives in `SimpleDragHandler`.  It creates a generic input listener, not a SimpleDragHandler.

(3) `createForwardingListener` creates a limited input listener by wrapping a specific

[2017-08-09 20:39] samreid commented on #650
I also think using display listeners will be better, go for it!

[2017-08-09 20:46] jonathanolson commented on #639
(2) It's unclear to me why createForwardingListener lives in SimpleDragHandler. It creates a generic input listener, not a SimpleDragHandler.

The "event.pointer.dragging" check is actually specific to SimpleDragHandler. Sorry I hadn't thought about it before, but once https://github.com/phetsims/scenery/issues/218 is finished (i.e. SimpleDragHandler uses the Pointer attach API), then the "draggin

[2017-08-09 20:52] jonathanolson commented on #650
I hit the three places I found using this pattern (tested, fuzzed, aqua-tested). Closing.

[2017-08-09 20:52] #650 closed

[2017-08-09 20:52] samreid commented on #660
@pixelzoom do you think it is better to provide a `allowDuplicates` option in `link` or add workarounds like https://github.com/phetsims/scenery/issues/660#issuecomment-320146699

[2017-08-09 20:55] samreid commented on #639
@pixelzoom and @jonathanolson I'll leave this up to you for now, but please invite me back if/when you need me.

[2017-08-09 21:14] pixelzoom commented on #660
I don't know how often workarounds would be needed, and don't really grok the workaround that you've linked to -- https://github.com/phetsims/scenery/issues/660#issuecomment-320146699 looks like a proposal to add a unique id to Property.

That said...

(1) I'm not wild about the `allowDuplicates` in general, would prefer to have 1 consistent behavior, not allow some clients to add duplicates while

[2017-08-09 21:18] jonathanolson commented on #660
PaintObserver does NOT want to ignore duplicate registrations. It is depending on duplicates being added, so that it can remove those duplicates one-at-a-time. https://github.com/phetsims/scenery/issues/660#issuecomment-320145785 goes into more detail about how this is buggy, even if unlinking doesn't error out.

I'm now leaning towards adding the "deduplication" code in PaintObserver, so that no

[2017-08-09 21:40] samreid commented on #660
OK let me know if we need to add Property.id values to make it easier to track.

[2017-08-09 21:43] jonathanolson commented on #639
Approximately 2/3rds of simulations are erroring out when I make listeners "attach", since it then becomes an assertion failure to have the same pointer have two SimpleDragHandlers/DownUpListeners to listen to it at the same time.

I'll need to look more into it later, it won't be an easy quick fix to be able to skip checking the SimpleDragHandler "dragging" flag.

[2017-08-09 23:09] pixelzoom commented on #639
Sounds like @jonathanolson has something in mind in https://github.com/phetsims/scenery/issues/639#issuecomment-321376573.  Feel free to assign to me and @samreid for review when you're ready.

[2017-08-09 23:51] jonathanolson commented on #660
Implemented counting, probably has less than a 50ms startup impact on iPad. Didn't run any memory tests.

@samreid can you confirm the issue is fixed?

[2017-08-09 23:56] jessegreenberg commented on #643
Ill need to improve function that checks for bad tags, things like ```< label >``` will be flagged as a bad HTML tag, and cause the rest of the label to be set as textContent.

[2017-08-10 15:29] jessegreenberg opened #661 "RichText has infinite bounds for strings surrounded by brackets that aren't HTML tags"
For instance

[code]

@jonathanolson is this expected?

[2017-08-10 15:30] jessegreenberg commented on #661
Found while testing for https://github.com/phetsims/scenery/issues/643

[2017-08-10 16:55] jessegreenberg commented on #643
Should be done, running through aqua before committing, but here is an example where we can see forcing textContent and innerHTML in the labels and descriptions:
<img width="1408" alt="screen shot 2017-08-10 at 10 42 37 am" src="https://user-images.githubusercontent.com/6396244/29181981-52e05c72-7dba-11e7-8216-6a9f377fc193.png">

[2017-08-10 17:45] jessegreenberg commented on #643
Bayes is looking good, @jonathanolson is there anything else to do for this issue?

[2017-08-11 16:14] jonathanolson commented on #643
Looks good, thanks!

[2017-08-11 16:14] #643 closed

[2017-08-11 16:33] jessegreenberg opened #662 "Make RichText accessible"
In https://github.com/phetsims/joist/issues/430, we worked on making RickText links accessible, but we want the rest of the text to be accessible too.

[2017-08-12 18:01] samreid commented on #660
I confirmed that the change fixes https://github.com/phetsims/scenery/issues/660#issue-247826256

So it seems we can try adding `assert && assert( this.listeners.indexOf( listener ) === -1, 'Cannot add the same listener twice' );` to Emitter's `addListener` now.

[2017-08-12 18:01] #660 closed

[2017-08-17 15:29] jessegreenberg commented on #661
Actually, probably not an issue, presumably you would just use scenery ```Text``` for that kind of thing or use ```&lt;``` and ```&gt;```

[2017-08-17 15:29] #661 closed

[2017-08-22 03:28] samreid commented on #552
This has been "top priority" for more than a year.  Is the priority label still accurate?  If so, is this problem getting the attention it needs?

[2017-08-23 21:56] jessegreenberg opened #663 "Batch accessible DOM changes for performance"
This has come up a few times now, but documented in https://github.com/phetsims/balloons-and-static-electricity/issues/288 and https://github.com/phetsims/john-travoltage/issues/162.

In john-travotage synchronous DOM changes weren't substantial enough to cause performance problems. In BASE, there are far more DOM changes happening and we are starting to see it bog down the sim, especially in Fire

[2017-08-28 18:29] jonathanolson opened #664 "Memory/performance for closures/callbacks/disposal"
I tested four variants, starting with the most-used sim/sun pattern (Test0), and ending with the typical Scenery version (Test3, some Test2). They all take a Node as a constructor parameter, listen to its bounds with the same "listener" code, and have a dispose() method that should remove the listener. Tested in latest Win7 Chrome.

Test0 starts with a closure and a disposeTest() method called fro

[2017-08-28 18:33] jonathanolson commented on #664
Also, disposal seemed slow (maybe Events is using `delete` when all listeners for one type are removed), so those tests were run with 100k instances instead of 1mil.

[2017-08-29 20:00] pixelzoom opened #665 "how to treat multiple instances as a single "logical" instance?"
This issue was popped out of https://github.com/phetsims/beers-law-lab/issues/126#issuecomment-325779673.

a11y and phet-io both have cases where something (typically a UI component) is logically the same, but we create new instances based on what is currently selected.

For example, Beer's Law Lab "Concentration" screen shows a concentration slider.  It is logically the same slider for all solute

[2017-08-29 20:37] jonathanolson commented on #665
In the general case, I've reiterated that not designing our view components with mutation in mind has been a problem, and I believe that should be corrected. Does most of this problem go away if we can properly adjust HSlider (or others) dynamically?

It hasn't been particularly difficult to build mutable components (most things in scenery/nodes are capable of having everything change later), but

[2017-08-29 22:31] jessegreenberg commented on #665
That was the idea, and I think focus is the only thing that needs to be restored for accessibility. The rest would be up to the sim.

Yes, that is what happens now, which is why it would be nice to restore focus in something like ```replaceChild```.

[2017-08-29 22:39] jonathanolson commented on #665
Is it better for screen readers if the element doesn't go away (as opposed to creating a new element and focusing it), or is it possible to make it fully transparent for the user?

Since it seems good for a11y at least, @jessegreenberg would you feel comfortable with creating `replaceChild` (and possibly changing MutableOptionsNode to use it)?

[2017-08-30 00:45] jessegreenberg commented on #665
Not really necessarily better.  The label of the newly focused element will likely be read again by some screen readers but that seems OK.  Its possible to make things fully transparent, but since the Node is removed from the scene graph and replaced, it makes sense to me that the DOM content would behave similarly.

Definitely, Ill work on adding replaceChild.

[2017-08-30 03:20] samreid commented on #665
That would be technically feasible but sounds like a maintainability nightmare.  It will be much simpler if each tandem is associated with a single type.

[2017-08-30 19:55] pixelzoom commented on #665
@jonathanolson said:

That has not been my experience. In general, I've found that increased mutability corresponds to an increase in lines of code, number of prototype functions, ES5 setters/getters, private properties, etc.   More code means more up-front cost, and more longterm maintenance cost.   So where mutability is not needed, I don't believe in implementing it.   PhET-iO certainly complic

[2017-08-30 20:14] pixelzoom commented on #664
A couple of nits with the tests...

If you're following the pattern that PhET agreed on, `this.disposeTest` is named correctly in Test0 and Test1.  It should be `this.disposeTest0` and `this.disposeTest1` respectively.

In Test0 and Test1, there is no need for `this.node` (which occupies memory and takes time to assign), since that's the whole point of the `this.disposeTest` pattern.  Using the Te

[2017-08-30 20:56] jonathanolson commented on #665
I'd like to note that:

1. If we want to make instances appear to be the same "object" for phet-io, it currently sounds easier to opt more towards mutable components. I understand that is a major pain that I'm not looking towards, and I'd definitely like the phet-io people to look into ways to work around this where possible. It sounds complicated.
2. I'd first question "Do we need to make instanc

[2017-08-30 22:59] jessegreenberg commented on #665
I added a ```replaceChild``` function that restores focus if the old child was focused and the new child is focusable.  @jonathanolson would you mind reviewing?

[2017-08-31 01:39] samreid commented on #665
@jessegreenberg can you please add scenery unit test(s) that exercises `replaceChild` for focused and unfocused nodes, and checks that focus state is correct after `replaceChild`?

[2017-08-31 02:02] jonathanolson commented on #665
`replaceChild` looks good. Only notes:

1. `oldChild && oldChild instanceof Node` (or equivalents) can be simplified to `oldChild instanceof Node`, since it works (returning false) if oldChild is `null`/`undefined`/etc.
2. `addChild`/`removeChild` allow chaining by `return this;` at the end of the function. It would be helpful to keep this consistent and add it to this method, even if we rarely us

[2017-08-31 18:32] samreid opened #666 "Make it easy to add/remove a node in the same place"
Circuit Construction Kit has this code:

[code]

It would also be convenient to add/remove nodes for accessibility (as opposed to setVisible) so that the parallel dom is updated properly.

For PhET-iO we would like to add/remove nodes to reflow layouts, see https://github.com/phetsims/phet-io/issues/1204
For accessibility and phet-io layouts, it is also convenient to remove/add nodes

One possibil

[2017-09-05 20:12] jessegreenberg commented on #665
Sounds good, https://github.com/phetsims/scenery/commit/fc2d1cf119744788f49d0b98a85a5c957e712317 simplified checks for ```instanceof``` and added chaining to ```replaceChild```.

https://github.com/phetsims/scenery/commit/eafcd0f29907a523c713cddbd30a1fc4067db1aa Added a unit tests for replaceChild and its expectations for a11y. @samreid or @jonathanolson would you like to take a look at these?

[2017-09-07 03:22] samreid commented on #665
It would be great for @jonathanolson to review, I'll unassign myself for now.

[2017-09-07 16:41] samreid commented on #664
@jonathanolson and I decided to use this pattern in code in Circuit Construction Kit that is called frequently or in performance/memory hot spots.  Generally, this seemed like a straightforward way to eliminate closures, though we did not do a before/after test to determine the impacts on memory & performance.  The main disadvantages of this pattern are:
(1) that closure variables need to be conve

[2017-09-08 16:44] samreid commented on #664
I added a note in the performance optimization section of the development overview: https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#bookmark=id.qbnarh1a7p2f

[2017-09-08 16:44] #664 closed

[2017-09-11 19:59] zepumph opened #667 "Add toStateObject to TNode"
This came up while discussing how to implement https://github.com/phetsims/axon/issues/137 with @samreid. This issue is part of a larger task to improve the way the toStateObject and fromStateObject are used across phet-io.

This will increase the size of the state objects (for the state wrapper), but it will also allow us to have the metadata about the node (potentially from the wrapper) easier,

[2017-09-12 13:38] samreid commented on #667
The calls to `visible` and `pickable` are done with `Property.link` and working great.  The properties that will benefit from having initial data are things like range, units, etc.

[2017-09-12 18:09] zepumph commented on #667
I think we should make sure that our contexts are aligned (since toStateObject is overloaded). I was speaking about a situation in instance-proxies while 'Launching' a customized sim. Here are the lines:
[code]

It would be nice if we could get the data from the TNode itself. Maybe I'm confused about a conversation that we had yesterday @samreid. If so, explain.

[2017-09-12 18:13] samreid commented on #667
Yep, we will absolutely need those changes.

[2017-09-13 00:30] zepumph commented on #667
In https://github.com/phetsims/phet-io/issues/1213 it looks like toStateObject was added to TNode, to get iframe api tests passing again I added a no op fromStateObject to TNode as well.

Note this means that TNodes are now in the state of a sim.

[2017-09-14 17:21] jessegreenberg opened #668 "Delete scenery/accessibility"
This folder should go away.  The meat of implementation is under ```js/accessibiliity```. ```scenery/accessibility``` has some documentation and testing prototypes. The prototypes are no longer valuable and PhET has a repo just for testing AT behavior (https://github.com/phetsims/a11y-research. The documentation could presumably move to scenery/doc if it is still relevant.

[2017-09-15 22:02] jessegreenberg opened #669 "Synchronize visibility of display and accessible content"
We should investigate making it so that when something is invisible in the display it is also hidden from  screen readers and keyboard navigation.  Until now, we wanted the freedom to keep invisible things available for reading with screen readers, but we have never used that feature. It makes client code more cumbersome since visibility of accessible content and display content needs to manually

[2017-09-15 22:07] jessegreenberg commented on #669
Ideally, we would make it so that the accessible content could be hidden while the display content is still
 visible, but always hidden when the display content is invisible.

[2017-09-15 22:13] jonathanolson commented on #669
It is my understanding that the accessible DOM doesn't use batched updates (instead synchronously changes due to results in the model/view). It sounds like you are suggesting making the visibility of the content batched to w hen the display updates.

That sounds quite tricky, and leaving the accessible content synchronous (so disappearing when visible:false is set) may be better?

[2017-09-15 22:18] jessegreenberg commented on #669
Correct.  Though I would love to investigate batching at some point (https://github.com/phetsims/scenery/issues/663).

But I wasn't thinking that would be necessary for this issue (sorry if my word choice made things confusing). Making the accessible content disappear when ```visible``` is set to false is what I am really after.

[2017-09-15 22:46] samreid commented on #669
This sounds good to me.  It may interleave somewhat with https://github.com/phetsims/phet-io/issues/1204 which is searching for a way to remove nodes from the scene graph as part of customization instead of making them invisible. (We may need an intermediate solution for that problem).

[2017-09-16 21:50] samreid opened #670 "Add a text input"
In https://github.com/phetsims/circuit-construction-ios-app/issues/5 @mattpen recommended using HTML to render the Circuit Construction iOS App UI, and it seems scenery would give us the most flexibility and control.  We will need a text entry field so that users can enter a name for the circuit they save.  I'm tagging dev:a11y and @jessegreenberg in case we need to leverage scenery accessibility

[2017-09-18 17:12] jessegreenberg commented on #669
Great, thanks, we will look into this. My hope is that this will make whatever is decided in https://github.com/phetsims/phet-io/issues/1204 work well with a11y, so if a Node is removed from scene graph, it is removed from accessible DOM, and if made invisible it is hidden from screen readers.

[2017-09-18 17:23] jessegreenberg commented on #670
Sounds good, let me know if I can help. Would be very interested to work on this since it could be useful for sims in general.

[2017-09-18 21:40] zepumph opened #671 "Rename Node.accessibleHidden --> Node.accessibleVisible"
@jessegreenberg and I think that it is better for this property of Node (from the Accessibility mixin) to mimic Node's visibility rather than to be the opposite. Currently setting both looks like
[code]

It would be better if they were both the same boolean logic. It was originally named to parallel the DOM element's "hidden" attribute. Now (or at least soon) that is being handled by AccessibleIns

[2017-09-18 23:05] samreid commented on #670
I'll try new DOM() and report back.

[2017-09-18 23:10] samreid opened #672 "Rename DOM"
There is a node named DOM, which has this usage in PhET code:

[code]

This node seems to be misnamed, since DOM stands for Document Object Model.  According to https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Introduction there is one DOM and it represents the entire page.  It appears the best term would be `Element`: https://developer.mozilla.org/en-US/docs/Web/API/Element

[2017-09-18 23:34] jessegreenberg commented on #669
@zepumph and I started working on this today. The above commit adds some unit tests with expectations for how we would  like this to behave.  We started by looking at Instance.js to see if we could do something similar to ```updateVisibility``` for updating the visibility of a subtree of AccessibleInstances for screen readers when visibility changes. We started strong but ran into a big problem wi

[2017-09-18 23:48] zepumph commented on #669
In addition to @jessegreenberg's skillful explanation of the problem above, we set up a meeting with @jonathanolson to discuss these problems and get guidance tomorrow at 11:30.

[2017-09-19 01:09] zepumph commented on #671
I did this just now, and had a bit more trouble than I would have liked. @jessegreenberg would you mind (carefully) going through the above commits for fowl play? I would be happy to do it with you as well. Most of it is mindless, but there is a bit that I guessed on. For example. I changed the default in the mixin's constructor to be true instead of null. I think that when I changed the following

[2017-09-19 01:11] jonathanolson commented on #670
Also note that if we're using this more generally, I'll need to review current browser capabilities. Before, there were some browsers (IE?) where Canvas on top would block the ability to input text.

[2017-09-19 01:12] samreid commented on #670
Is there an issue or test harness (and list of potentially problematic platforms)?

[2017-09-19 01:21] jonathanolson commented on #672
I agree that the current name is less than desirable, and a rename sounds nice.

It's really a wrapper for HTML elements (something that gets inserted into the HTML tree, doesn't handle SVG/etc.). Would `HTMLElement` be potentially confusing, with the potential type checks for `window.HTMLElement`? `HTMLElementNode` is pretty verbose but descriptive. Thoughts?

[2017-09-19 01:22] samreid commented on #672
`HTMLElementNode` sounds great to me.  Same argument may apply to `Text=>TextNode`

[2017-09-19 01:24] jonathanolson commented on #672
Text is used a lot, and its conciseness is nice. `Node` also conflicts with `window.Node`, so the same argument could be to change it to `SceneryNode`(!).

[2017-09-19 01:25] jonathanolson commented on #672
Potentially ask at dev meeting what names would work.

[2017-09-19 01:25] samreid commented on #672
I'm happy to go with `HTMLElementNode`, `Text` and `Node` until then.

[2017-09-19 02:45] samreid commented on #670
I committed sample use of `new DOM` and it is working for HTML (after focusing properly).  For iOS, however, no keyboard is shown:

![image](https://user-images.githubusercontent.com/679486/30573619-25f40350-9cb2-11e7-84ca-4d4b5bea84e8.png)

Instead it gets these errors:
[code]

Perhaps it couldn't find an autocomplete/spellchecker, so failed out the keyboard?

[2017-09-19 02:47] samreid commented on #670
According to https://github.com/turbolinks/turbolinks-ios/issues/73#issuecomment-263378415 the log is just noisy and this is what happens when the simulator is taking data from a real keyboard.  I tried typing on the real keyboard and it worked nicely.

[2017-09-19 04:06] jonathanolson commented on #670
Created /scenery/tests/stacking-test.html for testing the "DOM under canvas" problem. I don't immediately see an issue referenced.

[2017-09-19 15:37] samreid commented on #670
Removing my assignment until we have a design in https://github.com/phetsims/circuit-construction-ios-app/issues/5

[2017-09-19 16:24] samreid commented on #667
I'm seeing 2 problem here.  I commented out the `if ( isType( 'TNode'` is instance proxies (for all 3).  Then launched faraday's law Instance Proxies and set faradaysLaw.faradaysLawScreen.view.controlPanel.radioButtonGroup visible false and pressed launch.  The state in the console said visible: false but it still showed.  This leads me to believe that fromStateObject is not working properly for T

[2017-09-19 16:29] samreid commented on #667
The preceding commit fixes problem (1).  It looks like problem (2) is caused because TRadioButton extends TNode but doesn't supply its own toStateObject/fromStateObject.  This is related to https://github.com/phetsims/phet-io/issues/1214.  The problem is that toStateObject and fromStateObject are static, the current workaround would be to put them in every subclass.  Another possibility (which may

[2017-09-19 17:05] samreid commented on #667
For (2) the workaround given our current status quo would be to include these 3 lines of code in every TNode subclass:

[code]

[2017-09-19 17:09] samreid commented on #667
I added those methods for some TNode subclasses used in Faraday's Law.  When enough TNode subclasses have that workaround, we can eliminate the hackish `if ( isType( 'TNode', value.type ) ` code from instance-proxies.js

[2017-09-19 17:10] samreid commented on #667
I'd like to discuss this with @zepumph before spending more time on it.

[2017-09-19 18:21] zepumph commented on #667
What if we solved this problem in phetioInherit instead? Rather than requiring the child to call the parent's method as their method call, we could detect if child doesn't have these methods, then use the parents methods instead.

This isn't a whole solution for phetsims/phet-io#1214 because it means that anytime a child wants to add a small bit of state data, then it will blow away the parent imp

[2017-09-19 22:07] jessegreenberg commented on #669
We met with @jonathanolson today and discussed how to approach this.  We determined that the best approach to https://github.com/phetsims/scenery/issues/669#issuecomment-330385500 was to find the difference in Trails between parent and child AccessibleInstance, and add listeners to each node in between that update visibility of DOM content when visibility or accessibleVisibility on changes.

This

[2017-09-19 22:11] jessegreenberg commented on #669
@jonathanolson would you mind reviewing this change?

[2017-09-19 22:35] jessegreenberg commented on #672
I like ```HTMLElementNode```, we are using ```HTMLElement``` already for a11y to mean https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement.

[2017-09-19 22:46] jessegreenberg commented on #671
@zepumph this looks really great, I reviewed the above commits.  You are correct that ```accessibleVisible``` should not be initially null.  This was really helpful for #669 and will continue to make the API Accessibility.js more intuitive.  Closing.

[2017-09-19 22:46] #671 closed

[2017-09-19 23:52] pixelzoom commented on #672
+1 for `HTMLElementNode`.

[2017-09-20 04:18] jonathanolson commented on #672
I'll rename to HTMLElementNode, removing dev-meeting tag.

[2017-09-21 18:48] zepumph opened #673 "Move accessibleOrder to the a11y mixin"
While working on https://github.com/phetsims/reactants-products-and-leftovers/issues/55 I found myself lost trying to find the implementation of `accessibleOrder`. @jessegreenberg is there a reason that it isn't part of Accessibility.js?

[2017-09-21 21:49] zepumph opened #674 "Improve `Node.accessibleOrder`"
@jessegreenberg and I found that `accessibleOrder` is problematic. We are finding that the setter on it is not rewriting the pDOM in the way that we think it should. We are going to tackle this by writing a few more tests first.  Hopefully these will exacerbate the problem at hand so we can then fix it.

[2017-09-21 23:42] zepumph opened #675 "should `Display.getBaseAccessibleInstance` return an AccessibleInstance of a leaf most node?"
As part of https://github.com/phetsims/scenery/issues/674, we found a bug where we should have been sorting the AccessibleInstances of a leaf most trail, but instead `getBaseAccessibleInstance` was only returning an ancestor, never the leaf. We fixed this in one of the occurrences (Display.changedAccessibleOrder) but there are others. We should make sure that none of them assume that the base acce

[2017-09-21 23:46] jessegreenberg commented on #674
We discovered that ```Display.changedAccessibleOrder``` was always sorting ```AccessibleInstances``` under an ancestor ```AccessibleInstance``` rather than the ```AccessibleInstance``` of a Node whose accessible order changed. The above commit fixed this so that when ```accessibleOrder``` is set on a Node, it tries to sort child ```accessibleInstances``` before looking for an ancestor.

Added unit

[2017-09-21 23:46] #674 closed

[2017-09-21 23:46] zepumph commented on #673
@jessegreenberg and I think that this should be moved. Changing the name.

[2017-09-25 18:02] phet-steele commented on #130
Finally found a win 8 touch screen! Didn't see an issue in any browser, in molarity or sun.

[2017-09-25 18:02] #130 closed

[2017-09-25 23:52] ariel-phet commented on #611
Changing priority to medium - so far we have been able to work around this issue, and probably awhile before we get to fixing it.

[2017-09-26 01:31] zepumph opened #676 "Have a robust way to create custom focusHighlight nodes with default focusHighlight styling"
`FocusOverlay.js` is responsible for creating the Rectangle node that is the focusHighlight. Currently I haven't found a good way to have my own node, but give it the same "default" styling that would make it consistent with other focusHighlights. The best way I have found so far is to pass in a Shape as the `focusHighlight` instead of a node, then `FocusOverlay.js` will handle the rest.

To the b

[2017-09-26 03:25] jessegreenberg commented on #676
That is true, if the highlight needs to be layered within the scene graph the default FocusOverlay styling cannot be used.  @zepumph would it help if we had a new Path type that had the default focus highlight styling defined?  It could take a custom shape as a param. FocusOverlay could be refactored to use this.

[2017-09-26 17:22] zepumph opened #677 "Make sure focusHighlight never goes inside bounds"
Right now I think the middle of the `focusHighlight` is right on the bounds, but at the keyboard nav meeting today there was a consensus to try to make sure that the `focusHighlight` was consistent, but also never inside the bounds at all. This means that we should try to redraw the `FocusOverlay` to adjust for the stroke width, and then dilate the rectangle so that the inner edge is equal to the

[2017-09-26 17:23] jessegreenberg commented on #677
Lets do it! Should be relatively quick.

[2017-09-26 19:37] jessegreenberg commented on #670
Removing my assignment, but please let me know if I can be of help for this.

[2017-09-26 22:54] zepumph commented on #677
I think we are ready to close this. @jessegreenberg and I worked to get a consistent focushighlight shape that is always outside the bounds. Closing

[2017-09-26 22:54] #677 closed

[2017-09-27 00:42] zepumph commented on #676
Today @jessegreenberg and I looked into this. We made quite a few static functions on FocusOverlay and got default styling for `focusHighlight`  working well with `focusHighlightLayerable`. See `Magnifier` in Friction for an example. Basically the main thing we are having trouble with is that FocusOverlay.getFocusHighlightNodeFromShape` takes a shape, and creates a new node to be returned each tim

[2017-09-27 19:20] jessegreenberg commented on #676
@zepumph and I continued on this today.  We added a new type called ```FocusHighlightPath``` that takes a shape and manages two paths and their styling (one for inner focus highlight and one for outer focus highlight). We tested it out in Friction, seems to be working great.

The next step is to factor out code from ```FocusOverlay``` and place it in ```FocusHighlightPath``` wherever possible (so

[2017-09-28 17:16] zepumph opened #678 "Node.setPreventFit is missing doc"
I'm not sure what it does, so I'm sorry to say I can't help. @jessegreenberg could you take this on or reassign to someone that knows more?

[2017-09-28 17:24] jessegreenberg commented on #678
There is some documentation where it is defined in ```this._hints```. @jonathanolson should we add some documentation around the setter as well? Presumably, in ```NODE_OPTION_KEYS``` it says

[2017-10-03 17:30] samreid opened #679 "toDataURLNodeSynchronous opacity not working as expected"
Please see https://github.com/phetsims/circuit-construction-kit-dc/issues/160#issuecomment-333733167 and several comments below it.  The main idea is that if I set the opacity on the entire ElectronNode the opacity wasn't respected but if I sent opacity on its children (circle + rectangle) then it worked as expected.  If/when this issue is resolved, we can remove the workaround in ElectronNode.

@

[2017-10-04 08:06] jonathanolson commented on #679
It seems that if the toImage* method varieties return a result in the parent bounding coordinates (which they do), then it should include the opacity itself.

I'll look into applying this (and testing for cases where there may be an opacity that this occurs with now).

[2017-10-04 18:33] zepumph commented on #673
Since we are touching accessibleOrder, should it default to an empty array instead of null? I will look into it soon.

[2017-10-04 18:43] zepumph opened #680 "focusHighlightLayerable causes focusHighlight children when not run with ?accessibility flag"
Currently the way that focusHIghlightLayerable works is that it requires the focusHighlight to be a child of a node, and that is how the focusHighlight is layered into the sim. The problem with this is that when accessibility is disabled, the focusHighlight squares are displayed in the normal sim. See some examples when running without the accessibility flag.

![image](https://user-images.githubus

[2017-10-04 19:42] zepumph opened #681 "Move accessible code from Node to the mixin"
In https://github.com/phetsims/scenery/issues/673 we moved accessibleOrder to the mixin, and it worked well. Let's try to move out everything else. Here is my first draft list:

- [ ] accessibleInstances
- [ ] accessibleContent
- [ ] `onAccessibleAddChild()`
- [ ] `onAccessibleRemoveChild()`

Tagging @jessegreenberg @jonathanolson so that they are aware of the upcoming changes. Let me know of any

[2017-10-04 19:44] zepumph commented on #673
Now that it is moved, I want to make it default to an empty array. I talked to @jessegreenberg  about it and it seems like we are good to explore that as an enhancement.

[2017-10-05 00:27] zepumph commented on #680
@jessegreenberg and I just brainstormed about this:

1. set `visible: false` by default on FocusHighlightPath (this worked well, but what if we aren't using this type?)
2. set `visible: false` in setFocusHighlight if `focusHighlightLayerable` AND set that in `setFocusHighlightLayerable` if there is a node that is the `_focusHighlight`. (Could work, but would it presume too much? Could it be a "got

[2017-10-05 00:50] jessegreenberg commented on #680
I like option 2.

It could be, but this doesn't seem specific to option 2.  If scenery makes custom focus highlights invisible by default, any solution could potentially be a "gotcha".

More brainstorming:
- If we go with option 1, maybe its OK that the client needs to handle initial visibility if they don't use ```FocusHighlightPath```?
- A mixin for focus highlights that handles initial visibili

[2017-10-05 16:15] zepumph commented on #676
@jessegreenberg what do you think is next for this issue?

[2017-10-05 16:55] jessegreenberg commented on #676
```FocusHighlightPath``` and FocusHighlightFromNode are working great in ```FocusOverlay``` and in sims. I think this could be closed, do you  agree?

[2017-10-05 18:11] zepumph commented on #676
Agreed!!! Good work team. This was awesome.

[2017-10-05 18:25] jessegreenberg commented on #676
Great, thanks @zepumph, good improvements!

[2017-10-05 18:44] jessegreenberg opened #682 "Slow loading of images in Safari"
@ariel-phet We noticed that in Safari 10.0.1 (macOS Sierra 10.12.1) images load slowly, in order from top down, left to right.  Happens on all sims,  but is especially noticeable in BASE because of the number of images.

https://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html

![ezgif-4-2ec4d475b8](https://user-images.githubusercontent.com

[2017-10-05 19:04] jessegreenberg commented on #680
This is interfering with other sim work, marking as high priority.

[2017-10-05 19:20] zepumph opened #683 "TFocus has a circular json error"
Currently Focus isn't being passed over the frame correctly. Try using the console wrapper with accessibility enabled

[2017-10-05 19:31] phet-steele commented on #682
@jessegreenberg, yes, I showed it to you! 😒

I saw it in expression-exchange at least, but you say it is all sims and I believe you.

[2017-10-05 19:58] zepumph commented on #683
Ideally I would find a workaround before the joist design meeting on Tuesday.

[2017-10-05 21:07] jessegreenberg commented on #682
Sorry! forgot about that and couldn't find another issue.  How frequently is this happening and have you seen it persist in recent versions of Safari?

[2017-10-05 23:16] jessegreenberg commented on #680
@zepumph and I went with option 2, making it so that focus highlights embedded in the scene graph are always invisible unless the associated node has focus. Verified that this is working in Friction and Faradays Law (the two sims that use this feature) and others are passing aqua tests too. Thanks @zepumph, closing.

[2017-10-05 23:16] #680 closed

[2017-10-06 19:39] jessegreenberg opened #684 "Create a KeyboardDragHandler"
We need a simple KeyboardDragHandler for keyboard dragging.  We have one in scenery-phet, but it works more like scenery-phet/MovableDragHandler (takes and modifies a position Property, can restrain bounds, works with a phetcommon/ModelViewTransform2.

Biggest motivation for this is issues like https://github.com/phetsims/faradays-law/issues/81, where the draggable Node already uses SimpleDragHand

[2017-10-06 19:40] jessegreenberg commented on #684
This one should be called KeyboardDragHandler and we should rename the one in scenery-phet.

[2017-10-06 20:15] jonathanolson commented on #684
Does that mean we need a generalization of the "Pointer" concept?

[2017-10-09 19:11] zepumph commented on #683
It looks like this was a problem from phetsims/phet-io#1223 because we were not serializing Property's valueType when adding it onto the data stream with phetioEvents parameters. The solution isn't really pretty, and I don't like it as a general datastream api, but it works. At some point it would be good for @samreid and I to work on improving phetioEvents api to make it easier when dealing with

[2017-10-09 19:25] zepumph commented on #683
I spoke with @samreid, we will continue on in https://github.com/phetsims/phet-io/issues/1230

[2017-10-09 19:25] #683 closed

[2017-10-09 23:21] jessegreenberg commented on #676
Froma conversation with  @zepumph, it would be really convenient if FocusHighlightPath could provide a way to get focus highlight line width from statics. Ill work on this because it would be great to use in https://github.com/phetsims/joist/issues/444.

[2017-10-10 00:06] jessegreenberg commented on #676
Done in the above commits, this was a great suggestion,  thanks @zepumph!

[2017-10-10 00:06] #676 closed

[2017-10-10 18:34] zepumph opened #685 "Should the Accessibility mixin support <br/> as a formatting tag"
Currently the mixin supports "formatting" tags that can be added to strings and rendered as html, but there is only a white list supported to prevent xss.

Questions
1. Do we want to support `br` tags so that individual `p` tags like the accessibleDescription can be more complex and powerful.
2. How does AT handle `br` tags? We should do a jsfiddle to experiment with them inside tags that support

[2017-10-11 00:13] zepumph commented on #685
Tagging @terracoda in case she has insight into `br` behavior with AT, and if this is a good improvement.

[2017-10-11 02:18] terracoda commented on #685
@zepumph, in general in front-end development I would lean towards avoiding the use of `br` tags, but I can look into why more carefully.

[2017-10-11 15:46] terracoda commented on #685
@zepumph, can you explain why you think `br` tags would make an accessibleDescription more complex or powerful?

`br` are not navigable like `p` tags or headings. The only thing a `br` tag seems to do is create a newline which interrupts a user who is reading with the virtual cursor. A closing block-level tag does the same thing.

For robust accessible descriptions, I think it is best to stick to

[2017-10-11 15:55] terracoda commented on #685
Here's an interesting email discussion about carriage returns and screen readers aanouncing a new line.
One of the comments:

[2017-10-11 15:57] terracoda commented on #685
I'm not against supporting HTML tags, I just do not see any use for the `br` tag in the PDOM.

[2017-10-11 19:58] zepumph commented on #685
@terracoda thank you for the info. I will inform you how this came up in discussion with @jessegreenberg and myself, and we will proceed from there as to if this is a worth while path to go down.

The current implementation of a11y descriptions onto a Node is currently very flushed out. There is quite a bit of flexibility as to what you can get that Node to look like in html. Most of these are str

[2017-10-11 21:58] jessegreenberg opened #686 "[Discussion] Rethink cases for setAccessibleContent"
@zepumph found a few issues with ```setAccessibleLabel``` and ```setAccessibleLabelAsHTML```. The default behavior for these functions is to set the label value as the ```innerText``` or ```innerHTML``` of the node.  This is confusing because for nodes with children that also have accessible content it will produce html like

[code]

More intuitive default behavior would be the following (the labe

[2017-10-11 22:17] jessegreenberg opened #687 "Accurate bounds for RichText"
@jonathanolson would this be feasible?

I am trying to bottom align `RichText`, but since it doesn't support a `boundsMethod` like `Text` I am unable to:

![capture](https://user-images.githubusercontent.com/6396244/31469487-f6e25b76-ae9e-11e7-8797-5ba3b311686b.PNG)

It is only really noticeable when strings are scaled down for i18n. In the above image there is extra space in the bounds of "cm:cm"

[2017-10-12 00:04] zepumph commented on #687
Let me know if I can assist at all either. (not likely)

[2017-10-12 00:20] jonathanolson commented on #687
RichText and Text have y=0 at the baseline, so if you do alignment based on y value (set the y value to the same on both), it should presumably work?

For example, in the Scenery playground:
[code]
results in:
![screen shot 2017-10-11 at 6 18 50 pm](https://user-images.githubusercontent.com/480878/31473278-b17738c4-aeb0-11e7-9555-638d98fbf989.png)

Generally, layout based on the "bottom" of the bo

[2017-10-12 00:22] jonathanolson commented on #687
I just realized that HBox should really have an alignment option of "don't translate vertically". Maybe we should create an issue for that?

[2017-10-12 16:27] jessegreenberg commented on #687
Thanks for explaining! That works very well for my case.
![capture](https://user-images.githubusercontent.com/6396244/31507161-efc3e93e-af36-11e7-8dd9-638a8bf6819d.PNG)

That would be nice, in this case I had to remove the use of HBox.

@jonathanolson in general do you think that accurate bounds for RichText is worth  investigating or should this be closed?

[2017-10-12 16:28] jonathanolson commented on #687
I think it makes sense for RichText to forward boundsMethod to things it creates, so I'll keep open, self-assign, and make that change.

[2017-10-12 16:31] jonathanolson opened #688 "LayoutBox with no alignment"
Currently, LayoutBox (HBox/VBox) forces an alignment of bottom/left, center, or top/right. This is inconvenient for cases like https://github.com/phetsims/scenery/issues/687 where it would be very useful to set everything's align coordinate to 0 (e.g. in an HBox, everything gets y=0, or at least everything would be aligned such that they have the same y value).

Any objections to this feature bein

[2017-10-12 17:15] jessegreenberg commented on #688
+1 for `align: none`

[2017-10-12 17:41] jonathanolson commented on #688
align: 'origin', will do y=0 or x=0 so that boxes can be composed and will keep the same behavior.

[2017-10-12 19:30] zepumph opened #689 "Scenery unit tests failing with `this.phetioValueType.toStateObject` is not a function"
Thanks @jonathanolson for pointing this out. It will be handled in https://github.com/phetsims/phet-io/issues/1229. Closing

[2017-10-12 19:30] #689 closed

[2017-10-13 14:59] terracoda commented on #686
@zepumph and @jessegreenberg, I need to think this over a bit to understand it.

There are a few different ways to create and "accessible name" for an element, and we should be building in all the ways to do that. You need different "naming" solutions for different situations.

[2017-10-13 17:44] jessegreenberg commented on #686
@zepumph @terracoda and I discussed this today, and @terracoda said it was OK to proceed with this as long as we still support the common ways of naming elements with labels: `aria-labelledby`, `label` element with the `for` attribute and innerText/innerHTML.

[2017-10-13 18:04] terracoda commented on #686
All interactive elements must have an "accessible name" in the Accessibility Tree. The API should make sure all techniques for providing an accessible name are provided.

The most common ways to provide an accessible name (preferably in this order) are to:
- provide understandable content inside an interactive element, like a button `<button>Accessible Name</button>`
- associate the `label` elemen

[2017-10-16 01:34] samreid opened #690 "ProbeNode automated testing error"
scenery-phet : fuzz : require.js : run
Uncaught TypeError: Cannot read property 'plus' of undefined
TypeError: Cannot read property 'plus' of undefined
    at new ProbeNode (https://bayes.colorado.edu/continuous-testing/snapshot-1508062282027/scenery-phet/js/ProbeNode.js?bust=1508079543441:163:48)
    at https://bayes.colorado.edu/continuous-testing/snapshot-1508062282027/scenery-phet/js/demo/Comp

[2017-10-16 01:36] samreid commented on #690
Proposed fix is committed above, @pixelzoom do you want to take a look?

[2017-10-16 02:13] phet-steele commented on #690
@pixelzoom this was originally reported at https://github.com/phetsims/scenery-phet/issues/294#issuecomment-321913851, so please close that issue too if you close this one.

[2017-10-16 02:29] samreid commented on #690
Thanks @phet-steele

[2017-10-16 12:45] #690 closed

[2017-10-18 17:23] #688 closed

[2017-10-18 17:33] #687 closed

[2017-10-18 21:12] zepumph opened #691 "Uncaught Error: Assertion failed: Need to call node.removeChild() with a Node."
In friction, highlight to macro book by way of keyboard nav, then click on the keyboardHelpDialog. This should repeat the error. What I'm finding is that the Book is focusHighlightLayerable, but for some reason doesn't have accessible content when it gets to FocusOverlay's `deactivateHighlight` method, so it goes into the else clause:
[code]

[code]

Maybe this would be something good to look at i

[2017-10-18 22:52] jessegreenberg commented on #691
@zepumph @mbarlow12 and I worked on this today, the problem was that FocusOverlay was referencing accessibleContent when it was undefined because a Dialog had opened. The fix was to reference the focusHighlight through the Node getter directly,  which wasn't possible when FocusOverlay was first written. Closing!

[2017-10-18 22:52] #691 closed

[2017-10-19 00:10] zepumph commented on #686
@jessegreenberg, @mbarlow12 and I just spent some time discussing this one. It seems to be a pretty multi-faceted api. We want to be able to handle quite a bit of flexibility in how we have a "label" (what we are calling a separate tag that goes either before or after the node's tag) or set and Accessible Name (supported examples of Accessible Name: (1) `<label>` tag with `for` attribute; (2)  `ar

[2017-10-19 16:30] jonathanolson opened #692 "Handling disposal of color Properties"
Scenery currently only removes listeners from color properties used as fill/stroke during a `Display.updateDisplay()` (called during sim steps).

This can create issues with the new listener pattern if something like the following is done:
[code]

It would be good to discuss if this is a complication we should get used to, or if there is a way of properly handling it, e.g.:

1. Be able to listen t

[2017-10-19 18:10] pixelzoom opened #693 "verify that tandem is the last option key"
Noticed in 10/19/17 dev meeting.

In Node:

[code]

If `tandem` is not the last option key, there will be problems, possibly subtle. Relying on a comment is not sufficient. This should be verified via an assertion, probably in Node `mutate`.

[2017-10-19 18:17] jessegreenberg opened #694 "Change focus automatically when visibility changes"
From https://github.com/phetsims/plinko-probability/issues/104, it would be nice if scenery had a way to automatically change focus when one Node replaces another with visibility so we don't have to do this in the sim.  In #665, we added a function `replaceChild` that will handle focus changing when one node replaces another Node in the scene graph.  Maybe we would add something similar for when v

[2017-10-19 18:40] jonathanolson commented on #694
That behavior sounds nice, and sounds good to have a method to help with it. Thoughts on `replaceVisibleChild`, `swapVisibility`, or other names? `replaceChildVisible` somehow sounds to me like it would change the parent-child relationship.

[2017-10-19 18:45] jessegreenberg commented on #694
Sure, that makes sense.  I slightly prefer `replaceVisibleChild` to `swapVisibility`.

[2017-10-19 20:08] jessegreenberg commented on #694
I changed my mind, replaceVisibleChild also sounds to  me like it would modify children.  I like swapVisibility.

[2017-10-19 21:57] jessegreenberg commented on #694
Thanks @zepumph I went ahead with this one since it seemed pretty straight forward and the implementation was similar to #665.  The above commits add `swapVisibility` and a few unit tests for it. @jonathanolson would you mind reviewing?

[2017-10-19 22:14] jessegreenberg commented on #684
@jonathanolson I don't think so but you may be thinking ahead of me! `Pointer` doesn't seem applicable to keyboard dragging to me. We need a generalization of scenery-phet/KeyboardDragHandler that has an API similar to SimpleDragHandler.

[2017-10-19 22:16] jessegreenberg commented on #505
This is quite stale, the accessible DOM is under the Display div  so there can be one for each display. Closing.

[2017-10-19 22:16] #505 closed

[2017-10-19 23:30] zepumph commented on #673
@jessegreenberg I implemented the above enhancement. Now `_accessibleArray= [];` on initialization. We also don't support null anymore. I removed the null checks in `getNestedAccessibleOrder` and it looks safe to me. Would you double check for me?

[2017-10-20 16:13] pixelzoom opened #695 "incomplete doc for Accessibility _focusAble"
Noticed while reviewing https://github.com/phetsims/plinko-probability/issues/104.

Documentation for `Accessibility`'s `_focusAble` is incomplete here:

[code]

and here:

[code]

`_focusAble` is initialized to null, and there's an explicit test for null on line 1730:

[code]

So the type expression should be `{boolean|null}`, and the meaning of `null` value should be explained.

[2017-10-20 16:55] pixelzoom opened #696 "Accessibility mixin uses features of Node"
In general, a mixin should have no knowledge of the thing(s) that it will be mixed into. `Accessibility` violates this by making direct use of the following properties of Node or its supertype.

`_children` and `children` - lines 145, 405, 406, 1244
`_parents` - lines 1675, 1676
`getTrails` - line 1095
`trigger0` - line 1104
`_accessibleInstances` - numerous
`_accessibleContent` - numerous

This i

[2017-10-20 17:00] pixelzoom commented on #696
It also appears that `Accessibility` doesn't fully encapsulate accessibility features. Some accessibility features have leaked into Node, including:

`accessibleContent` option
`_accessibleInstances`
`_accessibleContent`
`onAccessibleAddChild`
`onAccessibleRemoveChild`
`setAccessibleContent`
`getAccessibleContent`
`getAccessibleInstances`
`addAccessibleInstance`
`removeAccessibleInstance`

This is

[2017-10-20 17:07] pixelzoom opened #697 "AccessibleInstance shouldn't mix itself into Poolable"
In `AccessibleInstance`:

[code]

`Poolable` should be mixing in `AccessibleInstance`, not the other way around.

[2017-10-20 17:08] pixelzoom commented on #697
Ditto for `AccessiblePeer`.

[2017-10-20 17:14] pixelzoom commented on #696
Similar problems in `AccessibleInstance` and `AccessiblePeer`.

[2017-10-20 17:16] pixelzoom commented on #697
hmmm...  I see many other scenery mixins that handle mixing themselves into some type.  This seems backwards.  @jonathanolson could you comment?

[2017-10-20 17:31] pixelzoom commented on #697
hmmm...  I see many other scenery mixins that handle mixing themselves into some type.  This seems backwards.  @jonathanolson could you comment?  Why do some mixins handle mixing themselves in, while in other cases the mixing in is handled by a type?

[2017-10-20 20:22] jessegreenberg commented on #697
For
[code]
function `mixin` of `Poolable` modifies the prototype of `AccessibleInstance`.

Maybe it would be more clear if `mixin` function was renamed to something like `mixInTo`?

[2017-10-20 20:26] jessegreenberg commented on #696
Maybe Accessibility.js shouldn't be a mixin, but a [Trait](https://en.wikipedia.org/wiki/Trait_(computer_programming)).

It looks like traits are similar to mixins, but allow us to define requirements for the type before features of the trait can be used.

[2017-10-20 20:28] jessegreenberg commented on #696
Regarding https://github.com/phetsims/scenery/issues/696#issuecomment-338264328, I agree this is a problem, but it shouldn't be difficult to move them into `Accessibility.js` (assuming that Accessibility.js can use features of Node).  I will create a separate issue for that.

[2017-10-20 20:32] jessegreenberg opened #698 "Accessibility.js should encapsulate all accessibility features"
From #696, @pixelzoom said

_accessibleInstances
_accessibleContent
onAccessibleAddChild
onAccessibleRemoveChild
setAccessibleContent
getAccessibleContent
getAccessibleInstances
addAccessibleInstance
removeAccessibleInstance

All of these should now be moved into Accessibility.js.

EDIT, checklist from @zepumph:

- [x] accessibleContent option
- [x] _accessibleInstances
- [x] _accessibleContent
-

[2017-10-20 20:52] jessegreenberg commented on #694
In https://github.com/phetsims/plinko-probability/issues/104, @pixelzoom said:

[2017-10-20 20:55] jessegreenberg commented on #694
Yes, for a11y and managing focus, we need something like this everywhere a node with keyboard focus is made invisible and replaced with another node.
[code]

[2017-10-20 21:02] jessegreenberg commented on #694
Would ```swapVisibilityAndFocus``` be more explicit?  In #665 we added `replaceChild` which restores focus and potentially other state information when one child is replaced with another in the scene graph.  Maybe the name of that function should be changed too?

Sure, that makes sense to me.

[2017-10-20 21:09] jessegreenberg commented on #694
@pixelzoom, @jonathanolson also suggested `replaceVisibleChild` do you have  a preference for the name?

[2017-10-20 21:10] jessegreenberg commented on #694
And if this function really is only useful for a11y, I am happy moving it into Accessibility.js.

[2017-10-20 23:50] zepumph opened #699 "Could there be more checks in the PDOM to keep from making stupid mistakes?"
In one session of a11y development I found that I had the following node:
[code]

Notice how accessibleLabel is misspelled? Well I didn't for many minutes. How many places are there in the code where we could have checks like "you have useAriaLabel but no accessibleLabel, you are wrong."

Marking for discussion.

[2017-10-21 20:15] samreid commented on #693
My apologies that formatting changes crept into the commit, the change is at the bottom.  @jonathanolson can you please verify this was done correctly?

[2017-10-21 23:22] pixelzoom opened #700 "mixin pattern?"
I'm creating this issue in scenery, since it appears to be the sole place where the "mixin" pattern is being used.  This discussion started in Slack developer channel on 10/21/2017, and I transferred the discussion to this issue.

https://github.com/phetsims/scenery/issues/696 (Accessibility mixin uses features of Node) prompted me to ask:

[2017-10-21 23:22] pixelzoom commented on #700
@samreid said:

[2017-10-21 23:22] pixelzoom commented on #700
@pixelzoom said:

[2017-10-21 23:23] pixelzoom commented on #700
@zepumph said:

[2017-10-21 23:23] pixelzoom commented on #700
@pixelzoom said:

[2017-10-21 23:23] pixelzoom commented on #700
@zepumph said:

[2017-10-21 23:23] pixelzoom commented on #700
@pixelzoom said:

https://en.wikipedia.org/wiki/Mixin  “Mixin programming is a style of software development, in which units of functionality are created in a class and then mixed in with other classes. A mixin class acts as the parent class, containing the desired functionality. A subclass can then inherit or simply reuse this functionality, but not as a means of specialization. Typically, the mi

[2017-10-21 23:24] pixelzoom commented on #700
@jonathanolson said:

[2017-10-21 23:25] pixelzoom commented on #700
Atypical usage is putting it nicely. Correct me if I’m wrong.  But it looks like we’re just pulling some functionality out into a file2, so that file1 doesn’t get too big.  While still allowing file2 to reach over into file1 and use whatever it wants.

[2017-10-21 23:25] pixelzoom commented on #700
@jonathanolson said:

[2017-10-21 23:26] pixelzoom commented on #700
@jessegreenberg said:

[2017-10-21 23:27] pixelzoom commented on #700
@samreid said:

[2017-10-21 23:27] pixelzoom commented on #700
@jessegreenberg said:

[2017-10-21 23:28] pixelzoom commented on #700
@samreid said:

[2017-10-21 23:28] pixelzoom commented on #700
@jonathanolson said:

[2017-10-21 23:28] pixelzoom commented on #700
Traits would be closer, but would still require some changes. From one of the seminal papers on traits (http://scg.unibe.ch/archive/papers/Scha03aTraits.pdf, p2):

• A trait _provides_ a set of methods that implement behavior.
• A trait _requires_ a set of methods that serve as parameters for the provided behavior.
• Traits do not implement any state variables, and the methods provided by traits n

[2017-10-21 23:29] pixelzoom commented on #700
Btw… “Programming in Scala” (p 230, “To trait, or not to trait?“) recommends: “If the behavior will not be reused, then make it a concrete class. It is not reusable behavior after all. If it might be reused in multiple, unrelated classes, make it a trait.”  I am not aware of any current PhET “mixin” that is being used (or is intended to be usable) in more than 1 place - so not in the typical situa

[2017-10-21 23:29] pixelzoom commented on #700
(Slack discussion included all of the above, non-Slack discussion continues below.)

[2017-10-21 23:42] samreid commented on #700
@pixelzoom it wasn't clear whether you had acknowledged @jonathanolson's comment https://github.com/phetsims/scenery/issues/700#issuecomment-338439424

He is referring to https://en.wikipedia.org/wiki/Mixin#In_JavaScript which has:

[code]

As @jonathanolson said, "[it] assumes the existence of fields that the type it is mixed into has" in the same way that our Accessibility mixin assumes the exis

[2017-10-23 14:20] pixelzoom commented on #700
I believe that example is incorrect.

[2017-10-23 15:56] pixelzoom commented on #700
I also didn't reply to this.. @samreid said:

Mixins function as base classes (superclasses) _not_ subclasses.

[2017-10-23 15:57] samreid commented on #700
True, but sometimes parent classes have abstract methods which must be implemented in the child class.

[2017-10-23 15:58] pixelzoom commented on #700
I fail to see any relation to what is being done here.

[2017-10-23 15:59] pixelzoom commented on #700
I fail to see any relation to what is being done here.  PhET's "mixins" using things that are both declared and defined in the subclass.

[2017-10-23 15:59] samreid commented on #700
An abstract class explicitly defines methods which must be implemented in the subclass.  A mixin implicitly defines methods which must be implemented in the mixee.

[2017-10-23 16:01] pixelzoom commented on #700
Where are you getting this information?  And how do you rationalize multiple mixins all "implicitly defining" Node `children`, `parent`, etc.

[2017-10-23 16:02] pixelzoom commented on #700
A trait (not a mixin) defines methods that must be implemented by things that the trait may be composed with.

[2017-10-23 16:19] pixelzoom commented on #694
@jessegreenberg said:

I didn't realize that there were multiple Node methods that affect focus as a side-effect.  So I guess just continue with `swapVisibility`.

@jessegreenberg asked:

Why do we need both `replaceChild` and `replaceVisibleChild`?  Or is the proposal to rename `replaceChild` to `replaceVisibleChild`?

[2017-10-23 16:31] jonathanolson commented on #700
It mixes Poolable into itself. And actual subtyping does not seem like an option here, since Poolable truly is used (a) on types with very different supertypes, and (b) does not have any type-specific information, i.e. it can be mixed into basically anything.

- Poolable is mixed in 24 times (and many times through SelfDrawable.Poolable)
- PaintableStatelessDrawable is mixed in 7 times
- Paintable

[2017-10-23 16:34] jonathanolson commented on #694
Code looks great, thanks!

replaceChild and swapVisibility seem like general use methods (that are preferred in general, so that we don't have to use them later to fix the sim once a11y is added), so I'd prefer these in Node.

[2017-10-23 17:03] pixelzoom commented on #700
I stand corrected - there are indeed many PhET "mixins" that are reused extensively.  So you can ignore https://github.com/phetsims/scenery/issues/700#issuecomment-338439603.

With the exception of Poolable, I still think it's problematic that the other "mixins" require specific functionality in the type that they are mixed into.  Smells like trait, not mixin.  So I stand by https://github.com/phe

[2017-10-23 17:13] pixelzoom commented on #697
Thanks for clarifying, understood.  `mixin` is fine, and appropriate for `Poolable`.

[2017-10-23 17:13] #697 closed

[2017-10-23 17:21] pixelzoom commented on #696
In https://github.com/phetsims/scenery/issues/700#issuecomment-338717612, @jonathanolson said:

That said... If you decide _not_ to include Accessibility in Node directly, then Trait seems more appropriate than Mixin (see https://github.com/phetsims/scenery/issues/700#issuecomment-338439597).

Document that `Accessibility` is intended to composed with (or "mixed into" if you prefer Scala terminolo

[2017-10-23 17:26] jonathanolson commented on #696
Would probably be nice to have a11y things in Accessibility.js.

Performance is generally the reason why _children is used internally. This is particularly notable with `children`, since `getChildren()` returns a COPY of the children, which has GC characteristics that are generally considered unacceptable for Scenery.

Even if we have something like getChildrenReference() or childrenReference, the

[2017-10-23 17:32] pixelzoom commented on #696
Understood. And I guess that implies that Accessibility is using them for performance reasons. Then should Accessibility be using `_children` everywhere?  Or is `setAccessibleInputEnabled` not a performance concern?

[2017-10-23 17:42] #692 closed

[2017-10-23 17:52] jonathanolson commented on #693
Looks good. I also manually fixed all of the formatting errors introduced above. Closing.

[2017-10-23 17:52] #693 closed

[2017-10-23 18:07] jonathanolson commented on #696
I'm not sure I've been super strict about using it everywhere, but it definitely could be switched to using _children.

[2017-10-24 21:42] jessegreenberg commented on #694
Sorry for the confusion, it would have been an alternative name to `swapVisibility`, but it is confusing to have both `replaceChild` and `replaceVisibleChild`.  We will keep `swapVisibility`.

Regarding the order of parameters, in https://github.com/phetsims/plinko-probability/issues/104 @jonathanolson said:

That is all review comments, closing.

[2017-10-24 23:07] zepumph opened #701 "Discuss aria-labelledby api in mixin"
@jessegreenberg and I just spoke, and we found that the setters for aria-labelledby and aria-describedby are confusing to outside devs. Let's spend some a11y dev meeting time to discuss. A reason for the confusion is because you set node you want to describe your node, but you also need to set the individual tag that you want. Since a single node can have a "label" "description" "parent" and itsel

[2017-10-25 00:05] jessegreenberg commented on #699
In general, we don't want order to matter when using accessibility features, so we want both of these usages to be OK:

[code]

[code]

So checking for the existence of label content before using ariaLabel could be problematic. I think this is a general drawback of using options since using `node.setAccessibleLable()` directly would have thrown an error. @zepumph what do think?

[2017-10-25 00:23] jessegreenberg commented on #696
Thanks @jonathanolson and @pixelzoom, so for this issue we need to

[2017-10-25 00:42] jessegreenberg commented on #696
We have JSDoc `@mixes Accessibility`, what would this look like for traits? Maybe in Accessibility.js `@augments Node`?

[2017-10-26 01:49] zepumph commented on #686
Today we spoke again, and tried to gain a better understanding of our use cases. @terracoda discussed them out nicely in https://github.com/phetsims/scenery/issues/686#issuecomment-336526279 and we tried to go off of that.

Imagine a new mixin option called `accessibleName`. It only supports creating an accessible name for something, rather than the current accessibleLabel which has other uses too

[2017-10-26 15:29] mbarlow12 commented on #686
One other valid way to provide AT with an accessible name is
[code]
This may be a more concise option for case 2 in https://github.com/phetsims/scenery/issues/686#issuecomment-339525658.

[2017-10-26 15:38] mbarlow12 commented on #686
@terracoda We also discussed possibly not supporting case 3. Since it appears that aria support in general is somewhat limited, we thought it may be simpler to default to case 4 and explicitly delineate the desired labelling element. Also, in that vein, we're curious if the 2 html structures affect how virtual cursors move through the page.

From what I understand, we currently provide the followi

[2017-10-26 16:19] pixelzoom commented on #700
Task for 10/26/17 developer meeting is to decide whether to (a) leave as is, or (b) rename things that are not following the Mixin pattern.  If (b), decide on a name.

[2017-10-26 17:25] samreid opened #702 "SimpleDragHandler.createForwardingListener creates dead nodes on Android and Chromebook"
From https://github.com/phetsims/circuit-construction-kit-common/issues/426 @phet-steele and @jessegreenberg identified that SimpleDragHandler.createForwardingListener creates toolbox icons that, when tapped rapidly on Android or Chromebook, creates "dead" nodes which cannot be moved.  We have seen this problem on CCK and Projectile Motion.  @phet-steele can you report if this symptom appeared els

[2017-10-26 17:31] samreid commented on #702
Note the image https://github.com/phetsims/circuit-construction-kit-common/issues/426#issuecomment-339734063 that indicates the input listener gets a down and move but no up/end.

[2017-10-26 17:51] jonathanolson commented on #702
Steele tested with sceneryLog=OnInput, and it looks like the browser isn't sending the pointerup:

<img width="187" alt="screen shot 2017-10-26 at 11 48 02 am" src="https://user-images.githubusercontent.com/480878/32068596-ec4f862e-ba43-11e7-884e-d9767093a29a.png">

I'll want to verify that pointercancel is set up to be listened to.

[2017-10-26 17:53] jonathanolson opened #703 "Change Scenery logging to work nicely with dark browser themes"
It specifies colors like black/dark-gray that should be "default" for the dark browser.

[2017-10-26 18:19] zepumph commented on #686
Unassigning, to be continued next meeting.

[2017-10-26 18:20] zepumph commented on #606
unassigning, will work on it in meeting space.

[2017-10-26 18:32] pixelzoom commented on #700
10/26/2017 dev meeting notes:
Let's go with Trait.  We'll consider Mixin as a Trait with no requirements on the thing its mixed into.
Change `mix` to `mixInto`.
Add assertion to do type checks for what a Trait can be mixed into
@jonathanolson will handle the change.

[2017-10-26 18:55] jonathanolson commented on #702
@phet-steele, this is weird, but can to reproduce with rootRenderer=canvas?

[2017-10-26 18:55] pixelzoom commented on #702
Sims using `createForwardingListener`:

capacitor-lab-basics
circuit-construction-kit-common
equality-explorer
fluid-pressure-and-flow
projectile-motion

[2017-10-26 18:55] samreid commented on #702
@ariel-phet said this may not be a blocking issue for CCK.

[2017-10-26 19:05] jessegreenberg commented on #686
Initially this issue was to discuss the problematic case of accessible content that looks like:
[code]

Instead of reworking supported HTML structures and API, what if we kept a similar API but remove this confusing case?

@zepumph @mbarlow12 what do you think of an API that looks like this:
[code]

While aria-labelledby and aria-describedby go through different functions.

[2017-10-26 19:07] phet-steele commented on #702
@jonathanolson yes.

[2017-10-26 19:20] phet-steele commented on #702
capacitor-lab-basics - No, but this sim doesn't "create" nor "dispose" something in the areas where this is used (the switches) so the use case doesn't exist (or is harder).

circuit-construction-kit-common - Yup.

equality-explorer - No.

fluid-pressure-and-flow - No, but this sim doesn't create anything on a "start" drag (or tap), so the use case doesn't exist (or is harder).

projectile-motion

[2017-10-26 19:23] phet-steele commented on #702
Edited above to say I CAN repro in equality-explorer

[2017-10-26 19:24] jonathanolson commented on #702
I don't see how this is specific to createForwardingListener, or the sims that use it.

[2017-10-26 19:27] phet-steele commented on #702
@jonathanolson I think it was just a hunch that has proved somewhat true so far?

[2017-10-26 19:46] phet-steele commented on #702
Okay maybe not, the reproduction in equality-explorer was done without the use of createForwardingListener. There, I did it with items on the scale, not from the toolbox.

[2017-10-26 19:47] pixelzoom commented on #702
Slack discussion with @phet-steele regarding equality-explorer:

[2017-10-26 20:27] jonathanolson commented on #700
Implemented renamings and type-check assertions. Aqua tests passing.

[2017-10-26 20:27] #700 closed

[2017-10-26 20:30] samreid commented on #702
So this is a problem for all input listeners, not just `createForwardingListener`?

[2017-10-26 21:10] jonathanolson commented on #702
If Scenery never receives the "up" from the browser, it definitely could potentially affect any listener. It just may be generally easier to "trigger" the issue in cases where we would want to use createForwardingListener.

Reading up to see if I missed a case that we'd want to treat as "up" in the specification.

[2017-10-26 21:15] jonathanolson commented on #702
@phet-steele, can you test a version of a sim published before September 2015 to see if it exhibits the same bugginess? I'm curious if the setPointerCapture() added as part of https://github.com/phetsims/scenery/issues/464 may by chance be related.

[2017-10-26 23:16] zepumph commented on #686
I like that! By doing this are we only ever setting innerHTML, or do we still support textContent?

Also how to handle a situation where where we aren't trying to add a label, but just apply content to a paragraph:
[code]

[2017-10-27 04:10] samreid commented on #702
@jonathanolson and I discussed trying to create a minimal reproducible test case for this, which prints out all events received.  If we see the problem right away, we can report it to Google.  If not, we can take steps to make the example more "sim-like" until we notice the problem.

[2017-10-30 02:56] samreid commented on #694
Hello, I'm new to this issue, coming from https://github.com/phetsims/sun/issues/324 and I had a question.  Is it a productive constraint that you can only swap visibility from one child to a sibling, and you must have access to the parent?  I was wondering if a better API would be `Node.swapVisibility` (as a static method) instead of `nodeInstance.swapVisibility` since it doesn't really matter wh

[2017-10-30 03:00] samreid commented on #694
After discussion completes here, please remove the hold from https://github.com/phetsims/sun/issues/324

[2017-10-30 16:57] pixelzoom commented on #694
@samreid makes a good point in https://github.com/phetsims/scenery/issues/694#issuecomment-340331112.  But I'm going to self-unassign on this one.

[2017-10-30 18:11] phet-steele opened #704 "Axon: Simple Tests: Test StringProperty failed"
[code]

[2017-10-30 18:11] phet-steele commented on #704
Oh wait, kite and dot aren't doing well either.....off to axon this goes!

[2017-10-30 18:11] #704 closed

[2017-10-30 18:13] phet-steele commented on #704
phetsims/axon/issues/162.

[2017-10-30 21:01] jessegreenberg opened #705 "branch: accessible-peer-bounds"
A branch to investigate #41. Updating bounds of accessible DOM elements to support accessibility features on mobile devices (particularly VoiceOver). On a branch because we are investigating whether or not this will be effective. See #41 for more information.

[2017-10-30 21:06] jonathanolson commented on #694
I prefer changing this to `oldNode.swapVisibility( newNode );` as suggested by @samreid. Any objections?

[2017-10-30 21:28] jessegreenberg commented on #41
I took an initial stab at this on branch accessible-peer-bounds (see #705). I went through the implementation steps listed in https://github.com/phetsims/scenery/issues/41#issuecomment-252392722, also using MutationObserver to listen for when a DOM element's  untransformed boudns change, and I am amazed with how well it is working! I can navigate the accessible DOM and activate sim elements, inclu

[2017-10-31 01:14] samreid commented on #694
I'd also consider only requiring that `oldNode.visible !== newNode.visible` rather than requiring that `oldNode.visible===true && newNode.visible===false` so it can really swap between them (or renaming the method to something clearer like `transferVisibleTo` or something)

[2017-10-31 02:24] pixelzoom commented on #694
@samreid said:

That's what I originally recommended in https://github.com/phetsims/plinko-probability/issues/104#issuecomment-338257554:

[2017-10-31 02:25] pixelzoom commented on #694
`renaming the method to something clearer like `transferVisibleTo` or something)`

To me, `transferVisibleTo` doesn't indicate that the 2 nodes must have different visibility.  It would simply make (e.g.) the second node have the the same visibility as the first, without changing the first.

[2017-10-31 20:23] jessegreenberg commented on #694
This sounds great to me, I will change to `oldNode.swapVisibility( newNode )` and only require that `oldNode.visible !== newNode.visible`, so that it is really swapping the visibility.

[2017-10-31 23:11] jessegreenberg commented on #694
Change made in the above commits, @jonathanolson would you mind reviewing once more?

[2017-11-01 03:26] jonathanolson commented on #694
Changes look good to me.

[2017-11-01 16:26] jessegreenberg commented on #694
Great, thanks for reviewing again, closing issue.

[2017-11-01 16:26] #694 closed

[2017-11-01 22:02] jessegreenberg commented on #686
Good point, we will still need `accessibleLabelAsHTML` and `innerAccessibleLabelAsHTML` to support
[code]

[2017-11-02 00:48] jessegreenberg commented on #686
My thought was the we treat this just like buttons, so it would look like
//--------------------------------------------------------------------------
new Node( {
  tagName: 'p',
  innerAccessibleLabel: 'The dog went to the  park.'
} );

// creates HTML
<p>The dog went to the park.<p>
//--------------------------------------------------------------------------

So that through the API the only dif

[2017-11-02 01:42] terracoda commented on #686
@jessegreenberg  and @zepumph, you do want to support things like this:
[code]
But I would never want to see `<br>` or `<br/>` which are non-closing tags inside a `<button>` element's content. Also, a pair of `<b>` tags should be unnecessary inside a `button` element as one could use CSS to style the label of a button.

The difference between the `button` element and the `p` element is that the `b

[2017-11-02 04:30] jessegreenberg commented on #686
Thanks, I meant to say `<b>` instead of `<br>`, sorry.

I agree, and that is one of the reasons I like the proposal in https://github.com/phetsims/scenery/issues/686#issuecomment-339767546. This is not the "accessible name" used in the accessibility tree, this is "inner accessible content" for whatever tag name was specified with the function `setTagName`. The resulting HTML will look the same whe

[2017-11-02 12:46] terracoda commented on #686
@jessegreenberg, I agree that https://github.com/phetsims/scenery/issues/686#issuecomment-339767546 is a good approach. I would like to consider a couple changes to the list example in order to provide code validity and perhaps better semantics.

The button example and the input examples examples make perfect sense.

The list example, however, seems a little strange to me. I am not sure a paragrap

[2017-11-02 15:29] jessegreenberg commented on #686
@terracoda sounds good, the `p` for the list was just an example, it could be any arbitrary tag. I agree that lists should have content in use, and that would be supported by https://github.com/phetsims/scenery/issues/686#issuecomment-339767546. To create your example, code it might look like this:

[code]

To create
[code]

[2017-11-02 17:43] terracoda commented on #686
@jessegreenberg, thanks for the example. Sounds good to me.

[2017-11-03 17:36] #703 closed

[2017-11-03 20:58] zepumph commented on #685
I don't think that br tag support is necessary, especially because of work in https://github.com/phetsims/scenery/issues/686

[2017-11-03 20:58] #685 closed

[2017-11-03 23:18] zepumph commented on #606
I found myself really wishing this existed today while editing focusHighlight nodes. I wonder how hard this would be to implement. FuzzMouse simulates scenery events. Is it possible to simulate accessibility events. Doesn't the DOM make that very hard?

[2017-11-06 20:16] pixelzoom opened #706 "use Emitter in Color?"
Similar to https://github.com/phetsims/beers-law-lab/issues/216

Color implements is own change listener pattern, see:

[code]

Why is Color implementing its own change listener pattern instead of using `Emitter`?
Is Emitter too "heavy weight" to be used in each Color instance?

[2017-11-06 20:42] jonathanolson commented on #706
Pretty much only because Color predates Emitter by ~3 years.

Probably not, although it definitely would increase memory a certain amount. I don't think we're creating huge amounts of Color objects.

@samreid, any thoughts on whether it would use too much memory?

[2017-11-06 20:49] samreid commented on #706
Beer's Law Lab instantiates 803 color instances.  Perhaps at a minimum we should move Emitter.dispose from closure to prototype?

[2017-11-06 20:55] samreid commented on #706
I eliminated the Emitter dispose closure in https://github.com/phetsims/axon/issues/166 and it is scheduled for review.  The other extraneous work I see in Emitter is the call to TEmitter.  I haven't seen this sort of thing show up in profiling, so it's probably fine--but I'm not 100% sure.

[2017-11-06 21:04] jonathanolson commented on #706
Emitter doesn't support a public way of getting the number of listeners (or a reference to the actual listeners). Unit tests currently use Color's getListenerCount for this purpose.

Can this potentially be added to Emitter?

[2017-11-06 23:11] samreid commented on #706
I added Emitter.getListenerCount, @jonathanolson please review.

[2017-11-07 06:22] jonathanolson commented on #706
@samreid looks good, thanks!

I've implemented the changes to switch over to an Emitter for Color changes.

@samreid, since this code change actually increases things by 13 lines (due to having to again avoid adding listeners multiple times, using the property/count arrays method to do so), I was wondering if we should look into generalizing the "avoid adding listeners multiple times" pattern used

[2017-11-07 17:33] pixelzoom opened #707 "support for shadows and halos"
Having a shadow on dragged items seems (lately) to be a common request.  It's used in Area Builder, Expression Exchange, and now Equality Explorer to make a dragging Node visually "pop" -- to make look like it's "in front" of other things, and to distinguish it from the things behind it.

A variation of the shadow is the "halo" found in Expression Exchange and (now) Equality Explorer, where a halo

[2017-11-07 17:35] pixelzoom commented on #707
Relevant Slack developer channel discussion:

[2017-11-07 17:36] pixelzoom commented on #707
Function Builder and Units Rates could also have benefited from having a shadow on dragged objects.

Assigning to @amanda-phet @arouinfar @ariel-phet to confirm that this is a feature this we'll be incorporating into more sims.

[2017-11-07 17:40] jonathanolson commented on #707
Also related: https://github.com/phetsims/scenery/issues/158 (color filters).

This has been a half-planned anticipated feature, but it just hadn't come up much before.

[2017-11-07 17:47] zepumph commented on #698
I was working on https://github.com/phetsims/scenery/issues/681, which seems like a subset of this one. I'm going to close it.

[2017-11-07 17:48] zepumph commented on #681
#698 will cover this.

[2017-11-07 17:48] #681 closed

[2017-11-07 18:18] ariel-phet commented on #707
Confirmed, definitely likely to continue to come up.

[2017-11-07 19:32] amanda-phet commented on #707
I definitely think shadows will continue to come up. Halos, maybe, but I can't think of more instances where we will want to indicate "combining" the way we did in ExEx and EqEx, but it's not out of the question.

[2017-11-07 22:38] arouinfar commented on #707
I agree with @ariel-phet and @amanda-phet -- shadows are going to come up in future sims.

[2017-11-07 22:54] jessegreenberg opened #708 "Handle group focus highlights in scenery"
In https://github.com/phetsims/scenery-phet/issues/341, we added a custom highlight around NumberControls when they have focus, so that they look something like
![capture](https://user-images.githubusercontent.com/6396244/32522068-087f5a2a-c3d3-11e7-9088-75c59f2d16f5.PNG)

After a11y  meeting on 11/7/17, it sounds like this kind of highlight will should be used for any grouped elements such as rad

[2017-11-07 23:00] jessegreenberg commented on #708
Maybe nodes can have a group focus highlight that is made visible whenever a descendant node receives focus, handled in FocusOverlay?

[2017-11-08 05:36] jonathanolson commented on #707
## Current proposal for the primitives necessary for shadows/halos and other higher-priority effects

I'll edit this to be up-to-date with changes.

### Low-level features

Two filters would be added currently (others could be added in the future):

- Gaussian blur (specifies a standard deviation in the local coordinate frame). Uses feGaussianBlur for SVG. For Canvas/WebGL, if there is no asymmetr

[2017-11-08 05:38] jonathanolson commented on #707
Marking for feedback during developer meeting. @pixelzoom, @jbphet and @samreid, any feedback before then would be appreciated.

Changes since brief discussion about thoughts:

- Scrapped erode/dilate/convolution
- Reworked how compositing and blending would work, based on SVG specs and constraints based on practical implementation.

[2017-11-08 14:35] pixelzoom commented on #707
Self-assigning so I remember to review.

[2017-11-08 18:13] pixelzoom commented on #707
I reviewed the proposal in https://github.com/phetsims/scenery/issues/707#issuecomment-342715882. Lots of info there, and I'm not confident that I've totally wrapped my head around it.

@jonathanolson Could you provide (pseudo)code examples of:

(1) How to create a shadow for a Path, like this (with and without feathered edge):

![screenshot_421](https://user-images.githubusercontent.com/3046552/3

[2017-11-08 18:54] jonathanolson commented on #707
Using the low-level API, you'd need a (what would probably have helper functions) colorMatrix that replaces the color (and if it has alpha, multiplying), e.g.:
[code]

Then for all of your cases, you would have:
[code]
where blurAmount controls the blurring (if any, 0 for none), shadowColor is the color of the shadow (in your semi-transparent case above, something like `'rgba(0,0,0,0.5)'`, and for

[2017-11-08 18:55] jonathanolson commented on #707
If it helps, replaceColor basically is `function( currentColor, replacementColor ) { return replacementColor.withAlpha( currentColor.alpha * replacementColor.alpha ); }`

[2017-11-09 00:25] samreid commented on #707
So blending and compositing are not needed to create shadows?  Can you provide some use-cases where blending and compositing would come in handy?  Same question for `forceIsolation`.

[2017-11-09 02:00] veillette commented on #707
In fractions intro, the pieces that are dragged cast a shadow. In addition, the pieces can be rotated and the shadow is adjusted such that it is casted from the same perspective (say upper right corner).  (See fractions intro with pieces of a circle for an example.) The support for shadows should handle the translation AND rotation of an object.

[2017-11-09 02:34] samreid commented on #706
Sure, would this be an option in Emitter to allow it to add duplicate listeners without erroring?  Should we pursue this step in a new issue?

[2017-11-09 19:00] pixelzoom commented on #707
@veillette said:

In 11/9/17 dev meeting, @jonathanolson said that his proposal should address this.

[2017-11-09 19:04] pixelzoom commented on #707
11/8/17 dev meeting notes:

• @jonathanolson estimate is a couple days for investigation, ~1 week for scenery
• @ariel-phet don't start until after chipper:2.0
• @pixelzoom will bring this up in January 2017
• will not be ready for use in equality-explorer, so need to decide what to do in phetsims/equality-explorer#17

[2017-11-09 19:05] pixelzoom commented on #707
Assigned to me to bring this issue up in January 2018.

[2017-11-09 23:46] jessegreenberg commented on #708
Discussed in 11/9/17 accessibility meeting.  Lets discuss again at a design meeting for keyboard navigation. There are concerns that adding another  focus highlight will require additional spacing for all Nodes that use this. The more complex the focus highlight is, the more space it will take up. We may not have that space for a lot of common code components.

There was also concern that a "group

[2017-11-10 00:04] zepumph commented on #699
Discussed in the a11y meeting today. I am going to add some assertions to the end of `createPeer` to make sure that the dom element looks as expected. This guarantees that the assertions won't be called on a halfzy state.

[2017-11-10 00:24] simplygreatwork opened #709 "Project for User Interface & Layout"
I've been working on a [side project](https://github.com/simplygreatwork/goodshow) for UI and layout in Pixi.js named: [GoodShow](https://rawgit.com/simplygreatwork/goodshow/master/examples/kitchen-sink/index.html). I began a new implementation (not yet posted to GitHub) using a DOM scenegraph where each node is backed with a canvas - so I'd be able to incorporate HTML content layers more easily.

[2017-11-10 00:45] simplygreatwork commented on #709
Looking at the source code, I noticed some recently updated source files pertaining to layout. Is this new? Do examples exist? Do you need any help?

[2017-11-10 18:03] jonathanolson commented on #707
Useful links from notes (so I can see this in the future sometime):

https://svgwg.org/svg2-draft/render.html#Grouping
https://www.w3.org/TR/filter-effects
https://www.w3.org/TR/compositing-1/ (or https://www.w3.org/TR/compositing/)
https://caniuse.com/#feat=css-mixblendmode
https://mdn.mozillademos.org/en-US/docs/Web/CSS/mix-blend-mode$samples/mix-blend-mode?revision=1322989

[2017-11-10 18:30] zepumph commented on #686
Unassigning, lets talk about this more at dev meeting.

[2017-11-11 01:02] zepumph commented on #699
I started going through a few assertions here and I like it. I think it is a good place to check to make sure we aren't making dumb mistakes. Almost immediately I found an error that blocked me. Here are my assertions so far:
[code]
I found that the ScreenView class is adding a labelTagName of `h1`, but then assuming that its subtypes will add the accessible label. In HomeScreenView the second ass

[2017-11-11 03:07] jonathanolson commented on #709
Sounds interesting. Are the "painted" nodes the only ones with Canvases?

If you haven't Scenery's "DOM.js" node (potentially renamed in the future) allows embedding external content in a node. There is currently some complication with how to display Canvas content in front of HTML elements in a way that won't block allowing input events through to the HTML content, particularly in IE9-11 if I rec

[2017-11-11 03:09] jonathanolson commented on #709
http://phetsims.github.io/scenery/doc/#dom I believe is an example of using the 'DOM' node that allows including HTML content (where you can click and interact with the embedded textbox).

[2017-11-13 00:05] simplygreatwork commented on #709
@jonathanolson In my project, my goal was to render everything/as much as possible using multiple canvases - but also allow each canvas element to have an HTML element positioned above if I wanted to incorporate markdown or a browser native text editor. So by default, each entity/node would/could have both. So my HTML element is only above the canvas element for now. When I was originally using a

[2017-11-14 18:36] jessegreenberg commented on #708
Discussed in 11/14/17 accessibility meeting: We are going to hold off on this and not indicate element grouping with focus highlights since it paints us into a corner and we would have to make sure there is additional spacing for this in *every* set of grouped elements.  We will handle this on a case by case basis to ensure that the interaction  pattern for a group of elements is clear. Closing.

[2017-11-14 18:51] zepumph commented on #708
In addition, I think we decided that this "case by case" basis may be through focusHighlight grouping, or through universal design in the sim itself, depending on what the sim needs.

[2017-11-18 02:16] zepumph commented on #698
@jessegreenberg please spot check for me. Anything else to do with this issue?

[2017-11-19 23:25] zepumph opened #710 "Hide all a11y features when accessibility is not enabled"
This has come up in a few places.

* In phetsims/joist#445 we want to keep a11y out of phet-io wrappers when accessibility is not enabled.
* With keyboard navigation enabled simulations differentiating themselves from fully AT enabled accessible simulations, we want more control over which features are client facing.

In case you need more rambling: An example is when we have 50 keyboard navigatio

[2017-11-20 20:51] zepumph commented on #710
Marking as "question" because it is the closest label we have to "discussion" because this meeting item isn't pairing, but rather thinking about a way forward.

[2017-11-22 01:14] zepumph opened #711 "Should NodeIO have special phetio options to control its methods?"
A lot of the phet-io customization that we want to have is directly from interfacing with NodeIO. Setting something visible/pickable is a large percentage of the conversation in design meetings.

Twice now it has come up that we don't want to be able to toggle visibility/pickablity, with the phetMenu, and the phetButton, and we have uninstrumented many things to achieve this goal as well. What if

[2017-11-22 01:22] zepumph commented on #711
Otherwise we would have to use the below commit as a strategy for PhetMenu

[2017-11-22 06:21] samreid opened #712 "Scenery should generate JSON instead of eval strings for input event playback"
From https://github.com/phetsims/joist/issues/301#issuecomment-342621923

@jonathanolson said:

Maybe @zepumph and @samreid can give it a try, since @jonathanolson is a bit busy with chipper at the moment.

[2017-11-22 14:15] samreid commented on #712
Here's an example of a scenery input event log:

[code]

[2017-11-22 14:17] samreid commented on #712
I'm also seeing events like:

[code]

How does this peacefully coexist with the eval strings?

[2017-11-22 14:28] samreid commented on #712
These are evaluated in PhETIO.js

[code]

[2017-11-22 15:38] samreid commented on #712
I've got a draft of this working, and tested it on Faraday's Law Mirror Inputs on Mac Chrome and Safari.  Since it touches files across 3 repos, I'd prefer not to create separate branches for these since it may be more efficient to proceed in master.  @zepumph can you please review the changes before we ask @jonathanolson to take a look?

[2017-11-22 18:33] zepumph commented on #712
It looks nice, and works well in master! We need to talk about how we want to maintain backwards compatibility with the playback wrapper, since it uses a single version of handlePlaybackEvent and SimIFrameClient, but different versions of the sim (because it uses the sim that was recorded with).

This presents a few challenges, I'm not sure that all of them matter:
* We should be able to just get

[2017-11-22 19:03] samreid commented on #711
We are heading in the direction of being able to specify the minimal amount of instrumentation desired, so this seems to be a good idea.  I'm not convinced its perfect for the PhETButton in joist, because that has an extra complication that there are actually two different button instances (for multiscreen sims) that must remain synchronized--so that may remain as a property or have another workar

[2017-11-22 19:17] zepumph commented on #711
I think it would be great for the phet button. We set visibility and pickability both to false through the api options you just recommended, and then we manually handle the packable synchronization Sim side. The hard part is documenting how this is different than other NodeIOs.

We would probably not use it anywhere else in Faradays law.  I can't think of where at least.

These options seem like a