[2021-03-26 18:48] zepumph commented on #1173
I reviewed this change by adding in my work for testing. This involved removing `enabledAppearanceStrategy` from all options besides ButtonNode, and making sure that disabledOpacity was declared if it wasn't already. There was also a usage in BASE of `disabledOpacity` that I renamed to avoid a collision.

Review of scenery change:

- [ ] Error instead of assertion in opacity setters, why? Shouldn'

[2021-03-26 18:51] zepumph commented on #1153
This is getting solved gracefully and supportively over in https://github.com/phetsims/scenery/issues/1116. With the addition of Node.disabledOpacity, there is no blowing away of passed in options. Closing

[2021-03-29 22:37] samreid commented on #1158
Here are some Properties that look like they can be passed in (I'm searching for `setTargetProperty`)
* visibleProperty
* pickableProperty
* enabledProperty

PhET-iO instrumentation seems independent from whether you should be able to pass in a Property.  It seems like it would round out the API to be able to pass in a pickableProperty, even if we use that rarely.  It looks like `pickableProperty`

[2021-03-30 22:31] jonathanolson commented on #1186
This... seems buggy in a built version of friction. Investigating.

[2021-03-30 22:43] jonathanolson commented on #1186
SimpleDragHandler was missing pointer interruption. Added.

[2021-03-31 19:19] jessegreenberg opened #1191 "AnimatedPanZoomListener's reposition during drag repositions even when objects don't move"
From https://github.com/phetsims/density/issues/50#issuecomment-811275116 and https://github.com/phetsims/density/issues/50#issuecomment-811361467. The AnimatedPanZoomListener will try to pan to keep a Node in view if it is being dragged. But if the Node is fixed in place, it will pan too far. For example, if you zoom into the appendages in john-travoltage and then drag them around, the screen wil

[2021-03-31 20:36] jessegreenberg commented on #1191
Panning to the center of the drag target rather than the point of the Pointer is working well in these cases, and it is still behaving well with the other draggables that can move more freely.  In https://github.com/phetsims/scenery/commit/7e12d661bff6bfc6a5637493672ce3bb0f007ceb I made a mistake by using globalBounds which doesn't work for cases of DAG but https://github.com/phetsims/scenery/comm

[2021-03-31 20:36] #1191 closed

[2021-03-31 23:13] zepumph commented on #1173
That sentence was very helpful thanks

Could you please create an issue if you feel like this is the right direction, otherwise feel free to close. I don't think this should block publication anymore.

[2021-04-01 00:13] zepumph commented on #1188
Sounds good to me! I feel like this was what I was caught up with over in https://github.com/phetsims/scenery/issues/1187#issuecomment-806039195, and so I incorrectly tried to remedy by introducing `null` into the equation. I think the mutual exclusion sounds really nice.

[2021-04-01 00:16] zepumph commented on #1188
@jonathanolson, before carrying this pattern over to other Properties in Node and RichText, does this seem like an appropriate pattern?

[code]

[2021-04-01 00:24] zepumph commented on #1187
I think that https://github.com/phetsims/scenery/issues/1188 has helped me understand the problem with needing `null`. I was trying to come up with a way to signify that the Text value is coming from textProperty, and to ignore the `text` parameter to Text. Since a text value of `''` is acceptable in Text.js, we don't really have a way to not supply the text value if you want to have the value com

[2021-04-01 00:54] zepumph opened #1192 "Display.dispose should remove its domElement from parentElement"
@jonathanolson what do you think about this? Please review. I found this while cleaning up some scenery unit tests

[2021-04-01 01:02] zepumph opened #1193 "Unit tests block qunit page UI"
I discovered that displays that aren't disposed in unit tests can create invisible elements that block UI in scenery unit tests. In correlation with https://github.com/phetsims/scenery/issues/1192, all the test-related displays being created now remove their domElement upon disposal. Here are just a few more.

[2021-04-01 01:03] zepumph commented on #1193
Spot check from @jonathanolson, and to note that this was a problem (in case we see it again, as it is liable to happen again).

[2021-04-01 01:14] zepumph opened #1194 "Node should support passing in Properties that don't support PhET-iO"
Over in https://github.com/phetsims/scenery/issues/1158 and other issues like it, we have added support for passing in Properties to Node through options/mutate.

Currently this is supported by:

`visibleProperty`
`enabledProperty`
`inputEnabledProperty`

The support thus far has been dictated on the need to support these as PhET-iO instrumented sub-Properties of a Node. That said there are many o

[2021-04-01 01:15] #1158 closed

[2021-04-01 06:34] jonathanolson commented on #1186
QA passed for my changes. @pixelzoom I believe this is ready to close, anything else you'd like to have handled?

[2021-04-01 06:48] jonathanolson commented on #1173
If this comes up multiple times in the future, I'd propose it then. Status quo sounds great for right now. Thanks!

[2021-04-01 06:48] #1173 closed

[2021-04-01 18:12] chrisklus commented on #1194
From 4/1/21 dev meeting:

JO: What's the cost for supporting this for everything?
MK: It would take work to make sure this was done correctly
MK: I think it is the right decision to do this, and I would like to, but am unsure of priority

[2021-04-03 01:04] jessegreenberg opened #1195 "branch: voicing"
I am trying out a trait to be composed with Node that would support the voicing freature. It is working well but I am not able to commit to it in master now but need to commit something to pick up on a different machine soon.  A lot of overlap with #1178 as it involves highlights.

The new Voicing trait would replace the old VoicingInputListener and VoicingWrapperNode which were used in existing p

[2021-04-03 01:05] jessegreenberg commented on #1195
https://github.com/phetsims/scenery/commit/7729885c57e749a53ec8bc90fc32b742584fd26a

[2021-04-05 18:07] pixelzoom commented on #1186
I checked the scenarios that were reported in https://github.com/phetsims/molecule-polarity/issues/105#issuecomment-804460900, tested on macOS + Chrome lastest.   I'm still seeing weirdness, which look like symptoms of the drag cycle not being completed.

Examples using Studio in "Two Atoms" screen:

Example 1:
1. Pointer down on one of the Electronegativity slider thumbs.
2. Move pointer outside

[2021-04-05 18:55] jessegreenberg commented on #1195
This branch includes
 - A new trait called Voicing.js which Nodes can be composed with.
 - VoicingInputListener.js, which responds to input and activates features of voicing. It is added to Display if voicing is enabled.
 - Additions to HighlightOverlay to supports voicing highlights.

The Voicing trait and input listener will continue to be exercised. The changes to HighlightOverlay are more docu

[2021-04-05 19:01] jonathanolson commented on #1186
These are currently anticipated, and unfortunately seems to be the best I can do with Chrome (in iframes, it's much better in a window as normal). Safari ends up giving us an event immediately on release, but Chrome has it delayed until the pointer hovers over the iframe again.

[2021-04-05 19:11] pixelzoom commented on #1186
OK, thanks for clarifying.  I didn't understand that from comments above.

Not my call on whether this is acceptable.  Please ask designers and/or the PhET-iO team.

[2021-04-05 19:26] samreid commented on #1186
Since both problems from https://github.com/phetsims/scenery/issues/1186#issuecomment-813547903 appear in the previous published version of Natural Selection 1.0.15 https://phet.colorado.edu/sims/html/molecule-polarity/latest/molecule-polarity_en-iframe.html it seems it wouldn’t block publication.

[2021-04-05 20:01] pixelzoom commented on #1186
Molecule Polarity is not the issue.  Natural Selection (NS) is about to enter a full dev + RC QA cycle.  I don't see any obvious problems in NS.  And the consensus in Slack phet-io channel was that this does not block NS dev testing.  So I'll consider this non-blocking for NS, unless @amanda-phet or @kathy-phet says otherwise.

[2021-04-05 21:58] zepumph commented on #1165
I noticed a couple things from this exploration.

1. Easy case: When switching from asProperty: false to asProperty:true, it was an easy bug fix, I wrote a test case for it above. Note that the attribute is removed now so that the next setter can set as a property.
1. In general, it doesn't really make sense to be able to call `removePDOMAttribute()` on an attribute that is `asProperty:true`, how

[2021-04-06 19:46] jonathanolson commented on #1186
@kathy-phet or @arouinfar, thoughts on whether the current Chrome behavior is acceptable? A brief description is:

In Safari/Chrome (in an iframe, NOT a normal window), when you start a drag and move your mouse out of the iframe, it will stop responding to the drag until the mouse is back inside the iframe.

In Chrome (in an iframe, NOT a normal window), when you release the drag outside the ifram

[2021-04-06 19:46] jonathanolson commented on #1186
For reference, I'm not aware of any way to currently handle this better, but I could investigate more.

[2021-04-12 14:30] samreid commented on #1159
I see the value in improving the relationship between Node and ParallelDOM (avoiding mixin/trait), but I also agree for maintainability its nice to keep them in separate files.  Can we accomplish both of these objectives by converting ParallelDOM to a superclass of Node, so that `Node extends ParallelDOM`?

[2021-04-12 16:37] pixelzoom commented on #1190
I'd still like to hear comments from @jessegreenberg.

But I'm happy to just close this issue, if nesting PDOM options is going to create more problems than it addresses.

[2021-04-12 17:45] samreid commented on #1159
If we make ParallelDOM an abstract type, which methods would need to be abstract?  It seems like ParallelDOM accesses Node.children.  Anything else?

[2021-04-12 20:23] jonathanolson commented on #1159
I didn't check exhaustively, but immediately found:

- enabledProperty
- id (through PDOMDisplaysInfo)
- visible (through PDOMDisplaysInfo)
- _rendererSummary (through PDOMDisplaysInfo/PDOMTree)
- _parents (no lazy copy, through PDOMDisplaysInfo/PDOMTree)
- _rootedDisplays (through PDOMDisplaysInfo/PDOMTree)

Trail is used in PDOMTree, and would need to be typed to handle ParallelDOM?

Presumably

[2021-04-12 22:04] samreid opened #1196 "Should all scenery Nodes always allocate all a11y keys and values?"
In https://github.com/phetsims/scenery/issues/1159 I saw that all Nodes include the following:

[code]

For other attributes added to Node.js, we are sometimes careful to make sure they lightweight, and we make measurements before and after to see the impact on heap or startup time.  For example, see https://github.com/phetsims/scenery/issues/1096.  Has such an analysis been done for this contibut

[2021-04-12 22:24] samreid commented on #1159
For me, the main advantage of keeping them in separate files is to track history and understand changes.  If we combine them:

* Pulling scenery and seeing deltas in Node.js makes it difficult to tell whether the changes are about the ParallelDOM feature or not.
* Viewing the history of Node.js would intermingle ParallelDOM commits with other Node commits, making it harder to understand how Parall

[2021-04-12 22:51] jonathanolson commented on #1196
I think this can honestly generalize to a lot of things where (a) they aren't used often, and (b) the access doesn't need to be super-high-performance.

The Node hints (which can probably spare an extra redirection for getters) could also potentially speed things up.

[2021-04-12 22:53] jonathanolson commented on #1196
I'd like to be part of this, as I think I would definitely generalize it to other parts of Node for potentially significant savings.

[2021-04-13 02:36] jonathanolson commented on #1193
Looks good, thanks!

[2021-04-13 02:36] #1193 closed

[2021-04-13 02:37] jonathanolson commented on #1192
This sounds unfortunate if you're planning on using multiple displays (one at a time) with the same element. Presumably the client would handle this? Should we discuss more?

[2021-04-13 02:40] jonathanolson commented on #1187
What about the precedent for what Scenery's Rectangle does? E.g. for when you don't want to specify all four numeric parameters because you're using something like bounds: `new Rectangle( { rectBounds: ... } )`?

The equivalent here would be making Text/RichText also accept `new Text( options )` and `new RichText( options )` where we assert that text OR textProperty is contained.

Thoughts?

[2021-04-13 02:42] jonathanolson commented on #1188
That seems like a decent pattern, but please adjust it so that it all disappears with assertions:
[code]

[2021-04-13 17:04] jessegreenberg commented on #1196
To get a sense of how much ParallelDOM.js adds to Node.js I did a test comparing the heap snapshot before/after creating 10,000 Nodes on master against a local copy where ParallelDOM is not mixed into Node.

Without ParallelDOM.js:
![image](https://user-images.githubusercontent.com/6396244/114591707-2a8ef880-9c58-11eb-8e51-c6559073ae0e.png)

With ParallelDOM.js (master)
![with](https://user-images

[2021-04-13 17:33] jessegreenberg commented on #1190
This seems like a reasonable change. One thing that comes to mind is that options of ParallelDOM use the mutator pattern like Node.js and Paintable.js, so for every ParallelDOM option there is a matching getter/setter. If ParallelDOM options go under `pdomOptions`, would we want the PDOM getters/setters/functions to go under a `pdom` object too? There is a lot of overlap with https://github.com/ph

[2021-04-13 18:20] jonathanolson commented on #1196
What about strategies for lazily handling these? Would we group things into lazily-created objects? Would we prefer to have them be defined ON the node, BUT have a flag of whether they have been set? (Will all getters need to return default values if it's not created?)

[2021-04-13 19:53] zepumph commented on #1196
In PhetioObject we were able to conditionally define much of the API based on brand. That was nice, but we likely don't have such an easily checkable condition for SCENERY/Node.

[2021-04-13 19:53] zepumph commented on #1159
@jessegreenberg and @zepumph also agree that this is the best way forward, and then composing a `ParallelDOM.js` which handles most of the logic. This would just be a rename/refactor so we would keep much of the history for ParallelDOM, and instead would just lose the fluffy public API as it gets moved over into Node.

I wanted to note that we already have incorrect coding patterns as it pertains

[2021-04-13 19:58] zepumph commented on #1190
@jessegreenberg and I are in agreement on this.
As an example:

[code]

I think that in general there is a different pattern for options in scenery, and it revolves around mutator keys. Things may be easier to determine what pdom options exist if they got moved into Node, and weren't in a trait. Again let's proceed with https://github.com/phetsims/scenery/issues/1159 before continuing here.

[2021-04-13 20:23] jonathanolson commented on #1196
It still seems like things are taking up a lot of memory on the object, and for performance costs. Is that done at all in phet-io?

[2021-04-13 21:35] zepumph commented on #1196
Nope! My first thought for this issue was to try to make it more general. If we have a process for conditionally defining things that we could get away with lazily creating, and could easily create a pattern to use that in multiple types, that would be excellent! I don't really see a way to though.

[2021-04-13 21:41] jonathanolson commented on #1196
I think I have a potential way for doing this that I'd like to prototype.

[2021-04-14 03:01] jonathanolson commented on #1196
I have a somewhat-crazy idea half-prototyped, that:

1. Would lazily store only non-default values for fields
2. Supports lazily-created Properties for any field

I'm curious how desirable (2) would be. I can imagine it might be useful, but also adds some complexity (since the before/after/equality needs to be provided). I've also coincidentally solved the type-checking and value-coercing problems

[2021-04-14 14:47] jessegreenberg opened #1197 "Links in scenery doc are not clickable"
While looking at https://github.com/phetsims/tasks/issues/1080 I noticed that links at /scenery/doc/ are not clickable. Perhaps css or embedded Display input is interferring, I will take a look.

[2021-04-14 15:32] jessegreenberg commented on #1197
Fixed with the above commit, links are working again by having the example Displays not attach listeners on the window but only to their own elements.

[2021-04-14 15:32] #1197 closed

[2021-04-14 17:27] jessegreenberg opened #1198 "Should parallelDOM have a default tagName when others are specified?"
While working on description in GHE, it was a little confusing that you had to specify a `tagName` and `labelTagName` for a component. We ended up with the following which was the structure we wanted

[code]

But we had forgotten that the `tagName` was required as the entry point for PDOM. This can be learned, but will certainly catch people like it caught us today. Labels have a default tag name

[2021-04-14 23:48] zepumph commented on #1192
I'm not sure I understand. To my knowledge `domElement` is owned and operated by the instance of Display:

https://github.com/phetsims/scenery/blob/12cb6302fadbdbbfb1ccf621fccebd6e3e0c0e43/js/display/Display.js#L229-L233

When would there be a situation where that domElement should be shared where it wouldn't be buggy? Do we have scenery examples of this?

[2021-04-14 23:51] zepumph commented on #1187
That makes sense to me, but would be a substantial API change. I'm happy to hack that out with assertions and assert this form is followed:

[code]

I don't see myself diving into changing Text's class signature anytime soon. I'd probably rather just be a bit awkward and assert to avoid bugginess.

[2021-04-14 23:53] zepumph commented on #1198
I have always tied the `tagName` to the opt-in for PDOM content. Can you describe why it would be beneficial to exclude tagName from the declaration? Is it just convenience?

[2021-04-15 00:03] zepumph commented on #1198
This patch yields this output. Is this what you are thinking?

[code]

<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p
  data-trail-id="2-15" id="label-2-15" data-focusable="false" class="a11y-pdom-element"&gt;My Label&lt;/p&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div
  data-trail-id="2-15" id="2-15" data-focusable="false" class="a11y-pdom-eleme

[2021-04-15 14:33] jessegreenberg commented on #1198
Yes, patch like that is what I was thinking. In the case we encountered we had a slider and a radio button group inside a panel. The design document specified that the panel have a label with a heading level. So the first thing we tried was
[code]

But of course we also had to specify the `tagName` to get those to appear.
[code]

Maybe the latter is more clear because it emphasizes that panel chil

[2021-04-15 15:06] jessegreenberg commented on #1165
That described behavior does seem buggy. But I am wondering if `removeAttribute` actually works the same for attributes set as properties as it does for those that are not. For example I did this:
![image](https://user-images.githubusercontent.com/6396244/114892016-6225ae00-9dda-11eb-9e96-e5796bc50baa.png)

Does that verify that we can just use
[code]
always?

[2021-04-15 15:21] jonathanolson commented on #1192
No examples, but it accepts an external element. e.g. the `container` option. So its contents are controlled by the Display, but in general no Display ever controls what the parent of the domElement is (even in those cases).

If it's relevant, the client should remove the parent of the domElement (JUST like the client adds it).

[2021-04-15 15:48] zepumph commented on #1198
I won't be able to get to this until next week. Feel free to commit and double check unit tests.

[2021-04-15 15:55] jessegreenberg commented on #1198
I don't think this is urgent, lets wait and check in next a11y dev meeting. I think the options are to go with https://github.com/phetsims/scenery/issues/1198#issuecomment-819925565 or add documentation in ParallelDOM.js that describes that tagName is the entry point for ParallelDOM. I would like to think a little bit more too, I can't decide which is better.

[2021-04-15 16:13] jessegreenberg commented on #761
This documentation was helpful, but I don't think it is accurate anymore after https://github.com/phetsims/scenery/issues/715, since siblings no longer require a container tag name. I actually removed it. @zepumph can you please verify this is correct?

[2021-04-15 16:39] pixelzoom commented on #1187
@zepumph said:

Agreed, this is low-cost and can be done immediately.

@jonathanolson said:

I don't think I'd call this a "precedent", because I recall that we had decided (in a developer meeting) to avoid this pattern going forward.  I'm generally opposed to faking polymorphism in a language (like JS) that doesn't support it.  Implementation is more complicated, call sites are confusing,...  Imo

[2021-04-15 16:45] pixelzoom commented on #1187
Here's another way to solve this...  Instead of passing `textProperty` via options, change the constructor signature to:

[code]

... or whatever the correct type expression is for `text`.  You get the idea -- it can be an integral type or a Property.   I believe that there's precedent for this pattern elsewhere, but can't recall an example right now.

[2021-04-15 16:50] pixelzoom commented on #1187
An example of this precedent is Paintable `setFill`.

In the case of Text and RichText, this would also allow us to get rid of `setTextProperty`.  Using the same pattern as `setFill`, `setText` would be something like:

[code]

And yes, I realize that this is still faking polymorphism.

[2021-04-15 16:58] samreid commented on #1190
Even though this issue is on-hold, it seems appropriate to mark as a subgroup item because it has been evaluated.  Once we have progress in https://github.com/phetsims/scenery/issues/1159 @jessegreenberg and @zepumph may be able to make further progress, or at their discretion they can bring it back to dev meeting for feedback.

[2021-04-15 17:22] kathy-phet commented on #1186
Reviewed at PhET-iO meeting. Design wise it looks OK.

Implications:
- Backend data message of the release would be delayed until your mouse goes back into the frame. (But we don't have a way to fix this).

[2021-04-15 17:29] #1186 closed

[2021-04-15 17:37] arouinfar commented on #1186
See:
 https://docs.google.com/document/d/194Ry0hdW8tzWVhyoh3FdaEVtY2f33U7Rdjlzz2uPP_Y/edit

[2021-04-15 17:38] jonathanolson opened #1199 "Maintenance release for out-of-iframe releases"
Main work was done in https://github.com/phetsims/scenery/issues/1186 that we'll be patching in.

Main scenery commit: https://github.com/phetsims/scenery/commit/41b2f156cf0cc0abf7a905bd6905a01c275743e4
Addendum scenery commit: https://github.com/phetsims/scenery/commit/bad8730b8601865eaa96b886c6b53d7b92214d85
Related scenery bugfix commit: https://github.com/phetsims/scenery/commit/a7bfc37d6d51d2

[2021-04-20 20:49] jessegreenberg opened #1200 "voicingHighlight of Voicing doesn't work as expected"
@zepumph tried to use voicingHighlight and it prevented interactive highlights from being displayed. We identified that the activation of the highlight in VoicingInputListener is buggy, around https://github.com/phetsims/scenery/blob/987ad9a6619b509e574880bbf38e12f5068980bb/js/accessibility/speaker/VoicingInputListener.js#L101-L105

[code]

This check doesn't make any sense. Removing `!node.voicin

[2021-04-20 21:03] jessegreenberg opened #1201 "Highlights are not showing up when voicing is disabled"
They should be distinct features, but while testing with @zepumph disabling voicing also disabled all highlights. Could be related to #1200 but not sure. Ill take a look.

[2021-04-20 22:12] zepumph commented on #812
Should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-04-20 22:12] zepumph commented on #1195
Should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-04-20 22:13] zepumph commented on #1176
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:13] zepumph commented on #1155
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:13] zepumph commented on #1102
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:14] zepumph commented on #992
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:14] zepumph commented on #974
@jessegreenberg, should this branch remain open, or be redeleted as part of https://github.com/phetsims/special-ops/issues/198?

[2021-04-20 22:15] zepumph commented on #972
@jessegreenberg, should this branch remain open, or be deleted as part of phetsims/special-ops#198?

[2021-04-20 22:16] zepumph commented on #835
Can this branch be deleted?

[2021-04-20 22:17] zepumph commented on #784
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:17] zepumph commented on #742
@jonathanolson is this now obsolete since we use TinyProperty?

[2021-04-20 22:18] zepumph commented on #741
Looks like this can be deleted. Perhaps we can do it as part of https://github.com/phetsims/special-ops/issues/198, as I don't want to delete branches too soon.

[2021-04-20 22:19] zepumph commented on #736
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:19] zepumph commented on #735
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:19] zepumph commented on #734
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:19] zepumph commented on #721
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:19] zepumph commented on #705
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:20] zepumph commented on #641
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:20] zepumph commented on #625
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:21] zepumph commented on #578
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:22] zepumph commented on #504
Should be re-deleted as part of phetsims/special-ops#198

[2021-04-20 22:23] zepumph commented on #419
Not sure what the status is on this issue. Can the branch be deleted?

[2021-04-21 00:09] jessegreenberg commented on #835
Yes, thanks this has been deleted.

[2021-04-21 00:09] #835 closed

[2021-04-21 00:13] jessegreenberg commented on #974
Thanks, no need to keep this - it has been deleted.

[2021-04-21 00:13] #974 closed

[2021-04-21 00:13] jessegreenberg commented on #972
Thanks, no need to keep this branch. It has been deleted.

[2021-04-21 00:13] #972 closed

[2021-04-21 14:48] jonathanolson commented on #784
Deleted.

[2021-04-21 14:48] #784 closed

[2021-04-21 14:51] jonathanolson commented on #419
@samreid should this be deleted? No plans to use pixi.

[2021-04-21 17:13] samreid commented on #419
Yes, I recommend deleting.

[2021-04-21 17:17] jonathanolson commented on #419
Deleted, closing.

[2021-04-21 17:17] #419 closed

[2021-04-21 18:02] zepumph opened #1202 "rename Node.*PropertyPhetioInstrumented to Node.phetio*PropertyInstrumented"
Over in https://github.com/phetsims/tandem/issues/230, @pixelzoom, @samreid and I discussed and were reminded of how much we like prefixing PhET-iO options with `phetio`. Let's rename these options in scenery to be more clear.

[2021-04-21 18:07] pixelzoom commented on #1190
Zoom meeting with @samreid @zepumph @pixelzoom

Like https://github.com/phetsims/tandem/issues/230 for PhET-iO, we concluded no nested options for PDOM options.  But:

* More descriptive names are needed for some options in ParallelDOM.js -- e.g. `inputType`, `helpText`.
* It would nice (but not essential) to have a set of prefixes ("aria", "focus", "pdom",...) that allow us to identify sets of op

[2021-04-21 18:08] #1190 closed

[2021-04-21 18:18] zepumph opened #1203 "Rename many ParallelDOM options to be more clear"
From https://github.com/phetsims/scenery/issues/1190

I'll post the current list, with potential annotations of change.

[2021-04-21 18:25] zepumph commented on #1203
tagName -> pdomTagName

  accessibleName -> pdomAccessibleName // not sure about this
  accessibleNameBehavior -> pdomAccessibleNameBehavior
  helpText -> pdomHelpText
  helpTextBehavior -> pdomHelpTextBehavior
  pdomHeading -> pdomHeading
  pdomHeadingBehavior -> pdomHeadingBehavior

  containerTagName -> pdomContainerTagName
  containerAriaRole -> pdomContainerAriaRole

  innerContent -> pdomInn

[2021-04-21 18:40] jonathanolson commented on #504
Deleted, closing.

[2021-04-21 18:40] #504 closed

[2021-04-21 18:40] jonathanolson commented on #578
Deleted.

[2021-04-21 18:40] #578 closed

[2021-04-21 18:41] jonathanolson commented on #625
Deleted, closing.

[2021-04-21 18:41] #625 closed

[2021-04-21 18:41] jonathanolson commented on #641
Deleted, closing.

[2021-04-21 18:41] #641 closed

[2021-04-21 18:41] jonathanolson commented on #721
Deleted, closing.

[2021-04-21 18:41] #721 closed

[2021-04-21 18:41] jonathanolson commented on #705
Deleted, closing.

[2021-04-21 18:41] #705 closed

[2021-04-21 18:41] jonathanolson commented on #734
Deleted, closing.

[2021-04-21 18:41] #734 closed

[2021-04-21 18:42] jonathanolson commented on #735
Was this already deleted @zepumph? I don't see it in GitHub.

[2021-04-21 18:42] jonathanolson commented on #736
Deleted, closing.

[2021-04-21 18:42] #736 closed

[2021-04-21 18:43] jonathanolson commented on #992
Deleted, closing.

[2021-04-21 18:43] #992 closed

[2021-04-21 18:43] jonathanolson commented on #1102
Deleted, closing.

[2021-04-21 18:43] #1102 closed

[2021-04-21 18:43] jonathanolson commented on #1155
Deleted, closing.

[2021-04-21 18:43] #1155 closed

[2021-04-21 18:44] jonathanolson commented on #1176
Deleted, closing.

[2021-04-21 18:44] #1176 closed

[2021-04-21 18:44] jonathanolson commented on #1195
Deleted, closing.

[2021-04-21 18:44] #1195 closed

[2021-04-21 18:44] jonathanolson commented on #812
Deleted, closing.

[2021-04-21 18:44] #812 closed

[2021-04-21 18:45] jonathanolson commented on #742
I can't find a branch of this name. Doesn't seem critical, closing.

[2021-04-21 18:45] #742 closed

[2021-04-21 18:55] #735 closed

[2021-04-21 21:19] zepumph commented on #1202
Done in the above commits. @samreid please review the simple renaming.

[2021-04-21 22:51] jonathanolson commented on #1203
Just a heads-up, I'll have a nightmare merge if all of those change while I've heavily refactored most of those (related to memory usage). Is there a timeline on those renamings?

[2021-04-22 02:19] zepumph commented on #1203
No timeline! Let me know when this is no longer blocked by you.

[2021-04-22 19:02] jonathanolson opened #1204 "branch: record"
For https://github.com/phetsims/scenery/issues/1196

[2021-04-22 22:52] zepumph commented on #1165
No, that is far from general. That behavior is pasted on the specific property AND the specific element

![image](https://user-images.githubusercontent.com/6856943/115794238-1f377d80-a37a-11eb-9a29-c91c56218293.png)

I updated doc, and I'm fine keeping the assertion out of there. Ready to close?

[2021-04-22 23:21] zepumph commented on #1192
I still don't know if I fully agree, as I feel like `dispose()` is a cleanup step that should be a one-stop shop to detach a Display from anywhere that it may leak memory from, but I am ready to move on. I removed that line from Display.dispose, and updated tests to manually remove the element after disposal. Closing

[2021-04-22 23:21] #1192 closed

[2021-04-22 23:41] zepumph commented on #761
Good find! THanks.

[2021-04-22 23:41] #761 closed

[2021-04-23 16:15] samreid commented on #1202
Looks great, thanks!  Closing.

[2021-04-23 16:15] #1202 closed

[2021-04-23 16:45] zepumph commented on #741
Deleted

[2021-04-23 16:45] #741 closed

[2021-04-23 22:21] jonathanolson commented on #1199
Initial RC list, I'll be updating it to include the iframe links if possible:

area-model-algebra 1.2 (https://github.com/phetsims/scenery/issues/1199)

- [ ] [area-model-algebra 1.2.2-rc.1](https://phet-dev.colorado.edu/html/area-model-algebra/1.2.2-rc.1/phet/area-model-algebra_en_phet.html)

area-model-decimals 1.2 (https://github.com/phetsims/scenery/issues/1199)

- [ ] [area-model-decimals 1.2

[2021-04-23 22:31] jonathanolson commented on #1199
Basic interaction working in all, except resistance-in-a-wire 1.3-phetio doesn't seem to have deployed correctly (investigating)

[2021-04-23 22:32] jonathanolson commented on #1199
Looks like it's deploying to a 1.3.13-phetiorc.1 directory instead, e.g. https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.3.13-phetiorc.1/resistance-in-a-wire_en-phetio.html?phetioStandalone

[2021-04-23 22:41] jonathanolson commented on #1199
Improved normal links:

area-model-algebra 1.2 (https://github.com/phetsims/scenery/issues/1199)

- [ ] [area-model-algebra 1.2.2-rc.1](https://phet-dev.colorado.edu/html/area-model-algebra/1.2.2-rc.1/phet/area-model-algebra_en_phet.html)

area-model-decimals 1.2 (https://github.com/phetsims/scenery/issues/1199)

- [ ] [area-model-decimals 1.2.2-rc.1](https://phet-dev.colorado.edu/html/area-model-

[2021-04-23 22:46] jonathanolson commented on #1199
Iframe links:

area-model-algebra 1.2 (https://github.com/phetsims/scenery/issues/1199)

- [ ] [area-model-algebra 1.2.2-rc.1](https://phet-dev.colorado.edu/html/area-model-algebra/1.2.2-rc.1/phet/area-model-algebra_en_iframe_phet.html)

area-model-decimals 1.2 (https://github.com/phetsims/scenery/issues/1199)

- [ ] [area-model-decimals 1.2.2-rc.1](https://phet-dev.colorado.edu/html/area-model-de

[2021-04-26 15:36] pixelzoom commented on #1181
A request for this feature came up in a Molecule Polarity with @arouinfar and @kathy-phet.  It generalizes to all sims.  The designers would like to instrument some Properties of checkbox labels -- for example `textProperty` of a Text Node -- but not instrument the `visibleProperty`, because a checkbox without a label makes no sense. (This is also true of some other UI components, like Aqua radio

[2021-04-26 15:47] pixelzoom commented on #1181
The options we're discussing here were renamed in https://github.com/phetsims/scenery/issues/1202, so I've adjusted the title of this issue accordingly.  For example, `inputEnabledPropertyPhetioInstrumented` is now `phetioInputEnabledPropertyInstrumented`.

[2021-04-26 16:49] jonathanolson commented on #1199
@zepumph or @samreid, it would be helpful to discuss what type of testing is needed for phet-io here, before I make a QA issue.

[2021-04-26 17:48] zepumph commented on #1199
For each sim/version
* Standalone sim should load/not break
* Studio/instances proxies should load, and then customize something in it.
* Go to mirror-inputs and test out the case this MR is for, since it is recording in iframes, the downstream sim should stay in sync because of the new input events.

[2021-04-26 19:27] samreid opened #1205 "branch: typescript"
To support https://github.com/phetsims/tasks/issues/987

[2021-04-26 19:34] zepumph opened #1206 "Voicing trait: minor improvement? Or is it worse."
Even though we don't currently recommend doing this in our common code, it may be good to support this. I recommend this commit if you can't think of a reason not too.

Please review and feel free to revert.

[2021-04-26 19:50] zepumph opened #1207 "voicingManager.collectResponses is not fully flexible"
@jessegreenberg I couldn't remember if we had another issue for this, please close if desired.

In this function we have:

https://github.com/phetsims/scenery/blob/aa960e89149cd33e4ee2c7849c139798ef34816b/js/accessibility/speaker/voicingManager.js#L85-L105

For i18n:
using `+=` and concatenating with with `', '` is not fully general, nor will it flow nicely into i18n if that ever gets built out. I

[2021-04-26 19:58] zepumph commented on #1207
10 seconds after writing this issue, @terracoda asked me on slack:

If a Context response (adjusted or direct from PDOM) includes the objects name, can we find a way to leave off object response?

Basically, we should perhaps think of a fully general solution in collectResponses where we can have a function like so:

[code]

Because in one case, we want to note that `if( objectOn && contextOn ) {

[2021-04-26 20:06] jessegreenberg commented on #1206
I can see this being useful but the double call to mutate made be a little nervous.  And I see you added a comment to that effect. Would it work to use _.pick to only apply voicing options in this case? Something like

[code]

[2021-04-26 20:30] jessegreenberg commented on #1207
Thanks @zepumph, the patch you have in https://github.com/phetsims/scenery/issues/1207#issue-868101656 is much better for i18n, we should be doing something like that.

Regarding https://github.com/phetsims/scenery/issues/1207#issuecomment-827104943 I am not sure if we need something more general or if that is a special case. If the `collectResponses` abstraction doesn't fit you could do this
[cod

[2021-04-26 21:08] zepumph commented on #1207
I see. Good to realize that this is the the "way of the future"-type pattern. I'll do some experimenting.

[2021-04-26 22:29] pixelzoom opened #1208 "Better documentation for how to find scenery's accessibility documentation."
For https://github.com/phetsims/fourier-making-waves/issues/53

[Interactive Description Technical Guide](https://github.com/phetsims/phet-info/blob/master/doc/interactive-description-technical-guide.md) tells me:

So I try navigating to https://github.com/phetsims/scenery/blob/master/doc/accessibility.html.   Nope, guess I have to build scenery and read the doc in my working copy.

So I build sce

[2021-04-26 22:40] zepumph commented on #1206
That sounds nice to me!

[2021-04-26 22:54] jessegreenberg opened #1209 "scenery github.io docs are down"
From #1208. We used to have docs at http://phetsims.github.io/scenery/, but that isn't up. Scenery README still points to this. @jonathanolson do you know if that is a understood change or should we investigate why the pages are down? Depending on the answer to that could need to update the README info.

[2021-04-26 22:56] pixelzoom opened #1210 "Proofreading scenery/doc/accessibility.html"
Some editorial input on scenery/doc/accessibility.html ...   This is all "grammar and punctuation" feedback, not content.  Info is still able to be conveyed, but these errors are distracting, and don't make a good impression in public-facing doc.

* This doc could use a thorough proofreading.  There are typos, misspellings, grammatical errors, missing punctuation, etc.
* Once you've defined PDOM,

[2021-04-26 23:05] jessegreenberg commented on #1208
The link to scenery/doc/accessibility.html is currently under "In-Depth" information, I can see how that is difficult to find. Having the API on the left would be great. Could be organized like Paintable is in that bar, and that could be where the link to scenery/doc/accessibility.html is. Accessibility related docs are being revised in https://github.com/phetsims/tasks/issues/1080, linking to tha

[2021-04-27 17:28] zepumph commented on #1210
This is all me, I'll take a look as part of https://github.com/phetsims/tasks/issues/1080

[2021-04-27 19:14] jessegreenberg commented on #1201
This was resolved in work for another issue, closing.

[2021-04-27 19:14] #1201 closed

[2021-04-27 20:24] jessegreenberg opened #1211 "Consider positioning more than just the primary sibling of PDOMPeer"
To support certain AT we position the primary sibling over the graphical Display object so that alternative input from the user agent hits the screen at the right place. That works well, but it is possible to send input to ALL elements of the PDOM with certain gestures. Consider the following Node

[code]

with PDOM content
[code]

The focusable `button` can be positioned, but the `li` currently c

[2021-04-27 21:08] jessegreenberg commented on #1207
Discussed today with @zepumph -

Regarding the i18n:  For now, we will use hard coded patterns like
[code]

and replace the existing implementation with those. This will not be sufficient for i18n but is a cleaner implementation. Voicing isn't translatable yet and isn't something we can work on right now, so further i18n considerations will have to wait.

[2021-04-27 21:26] jessegreenberg opened #1212 "Move ReadingBlockHitShape back into Voicing"
I had thought that the `readingBlockHitShape` property of ReadingBlock was specific to ReadingBlocks, but it is needed for other things that mix Voicing. It should be moved back into Voicing, and work for both ReadingBlock highlights and Interactive Highlights.

This is needed of Voicing work going on now in RaP, with AccordionBox.

[2021-04-28 01:01] zepumph opened #1213 "Should we rename `js/accessibility/speaker/` -> `js/accessibility/voicing/`?"
It may be nice to move rename towards what the PhET team calls things.

[2021-04-28 01:59] zepumph opened #1214 "Add collectResponses.contextIncludesObjectResponse()"
This option would state that anytime a context response is provided, it is a superset of the object response and therefore omits it as redundant.

It helped greatly in a case in https://github.com/phetsims/ratio-and-proportion/issues/381, and can be seen in the RaP preferences branch.

[2021-04-28 18:40] KatieWoe opened #1215 "iFrame maintenance release does not fix issue with various components"
For https://github.com/phetsims/QA/issues/642
In Area Model Algebra I saw this problem still present if holding down the number picker. It impacts the other Area Models and Balancing Chemical Equations. It depends on platform, happening on Chrome but not Firefox for instance, but it seems to happen with all pickers. I will add comments with any other components I see this in.
![dragoutpicker](http

[2021-04-28 19:33] KatieWoe commented on #1215
This also happens to a minor extent with sliders. The slider is no longer moved when released, but it stays highlighted as if it is being grabbed.
![coloredslider](https://user-images.githubusercontent.com/41024075/116462145-58faff00-a826-11eb-872a-3befc006597c.gif)

[2021-04-28 20:35] jonathanolson commented on #1209
The deletion of the gh-pages branch seems like it deactivated this. Should be back up now, can you verify?

[2021-04-28 21:01] jessegreenberg commented on #1209
Its up, thanks!

[2021-04-28 21:01] #1209 closed

[2021-04-30 16:44] samreid opened #1216 "addRule is failing"
@arouinfar reported in https://github.com/phetsims/circuit-construction-kit-common/issues/673#issuecomment-785428274

The problematic Win10/Firefox device is my husband's work computer, so I can't really commandeer it right now. He was able to open a few sims at random from the website (Equality Explorer and Gravity Force Lab), but several others are failing to load
![image](https://user-images.gi

[2021-04-30 16:44] samreid commented on #1216
Scenery has this code which looks related to the stack trace:

[code]

[2021-05-02 17:50] jessegreenberg opened #1217 "Improvements to Voicing implementation"
There were several problems with the voicing implementation. This issue is to catalog a number of changes to the Voicing feature and API that have been made.

- To separate Voicing from "Interactive Highlights" I made a new trait called "MouseHighlighting". This trait implements the input listeners to activate HighlightOverlay with mouse input. MouseHighlighting is extended by Voicing, so that by

[2021-05-03 20:58] jessegreenberg commented on #1217
Next, I am reconsidering the API for the "create*Response" functions. The current issues with these are that
- `voicingCreateContextResponse` and `voicingCreateHintResponse` are almost entirely unused. It is much easier to add to the back of the Voicing utteranceQueue direclty in input listeners and in Property listeners for this content.
- voicingCreateObjectResponse only sends content on `focus`

[2021-05-03 21:39] phet-steele commented on #1215
The following sim(s) do not seem to have this issue with pickers:

- [ratio-and-proportion 1.0.1-rc.1](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.0.1-rc.1/phet/ratio-and-proportion_en_iframe_phet.html) (Win 10 Chrome)

[2021-05-03 22:04] phet-steele commented on #1215
I do see a new component that still has issues in Chrome. The tweakers in https://phet-dev.colorado.edu/html/pendulum-lab/1.0.16-rc.1/pendulum-lab_en-iframe.html do not get interrupted when releasing your mouse outside of the iframe, then dragging your mouse back in.

![PL01](https://user-images.githubusercontent.com/5863899/116939192-28053a80-ac29-11eb-94b1-d2169f6b1ff0.gif)

[2021-05-04 17:49] KatieWoe commented on #1215
Some instance may be harder to find. For instance, Build an Atom has this in some game levels.

[2021-05-04 18:10] KatieWoe commented on #1215
The slider issue also happens in Capacitor Lab Basics with the slider on the battery.

[2021-05-04 19:23] KatieWoe opened #1218 "Dialog is not dismissed when returning to iframe"
For https://github.com/phetsims/QA/issues/642. Win 10 Chrome. Seen at least on Curve Fitting.

When you click outside a dialog, and drag out and then into the iframe, then let go, the dialog is dismissed. However, if you let go then return to the iframe, it does not dismiss, which seems different then the fix for the QA issue.

![shoulddialogdrop](https://user-images.githubusercontent.com/41024075

[2021-05-04 19:53] jonathanolson commented on #1218
@kathy-phet thoughts on this? This seems like the code as written is working, because it's based on getting an "up" event while in frame, and so treating something like an interrupt won't clear it.

[2021-05-04 21:38] phet-steele commented on #1218
I actually tried this in https://phet-dev.colorado.edu/html/molecules-and-light/1.5.9-rc.1/phet/molecules-and-light_en_iframe_phet.html and the sim froze with an error. I had to reload the page (Win 10):

[code]

[2021-05-04 21:40] KatieWoe commented on #1218
That seems to be a similar error to https://github.com/phetsims/energy-skate-park/issues/322

[2021-05-05 17:29] jonathanolson commented on #1199
- [ ] Energy Skate Park with fixes for https://github.com/phetsims/energy-skate-park/issues/322: https://phet-dev.colorado.edu/html/energy-skate-park/1.1.2-rc.3/phet/energy-skate-park_en_iframe_phet.html

[2021-05-05 22:16] KatieWoe commented on #1215
Another instance of the tweakers showing the issue in Forces and Motion
![buttonsdontstop](https://user-images.githubusercontent.com/41024075/117216389-ec02de80-adbc-11eb-8096-7fcd164c164d.gif)

[2021-05-05 22:28] KatieWoe commented on #1215
Molarity has the slider issue as well

[2021-05-06 00:12] zepumph opened #1219 "Node.cursor should respect its inputListeners' cursor"

[2021-05-06 00:24] zepumph commented on #1219
In the above commit we removed the unused option PressListener.preferTargetCursor

[2021-05-06 00:31] zepumph commented on #1219
We got a very good first pass for this today. `PressListener.useInputListenerCursor` allows for an opt-in to this new pattern of cursor management. This proof of concept was adopted and used in https://github.com/phetsims/ph-scale/issues/215.

From here:
- [ ] pressCursor should become a Property
- [ ] Ideally this would become an opt out option, but in order for that to happen, many usages of Nod

[2021-05-06 20:10] KatieWoe commented on #1215
These issues happen with the pickers, sliders, and moveable points in https://phet-dev.colorado.edu/html/graphing-quadratics/1.1.6-rc.1/phet-io/graphing-quadratics_all_phet-io.html?phetioStandalone, but it does not seem to harm the mirror wrapper (things match in both sims)

[2021-05-06 20:37] KatieWoe commented on #1215
Slider issue in GFL

[2021-05-07 01:35] zepumph commented on #1208
Done above.

[2021-05-10 17:17] zepumph opened #1220 "Voicing needs listeners to fire on disabled Nodes"
From a voicing meeting today with @jessegreenberg and others, we  discussed the need for listeners to fire on disabled components. Like if you click on a disabled checkbox, it may voice "show force values, disabled." Currently inputEnabled (which enabled runs on) won't let this happen. It would be good to discuss this with @jonathanolson to see what could be done.  Do you have any ideas?

[2021-05-10 19:20] jonathanolson commented on #1218
Looks like a bug in MultiListener in that version of Scenery in molecules-and-light: https://github.com/phetsims/scenery/blob/9cdb78b665ea0af4d6238e80702de3b111be749a/js/listeners/MultiListener.js (interrupt is using window.event!)

[2021-05-10 19:30] jonathanolson commented on #1218
Basically here, event doesn't exist: https://github.com/phetsims/scenery/blob/9cdb78b665ea0af4d6238e80702de3b111be749a/js/listeners/MultiListener.js#L193

However in master MultiListener, it's now using interrupt(): https://github.com/phetsims/scenery/blob/master/js/listeners/MultiListener.js#L226 BUT, I don't see how this possibly removes the listener from the press (and seems like it might be ca

[2021-05-10 22:09] jessegreenberg commented on #1217
The above commits do the first two bullets of https://github.com/phetsims/scenery/issues/1217#issuecomment-837138572. For the third bullet, I should do #1207 first.

[2021-05-10 23:20] zepumph commented on #1220
Thus far, this type of voicing would occur when you focus on the element (which is already supported), as well as when you try to select it (like on `down` with a mouse).

[2021-05-11 05:49] jonathanolson commented on #1220
This is partially what I'm curious about. Most clicks activate on the "up", I don't know how we'd handle touch-snag, and we'd truly want to be able to support all of the custom input listeners.

[2021-05-11 19:09] jessegreenberg commented on #1207
It is probably because I am very bad with regular expressions but I am finding this very difficult.  This is the kind of thing I have so far but already I can see that it doesn't work very wel;
<details>

[code]
</details>

[2021-05-11 19:17] jessegreenberg commented on #1207
Another issue is that the responses themselves probably have punctuation and it is most convenient to just use that rather than have punctuation in the pattern for Voicing. So maybe the voicing pattern should just be
[code]

And the punctuation gets applied by the usage. Maybe the one exception can be the name response, which would probably never have punctuation on its own. That would give us
[co

[2021-05-11 19:23] zepumph opened #1221 "Use voicingUtteranceQueue singletone instead of phet.joist.sim.voicingUtteranceQueue"
From https://github.com/phetsims/scenery/issues/1217

[2021-05-11 19:34] terracoda commented on #1207
Oh bummer, I can think of a case of where {{CONTEXT}} sounds better at the start. For the grab/release interaction, I sketched out

{{CONTEXT}} {{NAME}}, {{OBJECT}}
- Grabbed. Chemistry book, Lightly on Physics book.

AND this order also works

{{NAME}}, {{CONTEXT}} {{OBJECT}}
- Chemistry book, Grabbed. Lightly on Physics book.

BUT, I think this sounds less good when I look at it, but maybe it so

[2021-05-11 19:39] terracoda commented on #1207
@jessegreenberg, if flexible order is really hard, maybe our default order could be

{{OBJECT}}, {{NAME}}, {{CONTEXT}} {{HINT}}

Given my experience of Interactive Description Design, this order might align better with object names that are a more action-oriented, like "Move mass 1".

[2021-05-11 20:44] zepumph commented on #1207
@jessegreenberg and I just got off a call where we are working towards a fully flexible pattern, where a few choice options may be the only things we need to support. I think the above `{{OBJECT}}, {{NAME}}, {{CONTEXT}} {{HINT}}` makes sense to potentially be the default. We can play around with things.

[2021-05-11 20:53] jessegreenberg commented on #1207
More notes from our meeting:

We tried to create a regular expression that would reduce the string pattern while supporting arbitrary punctuation and order. We came up with
[code]
where RESPONSE is the name of the response to remove. It removes the spacing in front of the key with brackets and the characters after it. It mostly worked well but we found a category of cases where it wouldn't fly:
[c

[2021-05-12 01:45] jonathanolson commented on #1218
Patched what was buggy, unassigning until QA.

@kathy-phet, https://github.com/phetsims/scenery/issues/1218#issuecomment-832202370 is still pending.

[2021-05-12 02:22] kathy-phet commented on #1218
@KatieWoe @jonathanolson - Thanks for the video clip and discussion. I tested the behavior for Curve Fitting. It seems OK to me, and I don't think it will cause anyone concern when they are interacting with it. They will just go click the X. Let's leave this as is.

[2021-05-12 03:45] jonathanolson commented on #1218
Sounds good, unassigning as the work here will be pending QA testing.

[2021-05-12 15:09] jessegreenberg commented on #1207
This was done in the above commit. I create VoicingResponsPatterns to collect the default string patterns and it can have additional collections that may be generally useful. If a use case needs a collection of patterns that are not pre-made there are a couple of utility functions to help create a new one.

@zepumph can you please review this? Is there anything else needed for this issue?

[2021-05-12 15:13] jessegreenberg commented on #1217
https://github.com/phetsims/scenery/issues/1207 is done, so he items in https://github.com/phetsims/scenery/issues/1217#issuecomment-837138572 are done as well. While working on that @zepumph suggested a good change to voicingSpeakResponse. Because voicingSpeakResponse by default uses the properties of Voicing.js to collect responses, usages look deceiving because the overrides are not exactly wha

[2021-05-12 15:35] jessegreenberg commented on #1217
https://github.com/phetsims/scenery/issues/1217#issuecomment-839854726 was done in the above commits. I am seeing some duplication in the voicingSpeak* functions, I am going to clean that up.

[2021-05-12 15:38] terracoda commented on #1207
@jessegreenberg, I think we can have a comma after {{OBJECT}}, like in https://github.com/phetsims/scenery/issues/1207#issuecomment-839062893

Would that work?

[2021-05-12 15:41] terracoda commented on #1207
Looking forward to see whatever you got implemented :-)

[2021-05-12 15:55] jessegreenberg commented on #1217
With that done, I think this can be closed. Full review is coming soon, and if further improvements are necessary we can make a new issue to avoid a mega-thread.

[2021-05-12 15:55] #1217 closed

[2021-05-12 16:06] jessegreenberg commented on #1207
Over slack @terracoda  mentioned that most object responses like aria-valuetext and responses that come from checkboxes are fragments without punctuation, so it makes sense for commas to be used in the default string patterns for voicing. I added those in the above commit.

[2021-05-13 16:42] jonathanolson opened #1222 "DownUpListener in old simulations doesn't have interrupt on the pointer listener"
This is resulting in cases like https://github.com/phetsims/QA/issues/642#issuecomment-827975196

[2021-05-13 16:43] jonathanolson commented on #1222
https://github.com/phetsims/scenery/blob/425923b10754e1fec8b05976ae1f25e96f7ec0d7/js/input/DownUpListener.js is a case that doesn't handle interruption.

[2021-05-13 17:07] zepumph commented on #1207
Review:

* The hard coded NAME/OBJECT etc in https://github.com/phetsims/scenery/blob/cbce9fa4a30bfc6e7adc36ef8d4c78a1f4680181/js/accessibility/speaker/voicingManager.js#L94 could be factored out to constants in VoicingResponsePatterns to make it more clear that they are important to not change, and to link where the names matter.

Review not complete.

[2021-05-13 18:05] jonathanolson commented on #1222
Patched up, will check with QA

[2021-05-13 19:06] jonathanolson commented on #1215
I believe these are patched in the branches, will wait to RCs.

[2021-05-13 20:03] zepumph commented on #953
@kathy-phet, I just found this issue. This seems to get at the heart of the description work that could be continued, much of this is based on @jonathanolson's review of PDOM work done back in 2018.

[2021-05-13 20:41] zepumph commented on #867
After doing a bit of poking around the above comments. It is not easy for me to find the line of which items would need to be done immediately, maybe that is a sign that nothing is NEEDed just yet.

[2021-05-13 23:03] zepumph commented on #950
I believe that we have this implemented. Both inputEnabled and pickable are respected by the PDOM-specific events in Input.js.

Here is where we are making sure that pickable is respeced for PDOM input:

https://github.com/phetsims/scenery/blob/a7bfc37d6d51d261d6cb7e314317ed8a0d73cf5c/js/input/Input.js#L1055-L1058

Note that events like focus/blur still fire. @jessegreenberg is there anything else

[2021-05-14 15:10] jonathanolson commented on #1199
Sample testing list:

acid-base-solutions 1.2 (https://github.com/phetsims/scenery/issues/983, https://github.com/phetsims/joist/issues/714, https://github.com/phetsims/axon/issues/355)

- [ ] [acid-base-solutions 1.2.25-rc.1](https://phet-dev.colorado.edu/html/acid-base-solutions/1.2.25-rc.1/acid-base-solutions_en.html)

area-builder 1.1 (https://github.com/phetsims/scenery/issues/983, https://gi

[2021-05-14 22:23] phet-steele commented on #1215
For phetsims/QA/issues/649 and on Win 10 Chrome, these sliders in wave-interference don't stop updating when a pointer is released outside of an iframe like shown in https://github.com/phetsims/scenery/issues/1215#issuecomment-831564155.

![image](https://user-images.githubusercontent.com/5863899/118337301-bd79b780-b4d0-11eb-957f-dafbeb09a661.png)

[2021-05-14 22:30] KatieWoe commented on #1215
@phet-steele do they drop when the mouse comes back in? They seem to for me.

[2021-05-14 22:31] phet-steele commented on #1215
Oh right yup sorry, so many different behaviours I lose track of what is okay and what is not!

[2021-05-14 22:32] KatieWoe commented on #1215
No problem

[2021-05-17 17:13] KatieWoe commented on #1218
For https://github.com/phetsims/QA/issues/649, Win 10 Chrome. It looks like some sims have differing behavior. Capacitor Lab Basics is one example. No console error happens, but when the mouse comes back in frame, the dialog dismisses, which I thought wasn't expected, and doesn't happen in other sims.
![differentabout](https://user-images.githubusercontent.com/41024075/118529366-ac16f200-b700-11eb

[2021-05-17 17:35] jessegreenberg commented on #1221
sim.voicingUtteranceQueue has been removed in branches and in master, all usages have been replaced with the global singleton. This can be closed.

[2021-05-17 17:35] #1221 closed

[2021-05-17 17:54] jessegreenberg commented on #1220
The `down` is just an example, the main point is that we have a case where we need some input listeners on the Node to fire when the Node is disabled. Even for disabled Nodes, we would like to add a highlight around the Node when a mouse is over it and to describe the Node with speech when it gets clicked.

The `inputEnabled` property doesn't impact picking, so we are are still detecting hits just

[2021-05-17 18:42] KatieWoe commented on #1218
Another oddity. For older sims (Concentration for example) that have the items still follow the mouse after you leave the iframe in most cases, releasing the mouse outside the iframe does not dismiss the dialog. No console errors or bugs that I can see.

[2021-05-17 22:19] jessegreenberg commented on #1206
OK sounds good, I added this for both Voicing and ReadingBlock. Anything else for this particular recommendation?

[2021-05-17 22:20] jessegreenberg commented on #1212
This was done as part of #1217, closing.

[2021-05-17 22:20] #1212 closed

[2021-05-18 01:52] jessegreenberg commented on #1213
Yes, thanks! This was renamed in the above commits.

[2021-05-18 01:52] #1213 closed

[2021-05-18 01:57] jessegreenberg commented on #1214
I removed this for now, we are going with a different way of handling this in #1217 and #1207, and the usage of this option has been replaced. Closing.

[2021-05-18 01:57] #1214 closed

[2021-05-18 01:57] jessegreenberg commented on #1200
This has been taken care of in #1217, closing.

[2021-05-18 01:57] #1200 closed

[2021-05-18 17:30] jessegreenberg opened #1223 "Review the Voicing implementation and API"
I think that Voicing is in a pretty good place and ready for a review by another developer. I have been discussing this with feature and its review with @zepumph and he agreed to be the one to do a general review, thanks!

Before reviewing, could you please take a look at new documentation at `scenery/doc/accessibility/voicing.html`? Some of this is probably already known by you but you may find i

[2021-05-18 21:34] zepumph commented on #1206
Nothing for me!

[2021-05-18 21:34] #1206 closed

[2021-05-18 21:38] zepumph commented on #1223
A couple of questions about scope here. . .

* Do you want me to look at any usages of this work in common code or sims (like JT)?
* Currently https://github.com/phetsims/scenery/issues/1207 is assigned to me for review as well, I think I'll just append that review onto this issue so that everything is together.

[2021-05-18 21:41] zepumph commented on #1207
Instead of reviewing this issue on its own, I think I'll batch this into https://github.com/phetsims/scenery/issues/1223 and move the above review comment directly into code.

[2021-05-18 21:43] #1207 closed

[2021-05-18 22:02] jessegreenberg commented on #1223
I would say "yes" if it is helpful to view existing examples to review the implementation and proposed API. But I don't think you need to comb through Voicing instrumentations in the existing branches now. I would recommend we re-review instrumentation on branches of common code on a component by component basis so the review has a finer scope.

[2021-05-18 22:12] zepumph commented on #1223
**REVIEW** of **voicing.html**:

* The "Responses" section is well written and well described. What if you added to it an example that had each response type broken into its parts. For example in the intro paragraph you could introduce a scenery object like a "Magnet" that can be dragged around. Then in each part discuss how the "name" is "X Magnet", the object response is about the position of th

[2021-05-18 22:33] zepumph commented on #1223
- [ ] I'm not sure where we stand on using underscores or not. In Voicing.js I saw that there were a a couple of non-underscored usages. I was a bit confused on having a mix in there.

[2021-05-18 22:36] zepumph commented on #1223
I have not yet made it to MouseHighlighting or ReadingBlock-related code. I would also like to take a look at focus overlay stuff before the end of this review too.

[2021-05-18 22:37] zepumph commented on #1223
@jessegreenberg you can definitely get started on the committed comments though.

[2021-05-19 00:34] terracoda commented on #1207
I just want to clarify what was paraphrased in https://github.com/phetsims/scenery/issues/1207#issuecomment-839902085

In Interactive Description design, typically object responses delivered through aria-valuetext do not use sentence case, and don't warrant a period at the end.

Most, if not all, context responses delivered through aria-live, however, generally have sentence case and a period at t

[2021-05-19 15:14] jessegreenberg commented on #1223
Thanks @zepumph, sounds excellent. Adding comments for specific review comments added so far.

Sounds good, removed it. It was sort of a proof of concept for #1207. One will be added when it is requested by design, which I expect will happen soon.

[2021-05-19 17:58] jonathanolson commented on #1220
This is specifically something that was considered when @zepumph and I were discussing approaches. We considered a flag on listeners where they would still have events fired even when inputDisabled, AND the listeners then would need to be very aware of when they were called when inputDisabled.

That sounds like a reasonable approach to me, however it might be good to brainstorm and meet about this

[2021-05-19 19:11] KatieWoe opened #1224 "Mirror Wrapper is out of synch"
For https://github.com/phetsims/QA/issues/649. Seen on Win 10 Chrome in https://phet-dev.colorado.edu/html/capacitor-lab-basics/1.6.20-rc.3/phet-io/wrappers/mirror-inputs/mirror-inputs.html.
If you drag something outside the the top iframe, let go, then return, the top frame drops the item and the bottom doesn't, leading to an out-of-synch mirror wrapper.
![outofsynch](https://user-images.githubus

[2021-05-19 19:19] KatieWoe commented on #1224
Can also happen with the about dialog so may connect to https://github.com/phetsims/scenery/issues/1218#issuecomment-842493101
![outofsynchmore](https://user-images.githubusercontent.com/41024075/118871352-b8d44b00-b8a4-11eb-9930-ad876cd2d95d.gif)

[2021-05-19 20:12] jonathanolson commented on #1219
That work sounds correct!

[2021-05-19 20:35] KatieWoe commented on #1224
Happens in Resistance in a Wire

[2021-05-19 21:35] KatieWoe opened #1225 "Mouse flickers to hand when returning to iframe"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/649 May be related to https://github.com/phetsims/scenery/issues/1218.
When the mouse returns to the iframe from outside, the mouse may briefly flash to a hand before going back to a cursor. This happens in newer sims when you press, outside a dialog, drag the mouse

[2021-05-19 23:08] phet-steele commented on #1224
Happens in Molarity.

[2021-05-19 23:33] zepumph commented on #1223
Ok now I feel ready to move on from Voicing and VoicingManager. Up next:

- [ ] ReadingBlock.js
- [ ] ReadingBlockNode.js
- [ ] MouseHighlighting.js
- [ ] HighlightOverlay.js
- [ ] john-travoltage/AppendageNode.js (preferences branch)
- [ ] joist/JoistButton.js (preferences branch)
- [ ] sun/Slider.js (preferences branch)
- [ ] scenery-phet/VoicingText.js (master branch)
- [ ] sun/RectangularRadio

[2021-05-20 17:13] jessegreenberg opened #1226 "Should the Voicing API use setters for strings or setters for functions that generate strings"
From https://github.com/phetsims/scenery/issues/1223, @zepumph said

This may warrant a discussion so I thought I would make a separate issue.

For a while this is kind of what the API looked like! Especially back when the API was more "event driven" we used to have https://github.com/phetsims/scenery/blob/e22e750e2954bd2d51b171db4f5de55d493a7654/js/accessibility/speaker/Voicing.js#L36-L51

But I

[2021-05-20 18:09] jessegreenberg opened #1227 "Is voicingManager.js necessary?"
From #1223 @zepumph  said

 // Why can't it be combined in another location like webSpeaker or something else. I guess my feelings are that it
 // doesn't do that much, but that may not be a good enough reason to try to change or refactor it. Thoughts? https://github.com/phetsims/scenery/issues/1223

I think this is a good thought, wanted to document some discussion around this.

I can see how thi

[2021-05-20 19:45] zepumph commented on #1159
@jonathanolson, @jessegreenberg, @samreid and I spoke about this issue today.

We saw a rationale for doing things consistently for all features of Node. Right now, ParallelDOM is a being treated differently, in its own file. We went back and forth a bit about the pros and cons of moving things around. We basically settled on the fact that 7000 lines (Node.js's current length) is quite long, and w

[2021-05-21 14:48] zepumph commented on #1226
I don't really have enough information yet to answer this, but I have some thoughts and assumptions.

1. Until I actually implement a couple of sims with voicing, I am not confident in general.

2. I don't see this a precedent, but instead a fact that we haven't yet gotten to what I consider to be a more standard, and complicated case. Any interaction that is dynamic to any values (so basically an

[2021-05-21 14:56] zepumph commented on #1226
Ok, actually I'm feeling even stronger than my above comment (which I feel like was already pretty strong). I just found this line in AppendageNode, where you are in fact dynamically updating the objectResponse already. Wouldn't it be better for this to be done by the API?

https://github.com/phetsims/john-travoltage/blob/4a462b41d7ad78cebd25139c57ca95036dd0bd94/js/john-travoltage/view/AppendageNo

[2021-05-21 16:00] jessegreenberg commented on #1226
@zepumph and I discussed this on a call. We are going to try an API where you can set functions that return the strings that are used in the "speak" calls. So instead of setters for `voicingNameResponse`, `voicingObjectResponse` and so on, we will have `voicingCreateNameResponse`, `voicingCreateObjectResponse`, ...

Usages for dynamic strings will be more simple because we don't have to set the st

[2021-05-21 16:22] jessegreenberg commented on #1227
Options:
  - Rename voicingManager to responseCollector, it is responsible for flow of Voicing reponses and combining them.
  - Move mainWindowVoicingEnabledProperty into webSpeaker, it doesn't belong in a responseCollector.
  - Move `voicingUtteranceQueue` into webSpeaker.
  - Factor out the announcer into a composed piece of webSpeaker, like `voicingAnnouncer`.
  - Rename webSpeaker to `voicingM

[2021-05-21 16:57] zepumph commented on #1223
- [ ] It seems like there is lots of cleanup to be done in scenery-phet/js/accessibility/speaker.

[2021-05-21 17:33] zepumph commented on #1223
I have done all that I can for now. I may have a bit of time to finish this off next week. @jessegreenberg are there any of the files that I missed that feel really important to you?

[2021-05-24 18:03] jonathanolson commented on #1225
@kathy-phet thoughts on this? This is definitely happening in master, and seems likely to be caused by the last known cursor being the "hand" so that it's still set and used BEFORE the animation frame happens that clears it.

Not any particularly easy fix.

[2021-05-24 21:35] jonathanolson commented on #1224
Patched in the above 3 simulations. Was this an exhaustive list for what sims had this issue?

[2021-05-24 21:37] samreid commented on #1159
One aspect we discussed that TypeScript may help with is in the options API.  If clients can autocomplete/navigate options keys or get a red underline if they use an unsupported key, it would be helpful.  For instance, knowing that Node supports the `containerTagName` option, even though it is not declared in Node.js.

[2021-05-24 21:37] KatieWoe commented on #1224
I think so, but many couldn't be checked as they didn't load.

[2021-05-24 22:03] zepumph opened #1228 "Include all supported properties in Input.serializeDomEvent()"
Over in https://github.com/phetsims/phet-io/issues/1774, we need IOType serializations to have a rigid schema, that means that they can't change based on the instance. Thus, I would like to make sure that `Input.serializeDomEvent()` always includes every property in Input's `domEventPropertiesToSerialize`. This is necessary to continue over in https://github.com/phetsims/phet-io/issues/1774.

Comm

[2021-05-24 22:09] zepumph commented on #1228
@jonathanolson, does this seem acceptable to you? I like having consistency more than I mind seeing all the extra `null` values.

[2021-05-25 02:17] jessegreenberg commented on #1223
Thanks, pretty much everything in here has been replaced by Voicing.js, ReadingBlock.js, and MouseHighlighting.js. I removed this folder. The only things I kept were the following which I moved into scenery.
- scenery/js/accessibility/voicing/nodes/VoicingText.js
- scenery/js/accessibility/voicing/nodes/VoicingRichText.js
- scenery/js/accessibility/voicing/ReadingBlockHighlight.js

[2021-05-25 02:52] jessegreenberg opened #1229 "Display Properties for Focus"
From https://github.com/phetsims/scenery/issues/1223 @zepumph said

Display now has these three Properties:
- A static `Display.focusProperty` whose value is a Focus with the Trail and Display that currently have DOM focus.
- An instance variable `pointerFocusProperty`, whose value is a Focus with the Trail and Display pointing to a Node composed with MouseHighlighting that is currently under the

[2021-05-25 03:16] jessegreenberg opened #1230 "Rename Focus.js and related references"
From https://github.com/phetsims/scenery/issues/1223 @zepumph said

I can see this. Focus.js is now being used for more than DOM focus as we have multiple types of states we want to signify as "active" with the HighlightOverlay. These currently include
- DOM focus
- Which Node is currently under the Mouse/Pointer
- Which Node is being spoken about through Voicing

I think for each of these "focus"

[2021-05-25 03:22] jessegreenberg commented on #1227
As a reminder, a review comment from #1223 was
[code]

[2021-05-25 03:33] jessegreenberg commented on #1223
Thanks @zepumph, this review was excellent and these were really great suggestions. I went through all review comments and created new issues for the ones that warrant further discussion. I think remaining tasks for this issue are to
1) Improve voicing.html from https://github.com/phetsims/scenery/issues/1223#issuecomment-843599959 notes
2) Delete ReadingBlockNode, these usages should use the Trai

[2021-05-29 03:04] pixelzoom opened #1231 "ParallelDOM.js uses at least 8 different names for "primary sibling""
In ParallelDOM.js, there's a nice description of "primary sibling":

[code]

Good definition, nice simple concise term.

Then ParallelDOM.js uses no less than 8 other names for "primary sibling":

primary sibling DOM element
primary element
primary DOM element
 primary dom element
primary sibling element
primary sibling in the PDOM
primary sibling DOM Element
primary sibling of the PDOMPeers

Are

[2021-05-31 23:59] samreid opened #1232 "Improve the stateSchema for EventIO"
From https://github.com/phetsims/phet-io/issues/1774, some nested types were specified as EventIO, but that didn't seem to match up with what was happening at runtime.  Here are my notes:

[code]

[2021-06-01 17:38] jonathanolson commented on #1232
I'm a bit confused about EventIO... it seems to be mixing and matching a lot of different types of DOM events. Presumably everything being NullableIO means it only records that's there?

We should be referring to https://developer.mozilla.org/en-US/docs/Web/API/Event, target/relatedTarget definitely wouldn't be EventIOs... look like they're anything implementing this interface: https://developer.m

[2021-06-01 18:18] jonathanolson commented on #1218
CLB 1.6 seems to dismiss it, since ButtonListener seems to be firing due to the interrupt (looks like this would have been patched in https://github.com/phetsims/scenery/commit/7b89260890f60468f0f1d7d1e575032ef1fadcf5).

[2021-06-01 18:19] jonathanolson commented on #1218
This seems expected, since it's being released outside of the rectangle.

[2021-06-01 18:19] jonathanolson commented on #1218
@kathy-phet should I look at patching up https://github.com/phetsims/scenery/issues/1218#issuecomment-852344608 so that the behavior here is more consistent? Otherwise I'm ready to start RCs for the maintenance release.

[2021-06-01 18:44] kathy-phet commented on #1218
This behavior can be inconsistent. It will slowly become consistent as we republish sims - and I'm not worried about the behavior as long as it doesn't crash, which is isn't doing. So go ahead with the RCs!! Thx!

[2021-06-01 19:35] pixelzoom opened #1233 "KeyboardDragListener needs some work for "shift" options"
I suspect that the `shiftDragVelocity` is analogous to `shitfKeyboardStep` for AccessibleValueHandler. That is, it’s expected to be more fined-grained than dragVelocity. There’s is nothing to this affect in the doc for `shiftDragVelocity`, and no assertion verifying that `shiftDragVelocity < dragVelocity`.

Ditto for `downDelta` and `shiftDownDelta`.

- [x] Document that "shift" modifier is expect

[2021-06-01 19:39] pixelzoom commented on #1233
Slack:

Jesse Greenberg  1:36 PM
Likewise, there is nothing to enforce that the shiftKeyboardStep < keyboardStep in AccessibleValueHandler.

Chris Malley  1:38 PM
If the convention is shift=finer and page=coarser, there should be verification (via assert ) in the code.
1:38
… wherever that convention applies.

Jesse Greenberg  1:38 PM
That sounds good, Ill add to both

[2021-06-02 03:49] samreid commented on #1228
@jonathanolson commented in https://github.com/phetsims/scenery/issues/1232#issuecomment-852319958

[2021-06-02 04:12] jonathanolson commented on #1199
Tentative links:

acid-base-solutions 1.2 (https://github.com/phetsims/scenery/issues/983, https://github.com/phetsims/joist/issues/714, https://github.com/phetsims/axon/issues/355, https://github.com/phetsims/joist/issues/717)

- [ ] [acid-base-solutions 1.2.25-rc.2](https://phet-dev.colorado.edu/html/acid-base-solutions/1.2.25-rc.2/acid-base-solutions_en.html)

area-builder 1.1 (https://github.c

[2021-06-02 15:01] jonathanolson commented on #1228
I can imagine how this might be the best solution on our end, but we should definitely document that we're combining a hodge-podge of different Event types (and which ones).

A more robust way might be to have a union type (where we have io-types for each Event type), however that sounds like a lot of unnecessary complexity in this case.

Thoughts?

[2021-06-02 15:14] samreid commented on #1228
I added documentation, this seems like a good point to unblock publication and check in with @zepumph in the future.

[2021-06-07 17:36] KatieWoe commented on #1224
For https://github.com/phetsims/QA/issues/653, since some sims don't load the mirror wrapper (I think this is expected) we are unable to confirm those issues for those sims. @jonathanolson how do you want us to handle those sims?

[2021-06-08 19:21] jessegreenberg opened #1234 "Add a way to get the first focusable (or list of focusables) under a Node"
Currently to find the first/next/previous focusable element you have to use PDOMUtils.getNextPreviousFocusable which goes through the DOM and HTML. It would be nice if we had a function that could get the first focusable Node under some parent so we don't have to go through the DOM. If the parent is focusable, it would return itself.

[2021-06-09 23:20] jessegreenberg opened #1235 "FocusHighlightFromNode transformSourceNode does not work with DAG"
Noticed during https://github.com/phetsims/fourier-making-waves/issues/73

The `transformSourceNode` lets you provide a Node to the FocusHighlightPath (that may be different from the Node with focus) to define the shape of the highlight. The FocusHighlightPath will automatically update its bounds/positioning when the transform and bounds of the `transformSourceNode` changes. But to track the trans

[2021-06-09 23:55] jessegreenberg commented on #1235
Added in the above commit. While testing Fourier I am still hitting DAG related assertions in other cases related to accessibility, but they seem to be places where we have access to a Trail that we could use instead of a Node so they should be fixable.

[2021-06-10 04:33] jessegreenberg commented on #1235
Local aqua is passing after this change and nothing on CT related to this. I think this can be closed.

[2021-06-10 04:33] #1235 closed

[2021-06-15 20:01] jessegreenberg opened #1236 "Abstraction for Focus of various kinds"
Currently Display manages Focus of all kinds, and it is creating a growing number of Properties on the Display dedicated to just this. W should break these out into an abstraction that manages Focus, I don't think it needs to all be on the Display.

[2021-06-15 21:26] jessegreenberg commented on #1236
I went ahead with this and did the following:
 - Created FocusManager which is responsible for all Properties involved with Focus. It has instance variables including `pointerFocusProperty` and `readingBlockFocusProperty`. FocusManager is created and used by Display.
 - Display.focusProperty was moved to FocusManager and renamed to Display.pdomFocusProperty, to distinguish it as the Property for D

[2021-06-15 21:41] jessegreenberg commented on #1236
Local aqua tests are passing, including ?fuzzBoard, I am going to commit this. I updated documentation for a general Tandem so I think I will need to update stable phet-io APIs after this change.

[2021-06-15 22:02] jessegreenberg commented on #1236
All done. This is an issue I would like to review at next developer meeting.

[2021-06-16 21:08] jonathanolson opened #1237 "PanZoomListener notifies matrixProperty changes when there is no change"
https://github.com/phetsims/scenery/blob/master/js/listeners/PanZoomListener.js#L121 seems to notify on any call to this (e.g. any release for something that doesn't even pan/zoom once zoomed in).

This seems to be triggering a lot of changes to `animatedPanZoomSingleton.listener.matrixProperty` when the actual Matrix hasn't changed value. Since 3D sims have to do some (somewhat expensive but not

[2021-06-17 16:00] pixelzoom opened #1238 "Generalizing support for all forms of input handling"
Chris Malley  9:55 AM
Question about alt-input handling in scenery…  Have you considered  generalizing PressListener so that it handles all forms of “press”?  (And similar question for other input actions — drag, etc.) For example, over in https://github.com/phetsims/fourier-making-waves/issues/87, we want to do something when a slider has been “pressed”.  It would be nice to just add a PressListe

[2021-06-17 16:21] jessegreenberg commented on #1238
This is partially done, PressListener responds to `click` events, so that presses from any form of alternative input will fire listeners on the PressListener. What currently is not supported are drag type events.

We currently have KeyboardDragListener which implements the "drag" specific components from a keyboard. So maybe some of the code in KeyboardDragListener should be moved to PressListener

[2021-06-17 16:33] pixelzoom commented on #1238
Another example that illustrates the pitfalls of not generalizing input actions: https://github.com/phetsims/fourier-making-waves/issues/91

[2021-06-17 20:33] pixelzoom opened #1239 "Revised AccessibleValueHandler `onChange` option documentation."
The documentation for AccessibleValueHandler's `onChange` option needs some help, see below.  There are multiple typos, possibly extra or missing words.  I tried to guess what it should be, but bailed.  Assigned to the author.

[code]

[2021-06-17 20:38] pixelzoom commented on #1239
I felt defeated, so I took another run at this. Revised doc in the above commit. @zepumph please review.

[2021-06-18 15:06] jonathanolson commented on #1199
Production links:

acid-base-solutions 1.2 ()

- [ ] [acid-base-solutions 1.2.25](https://phet.colorado.edu/sims/html/acid-base-solutions/1.2.25/acid-base-solutions_en.html)

area-builder 1.1 ()

- [ ] [area-builder 1.1.21](https://phet.colorado.edu/sims/html/area-builder/1.1.21/area-builder_en.html)

area-model-algebra 1.2 ()

- [ ] [area-model-algebra 1.2.2](https://phet.colorado.edu/sims/html/a

[2021-06-18 15:18] jonathanolson commented on #1199
Production links all loading, so deployments all worked. A synchronize project failure might have occurred though.

[2021-06-18 15:23] jonathanolson commented on #1199
Success on all links, closing!

[2021-06-18 15:23] #1199 closed

[2021-06-18 15:26] jonathanolson commented on #1224
@KatieWoe is there a good way to check deployed sims for this?

[2021-06-18 15:27] jonathanolson commented on #1218
Closing, handled in maintenance release deployment.

[2021-06-18 15:27] #1218 closed

[2021-06-18 15:27] jonathanolson commented on #983
Closing, handled in maintenance release deployment.

[2021-06-18 15:27] #983 closed

[2021-06-18 15:30] jonathanolson commented on #1222
Closing, handled in maintenance release deployment.

[2021-06-18 15:30] #1222 closed

[2021-06-18 15:31] jonathanolson commented on #1215
Closing, handled in maintenance release deployment.

[2021-06-18 15:31] #1215 closed

[2021-06-18 15:34] KatieWoe commented on #1224
If there are links to the deployed versions of the phet-io sims we could go through them

[2021-06-18 16:59] jonathanolson commented on #1224
I don't have an easy way to filter to just phet-io links, but here are the links:

acid-base-solutions 1.2 ()

- [ ] [acid-base-solutions 1.2.25](https://phet.colorado.edu/sims/html/acid-base-solutions/1.2.25/acid-base-solutions_en.html)

area-builder 1.1 ()

- [ ] [area-builder 1.1.21](https://phet.colorado.edu/sims/html/area-builder/1.1.21/area-builder_en.html)

area-model-algebra 1.2 ()

- [ ]

[2021-06-18 22:47] KatieWoe commented on #1224
They look good

[2021-06-19 14:51] samreid commented on #1153
Scenery still imports files from sun.  @pixelzoom can you recommend how to rectify this?  Should we move DISABLED_OPACITY to a constants file in scenery?

[2021-06-21 18:23] jbphet opened #1240 "KeyboardDragListener.drag takes a delta vector instead of an event"
Most, if not all, of the drag listeners that I've worked with passes a scenery event as the parameter to the methods.  This is true of the `start`, `end`, and `drag` methods for `PressListeners` and its derivatives as well as the `start` and `end` listeners for `KeyboardDragHandler`.  However, the parameter passed through to the `drag` method in `KeyboardDragHandler` is a 2D vector.  This is causi

[2021-06-22 16:15] pixelzoom commented on #1153
LayoutBox has one dependency on sun:

[code]

How about moving `DISABLED_OPACITY` to scenery constants?

[2021-06-22 16:17] samreid commented on #1153
That seems like a good idea.  Is there already something, or should we create scenery/js/SceneryConstants.js?  Would you like to do so, or would you prefer someone else do these steps?

[2021-06-22 16:22] pixelzoom commented on #1153
I think that's a question for @jonathanolson.  scenery does a lot of things differently than other PhET repos.

[2021-06-22 16:41] pixelzoom commented on #1153
The first thing I did was look for SceneryConstants.js, but it doesn't exist.  There must be other scenery constants, and I don't know where they live -- scenery doesn't follow all of the conventions used by other PhET repos.   So I think that this is a question for @jonathanolson.

[2021-06-22 20:08] jonathanolson commented on #1153
A few things are put on the global scenery namespace in https://github.com/phetsims/scenery/blob/master/js/scenery.js.

Some things were moved to separate files, since that's easier with imports and clarity (https://github.com/phetsims/scenery/blob/master/js/util/svgns.js)

Maybe it's weird, but scenery hasn't run into the need for numeric constants that need deduplication? Feel free to create Sce

[2021-06-22 21:30] jessegreenberg opened #1241 "globalKeyStateTracker.keyupEmitter fires more than once per key release"
Over slack @pixelzoom said

Assiging to myself to investigate.

[2021-06-22 21:32] pixelzoom commented on #1241
This is blocking for Fourier 1.0.

[2021-06-22 21:38] jessegreenberg commented on #1053
Reopening. An issue with this is that event.key is modified by modifier keys. It looks like we correctly accounted for this with the `shift` modifier key, but did not with the alt/option keys. We use these a lot for global key codes. For example "alt + c" produces event.key of "ç".

[2021-06-22 21:39] pixelzoom commented on #1053
Blocking for Fourier 1.0.

[2021-06-22 21:52] jessegreenberg commented on #1241
I added a listener to the globalKeyStateTracker in the WaveGameScreenView of fourier-making-waves.

[code]

And I got one log of event.key per key release. @pixelzoom can you describe your usage or any other info about how you encountered this?

[2021-06-22 21:55] jessegreenberg commented on #1053
It looks like this is specific to the option key on Mac. Alt + c on Windows produces an event.key of "c", not "ç".

[2021-06-22 22:15] pixelzoom commented on #1241
My `globalKeyStateTracker.keyupEmitter` listener is added at line 239 of WaveGameLevelNode, see code below.

To reproduce:
1. Run the sim with `?log`.
2. Press and release a key. You'll see 5 log message for the keyup event.
3. Repeat step 2 with other keys.

[code]

[2021-06-22 22:30] jessegreenberg commented on #1053
Most threads use event.keyCode to accomplish this because it doesn't change with the alt key. I don't see a general way to tie "alt + c" to "c" on Mac from the "ç" event.key without looking at `event.code`, `event.which`, or `event.keyCode`. This issue was about removing `event.keyCode` and `event.which` because they are deprecated. And we decided not to use `event.code` because of https://github.

[2021-06-22 22:51] jessegreenberg commented on #1053
"control" key works well with VoiceOver. But "control+k" is a native Chrome command on Windows to move focus to the url navigation bar. Was not able to prevent this with `preventDefault`. Perhaps this is why we avoided this initially.

[2021-06-22 22:54] pixelzoom commented on #1053
FYI...  In master, Alt+K and Alt+L do not work in MAL on macOS + Chrome (untested in other configurations).  They do work in the published version.

[2021-06-22 23:03] pixelzoom opened #1242 "hotkey vs hot key"
Throughout the PhET code base, I see a mixture of hotkey (one word) and hot key (2 words).  This appears in option names, string keys, comments, etc.  For example `hotkeyHoldInterval`, `includeGlobalHotKey`, `hotKeysAndHelpString`.  It would be good to pick one and be consistent about using it.   Doing a Google search, hotkey (one word) seems to be the standard.   And hotkey is the most prevalent

[2021-06-22 23:30] jessegreenberg commented on #1053
I think we need to switch to using `event.code` to meet requirements and still avoid deprecated `event.keyCode` and `event.which`. Most key checking is in KeyboardUtils so this shouldn't be too hard to change.

[2021-06-23 00:55] jessegreenberg commented on #1053
In the above commits I made the change to use `event.code` instead of `event.key`. I confirmed that "alt + L" key is working in both Windows and MacOS now. Sims that support interactive description are passing ?fuzzBoard tests. Unit tests for KeyStateTracker and scenery unit tests are passing. This should be resolved.

But I would like to review this with @zepumph again when he returns since he wa

[2021-06-23 01:08] jessegreenberg commented on #1241
The globalKeyStateTracker is for the whole application, so if you have 5 WaveGameLevelNodes you will have added 5 listeners to the globalKeyStateTracker.keyupEmitter. I tried something similar for the EraserButton in the same screen
[code]

And I saw 5 log messages for the keyup, but only one message like 'under pdomDisplayed check' when a single checkAnswerButton was displayed. I believe this is

[2021-06-23 13:25] pixelzoom commented on #1241
Thanks, that makes total sense now that you explain it.   `globalKeyStateTracker` listeners always fire, and it's up to the client (in this case me) to short-circuit any listener that isn't relevant (in this case, the levels that are not currently visible).   I've rewritten my "Check Answer" hotkey handler to be clearer. It now short-circuits any process of the event (and the log message) if check

[2021-06-23 13:33] pixelzoom commented on #1053
This is now working nicely in Fourier, Alt+C for the "Check Answer" button in the Wave Game screen.  Thanks!

[2021-06-23 14:14] pixelzoom commented on #1153
SunConstants.DISABLED_OPACITY was moved to SceneryConstants.DISABLED_OPACITY in the above commits. Spot-checked in a few sims.

@samreid or @jonathanolson please review and close.

[2021-06-23 16:45] jonathanolson commented on #1153
Looks good, thanks!

[2021-06-23 16:45] #1153 closed

[2021-06-23 17:39] jessegreenberg commented on #1241
Thanks, those commits look good and change make sense to me. In https://github.com/phetsims/tasks/issues/1080 we are working to improve documentation for accessibility related features and I added a note there to add a section on global hotkeys with the recommended content.

Closing this issue.

[2021-06-23 17:39] #1241 closed

[2021-06-23 18:06] jessegreenberg commented on #1242
Good catch, thanks - lets go with hotkey. I renamed "hot key" and "hotKey" and "HotKey" that I could find and then added the two-word variations to bad-text.js for eslint.

@pixelzoom would you like to review or is there anything else?

[2021-06-23 18:24] jessegreenberg commented on #1240
Thanks, definitely seems like the `drag` should be passing through a SceneryEvent. Since keyboard dragging is based on discrete movement deltas per key press it still seems useful to pass the vector through as well. So Ill change the signature to
`drag( event: {SceneryEvent}, viewDelta: {Vector2} )`.

[2021-06-23 18:44] jessegreenberg commented on #1240
Hmm, looking into this a bit more this is a little tricky because there isn't a SceneryEvent that triggers the drag. To produce smooth motion we update position in the animation frame without a SceneryEvent. We receive one SceneryEvent on the `keydown`, another on the `keyup`, but don't use any more events while keys are pressed down.

Maybe we could pass a reference to the the keydown event that

[2021-06-24 00:28] pixelzoom commented on #1242
👍🏻 closing.

[2021-06-24 00:28] #1242 closed

[2021-06-25 06:47] jessegreenberg opened #1243 "SpeechSynthesis.speak only speaks for about 15 seconds on Chrome"
Seems like a known bug, see https://bugs.chromium.org/p/chromium/issues/detail?id=679437

Some workarounds listed there, but comments in the thread say they cause issues in other platforms. Maybe we need to have a limit on how long one utterance can be.

[2021-06-26 16:35] samreid opened #1244 "Update prism in the scenery examples"
There are 4 usages of prism, in scenery accessibility examples:

accessibility-animation.html
accessibility-listeners.html
accessibility-slider.html
accessibility-updating-pdom.html

At the moment in master, 3/4 of these are broken.  The animation one seems to be working OK:

They are giving errors like:

[code]

It looks like @twant was the primary developer of these files.  @jessegreenberg can y

[2021-06-28 22:29] jbphet commented on #1240
I designed it to assume the latter, and it is so far working fine.  This seems to be an acceptable solution for the specific problem that I ran into in balloons-and-static-electricity, but I noticed the inconsistency when working on this, and I thought I'd be remiss not to report how it surprised me and how I had to work around it a bit.  Where to go from here is completely up to you @jessegreenbe

[2021-06-30 18:45] zepumph commented on #1239
Looks great to me, thanks.

[2021-06-30 19:33] #1224 closed

[2021-07-01 15:06] zepumph commented on #1228
This was  a feeling that was not unique to EventIO as we were going around adding stateSchema to IOTypes. There was much more polymorphism in our project in regards to state than I thought there would be. At this time, I feel like a single, flexible type for a browser Event is acceptable. Everything downstream of PhET-iO playback Actions seems to be equally as tolerant to different sorts of Events

[2021-07-01 15:06] #1228 closed

[2021-07-01 15:13] zepumph commented on #1230
This is a month out, and I feel like it would be fastest and easiest to discuss in person with @jessegreenberg.

[2021-07-01 15:13] zepumph commented on #1229
This is a month out, and I feel like it would be fastest and easiest to discuss in person with @jessegreenberg.

[2021-07-01 15:13] zepumph commented on #1223
Sounds great. Let me know if I can do anything else here.

[2021-07-01 22:51] #1239 closed

[2021-07-02 14:25] zepumph opened #1245 "Some voicing strings still spoke when chrome tab muted"
Is it expected that muting the chrome tab would mute all voicing audio? I thought so.

To reproduce:
* checkout preferences branch in Ratio and Proportion
* mute tab
* launch sim with `supportsVoicing=true`
* go to preferences dialog and enable voicing
* Click on a couple of elements in the side-tool-bar, they will still speak.

[2021-07-02 15:46] zepumph commented on #1174
Implemented above, the tests for trail comparison are working, and we were able to get rid of the reindexing assumption ( though I still kept the assertion in because it seemed nice to do until we needed to remove it to compare on an stale-indexed trail. @jonathanolson please review.

Note that this implementation heavily relies on this assertion:

https://github.com/phetsims/scenery/blob/b827f529

[2021-07-02 16:02] zepumph commented on #1151
@jonathanolson, please review.

[2021-07-02 16:10] zepumph commented on #1151
BTW I tested with snapshot comparison and nothing showed up.

[2021-07-02 17:16] zepumph commented on #1188
Anything else for this issue?

[2021-07-02 20:43] samreid opened #1246 "Values not returned from mutate"
SOM was failing in a test harness, the stack track indicated new Text().mutate() was undefined.

[2021-07-02 20:43] samreid commented on #1246
Fixed, @jonathanolson can you please review?  I'm not sure how/when this broke in the first place.

[2021-07-03 21:32] samreid commented on #1100
Reopening based on a TODO in the code, not sure if it can be deleted or needs attention.

[2021-07-03 21:33] samreid commented on #939
Reopening based on the TODO in the code:
[code]

[2021-07-06 14:04] zepumph commented on #1188
Tests were failing when assertions weren't enabled.

[2021-07-06 14:05] pixelzoom commented on #1100
Reopening.

I'm curious about these 2 confusing (and possibly buggy) lines:

[code]

Why are you checking `!== 'true'` in one case, `=== 'false'` in the other?

In both cases, you're confirming that 'aria-disabled' is 'false'.  Besides the fact that the current message doesn't parse well.... Shouldn't the message be the _opposite_ of what you have, something like 'should be disabled'?

[2021-07-06 14:08] pixelzoom commented on #1100
OK, now I understand the 'should be not enabled'.  But it sure is confusing. 'aria-disabled should be false' would be so much clearer and straightforward.

[2021-07-06 14:37] zepumph commented on #1100
I agree, the messages left much to be desired. Updated above. As for the actual tests, I was trying to figure out the balance between testing a feature vs its implementation. I landed on testing the actual implementation, in which the aria-disabled attribute will not be added until `enabled` is toggled, because although behavior could be unchanged when these tests fail, I want to know and rethink

[2021-07-06 14:40] pixelzoom commented on #1100
I still don't understand the purpose of using `!== true` vs `=== false`, but maybe I don't need to.  So closing.

[2021-07-06 14:40] #1100 closed

[2021-07-06 14:58] jonathanolson commented on #1188
Looks great to me, thanks!

[2021-07-06 14:58] #1188 closed

[2021-07-06 15:43] jessegreenberg commented on #1053
Discussed with @zepumph - Overall the change seems reasonable though we acknowledged that `event.code` will not be as flexible as `event.key` for alternative keyboard layouts and i18n for when we want to support those things in the future.

@zepumph is going to review these changes before closing this issue again.

[2021-07-06 15:51] zepumph commented on #1229
Duplicate of #1223, closing

[2021-07-06 15:51] #1229 closed

[2021-07-06 15:53] zepumph commented on #1230
@jessegreenberg and I are ready to close this. "Focus" is not just about DOM Focus, but instead focus of a variety of inputs onto the Display. See https://github.com/phetsims/scenery/issues/1236 for a refactor that helps make this more clear. Closing

[2021-07-06 16:14] jessegreenberg commented on #1245
I found a chromium bug report about this: https://bugs.chromium.org/p/chromium/issues/detail?id=814129

[2021-07-06 16:17] jessegreenberg commented on #1245
That one was closed, here is the one it was merged into: https://bugs.chromium.org/p/chromium/issues/detail?id=812767

[2021-07-06 16:25] zepumph commented on #1245
@jessegreenberg and I added a comment to that post:

https://bugs.chromium.org/p/chromium/issues/detail?id=814129

[2021-07-06 17:35] zepumph commented on #1053
I went through some more usages of Event.key, and took a look at the above commits. I found quite a few spots where Event.code wasn't being used. Many were outside of the sim (like in tools/PhET-iO wrappers/etc). I feel like we should have a consistent approach across the project, so I tried to change all I could.

* In https://github.com/phetsims/sun/commit/3ee0c17df2d05056afd82a6d237b01a74aa57d1

[2021-07-06 17:47] zepumph commented on #1236
Looks good to me. Thanks!

[2021-07-06 18:29] zepumph opened #1247 "WebSpeaker should use EnabledComponet"
I think it would be as easy as this patch, and would build out a more full and consistent API without more boilerplate. Feel free to apply and commit with just a bit of testing.

[code]

[2021-07-08 17:01] jessegreenberg commented on #1244
Thanks @samreid, the examples have been fixed and I tested each to verify they run. Thanks for updating prism!

[2021-07-08 17:07] samreid commented on #1244
Note to self:

* Double check these examples
* See if we can delete old prism

[2021-07-08 17:19] jessegreenberg commented on #1247
Looks great, thanks. Applied in the above commit. Only change I made was to set `enabled: false` initially with options. I tested GFL:B and JT with this change and it is working well. Closing.

[2021-07-08 17:19] #1247 closed

[2021-07-08 17:23] jessegreenberg commented on #1240
OK sounds good. I added a line of documentation for the `drag` option noting that it does not get the SceneryEvent and why it cannot take it. Closing this issue.

[2021-07-08 17:23] #1240 closed

[2021-07-08 17:24] jessegreenberg commented on #1236
Thanks for reviewing!

[2021-07-08 17:24] #1236 closed

[2021-07-08 19:51] jessegreenberg commented on #1237
Actually it seems pretty simple to avoid notifying listeners if the Matrix hasn't changed here. Ill take a pass.

[2021-07-08 20:28] samreid commented on #1244
Here's a patch that switches the examples to use prism 1.23.

<details>

[code]

</details>

I used the same style as used by phet-io, so it looks like this:

![image](https://user-images.githubusercontent.com/679486/124986064-6c7dcf80-dff8-11eb-898c-394542cff335.png)

Is that style change OK?  Also, the normalize whitespace plugin wasn't working (may not be included), so that demo was looking lik

[2021-07-08 20:28] jessegreenberg commented on #1237
I think it is as simple as https://github.com/phetsims/scenery/commit/d458edf11cb1f8636ae7ca1646d482f31096bd73, can you please review @jonathanolson?

[2021-07-08 22:01] jessegreenberg commented on #1244
It looks pretty sharp to me, I went ahead and applied the patch.

Not a big issue in my opinion, I actually prefer the new look and having the HTML not line wrap.

[2021-07-09 03:33] samreid commented on #1244
Thanks!  I updated the prism license version and removed the older prism.  Closing.

[2021-07-09 03:33] #1244 closed

[2021-07-09 18:37] pixelzoom opened #1248 "Focus highlights for round buttons are not centered"
Reported by @arouinfar in https://github.com/phetsims/fourier-making-waves/issues/68#issuecomment-862927885, for the Discrete screen in Fourier:

One odd thing I noticed was that in my local copy (pulled all late evening 6/15) was that the focus on the round buttons on the Discrete screen was askew, but looked fine on the other two screens. For example:
<img width="57" alt="Screen Shot 2021-06-16

[2021-07-09 18:38] pixelzoom commented on #1248
Issue transfered from fourier-making-waves to scenery.

[2021-07-09 19:05] jessegreenberg commented on #939
Thanks, I updated the link to point to the new issue referenced in https://github.com/phetsims/scenery/issues/939#issuecomment-729207681

[2021-07-09 19:05] #939 closed

[2021-07-09 19:14] jessegreenberg commented on #1248
Thanks for migrating.

I am not sure if this is blocking but I will pick up work on this in https://github.com/phetsims/scenery/issues/1248, removing my assignment. Will be approaching it at low priority though unless I hear otherwise here from @arouinfar or others.

[2021-07-09 19:18] jessegreenberg commented on #1248
Disregard that...I was confused and thought I was commenting on a issue still in fourier-making-waves repo.

I will still approach this issue at low priority though unless I hear otherwise from @arouinfar or others. It is a minor graphical bug that only happens on certain platforms at low resolutions.

[2021-07-09 19:28] pixelzoom commented on #1248
I agree that this doesn't feel like a blocking issue.

[2021-07-09 20:27] arouinfar commented on #1248
I've tried several times now to reproduce (in FMW and other sims on master), and I only sometimes notice a slightly off-center focus. I'm halfway convinced that it's an optical illusion due to the highlighting on the button, but it's hard to tell.  I'm on macOS 10.15.7 and latest Chrome. I usually use fullscreen windows of Chrome on my retina screen, so I don't think it's accurate to say it only a

[2021-07-12 14:43] #522 closed

[2021-07-12 16:17] samreid commented on #1053
We saw something in https://github.com/phetsims/geometric-optics/issues/68 that may be related?  @zepumph and @jessegreenberg can you please have a look?

[2021-07-12 18:45] jonathanolson commented on #1237
I don't see where matrixProperty is actually... set to that? I think it's initialized as a copy in https://github.com/phetsims/scenery/blob/master/js/listeners/MultiListener.js#L115, so I don't actually see the matrixProperty being updated? Am I missing something here?

Checked Density after review, and it seems to be broken.

[2021-07-12 19:07] jessegreenberg opened #1249 "KeyStateTracker modifier key assertions don't work on various keyboard layouts"
From https://github.com/phetsims/geometric-optics/issues/68, when I switch my keyboard layout from "English (United States)
 to "English (United Kingdom), I am hitting an assertion in KeyStateTracker

After investigating I am finding that `domEvent.altKey` is false for "English (United Kingdom)" keyboard layout when pressing the right "alt" key. In fact when I press the right alt key with that lay

[2021-07-12 19:28] zepumph commented on #1249
Getting rid of the assertions seems fine to me.

[2021-07-12 20:01] jessegreenberg commented on #1237
Hmm, definitely buggy. It looks like there are places in AnimatedPanZoomListener where the targetNode matrix is being set directly instead of going through matrixProperty. I am not sure why, but maybe just missed when we added the matrix Property for PhET-iO.

Was not a problem before because the matrixProperty was always set eventually in correctReposition.

[2021-07-12 20:17] jessegreenberg commented on #1237
This bug should be fixed in the above commit. @jonathanolson can you please review?

[2021-07-14 15:17] zepumph commented on #1245
Not sure what else to do here on my end, what about you @jessegreenberg?

[2021-07-14 18:22] zepumph commented on #1232
Arg, sorry for the confusion. Yes of course those wouldn't be EventIO.

I think we should leave as is. Currently there doesn't seem to be need for anything more specific, and we aren't consistently using anything from the EventTarget interface.

I'm going to remove the TODOs and close this issue. Please reopen if you disagree.

[2021-07-14 18:22] #1232 closed

[2021-07-14 18:36] jonathanolson commented on #1237
Looks good to me, thanks!

[2021-07-14 18:36] #1237 closed

[2021-07-14 20:43] jessegreenberg commented on #1249
I was mistaken...they can't just be removed from assertions, checks on DOMEvent modifier keys exist in the implementation of `correctModifierKeys`, which will often not work with event.code.

[2021-07-14 21:10] jessegreenberg commented on #1245
I briefly looked for a property on the window or browser that notifies when the site is muted, but no such thing exists. I also checked with @jbphet over slack for assistance but he confirmed there probably isn't such a thing.

I added a section to https://github.com/phetsims/qa/blob/master/documentation/accessibility-bugs.md#32-chrome-bugs to describe this.

I don't think there is anything remain

[2021-07-14 21:10] #1245 closed

[2021-07-14 21:19] jessegreenberg commented on #1249
Ah, I believe a lot of the issues here are caused by the regression @zepumph mentioned in https://github.com/phetsims/scenery/issues/1053#issuecomment-874952490. `correctModifierKeys only removed one of the two modifier keys, but now there is a distinction between left/right for each. Fixed in the above for KeyStateTracker and I can no longer reproduce https://github.com/phetsims/geometric-optics/

[2021-07-14 21:58] jessegreenberg commented on #1053
I updated the usage in sun and tested, good catch.

In https://github.com/phetsims/scenery/issues/1249 I updated the portion of `correctModifierKeys` that removes both left/right modifiers. But this portion still exists https://github.com/phetsims/scenery/blob/2660c9e95cd66cbdb94a4fac91572d5ed9b327b5/js/accessibility/KeyStateTracker.js#L162-L183

and I don't know how to make it better. From `domEv

[2021-07-16 17:07] zepumph commented on #1053
Yes, that makes plenty of sense. Thanks for explaining.

This is the stuff of legends. Thanks for doing that.

- [ ] For https://github.com/phetsims/scenery/blob/2660c9e95cd66cbdb94a4fac91572d5ed9b327b5/js/accessibility/KeyStateTracker.js#L293-L315, do you think if would be better to export these publicly for use anywhere on the project? https://github.com/phetsims/scenery/blob/7f759c0751a97cd928c

[2021-07-16 19:33] jessegreenberg commented on #1230
eopenning. While discussing other issues related to focus with @zepumph it became clear that the overloaded term for focus was very confusing. We brainstormed the following terms:

ActiveNode
ActiveNodeData
ActiveTrailData
ActiveTrailEssence

HighlightedElement

ActivatedTrail
ActiveTrailData
ActiveDetails
ActiveData
ActivatedData

UserActivatedData

FocalPoint
FocalData

TrailDetails

We like Act

[2021-07-19 12:13] zepumph commented on #1249
Excellent.

[2021-07-19 13:56] #1249 closed

[2021-07-19 14:08] jessegreenberg commented on #1053
Good idea, done above. Back to you to review again.

[2021-07-19 14:44] zepumph commented on #1053
Looks good. Anything else here?

[2021-07-19 19:24] jessegreenberg commented on #1227
https://github.com/phetsims/scenery/issues/1227#issuecomment-846079719 has been done with the exception of

Coming back to this I don't feel like this improves the readability of voicingManager enough to create a new singleton like `voicingAnnouncer`. Having `voicingManager` implement the `announce` interface makes sense to me. But I don't feel too strongly.

Comment https://github.com/phetsims/sc

[2021-07-19 21:07] zepumph opened #1250 "Implement Voicing.isVoicing and Voicing.voicingInitialized"
Over in https://github.com/phetsims/friction/issues/205 I found that if you incorrectly compose voicing without calling `Voicing.initializeVoicing` in the constructor, then Voicing is not eager to error, and things fail out downstream. Let's create and use a `voicingInitialized` flag. Also `isVoicing` should be on the prototype, not defined in the constructor.

[2021-07-19 21:16] zepumph commented on #1250
@jessegreenberg will you spot check.

[2021-07-19 21:43] samreid opened #1251 "Refine the tandems for color support"
From https://github.com/phetsims/scenery-phet/issues/515, there was a TODO

[code]

I have left the tandem alone for the color profile (thus maintaining backward compatibility), but it no longer matches the code and this would be a good opportunity to decide what the tandems should be like, both for the `colorProfileProperty` and for the individual `ProfileColorProperty` instances.  @zepumph can y

[2021-07-20 12:24] zepumph commented on #1227
This isn't strictly part of this issue, but I found it while reviewing:

I went to ReadingBlock and found no mention of "main" or "window". Can you explain this docstring for update it? I am not thrilled about an assumption in scenery about whether or not ReadingBlocks can be used outside the context of the mainWindowVoicingEnabledProperty. It seems like it shouldn't matter, like if the toolbar ha

[2021-07-20 12:31] zepumph commented on #1251
Instrumented `ProfileColorProperty` instances should be suffixed with `ColorProperty`, or be called `colorProperty`. Can we assert that if you agree?

I think we should go ahead and rename the property to `general.view.colorProfileProperty`, because every sim is going to have one now right?

[2021-07-20 14:40] jessegreenberg commented on #1227
Thanks for reviewing. You are correct, that documentation is PhET specific and shouldn't be in scenery. In the above commits I removed the documentation that was specific to that usages and moved it into joist. Then I updated voicint.html.

[2021-07-20 14:43] jessegreenberg commented on #1250
Looks really great, thanks. I would like to do this in MouseHighlighting and ReadingBlock as well.

[2021-07-20 15:45] jessegreenberg commented on #1250
I used this pattern in ReadingBlock and MouseHighlighting. @zepumph can you please review?

[2021-07-21 12:28] zepumph commented on #1227
Looks good. Anything else here?

[2021-07-21 12:43] zepumph commented on #1250
Looks really nice. I was first thinking it would be best to set these at the end of the function, but then I felt like if something was being spoken from something in the disposal, that sounds sketchy, and I would want to catch that before deciding that it is ok.  Good work. Closing

[2021-07-21 15:05] pixelzoom opened #1252 "Verify changes to IndexNodeIO"
In https://github.com/phetsims/ph-scale/issues/227#issuecomment-884198645, @zepumph said:

I'm not going to leave https://github.com/phetsims/ph-scale/issues/227 because that complicates things for a sim that's in QA testing - I'll never remember to leave the issue open.  So please verify the changes here.

The changes were:

https://github.com/phetsims/scenery/commit/7f823e3ee68efb2556d2052aeddf3

[2021-07-22 14:28] #1250 closed

[2021-07-22 14:49] jessegreenberg commented on #1053
Thanks for reviewing again, I think we are back on track for this issue.

[2021-07-22 14:49] #1053 closed

[2021-07-22 21:49] zepumph opened #1253 "Support long form hex color with alpha"
From https://github.com/phetsims/joist/issues/681, it looks like we don't support parsing a hex string with a custom alpha,

https://github.com/phetsims/scenery/blob/b2b848ed52ce12479a2510e17b5b1539e263d6a6/js/util/Color.js#L904-L914

I want to support that! Tagging @jonathanolson

[2021-07-22 21:50] zepumph commented on #1253
@jonathanolson does this seem good to you? Especially because of https://github.com/phetsims/joist/issues/681.

[2021-07-22 21:54] jonathanolson commented on #1253
It matches the CSS spec so I’m hesitant to change it. Have you tried using the hex number with the constructor form:

[2021-07-22 21:57] jonathanolson commented on #1253
Presumably toString-ing “#fffccaa” without the # as a hexadecimal number would work?

[2021-07-23 13:26] zepumph commented on #1253
Sorry, looks like my push didn't go through last night. https://github.com/phetsims/scenery/commit/7820c35559691a0df096fe7adf20dd9270f7cd9d was meant to accompany my original comment. I'm not trying to change it, but just to support another parser. Does the above look problematic?

[2021-07-23 16:58] zepumph opened #1254 "Increase the max rate for voicing?"
I see that the max rate is 2x, could this be larger? I definitely think it would be nice, but I'm not the target audience. Even so, 3x to me makes the sim much more usable. @jessegreenberg do you have any thoughts?

[2021-07-23 17:46] zepumph commented on #1254
@jessegreenberg and I spoke, and he mentioned that this value was designed. Perhaps we can increase the max as part of https://github.com/phetsims/chipper/issues/1042

[2021-07-23 17:46] #1254 closed

[2021-07-23 18:12] jonathanolson commented on #1253
The above will cause `isCSSColorString` to return an incorrect value. I'm not sure what the use case is for where we'd want to parse that style string instead of using `new Color( hex, a )`. Is the already-existing setup for this insufficient?

[2021-07-23 19:03] zepumph commented on #607
@jessegreenberg and I discussed this outdated issue today. There is nothing left here, we now have multiple mixins for a11y technology.

[2021-07-23 19:03] #607 closed

[2021-07-23 20:28] jessegreenberg opened #1255 "Speech Synthesis doesn't always work on mobile platforms"
From https://github.com/phetsims/qa/issues/676, there were reports that the Voicing feature sometimes doesn't work.

@BLFiedler said

Here's a full record of the comments that indicated they could not hear the voicing in GFLB with Voicing along with their OS and Browser. Note - for every combination of someone indicating they could not hear, there was someone else with the same combination who did

[2021-07-26 22:19] jessegreenberg opened #1256 "Need a way to append to classList from ParallelDOM.js"
For https://github.com/phetsims/a11y-research/issues/158, we need an ability to modify styles of individual PDOM elements. ParallelDOM.js doesn't support this right now. The reason is that setting the `style` attribute on a DOM element with `setAttribute` will blow away any previously set styles. That is a problem because some styles are set in the scenery implementation.

Over slack, @zepumph and

[2021-07-27 18:05] samreid commented on #1251
In https://github.com/phetsims/scenery-phet/issues/515#issuecomment-882927243 @pixelzoom said:

[2021-07-27 18:26] samreid opened #1257 "Where should ProfileColorProperties be defined?"
In https://github.com/phetsims/scenery-phet/issues/515#issuecomment-876655914 @jessegreenberg said:

I later learned this cannot be done on the instance level, and I commented in https://github.com/phetsims/scenery-phet/issues/515#issuecomment-881955316

In https://github.com/phetsims/scenery-phet/issues/515#issuecomment-882619310 @zepumph commented:

In the review, @pixelzoom commented https://gi

[2021-07-27 18:32] pixelzoom commented on #1257
I'm still a fan of putting them in one .js file. That makes it easy for non-developers to find the relevant code if needed. One could argue that it makes it a tad easier for developers too.  My sims will have a *Colors.js file.

[2021-07-28 00:54] jonathanolson opened #1258 "A11y memory leak improvements"
Noticed some leaks in https://github.com/phetsims/density/issues/70, would like a review on the commit.

[2021-07-28 00:55] jonathanolson commented on #1258
@jessegreenberg would you mind reviewing?

[2021-07-28 04:41] samreid commented on #1251
I added assertions for that in the preceding commits.

[2021-07-28 04:53] samreid commented on #1251
I moved the property to e.g., `gravityAndOrbits.global.view.colorProfileProperty`.  I was about to create e.g., `gravityAndOrbits.global.colors` for the ProfileColorProperty instances, but realized that `gravityAndOrbits.global.view.colorProfileProperty` is the only thing under `global` (at least for gravity and orbits).  I wonder if it should be in `general` instead?  Also, it should `colorProfil

[2021-07-28 05:10] samreid commented on #1252
This looks like an elegant and correct solution. I tried to set up a case where pairwise swapping ends up with the wrong answer, but it doesn't seem possible.  Think of it this way--looking at child `n0` first, it will be swapped to its correct spot and never disturbed again, so it is guaranteed to be correct.  It may move some other node to the wrong spot, but that will eventually be corrected by

[2021-07-28 06:26] samreid commented on #1257
To understand this better, I moved a color that is only used once from GasPropertiesColors.js to its usage site.  I also added a Tandem, so we could see how that pattern could work.  This is not working code (since it uses Tandem.COLORS which won't exist until https://github.com/phetsims/scenery/issues/1251 is further along), but it is an exploratory idea to understand the pros and cons of a patte

[2021-07-28 12:08] zepumph commented on #1251
Every sim now has one, so I believe you should put it in general. I think it's very unlikely we will feature it. Once you do that, I'd just pass this issue to a designer to review the studio tree. Pick a sim that has an instrumented color Property.

[2021-07-28 12:16] zepumph commented on #1252
Anything else?

[2021-07-28 12:27] zepumph commented on #1251
In https://github.com/phetsims/scenery/issues/1257#issuecomment-888046973 you mention `Tandem.COLORS` pointing to this issue, but I see no reference of that here. If you do intend on having a central place in the Tandem tree that houses all colors, then maybe `global` is the correct spot for this. I had thought we were moving to a pattern where colors were were to be added to the tandem tree where

[2021-07-28 12:34] zepumph commented on #1257
Can we please keep the PhET-iO-related conversation to https://github.com/phetsims/scenery/issues/1251, I'm getting confused.

Yes, I agree with this, but I also understand that there is precedent about how colors have been set up thus far. To mandate that they are integrated for all existing usages may be a cost we aren't interested in doing, for not much gain.

From PhET-iO designers, colors hav

[2021-07-28 12:35] zepumph commented on #1257
Agreed, and this was also decided on in a meeting of some sort.

[2021-07-28 13:24] samreid commented on #1257
Being able to pass appropriate Tandems into ProfileColorProperties was used as an argument against putting ProfileColorProperties in files where they are used, but it has been demonstrated how to do that without a problem as long as (a) the colors remain static and (b) the tandems are kept together.

Good point, I am not excited about incurring the cost of moving all colors for existing sims.  But

[2021-07-28 13:29] samreid commented on #1252
Looks great, thanks!  Closing.

[2021-07-28 13:29] #1252 closed

[2021-07-28 13:38] samreid commented on #1251
Thanks, after reading this documentation in Tandem I see that `general` is appropriate for these sim-specific colors:

[code]

By that logic, it seems like `general.view.colorProfileProperty` is correct since every sim has one.  Is it unfortunate that the `colorProfileProperty` is so far away from the colors? (one in general and others in global)?  Maybe that is OK.

As described in https://github

[2021-07-28 13:43] zepumph commented on #1257
especially "pass appropriate Tandems"

It seems like we have a different definition of this. Where is the paper trail that says we prefer `sim.global.colors.xColorProperty` to `sim.simScreen.view.x.colorProperty`. Especially when the ProfileColorProperty is defined in `X.js`?

I think 6 hours is a low-ball estimate, many colors will be used by multiple things, and it may not be obvious to non-resp

[2021-07-28 13:48] zepumph commented on #1251
I feel this seems antithetical to the primary points we (@samreid and @zepumph) are making over in https://github.com/phetsims/scenery/issues/1257. We want to prefer putting colors in the spots they are used. If they are declared statically, then they probably just belong in a constants collection or something. Wouldn't it be based on sim-specific needs? `Tandem.COLORS` assumes that in every sim t

[2021-07-28 14:02] samreid commented on #1251
@zepumph and I discussed, and agreed:

* `colorProfileProperty` should move to `general` since it appears in every sim.
* Sim colors should be in global, since they are sim specific.
* We will go with `Tandem.COLORS = Tandem.GLOBAL_VIEW.createTandem('colors')`

[2021-07-28 14:28] pixelzoom commented on #1257
Imo, there's close to zero value in moving colors from (e.g) MySimColor.js to their usage sites.

Putting colors where they are used makes a lot of sense in common code.  E.g. it would be preferrable to have static colors in BicyclePumpNode.js, rather than in SceneryPhetColors.js.

For the reasons that @samreid has mentioned, colors at usage sites should be static to the file, not instantiated per

[2021-07-28 14:29] samreid commented on #1257
@zepumph and I discussed this:

* There is already a precedent where not all of the colors are supposed to be in the sim Colors.js file, so it was never meant to be complete anyways (nor should it be).  For instance, MOLARITY/BeakerNode has `const TICK_COLOR = Color.GRAY;` and that doesn't need to be in the Colors.js file.
* We like the idea that when you want to see when the color of ElectronNode

[2021-07-28 14:31] pixelzoom commented on #1257
Again, I see no reason to require that a color be used in multiple files. If that's a hard requirement, I'm not willing to accept this proposal.

[2021-07-28 14:33] pixelzoom commented on #1257
I'm sure that @jonathanolson has good reasons for putting all of these colors in areaModelCommonColorProfile.  There are legitimate reasons other than "reused" for putting sim-specific colors in one place.

[2021-07-28 14:40] samreid commented on #1257
Sounds good to me.

ProfileColorProperty names must be unique, so declaring one in a constructor would throw a runtime assertion.  For instance, I test drove this with this patch:

<details>

[code]

</details>

And the assertion message was:

Is that good enough, or do you recommend something further in the CRC?

Thanks, I don't want to institute a decision that will hamper your workflow, that's

[2021-07-28 14:57] pixelzoom commented on #1257
If there's 1 instance of a class, that assertion has zero chance of detecting this problem.  The lucky person who creates the 2nd instance will have to deal with it.

Reasons why I prefer putting sim-specific colors in RepoColors.js:

* I don't have 2 different patterns to deal with. Should I look for the color at its usage site or in RepoColors.js?
* I don't have to move a color from its usage si

[2021-07-28 15:01] pixelzoom commented on #1257
Another reason:

* I don't end up with some of a class' colors defined in the class file, and some in RepoColors.js. Using your ElectronNode example, what if positiveColorProperty is only used in ElectronNode, but negativeColorProperty is used in > 1 place.  In such a case, I think it's preferrable to keep positiveColorProperty and negativeColorProperty co-located.

[2021-07-28 15:02] pixelzoom commented on #1257
Another reason:

* I don't want to end up with some of a class' colors defined in the class file, and some in RepoColors.js. Using your ElectronNode example, what if positiveColorProperty is only used in ElectronNode, but negativeColorProperty is used in > 1 place.  Your proposal puts positiveColorProperty in ElectronNode.js, and negativeColorProperty in RepoColors.js.  In such a case, I think it'

[2021-07-28 15:17] pixelzoom commented on #1251
Is the tandem strucuture flat for colors, all elements appearing under `global.colors`?   Or is it hierarchical, with colors grouped under components?

Suppose that we have default colors for Slider, defined as static ProfileColorProperty instances in Slider.js.  Which of these did you have in mind?

[code]

(3) makes the most sense to me.  It also avoid name collisions. For example, what if I hav

[2021-07-28 15:26] pixelzoom opened #1259 "Requiring ProfileColorProperty names to be unique is problematic."
In https://github.com/phetsims/scenery/issues/1257#issuecomment-888366271, @samreid said:

I agree that the names need to be unique.

But this name must be unqiue across ALL repos. That seems like a big problem.  I'm going to add a new ProfileColorProperty, to common code or my sim. How do I verify that I'm choosing a unique name? Run all sims to find out? And I need to do this every time I add a

[2021-07-28 15:36] pixelzoom commented on #1251
For instances that are defined in sim-specific RepoColor.js, I think we also need a convention that prevents namespace collisions with colors in other repos.  Maybe something like this:

`global.colors.{{REPO}}.*Property`

e.g.

`global.colors.fourierMakingWaves.panelFillProperty`

I really don't want to have to rename `panelFillProperty` to something ugly/verbose in order to avoid name collision.

[2021-07-28 15:41] pixelzoom commented on #1251
Also note in the above example that I've had to duplicate `fourieMakingWavesPanelFillProperty` three times.  ProfileColorProperty name and tandem name both have the same "uniqueness" requirements. Maybe we should ditch name, use the tandem name, and require all ProfileColorProperty to be instrumented if we want them to show up in ColorEditor?

[2021-07-28 15:47] pixelzoom commented on #1259
Looking ahead...  As the number of ProfileColorProfile instances grows, Color Editor is going to become unusable if the structure is flat -- the same way that the Studio tree would be unusable if it were flat.  We'll need some sort of structure/hierarchy in order to "collapse" things we're not interested in.  For example, if the designer is only interested in sim-sepcific colors, they should be ab

[2021-07-28 16:16] pixelzoom commented on #1259
Discussed briefly with @samreid on Zoom.  The general idea that we dicussed was:
* delete the `name` parameter to ProfileColorProperty
* use tandem name to provide structure and enforce uniqueness of names
* use Studio for editing colors
* delete Color Editor

The obvious issue with this idea is that colors will only be editable if they are instrumented. And not all sims are instrumented.  So we'l

[2021-07-28 20:12] samreid commented on #1251
The last few comments have apparently been moved to related issue https://github.com/phetsims/scenery/issues/1259

[2021-07-28 20:40] samreid commented on #1257
@pixelzoom and I discussed this further, another aspect not mentioned above is that the Constants.js and Colors.js files are a nice place to "fine tune" the simulation. For instance FMWConstants has:

[code]

this is only used in one place, but it's still nice to have it in the constants file since it parameterizes the overall behavior of the simulation.

We also agreed that there are numerous col

[2021-07-28 22:32] samreid commented on #1251
I addressed the recommendations from https://github.com/phetsims/scenery/issues/1251#issuecomment-888334900, @zepumph can you please review?  The subsequent comments will be addressed in https://github.com/phetsims/scenery/issues/1259

[2021-07-28 22:33] samreid commented on #1259
Let's discuss this on Thursday, unassigning until then.

[2021-07-29 14:02] zepumph commented on #1251
All looks good to me. Thanks

[2021-07-29 15:22] jessegreenberg commented on #1256
Initial commit made above, would like to add some tests for this.

[2021-07-29 15:51] jessegreenberg commented on #1256
Tests added in https://github.com/phetsims/scenery/commit/2510201104f589e60d84242601141c78306073b1. In https://github.com/phetsims/scenery/commit/38959d2c6b2d1588adb7d38750fa50ce9d477f52 I changed the usages of `className` in scenery to `classList` so that it is added instead of totally overridden. These usages probably wouldn't have caused problems but this is more consistent/safer.

I did some t

[2021-07-29 16:12] samreid commented on #1259
Moving comments from @pixelzoom  from https://github.com/phetsims/scenery/issues/1251#issuecomment-888396151

@pixelzoom said:

Is the tandem strucuture flat for colors, all elements appearing under `global.colors`?   Or is it hierarchical, with colors grouped under components?

Suppose that we have default colors for Slider, defined as static ProfileColorProperty instances in Slider.js.  Which of

[2021-07-29 16:12] samreid commented on #1259
@pixelzoom said:

I'd like to see a convention something like this for instances that are defined at usage sites:

`global.colors.{{CLASS_NAME}}.*Property`

e.g.:

`global.colors.Slider.defaultThumbFillProperty`

But that's even problematic, because class names are not unique across all repos. Maybe this?

`global.colors.{{REPO}}.{{CLASS_NAME}}.*Property`

e.g.:

`global.colors.sun.Slider.defaultT

[2021-07-29 16:12] samreid commented on #1259
@pixelzoom said:

[2021-07-29 16:49] zepumph commented on #1256
Looks really nice to me. the `option` paradigm is to support behavior functions, and so right now we don't support that with classLists. That seems fine to me, so I removed the option.

Nothing else here provided that you confirmed that this is successfully adding the class you need it to over in https://github.com/phetsims/a11y-research/issues/158

[2021-07-29 17:20] samreid commented on #1259
From today's design meeting:

@pixelzoom: we should not support a flat structure going forward.  There is also opportunity for name collisions, and we have to specify the names twice independently.
@kathy-phet: We do not want all colors to appear in studio, as they do in the Color Editor.  Most colors should not be phet-io instrumented.

Maybe we will have to stick with the current pattern for now

[2021-07-29 17:35] pixelzoom commented on #1259
A clarification...  I said we should not do anything that precludes a hierarchical structure going forward.  If we can support a hierarchical structure, we can support a flat structure.   And a hierarchical structure is relevant to the Color Editor only - it's essential to avoiding namespace collisions.

[2021-07-29 21:14] zepumph commented on #1253
Sounds good to me! We moved in a different direction for https://github.com/phetsims/joist/issues/681 anyways. Reverted. Closing

[2021-07-29 21:14] #1253 closed

[2021-07-31 19:47] samreid commented on #1251
Thanks, closing.

[2021-07-31 19:50] samreid commented on #1259
Unassigning and adding a 6 month reminder on my personal calendar to re-evaluate (if it hasn't been requested before then).

[2021-07-31 23:49] pixelzoom commented on #1259
Requesting that this be reevaluated now.  Imo it's a mistake to defer addressing this until it becomes a problem. A developer will either need to address it when they hit a name collision, or (more likely) use a non-optimal color name to avoid the name collision.

This could be addressed relatively easily now by changing the constructor signature of ProfileColorProperty to:

[code]

[2021-07-31 23:56] pixelzoom commented on #1259
For now, ProfileColorProperty can just take `repoName` and `colorName`, and concatenate them, with a separator, and register that with colorProfilePropery.  Recommended to use the '.' separator, like tandems.

[2021-07-31 23:58] samreid commented on #1259
How would you like to factor out the repoName in simulations?  A repo-specific ColorProfileProperty subclass?

[2021-08-01 00:07] pixelzoom commented on #1259
Rather than `@param {string} repoName`, let's use `@param {Namespace} namespace}`.  Then in ProfileColorProperty:

[code]

I would be fine with (e.g. in FMWColors.js):

[code]

[2021-08-01 00:20] pixelzoom commented on #1259
I prefer using `@param {Namespace} namespace}` instead of `@param {string} repoName` because:
* Every .js (expept main.js) has a Namespace import
* It avoids the questions of `repoName` format -- is it 'fourier-making-wave' or 'fourierMakingWaves'?
* It avoid potential typos like 'foueir-making-waves'.

And yes, this API may need to change a some time in the future.  But it avoid name collisions b

[2021-08-01 00:32] pixelzoom commented on #1259
A developer could easily create a repo-specific  ColorProfileProperty subclass, e.g:

[code]

But I don't think that's necessary. Namespace is conveniently an import in every .js file (expect main.js). I don't think it's worth having a subclass just to avoid 1 constructor param.

[2021-08-01 00:44] pixelzoom commented on #1259
Here's a patch that was tested with FMWColors.js.  Note the "TODO" for `this.name` in ProfileColorProperty.

<details>
<summary>Patch</summary>

[code]

</details>

Here's how Color Editor looks for Fourier:

<img width="1031" alt="screenshot_1117" src="https://user-images.githubusercontent.com/3046552/127755592-0a33bb56-a276-444c-a760-4cfadf6d4837.png">

[2021-08-02 18:45] jessegreenberg opened #1260 "Components that use positionInPDOM are not clickable with JAWS"
Discovered in https://github.com/phetsims/john-travoltage/issues/442.

We have code that is preventing certain events from being dispatched with scenery when sent from a user agent. It is no longer working for JAWS. Specifically, we have code like this to prevent dispatching pointer events:

[code]

And we also have this code to prevent `click` events when they happen immediately after a pointer e

[2021-08-02 18:47] jessegreenberg commented on #1260
If I just remove
[code]
 from `upEvent` and `downEvent`, everything seems to work with JAWS.

[2021-08-03 15:27] jessegreenberg commented on #1258
Changes look great, thanks for fixing this and sorry for the hastle!

[2021-08-03 15:27] #1258 closed

[2021-08-03 15:51] pixelzoom opened #1261 "Confusing assertion messages in Line invalidateLine"
I ran into this while debugging https://github.com/phetsims/fourier-making-waves/issues/115.

In Line.js:

[code]

One of these assertions is failing in Fourier.  There's no rectangle involved in the Fourier, so the assertion message made this a little confusing. I'm guess that this is a copy-paste error from someplace else in scenery, and the messages should say "A line ...".  But I'm not 100% ce

[2021-08-03 16:14] jessegreenberg commented on #1260
If I move the setting of `upTimeStamp` into `upEvent` after the `isTargetUnderPDOM` check, everything seems to be working in JAWS, NVDA, iOS VoiceOver and macOS VoiceOVer.

@zepumph there is a comment about setting the `upTimeStamp` in `pointerUp`

Is there any way we can move this workaround into work done by the action to resolve this issue?

[2021-08-03 16:43] jonathanolson commented on #1261
Handled above, sorry about that!

[2021-08-03 16:43] #1261 closed

[2021-08-03 18:42] jessegreenberg commented on #1260
Alternatively, I guess we can wrap the setting of `upTimeStamp` with a check for `isTargetUnderPDOM`.

[2021-08-04 14:39] jessegreenberg commented on #1260
Good point, it looks like `upTimeStamp` set was specifically moved out of `upEvent` in https://github.com/phetsims/scenery/commit/a3fcc3f197b95cbb0f37a18c8dae2c06002af9e9.

[2021-08-04 20:54] jonathanolson commented on #1187
I just ran into this, can't pass a DerivedProperty in as TextProperty because of `setText` being called.

https://github.com/phetsims/scenery/issues/1187#issuecomment-820575213 mentions potentially expanding Text to take a string Property... we'd want to decide in that case whether that's effectively calling setTextProperty, or if it would work like a PaintDef with Paintable (e.g. a `Property.<str

[2021-08-04 23:02] pixelzoom opened #1262 "`brighterColor` fails if any RGB component of the target Color is 0."
`new Color( r, g, b ).brighterColor( 0 )` fails if any of the args to Color's constructor are `0`.

To demonstrate in a browser console:

[code]

According to the doc and assertions in Color.js, all of the arguments are valid in the above case that is failing.

I don't see a problem with any of these similar edge cases:

[code]

[2021-08-04 23:08] pixelzoom commented on #1262
There's a divide-by-zero problem in `brighterColor`:

[code]

And `0` is a valid factor:

[code]

[2021-08-04 23:13] pixelzoom commented on #1262
Ha, looks like I introduced this problem back in 2013, see 026a12fe5a5da543d886adc4923a9542df0c77ce.

Suggestions for how to reimplement while still remaining compatible with Java's implementation?

[2021-08-05 03:52] jonathanolson commented on #1262
Java only uses 0.7, from https://developer.classpath.org/doc/java/awt/Color-source.html. So adjusting the factor range for this method to not allow zero sounds best. Thoughts?

[2021-08-05 19:20] chrisklus commented on #1259
From 8/5/21 dev meeting:

We decided to move this to a sub team discussion with @samreid, @pixelzoom, and @zepumph.

[2021-08-05 19:21] samreid commented on #1259
I'll apply the changes above and update other sim occurrences.  We will keep the duplication for now, and not worry about tandems/etc.

[2021-08-05 21:16] pixelzoom commented on #1262
In java.awt.Color:

[code]
`BRIGHTNESS_SCALE is `darker`, but 0.7f is hardcoded in `brighter`.  Go figure...

I also don't see any "darker" or "brighter" methods in Java that take a factor, so I'm not sure how we're being Java compatible. So I guess 0.7f is the factor that is applied on every call to `darker` or `brighter`.

I see 10 uses of `brighterColor` in PhET code. Only 2 of them are using a

[2021-08-06 18:00] jessegreenberg commented on #1260
Discussed with @zepumph and we decided that wrapping the setting of upTimeStamp with a check for isTargetUnderPDOM is the best way forward for now. We confirmed that we should not move the setting of upTimeStamp outside of the work done by the Action.

To make things more clear, we are going to create a function like `canFirePointerEvent` or something, which will call `isTargetUnderPDOM`, and be u

[2021-08-06 22:40] jessegreenberg commented on #1260
I quickly found a new problem while applying this change and testing with NVDA. It looks like NVDA is now sending some touch events to the browser when activating thigs. As mentioned in https://github.com/phetsims/scenery/issues/1260#issuecomment-891250915 it sends lots of them. Activating the balloon in BASE sends mouse down events, mouse up events, touch start events and touch end events, and 8-

[2021-08-07 17:54] zepumph opened #1263 "Hide the PDOM from Display.foreignObjectRasterization() image"
I discovered this while testing changes made in https://github.com/phetsims/utterance-queue/issues/13 with the snapshot comparison which is now set up to test PDOM changes (since work in https://github.com/phetsims/aqua/issues/127). I noticed that the image looks something like this:

![image](https://user-images.githubusercontent.com/6856943/128609599-e9c87241-1eec-4051-b403-9be1e27cc488.png)

[2021-08-07 17:56] zepumph commented on #1263
Here is what things look like now that I fixed it:

![image](https://user-images.githubusercontent.com/6856943/128609645-7d150f03-c6da-4c76-aac2-05358e276140.png)

@jonathanolson can you please review. Feel free to close.

[2021-08-08 14:22] zepumph opened #1264 "Best way to fuzz only voicing mode"
This is a bit similar to the idea in https://github.com/phetsims/chipper/issues/1042, I have found it hard to fuzz the sim to test voicing, because there are so many ways to turn it off.

1. The sim starts with it off (so you can use `voicingInitiallyEnabled`)
2. The "Sim Voicing" toggle switch must be disabled (VoicingToggleSwitch)
3. The nav bar global sound must be kept on (remove or disable?!?

[2021-08-09 15:13] jonathanolson commented on #1263
Looks great to me, thanks!

[2021-08-09 15:13] #1263 closed

[2021-08-09 19:31] jessegreenberg commented on #1260
The above commit adds this block for events whose target is an ancestor of the PDOM. Changes like this are disruptive and so I should do some thorough spot checking with this. I am going to test the following with each of our supported AT, because they have full description and a collection of UI components. Ill be checking to make sure I can activate every component in the UI.

- [ ] balloons-and

[2021-08-09 21:00] jessegreenberg commented on #1260
Tested everything in the above commit, including the ComboBox in RAP and PhET menu buttons. Will move this change into the release branch of john-travoltage.

Now I am pretty certain this will replace the
[code]
in `downEvent` and `upEvent` of Input.js. The next step in this issue is to remove those and then test list in https://github.com/phetsims/scenery/issues/1260#issuecomment-895484178 again.

[2021-08-09 22:25] jessegreenberg commented on #1255
I just played with the sim on an iPad Air 2 iOS 14.6 for about 10 minutes and Voicing never failed for me. I tried
- Enabling/disabling Voicing from Preferences several times
- Enabling/disabling "Sim Voicing" from the toolbar several times.
- Enabling/disabling all audio from the Navigation bar several times
- Playing with the sim with various verbosity settings.
- Closing the browser and opening

[2021-08-09 22:37] jessegreenberg commented on #1255
I just played with the sim on my iPhone 8 with iOS 13.6.1 doing the same procedures as https://github.com/phetsims/scenery/issues/1255#issuecomment-895592078. Voicing never stopped working.

[2021-08-09 22:45] jessegreenberg commented on #1255
Also, this sim with Voicing has now gone through a full RC cycle and none of the QA testers mentioned encountering this issue.

This issue was opened because of the 15 reports of Voicing not working in the user survey, shown in the details of the original issue ticket. I definitely believe that speech synthesis could just stop working on some platforms. But I also think it is possible some users i

[2021-08-09 22:58] emily-phet commented on #1255
@jessegreenberg All sounds reasonable to me. Let's proceed, and just expect that we'll hear of more issues as this feature is published if there is a specific platform related problem.

[2021-08-10 14:29] jessegreenberg commented on #1255
OK sounds good, thanks for reviewing. Closing this issue until we hear more and decide to investigate further.

[2021-08-10 14:29] #1255 closed

[2021-08-10 17:06] jonathanolson opened #1265 "SVGBlock memory leak through HighlightOverlay on new Displays"
The following code will create an SVGBlock, but never dispose it (and it leaks in some possible other ways):

[code]

[2021-08-10 23:19] pixelzoom opened #1266 "Hotkeys and their help content are duplicated and spread out."
I discovered this while working on adding a hotkey to keyboard help for Fourier in https://github.com/phetsims/fourier-making-waves/issues/93.  MAL was used as the model for doing this.  What I see is that the help content for a hotkey is not at all related to the actual implementation of a hotkey, so the info for a hotkey is spread out and duplicated.

An example from MAL.

MAL has keyboard help

[2021-08-11 18:28] zepumph commented on #1187
I believe that I recommended the solution in the patch in https://github.com/phetsims/scenery/issues/1187#issuecomment-806039195 for this case. We need a way to tell Text to not call setText. I said `null` would work, but perhaps there is a better way to opt out in the Text constructor.

[2021-08-11 22:37] zepumph opened #1267 "VoicingUtteranceQueue improvements"
@jessegreenberg and I saw two spots that could use minor optimization.

when the voicing utteranceQueue is disabled, we want to clear the queue. Otherwise all previous responses will just wait there and be the first to be announced when next enabled, even if not enabled again for 10 minutes. We decided this shouldn't be for the voicing feature in general, just for PhET's implementation (so in jois

[2021-08-11 22:38] zepumph commented on #1267
All set here @jessegreenberg, thanks for the consult.

[2021-08-11 22:42] #1267 closed

[2021-08-12 14:07] zepumph opened #1268 "VoicingManager.announc() has no guard on initialized"
While working on https://github.com/phetsims/utterance-queue/issues/14#issuecomment-893094034.

I see that this could fire even when not initialized. @jessegreenberg is that as intended, or should we have a guard?

https://github.com/phetsims/scenery/blob/6a74364bde3c7953e019ef805bd89f372d2fa24b/js/accessibility/voicing/voicingManager.js#L199-L222

[2021-08-12 22:56] zepumph opened #1269 "VoicingManager.speak should always work"
@jessegreenberg mentioned to me today while discussing https://github.com/phetsims/utterance-queue/issues/18 that voicingManager.speakImmediately is just implemented to support the first time voicing will be spoken. This needs to be synchronous.

@jessegreenberg will do the following:

* Delete speakImmediately
* Replace usages with UtteranceQueue.announceImmediately.
* Update VoicingManager.speak

[2021-08-13 16:23] KatieWoe opened #1271 "Zooming while dragging something is broken."
**Device**
iPad 6th Gen
**OS**
iPadOS 14
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/qa/issues/688. When zooming in or out with pinch to zoom, if your finger starts on the toggle switch for the electric field, the zoomed in screen's position will jump down to the bottom right seemingly at random.
**Visuals**

https://user-images.githubusercontent.com/41024075/1293895

[2021-08-13 18:11] zepumph opened #1270 "Voicing Properties should get basic PhET-iO instrumentation"
Especially when thinking about upcoming work to be done in Greenhouse Effect to support a11y+iO features, we should make these Properties instrumented. I am finding it hard to test certain things because something like voicingManager.enabledProperty is not instrumented, so it doesn't transfer its state.

Most recently it was from trying to test https://github.com/phetsims/utterance-queue/issues/22

[2021-08-14 22:08] jessegreenberg commented on #1256
Thanks for reviewing! I confirmed that it is working for the first case we needed it in GFL:B for https://github.com/phetsims/a11y-research/issues/158 and https://github.com/phetsims/gravity-force-lab-basics/issues/289
![image](https://user-images.githubusercontent.com/6396244/129461273-c638a08f-fcf0-49bf-baee-a330f08fc28d.png)

Closing.

[2021-08-14 22:08] #1256 closed

[2021-08-16 18:21] pixelzoom commented on #1271
Assigning to @jessegreenberg to investigate.  I don't know what the priority of this is.  I suspect that several sims will require a maintenance release, since this problem is present in all recent production deploys.

[2021-08-17 16:48] zepumph opened #1272 "Assert that connectedDisplays exist when using description utteranceQueue."
Perhaps like this

[code]

[2021-08-17 16:49] zepumph opened #1273 "Rename Display.utteranceQueue to Display.descriptionUtteranceQueue"

[2021-08-17 16:49] zepumph commented on #1273
Tagging https://github.com/phetsims/utterance-queue/issues/13

[2021-08-17 16:49] zepumph commented on #1272
Tagging https://github.com/phetsims/utterance-queue/issues/13

[2021-08-17 17:03] zepumph commented on #1272
Implemented above.

[2021-08-17 17:03] #1272 closed

[2021-08-17 17:04] zepumph commented on #1273
This will be much easier after usages of the global decrease in https://github.com/phetsims/utterance-queue/issues/13. Putting on hold.

[2021-08-17 22:08] jessegreenberg commented on #1270
Can you describe why we want these Properties to be instrumented? I don't think we have considered the Voicing + iO overlap yet. I am not sure how Voicing might be used by a PhET-iO client or what they might do with Voicing Properties. Greenhouse Effect will only include Interactive Description, it won't include Voicing features.

[2021-08-18 00:22] jessegreenberg commented on #1269
I was working on this but remembered there are rare cases where we still need to speak when voicingManager is disabled. It is actually documented here https://github.com/phetsims/scenery/blob/4d2b0fba53748ba691743fca43ca5b5dcf65a052/js/accessibility/voicing/voicingManager.js#L290-L291

I think everything else recommended in https://github.com/phetsims/scenery/issues/1269#issue-969713440 is general

[2021-08-18 18:38] jessegreenberg commented on #1269
This was done in the above commits. @zepumph can you please review? The comment above meant I had to change course a little bit since I could not always use `utteranceQueue.announceImmediately`. But I still removed `voicingManager.speakImmediately` and replaced it with `voicingManager.speakIgnoringEnabled` for these particular cases.

[2021-08-18 18:50] jessegreenberg commented on #1268
The guard is made in `speak` so it isn't really necessary now but maybe it will cover things in the future if announce gets more complicated. I don't think there is nay harm in adding it and it will save us an unecessary merge.

[2021-08-18 18:53] jessegreenberg commented on #1268
Done in the above commit, I tested a few usages to make sure it was OK. Feel free to reopen if you wish @zepumph

[2021-08-18 18:53] #1268 closed

[2021-08-18 19:03] jessegreenberg commented on #1271
I was able to see the bug on my machine. This is happening when dragging gets interrupted by a zoom gesture but the target of the zoom is a root Node of the scene graph. In this case the root Node has bounds which are much larger than the displayed bounds because of the Sim's BarrierRectangle. The AnimatedPanZoomListener is trying to pan to the center of the root Node which is far down and to the

[2021-08-18 19:39] jessegreenberg commented on #1271
The above commit should fix the issue, I have not been able to reproduce the problem with this change. I expected this to be a problem for almost all sims published with pan and zoom so far but I haven't been able to see it in published colision-lab or CCK sims. But at worst it will be this collection of sims: https://phet.colorado.edu/en/simulations/filter?a11yFeatures=zoom-and-magnification&sort

[2021-08-18 21:13] jessegreenberg commented on #1271
I believe that this bug has generally always been possible but was made noticeable after 7e12d661bff6bfc6a5637493672ce3bb0f007ceb for https://github.com/phetsims/scenery/issues/1191. I used the automated maintenance process to generate this list of publications that have happened since that change:

[code]

I checked in with @emily-phet and @kathy-phet and they agreed that it is not worth doing a

[2021-08-18 21:59] jessegreenberg commented on #1271
Reviewed and discussed with @jonathanolson - Regarding the batch MR process, it is possible to use it through the various steps as is necessary for the use case. For example, you can go all the way to creating and testing RC's but skip the production deploy step. Or you can apply maintenance patches but skip the step to create RCs. The changes will then be picked up the next time a maintenance RC

[2021-08-19 15:04] jessegreenberg commented on #1271
@kathy-phet requested to bring up during developer meeting to review the MR process and what the options are for these kinds of issues.

[2021-08-19 17:54] samreid commented on #1181
The request from @pixelzoom sounds reasonable to me, unless @zepumph had something else in mind.  @zepumph can you please recommend how to proceed?

[2021-08-20 18:18] #1227 closed

[2021-08-20 22:18] samreid commented on #1259
I added the Namespace parameter to ProfileColorProperty and marked ProfileColorProperty.name as private to the file.  @pixelzoom would you like to review?

[2021-08-20 23:12] zepumph commented on #1181
Sounds good to me! I'll add it.

[2021-08-22 14:19] pixelzoom opened #1276 "Weird behavior on Firefox with small window while dragging."
For https://github.com/phetsims/qa/issues/692, reported by @brooklynlash via Slack DM. She said:

![graphingquadfirefox](https://user-images.githubusercontent.com/3046552/130358421-6322fa89-48e6-4d75-b50e-995c0e5b72b5.gif)

[2021-08-22 19:22] pixelzoom commented on #1259
I reviewed changes to ProfileColorProperty.js, how it looks in FMWColors.js, and took Color Editor for a test drive.  Looks nice! Closing.

[2021-08-22 19:22] #1259 closed

[2021-08-23 19:53] zepumph commented on #1269
From this work, it seems like there are two cases that were using `voicingManager.speakImmediately`, and it seems nice to me that each of those are using their own implementations now, that are better documented as to their purpose.

Thanks for doing this work.

For the implementation of UtteranceQueue.announceImmediately, could you comment on the current implementation that doesn't add things to

[2021-08-23 20:57] jessegreenberg opened #1274 "Add support for customizing different kinds of highlights"
This is made necessary by https://github.com/phetsims/friction/issues/201 and https://github.com/phetsims/gravity-force-lab-basics/issues/287. But it is also something in general that should be supported.

We now have "focus" highlights and "interactive highlights". "Focus" highlights are highlights around the Node that has DOM focus. "Interactive" highlights are highlights around a Node that is c

[2021-08-23 21:21] jessegreenberg commented on #1274
The above commit added setters for Interactive Highlights, separate from focus highlights.

[2021-08-24 01:54] jessegreenberg commented on #1274
The above commit added a way to customize the highlight for ReadingBlocks when it they are activated.

[2021-08-24 01:57] jessegreenberg commented on #1274
This is done, but this issue was referenced as part of this and should be done before discussing review:
- Rename "Focus" and related references: https://github.com/phetsims/scenery/issues/1230

[2021-08-24 02:38] jessegreenberg commented on #1274
Also, I want to rename MouseHIghlighting to something more appropriate.

[2021-08-24 22:03] zepumph opened #1275 "Voicing empty strings?"
I noticed that it is possible to send off an empty alert to voicing, if the responesCollector Properties are not enabled, and nothing is to be voiced, a blank alert will still go through. @jessegreenberg does this seem like a bug to you? This is easy enough to reproduce if you just turn off some checkboxes and use `?printVoicingResponses`.

![image](https://user-images.githubusercontent.com/685694

[2021-08-27 21:43] jessegreenberg opened #1277 "Rename MouseHighlighting.js"
When MouseHighlighting.js was created it was really only for highlights that would appear with mouse interaction. But it has extended now activate highlights with any pointer. I would like to rename this trait.  I think I will rename it InteractiveHighlighting.js as that matches the feature as we label it.

[2021-08-27 22:24] #1277 closed, assigned to jessegreenberg

[2021-08-28 15:47] samreid opened #1278 "branch: typescript"
From https://github.com/phetsims/chipper/issues/1069

[2021-08-30 17:32] zepumph commented on #1270
The main thought is in the ability to debug these parameters. I ran into a case where it was very hard to debug some iO + voicing features over in https://github.com/phetsims/utterance-queue/issues/17 and https://github.com/phetsims/utterance-queue/issues/22 because the sim isn't launched with the same preferences values. You are right that it is likely up to PhET-iO designers as to if these shoul

[2021-09-01 20:49] zepumph commented on #1273
It is time!

[2021-09-01 21:08] zepumph commented on #1273
@jessegreenberg, please spot check this issue, mostly so that you are aware of the change.

[2021-09-02 18:46] samreid commented on #1271
We discussed this at today's dev meeting: we think it is appropriate to create the batch of RCs, even if they are not tested or used.  This provides value because the MR process looks at the existence of RCs to see what the status is.

MK: Does the process look at published sim for un-MR'ed commits?
JO: That gets silenced by an RC.
SR: Is that a hack that uses RC creation to silence those un-MR'ed

[2021-09-02 19:24] zepumph commented on #1271
Added a commit above. Back to @jessegreenberg if there is anything else, and to confirm that we are in agreement.

[2021-09-03 19:41] jessegreenberg commented on #1271
Thanks for discussing during dev meeting while I was out! I reviewed the above comment and it makes sense. The added documentation at https://github.com/phetsims/perennial/blob/f57451b9720380ea2ab5fb94d204d2e639415d2d/doc/automated-maintenance-process.md#11-update-dependencies-maintenanceupdatedependencies makes sense to me.

If I had gotten to the `updateDependencies` step of the MR process I wou

[2021-09-03 19:41] #1271 closed

[2021-09-08 14:28] zepumph opened #1279 "rename getter to be idiomatic?"
https://github.com/phetsims/scenery/blob/59c6d8efd46d9e8410d1359831150d50750b880c/js/accessibility/voicing/Voicing.js#L474

Wouldn't we want this to be named `get voicingUtteranceQueue`?

[2021-09-08 15:10] zepumph commented on #1279
If it feels right, can you apply this untested patch?

[code]

[2021-09-13 20:46] zepumph commented on #1274
FYI: I reviewed https://github.com/phetsims/scenery-phet/issues/698, but I don't feel like I reviewed any part of this issue.

[2021-09-13 23:24] zepumph commented on #1275
Hey, I thought I'd ping this issue to see if there is anything I could do to help. It has been a bit distracting while working on https://github.com/phetsims/friction/issues/211, and I also want to do this so that once voicingManager has PhET-iO support (hopefully very soon over in https://github.com/phetsims/utterance-queue/issues/17), empty strings aren't leaking into the API. I'm happy to take

[2021-09-13 23:30] zepumph opened #1280 "Pattern tension between Voicing.speak* methods and Utterance ResponsePacket"
I wanted to have a discussion about these two patterns for implementing voicing, and if there are improvements to be made, or perhaps a single direction to go. I believe that both have been beneficial, but I wanted to double check that we were re-inventing the wheel to support both. `Voicing.speak*` methods came first, but didn't support responses outside of a Node context. In friction, I have had

[2021-09-13 23:37] zepumph commented on #1264
I had good luck with this patch:

[code]

[2021-09-13 23:41] zepumph commented on #699
@jessegreenberg, I wonder if we should close this issue. I don't see us adding anything more to pdomAudit. Seems alright to me to just close.

[2021-09-15 16:05] KatieWoe opened #1281 "Extra unwanted magnification when moving finger when zoomed in with iPadOS 15"
Found on iPadOS 15 Beta on 9/14/21.

When zoomed in to the sim, if you press your finger down and move it, it can create an additional magnification of the point under your finger. It isn't necessarily a bug, but it is different from previous behavior and may be distracting.

https://user-images.githubusercontent.com/41024075/133468534-0d7f625f-40d1-4521-af0b-69c94f402918.MP4

[2021-09-15 17:35] jessegreenberg commented on #1281
Interesting, thanks @KatieWoe. This is a new feature from Apple, not something we have added. I will see if there is any information about it, or if we have control over it.

[2021-09-15 17:39] jessegreenberg commented on #1281
I think it is this: https://www.theverge.com/2021/6/8/22524824/apple-ios-15-iphone-text-selection-magnifying-glass-reversal. After you release your finger do you see any selected text or a highlight like the one in https://github.com/phetsims/scenery/issues/1006? Or is there a menu that has "copy" to copy text?

[2021-09-15 17:43] KatieWoe commented on #1281
I didn't see either of those things, but I did only see this when zoomed in so far. If either of those things changes as I test I will let you know.

[2021-09-15 17:44] jessegreenberg commented on #1281
Hmm, so it doesn't appear at all when zoomed out?

[2021-09-15 18:17] KatieWoe commented on #1281
I didn't see it in that case yet, but I'm still looking and testing things

[2021-09-15 19:26] KatieWoe commented on #1281
Never mind, it does happen when zoomed out. Not sure why I wasn't seeing it before. Sorry about that.

[2021-09-15 21:31] zepumph commented on #1181
Added above. I was able to successfully test with this patch

[code]

This is the first visibleProperty in most sims. I also noted that when I regenerated an API, it removed this visibleProperty from the API.

@pixelzoom, sorry this is a bit late, but perhaps you would like to update your sim usage now. Over to you, feel free to close.

[2021-09-16 17:57] jessegreenberg commented on #1281
If this is related to text selection, I would have thought it would be disabled for PhET sims because of `text-selection: none` attribute which we use for all sims.
![image](https://user-images.githubusercontent.com/6396244/133651571-d0b17c4a-707d-4792-8430-3071b7eb25b8.png)

I am curious if this is happening in other interactive contexts outside of PhET, like google maps or something.

[2021-09-16 18:44] KatieWoe commented on #1281
I tried a few. I didn't see it in google maps, but I did see it over youtube videos. I'm not sure what else to test, but if you have ideas let me know.

[2021-09-16 20:17] chrisklus opened #1282 "Order available voicingManager voices by priority"
I'm using the `voicingManager` for the SpeechSynthesisButton in Number Play, and recently noticed that the current voice being used on my machine (MacOS + Chrome) was different (and less desirable) than a few weeks ago.

I looked at the available voices in `voicingManager.voices` and found that all the same ones that I remember were there, they were just in a different order (Google's voices used

[2021-09-16 21:10] jessegreenberg commented on #1282
@chrisklus helped me look into this. There is a `default` property on Voices, and according to the spec it behaves like

We tested out changing the default OS voice and seeing how it impacted the default voice for the browser. On my Windows 10 machine changing the OS voice had no impact on the default voice in Chrome, even when I fully restarted Chrome. But on @chrisklus Mac changing the default s

[2021-09-16 21:48] jessegreenberg commented on #1282
A basic function was done in the above commit to prioritize "Google" voices.

I asked the Voicing team on slack whether something like this should be used for Voicing.

@chrisklus will this function work for number-play for now?

[2021-09-16 22:02] jessegreenberg commented on #1281
OK, thanks @KatieWoe . I don't see any attributes in google maps like `user-select: none`, perhaps it isn't happening there because the map graphic is using `<canvas>`.

Also, this behavior isn't really related to pan and zoom, the feature shows what is directly under your finger so it is not occluded during interaction. This could be a good thing as long as there aren't other side effects. But it

[2021-09-16 22:05] emily-phet commented on #1281
Hmm - I think it would be ideal if we had the ability to disable this feature. Since we have a pan and zoom feature, this extra zoom is not needed and could indeed be distracting to learners. It looks like @jessegreenberg you took a little time to see if there was a way to selectively disable it and didn't seem like you found something obvious.

I don't think it's worth any more time to address, b

[2021-09-16 22:18] kathy-phet commented on #1281
I agree if there is a way to disable it, that would be good. But if you cannot disable it, I don't think its worth pursuing a fix at this time.

[2021-09-16 22:25] jessegreenberg commented on #1281
OK thanks, that makes sense @emily-phet. Just in a quick search I found https://stackoverflow.com/questions/923782/disable-the-text-highlighting-magnifier-on-touch-hold-on-mobile-safari-webkit which recommends `webkit-user-select: none`. This section of Display.js should be preventing this already:
https://github.com/phetsims/scenery/blob/a93bdc897bedc7906d1d434ca7dac64456d2ee80/js/display/Display

[2021-09-16 22:33] jessegreenberg commented on #1280
Thanks for making this issue, I have been wondering about this as well. Looking at GFL:B and Friction, I think that the node centric methods work well for ReadingBlocks and ResponsePacket Utterances work for most other things. I think I would like to try out using ResponsePacket with Utterance.alert before commenting more. In particular, I want to practice re-instrumenting Voicing in john-travolta

[2021-09-16 23:18] jessegreenberg commented on #1280
This is very rough and not thoroughly tested, but a pass at replacing Node functions with UtteranceQueue + ResponsePacket in JT

<details>

[code]
</details>

For several places, using UtteranceQueue + ResponsePacket is preferable. For example, the changes to ElectronLayerNode. Previously I was setting the `voicingContextResponse` on the ElectronLayerNode just to immediately follow with `voicingSp

[2021-09-17 17:05] jessegreenberg commented on #1275
This was done for Voicing in the above commit by preventing speech or events if the string to speak is empty. But I also realized that this could happen for the descriptionUtteranceQueue if an empty string is added to it. I verified the `announcingEmitter` of AriaHerald will emit for an empty string.

I tried to do use `Utterance.getAlertText`  in `UtteranceQueue.attemptToAnnounce` to prevent `ann

[2021-09-17 17:07] jessegreenberg commented on #1279
Yes, you are totally right. Applying the patch and will update usages of the getter.

[2021-09-17 17:19] jessegreenberg commented on #1279
Patch applied, and it looks like that is the only usage. I did some testing in a friction and john-travoltage to make sure all was well.

[2021-09-17 17:19] #1279 closed

[2021-09-17 19:03] zepumph opened #1283 "Voicing.js to run on ResponsePacket"
Over in https://github.com/phetsims/scenery/issues/1280, @jessegreenberg and I saw that ResponsePacket and Voicing.js were doing the same thing, but duplicated. With a minor refactor, Voicing can run on ResponsePacket to hold its responses and options. This will help in the understanding that ResponsePacket is the central way to split out voicing levels across the entire feature.

[2021-09-17 19:04] jessegreenberg commented on #1280
@zepumph and I discussed this today. We came to an agreement that for better and worse the structure of Voicing.js was inspired by ParallelDOM.js. In some ways that is helpful because you can assign responses to graphical objects that already exist. But there often is not a need to associated Voicing with the scene graph. Overall we like the ability to set responses as a Property for reuse on a No

[2021-09-17 19:04] #1280 closed

[2021-09-17 19:31] zepumph commented on #1264
@jessegreenberg had the great idea to just check if fuzzing is occurring, and do this logic automatically. I couldn't agree more! Committed above.

[2021-09-17 19:31] #1264 closed

[2021-09-17 22:00] zepumph commented on #1275
Announcer.respectResponseCollectorProperties is now part of the interface, so we can use that from UtteranceQueue. Over in https://github.com/phetsims/utterance-queue/issues/20 we will get rid of array-supported alerts, and as a result `numberOfTimesAlerted`, which means also the side effects of asking for the alert. Then `getAlertText` will become public for all to use. I'll go ahead and mark it

[2021-09-17 22:13] zepumph opened #1284 "Usages of document.activeElement should use FocusManager"
Over in https://github.com/phetsims/phet-io/issues/1748 @jessegreenberg are pretty sure that using document.activeElement does not work with PhET-iO well at all. Since playback is only powered from the actions in Input.js, many times the activeElement may not reflect the internal focus of the simulation.

It would be good to try to remove usages of document.activeElement in sim code, and to potent

[2021-09-17 22:18] zepumph commented on #1284
There are still some TODOs attached to this issue, and we weren't able to get all conversions in place. I think this is once place to start next time I work with @jessegreenberg.

[2021-09-17 23:13] pixelzoom commented on #1181
👍🏻 closing.

[2021-09-17 23:13] #1181 closed

[2021-09-20 16:52] jessegreenberg commented on #1275
That is really great, thanks! I reverted my commit above and verified yours is working well. Anything else you would like to do here?

[2021-09-20 16:58] jessegreenberg opened #1285 "KeyboardDragListener doesn't interrupt on blur"
I noticed that the KeyboardDragListener doesn't interrupt itself on blur which is surprising to me. I am using one without a GrabDragInteraction in quadrilateral and tabbing away from the Node while movement keys are down result in the pressed keys staying in the `keyState` array. This isn't a problem for GrabDragInteraction because of these lines
https://github.com/phetsims/scenery-phet/blob/0309

[2021-09-20 17:00] jessegreenberg commented on #1285
Fixed in the above commit, @zepumph is this change OK with you?

[2021-09-20 17:30] zepumph commented on #1285
I can't think of any reason that would be bad. Thanks!

[2021-09-23 15:43] zepumph commented on #1284
I created https://github.com/phetsims/joist/issues/748, but it is possible that we need a larger issue to discuss getNextFocusable() in general, and handle all usages.

[2021-09-23 19:27] zepumph commented on #1187
Ping on this, as we talked about supporting passed-in DerivedProperties to Node, I think we should sprint on this or it will never be done.

[2021-09-23 20:30] pixelzoom commented on #1187
Based on https://github.com/phetsims/scenery-phet/issues/563#issuecomment-918563873, I believe that there is a similar problem for `enabledProperty`.  Is there already an issue for that, or do we need to create one?

[2021-09-24 04:08] zepumph commented on #1187
After dev and phet-io meeting today, I felt very worried about this for enabledProperty as mentioned. @jessegreenberg and I worked in https://github.com/phetsims/scenery-phet/issues/563#issuecomment-926144825, looking into that case for about an hour. I feel confident that there is not a general issue with enabledProperty, and that that case was specific to the usage in TimeControlNode.

[2021-09-24 05:35] zepumph opened #1286 "Lots of extra spacing in voicing responses"
I actually thought this issue was from https://github.com/phetsims/scenery/issues/1275, but I think that it actually deserves its own issue. I have found many responses that involve extra spacing that is incorrect, and only seem to be added because of responseCollector.

This assertion can help us understand the problem better in a larger scope:

[code]

@jessegreenberg, here is an example of this

[2021-09-24 05:39] zepumph commented on #1275
I don't seem to have this perfect just yet. There is a case that still yields this. Here is a patch to catch the case:

[code]

[2021-09-24 05:53] zepumph commented on #1275
Aha! I found the bug, respectResponseCollectorProperties is on announcer, not the queue. I had to update tests for this.

[2021-09-24 05:53] zepumph commented on #1275
Spot check @jessegreenberg?

[2021-09-24 21:12] zepumph opened #1287 "Voicing utterances should get a priority to determine if they cancel each other"
From https://github.com/phetsims/friction/issues/242, I came to @jessegreenberg needing a bit more control in how utterances are prioritized. Right now there is `cancelOther` and `cancelSelf`, which both recommend how to handle the case where "I" need to know if I should cancel what is being spoken now. What we are missing is a way to say "when I am speaking, no one can interrupt me".

@jessegreen

[2021-09-24 22:22] zepumph opened #1288 "voicingManager can skip an utterance"
While working on https://github.com/phetsims/scenery/issues/1287, @jessegreenberg and I found a bug in our assumptions about how utterances work through the "queue" to eventually end up being spoken by voicing. There are actually 3 queues for this feature, and our investigation really helped us understand this.

First we have the UtteranceQueue, once an utterance works its way through that async q

[2021-09-24 22:22] zepumph commented on #1287
Before tackling this issue, I think @jessegreenberg will need to sort out https://github.com/phetsims/scenery/issues/1288.

[2021-09-24 22:28] zepumph commented on #1287
We also talked about having constants so that we don't have `z-index:9999999` grossness creeping in to the project.

[code]

[2021-09-24 23:11] zepumph commented on #1287
Here is the basic structure of determining if we should cancel something with priority:

[code]

[2021-09-24 23:18] zepumph commented on #1288
OK. I didn't get far at all on this, but I did clean up the debugging code from the original bug investigation, and I added many TODOs with next steps. Basically from here I feel like we can fill in the TODOs with the three bolded tasks from the original issue.

<details>

[code]

[2021-09-24 23:20] zepumph commented on #1287
Here is a non accessible copy of some notes JG and I took in  a spreadsheet about the API.

![image](https://user-images.githubusercontent.com/6856943/134748755-910e18ba-a9df-4b23-8ec0-2b3704c450d6.png)

[2021-09-24 23:21] zepumph commented on #1288
Here are some bad notes I took with JG about some of the hard cases here.

<details>

[code]

[2021-09-27 18:41] chrisklus commented on #1282
Thanks @jessegreenberg!

I noticed that the existing sort was alphabetizing the remaining voices after prioritizing Google voices, so @jessegreenberg and I chatted on Slack about a fix. I pushed a commit above that appears to be fulfilling the behavior we would like. If a browser doesn't have Google voices but does have the system default first in the list, it will preserve that order.

I noticed

[2021-09-27 19:00] jessegreenberg commented on #1282
Thanks looks good, thanks @chrisklus. I tested in Chrome to verify that Google voices come first, then tested in Firefox and Edge to verify that order of voices stayed the same when there are no Google voices.

I don't see anything in the W3C spec about the order of the voices list (https://wicg.github.io/speech-api/#dom-speechsynthesis-getvoices). I don't think we can assume that the first in the

[2021-09-27 19:12] pixelzoom opened #1289 "Parts of the UI shift around while dragging something."
This has been reported for multiple sims, but I don't see a general scenery issue. Examples:

https://github.com/phetsims/geometric-optics/issues/213
https://github.com/phetsims/ph-scale/issues/226
https://github.com/phetsims/geometric-optics/issues/213

In ph-scale, we addressed this by adding `layerSplit: true` to a Node as a workaround.  We shouldn't have to do that, and I'm not keen on propaga

[2021-09-27 20:06] jessegreenberg commented on #1282
In my initial commit I noticed that 'Fred' was not at the bottom on macOS Chrome. To understand why I found examples at https://stackoverflow.com/questions/29829205/sort-an-array-so-that-null-values-always-come-last which demonstrate when you want to make sure something as at the front/end of a list using `sort` you have to specify the behavior for both values in the comparator function. So after

[2021-09-28 17:58] jonathanolson commented on #1289
I'm not able to reproduce https://github.com/phetsims/geometric-optics/issues/213 in macOS 11.5 (Chrome 93). Is there something I can reproduce currently?

Additionally, if it's something related to fitted layers (seems to be what happens a lot), I'm curious what our usage/support for older iPads (e.g. 3rd gen) is. @oliver-phet do you have statistics or a feel of how important performance would be

[2021-09-28 20:12] zepumph commented on #1288
Starting on prototyping this now.

[2021-09-28 20:32] pixelzoom commented on #1289
I have no problem reproducing phetsims/geometric-optics#213 on macOS 11.5 + Chrome 94.0.4606.61.   Grab the pencil in the picture frame, then move your mouse over the bottom control panel while dragging.  Just about everything on the screen moves up and down while I'm doing this.

[2021-09-28 20:36] pixelzoom commented on #1289
Looking back at phetsims/ph-scale#226, I see that @jonathanolson also could not reproduce, while I had no problem reproducing it.  He and I are on nearly identical systems, so I think we need to determine why he can't reproduce this.  @jonathanolson let's meet on Zoom.

[2021-09-28 21:15] pixelzoom commented on #1289
In https://github.com/phetsims/geometric-optics/issues/213#issuecomment-929625643, @kathy-phet reported:

[2021-09-28 21:40] jessegreenberg opened #1290 "You shouldn't be able to focus invisible Nodes"
I was surprised in https://github.com/phetsims/sun/issues/718 that we were able to focus an invisible Node. We should assert that this is not allowed.

[2021-09-28 22:29] pixelzoom commented on #1289
From https://github.com/phetsims/geometric-optics/issues/213#issuecomment-929669296:

As @jonathanolson proposed in https://github.com/phetsims/scenery/issues/1289#issuecomment-929494175, we should perhaps investigate making `preventFit: true` the default.

[2021-09-28 23:35] zepumph commented on #1288
Probably I should commit to a branch, but since it is just a single file, I'm going to put my progress in here. Basically I have speech working running off of the "end" listener. What I don't have is cancelling working, really at all. I hope to be able to bring @jessegreenberg on this, and do a sort of co-review + bug fixing session on Friday, because that will help me in understanding the file ev

[2021-09-29 15:46] zepumph opened #1291 "Assertion failed: cannot deserialize event when related target is not in the DOM."
In firefox, it looks like deserializing focusin events (at least) cause this because the relatedTarget is serlialized by `{}`.

Discovered while working on https://github.com/phetsims/phet-io/issues/1748

[2021-09-29 16:08] zepumph commented on #1284
This is a chain that @jessegreenberg and I are worried about, but don't know exactly how to fix, or what problems it is causing at this time:

[code]

[2021-09-29 16:26] pixelzoom commented on #1289
@kathy-phet asked me to mention this problem and it's workaround at 9/30/2021 developer meeting. Here's the PSA:

* There's a rendering problem where dragging a Node will cause parts of the UI to subtly shift up/down.
* So far, this problem seems to be specific to Chrome (macOS and Windows).
* The workaround is to add option `preventFit: true` to the ScreenView, and reference this issue with a com

[2021-09-29 18:00] zepumph commented on #1220
We will need this for the "lock ratio" checkbox in Ratio and Proportion. Marking for meeting to initially discuss with @jessegreenberg. We can pull in @jonathanolson with what our findings are, and more brainstorming.

[2021-09-29 22:54] jessegreenberg commented on #1288
@zepumph and I worked on this together for a while this evening and made some good progress, here is the change set, incorporating fixes into the patches from above:

[code]

[2021-09-29 22:56] zepumph commented on #1288
The main bug fixes found:

* in the cancel logic, we were merging into the defaults instead of creating a new object to merge options into.
* We noted that we had timeInQueue is seconds (250), but meant to have it be ms.
* We had to make sure to had `hasSpoken` to be true so that everything wasn't just async.

We tested this further and like the results! I may commit this to master soon.

[2021-09-29 23:22] zepumph commented on #1288
I also just found one more bug where we need to wrap the `end` callback in a conditional that makes sure that `hasSpoken` is true, otherwise you can get an infinite loop if no user input occurs on a webpage (because in that case the browser `speak()` function immediately triggers the end callback)

[2021-09-29 23:28] zepumph commented on #1288
@jessegreenberg and I felt good enough to commit this! The commit only really differs from @jessegreenberg patch in 3 ways:

* Lots of doc updates and removing TODOs
* A clause in stepQueue that will clear the safariWorkaroundUtterances when appropriate to avoid a memory leak
* The implementation of https://github.com/phetsims/scenery/issues/1288#issuecomment-930616971.

There are still two TODOs

[2021-09-29 23:28] zepumph commented on #1287
https://github.com/phetsims/scenery/issues/1288 is resolved enough to warrant work on this now. Marking off hold.

[2021-09-30 00:12] terracoda commented on #1220
We also need it for the Range combo box in Ratio and Proportion.

[2021-09-30 15:24] jessegreenberg commented on #1288
@KatieWoe noticed that sims were failing on CT with

The queue was being stepped always, so I moved adding the listener to `initialize` and made sure to only step the queue if the voicingManager has been initialized.

[2021-09-30 17:14] samreid commented on #1289
We reviewed this today, and @jonathanolson added that we may remove the feature altogether.  There has been no discussion of a maintenance release so far--it may not be necessary.

MK: Is it better to put preventFit: true on a sub-node instead of on the entire ScreenView?
JO: It depends, and would require performance measurements to see what's best.
CM: I can be easiest to put it on the ScreenView

[2021-09-30 22:04] zepumph commented on #1287
@jessegreenberg, I committed an initial pass above, and it is working really really well. I tested with changes we were using last week over in https://github.com/phetsims/friction/issues/242.

As for https://github.com/phetsims/scenery/issues/1287#issuecomment-926951909, I don't currently care too much about this. I think it is just as easy to make sure that for your sim, you are using numbers ad

[2021-09-30 23:01] zepumph opened #1292 "ResponsePatternCollection string bug fixes"
While working on https://github.com/phetsims/friction/issues/250, I found that two of the default ResponsePatternCollection strings seem wrong to me by a bit:

[code]

In my opinion, these should not end with a space or comma.

[2021-09-30 23:03] zepumph commented on #1292
@jessegreenberg, does that seem right to you?

[2021-10-01 19:39] jessegreenberg commented on #1288
Some discussion in meeting today with @zepumph
- [ ]  We should test in Safari and iOS Safari to make sure that start and end events are working consistently.
- [ ] We need to rename functions that have some "prototypy" names currently.
- [X] Revisit the fix for the issue mentioned in https://github.com/phetsims/scenery/issues/1288#issuecomment-930616971

[2021-10-01 23:30] jessegreenberg commented on #1288
I took a deeper dive on this. I discovered that `synth.speaking` and the `start`/`end` events just happen at different times (at least for Chrome). Once `synth.speak` is called, the `synth.speaking` flag is set to `true` synchronously. But the `start` event happens later, asynchronously. So this will happen if `requestSpeech` can be called in between when we call `synth.speak` and we receive the f

[2021-10-06 03:09] samreid opened #1293 "No voices available to provided a prioritized list"
This error is occurring on several sims on CT:

[code]

[2021-10-06 03:12] samreid commented on #1282
I opened this side issue for the CT problem that is occurring: https://github.com/phetsims/scenery/issues/1293

[2021-10-06 03:12] samreid commented on #1293
Related to https://github.com/phetsims/scenery/issues/1282

[2021-10-06 03:35] samreid commented on #1282
I found this issue from the CT error described in https://github.com/phetsims/scenery/issues/1293.  But when I saw the sorting algorithm, it seemed asymmetrical:

[code]

This is saying any name with "Fred" goes after any other name.  This means Fred1 goes after Fred2 and also Fred2 goes after Fred1, which is contradictory.  This means sorting could be unstable or different on different browsers.

[2021-10-06 05:07] samreid commented on #1282
Something like this seems like a step in the right direction:

[code]

It's behaving correctly in my testing, and has reproducible results across Chrome and Firefox.  I'm not sure why it doesn't need a clause like "if they both have Google or both have Fred, take a difference of their indices".  Maybe that is covered by sort stability in ES2019+ ? https://developer.mozilla.org/en-US/docs/Web/JavaS

[2021-10-06 17:19] jessegreenberg commented on #1292
Thanks, I agree and your change looks correct.

[2021-10-07 00:11] zepumph opened #1294 "Check on Utterance.predicate in the Announcer?"
Over in https://github.com/phetsims/friction/issues/253#issuecomment-936846556 and https://github.com/phetsims/friction/issues/255, we decided that stale utterances are literally the worst. It would be really really good to use `Utterance.predicate` to make sure that nothing is announced when it is stale. Currently that is set up to run in utteranceQueue, but there is now a second queue in voicing

[2021-10-07 22:24] zepumph commented on #1294
https://github.com/phetsims/friction/issues/253 is basically blocked by this, and I'm hoping for a dev version by tomorrow, so I'm going to go ahead and commit this, and then ask for a review instead.

[2021-10-07 23:15] zepumph commented on #1294
I will say that there is an async step in AriaLiveAnnouncer, so although much less important, it could still be useful.

[2021-10-08 20:35] jessegreenberg commented on #1294
@zepumph and I duscussed 10/8/21. We discussed how we think we should proceed with https://github.com/phetsims/scenery/issues/1294#issuecomment-938202465. We think Announcer should have an `announcingEmitter` and the subclasses emit when content is actually passed off to the browser. For AriaLiveAnnouncer that is when we set the `aria-live` textContent and for voicingManager it is when we get the

[2021-10-08 21:56] jessegreenberg commented on #713
We may continue this work in the issue referenced above. I reviewed comments and the thinking is in-line with the behavior we decided on in that issue. Closing this issue because to pick it up in the more recent one and to avoid a mega thread.

[2021-10-08 21:56] #713 closed

[2021-10-08 22:15] jessegreenberg commented on #1288
I just played with Friction and GFL:B with Voicing on iOS 14.6 VoiceOver for 10 minutes using lots of ReadingBlocks, interruption and queuing up alerts.  Everything worked well. I think if it were broken we would see some ReadingBlocks stay highlighted as if the synth were still speaking. This catch catch in `stepQueue` should keep us safe.

[code]

I think we are ready to close.

[2021-10-08 22:15] #1288 closed

[2021-10-13 17:12] zepumph opened #1296 "PDOMPointer.blur prohibits PDOMTree from restoring focus on tree operations"
Discovered by @samreid, @jessegreenberg, and I while working on https://github.com/phetsims/phet-io/issues/1748. Basically the PDOMPointer is set up to null out the FocusManager.pdomFocus in between each blur/focus pair. So when tabbing from (a) to (b), the FocusManager acts like it went from (a) to null to (b).

Here was a really helpful patch that shows the tab navigating from the ArmNode to the

[2021-10-13 17:41] zepumph commented on #1296
Here are the main thoughts about the cases we are trying to support:

[code]

[2021-10-13 20:47] zepumph commented on #1296
In https://github.com/phetsims/scenery/issues/1296#issuecomment-942561560, (3) can be confirmed to be working with this patch:
[code]

[2021-10-13 22:34] jessegreenberg commented on #1296
@zepumph and I worked on this more today and made good progress with this patch:

<details>

[code]

[2021-10-13 23:26] zepumph commented on #1296
Also reported in https://github.com/phetsims/phet-io/issues/1748#issuecomment-942567919

[2021-10-13 23:30] #925 closed

[2021-10-14 14:00] zepumph opened #1297 "Event.target should deserialize as a DOMEvent element like relatedTarget"
From the end of https://github.com/phetsims/scenery/issues/1296#issuecomment-942769661, it was strange that these behave so differently. Let's try to fix that. I think it would be best to have both try for the element, and get otherwise have a fallback that stubs getAttribute to support data-trail-id.

[2021-10-14 17:07] jessegreenberg commented on #1296
Sorry @zepumph I don't understand the serialization to know if it is safe to just add a `eventObject[ key ] === null` check along with the `eventObject.hasOwnProperty( key )` check. Can you please take a look?

[2021-10-14 17:08] zepumph commented on #1296
https://github.com/phetsims/scenery/commit/170cdcfa28bb59599c946afb8d7a733c359e4dce will hopefully get us pass CT (and threw meeting day), but I'll check back.

[2021-10-14 19:21] zepumph opened #1298 "Alternative Input as a core feature of PhET simulations"
Discussed today during Q4 planning, @kathy-phet mentioned that she wants this (and thinks it is close) to be included in pretty much every new sim. Let's make sure this is up to standards, with good documentation, exemplars, and patterns associated with it.

@kathy-phet thougth the first place to start was with a meeting to discuss the game plan.

[2021-10-15 18:36] jessegreenberg commented on #1296
I tested the cases we were interested in in a native browser context and saw that when an element is removed from the traversal order with tabIndex from a blur listener, the browser will still put focus on it.

[code]

This is not what I would expect, and is not what we are trying to implement. But proceeding with what we thought should happen...

To test further I added the following cases to joh

[2021-10-15 19:03] jessegreenberg opened #1299 "Display.detachEvents doesn't work for PDOM events"
Found while looking at https://github.com/phetsims/scenery/issues/1296, Display.detacthEvents eventually calls BrowserEvents.addOrRemoveListeners which adds/removes the event types returned by `getNonWheelUsedTypes`, which do not include PDOM events.

The PDOM events are added to the PDOM root element in Input.js and do not use BrowserEvents at all. So to fix this we can either put move PDOM event

[2021-10-15 19:33] jessegreenberg commented on #1299
I went with this option. @zepumph would you mind reviewing this?

Before this change I could call `phet.joist.sim.display.detachEvents()` and still tab around any sim. After this change this is not possible.

[2021-10-19 17:08] jessegreenberg commented on #1281
iOS 15 has released and we saw this happening in a sim using drag and drop with a DragListener.

[2021-10-19 17:44] jessegreenberg commented on #1281
This bug report seems pretty related: https://developer.apple.com/forums/thread/691021

[2021-10-20 14:22] #1299 closed, assigned to jessegreenberg

[2021-10-20 14:30] jessegreenberg opened #1300 "Voicing for a Node should stop when it is removed from a display or made invisible"
From https://github.com/phetsims/gravity-force-lab-basics/issues/307:

Voicing for a particular Node doesn't stop when that Node is removed from the scene graph. Opening this issue to think about how to handle this generally.

[2021-10-20 20:28] jessegreenberg opened #1301 "Issue with focus events emitting Display.userGestureEmitter"
`userGestureEmitter` is used to enable sound and maybe other features in response to legitimate user input.  It is emitted on various input events including focus. But We call focus (on the ScreenView for screen reader reasons) on sim startup before any real user input. So it looks to scenery like the `userGestureEmitter` always emits on sim startup. Since it is always firing on startup I wouldn't

[2021-10-20 20:33] jessegreenberg commented on #1301
The documentation for `isTrusted`

So I am surprised that it is true in this case.

[2021-10-21 21:19] zepumph opened #1302 "Rename "interactiveDescription" to "altInputAndDescription""
From a design meeting today where we were prioritizing https://github.com/phetsims/phet-io/issues/1611, we recommended to rename the term "Interactive Description." This no longer has anything to do with alternative input. It was also argued that it is confusing that alt input is a subset of Interactive Description, as opposed to just a precursor. Especially using the website filter page as an exa

[2021-10-22 22:57] zepumph opened #1304 "branch: pdomCompose"
For work in https://github.com/phetsims/scenery/issues/1159

[2021-10-24 14:34] Nancy-Salpepi opened #1310 "Exit message absent in Full Screen mode"
**Test device**
iMac and MacBook Air (m1 chip)

**Operating System**
10.15.7 and 11.6

**Browser**
Safari 15

**Problem description**
https://github.com/phetsims/qa/issues/721

After changing to full screen mode the "Press esc to exit full screen" message does not appear.
Message appears as it should with mac + chrome.

**Visuals**

![escape](https://user-images.githubusercontent.com/87318828/1385

[2021-10-25 20:22] terracoda opened #1305 "Panning to focused object not working in Friction"
Using https://phet-dev.colorado.edu/html/friction/1.6.0-dev.19/phet/friction_all_phet.html I can zoom, but the zoomed sim does not pan to my focused item when using the keyboard.

MacOs Big Sur 11.5
Firefox 93

I just happened to notice. I was not doing an extensive test of the feature.
I informed @zepumph, too.

[2021-10-25 21:14] pixelzoom opened #1307 "KeyboardDragListener does not support dragBoundsProperty."
Geometric Optics has dynamic drag bounds.  If you resize the browser window, it makes use of the available space.

While adding alt input support in https://github.com/phetsims/geometric-optics/issues/235, I discovered that KeyboardDragListener does not have the same dragBounds API as DragListener. DragListener supports dynamic drag bounds via option `{Property.<Bounds2>} dragBoundsProperty`. Keyb

[2021-10-25 21:58] pixelzoom opened #1308 "Problems encountered when setting pdomOrder"
Related to https://github.com/phetsims/geometric-optics/issues/235 ... This issue documents several problems that I encountered when trying to set `pdomOrder`.  You might want to cover these in documentation, and/or improve API support.

I have GeometricOpticsScreenView, a base class, and I want to set its `pdomOrder`. At the end of the constructor, I tried:

[code]

which fails with:

    at Lens

[2021-10-26 00:07] jbphet opened #1309 "Using `<br>` tag in credits strings causes exceptions when using About dialog in XHTML versions"
This issue was originally found and reported during RC testing of Balloons and Static Electricity, and the bulk of the information about it can be found in https://github.com/phetsims/balloons-and-static-electricity/issues/555.

The basic problem is that in the XHTML versions of sims, if the `<br>` tag is used in the credits strings, an exception will be thrown when the "About..." dialog is opened

[2021-10-26 22:46] #1305 closed, assigned to jessegreenberg

[2021-10-27 15:18] zepumph opened #1311 "PDOMPointer's position doesn't appear to be in the global coordinate frame"
While debugging https://github.com/phetsims/phet-io/issues/1748, @jessegreenberg, @samreid and I saw that the PDOMPointer position in the downstream sim with PhET_iO playback seemed to be relative to the focused Node's parent, and not globally. We found in Ratio and Proportion that the three UI componenets on the right all had the relatively correct position, but relative to the parent (a containe

[2021-10-27 19:33] jonathanolson opened #1312 "Node Properties and phet-io undeferring"
Scenery's synchronous-update code (PDOMDisplaysInfo, RendererSummary) makes a hard assumption that it is only handling updates for one change at a time (e.g. one visibility change, all the others are the same as before). It makes the assumption that the one change happening NOW is the only change, and that the rest of the state is consistent.

It wasn't designed to handle cases where an arbitrary

[2021-10-27 20:14] #1311 closed, assigned to zepumph

[2021-10-28 20:42] pixelzoom opened #1313 "KeyboardDragListener needs PhET-iO instrumentation."
KeyboardDragListener is currently not instrumented for PhET-iO.  It needs to be instrumented for Geometric Optics, which supports both alt input and PhET-iO.

In Geometric Optics, I see this for a DragListener in Studio:

![screenshot_277](https://user-images.githubusercontent.com/3046552/139332164-90891031-44fe-4aa6-b7d5-7e4a380182cf.png)

These Action elements are not helpful from a customizatio