[2019-09-30 21:59] ariel-phet commented on #1000
@loganbraywork thanks for the clear bug report and detective work.

Considering this series of events is unlikely to occur often, and it currently fairly platform specific, I don't think we have time to investigate. Marking as deferred

[2019-09-30 23:33] jessegreenberg commented on #1001
So it looks like the root of the problem is that iOS no longer respects `pointer-events: none` to prevent interaction with VoiceOver. I think the reason is because VO on iOS 12 sent fake `pointerdown`/`pointerup` events to the target. But now VoiceOver sends fake `mousedown`/`mouseup` events to the targets.

As an example, this HTML button cannot be clicked with a finger on iOS 13, and cannot be c

[2019-09-30 23:36] jessegreenberg commented on #1001
A very similar issue came up in https://github.com/phetsims/scenery/issues/852, and I wonder if a modification of that can be applied to resolve this.

[2019-10-01 00:02] jessegreenberg commented on #1001
The best solution that I could come up with tonight is to "block" dispatch of a `click` event when an element in the PDOM receives a mouse/pointer event. the PDOM should only receive mouse/pointer events when given fake ones from a screen reader. This may be OK, but feels a bit fragile. A quick trial shows it working OK.

[2019-10-01 16:01] terracoda commented on #1001
I agree this is super confusing!

[2019-10-01 19:41] zepumph commented on #951
Excellent! Feel free to assign things back to me when you are done with them so I don't lose track of things. We can remove this together this evening.

[2019-10-01 23:02] zepumph opened #1002 "Cannot add "value" attribute to `input` in PDOM"
In GFLB, while working on https://github.com/phetsims/gravity-force-lab-basics/issues/181, @twant and I found that the "value" attribute wasn't being set on any inputs in GFLB. `aria-valuenow` was though. Here is the code in the valueProperty listener:

[code]

Furthermore, when we comment out the first line, the `aria-valuenow` goes away, and when we comment out the second, but change the first t

[2019-10-01 23:23] zepumph commented on #951
We removed a11yCreateOnFocusAriaValueText in the above commit. @twant and I worked on https://github.com/phetsims/molarity/issues/132 over in that issue. This is ready to close. (see https://github.com/phetsims/sun/issues/530 for a few more current api changes to AccessibleValueHandler)

[2019-10-01 23:23] #951 closed

[2019-10-02 15:31] jessegreenberg commented on #1001
@zepumph paired on this with me yesterday and helped out quite a lot. During our discussion, we identified a few questions that Ill try to answer here:

I am not certain but at this time I am guessing it has something to do with how Safari handles events with `position: fixed`. The sim is on top of the html elements in the z index so maybe layer is prefered in this case?

Yes we do, one of the fea

[2019-10-02 16:10] jessegreenberg commented on #1001
This is working well, I tested that everything is still clickable with NVDA, JAWS, and mobile VO. @KatieWoe could you please also verify that this is fixed on iOS 13 by testing gravity-force-lab-basics master?

[2019-10-02 16:24] KatieWoe commented on #1001
Looks ok on master on iPadOS 13

[2019-10-02 17:01] zepumph commented on #1001
@jessegreenberg, the phet-io dev team is getting an issue in FAMB that I think has to do with the above commit. This happens when I click anywhere in the sim in the state wrapper (untested elsewhere). Consistently reproduceable with http://localhost/phet-io-wrappers/state/?sim=forces-and-motion-basics&phetioValidateTandems&phetioDebug&screens=2&phetioValidateAPI=false

[code]

[2019-10-02 17:44] jessegreenberg commented on #1001
Thanks @zepumph, very sorry about that, above commit should fix this (verified with aqua).

[2019-10-02 19:18] KatieWoe commented on #1001
Ok, still looks fixed.  I did have trouble moving mass up, it only seemed to want to move down.  Don't know if it is connected to this fix.

[2019-10-02 19:56] KatieWoe commented on #1000
I was able to replicate.  It could be serious, even if it is a bit specific, so if we ever get time I think it should be addressed.  Also, clarification for what @loganbraywork means when he says "minimize" and "maximize" in his instructions; he means if the window is expanded or smaller using the green button in the upper left corner.  This may help with reproducing the issue.

[2019-10-02 20:42] jessegreenberg commented on #1001
Thanks for checking @KatieWoe, was able to reproduce that. A version of GFLB on 1.0 shas with this change does not have this problem so I suspect it is caused by something else in master recently.

[2019-10-02 21:11] jessegreenberg commented on #1001
Alright, this is fixed now. @zepumph would you mind reviewing before merging changes into GFLB release branch?

[2019-10-02 21:19] jessegreenberg commented on #1002
I am wondering if the `value` is being set but it isn't showing up in the Chrome tools? For instance
![image](https://user-images.githubusercontent.com/6396244/66082736-c48cc580-e538-11e9-95fc-8113936e7b61.png)

No `value` attribute displayed in the inspected element, but getting `.value` looks correct.

[2019-10-02 21:37] jessegreenberg commented on #997
Deferring this issue for dev meeting for now, we want to make sure that the whole a11y team is on board with this and agrees it is worth the effort before notifying the dev team.

[2019-10-02 22:09] zepumph commented on #1002
Oh I see. We are setting the property, but not the `value` attribute.

[code]

I remember thinking about the difference between javascript properties and their HTML attribute counterparts during the construction of the PDOM trait, but I'm unsure about what the difference could be. @jessegreenberg in your opinion does this matter at all? It's not like we are encountering issues, @twant and I were j

[2019-10-02 22:21] jessegreenberg commented on #1002
I remember this too, I think it is important in some cases. I remember that there are some behavior differences setting as javascript property vs HTML attibute. Here is the relevant issue, I read through it and I don't see any verification that they are different.
https://github.com/phetsims/scenery/issues/870

[2019-10-03 19:59] jbphet commented on #131
@jonathanolson and I just reviewed the button code in sun, and the `PressListener` is being used, so it appears that no more work is needed for the buttons that is related to this issue.

[2019-10-04 19:28] terracoda commented on #997
@jessegreenberg asked:

@jessegreenberg **State Descriptions** and **Responsive Descriptions** cover all the descriptions that we design.

State Descriptions are made up of **Static States and Dynamic States** (formerly Static and Dynamic descriptions) accessed on-demand.

Whereas Responsive Descriptions strictly speaking are not specifically what we have been calling "Interactive Alerts". Respons

[2019-10-05 01:46] zepumph commented on #1001
I was a bit suspicious about how few usages there were of this, but then after investigation I see that `upEvent` is down stream of many pointer types. The fix looks good. I'll add it to an RC and see how it goes.

[2019-10-07 17:30] zepumph commented on #1001
I will commit the following commits to the branch over in https://github.com/phetsims/gravity-force-lab-basics/issues/179, in order:
https://github.com/phetsims/scenery/commit/92b64517ff87ae871e9008f92833a70bf876ba68
https://github.com/phetsims/scenery/commit/b2fe5e85f679f1a0347503fe53acbd6d3ec7d7ac
https://github.com/phetsims/scenery/commit/1c4830ca7636a1efcdc4c6d2e46e082ae342bada

[2019-10-07 18:02] zepumph commented on #1001
I will add commits here, but will flag https://github.com/phetsims/gravity-force-lab-basics/issues/176 for QA testing. Removing priority, and I will update this issue as needed. Thanks @jessegreenberg.

[2019-10-07 23:06] zepumph commented on #780
Duplicate of https://github.com/phetsims/tasks/issues/917. Closing

[2019-10-07 23:06] #780 closed

[2019-10-08 02:32] pixelzoom opened #1003 "Node: doc for clipArea and setClipArea doesn't match"
Nodes.js:

[code]

But `setClipArea` apparently doesn't take a `Bounds2`.

[code]

Assigning to @jonathanolson, since I'm not sure whether the doc or implementation is incorrect.

[2019-10-09 18:31] jonathanolson commented on #1003
Thanks for the catch. It does only take Shape/null, fixed in the first case.

[2019-10-09 18:31] #1003 closed

[2019-10-10 23:03] zepumph commented on #997
After discussing more with @terracoda and @jessegreenberg, we are ready again to bring this the developers. I have made a few updates in the above list accordingly.

[2019-10-11 21:19] zepumph opened #1004 "Deprecate old listeners?"
While working on https://github.com/phetsims/projectile-motion/issues/177 I found myself doing a code review on some of the older listeners. For example `DownUpListener`. I saw only a few usages, and none of them were instrumented for PhET-iO. I'm pretty sure that's because we prefer PressListener, but it would be nice if that could be marked in old scener listeners.

I know @jonathanolson had som

[2019-10-12 00:07] zepumph commented on #936
I think that will happen as part of https://github.com/phetsims/tandem/issues/108. Closing

[2019-10-12 00:07] #936 closed

[2019-10-14 15:41] jonathanolson commented on #1004
Sounds fine to me to mark them deprecated.

[2019-10-14 18:39] zepumph commented on #1004
@jonathanolson is this an accurate and complete list?

[2019-10-15 00:03] zepumph commented on #1002
Honestly I can't remember, even after poking through those previous issues. Note that we have `Accessibility.setAccessibleAttribute.asProperty` to support differentiating these items (and a similar implementation in AccessiblePeer).

I'm glad we have the flexibility, because I remember that I tried to only use attributes before and I think it caused bugs. We can close this issue and note that we h

[2019-10-15 00:03] zepumph commented on #1002
Sound alright to you?

[2019-10-15 00:05] jessegreenberg commented on #1002
That sounds great, thanks.

[2019-10-15 00:05] #1002 closed

[2019-10-15 16:37] jessegreenberg commented on #995
We are going to continue as is for the moment. If it turns out that we want something more custom we can reopen at that time.

[2019-10-15 16:37] #995 closed

[2019-10-16 16:06] samreid commented on #572
I'm not seeing that symptom in several runs on Mac 10.15 running Firefox 69.0.3.

[2019-10-17 02:26] pixelzoom commented on #1004
Sounds fine to me to mark them as deprecated.  But also finish up the work on their replacements.  Specifically:

* Close issues related to creation of the replacement listeners. For example https://github.com/phetsims/scenery/issues/131 (create DragListener as a replacement for SimpleDragHandler) is still open.

* Code review the new listeners.  A quick look at classes `MultiListener` and `PanZoo

[2019-10-17 19:22] zepumph commented on #997
Notes from discussion during today's dev meeting:

* use all caps form `PDOM` instead of `pdom`, so the options comment would be `// PDOM`, as an acronym.

[2019-10-17 19:23] samreid commented on #997
I described some problems with the "parallel dom" terminology in https://github.com/phetsims/a11y-research/issues/101.  Also, I wonder if ParallelDOM would be preferable to PDOM in most of the namings?

[2019-10-17 20:06] loganbraywork opened #1005 "Keyboard Nav Pink Highlight appears when using touchscreen VO on IpadOS 13"
**Test device**
IpadOS 13 Test Device
**Operating System**
IpadOS 13.1.2
**Browser**
Safari 13
**Problem description**
From https://github.com/phetsims/QA/issues/438

When using VO, if any item is double tapped (such as to mute or unmute sound) the pink keyboard nav highlight appears. Does not occur on single tap or when manipulating sliders through swipes.
**Steps to reproduce**
1. Activate VO
2.

[2019-10-17 20:11] jessegreenberg commented on #1005
Thanks @loganbraywork, I am seeing very similar things in other web contexts with iPadOS13 VO. For example, see the focus selector activated here after double tapping, then the VO outline around the next item:
![focus - CSS Cascading Style Sheets  MDN](https://user-images.githubusercontent.com/6396244/67043709-b1612480-f0f8-11e9-93c6-02274a490fe5.png)

So this is expected behavior.

[2019-10-17 20:17] jessegreenberg commented on #1005
Seeing exact same behavior with Talkback.

Should anything be done about this? Previously there were no focus events for iOS. We have begun to design with that in mind. Since focus doesn't appear with the VO cursor, there is no break between focus and activation. So we cannot design things like "provide this help text on focus".

I think this is good to know, but that we shouldn't change our desig

[2019-10-17 20:27] zepumph commented on #1005
I totally agree.

[2019-10-17 20:31] zepumph commented on #1005
I'm going to proceed with GFLB publication unless I hear otherwise.

[2019-10-17 20:33] jessegreenberg commented on #1005
Sounds great to me, I think any changes that come out of this would only impact future designs.

[2019-10-18 05:34] emily-phet commented on #1005
Agree on proceeding with GFL:B.

In parallel - I don't know enough about mobile screen reader behavior to know why there seems to be two things with focus in the first screenshot above of GFL:B. I think ideally we wouldn't want that, but perhaps I'm either misunderstanding the screenshot or we don't have control over the black box thing that appears around the right sphere/robot/force arrow...? Th

[2019-10-18 13:08] terracoda commented on #1005
To @emily-phet 's point,

I think the way we handle focus is slightlydifferent than the way screen readers do it, so there are times (perhaps before a new control has been fully activated) where things can get out of synch visually.

I think this is something that we may want to look into further as we learn more.

In my recent interview with Molarity, the participant did mention a couple things (

[2019-10-18 19:42] KatieWoe opened #1006 "iPadOS 13 highlighting behavior"
Found during https://github.com/phetsims/QA/issues/432, but occurs in published version.  Doesn't seem to happen on iOS 12.  Possible that this is a more general issue, but I've noticed it the most in this sim.  When you hold down your finger the page will appear to highlight non-existent text in the upper left corner.  It will even seem to give a copy/paste option.  Found mostly on the last 3 scr

[2019-10-18 20:12] jessegreenberg commented on #1005
I think that https://github.com/phetsims/scenery/issues/1005#issuecomment-543341909 proves that this isn't about how PhET manages focus but just how focus works with screen readers and browsers in general. The black highlight shows where the virtual cursor is. The red text in https://github.com/phetsims/scenery/issues/1005#issuecomment-543341909 and our pink focus highlight shows where DOM focus i

[2019-10-19 00:35] terracoda commented on #1005
Thanks @jessegreenberg and the links I posted above may be more relevant to Molarity's combobox and issue https://github.com/phetsims/molarity/issues/158

I like not relying on focus for aria-live, and I think thus far we have improved our designs by no relying on focus for aria-valuetext.

Every sim is different, but I think so far, so good.

[2019-10-21 17:36] jessegreenberg commented on #1006
I am able to get this to happen with iPadOS 13 in curve-fitting. Safari is selecting some content in https://github.com/phetsims/scenery/issues/1006#issuecomment-544609485. I tried copying it and pasting it to a notepad and the content is

[2019-10-21 17:38] jessegreenberg commented on #1006
It must be this stuff:
![image](https://user-images.githubusercontent.com/6396244/67228789-05754d00-f408-11e9-8b84-079c72e8514d.png)

[2019-10-21 17:47] jessegreenberg commented on #1006
These elements are created in sherpa\katex\stylesheetPreloadFragment.js. Im going to assign to @jonathanolson, he probably knows best how to handle from here.

[2019-10-21 19:51] KatieWoe commented on #1006
Linking to https://github.com/phetsims/QA/issues/442

[2019-10-21 20:01] jonathanolson commented on #1006
Thanks for finding this. @jessegreenberg  Is there a better way to hide this, like we do for the parallel DOM or other content?

[2019-10-21 20:25] jessegreenberg commented on #1006
Looks like this is an issue for parallel DOM content too, running BASE and doing the same thing as https://github.com/phetsims/scenery/issues/1006#issuecomment-544609485 the selection moves up and down the screen through the accessibility content. Finger has to be down for ~3 seconds without any movement to trigger this.

Ill see if adding `user-select` css helps. https://developer.mozilla.org/en-

[2019-10-21 20:35] jessegreenberg commented on #1006
`user-select: "none"` on the display div doesn't fix this. I notice that this only happens when the pointer goes down over something draggable. In BASE, doesn't happen over sweater or other buttons, but only if you press and hold over a balloon.

[2019-10-21 21:43] jessegreenberg commented on #1006
On further inspection, it isn't selecting PDOM content, its something else. Im not able to "copy" to see what it is, but when the PDOM is visible the selection doesn't align with it. Setting `user-select: 'none';` on the body does fix this. So there are other elements somewhere that need this attribute.

[2019-10-21 22:07] jessegreenberg commented on #1006
`-webkit-user-select: none;` on the aria-live elements make the problem go away in BASE. `-webkit-user-select: 'none';` on the `fontPreloadDiv` of sherpa\katex\stylesheetPreloadFragment.js makes the problem go away in curve-fitting.

Looks like this will require a maintenance release to fix. We need to add this attribute to aria-live elements that are in all top level HTML files. We also need to a

[2019-10-22 16:25] megan-phet commented on #1006
This is also an issue in the app on iPadOS 13.

[2019-10-22 20:33] jonathanolson commented on #1006
I have the two patches above that would work for maintenance-patching (using joist so we can detect prefixes automatically, instead of listing out a ton of options before). I'm also interested if we want to consolidate things under a user-select: none, but I don't see how the aria and katex parts can necessarily be combined, unless they are used only in sim code. We can continue work on that in ma

[2019-10-22 20:50] KatieWoe commented on #1006
Was not able to reproduce on master on a few sims.

[2019-10-24 14:48] jessegreenberg commented on #1001
Looks like this was verified as fixed in master and the RC, this can be closed.

[2019-10-24 14:48] #1001 closed

[2019-10-24 16:42] jonathanolson commented on #1004
It is accurate, but I'm not sure what would be needed for a complete list.

I definitely want to finish up a few things for the new listeners.

[2019-10-31 14:54] KatieWoe opened #1007 "CT phet is not defined"
[code]

[2019-10-31 15:34] jonathanolson commented on #1007
Worked around in the above commit.

[2019-10-31 15:40] samreid commented on #1007
The workaround looks reasonable.  In other places we have also used `_.hasIn` which may be less verbose.  @zepumph can you please take a look?

[2019-10-31 16:18] zepumph commented on #1007
Thanks and apologies for this! I converted to use `_.hasIn` in a few places. And tested by building scenery and running the documentation. When I comment out a `_.hasIn`, and do the same, it fails.

Thank you @jonathanolson for applying the original patch. Will you review my changes?

[2019-10-31 16:20] jonathanolson commented on #1007
Looks good to me.

[2019-10-31 16:20] #1007 closed

[2019-11-04 19:58] zepumph opened #1008 "Clean up Text releated IOTypes"
From https://github.com/phetsims/gravity-force-lab/issues/183. We have `RichTextIO` and `TextIO`, and I see a few issues:

* Why do we need both of these, couldn't both be `TextIO`, and we can have one public interface for text in PhET-iO that all core types can adhere to?
* `TextIO` has many methods that I feel like are unneeded. These are about maxWidth and font options. Can we remove this?
* If

[2019-11-04 19:58] zepumph commented on #1008
For the direct fix, I'm going to swap RichTextIO.textProperty to, by default, be `phetioState: true`.

[2019-11-04 20:00] zepumph opened #1009 "RichTextIO.textProperty should be `phetioState:true` by default"
From https://github.com/phetsims/gravity-force-lab/issues/183 and https://github.com/phetsims/scenery/issues/1008.

This will fix https://github.com/phetsims/gravity-force-lab/issues/183.

[2019-11-04 20:00] samreid commented on #1008
It seems we could get pretty far by using one IO type for both of these.  I don't understand all the public methods in RichText.js, but one day if we need to support them, we could make RichTextIO extends TextIO.

[2019-11-05 21:40] lmulhall-phet opened #1010 "Clicking and holding on number picker or number spinner makes it adjust on its own"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.6

**Browser**

77.0.3865.120

**Problem Description**

If Chrome devtools is open in "device mode" and you click and hold a number picker or a number spinner, it will adjust on its own. If this is done with a number picker in both directions, i.e. you let it adjust to max and then let it adjust to min, then the number picker becomes

[2019-11-05 23:54] zepumph opened #1011 "all times in KeyboardDragListener should be in milliseconds"
Discovered while working on phetsims/gravity-force-lab#186. There are some values in step that are in seconds, and some in milliseconds. Today I talked to @jessegreenberg about it, and we thought about converting it to seconds because that is what the sim gives us in the step function. After poking around I don't think that is the direction we should go. All the following are public options, and s

[2019-11-06 20:14] zepumph commented on #1009
Fixed in the above commit. Just like in NodeIO, this ended up removing this, as the PhetioObject default is `phetioState:true`. Closing

It will still be good to work on as the most robust solution

[2019-11-06 20:14] #1009 closed

[2019-11-06 22:05] jessegreenberg opened #1012 "DragListener blocks touch input on descendants"
When using a DragListener on a Node with descendants with other input listeners, the DragListener seems to block *touch* input on those listeners. Mouse input works fine. I noticed this with a scenery-phet/TimerNode:

[code]

TimerNode can be dragged but the buttons cannot be clicked. Saw this on an iPad and on my Windows laptop touchscreen. IF the DragListener is replaced with a SimpleDragHandler

[2019-11-06 22:23] jessegreenberg commented on #1012
Verified in another spot - scenery-phet's DemoScreenView, I swapped the MovableDragHandler on the ConductivityTesterNode with a DragListener. When this is done, dragging the probe nodes drags the entire ConductivityTesterNode rather than the probes.

[2019-11-06 23:19] pixelzoom opened #1013 "using a custom cursor requires setting both Node.cursor and PressListener.pressCursor"
If you use a cursor other than 'pointer', you have to set `cursor` for your Node, and `pressCursor` for your DragListener or PressListener.   This bit me in vector-addition. @zepumph encountered it today in projectile-motion, where it sparked Slack discussion.

A nicer API for PressListener might default `pressCursor` to `null`, as meaning to use the cursor of whatever Node it’s associated with. I

[2019-11-07 16:22] jonathanolson commented on #1012
TimerNode has a `timerNode.dragTarget` which drag listeners should be added to just for this reason. Unfortunately we'll need to do similar things for full components with buttons.

[2019-11-07 16:43] jessegreenberg commented on #1012
Ah, I see, thanks. Just out of curiosity, why does this happen for touch and not mouse?

[2019-11-07 16:46] jonathanolson commented on #1012
I recall it's related to touch snag, where the drag touch snag activates before the press on the button could happen.

[2019-11-07 16:57] jessegreenberg commented on #1012
Got it, thanks.

I got it working by copying the example in gas-properties StopwatchNode. The listener is added to the TimerNode.dragTarget, but the `targetNode` specified on the DragListener is still the TimerNode.
[code]

[2019-11-07 16:57] #1012 closed

[2019-11-08 19:25] jessegreenberg commented on #270
I am no longer seeing this in iOS 13.

[2019-11-08 22:55] zepumph opened #1014 "DragListener bug when computing localPoint from forwarding"
The title of the issue is my best guess of what this bug is, though I'm not sure. While working on https://github.com/phetsims/projectile-motion/issues/183, @jessegreenberg @jonathanolson and I found that there was a bug with the DragListener in TracerNode.js

Basically when applying the below patch, dragging the tracer out of the toolbox will bring warp the tracerNode to the origin of the screenV

[2019-11-11 18:56] pixelzoom opened #1015 "incorrect type expression in DragListener?"
Encountered while looking at DragListener with another developer.

Type expression `{Emitter}` seems incorrect here in DragListener:

[code]

Over to @samreid since he changed `new Emitter` to `new Action`.

[2019-11-11 18:59] samreid commented on #1015
Fixed, thanks!  I also skimmed through other `new Action` and didn't see this same problem elsewhere.  Closing.  Please reopen if you wish to review or if there is more to do.

[2019-11-11 18:59] #1015 closed

[2019-11-11 19:39] jbphet opened #1016 "Add dragStateProperty to DragListener and SimpleDragHandler"
In the process of adding sound to simulations, I have run into a number of cases where the code needed to know how the user was interacting with a slider in order to determine how and when to play a sound.  In these cases, the `startDrag` and `endDrag` methods of the drag handler were modified to set local state variables that kept track of the type of dragging.  An issue was logged about this in

[2019-11-11 23:01] jessegreenberg commented on #974
OK, we are confident that this is the approach we should take and its impact has been tested. I am going to move the listeners to master and clean up for a more formal review. I will use them in a single sim in master. Then after review they can be used in joist.

[2019-11-13 00:30] zepumph commented on #1011
This small change seems good for the most part. For the velocity, @jessegreenberg and I thought it best not to change the public facing apis from "pixels/second" (i.e. `dragVelocity`), so I ended up just converting within the step function and it is sorta a wash. I don't think it is too horrible though, and this way you have 5 sections in a row doing actions from `ms` instead of 4 from `ms` and on

[2019-11-13 15:59] KatieWoe opened #1017 "CT Cannot read property transformed of undefined"
[code]

[2019-11-13 19:08] zepumph commented on #1017
I was not able to reproduce this in `input.html`. Perhaps @jonathanolson has insight into it.

[2019-11-13 19:40] zepumph commented on #1017
(oops sorry)

[2019-11-14 18:04] jessegreenberg commented on #1016
This looks really nice to me, I agree this is useful.  There are two other event types that we currently listen for with sliders which are `input` and `change` which come from iOS VoiceOver or a switch device. We will want to include those as another value in SliderDragState.

I wonder if this is more general than dragging, we may want this information when using buttons or other things. So should

[2019-11-14 21:36] megan-phet opened #1018 "Screen shifts to upper left corner when trying to enlarge via trackpad"
<b>Test Device</b>
- MacBook Pro

<b>Operating System</b>
- MacOS 10.15.1

<b>Browser</b>
- Safari 13.0.3
- Not a problem in Chrome

<b>Problem Description</b>
For phetsims/QA#457
The screen shifts to the upper left corner when trying to enlarge it on the trackpad.

<b>Steps to Reproduce</b>
1. Open the sim
2. Try to enlarge by spreading your finger apart on the trackpad.

<b>Visuals</b>
![Kapture

[2019-11-14 23:51] jessegreenberg commented on #1018
This sim isn't using any of the listeners associated with zoom/magnification so what is happening here is without any of those changes.  The only way to prevent safari from trying to change layout/resize is to `preventDefault` on `gesturestart`/`gesturechange` events. We are doing this in new magnificaiton listeners, but aren't in sim code yet. So I want to see if this has always been a problem or

[2019-11-15 16:40] KatieWoe commented on #1018
1st situation: zooming is still possible in the old sim.  The sim does not shift or move, just zooms.

[2019-11-15 18:20] jessegreenberg commented on #1018
OK thanks @KatieWoe - so we have always been able to magnify at some capacity on Safari, but the reposition is new. Ill investigate.

[2019-11-19 00:29] zepumph commented on #1014
@jonathan I ran into this again while converting a MovableDragHandler over in https://github.com/phetsims/gravity-force-lab/issues/191 in `ISLCRulerNode`. Gravity Force Lab would like to use the `applyOffset` feature, and hopefully we can publish it in the next month or so. I'm going to assign @ariel-phet to help prioritize this bug.

I added this TODO in `ISLCRulerNode`:
`        applyOffset: fal

[2019-11-19 00:52] zepumph commented on #1014
Note that in GFL, this is just a DragListener, it isn't being forwarded from anything.

[2019-11-19 17:36] jessegreenberg opened #1019 "Best way to reference utteranceQueue"
utteranceQueue was recently added as an instance variable to the Display, as described in https://github.com/phetsims/utterance-queue/issues/1. The downside to this is that every usage requires a reference to the display and so most usages look something like

[code]

We should consider a better way to reference this or consider reverting back to a singleton. to be discussed during a11y meeting.

[2019-11-20 00:08] zepumph commented on #1006
Over in https://github.com/phetsims/utterance-queue/issues/1, @twant and I were cleaning up AriaHerald and UtteranceQueue and decided to move this fix over to Display. @KatieWoe could you please confirm that this is fixed on master still?

[2019-11-20 01:16] zepumph opened #1020 "Delete scenery-config.js and scenery-main.js?"
While working on https://github.com/phetsims/utterance-queue/issues/1, @twant and I found that these two files don't seem to be used for build (where basically scenery-main.js is constructed in pieces from package.json options and the build process). It also isn't used for requirejs mode, as `config.js` is loaded in those cases (search for `../../sherpa/lib/require-2.3.6.js` in scenery).

But we c

[2019-11-20 01:49] zepumph commented on #1020
Ooops, @twant and I just found this line in `buildStandalone`

`  const requireJS = await requireBuild( repo, `../${repo}/js/${repo}-config.js` );`

I'm going to close this. Sorry to bother!

[2019-11-20 01:49] #1020 closed

[2019-11-20 02:43] zepumph commented on #966
Over in https://github.com/phetsims/utterance-queue/issues/6, @twant and @zepumph experimented with supporting `phet.{{repo}}` as a global on a stand alone library. The commit is also referenced above. @jonathanolson will you please review the above. We set it up with the hopes that it wouldn't interfere with the way that standalone builds are currently functioning, but would allow for ad-hoc, gra

[2019-11-20 19:12] zepumph commented on #603
This issue was created before the work we have done in creating PhetioObject, and how `initializePhetioObject` supports being called from mutate. `initializePhetioObject` will also throw an assertion if it is called twice. We, the phet-io sub-team, thinks there are no more steps for this issue. Closing

[2019-11-20 19:12] #603 closed

[2019-11-20 19:23] KatieWoe commented on #1006
Looks good on master

[2019-11-20 21:50] zepumph commented on #1006
Thanks! @jessegreenberg anything else here? Feel free to close.

[2019-11-20 22:55] jessegreenberg commented on #1006
Nice, it sounds like this is ready for close

[2019-11-21 20:27] zepumph commented on #1014
This bug is blocking https://github.com/phetsims/gravity-force-lab/issues/191 (publication of GFL), so @ariel-phet recommended marking as high priority.

[2019-11-21 22:16] jessegreenberg commented on #1018
I have found a couple of potential ways to fix this.
1) Remove the platform.mobileSafari check on the resize action in Sim.js
[code]
Always scrolling to (0, 0) on resize makes the sim reposition correctly. It does still allow browser zoom so if you refresh the sim, the splash screen may be magnified and maybe out of view until you zoom out again.

2) Add the following to Sim.js to prevent gesture

[2019-11-22 18:28] zepumph commented on #1004
Today @samreid and I found that there were only two base classes of old listeners, SimpleDragHandler and DownUpListener, and they were both already marked as deprecated.

[2019-11-22 23:52] zepumph opened #1021 "PressListener: overPointers incorrect when no `exit` event"
From working on https://github.com/phetsims/projectile-motion/issues/209. I have a background node that goes behind a keypad, and listens for a press so that it can hide the whole keypad layer (including the aforementioned barrier rectangle). So to review the interaction:

The issue is that when trying to use a PressListener for this (specifically a FireListener) there is a buggy edge case where t

[2019-11-23 00:04] zepumph opened #1022 "How to handle converting to new listener patterns?"
In a few recent sim's I have been converting old, deprecated listeners to use the newer PressListener hierarchy.

For example https://github.com/phetsims/projectile-motion/issues/209, https://github.com/phetsims/projectile-motion/issues/183, and https://github.com/phetsims/gravity-force-lab/issues/191 have all been issues to upgrade to new listeners.

My main reasons for this work have been for Ph

[2019-11-23 02:09] zepumph commented on #1021
To support this same work, above I added the event to be passed through in the fire callback. Please let me know if you feel like that wasn't a good change.

[2019-11-26 23:52] jessegreenberg opened #1023 "Can't interact with Nodes with iOS VoiceOver when they are partially outside of the Display div"
Related to #852 - Nodes are not draggable on iOS Safari with VoiceOver if the center of the node in the global coordinate frame is out of bounds.  This was discovered in https://github.com/phetsims/gravity-force-lab/issues/210.

@zepumph and @jessegreenberg discussed this and decided that the best way forward is to explore modifying the AccessiblePeer sibling bounds to only contain the bounds that

[2019-11-27 00:01] jessegreenberg opened #1024 "Node layering and interaction with iOS VoiceOver"
Related to #852 - There is a layering issue with iOS VoiceOver. This was discovered in phetsims/gravity-force-lab#210 with @zepumph.

The screen reader virtual cursor can be on a Node that is behind another in the z-order. If a user gesture is made to initiate dragging of the Node that is in the back, the node in front will receive the input events. This is because the assistive device sends a poi

[2019-11-27 10:23] jessegreenberg commented on #1023
I am not able to test on an iPad at the moment but this patch is working well to constrain the bounds to display bounds
[code]

[2019-12-01 23:52] twant commented on #943
@zepumph thanks again for these comments, and for your patience with me getting to them! I've been adding examples to the index page as they're updated to address your comments. I re-did the css, since I do think we need more space to see the pdom than half a page will allow. I also hacked together some regex to format the pdom more nicely. I still think these could be improved in the following wa

[2019-12-02 04:00] twant commented on #943
@zepumph, okay, I believe I've implemented all of your suggestions. Let me know if you'd like to review again! Assigning over to you for next steps.

[2019-12-02 22:03] jessegreenberg commented on #1023
This is fixed with the above commit and I tested on my iPad Air 2. @zepumph can you please verify?

[2019-12-02 22:45] jessegreenberg opened #1025 "Accessible Sibling layering and interaction with iOS VoiceOver"
From https://github.com/phetsims/gravity-force-lab/issues/210.

Rendering order of accessible siblings is not equal to rendering order of Nodes in the scene graph. And so when VoiceOver is enabled you may only select the bottom Node in the area where two Node's overlap.

We should investigate the ability to match PDOM z-order with scenery z-order to fix this.

[2019-12-02 23:00] jessegreenberg commented on #1025
Here is GFL on load:
![image](https://user-images.githubusercontent.com/6396244/70002146-25cb1800-152d-11ea-879c-31b204c2cac9.png)

Here is GFL with the ruler positioned on top of the mass "slider"
![image](https://user-images.githubusercontent.com/6396244/70002181-3e3b3280-152d-11ea-8a41-73ca500fc7e6.png)

I would have thought that current behavior was because the HTML slider was on top of the ru

[2019-12-02 23:16] jessegreenberg commented on #1025
In this example, VoiceOver respects the z-indices.

[code]
When the button is on top, I can only select the button. When the slider is on top, I can only select the slider.

[2019-12-03 16:30] jessegreenberg commented on #1025
z-index currently has very little impact on our sims because all siblings have are positioned with `fixed` and thus create their own stacking context.

In order to explore this in the sim we need to 1) only apply `position: fixed` on elements that get transformed, and 2) set the z-index on elements correctly to match layering.

[2019-12-03 19:38] jessegreenberg commented on #1025
Discussed with @terracoda and @zepumph -

@zepumph suggested putting `pointer-events: none` on the root element to see if that has an impact.  This will be a quick check.

Otherwise, we agreed that this does not need to be fixed for publication of GFL. It will become a larger issue when we work on a sim where you can drag a small interactive component onto a larger interactive component because th

[2019-12-03 19:50] jessegreenberg commented on #1025
I tried the following, moving `pointer-events:` none; to the root.
<details>

[code]
</details>
Things still seem to work as they are in master, but the problem with this issue still persists. We are not going to address this now.

When we pick this up, we will want to:
- [ ] Find an alternative way to prevent pointer events on the PDOM. Likely catch events on the root with `useCapture` and `preve

[2019-12-05 19:59] zepumph commented on #1022
See #1004 for a list of the old, deprecated listeners.

[2019-12-05 20:00] Denz1994 commented on #1022
This process would motivate updating dragListeners and ironing out bugs that are present. @jonathanolson  will up the priority on updating the related listeners in [#1004](https://github.com/phetsims/scenery/issues/1004) and will recruit @zepumph if needed.

[2019-12-05 20:02] jonathanolson commented on #1016
This sounds great to add in. What are all desired states?

[2019-12-05 20:03] pixelzoom commented on #1022
On the topic of wrapping up the new listeners.... https://github.com/phetsims/scenery/issues/131, "create DragListener as a replacement for SimpleDragHandler" is still open, and was created on Sep 10, 2013 (6+ years ago).

[2019-12-05 20:22] Denz1994 commented on #1016
As discussed in dev-meeting on 12/05/19:

@zepumph  mentioned the scenery event as detailed above may work (instead using` event.isAlly()`). Additionally using `sceneryPointer` may help determine if the event comes from the PDOM or another source.  This may work for Sonification, but there are other general inputs that can benefit from this event recognition (keyboard, touch or pointer).

@jbphet

[2019-12-05 20:22] samreid commented on #1016
I suggested using `startEventProperty.value  = event` so we have the entire event API at our disposal.  Then in the end event, we could set `startEventProperty.value = null`.

[2019-12-09 17:41] zepumph commented on #1014
Steps to reproduce this problem (in projectile-motion):

* In `TracerNode`
* Comment out options to DragListener on lines 159/160:
[code]
* Load the sim and drag the blue tracer node out of the tool box
* On mouse down you will find that the tracer node jumps to the origin of the screen ( 0,0 of the layout bounds). Note that the center of the tracer node (0,0) is at the center of the crosshairs.

[2019-12-09 18:43] zepumph commented on #1023
Yes I verified that this is working. It is working very well for GFL.

I still have potential weariness about this in the general case. Because of the "snap to center" bug from https://github.com/phetsims/gravity-force-lab/issues/191, we can see first hand that the center is being calculated from the "on screen" bounds. With this change there is now much more possibility of dragging bugginess wher

[2019-12-11 20:49] jessegreenberg commented on #1023
That is correct. This algorithm assumes that the entire area of the target Node/transform source node is pickable. I think that is acceptable for now. Thanks for verify/review. Closing this issue.

[2019-12-11 20:49] #1023 closed

[2019-12-11 20:58] jessegreenberg opened #1026 "AccessibilityTree operations cause VoiceOver to repeat accessible names"
Specifically, after AccessibilityTree.js operations we call `afterOp`, which restores focus as it was likely lost as DOM elements are removed, reinserted, and sorted in the DOM.

But when focus is restored, VoiceOver will repeat the accessible name. This is mostly an issue when we have frequent operations that trigger AccessibilityTree operations. For example, setting `accessibleName` on an elemen

[2019-12-11 21:10] jessegreenberg commented on #1026
I noticed that (seemingly) nodes far away from the ones getting operated on by AccessibilityTree.js were getting added/removed. So maybe one thing to investigate is optimizing AccessibilityTree.js to remove/sort fewer elements per operation.

[2019-12-12 18:50] jonathanolson commented on #1014
The problem in both of these cases was presumably the core difference in how MovableDragHandler and DragListener handle offsets. I've added an option to use the MovableDragHandler-style offsets (based in the parent coordinate frame, and requiring a locationProperty). The DragListener style I believe is superior for a range of cases (except for where we can't translate/transform one node), so I bel

[2019-12-12 19:30] jonathanolson commented on #1021
So the "over" pointers is something tricky in general, and there may be better ways for handling it. But in this case, Just a `addInputListener( { down: ... } )` is probably better, and would sidestep the assertion issue in this case.

[2019-12-12 19:34] jonathanolson commented on #1021
Additionally, the general case is somewhat difficult performance-wise. To ensure full correctness, scenery would need to check what a pointer was over on every scene-graph change (and then immediately sending events). That isn't viable performance-wise.

[2019-12-13 00:45] zepumph commented on #1014
This is looking very nice! I added doc directly to that option, since I feel like I wouldn't likely look at MoveableDragHandler if I was converting to use `DragListener`. What do you think!.
I see this as totally fixed in GFL.  I just applied a bit of cleanup over there.

In Projectile Motion I think we are close, but it took the addition of `useParentOffset` to realize that I don't actually want

[2019-12-13 23:26] zepumph commented on #1021
I think I understand, but don't you feel like this is a pretty basic use case that we should have some scenery listener for. I guess I feel like we can do "better" than just a down listener. Perhaps I am wrong though. For example we need phet-io support for that click to end up in the data stream (at least that is what we have been doing for other listeners.

[2019-12-17 17:07] jonathanolson opened #1027 "Get MultiListener/PanZoomListener to code review standards"
Since they are both supertypes of @jessegreenberg's AnimatedPanZoomListener, it seems like I should get these both cleaned up.

@ariel-phet, what priority should this be done at?

[2019-12-17 17:10] jonathanolson commented on #1004
Created https://github.com/phetsims/scenery/issues/1027 to track these specifically. They ARE being used in the pan/zoom work.

[2019-12-17 17:14] jessegreenberg commented on #1027
This is potentially something I could do as part of work on AnimatedPanZoomListener, if you think that would be best/helpful @jonathanolson.

[2019-12-17 17:15] jonathanolson commented on #1027
Up to you and @ariel-phet! I don't have a preference.

[2019-12-17 17:16] jonathanolson commented on #1004
@zepumph or @pixelzoom Is there a replacement for `FireOnHoldInputListener`?

[2019-12-17 17:21] jonathanolson commented on #1004
I've marked the listeners I'm aware of that I feel should be deprecated. I have issues to track the main work, but I feel confident now that the "new" listeners should be used over the deprecated alternatives.

I think `FireOnHoldInputListener` is the main remaining question, otherwise this issue can be closed after that is figured out.

[2019-12-17 17:25] jonathanolson commented on #805
Looks great to me, thanks!

[2019-12-17 17:25] #805 closed

[2019-12-17 17:58] jonathanolson commented on #804
Fixed up the mentioned types for visibility annotations.

[2019-12-17 17:58] #804 closed

[2019-12-17 18:05] pixelzoom commented on #1004
Not that I'm aware of. You might look to see how PushButtonModel is handling the "fire on hold" feature.

[2019-12-17 18:06] jonathanolson commented on #1022
I've been updating listeners and fixing things, but I'm confused if there's anything to do for this specific issue. Is there anything left to discuss here, or can it be closed?

[2019-12-17 18:10] jonathanolson commented on #1021
Wouldn't the Scenery input event show up in the data stream? And then the result of closing whatever was closed?

What would be the "better" option?

[2019-12-17 19:11] ariel-phet commented on #1027
@jessegreenberg I think it would be great if you did that, feel free to ping @jonathanolson for advice/collaboration

[2019-12-17 19:25] jonathanolson commented on #1013
While I'm handling a lot of the user-input stuff, this would be great to tackle. Additionally, @jbphet noted this in the main DragListener issue (https://github.com/phetsims/scenery/issues/131):

The potential problem I see with the described method is that it's probably VERY common to have the cursor set on a node that's either an ancestor or descendent of the targetNode/currentTarget. I'd consid

[2019-12-17 20:26] jonathanolson commented on #131
I've handled all of the review items that were mentioned (or promoted others to issues). @ariel-phet , should this have more code review done, or can this be closed?

[2019-12-17 20:28] jonathanolson commented on #206
It's now possible to add a DragListener (or technically still SimpleDragHandler) with `attach:false` so that it won't lock out other drag listeners AND won't check for current interactions. This should satisfy the need here (wouldn't need a different handler type).

[2019-12-17 20:32] jonathanolson commented on #215
It's possible to use `attach:false` versions of listener types to achieve this effect now. Would it be good to briefly discuss how this works sometime?

[2019-12-17 20:40] jonathanolson commented on #218
The above commit finished the last remaining item to be done above. Closing.

[2019-12-17 20:40] #218 closed

[2019-12-17 20:52] jonathanolson commented on #277
A future-proof way of doing this would be to have a dilation for top/bottom/left/right, for both mouse and touch, where it's possible to set multiple at once (e.g. `touchDilationX` would set left/right, `touchDilation` would set them all, etc.)

Then, on any bounds change (and on dilation changes), it would set the mouse/touch area to be a rectangular dilated region.

This doesn't work particularl

[2019-12-17 20:54] jonathanolson commented on #372
If DownUpListener is deprecated, does this need to be done?

[2019-12-17 20:59] jonathanolson commented on #456
Closing, will handle future issues on a case-by-case basis.

[2019-12-17 20:59] #456 closed

[2019-12-17 21:09] jonathanolson commented on #1021
I've also added a `clearOverPointers()` method above that will help resolve these issues (where it can be called once the node is removed and expected to be removed for more than a frame).

[2019-12-17 21:11] jonathanolson commented on #933
It's possible for a release to have no `Event` (can be triggered from interrupts), but `{Event|null}` is now passed in to release. I believe this should solve the issue, but you'll need a conditional check if it's used.

[2019-12-17 21:11] #933 closed

[2019-12-17 23:23] pixelzoom commented on #206
Attempted to verify with this example added to a ScreenView:

[code]

Clicking on `rectangleNode`, all I see is 'start 1'.  So the second SimpleDragHandler is not firing.

What am I doing wrong? How did you test this? Back to @jonathanolson.

[2019-12-17 23:27] pixelzoom commented on #215
https://github.com/phetsims/scenery/issues/206 (which deals with `attach:false`) is not verifying as fixed, so I'm skeptical that this is working.  @jonathanolson please elaborate on how you tested this so that I can verify.

[2019-12-19 01:42] pixelzoom commented on #277
I haven't had a problem doing:

[code]

It's simple, straightforward, clear, and works with values of type {Shape} and {Bounds2}.

I'm not in favor of more options, and likely would never use them.  I'm especially not a fan of options for that only address the {Bounds2} half of the pointer area API.  This makes no sense to me for Node, which can have any shape.

I have no problem with options for

[2019-12-19 01:46] pixelzoom commented on #1013
What you described in https://github.com/phetsims/scenery/issues/1013#issuecomment-566711412 sounds good to me.  It makes sense to set the cursor once, for the target Node, then have that cursor be used for all interaction unless otherwise specified.

[2019-12-19 16:24] jonathanolson commented on #1004
The PushButtonModel setup looks like it could be integrated into FireListener. @pixelzoom, any objections to that, or also potentially moving CallbackTimer into axon itself (since it has no sun dependencies)?

[2019-12-19 16:27] jonathanolson commented on #517
The PressListener/DragListener callbacks do not include a guaranteed event on release/end, so this issue would only be for changing SimpleDragHandler (which I don't think is worth the trouble).

[2019-12-19 16:29] jonathanolson commented on #558
I'm not sure I understand. Mouse.up is scenery-internal, and should exclusively be called with different Vector2s.

[2019-12-19 17:13] pixelzoom commented on #1004
Previous comment sounds like a good plan, no objections.

[2019-12-19 17:26] samreid commented on #558
It looks like some or all of the `Vector2`s are coming from `pointFromEvent` so it seems they are not recycled.  Does the `hasPointChanged` still need this expression? `this.point !== point`?

[2019-12-19 17:30] samreid commented on #558
Also, I don't know when Vector2 are released to the pool, so I can't be sure whether `this.point !== point` might be incorrect.

[2019-12-19 17:34] jonathanolson commented on #558
Those Vector2s aren't released to the pool anymore, so I'm fine getting rid of the instance check (or leaving it in). Do you have a preference?

[2019-12-19 17:36] samreid commented on #517
I added:

[code]
and this was triggered many times during a fuzz test.  Can you take a look and comment?

[2019-12-19 17:47] samreid commented on #558
I added:

[code]
and this was triggered many times during a fuzz test.  Can you take a look and comment?

[2019-12-19 17:47] jonathanolson commented on #517
It looks like this is just the fuzzer re-using pointer positions whenever it's just a pointer state change (up/down/etc.).

[2019-12-19 17:54] jonathanolson commented on #547
I believe the best way to handle this would now (if using DragListener) be to pass in a `canStartPress` option, that checks the event's trail to see if the "content that would handle the event" is included in the trail. Does that sound like a decent approach?

[2019-12-19 18:29] pixelzoom commented on #1013
12/19/19 dev meeting:

https://github.com/phetsims/scenery/issues/1013#issuecomment-566711412 sounds good.

[2019-12-19 18:32] pixelzoom commented on #277
12/19/19 dev meeting:  Pattern we use now is flexible. Everyone is comfortable with closing this, nothing needs to be done.

[2019-12-19 18:32] #277 closed

[2019-12-19 18:54] jonathanolson commented on #644
Implemented basic support for this above, where you can pass `collapseDragEvents:true` and then call `step()` on the listener.

If we want to figure out better ways of setting up stepping of listeners (globally, hooking in, etc.), that should be discussed here.

Tested with interaction with the following playground code:

[code]

With the above code, on MacOS Chrome I was getting 2 drags in-betwee

[2019-12-19 20:58] jonathanolson commented on #608
I applied the suggested renaming. UIEvent was almost never applicable now, due to how included keyboard (or other) events are from a11y, so I used `Event` for the raw DOM events (since it's the best supertype).

@ariel-phet do you feel this should be reviewed, or can it just be closed?

[2019-12-19 21:17] jonathanolson commented on #725
It seems like dispose() in the current version looks pretty complete. The only change I could imagine would be interrupting the listener in the disposal, but it still sounds weird.

@samreid should we discuss changes to the current SimpleDragHandler?

[2019-12-19 21:25] jonathanolson commented on #831
The above commits look great, thanks!

[2019-12-20 17:23] pixelzoom commented on #644
Wow, fun reviewing comments from 2+ years ago! I had no recollection whatsoever of this issue. Who is this @pixelzoom guy? :)

The `collapseDragEvents` option you've added seems sufficient to me.  I can't identify a need to get fancier.

[2019-12-20 17:28] pixelzoom commented on #547
Sorry, I don't understand `canStartPress`.  Example? What it the default?

[2019-12-23 17:02] samreid opened #1028 "NodeProperty doesn't support bounds very well"
From https://github.com/phetsims/scenery-phet/issues/569, NodeProperty doesn't support `'bounds'` because node.bounds is mutated rather than replaced, so Property notifications aren't sent out.

Assigned to @jonathanolson for initial discussion.

[2019-12-23 17:03] samreid commented on #1028
Note there is a working proposal (via a new option) in the patch in https://github.com/phetsims/scenery-phet/issues/569#issuecomment-568237889 that addresses (works around?) this.

[2019-12-23 21:28] samreid commented on #644
Can you add documentation of when it is appropriate to specify that option?

[2019-12-25 21:29] samreid commented on #558
In https://github.com/phetsims/scenery/issues/517#issuecomment-567592075 @jonathanolson said:

[2019-12-25 21:32] samreid commented on #558
If fuzzing relies on mutating a Vector2, it seems we should eliminate the part of `hasPointChanged` that checks reference equality, so that we can make sure fuzzing triggers the same code as non-fuzzing.  @jonathanolson does that sound right to you?

[2019-12-26 21:30] samreid commented on #725
That looks like it has since been annotated.

Adding `this.interrupt()` during dispose sounds like the right thing to do.

It also appears this issue was sparked by a comment from @pixelzoom in https://github.com/phetsims/equality-explorer/issues/25#issuecomment-352893000 -- @pixelzoom what else do you think remains for this issue?

[2019-12-30 15:07] samreid commented on #866
I think the last thing for this issue is to add a checklist item for how to test that a11y events can be recorded and played back.  Is there a QA issue or checklist for testing record and playback where it would be appropriate to add this?  After that's been added, this issue can be closed.

[2019-12-31 17:29] pixelzoom commented on #725
Calling `interrupt` on dispose sounds appropriate if there is a drag cycle in progress. Otherwise dragging could continue after dispose.   I don't know if that will cause other problems, or whether there should be a test in dispose that a drag cycle is in progress.

I can't tell what in https://github.com/phetsims/equality-explorer/issues/25#issuecomment-352893000 was or was not addressed, so I ha

[2019-12-31 17:30] pixelzoom commented on #725
The other option (which I think @jonathanolson said something about) would be to not allow dispose to be called during a drag cycle.

[2019-12-31 18:53] samreid commented on #725
@jonathanolson do you think this issue can be closed?

[2019-12-31 19:41] samreid commented on #948
It seems it would be simpler and more useful to allow `ColorDef` constructor arguments, but to upconvert to a `Color` instance in the constructor, so the values would have a uniform interface, and you could do things like this:

[code]

In that case, the value would always be a `Color` so it would make sense to call it `ColorProperty`.  @jonathanolson and/or @pixelzoom does that sound reasonable t

[2019-12-31 19:56] jonathanolson commented on #948
Have we had Properties that do implicit type conversion before? That's also not desirable in some circumstances to have ColorDefProperty upconvert

[2019-12-31 20:14] samreid commented on #948
I don't think so.

[2019-12-31 22:29] pixelzoom commented on #948
Would you do the same conversion for `setValue`?   Or would you require `setValue` arg to be `{Color|null}`?

The downside of this conversion would be `Color` instantiation, something that may be undesirable in situations where a ColorProperty changes frequently.

[2020-01-01 16:04] samreid commented on #948
Maybe we should schedule this for a PhET-iO developer discussion, because I agree that its best for our codebase to use ColorDef, but I wonder if it would be a clearer, simpler API for PhET-iO clients for it to always be a Color.

But I'd like to check in with @zepumph first.  What do you recommend?

[2020-01-02 23:42] zepumph commented on #1022
I don't thin that there is anything else for this issue. It was mainly to get the ball rolling. Thanks for all the good work, and I'll see you in individual bug issues (if there are any left). Closing

[2020-01-02 23:42] #1022 closed

[2020-01-03 01:14] zepumph commented on #1021
I used that and it worked like a charm! Can you explain to me why it didn't work to call "interrupt" in this case? Shouldn't that reset this state (over pointers list) for us so that we don't need to have another public function (aka a "gotcha" to remember).

[2020-01-03 02:05] zepumph commented on #831
Thanks!

[2020-01-03 02:05] #831 closed

[2020-01-03 03:35] zepumph commented on #866
@KatieWoe will you please add the following note to the recording section of the QA book, likely in the "Events: Recording Wrapper Test" section:

"If this sim is outfitted with alternative input, then also test keyboard navigation to make sure that those input events work as well."

or something like that.

[2020-01-03 16:31] KatieWoe commented on #866
Done in above commit.
@zepumph does this instruction include screen readers?

[2020-01-03 22:41] zepumph commented on #866
It does not need to. Thanks!

[2020-01-03 22:41] #866 closed

[2020-01-07 18:30] jessegreenberg commented on #1026
@zepumph and I took a quick look to understand more and found `AccessibilityTree.accessibleContentChange`. It currently has this documentation:

      // AccessibleInstance.

This may be a good place to start.

[2020-01-07 18:48] jessegreenberg commented on #1026
I ran into this issue with `accessibleName` setter, though it could happen from anything that triggers `AccessibilityTree.accessibleContentChange`. We discussed that one way to optimize performance and possibly hit this issue less frequently would be to not call `this.onAccessibleContentChange` in `Accessibility.setAccessibleName`. Instead, if using the default accessibleNameBehavior, we would dec

[2020-01-09 20:38] zepumph opened #1029 "RichText strips a space when directional formatting present"
From and explained in https://github.com/phetsims/chipper/issues/798#issuecomment-572329507, basically I have two i18n strings, and I use `StringUtils.fillIn` to fill one into the other.

When I do this, and create a RichText with the given string, the space immediately preceding the directional formatting is omitted.

The specific example is the usage of `OR_GROUP_STRING` in `GeneralKeyboardHelpS

[2020-01-09 22:38] lmulhall-phet opened #1030 "If console and devtools are open, sim components can freeze"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.14.6

<b>Browser</b>

Chrome 78.0.3904.87

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/455.

I was messing around in the "Data: JSON" wrapper and I noticed that I wasn't able to move the robot or the mass. I had devtools open and I was using the "device mode" feature. The bug persists if you close devtools

[2020-01-09 23:51] zepumph commented on #1029
After some investigation, it looks like because of directional formatting, the specific string in question is being split up into two RichTextLeaf instances with the following `content` passed to their constructors:
"Move to previous item"
"‪ or group‬"

I was able to dive into `RichTextLeaf.initialize()` and found that the white space is being stripped out as an actual "` `" and instead is conver

[2020-01-09 23:52] zepumph commented on #1029
This is blocking GFL publication.

[2020-01-13 18:20] jonathanolson commented on #1029
Should be fixed with the above commit. Thanks for the investigation!

[2020-01-14 00:39] zepumph commented on #1029
Oh what a great change. Thanks! I removed the workaround from https://github.com/phetsims/chipper/issues/798#issuecomment-572329507 and things are working great!

[2020-01-14 00:39] #1029 closed

[2020-01-14 17:03] samreid commented on #702
@ariel-phet can you please review https://github.com/phetsims/circuit-construction-kit-common/issues/426 and this issue, and prioritize/schedule/assign accordingly?

[2020-01-14 22:42] zepumph commented on #852
@jessegreenberg, what more needs to be done here? Is there anything I can do to help?

[2020-01-15 15:34] zepumph commented on #912
While looking at https://github.com/phetsims/scenery/issues/943 I will see if there is more needed here.

[2020-01-15 23:31] jessegreenberg opened #1031 "Safari plays error sound when keys are pressed in full screen mode"
This first came up  in https://github.com/phetsims/friction/issues/167 and has come up again in https://github.com/phetsims/molarity/issues/210 so we should see if we can find a general solution.

When in full screen mode, Safari will play a "bonk" sound if any key is pressed other than "tab" and "enter"/"spacebar" on buttons.

The "bonk" stops playing if we add `event.preventDefault()` in the eve

[2020-01-16 05:52] jessegreenberg commented on #1031
I discussed with @zepumph - we talked about having a place somewhere (like in A11yPointer) to call `event.preventDefault` when in full screen mode to generally prevent the "bonk" error sound. But this feels really risky. We need to avoid preventing default on tab, space, enter, escape keys at the very least. And there are probably many others too where we do NOT want to preventDefault.

I am going

[2020-01-21 20:07] jessegreenberg commented on #1031
I did some searching (particularly here https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API) but didn't see any attributes to add to prevent this error sound. We will continue on a case by case basis. Closing.

[2020-01-21 20:07] #1031 closed

[2020-01-23 17:31] samreid commented on #1026
Can you please provide instructions how to produce this symptom?  What sim URL, query parameters, sequence of actions, etc?  How is the guard in `setAccessibleName` not successfully guarding?

[2020-01-23 18:15] zepumph commented on #1026
This is a bug with any function in Accessibility.js that calls `this.onAccessibleContentChange();`. When this function is called, currently the entire PDOM is recreated, which results in the screen reader repetition.

One way to reproduce would be to reverse the simple commits in https://github.com/phetsims/molecules-and-light/issues/237, as that was the MAL specific, original ticket for this bug.

[2020-01-23 18:20] jessegreenberg commented on #1026
Also from https://github.com/phetsims/molecules-and-light/issues/237 - Replacing `innerContent` with `accessibleName` at what is currently line 70 in MoleculesAndLightScreenSummaryNode:
[code]
to
[code]
will recreate the issue. After this change you can observe the problem by
 - Launching molecules-and-light with VoiceOver enabled.
 - Move the photon rate slider with keyboard input.
 - Every time

[2020-01-27 00:47] samreid opened #1032 "Seam in the builder"
While working on https://github.com/phetsims/chipper/issues/840, I noticed a seam at the input and output of the function pipe: [_@pixelzoom edit: We refer to this as "the builder"._]

![image](https://user-images.githubusercontent.com/679486/73034229-97bf2f80-3e01-11ea-99d5-57b4cbc9bba2.png)

Not sure this warrants any work, but I thought I should write it down.

[2020-01-29 05:09] zepumph commented on #943
I felt like both of these were just fine. These examples don't need to be too complicated, and the PDOM formatting is just a helpful side piece to the slider.

I'm really happy with these examples, and I'm glad that @twant was able to put so much good work into the. Closing

[2020-01-29 05:09] #943 closed

[2020-01-29 05:45] zepumph commented on #924
This makes sense to me, since right before it the conditional is only for Nodes with a single AccessibleInstance.

I don't think so, because of this line `        const active = this.display.pointerFocus || this.display.activeNode;`

pointerFocus takes precident over activeNode. I also saw that they are set at different times so there is no way to keep the logic of having pointerFocus have priorit

[2020-01-29 21:17] jessegreenberg opened #1033 "accessibleOrder working in combination with accessibleVisible"
We would like to change the way that `accessibleOrder` works in combination with `accessibleVisible`. *Currently* `accessibleOrder` is implemented in such a way that if node with accessible content has an ancestor that is `visible: false` or `accessibleVisible: false`, it will NOT show up in the PDOM even if the pulled into another place in the `AccessibleInstance` tree. For example, consider Node

[2020-01-29 21:20] jessegreenberg commented on #1033
We need to decide if this is a worthwhile change. It is a pretty large amount of work and complexity. For ComboBox we are going to proceed without this change (so that we can publish Molarity).

We are going to digest a little and come back to this at the next a11y dev meeting to see if we have strong feelings for proceeding with this. Otherwise we may leave this and continue with current behavior

[2020-01-30 04:27] jonathanolson commented on #1013
Implemented above. The make-a-ten (and the copied number-play code, hope we don't need the copy longer term) code uses a custom targetNode which is different than the node with the cursor set, so we can't use it there.

It looks like pressCursor is used in natural-selection (DataProbeNode), and removing it still has the desired behavior (fallback to the ew-resize set on the DataProbeNode). @pixelz

[2020-01-30 04:28] jonathanolson commented on #1021
Interrupting it doesn't change whether pointers are over it, and is likely to be called WHILE pointers are over it, so it could almost cause the opposite issue (missed enter).

[2020-01-30 05:00] jonathanolson commented on #1004
Added fire-on-hold to FireListener (and tested various configurations in the scenery playground). Marked FireOnHoldInputListener as deprecated.

@pixelzoom are you available to review, or close if desired?

[2020-01-30 05:02] jonathanolson commented on #725
This looks complete to me, closing.

[2020-01-30 05:02] #725 closed

[2020-01-30 05:05] jonathanolson commented on #644
Added documentation, good to close?

[2020-01-30 05:29] jonathanolson commented on #206
If I apply the following patch, I'm running into errors in CCK (example below). It seems that some code is reliant on the current behavior (setting the `.dragging` flag on the pointer, even on SimpleDragHandlers with `attach:false`, which is causing the bad behavior noted in https://github.com/phetsims/scenery/issues/206#issuecomment-566794384).

Other sims look good. @samreid thoughts? Since Simp

[2020-01-30 05:32] jonathanolson commented on #215
SimpleDragHandlers, due to old behavior which apparently seems to be relied on, lock other SimpleDragHandlers out (even if both are `attach:false`). This is not true with SimpleDragHandler-PressListener interaction, or with PressListener-PressListener interaction.

This is used in e.g. fractions-common GroupNode (one PressListener with attach:false handles selection, while a DragListener handles t

[2020-01-30 06:18] ariel-phet commented on #702
The bug no longer seems to be present (or is quite difficult to reproduce and a highly unlikely user action, see https://github.com/phetsims/circuit-construction-kit-common/issues/426#issuecomment-580100626).

Closing

[2020-01-30 06:18] #702 closed

[2020-01-30 06:22] #131 closed

[2020-01-31 03:31] zepumph commented on #1021
Ahh yes, that makes a lot of sense to me. Alright I'm ready to close. Thanks @jonathanolson, I really really appreciate the help.

[2020-01-31 16:01] pixelzoom commented on #1013
Verified in Natural Selection, where I removed `pressCursor` (see above commit).

Closing.

[2020-01-31 16:01] #1013 closed

[2020-01-31 16:23] pixelzoom commented on #1004
I verified that fire-on-hold was added to FireListener.  But the other half of this (as I understood from https://github.com/phetsims/scenery/issues/1004#issuecomment-567560199) was that the function was moving from PushButtonModel to FireListener.  PushButtonModel is not using FireListener, still has its own copy of this functionality, which may diverge.  So recommend to make PushButtonModel use

[2020-01-31 16:25] pixelzoom commented on #1004
Shouldn't SCENERY_PHET/HighlightListener also be addressed as part of this issue?

[2020-01-31 16:37] pixelzoom commented on #215
I'm not familiar with fractions-common, and I don't have time to go looking for GroupNode and EyeDropperNode, then figure out how they are relevant.  Please provide steps to reproduce -- a simple description of what to do in the UI is all that's needed, like https://github.com/phetsims/acid-base-solutions/issues/117.

[2020-02-05 05:30] zepumph commented on #1016
@jbphet , https://github.com/phetsims/sun/issues/536 is very similar to this issue. I would love to discuss before either of us go further on these.

[2020-02-06 00:34] zepumph opened #1034 "validatePointersAction should not be phetioPlayback: true"
From work in https://github.com/phetsims/gravity-force-lab/issues/242#issuecomment-582679764, this action is being triggered downstream from the stepSimulationAction, and then again as its own top level playback event.

@samreid and I looked into it more and didn't see any other usages of the method, so we should change this.

[2020-02-06 07:44] ariel-phet commented on #608
I think this issue can just be closed. Closing

[2020-02-07 21:56] zepumph commented on #608
From https://github.com/phetsims/gravity-force-lab/issues/245 I have a reason for a `UIEvent` now. IE doesn't support `new window.Event` so I am going to create a type that can ducktype properly for IE. I discussed this pattern in a single usage earlier today with @jonathanolson, but I'm going to reopen this to add `UIEvent` and then assign @jonathanolson to make sure it all looks good.

[2020-02-07 23:02] zepumph commented on #608
After further discussion with @jonathanolson. I think I'm going to close this and try to resolve my issue in https://github.com/phetsims/phet-io-wrappers/issues/321 more locally.

[2020-02-07 23:02] #608 closed

[2020-02-12 07:04] ariel-phet commented on #993
I am marking this issue as deferred for the moment.

Priority can be raised if we get a user reported bug. My reasoning is that:

1. It is not clear how much our user's know about the full screen option (I rarely see fullscreen sims on media tweets on twitter, and those all seem to be from the app).

2. The fullscreen option is buried in the menu

3. If you have actually bothered to go to the menu

[2020-02-18 17:42] samreid opened #1035 "Rename Node.excludeInvisible"
During https://github.com/phetsims/joist/issues/608, we introduced a new Node option `excludeInvisibleChildrenFromBounds`.  However, there is a pre-existing option `excludeInvisible`.  It seems like `excludeInvisible` should be rename to be more specific.  @jonathanolson can you suggest a more specific name for that?  Maybe `excludeInvisibleChildrenFromDOM`?

[2020-02-18 17:52] jonathanolson opened #1036 "branch: dynamic-layout"
To support https://github.com/phetsims/joist/issues/608

[2020-02-19 20:13] chrisklus opened #1037 "focusProperty improvements for PhET-iO"
From https://github.com/phetsims/phet-io/issues/1607, @arouinfar said:

- [x] Why does `general.focusProperty` appear in sims that do not have keyboard navigation yet? (e.g. EFAC). Can this be hidden if no keyboard nav?

  from @zepumph - `focusProperty` is created as a static on Display.js, which happen before we determine if a sim has accessibility enabled in Sim.js. This will take some work to

[2020-02-21 17:13] jonathanolson opened #1038 "Consider moving .rasterized() to Image"
We don't want to have loading order issues like in https://github.com/phetsims/chipper/issues/871

[2020-02-23 17:45] jessegreenberg opened #1039 "Add lang attribute to PDOM root"
@terracoda ran a sim through the WAVE (Web Accessibility Evaluation Tool) which provided an error that no lang attribute is specified.

Over slack @terracoda suggested:

[2020-02-23 17:46] zepumph commented on #1039
I think that this could be an option when creating a display. Right now,  Sim.js can pass in a hard coded "EN"  but in the future we can change that to "phet.chipper.locale"

[2020-02-23 18:08] jessegreenberg commented on #1039
I considered an option but it didn't seem necessary to add to the Display API. Instead I just went with a setter on Display.accessibleDOMElement.  But I don't feel strongly if you think an option would be better @zepumph.

[2020-02-24 20:30] pixelzoom commented on #56
This was implemented long long ago.  Closing.

[2020-02-24 20:30] #56 closed

[2020-03-03 15:50] pixelzoom opened #1040 "CT: SyntaxError: Unexpected token '}'"
scenery has been failing CT repeatedly with this error:

[code]

Assigning to @jonathanolson and @samreid, the last 2 committers.

[2020-03-03 15:59] samreid commented on #1040
Proposed fixes pushed, @jonathanolson can you please review?

[2020-03-03 18:09] pixelzoom opened #1041 "how to disable input listeners"
Over in https://github.com/phetsims/ph-scale/issues/118#issuecomment-591745256 @kathy-phet noted about the dropper in ph-scale:

I said:

@arouinfar said:

[2020-03-04 01:15] zepumph commented on #1037
I think I want to discuss this with a designer, marking for meeting. I want to gauge priority and discuss constraints like the static nature of `Display.focusProperty` and how focusedPhetioIDs is verbose to support DAG.

[2020-03-05 18:07] jonathanolson commented on #1040
Thanks! Looks good.

[2020-03-05 18:07] #1040 closed

[2020-03-05 18:38] zepumph commented on #1037
During phet-io meeting today, we decided that the focusProperty would be always phetioFeatured, and then add documentation like "this is only used when the simulation supports alternative input (like keyboard navigation)."

[2020-03-05 20:44] pixelzoom commented on #1041
Over in https://github.com/phetsims/ph-scale/issues/118, ph-scale design team decided that they want to move forward with this. I'll discuss with @jonathanolson.

[2020-03-05 21:49] zepumph commented on #1037
A11Y vs phet-io friction:

This is an example of conflict between a11y and phet-io. The Node hierarchy was added because we can't guarantee that a11y's "instrumentation" in the Node structure will be best for/match with phet-io's. For example in ISLCRulerNode, the common code component "RulerNode.js" was instrumented for phet-io, but the ISLCRulerNode, which composes a RulerNode, is what has PDOM

[2020-03-05 22:29] zepumph commented on #1037
I implemented the phetioFeature and documentation update above. Unassigning and leaving open for work when a11y and phet-io integration is happening.

[2020-03-06 23:59] pixelzoom commented on #1041
@jonathanolson The proposal is to add `enabledProperty` to all input listeners, so that they can be disabled directly via Studio or the PhET-iO API.  Does this sound feasible? And what's the time estimate?

[2020-03-07 00:31] kathy-phet commented on #1041
@pixelzoom - My understanding from the meeting was to add it to the dragListener, but I didn't think it was to add it to all the listeners - since button presses don't need it for instance?

[2020-03-07 01:19] pixelzoom commented on #1041
@kathy-phet That was not my understanding from the design meeting, and doesn't match my meeting notes in https://github.com/phetsims/ph-scale/issues/118#issuecomment-595437667.  Making this feature specific to drag listeners is also something that I do not agree with. We are not trying to solve only the dropper button problem in ph-scale. This is a general issue that could occur for any input list

[2020-03-07 18:35] pixelzoom commented on #1037
@zepumph I see that you updated the documentation for `focusProperty`, which was discussed in last Thursday's phet-io meeting.  The new doc is:

[code]

I'm not sure about the "Note that this only applies to simulations that support alternative input."  I doubt that PhET-iO clients will understand "alternative input", because I'm having trouble understanding it myself.   If focusProperty is indeed

[2020-03-09 01:09] samreid opened #1042 "Webstorm finds globals in creator-pattern.html"
When adding `new DragListener` to new code, WebStorm thinks it is referring to the global defined in creator-pattern.html, and this hampers navigation/autocomplete/highlighting.  I recommend to wrap that code in a function so those values aren't "global".

[2020-03-09 01:11] samreid commented on #1042
Fixed, closing.

[2020-03-09 01:11] #1042 closed

[2020-03-09 21:50] jonathanolson commented on #1041
Only instrumented input listeners (e.g. SimpleDragHandler, PressListener variants, etc.), or ALL input listeners (e.g. `node.addInputListener( { down: ... } )`, `DragListener.createForwardingListener`, etc.)?

Presumably changing enabled to false would do the equivalent of interrupting the listener? How would "enabled" false work for hover state?

[2020-03-09 21:52] jonathanolson commented on #1041
Time estimate for SimpleDragHandler/PressListener wouldn't be too long, as long as the behavior is well defined. It will probably take longer to hook it up everywhere (as sun buttons or other things have their own "enabled" Properties, and it's unclear if we would want to tie those together).

[2020-03-09 23:13] pixelzoom commented on #1041
Yes.

I don't know, mainly because I don't really understand the question.

While the immediate need for this is for drag listeners, I recommend doing this generally for input listeners, rather than just for drag listeners.  That said, I'm going to bow out of this issue. This is a general PhET-iO design issue, and I'm way behind on other work.   So designers (@arouinfar @kathy-phet) please communi

[2020-03-10 16:14] jonathanolson commented on #1041
I'd like to understand more about the desired behavior. Disabling the input listener also wouldn't change the mouse hover cursor for most draggable things.

This also has more wide-ranging implications, if we need to change many simple input listeners from raw objects to something that can take a tandem. Additionally, what else in our input listeners should be instrumented?

@arouinfar and @kathy-

[2020-03-11 15:08] kathy-phet commented on #1041
@arouinfar - Can you schedule a zoom discuss for this with @jonathanolson?

@pixelzoom - We can deliver a dev version without this feature being possible, but it is a bigger issue for other simulations - like Bending light and anything with a timer node.

[2020-03-11 15:12] pixelzoom commented on #1041
@kathy-phet Is this a prerequisite to delivering the final PhET-iO version?

[2020-03-11 15:54] kathy-phet commented on #1041
Only becomes blocking if the client tags it as a blocking issue in their dev review. It wasn't requested by the client for this sim, and it can be added later if needed by a client. However, it did highlight a bigger issue that will occur across simulations, and be more critical in other simulations, so a conversation with @jonathanolson would be good.

[2020-03-18 00:34] zepumph commented on #997
I think that may be much more clear, especially for the file names. @jessegreenberg what do you think?

[2020-03-19 22:35] jessegreenberg commented on #859
From review comment asking about this, this can now be removed since we are not using WebGL and we are no longer targeting iPad2. I tested the sim for several minutes on an iPad 3 and saw no crashing or memory related failures.

[2020-03-31 18:50] zepumph commented on #1033
Over in https://github.com/phetsims/molarity/issues/213 and  https://github.com/phetsims/sun/issues/565 @jessegreenberg ended up publishing molarity with the combobox listbox not constraining the virtual cursor inside of it. That felt like the right decision given the cost of this issue. Furthermore, we reached out to the ARIA working group to consult on this problem and they didn't think this nee

[2020-03-31 18:56] zepumph commented on #1024
@jessegreenberg and I aren't going to work on this again until it because an issue with a sim. Removing from meeting.

[2020-04-06 23:35] zepumph commented on #1016
In order to have the code as @jbphet had it above in DragListener, `KeyboardDragListener` would have to be integrated into it. This would complicate this issue a fair bit, but I feel like it may be good work to do.

It is hard to know that these always correspond to the same Node across the project, though they likely overlap mostly. I want to mark this for discussion with @jessegreenberg tomorrow

[2020-04-06 23:42] zepumph commented on #997
Here is the list above turned into a checklist. I'll add to it more if things come up

- [ ] create `scenery/js/accessibility/pdom/`
- [ ] Under that dir move and rename a fair number files, most of which from "Accessibility/Accessible" to "PDOM":
  - [ ]  Accessibility.js -> PDOM.js
  - [ ]  AccessibilityFuzzer.js -> PDOMFuzzer.js
  - [ ]  PDOMInputTests.js
  - [ ]  PDOMTests.js
  - [ ]  PDOMTree

[2020-04-07 01:29] zepumph commented on #997
I made it through a lot of https://github.com/phetsims/scenery/issues/997#issuecomment-610092498, but more is still to come.

[2020-04-07 18:15] jessegreenberg commented on #1016
I am hesitant to add KeyboardDragListener into DragListener and I think most usages of DragListener would not want KeyboardDragListener functionality. Since it is so difficult to describe arbitrary 2D motion, we generally try to use alternatives first like AccessibleSlider for 1D motion, or even a limited set of positions for an object.

[2020-04-07 20:35] zepumph commented on #1016
After discussing with @jessegreenberg today, we thought through potential general solution to know whether events come from the PDOM or not. Note that we already have `SceneryEvent.prototype.isFromPDOM()`, and that has the capability to check for any event passed into a listener callback. We thought about potentially having a trait for `Node` that just has `inputFromPDOMProperty` or something. The

[2020-04-07 20:35] #1016 closed

[2020-04-08 19:34] samreid commented on #578
I tried TinyEmitter like so:

[code]

Then adding this code to the end of the Node constructor:

[code]

Added about 4MB heap to Area Model Algebra.

[2020-04-09 09:44] jonathanolson commented on #490
It looks like for phet-io, it would be helpful for more Property/Emitter-like handling in Scenery. After collaboration with @samreid, @zepumph, and @chrisklus today, this is to a point where I believe it's the correct path forward, and I'm committing to master. It shows slightly faster performance (2%), but currently due to the emitter refactoring adds a bit of memory usage (1%-5%).

This was a pr

[2020-04-09 16:00] samreid commented on #490
Testing the memory in Area Model Algebra with ?ea, I see 38.6MB heap.  When I commented out `TinyEmitter.isDisposed` the memory decreased to 35.1MB.  This is a 9% reduction.

If I additionally lazily create `TinyEmitter.listeners` and `TinyEmitter.activeListeners` it reduces the memory to 33.6MB.

<details>

[code]

</details>

Combined, this is a 13% decrease in heap.  However, this would probabl

[2020-04-09 16:03] zepumph commented on #490
- [ ] It would also be good to potentially refactor Property to compose `TinyProperty` instead of `TinyEmitter`. Investigation will be needed.

[2020-04-09 17:36] pixelzoom commented on #490
4/9/20 dev meeting comments:

* Eliminate NodeIO visibilityProperty, pickableProperty, opacityProperty ?
* Should pickableProperty and opacityProperty be replaced by enabledProperty?
* Can `visibleProperty` be passed in via options? How about other Properties?
* Should TinyProperty be used by Property?

[2020-04-09 18:29] jonathanolson commented on #490
Will discuss during Wednesday's phet-io meeting

[2020-04-09 19:30] zepumph opened #1043 "Instrumentation updates for Input.js"
From a phet-io meeting today:

* some Actions are called `*MovedAction` and some are called `*MoveAction`, we think they should all be present tense.
* There is need for a period in a lot of the phetioDocumentation
* Discuss with @jonathanolson if this is the correct "level" in scenery input event handling for the instrumentation.

[2020-04-09 20:15] zepumph commented on #1043
After discussing with @jonathanolson, we feel like the instrumentation level currently in Input.js is appropriate.

[2020-04-09 21:06] zepumph commented on #1043
I renamed mouseMovedAction to mouseMoveAction. I also added periods to documentation. @arouinfar can you please review.

[2020-04-13 16:05] pixelzoom opened #1044 "stale values for TinyProperty instances in Node"
These `TinyProperty` fields, all of which are `@public`, were recently added to Node for https://github.com/phetsims/scenery/issues/490:

boundsProperty
localBoundsProperty
childBoundsProperty

According to @jonathanolson said in Slack:

boundsProperty/localBoundsProperty/childBoundsProperty are the only asynchronous/lazy ones, the other Properties should be fairly immediate (a few do handle scene

[2020-04-13 18:18] jonathanolson commented on #1044
@pixelzoom, can you verify that this is now working as desired for your use cases? (axon and scenery commits, and a joist commit for fixing the title node)

[2020-04-13 18:19] jonathanolson commented on #490
Also commits in https://github.com/phetsims/scenery/issues/1044 will need to be reviewed for this. We're now hooking into TinyStaticProperty reads to force bounds validation and things, and I updated documentation for the sometimes-unused properties.

[2020-04-13 19:46] pixelzoom commented on #1044
I verified that boundsProperty, localBoundsProperty, and childBoundsProperty are providing expected values when accessed directly.  I also skimmed the above commits and didn't see anything wrong.

[2020-04-13 19:46] #1044 closed

[2020-04-14 03:57] pixelzoom opened #1045 "CT: Cannot read property 'compose' of undefined"
CT has been failing since 4/13/2020, 4:42:08pm with the Errors:

[code]

[2020-04-14 16:40] jonathanolson commented on #1045
Looks like webpack placing dependencies in an order where they can't load after the work around circular dependencies in https://github.com/phetsims/chipper/issues/871, may need to revert things.

[2020-04-14 17:00] jonathanolson commented on #1045
The above commit seems to have fixed this, going to wait for CT to verify.

[2020-04-16 19:02] jonathanolson commented on #1045
Looks fixed to me, closing.

[2020-04-16 19:02] #1045 closed

[2020-04-17 18:07] zepumph opened #1046 "Remove NodeIO PhET-iO sub Properties"
Now that we have Properties in Node (see https://github.com/phetsims/scenery/issues/490), (work stemming from discussion in https://github.com/phetsims/phet-io/issues/1642), we can likely replace the complicated pattern of having NodeIO defined PhET-iO instrumented Properties for instrumented Nodes.

Some of the specification that apply to this issue were outlined in https://github.com/phetsims/sc

[2020-04-17 18:10] zepumph commented on #490
I created a few more side issues about topics from https://github.com/phetsims/scenery/issues/490#issuecomment-611656267. I think that this one applies here still:

Over to you @jonathanolson.

[2020-04-17 22:08] zepumph opened #1047 "Uninstrument opacity and pickable Properties?"
Now that we have a much better interface for instrumented enabledProperty elements, the PhET-iO team wonders if we can't get rid of `opacityProperty` and `pickableProperty` as instrumented Nodes on the API.

This question is largely for designers. Can they see a reason for these to be instrumented that aren't available to the client by just using `enabledProperty`? And, even if there are some, is

[2020-04-17 22:09] zepumph commented on #1046
@jonathanolson, @samreid, @chrisklus, and I all worked on passing in visibleProperty to Node, and supporting it as an "instrumented sub Property" in the correct cases. This involved adding `TinyForwardingProperty` to make sure that Node.visibleProperty references would always be correct. We thought through multiple use cases, testing many of them, and they seemed to work in simple runs. We will wa

[2020-04-17 22:09] zepumph commented on #1047
(see https://github.com/phetsims/scenery/issues/1046 for where this work came from).

[2020-04-17 23:09] arouinfar commented on #1047
@zepumph is the proposal to get rid of `opacityProperty` and `pickableProperty` for everything? There are definitely cases were `pickableProperty` is critical, though I can't necessarily say the same for `opacityProperty`.

For example, one of the client requests for ph-scale was to fix the position of the pH meter probe. The only way that this is possible is through the ProbeNode's `pickablePrope

[2020-04-17 23:14] kathy-phet commented on #1047
I agree with @arouinfar's comments re pickability. There are definitely cases where we feature that. Keeping opacity and pickability as customizable provides flexibility for the client if they disagree with our choices of what disabled looks like visually.

[2020-04-20 17:02] chrisklus commented on #1046
`visibleProperty` is broken in Studio on master. Marking blocks-publication and adding to the list in https://github.com/phetsims/ph-scale/issues/164.

[2020-04-20 19:10] chrisklus commented on #1046
Fixed in the commit above. When creating the default `instrumentedVisibleProperty`, we were linking the not-yet-assigned class property instead of the Property variable. Tested with a few sims in Studio and phet-brand. Unmarking for blocks-publication.

[2020-04-21 18:49] zepumph commented on #776
@jessegreenberg and I realized that this issue is quite a bit easier now that we have `ParallelDOM.accessibleAudit()`. We added an assertion in there that makes sure that if `input` is the `tagName`, then it has an `inputType`. All interactive-description-enabled sims are passing fuzzing locally. Closing.

[2020-04-21 18:51] #776 closed

[2020-04-21 21:42] jessegreenberg opened #1048 "Add ability to listen for keyboard events outside of the PDOM"
For https://github.com/phetsims/scenery-phet/issues/571.  We want to be able to listen to keyboard events when focus is outside of the PDOM.

One way to do this is to listen for events is to attach the Display.keyStateTracker to document.body (See KeyStateTracker.attachToBody).

Another way to do this would be to attach DOM input listeners for PDOM to Display.domElement instead of Display.accessib

[2020-04-21 21:52] jessegreenberg commented on #1048
This is working well. aqua tests passing.

This isn't working. When the browser is active but focus isn't in the PDOM, listeners have to be on document.body to receive input. And when this happens, clicking on the sim is sending 'click' events  through the PDOM input system

[2020-04-21 22:13] jessegreenberg commented on #1048
But scenery tests are failing, would need to investigate.

But @zepumph and I also just discussed and he recommended another approach:
Add a subset of set of Input.A11Y_EVENT_TYPES to the document.body, and dispatch down the scene graph with SceneryEvent.type names like 'global-keydown' (or something). This way we can listen go global key events using the typical scenery Input system and without u

[2020-04-22 04:06] jessegreenberg commented on #1048
I don't see this working yet. On document.body, there is no target in the scene graph and therefore no trail to dispatch to.

[2020-04-22 04:29] jessegreenberg commented on #1048
The way to do a "global" event la dispatch would mean something like getting all leaf trails in the scene graph and dispatching a SceneryEvent to all of them.

[2020-04-22 05:04] jessegreenberg commented on #1048
https://github.com/phetsims/scenery/issues/1048#issuecomment-617542561

Is possible, but feels excessive. MAL has 209 leaf trails and we would be dispatching to all of these with bubbling every event. This also isn't the correct behavior yet. A node that has more than one leaf trail through it will receive "global" events multiple times as we dispatch an event to each one. Would be good to brainst

[2020-04-22 15:30] jessegreenberg commented on #1048
I pushed the change to attach the KeyStateTracker to the body so that it can be used for keyboard events outside of the PDOM. Unit tests and aqua fuzzing is passing.

[2020-04-22 22:48] arouinfar commented on #1043
@zepumph looks good in master. Not sure if these dev review, so back to you.

[2020-04-23 22:47] #1043 closed

[2020-04-27 17:13] pixelzoom opened #1049 "add Image option to hit test non-transparent pixels"
Encountered in Natural Selection, while selecting bunnies.

For hit testing, Images are treated as rectangles. So if you have a situation like this:

<img width="65" alt="screenshot_286" src="https://user-images.githubusercontent.com/3046552/80399885-316e0100-8877-11ea-8cac-5dd52b0855ec.png">

... pressing in the center of the background bunny's torso will actually select the foreground bunny.  Th

[2020-04-30 19:03] Denz1994 commented on #490
From dev meeting 04/30/20:

Will revisit once other Property related changes are reviewed.

[2020-04-30 19:07] zepumph commented on #1047
I am very interested in hearing more about this, perhaps a brief discussion in phet-io meeting would be nice to go over this. It isn't clear that the above cases warrant instrumenting these for every case.

[2020-04-30 19:11] zepumph commented on #1046
I see these points to move forward here:
* Wait on conclusion in https://github.com/phetsims/scenery/issues/1047 as to whether or not we need to support a default, phet-io instrumented,
* Support passing in Properties via options for anything else that is desired beyond visibleProperty
* Review changes, especially with usages of `ForwardingProperty`.

The second bullet feels like something we coul

[2020-05-06 16:26] jonathanolson commented on #578
This issue's work was completed in other issues. I've removed said branch.

[2020-05-06 18:30] jonathanolson commented on #490
Cleaned up the TinyProperty* stuff in the above commit. Should be ready for full review now.

[2020-05-07 16:53] pixelzoom opened #1050 "optimize ParallelDOM.disposeAccessibility"
When the "Reset All" button is pressed in Natural Selection, that can result in disposing up to 4000 BunnyNode instances.  So anything that occurs in `dispose` need to be performance optimized.

As noted in https://github.com/phetsims/natural-selection/issues/61#issuecomment-624171130, `Node.dispose` calls `ParallelDOM.disposeAccessibility`, which appears to do a significant amount of tear down re

[2020-05-07 17:29] zepumph commented on #1047
From PhET-iO meeting today, we want to uninstrument opacity and pickable Properties for phet-io generally. The important features we need to build out in order to support this would be:

* Support opacity and pickable Properties being passed in through options like we supported for visibleProperty over in https://github.com/phetsims/scenery/issues/1046. Then, when needed, instrumented versions of

[2020-05-07 17:45] jessegreenberg commented on #1050
I am sure it could be improved. I am having a hard time getting it to show up in the profiler in natural-selection (to reproduce https://github.com/phetsims/natural-selection/issues/61#issuecomment-621588910) but I can easily see it taking up a lot of time in the scenery playground, just from
[code]

![image](https://user-images.githubusercontent.com/6396244/81327235-f33bc300-9068-11ea-9d0b-507641

[2020-05-07 19:01] arouinfar commented on #1041
Given the outcome of today's PhET-iO meeting discussion (https://github.com/phetsims/scenery/issues/1047#issuecomment-625393439), I don't think designers still need to be assigned to this issue.

[2020-05-07 20:49] jessegreenberg commented on #1050
Total time disposing 10000 Nodes with _.isEqual
![total-time-with-isEqual](https://user-images.githubusercontent.com/6396244/81343246-a238c880-9082-11ea-964c-e487031c257e.PNG)

And without _.isEqual:
![total-time-without-isequal](https://user-images.githubusercontent.com/6396244/81343258-a82ea980-9082-11ea-8e21-46e0ea685338.PNG)

[2020-05-07 21:44] jessegreenberg commented on #1050
I committed those changes, things are working and unit tests are passing. Everything in `disposeAccessibility` is essentially a no-op now unless there is content to dispose (and there shouldn't be for BunnyNodes). On my machine we started at 70ms to dispose 10,000 nodes with assertions and came down to 41ms with assertions and 25ms without assertions.

Not sure if this will be noticeable for Natur

[2020-05-08 23:03] pixelzoom commented on #1050
Thanks for investigating @jessegreenberg, and I think it was worth removing `_.isEqual`.  But not a significant improvement for Natural Selection.  Disposing of 1428 BunnyNode instances took 224ms before https://github.com/phetsims/scenery/commit/2fa162d1965f2a479fe0c6f3fa8edd91d9f3d186, after takes 216ms.  Timed in BunnyCollection.reset, like this:

[code]

I'm going to leave this open for a litt

[2020-05-08 23:08] pixelzoom opened #1051 "incomplete doc for PDOMInstance in updateTransformTracker"
Noted while working on https://github.com/phetsims/scenery/issues/1050.

In PDOMInstance.js, `@param node` does not exist, and `pdomTransformSourceNode` is not documented.

[code]

[2020-05-08 23:10] pixelzoom opened #1052 "PDOMInstance uses continue"
Noted while working on Noted while working on https://github.com/phetsims/scenery/issues/1050.

PDOMInstance.js is using `continue`, which is effectively a "go to".  This can easily be written in a way that doesn't require this style of programming (which should generally be avoided).

[code]

[2020-05-08 23:12] pixelzoom commented on #1052
I should also note that I noticed this because WebStorm flags `continue instanceLoop;` as "continue statement with unnecessary label".

[2020-05-08 23:37] pixelzoom commented on #1052
Here's one possible rewrite (untested):

[code]

... and this expression sure could benefit from some documentation:

[code]

[2020-05-08 23:59] pixelzoom commented on #1052
A nice summary called "Avoid continue": https://www.teamten.com/lawrence/programming/avoid-continue.html.   See also page 111 of "JavaScript: The Good Parts" by Douglas Crockford, if you have a copy.

[2020-05-09 00:04] jessegreenberg commented on #1051
You are right, thanks. updateTransformTracker also doesn't return anything. I updated the JSDoc, reassigning to you in case you would like to review.

[2020-05-09 16:19] pixelzoom commented on #1051
👍

[2020-05-09 16:19] #1051 closed

[2020-05-11 16:04] pixelzoom commented on #1052
Same pattern in arrayDifference.js:

[code]

[2020-05-11 16:06] pixelzoom commented on #1050
@jessegreenberg It looks like this `for` loop in `PDOMUtils.validateAssociationObject` can be skipped when assertions are enabled:

[code]

Change to:

[code]

[2020-05-11 16:27] pixelzoom commented on #1050
Other than the above assertion, I don't see anything obvious that can be optimized. And I'm not familiar enough with how a11y is handled in scenery.   So I'm going to close this issue.

[2020-05-11 16:27] #1050 closed

[2020-05-12 00:18] zepumph opened #1053 "Event.keyCode is deprecated"
While working on https://github.com/phetsims/ratio-and-proportion/issues/44, I found over at https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode that keyCode is deprecated. We use this a ton, and it didn't seem totally clear how we should go about handling this. Looking at https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent is not uplifting, as there doesn't seem to b

[2020-05-12 14:59] jessegreenberg commented on #1053
Thanks for bringing up. `keycode` has been deprecated for a long time, but the last time we looked into it none of the recommended alternatives had wide support. Support looks a bit better these days though.

MDN recommends `event.code`, but it isn't supported on IE11. https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code

But it looks like `event.key` now has support on all of PhET'

[2020-05-12 18:30] jessegreenberg commented on #1053
We discussed this today and both agreed that it is the right thing to do to move away from deprecated `keyCode`. We should be using `key` instead since it has support on all of our platforms.

`event.key` differentiates capitalization, but our code does not. To get around this, at usages we are going to convert all `event.key` to lower case, then use functions like `KeyboardDragListener.shiftKeyDo

[2020-05-12 18:51] jessegreenberg opened #1054 "Use KeyStateTracker in KeyboardDragListener"
KeyStateTracker was created to manage the state of the keyboard generally, but it was never applied to KeyboardDragListener. We should do that now.

We discussed using the global KeyStateTracker (currently on the Display), but decided against that because there is no guarantee that it will be up to date by the time we receive keyboard events in that listener. So KeyboardDragListener should have it

[2020-05-12 18:53] jessegreenberg commented on #913
This is very old, big ping to myself to review while I do https://github.com/phetsims/scenery/issues/1054.

[2020-05-12 18:53] jessegreenberg commented on #1054
Giving medium priority to match #1053.

[2020-05-14 16:12] zepumph commented on #1053
Note that KeyboardFuzzer currently runs on keyCode, I was using Event.key for RatioInteractionListener.js to try it out, and it isn't set up to work right now.

[2020-05-14 16:16] zepumph commented on #1053
I think of above as a workaround until we add support for Event.key in KeyboardFuzzer. @jessegreenberg do you want this in its own issue?

[2020-05-19 00:37] zepumph commented on #920
The usage that originally caused this issue is no longer in the project. I think that we should close this issue. I'll meet you all over in https://github.com/phetsims/scenery/issues/921

[2020-05-19 00:37] #920 closed

[2020-05-19 00:39] zepumph commented on #921
This issue is quite old, and the original purpose for having a bubbling focus/blur event seems to have not bee important enough to get this issue accomplished. With that in mind I present 2 ways forward:

1. Do nothing. And recognize that focusin/focusout are the preferred, and already agreed upon events to add IF we ever come into a need for bubbling focus-related events,.
2. Add in focusin/focus

[2020-05-19 20:22] jessegreenberg commented on #921
Your timing is impecable, I just ran into a case where bubbling focus events would be useful. I will add focusin/focusout now.

[2020-05-19 20:28] jessegreenberg commented on #921
I was curious about order for dispatch, it seems like focus/blur comes before focusin/focusout, ill go with that.
![image](https://user-images.githubusercontent.com/6396244/82374906-bdde9000-99ed-11ea-8ca7-8e6e96c49065.png)

[2020-05-19 21:00] jessegreenberg commented on #921
These have been added along with a few unit tests. @zepumph feel free to review if you would like, otherwise I think this can be closed.

[2020-05-19 21:26] zepumph commented on #921
Cool beans! Commit looks exquisite.

[2020-05-20 00:07] jessegreenberg commented on #1053
Thats OK, thanks! Ill take a look as part of this issue.

[2020-05-20 00:10] jessegreenberg commented on #1053
PhET is about to drop support for IE11, and so I wondered if event.code should be used instead of event.key. But there is another reason not to use event.code, from MDN:

[2020-05-20 00:41] jessegreenberg commented on #1053
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key Indicated that certain keys might be different for Edge, so I was wondering if we would have to so something different on that platform. But https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key/Key_Values shows that the differences were for versions older than 16, so we are still good to go.

[2020-05-20 15:06] jessegreenberg commented on #921
Reopening, dispatching these bubbling events is causing trouble on CT for some sims

    at window.assertions.assertFunction (assert.js:22)
    at Function.Trail.fromUniqueId (Trail.js:957)
    at PDOMPointer.updateTrail (PDOMPointer.js:97)
    at Input.dispatchA11yEvent (Input.js:1024)
    at Input.focusinAction.Action.phetioPlayback (Input.js:560)
    at Action.execute (Action.js:225)
    at HTM

[2020-05-20 16:03] jessegreenberg commented on #921
So what is happening is that `focus` listeners are changing the scene graph and therefore trails, right before the `focusin` event is dispatched. So the trail ID that we get from the DOM event doesn't match any Trail to dispatch the event to. As a concrete example, this is happening for the home screen buttons of joist:
1) tab to a small home screen button.
2) small home screen button receives `fo

[2020-05-20 16:36] jessegreenberg commented on #921
I wonder if we can just handle this more gracefully. Instead of asserting, can Trail.fromUniqueId return a trail with nodes `[ displayRootNode ]`, which according to Pointer.js indicates that the pointer isn't over a specific Trail. Or we should prevent dispatching to anything in this case?

[2020-05-20 16:49] jessegreenberg commented on #921
I looked into `Input.branchChangeEvents` which looked like it could be for similar cases, but I don't think it applies here. It is for the Pointer trail changing, where we are interested in whether the trail still exists. https://github.com/phetsims/scenery/issues/921#issuecomment-631569583 illustrates that the new events are getting dispatched correctly when the trail to the target changes. Its j

[2020-05-20 17:19] pixelzoom commented on #1048
Changes to PDOMPointer that reference this issue in their commit message are causing CT failures for multiple sims, see https://github.com/phetsims/scenery-phet/issues/605.

[2020-05-20 17:40] jessegreenberg commented on #1048
Thanks for pointing out, the error is actually related to #921.

[2020-05-20 18:45] jessegreenberg commented on #921
Discussed with @jonathanolson who suggested that instead we calculate the trail for events before dispatching anything. This way events will go to the same trail for both `focus` and `focusin`.  We discussed https://github.com/phetsims/scenery/issues/921#issuecomment-631588226, but always dispatching seems more consistent and correct.

[2020-05-20 18:55] jessegreenberg commented on #921
Done in the above commits, and added back unit tests which are passing. Local aqua is passing, as long as the next CT cycles pass this can be closed.

[2020-05-21 14:58] jessegreenberg commented on #921
OK CT is clear again.

[2020-05-21 14:58] #921 closed

[2020-05-21 21:57] samreid commented on #308
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 21:57] samreid commented on #850
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-26 17:52] zepumph commented on #850
keyStateTracker tests have been working well without using KeyboardFuzzer.js in it. I removed the TODO for now, and we can come back to it if we need to build out the keyStateTracker tests more.

[2020-05-26 17:52] #850 closed

[2020-05-26 18:44] samreid commented on #308
Unassigning until we work on this part again.

[2020-05-29 00:10] zepumph commented on #1046
I think that the visibilityProperty support code added above also needs a review here. I will do that as part of my review in https://github.com/phetsims/scenery/issues/490. Some TODOs will be linked here though.

[2020-05-29 00:29] zepumph commented on #490
Review:

### TinyForwardingProperty.js
- [ ] in the `set` method, I see that the presence of `this.forwardingProperty` will prevent `this..value` from being set at all. Given this example, would we ever want to handle this? If so, then `set` should always call `super.set`, or at least `setPropertyValue` (to prevent the potential for double notification)

[code]

- [ ] Could `setForwardingProperty`

[2020-05-29 00:35] zepumph commented on #490
- [ ] Does axon have a `main` file like scenery that can be imported to get access to all axon files? I couldn't find one. If it does, we should make sure that Tiny*.js are in there too.

[2020-05-29 00:40] zepumph commented on #490
- [ ] Please explain, https://github.com/phetsims/area-model-common/commit/a41615de8ef0e997eee7a2128e52c6a60d699a46. Does this have something to do with the Events refactor?
- [ ] For https://github.com/phetsims/beers-law-lab/commit/a50707b83148a00948eedc93c7250e8c2b877855, doesn't `on` map  to `link`, and not `lazyLink`. Please explain your choice for `lazyLink`, and if this is a pattern in gener

[2020-05-29 00:44] zepumph commented on #490
- [ ] In https://github.com/phetsims/molecule-shapes/commit/93a16d3506fa3ef8839d7d40961f5e685f7ee9c7 and other commits like it, why not use Emitter? Are we sure that validation and phet-io will never be required for those Emitters?

[2020-05-29 01:04] zepumph commented on #1046
- [ ] We should not forget to try to apply the same patter for TextIO.textProperty. Though I'm not sure how.

[2020-05-29 01:18] zepumph commented on #490
Review complete.

* I compared Node.js to what it looked like before the commits in April.
* I looked at all of the Tiny*.js types created in axon.
* I added TODOs over in https://github.com/phetsims/scenery/issues/1046 to the (very) rough support we have for instrumented visibleProperty in Node.
* I opened every commit above and glanced/reviewed it.

This change set is really extensive, and a hug

[2020-05-29 01:19] zepumph commented on #1046
After reviewing in https://github.com/phetsims/scenery/issues/490, I would say that this issue is blocking publication until we feel confident that `visibleProperty` is being handled well in Node.js.

[2020-05-29 01:56] pixelzoom commented on #490
In https://github.com/phetsims/scenery/issues/490#issuecomment-635691167, @zepumph noted:

I am interested enough in this one that I've created a sim-specific issue, https://github.com/phetsims/beers-law-lab/issues/254.

[2020-05-29 20:11] samreid commented on #1046
@zepumph @chrisklus and I ran a number of tests using phet-io-test-sim as a harness, for example, testing a Node with a visibleProperty set in the constructor, or set after construction, and everything seemed sensible.  We used a `setTimeout` to change the visibility after construction.

@zepumph said he'd like to continue by adding unit tests around these features.  We'll also continue in #1047 b

[2020-06-02 15:39] jonathanolson commented on #490
Yes, the event wasn't used (and would only be used internally if it was), so I removed the event. The field is still important for proper Node operation.

[2020-06-02 15:41] jonathanolson commented on #490
This does not bother me, `markRenderStateDirtyListener` is used for other purposes too, instance refresh is only one of the possible ways it gets called so it's not specific to that usage.

[2020-06-02 15:54] jonathanolson commented on #490
I believe that is the commit https://github.com/phetsims/scenery/commit/e187f5194254f6e4944a1967c61a8142e8909d3b for https://github.com/phetsims/joist/issues/608, unrelated to this. This allows attempting e.g. a `node.left =` with invalid bounds (no-op).

[2020-06-02 15:55] jonathanolson commented on #490
Yes, it was helpful during the development.

[2020-06-02 15:57] jonathanolson commented on #490
This is specifically because if we had e.g. 7 more Emitters per Node, this would add a large chunk of memory and take up a lot of processing time. Fields on these common types are at such a premium (especially internal fields) that the lack of flexibility (in this case for Scenery internally) is WELL worth the memory/performance effects.

[2020-06-02 15:59] jonathanolson commented on #490
No, I'm updating the docs to "When ANY hint changes, we refresh everything currently (for safety, this may be possible to make more specific in the future, but hint changes are not particularly common performance bottleneck)."

[2020-06-02 16:18] jonathanolson commented on #490
That is a really good question. Because we are inheriting from Node all the time, it complicates the hidden class question (so intuitively I think the minimization of Node keys might be better for performance/memory, but I haven't investigated that). Sounds like something good to test, to see what effect it would have.

[2020-06-02 16:21] jonathanolson commented on #490
Looks like it does, but it was emptied in https://github.com/phetsims/axon/commit/ac530d0779c759ae4dd636965ca139fa42303bbe.

I'll be adding that back in.

[2020-06-02 16:26] jonathanolson commented on #490
Constructor super was being called twice, noticed somehow in the conversion.

[2020-06-02 16:27] jonathanolson commented on #490
Because `.on()` does not call the listener immediately (and instead only adds a listener), it maps correctly to lazyLink. In the conversion (which won't be needed in the future) if something was `node.on( '...', listener ); listener()` then I changed it to a link. Don't see any need to document.

[2020-06-02 16:48] jonathanolson commented on #490
I believe I've handled or responded to everything. @zepumph can you verify my changes?

[2020-06-03 18:49] zepumph opened #1055 "Performance audit for Node.phetioVisibleProperty definition in constructor"
From https://github.com/phetsims/scenery/issues/1046 and https://github.com/phetsims/scenery/issues/490#issuecomment-637659994:

@jonathanolson said:

I think this should be in a separate issue. @jonathanolson please let me know if I can help with this. Currently it is not in the Node constructor, even set to null.

[2020-06-10 23:03] zepumph commented on #490
I also went back to https://github.com/phetsims/chipper/issues/875 and saw that axon was a fluke, and other main.js files seemed to not be altered.

[2020-06-10 23:11] zepumph commented on #490
@jonathanolson, I have gone through everything, it all looks good. Feel free to close.

[2020-06-11 16:08] #490 closed

[2020-06-11 16:12] jonathanolson commented on #1049
Looking into it now.

[2020-06-11 16:16] pixelzoom commented on #1049
Could this be general enough that it's a Node option, instead of Image?

[2020-06-11 16:27] jonathanolson commented on #1049
Can you point out a useful case for this? I want to start with an Image option because it can be more performant and is specific, HOWEVER it would be possible to essentially render any node into a Canvas every frame to check for hit testing (that... is slower).

[2020-06-11 16:33] pixelzoom commented on #1049
In natural-selection, the user is clicking on BunnyNode, which extends Node.  Part of BunnyNode is an Image, so I guess doing this for Image only would be OK.  But I can imagine decorating an Image with other stuff that needs to be pressable.

[2020-06-11 16:50] jonathanolson commented on #1049
This setting would presumably only control the image's "self" containment, not applying to children.

[2020-06-11 17:06] jonathanolson commented on #1049
Added the Image option in the above commit, the following in natural-selection's BunnyImageCache seems to result in the desired behavior:

[code]

Can you verify?

[2020-06-11 17:26] pixelzoom commented on #1049
This works really great.  Thanks for the speedy turnaround!  Feel free to close if there's nothing else to do here.

[2020-06-11 22:24] samreid commented on #644
Looks good, thanks!  Closing.

[2020-06-11 22:24] #644 closed

[2020-06-18 15:51] #1049 closed

[2020-06-23 19:18] zepumph opened #1056 "PDOM listeners should respect Node.pickable"
While working on https://github.com/phetsims/ratio-and-proportion/issues/74, @jessegreenberg and I realized that Node.pickable isn't listened to at all for PDOM listeners. We have only ever had a manual approach that ignores code within the listener. This is different from how other listeners handle input, using `pickable` as a killswitch of sorts to turn off input. Let's try to add this!

[2020-06-23 20:21] zepumph commented on #1056
@jessegreenberg and I worked on this today. We decided that the best way to handle this was in Input.js. It was a pretty simple line of code, but I guess we had never thought to handle this in a scenery-centric way. Instead it was always based on respecting the enabledProperty value in listeners. We also added support for setting aria-disabled in a few spots, including EnabledNode.

Two more thing

[2020-06-24 19:36] jonathanolson commented on #1056
Commit looks good to me.

[2020-06-25 00:56] zepumph commented on #1056
I fixed an issue that pre-commit unit tests were failing on because Puppeteer was having trouble serializing the PDOMPeer I was using as an argument to `assert.ok`. I want to bring this up to developer meeting as a PSA:

Unit tests will appear passed in the browser qunit harness, but will fail when run as part of pre-commit hooks in git in a certain case. They will fail if arguments to an assert c

[2020-06-25 19:29] samreid commented on #1056
In today's discussion, we discovered that removing the logging eliminates the circular conversion.  @zepumph volunteered to make this improvement, thanks!

[2020-07-02 20:58] jessegreenberg opened #1057 "[MutliListener] Single tap from second pointer will interrupt drag"
From phetsims/ohms-law#162

A single tap while of a second finger while using MultiListener (anywhere on the screen) will interrupt a DragListener. @zepumph showed me this happening and it looked a bit awkward.  It an be improved.

I would like to see how Chrome (or other standard things) behave in this case. Does any tap interrupt the other pointer? Or do the fingers need to be adjacent enough to

[2020-07-02 21:07] jessegreenberg commented on #1057
OK, it seems that for draggable things like slider thumbs, pinch to zoom is disabled while the first finger is down. But for other things like buttons and links, initiating zoom interrupts the pointer on the object. I think this makes sense and I will change the behavior of MultiListener to work like this.

[2020-07-03 01:49] jessegreenberg commented on #1057
Done in the above commit. @zepumph can you please review the behavior now in ohms-law, is that more like what you would expect?

[2020-07-07 19:03] jessegreenberg opened #1058 "Pointer.reserveForKeyboardDrag doesn't work with listeners that change focus"
In a `keydown` listener that reserves the PDOMPointer to prevent other work (such as in AnimatedPanZoomListener), `reserveForKeyboardDrag` doesn't work as expected if the listener follows by immediately changing focus. This is exemplified in the keydown listener of ComboboxListBox, where an arrow keydown event moves focus to the next item in the list. reserveForKeyboardDrag does not successfully p

[2020-07-07 19:51] jessegreenberg opened #1059 "Remove isApplication option from Display"
This is a very old option and PhET is not using it for PDOM/accessibility right now. @zepumph and I think it should be removed.

[2020-07-07 21:56] jessegreenberg opened #1060 "Verify that there is some sort of inner content when using ARIA application role"
@zepumph noticed today that iOS VoiceOVer doesn't focus an element if it has no content to display. So for instance if you have an element like
[code]
VoiceOver will skip over it. Other browsers add it to the focus order. The element must have some sort of content to be focusable.

This can be verified so it doesn't bite us in the future, in the accessibleAudit function of ParallelDOM.

[2020-07-07 22:03] jessegreenberg commented on #1060
Actually, this should more generally be checked for focus, not just application role.

[2020-07-07 22:13] jessegreenberg commented on #1060
We thought that maybe if there was nested HTML then innerContent would not be necessary. But in ratio-and-proportion the element with role="application" has descendents with accessible content, including elements that are themselves focusable. So that means that anything focusable must have innerContent to receive focus in iOS VoiceOver. I was playing with something like
[code]

to see if some des

[2020-07-07 22:20] jessegreenberg commented on #1060
[code]

is failing in lots of sims that have some incomplete PDOM instrumentation, and could be annoying during development.

[2020-07-07 22:41] pixelzoom opened #1061 "missing doc for setPreventFit"
Node.js:

[code]

But there is no doc for`setPreventFit`:

[code]

If you could add a bit of doc, I'd like to understand this, since I'm using it in Natural Selection.

[2020-07-07 22:43] zepumph commented on #1060
From a slack conversation with @jessegreenberg, I said:

I mainly want to note that using a query parameter feels very bad and out of place to me in scenery. Instead we should keep it to scenery-specific logic.

[2020-07-07 22:58] jessegreenberg commented on #1060
I responded on slac;

[code]
to
[code]

[2020-07-07 22:58] jessegreenberg commented on #1060
The assertion in https://github.com/phetsims/scenery/issues/1060#issuecomment-655166503 is not what we want, what about input type="range"? That doesn't have any inner content.

[2020-07-07 23:19] jessegreenberg commented on #1060
I am going back to the original plan just checking ariaRole, that catches most of what we might run into since things that are not focusable by default will often have the `application` role to receive input events.

[2020-07-08 15:14] jessegreenberg commented on #1060
OK, this is done in the above commits. I also added calls to the audit function in unit tests and it caught a few things which is nice. I think this can be closed now.

[2020-07-08 15:14] #1060 closed

[2020-07-09 14:25] jessegreenberg commented on #1059
It has been removed.

[2020-07-09 14:25] #1059 closed

[2020-07-09 22:44] zepumph commented on #1039
Looks great to me! Thanks

[2020-07-09 22:44] #1039 closed

[2020-07-09 23:27] terracoda commented on #1039
Is this going on all a11y sims with interactive description?

[2020-07-10 00:22] zepumph commented on #1056
I was able to keep most of the same logging, swapping out "expected/actual" for a source stack trace. By passing through component pieces, we work around the inability to jsonify potential expected/actual args. @samreid please review and feel free to close.

[2020-07-10 00:39] zepumph commented on #1057
Please forgive me, but this review may go beyond the scope of this issue, and as questions about MultiListener.js at large, since it is the first time I have been in this file:

* I was a bit confused about `Press`, since doc about `_presses` and `_backgroundPresses` talk about `Pointer` generally, but it seems like this actually only applies to mouse/touch. Is this just an assumption about MultiL

[2020-07-10 00:42] zepumph commented on #1039
Yes, and it has been since February

[2020-07-10 01:21] samreid commented on #1056
That's a great idea, thanks!  Closing.

[2020-07-10 22:07] jessegreenberg commented on #1056
The original commit in https://github.com/phetsims/scenery/commit/88cf88096f3a0cf5b73994fbde81055d8ec11bcf is actually causing https://github.com/phetsims/molecules-and-light/issues/358. RadioButtonGroup sets `pickable` to `false` on the selected radio button, preventing all keyboard input on it. I would like to add `keydown` and `keyup` to the `PDOM_UNPICKABLE_EVENTS` list. That leaves `input`, `

[2020-07-10 23:03] jessegreenberg opened #1062 "Too much "float" while panning with keyboard or mouse"
@KatieWoe mentioned for https://github.com/phetsims/QA/issues/513 that there is too much "float" as we animate while panning the screen after a keyboard press or wheel input, especially if we are zoomed far in. I agree, the animation takes a little too long. Lets see if we can improve it.

I don't want to change how far the screen moves, I think that is correct, but we should wait to decay the tra

[2020-07-10 23:52] jessegreenberg commented on #1062
@KatieWoe can you please test molecules-and-light master and see if the behavior feels more like what you would expect?

[2020-07-10 23:56] zepumph commented on #1056
If we go with the above recommendation. I feel like we are tying the implmentation too closely with the example usages we have in the wild. It is just as likely in the future that we come across a case in the future where we want to block keydown, and potentially allow input (maybe?). Maybe it would be good to take a step back and see if there is an issue with the above commit, or with the way we

[2020-07-13 15:18] KatieWoe commented on #1062
Tested on Win 10 Chrome. That feels much better. The scroll wheel feels like it scrolls too much, but the floating behavior is much better.

[2020-07-13 16:44] jessegreenberg commented on #1062
@KatieWoe I reduced the amount of movement from mouse wheel input, can you please test master and see if the behavior is more appropriate?

[2020-07-13 16:51] KatieWoe commented on #1062
That feels good. Thanks :)

[2020-07-13 17:10] jessegreenberg commented on #1062
Great, thanks! Closing this issue. The change has been moved to the release branch, to be verified in the next RC in https://github.com/phetsims/molecules-and-light/issues/361

[2020-07-13 17:10] #1062 closed

[2020-07-13 21:36] jonathanolson commented on #990
Reopening for main input-based features being added, along with a demo and image hit testing changes. Requested for Natural Selection.

[2020-07-13 21:47] jonathanolson commented on #990
Hit testing integration with Sprites and associated types should be set up, including per-pixel hit testing in SpriteImage. Demo for scenery-phet available as scenery-phet/scenery-phet_en.html?brand=phet&ea&screens=3&component=Sprites

[2020-07-13 21:48] jonathanolson commented on #990
@pixelzoom can you verify that the above demo is working on your end, and look at integration into natural selection?

[2020-07-13 21:58] pixelzoom opened #1063 "handling of dt=0 in AnimatedPanZoomListener handleMiddlePress"
In AnimatedPanZoomListener.js:

[code]

You're doing a bunch of work here that doesn't need to be done if dt === 0.  The `if ( dt > 0 )` should surround the entire body of this method, no?

[2020-07-13 23:05] jessegreenberg commented on #1063
Thanks, that is an improvement. In https://github.com/phetsims/scenery/commit/e9c041d688fb78746d3a4b462aa1243a3d6c1c94 the `if ( dt > 0 )` surrounds everything.

[2020-07-13 23:14] jonathanolson commented on #990
Deployed a demo that could be useful for performance testing this general feature: https://phet-dev.colorado.edu/html/scenery-phet/1.0.0-dev.20/phet/scenery-phet_en_phet.html?screens=3&component=Sprites

[2020-07-13 23:39] jessegreenberg commented on #1056
Yea, I think that is very fair.  We have identified that we want to receive many PDOM events for on non-pickable things, so I am leaning toward reverting changes for this issue. Adding label again to discuss tomorrow.

[2020-07-13 23:55] #1063 closed

[2020-07-14 00:06] samreid commented on #964
To me, it seems more idiomatic to factor out the validator like so:

[code]

Then usage would be like:
[code]

I cannot think of a way to ignore this detection for `{{TITLE}}` for Simula Rasa.  Some alternatives:
1. Change Simula Rasa to say "TITLE" instead of "{{TITLE}}".  I'm not sure if there are other places with this pattern or if they could also use this workaround.
2. Text, PDOMUtils.option

[2020-07-14 05:23] samreid commented on #206
It seems like CCK should be upgraded to use `DragListener`.  Once that is done, we could try the `SimpleDragHandler` patch.  But maybe it is more sensible to focus on deprecating that and moving toward the new `DragListener` library.  But I'm not sure how practical that is.  Maybe we should touch base at an upcoming dev meeting?

[2020-07-14 16:23] pixelzoom commented on #206
I've been replacing SimpleDragHandler with DragListener as sims have been PhET-iO instrumented, so that the API is consistent.

I'd love to see `SimpleDragHandler` deprecated and deleted.  But `SimpleDragHandler` usage is widespread:

* 46 occurrences of "new SimpleDragHandler".
* 15 occurrences of "extends SimpleDragHandler"
* 6 occurrences of "inherit( SimpleDragHandler"
* 30 occurrences of "imp

[2020-07-14 23:55] zepumph commented on #946
I ran into this again and it surprised me in RaP (using the recommended way of creating nested lists like https://stackoverflow.com/questions/5899337/proper-way-to-make-html-nested-list). Then I told @jessegreenberg and he said that he had ran into something similar in MAL. I'm going to bring this up at dev meeting and see if we can get this weirdness sorted out.

[2020-07-15 06:17] samreid commented on #980
We no longer use `phetioInherit`.  I don't think its necessary to audit phet-io code looking for more places to opt-out, we can do that on-demand if we have performance bottlenecks in the future.  Closing.

[2020-07-15 06:17] #980 closed

[2020-07-16 16:21] pixelzoom commented on #990
On 7/15/20, @jonathanolson and I met on Zoom, and made a couple of minor tweaks.  Otherwise this is working nicely in Natural Selection, see phetsims/natural-selection#128.   Unassigning myself.

[2020-07-16 16:21] pixelzoom commented on #990
@jonathanolson if this is ready for review, set label to "status:ready-for-review" and assign to @ariel-phet.

[2020-07-18 00:58] zepumph commented on #964
I like the refactor to ValidatorDef, thanks!

I do not think that we should spend any more energy on this validation. In the PDOM, this is really valuable because it can be quite challenging to view all possible strings, especially for aria-live alerts that only occur in specific interaction context.

For the visuals, the complexity is much less, and I feel good about leaving it along. In general

[2020-07-18 00:58] #964 closed

[2020-07-20 19:05] zepumph commented on #1056
@jessegreenberg can you please note where we are in the progress with this issue and https://github.com/phetsims/molecules-and-light/issues/358, I remember working with you last week on these, and I remember that it, in turn, fixed https://github.com/phetsims/ratio-and-proportion/issues/88 as well, but I don't see any commits in these issues. I should have written up a summary of last week's discu

[2020-07-21 16:18] jessegreenberg commented on #1056
No, I appologize - I have the changes for this still in a diff but have not had time to complete it - here it is
<details>

[code]
</details>

We had decided that PDOM events **should** respect pickability, but we should not add more to our PDOM_UNPICKABLE_EVENTS list. Instead, listeners that need to fire regardless of pickability along a Trail should be attached to the Display (matching behavior

[2020-07-23 05:57] zepumph commented on #1056
That makes sense! Thanks for the update, I remember now. Will you please let me know if you want me to help you out in any way. Do you want to pair on this?

[2020-07-23 18:59] pixelzoom commented on #206
7/23/20 dev meeting:

CCK was identified as the only problem case for this issue.  So let's apply the patch and upgrade CCK to DragListener.  If we find other sims that have a problem, they should be upgraded too. @samreid volunteered to take the lead on this.

[2020-07-25 12:40] samreid opened #1064 "What is the recommended pattern for showing highlight on mouseover?"
In https://github.com/phetsims/states-of-matter/issues/312 we saw that `PressListener` is being used to show a highlight on mouseover, and it isn't listening for a "press" at all.  Is using a `PressListener` the best way to do this?  Should something be factored out to make it seem more natural that it is listening for events other than press? Or should `PressListener` be renamed?  Or would this b

[2020-07-25 23:19] samreid commented on #206
I applied the patch and saw the same issue in CCK.  I added a workaround for CCK and added a TODO to use DragListener instead of SimpleDragHandler in CCK.  Let's wait for a few rounds of CT before closing.

[2020-07-26 19:59] samreid commented on #206
CT only indicated one new issue after this commit, and it looks related to SimpleDragHandler usage in expression-exchange.  It seems the same decision for CCK above would apply to expression-exchange (namely, switching to DragListener).  Therefore I'll open a new issue for Expression Exchange and close this one.

[2020-07-26 20:01] #206 closed

[2020-07-28 04:06] jessegreenberg commented on #1056
I worked on this again today - the big challenge that I encountered in addition to https://github.com/phetsims/scenery/issues/1056#issuecomment-661959287 was that the `reserveForDrag` functions on the Pointer **assumed** that they be called during dispatch along scene graph Trails. And so that method to prevent behavior on global listeners (like MultiListener) will not work if the listener is adde

[2020-07-28 14:40] ariel-phet commented on #990
Since @pixelzoom used this feature recently in Natural selection he is probably the most appropriate reviewer.

[2020-07-28 19:14] pixelzoom commented on #990
All looks good here.  Nicely documented, and using this API in Natural Selection was relatively straightforward.

Two items for @jonathanolson. Feel free to close this issue after addressing them.

- [ ] I'm curious about why SpritesWebGLDrawable and SpritesCanvasDrawable are implemented using `inherit` instead of `class`.

- [ ] There is an outstanding TODO in SpritesWebGLDrawable that needs to b

[2020-07-28 19:31] jonathanolson commented on #990
Scenery Drawables currently use inherit, and due to mixins/traits it will be beneficial to "upgrade" all of those to class at the same time (so we don't have to have separate inherit/class versions of traits).

[2020-07-28 19:40] jonathanolson commented on #990
The above should be handled, closing. Thanks!

[2020-07-28 19:40] #990 closed

[2020-07-28 22:18] jessegreenberg commented on #1056
Discussed today with @jonathanolson and @zepumph -

Rather than go through https://github.com/phetsims/scenery/issues/1056#issuecomment-664764360 we actually decided that not firing listeners that would call `reserveForDrag` is the *correct* behavior, as would be defined by `pickable: false`.

In the case of RadioButtonGroup where these listeners were not called on the selected radio button, we th

[2020-07-28 23:47] zepumph opened #1065 "Disallow template vars in accessible attribute values"
Expansion from https://github.com/phetsims/scenery/issues/964, I noticed while working on https://github.com/phetsims/ratio-and-proportion/issues/105 that a missed template var didn't throw an assertion like I would prefer it did when developing.

[2020-07-28 23:50] zepumph commented on #1065
Implemented above. @jessegreenberg can you think of any other spots we would want this? It is handled in `PDOMUtils.setTextContent` which covers aria-live and pdom peer elements.

[2020-07-29 19:47] pixelzoom commented on #1041
Another thought about this issue... We're currently using pickableProperty as the way to disable interaction with a Node. And that approach requires an instrumented pickableProperty for every Node, regardless of whether it's interactive.  If we disabled interactivity via a Property of the input listener, could we get rid of Node's pickableProperty?  That would be a huge reduction in the number of

[2020-07-29 20:58] jessegreenberg commented on #1065
Looks good! I reviewed all the other setters and didn't see any others that would benefit from this since they all use `setAccessibleAttribute` where you added this check. Thanks!

[2020-07-29 20:58] #1065 closed

[2020-07-30 00:01] zepumph commented on #1041
@pixelzoom that approach is deprecated and scheduled for removal inhttps://github.com/phetsims/scenery/issues/1046.  The preferred way is to instrument an enabledProperty for any element that can be disabled. This feature seems useful also, but orthogonal to controlling the entire node's interaction ability.

[2020-07-31 16:58] jessegreenberg commented on #1056
Changes for this issue and https://github.com/phetsims/scenery/issues/1056#issuecomment-661959287 are done. The above issues will track the requested change to RadioButtonGroup.

[2020-08-04 14:45] KatieWoe opened #1066 "CT Drawables failed"
[code]

[2020-08-04 16:29] jonathanolson commented on #1066
Apologies, should be fixed up with the above commit.

[2020-08-04 17:51] KatieWoe commented on #1066
CT looks clear now

[2020-08-04 17:51] #1066 closed

[2020-08-05 23:27] samreid opened #1067 "Incorrect splice for removePointerAddedListener"
Input.js currently has:

[code]

But it seems like it should be:

[code]

So that we only remove one item.

[2020-08-05 23:29] samreid commented on #1067
Pushed, @jonathanolson do you mind taking a quick peek?  Close if all is well.

[2020-08-10 19:24] pixelzoom opened #1068 "visibleBounds does not consider clipArea"
Discovered while working on https://github.com/phetsims/natural-selection/issues/157.  (Not required for that issue, I found another solution.)

Node's visibleBounds doesn't appear to consider clipArea.

[2020-08-15 00:01] samreid opened #1161 "How is TinyEmitter.changeCount used?"
In https://github.com/phetsims/axon/issues/317#issuecomment-674294227 @zepumph said

I searched for this token and didn't see any usages either.

[2020-08-16 16:21] samreid opened #1069 "Pointer not receiving or handling an "out" or "release" event when mobile safari is swiped from the side (for navigation)"
The full description is in https://github.com/phetsims/gravity-and-orbits/issues/340.  The summary is that when picking up a "touchSnag" object in the sim while also dragging the edge of the browser (for mobile safari forward/back navigation), then dismissing the forward/back navigation by letting go, the node remains "busy" and cannot be interacted with for the rest of the sim runtime, including

[2020-08-18 21:15] zepumph opened #1070 "accessibleNameBehavior should be a mutator key"
While looking into the best pattern for https://github.com/phetsims/ratio-and-proportion/issues/135, I saw that accessibleNameBehavior wasn't being mutated. This may have been the bug causing weird patterns for common code accessibleName setting in https://github.com/phetsims/sun/issues/503#issuecomment-488736665 (copied over to https://github.com/phetsims/sun/issues/444. We should add this in.

[2020-08-18 21:18] zepumph commented on #1070
Thanks @jessegreenberg for helping me track down this.

[2020-08-18 21:18] #1070 closed

[2020-08-18 22:51] jonathanolson opened #1071 "Re-entrance issues with localBoundsProperty/childBoundsProperty"
Discovered in https://github.com/phetsims/natural-selection/issues/182, specifically in the context of "a callback to a localBoundsProperty will NOT see the correct bounds of the node yet".

This also seems like a trickier issue to handle if we allow full re-entrance (especially childBoundsProperty). Discovered a workaround for the specific localBoundsProperty issue that I'll commit here, but it's

[2020-08-21 22:25] jessegreenberg opened #1072 "Interruption in DownUpListener/ButtonListener"
From https://github.com/phetsims/faradays-law/issues/173, I need to be able to interrupt the Pointer listener that is added by ButtonListener. Currently the `downListener` does not have an `interrupt`. Also the subtype ButtonListener should not fire immediately after interruption.  To solve this I think the following would work:

[code]

@jonathanolson can you please review before I change these l

[2020-08-27 00:02] zepumph opened #1073 "rename `get accessibleContent`"
I think that this would read better is the getter was called `hasAccessibleContent`, and it wouldn't need a method also. @jessegreenberg what do you think about that?

[2020-08-27 00:32] jessegreenberg commented on #1073
Over slack, @zepumph and I agreed that this is a candidate to rename `hasAccessibleContent` to `hasPDOMContent`. Otherwise, using this as the getter and removing the method sounds like a good plan.

[2020-08-27 02:12] jessegreenberg commented on #1073
Rename was done in the above commits. @zepumph back to you to take a look or just close.

[2020-09-01 14:35] jonathanolson commented on #1072
That change looks great to me!

[2020-09-01 20:17] jbphet opened #1074 "We need an easy way for a node to determine whether it is visible to the user"
While implementing the sound design for Faraday's Law, I need to add a sound for the case where the needle on the voltmeter "pegs" at a max or min value.  It seemed like the most logical place for this sound generation to occur was in the node that represented the gauge, which is `VoltmeterGauge.js`.  However, the sound should only be generated when the gauge is visible, and it is several levels d

[2020-09-01 20:48] jessegreenberg opened #1075 "Use a real SceneryEvent in DownUpListener.interrupt"
Found in https://github.com/phetsims/aqua/issues/106 - DownUpListener sends a fake Event upon interruption. Some things are depending on DownUpListener.buttonUp use an actual SceneryEvent. Could we use an actual SceneryEvent instead of an object?

This would resolve the error caught in https://github.com/phetsims/aqua/issues/106 in molecule-polarity with `?fuzz&fuzzPointers=2`

[2020-09-01 20:49] jessegreenberg commented on #1075
I made the change and local aqua is looking OK. Leaving to @jonathanolson to review.

[2020-09-01 22:23] jessegreenberg commented on #1072
Thanks! Pushed to master after running local aqua for a bit. Closing.

[2020-09-01 22:23] #1072 closed

[2020-09-02 21:31] zepumph opened #1076 "FireListener doesn't support a11y interaction"
From what I see when I try to convert Checkbox to use FireListener, it isn't really supported. When I look at the logic in PressListener.click, it doesn't seem to support overriding press/release methods, which is how FireListener adds its listener. @jessegreenberg can we discuss this soon?

[2020-09-02 23:45] zepumph commented on #1034
This has been fixed by adding general support for push/popNonPlaybackable over in https://github.com/phetsims/phet-io/issues/1693. Closing

[2020-09-02 23:45] #1034 closed

[2020-09-02 23:45] zepumph commented on #1034
It can be triggered as a top level event in Input.js

[2020-09-04 14:54] KatieWoe opened #1077 "CT cannot read property chipper of undefined"
[code]

[2020-09-04 15:21] zepumph commented on #1077
@jessegreenberg maybe the package json check does need to be graceful in your case?

[2020-09-04 15:26] jessegreenberg commented on #1077
Yes indeed - my appologies, this was fixed in https://github.com/phetsims/joist/issues/657 (https://github.com/phetsims/chipper/commit/fdb3a425c8d4fa397f2480c65c0fe605e152f540). I used the same method you recommended @zepumph.

[2020-09-04 15:27] jessegreenberg commented on #1077
If this is gone next iteration, I will close.

[2020-09-08 22:34] pixelzoom commented on #1076
This impact https://github.com/phetsims/sun/issues/622, so raising priority to high.

[2020-09-08 22:37] pixelzoom commented on #372
@jessegreenberg can you please respond to this?  Does this still need to be done, or can it be closed?

[2020-09-08 23:00] pixelzoom opened #1078 "replace deprecated input listeners in common code"
Over in https://github.com/phetsims/scenery/issues/1004, old input listeners were deprecated. Now they need to be replaced in common code.

Here's a checklist of the input listeners that are marked as `@deprecated` and where they are used in common code.

`ButtonListener`
- [x] Checkbox
- [x] NumberPicker
- [x] HighlightListener (used in BASE only)
- [x] FillHighlightListener (subclass of Highligh

[2020-09-08 23:01] pixelzoom commented on #1004
In https://github.com/phetsims/scenery/issues/1078, I identified uses of deprecated input listeners in common code, to be replaced.

So assuming that all deprecated input listeners are actually annotated with `@deprecated`... @jonathanolson can this issue be closed?

[2020-09-08 23:06] jessegreenberg commented on #1076
Out of time to test more thoroughly tonight, but I think we should follow what was is being done for `down` event in PressListener:
<details>

[code]
</details>

Take the work in `click`, put it in a function called `pdomPress`. `click` calls `pdomPress`. Then `pdomPress` can be overridden in FireListener.

[2020-09-08 23:08] zepumph commented on #1078
Prioritized list based on the PhET-iO sims already redesigned/in-progress:
- Checkbox (SOM + EFAC + many)
- NumberPicker (GFLB)

[2020-09-08 23:17] zepumph commented on #1076
I don't love the way how this creates two separate channels, and how the a11y methods are like a tip-toe around the actual press hierarchy. What if we could rework `PressListener.click()` to use (at least in part) `press`, so that it can work automatically in subtypes like FireListener? Would that cause trouble over in DragListener because we wouldn't want that behavior?

[2020-09-08 23:19] pixelzoom commented on #1078
Yep, agreed that Checkbox and NumberPicker should be highest priority.

Checkbox conversion was trivial, but I ran into PhET-iO and a11y issues. It's being worked on in https://github.com/phetsims/sun/issues/622 and phetsims/scenery#1076.

I'm guessing that NumberPicker may have problems similar to Checkbox, and I'm not at all familiar with the a11y implementation.

Quite a few of these are in BAM

[2020-09-08 23:45] pixelzoom commented on #1078
All of the sim-specific uses in sims that I'm responsible for are identified in the issues shown immediately above this comment.

[2020-09-09 16:03] jessegreenberg commented on #372
No, this does not need to be done. Closing.

[2020-09-09 16:03] #372 closed

[2020-09-09 16:10] zepumph commented on #1076
I was wondering that myself! My guess is that we just didn't think about that when initially implementing. I would say go for it, and we can see if anything becomes a hurdle. I'm also happy to work on this next week during our pairing.

[2020-09-09 19:32] pixelzoom commented on #1021
Reopening.  This is still a problem, and I ran into it in https://github.com/phetsims/scenery/issues/1021, where @jonathanolson said in https://github.com/phetsims/equality-explorer/issues/159#issuecomment-689762790:

If we're converting to new input listeners, then shouldn't this be fixed?  Is the "clearOverPointers" workaround really an acceptable solution?     It sure seems like we should be ab

[2020-09-09 19:34] pixelzoom commented on #1021
Labeling with high priority because I'm in the middle of converting my sims to new listeners (e.g.  phetsims/equality-explorer#159) and we're about to convert common-code (https://github.com/phetsims/scenery/issues/1078).

[2020-09-09 20:36] pixelzoom opened #1079 "verify that Sprites and Zoom are compatible"
Related to https://github.com/phetsims/joist/issues/659 (Review zoom feature with sims that are using WebGLNode).

A problem has been identified with Zoom and sims that use WebGL.   And Sprites.js uses WebGL.

@jessegreenberg said in https://github.com/phetsims/joist/issues/657#issuecomment-689799979:

I asked @jonathanolson on Slack if Sprites is compatible with Zoom. He replied:

So while NS doe

[2020-09-10 09:51] samreid commented on #1047
A reminder from https://github.com/phetsims/scenery/issues/1046#issuecomment-636170999 to also address `Text.textProperty` and `RichText.textProperty`.

[2020-09-10 15:32] jessegreenberg commented on #1077
I am not seeing this anymore on CT, closing.

[2020-09-10 15:32] #1077 closed

[2020-09-10 19:23] samreid commented on #1078
@jessegreenberg and @zepumph pointed out that https://github.com/phetsims/scenery/issues/1076 needs to be completed before Checkbox can be switched from ButtonListener to FireListener.

[2020-09-10 19:44] pixelzoom commented on #1078
Checkbox conversion has been prioritized in https://github.com/phetsims/sun/issues/625.

[2020-09-10 20:08] zepumph commented on #1076
@jessegreenberg is taking the lead on this. Let me know if I can help.

[2020-09-10 20:13] jessegreenberg commented on #1076
https://github.com/phetsims/scenery/issues/1076#issuecomment-689644203 was done and it seems to be working well. ?fuzz and ?fuzzBoard? are not showing any issues locally.

@zepumph would you mind reviewing?

[2020-09-10 21:22] pixelzoom commented on #1076
This needs to be blocks-publication until it's closed.

[2020-09-11 23:58] zepumph opened #1080 "Memory leak in the view when setting state"
Discovered while working on https://github.com/phetsims/energy-forms-and-changes/issues/350. It isn't totally clear if this is because of that work, or if the state wrapper exposed a memory leak that was already there.

Steps to produce
1. Get energy chunks going through the system in a way that never stops (so no biker)
2. Toggle energy chunks visible
3. Pause the sim when there are many energy c

[2020-09-16 03:03] pixelzoom commented on #1076
Is this issue blocking for the NS deliverable described in phetsims/natural-selection#208? Milestone for taking shas is this Thursday, 9/17.    If you don't care about a11y support for that milestone, then this is not blocking.  If you want to ensue that a11y works for anything that has a FireListener (like Checkbox, which NS has a load of) then this should be blocking, and the review should be wr

[2020-09-16 03:12] jessegreenberg commented on #1076
NS will not include any a11y in its publication @pixelzoom, this issue should not block its publication.

[2020-09-16 14:49] jessegreenberg commented on #1076
https://github.com/phetsims/tambo/issues/122 is the reminder for why we cannot use `press` and `release` directly in `click`. `press` and `release` require a genuine SceneryEvent with Pointer and DOMEvent. I played around with creating a fake SceneryEvent to still use `press` and `release`, but it seemed too fragile.

I looked into how we could change `press` and `release` as suggested in https://

[2020-09-16 21:41] zepumph commented on #1076
I understand and that all makes sense. Thanks for walking me through that. I really like your way of providing the callback with `click`. It parallels the other methods nicely.

[2020-09-17 02:24] jessegreenberg commented on #1076
OK, thanks for signing off! This can be closed then.

[2020-09-17 02:24] #1076 closed

[2020-09-17 18:48] zepumph commented on #1078
@samreid volunteered to do number picker.

[2020-09-18 16:07] samreid commented on #1078
I converted one listener in NumberPicker in the commit, but I am very confused about the `'out'` state. When is the NumberPicker supposed to be 'out' and how does it differ from 'up'?  I don't see that documented anywhere.

[2020-09-18 16:40] samreid commented on #1078
I converted NumberPicker to use FireListener, and combined the listeners.  I am not familiar with `NumberPicker` and have not used it extensively in any sims, so this could use a careful review.  Assigning to @pixelzoom for review, since he is listed as primary author of NumberPicker, and I see its usage in sims like Graphing Lines.  I did my testing using the scenery-phet harness (for which I als

[2020-09-18 19:54] samreid commented on #1078
I addressed 3 issues raised by CT.

[2020-09-19 18:33] pixelzoom commented on #1078
This task was combined with https://github.com/phetsims/tasks/issues/1044 (ES6 conversion) and it looks like commits were not associated with issues properly.  And there are many commits.  This is consequently going to be time-consuming to review, so I've moved review (and clarification) to https://github.com/phetsims/scenery-phet/issues/626.

[2020-09-19 19:19] samreid commented on #1078
The 3 commits with commit messages "Convert var=>const" "Convert to class" and "Convert to class" have been listed in https://github.com/phetsims/tasks/issues/1044.

You can skip the review for those 3 commits if you want, most of the complexity was in the latter 5 commits.

[2020-09-21 22:58] pixelzoom commented on #1078
I'm done as much as I can here. There remaining conversions are in sims that use shred, and I'm not at all familiar with those sims or how to test. Recommended to have @Denz1994 and @jbphet them.

[2020-09-22 18:38] jonathanolson commented on #1080
Running rechecks. After a 20-minute warmup, a comparison for 19.8 minutes shows:

<img width="1063" alt="Screen Shot 2020-09-22 at 12 32 18 PM" src="https://user-images.githubusercontent.com/480878/93922875-cc0c2800-fccf-11ea-95ef-b7cffdcb0faf.png">

The SVGGroup leak is definitely gone, the state wrapper is leaking about 85kB/min.

[2020-09-22 18:39] jonathanolson commented on #1080
So I'd imagine that there might be something in the sim or common code where an array keeps growing, but it doesn't seem critical at this point.

[2020-09-22 19:07] jonathanolson commented on #1080
We have a different reproduction, and I'm going to do a similar fix for it with dirtyDrawables.

[2020-09-22 20:56] zepumph commented on #606
In the above comment @jessegreenberg and I:
1. Added WASD to the `div` keys
2. Made the probability constants more clear
3. Lowered the average time a key is held down while increasing the max time that a key could be held down for.
4. Changed the random key range to the main ASCII keys (8-127)
5. ***Updated the fuzzBoardEvents loop to nest, selecting 10 components and smashing many events on them

[2020-09-22 21:00] zepumph commented on #606
I'll add that the odds of finding an error from fuzzBoard on CT are not higher than ever, though aqua fuzzBoard tested with no errors locally, Coulombs law revealed this error after some time:

[code]

That sim is one of the few multi-screen sims, and that may be part of this problem. Let's see if this shows up on CT to reproduce.

[2020-09-22 21:01] pixelzoom commented on #1078
I've done as much as I can here. The remaining conversions (shred.ParticleView, shred.ElectronCloudView) are used exclusively by BAA and IAAM. I'm not at all familiar with those sims or how to test. Recommended to have @jbphet address them, because he's the responsible dev for those sims.

[2020-09-22 22:22] zepumph commented on #1080
Above @jonathanolson committed another fix. This greatly improved the memory footprint of the sim. After 20+ minutes of fuzzing, I saw in increase of 15MB. To me this is acceptable in general, and at the very least this is much much better than before. Furthermore, comparing snapshots yielded no extra "Detatched SVG. . ." Objects.

As for review of the code, I don't feel qualified to do it, though

[2020-09-22 22:31] zepumph opened #1081 "Uncaught TypeError: Cannot read property 'removeInputListener' of null"
This has occurred so far in waves-intro and in coulombs law, and is now triggered (not caused) because of work done to `?fuzzBoard` over in https://github.com/phetsims/scenery/issues/606.

Full stack:
[code]

Assigning @jessegreenberg too.

[2020-09-22 22:33] jessegreenberg commented on #1081
Thanks - it seems like every time we have seen this it has been on the home screen, in case that helps us track it down.

[2020-09-23 18:23] zepumph commented on #1081
I also see that it has to do with FireListener.interrupt. My guess is that this is likely stemming from work done in #1076

[2020-09-23 21:28] jessegreenberg commented on #1081
Yes indeed - when I remove the changes from that issue the problem goes away.

Going through the stack trace, we are in the `press` (mouse/touch) portion of interrupt, where somehow the PressListener is pressed, but a11yClickingProperty is false.

[2020-09-23 21:58] jessegreenberg commented on #1081
We are hitting this in PressListener.interrupt where `( !this.a11yClickingProperty.value && this.isPressed )`. From the trace and some console statements it looks like we are calling `interrupt` twice here somehow. By the time `( !this.a11yClickingProperty.value && this.isPressed )` is true in interrupt, we have already set a11yClickingProperty.value to false from PressListener.interrupt.

[2020-09-23 22:09] jessegreenberg commented on #1081
Stack trace the first time interrupt is called:
![image](https://user-images.githubusercontent.com/6396244/94074611-a3fff000-fdc7-11ea-8853-7da251ea9737.png)

Stack trace for second time (with error) interrupt is called:
![image](https://user-images.githubusercontent.com/6396244/94074699-cf82da80-fdc7-11ea-9625-aea5c96041aa.png)

[2020-09-24 00:46] jessegreenberg commented on #1081
I did this in the above commit which I pushed after running through aqua tests. @zepumph can you please review this change?

[2020-09-24 01:28] zepumph commented on #1081
My first thought is wondering if we can get away with just calling `this.release()` instead of components of that call. When I look at the guts of onRelease(), maybe the only potential issue is that we don't have a pointer. What if we solved that by setting the pointer in click()? This would make the interrupt logic for a11y and non a11y much more similar. Is there something problematic with a pat

[2020-09-24 05:20] samreid commented on #1074
Two of the proposals above are:

[code]

Is the latter more developer friendly since it is documented in Node?  I don't have a strong preference between these options.

[2020-09-24 15:57] jonathanolson commented on #1080
There isn't a great way to filter out gradients that "don't need to be updated anymore", so I'm not sure how this would be done. It would be possible to handle, but it sounds best to me to wait until something would need to be done.

Looks like an oversight, fixed in the above commit.

[2020-09-24 16:43] jessegreenberg commented on #1081
I just didn't feel like it was necessary. As identified in #1076, `onRelease` things are mostly for mouse touch, so by not calling it we avoid doing those things that are not necessary for a11y:
- adding/removing the _pointerListener, which is only used for mouse/touch
- setting the pointer cursor
- getting/clearing press Trail

I would probably leave as is, only setting `pressedProperty` and call

[2020-09-24 16:45] zepumph commented on #1081
Thanks for humoring me. I feel like it is important to understand when we are tip-toeing, and when we are being efficient by having a separate code path. I feel good to close if you do.

[2020-09-24 16:46] jonathanolson commented on #1078
ButtonListener is still used in RichText, no?

[2020-09-24 16:47] jessegreenberg commented on #1081
Yes, totally agree and understand! Thanks for reviewing.

[2020-09-24 16:47] #1081 closed

[2020-09-24 18:30] pixelzoom commented on #1078
Yes, ButtonListener is still used in RichText.  I'll add it to the checklist above, since it should presumably be replaced, correct @jonathanolson?

[2020-09-24 18:30] pixelzoom commented on #1078
Assigning to @jonathanolson to replace ButtonListener in RichText.

[2020-09-24 20:21] zepumph commented on #1021
Sorry I lost track of this issue. Over to @jonathanolson to recommend a more robust solution than `clearOverPointers`.

[2020-09-25 21:28] zepumph commented on #1047
From my understanding, this is ready to go because we have already been building out support for `enabledProperty` implementations, both in UI components directly (deprecated), and with (EnabledNode). Getting rid of these does not need to wait on an expansion of coverage by EnabledNode.

[2020-09-25 21:32] zepumph opened #1082 "Move instrumented textProperty from IO Type to core type"
From https://github.com/phetsims/scenery/issues/1046 and largely related to https://github.com/phetsims/scenery/issues/1047, we want to remove the phet-io specific Property that exists in TextIO and RichTextIO. It would be best if Text.js and RichText could be refactored to run on TinyProperty. Likely this would be a similar pattern as implemented for visibleProperty over in #1046.

I want to put

[2020-09-25 21:33] zepumph commented on #1046
I know this has been high priority for some time, but there are culminating priorities (phetsims/tandem#211 and https://github.com/phetsims/sun/issues/257) that are getting momentum that this issue will be good to work on too.

[2020-09-25 22:02] zepumph commented on #1047
This is blocking https://github.com/phetsims/tandem/issues/210

[2020-09-25 22:02] zepumph commented on #1082
This is blocking This is blocking https://github.com/phetsims/tandem/issues/210

[2020-09-25 22:29] zepumph commented on #1080
The memory leak has been confirmed fixed on master and cherry-picked to the needed shas in EFAC. This is ready to close. Thanks for the quick squash on this bug @jonathanolson.

[2020-09-25 22:29] #1080 closed

[2020-09-27 19:28] jbphet commented on #1078
@pixelzoom said:

I've completed those conversions.  Unassigning.

[2020-09-27 20:26] pixelzoom commented on #1078
@jbphet I just did a pull-all.sh, and ElectronCloudView is still using SimpleDragHandler.  Did you forget to push?

[2020-09-28 16:38] jbphet commented on #1078
Oops, my bad.  I stashed it to tackle something else and forgot to unstash.  I've committed and pushed it.  Thanks for the sharp eye @pixelzoom.

[2020-09-29 16:29] samreid commented on #1046
I pointed a few TODOs to this issue, a reminder to skim for TODOs in the code as part of the work for this issue.

[2020-09-30 17:55] samreid opened #1083 "PhetButton's pickable property will need to be cleaned up"
From https://github.com/phetsims/scenery/issues/1046, PhetButton's pickable property will need to be cleaned up.

[2020-09-30 18:58] samreid commented on #1083
@zepumph and I removed the pickableProperty, since the `enabledProperty` should be used instead.

[2020-09-30 18:58] #1083 closed

[2020-09-30 21:20] KatieWoe opened #1084 "CT Converting circular structure to JSON"
[code]

[2020-09-30 21:34] jessegreenberg commented on #1084
Thanks @KatieWoe - @samreid fixed this in https://github.com/phetsims/utterance-queue/commit/7d9c1fb9ae17d4e6d65684b290b6369c1491c54c. Closing.

[2020-09-30 21:34] #1084 closed

[2020-10-06 21:50] zepumph opened #1085 "Assertion Failed: Did not find press"
This is easily reproducible with PhET-iO, though I feel like it is likely a "grace" issue with AnimatedPanZoomListener.

Steps to reproduce:
1. go to Energy Forms and Changes (or any PhET-iO sim) in the "active" wrapper, with `?fuzz`
2. Let the sim fuzz, then "Toggle Active" to uncheck the checkbox, this sets Sim.activeProperty to `false`.

The error occurs during interrupt, but it doesn't feel li

[2020-10-06 22:22] jessegreenberg commented on #1085
Sorry, that is just a broken interrupt method on the Pointer listener. There is no event on interrupt and so findBackgroundPress was getting an undefined Pointer. Overall, I think the assertion is good. I believe the above fixes the problem.

[2020-10-06 23:08] zepumph commented on #1085
Gotcha! Thanks for the quick fix. Let me know if you have anything else here.

[2020-10-06 23:08] #1085 closed

[2020-10-07 00:55] ariel-phet commented on #1069
iOS 15 appears to have resolved this issue. Closing

[2020-10-07 17:43] jessegreenberg opened #1086 "Removing focus on down should not be in Input.js"
There is currently code on the down event that removes focus from the document. We decided to add this so that the focus highlight is generally removed when using mouse/touch events so that it isn't distracting. But this should not be done in Input.js. It is PhET specific behavior and should probably not even be in scenery. Furthermore, I would like to modify this behavior (disable it) with a phet

[2020-10-07 17:43] samreid commented on #1047
In today's meeting, @zepumph clarified that we no longer need to instrument `Node.opacity`.  This issue will focus on pickable.  Additionally, `pickable` won't instrument itself by default (like visibleProperty does), it will only support instrumentation via a passed-in `pickableProperty`.

[2020-10-07 17:55] kathy-phet commented on #1047
This seems related to the enabledProperty stuff on @pixelzoom plate re buttons, so wanted to make sure you are all in communication about this work.

[2020-10-07 17:55] samreid opened #1087 "Best way to track disposable things in Node"
While working on https://github.com/phetsims/scenery/issues/1047 and #490, @zepumph and I discussed this TODO in Node.js that says:

[code]

This is later set on the Node for disposal purposes:

[code]

Should we set `this.phetioVisibileProperty=null` in the constructor?  Should we add a `Node.disposeEmitter` that we append items to?

[2020-10-07 17:56] zepumph commented on #1047
Will do, thanks!

[2020-10-07 19:10] zepumph commented on #1087
After discussing with @jonathanolson, we felt like it was best to include a declaration in the Node constructor set to `null`.

[2020-10-07 19:20] #1087 closed

[2020-10-07 21:16] zepumph commented on #1055
Over in https://github.com/phetsims/scenery/issues/1087 we decided to initialize it to null in the constructor. It is now called `ownedPhetioVisibleProperty`. Closing

[2020-10-07 21:16] #1055 closed

[2020-10-07 21:25] zepumph commented on #1046
@samreid and I worked on this today.
* Refamiliarizing ourselves with the visibleProperty logic in Node
* Adding NodeTests to outline all the use cases for visibleProperty we could think of.
* https://github.com/phetsims/scenery/issues/1087 with @jonathanolson
* instrumenting again phetbutton and phetmenu's visibleProperty, but making it read only (which was already accidentally (?) committed.
* U

[2020-10-07 22:09] jessegreenberg commented on #1086
I did this in the above commits. I also removed some old things that didn't seem necessary anymore such as Display.activeNode and Display.pointerFocus. This simplified the listener that was moved to Sim.js quite a bit. CLosing this issue, but I will be watching CT.

[2020-10-07 22:09] #1086 closed

[2020-10-08 16:34] samreid commented on #1069
I saw this problem happen again on iOS 14.0.

[2020-10-08 16:41] samreid commented on #1069
I also reproduced the problem on iPad 7 running 14.0.1 testing on gravity and orbits 1.2.0-dev.16

[2020-10-08 17:32] jessegreenberg commented on #1074
Regarding the two proposals above, @jonathanolson mentioned that the first makes more sense because this should not be information on the Node, it should be the responsibility of the Display.

The team was convinced, and we are going to try `phet.joist.sim.display.hasVisibleTrailTo( node )` for now.

[2020-10-08 17:33] jessegreenberg commented on #1074
@jessegreenberg will work on this.

[2020-10-09 01:57] #1073 closed

[2020-10-09 22:08] jessegreenberg opened #1088 "Performance of PDOMPeer's setClientBounds"
In https://github.com/phetsims/circuit-construction-kit-common/issues/605 @samreid reported that setClientBounds is taking up a lot of CPU.  Assigning to myself to investigate. There was already some performance optimization related to this in the past, I will see if I can find notes in old issues

[2020-10-09 22:16] jessegreenberg commented on #852
This issue can be closed, we have been using this for a long time and it has been working well. This became sort of a mega-thread for issues related to mobile a11y. I reviewed comments in this issue and it looks like everything noted has been resolved. Other issues since then that are related to this have been opened, which is what we should continue to do in the future.

[2020-10-09 22:16] #852 closed

[2020-10-09 22:20] jessegreenberg commented on #1088
Here is a screenshot of the performance profile from https://github.com/phetsims/circuit-construction-kit-common/issues/605:
![image](https://user-images.githubusercontent.com/6396244/95635859-9a2eeb80-0a5b-11eb-8d86-7230333bd486.png)

[2020-10-09 22:57] zepumph commented on #1046
Above is a large refactor of how setVisibleProperty works. It makes the linked element function (updateLinkedElementForVisibleProperty) much more graceful, and also simplifies Node.initializePhetioObject().

@samreid, since you left, the main change was that multiple Nodes in tests could not be disposed because they were created while expecting an assertion (via `assert.throws()`), and so had an i

[2020-10-10 02:01] samreid commented on #1088
Please refer to https://github.com/phetsims/circuit-construction-kit-common/issues/605#issuecomment-706434150 regarding context.

[2020-10-12 15:16] samreid commented on #1046
This unit test is failing:

[code]

I traced this and saw that when the LinkedElement is disposed, `launched` is false, so it is only being removed from the tandem buffer, not from the phetioEngine, so it is not triggering a validation error.

[2020-10-12 15:56] samreid commented on #1046
The commits look great, I don't have any recommendations aside from the commits I made in NodeTests.js.  I'm not confident to proceed on `mergePhetioComponentOptions` or `phetioComponentOptions` without further discussion--is our goal that we will replace all occurrences of `phetioComponentOptions` with passing in a custom instrumented BooleanProperty (which will be instrumented and linked instead

[2020-10-12 18:38] jessegreenberg commented on #1088
This is happening to support mobile accessibility. I think we should have a way to turn this off where necessary. It definitely isn't needed for CCK. But it also isn't needed in lots of places where interactive things are moving around the screen. For instance, once something is picked up we don't need to set the sibling bounds until it is dropped again.

[2020-10-12 21:52] ariel-phet commented on #1069
@samreid did your reproduction freeze the sim and make it unable to be used? I could follow the steps, but when I when back to the sim, the sim basically reloaded for me on iOS 14, so everything still worked.

[2020-10-12 21:54] samreid commented on #1069
I saw the same symptoms as described in https://github.com/phetsims/gravity-and-orbits/issues/340 where the sim was usable except for the slider.  The sim did not reload for me.

[2020-10-12 23:12] jessegreenberg commented on #1088
This was done in the above commit, and it seems to be working. @zepumph can we discuss this tomorrow during meeting? Would be good to review 1) whether we should even be doing this and 2) if so, we should figure out how to use this in more places. Once we have the press from "double tap and hold" gesture on VO we don't need to position elements anymore so I am thinking this should maybe be used in

[2020-10-14 17:42] zepumph opened #1089 "Assert in Node that PhetioObject keys aren't provided to mutate more than once"
@samreid and I felt like this would be the most complete to check in `Node.initializePhetioObject`. Something like:

`assert && assert( _.intersection( PhetioObject.DEFAULTS, Object.keys( config)).length === 0` ) );`

I was a little concerned about performance, perhaps we can improve this a little bit, though I'm not sure how.

This is coming from work over in #1046.

[2020-10-14 17:51] zepumph commented on #1046
@samreid and I thought about a patch like this, but I think it is too constraining. For example if Panel wants its default visibleProperty to act a certain way, but we also support passing in a usage-specific visibleProperty. I think we should be tolerant of that:

[code]

[2020-10-14 18:07] zepumph opened #1090 "Many sims are using Node.visibleProperty option wrong"
There are a lot of atypical usages of visibleProperty of Nodes on the project, no doubt because we have only allowed passing in a Property for 6 months, and it was a quiet release of the feature at that.

I will go around and clean up some usages. This work is from https://github.com/phetsims/scenery/issues/1046

[2020-10-14 18:09] zepumph commented on #1090
I feel like "wrong" is the wrong word here. In most cases it is just not idiomatic to our normal options pattern, mostly because subtypes have been traditionally handling this logic.

[2020-10-14 18:20] zepumph commented on #1090
- [ ] I see 20 usages of `visibleProperty.linkAttribute( this,` in the project. Likely all of these can be refactored to use Node.visibleProperty now.

[2020-10-14 18:23] pixelzoom commented on #922
I ran into this problem when trying to concert the JoistButton hierarchy to ES6 class for https://github.com/phetsims/tasks/issues/1044.

`focusOnCloseNode` (and approaches like it) require Dialogs, menus (e.g. PhetMenu), etc. to  know about the UI component that was used to "open" it.  This creates undesirable coupling between UI components.  And (in the case of `class` conversion) creates proble

[2020-10-14 18:56] zepumph commented on #1046
RE: https://github.com/phetsims/scenery/issues/1046#issuecomment-708561954, @samreid and I updated documentation, and are ok with not asserting.

[2020-10-14 19:02] zepumph opened #1091 "move visibleProperty out of phetioComponentOptions"
This is direct work for https://github.com/phetsims/scenery/issues/1046, I just created a new issue to house this big commit. Basically this follows work outlined in https://github.com/phetsims/scenery/issues/1046#issuecomment-707204732

[2020-10-14 19:12] zepumph commented on #1091
All set here. We left phetioComponentOptions that applied to all component options. To be removed in https://github.com/phetsims/tandem/issues/222. Closing

[2020-10-14 19:12] #1091 closed

[2020-10-14 19:21] zepumph commented on #1046
@samreid and I have completed all that we can see in this issue, and created side issues for next steps. We are now going to head over to https://github.com/phetsims/scenery/issues/1047 to duplicate part/all of this pattern for opacity/pickable.

[2020-10-14 19:21] #1046 closed

[2020-10-14 20:18] pixelzoom commented on #922
In the above commit, I replaced the `focusOnCloseNode` option with a `setFocusOnCloseNode`, so that it can be set after instantiation.  I also fixed a bug in PhetMenu, where `focusOnCloseNode` had not been set to OptionsDialog.  @jessegreenberg reviewed this work via Slack, and verified (using BASE) that behavior is unchanged from the published version.

A stack-based approach is still the right d

[2020-10-14 20:31] samreid commented on #1047
<details>

[code]

</details>

[2020-10-14 20:31] pixelzoom commented on #922
In the above commits, I replaced the `focusOnCloseNode` option with a `setFocusOnCloseNode` method, so that it can be set after instantiation.  I also fixed a bug in PhetMenu, where `focusOnCloseNode` had not been set to OptionsDialog.  @jessegreenberg reviewed this work via Slack, and verified (using BASE) that behavior is unchanged from the published version.

A stack-based approach is still the

[2020-10-14 20:33] pixelzoom commented on #922
Assigning to @jessegreenberg to decide on prioritization of converting to a stack-based approach.

[2020-10-15 00:05] zepumph opened #1092 "opt into instrumented pickableProperties when needed"
We removed default instrumented pickableProperty in https://github.com/phetsims/scenery/issues/1047, but we need to make sure that all pickableProperties are in place.

The obvious first place to use as a list to add back in is phet-io-client-guides and the client-requests that are implemented. From there we can pass things over to a designer/phet-io meeting to help brainstorming.

[2020-10-15 00:17] zepumph commented on #1092
Oh and another possible list:

Here is a list of Nodes that used phetioComponentOptions to supply metadata to its pickableProperty. This isn't an automatic add-back in to me though, since it isn't clear if it was just passed to the sub-children components because they were there/for completeness. My guess is many of these don't need a pickableProperty.

In these cases, I marked them with `      //

[2020-10-15 00:26] zepumph opened #1093 "?shuffleListeners will likely break Node"
@samreid and I discovered that a new pattern in Node created in #1046 for supporting Node.visibleProperty and used in https://github.com/phetsims/scenery/issues/1047 with Node.pickableProperty will likely cause bugs when used with `?shuffleListeners`.

Let's look at the pickable change specifically to outline the potential trouble. Here is what setPickable() used to look like:
(see https://github.

[2020-10-15 00:37] zepumph commented on #1047
Above @samreid and I got to pickableProperty today. It was easy to add the default behavior of providing a way to pass in a pickableProperty option. The hardest gotcha about that was the need to move logic in setPickable to a listener added to this._pickableProperty (see onPickablePropertyChange), which is the same pattern as used with `onVisiblePropertyChange`. There is a potential defect here th

[2020-10-15 01:05] jessegreenberg opened #1094 "VoiceOver input isn't working with iOS 14 for published sims"
From https://github.com/phetsims/molecules-and-light/issues/376

Activating many things with VoiceOver on iOS 14 is currently broken for many sims that are published. Strangely, it is not broken on master. The last sim to be published with support for VoiceOver is molecules-and-light, SHAs for that were taken in June 10, 2020. So some change between now and then introduced something that fixed thi

[2020-10-15 01:09] jessegreenberg commented on #1094
This issue is almost identical to #1001. In iOS 14 VoiceOver is sending both pointer events AND click events to the element under the virtual cursor so things are getting pressed more than once. For checkboxes this means that they are checked and immediately unchecked again.

In #1001 we fixed the issue by preventing dispatch of pointer events if the target of the event was within the PDOM. But th

[2020-10-15 01:21] jessegreenberg commented on #1094
OK - for some reason #1086 seems to have fixed this issue, putting commits f453d07 and https://github.com/phetsims/joist/commit/6d462dac7dd8bb7292c8db30003199d6a2fcaefc into molecules-and-light 1.5 SHAs fixes the issue.

[2020-10-15 04:02] jessegreenberg commented on #1094
Before #1086, order of things was

- down DOM event
  - Set Display.focus = null in Input.js
  - dispatch down scenery event, calling listeners
- click DOM event
  - dispatch scenery click event, calling listeners

After #1086, order of things is
- down DOM event
  - dispatch down scenery event
    - listener on the down event sets Display.focus to null - *this interrupts other listeners on down,

[2020-10-15 04:11] jessegreenberg commented on #1094
I have access to both iOS 13.6 and 14.0. I verified that in iOS 13.6 VoiceOver sends only a MouseEvent of type `click` targeted at the PDOM element (for a button). In iOS 14.0, VoiceOver sends both a PointerEvent to the location of the PDOM element (targeted at the sim div) and a MouseEvent of type `click` targeted at the PDOM element.

I inspected the PointerEvent and saw now way to distinguish i

[2020-10-15 10:18] samreid commented on #1093
Brainstorming one option, we could add a static method that tacks on an index to functions which indicates they should not be shuffled.

[code]

`TinyEmitter.fixedOrder` could use a global indexing like so:

[code]

Then we would rewrite `shuffle` to sort any functions with `sortingIndex` by index, then shuffle the remaining elements.  This way we could still support "order added" and shuffle the

[2020-10-15 10:52] samreid commented on #1047
Should the default value for `pickablePropertyInstrumented` be `false` instead of `true`, since this should be an opt-in feature?  I think the current default value of `pickablePropertyInstrumented: false` is causing a CT failure in scenery unit tests.

[2020-10-15 11:12] samreid commented on #1047
I factored out `updateLinkedElementForProperty` in the commit, that is ready for review.

[2020-10-15 14:49] jessegreenberg commented on #1094
After sleeping on it I think https://stackoverflow.com/questions/8643739/cancel-click-event-in-the-mouseup-event-handler/8927598 may be our best bet if it works. We would prevent MouseEvents if we receive a PointerEvent that lands within the display bounds. If we get a PointerEvent outside of display bounds, it was likely from JAWS/NVDA/mac VoiceOver and we don't want to prevent the click. If any

[2020-10-15 16:08] KatieWoe opened #1095 "CT node instrumented pickable Property failed"
[code]

[2020-10-15 20:40] zepumph commented on #1095
Yes thanks, this is from #1047. I swear the tests were passing my local copy yesterday, but this morning they aren't ¯\_(ツ)_/¯

[2020-10-15 23:43] samreid commented on #1095
From my comment in https://github.com/phetsims/scenery/issues/1047#issuecomment-709171604

[2020-10-16 00:36] zepumph opened #1096 "Investigate performance/memory overhead of adding fields and mutator keys to Node"
@samreid and I have been adding constructor fields and mutator keys to Node for features implemented in #1046 and #1047. We feel like it is important to quantify performance/memory overhead to weigh certain tradeoffs in that issue.

For our purposes, we are most interested in:
* Startup slowdown when adding mutator keys (which are iterated through on every `mutate` call).
* Heap snapshot change wh

[2020-10-16 00:44] zepumph commented on #1096
After about an hour of testing we have some results to share!

For startup time, we tested by adding a parallel loop in `mutate` that has a no-op that can't be optimized out. We then captured a cumulative time of how long it took to loop through all keys each time Node.mutate was called during the startup of waves intro. We found that looping with the current number of keys took ~7ms in total. Whe

[2020-10-16 00:46] zepumph commented on #1047
Over in https://github.com/phetsims/scenery/issues/1096, @samreid and I likely discovered that it is well within acceptable performance/memory to add what we need to support opacity like pickable, even if it isn't likely to be used as much. That said, it is still out for review.

[2020-10-16 00:50] zepumph commented on #1095
Yes sorry. This was a mistake, as I refactored the default value into the defaults object right before commit. Sorry for not reading your comment sooner. I think that https://github.com/phetsims/scenery/issues/1092 as a high priority issue is an acceptable solution, instead of using `true` as a transition state.

[2020-10-16 00:50] #1095 closed

[2020-10-16 00:51] zepumph commented on #1047
RE: https://github.com/phetsims/scenery/issues/1047#issuecomment-709171604, I committed https://github.com/phetsims/scenery/commit/a26bbd7d0ad3091e63533048c0cef453933ecde2

[2020-10-16 19:19] samreid commented on #1092
I visited the remaining `pickableProperties` mentioned in the client guides and opted them in.

[2020-10-16 19:34] samreid commented on #1092
I believe the `phetioComponentOptions: {pickableProperty: phetioReadOnly: true}}` were there because we didn't want the user to change their pickability.  Therefore it seems reasonable that removing the pickableProperty altogether would satisfy that constraint. So I removed them in the commits.

[2020-10-16 19:44] samreid commented on #1092
In https://github.com/phetsims/sun/commit/2b0938aa36e0863a2bb88b5a740d397f27c00302 it was unclear whether enabledProperty should also get the `phetioState: false` option in the `enabledPropertyOptions`.  @zepumph can you please advise?

[2020-10-16 19:52] samreid commented on #1047
All remaining `phetioComponentOptions` are about the `textProperty`.  In the preceding commit, I removed `NodeIO.createWrapper` and its `opacityProperty`.  It is up for discussion in https://github.com/phetsims/scenery/issues/1047#issuecomment-709664029 for bringing this back as `Node.opacityPropertyInstrumented` etc.

[2020-10-16 20:15] zepumph commented on #1082
Oops, this work happened as part of https://github.com/phetsims/scenery/issues/490. This issue is really focused on getting rid of PhET-iO instrumented text Properties implemented out of the IO type and into the core type.

[2020-10-17 01:35] samreid commented on #1082
@zepumph and I discussed how to apply the pattern for visibleProperty to Text.textProperty and RichText.textProperty.  Some topics:

* Will `textProperty` need to be instrumented if we are using https://github.com/phetsims/studio/issues/192 for text customization?  Or maybe text should default to `phetioReadOnly: true`
* How can we share code between Text/RichText?  We cannot use the modern patter

[2020-10-17 01:49] samreid commented on #1082
I applied the pattern from `visibleProperty` to `Text.textProperty`.  I tested in Natural Selection like so:

[code]

It created the correct linkedProperty.  I also generated `generate-phet-io-api` before and after, and they came out the same.

[2020-10-17 13:02] samreid commented on #1082
I applied the same pattern to RichText.  Now there are 100 lines that are identical between RichText.js and Text.js, and they are highly similar with visibleProperty in Node.js.  I considered:

* Using the old pattern for mixins, but I am not sure of costs or risks involved in that pattern.  It would at least make navigation/autocomplete readability worse.
* Using the new pattern for mixins, which

[2020-10-17 13:03] samreid opened #1097 "Factor out similar/duplicated code for Node sub-Property phet-io support"
From https://github.com/phetsims/scenery/issues/1082

I applied the same pattern to RichText.  Now there are 100 lines that are identical between RichText.js and Text.js, and they are highly similar with visibleProperty in Node.js.  I considered:

* Using the old pattern for mixins, but I am not sure of costs or risks involved in that pattern.  It would at least make navigation/autocomplete readab

[2020-10-17 13:11] samreid commented on #1047
I converted the `phetioComponentOptions.textProperty` to `textPropertyOptions` for `phetioReadOnly` and noted https://github.com/phetsims/studio/issues/192#issuecomment-710938924, once we have a rosetta-like interface for strings, we can change the default to `textPropertyOptions: phetioReadOnly: true`

[2020-10-17 15:20] samreid commented on #1047
I think this is ready for review.

[2020-10-17 16:56] samreid commented on #1047
A few more commits, moving pickableProperty.phetioFeatured:true from overrides file to Node defaults.  Still ready for review.

[2020-10-21 16:17] samreid opened #1098 "Instrument opacityProperty for Node in the core type"
NodeIO used to create its own nested Properties for visibility, opacity and pickability.  We have been promoting these to the core type in https://github.com/phetsims/scenery/issues/1047.

This issue will be to move opacity instrumentation to the core type.  Like pickability, it should be "opt-in", and phetioFeatured: true when provided.

We had considered waiting on feedback on performance concer

[2020-10-21 16:21] samreid commented on #1098
In https://github.com/phetsims/scenery/issues/1047#issuecomment-708771210

I discovered an occurrence of opacityProperty in https://github.com/phetsims/gravity-force-lab/issues/271, but @arouinfar said it may be unnecessary.  Let's put this issue on hold until we have a need for an instrumented opacityProperty.

[2020-10-21 16:27] samreid opened #1099 "Create Node._visiblePropertyInstrumened for uniformity"
From https://github.com/phetsims/scenery/issues/1047#issuecomment-708771210

We also considered that performance would be the only reason not to do this, but the testing in https://github.com/phetsims/scenery/issues/1096 did not show an appreciable performance problem.

[2020-10-21 16:36] samreid commented on #1098
@zepumph and I discussed it and agreed it would be best for the Node API and future-proofing the PhET-iO API to add this eagerly while it is fresh in our minds.

[2020-10-21 16:38] zepumph commented on #1098
Yes, I think it will be nice to do conversions like this:

[code]

[2020-10-21 17:32] zepumph commented on #1092
There are no `linkAttribute` calls for pickable.

[2020-10-21 17:58] zepumph opened #1100 "Move enabledProperty into Node"
Related to work done in https://github.com/phetsims/scenery/issues/1047 and https://github.com/phetsims/scenery/issues/1082 and https://github.com/phetsims/sun/issues/585 and https://github.com/phetsims/sun/issues/257. And from discussion with @samreid

The last time we discussed this was part of https://github.com/phetsims/sun/issues/257#issuecomment-510617976, and there was no support for Proper

[2020-10-21 20:33] zepumph commented on #1097
It isn't totally clear to me. Perhaps if the duplication in Text/RichText (with the same-named Property) wasn't there, then we wouldn't hate it so much.

That said, with https://github.com/phetsims/scenery/issues/1100 and https://github.com/phetsims/scenery/issues/1098 that could be 5 (6 if you include both textProperty implementations), that use a very similar pattern to create support for passed

[2020-10-21 20:37] zepumph commented on #1100
We should mark this for developer meeting to see if we want to move EnabledNode into Node. @samreid made the argument that EnabledComponent is nice, and factored out, but is actually pretty simple, and may be more effort than it's worth to keep totally factored out into a single place. We could keep EnabledComponent for the three usages that currently use it (search for `EnabledComponent.mixInto`)

[2020-10-21 20:54] zepumph commented on #1100
@samreid also recommended that we could factor out a Property called EnabledProperty, which is the main logic in EnabledComponent:

[code]

To be created if one isn't provided. The type name "EnabledProperty" wouldn't be `instanceof` checkable though, because you can still pass in any Property for it.

[2020-10-21 21:16] zepumph commented on #1090
Tagging https://github.com/phetsims/scenery/issues/1047 as partially the base work here.

[2020-10-21 21:18] zepumph commented on #1047
- [ ] @samreid should we rename `pickablePropertyInstrumented` and those like it to `pickablePropertyPhetioInstrumented`?

[2020-10-21 21:19] zepumph commented on #1092
REL https://github.com/phetsims/circuit-construction-kit-common/commit/cb126175c4698cf4d4cdf4e2c209033ff8318dfd, was this a designed change? Because this isn't automatically the same. Oh, is it perhaps because the new component doesn't have a pickable or visibleProperty?

[2020-10-21 21:22] zepumph commented on #1092
I would lean towards thinking this is designed. Though it may not be, and no matter it may not be a big difference. The visibleProperty is no stateful because we feel like dialogs are transient, and thus far we haven't supported setting state to a sim showing a dialog. Perhaps that is vestigial and out dated design, but if you feel like it should be applied to enabledProperty, or rethought for vis

[2020-10-21 21:48] zepumph commented on #1090
I starting going through these, and immediately felt like this was a waste of time. It was so hard to know how to test each occurrence, and the benefits seem negligible. I'm going to close this issue.

[2020-10-21 21:48] #1090 closed

[2020-10-21 21:51] zepumph commented on #1090
I'll add that I also looked at usages of `visibleProperty = ` in the project matching words and case, and didn't see anything else that was suspect. Most were in the model, or in the view but either a DerivedProperty or a non-standard usage.

[2020-10-21 21:55] pixelzoom commented on #1100
`EnabledProperty` sounds like a good idea.  But let's work on that proposed `phetioDocumentation`, keeping in mind that EnabledProperty can also be used with model elements.

[code]

"component" - PhET-iO doesn't have "components", it has "elements".

"grayed out" - incorrect (we change opacity, not color palette), and specific to UI components

"cannot be interacted with" - specific to UI compone

[2020-10-21 21:57] zepumph commented on #1047
After looking through commits and the linked issues for this issue, I only have the above question left before closing.

[2020-10-21 22:08] zepumph commented on #1082
It does seem like this could largely benefit from some factored out logic. Thanks for making https://github.com/phetsims/scenery/issues/1097. I have no other thoughts for this issue. Thanks for implementing!

I think this issue further adds priority to https://github.com/phetsims/studio/issues/192, but that is more of a medium-term goal that we should do after more clean-up.

Anything else here?

[2020-10-21 22:09] zepumph commented on #1082
Oh! I feel like we should create factored out unit tests for these Texts. Perhaps we could reuse blocks of code from NodeTests.js. What do you think?

[2020-10-22 04:30] samreid commented on #1100
Moving my comment from: https://github.com/phetsims/phet-info/issues/143#issuecomment-714215994

Now that Node supports TinyProperty, and has established support for passing in properties, PhET-iO support (linked elements & instrumentation), perhaps we should move `enabledProperty` directly to `Node`.

[2020-10-22 19:50] zepumph commented on #1100
From developer meeting discussion today, the best outcome from a coding and API standpoint would be to move enabledProperty into Node, and no longer have `EnabledNode`. The main concern here is about performance and memory. @samreid did a single test adding 10 TinyProperties per Node in Natural selection (all set to `true`), and found that each additional tinyProperty in Node seems to add ~.6% mem

[2020-10-22 21:03] zepumph opened #1101 "Improve performance and memory footprint of Node.js"
Related to discussion in https://github.com/phetsims/scenery/issues/1096 and https://github.com/phetsims/scenery/issues/1100, during today's dev meeting, we talked about how there may be some low hanging performance improvements that could be done for Node.js. This type is central to the view of phet sims, and would be worth auditing for bloat.

This largely applies also to the fact that Node exte

[2020-10-23 16:16] samreid commented on #1101
@zepumph and I ran a test yesterday where we created 10,000 Nodes in the scenery playground (not rendering them).  We recorded heap snapshots:

56.8
57.1
56.6
57.1

// with emitContext = null in TinyEmitter
53.4
53.9

// With an additional 10x TinyProperty(number) per Node, added in the constructor
69.2
69.6
69.6

Therefore, it seems like a 12.6MB difference between the first and final test on ave

[2020-10-23 16:23] samreid commented on #1101
We also tried commenting out the body of `_hints` but that only reduced the memory from 56.3MB to 56.1MB.

[2020-10-23 16:31] jessegreenberg commented on #1094
This addition, added on a pointer event does work in both master and the release branch:
[code]

We need to make sure that it is only added once. We don't want to introduce a memory leak by adding this listener every down and never removing it.

[2020-10-23 17:37] jonathanolson commented on #1096
Those seem like definitely acceptable numbers, sounds good to me!

[2020-10-23 17:37] #1096 closed

[2020-10-23 17:39] jonathanolson commented on #1101
Seems fine, as long as we're not adding too many things. Presumably we would find another approach to reduce memory use in a general way if needed (e.g. starting objects in a light-weight mode where most of their fields of specific types aren't set)

[2020-10-23 18:54] jessegreenberg commented on #1094
Here is the patch that would be needed for sims that support mobile accessiblity which include
gravity-force-lab
gravity-force-lab-basics
molarity
molecules-and-light
ohms-law

[code]

[2020-10-23 20:29] zepumph commented on #1097
Today @samreid, @jonathanolson and I discussed adding all this new boilerplate directly into TinyForwardingProperty. That axon type was made specifically to support this `Node.mutate`-meetings-`PhET-iO` pattern. I'm excited to give that a try!

[2020-10-23 22:13] zepumph commented on #1101
@jonathanolson does this mean that you do not recommend any changes to lighten up Node at this time? If not, please close.

[2020-10-23 22:13] zepumph commented on #1100
I think we should work on https://github.com/phetsims/scenery/issues/1097 first, and then try to apply what ever composition pattern over there to enabled directly in Node here.

[2020-10-23 22:41] jessegreenberg commented on #1094
@zepumph and I reviewed the change and determined it just wasn't a good thing to move forward with. First of all, it doesn't work on master with the change identified in https://github.com/phetsims/scenery/issues/1094#issuecomment-708882797. But there also isn't a guarantee that `click` events will follow `up` events, and so we could miss out on legitimate `click` events this way.

Ideally, we wan

[2020-10-26 17:28] samreid commented on #1047
Yes, I'll do that.

[2020-10-26 19:43] zepumph commented on #1047
- [ ] We need to update the phetioDocumentation for NodeIO, for one thing it includes pickable-specific language. Should this move over to the pickableProperty phetioDocumentation?

[2020-10-27 03:48] samreid commented on #1047
I moved the pickable documentation, and renamed instrumented => phetioInstrumented.  Ready for review.

[2020-10-27 20:46] jessegreenberg commented on #1048
Reviewed again with @zepumph on 10/27/2020 -

`KeyStateTracker.attachToDocument` should be renamed to `KeyStateTracker.attachToWindow`.
Display should not have a static KeyStateTracker. instead, we will create a new singleton called globalKeyStateTracker that will create a KeyStateTracker and attach it to the window upon initialization.

One of the reasons to move the KeyStateTracker out of Displa

[2020-10-27 23:41] pixelzoom commented on #707
10/27/20 Zoom call:

@jonathanolson @ariel-phet and I discussed this as a possible way to add a grayscale option for sun buttons, which was lost in the refactor in https://github.com/phetsims/sun/issues/644.

@ariel-phet mentioned that this may have a11y benefits, for high-contrast features.

@jonathanolson said that just the grayscale option might be possible if this turns out to be a lot of work

[2020-10-28 15:58] jonathanolson opened #1102 "branch: filters"
For https://github.com/phetsims/scenery/issues/707 and associated cleanup

[2020-10-28 16:40] zepumph opened #1103 "Should onAccessAttempt be called for bounds Properties when linking or notifying listeners?"

[2020-10-28 16:41] zepumph opened #1104 "Move onAccessAttempt to TinyStaticProperty"
@samreid and I found this to be only used here, and it was causing weird and buggy logic in tying to support it in TinyForwardingProperty. We thought the best path forward was to move `onAccessAttempt` to TinyStaticProperty.