[2015-02-14 03:51] jonathanolson commented on #384
I'd like to have a clearer picture of the specific needs before taking a full shot at that. For example

1. Does the DOM structure have to be updated synchronously, or can we afford to wait until the animation frame? If we can't wait, we can't use the 'accessibility' renderer idea or anything that relies on Instances. Ideally we don't want to touch the DOM until the animation frame, since it would

[2015-02-14 04:03] jonathanolson commented on #384
Your proposal to use a 2nd Display with a custom non-override-able renderer would (unless we patched them):

- Create and resize a second container div
- Double all syncTree overhead (calculating state, tracking where instances are inserted/removed, computing change intervals, combining change intervals, etc).
- Double the number of instances and all instance manipulation
- Double the listeners on

[2015-02-14 04:28] jonathanolson commented on #384
It seems like the proposal for the 2nd Display would mostly be patching hundreds of places in already-complex code to do the following:

1. Maintain an ordered hierarchy of DOM peers (handling rearrangement and add/remove), and don't show peers for invsible nodes.
2. Update the peers themselves (either when the animation frame hits, or immediately, yet unknown) to the desired state.
3. More?

And

[2015-02-14 04:30] jonathanolson commented on #347
Yes, I'll be able to.

[2015-02-17 20:54] samreid commented on #384
Based on the above issues I agree it would be best to focus on a custom DOM implementation.  Perhaps after have more answers about requirements, would be a good time to start.

[2015-02-17 23:03] pixelzoom opened #386 "blurry SVG in Chrome 40 when Canvas present"
https://github.com/phetsims/acid-base-solutions/issues/131 reported blurry SVG elements. It appears that this is a problem with Chrome 40, since the problem does not occur in Canary 42.

Note that moving the canvas in front of the other SVG content resolved the issue, but no changes were made since it appear to have been fixed in Canary.

[2015-02-17 23:16] bereaphysics commented on #386
Charges and Fields has a similar problem. It is easy to toggle the canvas Node by checking the voltage checkBox. You can clearly see a difference in the rendering of the text in chrome 40. It is also present in the canary version, (unlike @pixelzoom , I'm running windows 7  though).  Firefox  35 is fine.

[2015-02-17 23:21] pixelzoom commented on #386
@bereaphysics is your Canary version 42?

[2015-02-17 23:23] bereaphysics commented on #386
My version is Version 42.0.2307.0 canary (64-bit)

[2015-02-18 08:03] jonathanolson commented on #376
I've added experimental support for mipmapping to SVG images in Scenery (underneath a non-default Image flag). Not ready for production use yet, and could use further tuning with the bias (and possibly finer mipmap levels than 2x), and has an occasional bug that results in black images temporarily.

Examples in Firefox.

Before:
![ba-intro-normal](https://cloud.githubusercontent.com/assets/480878/

[2015-02-18 08:06] jonathanolson commented on #376
Before:
![famb-net-force-no-mipmap](https://cloud.githubusercontent.com/assets/480878/6243998/4915cf7a-b70a-11e4-96f0-68922637d909.png)
After:
![famb-net-force-mipmap](https://cloud.githubusercontent.com/assets/480878/6244001/51642b90-b70a-11e4-9b22-eca7365135a3.png)

[2015-02-18 20:13] jonathanolson commented on #386
I do see slightly less bold text on 42.0.2306.0 canary (Win7 64-bit), removing "pending-fix" label.

[2015-02-18 20:16] jonathanolson opened #387 "Rendering fully-clipped content"
@bereaphysics reported that SVGBlock was complaining about invalid bounds using Least Squares Regression.

On the Scenery display-side, we should be skipping content that is fully clipped (giving it invalid bounds), or at least detecting if it is all clipped at FittedBlock and resizing to non-negative widths accordingly.

[2015-02-18 20:17] jonathanolson commented on #387
https://github.com/phetsims/scenery/issues/385 is one issue that would be fixed by this.

[2015-02-19 18:05] samreid commented on #376
Can this solution be "auto-applied"?  Detect circumstances where an image is being shown at a radically different size and then mipmap it then?  Or better for the developer to annotate the problem images and have them mipmap on startup?

[2015-02-20 06:16] jonathanolson commented on #376
It can be auto-applied without precomputing any mipmaps, however it might cause a slight delay when it has to mip-map on the fly (e.g. switching screens) that might be undesirable.

Additionally, if it's enabled, we have to compute the relative transform in SVG (which usually isn't needed).

[2015-02-20 20:05] jonathanolson commented on #165
It's looking like 64-bit is still faster by 2x on Chrome and mobile Safari testing http://jsperf.com/float32array-vs-float64array/2, and slightly faster on most other devices (by 5-10%).

We'll want a way of generally using 64-bit except when we need it for WebGL.

[2015-02-20 20:33] pixelzoom opened #388 "bounds exception is not failing"
In scenery 0.1, this code would have failed with something like "suspicious matrix operation", because the node has no children and therefore its bounds are Bounds2.NOTHING.

[code]

In scenery 0.2, this assertion is not firing. I noticed this while reviewing least-squares-regression.DataPointNode.

[2015-02-20 20:34] pixelzoom commented on #388
This is a bug in Vector2. Skype conversation:

[2/20/15, 1:11:04 PM] Jonathan Olson: Shound still have an assertion, checking
[2/20/15, 1:11:13 PM] Jonathan Olson: just made changes to that about 2 days ago
[2/20/15, 1:11:51 PM] Chris Malley: code where this occurs is least-squares-regression.DataPointNode.
[2/20/15, 1:12:47 PM] Jonathan Olson: interesting what new Node().center returns
[2/20/15,

[2015-02-20 22:39] jonathanolson commented on #388
Fixed, thanks for noticing!

[2015-02-20 22:39] #388 closed

[2015-02-21 04:27] jonathanolson commented on #165
For now, added setTo32Bit() and setTo64Bit(), as I can't think of a great long-term solution yet.

[2015-02-21 06:20] jonathanolson commented on #376
Slightly tweaked settings, sharpness test is showing good results on Firefox/Chrome/IE11 Win7. Notably IE11 uses similar settings to Firefox. Here's an example:

![scenery-sharpness-mipmap](https://cloud.githubusercontent.com/assets/480878/6313070/bbd498ea-b956-11e4-8c6e-c28830c83ec1.png) (mipmap with tweaked settings)
![scenery-sharpness-no-mipmap](https://cloud.githubusercontent.com/assets/48087

[2015-02-23 18:13] jonathanolson commented on #376
Haven't found a great solution for the SVG delay that happens yet (if mipmap is created the same animation frame as it would need to be displayed, there may be a flicker where it doesn't display the first frame).

[2015-02-24 08:40] jonathanolson commented on #338
Ideally fuzzing should be used to determine a minimal test case for https://github.com/phetsims/scenery/issues/375

[2015-02-24 08:53] jonathanolson commented on #275
Timeline of FPAF shows that the cursor update triggers recalculation of styles (more expensive) and layout (less expensive). Compositing looks like a significant (dominating?) factor unless I'm reading the plot wrong (I'll read up on the tools a bit):

![fpaf-composite](https://cloud.githubusercontent.com/assets/480878/6345897/9223089c-bbc7-11e4-912c-94f55008b275.png)

We could consider some creat

[2015-02-25 00:11] pixelzoom opened #389 "bounds mutability breaks navbar"
Bottom part of screen labels is chopped off, for example:

![screenshot_474](https://cloud.githubusercontent.com/assets/3046552/6362227/0d4c89aa-bc48-11e4-86a7-951564fcbb6d.png)

[2015-02-25 00:27] pixelzoom commented on #389
Screen icons also shift up and down when you click on them.

[2015-02-25 00:37] jonathanolson commented on #389
Looks like the sim's screenBounds are different between SHAs.

[2015-02-25 01:50] jonathanolson commented on #389
Isolated to the cached SVG bounds on the Font instances used differs (even with the same font), with vertical bounds (-9,2) to (-25,6).

[2015-02-25 02:06] #389 closed

[2015-02-26 17:06] #332 closed

[2015-02-26 17:10] jonathanolson commented on #275
https://github.com/phetsims/scenery/issues/337 should help with this.

[2015-02-26 17:12] jonathanolson commented on #266
Should be handled in https://github.com/phetsims/scenery/issues/338

[2015-02-26 17:12] #266 closed

[2015-02-26 17:13] jonathanolson commented on #262
Intellij does better with these, closing.

[2015-02-26 17:13] #262 closed

[2015-02-26 17:16] jonathanolson commented on #220
Whoops, we're handling this in https://github.com/phetsims/scenery/issues/376 and https://github.com/phetsims/chipper/issues/111. Closing this one.

[2015-02-26 17:16] #220 closed

[2015-02-26 17:19] jonathanolson commented on #179
Shape is fairly ingrained, will handle this instead with mutability of Shape (https://github.com/phetsims/kite/issues/29).

[2015-02-26 17:19] #179 closed

[2015-02-26 17:21] jonathanolson commented on #154
Presumably this was before we were specifying a length-adjustment for SVG text to precisely match bounds (to be re-investigated in https://github.com/phetsims/scenery/issues/382 for more cross-browser compatibility).

Can you confirm that this is no longer an issue?

[2015-02-26 17:23] jonathanolson commented on #143
Still no stable browser support (see https://developer.mozilla.org/en-US/docs/Web/API/TextMetrics).

[2015-02-26 17:30] jonathanolson commented on #126
Everything except for using blob URIs is now handled in 0.2. Let me know if more work needs to be done on this.

[2015-02-26 17:32] jonathanolson commented on #117
Complete.

[2015-02-26 17:32] #117 closed

[2015-02-26 18:00] jonathanolson commented on #358
It's opening for me, both the build and require.js version.

[2015-02-26 18:00] #358 closed

[2015-02-26 18:37] jonathanolson commented on #359
I can't reproduce on an iPad 3. Can you confirm this is still happening? It may have been fixed by Joist changes to only change background color through Scenery (which is batched) instead of changing a div background (which Joist didn't batch).

If it's still a problem, I'll need to work with you sometime with that device to solve it.

[2015-02-26 18:39] jonathanolson commented on #356
Being rewritten to use WebGLNode, I don't think this issue is relevant. Closing.

[2015-02-26 18:39] #356 closed

[2015-02-26 18:39] jonathanolson commented on #352
This was completed.

[2015-02-26 18:39] #352 closed

[2015-02-26 18:42] jonathanolson commented on #288
This is presumably not an issue anymore with the current Scenery 0.2, can you confirm and if so close?

[2015-02-26 18:48] aaronsamuel137 commented on #288
This looks good now. Closing

[2015-02-26 18:48] #288 closed

[2015-02-26 18:54] jonathanolson commented on #272
This is due to image rasterization (https://github.com/phetsims/scenery/issues/376), should be fixed by usage of the mipmap plugin (https://github.com/phetsims/chipper/issues/111).

Here's current master IE11:
![ph-scale-ie-no-mipmap](https://cloud.githubusercontent.com/assets/480878/6399177/fa8e60ba-bdad-11e4-926d-901c77e4d0a0.png)

Here's when I add the mipmap plugin to the config and switch "im

[2015-02-26 18:54] jonathanolson commented on #272
Also notably, the right-side line is a single pixel wide which is why it's likely to happen in FF and IE.

[2015-02-26 19:00] jonathanolson commented on #252
I'm still unable to debug this with the above information. @kmsravindra, let me know if you're able to get this, or whether I should close this issue.

[2015-02-26 19:01] jonathanolson commented on #226
These should be the preferred flag methods for this in 0.2.

[2015-02-26 19:02] jonathanolson commented on #225
It sounds most beneficial to test for startup bottlenecks in sims in general.

[2015-02-26 19:05] jonathanolson commented on #167
Sometime I added the preventTransform flag which handles this issue.

[2015-02-26 19:05] #167 closed

[2015-02-26 19:06] jonathanolson commented on #142
This was very Scenery 0.1-specific, should not happen now.

[2015-02-26 19:06] #142 closed

[2015-02-26 20:32] jonathanolson opened #390 "iOS iframe issues when blocks go outside window bounds"
See https://github.com/phetsims/molecule-shapes/issues/111 for details.

We'll want to ensure that our FittedBlock bounds don't go outside of the window bounds (right now they can with padding).

[2015-02-26 20:45] #390 closed

[2015-02-27 02:17] jonathanolson commented on #387
Looks like https://github.com/phetsims/states-of-matter/issues/41 is another case that should be tested to see if it is resolved after this work.

[2015-02-27 02:21] pixelzoom commented on #154
Not an issue, closing.

[2015-02-27 02:21] #154 closed

[2015-02-27 03:11] bereaphysics commented on #334
Update:  this issue can be reproduced on chrome 43.0.2316.0 canary (64-bit) as well as Version 40.0.2214.115 m (64-bit) but again this is device specific (Lenovo X1 carbon)

[2015-02-27 05:54] jonathanolson commented on #334
Let me know if it makes sense sometime after developer meetings to collaborate on this issue (as I can't reproduce).

[2015-02-27 20:32] bereaphysics commented on #334
I think it is too specific to a given platform to be worth it. I was revisiting this issue, hoping that the new version of chrome might have fixed it.

[2015-02-27 21:01] samreid opened #391 "Move SVG accessibility to master"
During the accessibility conference, we pushed accessibility bindings to SVG in SVGGroup.js.  This was pushed to a branch `ocad-day-1`.  It should be moved to master and buried behind a query parameter.

[2015-02-28 20:43] jonathanolson commented on #376
Completed Scenery-level implementation and the plugin to support preloading of mipmaps in build files (https://github.com/phetsims/chipper/issues/111). Closing.

[2015-02-28 23:38] jonathanolson opened #392 "[Fuzzed] Instance.addRemoveCounter === -2 failure"
It should never be less than -1, will be adding in test case failure in unit tests.

[2015-03-01 00:02] jonathanolson commented on #392
Looks like it's probably caused by node._instances references to already-removed instances.

[2015-03-01 00:26] jonathanolson commented on #392
If we have the following:
[code]
it looks like we are not properly removing the instance from c's _instances.

[2015-03-01 00:35] jonathanolson commented on #392
Since syncTree only marks subtree roots for disposal (and relies on them visiting children to dispose the subtree), we have an issue because the instance "c" (above example) is not in the children when "b" is being disposed.

We do have access to the ```instanceRemovalCheckList``` where "b" would still be stored on "c", and it would make sense to defensively iterate through and check for undispose

[2015-03-01 00:50] jonathanolson commented on #392
Verified the above strategy based on all documentation, and all tests are now passing with it implemented. Closing.

[2015-03-01 00:50] #392 closed

[2015-03-01 00:59] jonathanolson commented on #375
The fixes applied for https://github.com/phetsims/scenery/issues/392 were the root cause of this (descendant Instance not being disposed caused the Backbone to not be disposed, thus removeDrawable was not called).

Closing.

[2015-03-01 02:27] jonathanolson commented on #338
Catching errors and iterating until the shortest failure is found would be helpful for debugging. Could potentially do true fuzzing and see what we can remove from the command list and still cause the issue.

[2015-03-01 02:28] jonathanolson opened #393 "[Fuzzed] RelativeTransform matrix mismatch"
Relative matrix with a compute need looks like it is not correct after the relative transforms are processed.

[2015-03-01 02:30] jonathanolson commented on #393
This could cause improper Canvas/WebGL positioning if nodes. Test case added in commit.

[2015-03-01 02:42] jonathanolson commented on #393
Instance tree state:
![screen shot 2015-02-28 at 7 39 16 pm](https://cloud.githubusercontent.com/assets/480878/6429233/da2fc57c-bf81-11e4-9296-5f7220144fb0.png)

[2015-03-01 03:02] jonathanolson commented on #393
Looks like the unit tests aren't taking into account that the transform applied to the scene (root node) itself shouldn't be included here (the main code is operating correctly here).

[2015-03-01 03:11] #393 closed

[2015-03-01 03:16] jonathanolson commented on #387
Looks like we're doing the most efficient way of doing this, namely just ensuring we detect and override invalid fit bounds for the layer. That way there is no penalty in performance when something is moved so it can be seen.

[2015-03-01 03:16] #387 closed

[2015-03-01 03:16] jonathanolson commented on #385
Ok, should be fixed in Scenery master. Thanks for reporting!

[2015-03-01 03:16] #385 closed

[2015-03-01 03:19] jonathanolson commented on #383
Reference implementation is Node.getSerializedFocusOrder(). Will want more documentation on how focusOrder behaves (especially in the special cases of including a child AND one of that child's descendants in the order), leaving issue open until that is done.

[2015-03-01 06:38] jonathanolson commented on #338
Now handling all of the common cases that would cause issues, will be handling more custom mutations as necessary.

Example of fuzzer in action:
![screen shot 2015-02-28 at 11 34 59 pm](https://cloud.githubusercontent.com/assets/480878/6429708/887a828c-bfa2-11e4-95b5-7e8d44444979.png)

Closing, will open change requests for it (if large in scale) in new issues.

[2015-03-01 06:38] #338 closed

[2015-03-01 08:45] jonathanolson commented on #375
Still occurs, but takes much longer to happen.

[2015-03-01 14:21] samreid commented on #376
Reopening just to ask some questions:

So we can now use SVG in our simulations and it will work reliably cross-platform?  When should we use SVG vs PNG vs JPG?  What are the tradeoffs?

[2015-03-01 16:16] jonathanolson commented on #376
SVG not recommended due to permissions issues. For the plugin, I haven't found a non-native solution to convert SVG to a raster.

For the mipmap plugin, select a raster size that looks good on high resolution devices and pass that in. If it includes no transparency, the plugin will make the JPEG/PNG encoding choice based on size for each level.

[2015-03-02 04:33] samreid commented on #126
No sign of updateSVGFragment in profiler in OSX/Chrome for FAMB/latest.  Thanks! Closing.

[2015-03-02 04:33] #126 closed

[2015-03-02 04:49] samreid commented on #376
So just to clarify: do things as we have been doing them, but when image quality looks poor on one or more platforms, we should use mipmap!?  (exclamation point indicates plugin usage, not incredulity)

[2015-03-02 19:09] jonathanolson opened #394 "Setup pixel-perfect tests for 0.2"
Compatibility was removed in the port to 0.2. Further thoughts about testing:

SVG: Use Canvg to rasterize.
WebGL: run with preserveDrawingBuffer so we can get the raster information.
DOM: no way to rasterize cross-browser

Backbones can then combine rasterizations of their layers together down to the root backbone, so we can compare a previous rendering the same way as the current rendering.

[2015-03-02 19:10] jonathanolson commented on #394
This will be extremely helpful to cover all node type-renderer-flags combinations that interact uniquely, so that we can be sure we didn't break just a single interaction visually.

[2015-03-02 20:33] jonathanolson commented on #376
Yes, in general. It will also be a download-size tradeoff between the current "include lower-resolution image only" and mipmap "include higher resolution image AND lower resolution copies".

[2015-03-03 00:09] jonathanolson commented on #394
It looks like the method for http://cburgmer.github.io/rasterizeHTML.js/ should allow us to be able to include everything we'll need to rasterize DOM.

[2015-03-03 01:22] jonathanolson commented on #394
Example from rasterization test in Chrome, with the elements replaced with the HTML from a chipper-built Molarity's Display HTML (311x311 size):

![scenery-dom-rasterization](https://cloud.githubusercontent.com/assets/480878/6454689/ca9a78d6-c108-11e4-8cdf-048384010047.png)

Top is the copy-pasted HTML, below is the same thing rendered into a Canvas using the above method. Since Molarity isn't usi

[2015-03-03 01:22] jonathanolson commented on #394
(Chrome-only at this point, Firefox won't display embedded SVG but otherwise would work nicely).

[2015-03-03 22:49] jonathanolson opened #395 "SVG transform failures in IE9 / IE10"
See details in https://github.com/phetsims/molecule-shapes/issues/113, where removeAttribute() in IE seems to be doing nothing. Will try out the proposal at http://stackoverflow.com/questions/23814729/ie11-doesnt-remove-transform-attribute-on-svg-text-element to steAttribute() to the empty string.

[2015-03-03 22:58] #395 closed

[2015-03-04 16:12] samreid opened #396 "[WebGL] Transparent nodes shouldn't create too many canvases"
Possibly related to #293.  When running many simulations with ?rootRenderer=webgl or ?rootRenderer=pixi, the simulation crashes with this error:

[code]

When opacity other than 1 is used, it creates new backbone divs to apply the opacity to.  This means during development of WebGL, I often have to go through all my code and put opacity:1 everywhere (including in sun).  Is there a way to fix this?

[2015-03-04 16:18] samreid opened #397 "[WebGL] Alpha transparency is incorrect"
Using rootRenderer=webgl, sometimes the background shows through the image instead of other images showing through.  Hard to explain in words, but it relates to the overall z-ordering and transparency.

![famb-transparency](https://cloud.githubusercontent.com/assets/679486/6487597/6cfee750-c24f-11e4-9d7e-4811a3ed5fad.png)

[2015-03-04 16:40] samreid commented on #286
@jonathanolson ran into security problems that prevent us from using SVG for our simulations and instead worked on a mipmap plugin.  Therefore, we do not need to support WebGL/SVG at the moment.  Closing.

[2015-03-04 16:40] #286 closed

[2015-03-04 16:41] samreid commented on #303
Status report from WebGLBlock.js (similar status report in PixiBlock.js)

[code]

[2015-03-04 16:43] samreid commented on #308
This still needs to be done.  We plan to turn on `preserveDrawingBuffer` to capture a single frame, then turn `preserveDrawingBuffer` back off.

[2015-03-04 16:56] samreid commented on #312
WebGLNode is complete, see #282 and currently in testing & evaluation for neuron.

[2015-03-04 16:56] #312 closed

[2015-03-04 16:59] samreid opened #398 "[WebGL] Create a convenient subclass of WebGLNode"
WebGLNode is fully general, allowing the developer to supply custom fragment + vertex shaders.  It therefore takes a lot of webgl boilerplate just to do something simple.  Let's create a subclass of WebGLNode that is optimized for showing a bunch of images.

A custom WebGLNode may still be required for neuron since the simulation has zoom & clipping.

[2015-03-04 17:01] samreid commented on #313
We added support for triangulation of kite Shapes in ColorTriangleBufferData.js

[2015-03-04 17:02] samreid commented on #315
In the literature, it seems much more common to create small, dedicated webgl shaders rather than to try to do everything in a single shader.  I have not yet made any performance comparisons, but separate shaders would certainly be more maintainable.

[2015-03-04 17:04] samreid commented on #317
It looks like this issue was probably raised against scenery 0.1.  Scenery 0.2 does not yet have context loss support.  We need to add this in #347 and *also* for WebGLNode.

[2015-03-04 17:05] samreid opened #399 "Can WebGLNode share a canvas with renderer:webgl?"
I'm not familiar with how scenery manages canvases.  Can WebGLNode share a canvas with renderer:webgl?  Likewise, can CanvasNode share a canvas with renderer:canvas?

[2015-03-04 17:42] samreid commented on #320
@AshrafSharf will investigate this over the next week.

[2015-03-04 17:44] samreid commented on #324
Our latest work on this can be viewed at http://localhost/scenery/tests/webgl/test-webgl-renderer.html

[2015-03-04 17:45] samreid commented on #340
We added more attributes into the vertex buffers in ColorTriangleRenderer and TextureRenderer, so I think this is complete.  Closing.

[2015-03-04 17:46] #340 closed

[2015-03-04 17:47] samreid commented on #350
Status update from PixiBlock.js

[code]

[2015-03-04 18:29] jonathanolson commented on #308
Can you clarify how that is possible? I though that was only set during context construction.

[2015-03-04 18:33] jonathanolson commented on #398
Would that be better served by scenery images and the WebGL renderer?

[2015-03-04 18:34] jonathanolson commented on #313
Partial support, will need to handle general paths with holes and support for evenodd fill rule.

[2015-03-04 18:36] jonathanolson commented on #399
Yes on both accounts. WebGLNode creates a WebGL drawable and likewise for CanvasNode.

[2015-03-04 18:37] jonathanolson commented on #324
If it uses the same vertex buffer, wouldn't the strip draw many more triangles?

[2015-03-04 18:40] samreid commented on #308
I suspect you are right--in that case we may need to create a new canvas with `preserveDrawingBuffer`, then render into it.

[2015-03-04 18:41] samreid commented on #398
Scenery nodes incur an amount of overhead that can be avoided when using CanvasNode or WebGLNode for noninteractive objects.  If we can minimize the overhead or if it is already low enough, then I think scenery nodes + webgl renderer is best.  Otherwise, we may need to resort to CanvasNode + WebGLNode.

[2015-03-04 18:43] samreid commented on #324
Yes, but it is a question of how many edges are shared in our geometry.  In our latest vision of webgl support where we are rendering all shapes in a single draw call, the number of shared edges would be very low.

[2015-03-04 22:20] jonathanolson commented on #324
Ok, so to clarify, going from 6 vertices per rectangle to 4 vertices (and using TRIANGLE_STRIP) takes a performance hit?

If so, even though future shape rendering may have many edges duplicated, it sounds like TRIANGLES would be preferred).

[2015-03-04 22:22] samreid commented on #324
No, I am using the same number of vertices and rendering many more triangles when switching from TRIANGLES to TRIANGLE_STRIP.  This was an isolated test with random geometry (hence the many tall, thin triangles, which I heard are harder for WebGL to optimize).

[2015-03-04 22:48] jonathanolson commented on #320
Notably for the approach for (1), it's probably best to examine the WebGL aspect given (a) shapes for every glyph and (b) a function that gives a list of glyphs and positions for any string. This is fairly easy for simple strings (like Molecule Shapes), but there are many trade-offs we'd need to make for the build process and translation to support the general case.

I'm also not sure what the dif

[2015-03-04 22:53] jonathanolson commented on #399
Let me know if you need any more information, or if there's anything to do with this issue (close if not).

[2015-03-04 22:55] jonathanolson commented on #315
It doesn't sound too difficult to try out both approaches once we have things set up and performing reasonably well.

[2015-03-04 22:57] jonathanolson commented on #313
Also I'd anticipate rasterizing it with Canvas (if it's not changing) would give higher performance but probably slightly lower quality (unless antialiasing isn't happening, in which case this would give higher quality with mipmapping).

[2015-03-04 23:01] jonathanolson opened #400 "PathWebGLDrawable assumes fills are colors"
Color.toColor() fails on gradients/patterns (understood that it's not implemented yet).

[2015-03-04 23:28] jonathanolson commented on #396
Yes, will be handled by a similar mechanic internally, but we'll need to use framebuffers to temporarily render content with opacity.

In the future, we could add detection to see if opacity is added ONLY on a single item AND the item can be rendered with a single opacity (e.g. typically not stroked), we could skip the framebuffer approach and apply the opacity just in a shader.

[2015-03-05 00:27] jonathanolson commented on #382
Additionally please see https://github.com/phetsims/joist/issues/143#issuecomment-77280991 and see if text bounds vertically are changed by textLength/lengthAdjust with Safari or other browsers.

[2015-03-05 00:37] jonathanolson commented on #218
Also https://github.com/phetsims/joist/issues/70

[2015-03-05 00:39] jonathanolson opened #401 "Implement touch fuzzer"
Also noted in https://github.com/phetsims/joist/issues/57.

Should live in Scenery, and will do the same types of things the mouse fuzzer does now, but with multiple "fingers".

[2015-03-05 00:53] jonathanolson opened #402 "Investigate allowing constructing drawable tree without nodes"
This would help for independent testing (like WebGL) where a Node/Instance tree and running stitches/sync is not necessary. Additionally, it would decrease coupling and hopefully make things easier to understand.

Additionally, we could potentially allow manually inserting drawable trees in as a node (DrawableNode?), that would allow custom overrides.

This would also include the need to better cl

[2015-03-05 01:02] samreid commented on #399
Question answered, thanks!  Closing.

[2015-03-05 01:02] #399 closed

[2015-03-05 06:04] samreid commented on #396
Are you sure we will need to resort to frameBuffers for this?  Isn't there some combination of awesome maths + webgl blending settings that will do what we need?

[2015-03-05 06:33] jonathanolson commented on #396
The tricky part is applying opacity after blending, and it would be great if there is a solution. Here's an example test case that would need to be solved:
![scenery-opacity-stacking](https://cloud.githubusercontent.com/assets/480878/6500256/4d8b9ff4-c2c6-11e4-99af-2704c7379151.png)
which can be reproduced in the playground:
[code]

A black circle is rendered partially on top of a blue circle (obs

[2015-03-05 08:04] jonathanolson commented on #396
I'm pretty sure you'd need some sort of stack of pixel information for each opacity operation (e.g. in the example, your stack would be [red] => [red,green] => [red,green,blue] =>(overwrite) [red,green,black] =>(opacity) [red, black-green] =>(opacity) [dark-brown].

If you're willing to sacrifice bit-depth to emulate the stack (in this case, say 3 bits for the first spot, 3 bits for the 2nd and 2

[2015-03-05 08:07] jonathanolson commented on #396
Also since you are writing to the main buffer, recall you can't read from your current value. So if X is currently in the buffer, you can only apply the given functions in WebGL. This means designing a combination of functions that blend bits 0-2 and 3-5 (also taking into account alpha) for all combinations that those bits could be in.

[2015-03-11 01:23] samreid commented on #397
I could really use @jonathanolson help looking into this.

[2015-03-11 01:30] samreid commented on #384
@jonathanolson can you help with a11y implementation in scenery when it is time?

[2015-03-11 02:37] samreid commented on #396
Didn't we deduce that pixi is doing this properly?  How is their transparency implemented?

[2015-03-11 04:33] samreid commented on #380
Not being able to use ?cacheBuster=false in scenery/dot/kite is not really a problem for me, I'm going to unassign the issue.

[2015-03-11 04:35] samreid commented on #367
The new doc at the top of PixiBlock is:

[code]

Closing.

[2015-03-11 04:35] #367 closed

[2015-03-11 04:49] samreid commented on #291
ohtwo is master now, and more of the team is getting a chance to review.  I think this issue is good to close.

[2015-03-11 04:49] #291 closed

[2015-03-11 16:14] samreid opened #403 "Investigate WebGL Rendering with Pixi v3"
Pixi v3 was released recently, and it would be good to take it for a test drive and see how it compares to performance in pixi v2.

See related issue #350

@AshrafSharf &@samreid will be looking into this.

[2015-03-11 16:15] samreid commented on #403
On MacBook Air, Pixi is giving 60fps dragging a single puller in FAMB with ?screens=1 and sun in the opacity-1 branch (to avoid layer splits).

[2015-03-11 16:18] samreid commented on #403
Same test on iPad3/iOS8.1.2, gets about 30FPS.  Smoother than SVG which is running at about 15fps on ipad3 with the same test.

[2015-03-11 16:46] samreid commented on #403
We tried pixi v3 on iPad3, it required about 3 code changes to get it working.  Performance is still 30fps on iPad3 when dragging a figure.  This is the same after switching to a built version.

[2015-03-11 17:37] samreid commented on #403
So no immediate improvement for using Pixi v3 with our existing adapter strategy.  Pixi v3 required a few minor changes to our code.  @jonathanolson @AshrafSharf and @samreid agreed we should update to Pixi V3.  I'll do that shortly.

[2015-03-13 21:47] jonathanolson opened #404 "Add performance hint to keep invisible SVG content in the tree"
Working around this in https://github.com/phetsims/molecules-and-light/issues/98 by setting opacity: 0.99 (or 0), since it is adding/removing a drawable for gradients dynamically (slow on iPad 3).

Will want to remove the workaround when this is complete.

[2015-03-13 21:53] jonathanolson opened #405 "Improve Line computeShapeBounds()"
Since it's always stroked, it currently is very expensive to change. We should definitely be able to optimize the computation so we don't compute a stroked shape. For butt/square, it should be simple trig on all 4 points, and round should just dilate the bounds.

Noted for performance issues in MAL (https://github.com/phetsims/molecules-and-light/issues/98).

[2015-03-13 22:09] jonathanolson opened #406 "Hints for layer fitting"
There are certain cases where we want layers to not trigger bounds validation, and to either use pre-set bounds or take up the entire screen.

See https://github.com/phetsims/molecules-and-light/issues/98 for instance.

[2015-03-16 19:06] samreid opened #407 "AriaSpeech.js should probably be deleted"
If we are moving toward DOM elements + Aria SVG for accessibility, then AriaSpeech won't be necessary.

[2015-03-17 16:00] jonathanolson commented on #405
Also improving Path's computeShapeBounds for line segments may be helpful for situations like https://github.com/phetsims/molecules-and-light/issues/89.

[2015-03-17 16:08] jonathanolson opened #408 "Default to delaying selfBounds computation, and have dirty flag?"
Should help a lot with not computing self bounds if not necessary.

[2015-03-17 17:55] jonathanolson opened #409 "Numerical inaccuracies in setting centerX"
See https://github.com/phetsims/molecule-shapes-basics/issues/1 for information. Essentially setting centerX to the same value repeatedly can cause a Node to tiggle back-and-forth slightly. If we rely on bounds equality, this can cause issues.

[2015-03-17 19:40] jonathanolson opened #410 "Handle Path Stroke/Fill bounds consistently"
Right now bounds always include fill, and only include stroke if a stroke is present. The same should presumably be done for the fill, so paths with no fill/stroke will have empty bounds.

[2015-03-17 20:52] jonathanolson commented on #405
Checked molecules-and-light, and profiling shows it is now not at all a bottleneck (where it was a significant one before). Closing.

[2015-03-17 20:52] #405 closed

[2015-03-18 05:30] jonathanolson opened #411 "General clipping support in 0.2"
Broken right now for Canvas. Potentially use clip-path (see http://www.html5rocks.com/en/tutorials/masking/adobe/), but Canvas and SVG specific support would be good.

[2015-03-18 17:00] jonathanolson commented on #376
Questions answered, closing (reopen if more questions/concerns appear).

[2015-03-18 17:00] #376 closed

[2015-03-18 17:13] samreid commented on #365
I'm ok with `altText` but no plans to work on this at the moment.

[2015-03-19 19:02] #274 closed

[2015-03-20 20:18] jonathanolson opened #412 "SVG images disappearing in Safari"
See details in https://github.com/phetsims/molecules-and-light/issues/105 for how to reproduce (also Safari desktop after resizing window).

[2015-03-23 01:30] samreid commented on #111
This feature was requested by ETS for playback of pointers for research.  Would be great for me to get @jonathanolson help on the best way to store the pointer locations as a function of time.

[2015-03-25 19:53] samreid opened #413 "Question about WebGLNode example"
webglnode.html has this code:

[code]

Is this rotating the entire canvas, and just using WebGL to do a static (one time) draw?

[2015-03-25 20:17] jonathanolson commented on #413
No, it rotates the actual node's transform. We make that transform available to the shader here (technically the global transform, which may include other ancestor transforms):
[code]
and apply it here:
[code]

We just transform the output when we re-render.

Alternatively, if you put the cssTransform flag on the triangle, it would do what you were describing.

[2015-03-25 20:55] samreid commented on #413
Ah that is perfect, thanks!

[2015-03-25 20:55] #413 closed

[2015-03-27 15:43] samreid opened #414 "Input events still firing when sim.active=false"
I put sim.active=false and that prevents the clock from running, but scenery is still processing input events (I can click on things and they respond).

It looks like Input.js is still processing events directly when triggerImmediate is true.

[2015-03-30 16:57] samreid commented on #414
@jonathanolson recommended using a semitransparent overlay div that will intercept input events.

[2015-03-30 20:52] jonathanolson commented on #414
Scenery side should be accomplished with display.interactive.

[2015-03-31 03:48] samreid commented on #414
I'm using display.interactive above and it is working nicely, thanks @jonathanolson!  Closing.

[2015-03-31 03:48] #414 closed

[2015-03-31 16:12] jonathanolson opened #415 "branch: 0.1"
Left open for the first version of Scenery.

[2015-03-31 16:13] jonathanolson opened #416 "branch: harfbuzz-test"
Tests for using Emscripten-compiled harfbuzz/freetype for laying out text for accurate bounds. Could be used in the future.

[2015-03-31 20:48] pixelzoom opened #417 "branch: ocad-day-1"
Please describe. Probably related to https://github.com/phetsims/forces-and-motion-basics/issues/129.

[2015-03-31 20:48] pixelzoom opened #418 "branch: ocad-day-2"
Please describe. Probably related to https://github.com/phetsims/forces-and-motion-basics/issues/130.

[2015-03-31 20:50] pixelzoom opened #419 "branch: pixi.js"
Looks like this was created by @samreid. Please describe.

[2015-04-01 03:47] samreid commented on #418
@jonathanolson & I need to review the work done in both the ocad-2 branch, which pertains to accessibility using the canvas subdom.

[2015-04-01 04:53] samreid commented on #417
OCAD-day 1 was dedicated to using aria markup on SVG elements to power accessibility.  This seems like a good avenue to pursue but will require assistance from @jonathanolson

[2015-04-01 04:55] samreid commented on #419
I believe we already have superior pixi support in master.  But would be good for @jonathanolson to confirm what I am seeing here.

[2015-04-01 18:12] pixelzoom opened #420 "input examples on github.io are broken"
The quantum-bound-states team was asking about input event handling, and I was going to refer them to the example on github.io.  But the examples appear to be broken. Specifically:

http://phetsims.github.io/scenery/examples/multi-touch.html
http://phetsims.github.io/scenery/examples/devious-drag.html

On Mac 10.10.2 + Safari 8, I can't drag anything in these examples.

I have not tested other exa

[2015-04-02 00:41] jonathanolson commented on #420
Should they be removed for now? They were broken quite some time ago when we repurposed SimpleDragHandler for different types of usage.

[2015-04-02 16:03] pixelzoom commented on #420
Imo, yes. Broken examples are worse than no examples.

[2015-04-02 16:40] jonathanolson opened #421 "Repeating gradient support"
See https://github.com/phetsims/bending-light/issues/13. Presumably would be rendered in SVG/WebGL (or possibly DOM)? No Canvas support yet.

Probably done in combination with https://github.com/phetsims/scenery/issues/223 (we'll want the repeat to be mutable).

[2015-04-02 16:57] jonathanolson commented on #346
Given the work already done, here are my approximate estimates. A nested item means its parent is a prerequisite for the work, and the top-level order is approximately the order I'd like to take for implementation. First priority is basic support + images, then paths. Text and other features would be delayed, as they are more expensive. Everything listed being done would be the "full simulation in

[2015-04-02 19:37] jonathanolson commented on #410
Investigate how many places would break with this, since:
[code]

Reverting changes for now, low priority.

[2015-04-03 23:01] jonathanolson commented on #404
Waiting to close until I take care of performance testing.

[2015-04-03 23:23] jonathanolson commented on #293
Brain dump for https://github.com/phetsims/scenery/issues/293, which also includes notes relevant to https://github.com/phetsims/scenery/issues/158, and https://github.com/phetsims/scenery/issues/396.

Opacity: CSS opacity available on all platforms, so we can fall back to applying it on backbones. This is necessary for any two or more blocks that contain instances under the same opacity unless th

[2015-04-09 17:46] jonathanolson opened #422 "[WebGL] Provide SpriteSheet visual debugging output"

[2015-04-09 18:36] samreid opened #423 "[accessibility] Focus rectangle not shown in Safari"
When using ARIA + SVG, no focus rectangle is shown in safari or iBooks (for epub)

[2015-04-09 18:36] samreid commented on #423
Jon Hung said:

Hi Sam,

I did some digging this morning and discovered that you can have a focus outline appear if you style the puller's <image> element instead of its <g> element.

For example instead of this:

#pullerID:focus {
outline: 1em solid #000;
}

Do this instead:

#pullerID:focus {
outline: none;
}

#pullerID:focus image {
outline: 1em solid #000;
}

This fix should work regardless of

[2015-04-09 18:37] samreid commented on #423
I don't have plans to investigate this at the moment, but I don't want to leave Jon H hanging, since we wants to integrate this into ebooks.  @emily-phet & @ariel-phet can you help us prioritize?

[2015-04-09 18:51] jonathanolson commented on #421
Use createPattern with repeats for Canvas (see http://www.w3.org/TR/2dcontext/#dom-context-2d-createpattern)

[2015-04-09 18:57] samreid commented on #423
I investigated this for RadioButton.js.  Is this what you are thinking of @pixelzoom?  What do you think is a good way to test this?

[code]

[2015-04-09 19:04] jonathanolson commented on #223
Postponed until needed.

[2015-04-13 04:13] emily-phet commented on #423
@ariel-phet: can we talk about this Monday, perhaps before the design meeting with Emily Randall?

[2015-04-13 05:33] samreid commented on #423
The comment preceding @emily-phet's comment (https://github.com/phetsims/scenery/issues/423#issuecomment-91327604) is in the wrong place.  Please disregard for this issue and I'll try to find out where it belongs soon.

[2015-04-13 17:32] samreid opened #424 "Node inherits from Object, but its super call is to Events"
Node inherits from Object, but its super call is to Events

[code]

Is this correct?  Is it some sort of mixin?

[2015-04-13 21:56] jonathanolson commented on #424
As noted on call, it's basically mixing it in to mimic multiple inheritance.

[2015-04-13 23:28] samreid commented on #424
Thanks!

[2015-04-13 23:28] #424 closed

[2015-04-15 18:05] samreid commented on #423
The preceding misplaced comment above looks like it belong in https://github.com/phetsims/sun/issues/170 (and has a copy there)

[2015-04-16 20:03] samreid opened #425 "Node should compose Events instead of mixing it in"
At April 16 developer meeting, we agreed that Node should compose Events instead of mixing it in, because it is too broad of an interface for every Node.  Node.addEventListener can forward to Node.events.on (instead of Node.on)

[2015-04-21 17:11] pixelzoom opened #426 "licensing issues with polyfillRequestAnimationFrame"
scenery.Util.polyfillRequestAnimationFrame is documented as:

[code]

This should either be moved to sherpa or deleted if no longer needed.  @jonathanolson will investigate.

[2015-04-23 16:26] jonathanolson commented on #426
Ideally we'll still want to replace it with a mostly IE9-specific implementation.

[2015-04-23 22:19] samreid opened #427 "When a page is translated by google, the text comes up blank."
When Chrome detects a different language in a webpage, it offers to auto translate it.

I noticed this in a recently published French Molecules and Light:
https://phet-dev.colorado.edu/sims/html/molecules-and-light/latest/molecules-and-light_fr.html

![image](https://cloud.githubusercontent.com/assets/679486/7308741/330c4ebe-e9d4-11e4-99a2-037007e23e88.png)

But when I pressed translate, all the t

[2015-04-24 05:40] jonathanolson commented on #427
For our sims, we may want to consider adding a meta tag if we can't get things to work: http://stackoverflow.com/questions/2980520/how-to-specify-your-webpages-language-so-google-chrome-doesnt-offer-to-transla

I haven't been able to see notes about how exactly the translation replacement works, so I'm not sure how to get it to work nicely.

[2015-04-24 14:51] samreid commented on #427
I'm wondering how Chrome auto-translate will interoperate with WebGL and/or accessibility.

[2015-04-24 14:53] jonathanolson commented on #427
Unless we explicitly have code to detect new strings, things would be buggy.

[2015-04-30 16:59] jonathanolson commented on #120
Now that we're getting WebGL, I'd prefer to have the fast animations in WebGL rather than handling with CSS animations (which would need a completely new API). Thoughts?

[2015-04-30 17:07] samreid commented on #120
Yes, let's avoid css animations.  Close if you wish.

[2015-05-09 18:37] samreid commented on #325
Yes, I think by default WebGL renders both sides of a triangle and some performance optimization is possible if you disable back faces and make sure all triangles are forward facing.  No plans to work on this now, so unassigning.

[2015-05-09 18:37] samreid commented on #324
@jonathanolson has taken the lead on developing WebGL support for scenery, so I'm not sure this standalone module is still necessary.  Up to @jonathanolson I think.

[2015-05-09 18:39] samreid commented on #283
We've been using the same PhetStyle.xml for a while now and it has made things much smoother.  Closing.

[2015-05-09 18:39] #283 closed

[2015-05-10 01:02] jonathanolson commented on #325
I'll note that it's likely that it's helpful in 3D (since you won't be processing triangles that aren't displayed), but before working on this, I'd like to find/see a source stating that it helps 2D performance where every triangle is basically forward-facing.

[2015-05-10 04:59] samreid commented on #325
In my opinion, there are several other optimization strategies that have a higher probability of paying off and warrant earlier investigation than this one, but I wanted to mention this idea after I came across it when reading *Professional WebGL Programming: Developing 3D Graphics for the Web*.  I can't find my copy at the moment (perhaps it is on campus?), but it had a section that discussed bac

[2015-05-12 04:24] #120 closed

[2015-05-14 00:13] samreid commented on #329
There is a great discussion of proposed scenery accessibility implementation details in this comment:
https://github.com/phetsims/tasks/issues/234#issuecomment-101124730

[2015-05-15 20:24] samreid commented on #391
In https://github.com/phetsims/tasks/issues/234#issuecomment-101124730 we discussed a superior approach to accessibility that does not use aria on SVG elements.  Closing.

[2015-05-15 20:24] #391 closed

[2015-05-21 18:07] jonathanolson opened #428 "maxWidth/maxHeight implementation"
Auto-resizing, as discussed during the meeting. Always maintain aspect ratio for now.

Use maxDimension, with convenience maxWidth/maxHeight. Check for rescaling on any max* changes or any localBounds changes internally.

[2015-05-21 18:43] jonathanolson opened #429 "Investigate RTL/LTR text rendering across SVG/Canvas/DOM text"
How do we need to pass direction flags?

[2015-05-21 18:45] pixelzoom commented on #429
Sound like this should be handled by the browser:
http://www.w3.org/International/articles/inline-bidi-markup/uba-basics
http://unicode.org/reports/tr9/

[2015-05-21 19:00] pixelzoom commented on #429
Related issue: https://github.com/phetsims/joist/issues/152

[2015-05-21 19:00] pixelzoom commented on #429
Related (duplicate?) issue: https://github.com/phetsims/joist/issues/152

[2015-05-21 19:03] jonathanolson opened #430 "Determine Scenery 0.2/0.1 detection method and fill out spreadsheet"
see https://docs.google.com/spreadsheets/d/1eBcV1O5o7IyB5Nh_z5iP_0w5tGP1ZVB4uZmBVnIf3q8/edit#gid=1627417351

[2015-05-22 21:22] jonathanolson commented on #428
For resizing the Node back up, it's a bit tricky. Do we stop at scale: 1? What if the Node was initialized with { scale: 2 }?

Do we try to record how much of a downscaling we have applied to fit within the maximum dimensions? That fails if the client messes with the scale or depends on reading the scale (since we are planning on changing the transform to make it fit).

Due to these issues, do we

[2015-05-22 21:24] jonathanolson commented on #375
From 30 minutes of testing yesterday and 20 minutes today, I haven't been able to reproduce with fuzzing. Will wait a while more.

[2015-05-22 22:15] jonathanolson commented on #375
Ok, 2 hours total of fuzzing with no reproduction. Closing.

[2015-05-22 22:15] #375 closed

[2015-05-23 03:09] jonathanolson commented on #430
Completed the spreadsheet for this with the following detection code:
[code]

[2015-05-23 03:09] #430 closed

[2015-05-23 03:22] jonathanolson commented on #429
Using bidi marks looks preferable here, closing (it's mostly a duplicate).

[2015-05-23 03:22] #429 closed

[2015-05-23 04:50] jonathanolson commented on #275
Unable to reproduce the cursor issue on Chrome 45 (Win 7), anyone else (@pixelzoom, @samreid, @jbphet, @aaronsamuel137) noticed this in sims recently?

[2015-05-23 21:11] aaronsamuel137 commented on #275
I can't seem to reproduce it either. I remember a slight stutter in color-vision when the cursor changed and the photon view was present. Doesn't seem to happen anymore.

[2015-05-24 01:39] pixelzoom commented on #275
I have never seen this issue.

[2015-05-26 16:33] jonathanolson commented on #428
For each dimension, it will attempt to scale up to 1, or lower depending on the maximum. Note to deal with asymmetric scale and shear properly.

[2015-05-26 16:42] jonathanolson commented on #275
Can't reproduce on other platforms. Closing for now.

[2015-05-26 16:42] #275 closed

[2015-05-26 16:44] pixelzoom opened #431 "rendering quality of title changes in navbar when switching screens (scenery 0.2)"
See for example https://github.com/phetsims/beers-law-lab/issues/83.
But this appears to be an issue with all sims.
Observed on Mac OS 10.9.5 with Chrome 40 and Safari 7.1.2.

[2015-05-26 16:51] pixelzoom commented on #431
This is a general issue with HSlider, tracked in https://github.com/phetsims/sun/issues/155

[2015-05-26 16:52] pixelzoom commented on #431
Whoops, closed the wrong issue. Reopening.

[2015-05-26 21:21] samreid commented on #428
Will it maintain aspect ratio?

[2015-05-26 21:22] samreid commented on #428
Based on the issues above, it seems like maxWidth/maxHeight is going to be an important strategy for handling i18n strings.  Can someone elaborate how this is intended to be used?  Is there an example somewhere?

[2015-05-26 21:29] pixelzoom commented on #428
Yes, it is intended to be *the* way of constraining the width of strings.

Example:

[code]

... where the value of `maxWidth ` is determined either emphatically or based on other layout constraints.

Formerly, we had to do something like this:

[code]

[2015-05-26 21:31] pixelzoom commented on #428
Yes, the plan is to maintain aspect ratio.

[2015-05-27 00:51] samreid commented on #350
No plans to resume this investigation at the moment.  If/when we do, @jonathanolson should be more heavily involved.

[2015-05-28 06:27] jonathanolson commented on #428
For maxWidth/maxHeight, there are essentially two different ways of handling it. We can either modify the node's transform so that its parent bounds fit the maximum dimensions, or we can apply a persistent scaling factor so that the local bounds of the node would be scaled to fit in the maximum dimensions.

## First (parent coordinate frame) approach

The first was described over the tuesday devel

[2015-05-28 08:57] jonathanolson commented on #431
Is there a preference between bolder or not, in case I can get a hacky workaround to force the text rendering to be consistent?

[2015-05-28 15:24] pixelzoom commented on #431
That's a question for the designers.  I don't think that bold is particularly effective for text that small.

[2015-05-28 16:35] jonathanolson commented on #431
It looks like the "bolder" text is when Safari/Chrome renders text with subpixel antialiasing. The way we have the Canvas setup currently seems to be triggering Safari/Chrome to render the text without subpixel antialiasing.

Setting CSS fontSmoothing: 'antialiased' makes it consistent, with no switching of quality.

[2015-05-28 16:36] jonathanolson commented on #431
For reference, 'subpixel-antialiased' is the option to prefer the subpixel antialiasing, however it seems to be inconsistently applied to text. We may have to force hardware acceleration anyways on things, so 'antialiased' sounds like the safest route for now.

[2015-05-28 16:38] jonathanolson commented on #431
Assigning to @pixelzoom for verification.

[2015-05-28 18:32] pixelzoom commented on #428
5/28/15 dev meeting consensus:
Make maxWidth and maxHeight be pre-transform (translation, scale, rotation,...), document accordingly.

[2015-05-28 20:33] jonathanolson commented on #428
One thing to note is that after maxWidth (for example) has been set, increasing the size of the rectangle (as done above) will actually not immediately cause a change in the transform. It will invalidate the bounds, and the next time bounds are validated (which is where localBounds is computed) it will be transformed if necessary.

Note that this will happen at least once before rendering (Scenery

[2015-05-28 21:39] jonathanolson commented on #428
Will rename usages of maxWidth/maxHeight in:
acid-base-solutions
area-builder
build-a-molecule

[2015-05-28 21:51] pixelzoom commented on #428
I'm not sure that's such a good idea. It's a fairly common to put "max" or "min" in front of some property, so this is likely to occur again.  Assuming that they are not used as options that are passed to subtypes of Node, I would just leave them as is.  If it's really a problem, I think it would be more appropriate to change the scenery option names. But I don't have suggestions for better names.

[2015-05-28 22:05] jonathanolson commented on #428
limitWidth, widthLimit, maxLocalWidth?

Although things like top, bottom, bounds, visible, matrix, center, width and height are all Scenery terms that your argument applies to, but that we are used to using. I still prefer renaming sim usages and keeping maxWidth.

[2015-05-28 23:24] jbphet commented on #428
As the primary author for area-builder, I'm fine with renaming maxWidth in that sim.  I never would have used that name if Scenery nodes had such a property when this sim was implemented.  The name 'widthLimit' sounds best to me, but it's not a strongly held opinion.

[2015-05-29 03:21] jonathanolson commented on #428
Didn't see any consensus, so I've put the version as written (maxWidth/maxHeight) into the max-dimension branch, and we can rename or merge to master as decided later.

[2015-05-29 03:26] jonathanolson commented on #428
For reference, the ABS change is changing:
[code]
on ConcentrationGraphBarNode.js to:
[code]
and changing the one usage, and removing or renaming the unused property on FeedbackWindow.js:
[code]

Most usage of ".maxWidth" is not used on object instances of Node, and is mostly in the model.

[2015-05-29 04:24] jonathanolson opened #432 "branch: max-dimension"
Created for https://github.com/phetsims/scenery/issues/428 until we standardize on names.

[2015-05-29 16:35] pixelzoom commented on #428
Those sim changes would be fine.  I'm just saying that I think it's inevitable that some future sim will creates a local variable named maxWidth. And I don't think that's a problem - the semantics are generally similar.   And in general, I don't think that variable names should be reserved for use by scenery. For example, I use x,y,left,right,top,bottom throughout the model in hookes-law, and I wo

[2015-05-29 16:37] pixelzoom commented on #428
Those sim changes would be fine - but imo completely unnecessary.  I'm just saying that I think it's inevitable that some future sim will creates a local variable named maxWidth. And I don't think that's a problem - the semantics are generally similar.   And in general, I don't think that variable names should be reserved for use by scenery. For example, I use x,y,left,right,top,bottom throughout

[2015-05-29 16:45] jonathanolson commented on #428
Sorry, by "rename usages", I meant "rename properties maxWidth/maxHeight that are set on Nodes, i.e. usages that cause conflicts". Was not recommending changes to local variables, etc.

[2015-05-29 19:41] jonathanolson commented on #428
Done (merged to master). Leaving open until we get some unit test coverage to test all of the cases (did so by hand in playground, but better to have unit tests).

[2015-05-29 20:14] pixelzoom commented on #431
Verified, closing.

[2015-05-29 20:14] #431 closed

[2015-06-08 17:26] jbphet opened #433 "Should we have a flag for no bounds computation?"
There are several places in the code where the computeShapeBounds method of Path is overridden in order to reduce the time that it takes to repaint a node.  I just advised @dubson to use the same trick in trig-lab.  This approach seems a little roundabout for something that is done fairly often.  Should there just be a flag to turn off bounds computation?

[2015-06-08 19:37] jbphet opened #434 "Sims crash Safari in iOS7"
I'm completely guessing that this is a Scenery issue, so feel free to move if it turns out to be something else.  Currently, RequireJS versions of many, if not all, simulations crash Safari on iOS 7.0.4.  I first found this while testing States of Matter, but all other sims that I tested also have this issue.  I tried tethering the iPad, but no message is printed before the crash.  I then tried ad

[2015-06-09 09:43] jonathanolson commented on #434
Any problems with built versions? Require.js versions load so many files I don't usually use them on iOS.

[2015-06-09 18:15] jbphet commented on #434
Built versions cause crashes too.  I just ran and experiment where I tested the first three sims when looking at them in alphabetical order: acid-base-solutions, area-builder, and arithmetic.  I tested both the RequireJS versions and freshly built versions.  All cause Safari to crash on an iPad 2, version iOS 7.0.4.  Since acid-base-solutions and area-builder are both published sims, I tested the

[2015-06-09 19:35] pixelzoom commented on #304
Required to complete https://github.com/phetsims/sherpa/issues/22, which has been escalated to high priority.

[2015-06-10 14:48] jonathanolson commented on #304
Looks like since https://github.com/phetsims/sherpa/issues/22 was closed to make this the main issue, I'll make the changes in sherpa after removing the dependency in scenery.

[2015-06-10 17:51] pixelzoom opened #435 "move reveal to sherpa"
sherpa/info.json has an entry for "reveal-3.1.0", but there is no corresponding lib in sherpa/lib/.

Skype conversation with @jonathanolson:

[6/10/15, 11:32:13 AM] Chris Malley: I see entries in info.json for "pegjs-0.7.0" and "reveal-3.1.0", but no corresponding libs in sherpa/lib. Are we missing lib files?
[6/10/15, 11:33:51 AM] Jonathan Olson: reveal was checked out from github as an adjacent

[2015-06-10 19:46] jonathanolson commented on #435
Reveal only used in phetsims/tech-slides and jonathanolson/slides-scenery, decided to remove from list since it's nothing that is actively used.

[2015-06-10 19:46] #435 closed

[2015-06-10 19:47] jonathanolson commented on #304
All dependencies and references to has.js have been removed.

[2015-06-10 19:47] #304 closed

[2015-06-10 20:30] jonathanolson commented on #428
Added unit test, closing.

[2015-06-10 20:30] #428 closed

[2015-06-10 21:00] jonathanolson commented on #426
Already had some code to prefix things easily, so I did a quick clean-room polyfill (most sims will probably still work on IE9, and I didn't just want to break that).

If it's missing, it tries to look for and replace it with a prefixed version. If that's missing, it does a setTimeout for 16ms (~60fps) and reports the elapsed time since the last requestAnimationFrame.

Assigning for verification/r

[2015-06-11 21:09] jonathanolson commented on #411
Canvas/SVG handling of clipping is working, but DOM won't clip right now for arbitrary shapes. Looks like it may not be possible in IE at the moment, will require more investigation.

[2015-06-11 22:58] jbphet commented on #434
@jonathanolson and I just did a bunch of bisecting of commits, and it appears that this commit is the one the introduced the issue (Made at 2:10 AM on May 16 2015): https://github.com/phetsims/scenery/commit/a5052477155022e84b13f553d06f700e56d1f498.

[2015-06-12 15:52] jonathanolson opened #436 "Spacers and struts"
Creation of Leaf (instead of LeafNode, used as a mix-in for potential future non-inheritance use), Spacer, and an improved VStrut/HStrut (from Sun).

[2015-06-12 17:19] pixelzoom commented on #436
I see this comment for HStrut, and something similar for VStrut:

Does this imply that centerX and centerY can't be used for HStrut and VStrut respectively?  If so, that would see to be an inconvenience and potential source of programming error.

[2015-06-12 17:20] pixelzoom commented on #436
Is the plan to deprecate and replace the sun struts?

[2015-06-12 17:30] jonathanolson commented on #436
Don't see why it wouldn't work:
[code]

[2015-06-12 17:30] jonathanolson commented on #436
Yes.

[2015-06-12 17:34] pixelzoom commented on #436
Let me be more specific. The doc says:

That seems to imply other translation-related options (centerX, centerY, top, bottom, left, right,...) will not work.  Recommended to change the doc.

[2015-06-12 17:37] pixelzoom commented on #436
Let me be more specific. The doc says:

Use x/y in options to control its position.
That seems to imply that other translation-related options (centerX, centerY, top, bottom, left, right,...) will not work. If all options work, why mention x/y at all? Recommended to change the doc.

[2015-06-12 17:38] pixelzoom commented on #436
https://github.com/phetsims/scenery/commit/ce0b7ef6282dc36336c8be452832cb88a85722e0 looks good, thanks.

[2015-06-12 19:46] jonathanolson commented on #436
Commits made, closing.

[2015-06-12 19:46] #436 closed

[2015-06-12 20:14] jbphet commented on #434
I've now done a bunch of testing to try to determine the exact line of code that is causing the crash, and I'm getting way into "Heisenbug" territory.  The point in the code at which Safari crashes varies based on where I put my debugger or alert statements, how fast I respond to alert dialogs, and some other factors that I haven't quite worked out yet.  I'm using the current master version of Bal

[2015-06-12 20:27] jbphet commented on #434
There are a number of discussions on line about mobile Safari crashing due to memory usage.  Here's a link to one: https://discussions.apple.com/thread/2460899?start=0&tstart=0.

[2015-06-12 20:37] jonathanolson commented on #434
For Balloons, Safari may be creating an in-memory copy of the image for each particle. There's a potential way I can cause it not to do that, but I'd have to do some checking (if that seems like a memory issue).

[2015-06-12 20:40] jbphet commented on #434
Due to the suspicions that this issue could be related to memory usage, I loaded a built version of the current master for Balloons and Static Electricity and the currently published version and compared their memory usage using Chrome's task manager.  It looks like the current master version uses *over twice the amount of memory* as does the published version (141,908K vs 66,344K).  Screenshot be

[2015-06-12 21:13] jbphet commented on #434
I went ahead with the experiment proposed in the previous comment where Balloons and Static Electricity was built before and after the "commit in question" (https://github.com/phetsims/scenery/commit/a5052477155022e84b13f553d06f700e56d1f498) that was seen to introduce the crash issue for other sims (Area Builder was actually the test case).  I verified that the version before the commit runs fine

[2015-06-12 21:41] jbphet commented on #434
I'm seeing a somewhat similar change for Area Builder before and after the "commit in question" - memory usage increased by 78% on Chrome, and the before version runs on iOS7 and the after version crashes.

Screenshot of memory usage (on Chrome):

![area-builder-mem-compare](https://cloud.githubusercontent.com/assets/3082831/8140510/638583b4-1119-11e5-911b-2887ec8cf45d.png)

[2015-06-12 21:46] jbphet commented on #434
I'm done investigating this for a while, @jonathanolson can take it from here and figure out if we can and should reduce memory usage in Scenery.  In a recent developer meeting we discussed ending support for iOS7 when iOS9 comes out, so it's possible that this doesn't need to be fixed, but @ariel-phet felt that we should get to the root of the issue anyway, and I think we're close.  This investig

[2015-06-12 22:49] jbphet commented on #434
Script for checking out a set of repos from before a given date and time, useful for identifying when an issue was introduced:

[code]

[2015-06-15 17:40] pixelzoom commented on #426
I'm not really familiar with how this polyfill was being used, so can't comment on the correctness or potential problems.  But the issue of using 3rd-party code has been resolved, so closing.

[2015-06-15 17:40] #426 closed

[2015-06-15 21:19] jonathanolson opened #437 "Use feature detection for pixel-comparison tests"
https://github.com/phetsims/phet-core/issues/20 and https://github.com/phetsims/tasks/issues/98 is causing issues, and we really should see if we can use feature detection rather than browser detection to properly handle the unit tests here.

[2015-06-16 21:53] jonathanolson commented on #434
iPad 2 with AppleWebKit/537.51.1, Version/7.0 Safari/9537.53 (iOS 7.0.4) is used for reproduction.

[2015-06-16 22:11] jbphet commented on #434
@jonathanolson and I were just looking at this, and it appears that memory usage is probably a red herring.  Apparently, tabs hang on to their memory as new pages are opened up, possibly as a way to quickly reload pages if the back button is pressed, so the way to do a legitimate comparison is to open up a single, isolated, new tab each time the sim is loaded and look at its memory.  We just did t

[2015-06-16 22:56] jonathanolson commented on #434
Can't reproduce on iPad 2 with AppleWebKit/537.51.2 Version/7.0 Safari/9537.53  (iOS 7.1).

[2015-06-17 00:12] jonathanolson commented on #434
Also couldn't reproduce with Safari 7.0.6 (9537.78.2) and Safari 7.1.6 (9537.85.15.3) on desktop, and iPad iOS 8.3 with Safari 8.0 (600.1.4).

[2015-06-17 00:14] jonathanolson commented on #434
Noting here that it may have been a problem with 537.51.1 and fixed in 537.51.2, the iOS change from 7.0.4 to 7.1, or could have been more device-specific. I'll check online to see if there are any specific bug reports for this problem given the exact version that may be required.

[2015-06-17 00:23] jonathanolson commented on #434
I see many reports if iOS 7.0.4 crashing all over (https://discussions.apple.com/thread/5710542?tstart=0 is an example), so it seems likely that we're running across at least one of the causes for those crashes.

The PhET device "Lave" (iPad 2 with iOS 7.1) should be used to determine why it doesn't crash and the other iPad 2 (iOS 7.0.4) does, if we want to continue to investigate.

However, I'd r

[2015-06-17 16:33] ariel-phet commented on #434
I will have @jbphet update his iPad to 7.1+ and close this issue, thanks for investigating!

[2015-06-17 16:33] #434 closed

[2015-06-17 19:30] samreid commented on #407
Perhaps we should decide on this before 2015 redeploy.  I'll tag this issue and add it to our discussion agenda for tomorrow's meeting.

[2015-06-18 19:25] samreid commented on #407
We decided to delete this before summer redeploy.

[2015-06-25 15:05] pixelzoom opened #438 "replace toFixed with dot.Util.toFixed?"
Scenery uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Should we be using dot.Util.toFixed instead?

[2015-06-25 16:44] jonathanolson commented on #438
Same reasoning as https://github.com/phetsims/kite/issues/50. Considering utility function for handling this in one place, instead of copying 20 digits everywhere (hard to search for), but can't decide on repo. WIll add to agenda.

[2015-06-25 18:18] samreid commented on #407
Today, we decided to leave this in for summer redeploy so it is not a blocking issue, but still address it at a reasonably high priority.

[2015-06-25 18:25] samreid commented on #407
I removed all references to AriaSpeech.js and its implementation.  Tested building and launching hooke's law and everything seems OK.  Tested FAMB?accessibiity and seems like it is working OK.  Will commit shortly.

[2015-06-25 18:30] samreid commented on #407
I've removed AriaSpeech for now, we may need something like it in the future when we work on Scenery accessibility.

[2015-06-25 18:30] #407 closed

[2015-06-26 23:23] pixelzoom opened #439 "Firefox errors on startup: Error in parsing value for 'left'/'right'"
I'm creating this issue in scenery repo only because I don't have a clue where it's coming from.

When I run any sims in Firefox 38.0.5 on Mac (either requirejs or a build), I see the errors shown in the screenshot below. (In this case the sim is build-an-atom.) The sim seems to work after this, but I'm not certain whether it's a problem.

@jonathanolson any idea?

![screenshot_542](https://cloud.

[2015-06-29 20:26] pixelzoom opened #440 "assertion failure in PointerAreaOverlay"
Happens with any sim, but for example:

http://localhost/~cmalley/Github/hookes-law/hookes-law_en.html?ea&showPointerAreas

Chrome console output:

![screenshot_544](https://cloud.githubusercontent.com/assets/3046552/8417576/ba074fc0-1e6a-11e5-9935-fa084ab11419.png)

[2015-06-30 15:41] jonathanolson commented on #440
Should be fixed in the above commit, can you test?

[2015-06-30 15:59] jonathanolson commented on #439
Unable to reproduce on the MacBook Air (10.9.5) with Firefox 38.0.5, FF's troubleshooting info is below. Can you post your info, or click through to the link (to view the code location it happened in) in the debug tools, and potentially see if there is a beautify option? I suspect it's probably a third-party library, but I'm not sure.

[code]

[2015-06-30 19:55] pixelzoom commented on #440
Verified that this is fixed. Closing.

[2015-06-30 19:55] #440 closed

[2015-06-30 20:20] pixelzoom commented on #439
Do you have CSS errors enabled in your console output?  It's a CSS error.

What is "your info"? If it's the stuff you posted, how do I get this?

There are no links in the console that take me to any code.  Clicking on the URL link (far right of the console output screenshot) opens an empty Style Editor window.

[2015-06-30 21:15] jonathanolson commented on #439
Yes, but I enabled warnings too. It's not an error, it's a warning.

Hamburger menu in upper right => Small question mark in bottom of menu => "Troubleshooting Information".

A bit tricky, and it looks like they have removed "About Firefox" in the version I'm running.

Don't worry about doing that, since I can reproduce.

Might see if I can get a breakpoint on CSS warning, or if I can debug it als

[2015-06-30 21:24] jonathanolson commented on #439
Should be fixed, feel free to verify.

[2015-06-30 21:36] pixelzoom commented on #439
Warning gone. Thanks. Closing.

[2015-06-30 21:36] #439 closed

[2015-07-02 16:04] #438 closed

[2015-07-02 21:38] jonathanolson opened #441 "branch: opacity-collapse"
Changes for https://github.com/phetsims/scenery/issues/293 (don't backbone everything with opacity), and potentially some for Canvas caching.

[2015-07-02 21:41] jonathanolson commented on #293
We won't override how the renderer selection system works at all, but will instead detect if everything WILL render in SVG/Canvas (by switching the renderer summary to note things both for "can EVERYTHING be rendered with SVG" and "can SOMETHING be rendered with SVG".

This is necessary, since if Canvas is preferred to SVG (in the preferred renderers), we will only render everything as SVG if ther

[2015-07-07 03:23] jonathanolson commented on #433
This has been an issue now in many sims. My current thought is to have two flags:
1. A Path flag that will use bounds = unstrokedBounds.dilated( ( lineWidth / 2 ) * ( 1 + possibleExtraSafetyFactor ) ). Safety factor potentially needed since mitered joints can extend beyond half the linewidth out from the Shape.
2. A Shape flag that would indicate that bounds should not be computed for it (and Path

[2015-07-07 13:54] pixelzoom commented on #433
Sounds great. Can you experiment in the context of https://github.com/phetsims/hookes-law/issues/3?  And when might this feature be available?

[2015-07-07 17:28] jonathanolson commented on #433
[code]

[2015-07-07 19:41] pixelzoom opened #442 "HStrut layout is buggy"
In https://github.com/phetsims/reactants-products-and-leftovers/issues/36, I determined that a layout bug was introduced when sun.HStrut was replaced by scenery.HStrut.  The layout behavior is different in this example:

[code]

[2015-07-07 19:42] pixelzoom commented on #442
Fixed, assigning to @jonathanolson to review because I'm not absolutely certain that this won't break something else.

[2015-07-08 00:10] jonathanolson commented on #442
Change looks good, and should match original behavior better. Thanks!

[2015-07-08 00:10] #442 closed

[2015-07-10 16:13] samreid opened #443 "Move 3rd party libraries to sherpa"
I noticed html5-shiv, jquery, lodash and modernizr all checked in to scenery/tests/troubleshooting.  We should delete/move these and use the sherpa ones.

[2015-07-10 16:54] jonathanolson commented on #443
Or move it to the website, since it's main purpose is to be the end-point for report-a-problem?

[2015-07-10 16:56] samreid commented on #443
That makes sense to me.

[2015-07-10 21:20] pixelzoom opened #444 "scenery fails lint"
Scenery is failing lint:

[code]

[2015-07-10 21:21] pixelzoom commented on #444
Deleted applyTransparencyWithSVG. Assigning to @jonathanolson to verify.

[2015-07-10 22:50] jonathanolson commented on #444
Thanks, sorry about that! I'll verify that my unit tests are going to pick up that type of lint issue, since I swear I linted (via unit tests) this before a check-in.

[2015-07-10 22:50] #444 closed

[2015-07-13 16:02] samreid commented on #433
@jonathanolson will you be able to finish this soon so that @pixelzoom can work on it early this week?  I'm not sure of the status.

[2015-07-13 18:45] pixelzoom opened #445 "index out of range in LayoutBox"
Noticed while working on phetsims/joist#275.

In updateLayout:

[code]

When `i === this._children.length-1`, `this._children[ i + 1 ]` is undefined. So I'm not sure how this is even working. This assertion will fail if put in the loop:

`assert && assert( this._children[ i + 1 ], 'index out of range' );`

[2015-07-13 18:46] pixelzoom commented on #445
This is working only because the default `this.options.spacing` is by default a function that ignores its arguments and returns a constant.  I.e.:

[code]

If any client were to use the arguments as documented, it would fail.

[2015-07-13 18:48] pixelzoom commented on #445
I resolved this issue via documentation and adding unused parameters to the options.spacing function signature.  Assigning to @samreid to review.

[2015-07-13 18:59] pixelzoom opened #446 "add spacing mutability to LayoutBox"
Required for https://github.com/phetsims/joist/issues/275 (make spacing mutable in HighlightNode), which is required for https://github.com/phetsims/joist/issues/241 (i18n layout issue with navigation bar).

[2015-07-13 20:43] pixelzoom commented on #446
Done with this. Assigning to @jonathanolson for review.

[2015-07-13 23:53] ariel-phet opened #447 "touchSnag doesn't work when a pointer is already down during reset"
@phet-steele reported the following while testing charges and fields

2. Never let up on Finger A.
3. With Finger B, drag out another object from its bin.
4. Place this new object in the play area, and notice while moving Finger A over this new object, it does not get picked up.

This is not a high priority, but good to keep in our working list of known issues

[2015-07-14 00:54] samreid commented on #445
This looks like a step in the right direction.  What do you think about going further and skipping computation of the deltaY after the final node?  If you think that is a good plan, I am happy to take care of it.

[2015-07-14 04:17] jonathanolson commented on #446
Breaks a fairly common pattern:
[code]

and the code to convert a number => function is duplicated:
[code]

To solve the first issue, storing 'spacing' and 'spacingFunction' internally would work well ('spacing' being what the user passed in ({number|Function}), 'spacingFunction" being {Function}).

To solve the second issue, I'd recommend the constructor call setSpacing explicitly.

In most other

[2015-07-14 04:30] jonathanolson commented on #433
The Path bounds flags and Kite changes were completed above. Was implementing changes to https://github.com/phetsims/scenery/issues/293 to continue the performance review for hookes-law (https://github.com/phetsims/hookes-law/issues/3) since there were TONS of layers due to that.

Testing last week indicated the bounds flag changes helped significantly speed it up.

[2015-07-14 04:46] jonathanolson commented on #293
Completed.

[2015-07-14 15:33] pixelzoom commented on #446
Thoughts:

• I agree that having `spacing` be a function breaks a common pattern, and I don't particularly like it. I haven't checked to see if it's used, but I suspect that @samreid is probably using it since he created it. And I'm not going to address it as part of this feature addition.

• I'll address the duplicated code that converts a number to a function. But again, not wild about the featu

[2015-07-14 15:43] pixelzoom opened #448 "design and implementation issues with LayoutBox"
General issues that were noted buy @jonathanolson and @pixelzoom when adding a feature to LayoutBox (https://github.com/phetsims/scenery/issues/446):

(1) Having `spacing` be a function breaks with the semantics of "spacing" used elsewhere. And it results in confusing situations like this:

[code]

Consider storing 'spacing' as a {number}, and creating an addition {function} spacingFunction as a c

[2015-07-14 15:44] pixelzoom commented on #446
Pre-existing issues with LayoutBox are being tracked in https://github.com/phetsims/scenery/issues/448.

This issue will move forward with issues related to this feature request.

[2015-07-14 15:50] pixelzoom commented on #445
Do you mean adding this guard?

[code]

If so, then the doc should be amended.

[2015-07-14 16:01] jonathanolson commented on #446
Definitely understand, asked for "Thoughts?" at the end to imply you weren't on the hook for the changes!

Looks like the remaining issues are in #448, closing here.

[2015-07-14 16:05] pixelzoom commented on #448
I'm going to replace `this.options` with instance properties for the 3 options that are needed by prototype functions. Needed (unfortunately) to properly wrap up #446.

[2015-07-14 16:22] pixelzoom commented on #446
Reopening because I plan to address the review comments related to this feature.

[2015-07-14 17:46] jonathanolson commented on #433
Since this was the main reason for bounds flags (we haven't had a need to do this in other self-node cases, and localBounds can be used for subtrees), I'm closing this issue.

[2015-07-14 17:46] #433 closed

[2015-07-14 18:09] pixelzoom commented on #448
(4) LayoutBox uses `this._children`, which is a private property of the supertype.

[2015-07-14 18:24] jonathanolson opened #449 "Potential disposal of nodes and node sub-trees"
I wonder if we'll need to create node.disposeNode() or node.disposeSubtree() sometime. Path will now add a listener to Shape (for invalidation), so creating new Paths every frame for a Shape that is held in memory will leak. (I assumed node.dispose() would have name conflicts all over the place).

In the past, I've been able to keep this type of leak from happening display-side by saying "remove l

[2015-07-14 18:43] pixelzoom commented on #448
Also took care of (4), replaced this._children with this.getChildren.

[2015-07-14 18:44] pixelzoom commented on #446
Review comments addressed. Closing.

[2015-07-14 18:44] #446 closed

[2015-07-14 19:00] pixelzoom commented on #449
I realize why you've proposed disposeNode or disposeSubtree as the names. But Node.dispose is probably the correct thing to add.  We've have to chase down all the Node subtypes that have a dispose function, add a call to supertype dispose, and add @override annotation. Doesn't sound like fun.

It would be important to make sure the semantics of Node.dispose are well-defined and aligned with the se

[2015-07-14 19:05] jonathanolson commented on #449
Agreed, dispose() now sounds better. disposeSubtree() sounds very risky, since some descendant nodes could be used in other places, e.g. if ResetAllButton shared the Path across all instances, disposing a screen would be bad.

[2015-07-14 19:12] jonathanolson commented on #449
Disposal would also presumably remove child/parent references (removes all children, and removes it from all parents). We could actually enforce the pattern where you can't dispose a Node unless it has no parents (since they would all have been disposed). Thus some potential partial code:

[code]

The problem still happens then (from our ResetAllButton example) if that was the only parent the Path

[2015-07-15 14:22] samreid commented on #293
Can you comment briefly on how this relates to scenery webgl development?

[2015-07-15 18:40] jonathanolson commented on #293
The underlying work will also makes it possible to recognize when everything under a certain instance will be displayed with Canvas, so that we could render that into a texture and display it as WebGL (think paths/text).

[2015-07-15 18:46] samreid commented on #293
Sounds great, thanks.

[2015-07-15 18:46] #293 closed

[2015-07-16 21:25] samreid commented on #448
I looked through all 63 occurrences of new LayoutBox and all of the spacing constants passed in are numbers.  There are a few cases where variables are passed through, and I didn't manually track those.  @pixelzoom and @jonathanolson are you comfortable with me committing an assert that the spacing must be a number without having tracked down these usage sites to see if they are safe?

[2015-07-16 21:28] samreid commented on #448
I'll leave my proposed changes to LayoutBox here so I can clear my working copy for other things:

[code]

[2015-07-16 21:31] samreid commented on #445
Yes, than is the guard I was referring to.  Which doc should be amended?  This one? `//Move to the next vertical position.`?

[2015-07-16 21:35] samreid commented on #449
From today's meeting:

[2015-07-16 21:49] pixelzoom commented on #448
@samreid asked:

I'm comfortable with requiring `{number} spacing`. But that's because I'm certain that I've never used `{function} spacing` :)

[2015-07-16 21:49] pixelzoom commented on #448
Assigned to @jonathanolson because @samreid wanted his opinion too.

[2015-07-16 21:52] pixelzoom commented on #445
Amend this doc, since {function} spacing will no longer be called for the last child.

[code]

[2015-07-16 21:53] pixelzoom commented on #445
Btw... This issue is moot if spacing is required to be a number, as is being discussed in #448.

[2015-07-17 15:12] samreid commented on #448
I tested hookes-law grunt + launch built and everything seemed OK.  I'm going to proceed to check this in and leave it up to handle sims on a sim-by-sim basis if they were using the previously supported function argument.

[2015-07-17 15:14] samreid commented on #448
I committed above.  By the way, it would be great to be able to test every simulation in the test launcher but there are so many other runtime issues that it would be difficult to detect this particular issue.  @jonathanolson can you please review what I've done here and let me know if you recommend changes or further testing?

[2015-07-17 17:29] jonathanolson commented on #448
Looks good to me. Have you tried automated tests?

[2015-07-17 17:30] samreid commented on #448
I was referring to the automated tests in this phrase:

[2015-07-17 17:36] jonathanolson commented on #448
Yup, I know by heart most of the usual errors that get thrown (or build failures), as it helps for testing.

[2015-07-17 17:39] samreid commented on #448
I think it would be great to temporarily disable the "wrong icon size" error and run through a set of tests.  I could do this later on.

[2015-07-17 17:40] samreid commented on #448
By the way, I have changes for #445 that I could test at the same time.

[2015-07-17 21:32] samreid commented on #448
I added code into the sims to count the number of times LayoutBox is called *or* spacing is set.  I counted 1437 numeric spacings before I ran into "aw snap" halfway through optics-lab.
![image](https://cloud.githubusercontent.com/assets/679486/8757600/e37c94f0-2c98-11e5-8b45-dcfd4e7b1dd1.png)
Several other issues but no occurrences of a function for spacing.  I'm thinking if these errors occur, t

[2015-07-17 21:34] samreid commented on #445
Fixed above, closing.

[2015-07-17 21:36] #445 closed

[2015-07-17 21:38] samreid commented on #448
I cleaned up the rest of the things related to spacing previously being function | number above, and tested grunt + run hookes-law again to make sure I didn't leave any errant console.log or anything.  Everything looked ok.  We should still test the sims alphabetically after optics-lab, but that can be done separately, in my opinion.

[2015-07-17 21:38] #448 closed

[2015-07-18 01:25] samreid commented on #448
I got through the rest of the tests (after re-enabling the icon size check) and didn't see any LayoutBox related assertions.

[2015-07-24 14:07] samreid commented on #443
@aaronsamuel137 is this something you can do (or delegate?)

[2015-07-24 15:00] aaronsamuel137 commented on #443
I'm not sure what is wanted here. @jonathanolson, are you suggesting we actually host these js files on the website or just move them to the website repo?

[2015-07-24 16:28] jonathanolson commented on #443
Right now it's placed under /files (Report a Problem uses "http://phet.colorado.edu/files/troubleshooting/"), so the minimum would probably be to move it to the website repo.

We could also look into ways to improve it.

[2015-07-25 01:45] aaronsamuel137 commented on #443
Just FYI, I probably won't get to this until after my vacation.

[2015-07-29 04:47] samreid commented on #417
No plans to work on this at the moment, unassigning.

[2015-07-29 04:48] samreid commented on #418
No plans to work on this at the moment, unassigning.

[2015-07-29 05:09] samreid opened #450 "Create an HTML accessibility prototype"
At today's meeting, we discussed creating an HTML accessibility prototype.  @jessegreenberg & @samreid began work on one and committed it in 0019695119cb1b3aec36d2bcf438652020dff535 .  The latest version is in https://github.com/phetsims/scenery/blob/master/accessibility/forces-and-motion-basics-accessibility.html

The goal is to create the DOM in the way that we would want scenery to create it.

[2015-07-29 05:11] samreid commented on #450
An additional question:

* What should "sprites" such as the pullers be represented as?  `<img>` or `<div>` or something else?  In one prototype they were svg groups with `role=button`.

[2015-07-29 12:38] samreid commented on #403
Not planning to work on pixi in the near future, unassigning.

[2015-07-29 13:22] samreid commented on #450
Elaborating on the above questions, I am not sure whether focus should automatically move to newly created components, or whether focus cycles should be restricted (say, in the case of the PhET popup menu).  Automatically changing focus may be confusing for some users and restricting focus to a subset of components may also be confusing (unless there is a straightforward way out).  @emily-phet sho

[2015-07-29 19:51] jonathanolson commented on #450
Seems best to have it be DOM-order, and reorder DOM elements if necessary?

I recall the label element with for= being the candidate for this?

I'm not sure about the exact questions that should be asked and explored, hopefully that's part of the process of investigating?

[2015-07-29 19:59] samreid commented on #450
I agree this sounds good to investigate, and we should look into the related question of what happens when a focused item is moved elsewhere in the DOM.  Does it keep focus?  Does the focus rectangle move properly?  Does the supplemental focus rectangle (say, in VoiceOver) update properly? Etc.

[2015-07-29 20:01] samreid commented on #450
Likewise, do any screen readers get confused (or do confusing things) if the DOM is reordered?

[2015-08-02 17:55] samreid commented on #321
@jonathanolson will be continuing with the webgl work in the future.  I'll send this issue his way.

[2015-08-03 02:17] samreid commented on #372
I'm going to assign this to @jonathanolson to review with @jessegreenberg once we are spending more time on accessibility.

[2015-08-03 02:18] samreid commented on #330
I'm going to unassign this until we are spending more time on accessibility with @jonathanolson and @jessegreenberg.

[2015-08-06 15:20] jbphet commented on #86
This is an old ticket, and to my knowledge the issue it describes has not been seen for a long time.  Closing.

[2015-08-06 15:20] #86 closed

[2015-08-10 16:56] aaronsamuel137 commented on #443
I like the idea of serving from the website. Since modernizer and jquery are already on the website, we could delete these altogether and just use the existing versions on the website.

For the other files we could move them to root/js in website and just add "/js/" to the beginning of the script paths. The downside of this would be that it would be harder to test locally. I guess we could also us

[2015-08-11 14:05] emily-phet commented on #450
@samreid - let's talk more about this later today, but in the meantime I found this resources regarding popup behavior. Might be useful. http://www.w3.org/TR/UNDERSTANDING-WCAG20/consistent-behavior-no-extreme-changes-context.html

[2015-08-11 15:47] jessegreenberg commented on #450
Above is my initial commit for the HTML accessibility prototype. This is a status commit, there is more to be done, but initial investigations suggest the following:

As suggested, prototype is DOM-order, except for nested elements.

All elements are indexed by DOM order, except for nested elements which have tabindex="-1".  Some javascript is then used to set the focus to nested elements by chang

[2015-08-13 00:19] pixelzoom opened #451 "odd vertical and horizontal lines (Firefox Mac)"
I stumbled across this while investigating https://github.com/phetsims/hookes-law/issues/19.

The problem occurs with FF 40.0 on Mac OS 10.10.4, running with master in requirejs mode.

With FF 36.0 on Mac OS 10.4.4, hookes-law looked great. When I upgraded to FF 40.0, odd vertical and horizontal lines appeared in the robotic arm (RoboticArmNode.js), which has LinearGradient fills.  Here's a partia

[2015-08-13 01:59] jonathanolson commented on #451
Only able to reproduce on Firefox OS X (MacBook Air), not on Windows 7.

SVG shows something innocuous (in beers-law-lab), so it looks fully Firefox-internal:
[code]

No clue what to do besides searching for mozilla bugs and/or reporting.

[2015-08-13 12:52] samreid commented on #450
@emily-phet sent this link that a collaborator at IDRC had worked on for an accessible Balloons and Static Electricity:
http://terracoda.net/experimental-play/kb-access-01.html

[2015-08-13 13:34] samreid commented on #451
I'll mark for developer meeting so we can discuss who/when to search mozilla bugs and/or report.

[2015-08-13 17:00] jonathanolson commented on #451
Not finding anything relevant in https://bugzilla.mozilla.org/query.cgi (10 minutes of searching).

[2015-08-13 18:20] pixelzoom commented on #451
I will try isolating in a simple example.

[2015-08-13 18:57] pixelzoom opened #452 "how to annotate things that are "public" within scenery, but "private" elsewhere"
Notes from 8/13/15 dev meeting:

JO: @public/@private in Scenery - What's a good idea for things that should be "public" for Scenery internal use, but "private" as it's not part of the public API?
SR: @scenery or @friend[Image.js], etc. @internal-to-scenery @package-private
CM: @package is the official annotation for “package private”, see https://developers.google.com/closure/compiler/docs/js-for

[2015-08-13 20:21] jonathanolson commented on #452
Thoughts on  ```@public (scenery-internal)```? just ```(scenery)``` almost leads me to believe it's saying it's a public part of Scenery's API.

[2015-08-13 20:29] pixelzoom commented on #452
+1 for ` @public (scenery-internal)`.

[2015-08-13 20:59] samreid commented on #452
+1 for @public (scenery-internal)

[2015-08-13 21:04] jonathanolson commented on #452
Ok, will use that. Thanks!

[2015-08-13 21:04] #452 closed

[2015-08-13 21:30] pixelzoom commented on #451
Using `renderer: 'canvas'` for RoboticArmNode makes this problem go away. Unsure if there is any downside to doing this. @jonathanolson any advice?

[2015-08-13 21:57] pixelzoom commented on #451
First I tried this in the scenery playground, which did not reproduce the problem:

[code]

@jonathanolson recommended on Skype:

I deleted everything except the shape used to drag, and the rectangle for the arm.  Here's a screenshot:

![screenshot_574](https://cloud.githubusercontent.com/assets/3046552/9262636/ada64baa-41d3-11e5-86c0-6f647a537749.png)

Below is the HTML document, copied from the

[2015-08-13 22:02] jonathanolson commented on #451
May have some performance/quality impact on other platforms, given more layers. Could just check for Firefox and set to Canvas.

I'll use it as a starting point to investigate.

[2015-08-13 22:03] pixelzoom commented on #451
If I delete the hand (<path> in the above HTML), the problem persists. Screenshot:

![screenshot_575](https://cloud.githubusercontent.com/assets/3046552/9262778/c4abdf3a-41d4-11e5-8a8f-1fb9232edf3f.png)

[2015-08-17 03:19] samreid opened #453 "Setting CanvasNode bounds to negative values has unexpected behavior"
While working on making the bending light canvas fit the visible screen, I tried this:

[code]
which looked like:
![image](https://cloud.githubusercontent.com/assets/679486/9297398/35c8f7b4-445c-11e5-8aa8-1c9d8d8d25fe.png)

and it had very different behavior than:

[code]
which looks like:

![image](https://cloud.githubusercontent.com/assets/679486/9297392/0c43ac2c-445c-11e5-80a9-982f14c5051b.png)

[2015-08-17 18:52] jonathanolson commented on #453
Looks like the dx/dy wasn't properly added to the max X/Y. CanvasNode DOES support negative bounds (or any other type of valid bounds).

[2015-08-17 18:52] #453 closed

[2015-08-17 19:28] samreid opened #454 "cssTransform:true clips objects"
In Bending Light, I found a significant performance boost from using cssTransform:true.  It is on my list to test layerSplit instead in https://github.com/phetsims/bending-light/issues/182 .  However, if we need to continue with cssTransform, there is an issue that objects are clipped like so:

![image](https://cloud.githubusercontent.com/assets/679486/9314057/c40b9ea0-44e3-11e5-88dd-95b0fbeb61c5.

[2015-08-19 02:02] jessegreenberg commented on #450
In the commit above, I added some documentation to the prototype html, and some scripting so that tab navigation is done with event listeners.  Some aria descriptions have also been added to provide overview descriptions of the sim state.

W3.org has some great information about complex keyboard navigation:
http://www.w3.org/TR/2009/WD-wai-aria-practices-20090224/#keyboard

This basically lists of

[2015-08-19 21:00] emily-phet commented on #450
Taliesin just introduced me to this neat tool - it highlights and colorcodes the use of ARIA http://whatsock.com/training/matrices/visual-aria.htm . This might be useful to you.

[2015-08-20 01:42] jonathanolson commented on #443
That sounds fine to me.

[2015-08-20 23:51] jessegreenberg opened #455 "stringTest=double and chemical formulas are distorted in internet explorer"
First noticed in https://github.com/phetsims/molecules-and-light/issues/121, but moved to scenery because this looks like an issue with scenery text.  Chemical formulas are broken in Internet Explorer.  At sim start up, chemical formulas look very distorted:

![d205da14-4729-11e5-82c3-df249a1bb69b](https://cloud.githubusercontent.com/assets/6396244/9398345/6bf13bb2-4763-11e5-86b7-7366c9ae52cf.PNG)

[2015-08-20 23:57] pixelzoom commented on #455
Wow, that's really messed up. Does it appear in these RC versions that I just published?

http://www.colorado.edu/physics/phet/dev/html/ph-scale/1.2.0-rc.1/ph-scale_en.html
http://www.colorado.edu/physics/phet/dev/html/ph-scale-basics/1.2.0-rc.1/ph-scale-basics_en.html

[2015-08-21 00:03] jessegreenberg commented on #455
Unfortunately yes, stringTest=double has the following for ph-scale home screen:

![test1](https://cloud.githubusercontent.com/assets/6396244/9398555/7dbaf55c-4765-11e5-9b07-212be43a5ce2.PNG)

And it looks like text on the drop down bar is broken with no query parameters:

![test2](https://cloud.githubusercontent.com/assets/6396244/9398568/b08516a2-4765-11e5-9180-5ac89c246eb5.PNG)

[2015-08-21 00:04] jessegreenberg commented on #455
Actually, it looks like this may be an issue with using StringUtils?  I am not convinced this is an issue with text anymore, all broken text uses a StringUtils pattern.

[2015-08-21 00:15] pixelzoom commented on #455
Awesome :( I'll stop the RC testing.

[2015-08-21 00:18] pixelzoom commented on #455
I'm skeptical that StringUtils could possibly make the rendering look so wrong.

[2015-08-21 00:22] pixelzoom commented on #455
Problem does not occur on Mac OS X 10.10.5 with Safari, Chrome or Firefox (all latest).

[2015-08-21 16:06] jonathanolson commented on #455
I can reproduce, looking into it. Doesn't seem to affect the MS release candidate, and seems to be somewhat related to punctuation. Embedding marks might be causing issues potentially?

[2015-08-21 16:31] jonathanolson commented on #455
It looks like textLength/lengthAdjust and UTF8 embedding marks are both required to reproduce the undesired behavior.

I'll be looking into whether we can change how Scenery displays strings in IE first.

[2015-08-24 15:19] pixelzoom opened #456 "Assertion failed: Exit events not matched by an enter"
This issues was originally reported as https://github.com/phetsims/hookes-law/issues/18, but it's a general issue, so I'm moving it to scenery.
####

@samreid reported:

Most likely a scenery issue but I saw this in Hooke's Law so I'll report here first.  With the dev tools open, if I open the Systems screen and move the slider, then mouse out and back in, I see this problem.  It happened 2-3 time

[2015-08-24 15:19] pixelzoom commented on #456
@samreid reported:

This error happened again on the next run (4th run) but not the following 2 runs.

[2015-08-24 15:20] pixelzoom commented on #456
I commented:

Thanks for reproducing this. I've seen it a few times (over the past few months?). I couldn't reproduce it, so assumed (perhaps incorrectly) that it was transient Chrome problem.  No idea what the cause is, so assigning to @jonathanolson.  If this is indeed a scenery issue, then it's probably high priority.

@samreid There's no URL shown in your screenshot, and you didn't mention how

[2015-08-24 15:20] pixelzoom commented on #456
@samreid replied:

Yes, ?ea

You can see that it says enabling assert in the console

[2015-08-24 15:20] pixelzoom commented on #456
@jonathanolson commented:

I've spent about 15-20 minutes trying to reproduce across platforms (I have OS X 10.9.5, maybe that is a difference), for OS X, Windows and all browsers, and I haven't been able to cause it.

Any more detail on:

Mouse out (of window?)

[2015-08-24 15:21] pixelzoom commented on #456
@samreid commented:

I tested with the built and non-built versions of hookes law and could not reproduce the problem again.

Not sure what else I can do here, I'll send it back to @pixelzoom to decide what's next, if anything.

[2015-08-24 15:21] pixelzoom commented on #456
I commented:

Hmmm... Now I can't reproduce reliably either.  But I have seen this repeatedly with hookes-law and other sims over the past few months.  So I'm hesitant to just close this as "cannot reproduce".

Searching for the error message, this assertion comes from `scenery.ButtonListener`, line 104:

`assert && assert( this._overCount > 0, 'Exit events not matched by an enter' );`

@jonathano

[2015-08-24 15:21] pixelzoom commented on #456
@jonathanolson commented:

Yes, it would generally indicate an inconsistent state for input handling. It could be either a browser issue or Scenery issue.

It's the type of bug where it would be very helpful to record Scenery input events so that we could play back the failing sequence once recorded.

[2015-08-24 15:21] pixelzoom commented on #456
@samreid commented:

In my case, I was mousing out to the dev tools, not out of the entire browser. Not sure if that was a critical ingredient or not.

[2015-08-24 15:22] pixelzoom commented on #456
@jonathanolson commented:

That's what I was testing. Just tried it out a few more times on OS X / Win, and still wasn't able to reproduce. If we can reproduce even somewhat regularly, I think it would be useful to log all input events.

I'll leave assigned to me, and look more into bringing Scenery event recording back up-to-date.

[2015-08-24 15:22] pixelzoom commented on #456
@jonathanolson commented:

Pulling latest. If you're able to reproduce, please do the following:

1. In 'chronicle', npm install
2. In 'chronicle', node js/server.js
3. Run sim with ?recordInputEventLog&ea
4. If assertion is hit, resume, interact just a bit more, then close the sim browser tab (it uses a websocket, but the message won't be hit right when the debugger pauses it).
5. Check chronicle

[2015-08-24 15:22] pixelzoom commented on #456
I commented:

I've been playing around with the sim, but can't reproduce the problem. Mac OS X 10.10.5, Chrome 4.0.2403.155 (64 bit).

@samreid you said:

Do you recall if you moved into the dev tools window with the mouse still down on the slider? Or did you release the mouse in the browser window, then move the mouse (still up) into the dev tools window?

[2015-08-24 15:22] pixelzoom commented on #456
@samreid replied:

I believe the mouse was up, but, like I said in #18 (comment) I can no longer reproduce the problem.

[2015-08-24 15:23] pixelzoom commented on #456
I commented:

As I mentioned in https://github.com/phetsims/scenery/issues/456#issuecomment-134246310, this assertion is occurring in scenery.ButtonListener. So it seems like we should be able to isolate it, or at least hypothesize about what's causing it. But I've been unable to reproduce it, and I haven't heard any thoughts about how this might be related to scenery.ButtonListener. So I'm going

[2015-08-24 16:42] jonathanolson commented on #455
Should be fixed.

[2015-08-24 16:47] samreid commented on #455
Is there a practical way to dynamically identify which browsers can't handle our UTF-8 embedding marks AND SVG textLength/spacingAndGlyphs?  Or better to identify by hand and hard-code these in?  What will happen in a future version of Edge where this gets fixed?

[2015-08-24 16:49] jonathanolson commented on #455
No way I know of to dynamically identify, it seemed easier to not apply the textLength workarounds to IE/Edge, since they do not benefit from them (crystal clear text of the same size with/without those adjustments).

Presumably nothing will appear to change.

If it seems important, I can look for a better detection method if it exists (it might not). Let me know.

[2015-08-24 16:51] samreid commented on #455
I'm ok to proceed as-is, just wanted to know your thoughts.  Re-closing.

[2015-08-24 16:51] #455 closed

[2015-08-24 17:30] amanda-phet opened #457 "Library needs for math sims"
We need a way to consistently incorporate math elements in to math sims. For example, fractions, square roots, variables, and other math symbols, should be easy to implement in any new math sim (with an appearance consistent with LaTex). Graphs should also have a consistent appearance.

I've started a [google doc](https://docs.google.com/document/d/19DGsx0mXdMAihw7u8M_kx-6jrQCFOrfaBhYYCF3l1Io/edit

[2015-08-24 18:00] pixelzoom commented on #457
PhET does not  currently have a common repo for "math symbols".

"griddle" is the PhET repository for graphs, see https://github.com/phetsims/griddle.

[2015-08-24 18:04] jonathanolson commented on #457
It would be helpful to know how flexible this needs to be. Do we need to handle arbitrary formulas at run-time, or could we enumerate every formula at build-time?

MathJax looks like a pain to try to fit into sims, but it may be possible (tested on IE11, and it is NOT using images anymore, but is manually positioning HTML elements with a custom web font). This means it may be possible to integrate

[2015-08-24 18:09] jonathanolson commented on #457
Also, Curve Fitting includes rasterized LaTeX output images, and would benefit from an improved approach.

[2015-08-24 19:25] samreid commented on #457
Katex is an alternative that should be explored:
http://khan.github.io/KaTeX/

![image](https://cloud.githubusercontent.com/assets/679486/9450022/820298b2-4a63-11e5-9aef-271e39a6fbed.png)

[2015-08-24 19:26] samreid commented on #457
Another question that will be critical to know from designers: will all of these math things be static, or will objects change size/value as the user interacts?

[2015-08-24 19:29] amanda-phet commented on #457
The math text will often need to change as the user interacts.

[2015-08-24 19:46] jonathanolson commented on #457
@amanda-phet, that doesn't present a problem, if it's changing between ~20 options that we can embed at build-time, thus I was wondering if we could enumerate all possible options.

[2015-08-24 19:47] jonathanolson commented on #457
This definitely looks promising, +1!

[2015-08-24 19:52] jonathanolson commented on #457
After a brief bit of investigation, I can see multiple ways we could use KaTeX. It will add ~150kB to the sims that use it, but it would probably be by far the cleanest approach.

@ariel-phet, let me know if/when I should spent time looking into this more.

[2015-08-24 20:40] ariel-phet commented on #457
@jonathanolson - soon(ish) probably after or concurrent with pendulum lab work.

[2015-08-25 00:20] jonathanolson commented on #397
This title exactly describes the current WebGL issue. We've had trouble with https://github.com/phetsims/neuron/issues/65, and the blending is a bit off.

Sites like http://webglfundamentals.org/webgl/lessons/webgl-and-alpha.html recommend premultiplied and:
[code]
or non-premultiplied and
[code]

However comments on http://games.greggman.com/game/webgl-and-alpha/, especially by Mark Ivey reveal a

[2015-08-25 00:28] jonathanolson commented on #397
Note that this may cause issues with bending-light's WhiteLightWebGLNode, since that overrides the blending mode for a custom effect? Maybe layerSplit should be included for it?

charges-and-fields, energy-skate-park-basics and neuron will also need testing.

[2015-08-25 00:40] jonathanolson commented on #397
Should be fixed now.

[2015-08-25 00:40] #397 closed

[2015-08-25 15:13] jonathanolson commented on #451
Added reworked minimal test case, appearance on Firefox 40.0:

[code]
![screen shot 2015-08-25 at 9 12 22 am](https://cloud.githubusercontent.com/assets/480878/9470490/73d87940-4b09-11e5-924c-d706eaad5d63.png)

[2015-08-25 15:14] jonathanolson commented on #451
Looks like 256px square tiles, will do another search including that information.

[2015-08-25 15:36] jonathanolson commented on #451
Submitted bug to Mozilla's Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1198307

[2015-08-25 20:50] pixelzoom commented on #451
In https://github.com/phetsims/hookes-law/issues/21#issuecomment-134735734, I noted that in hookes-law:

[2015-08-28 17:14] ariel-phet commented on #457
@jonathanolson - since you were excited to investigate this possibility, perhaps work in a few hours of investigation over the next week or two and report in this issue what you find and an estimate for full inclusion of this feature.

[2015-08-28 17:23] pixelzoom commented on #457
While investigating... Keep in mind that *interactive* equations has been (and will be) a requirement of some PhET sims. See example below from Graphing Lines.  It would be nice if the layout code for such equations was capable of handling both interactive and static elements.

![screenshot_585](https://cloud.githubusercontent.com/assets/3046552/9552626/d05496da-4d76-11e5-90fe-a1216f67197d.png)

[2015-08-28 17:27] samreid commented on #457
Examples like the one above in https://github.com/phetsims/scenery/issues/457#issuecomment-135838479 suggest to me that we will benefit the most from the ability to render and layout individual glyphs as scenery nodes, so that we have full control over them and can provide interactivity.  It may be that the best solution is for us to build something from scratch ourselves.

[2015-08-28 20:23] ariel-phet opened #458 "Can anything be leveraged from springroll.io for accessibility?"
This tool library was mentioned by pbs kids and seems like it might have useful ideas/libraries for us

http://springroll.io/

@jessegreenberg, @jonathanolson, @samreid, @jbphet, @pixelzoom you might want to take a peek

[2015-08-31 19:22] pixelzoom opened #459 "add visibility annotations"
Add a `@public`, `@protected` or `@private` annotation to anything that's publicly visible.
See https://github.com/phetsims/tasks/issues/307.

[2015-09-01 16:18] samreid commented on #458
I created an issue here asking whether springroll has keyboard navigation: https://github.com/SpringRoll/SpringRoll/issues/39

[2015-09-03 03:33] ariel-phet commented on #457
@samreid - it is true that we may need something built ourselves to handle many cases, but there are already multiple places (such as in trig-tour) where just being able to write out static content/labels in "good looking" math would be incredibly useful.

[2015-09-03 16:56] samreid commented on #457
For static content/labels, images may be the best solution.  They are lightweight, we have ultimate control over exactly how things are layed out and look (we can use latex for example), and we can mipmap them, they integrate into scenery layering (no need for dom layers or adapters) and there is no additional code library required or time required to generate the graphics at runtime.  Even if the

[2015-09-03 17:14] jonathanolson commented on #457
I'd like to also point out a hybrid approach would be available for many browsers, where it can render the DOM into an image. We could then fall back to using a DOM layer.

[2015-09-03 18:06] jbphet commented on #458
Discussed in 9/3/2015 developer meeting.  @jonathanolson will take a look and see if there is anything in springroll.io that is useful to PhET.

[2015-09-04 21:03] jonathanolson opened #460 "Scenery event improvements"
It would be nice to combine the event types (input or otherwise) into the same pattern for listening.

Right now, input events require the pattern:
[code]
and other events use:
[code]

Why not allow node.on( 'up, ... ), etc.? How do we combine event listening into one single interface?

[2015-09-04 22:45] jonathanolson opened #461 "Accessibility integration"
Proposed Node API:

[code]

Proposed AccessibleInstance API:

[code]

When nested elements with accessibleContent occur, the descendant domElement will be placed into the ancestor's containerDOMElement (defaults to its domElement). This nesting will help support nested accessibility structures (like activeDescendant and aria-hidden).

There should be no DOM elements under the containerDOMElement (

[2015-09-04 22:46] jonathanolson commented on #461
Focus rectangle/shape will be similar to prototype look-and-feel. AccessibleInstance will be able to specify shape/appearance of the focus highlight.

[2015-09-04 22:54] jonathanolson commented on #461
Added focusHighlight: {null|Bounds2|Shape|Node} to API.

[2015-09-05 01:49] samreid commented on #460
Related question: how/why did we settle on `bounds` rather than `boundsChanged` for that listener?

[2015-09-08 17:24] pixelzoom commented on #460
9/8/15 dev meeting, consensus design:

[code]

[2015-09-08 18:05] samreid commented on #460
Today we discussed one kind of axon events, the ones emitted from `trigger` functions in Events.js.  However, there is a (currently orthogonal) pattern for sending events from axon--events that come from property changes.  There is a completely different interface/implementation for listening for Property instance changes.

At today's meeting when @jonathanolson was enumerating the different kind

[2015-09-10 01:13] pixelzoom commented on #158
Skype discussion:

[9/9/15, 1:01:59 PM] Chris Malley: For function-builder, we're going to need support for color filtering.  I'd like to start a GitHub issue for that.  Is there an appropriate common-code repo, or shall I create it in function-builder?
[9/9/15, 1:03:31 PM] Chris Malley: function-builder has 3 functions that take an input image and transform its color palette.  They are grayscale,

[2015-09-10 01:26] pixelzoom commented on #158
Color filter requirements for function-builder are in https://github.com/phetsims/function-builder/issues/1.  This sim's timeline is: demo at NCTM in mid-April 2016, published by August 1, 2016.  Implementation is starting now (September 2016).  Raising the priority of this issue to high.

[2015-09-10 16:57] jonathanolson opened #462 "Replace on() with onStatic() where possible"
Note that the naming may change. We mainly want the performance benefit.

[2015-09-10 18:42] pixelzoom opened #463 "experiment with using axon for state and notification"
Factored out of https://github.com/phetsims/scenery/issues/460:

To help identify an ideal "unified" API for state and notification... Experiment in scenery using axon.Property to see how it would work, what the performance/memory costs are, what changes to axon would be required, etc.

[2015-09-10 18:48] pixelzoom commented on #463
@ariel-phet said we should wait on this, reevaluate after we're well into S2015R milestone.

[2015-09-10 18:48] pixelzoom commented on #460
9/10/15 dev meeting notes:

• Proposal to change behavior of 'on' and 'onStatic'. Have 'on' operate on actual listener list (not a copy), and 'onVolatile' operate on a copy.  Set a flag in during notification that indicates that functions that modify the list (e.g. addListener, removeListener) will become unsafe, and throw and Error if one of those functions is called.  Tracking this in https://gi

[2015-09-10 20:50] jonathanolson commented on #158
Removed high-priority label, since it's not needed (as of right now) for function-builder.

[2015-09-10 20:50] samreid commented on #461
Some initial thoughts after taking a look, we should discuss further:

Why is the Java focus API call named requestFocus()?  For scenery, is there ever a time that we would set focus and it wouldn't receive focus?

How about an axon property in node that indicates whether a node is focused or not?  It may be important for hooking in other behavior into the sim.

2. B blur
3. C blur

I'm confused a

[2015-09-10 21:22] jonathanolson commented on #461
It would be useful to have a global "move focus to next/previous focusable element".

[2015-09-10 21:33] jonathanolson commented on #461
If an accessible parent node can also be directly focused itself, bubbling the 'focus' and 'blur' events will be a problem.

[2015-09-10 21:37] jonathanolson commented on #461
Sounds like a potentially useful but complicated feature to have something focused when it is fully connected to a display.

[2015-09-11 02:26] samreid commented on #461
Regarding https://github.com/phetsims/scenery/issues/461#issuecomment-139386442 (immediately above), that may be more important if we are *automatically* moving focus to newly added components.  However, a design question is whether focus should ever be automatically moved--it may be distracting or confusing for users? @emily-phet or @jessegreenberg can you comment on this?

If we rarely need to p

[2015-09-12 08:55] jessegreenberg commented on #461
Regarding some issues mentioned above:

The Java API only allows a component to be focused when it is displayable, focusable, and visible (with all ancestors visible as well).  Otherwise the request for focus is denied.
It is up to the html author to make sure that the focused element is visible or slides into view.  Whenever we set focus we always want the element to receive focus.

The focus eve

[2015-09-14 19:45] jbphet opened #464 "input events are not getting to scenery in some cases when sim is in an iframe"
This was found by ETS when doing some testing with embedded simulations.  To duplicate, follow these steps:
+ launch this embedded sim: http://www.colorado.edu/physics/phet/dev/html/beaker/1.0.0-together.6/beaker-table.html?ea
+ click and hold the mouse on one of the tweaker buttons (to the right and left of the sliders)
+ while still holding the mouse button down, move the mouse outside of the if

[2015-09-14 21:02] samreid commented on #464
I linked a screencast gif above.

[2015-09-14 23:32] jonathanolson commented on #464
I don't see a linked gif above?

[2015-09-15 01:46] samreid commented on #464
it is phetsims/special-ops issue 10, here's a link:
https://github.com/phetsims/special-ops/issues/10

[2015-09-15 16:25] jonathanolson commented on #464
Known Chrome bug, see https://github.com/phetsims/joist/issues/285 (and tracked in Chromium at https://code.google.com/p/chromium/issues/detail?id=269917).

Nothing I can do until it's resolved on the browser side.

[2015-09-15 16:27] jonathanolson commented on #464
Also occurring in Safari, just tested.

[2015-09-15 16:28] jonathanolson commented on #464
No problem in Firefox.

[2015-09-15 18:04] jbphet commented on #464
The problem also occurs in IE11.

[2015-09-15 20:58] jonathanolson commented on #461
Current TODOs:

1. Need to move focus highlight when the focused object moves
2. Evaluate whether global tab indices are needed
3. blur/focus/key events should be emitted by Scenery
4. Animate focus highlight
5. Pooling for AccessibleInstance, consider not making AccessiblePeer pooled at all
6. Evaluate performance impact
7. General code cleanup and documentation

[2015-09-15 22:01] jessegreenberg commented on #461
Additionally, we will want to consider changes to the accessibleContent object so that it is possible to override accessible properties like tabIndex, listeners, domElement.value, and so on.

[2015-09-16 18:31] jonathanolson opened #465 "Composable/mixable drag listener thoughts"
For @samreid investigation into prototype/options, and whether this is viable.

[code]

Also relevant for https://github.com/phetsims/scenery-phet/issues/186

[2015-09-16 20:09] samreid commented on #465
Something SimpleDragListener had that we should capture here is "Set cursor to hand (or maybe something else?) while dragging"

[2015-09-17 02:31] samreid commented on #465
Initial commit forthcoming.  Still outstanding and to discuss:

1. still outstanding: Passing data (such as the drag point) through the functions
2. the current implementation only provides this flexible mixin/plugin/composite mechanism for the start/drag/end events after a pointer is sending events, not from the original down/touchenter/touchmove from scenery.  Should that be generalized?
3. Shou

[2015-09-17 02:32] samreid commented on #465
(6) I am not planning to clean this up until we have determined whether it is a good plan or destined for deletion. Each file is marked as highly volatile and not ready for reuse until later.  I will try to keep it lint-free, though :)

[2015-09-17 15:08] aaronsamuel137 commented on #443
Moved these js files to website, updated the html file to point to the website files, and copied to figaro. All seems to be working as expected.

Assigning to @jonathanolson  for review.

[2015-09-17 18:47] jonathanolson opened #466 "Add per-corner radius options to Rectangle"
Useful for https://github.com/phetsims/sun/issues/197.

Will need to design API.

[2015-09-17 18:58] jonathanolson commented on #466
Not needed.

[2015-09-17 18:58] #466 closed

[2015-09-17 20:20] pixelzoom opened #467 "Rectangle API for specifying corner radius"
I thought there was an existing scenery issue for this, but couldn't locate it. So pardon if this is a duplicate issue.

100% of the rounded rectangles that I've need to create have round corners, and therefore identical values for the arcWidth and arcHeight arguments, e.g.:

[code]

For good coding hygiene, I'm forced to factor out the duplicate value, e.g.:

[code]

Any of these would be much ni

[2015-09-17 20:42] jonathanolson commented on #464
Experimenting with skipping preventDefault() to see if we can avoid the other negative effects (like potential panning/zooming/selecting of text/etc.)

[2015-09-18 04:10] samreid commented on #465
Here are 3 APIs for how to configure a set of handlers, let's pick one:

[code]

[2015-09-18 04:43] samreid commented on #465
Hrm... It seems like things would get a lot simpler if we could use one input listener per node, with logic to decide what to do in what case.  The issue of creating very similar input listeners and switching between them in certain circumstances seems awkward and error prone.

I considered making logic objects such as new If(condition,thenHandler,elseHandler), but it would probably be even easier

[2015-09-18 14:10] samreid commented on #465
@jonathanolson can you review my last couple of comments?

[2015-09-22 15:15] samreid opened #468 "Scenery Image should have nonzero dimensions when created with mipmap"
@aaronsamuel137 and I saw this issue where the width and height of a homescreen icon (loaded with mipmap) were (0,0).  When dividing by zero, this causes NaN and the Frame which creates a linear gradient causes runtime error on iPad and osx Safari.  This is a flaky problem and doesn't occur every time.  But when it does occur, it crashes the application launching (even the built version).

![image

[2015-09-22 15:26] aaronsamuel137 opened #469 "Strange text rendering in Safari require.js mode in GAO"
<img width="270" alt="screen shot 2015-09-22 at 9 24 53 am" src="https://cloud.githubusercontent.com/assets/3193912/10022787/de54cd06-610b-11e5-86c4-fe3f933d616f.png">

So far I have only seen this in Safari in RequireJS mode.

[2015-09-22 16:11] aaronsamuel137 commented on #468
We addressed this on a call. But I'll leave this open for you to review and close @jonathanolson.

[2015-09-22 19:47] jonathanolson commented on #464
Put up a testable version without the preventDefault on mouse events (see https://github.com/phetsims/tasks/issues/366). Keeping preventDefault on touch/wheel events, as recommended. Will wait for testing feedback (presumably will need to identify/resolve found issues).

[2015-09-22 20:02] jonathanolson commented on #468
Looks good, thanks!

[2015-09-22 20:02] #468 closed

[2015-09-22 20:12] jonathanolson commented on #469
DOM looks normal:

![screen shot 2015-09-22 at 2 09 13 pm](https://cloud.githubusercontent.com/assets/480878/10030177/910ab4a2-6133-11e5-999b-313bbe6e6e36.png)

After overwriting the text value (presumably removing embedding marks), it looks correct:
![screen shot 2015-09-22 at 2 09 55 pm](https://cloud.githubusercontent.com/assets/480878/10030197/b7d3450e-6133-11e5-95dc-fa003b811dec.png)

... and

[2015-09-22 20:17] jonathanolson commented on #469
Able to reproduce by closing/reopening safari, and without dev tools immediately visiting the sim. Just reloading will cause it to not be reproducible.

[2015-09-22 20:19] jonathanolson commented on #469
And now back to not being able to reproduce it at all.

[2015-09-22 20:22] jonathanolson commented on #469
I've never been able to reproduce this from a built sim. Assigning to @ariel-phet for prioritization (if it's a require-js-mode-only bug, I'm inclined to tackle at lower priority than if it affects built sims).

[2015-09-22 20:53] jonathanolson commented on #467
Since we have { rectArcWidth: ..., rectArcHeight: ... }, should we consider { rectArc: ... } that sets both, and doesn't have a getter?

I'd alternatively opt for a renaming of all of the arc/radius/corner naming, like "cornerRadius", "cornerXRadius" and "cornerYRadius" if that helps.

I'd rather support the constructor directly like:
[code]

and/or, like (3) with a factory function.

@pixelzoom,

[2015-09-22 22:15] pixelzoom commented on #467
I'd prefer to set corner radius via an option, so that it's instantiated correctly, not via a setter that needs to mutate the shape.

Step in the wrong direction, see 3.

Yes. And while we're at it, do away with Rectangle's constructor overloading and provide factory functions instead. Imo, constructor overloading is a bad pattern - it complicates the implementation, complicates the documentation,

[2015-09-23 02:16] ariel-phet commented on #469
Agreed, low priority if it does not affect built sims

[2015-09-23 19:16] samreid commented on #465
I feel like things are going well in Bending Light by subclassing MovableDragHandler to add the desired behavior.  Working with high level functions like reparent/animateTo, this seems preferable to mixin approaches.  Next step for this issue will be to discuss with @jonathanolson and to delete mixin prototypes from scenery.

[2015-09-23 23:11] samreid commented on #465
For expedience, I'm inclined to delete the prototypes from scenery then reassign to @jonathanolson for discussion if desired or close the issue at his discretion.

[2015-09-24 02:32] samreid opened #470 "Are we still using `textDescription`, or can it be deleted?"
Are we still using `textDescription`, or can it be deleted?  I'm seeing numerous instances in our common code repos.  It was going to be used for accessibility, but now perhaps there is a different way of doing it?  If @jonathanolson and @aaronsamuel137 don't have plans to use textDescription as part of the current accessibility work, then it should be deleted.

[2015-09-24 15:49] jonathanolson commented on #470
Not currently using it, but it's likely we'll need something very similar and may end up using the current implementation.

[2015-09-24 16:09] jonathanolson commented on #467
I was recommending having cornerRadius as an option. Rectangle doesn't generally create Shape instances unless required, and ALL options (like left, opacity, visible) passed to a Node (using mutate()) calls setters. To be clear on what I was recommending:
- Add setCornerRadius( radius ) and ES5 setter cornerRadius.
- Add 'cornerRadius' to mutatorKeys, so that mutate() with 'cornerRadius' will call

[2015-09-24 16:22] jonathanolson commented on #443
Looks good, thanks!

[2015-09-24 16:22] #443 closed

[2015-09-24 17:20] jonathanolson opened #471 "Add Color property support"
For fills, strokes, gradient colors, etc. We should handle support for Property types with Colors (and possibly strings). This will make ColorProfile support much easier.

Scenery will be able to internally add/remove listeners to keep the display colors up-to-date (and not memory-leak).

See https://github.com/phetsims/scenery-phet/issues/156

[2015-09-24 17:31] #465 closed

[2015-09-24 17:31] pixelzoom commented on #465
@samreid briefed us on status at 9/24/15 dev meeting. He and @jonathanolson will finalize.

[2015-09-24 17:40] pixelzoom commented on #467
9/24/15 dev meeting notes:

• Above proposal sounds good.
• Leave Rectangle constructor as is, but enumerate the supported signatures in the constructor doc.

[2015-09-24 20:33] jonathanolson commented on #464
@jbphet is able to reproduce failure. It tends to show a "unable to drop a dragged thing" icon in that case. Chrome on Win7.

[2015-09-28 19:32] pixelzoom commented on #464
Since this is blocking RC testing, I added "developer-meeting" label so that we can discuss status.

[2015-09-29 16:46] pixelzoom commented on #464
9/29/15 dev meeting:
• IE: waiting on testing feedback, see https://github.com/phetsims/tasks/issues/380.
• Chrome: issue still happens occasionally, can't find a way to totally fix it (looked at a lot of sources), best we can do for now.  Expected to be fixed in the browser at some point because there's a Chromium issue.
• Safari: seems to be totally fixed
• Firefox: was never a problem
• @jonath

[2015-09-29 16:58] pixelzoom commented on #464
@jbphet tested on iPad2 and it works in iframe.

[2015-09-29 18:16] orejolaphet opened #472 "iFrame does not work iPad iOS 8.3"
Testing for issue https://github.com/phetsims/tasks/issues/380
iframe http://www.colorado.edu/physics/phet/dev/olsonjb/friction_en-iframe.html does not work on iPad iOS 8.3. Screen starts with the PhET loading then changes to a white screen that fills the web page.
![image](https://cloud.githubusercontent.com/assets/5631059/10173857/c780d8ca-66a3-11e5-8bb0-98b8d0142264.png)

[2015-09-29 18:36] orejolaphet commented on #464
Issue still occurs consistently on http://www.colorado.edu/physics/phet/dev/olsonjb/friction_en-iframe.html
as before on Windows 7 IE 10.0.920017357

[2015-09-29 19:22] jonathanolson commented on #464
Understood, the latest version that needs testing are these links:

[2015-09-29 20:14] jonathanolson commented on #472
It's my hypothesis that any sim with a 'DOM' element will probably fail this way, since we need to add a large container to the DOM temporarily.

The online recommendation (since iOS Safari seems to rescale the iframe to match the 65535x65535 dimensions) is to use scrolling="no" on the iframe, and this seems to resolve the issue for me.

@orejolaphet, are you able to test http://www.colorado.edu/p

[2015-09-29 20:24] orejolaphet commented on #472
Nice! http://www.colorado.edu/physics/phet/dev/olsonjb/friction-iframe-test/iframe-test3.html  Looks fixed on iOS 8.3 & iOS 9
Should note problem still occurs on  http://www.colorado.edu/physics/phet/dev/olsonjb/friction-iframe-test/iframe-test4.html

[2015-10-01 02:29] jonathanolson commented on #464
I'm not sure if it's possible to solve this issue in IE10. This issue has been discussed in https://code.google.com/p/chromium/issues/detail?id=269917 and https://github.com/mbostock/d3/issues/1099 (for Chrome/Google Maps and Concord sims), and I haven't been able to find evidence (besides the comment https://github.com/mbostock/d3/issues/1099#issuecomment-14271005) that it's possible.

Notable ex

[2015-10-01 14:45] ariel-phet commented on #464
@jonathanolson sounds good to me, thanks for your work on fixing!

[2015-10-01 15:35] jonathanolson commented on #472
Thanks! Yes, iframe-test4.html does not include scrolling="no", but another method that I found didn't work.

Since this fix would require people using our "embed" iframe HTML with scrolling="no" (not just a plain vanilla iframe), I'd like to discuss it at the developer meeting to see whether it is acceptable. Notably, the iframe template now looks like:
[code]

[2015-10-01 18:02] pixelzoom commented on #472
10/1/15 dev meeting:
• this is a problem with any sim that contains a DOM element
• this is specific to mobile Safari
• `scrolling="no"` seems to work
• we can specify what needs to be in the iframe tag

TODO:
• add to `sim-iframe.html` template (done by JO)
• test to see if this causes problems on other platforms (as part of https://github.com/phetsims/tasks/issues/375)
• change the embed snippet

[2015-10-01 21:57] pixelzoom commented on #472
Assigning to @aaronsamuel137. When this has been verified in the context of https://github.com/phetsims/tasks/issues/375, changed the "embed" HTML snippet on the website. See checklist above (https://github.com/phetsims/scenery/issues/472#issuecomment-144802216).

[2015-10-05 15:41] jonathanolson commented on #323
https://github.com/mattdesl/svg-mesh-3d looks like it's able to handle paths with holes, and has lots of options. MIT license.

Another option would be to use Loop-Blinn implicit equations (http://www.msr-waypoint.net/en-us/um/people/cloop/LoopBlinn05.pdf), but it would presumably require a single draw pass for each path.

Plan to investigate.

[2015-10-06 03:30] jonathanolson commented on #467
Implemented and tested, let me know if there's anything else.

[2015-10-06 15:33] pixelzoom commented on #467
I don't see the constructors signatures enumerated in the doc, as decided in https://github.com/phetsims/scenery/issues/467#issuecomment-142999972.  They appear as inline comments in the constructor, but I believe the decision was to consolidate them in the constructor doc.

[2015-10-07 20:08] jonathanolson opened #473 "[branch] color-property"
For https://github.com/phetsims/scenery/issues/471, plan to close after automated testing.

[2015-10-07 20:10] samreid commented on #473
Automated testing may be compromised due to qhint missing files I removed from chipper.  I've marked this issue for discussion in https://github.com/phetsims/chipper/issues/373

[2015-10-07 20:12] jonathanolson commented on #473
I assume chipper's test-server won't be affected, since it only relies on the build to do linting?

[2015-10-07 20:13] samreid commented on #473
Yes, I believe that is correct.

[2015-10-07 23:05] jonathanolson commented on #471
Require.js testing went well. Unable to test build versions due to the linter not accepting Win linebreaks. Merging into master.

[2015-10-07 23:07] jonathanolson commented on #471
Done, closing.

[2015-10-08 01:24] samreid commented on #471
The line ending rule just got removed from .eslintrc, you can run builds now if you want.

[2015-10-08 05:20] jonathanolson commented on #467
Done, can you review?

[2015-10-08 16:24] jonathanolson opened #474 "Deprecation/removal of fillColor/strokeColor"
Right now there is fillColor/strokeColor on some nodes (any type of Path or Text), but I now don't see it being used.

Its purpose was to have a lazily-computed Color that could be used for getting color components out, however with the recent Color Property support, Nodes themselves don't listen to the property (and thus we lose tons of performance if fillColor/strokeColor is accessed when the fi

[2015-10-08 16:29] pixelzoom commented on #474
+1 to remove.

[2015-10-08 16:34] samreid commented on #474
+1 to remove

[2015-10-08 18:15] samreid commented on #474
Consensus: @jonathanolson will remove it.

[2015-10-08 18:24] #474 closed

[2015-10-08 21:16] jonathanolson commented on #454
This is also an issue for cssTransform on BodyNode for GAO, see https://github.com/phetsims/gravity-and-orbits/issues/144.

CSS transforms vastly speed up performance, since most of the time is taken by a normal SVG transform triggering layout.

[2015-10-09 17:30] pixelzoom commented on #467
Implementation looks good.

I still have questions about the constructor doc. Line 40 says:

`with { ... } representing the optional Scenery-style parameter object`

Do you mean `options`? If so, I would simply replace `{...}` with `options` in the constructor signatures. As currently written, it makes me wonder if it's something other than options (which it may be.)

[2015-10-09 18:41] jonathanolson opened #475 "Proper trail handling when root node is transformed"

[2015-10-09 19:16] pixelzoom commented on #471
Reopening. When a change like this is made that has the potential to break things, test-server should be run.

[2015-10-09 19:25] pixelzoom commented on #471
Fix to beers-law-lab in https://github.com/phetsims/beers-law-lab/commit/bc26d7713d517ffe5f24ad9e3822201f9f41fad3.

[2015-10-09 21:44] jonathanolson commented on #467
Updated to ```[options]``` to indicate it's optional. Let me know if just ```options``` would be preferred (even though it makes it look required).

[2015-10-10 00:01] jonathanolson commented on #471
Completed require.js automated testing, which is what I would expect would break.

Still working on getting chipper automated testing done. npm install has been failing randomly about 30-40% of the time, so it's a ton of manual rolling things back and trying to get everything set up.

It was already broken, but I added an assertion to notice it. I'll just plan on running automated tests for sims a

[2015-10-10 03:44] samreid commented on #131
I'm using a hack in Bending Light to get around the SimpleDragHandler issues.  @jonathanolson said it is OK for now but in the future DragListener could make things much nicer.

[code]

[2015-10-10 03:45] samreid commented on #218
I'm dealing with circumstances like the above in Bending Light, by forwarding events to another listener, I'm having to hack the event.currentTarget like so:

[code]

[2015-10-10 08:46] jonathanolson commented on #406
Important for performance in https://github.com/phetsims/beers-law-lab/issues/112, bumping up to 'very high' priority on my list.

[2015-10-10 08:47] jonathanolson commented on #373
Current accessibility approach just embeds a sub-Display that is able to render arbitrary nodes, instead of packing it into the instance tree.

This type of approach would probably be better long-term, but I'm bumping priority to "medium".

[2015-10-10 08:49] jonathanolson commented on #454
Bumped to high priority, I have run into 3 sims in the last two weeks where this is preventing the use of CSS transform optimizations.

[2015-10-10 08:50] jonathanolson commented on #404
Tested performance seems good with this approach, and no-one has complained about screen-switching speed (way faster to re-add to DOM than recreate instance tree). Closing.

[2015-10-10 08:50] #404 closed

[2015-10-10 08:54] jonathanolson commented on #360
This is actually a duplicate of https://github.com/phetsims/scenery/issues/431 (fixed), closing.

[2015-10-10 08:54] #360 closed

[2015-10-10 08:58] jonathanolson commented on #402
Dropped to medium priority.

[2015-10-10 09:04] jonathanolson commented on #473
Removed branch as it's merged into master.

[2015-10-10 09:04] #473 closed

[2015-10-10 09:06] jonathanolson commented on #441
Removed branch, everything was merged into master.

[2015-10-10 09:06] #441 closed

[2015-10-10 09:06] jonathanolson commented on #432
Closed branch, everything was merged into master.

[2015-10-10 09:06] #432 closed

[2015-10-12 16:12] pixelzoom commented on #471
I don't see any associated issues created. Was the only related problem with beers-law-lab?

[2015-10-12 16:21] pixelzoom commented on #467
:+1: Closing.

[2015-10-12 16:21] #467 closed

[2015-10-12 18:34] jonathanolson commented on #461
Current additional plan:

- Mouse/touch interaction with a focusable node will focus it.
- If focus changes due to a mouse/touch interaction, hide the focus highlight until other keyboard activity (e.g. spacebar/tab/etc.)
- We want pressing key down, tabbing away, tabbing back, key up to fire a button (like how mouse/touch events work).
- keydown/keyup go to the currently focused trail (bubbling)

[2015-10-13 04:49] jonathanolson commented on #471
The only assertion failure for this found (not covered up by other assertion issues) was in beers-law-lab.

[2015-10-13 15:14] pixelzoom commented on #471
Great, thanks. Closing.

[2015-10-13 15:14] #471 closed

[2015-10-13 15:35] samreid commented on #454
An update on Bending Light, with other changes, performance seems to be "good enough" without cssTransforms, so I'm proceeding without it for now in that sim.

[2015-10-13 16:12] pixelzoom commented on #406
Prerequisite for redeploying sims. And this will need to be handled on a case-by-case basis in sims. @jonathanolson will provide guidance on where/how to apply this hint.

[2015-10-13 16:15] pixelzoom commented on #406
Discussed more at 10/13/15 dev meeting... This has been an issue since we cut over to scenery 0.2, and is not something new that was caused by the "iframe preventDefault workaround" in phetsims/beers-law-lab#112. So we don't need to address this for S2015R.

[2015-10-14 22:56] samreid commented on #451
Issue noted in Molarity:

![image](https://cloud.githubusercontent.com/assets/679486/10500291/4d991d22-7294-11e5-8ca1-d564fd641f1b.png)

Firefox 41.0.1 on OS X 10.11.1 (beta)

[2015-10-15 01:35] samreid opened #476 "Safari sometimes shows the wrong cursor"
I have got OS X Safari to show both the arrow cursor and the text editor cursor when it should be showing the hand.  I discovered this during Molarity RC testing.

![cursor](https://cloud.githubusercontent.com/assets/679486/10502550/7a914afa-72aa-11e5-8f48-aa031b0f3997.gif)

I'm using Safari 9.0.1 (11601.2.4) on OS X 10.11.1 (beta).  This seems like a low priority issue but I just wanted to point

[2015-10-15 01:42] jonathanolson commented on #476
Seems probably related to https://github.com/phetsims/scenery/issues/464. Did you do a "right click" in that sequence?

I'd be curious what happens if preventDefault is called also, or instructions to reproduce.

[2015-10-15 15:45] pixelzoom commented on #476
+1 for instructions to reproduce.

[2015-10-15 15:52] pixelzoom commented on #451
@samreid wrote:

Likely that @samreid is testing 1.2.0-rc.2, but also present in master.

@ariel-phet FYI, this issue is still outstanding for all sims, and there's no current workaround.  And @jonathanolson has submitted a report to Mozilla. My recollection is that we decided to live with this issue until it's fixed in the browser.

[2015-10-15 16:15] ariel-phet commented on #451
@pixelzoom that was my understanding, basically waiting for browser to fix.

[2015-10-15 17:42] oliver-phet commented on #476
My Safari also exhibited this behavior. No special instructions... just click the slider.
![molarity_safari_cursor](https://cloud.githubusercontent.com/assets/5090275/10522310/c8c0d5ba-7331-11e5-91dd-dc1221da04e2.gif)

[2015-10-15 17:58] jessegreenberg opened #477 "Weird text rendering in Safari"
Safari will sometimes exhibit strange rendering of text.  I found this in the review of trig-tour, issue https://github.com/phetsims/trig-tour/issues/58.  The issue was found with iPad2, iOS 8.2, and verified with Curie.

![angle_equals_rendering](https://cloud.githubusercontent.com/assets/6396244/10522506/b790209c-7332-11e5-8c63-a5ae91004fbb.PNG)

I believe that this has something to do with conc

[2015-10-15 18:05] pixelzoom commented on #477
I tried on Safari 9 desktop, and didn't see the problem, so hopefully it's specific to iOS.

Can it be reproduced on iOS 9?

[2015-10-15 18:21] pixelzoom commented on #464
Still a problem on OS X + Safari, see https://github.com/phetsims/hookes-law/issues/32.  Noticed in both Molarity 1.2.0-rc.2 and Hooke's Law 1.0.0-rc.2.

[2015-10-15 18:28] pixelzoom commented on #477
Have you seen this with any strings other than 'angle =' ?  The implementation of that specific bit looks suspiciously complicated, see ReadoutNode.js, lines 128-148.

[2015-10-15 18:31] jessegreenberg commented on #477
I verified the issue with Curie, OS X 10.10.4, but I have not tested with iOS 9.  I will take another look at those lines.

[2015-10-15 18:45] pixelzoom commented on #477
What/who is Curie? Just curious...

[2015-10-15 18:55] jessegreenberg commented on #477
Sorry, Curie is the name of an PhET test machine with OS X 10.10.4.  The issue happens with other strings.  For example,

[code]

results in

![img_0045](https://cloud.githubusercontent.com/assets/6396244/10524260/f653a6e2-733b-11e5-881e-83f817106303.PNG)

[2015-10-15 19:34] jessegreenberg commented on #477
Reproduced in another context, example sim with iPad2, iOS 8.2

[code]

![img_0046](https://cloud.githubusercontent.com/assets/6396244/10525337/658c9d84-7341-11e5-889b-aa8d994e74de.PNG)

Seems to occur intermittently, had to refresh once for the issue to occur.

[2015-10-15 22:41] jessegreenberg commented on #477
I did not see issue #469, this is a duplicate with that issue.  I will move some comments there. Closing.

[2015-10-15 22:41] #477 closed

[2015-10-15 22:50] jessegreenberg commented on #469
I ran into this issue with trig-tour and documented some thoughts in #477.

I think this is caused by string concatenation with translatable strings.  In GAO above a comma is concatenated with 'Gravity',

[code]

Maybe something with UTF8 embedded marks getting jumbled in the concatenation?  I am not too sure how those encodings work.

In the example context,
[code]
produces:
![img_0046](https://c

[2015-10-16 04:08] pixelzoom commented on #469
We recently started wrapping each string in direction formatting (see ChipperStringUtils.addDirectionalFormatting).  Is it possible that combining these strings is causing problems?

[2015-10-16 19:34] jonathanolson commented on #469
It most likely contributes to it.

@jessegreenberg, were these issues in a built sim?

[2015-10-16 21:34] jonathanolson commented on #476
Still unable to reproduce on an older Safari/OS X version. I'll update and retest.

[2015-10-16 21:44] jonathanolson commented on #476
Partial update: Safari 9 on OS X 10.9.5 also can't reproduce, OS X update downloading.

[2015-10-19 20:32] jonathanolson opened #478 "CanvasNode patterns for context state"
Currently, Scenery does not actually provide any guarantee whatsoever on the Canvas context state for a CanvasNode's paintCanvas.

This came up in Bending Light (https://github.com/phetsims/bending-light/issues/258) since the lineDash was set to a pattern from a previously-rendered Node, so that when its CanvasNode went to paint, it incorrectly displayed with a lineDash.

There are a few ways to h

[2015-10-19 20:33] jonathanolson commented on #478
Any thoughts from @pixelzoom, @aaronsamuel137, @jbphet or @jessegreenberg?

[2015-10-19 20:39] jonathanolson opened #479 "Canvas clipping and save/restore vs wrapper state"
It seems like the save() and restore() around drawables running will cause the CanvasContextWrapper state to be inaccurate after the restore(). This could cause miscellaneous bugs with incorrect line styles / fills / strokes.

[2015-10-19 22:54] jonathanolson commented on #476
Using OS X 10.11 with Safari 9.0, I can fairly reliably reproduce this. Doesn't present immediately, but usually a bit of dragging will trigger it to happen.

[2015-10-19 23:22] aaronsamuel137 commented on #478
I like the first approach too. I have never actually used the wrapper in CanvasNode except to get the context. Just using the context seems simpler and has enabled me to do everything I've needed.

[2015-10-20 15:52] jonathanolson commented on #476
Adding back preventDefault for mouseDown (which we can't do, since we're working around other bugs, see https://github.com/phetsims/scenery/issues/464) resolves the issue.

Will check for CSS options that may help us prevent this. Otherwise I didn't see any WebKit/Safari bug reports that matched, so we'd want to report the issue.

[2015-10-20 16:27] jonathanolson commented on #476
Ran into a Chrome tip (http://stackoverflow.com/questions/2745028/chrome-sets-cursor-to-text-while-dragging-why) that seems to be working:

[code]

I've tested applying it on the actual Scenery dom element (which is safer, and can be done in Scenery, not Joist), but also Joist.

[2015-10-20 16:37] jbphet commented on #478
I'm fine with the idea of passing in just the context and having us interact directly with it.  This seems much more straightforward than having our own API that is essentially a pass through.  This has the benefit that we can easily look up the various canvas options on line.

[2015-10-20 16:40] jbphet commented on #478
Consensus from 10/20/2015 dev meeting - existing sims that use CanvasNode will be modified to accommodate this change, i.e., changing the parameter for the paintCanvas call from type ```CanvasContextWrapper``` to type ```CanvasRenderingContext2D``` (which is the basic HTML5 canvas context).

[2015-10-21 14:24] pixelzoom commented on #478
+1 for this change.

[2015-10-21 18:05] jonathanolson commented on #478
Changes applied, closing.

[2015-10-21 18:05] #478 closed

[2015-10-21 19:20] jonathanolson commented on #479
Seems potentially related to https://github.com/phetsims/scenery/issues/479.

[2015-10-21 19:22] samreid commented on #479
This issue referred to itself, not sure if that was intentional.

[2015-10-21 19:25] jonathanolson commented on #479
My bad, related to https://github.com/phetsims/friction/issues/31 (the thermometer color having issues when clipping is turned on).

[2015-10-21 19:36] jonathanolson commented on #479
Commit fixes the issue. The other before/after stroke/fill save/restore pairs don't have wrapper changes in-between calls, so should be safe.

[2015-10-21 19:36] #479 closed

[2015-10-22 03:39] jonathanolson opened #480 "Add assertions to prevent paintCanvas()-style infinite loops"
Atomic Interactions was running into an infinite loop where a Scenery node was being mutated during a paintCanvas() call from a CanvasNode. This was triggering an infinite loop (since paintCanvas() should not generally make outside modifications, as it's run during a special part of Display.updateDisplay()).

I'll be adding assertions that will catch this type of behavior when it occurs, so it wil

[2015-10-22 04:08] jonathanolson commented on #480
Closing, but adding developer-meeting tag to note to developers about the freshly-documented constraints imposed on paintCanvas() and the WebGL equivalents.

[2015-10-22 04:08] #480 closed

[2015-10-22 15:47] jonathanolson opened #481 "Bending-light seemed to default to Canvas on iOS"
See https://github.com/phetsims/bending-light/issues/259 (closed since that particular bug was fixed IN Canvas, didn't figure out why it was rendering as Canvas).

[2015-10-22 17:13] jonathanolson commented on #476
I believe the above commits have fixed the issue (I can't reproduce anymore). @samreid, can you verify/close?

[2015-10-22 17:15] jonathanolson opened #482 "Firefox black visual glitch"
Tracking here, see https://github.com/phetsims/hookes-law/issues/33 for details. Seems related to SVG on Windows.

[2015-10-22 17:27] jonathanolson opened #483 "Canvas unit tests broken?"

[2015-10-22 17:59] aaronsamuel137 commented on #472
I've added this to the website, is there anywhere else that this needs to go? Assigning to @jonathanolson  for review.

[2015-10-22 18:07] jonathanolson commented on #472
Looks great, thanks!

[2015-10-22 18:07] #472 closed

[2015-10-22 21:57] jonathanolson opened #484 "Replace Util.extend with phet-core's extend"
Same implementation, basically.

[2015-10-23 06:22] samreid commented on #484
I know this is only a few lines of code, but I have a few questions about it.  Is this functionality provided by lodash?  Can we factor out the phet-core and scenery versions so we don't have 2 copies?  Why can't scenery use the phet-core implementation?  I thought scenery used inherit and hence already depends on phet-core?

[2015-10-23 07:09] jonathanolson commented on #484
Not by lodash's/underscore's _.extend, it doesn't handle copying ES5 getters/setters, but instead calls the getter implicitly. I checked, and in Lodash, it's an alias to _.assign, which mirrors behavior from the ES5 Object.assign. The equivalent with Lodash's version OR Object.assign:
[code]

That is the sole reason for this issue (meant to replace usage of Util.extend with phet-core's extend, sin

[2015-10-23 15:22] samreid commented on #484
That makes perfect sense, thanks!

[2015-10-23 17:48] samreid commented on #476
I can still get an arrow pointer by doing the following:

1. right click to get a popup menu
2. mouse over the slider knob (it is currently an arrow)
3. press on the slider knob (menu disappears)
4. drag the slider (arrow remains)

In my opinion, this is not a significant issue that we need to solve, and I haven't seen the text cursor in my testing.

[2015-10-24 06:14] jonathanolson commented on #481
Solved this heisenbug, but notes for tracking it down and reproducing below:

This bug only happens when the Safari web inspector is not open (via a tether). You don't have to disconnect the tether, loading a new tab that isn't inspected is sufficient to cause it.

Relevant code snippet from Instance.js, with debugging code temporarily added:
[code]

Code snippet after going through build & uglify

[2015-10-24 06:16] jonathanolson commented on #481
Also thanks to @samreid for helping out, and proving I wasn't going crazy.

[2015-10-24 07:09] jonathanolson commented on #469
First of all, I'm unable to reproduce in OS X 10.11.

Second, for the mentioned strings:
[code]
It seems like the colon should be included as part of the translatable string. You don't want the colon appearing on the wrong side of the text (for RTL, which it would here presumably), and the translator generally should have the flexibility.

Can you try testing on an OS X 10.11 device (Safari 9.0 11

[2015-10-26 15:22] aaronsamuel137 commented on #469
I've removed the concats with colons and that seems to fix it. I haven't updated to 10.11 yet, so I can't test easily. I'll let you know when I update and try to test it then.

[2015-10-26 20:34] jbphet opened #485 "branch: beaker-1.1-prevent-default"
This branch was created to support a release of the "Beaker" simulation with a fix for issues related to embedding the simulation in an iframe, see #464.  The branch was needed because simply updating to a version of Scenery that included the fix proved to be untenable, since it pulled in a lot of other new code that broke other older common code (e.g. Joist).

[2015-10-26 20:37] jbphet commented on #485
This branch can be removed when we are no longer supporting version 1.1 of the Beaker simulation.

[2015-10-26 20:38] samreid commented on #485
One alternative we didn't discuss earlier would be to make a scenery branch that includes the necessary fix, and leave everything else alone (as much as possible).  Not recommending you change course, just providing options in case they are helpful.

[2015-10-26 20:39] samreid commented on #485
Oh it looks like you did create a scenery branch after all: https://github.com/phetsims/scenery/issues/485

[2015-10-27 15:55] pixelzoom commented on #469
Any ideas as to why the concat with colons is causing this problem?

[2015-10-27 16:05] jonathanolson commented on #469
The colons are outside of the embedding marks. Notably, this would also mean it would be on the "wrong" side of RTL text, but it's likely needed to trigger the bug.

[2015-10-27 17:17] jonathanolson commented on #250
Also, we may want to look into initialWidth/initialHeight handling for this, as it could solve many of our problems.

[2015-10-27 18:18] pixelzoom commented on #469
So is there a general recommendation or general fix to be gleaned from this?

[2015-10-27 18:22] jonathanolson commented on #469
Not yet, I was unable to reproduce on the latest OS X, so I'm waiting on confirmation for whether it happens there from another person before investigating workarounds/fixes.

@pixelzoom, are you using OS X 10.11, and willing to test?

[2015-10-27 18:36] pixelzoom commented on #469
I'm still on OS X 10.10.5.

[2015-10-27 18:52] samreid commented on #469
I'm on 10.11.1. How do I test?  Roll back the change above?

[2015-10-27 18:59] jonathanolson commented on #469
Yup.

[2015-10-27 19:05] samreid commented on #469
What I did:
1. check out gravity and orbits https://github.com/phetsims/gravity-and-orbits/commits/2a852a6aebac3fa3b31be63d95ba6533a2c77d10 (from 2 days ago)
2. Run in requirejs mode
3. Notice that control panel seems normal in Chrome
![image](https://cloud.githubusercontent.com/assets/679486/10769336/36f9983c-7cab-11e5-8e17-185ffef5c94c.png)
4. Notice that control panel seems normal in Safari:
![

[2015-10-27 19:36] jonathanolson commented on #469
@aaronsamuel137, were there any other steps to reproduce that @samreid and I are missing to reproduce? Otherwise it seems fixed, and we could consider closing the issue.

[2015-10-27 19:41] aaronsamuel137 commented on #469
I can reproduce on 10.10.5 by changing line 62 in SpaceObjectsPropertyCheckbox to read:

[code]

Probably any other situation where you are concatting 2 different required strings would reproduce equally as well.

[2015-10-27 20:15] jonathanolson opened #486 "Regression: display partially frozen during animation [iPad 3]"
See https://github.com/phetsims/faradays-law/issues/69 for details. While moving the bar magnet (while field lines are enabled), it seems that the light-bulb display is completely frozen. When the magnet is released, the light-bulb suddenly starts animating again.

Test device: iPad 3, Disessa

Operating System: iOS 9.0.2

Happens with 1.1.0-rc.1, but NOT with the live website version.

[2015-10-27 20:25] jonathanolson commented on #486
Tethered inspection shows the SVG group transformation not changing UNTIL the magnet is released:

![screen shot 2015-10-27 at 2 24 56 pm](https://cloud.githubusercontent.com/assets/480878/10771480/9c61d846-7cb6-11e5-8879-209fff5296f1.png)

[2015-10-27 20:29] jonathanolson commented on #486
Also visibility stays stuck (display: none).

[2015-10-27 20:33] jonathanolson commented on #486
Tethered inspection on iPad 2 (which doesn't have the issue) shows immediate group transform changes (and display:none goes away).

[2015-10-28 20:04] jessegreenberg commented on #469
@jonathanolson, I am not able to reproduce in a built sim, only requirejs.

This is what I am finding as well for requirejs.

[2015-10-28 20:08] jessegreenberg opened #487 "Should SimpleDragHandler.dragListener cancel on reset?"
The issue was first discovered in a dev test of phetsims/charges-and-fields#20.  After pressing the reset button, the drag listener in SimpleDragHandler is not canceled. For multi-touch, this creates an issue where the dragged item will snap to the pointer if the pointer does not release after 'reset' is called.  For instance, to reproduce with the HSlider thumb:

1) Drag the thumb to any position

[2015-10-28 20:30] jessegreenberg commented on #487
@jonathanolson just pointed me to an open issue https://github.com/phetsims/scenery/issues/218 which this seems to  be a duplicate of.  Closing.

[2015-10-28 20:30] #487 closed

[2015-10-28 20:37] jessegreenberg commented on #218
phetsims/charges-and-fields#20 deals with this as well. That sim specifically runs into Example 1 above while dragging the meters:

[2015-10-29 22:27] jessegreenberg opened #488 "Text 'dimming' with quick mouse movements in OSX 10.11 FF 41.0.2"
This issue came out of RC testing of molecules-and-light version 1.1.0-rc.4 (phetsims/molecules-and-light#126).

When the mouse moves quickly over text elements, the text will 'dim'.  Behavior is captured in this cast: https://drive.google.com/file/d/0B3HJopSo_QqLRFplUnVzTVA1Wlk/view?usp=sharing.

No text distortion, it just looks like the weight of the text is changing.  By this description, soun

[2015-10-30 03:20] jonathanolson commented on #486
Sim-specific issue, see https://github.com/phetsims/faradays-law/issues/69. Closing.

[2015-10-30 03:20] #486 closed

[2015-10-30 05:28] jonathanolson commented on #469
Currently I'm just not able to reproduce it consistently enough here (2 reproductions in iOS 9.1 in ~50 attempts) to debug it much further. I searched again and didn't see any related reported bugs.

@jessegreenberg or @aaronsamuel137, are either of you able to consistently reproduce this, to a point where it takes <5min to have a high chance of triggering the bug?

[2015-10-30 15:01] aaronsamuel137 commented on #469
I can reproduce with the method described in https://github.com/phetsims/scenery/issues/469#issuecomment-151620928. It usually works right after I open Safari, though you are right that it doesn't happen 100% consistently if I keep refreshing. However, Safari requireJS mode seems to have much larger issues than this for me: see https://github.com/phetsims/gravity-and-orbits/issues/159. These issue

[2015-10-30 20:31] jonathanolson commented on #483
Increased a threshold on one test, will need to test on other browsers.

[2015-11-09 19:24] jonathanolson commented on #323
Looks like it's fully node.js-bound. I think the loop-blinn route (or triangulation) would be the route to go.

[2015-11-09 20:23] jonathanolson opened #489 "Apply Path boundsMethod to initial Shape in constructor options call"
So:
[code]
should apply the boundsMethod before setting the Shape.

[2015-11-09 20:28] #489 closed

[2015-11-10 21:14] #484 closed

[2015-11-10 21:15] jonathanolson commented on #483
Passing.

[2015-11-10 21:15] #483 closed

[2015-11-10 21:29] jonathanolson opened #490 "Use Emitter (or a variant) instead of Events"
At least for Instance, but also consider Node changes.

Expecting something like

[code]

instead of

[code]

If converting Node, may need to keep in place some compatibility with the old Events API, and find places which were relying on Node "extending" Events.

[2015-11-10 21:32] jonathanolson commented on #490
Adding developer-meeting tag to get approval for changes. It will be a beneficial refactoring for Scenery itself, and will increase performance.

[2015-11-10 21:42] samreid commented on #490
This sounds good to me.

[2015-11-10 21:53] jonathanolson commented on #457
It looks like KaTeX is working excellently. It pretty much works out-of-the-box with Scenery's DOM display support, although Scenery doesn't seem to properly detect the vertical bounds (blue part is where it thinks the formula is):
![katex-1](https://cloud.githubusercontent.com/assets/480878/11076906/9a52f5b2-87ba-11e5-84e9-2bb9c7a973e1.PNG)

Seems fast to update, and suitable for fully dynamic fo

[2015-11-10 22:00] jonathanolson commented on #457
The span with 'katex-html' has a very accurate getBoundingClientRect() in Chrome. Will presumably need to test browser support to see if we can consistently grab that element and get correct bounds.

[2015-11-10 22:45] jonathanolson commented on #457
Self-contained they said. Easy to bundle they said.

It makes the following woff/woff2 (web font file) requests:
![katex-requests](https://cloud.githubusercontent.com/assets/480878/11078150/3e2683ce-87c1-11e5-9e15-69fb202d542f.PNG)

Without the fonts:
![katex-before](https://cloud.githubusercontent.com/assets/480878/11078153/4ae2e88c-87c1-11e5-9e23-61d88abc091f.PNG)

With the fonts:
![katex-after]

[2015-11-11 01:14] jessegreenberg opened #491 "Disposal of AccessibleInstances not working as expected"
While outfitting joist/HomeScreenView with accessible content, it was determined that accessible instances are not being properly disposed.  A branch in joist was created called accessible-instance which holds the breaking accessible content in HomeScreenView.

Discussion with @jonathanolson has lead us to believe that accessible instances are not being properly disposed on node removal.  In ```no

[2015-11-11 01:15] jessegreenberg commented on #491
From the above code block, it seems that the root node does not have the rooted displays that we are expecting.

[2015-11-11 19:29] jonathanolson commented on #457
http://caniuse.com/#feat=woff indicates we'd be OK just including the woff files. http://caniuse.com/#feat=woff2 shows we can't just rely on woff2, and we don't want to ship two versions.

[2015-11-11 23:02] jonathanolson commented on #457
Looks like embedding is working well. We'll want to probably customize the embedded font files based on a sim's needs, and we'll probably have most sims with the same needs.

Testing:
![katex-no-bounds](https://cloud.githubusercontent.com/assets/480878/11105624/59fc7aaa-888d-11e5-8ca2-7994c364d298.PNG)

Though still having issues with bounds:
![katex-before-bounds](https://cloud.githubusercontent.

[2015-11-11 23:12] jonathanolson commented on #457
It's possible to trigger loading of webfonts, and use something like https://github.com/JenniferSimonds/FontDetect to poll for when it's loaded (inspects width to see if it changed).

[2015-11-11 23:14] jonathanolson commented on #457
More about detecting changes, with metric-compatible fonts: http://blog.typekit.com/2013/02/05/more-reliable-font-events/

[2015-11-12 06:16] jonathanolson commented on #457
Adding developer-meeting tag to decide on code review and/or briefly discuss the generation of sherpa preload files.

[2015-11-12 19:52] jbphet commented on #490
Consensus at 11/12/2015 design meeting - Yes, we should move forward with this.  @jonathanolson will do it, and will update existing simulations to use this style once it's ready. This will also require the ability in some cases to observe when listeners are added or removed from a given emitter so that it can efficiently validate bounds.

[2015-11-13 05:38] jonathanolson commented on #491
In the add/remove children locations, we were finding all trails rooted at a display and ending at the added/removed node, but we forgot to filter out trails where the added/removed node's parent didn't match the node addChild/removeChild was called on.

Applied fix in commit above, can you confirm and close? (And then presumably merge the joist branch into master? I applied a lint fix to that bra

[2015-11-13 19:09] jonathanolson opened #492 "Canvas renderer under Backbone from clipping is incorrectly visible"
Problem reported from https://github.com/phetsims/ph-scale/issues/64

It looks like the visibility tracking system assumes the BackboneDrawable will be invisible, but the div is visible.

Tackling at high priority.

[2015-11-13 19:29] jonathanolson commented on #492
Watching DOM changes reveals that whenever a stitch has to create the Backbone to handle clipArea, and that whenever it wraps the Canvas in a backbone, it does not properly set visibility.

The wrapping-unwrapping at the DOM level happens because the clipArea switches between null (when the fluid has 0 volume) and a clip rectangle (non-zero volume). Workaround where the clipArea never goes null pr

[2015-11-13 19:35] jonathanolson commented on #492
Looks like the Backbone's update() is called and the Backbone's own visibility is true while the Instance's visibility is false. The filterRootAncestor is the MicroView, so the Backbone should be responsible for applying the visibility.

[2015-11-13 19:41] #492 closed

[2015-11-13 23:44] jessegreenberg commented on #457
I am noticing two things as I test this in trig-tour:

1) As I understand it, katex-0.5.1-css-all.js expects the third party third party libraries in the *body* of the top level html file.  This will require us to place third party libraries in the body of the top level html file for all sims.  I am not sure if this is an issue.  We could also just do this for sims that require FormulaNode, but I

[2015-11-14 01:06] jonathanolson commented on #457
Yup, that's basically what https://github.com/phetsims/chipper/issues/63 does (made commits for this ~3 hours ago).

Perhaps, I'll look into it (assigning to me). If so, FormulaNode should handle stripping those characters out that won't work.

Looks great to me.

[2015-11-14 01:26] jonathanolson commented on #457
Checked master of KaTeX, saw https://github.com/Khan/KaTeX/commit/d423bec08921b293e0beecaa718226e310ba3ef9, which revealed https://github.com/Khan/KaTeX/issues/243 (related bug).

It looks like the 0.5.1 release doesn't have those improvements, which look like they will explicitly handle treating the bidirectional characters for text (it's within the unicode character ranges in the new regex).

I'

[2015-11-14 05:15] jonathanolson commented on #457
After further testing, KaTeX won't handle anything that isn't included in its fonts, even disallowing certain latin-accented characters much less arbitrary Unicode. Master just seems to fix the lexer, not the general behavior. See https://github.com/Khan/KaTeX/issues/15 (still open).

For now, we'll just need to not make them translatable (as translators could easily make incompatible strings).

A

[2015-11-17 07:26] jonathanolson opened #493 "LayoutBox quadratic behavior with children"
Due to how layout() is processed, it can re-center ALL added children when another child is added (instead of centering the new child at the current center). Is this desired?

The following code adds 100 rectangles, but things are transformed 5048 times:
[code]

[2015-11-17 16:16] samreid commented on #493
I do not know whether any clients are currently making assumptions about the origin of LayoutBox subclasses.  It would be great to get a performance boost here, if possible.

[2015-11-17 16:43] jonathanolson opened #494 "HTMLText/DOM bounds measurement of block-level elements"
It's causing long-term issues with multi-line text, etc.

[2015-11-17 17:17] samreid commented on #493
Meeting consensus:
@samreid wonders how many sims would break if we changed this
@jonathanolson wonders how much performance might improve if we changed this
@jbphet and @pixelzoom like the location of the current origin (top-left corner of bounding box).  Should only violate this convention if there is a big performance problem, or something that makes layout particularly easy (like having the ce

[2015-11-17 17:17] #493 closed

[2015-11-17 17:29] jonathanolson commented on #457
From testing issue:

Square root testing issue: https://github.com/phetsims/tasks/issues/425#issuecomment-157080541

Vertical lines issue: https://github.com/phetsims/tasks/issues/425#issuecomment-157110752

[2015-11-17 17:30] pixelzoom commented on #469
What's the status of this? Since GAO is close to completion...

[2015-11-17 18:06] jessegreenberg commented on #469
Still able to reproduce with some consistency on an iPad2 iOS 8.2.  It occurs about 1/3 of the time after sim reload.  This is only for requirejs, I still cannot reproduce in a build sim.

I notice the comment above https://github.com/phetsims/scenery/issues/469#issuecomment-142472759

This issue seems persistent but of low priority.

[2015-11-17 18:39] jessegreenberg opened #495 "Use setAccessibleContent instead of the ES5 setter for accessibility"
@jbphet recently pointed out that the ES5 setter for accessible content looks confusing in common code.

For instance,
[code]
looks like its creating a public object in the constructor instead of calling
[code]
of scenery/nodes/Node.  For common code at least, I should go through and change accessibility code to use ```setAccessibleContent( value )``` directly instead of the ES5 setter to avoid fu

[2015-11-17 19:10] jonathanolson commented on #495
I'd recommend against this. It's the same argument as:
[code]

I've never heard anyone recommend we replace that with:
[code]

[2015-11-17 19:59] samreid commented on #495
Like @jonathanolson I was also wondering about the wider implications of this particular decision and consistency with our other conventions.

[2015-11-17 21:02] jessegreenberg commented on #495
Understood.  If the changes deviate from overall consistency, I am happy to defer.  It was the source of some confusion which is why I made the issue.  Adding some documentation would rectify this as well.

[2015-11-17 21:19] samreid commented on #495
It also seems like methods also have built-in protection against typos.  For instance:

[code]

Perhaps that hasn't been an issue before?

[2015-11-18 19:18] jessegreenberg commented on #450
Commit 36724b3f53f82bf5c1161d334ae235b5b9959367 is the beginning of a new prototype for accessible content.  Elements of this prototype are general, but specific to FAMB.

After testing with various devices, we are quickly finding that behavior of accessible content is highly platform specific.  Depending on the browser, this can include quirky or even broken behavior.

It seems helpful to revisit

[2015-11-18 19:26] samreid commented on #111
@kathy-phet reminded me that we wish to have pointers displayed during input event playback, and I wanted to check in on the status of this issue.  @jonathanolson what is the status?  What is your current recommendation for how to proceed?

[2015-11-18 19:44] jonathanolson commented on #111
Your original implementation seems to be working, just add ?showPointers.

It's different if you want to store pointer locations as a function of time, in addition to the Scenery events. You only need the Scenery events in order to show pointer locations.

[2015-11-18 22:13] pixelzoom opened #496 "validate the type of children"
`scenery.Text` and `scenery.Image` have name collisions with `window.Text` and `window.Image` respectively.  If you forget to `require` one of those scenery types, you may see a runtime error like (for example):

[code]

It would be nice if this could be detected at an earlier point, and a better error message provided, instead of just failing at some later point that's difficult to grok.

Yes, yo

[2015-11-19 17:37] jonathanolson commented on #494
It looks like we can wrap elements so that we can measure their bounds without taking them out of the display:
[code]

When we check offset* (e.g. offsetWidth) on the inline-block element, it will ignore exterior CSS transforms AND will basically cause the div to be fitted "inline" so we can actually measure its width.

Note that we'll need a different way of measuring bounds when the DOM element

[2015-11-19 17:52] jessegreenberg commented on #491
The fix above is working perfectly, thanks very much @jonathanolson.  Merged changes with joist master including the accessible content and the mentioned lint fix.  Accessibility tree is correctly updated on node removal, closing.

[2015-11-19 17:52] #491 closed

[2015-11-19 19:09] jessegreenberg commented on #457
Agreed, it seems like it would be too easy for translators to add a breaking TeX string.

Other general code review comments:
* It took some investigating to understand that third party libraries needed to be added to the top level html file *and* the package.json.  This is likely the general process for third party libraries, but this was the trickiest part to me so I thought I would comment.

*

[2015-11-19 19:31] jessegreenberg commented on #495
Consensus at 11/19/15 developer meeting: Continue to use the ES5 setter for accessibleContent with the understanding that will eventually get familiar with ```this.accessibleContent = ``` calling the setter. Closing.

[2015-11-19 19:31] #495 closed

[2015-11-20 15:26] samreid opened #497 "Review Pixi accessibility"
Pixi.js, a popular canvas/webgl renderer just introduced accessibility support, please see: http://www.goodboydigital.com/pixi-becomes-accessible/

I think it would be beneficial to look at what support they provide and what decisions they made regarding implementation, in so far as it may inform our accessibility support.

@jessegreenberg do you have time to take a look?

[2015-11-20 16:21] aaronsamuel137 commented on #469
I am going to close this since it doesn't seem worth spending time investigating as it doesn't affect built sims. If you want to look into it more @jonathanolson feel free to reopen.

[2015-11-20 18:04] jessegreenberg commented on #497
Good find!  I will take a look at this today, looks interesting.

[2015-11-21 00:17] jessegreenberg commented on #450
In the commit above, I added scripting and a live region to the accessibility prototype.  In forms mode, NVDA behaves well with Windows 7 and Chrome.  Will need to verify with other known platforms that have been exhibiting issues.

[2015-11-25 20:07] jessegreenberg commented on #497
From the article posted above, Pixi implemented something much like our parallel accessibility DOM!

From the code, It looks like HTML buttons are dynamically generated for every interactive Pixi element when accessibility is activated for the application.

It looks like Pixi does not yet have broader support for accessibility other than the button interface.  For instance, Pixi does not support i

[2015-11-27 02:02] terracoda commented on #450
Hi Jesse, Sam, Jonathan and others,
I've created what I think might be a solid starting point of an HTML parallel-DOM structure for Balloons and Static Electricity.

I've focused on semantic HTML, I've used the landmarks: header, main, footer and nav. Section elements with headings are used as containers for the Play Area and the Control Panel.
I've associated the labels and descriptions with some

[2015-11-27 02:20] terracoda commented on #450
Hi again, BTW, this new PDOM for Balloons and Static Electricity is an iteration on my first go around that Sam posted above back in August 13.
In this new iteration I have a much better understanding of the aria attributes I have employed.
FYI, I've used duplicate ARIA and HTML semantics. This is a judgement call.
Taliesin

[2015-11-28 15:40] samreid commented on #450
I'm not sure how to share it with you folks. Any tips?

Since the github repo is public, we should be able to use that to access the file and its history:
https://github.com/terracoda/experimental-play/blob/master/balloons-pdom.html

I tested the link http://terracoda.ca/experimental-play/balloons-pdom.html with VoiceOver in Safari and Chrome and had some questions.  The text says:

Is this suppor

[2015-11-28 18:14] terracoda commented on #450
@samreid,
The P-Dom I created is just a snapshot of the very basic sim on page load.
The interactions are not part of the P-DOM prototype.
The actual Keyboard Help menu is not implemented yet. @jessegreenberg has  begun some implementation on Balloons and Static Electricity, but I am not sure where it is at. In our first iteration, I created a "Balloon Interactions" Menu. I think @jessegreenberg s

[2015-11-30 01:18] terracoda commented on #450
@samreid @jessegreenberg I see that I did not follow your naming conventions. Sorry about that. I'll be more careful on the next iteration.

[2015-11-30 05:01] samreid commented on #450
Thanks for the explanation @terracoda!

[2015-11-30 17:16] jessegreenberg commented on #450
@terracoda, thanks for posting your prototype accessibility DOM!  I will review the landmarks and html elements you chose to represent the application interface.  I am less familiar with landmark roles so this will be very helpful.

[2015-11-30 17:22] jessegreenberg commented on #450
In https://github.com/phetsims/scenery/blob/master/accessibility/DOMPrototype.html, I have been using a new method of navigation control that uses the ```hidden``` attribute instead of ```tabindex```.

This has been useful for two reasons:
1) This restricts what the AT has access to.  Elements with  ```tabindex=-1``` can still be navigated to with screen reader controls without the ```tab``` key,

[2015-11-30 17:37] jessegreenberg commented on #450
In https://github.com/phetsims/scenery/commit/29c4c62d34fc1b29b9e6c5c7af6f5fc8fa4a3ea2#commitcomment-14671448,

@terracoda said:

For example:
<p id='rightGroupDescription' aria-live='assertive'>A rope is attached to the right side of the cart. The rope has 4 knots spaced equally along the rope. <span id="numPullers">A group of four puller people are standing near this rope.</span></p>
The rope is

[2015-12-01 04:44] samreid commented on #450
I didn't know exactly what you meant by string concatenation, but it seemed like the way to internationalize and make the last sentence dynamic is with:

englishText = 'A group of {0} puller people are standing near this rope.'

and then to use StringUtils.format to internationalize.

[2015-12-01 14:55] terracoda commented on #450
@samreid @jessegreenberg
The span element has no purpose for AT. Span and div lack any semantics. I'm a front-end developer, so wrapper something in an element is one way of targeting it for JS or CSS. I like the concatenation idea way better, and yes, of course, only the number in the sentence needs to change.

[2015-12-01 15:30] terracoda commented on #450
@samreid @jessegreenberg
I tested the plain HTML Balloons-PDOM with JAWS on FF and IE. JAWS reads out the aria descriptions and labels a bit differently depending on the browser (of course - argh). After listening, I am not sure we need to use the aria-labelledby so extensively. It causes a lot of repetition. If the headings themselves are accessible, I think the description associations are enoug

[2015-12-01 16:15] terracoda commented on #450
@jessegreenberg
The PDOM for Forces and Motion Basics is looking nice.
http://doccenter.freedomscientific.com/doccenter/archives/training/jawskeystrokes.html

For buttons that do not show words or do not have text that is readable by a screen reader, you use the aria-label attribute to create an accessible label. This will be read out by AT every time. Labels are essential information. Description

[2015-12-01 16:16] terracoda commented on #450
oops the code was too real and disappeared!

[2015-12-02 01:26] jessegreenberg commented on #450
and then to use StringUtils.format to internationalize.

@samreid, thanks for the reminder.  Yes, that is the way to go for simplicity and i18n.

[2015-12-02 01:35] jessegreenberg commented on #450
[code]

In the 12/1/15 accessibility meeting, it was pointed out that description paragraphs like the one above could be navigated to with AT, *without* navigating to the button. This allows description paragraphs to be read out of context, so the description should be written with care.

It was suggested that use of good labels could make descriptions unnecessary.

As suggested above by @terracod

[2015-12-02 02:47] jonathanolson commented on #408
Bumped to high priority, as this will help out general performance AND pendulum-lab specifically.

[2015-12-04 07:03] jonathanolson opened #498 "[branch] preventFit"
For testing the preventFit performance flag feature for https://github.com/phetsims/scenery/issues/406.

[2015-12-05 23:57] samreid opened #499 "Investigate https://github.com/documentationjs/documentation"
I noticed https://github.com/documentationjs/documentation which purports to do docs for AMD style files like we have.  It also says it can infer types from source and traverse amd graphs.  Should we look into it for generating some of our docs?

[2015-12-06 00:03] samreid commented on #499
I tried running this on Node.js and got the following result, not too shabby!

![image](https://cloud.githubusercontent.com/assets/679486/11610955/04699490-9b72-11e5-8973-e4b136a254c2.png)

[2015-12-06 00:33] samreid commented on #499
By the way, I thought the Documentation that @jonathanolson demonstrated on Thursday was excellent.  My main questions in bringing up documentation.js are:
* would it provide anything that @jonathanolson doc doesn't yet support?
* would it be easy/practical to extend documentation.js with mathjax/canvas example support?
* if we extended documentation.js with mathjax/canvas, then what else would do

[2015-12-08 18:00] pixelzoom commented on #499
Might want to investigate whether AMD can coexist with ES6 modules before adding another dependency on AMD.

[2015-12-08 20:50] jonathanolson opened #500 "[branch] lazy-self-bounds"
For https://github.com/phetsims/scenery/issues/408

[2015-12-08 20:51] jonathanolson commented on #498
Was merged into master, closing.

[2015-12-08 20:51] #498 closed

[2015-12-08 23:07] jonathanolson commented on #500
Merged into master after testing.

[2015-12-08 23:07] #500 closed

[2015-12-08 23:14] jonathanolson commented on #496
Applied the assertion. Testing in the playground:
[code]
assert.js:22 Uncaught Error: Assertion failed: addChild/insertChild requires the child to be a Node. Constructor: HTMLImageElement(…)

[2015-12-08 23:15] jonathanolson commented on #496
Assigning for review, or suggestions of anywhere else this should be added (adding it as a child seems like the best place to me).

[2015-12-09 07:01] jonathanolson commented on #406
Feature complete and merged.

[2015-12-09 07:01] jonathanolson commented on #408
Feature complete and merged, closing.

[2015-12-09 07:01] #408 closed

[2015-12-09 07:11] jonathanolson commented on #454
## Check FittedBlock handling for non-root transformRootInstance

It looks like this isn't handled particularly well right now. cssTransform: true will trigger this case (see Blast), and we may force things to full-display (won't work under transform).

[2015-12-09 16:36] pixelzoom commented on #406
Question about the new query parameter, documented in initialize-globals.js:

If it's displaying the bounds of fittable Blocks, should it be named `showFittableBlockBounds`?

[2015-12-09 17:07] pixelzoom commented on #496
I tested this with `addChild` and `options.children`, and it provides a useful error message in both cases. Those are the most common methods that I use of setting children, so I'm happy.   And looks like it should also work for other functions that add a child (`insertChild`, `setChildren`).   So thanks, :+1: and closing.

[2015-12-09 17:07] #496 closed

[2015-12-09 17:24] jonathanolson commented on #406
Semantically, I currently have FittedBlock, and one of the available fit strategies is "take up the whole screen".

I'm half tempted to rename it to FittableBlock internally. Thoughts?

[2015-12-09 17:27] pixelzoom commented on #406
FittedBlock seems fine.  Maybe just change the doc of `showFittedBlockBounds` to:

`showFittedBlockBounds - Displays an overlay of the current bounds of each scenery.FittedBlock`

and let the scenery doc for FittedBlock offer further clarification?

[2015-12-09 17:28] samreid commented on #406
I think FittedBlock is still a good name, in this case it is fitted to the screen.

[2015-12-09 22:14] jonathanolson commented on #454
Fixed. Was caused by the constraint that fitted bounds not go outside of the scene's bounds (clips at 0,0). Removed this constraint for transformed fitted blocks.

[2015-12-09 22:14] #454 closed

[2015-12-09 22:16] jonathanolson commented on #412
Had difficulty trying to reproduce. Since it's browser-specific and not occurring (or being much of a problem), I'm lowering the priority.

[2015-12-09 22:19] #406 closed

[2015-12-14 17:09] jessegreenberg commented on #450
From phetsims/balloons-and-static-electricity#103, the following is a formatted copy of the accessible DOM generated for balloons-and-static-electricity.

[code]

[2015-12-15 21:25] terracoda commented on #450
@jessegreenberg, How's this for a draft version Keyboard Help. Use H1 and H2's if you put it in a modal dialog. Use H2's and H3's if you put it directly in the p-dom content hierarchy and wrap it in a section.
[code]

[2015-12-15 21:45] jessegreenberg commented on #450
This looks good Taliesin!  I will add something like this to the accessibility tree for balloons-and-static-electricity.

[2015-12-16 22:38] terracoda commented on #450
@jessegreenberg Ok, great. Thanks.

[2015-12-17 01:55] terracoda commented on #450
@jessegreenberg You do need a close button, that is true. Would this work for the dialog?
[code]

[2015-12-17 01:59] jessegreenberg commented on #450
@terracoda, exactly!  That's just what I had in mind.  In phetsims/balloons-and-static-electricity#105 I documented some possibilities to contain the content with an aria-description above a close button.

[2015-12-17 02:12] terracoda commented on #450
@jessegreenberg, the h1 has the `id="dialog1Title"` attribute. The dialog must have a label. The div dialog has the `aria-labelledby="dialog1Title"`. There is a section element that wraps everything from the first h2 to the last closing list and then the button is outside the section wrapper.

[2015-12-17 02:14] jessegreenberg commented on #450
I see, that makes sense.  Labelled by the 'h1' and described by everything under the section.

[2015-12-17 02:18] terracoda commented on #450
@jessegreenberg, actually labelledby and describedby go on the div with the role dialog and the id's go on the actual elements h1 and section. The h1 is the label and the section is the description.

[2015-12-17 02:18] terracoda commented on #450
@jessegreenberg, yes I think you got it, sorry I'm tired :-)

[2015-12-18 17:44] jessegreenberg commented on #450
The Parallel DOM currently does not behave well with JAWS and VoiceOver.  Comments from @terracoda:

I am observing very similar behavior in VoiceOver.

[2015-12-18 17:44] jessegreenberg commented on #450
This issue is getting a bit long, I am going to distribute some comments to a new issue involving parallel DOM behavior outside of the prototype.

[2015-12-18 17:49] jessegreenberg opened #501 "Investigate behavior of Parallel DOM"
From https://github.com/phetsims/scenery/issues/450, Scenery now creates a Parallel DOM that sits on top of visual elements and provides screen readers with information about the simulation for accessibility.

The DOM behaves very poorly for JAWS and VoiceOver.  There are some issues with ChromeVox as well.

We will need to investigate why Screen Readers have trouble reading the parallel DOM.  It

[2015-12-18 17:50] jessegreenberg commented on #501
The following comments are from #450.

[code]

[2015-12-18 17:51] jessegreenberg commented on #450
Radio Buttons are skipped entirely in Safari + VoiceOver.

[2015-12-18 17:52] jessegreenberg commented on #501
Radio buttons are skipped entirely in Safari + VoiceOver.

[2015-12-18 17:56] jessegreenberg commented on #501
The following is a formatted copy of the accessible DOM rendered by Scenery, verified in Chrome and Firefox (Windows 7).
[code]

[2015-12-18 18:00] jessegreenberg commented on #501
I would like to investigate what the DOM looks like, rendered in other browsers.  I would also like to see how these browsers read through the static snapshot above, outside of any other scenery related elements.

[2015-12-18 18:05] jessegreenberg commented on #501
From @terracoda, the Prototype DOM worked well with JAWS.  See https://github.com/terracoda/experimental-play/blob/master/balloons-pdom.html

[2015-12-18 18:54] terracoda commented on #501
@jessegreenberg Screen readers are strange creatures. They generally work with a copy of the DOM and not directly with it. Though in some cases they do access it directly. It's my understanding that VoiceOver doesn't work with the DOM like other screen readers. Léonie Watson sheds some light on [Accessibility APIs] (http://www.smashingmagazine.com/2015/03/web-accessibility-with-accessibility-api/0

[2015-12-18 19:50] samreid opened #502 "Update 3rd party licenses"
From Skype

[12/18/15, 12:18:52 PM] John Blanco: Sam: One of the items listed for the production deployment process is updating the list of 3rd party licenses.  I was just running into a couple of issues with this, but I'm wondering if it's really necessary because 1. Arithmetic doesn't use anything new and 2. you're probably doing to do it shortly for Bending Light anyway.  In your opinion, shoul

[2015-12-18 19:50] samreid commented on #502
Even if the dependencies haven't changed, we should (at a minimum) update the versions in the file.

[2015-12-18 19:50] samreid commented on #502
Oops wrong repo.

[2015-12-18 19:50] #502 closed

[2015-12-21 16:30] jessegreenberg commented on #501
@terracoda, thank you for providing these resources, this looks like really helpful background information.  I will read through these.

[2015-12-22 00:24] terracoda commented on #501
@jessegreenberg I've updated the static prototype DOM on my website (and github).

[2015-12-22 02:14] terracoda commented on #501
@jessegreenberg It is possible that the radios are being skipped in Safari + VoiceOver because they do not have "real" HTML labels. This is just a theory.

[2015-12-22 15:31] samreid commented on #193
In https://github.com/phetsims/bending-light/issues/335 @elisemorgan identified kerning issues in this platform:

Test device: Chromebook, Chadwick
Operating System: Chrome 47.0.2526.80 (64-bit)

![image](https://cloud.githubusercontent.com/assets/679486/11958665/4c2e44a8-a886-11e5-94e2-a177733fb92c.png)

@jonathanolson can you take a look?

[2015-12-22 17:55] jonathanolson opened #503 "WebGL doesn't clear rendered content sometimes"
Specifically, when it has 1+ visible drawables, but none of the drawables actually cause anything to be drawn, the WebGL (non-preserve-drawing-buffer mode) Canvas doesn't clear old content.

[2015-12-22 18:36] jessegreenberg commented on #501
@terracoda, that is possible, but I do not believe that the label is required to make the html valid.  Another possibility is that the fieldset element needs to be contained inside of a form.  But that is also not required for valid HTML.

[2015-12-22 18:39] jessegreenberg commented on #501
Here is the radio button group rendered in Safari:
[code]

I notice that the inputs are closing.  This is **not** valid HTML.  Perhaps this could be the cause of safari +VoiceOver not reading these elements correctly.  Other browsers may be more lenient.

[2015-12-22 18:52] jessegreenberg commented on #501
The radio group input elements do not have closing tags in Firefox and Chrome.  Note that they shouldn't.  As a separate issue, the other control panel input buttons should not have descriptions as children, and they should not have closing tags.  Will create issue in phetsims/balloons-and-static-electricity/issues/.

The radio button input elements are generated with:
[code]
I see no reason yet w

[2015-12-22 18:56] jonathanolson commented on #501
Sounds like it's probably just how Safari/Chrome/etc. display the DOM tree? Safari could be displaying it in more of an XHTML style.

[2015-12-22 20:32] jessegreenberg commented on #501
Ah, that is a great point @jonathanolson.  Likely some other issue that is hiding the input elements from VoiceOver.

[2015-12-23 18:28] jessegreenberg commented on #501
The issue could be that we are not using VoiceOver correctly.  You have to know very specific hotkeys to read through documents, forms, and other content.  I am going through a VoiceOver tutorial now and I am still having difficulty reading through all of the elements in the tutorial's example page.

[2015-12-23 18:58] jessegreenberg commented on #501
Now that I know how to use VoiceOver a little better, I can find the various headings, and sections for balloons-and-static-electricity, but it is a struggle.  'Tab' can be used, but it wasn't mentioned at all in the VoiceOver tutorial and doesn't work very well.  I am still unable to find balloons and other form elements.  Users of VoiceOver will have a much better understanding of how to navigat

[2015-12-23 21:22] jessegreenberg opened #504 "branch: accessible-instance"
A new branch called 'accessible-instance' has been created to experiment with accessibility.  It seems beneficial to move the parallel DOM out of the sim div and directly into the html body.  We can then hide everything inside of the sim div so that screen readers cannot find extraneous information in the visual elements.

This branch will let us test this solution and its implications.

[2015-12-23 23:20] jessegreenberg commented on #504
Ran through test-server, no issues related to the change.

[2015-12-23 23:27] jessegreenberg commented on #504
Here is the new HTML structure for a PhET simulation:

[code]

I can't think of any reason why this would be an issue, but since it changes the sim html structureit would be nice to get feedback from another developer.  @jonathanolson does this change seem acceptable?

[2015-12-23 23:30] jessegreenberg opened #505 "Move the Parallel DOM under the body"
In #504, we are testing moving the parallel DOM out of the sim div and directly into the body.  This allows us to hide extraneous contents in the sim div from screen readers, and present the parallel DOM more directly in the body.

Here would be HTML structure for a PhET simulation:

[code]

I can't think of any reason why this would be an issue, but since it changes the sim html structure it woul

[2015-12-23 23:35] jessegreenberg commented on #505
Related to https://github.com/phetsims/joist/issues/310

[2015-12-24 04:58] jonathanolson commented on #505
That seems difficult to handle with multiple Displays (since sims are just one way of using Scenery).

What about having two different dom children of the Display's dom element, one for visual content (so we can hide it from screen readers) and one for accessible content (so it can be made available), e.g.:
[code]

Then we can also apply the hiding to the heartbeat (a Joist thing) and the Scenery

[2015-12-28 18:44] samreid opened #506 "Rename isChild to hasChild"
From https://github.com/phetsims/axon/issues/82 we should rename `isChild` to `hasChild`.  I'll assign to myself to see if this is easy.

[2015-12-28 18:44] jessegreenberg commented on #505
@jonathanolson, thanks for the comments and recommendation!  Great point about multiple displays, it would be important for the accessibility tree to move with its containing display div.

I think your suggestion would work nicely for accessibility.  The accessibility tree is already under the display element.  We just need to move the canvas and svg elements under a new div so that visual stuff c

[2015-12-28 18:49] jessegreenberg commented on #504
See issue #505.  @jonathanolson pointed out issues with taking the parallel DOM out of the display element.  A new structure was proposed:

[code]

[2015-12-28 18:49] samreid commented on #506
Changes in 14 files across 9 repos.  I tested Area Builder and Bending Light and all seems well.  I'll commit shortly.

[2015-12-28 18:52] samreid commented on #506
Changes committed above, reassigning to @jonathanolson in case he wants to review or look for other cases that should have a similar renaming.

[2015-12-28 21:58] pixelzoom opened #507 "dashed lines wider than solid lines?"
It appears that dashed lines may be slightly wider than solid lines.

This issue was noted in the context of Function Builder, where I'm trying to place function pieces into one of 3 slots.  Renderer is SVG.  Screenshots below are on Mac OS X 10.11.2 + Chrome. Identical behavior observed on Mac + Safari + FF.

To illustrate... The Function Builder slots are indicated by dashed lines, and look like